[2019-06-18 13:15] snakelizzard commented on #1929
I just do not like idea of loading several GB of data into memory.

[2019-06-18 18:12] gmanlan commented on #1872
Ok, we finally got a Windows python build. Now we have some runtime issues, but here is the summary so far:
- For the build to work I had to:
  - Rename the OpenBLAS .dll.a to .lib, as it was obtained via Nuget Package Manager (it would be a good idea to support either .dll.a or .lib as we don't know which one users will have when building from scratch)

- For "import mlpack" to work in python I h

[2019-06-19 01:21] rcurtin commented on #1929
Do you mean that a single sequence is several GB of memory?  Unfortunately I don't really know any tricks for that.  The only trick I can think of is really ugly: write a class with the same API as `arma::cube`, but make the rght amount of streaming data available at each `slice()` call.  That will, I guess, depend on how many BPTT time steps are being taken.  Anyway, I am not sure if what I wrote

[2019-06-19 02:14] snakelizzard commented on #1929
Thanks. I am thinking in same direction. Other option can be de-duplicating part of look-alike fragments form whole sequence.

[2019-06-19 02:40] rcurtin commented on #1872
@gmanlan I pushed some configuration changes to the WIP branch.  If you want to test feel free, but in order to debug the runtime issues, I think I'm going to need to set up a Windows VM...

[2019-06-19 17:59] gmanlan commented on #1872
I tested the changes but something went wrong with the libs argument:

`link.exe /nologo /INCREMENTAL:NO /LTCG /DLL /MANIFEST:EMBED,ID=2 /MANIFESTUAC:NO /LIBPATH:C:\miniconda3\libs /LIBPATH:C:\miniconda3\PCbuild\amd64 "/LIBPATH:C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.16.27023\ATLMFC\lib\x64" "/LIBPATH:C:\Program Files (x86)\Microsoft Visual Studio\2017\Pro

[2019-06-20 03:08] #1923 closed

[2019-06-21 01:05] rcurtin commented on #1910
Since #1916 is merged, the issue is fixed.  The `maximum_depth` parameter will be available starting with the next release of mlpack, but if you want "early access" you can always build from the git master branch and it'll be available. :+1: I'll close the issue, but if you have any problems in the future please don't hesitate to open other issues.

[2019-06-21 01:05] #1910 closed

[2019-06-21 09:35] saksham189 opened #1936 "GradientAtrousConvolutionLayerTest fails more than 20% of the time"
#### Issue description

GradientAtrousConvolutionLayerTest fails more than 20% of the time. The builds are unstable.

#### Your environment

 * version of mlpack:development
 * compiler: clang
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

Add `mlpack::math::RandomSeed(std::time(NULL));` at the top of the test.
an

[2019-06-21 09:50] saksham189 commented on #1936
This is due to  https://github.com/mlpack/mlpack/pull/1930 merged.
Also the tolerance for the https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/ann_layer_test.cpp#L1901
test is `0.2` which is quite high.

[2019-06-21 10:26] hlhis opened #1937 "undefined reference to `_gfortran_stop_string'"
/usr/lib64/libarmadillo.so: undefined reference to `dzasum_'
/usr/lib64/libarmadillo.so: undefined reference to `dtbsv_'
/usr/lib64/libarmadillo.so: undefined reference to `strsm_'
/usr/lib64/libarmadillo.so: undefined reference to `ztrsm_'
/usr/lib64/libarmadillo.so: undefined reference to `cgerc_'
/usr/lib64/libarmadillo.so: undefined reference to `ssyr2_'
/usr/lib64/libarmadillo.so: undefined r

[2019-06-22 06:18] rcurtin commented on #1937
Hi @hlhis, this looks like Armadillo is linked against some libraries that aren't present on the system.  Can you say a little bit about how you installed Armadillo on the system?

[2019-06-24 06:00] hlhis commented on #1937
@rcurtin thank you, i have solved the problem, i built static library of lapack   at first, and got the above problem, after switched to dynamic library, the problem was solved

[2019-06-24 07:41] MounaKaroui opened #1938 "Problem while trying MLPACK as a library in CMAKE project"
Hello,
I added ML pack as a library in a Cmake project, when I  tried to use MLpack in my C++ project, I obtained the error below:
![mlpackTest](https://user-images.githubusercontent.com/11929939/60000273-2a2d0400-9664-11e9-8387-e60c74af3494.png)
I didn't understand what is the source of this problem

Regards,

[2019-06-25 06:58] rcurtin commented on #1937
@hlhis great to hear you got it figured out. :+1: I'll go ahead and close this issue then.

[2019-06-25 06:58] #1937 closed

[2019-06-25 09:03] spacelg opened #1940 "MLPACK failed to run ANNLayerTest test on release and debug configuration with MSVC on windows"
MLPACK failed to run ANNLayerTest test on release and debug configuration with MSVC on windows. I use latest version 897b0cd . Could you please help look at this? Thanks a lot!

You can repro this issue as the steps below:
1. git clone https://github.com/mlpack/mlpack D:\MLPACK\src
2. it dependent armadillo and OpenBlas, put them to D:\MLPACK\external\
3. open a VS 2017 amd64 command prompt as adm

[2019-06-25 20:04] gmanlan opened #1942 "MSI Installer sample-ml-app is missing data/german.csv test file"
#### Issue description

The MSI installer bundles the sample-ml-app, but it refers to a sample dataset (german.csv) which is missing in the C:\Program Files\mlpack\examples\sample-ml-app\sample-ml-app\data directory.

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: Windows
 * compiler: VS2017

#### Steps to reproduce

Download the MSI, install, check the dataset directory

[2019-06-25 20:21] gmanlan commented on #1942
CSV is being copied using a post-build event.

[2019-06-25 21:15] gmanlan commented on #1942
The post-build event to copy the CSV is included in the sample project, but:
1) the dataset CSV is not included with the mlpack files at C:\Program Files\mlpack\mlpack\tests
2) the post-build event refers to the source code path and not the installer path

[2019-06-26 09:45] zoq commented on #1940
Thanks for the report, there is an open issue for the GradientAtrousConvolutionLayer: https://github.com/mlpack/mlpack/issues/1936, which should be the same issue you see on your system.

[2019-06-26 09:52] zoq commented on #1938
Do you link against armadillo as well? Perhaps you can post a simplified project to reproduce the issue? Here is a more or less simple CMake file that links against mlpack/armadillo.

[2019-06-26 22:30] rcurtin commented on #1938
This looks like a rather strange issue, and my initial feeling is that this may be caused by some incorrect code just before `#include <mlpack/core.hpp>`.  In any case, a reproducible example code snippet (i.e. we can try compiling it ourselves and see the failure) and more information on your system, like the compiler version and the command you are using to compile, could be really helpful. :+1:

[2019-06-26 22:50] rcurtin commented on #1872
Sigh, CMake always one-ups my clever plans.  I was quite surprised to see in your output that the variable that I thought would just have the path of a library actually had *four* items, indicating the debug and optimized versions of the Boost libraries.  I tried pushing a fix just now (632c9cdc) that I hope will fix this, but I'm not 100% sure what it will do on Windows.  I *think* that the varia

[2019-06-27 21:43] gmanlan commented on #1872
Thanks @rcurtin. That I believe fixed the list string issue, although it's still unable to find the right Boost library (just a naming issue). It's trying to link against *libboost_serialization-vc141-mt-1_65_1.lib* but the linker libs path includes references to *boost_serialization-vc141-mt-1_65_1.lib*:

What the Linker receives: `C:/mlpack/mlpack-python-windows-fix/build/Release/mlpack.lib C:/b

[2019-06-27 23:03] jwdinius opened #1944 "mlpack_test fails in execution of CFTest/RecommendationAccuracyBiasSVDTest"
#### Issue description

Unit testing fails when executing `mlpack_test` executable.

#### Your environment

 * version of mlpack: master @ 897b0cddf6ba23733f701b4679fac08f9f90ebb2 hash
 * operating system: Ubuntu 18.04
 * compiler: gcc 7.4.0
 * version of dependencies (Boost/Armadillo): Boost: 1.65.1, Armadillo: 9.599, Ensmallen: 9d2a5f07c63e292d116c5b182a7682615798f04e
 * any other environment in

[2019-06-28 21:12] louisway commented on #1825
Hi, I got the same error. Could you please provide which part was wrong?

[2019-06-28 21:17] zoq commented on #1825
@louisway can you post the commands you used to build mlpack, the ``CMakeCache.txt`` file might be interesting as well.

[2019-06-28 21:33] zoq commented on #1944
mlpack has many tests that are probabilistic. Meaning that they can randomly fail, even when something isn't actually wrong with the code. However, in each case, we should make sure if the method is correct or if the test configuration isn't working for the random seed. So what I normally do is to add ``math::RandomSeed(std::time(NULL));`` to the test:

[code]

and then, run that the test in a loo

[2019-06-28 23:44] louisway commented on #1825
Hi zoq, I think I was using a normal command:
 cmake -D DEBUG=ON -D PROFILE=ON -D USE_OPENMP=ON  -DCMAKE_PREFIX_PATH=~/mlpack  ../

FindBoost showed that it could find the boost:
    Found Boost 1.70.0 at /home/louis/boost/lib/cmake/Boost-1.70.0
     --   Requested configuration: QUIET REQUIRED COMPONENTS
    program_options;unit_test_framework;serialization
    -- Found boost_headers 1.70.0 at /h

[2019-06-29 01:23] louisway commented on #1825
Hi all, I think I have solved it. Just a hint for others how I solved it: According to https://stackoverflow.com/questions/56036266/boost-libraries-not-defined, the information showed above means FINDBOOST can't locate where the boost is. So the problem becomes easy. just guide your CMakeLists.txt to find the path of boost. What I do is to put list(APPEND CMAKE_PREFIX_PATH "/path/of/boost/") in CM

[2019-06-29 19:59] jwdinius commented on #1944
Done: see raw output below.  Summary statistics: *5 / 50 failed*

Is it a good idea to have a unit test that can randomly fail?  With random processes, isn't it best practice to fix a seed for repeatability?

See raw output:
[code]

[2019-06-30 03:33] otto-dev commented on #1928
I got this error when installing from the Arch Linux AUR package repository, but manually applying the solution in @janbraun 's post fixed it.

[2019-06-30 16:40] rcurtin commented on #1872
The `FindBoost.cmake` script that CMake comes with is really complicated.  I found, deep in the bowels of the file, a place where `lib` might be prepended to the library name.  Great...  so in 0573ef77 I pushed a commit that strips the `lib` if necessary.  Which probably should fix the issue you're seeing, in a platform-independent way.  Let me know if it works...

[2019-06-30 16:47] rcurtin commented on #1795
Hey @janek, it took a while to get everything set up.  But now, we have the mlpack/mlpack-wheels repository, which we can use with Travis to build pip packages for mlpack for both OS X and manylinux.  Take a look, now mlpack 3.1.1 is uploaded and available: https://pypi.org/project/mlpack3/

It's very easy to trigger these builds and make it part of the release pipeline, so you can expect these to

[2019-06-30 16:47] #1795 closed

[2019-07-01 08:35] zoq commented on #1944
Thanks for the data, it looks like the test fail rate is 5/50; I see if I can find a seed to reproduce the issue.

Testing on a random dataset instead of a specific, hand-chosen dataset has revealed very many bugs to us in the past, so I think there is definitely a benefit in probabilistic tests, however I agree, it's not perfect.

[2019-07-01 08:41] rcurtin commented on #1944
Hmm, I wonder if we should set a fixed seed for releases but not for the master branch.  I suppose this could reduce false positive failures reported by users but still allow us the robustness to see how well things work.  Just an idea...

[2019-07-01 10:05] zoq commented on #1944
That might be an option.

[2019-07-01 11:04] janek commented on #1795
Looks good! Thanks a lot @rcurtin!

[2019-07-01 17:05] gmanlan commented on #1872
Hey, just tried again but I get the exact same error as before - CMake can be painful sometimes. It's still looking for libboost*.lib

[2019-07-05 20:53] #1906 closed

[2019-07-06 15:50] rcurtin commented on #1942
Thanks for the report---I'm hoping #1948 will fix this.  I'll be able to test it once AppVeyor generates the MSI.

[2019-07-06 15:56] rcurtin commented on #1936
See also #1661 and #1777---I think this has been going on for quite a while now.  Ideally I think we should fix it soon or comment out the tests and remove the layer, if we can't get it to work.  @ShikharJ you were working on this; have you had a chance to dig in any further?  What do you think the right way to go here is?

[2019-07-06 16:45] rcurtin commented on #1928
Could we also just drop the `default(none)`?  That seems to work on my system but I am not sure it works in all cases.

[2019-07-06 17:01] rcurtin commented on #1944
Actually I thought about it a bit more, and unfortunately even the same seed on different systems (or even different compilers) is likely to produce different sequences of random numbers, so the idea I suggested won't work in general.  I think we are stuck with our current best option, which is just to do our best to keep the test failure probability as low as we can.

[2019-07-06 17:02] rcurtin commented on #1944
Actually I thought about it a bit more, and unfortunately even the same seed on different systems (or even different compilers) is likely to produce different sequences of random numbers, so the idea I suggested won't work in general.  I think we are stuck with our current best option, which is just to do our best to keep the test failure probability as low as we can.

[2019-07-06 17:08] rcurtin commented on #1919
@mh99875 That link issue looks like the stdlib needs to be specified; try adding `--stdlib=libc++` to `CMAKE_CXX_FLAGS`.  However, I'm not sure what fixes might be needed in order to have had CMake do that automatically for your system.

[2019-07-06 17:09] zoq commented on #1944
Good point, but maybe it makes it easier to fix a potential issue since it's easier to reproduce the issue not in general but on the same system/config.

Right, I thought the idea is to only use a fixed seed if ``-DDEBUG=OFF``.

[2019-07-06 17:17] rcurtin commented on #1767
I'm not able to run the command successfully; I suspect the datasets that are being used differ slightly.  I am using `optdigits.csv` from `http://www.mlpack.org/datasets/optdigits.tar.gz` and this produces the error in multiple different versions of mlpack that I checked.

[2019-07-06 17:19] rcurtin commented on #1944
Ah, yeah, true, that is an easy enough change.  I'll look into it shortly.

[2019-07-06 20:26] rcurtin commented on #1152
I can't believe it, all of the tests are finally added.  Thank you everyone for your hard work and contributions. :+1:  I'll go ahead and close the issue now. :)

[2019-07-06 20:27] #1152 closed

[2019-07-08 22:42] gmanlan commented on #1942
Thanks @rcurtin. I'm not 100% sure, but I believe the build failed because the cp path is missing the directory 'examples' between staging and sample-ml-app:
C:\projects\mlpack\dist\win-installer\staging\   **examples\**   sample-ml-app\sample-ml-app\data\

[2019-07-15 16:28] gmanlan commented on #1892
Original issue has been addressed. Website work will continue on a different thread.

[2019-07-15 16:28] #1892 closed

[2019-07-17 13:54] rcurtin commented on #1942
I verified with #1948 that the data does get copied, and I built the sample ML app in Visual Studio and ran it successfully, so the data does install to the right place.  So I'll go ahead and close this, but feel free to reopen if I missed something. :)

[2019-07-17 13:54] #1942 closed

[2019-07-17 16:10] gmanlan commented on #919
Hi, the mlpack-windows NuGet package is quite old (mlpack v2.2, 2017). Also, the package is pulling old versions of the dependencies (Boost 1.60, armadillo 7.800...). It would be nice if we can update it and in the process add the automatic scripts to build and publish from AppVeyor. The beauty about NuGet is that you can publish several versions and users can select the one they want to add into

[2019-07-19 02:00] rcurtin commented on #1872
Ok, I spent some time getting my VM set up and building mlpack and I had success with that.  Tonight I think I resolved the build issues---what I determined was that actually Visual Studio is doing autolinking for the Boost libraries!  I think I knew that once but I had completely forgotten about it.  So all of the work I was doing trying to process the names of libraries was for no reason.  But I

[2019-07-19 02:29] impredicative commented on #1697
OK

[2019-07-19 02:39] rcurtin commented on #1697
Hey @impredicative, I'm really sorry!  I forgot to respond to this one, instead responding to the related #1795.

I spent quite a while a few months back setting up the mlpack/mlpack-wheels repository in order to automatically build for PyPI each time we release.  So, as of about three weeks ago, 3.1.1 packages are now available on PyPI for Linux and OS X, and when we make future releases, this wi

[2019-07-19 02:39] #1697 closed

[2019-07-19 02:40] rcurtin commented on #1697
mlpack-bot to the rescue, by the way... I'd have completely forgotten about this for who knows how many more months unless it had been marked stale. :)

[2019-07-19 16:24] gmanlan commented on #1872
Great! Thanks for the update @rcurtin. I think it would depend on how you include Boost into the project, as there are different ways of doing so with VS. Looking forward to the next version!

[2019-07-21 20:23] robertohueso opened #1954 "Reclaim not used absolute error in KDE"
This issue came out of the review of #1934.

The current KDE implementation provides the possibility to set an absolute/relative error tolerance. This accelerates computations by pruning nodes whose computation would not be very relevant for the estimation (you can find a more detailed explanation [here](https://arxiv.org/pdf/1304.4327.pdf) in section 8).

[This paper](https://arxiv.org/pdf/1206.6

[2019-07-23 14:45] sevagh opened #1955 "Can't install mlpack on Fedora 30 due to Boost version mismatch (1.69.0 vs 1.66.0"
### Issue description

When trying to install mlpack, mlpack-devel, mlpack-bin on Fedora 30, I get:

[code]

The version of Boost in Fedora 30 is 1.69:

[code]

#### Your environment

 * version of mlpack: 2.2.5-8.fc30
 * operating system: Fedora 30
 * compiler: gcc
 * version of dependencies (Boost/Armadillo): Boost = 1.69.0
 * any other environment information you think is relevant:

[2019-07-23 15:11] rcurtin commented on #1955
Thanks for the report---weird that the boost maintainers did not rebuild the mlpack package for the boost upgrade (they usually do). In any case I am actively working on upgrading the mlpack Fedora package to mlpack 3, but that requires ensmallen to be present in the Fedora repositories as it is a new dependency. But ensmallen just went into the stable repos a day or two ago so now I can finish th

[2019-07-23 15:14] sevagh commented on #1955
Thanks! Meanwhile I can unblock myself by building from source (but also running into https://github.com/mlpack/mlpack/issues/1928 :cry: )

[2019-07-26 03:25] #1555 closed

[2019-07-26 03:25] #1696 closed

[2019-07-26 03:25] #1703 closed

[2019-07-26 03:25] #1712 closed

[2019-07-26 03:25] #1719 closed

[2019-07-26 03:25] #1602 closed

[2019-07-26 03:26] #1723 closed

[2019-07-26 03:26] #1725 closed

[2019-07-26 03:26] #1699 closed

[2019-07-26 03:26] #1799 closed

[2019-07-26 03:26] #1866 closed

[2019-07-26 03:26] #1760 closed

[2019-07-26 03:26] #1929 closed

[2019-07-26 13:59] robertohueso opened #1957 "Add assignment operators for all trees"
As a [rule of thumb](https://en.wikipedia.org/wiki/Rule_of_three_(C%2B%2B_programming)#Rule_of_Five) it would be nice to have assignment operators for all trees in mlpack.

At the moment @rcurtin has implemented copy-assignment and move-assignment operators for `RectangleTree` in #1934 (Thanks! :smile: ) so that could work as an example for the rest of the trees.

[2019-07-30 20:14] AjitDingankar commented on #1760
I get the same symptom as @karlzhang-hhg i.e.
`AttributeError: module 'mlpack' has no attribute 'preprocess_split'`
I installed mlpack 3.1.1 on Windows 10 with vcpkg and bindings in Python 3.7.3 with
`python -m pip install mlpack`
I can only see linear_regression and logistic_regression when I `import mlpack` and look at `dir(mlpack)`

[2019-07-30 20:22] rcurtin commented on #1760
@AjitDingankar unfortunately the `mlpack` pip package does not refer to this library, so those `linear_regression` and `logistic_regression` functions you are referring to are not from here.  We have had an issue open with PyPI for many months now to request the `mlpack` name (since the existing `mlpack` package is untouched for many years), but this issue has not been responded to.

Instead, you

[2019-07-30 21:01] AjitDingankar commented on #1760
Thanks a lot, Ryan for a quick reply! I'll try to move to Linux while waiting for the mlpack3 package to be available for Windows.

It may be a good idea to clean up the documentation at http://mlpack.org/doc/stable/doxygen/python_quickstart.html
but I know from another bug report that you're also working on streamlining the docs, so it may not make sense to add another band-aid! :-)

Thanks,
Ajit

[2019-08-01 07:47] marcespie opened #1963 "DESTDIR improperly passed to python install, fix included!"
#### Issue description

python binding installation broken.

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: OpenBSD
 * compiler: clang
 * version of dependencies (Boost/Armadillo): not relevant
 * any other environment information you think is relevant:

#### Steps to reproduce

Try to install the bindings with DESTDIR not empty.

creating "/build/pobj/mlpack-3.1.1-python3

[2019-08-01 12:58] rcurtin commented on #1963
You are the best!  I was just debugging this actually when working on the Fedora package and now you have made my life easy.  I opened #1964.  Thanks!

[2019-08-01 15:27] marcespie commented on #1963
No problem. As usual it took longer to find the culprit file than to fix the issue.

Hahaha.

[2019-08-01 15:27] #1963 closed

[2019-08-02 00:30] rcurtin opened #1965 "Resurrect and finish stale PRs"
Since mlpack-bot is ruthless about closing stale issues and PRs (although that is my fault :)), I wanted to make a place where we can list PRs that have been closed for inactivity, but could still have useful functionality that could be merged, if someone was willing to either (a) handle the unresolved comments on the PR or (b) give a comprehensive review to the PR (and then we can reopen it, if t

[2019-08-02 01:57] rcurtin commented on #1957
The trees that need to be looked at would be `BinarySpaceTree` in `src/mlpack/core/tree/binary_space_tree/`, `CoverTree` in `src/mlpack/core/tree/cover_tree/`, `SpillTree` in `src/mlpack/core/tree/spill_tree/`, `CosineTree` in `src/mlpack/core/tree/cosine_tree/`, and `Octree` in `src/mlpack/core/tree/octree/`.

Some of those may already have assignment operators, but in the cases where they don't,

[2019-08-02 11:25] #1940 closed

[2019-08-02 19:00] AjitDingankar opened #1966 "Can't build 3.1.1 binaries on CentOS7 due to boost version mismatch"
#### Issue description
Trying build 3.1.1 from sources fails with a ton of messages re boost such as:
![image](https://user-images.githubusercontent.com/2213240/62391345-608a5880-b519-11e9-9908-86da5eac4867.png)

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: CentOS 7.6.1810
 * compiler: gcc 4.8.5
 * version of dependencies (Boost/Armadillo): Boost 1.70.0 Armadillo 8.300.0

[2019-08-02 22:58] AjitDingankar commented on #1966
Fixed by removing the latest (1.70.0) version of boost and using 1.53.0 from the repo.
`sudo yum install boost-devel`

[2019-08-02 22:58] #1966 closed

[2019-08-02 23:32] AjitDingankar opened #1967 "Can't run mlpack executables on CentOS 7"
#### Issue description
Get error "undefined symbol" when I try to run any mlpack executable

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: CentOS 7.6
 * compiler: gcc 4.8.5
 * version of dependencies (Boost/Armadillo): Boost 1.53.0 Armadillo 8.300.0
 * any other environment information you think is relevant:
`export LD_LIBRARY_PATH=/usr/local/lib/`

#### Steps to reproduc

[2019-08-03 00:08] AjitDingankar commented on #1967
Tried the work-around/debug step suggested in:
https://github.com/mlpack/mlpack/issues/1760#issuecomment-469839621
by pointing LD_LIBRARY_PATH to the lib subdirectory under the build directory.
Now the executable works!

How do I debug why `sudo make install` **did __not__** put the `libmlpack*` files under `/usr/local/lib` since I closed terminal where I built it?

[2019-08-03 00:25] #1938 closed

[2019-08-03 01:45] rcurtin commented on #1955
Ok, here's the update for mlpack 3.1.0:

https://bodhi.fedoraproject.org/updates/FEDORA-2019-8ca6d0ca5c

But, stupidly, I realized that I had built these RPMs for an older version (now 3.1.1 is out but it's *basically* the same).

I think (but am not 100% sure) that you can get the package just by doing

[code]

though maybe you want some of the other related packages like `mlpack-bin`, `mlpack-de

[2019-08-03 01:47] rcurtin commented on #1966
Glad you got it worked out.  Note that I just pushed some updated mlpack 3 packages to the Fedora (and EPEL7) testing repositories; more details in #1955.  The relevant EPEL7 package update page is here:

https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2019-ab9a7a4c40

And, as with the F30 package, I'm in the process of building 3.1.1 for it, and will probably push that by tomorrow. :+1:

[2019-08-03 01:49] rcurtin commented on #1967
Wow, very odd that `sudo make install` did not put it in `/usr/local/lib`.  Is it possible that it put it in `/usr/local/lib64` by any chance?  I've not used to RHEL conventions (I am a Debian user primarily) but I know that some things end up in `lib64` and some in `lib`.

Otherwise, we can figure out a bit more if you can run `sudo make install` again and share the output.  I've never observed C

[2019-08-03 01:50] rcurtin commented on #1936
#1953 is an attempt to help with this but it doesn't seem to be a complete fix.  Still, I thought it was useful to reference it here.

[2019-08-03 01:52] rcurtin commented on #1928
Just a ping on this one; has anyone affected by the issue tried dropping the `default(none)`?  If that works that seems like the easiest patch to merge.  But if nobody has a chance to check then I can just open a PR with @janbraun's fix.

[2019-08-03 02:10] AjitDingankar commented on #1967
Thanks for the prompt response on Friday evening, Ryan! 😉 
Will try to find the so in some unusual suspects, but if that doesn't work, should I just install it again or remove the build and start from scratch? 
Thanks,Ajit==== 
Sent from Yahoo Mail on Android

  On Fri, Aug 2, 2019 at 6:50 PM, Ryan Curtin<notifications@github.com> wrote:
Wow, very odd that sudo make install did not put it in /usr/

[2019-08-03 02:12] rcurtin commented on #1967
Installing again is just fine---it'll just install all the files to the same place, so nothing on the system except the modification times of the mlpack files should change. :)

[2019-08-04 11:17] sevagh commented on #1955
Great:
[code]

[2019-08-04 11:18] sevagh commented on #1955
We could leave this open until it's released into the regular repo and I re-verify then?

[2019-08-05 21:04] gauravk97 commented on #1957
Hi, I would like to work on this. Can I take this up?

[2019-08-05 22:44] rcurtin commented on #1957
Sure, but I would suggest working on only one thing at a time.  If you do this one, feel free to open a PR when it is done. :+1:

[2019-08-06 14:27] rcurtin commented on #1955
:+1: that seems reasonable to me.  I'll post a comment when it pushes to the stable repository.

[2019-08-06 14:59] rcurtin commented on #1872
I have an update---I've been working on this in the background for a couple weeks now.  Progress is a little slow because it seems Visual Studio builds singlethreadedly which is pretty slow.

I've gotten the Python bindings to build successfully and import, so `import mlpack` does successfully work.  This required some amount of wrangling having to do with static and dynamic linking that I still h

[2019-08-07 03:02] rcurtin commented on #1863
Sorry for the slow response---I know that `[FATAL] Cannot open file 'nonexistentfile.arff'.` is actually not a problem: the tests check that that file doesn't exist.

But the RBM tests are a bit more problematic.  However, I haven't seen this problem.  On my Windows VM (which ended up being Windows 7 just because that happened to get set up ok...) I have the following versions of packages:

 - Arm

[2019-08-09 23:16] nttruong7 commented on #1767
I locate the crash to the candidatesPoints.top() in FastMKSRules<KernelType, TreeType>::CalculateBound(TreeType& queryNode) in fastmks_rules_imp.hpp to be empty.  So candidates vector in FastMKSRules object contains empty CandidateList. Any comment on why?

[2019-08-10 01:01] rcurtin commented on #1767
I think you are right, and I can figure out why if I can reproduce the issue, but I can't reproduce it.  Can you share the dataset you are using that causes the issue?  (and also which version of mlpack you are using; you can get it with `mlpack_fastmks --version`)

[2019-08-10 01:07] rcurtin commented on #1928
I think now that #1970 is merged, this should be fixed.  Feel free to comment if the current master branch doesn't fix the issue, and we can reopen it. :)

[2019-08-10 01:07] #1928 closed

[2019-08-10 08:27] nttruong7 commented on #1767
I run the 3.1.1 mlpack
The dataset you given above http://www.mlpack.org/datasets/optdigits.tar.gz
The command I run is
mlpack_fastmks -r optdigits.csv -v -k 0  -K gaussian
I think k 0 parameter seems not right , why would user want 0 kernel? should it be return error immediately?
command mlpack_fastmks -r optdigits.csv -v -k 10 -K hyptan also crash , but at different point

[2019-08-11 06:22] gauravk97 opened #1974 "mlpack build error because of ensmallen"
Hi,

I was trying to build mlpack from source in linux (Ubuntu 19.04) using this guide : https://mlpack.org/doc/mlpack-3.1.1/doxygen/build.html

When I ran "cmake", the source for library ensmallen-1.16.0 was also downloaded in the local directory. During the execution of command, "make -j4", the following error pops up :

                 from /home/gk/mlpack/src/mlpack/methods/matrix_completion/

[2019-08-11 14:56] rcurtin commented on #1974
Hey @gauravk97, thanks for the report.  This actually got reported in the ensmallen repository as ensmallen#123 and was fixed just now in ensmallen#124.  I just released ensmallen 1.16.1 with that fix, so if you remove the downloaded ensmallen and reconfigure CMake, it should get the new version and there should be no problem. :+1:

[2019-08-11 15:03] rcurtin commented on #1863
I opened #1971 to handle the Visual Studio version issues, so now AppVeyor will build mlpack on VS2015, VS2017, and VS2019.

[2019-08-12 18:25] #1919 closed

[2019-08-12 22:43] sevagh commented on #1955
This is working for me now:

[code]

[2019-08-12 22:43] #1955 closed

[2019-08-14 04:16] rcurtin commented on #1955
Awesome, great to hear it's working.  I'll make sure that package is kept up to date in the future. :+1:

[2019-08-15 16:09] rcurtin commented on #1974
With 1.16.2 released this is definitely fixed, so I'll go ahead and close this issue now.  Please feel free to reopen if issues persist! :+1:

[2019-08-15 16:09] #1974 closed

[2019-08-15 16:11] rcurtin commented on #1872
Another update---

I've been continuing to dig into what's going on here and it seems like the crash in Python has to do with the way memory is being passed back and forth between C++ and Python.  My theory (which I have no validation for and am not sure how to validate) is that on Linux and OS X, the memory allocators used in C++ and Python are the same, meaning I can allocate memory in Python an

[2019-08-15 17:24] gmanlan commented on #1872
Hey, thanks for the update. That sounds like a big one, I'm wondering how this was working before on Windows. Looking forward to the next iteration!

[2019-08-17 18:43] geekRishabhjain opened #1982 "No libBFD and/or libDL has been found!"
#### https://www.mlpack.org/doc/stable/doxygen/build.html#build_dep
I tried following the instructions to build mlpack from the link given above and from the README.md.
It works fine till I run
```cmake -D DEBUG=ON -D PROFILE=ON ../```
I have installed
Armadillo
Boost
CMake
cython, numpy, pandas
But running above command does not work fine.

This is the error it shows:

-- cotire 1.7.10 loaded.
--

[2019-08-17 19:01] zoq commented on #1982
LIBBFD is an optional dependency for debugging that is only available on some systems, so unless you like to use the bfd functionality you can ignore the warning. Let me know if I should clarify anything further.

[2019-08-17 19:17] geekRishabhjain commented on #1982
@zoq  How can I install this dependency? Not able to find any relevant link for it on google?

[2019-08-17 19:20] zoq commented on #1982
I think on Debian the package you are searching for is ``libbfd-dev`` but as I said, you can ignore the warning in most cases. Do you build on Debian?

[2019-08-17 19:21] geekRishabhjain commented on #1982
@zoq  I use ubuntu. Yes, for now, I have moved to the next step. But in case I need it in the future. Thanks, btw.

[2019-08-17 19:21] #1982 closed

[2019-08-18 19:55] geekRishabhjain commented on #1957
Is someone else working on it? Can I?

[2019-08-18 20:01] robertohueso commented on #1957
Hi @geekRishabhjain :) Sure, you can work on it, but it would be great if you could talk to @gauravk97 to avoid working on the same type of tree :+1:

[2019-08-19 12:14] geekRishabhjain commented on #1957
@robertohueso @gauravk97  does not seem to be working on it. His account looks passive. Should I?

[2019-08-20 16:48] robertohueso commented on #1957
@geekRishabhjain I think you're right, so yeah :)

It would be nice if you could say which type of tree will you be working on (in case you want to work on one at a time) so that, in case other people join the issue, your work doesn't overlap with theirs. :smile:

[2019-08-21 12:09] rcurtin commented on #1954
A PR is open as #1984.

[2019-08-22 13:52] rcurtin commented on #1767
@nttruong7 thanks for the info.  I opened #1986 with a fix for the issue. :+1:

It's worth pointing out that I think we could make the command work on the optdigits dataset if the scale parameter (`--scale`) is chosen to be sufficiently small (maybe 0.001 or much smaller?  I am not sure).  Even so, it did highlight an issue that warrants fixing.

[2019-08-23 03:12] rcurtin commented on #1872
Ok, pretty happy to provide this update.  I seem to have the Python bindings successfully working from Windows, when I don't allow any passing of memory pointers back and forth from Python to C++.  This means there are more copies than we might hope for, but "a bit slow" is better than "doesn't work".

Next I need to do some serious cleanups and fix some tests that don't work the way I hoped on Wi

[2019-08-23 19:08] jeffin143 commented on #1872
Can't we do something like, let behave binding as it is in Linux and os x , but it should behave differently when it is windows , since i would not like it to become slow :)

[2019-08-23 19:12] rcurtin commented on #1872
Agreed, I was planning on different behavior for each system.

[2019-08-23 20:18] geekRishabhjain commented on #1957
@robertohueso I tried understanding the code(new to open source contribution to an organization) and was overwhelmed.
But I think once I start getting comfortable I'll be working on cover trees.

[2019-08-23 22:44] gmanlan commented on #1872
That's awesome @rcurtin. I look forward to testing the PR!

[2019-08-26 01:29] rcurtin commented on #1944
This bug still exists, so I'll mark this "keep open".  There are two things to do: set a fixed seed (I'll handle this when I'm able to) and fix the CF test so it fails less often.

[2019-08-26 10:38] geekRishabhjain commented on #1957
@rcurtin I am new to Open Source contribution to organizations. I took a course on ML by Andrew ng, and read the book hands-on machine learning in pyhton, and have good knowledge of C/C++. I am here with a motive to contribute and learn. But was overwhelmed by the code. Any tips on how should I start?

[2019-08-28 22:05] rcurtin commented on #1767
Since #1986 is merged, I think we can close this issue now. :+1:

[2019-08-28 22:05] #1767 closed

[2019-08-28 22:48] rcurtin commented on #1957
Hey there @geekRishabhjain, I think that the best way to get started with the mlpack code would be to the follow the tutorials and what's written on this page: http://mlpack.org/community.html#getting-involved

Once you're comfortable, for this task, I would start by implementing tests for the assignment operator for all types of trees, based on the tests that are already there (the code in #1934

[2019-08-29 03:10] rcurtin commented on #1872
I can't believe I am posting this.  I thought it would never happen.

![win_python](https://user-images.githubusercontent.com/1845039/63907323-fe722580-c9e8-11e9-8f22-e4a7d9242457.png)

It'll take me a little while to figure out all the changes I made and clean it up for a PR, but, this is a nice big step forward.  (The next question is whether or not it will work on anyone else's system!)

[2019-08-29 08:03] zsogitbe opened #1990 "Collaborative Filtering models (nearly all of them) crash in Cholesky decomposition"
#### Issue description

I have regular crashes with real datasets in nearly all of the Collaborative Filtering (CF) models except the regularized SVD model.

#### Your environment

 * version of mlpack: last
 * operating system: Windows 10
 * compiler: VS 2017 last version
 * version of dependencies (Boost/Armadillo): both
 * any other environment information you think is relevant: N/A

#### Steps

[2019-08-29 10:32] Georgiana1197 opened #1991 "CLion CMake project linking problem"
I'm trying to integrate mlpack in my CMake project, using CLion, and it doesn't seem to recognise the library. I'm using Ubuntu as the os

[2019-08-29 10:39] zoq commented on #1991
Happy to help, do you think you could provide some more information, maybe a stripped down CMake file? Here is an example file that links against mlpack: https://github.com/zoq/nes/blob/master/CMakeLists.txt

The important parts are:

- https://github.com/zoq/nes/blob/ba622e134db0548ebbc9bd2c5c3d587b348f6ab8/CMakeLists.txt#L9

The ``cmake/modules/`` folder contains an mlpack module to search for t

[2019-08-29 22:13] rcurtin commented on #1954
#1984 is merged, so I will go ahead and close this.

[2019-08-29 22:13] #1954 closed

[2019-08-31 15:59] rcurtin commented on #1872
@gmanlan I pushed some changes to #1885---do you want to try checking them out and seeing if the Python bindings now build on your system?  There may still be some little things I overlooked, but at the very least, this code works on my system, so it shouldn't be *too* hard to figure out how to make it run on yours if it doesn't already. :)

[2019-09-01 00:51] rcurtin opened #1993 "Fix sometimes-failing tests before 3.2.0 release"
#### Issue description

Some of the mlpack tests seem to be failing; we should avoid making a release until we know that the tests won't regularly fail (thus causing bug reports). :)

Here are the ones I've found that seem to be failing:

- [x] (#1998) `RLComponentsTest/SimplePendulumTest`: [link](http://ci.mlpack.org/job/docker%20mlpack%20nightly%20build/440/armadillo_version=armadillo-7.100.3,bo

[2019-09-01 00:53] rcurtin opened #1994 "Temporarily revert changes to RL `Action` for 3.2.0 release"
After a discussion in IRC, @zoq and @favre49 agreed that the right thing to do for the next release is to temporarily "undo" the change to the `Action` struct until the 4.0.0 release, which we can postpone until later.  This issue is just a placeholder that we can associate with the 3.2.0 milestone. :)

[2019-09-01 02:57] rcurtin commented on #1993
I opened #1995 for the `RandomForestMainTest` failures.  I'll look into the `LSHTest` failure next; I'm not currently looking into anything else (I'll update this issue if that changes).

[2019-09-01 11:14] zoq commented on #1994
https://github.com/mlpack/mlpack/pull/1996 will address the issue.

[2019-09-01 11:56] zoq commented on #1993
I opened https://github.com/mlpack/mlpack/pull/1998 for the ``RLComponentsTest/SimplePendulumTest``failure. I'll look into the ``RewardClippingTest/RewardClippedAcrobotWithDQN``failure next.

[2019-09-01 13:37] zoq commented on #1993
I opened https://github.com/mlpack/mlpack/pull/1999 for the ``RewardClippingTest/RewardClippedAcrobotWithDQN`` failure. Will look into the CF serialization issue next, unless someone else likes to.

[2019-09-01 17:51] zoq commented on #1993
I opened https://github.com/mlpack/mlpack/pull/2000 for the ``CFTest/SerializationUserMeanNormalizationTest, CFTest/SerializationItemMeanNormalizationTest,  CFTest/SerializationCombinedNormalizationTest`` test failures.

[2019-09-02 22:59] rcurtin commented on #1993
I figured out the LSH test failure in #2001.

[2019-09-03 06:31] jeffin143 commented on #1993
You both are super heroes :) , opened and debugged in a day :-p

[2019-09-03 13:44] rcurtin commented on #1993
@jeffin143 thanks!  Mostly I am just letting the tests run in the background and then take a look later.  Usually the fixes are already with code I'm familiar with, so it's not too hard. :)

I investigated the last failing linear SVM test and opened a fix in #2002.

[2019-09-04 06:24] favre49 opened #2003 "Make Action.action a double in mlpack 4.0.0"
Following discussion in IRC, this change was reverted in PR #1996 . We should make this change once more when we release mlpack 4.0.0, since it removes backwards compatibility.

[2019-09-04 07:37] inhocho89 commented on #1990
I am also experiencing the same issue on Ubuntu 18.04

[2019-09-04 18:26] rcurtin commented on #1994
#1996 is merged, so we can close this. :+1:

[2019-09-04 18:26] #1994 closed

[2019-09-04 21:09] rcurtin commented on #1993
All the fixes so far are merged.  Now I'm going to run the nightly build and the weekly build and see if there are any additional failures. :)

[2019-09-05 13:19] rcurtin commented on #1993
Here are the four tests that failed in the weekly and nightly builds:

 - `GmmTrainMainTest/GmmTrainTrialsTest`
 - `QLearningTest/DoubleCartPoleWithDQN`
 - `KNNMainTest/KNNAllTreeTypesTest`
 - `DecisionTreeTest/PerfectTrainingSet`

I updated the issue description above to add those.  I'm working on `GmmTrainTrialsTest` now.

[2019-09-05 17:49] zoq commented on #1993
Will take a look at the `QLearningTest/DoubleCartPoleWithDQN` failure.

[2019-09-06 02:31] rcurtin commented on #1993
`GmmTrainMainTest/GmmTrainTrialsTest` should be handled in #2004.  I'll look into `KNNAllTreeTypesTest` tomorrow.

[2019-09-06 12:07] KimSangYeon-DGU commented on #1993
I'll look into `KNNMainTest/KNNAllTreeTypesTest` tomorrow.

[2019-09-06 12:26] ShikharJ opened #2005 "Verify the use of input variable in Backward() routines."
### Issue description

In a number of the Backward() routines implemented, contributors tend to mistake `input` variable passed as the original input `x` to the Forward() routine. However, it refers to the computed output `f(x)`. This leads to potentially buggy implementations, which need to be thoroughly scoured.

#### Steps to validate / fix

As a starting point, one should try computing the Bac

[2019-09-06 13:15] rcurtin commented on #1993
@KimSangYeon-DGU sounds good, I'll look into `DecisionTreeTest/PerfectTrainingSet` then. :+1:

[2019-09-06 13:17] rcurtin commented on #2005
It might be worth updating documentation in various places too to point out that `input` isn't the original input `x` but instead `f(x)`, to help reduce mistakes. :)  (I am not sure the state of the documentation currently, I just thought I'd toss that out there as a suggestion.)

[2019-09-06 14:18] ShikharJ commented on #2005
Yeah most certainly, this needs to be changed to prevent further bugs in implementation. Fortunately, not a lot of Backward() routines make use of the said variable.

[2019-09-06 14:28] ayusdas2000 commented on #2005
I would like to try this.

[2019-09-06 14:34] ShikharJ commented on #2005
@ayusdas2000 Go for it. I'd specifically start with the `ann/` and the associated subfolders. Maybe start with SigmoidCrossEntropy loss function.

[2019-09-06 14:41] ayusdas2000 commented on #2005
After building mlpack on my os how should I proceed?

[2019-09-06 14:46] rcurtin commented on #2005
@ayusdas2000 what have you tried?  If you take a look through the code, Shikhar's description of the issue should start to make sense.

[2019-09-06 14:59] ayusdas2000 commented on #2005
Got your point. Will again contact you if I encounter any doubt. Thank you

[2019-09-06 15:01] rcurtin commented on #2005
There's often some context we can help share, but sharing the context is a lot easier once you've explored the code a bit. :)

[2019-09-06 15:56] KimSangYeon-DGU commented on #1993
@rcurtin Oops... thanks!

[2019-09-06 17:28] ayusdas2000 commented on #2005
libboost command for installing cmake dependency is not working despite installing libboost. Because i am unable to install cmake therefore i am unable to build mlpack on my home system

[2019-09-06 17:30] rcurtin commented on #2005
Can you open that in a separate issue?  It's a little off topic for this one. :+1:  (Sorry to be pedantic)

[2019-09-06 17:52] ayusdas2000 commented on #2005
could not find out. I will try the other first issues. Very sorry.

[2019-09-06 20:01] rcurtin commented on #1993
#2006 fixes `DecisionTreeTest/PerfectTrainingSet`.

[2019-09-07 01:24] imskr commented on #1741
I am beginner!  Can I take this issue?

[2019-09-07 18:07] jwdinius opened #2008 "mlpack-3.1.1 fails to compile with Ensmallen 2.1.0 release"
#### Issue description

When trying to use build mlpack 3.1.1 with Ensmallen 2.1.0, I receive the following compiler error:

[code]

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: Ubuntu 16.04
 * compiler: gcc 5.4.0
 * version of dependencies (Boost/Armadillo): (1.58.0, 9.700.2)
 * any other environment information you think is relevant:
`Dockerfile`:

[code]

#### Steps t

[2019-09-07 18:27] rcurtin commented on #2008
Thanks for the report.  I thought that this could not happen due to our build/test setup but I see that we must have a "hole" somewhere.  I'll look into both of these things and should have a fix for both tonight.

[2019-09-08 06:23] rcurtin commented on #2008
I did the following:

 * Opened ensmallen#131 to fix a few bugs that happened
 * Opened mlpack#2008 to handle compatibility from the mlpack side
 * Created a job that runs on ensmallen PRs to ensure that it will still compile mlpack master, to ensure this doesn't happen again

Thanks again for the report. :+1:

[2019-09-09 04:05] #1967 closed

[2019-09-09 17:05] barak opened #2012 "Build Error with GCC 9.x"
#### Issue description

The Debian mlpack package is failing to migrate to testing due to a build failure using the next compiler: GCC 9.x. For details, see https://bugs.debian.org/925779

#### Your environment

 * version of mlpack: 3.0.4 (but I think it hasn't changed)
 * operating system: Debian unstable
 * compiler: GCC 9.2.1
 * version of dependencies (Boost/Armadillo): not relevant
 * any ot

[2019-09-09 17:14] rcurtin commented on #2012
Hey @barak, we actually fixed this a handful of weeks back in #1970.  There hasn't been a new release with that included yet, but, we are about to release mlpack 3.2.0 which will include the fix (should be in the next handful of days).  We can leave this open until the release is done. :)

[2019-09-09 17:49] gmanlan commented on #1872
@rcurtin I have pulled the last changes and attempted to use it. On the positive side, I can build perfectly fine without issues. Unfortunately after installing the python package on Windows, I'm back to the initial errors (from .cf import cf ImportError: cannot import name 'cf' from 'mlpack.cf').

These are the steps I performed:
1) Run cmake, build python.vcxproj in Visual Studio (Release/x64)
=

[2019-09-09 17:51] rcurtin commented on #1872
Hmmm, ok.  Can you tell me if the file `build/src/mlpack/bindings/python/cf.pyx` has anything in it?

[2019-09-09 18:13] gmanlan commented on #1872
Good point - cf.pyx is empty (0 bytes), as well as lmnn.pyx. All the others are ok.

[2019-09-09 18:17] rcurtin commented on #1872
Hmm, interesting.  I seem to remember encountering this in my own experimentation but I thought I had it fixed in the PR.  In any case, can you tell me what happens if you run the program `generate_pyx_cf`?  I think, in your setup, that should be in `C:\mlpack\mlpack-python-windows-fix\build\Debug\` (or `Release\`).  My guess is that this will have some problem.  (The same for `generate_pyx_lmnn`

[2019-09-09 18:18] rcurtin commented on #1872
By the way, when I ran these programs locally in my build, I had to make sure all the necessary DLLs were in place, and I ran it from either a command prompt or PowerShell so that I could see the output (instead of the window just closing).

[2019-09-09 19:38] barak commented on #2012
Stupendous, thanks.

[2019-09-09 20:21] gmanlan commented on #1872
I think both are working fine (I can see the python code being generated, without errors). You can see the output of generate_pyx_cf.exe in the attached file.

`C:\mlpack\mlpack-python-windows-fix\build\Release>generate_pyx_cf.exe > output.txt`
[output.txt](https://github.com/mlpack/mlpack/files/3592461/output.txt)

[2019-09-09 20:27] zoq opened #2013 "Expose ensmallen Callbacks."
The 2.10.0 release of [ensmallen](https://github.com/mlpack/ensmallen/releases/tag/2.10.0) contains two major improvements:

* Templated Optimize()

* Callback support

For callbacks, this means that ``Optimize()`` can take any number of
extra arguments that specify some special behavior to be taken when the
optimization is run. So, for instance, calling

[code]

means that the objective function'

[2019-09-09 21:40] rcurtin commented on #1872
Well now that is strange.  `generate_pyx_cf.exe` worked fine, but the generated file was still empty.  Let me try to reproduce this on a completely clean build of the Python fixes branch tonight.

You might be able to get everything to build by "rebuild"ing the `build_pyx_cf` target, then the `python` target.  If `cf.pyx` isn't empty in `build/src/mlpack/bindings/python/mlpack/`, then everything *

[2019-09-10 17:45] gmanlan commented on #1872
I've been debugging but I see nothing wrong... still, the pyx is empty. Do you know from where the .exe is being called? I can't find it in the VS logs.

[2019-09-10 21:29] #2008 closed

[2019-09-12 21:23] shrit opened #2016 "How to make Ann training use full CPU power"
Hello,

I would like to know how to make a neural network use the entire cpu power using parallel computation. Given a machine with two Xeon CPU  each one has 8 cores, my actual model training phase use only about 0.25 percent (around 4 cores only) from the max computation capacity. Is there any way to exploit more from the available resources?

Best regards,

[2019-09-13 15:11] marcovirgolin opened #2017 "Naive Bayes Classifier: mlpack vs scikit-learn"
Hello,
I am running the NBC in mlpack and scikit learn, on datasets from here: https://drive.google.com/drive/folders/1GPCGpycMqoQjnY7-uQ4ROPdn6bsbVrE1
See e.g., the ecoli dataset. I get much better results using scikit-learn (with any of the three available NBCs: Gaussian, Multinomial, Bernoulli's).

If I am not mistaken, the mlpack implementation should correspond to scikit-learn's Gaussian NBC.

[2019-09-13 16:04] ShikharJ commented on #2017
Thanks @marcovirgolin for the report, we need to analyse this thoroughly. NBC code is pretty old, and we haven't looked at it in a while, but hopefully we can get some answers.

[2019-09-15 21:09] rcurtin commented on #1872
I managed to reproduce it and nail down what the issue is.  It so happens that `cf` and `lmnn` are the only two command-line programs that require a direct linkage against `libopenblas.dll.a` (others call functions that are part of `mlpack.dll` which is in turns linked against OpenBLAS).  This means that when `libopenblas.dll.a` is not in the runtime path when `generate_pyx_cf` is called, the prog

[2019-09-16 12:38] zoq commented on #2016
Hello, can you provide some more information about your system, mlpack, armadillo, boost version, do you build with BLAS or OpenBLAS?

[2019-09-16 12:51] shrit commented on #2016
Hello, thanks for your answers,
Here is a full details about the software versions:
boost 1.69.0
armadillo 9.6
mlpack 3.1
Also I am building with: blas 3.8
Considering the system, I am using arch Linux with 32GB of RAM with 2 physical Intel(R) Xeon(R) CPU E5-2609 v4 @ 1.70GHz on the same board, each one has 8 cores

[2019-09-16 12:55] zoq commented on #2016
Any chance you can build armadillo against OpenBLAS?

[2019-09-16 12:56] shrit commented on #2016
Of course why not, I will do it as quickly as possible

[2019-09-16 13:14] shrit commented on #2016
@zoq  Thanks, it is working perfectly now. Full CPU is being used without any problem, This will reduce the training time by 4
By the way, the evaluation function in the FNN class never returned any values other than 0 when I was using BLAS, Now I am having something here

[2019-09-16 15:16] KimSangYeon-DGU commented on #2017
@marcovirgolin Thanks for reporting, I'll look into it.

[2019-09-16 15:59] rcurtin commented on #1993
I'm also working on the `LinearSVMTest` failures.  These turn out to be caused at a lower level in ensmallen, and I opened mlpack/ensmallen#136 to solve it; but I am also working on workarounds for `linear_svm_test.cpp` now.  I think once those are merged in, we should get some clean builds. :)

[2019-09-16 16:35] gmanlan commented on #1872
Ah, interesting. I'm wondering why the command `C:\mlpack\mlpack-python-windows-fix\build\Release>generate_pyx_cf.exe > output.txt` would be able to run then, considering the PATH is the same for both the command prompt and VS. When I run the exe from the cmd prompt, it only requires the dll, but again, VS is sometimes very mysterious.

[2019-09-17 10:17] zoq commented on #2016
``Train`` should return the final loss, let's see if I can reproduce the issue.

[2019-09-17 12:51] dbots94 opened #2021 "How to perform DBSCAN clustering on 3D points"
I want to perform the DBSCAN clustering algorithm, but I can't find how to use it... I already tried understanding your documentation, but I can't find how to call that algorithm's function. So how should I proceed to process a std::vector<cv::Point3f> into multiple std::vector<cv::Point3f>, containing the clusters detected.

[2019-09-17 16:05] #1863 closed

[2019-09-17 17:54] zoq commented on #2021
Hello @dbots94 https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/dbscan_test.cpp contains some examples about how to use ``DBSCAN`` with the C++ interface. Or are you searching for a solution to convert an opencv data type into a armadillo matrix.

[2019-09-17 17:56] zoq commented on #1993
https://github.com/mlpack/mlpack/pull/2014 should fix the ``QLearningTest/DoubleCartPoleWithDQN``failure.

[2019-09-18 14:57] dbots94 commented on #2021
It's exactly that. Sorry for my noobness, but I stil don't understand where the different cluster points are stored. Thank you very much for your help

[2019-09-18 15:48] rcurtin commented on #2021
Hey @dbots94, have you tried looking at the DBSCAN documentation?  The command-line program documentation for `mlpack_dbscan` is here:

http://mlpack.org/doc/mlpack-3.1.1/cli_documentation.html#dbscan

and in the "see also" section, there is a link to the C++ documentation:

https://mlpack.org/doc/mlpack-git/doxygen/classmlpack_1_1dbscan_1_1DBSCAN.html

I would suggest taking a look through that d

[2019-09-18 15:56] dbots94 commented on #2021
Ok thank you very much for your help, I'll look into those links.
Best regards

[2019-09-18 15:56] #2021 closed

[2019-09-19 04:30] BryanSWeber opened #2024 "mlpack does not load data"
I have installed mlpack on windows using vcpkg (specifically ".\vcpkg install mlpack[tools]:x86 - windows")

I intended to integrate mlpack with an existing project (x86) that produced a .dll
I then resolved all the compiler/linker problems, etc. and my program now successfully compiled.

Not wanting to be ambitious I simply tried to integrate the existing script:
https://www.mlpack.org/doc/mlpack

[2019-09-19 19:00] BryanSWeber commented on #2024
As a note, I have been trying to consider that perhaps the line endings are not correct (eg. linux vs windows .csv files), but that should be resolved using the files directly from the mlpack git.

[2019-09-19 20:12] yanivbi opened #2025 "Returning class probabilities in AdaBoost model is missing"
The AdaBoost model isn't returning the "Predicted class probabilities for each point in the test set", as the RandomForest returns (with the -P flag).

[2019-09-19 20:43] zoq commented on #2024
Maybe it is some format issue, does it fail as well if you remove every line from the dataset except the first one?

[2019-09-20 00:22] BryanSWeber commented on #2024
Indeed, it does fail if I remove every line after the first from the dataset.  I made sure the end of line characters were deleted using the line ending display in notepad++.   I called this german_short.csv

I also did a find&replace for \r\n into \n over the extended character set, which should convert to unix line endings. I called this german_unix.csv

Both german_short.csv and german_unix.csv

[2019-09-20 02:10] BryanSWeber commented on #2024
Following my previous line of reasoning, I wanted to see what would happen if I simply artificially created my own data. it seems like the RF function has a similar problem. This merely makes me more curious as to what is actually going on.

[code]

The program will stop connecting to successfully compiled .DLL once I choose to include the following:

Perhaps that sheds some light on the problem.

[2019-09-20 13:54] mercierc opened #2027 "Impossible to build mlpack_test"
Hello everyone,

 I just cloned the mlpack rep on my computer and I cannot build all the targets from  **make mlpack**, especially mlpack_test and some generate_pyx. (May be it is normal)

For example, here is the final error that I get during the failure of **make mlpack_test** :

[code]

I did not modify the mlpack/CMakeLists.txt and the the BUID_TEST option is still set to ON.
If it can help, I

[2019-09-20 15:22] rcurtin commented on #2027
Hey @mercierc, I think I know what the issue is. What version of ensmallen do you have installed?

[2019-09-20 23:57] abernauer commented on #1021
@rcurtin  I' am going to tackle this issue this weekend. Does this to-do look good to you?

- [ ] Make list of methods where pass-by-value change is implemented.
- [ ] Review codebase/methods where pass-by-value is relevant
- [ ] Convert to pass-by-value where parameters are always copied and moves are cheap.

[2019-09-21 02:15] rcurtin commented on #1021
@abernauer that seems like a reasonable approach to me.  You can take a look through the existing PRs that have already been merged to help identify any situations where the change should be made.

[2019-09-21 10:50] mercierc commented on #2027
Hi  @rcurtin and thank you for aswering. I built mlpack from the git-hub rep on another computer and it works with ensmallen 2.10, downloaded during the execution of the cmake command. I will keep you informed about the version installed on the concerned computer as soon as I can acces it.

[2019-09-21 15:34] rcurtin commented on #1993
I'm sure we will encounter more failing tests in the future, but I think that we have addressed a lot of the big ones that users might encounter failures with.  So for the purpose of mlpack 3.2.0, I think we can close this.

[2019-09-21 15:34] #1993 closed

[2019-09-21 15:39] rcurtin commented on #2027
Good to hear.  The concerned computer likely just needs the version of ensmallen 2.10.0 for the git master branch.  I opened #2027 to update the documentation and CMake configuration about the minimum version needs.

[2019-09-23 10:58] mercierc commented on #2027
I started again with the modifications of @rcurtin and it works well.

[2019-09-23 13:18] rcurtin commented on #2027
Great!  I'll go ahead and close this issue then. :+1:

[2019-09-23 13:18] #2027 closed

[2019-09-24 14:26] ameyanator commented on #2013
Hi! Can I work on this? I would need guidance but I'll work towards solving this. 🙂

[2019-09-24 14:29] ameyanator commented on #1269
Hi, is this issue resolved?

[2019-09-24 14:36] zoq commented on #2013
@ameyanator feel free, happy to clarify anything.

[2019-09-24 14:37] rcurtin commented on #1269
@ameyanator it is not fixed yet, so you're welcome to work on it.  You can take a look at the original comments that I left up at the top for guidance.

[2019-09-24 14:45] ameyanator commented on #1269
@rcurtin I'll do that sure! Will ask over here if I want to about anything else

[2019-09-25 03:56] rcurtin commented on #1872
That's strange, but I agree, Visual Studio can be pretty mysterious.  Same with CMake.  I spent a while digging into it and I concluded that the safest way I can fix the issue is simply to copy all the necessary DLLs to the right place.  So, the latest commit that I pushed adds the CMake variables `DLL_COPY_LIBS` and `DLL_COPY_DIRS` that can be specified, containing any additional directories of t

[2019-09-25 20:19] gmanlan commented on #1872
Hey, good news. I have tried the latest #1885 and the windows python bindings are building and running. To check if it's properly working, I adapted the example from https://www.mlpack.org/doc/mlpack-3.1.1/doxygen/python_quickstart.html and it seems to work just fine. Well done! We may want to properly document how to build this, and even better in the future, auto-generate a windows package to be

[2019-09-26 01:36] rcurtin commented on #2012
The release is done now, so I'll go ahead and close this.  (announcement, etc. forthcoming in a few minutes)

[2019-09-26 01:36] #2012 closed

[2019-09-26 17:53] abernauer commented on #1021
Yeah I looked at the PR for decision tree. As a reference it was helpful.

[2019-09-27 00:30] rcurtin commented on #1872
Definitely, the https://github.com/mlpack/mlpack-wheels repository is ready to try and attempt some Windows builds when everything is merged.  I'm not actually sure what happens with the Python bindings on Windows when I make the "INSTALL" target.  I'm running now to find out... :)

[2019-09-27 00:51] rcurtin commented on #2024
Can you explain what you mean by this?  I don't understand.  Thanks!

[2019-09-28 15:07] BryanSWeber commented on #2024
So the goal is to go from:

x86 MLPack->myproject.dll->someone_else's_project.exe

MLPack seems to compile, and myproject.dll also compiles when including mlpack.  But whenever myproject.dll uses any mlpack functions, someone_else's_project.exe can no longer connect.

I am starting to suspect that this has to do with the x32 vs x64 nature of the programs.

[2019-09-28 16:25] KimSangYeon-DGU opened #2035 "In OSX check of Travis, `GmmTrainMainTest/GmmTrainDiffKmeansMaxIterationsTest` index out of bounds error."
I noticed this error from #2022.
In OSX check of Travis, `GmmTrainMainTest/GmmTrainDiffKmeansMaxIterationsTest` failed because of `std::logic_error: Mat::col(): index out of bounds`, while all the 3 Linux checks passed.

Below is the log of the OSX check in the Travis.
[log.txt](https://github.com/mlpack/mlpack/files/3665728/log.txt)

[2019-09-30 13:17] rcurtin commented on #2017
Since #2022 is merged, I think that this issue is fixed, so I'll go ahead and close it.  The fix will be incorporated into mlpack 3.2.1, which will be released shortly.  If you still have any problems please don't hesitate to open more issues in the future. :+1:

[2019-09-30 13:17] #2017 closed

[2019-10-01 16:38] favre49 opened #2037 "Cannot compile mlpack on Ubuntu 18.04 and below"
#### Issue description

Compiling the `master` branch of mlpack without libstb-dev gives the errors:

[code]
However, libstb-dev is only available for Ubuntu eoan and Ubuntu disco. Hence, it isn't possible for users with older versions to compile.

This problem also exists for libensmallen-dev, but can be compiled from source.

#### Your environment

 * version of mlpack: master branch
 * operatin

[2019-10-01 17:29] rcurtin commented on #2037
Interesting, I'm a bit surprised because if STB isn't found, then mlpack should automatically download it.  Can you also provide the output of the CMake configuration step?

[2019-10-01 17:33] zoq commented on #2037
Do you mean it's not detected by CMake, as libensmallen doesn't depend or use stb.

[2019-10-01 18:12] Saahitya commented on #2013
@ameyanator are you working on this issue?

[2019-10-01 18:53] zoq commented on #2037
Just tested ``cmake -DDOWNLOAD_STB_IMAGE=OFF ..``, which disables STB; haven't encountered any issue.

[2019-10-01 19:00] ameyanator commented on #2013
@Saahitya no sorry, I have suddenly got busy with my college work and am unable to work on this presently.

[2019-10-01 19:36] walragatver commented on #2037
I tried it on my own machine.
To solve it delete your current `build` directory. Make it once again and run `cmake ../` once again. It will resolve everything.

[2019-10-02 13:25] sriramsk1999 commented on #1957
@rcurtin could you mark this with the keep open label? I'm nearly done with this issue.

[2019-10-02 14:05] rcurtin commented on #1957
Sure, no problem.

[2019-10-02 14:47] rcurtin commented on #2024
Okay, I think that I understand the basic idea of what you are trying to do, but I'm hung up on the term "can no longer connect"... is there an associated error message?  To me the terminology doesn't make sense.

[2019-10-03 14:40] rirod17 opened #2041 "Model()[1].Parameters() does not work in FFN"
Hi,

I believe this bug has been indicated in https://github.com/mlpack/mlpack/issues/1906, but I can't seem to have it working.
I tried to use model.Model()[1].Parameters() to extract the weights of the network, given the simple use of Parameters() - model.Parameters() - gives a fairly complicated, not so useful thing. I am told by the compiler there is no such member called Model().

I tried add

[2019-10-03 18:08] aabghari opened #2042 "The choice of API is problematic"
Hi,

The choice of API to access the internal members of a class is problematic in mlpack. For example, in case of HMM, it's more efficient (both CPU and memory wise) if we keep the _initial_ and _transition_ matrix in log value. But this is not possible without breaking the existing APIs. If the API to access the _transition_ matrix were like this:

[code]
I would be easily  able to change the se

[2019-10-03 19:32] zoq commented on #2042
Opened https://github.com/mlpack/mlpack/pull/2043, checkout the test case for an example.

[2019-10-03 19:45] zoq commented on #2041
Opened #2043, checkout the test case for an example.

[2019-10-03 19:55] aabghari commented on #2042
Can you elaborate on your answer. I cannot see the solution.

[2019-10-03 20:01] zoq commented on #2042
Sorry, for the confusion I was talking about https://github.com/mlpack/mlpack/issues/2041. I will take a look at this issue later.

[2019-10-04 03:08] rcurtin commented on #2042
@aabghari I see what you mean and this is a little bit tricky to figure out how to do right.  Here's one idea:

We can add an extra `bool` template parameter to `HMM` and call it `UseLogProbabilities`; by default this is `false`, but if it's set to `true`, then `HMM` will internally store log probabilities in `transition` and `initial`.

In this way, it won't break reverse-compatibility for users

[2019-10-04 16:35] favre49 commented on #2037
Sorry for the late reply, been busy.
Thanks for the suggestions, deleting the build file and starting over worked for me. Works as I had expected now.

[2019-10-04 16:35] #2037 closed

[2019-10-04 16:35] rcurtin commented on #2037
Awesome, great to hear you got it worked out. :+1:

[2019-10-04 17:56] khizirsiddiqui commented on #2025
@rcurtin I was thinking to take up this issue. No one is working on this, right?

[2019-10-05 12:05] #1991 closed

[2019-10-05 13:55] zoq commented on #2025
@khizirsiddiqui Please feel free to work on this one.

[2019-10-05 17:13] rcurtin commented on #1694
I tried to reproduce this with the current master branch and I am unable to.  I think the issue has been solved.  If anyone's still encountering it, feel free to reopen (or file a new issue). :+1:

[2019-10-05 17:13] #1694 closed

[2019-10-06 05:33] adityaviki opened #2045 ""No matching function to call" error while building"
I am trying to build git cloned version of mlpack from source and getting this error.
Not sure if its a bug or there is something wrong from my side

[code]
Operating system: ArchLinux
Armadillo: 9.700.3
Ensmallen: 2.10.0

[2019-10-07 02:21] mrbuddhu commented on #1965
I wish to contribute to the above mentioned issue.

[2019-10-07 06:47] rirod17 commented on #2041
Well, the instantiated network can now be exposed, so that's all on my end : )

[2019-10-07 06:47] #2041 closed

[2019-10-07 14:06] aabghari commented on #2042
I am not sure if adding a `bool` will fix the problem because the implementation for log space is different. The issue is not whether or not to store the `transition`  and  `initial` in log space per se. If `UseLogProbabilities` is true then the `transition` and `initial` are  in log space therefore the implementation is different for example all the multiplies becomes addition compare to the none

[2019-10-07 14:09] aghinsa commented on #1660
Hey,
Is this issue still open?If yes,I'd like to start contributing towards this.Any starting points?

[2019-10-07 18:31] chase-metzger opened #2048 "Trouble replicating a PyTorch tutorial in mlpack"
Hi,
I just started using mlpack about two week ago. Everything, for the most part, is going smoothly with
using it. I learned most ML concepts using either TensorFlow or PyTorch before finding mlpack and using its tensor api.

I previously had used this article: https://towardsdatascience.com/writing-like-shakespeare-with-machine-learning-in-pytorch-d77f851d910c

My network/model is constructed as

[2019-10-07 19:59] zoq commented on #2045
Hello, @adityaviki any chance you can build against ensmallen >= 2.10.1? The issue you mentioned above should be fixed with: https://github.com/mlpack/ensmallen/pull/131.

Let me know if I should clarify anything.

[2019-10-08 02:11] adityaviki commented on #2045
Hey, @zoq with ensmallen = 2.10.3 the error is fixed. thanks!

[2019-10-08 11:31] barak opened #2049 "build failure on crappy machines"
#### Issue description

Build failures on some architectures, on the Debian autobuilder farm. Seems to run out of resources, e.g., memory allocation failure in `ccplus1`. Also there are alignment warnings. See below.

#### Your environment

 * version of mlpack: 3.2.1-1
 * operating system: Debian (sid)
 * compiler: GCC 9.2.1-8
 * version of dependencies (Boost/Armadillo): 1.67.0 / 1:9.600.5+dfsg-

[2019-10-08 13:21] rcurtin commented on #2049
I don't know how much we can do about this one.  As much as I love old computing hardware I think we're a bit stuck with the limitations of gcc.  Due to the large number of templated header files we have to include, as far as I know, mlpack requires at least 1GB or more of RAM to compile.  There might be some compile flags that could be passed to gcc to reduce memory usage, but I'm not sure; anoth

[2019-10-08 22:52] barak commented on #2049
Yeah, already doing that.
[code]
I did call them crappy machines in the title...

[2019-10-09 03:12] rcurtin commented on #2049
Maybe some CXXFLAGS changes like playing with `ggc-min-expand` and `ggc-min-heapsize` might be helpful?  (Also `-pipe`?)  I don't have too many other tricks I know of, and unfortunately maybe cross-compilation is the best option here.

Also, it's not clear to me that there are any m68k systems in existence to even actually run any mlpack programs. :-D (Are the debian m68k build systems actually ph

[2019-10-09 10:57] zoq commented on #2045
Great, in this case let's close the issue, we can reopen it if there is anything to clarify.

[2019-10-09 10:57] #2045 closed

[2019-10-09 13:34] barak commented on #2049
Yeah, they're actual! Silly perhaps, but real hardware.

One nice thing is they help weed out portability issues which often bite not only past hardware, but also future hardware. Some "doesn't make sense on platform without XXX" options would be sensible, unfortunately there is no such mechanism right now. I agree the "right" solution is to selectively defang the compiler on under-resourced platf

[2019-10-09 13:49] rcurtin commented on #2049
Nice!  Glad to hear they have actual hardware for this stuff.  Maybe I should plug in the sparc64 system I have under my desk and get it building Debian packages. :)

I think that unfortunately it's unrealistic to compile mlpack on any system with less than 1GB of RAM.  I don't know of any m68k systems with anywhere close to that much (those are usually <32MB RAM if I remember right) and `sh4` I w

[2019-10-09 20:14] barak commented on #2049
Okay. In the next upload I'll selectively remove architectures that seem to fail the build due to being under-resourced.

[2019-10-10 00:54] rcurtin commented on #1872
Ok, I fought with it for a while and realized I was setting `CMAKE_INSTALL_PREFIX` incorrectly in my configuration.  I did get mlpack to install but there was some issue with the Python bindings.  However I pushed some minor changes in 3bbec9743 that add some extra paranoia to CMake.  Personally, I think the PR is ready, and once we merge it it will be a big step forward.  I'll comment more in #18

[2019-10-10 16:18] gmanlan commented on #1872
This is awesome @rcurtin! I left a minor comment after reviewing. Very excited to get this integrated soon!

[2019-10-12 03:36] akhandait opened #2051 "Use Padding layer in TransposedConvolution layer"
#1493 has been merged currently merged without the new `Padding` layer used in it. For consistency, we would prefer using the `Padding` layer instead of defining a function for it. It should not be a very tough task and can be a good first issue for someone looking to contribute.

[2019-10-14 09:30] JulienOMD opened #2053 "strange results with LinearRegression"
Hi,
I am using the LinearRegression class to find the coefficients of a polynomial approximation. I get strange results. Maybe I am not using the library properly.
The sample responses (attached response.zip) should nicely follow a cubic polynom. I have tested it with an online tool and it returns the four coefficients:
-2.4199E+02,-2.3422E+00,-7.6584E-03,-1.0072E-05
Now with the mlpack command li

[2019-10-15 03:40] Raahul-Singh commented on #2051
@akhandait Hi I'm a newbie here and would like to contribute. Could you please give me a little more information?

[2019-10-15 19:53] Vasniktel opened #2055 "Java bindings"
Hello everyone.
I have recently become interested in this library and I thought about implementing Java bindings for it. My question is what should I have to take a look at in the first place, what issues should be addressed and where can I learn more?

[2019-10-15 22:57] rcurtin commented on #2055
Hey @Vasniktel, Java bindings would be really great.  It would be a good amount of work though. :)  You could start to understand our automatic bindings system by taking a look at its documentation: http://mlpack.org/doc/mlpack-3.2.1/doxygen/bindings.html

A couple years ago we had a Google Summer of Code student express interest in Java bindings, but at the end of the day it was Go bindings that

[2019-10-16 17:41] akhandait commented on #2051
Hi @Raahul-Singh, welcome here :). In #1952, a `Padding` layer was added which was then used in `AtrousConvolution` and `Convolution` layers. Before that, padding was done by defining functions in each class. What needs to be done now is to use the `Padding` layer in `TransposedConvolution` layer as well. You might want to check out the above PR to see how it's done in the other two layers.

[2019-10-16 19:11] rcurtin commented on #2042
I agree, you are right that `arma::mat& Transition()` has no way to hide the underlying implementation detail.  But no matter what we do, we *have* to break reverse compatibility in mlpack 4.0.0 if we want to change this to work in logspace.

Suppose that we instead just created an additional member `logTransition`, and then used that in the computations (and just made sure that `transition` was e

[2019-10-16 19:49] rcurtin commented on #2025
#2050 is open for this issue.

[2019-10-19 06:58] vss96 commented on #2013
Is anyone currently working on this?

[2019-10-19 11:52] rcurtin commented on #2053
Hi @JulienOMD, I took a look at your data and played with it.  It seems that the cause of the problem here is that the condition number of the covariance is quite high.  i.e., if I compute the condition number with `cond(train' * train)` I see that it is `1e12`.  This is because the range of values is quite large: the first feature takes values between -340 and -141, whereas the third feature take

[2019-10-19 12:21] zoq commented on #2013
Hello @vss96, @Saahitya worked on the FFN/RNN, but there are a couple of methods that have to be modified, like the lr: https://github.com/mlpack/mlpack/tree/master/src/mlpack/methods/logistic_regression.

[2019-10-19 13:10] rcurtin commented on #2048
Hi @chase-metzger, sorry for the slow response.  I think you are right that it is a data encoding issue.  The `RNN::Train()` function takes an `arma::cube` where

(http://mlpack.org/doc/mlpack-3.2.1/doxygen/classmlpack_1_1ann_1_1RNN.html#a443a41ed01d03b2962d175cfab448c2c)

It looks to me like you code has the sequence length as the number of rows, and the input size as the number of slices.  So I

[2019-10-19 13:11] vss96 commented on #2013
@zoq Thanks for the info! I would like to pick that piece up :)

[2019-10-19 13:29] zoq commented on #2013
Great, please feel free, let me know if I should clarify anything.

[2019-10-20 02:16] JulienOMD commented on #2053
Thanks a lot for your answer.
Actually, I managed to have acceptable results when I remove the sign of my samples, which is a simple offset in my practical case. So problem solved for me.

[2019-10-20 05:31] rcurtin commented on #2053
Sounds good, glad to hear you were able to resolve it. I'll go ahead and close this issue then :+1:

[2019-10-20 05:31] #2053 closed

[2019-10-20 06:32] rcurtin commented on #2035
Hey @KimSangYeon-DGU, I took a look into this one today but I haven't seen any OS X test failures for `GmmTrainMainTest` in the past month or so (looking at the Travis build history).  I think that maybe #2026 solved this one---have you seen the issue since #2026 was merged?

[2019-10-20 08:58] KimSangYeon-DGU commented on #2035
Hey @rcurtin, I think it is a temporary issue that occurs rarely because I haven't seen any issue since I opened this one. I'll close it until I find the same issue.

[2019-10-20 08:58] #2035 closed

[2019-10-20 10:37] rcurtin commented on #2035
Sounds good! :+1:

[2019-10-22 16:59] jaibhageria commented on #2013
@zoq Are there any more methods I could implement the callback functionality for?

[2019-10-22 18:25] zoq commented on #2013
@jaibhageria linear svm comes to mind: https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/linear_svm/linear_svm.hpp#L208

[2019-10-23 01:22] chase-metzger commented on #2048
@rcurtin Hi thanks for the response! (and sorry for my late one)

Unfortunately, changing all the encoding to be that shape did not work. I'm still getting an `out of bounds` for the `operator()` operator.

I ran a debugger and before it crashes, the network is in the process of forwarding to the `NegativeLogLikelihood` which is the output layer. To be a little more specific, the crash occurs on l

[2019-10-23 15:04] E-Alharbi opened #2061 "Armadillo matrix representation"
Hello,
I have a question about loading data into Armadillo matrix that is when loads integer numbers from CSV file into a matrix and print it out, it shows them in decimal format.
For example,
-163 will be printed in this format -1.6300e+02
why this happens and how I can fix it?

[2019-10-24 09:58] zoq commented on #2061
Hello @E-Alharbi you can set the precision:

[code]

or if you know you will work with integers only you could store the result into: ``arma::Mat<int>`` instead of ``arma::mat`` (``arma::Mat<double>``).

[2019-10-24 10:52] E-Alharbi commented on #2061
Thanks for your reply.
The problem of using arma::Mat<int> cause a compiler error because  Train and Predict methods only accept  :Mat<double>. Any suggestion?

[2019-10-24 11:03] E-Alharbi commented on #2061
I used` arma::conv_to<arma::Mat <int>>::from(a)` and this solved the problem.

[2019-10-24 11:05] #2016 closed

[2019-10-24 11:24] ShikharJ commented on #2016
@zoq Should we keep this closed?

[2019-10-24 13:22] zoq commented on #2016
It's on my list but I think we solved the main issue.

[2019-10-24 17:44] zoq commented on #2061
You are right, most methods take `arma::mat` as input, in your case you can just convert the input or load the data as `arma::mat` as you did before; as the issue you described above is just about how we represent the data.

[2019-10-24 21:42] rcurtin commented on #2048
Ah, thanks for the details.  I think that the encoding you had before was incorrect, so, maybe there were two problems. :)  Anyway, thanks for working with a debugger a little bit to figure out what the issue was.

I think that this is an issue of labels.  What are you passing to `Train()` as your responses?  For `NegativeLogLikelihood`, this should be the desired response at each time step, from

[2019-10-24 23:11] chase-metzger commented on #2048
This is how numLetters is defined, basically accounting
[code]
...
And this is the current implementation of the responses function
You are correct about the `numLetters`, I'm basically trying to get the network
to output the next letter in a sequence from the learned model. So I was following that
tutorial and it seemed like the number of classes should be the number of letters that it can possib

[2019-10-25 02:04] chase-metzger commented on #2048
Ok, so I've tried making the shape of the responses and encoding as described.

It's giving me a `error: matrix multiplication: incompatible matrix dimensions: 128x256 and 512x32`
Where I believe that from the debugger I've figure the 256 is the number of classes, 128 is the `hiddenSize` and I think the 32 is the batch size of the `LSTM` layer.

[2019-10-25 10:57] vss96 commented on #2051
Hey @Raahul-Singh, are you working on this?

[2019-10-25 18:16] vss96 commented on #2005
@ShikharJ @rcurtin  is this fixed? I would like to have a jab at it if no one is working on it.

[2019-10-26 13:57] walragatver commented on #2051
Hi @vss96,
It looks like @Raahul-Singh is quite busy. So please feel free to work on this. :+1:

[2019-10-26 16:34] rcurtin commented on #2048
What happens if you remove the `Dropout` layer?  I looked through the `LSTM` code and based on what you wrote in the initial post and what I see in there, I think the output size from that layer should be `256x32`.  So if that is actually `512x32`, I'm not totally sure where that issue is coming from.

Anyway, I'm happy to try and debug it but I want to make sure I'm using the same code as you...

[2019-10-27 12:10] marcespie opened #2064 "stb_image versioning"
#### Issue description

auto download of files won't work in packaging environment.

#### Your environment

 * version of mlpack:
 * operating system: OpenBSD
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

since we have a jailed user for building packages, grabbing stb_image can't work

#### Expected

[2019-10-27 13:00] marcespie commented on #2064
looking some more at cmakelist, this is a complete mess

${CMAKE_BINARY_DIR}/deps, really ?

Those files don't ever belong in a binary dir. They are include files. If anything, they should be installed under the mlpack include dir...

[2019-10-27 18:14] rcurtin commented on #2064
Sorry that this is a little frustrating, but I am sure we can make it better. :)  In this particular case, you can disable the STB downloading behavior via `DOWNLOAD_STB_IMAGE=OFF`, and CMake will try to find a version already installed on the system.  That (optional) behavior was included for the same reason the ensmallen auto-downloader is: neither of those dependencies are in widespread availab

[2019-10-28 17:48] #2061 closed

[2019-10-29 11:50] Vasniktel commented on #2055
Thanks for the reply!
I wanted to briefly summarize here everything that bindings should handle to make sure I'm not missing anything:

1. provide functions for language-specific formatting of documentation comments
2. provide mappings from Arma to some numpy-alternative for Java
3. provide a way to allow users to efficiently pass model back and forth

As for the implementation, I thought to do th

[2019-10-29 14:23] knakul853 commented on #2013
Hi!
I would like to start contributing with this issue, any kind of guidance will be helpful

[2019-10-29 19:18] zoq commented on #2013
Hello @knakul853 there are similair PR's open or merged that should be helpful:

- https://github.com/mlpack/mlpack/pull/2059
- https://github.com/mlpack/mlpack/pull/2057

if you like you can take a look at the softmax regression method. Let me know if I should clarify anything.

[2019-10-29 20:13] knakul853 commented on #2013
@zoq  thanks

[2019-10-29 21:58] chase-metzger commented on #2048
@rcurtin Thanks. Unfortunately, I’m in California during the power shut offs and fires. So I won’t be able to upload a repo until possibly Friday.

I did try removing the Dropout layer before losing power. I think it gave a different result that was closer to what you describe. Also the 512, was my mistake. I tried changing one variable from 256 to 512 before posting that, just to see what would h

[2019-10-30 10:40] Raahul-Singh commented on #2051
@vss96 Hi! Sorry for replying so late. I am working on it but I am facing some difficulties, following the code. Please go ahead with it, and I hope to learn from your implementation too!

[2019-10-31 02:25] rcurtin commented on #2055
Hey @Vasniktel, right, this is correct.  I think ND4J is a reasonable approach.  It would be really great if there was some way to avoid memory copying, but I agree that it could be difficult.  Unfortunately needing to copy the data can cause a slowdown that erases the advantage of using mlpack (vs. native Java libraries).  I can see that ND4J matrices are laid out in memory in the right way:

htt

[2019-10-31 15:55] zsogitbe opened #2069 "Recurrent Network Test"
I am testing the recurrent neural network code and there are some things which are not clear in the included testing code:

1. In RNNSineTest (regression) it is stated at the end that "Adjust the vectors for comparison, as the prediction is one step ahead.". Could you please tell me why the prediction is one step ahead, what causes this? I do not see immediately that this is caused by the way how

[2019-10-31 16:14] Vasniktel commented on #2055
Thanks for the reply, @rcurtin. I was curious whether there is any documentation on Armadillo's memory ownership rules (e.g. how to figure out whether the memory of a matrix is owned by it or not and how to set these parameters).

[2019-10-31 16:20] rcurtin commented on #2055
Yes, absolutely, check this out:

http://arma.sourceforge.net/docs.html#Mat

The "advanced constructors" allow you to create a matrix wrapped around pre-allocated auxiliary memory (it won't copy it if `copy_aux_mem` is `false`.

You can also get the underlying memory of a matrix with `Mat::memptr()`.

For knowing what the memory state of an Armadillo matrix is, the `Mat::mem_state` member can be u

[2019-10-31 22:19] chase-metzger commented on #2048
Heres a gist that has all the main implementation minus all the file loading.

Currently, it gives `error: matrix multiplication: incompatible matrix dimensions: 128x256 and 1x1`
Which seems really odd to me that there's a 1x1 that's getting passed, I assume that's the part of the
target I constructed.

https://gist.github.com/chase-metzger/cd3b9cc41796c42dfecc015e8732d0da

--Thanks for all the he

[2019-11-01 02:57] rcurtin commented on #2048
Hey @chase-metzger,

I took a dive into the code and saw some things that could be the issue.  I did manage to make it work.  I'll go through each bit:

1. An LSTM with an FFN doesn't make too much sense, so I'd suggest switching back to the RNN.

2. An `IdentityLayer<>` is required as the first layer of an RNN if an LSTM is used for the first layer.  This is so that backpropagation through time w

[2019-11-01 03:06] rcurtin opened #2070 "A too-large rho value causes a failure, but maybe it shouldn't"
#### Issue description

While working with #2048, I noticed that if `rho` is longer than the sequence length, an error is given:

[code]

However, if `rho` is longer than the sequence length, I think we should instead handle this gracefully, and only perform a number of BPTT steps equal to the sequence length.  (I am not 100% certain on that, but at a glance, that seems like it should be the right

[2019-11-01 03:08] rcurtin commented on #2048
I opened #2070, and also #1267 and the related PR #1366 are relevant here---I think support like that would have helped the network be the right size.

[2019-11-01 03:18] rcurtin opened #2071 "RNNs and FFNs should issue clear errors if the input is the wrong shape"
#### Issue description

When building a neural network, it's often the case that getting the input shape right can be a little confusing (for instance, see #2048, although that is far from the only issue of that type).  Unfortunately, the error output we have now is not so great.  Take this example, where I've passed an 11-dimensional input to an RNN whose first layer has 256 neurons:

[code]

Tha

[2019-11-01 03:52] chase-metzger commented on #2048
Wow, you have gone above and beyond to help me( relative to many other opensource projects)

Maybe I can make a few suggests to docs in the future (one for now)
* I didn't see anywhere that the `IdentityLayer` has to be the first layer of an `RNN` if `LSTM` is used
(It makes sense though)

Everything you describe makes sense. I was so lost in the matrix ops in the beginning, compared to `numpy` or

[2019-11-01 04:20] rcurtin commented on #2069
Hey @zsogitbe, I think I can answer the questions (but if someone else has a better answer they should correct me :)).

I think that the meaning here has to do with what's being predicted.  For the noisy sine input, the task is to predict the *next* input.  If you take a look at `GenerateNoisySinRNN()`, you can see that the output is the sine's value `rho` time steps ahead.  (So, actually, it is `

[2019-11-01 06:45] khizirsiddiqui commented on #2071
@rcurtin I would like to take up this issue.

[2019-11-01 08:04] zsogitbe commented on #2069
Thank you Ryan! I will try to summarize what you have said. Please correct me if I am wrong). There are also a few more questions and suggestions ;).

1. The code
  `labels.subcube(0, i, 0, outputSteps - 1, i, 0) = y.rows(i * rho + rho, i * rho + rho + outputSteps - 1);`
should be changed to
  `labels.subcube(0, i, 0, outputSteps - 1, i, 0) = y.rows(i * rho + 1, i * rho + rho + outputSteps - 1);`

[2019-11-02 12:21] shrit opened #2073 "Epoch number does not increase when training ann"
Hello,

I training a forward neural network, two hidden layers and Adam optimizer. I put the train function inside a for loop to improve learning and reduce loss.
I am wondering if it is necessary to use this loop. In fact after adding the callbacks `PrintLoss()` `ProgressBar()` I have noticed that the epoch number does not increase during the training and still fixes on `1/29`.
The trained model

[2019-11-02 13:27] jaibhageria commented on #2051
Hey @vss96 are you working on this issue?

[2019-11-02 15:44] #2064 closed

[2019-11-02 15:45] rcurtin commented on #2064
With #2065 merged, I think this is fixed now.  We can reopen (or open other issues) if needed, of course.  If there are any other things to be fixed---don't hesitate to file bug reports. :)

[2019-11-02 16:19] vss96 commented on #2051
@jaibhageria Couldn't get around to it. You can pick it up if you want.

[2019-11-02 17:01] vss96 commented on #2051
@jaibhageria Just a heads up, some of the refactoring is not straightforward so take your time and do it :)

[2019-11-02 20:32] zoq commented on #2073
Hello @shrit so I just tested this one on:

https://github.com/mlpack/mlpack/blob/c17b731731dcf75d1a314608edcc5068d56e1a6d/src/mlpack/tests/feedforward_network_test.cpp#L44

meaning I passed: ``ens::PrintLoss(), ens::ProgressBar(), ens::EarlyStopAtMinLoss(), ens::StoreBestCoordinates<arma::mat>()`` to the ``Train`` method and I can't see the situation you described above. So maybe this is specific

[2019-11-02 20:52] shrit commented on #2073
@zoq  Thanks for your answers,
In fact, I have set already ` optimizer.ResetPolicy() = false;` but I commented it just before to test without it.
Here is the code of the model, just to make everything clear:
[code]

Actually the problem still here even when removing the `ens::EarlyStopAtMinLoss()` This is the output from the terminal when training:
[code]
Looking at the above output why the Epoch

[2019-11-02 21:48] zoq commented on #2073
An epoch is an iteration over the entire data, so ``29/29`` would mean you trained the model 20 x over the entire dataset. However a single epoch should reach ``100%``, is printed output above from a single iteration or are this multiple iterations (``i = 0, i=1, i=2, ... i=300``)?

Besids ``EarlyStopAtMinLoss`` the training will also abort if the minimal objectiv is reached:

https://github.com/m

[2019-11-02 22:19] rcurtin commented on #2071
Sure, feel free---once you have a PR ready I'll do my best to review it quickly. :+1:

[2019-11-02 23:12] shrit commented on #2073
In fact, the output lines are from the `for loop (i = 0, i=1, i=2, ... i=300)`
If I put `i < 1`, I will have only the first lines printed.
I have never seen `29/29`, only `1/29`. Also, it will never print `100%`. it only prints `89%.`
I have set `optimizer.Tolerance() = -1;`
I do not understand why the model.Train() return after only one epoch, can we change the number of epoch??
Also, the ETA is

[2019-11-03 13:43] ashutosh-b-b commented on #2025
Is the issue still free to work on? Where do I start?

[2019-11-03 14:12] rcurtin commented on #2025
@ashutosh-b-b thanks for the interest---in this case, @adityaviki already opened #2050 to handle this issue.  You can take a look at the PR and review it too if you like. :+1:

[2019-11-03 14:19] zoq commented on #2073
I think what happens here is that:

https://github.com/mlpack/ensmallen/blob/7c37b614e35bd1e8f2131d5ee631013493be53bf/include/ensmallen_bits/sgd/sgd_impl.hpp#L176

is true, and the optimization process is stopped after the first epoch; that the progress only shows 89% is strange, do you think you can share the data you used as well?

[2019-11-03 14:32] rcurtin commented on #1872
With #1885 merged, I think that we can close this. :)  Next I will move towards getting mlpack Python bindings packaged for PyPI on Windows.

[2019-11-03 14:32] #1872 closed

[2019-11-03 18:34] shrit commented on #2073
@zoq I can try to send you a part of the data by email.
I have decreased the tolerance to -1 as you have requested.
Is it ok to send you the data by the email shown on your profile page?

I have changed Adam to SGD, which uses Adam update rule, The problem still here even after using SGD and it stops also on `89%`. However, the loss decreased dramatically using SGD which I do not understand
[code]

[2019-11-03 19:26] shrit commented on #2073
@zoq  You are right, something has to do with the dataset (which is also strange).
For example, I have changed the data set with a much smaller one.
In this case, the epoch stops at `25/794` and complete to `100%`
It still strange, because the loss continues to decrease when the second `for loop (i=1, i=2, ...)`

Please, have a look at the training after the epoche `25`, it stops at `98%`
[code]
I

[2019-11-04 14:09] zoq commented on #2073
You are right, there is no time limit, what is the size of the dataset?

[2019-11-04 14:10] shrit commented on #2073
About 12 mega bytes

[2019-11-04 14:13] zoq commented on #2073
Sorry for the confusion, I was talking about number of rows, cols.

[2019-11-04 14:14] shrit commented on #2073
Ok, consider row major matrix, 120k rows, and 23 columns

[2019-11-04 16:39] zoq commented on #2073
Okay, thanks, let's see if I can reproduce the issue, just by using some dummy dataset that has the same dimensions.

[2019-11-05 13:07] HugoSoszynski opened #2078 "Missing delete in RangeSearch"
#### Issue description

Hi,

Has I was testing my program with valgrind memcheck and it seems like I came accross a missing `delete`.
This seems to come from the RangeSearch constructor using `new` without deleting the allocated object (maybe because `naive` is not true ?).

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: Ubuntu 19.04
 * compiler: g++ (Ubuntu 8.3.0-6ubuntu1

[2019-11-05 20:02] rcurtin commented on #2078
Hey @HugoSoszynski, thank you so much for the clear bug report.  It made it easy for me to dig in and figure out what the problem was, and I've opened a PR in #2079. :+1:

[2019-11-05 20:20] HugoSoszynski commented on #2078
Thanks a lot @rcurtin for the quick response and fix !

[2019-11-06 04:39] rcurtin commented on #2048
Happy to help!

You're right that the documentation could be improved; I opened #2080 as an attempt, and it should hopefully help.  Feel free to comment on that if you have any suggestions.

It's definitely true that the matrix operations are a little bit different with Armadillo and C++ than they would be in other packages.  It's meant to be like the MATLAB syntax, but that's definitely a bit dif

[2019-11-08 15:20] #2024 closed

[2019-11-08 16:23] shrit commented on #2073
@zoq Do you have any new results? Can I help?

[2019-11-10 14:20] himanshupathak21061998 commented on #2070
@rcurtin I want to work on this issue

[2019-11-10 20:49] rcurtin commented on #2069
Sorry, I think that I misunderstood the code in `GenerateNoisySinRNN()` a little bit.  To be more specific, the data we are generating works like this:

 * We generate `rho` time steps of the noisy sine sequence.
 * The output is the result *after* `rho` time steps.

So, essentially, for this problem, we have `rho` time steps of data, followed by a single output, which is the data at time step `rh

[2019-11-11 11:19] zoq commented on #2073
Sorry, I have forgotten to look into this, unfortunately I'm not sure I can look into this today, but definitely tomorrow. Also, can you send me a subset of the data per mail?

[2019-11-11 18:45] #2078 closed

[2019-11-12 15:32] shrit commented on #2073
Ok I will send you the dataset

[2019-11-12 21:27] zoq commented on #2073
Thanks, so I haven't seen that you haven't configured the number of iterations: `maxIterations` which is per default set to 100000 which is less than the number of samples in your dataset. So you could either increase the number of iterations or set it to 0 which will not limit the number of iterations. Let me know if I should clarify anything.

[2019-11-13 13:37] shrit commented on #2073
@zoq, That resolve part of the problem.
However, why the epoch number does not increase?

[2019-11-13 18:06] shrit commented on #2073
@zoq, I think I understand better now.
Actually the `epoch` number is related to the `MaxIterations` number.
`epoch = MaxIterations / dataset.size()`
If this the case, What does the max epoch number represent if it can not be reached automatically?
For example, in my case, when `MaxIterations` was equal to `100000`, the max epoch was 794. After I increased the MaxIterations to 1000000 the max epoc

[2019-11-13 19:02] zoq commented on #2073
That depends on the number of samples in the dataset, it's basically a default value, which has to be tailored down in each case. But I can see the confusion. Do you think it would be helpful to use max(MaxIterations, dataset.size()) as the default value,? In which case we make sure we iterate at least once over the entire dataset? @rcurtin what do you think?

You mean, not returning before we rea

[2019-11-13 20:29] shrit commented on #2073
I agree with you,  at least we need to iterate once thought out the entire dataset.

Exactly. Why?
Otherwise the number of epochs defined does not mean a lot of things am I right?

[2019-11-13 23:37] rcurtin opened #2084 "Add manual type specification support to `data::Load()` and `data::Save()`"
Right now the mlpack `data::Load()` and `data::Save()` functions automatically determine the type of the file based on the extension.  You can see the documentation here:

http://mlpack.org/doc/mlpack-3.2.1/doxygen/namespacemlpack_1_1data.html#a19805d6585ac8b0be7c4e4b7f081977c

(and the sources are `src/mlpack/core/data/load.hpp`, `src/mlpack/core/data/load_impl.hpp`, `src/mlpack/core/data/save.hp

[2019-11-14 02:37] rcurtin commented on #2073
This one is a little bit tricky---most neural network literature and software uses the idea of an "epoch", or a full pass over the dataset, but the more general optimization literature doesn't necessarily do that.  So personally I think the idea of an "epoch" is a little bit specific to deep learning and machine learning, but ensmallen isn't necessarily specific to those fields.

One solution migh

[2019-11-14 16:02] knakul853 commented on #2084
Taking up : )

[2019-11-15 21:20] #2049 closed

[2019-11-21 18:05] rcurtin commented on #1877
@amirmasoudabdol just checking in to see, are you still interested in looking into this?

[2019-11-21 19:07] KimSangYeon-DGU opened #2091 "__version__ is missing in __init__.py"
#### Issue description
In python,`__version__` is missing in the `__init__.py` file. I think it would be nice if we can check the version of mlpack in python.

Possible solution:
[code]

#### Your environment

 * version of mlpack: 3.2.1
 * operating system: Ubuntu 16.04 LTS

#### Steps to reproduce
[code]

#### Expected behavior
3.2.1 (or a current version of mlpack)

[2019-11-23 02:54] piyush26c commented on #2091
Tyro for this organization, working on this good first issue @KimSangYeon-DGU

[2019-11-23 03:05] rcurtin commented on #2091
@piyush26c just FYI, @KimSangYeon-DGU opened a PR in #2092, maybe you could take a look at that and see if it makes sense, perhaps help review it too?  Up to you. :+1:

[2019-11-23 03:10] piyush26c commented on #2091
Okay sir.... will look into it :+1:

[2019-11-25 16:31] rcurtin commented on #2042
No need to close this until #2081 is done.

[2019-11-25 20:27] rcurtin commented on #2091
Fixed via #2092. :+1:

[2019-11-25 20:27] #2091 closed

[2019-11-26 16:30] Vasniktel commented on #2055
Hey, @rcurtin, I've been investigating Julia bindings and I've noticed that you used `points_as_rows` parameter everywhere. I'm currently writing bindings for categorical matrices, and I'm curious, whether I should use something similar as well

[2019-11-27 06:36] tomjpsun opened #2097 "Link error caused by incorrect 'Libs' entry in mlpack.pc file"
#### Issue description

The `Libs` entry of mlpack.pc  seems to be incorrect, which causes the link error.

#### Your environment

 * version of mlpack: 3.2.2
 * operating system:macOS 10.14.6
 * compiler:clang++
 * version of dependencies (Boost/Armadillo):Boost 1.71, Armadillo 9.800
 * any other environment information you think is relevant:
         clang version 9.0.0 (tags/RELEASE_900/final)

[2019-11-27 10:46] amirmasoudabdol commented on #1877
@rcurtin I'm, and I actually ran quite a few tests and experiments, but I had to do some "real" work and had to stop with this. One of the main difficulties was super slow build of Sphinx. While this is expected, it makes experimenting rather cumbersome. I try to see if I can pick it up again.

[2019-11-29 11:32] Vasniktel commented on #2055
Ok, I've made a PR #2100

[2019-11-29 16:23] rcurtin commented on #2055
@Vasniktel wow, awesome!  Usually these are pretty intense to review so it might be a little while until I can really give it a good look-over.  I'm hoping to take a first look today though; we'll see how far I get. :+1:

[2019-11-30 00:42] rcurtin commented on #1877
@amirmasoudabdol ah, yeah; well, if it makes you feel better, mlpack itself already builds slowly so if Sphinx does too it is not the biggest issue for deployment. :)  Of course I can see how that would make development hard though...

@gmanlan has put together a new prototype website at https://github.com/mlpack/mlpack.org/pull/9 and suggested that moving to Sphinx could really help clean things

[2019-11-30 00:57] rcurtin commented on #2097
Hey @tomjpsun, thanks for reporting the issue!  I opened a PR in #2101.  The fix turns out to be easy. :)  Nice to know someone is getting use out of the pkgconfig files!  I think they make it a lot easier to link against all the mlpack dependencies.

[2019-12-02 15:12] rcurtin commented on #2097
Fixed via #2101---let me know if that doesn't fix your issue. :+1:

[2019-12-03 17:07] barak opened #2103 "Doesn't find /usr/include/stb/stb_image.h"
## Issue description

The CMAKE configuration scripts don't notice `/usr/include/stb/stb_image.h` which is where the Debian `libstb-dev` package keeps it.

#### Your environment

 * version of mlpack: 3.2.2
 * operating system: Debian stable & sid

#### Steps to reproduce

Try to build with stb downloading disabled and `libstb-dev` installed and no previous version of `libmlpack-dev` installed (wh

[2019-12-03 17:17] rcurtin commented on #2103
Strange.  I know on Fedora we couldn't use the provided STB package because it didn't come with `stb_image_write.h` but on Debian (at least in sid), it does.  If `stb_image_write.h` isn't available in the particular version of `libstb-dev` you are using, that could be the reason.  However, I'm able to reproduce the issue on the sid system I am running, so I'll look into this later today.

By the w

[2019-12-03 17:44] barak commented on #2103
In my development repo I'm fixing it with `-DSTB_IMAGE_INCLUDE_DIR=/usr/include/stb` which works fine. So not a pain point for me. But I thought it might be for others.

And yeah, I'm also now using `-DDOWNLOAD_ENSMALLEN=OFF -DDOWNLOAD_STB_IMAGE=OFF` just in case. (The Debian powers-that-be really frown upon network access by packages being autobuilt, in fact the issue got this package removed. An

[2019-12-03 17:58] rcurtin commented on #2103
Sure, I can do that too, I'll wrap it into the PR fix.

Do you mean that the mlpack package just got dumped from bullseye because it tried to download something?  Seems odd to nuke the package instead of opening a bug and fixing it...

[2019-12-03 18:03] rcurtin commented on #2103
Oh, I see, https://bugs.debian.org/cgi-bin/bugreport.cgi?bug=942393 was just open for a while.  I guess it makes sense, although still I don't get why leaving 3.0.4 in bullseye wouldn't have worked.  Anyway, I'm always happy to help, but I'm not a Debian packager (and not sure I have time to become one), so I'm not sure of a way to keep us informed here of any issues downstream in Debian.

[2019-12-04 05:38] rcurtin commented on #2103
I opened #2104, which should fix the issue. :+1:

[2019-12-04 06:28] jzy95310 opened #2105 "Setting up mlpack on Windows"
Hi Developers,

I think the tutorial of building mlpack on Windows is not friendly to users who is not familiar with bash commands and Visual Studio.

It took me 4 days to install the mlpack and its dependencies, and up to now I still cannot make it work in Visual Studio. At first I tried installing mlpack with vcpkg, and it took about 7GB space to download and install the whole package. Then it s

[2019-12-04 07:44] rcurtin commented on #2105
Hey @jzy95310, thanks for the feedback and sorry that things were frustrating.  The "official" tutorial at http://mlpack.org/doc/mlpack-3.2.2/doxygen/build_windows.html is the best that we have to offer.  Unfortunately, very few of mlpack's developers use Windows natively, and doing development on Windows is *just plain hard* due to the unsuitability of the environment.  That's not a knock against

[2019-12-04 08:45] tomjpsun commented on #2097
Test on [Commit:e35ef2e24](https://github.com/mlpack/mlpack/commit/e35ef2e249be997f03afb51d78d509979583ec32)
Generated mlpack.pc is:

The armadillo is OK now, while the Boost libs have incorrect formats.
Since it is get from the CMake `FindBoost` call.
No idea about what 'mlpack' should fix.

[2019-12-04 13:24] barak commented on #2103
That's my job!

[2019-12-04 15:18] zoq commented on #2105
I guess an option would be a guided batch file, that installs and configures all dependencies. Do you think that would be helpful? But I agree Windows improved over the years but I don't think it matches the simplicity of other systems.

[2019-12-04 16:46] rcurtin commented on #2097
I guess you are using Boost 1.70? I am not sure why or how they rewrote the CMake scripts so significantly in that version. I have been working around it with the CMake option `-DBoost_NO_BOOST_CMAKE=1`.  I'll reopen this issue and look into some kind of solution that doesn't need that workaround.

[2019-12-04 18:55] barak opened #2106 "Python3 Bindings"
I'd like to generate an mlpack Python bindings package for Debian. It's no problem for Python2 (in fact I've pushed the required code to my mlpack fork on github) but that's frowned upon: Python2 is EOL on Debian, and they don't want new modules for it: only Python3.

So, my question/request: do you folks plan to support a Python3 module?

[2019-12-04 18:56] rcurtin commented on #2106
Already do! :)  Try `-DBUILD_PYTHON_BINDINGS=ON -DPYTHON_EXECUTABLE=/path/to/python3`.

[2019-12-04 19:13] #2106 closed

[2019-12-04 19:14] barak commented on #2106
Maybe update the documentation accordingly?

[2019-12-05 04:52] rcurtin commented on #2097
I opened #2107 to work around the Boost CMake issue.  My conclusion is that it would be a massive undertaking to revamp the CMake configuration, and it wouldn't be worth it, so I think we can just hardcode the workaround.

[2019-12-05 06:16] jzy95310 commented on #2105
Hi @rcurtin,

Thank you so much for your advice! I think I can try building mlpack on Linux using VitualBox. Currently I have Ubuntu 18.04 installed. However, the sudo command still does not seem to work for me. It always prompts me an error saying "E: Could not open lock file /var/lib/dpkg/lock-frontend - open" when I try installing dependencies with apt-get. Shall I change to a lower version of

[2019-12-05 09:40] zoq commented on #2105
This is an Ubuntu related issue, https://itsfoss.com/could-not-get-lock-error/ might be helpful. Also maybe instead of using VirtualBox, you could use Windows Subsystem for Linux?

[2019-12-05 12:33] tomjpsun commented on #2097
IMHO, I agree with the considerations in #2107 . For now its a better choice to go ahead. Thanks for reviewing this problem.

[2019-12-05 14:21] jeffin143 commented on #2106
![IMG_20191205_194949](https://user-images.githubusercontent.com/21286134/70243420-8dd16680-1798-11ea-9578-aaf4e8424b42.jpg)

@barak , it's there
How can we make it like bold ??
Or bullet points

[2019-12-05 15:12] barak commented on #2106
Maybe "to build for Python3, specify -D...=/usr/bin/python3" in `README.md` where it talks about building Python bindings?

[2019-12-05 19:12] qureshinomaan opened #2108 "No homebrew tap/formulae for mlpack."
# Issue Description
Homebrew is an opensource package management system for macOS users. It is very easy to install libraries using homebrew. <br >
For Example
[code]
If would be great if we can add a tap/formula for mlpack too!.

[2019-12-05 21:52] zoq commented on #2108
mlpack was part of homebrew/science: https://github.com/Homebrew/homebrew-science which was deprecated some time ago. I did setup: https://github.com/zoq/homebrew-mlpack that can be tabbed or you could use it directly. I'm planning to integrate the steps into a mlpack build page on the homepage.

[2019-12-05 22:09] rcurtin commented on #2108
@zoq maybe we should submit the `homebrew-mlpack` to the upstream `homebrew` repo? https://github.com/Homebrew/homebrew-core

[2019-12-05 22:12] zoq commented on #2108
Definitely, will checkout the necessary steps.

[2019-12-06 03:22] conradsnicta opened #2109 "new mlpack website has old download link"
http://mlpack.org provides a download link for mlpack 3.1.1, which is outdated; should be 3.2.2 ?

[2019-12-06 03:31] rcurtin commented on #2109
Crap! It was supposed to deploy to a test location during merge. I will have it fixed before I go to bed.

[2019-12-06 06:20] jzy95310 commented on #2105
@zoq Thank you! I will give it a try.

[2019-12-06 06:32] walragatver commented on #2051
Closing this as #2082 is merged

[2019-12-06 06:32] #2051 closed

[2019-12-06 07:17] rcurtin commented on #2109
Ok, the link at least seems correct now. I still have to do a pass on the whole site to make sure everything is right, but the biggest issue is fixed for now.

[2019-12-06 07:17] #2109 closed

[2019-12-06 15:12] qureshinomaan commented on #2108
OK, Thanks.

[2019-12-06 17:48] gmanlan commented on #2109
@rcurtin: I think the links @ http://mlpack.org/getstarted.html are still pointnig to the previous mlpack version (MSI/ZIP).
Also, the link to github was not updated (http://mlpack.org/github.html) - there is a comment in the MD that says it should get updated during deployment.

Looking nice!

[2019-12-07 08:24] yashagrawal3 commented on #1909
Hello @rcurtin , I installed mlpack using `$ sudo apt-get install libmlpack-dev` and tried running example mentioned in [quickstart](https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/cli_quickstart.html), but CLI shows `zsh: command not found: mlpack_random_forest
`. Any suggestions on how I can fix it?

[2019-12-07 21:12] rcurtin commented on #1909
Hey @yashagrawal3, you should feel free to open a new issue for this. :+1:  The quickstart points out that the package name is `mlpack-bin`---on Debian and Ubuntu, it's split into a few different packages (`libmlpack3` for the shared library itself, `mlpack-bin` for the command-line programs, `mlpack-doc` for documentation, and `libmlpack-dev` for headers).  Can you tell me what part of the docume

[2019-12-07 22:53] yashagrawal3 commented on #1909
I started from [quickstart](https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/cli_quickstart.html) and used the command `sudo apt-get install mlpack-bin` as mentioned. Following example failed to run showing `zsh: command not found: mlpack_random_forest`. Then went onto [this](https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/build.html) page and installed `libmlpack-dev`, but random forest still seem

[2019-12-07 22:58] rcurtin commented on #1909
What version of mlpack did you install?  Did you check that random forests are available in that version?

[2019-12-07 23:01] yashagrawal3 commented on #1909
version`2.2.5-1build1`, It says it's the latest version. Since random forest was mentioned in the very first example, I assumed it will come pre-installed with the latest version.

[2019-12-07 23:09] rcurtin commented on #1909
The latest version of mlpack is 3.2.2.  You can see from the changelog that random forests were added in version 3.0.0: http://mlpack.org/doc/mlpack-3.2.2/cli_documentation.html#mlpack-300

You'll have to file a bug with the Ubuntu packagers to have them pull a newer version in.  Your other options are to use a newer version of Ubuntu (here is the list of Ubuntu versions and mlpack versions: https

[2019-12-07 23:50] rcurtin commented on #2109
@gmanlan thanks for pointing that out---fixed now.  I can't see any other issues with the deployment, so I'll work on turning the rest of the comment into issues on the mlpack/mlpack.org repository. :+1:

[2019-12-09 04:36] qureshinomaan opened #2111 "Can compile time on loading modules be reduced?"
#### Issue description
Hey there, I am trying to use mlpack for making simple neural networks.
The compile time on including the ann modules is around 10sec. Can this time be imporved?
![Screenshot 2019-12-09 at 9 46 15 AM](https://user-images.githubusercontent.com/47175751/70407030-bf805100-1a68-11ea-820c-dcc77f856849.png)
![Screenshot 2019-12-09 at 9 48 21 AM](https://user-images.githubuserconte

[2019-12-09 15:31] rcurtin commented on #2103
With #2104 merged, I think we can call this one done.  As always please report more if there are more issues. :)

[2019-12-09 15:31] #2103 closed

[2019-12-10 02:52] rcurtin commented on #2097
:+1: since #2107 is merged, I'll go ahead and close this.  Maybe someday we will redo the CMake configuration but it doesn't need to be today.

[2019-12-10 02:53] #2097 closed

[2019-12-10 02:59] rcurtin opened #2113 "Revamp CMake configuration to "modern" CMake"
This issue came about as a result of #2107, which disables Boost's CMake configuration scripts because mlpack's CMake configuration is written in "old-style" CMake.

An introduction to the difference between "old" and "modern" CMake can be found at these resources:

 - https://cliutils.gitlab.io/modern-cmake/
 - https://pabloariasal.github.io/2018/02/19/its-time-to-do-cmake-right/
 - https://gist.

[2019-12-10 03:31] rcurtin commented on #2111
I wish I had a satisfying answer for you here.  The answer is yes---compile time *can* be reduced.  But the bad part of the answer is that it would be something of a massive undertaking.

Last time that I profiled the compilation process, about half the time was spent on includes.  So if you can use precompiled headers or something like this, you can reduce the footprint of parsing all the `mlpack

[2019-12-10 05:40] walragatver opened #2114 "Adding 'Valid' and 'Same' padding option in Transposed Convolution layer."
This task is similar to #1988. In #1988 Valid and Same padding option is added into `Convolution` and  `Atrous` Convolution Layer. Similar is to be done for the `TransposedConvolution` Layer. This is a good first issue for new users.

Following would be the basic steps to do:
1. Glance through the changes made in #1988.
2. Then look at what does `Valid` and `Same` option would mean for `Transposed

[2019-12-12 00:45] qureshinomaan commented on #2114
I have gone through the docs. I don't have much experience with Armadillo and Boost, but I feel I can learn the basic syntax by working on this issue.

[2019-12-12 05:26] walragatver commented on #2114
HI @qureshinomaan ,
Feel free to go ahead.

[2019-12-13 06:20] #2048 closed

[2019-12-14 11:59] shrit commented on #2073
@zoq keep it open?

[2019-12-14 13:27] zoq commented on #2073
Good idea, let's keep this open.

[2019-12-14 13:39] dihelium opened #2115 "Errors in trying to install mlpack on OSX 10.15"

[2019-12-14 13:48] dihelium commented on #2115
Hi, I was trying to install mlpack on OSX 10.15(MacOS Catalina), and I'm getting the following errors, when i execute the command:
‘’’
make -j4
‘’’
‘’’
 build % make
[  0%] Updating arma_config.hpp (if necessary)
[  0%] Built target mlpack_arma_config
[  0%] Updating gitversion.hpp (if necessary)
-- Found Git: /usr/local/bin/git (found version "2.24.1")
-- gitversion.hpp is already up to date.
[

[2019-12-14 14:00] zoq commented on #2115
Can you run `xcode-select --install`, does that help?

[2019-12-14 14:01] dihelium commented on #2115
Hi @zoq xcode command line tools are already installed.

[2019-12-14 14:17] zoq commented on #2115
You could replicate that with:

`cmake -DCMAKE_CXX_FLAGS="-isystem /Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/usr/include" ..`

or

`cmake -DCMAKE_CXX_FLAGS="-I/path/to/header/files" ..`

Did you modify the search path?

[2019-12-14 15:00] dihelium commented on #2115
Hi @zoq , executing the first command in the directory ~/mlpack-3.2.1 gives the following output, of which I'm only showing the last line, since it seems the command executed successfully:
'''
Build files have been written to: /Users/sharvankumar/mlpack-3.2.1
'''
But when I run
'''
make -j4
'''
in the build subdirectory of the mlpack-3.2.1 directory, I'm still getting the same errors as before

[2019-12-14 17:23] rcurtin commented on #2073
It seems like we did not decide on what a solution should be here or what we should do in order to close the issue.  Maybe we should start by defining what we need to change or improve?

[2019-12-14 17:27] rcurtin commented on #2115
It really looks like the compiler setup is not right on your system and I'd suggest fixing that otherwise compiling everything will be hard. :)  Setting `-isystem` would kind of just be a workaround; ideally you would want your compiler to automatically point to the right place for the system includes.  You could try installing a compiler via Homebrew and abandon the Xcode approach---maybe that wo

[2019-12-14 21:25] knakul853 commented on #2113
@rcurtin  book is really nice, I found it very broad but something new and challenging

[2019-12-14 21:26] shrit commented on #2073
I think there are two things to consider from this issue:
1) Be sure to iterate and achieve a full pass on the entire dataset.
2) Understand why `Train()`is  returning before we reached the number of epochs defined

[2019-12-15 19:14] PRISHIta123 opened #2116 "Object file for serialization_text.cpp taking unusually long to build"
#### Issue description

While building all the installed mlpack modules using the make command, the object file for serialization_text.cpp is taking unusually long to build. I have tried to use the make command to build other NLP modules belonging to mlpack such as the viterbi and hmm modules, it has successfully worked, but is taking more than 3 hours to build this particular object file, the bui

[2019-12-15 19:17] rcurtin commented on #2116
Thanks for the report.  How much RAM do you have?  I strongly suspect your system is swapping when compiling `serialization_test.cpp`.  Usually I'd recommend 2GB or more---compiling complex C++ template code unfortunately requires a lot of resources.

[2019-12-15 19:19] PRISHIta123 commented on #2116
I currently have 4 GB of RAM

[2019-12-15 19:20] PRISHIta123 commented on #2116
Is there a way to skip building this particular module, and continue with the other ones that are left?

[2019-12-15 19:21] rcurtin commented on #2116
Ok, great---that should be enough.  Do you know that all the RAM is available for use by your compiler?  Are you running Linux in a VM?  Can you check more about what resources the compiler is using and why it might have hung up?  There's nothing wrong (as far as I know) about the file itself, and I've never heard of this particular file causing slowdowns.

You can comment out `serialization_test.

[2019-12-17 07:50] jzy95310 opened #2117 "Build error in CMakeLists.txt"
I'm getting the following error when I try building with CMake in armadillo/build, and I'm sure I create a VS 2019 solution file in mlpack directory. Can someone explain what happens?

C:\Users\45329\Desktop\OPT Year 1\Github Open Source Project\mlpack\armadillo-9.800.3\build>cmake -G "Visual Studio 16 2019" -A Win64 -DBLAS_LIBRARY:FILEPATH="C:\Users\45329\Desktop\OPT Year 1\Github Open Source Pro

[2019-12-17 07:51] #2105 closed

[2019-12-17 11:31] PRISHIta123 commented on #2116
Yes, I am running Linux in a VM. It is working after I commented out the file in the CMake list.

[2019-12-17 17:22] #2116 closed

[2019-12-17 22:20] #2069 closed

[2019-12-18 07:26] dubesar commented on #2114
[code]

This is the code that we can add in the given file. But I am confused about how we can ensure the **same** and the **valid** keywords.

[2019-12-18 17:43] walragatver commented on #2114
Hi @dubesar, you can look through the codebase to understand what should be done about it.

[2019-12-18 19:00] birm commented on #2117
Hello, and thanks for the report.
For building mlpack on windows, [this link](https://github.com/mlpack/mlpack/wiki/WindowsBuild) to the wiki may be of use to you, in case you haven't already seen it.

If I'm reading your report correctly, it looks like you issue arises from the CmakeLists file in armadillo, [here](https://gitlab.com/conradsnicta/armadillo-code/blob/9.900.x/CMakeLists.txt#L40). Al

[2019-12-18 21:30] birm commented on #2108
I've added PRs for now following the guide [here](https://docs.brew.sh/How-To-Open-a-Homebrew-Pull-Request) based upon https://github.com/zoq/homebrew-mlpack (with some minor edits to pass audit)
PRs are at
https://github.com/Homebrew/homebrew-core/pull/48036 and
https://github.com/Homebrew/homebrew-core/pull/48033

[2019-12-19 02:01] abernauer commented on #2113
@rcurtin If you want help establishing a proper workflow for handling the issue open to helping. It's a pretty open ended issue and agree the scope is fitting of a GSoC project. I can write up some documentation on best practices for CMake to help whoever eventually tackles the issue.

[2019-12-19 05:20] kartikdutt18 commented on #2114
Hey everyone, I think I understand what needs to be done, is it ok if I try to contribute to this issue?

[2019-12-19 05:54] jzy95310 commented on #2117
@birm Many thanks for your advice! I adjust the Visual Studio project configuration, and there is no problem with MSBuild. However, now the CMake keeps saying that "No CMake_C/CXX_Compiler could be found", but I believe I have already installed MinGW GCC on my computer. Is that a correct C++ compiler for CMake or shall I use another compiler?

Error in command prompt:
-- *** set cmake policy CMP00

[2019-12-19 09:48] walragatver opened #2119 "Add padding feature in MaxPooling and MeanPooling layers."
Currently, our pooling layers doesn't have support for padding. However, that would be a nice feature to add.

The following are the basic steps to do this
1. Go through the following links and implementation of `mean_pooling` and `max_pooling` layers in `/src/mlpack/methods/ann/layer` folder to understand what is the requirement.

https://arxiv.org/pdf/1603.07285.pdf
https://keras.io/layers/pooli

[2019-12-19 09:50] walragatver commented on #2119
Hi @zoq, @sreenikSS, let me know what you think of the note I have added at the end.

[2019-12-19 11:40] knakul853 commented on #2113
@abernauer  that would be great to create a workflow, it will help a lot to start with : /

[2019-12-19 13:26] walragatver commented on #2114
Hi @kartikdutt18,
Not sure whether @qureshinomaan is working on it. If he is not working on it feel free to go ahead as I don't see any pull request opened up.

[2019-12-19 15:07] janish1999 commented on #2119
Hey @walragatver ,
     I'm a beginner with some knowledge of deep learning. Shall I take up this issue?

[2019-12-19 16:00] birm commented on #2117
There are some environment variables and cmake flags that can be used to specify where the compiler is; see this [stackoverflow post](https://stackoverflow.com/questions/32801638/cmake-error-at-cmakelists-txt30-project-no-cmake-c-compiler-could-be-found) which should walk you through that more thoroughly than I could.

If you're curious about why this may have happened, see if any of those values

[2019-12-20 08:02] jzy95310 commented on #2117
@birm Thank you so much for helping. I carefully went over the error log and found that CMake cannot identify the compiler because my Windows SDK is not correctly installed. I re-install the SDK and it now works fine.

[2019-12-20 08:02] #2117 closed

[2019-12-20 22:19] birm commented on #2113
I've added [an item](https://github.com/mlpack/mlpack/wiki/SummerOfCodeIdeas#build-system-cmake-modernization) to the GSOC ideas list just in case no one gets to this first.

[2019-12-21 05:29] kartikdutt18 commented on #2114
Hi @walragatver
Could you suggest some ways to test the changes made before sending a pull request?

[2019-12-21 18:17] walragatver commented on #2119
@janish1999, Feel free to go ahead.

[2019-12-21 18:19] walragatver commented on #2114
@kartikdutt18, If you refer to section 4 of the paper I have mentioned in my comment you can generate test case from the examples given in it.

[2019-12-21 18:23] kartikdutt18 commented on #2114
Thanks, I will test it out.

[2019-12-21 19:03] sreenikSS commented on #2119
@walragatver you are right with that info about Tensorflow. Although the output shape of the SAME padding is is equal to the input shape, the actual implementation seems to be slightly different.
Strangely enough, I found some info in a [pytorch thread](https://github.com/pytorch/pytorch/issues/3867).

[2019-12-21 19:30] walragatver commented on #2119
@sreenikSS, I hope you would not mind if we follow that 'SAME' padding means output size is same as input. Our current existing code support the given logic. If we wish to make our 'same' padding equivalent to 'tensorflow' one then we will need to change our code. Let me know what you think.
Also I digged quite a lot and found that various libraries have thier own way of implementation. Even keras

[2019-12-21 20:48] sreenikSS commented on #2119
@walragatver I have no issue with the implementation of the `same` padding we currently have. What you have mentioned regarding the inconsistency across several backends makes it even more cumbersome to find a standard definition other than the fact that the input and output dimensions remain the same (or at least tend to).

To summarize, I think what we have is sufficient.

[2019-12-22 09:00] AbhinavTalari commented on #2119
Hello , I'm a beginner, Can i Take up this issue and try?

[2019-12-22 15:12] rcurtin commented on #2119
Agreed, from my perspective I think that's just fine.  The key is just making sure that the functionality is well documented so that users can understand quickly and easily that it's not exactly the same as TF. :)

[2019-12-23 03:03] rcurtin commented on #2108
@birm this is really awesome!  Great to see the quick responses from the Homebrew team.  Feel free to triumphantly close this issue once they merge mlpack in. :)

[2019-12-23 05:03] walragatver commented on #2119
@janish1999, @AbhinavTalari and everyone else
There's no need to claim the issue---just work on it, and once you have a working solution, open a PR and someone will review it when they have a chance. :)

[2019-12-23 14:34] rcurtin commented on #2070
Solved via #2102.  Thanks @himanshupathak21061998!

[2019-12-23 14:34] #2070 closed

[2019-12-23 18:26] khizirsiddiqui commented on #2071
@rcurtin I have opened a PR, if you could look into it and see if it satisfies the requirement.

[2019-12-24 02:04] rcurtin commented on #2071
Awesome, thanks---I'll take a look when I have a chance.

[2019-12-24 02:25] rcurtin commented on #2073
Thanks for the comments; actually it looks like when things are terminating early, it is because the convergence criterion is met.  One thing that you could do from your end to prevent that is set `tolerance` to `-1`, or something like that, so that the optimizer will never terminate due to a convergence check.  I don't think there's any need to change the behavior of the optimizers in ensmallen f

[2019-12-25 06:11] unnamed082 opened #2124 "Example"
Hi, can you tell me an example of using mlpak for training a neural network (any) with color photos with tags
I don’t understand how to work with color channels, so I want to see an example of working code

[2019-12-25 11:16] Hemal-Mamtora commented on #2084
I would like to take this up

[2019-12-25 17:21] zoq commented on #2124
Hello @unnamed082 it's really similar to: https://github.com/mlpack/models/blob/master/Kaggle/DigitRecognizerCNN/src/DigitRecognizerCNN.cpp, once the data is loaded make sure the channels are vectorized, here is an example:

[code]

afterwards you have to adapt the input channels:

https://github.com/mlpack/models/blob/178ba4aa7c58a7a0bbd54de0118315380212445e/Kaggle/DigitRecognizerCNN/src/DigitRec

[2019-12-26 05:27] unnamed082 commented on #2124
thanks for the quick response, when I run DigitRecognizerCNN.cpp I get an error as I wrote here [but](https://github.com/mlpack/models/issues/35)
I can attach the whole project

[2019-12-26 05:27] unnamed082 commented on #2124
https://github.com/mlpack/models/issues/35

[2019-12-26 07:35] unnamed082 commented on #2124
@zoq
please tell me where is the error
I have been trying to deal with this example for a long time :(

[2019-12-26 15:50] zoq commented on #2124
Ohh, totally missed mlpack/models#35, let me comment on the issue, we probably have to fix that issue first.

[2019-12-26 16:30] unnamed082 commented on #2124
I have to report that today I tried to execute https://github.com/mlpack/models/blob/master/Kaggle/DigitRecognizer/src/DigitRecognizer.cpp
and it worked correctly, it completed
the quality of the solution was 11% because of the line
https://github.com/mlpack/models/blob/master/Kaggle/DigitRecognizer/src/DigitRecognizer.cpp#L108
but the main thing is that the Ann model worked,
maybe a bug in the ne

[2019-12-26 22:34] zoq commented on #2124
So, if you remove the dropout layer you get better results? The model in the example is somewhat minimal, you could increase the number of epochs or increase the model size, to get better results.

[2019-12-27 05:16] jzy95310 commented on #1965
I will give it a try on the second PR.

[2019-12-27 08:13] unnamed082 commented on #2124
yes, when changing the parameters I made the results more than 95%
but the main thing is that this neural network worked, unlike snn

[2019-12-27 08:14] unnamed082 commented on #2124
cnn, sorry

[2019-12-27 18:05] OO7kartik opened #2128 "Tutorials link not found 404"
![image](https://user-images.githubusercontent.com/41287435/71527424-6423df00-2901-11ea-8f9d-39c8ec63f617.png)

In the [Introduction](https://github.com/mlpack/mlpack#1-introduction) the [Tutorials](https://www.mlpack.org/doc/mlpack-git/doxygen/tutorials.html) link seems to not work.
resulting in

![image](https://user-images.githubusercontent.com/41287435/71527381-2fb02300-2901-11ea-9a71-4235d74d

[2019-12-27 18:28] OO7kartik opened #2129 "Same link with different names."
[Introduction](#1-introduction) and [Further documentation](#7-further-documentation) have the same link names differently.
![image](https://user-images.githubusercontent.com/41287435/71528111-59b71480-2904-11ea-8c19-fd0900cb1d57.png)      ![image](https://user-images.githubusercontent.com/41287435/71528130-7d7a5a80-2904-11ea-8757-245da4c35bed.png)

[2019-12-28 01:06] zoq commented on #2129
With https://github.com/mlpack/mlpack/pull/2130 merged, let's close this one.

[2019-12-28 01:06] #2129 closed

[2019-12-28 04:57] rcurtin commented on #2025
Since #2050 is merged, I think that we can mark this closed and fixed. :)

[2019-12-28 04:57] #2025 closed

[2019-12-28 05:26] rcurtin commented on #2042
#2081 is done, so I think we can go ahead and close this.  Thanks again @aabghari for the nice patches. :)

[2019-12-28 05:26] #2042 closed

[2019-12-28 05:35] rcurtin commented on #2128
Ah, actually, this has to do with ensmallen#153; once a new version of ensmallen is released, the documentation will build correctly, and then this issue will be fixed.  That should happen tomorrow, and I'll close this issue when it works again.  Thank you for reporting this! :)

[2019-12-28 06:08] OO7kartik commented on #2128
oh cool, :)

[2019-12-28 13:52] dihelium commented on #2115
Hi @rcurtin I installed one from Homebrew and it totally worked! I still had to uninstall the xcode compiler by running:
sudo rm -rf /Library/Developer/CommandLineTools
After this, the command 'make -j4' ran just fine.

[2019-12-28 13:52] #2115 closed

[2019-12-28 14:15] rcurtin commented on #2115
Awesome, glad that you got it worked out! :+1:

[2019-12-28 14:27] shrit commented on #2073
Thanks for your comments.
I think it is better to keep this issue open as long as https://github.com/mlpack/ensmallen/issues/150 still open.
For (2) you are right, maybe the optimizer is reaching convergence. However, when I set `tolerance` to `-1` I have noticed on the long run that the optimizer might converge even better,
For (1) When I set maxIteration to the size of the dataset, it will read

[2019-12-28 20:12] rcurtin commented on #2128
Ok, fixed now that ensmallen 2.11.1 is released.  Thanks for the report! :+1:

[2019-12-28 20:12] #2128 closed

[2019-12-29 04:40] conradsnicta commented on #1840
Reopening as #2088 is being worked on.

[2019-12-30 08:26] haozhou00 opened #2132 "mlpack::CLI::ParseCommandLine(argc, argv);"
Dear All, I copied the following code
mlpack::CLI::ParseCommandLine(argc, argv); as it was originally in mlpack's sample code.
However in the visual studio 2017 there is a compiler error - class mlpack::CLI has no
"ParseCommandLine", the other matrix calculation seems work fine for me. Alos, the
system feedback "unknown compiler version - please run the configure tests and report the results"
anyo

[2019-12-30 13:53] rcurtin commented on #2132
Hey there @haozhou00, can you post a link to the sample code you are trying to use?  `CLI::ParseCommandLine()` was removed when mlpack 3.0.0 was released (March 2018), so my guess is that the sample code you are looking at is out of date.  If you can point me to the documentation you are using, I can provide more information. :)

[2019-12-30 14:51] haozhou00 commented on #2132
Hey there @rcurtin I think you are absolutely correct. Thanks very much you solved my confuse.
I think the code I copied is outdated. Many thanks you solved my question!!

[2019-12-30 14:51] #2132 closed

[2019-12-30 15:12] himanshupathak21061998 commented on #2003
@favre49 Can I work on this

[2019-12-30 15:15] favre49 commented on #2003
This was a change that was made to the API last year, that was reverted on realizing it would result in a major version bump. Seeing as there are no plans on releasing a `4.0.0` version yet, there is no reason to work on this. If you are looking for issues to work on, perhaps issues tagged "Good first issue" would be of interest to you :)

[2019-12-30 16:00] himanshupathak21061998 commented on #1735
@rcurtin I would like to work on this issue

[2019-12-30 19:36] rcurtin commented on #2132
Awesome, glad you got it figured out! :+1:

[2019-12-30 19:41] rcurtin commented on #1735
@himanshupathak21061998 there's no need to ask.  Just go do it and open a PR when it's ready :)

[2019-12-30 22:34] birm commented on #2108
Both have been merged in. Of course, we'll still need to keep up with new releases.

[2019-12-30 22:34] #2108 closed

[2019-12-31 02:21] rcurtin commented on #2073
Sure, no problem, we can keep this open until ensmallen#150 is resolved.

It's true that different convergence strategies can produce different results, and sometimes it can be better to run to the limit of iterations.  But that's totally dependent on the problem.

For (1), I can see why from a neural network perspective one would definitely want at least one scan over the dataset.  But that doesn

[2019-12-31 14:04] robertohueso opened #2134 "Duplicated evaluations on the same pair of points for Cover-Tree"
#### Issue description

`BaseCase(...)` gets evaluated multiple times for the same pair of points when using `DualTreeTraverser` on Cover-Trees

#### Your environment

 * version of mlpack: 707e65870c6dc88ae78313d4d9b386fac5764ac5
 * operating system: Arch Linux
 * compiler: GCC 9.2.0
 * version of dependencies (Boost/Armadillo): Boost 1.71.0, Armadillo 9.800.3

#### Steps to reproduce

[code]

##

[2019-12-31 15:30] rcurtin commented on #2134
Thanks for writing this up and coming up with an easy-to-reproduce test case.  We should definitely add that to `tree_test.cpp` when you get it figured out. :)

I think that this is an error in the cover tree's dual tree traversal, specifically at line 126 in `dual_tree_traverser_impl.hpp`.  The `if` statement here is attempting to catch the situation where we have recursed into the self-child of

[2020-01-01 19:10] darthgera123 commented on #1501
is this issue still open? if yes i would like to resolve this one

[2020-01-01 19:36] darthgera123 commented on #1489
is this issue still open?

[2020-01-02 09:49] darthgera123 commented on #1965
which of them still need to be resolved?

[2020-01-02 09:50] darthgera123 commented on #1965
which of these still need to be looked at @rcurtin

[2020-01-02 13:30] qureshinomaan opened #2137 "No MacOS installation guide in "Get Started"."
#### Description of problem
Now that the #2108 is fixed, we should update the getting started page of mlpack website. The users can directly install mlpack using homebrew.
https://www.mlpack.org/getstarted.html

[2020-01-02 16:25] rcurtin commented on #1965
@darthgera123 all of them are still there.  There are many other stale/closed PRs that you could resurrect and finish also.  I suggest searching through the closed PRs.  Some digging will be necessary.

[2020-01-02 16:25] saanumm82 opened #2138 "MLPack C++ for DecisionTree based problem"
MLPack C++ for decision tree based problems -

I would like to use MLPack C++ for below problem to forecast whether one will be able to play the game in the given weather conditions using ML Decision tree.

Here are the train and test data sets. Based on this, i want to build a decision tree to predict the data for test data

Train Dataset(train.csv)

Outlook Temperature Humidity    Windy   Play
S

[2020-01-02 16:26] rcurtin commented on #1501
The issue is not closed, so, yes, it is still open.  If you make a working fix, you can open a PR and we will review it.

[2020-01-02 16:27] rcurtin commented on #1489
This issue also is not closed, so, yes, it is still open, and you can work on it if you like.  But I see that you've asked on a few issues if you can work on them, and I'd definitely suggest working on one at a time.  :+1:  So you should feel free to do any of them, but it'll probably be easier if you aren't juggling several different tasks at once.

[2020-01-02 17:33] zoq commented on #2137
Agreed, if you like to take a look at it, please free. Happy to help.

[2020-01-02 19:32] saanumm82 commented on #2138
I have written this code to solve the problem. But looks like it's not building DecisionTree so output is wrong. Please let me know why this code is not working.

#include <mlpack/core.hpp>
#include <mlpack/methods/neighbor_search/neighbor_search.hpp>
#include <mlpack/core.hpp>
#include <mlpack/methods/decision_tree/decision_tree.hpp>
#include <mlpack/methods/decision_tree/information_gain.hpp>
#i

[2020-01-03 00:44] qureshinomaan commented on #2137
Hey @zoq, I have created a pull request in mlpack/mlpack.org
Here is the link to it :
https://github.com/mlpack/mlpack.org/pull/21

[2020-01-04 05:48] sainikhit2k commented on #2114
Hi is anyone working on this issue  ? If not i could work on this

[2020-01-04 05:50] kartikdutt18 commented on #2114
Hi @sainikhit2k, I have currently take up this issue and almost done with it.

[2020-01-04 05:51] sainikhit2k commented on #2119
Is anyone working on it ? If not i can work on this

[2020-01-05 20:12] adithya-tp commented on #2138
Hey @saanumm82 ! From what I can see from the documentation, it seems like "string" categorical data is not supported by mlpack at the moment with the exception of "mlpack_hoeffding_tree".
(refer here: [https://www.mlpack.org/doc/stable/doxygen/formatdoc.html](url) [see subsection **Categorical features and command line programs** - last line])

However, we can work around this by mapping the cate

[2020-01-06 10:20] manolas478 opened #2141 "Build error in linux"
$ make
[  0%] Updating arma_config.hpp (if necessary)
[  0%] Built target mlpack_arma_config
Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  1%] Generating mlpack.pc (pkg-config) file.
[  1%] Built target pkgconfig
[ 10%] Built target mlpack
running build
running build_py
package init file '/home/tonbo/Desktop/valiappan/contrib/mlpack-3.2.1/build/src/mlpack/bindings/py

[2020-01-06 22:42] zoq commented on #2141
Hello @manolas478 did you install armadillo via the package manager or did you build armadillo manually? Also can you provide some additional system related informations as mentioned in the bug template: https://github.com/mlpack/mlpack/blob/master/.github/ISSUE_TEMPLATE/0-bug.md

[2020-01-07 13:10] saanumm82 commented on #2138
Thanks, I have another doubt on MLPack C++. Do you know which companies are using MLPack C++ in their production code.

I want use it for productions code implementation. So wanted to know should I need to go for MLPack C++ or tensorflow.

My requirements is almost same as that of example mentioned in this email thread.

Please suggest.

[2020-01-07 13:37] nappaillav commented on #2141
I did face similar issue, it is because of armadillo and hdf5 error.
@manolas478  You will be encountering the same issue when you compile a test armadillo code also. So I would request you to updated the LD_LIBRARY_PATH variable in `~./bashrc `

locate the lib folder with the libhdf5.so.10 file and add the corresponding lib folder path to `.bashrc` as explained in the [Link ](https://stackoverflo

[2020-01-07 14:13] rcurtin commented on #2137
mlpack/mlpack.org#21 is merged now, so I'll go ahead and close this.

[2020-01-07 14:13] #2137 closed

[2020-01-07 17:21] adithya-tp commented on #2138
I'm not sure about that info. However, I'm quite certain you could use mlpack c++ in production for the purposes mentioned in this thread, since this is independent of which companies use mlpack.

Also if your initial issue has been resolved, please feel free to close this issue.

Glad I could help you out !

[2020-01-07 17:29] manolas478 commented on #2141
Thanks @zoq and @nappaillav .
The issue is solved.

[2020-01-07 17:29] #2141 closed

[2020-01-07 19:42] saanumm82 commented on #2138
Thanks a lot for your help on this. The original issue is resolved hence closing this issue

[2020-01-07 19:42] #2138 closed

[2020-01-07 20:58] zoq commented on #2119
Hello @sainikhit2k sorry for the slow response, looks like everything is already taken up, at least there is an open PR for each. If you are interested you can review one of them, but don't feel obligated.

[2020-01-09 12:11] adithya-tp opened #2146 "Can't Train a Normal CNN."
#### Issue description

When I try to train the following cnn, it only runs when I include the line

`arma::conv_to<arma::mat>::from(matrix).print("Print Image: \n");`

However, if I comment out this line, the code no longer runs (both cases compile. but in this second case doesn't run - "Segmentation Fault"). It doesn't make sense to me why this happens.

#### Your environment

 * version of mlpa

[2020-01-09 16:10] jzy95310 opened #2147 "Why do we need a template to merge give_init and random_init in AMF?"
Hi Developers,

I just take a thorough look at PR #1367 and read through the changes. I felt a little bit confused about the point of using a class template here:
`template<typename WInitializationRuleType, typename HInitializationRuleType>`
Since we only want the user to initialize one of W and H matrices with the given matrix and the other one randomly, can I just use multiple constructors to ac

[2020-01-09 16:40] zoq commented on #2147
You are right, we could avoid the two template types, but would have to stick with `given_init and random_init` and yes we would have to adjust some of the other rules, which i think is fine.

[2020-01-09 16:49] zoq commented on #2146
Same behaviour if you convert the matrix before you pass it?

[code]

[2020-01-09 17:02] adithya-tp commented on #2146
Yes. I just tried it out with this change. Same behaviour.

[2020-01-09 18:19] zoq commented on #2146
Okay, thanks for the quick test, I thought maybe the matrix is going to be deconstructed before we call `Train()`.

[2020-01-09 18:21] jzy95310 commented on #2147
@zoq Thank you for your reply. Also, in PR #1367 you mentioned that given_init should be a one-time initialization rule, but what about random_init? For example, if a user call the function MergeInitialization.Initialize(V, r, W, H) multiple times where H is initialized using random_init rule, is H expected to be the same (only initialized once) or different (initialized multiple times) each time

[2020-01-09 19:04] rcurtin commented on #2146
valgrind seems to indicate that this is actually coming from the STB loading code:

[code]

I'm not sure why that is... the code looks correct to me!  I am still digging and trying to figure out what is going on here though.

[2020-01-09 21:46] zoq commented on #2146
I think I know what happens here, we are loading an image with an alpha channel, but we tell stb to only load 3 channels (r,g,b):

https://github.com/mlpack/mlpack/blob/7f520f032e62c73232cfc097e57824088c839c59/src/mlpack/core/data/load_image_impl.hpp#L60-L61

Here `STBI_rgb` is the number of desired channels to load, which is defined as 3 not 4, looks like there is an `auto` which loads all channe

[2020-01-09 21:49] rcurtin commented on #2146
Agreed, I think we need to revise the handling of the number of channels to load---maybe if `info.Channels()` is `0`, we auto-detect based on what STB finds, and otherwise we use the given number of channels.

I made a change to load the correct number of channels for the test image I had, but then there was a later segfault in the CNN code.  I'm not sure yet if this is because of the parameters o

[2020-01-09 21:57] adithya-tp commented on #2146
The only CNN parameter change that I could suggest, off the top of my head, is changing the output number from 2 to 1 in the linear layer. Maybe that helps.

[2020-01-10 07:03] vikram2000b commented on #2071
I would like take up this issue. Is it still open?

[2020-01-10 14:59] rcurtin commented on #2071
Hi @vikram2000b, you can probably see from the comments right above yours that a PR is already open.  You are welcome to help out by reviewing it. :+1:

[2020-01-10 15:53] kunakl07 commented on #2084
I would like to work on this issue, Can I take this issue?

[2020-01-10 16:05] kunakl07 commented on #1254
I would like to work on this issue. Can I take this issue?

[2020-01-10 18:48] zoq commented on #2147
The last one, "different (initialized multiple times) each time we call this function", I got it wrong the first time.

[2020-01-10 19:05] jzy95310 commented on #2147
Got it. Thank you!

[2020-01-10 19:05] #2147 closed

[2020-01-10 19:39] rcurtin commented on #2147
Hey @jzy95310, just to add, the choice to use templates for initialization strategies here allows a lot of freedom to the user, who may actually want to implement their own strategy entirely.  So even though we only currently have `RandomInitialization` and `GivenInitialization`, it is still quite flexible. :+1:

[2020-01-11 16:29] drboo opened #2149 "Problems compiling mlpack 3.2.2 from source any ideas as to what I'm doing wrong?"
I'm trying to build the MLPACK source code on Ubuntu 18.04, I've installed and built all the necessary dependencies including the latest version of Armadillo.

base) femi@DESKTOP-OMK90ES:~/dev/libs/mlpack-3.2.2/build$ cmake -D DEBUG=ON -D PROFILE=ON ../
-- The C compiler identification is GNU 7.4.0
-- The CXX compiler identification is GNU 7.4.0
-- Check for working C compiler: /usr/bin/cc
-- Chec

[2020-01-11 17:55] adithya-tp commented on #2149
hey @drboo , maybe pthread library is missing? I'm not sure though.

You could install it using:
`sudo apt-get install libpthread-stubs0-dev`

However, do tell me if it is already installed. The problem could be something else.

[2020-01-11 18:14] adithya-tp commented on #2149
Actually, upon closer inspection, I'm pretty sure this is because doxygen is not installed. Because of the following line in your cmake output:

`Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE)`

try installing doxygen using : `sudo apt-get install doxygen`

You should then retry the cmake command, followed by make. Hope this helps!

[2020-01-11 18:43] zoq commented on #2149
@adithya-tp doxygen is optional, if the cmake configure step failed you will get a corresponding message at the end.

I guess the easiest solution is to install armadillo via conda, instead of building it from source.

[2020-01-11 18:45] drboo commented on #2149
Hi @adithya-tp thanks for the suggestion I do have pthread library installed, with respect to doxygen I didn't think this necessary I installed all the same and it didn't make any difference

Scanning dependencies of target mlpack_approx_kfn
[ 10%] Building CXX object src/mlpack/methods/approx_kfn/CMakeFiles/mlpack_approx_kfn.dir/approx_kfn_main.cpp.o
[ 10%] Linking CXX executable ../../../../bin/

[2020-01-11 18:50] adithya-tp commented on #2149
Oh I didn't realize that. Sorry for the misleading info. Thanks for correcting me @zoq !

[2020-01-11 18:52] zoq commented on #2149
@adithya-tp No worries, the output can be confusing.

[2020-01-12 19:58] Aakash1822 commented on #1741
@rcurtin interested to work on this. Please guide me accordingly.

[2020-01-13 14:22] rcurtin commented on #1741
You're more than welcome to work on this.  I think all of the information that you need should be in the issue description.

[2020-01-13 14:38] rcurtin commented on #2149
Hey @drboo, can you give some more details about how you installed Armadillo?  I am thinking maybe that is the issue.  If you install Armadillo via `apt-get install libarmadillo-dev`, there should typically be no problem.  Anyway if you can provide more details about that we might be able to get closer to figuring out what is going on. :)

[2020-01-13 19:58] himanshupathak21061998 commented on #1489
I will try to change overload `Add(LayerTypes& layer)`  first.

[2020-01-13 22:24] drboo commented on #2149
Hi @rcurtin I downloaded Armadillo and all its dependencies and built those, then I downloaded mlpack

~/dev/libs/mlpack-3.2.2/build$ cmake -D DEBUG=ON -D PROFILE=ON -D ARMADILLO_INCLUDE_DIR=$ARMADILLO_INCLUDE_DIR -D ARMADILLO_LIBRARY=$ARMADILLO_LIBRARY ..

where $ARMADILLO_INCLUDE_DIR and $ARMADILLO_LIBRARY point to the include and library paths

Unfortunately, I get the following below:

[ 79%]

[2020-01-13 22:40] rcurtin commented on #2149
Thanks for the output.  This seems different from the original output that you were getting.  I do think using apt for installation will help, but if you want to keep debugging the setup you currently have I'd be happy to try and help.  If so, can you tell me what `ARMADILLO_INCLUDE_DIR` and `ARMADILLO_LIBRARY` are?  Also, the value of `ARMADILLO_LIBRARIES` in `CMakeCache.txt` would be helpful.  I

[2020-01-13 23:13] drboo commented on #2149
@rcurtin  I tried using apt-get install and got the following
[  8%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/methods/sparse_autoencoder/maximal_inputs.cpp.o
make[2]: *** No rule to make target '/usr/lib/libarmadillo.so', needed by 'lib/libmlpack.so.3.2'.  Stop.
make[2]: *** Waiting for unfinished jobs....
[  8%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/methods/sparse_codin

[2020-01-13 23:45] rcurtin commented on #2149
Did you clean your build directory before reconfiguring with the new Armadillo? (i.e. remove all the files in it and reconfigure with CMake)

[2020-01-14 04:42] rcurtin opened #2152 "Refactor STB code into a .cpp file"
#### Issue description

When using `data::Load()` to load images with STB, the `HAS_STB` macro must be set.  But this means that the user must actually specify `HAS_STB` if they are compiling a program that links against mlpack or includes it.

Not only is there no documentation for that, it's actually not necessary either: it is possible to refactor this code such that the image loading code is n

[2020-01-14 04:48] vsai121 commented on #2152
Hey! I'm a beginner here. Can I take up this issue?

[2020-01-14 06:39] jeffin143 commented on #2152
Sure, Go ahead @vsai121

[2020-01-14 11:19] steffkop opened #2153 "Error trying to make mlpack on Ubuntu"
I have issues trying to install Mlpack. I first installed it via Package Manager but the linker had some troubles therefore I uninstalled all and I'm trying to build it manually right now.
I'm at step

and receive this output.

Boost is installed and I already used it in a different project to process a csv file. Do I have to edit the CmakeLists.txt?

[2020-01-14 15:00] rcurtin commented on #2153
Hey there, in this case you need some more RAM or to build without `-j2`. Here's the relevant part of the error output:

[code]

Basically, when the operating system runs out of RAM, it will kill processes that are using lots of memory---that typically includes the compiler.

You say you had trouble installing from the package manager because of linking; if you were compiling a C++ program against

[2020-01-14 21:07] zoq commented on #2153
`c++: internal compiler error: Getötet (program cc1plus)` - `Getötet` sounds german :)

[2020-01-15 03:03] rcurtin commented on #2146
I believe the number of input maps needs to be `1`, not `info.Channels()`.

After making that change, I was still encountering memory issues, so I dug deeper and the issue that I am finding is that memory is inadvertently freed, apparently by the `Convolution` layer, during the call to `Forward()`:

[code]

If I remove the `Convolution` layer and replace it with a `Linear` layer (of the correct si

[2020-01-15 04:50] steffkop commented on #2153
Yes it is ;)

[2020-01-15 04:50] #2153 closed

[2020-01-15 04:51] steffkop commented on #2153
Making with option - j4 helped.

[2020-01-15 05:06] rcurtin commented on #2153
I'm surprised `-j4` helped; that would actually typically use *more* RAM!  But anyway maybe some other processes were running the first time.  Regardless, it worked, so, 🚀
:)

[2020-01-15 05:26] adithya-tp commented on #2146
Could you explain the rationale behind this?

[2020-01-15 17:20] steffkop opened #2154 "Undefined references trying to use Mlpack"
#### Issue description
I am not sure if I can get support for this error here.
I linked Mlpack via Cmakelists.txt to my project and I'm now trying to execute the program. I attached my Cmakefiles, main.cpp.
[CMakeLists.txt](https://github.com/mlpack/mlpack/files/4066235/CMakeLists.txt)
[main.txt](https://github.com/mlpack/mlpack/files/4066236/main.txt)
[FindMLPACK.txt](https://github.com/mlpack/ml

[2020-01-15 19:46] adithya-tp commented on #2154
Hey there @steffkop , I believe the issue can be resolved by linking to the right libraries when compiling(mlpack, armadillo, etc..)

So instead of compiling using, say, `g++ main.cpp`

The following should resolve your problem:
```g++ main.cpp -o main `pkg-config --cflags --libs mlpack armadillo` -fopenmp```

[2020-01-15 21:49] himanshupathak21061998 commented on #1489
@rcurtin I tried to change overload but that does not going to be good thing because we need to perform lot of changes because and  `model.Add<Add<>>(addModule)` does work. I think we should add some documentation for this `model.Add<Add<>>(addModule)` . Please suggest if you have any better idea for this.

[2020-01-15 23:33] zoq commented on #2154
In the CMakefile, did you check `${MLPACK_LIBRARY}` returns the correct path? Looks like you only check `Boost_FOUND` but not `MLPACK_FOUND`.

[2020-01-16 04:20] #2111 closed

[2020-01-16 07:56] drboo commented on #2149
@rcurtin  I did clean the directory and still no joy. I decided to go back to the version of Armadillo I had built myself, verified its dependencies

base) femi@DESKTOP-OMK90ES:~/dev/libs/mlpack-3.2.2/build$ ldd ../../armadillo-9.800.3/libarmadillo.so
        linux-vdso.so.1 (0x00007fffc1127000)
        liblapack.so.3 => /usr/lib/x86_64-linux-gnu/liblapack.so.3 (0x00007fdbc3940000)
        libarpa

[2020-01-16 08:37] kumaran-14 commented on #2113
@birm I'd like to work on this as a GSoC project. I have good experience in cmake build system. As a starter, I would like implement a basic c++ project which uses new cmake build features.

[2020-01-16 11:20] shrit commented on #2073
Actually, it is a good idea to print the warning in the ANN code itself.
For now, the user can have an indication whether the neural network is reading the dataset.
Otherwise, we can fix the `maxIteration` in the ANN code when the user enters the training dataset in the training function.

[2020-01-16 14:01] birm commented on #2113
@kumaran-14 That sounds like a great start! If you haven't already done so, consider joining the mailing list and/or irc: https://www.mlpack.org/community.html

[2020-01-16 15:26] kartikdutt18 opened #2156 "Addition of mish Activation Function."
Hi everyone, I wanted to contribute to this organization by adding MISH activation function.
It referenced in the paper here: https://arxiv.org/pdf/1908.08681.pdf
According to the paper,
"Mish demonstrated better results than both Swish and ReLU. For example, during the classification of CIFAR-100 dataset using a Squeeze Excite -18 Network [8]
with Mish resulted in an increase in Top-1 test accura

[2020-01-16 15:32] rcurtin commented on #2149
Hey @drboo, thanks for the clear explanation.  It's really helpful to understand what's going on.

When I read the output it looks to me like the problem occurs when trying to compile the Python bindings.  If you aren't interested in those, you can specify `-DBUILD_PYTHON_BINDINGS=OFF` and they won't be built.  You can also disable building the tests with `-DBUILD_TESTS=OFF`.  I'm not sure what yo

[2020-01-16 17:11] rcurtin commented on #2156
I think it would be just fine to add that; not sure if anyone else has an opinion.

[2020-01-16 18:20] zoq commented on #2156
Agreed, would be interesting to have an implementation for that activation function.

[2020-01-16 18:27] kartikdutt18 commented on #2156
Thanks, I will start working on it.

[2020-01-17 07:14] drboo commented on #2149
Hi @rcurtin  thanks so much for your help, I finally succeeded in building MLPACK, I disabled python and the julia bindings. I'll paste the contents of the CMakeCache.txt on Saturday. All in all, I have a successful build now and can proceed with my evaluation.

[2020-01-18 12:46] prince776 commented on #813
I'm also having problem loading csv file. Error is :
/tmp/ccO5I7jW.o: In function `main':
test.cpp:(.text+0x3a2): undefined reference to `bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Mat<double>&, bool, bool)'
collect2: error: ld returned 1 exit status

How did you solve it?

[2020-01-18 16:17] kartikdutt18 commented on #2156
Hi @zoq , @rcurtin I have implemented Mish Activation function and I have also tested it [here](https://colab.research.google.com/drive/1x91A7-iIjej_bngTyFNMAtvYxJiQfOE-). I have implemented the same  [here](https://github.com/mlpack/mlpack/pull/2126).
However I already have a PR open regarding another issue so should stash changes of previous PR, close it and send a new PR or should I create a ne

[2020-01-18 17:32] kartikdutt18 commented on #2156
As per conversation on IRC, I have created a new PR with only changes corresponding to this issue. #2158 .
Kindly Have a look,
Thanks.

[2020-01-19 13:25] Hunting-Party10 commented on #1660
Hi whats the progress on this issue ? I would like to work on it if that's possible?

[2020-01-19 14:09] Hunting-Party10 commented on #1146
Hi, Just got the same error while testing.

`fatal error: in "GMMTest/GMMTrainEMSingleGaussianWithProbability": difference{0.0668215} between g.Component(0).Mean()[0]{0.46868196311231264} and 0.5{0.5} exceeds 5%
`
But the difference seems to be ~0.066%
How did the test trigger this error ?

[2020-01-20 04:49] rcurtin commented on #2146
The rationale was that I misunderstood the code. :)  Anyway, you're right, it should be `info.Channels()`.

I found the real issue here.  `Convolution` creates an alias to its input during the forward pass, on line 119 of `convolution_impl.hpp`:

[code]

But `FFN::Forward()` is called using `std::move()`, which means that memory will be freed after the forward pass.  See `ffn_impl.hpp`, line 325:

[2020-01-20 05:10] unnamed082 commented on #2146
maybe the error in my   example(https://github.com/mlpack/models/issues/35) was caused by the same memory error, because the error pointed to the system file (I can be wrong)

[2020-01-20 05:37] rcurtin commented on #2146
@unnamed082 yes, I think this is correct.  A workaround similar to the one I posted for `convolution_impl.hpp` for the other layers in your network could help, I think.

[2020-01-20 07:02] walragatver commented on #2146
Hi @rcurtin,
I am trying to figure out the error, I have a doubt, which version are you using for generating the `valgrind` result. Because currently in 3.2.2 line 325 in `ffn_impl.hpp` is slightly different. Also line 276 in `convolution_impl.hpp` is slightly looking different.
Also I saw 3.1.x branch code it is also looks slightly different.

[2020-01-20 11:12] walragatver commented on #2146
Hi,
I implemented similar thing what is done `convolution.hpp`. Below is the sample code.
[code]
You can compile it using `g++ file.cpp -fopenmp` provided you have installed mlpack after building. Looks like the memory doesn't get erased because of an alias. There might be another reason for it.

[2020-01-20 11:22] kathy-lee opened #2159 "confused about the dimension of labels in recurrent_network_test.cpp"
Hi, I got confused with a rnn test function "BOOST_AUTO_TEST_CASE(SequenceClassificationBRNNTest)"  in line 78-145 of  recurrent_network_test.cpp. The input data has dimension of (1,12,10), and the labels has also dimension (1,12,10), why is not (1,12)? Why is it also a cube type? All the slices of the labels are the same.  Because a training sample is a nosiy sines with length 10, there are 12 si

[2020-01-20 13:27] DantrazTrev commented on #2152
Is this issue still open?

[2020-01-20 13:35] jeffin143 commented on #2152
Yes it is open , you can ping @vsai121 , to know if he is working currently on the issue

[2020-01-20 14:47] rcurtin commented on #2146
Oh, sorry, I thought I was looking on the master branch but I was actually on another checked out branch.  The line in `ffn_impl.hpp` is line 328, and in `convolution_impl.hpp` is line 203.

[2020-01-20 15:11] kathy-lee opened #2160 "how to understand prediction in SequenceClassificationBRNNTest (classification)"
Hi,
in SequenceClassificationBRNNTest (line78) of recurrent_network_test.cpp, I got problem with understanding the prediction. The input is (1,12,10),from "model.Predict(input, prediction)" got prediction is (10,12,10). Print out  prediction.slice(rho-1).col(i=0) is like this:
  0
  -13.1190
  -15.2380
  -15.7081
  -16.2024
  -15.9800
  -15.5745
  -15.7167
  -16.1695
  -15.8157
I can understand sl

[2020-01-20 16:41] rcurtin commented on #2159
Hey @kathy-lee, sorry, I don't have an answer for you on this (I'm not familiar with the test), but this question looks really close to #2160.  Can we close one and keep discussion to another?  That makes things easier both for the discussion and for people searching later. :+1:

[2020-01-20 16:57] kathy-lee commented on #2159
Yes, sure, thanks!

[2020-01-20 16:57] #2159 closed

[2020-01-20 16:58] kathy-lee commented on #2159
will be discussed in [https://github.com/mlpack/mlpack/issues/2160](url)

[2020-01-20 22:58] zoq commented on #2160
Have to refresh my memory, so I'm going to respond tomorrow.

[2020-01-21 13:47] vsai121 commented on #2152
Hey! I'm kinda stuck here and need some help. I understand what the issue is, but I am confused as to how to start solving it. It would be helpful if you can give me a starting point and I can proceed from there.
Thank you.

[2020-01-21 15:27] Hunting-Party10 commented on #1631
@akhandait @rcurtin
Taking up this issue , I have convinced myself that the memory leak exists by running valgrind, which spat out a memory leak message.

`==8872== LEAK SUMMARY:
==8872==    definitely lost: 1,264 bytes in 1 blocks
==8872==    indirectly lost: 880 bytes in 1 blocks
==8872==      possibly lost: 0 bytes in 0 blocks
==8872==    still reachable: 0 bytes in 0 blocks
==8872==         su

[2020-01-21 18:35] himanshupathak21061998 commented on #2152
@vsai121 I think you should try to read the issue description carefully and for solving this issue try to create a file `load_image.cpp` to put all the code which uses STB like here.
https://github.com/mlpack/mlpack/blob/dcfcff4a91bf93f1486a5716b222263153fea1b4/src/mlpack/core/data/load_image_impl.hpp#L47
In that file.

[2020-01-21 19:50] zoq commented on #2160
Just checked the code, and what you see here is the merged output of the last layer (`model.Add<Linear<> >(4, 5)`) in both directions, this is why the output is twice the size of the last layer. However there are two things that I think aren't necessarily correct; the output size of the last layer should match the number of classes, in this case, 2, there is no problem to use more as done here, bu

[2020-01-21 20:02] zoq commented on #2146
Nice catch, taking ownership of the input is probably the best option to solve the issue, no need to create an extra copy that slows everything down. So I guess we could either open an issue, or I could write a patch for the issue, what do you think?

[2020-01-21 21:24] kathy-lee commented on #2160
many thanks for your reply, @zoq . Not sure if I get it correctly, do you mean that the output size of the last layer can be different from the number of classes? I could not really understand this, because generally for classification problem, people would set the size of last layer as the number of classes + 1. Shouldn't there be one more layer after  `model.Add<Linear<> >(4, 5)` ? That's also w

[2020-01-21 21:36] kathy-lee commented on #2160
By the way, at line https://github.com/mlpack/mlpack/blob/dcfcff4a91bf93f1486a5716b222263153fea1b4/src/mlpack/tests/recurrent_network_test.cpp#L131, do you think the varname should be "accuracy" instead of "error" according to the function context?

[2020-01-21 22:16] zoq commented on #2160
Yes, there is no reason to add more units to the last layer as the number of classes, I was just pointing out that in this case we have more units in the last layer as classes, and this is why the output size is 10.

Right, the network returns a probability vector and not the final classification (scalar) which is the index of the max value.

Yes, good point, using `accuracy` does make more sense,

[2020-01-22 23:59] kathy-lee commented on #2160
That's much clearer, thanks @zoq . It would be great if you can patch a test that uses the LSTM layer with BRNN class. I prepared a tiny dataset serialized from arma::cube to hdf5 format, please let me know if they are okay or not. The training data size is (25,60,640) corresponding to (number of samples, time steps, ESF feature), training label is a arma::vec with a length of 25.
[test_data001.zi

[2020-01-23 22:43] zoq commented on #2160
Thanks, will write another test based on the dataset.

[2020-01-24 00:44] zoq commented on #2073
Agreed, printing some warning in the ANN code would be a clean 'solution'. I'll open an issue for the idea later.

[2020-01-26 06:47] Vishal19111999 commented on #2119
@zoq is this issue solved? Can I start working on it?

[2020-01-27 02:32] kartikdutt18 commented on #2156
Hi everyone, this issue has been resolved in PR #2158 so I'm closing this issue.

[2020-01-27 02:32] #2156 closed

[2020-01-27 02:34] rcurtin commented on #2156
Thanks @kartikdutt18! :+1:

[2020-01-27 02:56] rcurtin commented on #1146
Hey @Hunting-Party10, unfortunately that just means you are unlucky. :)  We have many probabilistic tests and sometimes they fail randomly even though nothing is wrong.  Take a look at #1993 if you want to see how you could help fix these---there are some instructions in the description there to reproduce this failure, and then see how much it fails.  For this particular case it should be just fin

[2020-01-27 02:57] rcurtin commented on #1660
Hey @Hunting-Party10, @jeffin143 has put together a nice PR in #2031, but it didn't speed things up as expected.  It's waiting on me. :(  However, if you want, you could try checking out that code, running it through a profiler, and seeing if you can identify why the changes aren't producing speedup.  That's what I've been meaning to do but I just haven't had the time.

[2020-01-27 03:01] rcurtin commented on #1542
With #2136 solved, I think that we can close this issue. :)

[2020-01-27 03:01] #1542 closed

[2020-01-27 08:15] kathy-lee commented on #2160
Hi @zoq, I wrote some code according to other tests in recurrent_network_test.cpp, but not sure if it has problems:
`  const int n_timesteps = 60;
    const int n_samples = 25;
    const int n_feature = 640;
    arma::cube prediction;
    arma::cube labels = arma::zeros<arma::cube>(1, n_samples, n_timesteps);
    for(size_t i = 0; i < n_samples; i++) {
          const int value = training_labels[i

[2020-01-27 09:27] zsogitbe opened #2161 "LayerTypes design problem"
#### Issue description

The **default BOOST mpl list size is 20**! LayerTypes is much longer already! Even the introduction of MoreTypes is not sufficient for solving this issue! Furthermore CustomLayers (template argument) adds to this list even more items. **This could cause compiler errors and crashes.**
Perhaps this part of the code needs to be redesigned.

#### Your environment

MSVC

[2020-01-27 13:32] Hunting-Party10 commented on #1660
Alright @rcurtin will try to look it through its been almost 7 months since last update of this issue,so wasnt sure if this was done.

[2020-01-27 21:05] zoq commented on #2161
I guess you already use the latest compiler? When I try to reproduce the issue, I try to use the same compiler as you.

[2020-01-28 07:42] zsogitbe commented on #2161
I use the latest version of MVS 2017. There is already a MVS 2019 which is newer. I do think however that this problem is only effected by the compiler in how the compilation ends. I guess that there will be some compilers which show an error and some which crash with e.g. a heap is full message. Strangely BOOST is using more list items than there are in LayerTypes, therefore if you decide to cut

[2020-01-29 16:43] saikat-here opened #2165 "Windows 64 bit - ZIP link is not working"
#### Problem location

https://www.mlpack.org/getstarted.html

#### Description of problem

The following "Windows 64 bit - ZIP" download link is not working.

![image](https://user-images.githubusercontent.com/2095290/73377067-77511280-42e4-11ea-8e72-f966d086c55e.png)

[2020-01-29 17:13] rcurtin commented on #2165
Hey @saikat-here, thanks for the report.  I realized that we forgot to get the artifact out of AppVeyor.  I've updated the website (and pushed changes to https://github.com/mlpack/mlpack.org/) and the link should work now. :+1:

[2020-01-29 17:13] #2165 closed

[2020-01-29 17:36] saikat-here commented on #2165
@rcurtin , it's working now, thanks.

[2020-01-30 16:09] kartikdutt18 opened #2166 "Addition of Depth-wise Separable Convolution (Separable Convolution) Layer."
Hi everyone, I was working on implementing mobile-net for when I noticed that I would have to implement depth-wise convolution layer so I thought rather than implementing it only for mobile-net, Adding it to ann/layers might be better for other architectures such as efficient net etc.
Depth-Wise convolution layers have the following advantages:
1. Grouped Convolution require less RAM and time and

[2020-01-30 16:10] kartikdutt18 commented on #2166
Hi @zoq , would this be okay or should I implement it in mobile-net locally?

[2020-01-30 20:17] zoq commented on #2166
Absolutely, let me know if you need any help.

[2020-01-31 02:20] kartikdutt18 commented on #2166
Thanks, I will start working on it.

[2020-02-01 12:32] kartikdutt18 commented on #2119
Hi @Vishal19111999, sorry for the slow response, I think there is a PR open by @tejasvi. Have a look at #2127 .

[2020-02-01 14:33] AryamanBhagat commented on #884
Hi, I am currently implementing the extra trees algorithm for this issue. Will have a PR soon.

[2020-02-01 18:51] ojhalakshya opened #2170 "Adding soft shrinkage activation function"
Hi everyone, I wanted to contribute to the organisation by adding the SOFT SHRINKAGE activation function.
It can be referred from [link](https://pytorch.org/docs/stable/nn.html#torch.nn.Softshrink).
I think simplified activation function might be easier to compute compared to complex functions as they require less CPU resources.
I want to contribute by adding the same, would it be okay if I pursue

[2020-02-01 18:53] kartikdutt18 commented on #2170
Hi @ojhalakshya, I don't think this activation is implemented in this library, I might be wrong. I think this would be okay.However a member of this organization will provide better guidance.

[2020-02-01 19:19] zoq commented on #2170
@ojhalakshya interessting, I think I haven't seen the activation function in the wild, are you aware of any model/paper that used the function?

[2020-02-02 08:20] #2124 closed

[2020-02-02 15:19] ojhalakshya commented on #2170
Yes, it has been used in Deep Learning Based Noise Reduction for Brain  MR Imaging which can be seen [here](https://www.researchgate.net/publication/335596314_Deep_Learning_Based_Noise_Reduction_for_Brain_MR_Imaging_Tests_on_Phantoms_and_Healthy_Volunteers).
It useful to remove noise when working with machines such as MRI.

[2020-02-02 17:53] zoq commented on #2170
Thanks for the link, this looks interesting, if you like to see this function please feel free to open a PR.

[2020-02-02 18:48] mrityunjay-tripathi opened #2171 "mlpack build process halts the system"
As I am new to mlpack, I might be unaware of certain things. But whenever I build (whether using the methods in the documentation or directly using vscode), it takes too much time and CPU resources. If I use all 4 cores, the system halts in 5-10 minutes and if only one or two cores are used it takes 1-1.5 hours to halt. Build process progresses without errors (upto 20-30%) but never completes. Sys

[2020-02-02 18:56] himanshupathak21061998 commented on #2171
While using cmake you can turn off python binding and cli for faster build using flags like.
[code]
and also can build a specific target using
[code]

[2020-02-03 02:26] kartikdutt18 commented on #2171
You can also turn off Julia bindings if needed, `-D BUILD_JULIA_BINDINGS = OFF`. I think using 2 cores with for cmake options disabled should speed things up a bit. For reference you can see build  time for Linux / Windows on azure pipelines from your PR.

[2020-02-03 05:21] rcurtin commented on #2171
It sounds like you're running out of RAM and your system is starting to swap.  Try also building on only one core and that should help.  I'm quite surprised 8GB is having problems---are there perhaps other processes running on your system that are causing much of your RAM to be unavailable?  mlpack typically will use ~1.5GB per core when building (or somewhere around that; I haven't exactly profil

[2020-02-03 10:19] hl-xue opened #2173 "Can't find header in mlpack/core/cv/"
Hello, I would like to use mlpack crossvalidation module. But when I did
`#include <mlpack/core/cv/k_fold_cv.hpp>`, it seemed that this header was not found (mlpack/core/cv seems not exist).
I am using Ubuntu 18.04, and I did `sudo apt-get install libmlpack-dev` for installation.
Do you have any idea why this happens please ?
Thanks a lot.

[2020-02-03 11:32] zoq commented on #2173
On your system, did you search for `k_fold_cv.hpp`?

[2020-02-03 12:45] hl-xue commented on #2173
Yes, I have done that, but no file was found.

[2020-02-03 12:46] zoq commented on #2173
Okay, what mlpack version did you install?

[2020-02-03 12:51] hl-xue commented on #2173
I did `sudo apt-get install libmlpack-dev` on ubuntu 18.04. And it installed libmlpack-dev version 2.2.5-1build1.

[2020-02-03 15:01] zoq commented on #2173
I see, looks like the latest version that was packaged for 18.04 is mlpack 2.2.5, the cv code was added in mlpack 3.0.0. So either you might  be able to update to 19.04 which provides a updated package or you build from source.

[2020-02-03 15:31] hl-xue commented on #2173
OK, thanks. Just to be sure, is the "mlpack 2.2.5" is equivalent to "libmlpack-dev 2.2.5" ?

[2020-02-03 16:32] mrityunjay-tripathi commented on #2171
Thank you, @rcurtin @kartikdutt18 @himanshupathak21061998 for your useful suggestions. Using only one core helps (to not let the RAM overflow). Also turning off the python and Julia bindings increase speed and the build process completes within a few minutes.
But anyway using all cores makes the RAM overflow (no other programs open except System Monitor) even if I turnoff Python and Julia bindings

[2020-02-03 16:35] kartikdutt18 commented on #2171
Generally on azure pipelines, they build mlpack with 2 cores, try that it should work fine.

[2020-02-03 16:42] mrityunjay-tripathi commented on #2171
Ok. Let me try that also.

[2020-02-04 09:23] #2171 closed

[2020-02-04 11:08] Pranshu54 commented on #2114
Hi, is this issue resolved? If not, I am a beginner and would like to work on it.

[2020-02-04 11:16] kartikdutt18 commented on #2114
Hi @Pranshu54, there is a PR open for this issue and currently taken up by me. In the PR this feature has been added and tested.I think there might be some issue that haven't been taken up.
Thanks.

[2020-02-04 11:59] Pranshu54 commented on #2114
Ok. Thanks for letting me know.

[2020-02-04 14:01] mrityunjay-tripathi opened #2175 "Synchronized Batch Normalization implementation"
Hello, everyone
I think the synchronized batch norm layer is not already implemented. Right? I can continue with the implementation. If I am not wrong I have to put it in ```src/mlpack/methods/ann/layers``` folder?
The reference to the paper is [here](https://arxiv.org/pdf/1502.03167).

[2020-02-04 16:06] kartikdutt18 commented on #2175
Hi @mrityunjay-tripathi, I think implementing it would be okay however I thought that synchronized Batch Normalization had main use with GPUs (for parallel training) and currently mlpack doesn't support gpu. I might be wrong so could you correct me if I'm wrong.
However a member of this organization would provide better organization.
Thanks.

[2020-02-04 18:19] gmanlan opened #2176 ""pip install mlpack" for Windows"
#### Issue description

pip install mlpack on Windows fails to install mlpack: "No matching distribution found for mlpack".

#### Your environment

 * version of mlpack: 3.2.2
 * operating system: Windows 10
 * any other environment information you think is relevant: python 3.6

#### Steps to reproduce

1) pip install mlpack or pip install mlpack3

[2020-02-04 18:50] zoq commented on #2173
Yes, libmlpack-dev will only install the lib and header files, so no bindings or executables.

[2020-02-04 18:51] rcurtin commented on #2176
Thanks, good to open an issue for this.  I am still fighting with AppVeyor on the mlpack-wheels repo when I'm able to. :( You can see the carnage here: https://ci.appveyor.com/project/mlpack/mlpack-wheels/history

[2020-02-04 18:56] zoq commented on #2175
At this point mlpack does not support multi-node training, so I think we don't have actual use for the layer. Let me know what you think.

[2020-02-04 19:56] gmanlan commented on #2176
That's a big bloodbath there. Let me know if you need help, I have a couple of Windows horses to add to the battle.

[2020-02-04 23:54] himanshupathak21061998 opened #2177 "Implementing Attention layer for CNN"
Right now we don't have implementation of attention layer for CNN. We can add this layer as it will help the user to make use attention mechanism based CNN.

[2020-02-05 01:51] kartikdutt18 commented on #2177
Hi @himanshupathak21061998 , Could refer a library where they have a attention layer specifically for CNN because from what I understand we can use a model such as VGG and use output of CNN layer at different points across a model and use recurrent_attention_layer. I think tensorflow or pytorch do the same-thing where they have attention layer whose input is output of cnn. So I maybe wrong but thi

[2020-02-05 02:01] kartikdutt18 commented on #2177
Hi @himanshupathak21061998, I was working on making a generalized structure on models library where people could import models and use them by making changes required for their dataset and such a block would make a nice addition. However,  I think a member of this organization will provide better insight.

[2020-02-05 03:44] himanshupathak21061998 commented on #2177
Hello @kartikdutt18 Yes, you are right it is already implemented another oops moment from my side it's not good. I specifically mentioned CNN because it is most useful for CNN. That's a good idea of generalized structure on models library may be should talk to member about this. However I am closing this issue.

[2020-02-05 03:44] #2177 closed

[2020-02-05 04:02] kartikdutt18 commented on #2177
Not an issue.

[2020-02-05 11:37] hl-xue commented on #2173
OK, thanks, and when I build from the source, there are also some errors when I did the step of `make`:

The first one occurs at:
`[ 10%] Linking CXX executable ../../../../bin/mlpack_sparse_coding
CMakeFiles/mlpack_sparse_coding.dir/sparse_coding_main.cpp.o: In function `boost::archive::basic_binary_oprimitive<boost::archive::binary_oarchive, char, std::char_traits<char> >::save_binary(void const

[2020-02-05 15:44] mrityunjay-tripathi commented on #2175
Agree. On further reading the paper I come to know that it helps in speeding up the multi-network models. But still, I can't come to the conclusion that whether the sync batch norm will perform better in terms of speed than the default batch norm using parallel computing on CPU. Correct me if I got something wrong.

And whether mlpack plans to provide multi-node training support in the future?

[2020-02-05 16:55] PranavReddyP16 commented on #2152
@rcurtin I'm new here and if this issue is still open I would like to work on it. Has it been solved yet?

[2020-02-05 16:56] rcurtin commented on #2152
@PranavReddyP16 it's not closed, so yes, it's still open.  At this point nobody has opened a PR to solve the issue.  If you can do it, it would be great.  Once you have a PR ready let me know and I'll review it.  Thanks. :+1:

[2020-02-05 16:57] PranavReddyP16 commented on #2152
@rcurtin Thanks for the response. I'll get working on it

[2020-02-05 17:22] kartikdutt18 commented on #2166
Hi @zoq,Could you help me this https://github.com/mlpack/mlpack/pull/2172#discussion_r375355745 ,
Sorry that I keep disturbing you.
Thanks.

[2020-02-05 21:15] zoq commented on #2175
At some point I wrote a implementation for Downpour SGD: https://github.com/mlpack/mlpack/pull/1117 but this is just one part. I'm not sure if we would see a runtime improvement for sync batch norm on the CPU, if you like you could test it out, but perhaps there are other layer that you are interested in as well.

[2020-02-06 07:08] mrityunjay-tripathi commented on #2175
Ok, I will test it side by side while working on other things in mlpack. You may or may not close this issue for now, as you wish.

[2020-02-06 12:08] gaurav-singh1998 opened #2179 "Adding the GELU activation function"
Hi everyone, I want to start contributing to this organization by implementing the GELU activation function. The research paper regarding it can found [here](https://arxiv.org/pdf/1606.08415.pdf). Should I go forward with it?

[2020-02-06 12:12] himanshupathak21061998 commented on #2179
Hey @gaurav-singh1998 I was already working on this I have my implentation ready locally I was going to submit a pr for it this evening.

[2020-02-06 12:13] himanshupathak21061998 commented on #2179
Can you try any other issue

[2020-02-06 12:21] gaurav-singh1998 commented on #2179
Okay no problem

[2020-02-06 12:23] gaurav-singh1998 commented on #2179
Can you suggest some other activation function that I can implement or some other good first timer issues because most of them are taken by someone else?

[2020-02-06 12:42] himanshupathak21061998 commented on #2179
You can try for CELU it is quite similar to elu or can see pytorch library for more function.

[2020-02-06 13:36] hl-xue opened #2180 "Compiling Error Related with HDF5"
Hello,

When I compile my program with "g++ -fopenmp -lmlpack -larmadillo", I met a warning and several errors (I listed here the top 4):
[code]
I have already installed HDF5 on my computer with `sudo apt-get install libhdf5-serial-dev`. Do you have any idea why do these occur please ?

Thanks a lot !

[2020-02-06 13:38] kartikdutt18 opened #2181 "Addition of all Activation Functions."
Hi everyone, I have compiled a list of all activation functions that currently not implemented in mlpack but have can be found in either tensor flow or pytorch.

1. ~~SELU~~
2. CELU
3. GELU (Currently taken up by @himanshupathak21061998 )
4. Hard shrink
5. Lisht ( I have currently taken up this issue)
6. Soft shrink (Currently taken up by @ojhalakshya)
7. ISRU (Inverse Square Root Unit)
8. Inverse

[2020-02-06 13:39] kartikdutt18 commented on #2179
Hi @himanshupathak21061998, @gaurav-singh1998 you can refer to #2181

[2020-02-06 13:40] ojhalakshya commented on #2181
Hi @kartikdutt18  thats a very good initiative to take.
As I am currently working upon the soft shrink function and have almost completed the stuff there, is it ok if i take the Hard Shrink Function also?

[2020-02-06 13:49] kartikdutt18 commented on #2180
Hi @hl-xue, Did you recompile armadillo after install HDF5 ?
If not, could you try that. This is in reference to this [conversation](https://github.com/mlpack/mlpack/issues/1127#issuecomment-333116801)
Another reason might be multiple versions of HDF5 installed.
I am not sure if this was of any help, However a member of this organization will provide better insight.

[2020-02-06 13:58] gaurav-singh1998 commented on #2181
Hi, @kartikdutt18 I'll work on the implementation of CELU. Is it okay to move forward with it?

[2020-02-06 14:01] kartikdutt18 commented on #2181
Feel Free to do so.Thanks

[2020-02-06 14:01] kartikdutt18 commented on #2181
Feel Free to do so. Thanks.

[2020-02-06 14:02] #2179 closed

[2020-02-06 14:08] hl-xue commented on #2180
Yes ! Thanks a lot !

[2020-02-06 17:47] prince776 commented on #2181
I'll be working on 7) ISRU functions.

[2020-02-06 17:48] kartikdutt18 commented on #2181
Great. Thanks.

[2020-02-06 17:52] gaurav-singh1998 commented on #2181
Is ELU implemented? If not I'll work on it.

[2020-02-06 17:54] kartikdutt18 commented on #2181
Hi @gaurav-singh1998, ELU function is implemented in src/ann/layer folder of mlpack.

[2020-02-06 18:35] zoq commented on #2181
@kartikdutt18 thanks for opening the issue, just added some tags, so perhaps we can remove the `Good First Issue` from the title.

[2020-02-06 18:36] kartikdutt18 commented on #2181
Hi @zoq, I have removed them. Thanks.

[2020-02-06 18:37] zoq commented on #2180
@hl-xue looks like the problem is solved, so I will close this one, feel free to reopen the issue if there is anything else we should clarify.

[2020-02-06 18:37] #2180 closed

[2020-02-06 18:49] zoq commented on #2175
Let's close this for now, we can reopen it later if anything comes up.

[2020-02-06 18:49] #2175 closed

[2020-02-06 18:51] zoq commented on #2173
Awesome, glad you got it working. Let's close the issue for now; if there is anything that we should clarify, we can reopen it later.

[2020-02-06 18:51] #2173 closed

[2020-02-06 18:52] vss96 commented on #2181
I'll be picking up 9) ISRLU.

[2020-02-06 18:58] zoq commented on #2181
@kartikdutt18 Looking at the activation functions, **SELU** is already implemented:

https://github.com/mlpack/mlpack/blob/928aee24c75f4227b5c1702aeb0acdc9aaf486e0/src/mlpack/methods/ann/layer/elu.hpp#L263

[2020-02-07 02:36] kartikdutt18 commented on #2181
@zoq, Sorry I missed that, I will remove it from the list.

[2020-02-07 11:37] shrit opened #2185 "Apply EarlyStopping callback on validation set in the train function"
Hello,

Considering the FNN scenario, when the user would like to train a forward model using a neural network, the user would like to use the `Train()` function.
For example, a user would call the function like this:
[code]

Until now things are good, but if we took a closer look at the `Train` function, it is going to iterate through a set of epochs, each one with the objective is to minimize th

[2020-02-07 16:07] PranavReddyP16 commented on #2152
Hey, @rcurtin I'm getting an error on this line in the file load_image_impl.hpp:

https://github.com/PranavReddyP16/mlpack/blob/f77ef6197981d04b16dbc3d26fc8c35b4a79bb47/src/mlpack/core/data/load_image_impl.hpp#L40

This error came up when I removed the #ifdef HAS_STB statements.
The error is:
'loadFileTypes' was not declared in this scope
which wasn't showing up when the ifdef statemement were sti

[2020-02-07 16:30] jeffin143 commented on #2152
Here you go @PranavReddyP16  , you need to adjust this out

https://github.com/PranavReddyP16/mlpack/blob/f77ef6197981d04b16dbc3d26fc8c35b4a79bb47/src/mlpack/core/data/image_info_impl.hpp#L24

[2020-02-07 16:54] PranavReddyP16 commented on #2152
Thanks @jeffin143. Looks like I forgot to change image_info_impl.hpp.
I have a couple more questions and have updated my previous comment accordingly. Can you help me out?

[2020-02-07 17:04] jeffin143 commented on #2152
If it's unwanted then you should probably delete it

Try and build build Mlpack with your changes if it does build then you are good to go , just go ahead and raise a pr

[2020-02-07 17:04] PranavReddyP16 commented on #2152
Got it. Thanks for all the help :)

[2020-02-07 19:58] zoq commented on #2185
Thanks for the detailed issue description, one solution I have in mind that doesn't involve a change to the optimizer or mlpack API is to write a custom callback function which takes the validation dataset as input. Something like this:

[code]

I can see that a user might not want to use a callback in that situation, but we could implement your interface and internally use a callback to make this

[2020-02-07 21:49] shrit commented on #2185
@zoq Your solution is great.
The only thing that I miss here is the EarlyStopping because I do not see why a user would like to use it on the train data. The EarlyStopping should always be used on the validation set. Unless if it has another usage that I do know.
Both interfaces are great, we should pick the one which requires the less code to write and provide the appropriate interface.

[2020-02-08 03:56] rcurtin commented on #2185
I think a custom callback is the way to go here just like @zoq suggested. Remember that `EarlyStopping` is generic and for ensmallen, not just mlpack neural networks, so it's okay that it doesn't take an additional validation set---it wasn't made to do that.  It might be hard to find a way to provide a custom ensmallen callback that considers validation sets, but definitely not hard to just i

[2020-02-08 03:56] rcurtin commented on #2185
Sorry, wrong button...

[2020-02-08 05:57] PranavReddyP16 commented on #2152
Hey I've submitted a PR and it has passed all the required tests. Can someone please review it?

[2020-02-08 07:14] PranavReddyP16 commented on #2181
I will work on Inverse Square Root Linear if no one is doing that

[2020-02-08 12:50] zoq commented on #2152
@PranavReddyP16 thanks for opening the PR, someone will review it, once there is time.

[2020-02-08 21:51] shrit commented on #2185
Perfect, in this case, I will follow @zoq  suggestions.
I will try to create a pull request to this issue,  @rcurtin I will put the callback in the mlpack codebase.

[2020-02-09 11:43] jamiebullock opened #2190 "Website missing math symbols"
#### Problem location

https://mlpack.org/doc/mlpack-3.0.4/doxygen/nstutorial.html

#### Description of problem

It seems like math symbols are not being rendered on the website.  So there are gaps in the text as shown below.

<img width="1029" alt="Screen Shot 2020-02-09 at 11 40 37" src="https://user-images.githubusercontent.com/579188/74101397-51700d00-4b31-11ea-8075-23a5af4a0cce.png">

[2020-02-09 19:26] ocelaiwo opened #2193 "Clangd fails to fully index the project"
Hello everyone.

I wanted to explore the source code of this project, so I cloned the repository, installed the dependencies and ran `cmake -D CMAKE_EXPORT_COMPILE_COMMANDS=1`
After that, I tried opening the project in emacs with lsp-mode configured. Clangd started indexing the whole project, but in the buffer called `*clangd::stderr*` there were many messages like the following one:
`Failed to co

[2020-02-10 06:47] PranavReddyP16 commented on #2181
@kartikdutt18 since ISRLU has different values for different ranges, should I put if statements to handle the different ranges?

[2020-02-10 06:49] kartikdutt18 commented on #2181
Hi @PranavReddyP16, Yes that should be fine. You can see softplus or soft sign or rectifier or identity function for an example. I think they all use if conditions.
Thanks.

[2020-02-10 12:10] kartikdutt18 opened #2194 "Confused with Mean Pooling output."
Hi everyone, I wanted to see output of max pooling layer so I implemented the following code,
[code]
I got the following output,

   4.0000
   5.5000
   4.0000
   4.7500
   7.2500

When run the code on Pytorch using ,
inp = torch.tensor([[[[1,2.,3, 7], [4,5,6,6], [7,0,8,9]]]], dtype = torch.float)
nn.AvgPool2d(2,1)(inp)

I got the following output,

          [5.5000, 7.2500]]]])

The main differe

[2020-02-10 14:35] mrityunjay-tripathi commented on #2194
Actually PyTorch is also returning the same answer.
![pytorch](https://user-images.githubusercontent.com/35535378/74158729-98005d00-4c40-11ea-9ff0-00ff422fb6c7.png)

[2020-02-10 14:38] kartikdutt18 commented on #2194
Ohh thanks, I will check it out. I will reopen this if needed. Thanks.

[2020-02-10 14:39] #2194 closed

[2020-02-10 22:17] zoq commented on #2190
Thanks for the report, will look into the issue.

[2020-02-11 03:25] codeboy5 commented on #2181
Hi, @kartikdutt18, I would like to  work on the implementation of Inverse Square Root Linear. Can I work on it ?

[2020-02-11 03:50] kartikdutt18 commented on #2181
Hi @codeboy5, I think @PranavReddyP16 is working on that. Thanks. ( I will add some other good first issues that will require help, if you want to contribute you can work on it or find some other interesting issue.) Thanks.

[2020-02-11 04:09] codeboy5 commented on #2181
@kartikdutt18 Thanks please do that. Is any activation function still unoccupied ?
I recently about swish activation function, has someone implemented that previously?

[2020-02-11 04:12] kartikdutt18 commented on #2181
Hi @codeboy5, I don't think so. And yes swish has already been implemented. I think the above list contains all activation functions that haven't been implemented.