[2018-01-24 01:42] rcurtin commented on #1213
Hmm, looks like CMake 3.0.2 doesn't support `cmake -E env`.  Upgrading to a newer version of CMake should fix it, but I'm not sure what the minimum version is; looks like 3.1.0 though given this:

https://gitlab.kitware.com/cmake/cmake/commit/7abd574798f9900abfe502f3941cffaa774062b1

Can you try updating to at least 3.1.0 and see if that helps?  Then we can patch to require a minimum version of CM

[2018-01-24 02:00] ajkl commented on #1213
I knew it was CMake related but the recommendation in the docs is `CMake  >= 2.8.5`
Let me try to upgrade.

[2018-01-24 07:15] ajkl commented on #1122
I see this was resolved, but I am facing the same issue right now.
I have set the right `LD_LIBRARY_PATH` and `PYTHONPATH`. I also tried copying the package to the site-packages as suggested [here](https://stackoverflow.com/questions/37006114/anaconda-permanently-include-external-packages-like-in-pythonpath) but cant get rid of the error.
[code]

[2018-01-24 07:18] ajkl commented on #1213
Worked with `3.6.2`. Thanks.

[2018-01-24 07:18] #1213 closed

[2018-01-24 14:08] rcurtin commented on #1213
Do you want to update the documentation to give a minimum version of 3.1.0 and modify the `cmake_minimum_required()` line in CMakeLists.txt or should I? :)

[2018-01-24 15:48] rcurtin commented on #1122
Hmm, I tried reproducing this by running an Ubuntu 16.04 docker container, installing Anaconda, then installing all the mlpack dependencies and compiling.  Then from the build directory I did the following:

[code]

So it looks like it worked fine for me.  My first thought in your case is, did CMake configure with the correct Python version?  If you can paste the CMake output from the original con

[2018-01-24 19:46] ajkl commented on #1122
I did check that before posting. CMake did pick the right anaconda python
[code]

[2018-01-24 20:00] rcurtin commented on #1122
Are you sure you have `LD_LIBRARY_PATH` set right?  What happens if you run `ldd /home/ajkale/mlpack/build/src/mlpack/bindings/python/mlpack/test_python_binding.so`?

[2018-01-24 23:50] rcurtin commented on #1045
The EPEL7 update was finally merged, and I think that's as good as we'll manage to do for this one.  Ubuntu will update when they manage to update...

[2018-01-24 23:50] #1045 closed

[2018-01-24 23:51] rcurtin commented on #1150
Closing for inactivity---please feel free to reopen if needed.

[2018-01-24 23:51] #1150 closed

[2018-01-24 23:51] rcurtin commented on #1167
Closing for inactivity.

[2018-01-24 23:51] #1167 closed

[2018-01-24 23:53] rcurtin commented on #1145
Closing for inactivity.

[2018-01-24 23:53] #1145 closed

[2018-01-25 01:37] ajkl commented on #1122
Yes the LD_LIBRARY_PATH seems to be ok.
This is what I get
ldd
/home/ajkale/mlpack/build/src/mlpack/bindings/python/mlpack/test_python_binding.so
        linux-vdso.so.1 (0x00007fff01319000)
        libmlpack.so.2 => /usr/local/lib/libmlpack.so.2 (0x00007fa5bf51f000)
        libboost_serialization.so.1.55.0 =>
/usr/lib/x86_64-linux-gnu/libboost_serialization.so.1.55.0
(0x00007fa5bf29d000)

[2018-01-25 12:37] rcurtin commented on #1122
Just to double-check, is `/usr/local/lib/libmlpack.so.2` the version that you just built and installed, or is that perhaps another version of mlpack installed previously?

Debugging these types of issues in Python I have found to be difficult because Python doesn't give much for error output.  Another thing to check is to make sure `test_python_binding.so` is in the `mlpack/` directory that is on

[2018-01-25 20:54] ajkl commented on #1122
Yes, I re-installed it to make sure the libmlpack.so* are created after the fresh install.

Answer to other questions -
[code]

[2018-01-25 22:55] RohanRajadhyax commented on #1112
@zoq @rcurtin I am interested in implementing any of the deep learning algorithms or a feature in mlpack.
Any suggestion for your end would be helpful.

[2018-01-25 23:08] zoq commented on #1112
Hello @RohanRajadhyax, one feature that is currently missing is ``arma::cube`` support for the ``Binarize`` method (https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/data/binarize.hpp). Currently, it just works for ``arma::mat`` so what we currently do is to go through the object slice by slice; here is an example: https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/recurrent_

[2018-01-26 17:28] rcurtin commented on #1122
I thought about it for a while, and I'm not sure what exactly is going on.  I'd like to reproduce this; can you tell me how you built this system so I can do the same?

[2018-01-26 19:37] vmg27 commented on #922
Hi @rcurtin, I am getting a failed test for adaboost 'WeakLearnerErrorIris' in my local machine.

`fatal error in "WeakLearnerErrorIris": critical check error <= weakLearnerErrorRate failed [0.040000000000000001 > 0.033333333333333333]`

[2018-01-29 11:22] nikhilgoel1997 commented on #1152
I am working on binding tests for adaboost. If anyone else is working on this, please tell.

[2018-01-29 13:51] Prabhat-IIT commented on #1152
I am working on it @nikhilgoel1997

[2018-01-30 21:10] mknafl commented on #1158
I tried to add the code section above to the function RunPCA in pca_main.cpp and got link errors for boost program options so I tried what your first comment said

I tried commenting out "if (MSVC)..."
and then ran and got the following output
C:\Dev\mlpack_2.2.5_clang\mlpack-2.2.5\build>cmake -G "Visual Studio 14 2015 Win64" -T "v140_clang_c2" -DBLAS_LIBRARY:FILEPATH="C:/ProgramData/Miniconda3/Li

[2018-01-31 04:34] deepakks1995 commented on #1112
Hi @zoq , I would like to know how you are planning to templatize the `arma::code` and `arma::mat` in the Binarize method. One solution which I think is that  we take the input of binarize function as a `arma::cube` and the process the input slice by slice in the Binarize function and then return the output as a cube. Correct me if I am wrong

[2018-01-31 14:11] zoq commented on #1112
[code]

This is the first method of the two, which should work just fine if we use ``MatType`` instead of ``arma::Mat<T>``.

The second function isn't that simple, in this case, I think we could provide a specialized implementation for ``arma::Cube<T>`` and proceed as you suggested.

[2018-02-02 14:55] rcurtin opened #1222 "Greedy KNN doesn't always return enough results"
@nvasil pointed this one out.  If you try to use k-nearest-neighbor search with the greedy algorithm, it may not return results.  Here is a simple way to reproduce the issue:

[code]

That will calculate the nearest neighbors of every point in `test_data_3_1000.csv` (though any dataset will work) building a tree with a leaf size of 1 (meaning that every leaf in the tree holds only one point).  Sin

[2018-02-03 04:06] manish7294 commented on #1222
@rcurtin Shall I work on this issue, I think it would help me dive into knn codebase.

[2018-02-03 06:19] conradsnicta opened #1223 "use of internal armadillo functions (diskio)"
Hi @rcurtin,

While implementing speedups in Armadillo's internal diskio class, I've discovered that mlpack is using an internal armadillo function:
https://github.com/mlpack/mlpack/blob/a16363a9c9cf3e9bf1145f5a593d384d74ab873f/src/mlpack/core/data/load_arff_impl.hpp#L200

I recommend changing the code so it doesn't use `arma::diskio::convert_naninf()`.  I'm planning to remove that function.

In g

[2018-02-03 12:16] manish7294 commented on #1222
@rcurtin, I tried working up a solution as per your thought but it didn't workout as expected in case I implemented it correctly :-} . I think here reaching leaf node might not be a problem as this same thing is possible in single tree traverser which is working perfectly fine.

[2018-02-04 22:27] rcurtin commented on #1222
The issue should also occur in single-tree mode.  The reality is that if you use a tree that only holds points in the leaves (for instance, the kd tree), and the search goes to a leaf that has fewer than k points (given k, the number of nearest neighbors to be found), then fewer than k base cases will be calculated and it is not possible to get enough results.  Let me know if I can clarify.

[2018-02-05 05:48] Prabhat-IIT commented on #1222
The same thing is happening even if k<l  i.e. if leaf size is greater than number of nearest neighbors to be found but the results are fully wrong in case of l=1 where as it's partially incorrect in case of other value of l. I can also reproduce the results if wanted!

[2018-02-05 15:31] #1201 closed

[2018-02-05 16:06] rcurtin commented on #1223
Yep, you are fully right that we have left the reservation and are in uncharted territory.  But, rest assured that we are aware of the danger of our actions.  In this particular case, to give some context, we need to provide an ARFF reader, which Armadillo doesn't (and likely shouldn't since it has no notion of categorical variables; I think ARFF is out of scope for Armadillo).  We strongly desire

[2018-02-05 16:45] rcurtin commented on #1222
No, unfortunately it will be somewhat more complicated than that, since the type of `rule` won't always be `NeighborSearchRules`, so we have no idea what `k` will be.  Instead I think that we might have to modify the abstraction a little bit, or come up with some other idea.  Probably the first step is to go through and understand the abstractions, then think about how the change can fit in.

[2018-02-05 16:47] rcurtin commented on #1222
(sorry, I should have put both replies in one post)

@manish7294: the greedy algorithm isn't guaranteed to return absolutely correct nearest neighbors, but the problem here is just that we return any neighbors at all.  For the greedy algorithm, the key is to terminate the recursion and evaluate all of the base cases of the descendant points the level before `referenceNode.NumDescendants() < k`.  L

[2018-02-05 20:18] PranayMukherjee commented on #1112
I would really love to add something new to mlpack. Could you guys suggest some possible algos. which havent been implemented yet?

[2018-02-05 21:11] Prabhat-IIT commented on #1222
@rcurtin  I've tried k nearest neighbour using  `NeighborSearch` class and the results are good. Only the command line executables are giving this problem

    `arma::mat data;
    data::Load("/home/prabhat/mlpack/build/test_data_3_1000.csv", data, true);
     NeighborSearch<NearestNeighborSort, ManhattanDistance>
      nn(data,GREEDY_SINGLE_TREE_MODE);

    arma::Mat<size_t> neighbors;
    arma::

[2018-02-05 21:22] Prabhat-IIT commented on #1112
Hi @zoq ....(dungeon_master here 😅) can I work on arma::cube feature or any other optimiser or any new deep learning algorithm?

[2018-02-05 21:30] rcurtin commented on #1222
I am not sure what `n.csv` or `d.csv` are since you are not saving anything to a file in the code snippet (maybe I misunderstood?) but in any case you should build the tree with leaf size == 1, or set k higher (like 50; the default leaf size is 20).

[2018-02-05 21:47] zoq commented on #1112
@PranayMukherjee @Prabhat-IIT one idea would be to implement the Glorot initialization method (http://proceedings.mlr.press/v9/glorot10a/glorot10a.pdf), here are the already implemented methods that could be helpful: https://github.com/mlpack/mlpack/tree/master/src/mlpack/methods/ann/init_rules

Another idea is to implement an optimization method e.g. SAGA (https://papers.nips.cc/paper/5258-saga-a

[2018-02-05 21:50] zoq commented on #894
Covered by: https://github.com/mlpack/mlpack/pull/1151

[2018-02-05 21:50] #894 closed

[2018-02-05 21:52] zoq commented on #893
1 and 3 is implemented and there is an open PR for method number 2, so I close this one.

[2018-02-05 21:52] #893 closed

[2018-02-05 22:16] Prabhat-IIT commented on #1222
Actually I've just written `n.csv` and `d.csv` for your reference to understand. I'm just printing on terminal. Could you plz tell where I can pass the leafsize as I couldn't find this parameter in the declaration of `search` function in `NeighbourSearch class` ?

[2018-02-05 22:36] Prabhat-IIT commented on #1112
@zoq  So we have to just implement the 'Normalized Initiliazation' part of the Glorot Initialization. A method giving initial weights according to the proposed soln in the paper would suffice I think?

[2018-02-05 22:38] zoq commented on #1112
@Prabhat-IIT Correct.

[2018-02-06 13:07] manish7294 commented on #1222
@rcurtin just one more question. Do you think the result below is even slightly near to what you expect from greedy?

[code]

[2018-02-06 13:08] rcurtin commented on #1222
Except for the `1.797693134862E+308`, yes. :)  The `1.797693134862E+308` represents that no neighbor was found.

[2018-02-06 13:10] rcurtin commented on #1222
@Prabhat-IIT: you'll have to build the tree by hand.  Take a look at the overload of the constructor of `NeighborSearch` that takes a pre-built reference tree.  Some example code for tree building and passing it to `NeighborSearch` can be found in the tests, like in `src/mlpack/tests/knn_test.cpp`.

[2018-02-06 13:10] manish7294 commented on #1222
yes absolutely, so do you think that we will definitely get neighbor for each ` k` using greedy?

[2018-02-06 13:12] rcurtin commented on #1222
Right now, if you use the greedy algorithm, it traverses to a leaf which may not contain `k` points---this is the whole problem.  We need to modify the algorithm so that the base case (`rule.BaseCase(...)`) is called on at least `k` points, and then `k` results will be returned for each query point.  The trickiness here is figuring out the best way to modify the greedy traverser in such a way that

[2018-02-06 13:15] conradsnicta commented on #1223
I think option (2) is a non-starter, as it will continue to cause problems.  I think the best bet is a form of option (1), where mlpack is handling inf/nan using its own adapted form of convert_naninf().

Note that convert_naninf() from Armadillo <= 8.300 was used as part of a hacky stopgap until better handling of text files as devised.  In 8.400 I've refactored the approach for reading text file

[2018-02-06 13:16] manish7294 commented on #1222
Thanks! I think this is what I needed to get a clear idea. Will let you know if I got stuck again :)

[2018-02-06 13:31] rcurtin commented on #1223
Sure, I think that is reasonable.  My concern again is just subtle incompatibilities between the two versions over time; right now we are able to accept `inf`, `Inf`, `INF`, `nan`, `Nan`, `NaN`, or `NAN` exactly the same way Armadillo does, but if someday you decide that `naN` is also acceptable, if we go with option (1) we suddenly have the situation where `naN` works with some formats in mlpack

[2018-02-06 15:50] manish7294 commented on #1222
@Prabhat-IIT Currently the recursion is taking us directly to the leaf node which consists of only one point (in case of leaf size equals 1), by this it can easily be seen that we will not be getting any neighbour. So what we can do is stop the recursion before `referenceNode.NumDescendants() < k` and take base cases for all the descendants points.
But here what is happening:
the number of descend

[2018-02-06 17:24] Prabhat-IIT commented on #1222
Thanks @manish7294 I've understood what's going on here but while implementing `k` would be a major problem as @rcurtin informed us in one of the above comment that we have no idea of what `k` is!!

[2018-02-06 17:32] manish7294 commented on #1222
Ya that's right as @rcurtin  mentioned rule will not be always `NeighborSearchRules` so using `rule.ReturnK() ` will not be helpful in general. This need to be taken care of, may be as @rcurtin suggested or through some other ways. But temporarily we may use that for testing of greedy functionality.

[2018-02-06 17:36] Prabhat-IIT commented on #1222
Thanks @manish7294  but how can we force that the rule should be `NeighbourSearchRules` so that we can test?

[2018-02-06 17:39] manish7294 commented on #1222
If I am not wrong for knn we are only using ` NeighbourSearchRules` so it won't be a problem to temporarily modify  ` NeighbourSearchRules`.

[2018-02-06 17:41] Prabhat-IIT commented on #1222
Yup I'm doing the same thing!! Let's see if I can bust this bug :)

[2018-02-06 17:43] manish7294 commented on #1222
Sure, go ahead. Let me know if I can be of any help.

[2018-02-06 21:30] zoq commented on #1112
I'm closing this issue, ideally, anyone who likes to contribute a new method should identify something that mlpack is currently missing and start a discussion e.g. here on Github, IRC or via the mailing list (see http://www.mlpack.org/help.html for more information). We are more than happy to answer any questions and help with any upcoming issues.

[2018-02-06 21:30] #1112 closed

[2018-02-07 01:32] conradsnicta commented on #1223
I think the slowest part is reading and interpreting the data. In comparison, transposing is a relatively cheap/fast operation. The CSV reader in <= 8.300 is horribly inefficient, to put it politely.  In 8.400 it's about 2 to 3 times quicker, but it's still not the best.  To handle loading and transposing at the same time would require another file type (eg. csv_ascii_trans), which I'm currently n

[2018-02-07 15:47] rcurtin opened #1227 "Avoid setting random seed in main tests"
This one is related to #1152 and would be a good issue for someone who is looking to contribute.

One of the keys about the test `mlpack_test` is that its results are reproducible for a single build.  So, the random seed should never be set during the test, instead preferring to leave it to whatever it is set to during compilation.  This means I can run `mlpack_test` multiple times, and if a singl

[2018-02-07 15:49] rcurtin commented on #1223
Agreed, I just wanted to toss the idea out there if you saw an easy way to add it.  I'll benchmark the 8.400 CSV reader when it's ready and let you know how it compares to what you've implemented.  Once #1226 passes the checks I'll merge it and close this issue.

[2018-02-07 18:03] rcurtin commented on #1223
Fixed in #1226.

[2018-02-07 18:03] #1223 closed

[2018-02-08 07:51] sshkhr opened #1228 "Missing common initializations in the ann module"
Xavier initialization (introduced in [Understanding the difficulty of training deep feedforward neural networks](http://proceedings.mlr.press/v9/glorot10a/glorot10a.pdf) ) and He initialization (introduced in [Delving Deep into Rectifiers: Surpassing Human-Level Performance on ImageNet Classification](https://arxiv.org/abs/1502.01852) ) are among the most common initializations used today in train

[2018-02-08 17:00] sshkhrnwbie commented on #1228
Thanks for the update @zoq . I will try and work on it over the weekend. If I need any help I will take the discussion to the irc channel.

[2018-02-08 17:59] zoq commented on #1228
Sounds good.

[2018-02-09 03:37] conradsnicta opened #1230 "armadillo 8.400 RC1"
@rcurtin  - I've released Armadillo 8.400 RC1 (Release Candidate 1):
http://sourceforge.net/projects/arma/files/armadillo-8.400-RC1.tar.xz

Could you test it and let me know if you encounter any issues?

Apart from the changes listed below, I've also tagged a bunch of iterator functions to warn if their output is unused.  This shows up as many warnings when compiling mlpack.  The most relevant is

[2018-02-09 14:30] akhandait opened #1231 "Python import takes too long."
I built mlpack from source according to the documentation.
Importing mlpack in python 2.7 takes too much time, I timed it:
It takes about 30 seconds to import mlpack or any of its specific parts like knn.
Is it due to it being kept as an egg file in python dist-packages?

[2018-02-09 14:34] rcurtin commented on #1231
Hi there,

You are absolutely right; the fact that mlpack is an egg file in dist-packages means that all of the .so files have to be unpacked and then loaded.  If you unpack the egg file directly into dist-packages, this should help fix the issue.  However, I have not managed to find a way to get setuptools to install directly and not as an egg.  If you know the trick for how to do that, it would

[2018-02-09 15:47] Prabhat-IIT opened #1232 "Documentation needs to be clarified"
In the [allow_empty_clusters section of documentation](http://www.mlpack.org/docs/mlpack-2.2.5/doxygen/kmtutorial.html) it is written that

whereas in [EmptyCluster section of Documentation](http://www.mlpack.org/docs/mlpack-2.2.5/doxygen/classmlpack_1_1kmeans_1_1AllowEmptyClusters.html) it is stated that

As `allow_empty_clusters` is the default constructor used for this policy of `EmptyCluster()

[2018-02-09 16:13] rcurtin commented on #1232
I agree, the documentation seems to be off here.  Thank you for digging in and pointing that out.

I think that we should update the documentation: empty clusters will not be filled with NaNs (or DBL_MAX) if `allow_empty_clusters`.  I might suggest something more like

(or similar)

For `kill_empty_clusters`, I agree, it would be nice add another example to the k-means tutorial.  Another thing we

[2018-02-09 16:16] rcurtin commented on #1230
Thanks for the notification.  I built with gcc and clang and there were a few internal Armadillo warnings:

[code]

[code]

I also went ahead and fixed some of the mlpack-specific warnings as an add-on to another open PR (#1229); thanks for pointing those out.

[2018-02-09 19:40] Prabhat-IIT commented on #1232
Thanks for some good suggestions @rcurtin . As soon as I get some time I'll fix these bugs. Actually, my exams are going to start so I'm slowing down. Sorry  for that!

[2018-02-09 21:34] akhandait commented on #1231
#1233

[2018-02-10 14:37] manish7294 commented on #1222
@rcurtin today I again tried implementing this. And to my surprise I was missing a very silly point this whole time in my implementation. Finally here are the results :)

Command used:
`$ bin/mlpack_knn -r test_data_3_1000.csv -k 5 -a greedy -n n.csv -d d.csv -l 1`

[code]

[code]
Will open a PR shortly, just need to work out some few minor details.

[2018-02-10 19:11] Prabhat-IIT commented on #1227
@rcurtin here we have to avoid calling `math::RandomSeed(std::time(NULL))` or both `math::RandomSeed((size_t) CLI::GetParam<int>("seed"))` and `math::RandomSeed(std::time(NULL))`. I'm confused if we avoid calling both i.e. avoid calling `math::RandomSeed()` altogether then how will the randomseed will be set? What should be it's value when we don't pass the `seed` as input Param as well as when we

[2018-02-10 23:54] rcurtin commented on #1227
One way would be to disable the functionality of `math::RandomSeed()` when we are calling from the tests.  There are some macros that are set only inside of the tests.

[2018-02-11 00:00] Prabhat-IIT commented on #1227
Yeah `BINDING_TYPE == BINDING_TYPE_TEST` so we can use this condition to disable the functionality of `math::RandomSeed()`

[2018-02-11 11:19] dancooke opened #1235 "Random Forest documentation"
It looks like a random forest implementation was recently added (#1035), however, I don't see any mention of this in the documentation.

[2018-02-11 13:17] akhandait commented on #1231
@rcurtin Do look into the pull request.

[2018-02-12 05:26] conradsnicta commented on #1230
@rcurtin - thanks for testing this. I've fixed the problems you listed and addressed a bunch of other minor issues.  Could you do test RC2?
http://sourceforge.net/projects/arma/files/armadillo-8.400-RC2.tar.xz

[2018-02-12 14:18] rcurtin commented on #1235
Hi Dan,

You're right, but can I ask you to elaborate on where you would expect a mention of this?  There is currently no tutorial, but my hope would have been that the `--help` documentation would have been sufficient (like if you run `mlpack_random_forest --help`).  In any case, #175 is open for the tutorial to be written.

A line should be added to `HISTORY.md` also, but since there has not bee

[2018-02-12 14:19] rcurtin commented on #1231
Don't worry, repository owners get emails for just about everything that happens in the repository, so no reminder is needed.  I had just not taken the time to look into it yet.

[2018-02-12 17:53] rcurtin commented on #1230
Built, ran tests, looks good to me.  No warnings in gcc or clang.  Thanks!  I'll go ahead and close this now (unless you have more you want me to test).

[2018-02-12 17:53] #1230 closed

[2018-02-12 21:58] starlord1311 commented on #1023
can i take up this issue? @zepen

[2018-02-12 22:01] starlord1311 commented on #414
@zoq can i take up this issue?

[2018-02-12 22:07] zoq commented on #414
@starlord1311 Sorry, forgot to close the issue, solved in: https://github.com/mlpack/mlpack/commit/85482cc0b194262ae354a2e01a7028d7d4cefa60#diff-f82a63766e75369ce5f94a67a73544de, but if you like you can implement another initalization method like: the ReLU Initialization method as described in: Delving Deep into Rectifiers:
Surpassing Human-Level Performance on ImageNet Classification by Kaiming H

[2018-02-12 22:07] #414 closed

[2018-02-13 08:11] saurabhpal97 commented on #1228
@sshkhrnwbie any updates regarding the implementation? I also want to work on this issue so if you have not already implemented the initialization modules maybe we can split the work.

[2018-02-13 10:10] zoq commented on #1023
@zepen Feel free to work on the issue, the first step is to reproduce the error, let us know if we should clarify anything.

[2018-02-13 11:16] sshkhrnwbie commented on #1228
That sounds like a great idea @saurabhpal97 . I am trying to get a VarianceScaling initializer implementation to work. You will find it much easier to implement the Xavier and He initializers using it once it is finished.

[2018-02-13 17:08] Wenhao-H opened #1243 "A possible bug in neighborhood-based CF implementation"
Hi,

I noticed that in cf.cpp, when calculating the nearest neighbors of a certain user _users(i)_, the user _users(i)_ itself is returned as one of the nearest neighbors:

https://github.com/mlpack/mlpack/blob/5662319dc25d78107e470f4695678956c3f98a95/src/mlpack/methods/cf/cf.cpp#L82-L99

I suppose _users(i)_ should be excluded from the list of nearest neighbors in a neighborhood-based CF.  The co

[2018-02-13 18:58] avantikasingh commented on #175
@rcurtin
Interested in documenting Logical Regression. Is it done or may I go for it?

[2018-02-14 05:38] Wenhao-H commented on #1243
I modified the code to print all pairs of neighbors:

    for (size_t j = 0; j < neighborhood.n_rows; ++j) {
      averages += w * h.col(neighborhood(j, i));
      std::cout << "(" << users(i) << "," << neighborhood(j ,i) << ")" << std::endl;
    }

and run a simple program:

[code]

And the printed result shows that each user is selected as the nearest neighbor of itself:
[code]

[2018-02-14 14:37] prashanthduvvada commented on #1152
Hello,

I'm newbie to mlpack. I would like to work on hoeffding_tree, kernel_pca, knn and nca. Since being new, I will take some time in doing this task but will send PR's as soon as possible. If anyone else is working on this please update.

[2018-02-14 14:47] rcurtin commented on #1243
Thanks for confirming that this is an issue, I appreciate that.  At this point if you want to fix it we can definitely merge a PR for that.  I would say the easiest way to fix this might be to search for `numUsersForSimilarity + 1`, then simply ignore the first row of results.  Modifying `NeighborSearch` for that would be, I think, a little too difficult and the runtime gain would likely be neglig

[2018-02-14 15:00] Wenhao-H commented on #1243
I agree with your solution. That's what I had in mind too. I will fix it and make a PR:)

[2018-02-14 15:42] rcurtin commented on #1152
Hi Prashanth; sorry but hoeffding_tree is already taken by #1211.  I think the other three are not taken though.  I would suggest only starting with one though.

[2018-02-14 16:09] prashanthduvvada commented on #1152
Oops! Didn't check the #1211. Then I would start with kernel_pca.

[2018-02-14 19:47] saurabhpal97 commented on #1228
Thanks @sshkhrnwbie  I will get right to it

[2018-02-15 05:32] scrcro commented on #1160
I guess this can be closed now.

[2018-02-15 13:27] KrUciFieR-Jr commented on #1021
Is this issue open if yes I would like to work on it

[2018-02-15 14:37] rcurtin commented on #1160
Agreed, I believe this is done now.  Thank you for your hard work with the PR; it is really nice to see the support. :)

[2018-02-15 14:37] #1160 closed

[2018-02-15 14:51] rcurtin commented on #1021
Yes, it is (it would be closed if it was done), but like I wrote in a previous response, I'd suggest doing small pieces at a time.  Feel free to go ahead and work on it.

[2018-02-16 09:19] akhandait commented on #1152
I am working on range_search binding tests.

[2018-02-16 14:11] rcurtin commented on #1222
Fixed since #1234 is merged.  @nvasil: now the problem is gone; if you update your codebase and rebuild you shouldn't have any more issues with the greedy traverser. :)

[2018-02-16 14:11] #1222 closed

[2018-02-16 14:14] rcurtin commented on #1243
From the discussion in #1251---it turns out, this is actually not a bug but intentional.  So I will close this.

[2018-02-16 14:14] #1243 closed

[2018-02-16 14:37] Wenhao-H commented on #1152
Hi I am working on nmf. If anyone is working on this pls let me know.

[2018-02-16 14:38] rcurtin commented on #1122
I'm actually pretty sure this issue is something I later encountered and fixed in #1249.  If you have a chance to retry, please let me know if it works, but I'm pretty confident this was the issue so I'll go ahead and close this.

[2018-02-16 14:38] #1122 closed

[2018-02-16 14:43] rcurtin commented on #1152
I am trying to keep the list of "taken" methods up to date, so if you see that I haven't put a check mark next to something you are working on, just let me know. :)

[2018-02-16 15:16] rcurtin commented on #1158
Hey there @mknafl, sorry for the slow response.  This is a bit of a difficult one.  I can see that the code is compiling fine but it is not linking correctly.  This time the linker errors are these (plus some others):

[code]

So to me it looks like it is not linking against (a) OpenMP (b) boost correctly.

For (a) I guess we could dig deeper or simply disable OpenMP support.  If you want to disab

[2018-02-17 06:31] Shashi456 commented on #1203
How i probably go about completing the travis integration @ShikharJ

[2018-02-17 06:50] ShikharJ commented on #1203
Hi @Shashi456. As you can see from the discussion in #1205, we're still under discussion regarding what should be done regarding this issue. We're probably past the idea of `Travis` integration for `Clang-Format`, though you might want to dig into @rcurtin's idea [here](https://github.com/mlpack/mlpack/pull/1205#issuecomment-360147330)?

[2018-02-17 13:18] arjunmenon opened #1254 "CLI for ANN"
Hey
Are ANN classes available from the CLI? From the docs it isn't apparent.
How can we use it otherwise?

[2018-02-18 10:48] akhandait commented on #1152
I am having some issue with building mlpack_test with range_search_test.cpp. I have posted it on irc channel. Till it's solved, I am working on knn_test.

[2018-02-18 15:16] zoq commented on #1254
You are right there doesn't exist an CLI for the ANN classes. You would have to use it from within your C++ code. I think it would be great to have an executable for the network code, however since there is no single architecture it's somewhat complex to provide all the necessary settings and at the same time make it easy to be used.

[2018-02-18 16:38] arjunmenon commented on #1254
I am not proficient with C++. I was hoping to add a Ruby wrapper to the CLI. So two things,
1. Is there support planned for a Ruby binding
2. If I have to make an attempt, where do I start.

[2018-02-18 20:26] akhandait opened #1259 "K-nearest neighbor search gives an arbitrary point"
When we provide only the reference dataset to the knn search and put k equal to the number of points in the dataset, the last nearest point it provides for each of the points is apparently an arbitrary one.

Here is an example,
` mlpack_knn -k 7 -r cov.csv -n neighbors.csv ` in the terminal
when cov has the following points:
4 | 2
7 | 1
8 | 7
6 | 3
4 | 5
7 | 7
9 | 0

gives following neighbors:
3 |

[2018-02-19 12:58] zoq commented on #1254
For more information about how to add bindings to other languages please take a look at: http://www.mlpack.org/docs/mlpack-git/doxygen/bindings.html, let us know if we should clarify anything.

[2018-02-19 18:52] robertohueso commented on #1152
I am working on knn tests :)

[2018-02-19 19:32] akhandait commented on #1152
@robertohueso, I have already written 7 tests for knn_main and working on more, can you please chose some other method to write tests for?

[2018-02-19 21:50] akhandait commented on #1152
As test requirements for kfn and knn are almost all the same, I will commit tests for kfn as well in #1263.

[2018-02-20 10:27] Wenhao-H commented on #1152
@manish7294 hi manish have you started with cf binding test? cuz there there is a small issue with cf binding which I want to fix before you start. Or if you want I can help with implementing the cf binding test :)

[2018-02-20 12:26] manish7294 commented on #1152
@Wenhao-H Currently I am going through my exams. So,  you can start with cf bindings if you like to. If you have any other questions then feel free to ask, I will try my best to reply as early as I can :)

[2018-02-20 13:03] #1231 closed

[2018-02-20 13:41] rcurtin commented on #1259
Hi Atharva,

You are correct and you have found an edge case that we should fix.  When no query set is specified, then the reference set is used as the query set, and some filtering is done to make sure a point is not returned as its own nearest neighbor.  Thus, in this case, we should ensure that `k <= referenceSet.n_cols - 1`.  If you'd like to open a PR we can get it fixed.

Thanks!

[2018-02-20 13:45] rcurtin commented on #1254
Hi Arjun,

There isn't currently any planned support for Ruby.  If you are interested in writing a Ruby binding generator, it would be great and @zoq has given a link to some useful documentation.  But unfortunately proficiency with C++ is going to be necessary to write this binding generator, so you may want to also study C++ a little more closely before diving too deep.

[2018-02-20 13:48] akhandait commented on #1259
Okay, I will solve this and open a PR.

[2018-02-20 20:05] robertohueso commented on #150
I would like to start working on this, please @serendipity5497 let me know if you continue to work on this :smiley:

[2018-02-21 05:13] akhandait opened #1266 "Greedy algorithm in neighbor search gives wrong results"
While writing tests to check outputs of all algorithms for `knn` and `kfn` bindings, I found that outputs of greedy algorithm are not the same as other three(dual_tree, naive, single_tree).
I checked manually and it is indeed the case.

I have used `test_data_3_1000.csv` as reference and `rann_test_r_3_900.csv` as query.
k = 10.

The first 10 nearest neighbor entries of the dual_tree output
(naive

[2018-02-21 13:04] rcurtin commented on #1266
That is because the greedy algorithm is an approximate algorithm.  Please read the paper:

http://papers.nips.cc/paper/2666-an-investigation-of-practical-approximate-nearest-neighbor-algorithms.pdf

[2018-02-21 13:04] #1266 closed

[2018-02-21 13:20] akhandait commented on #1266
Okay, sorry for that. I would make sure to check next time whether something really is an issue.

[2018-02-21 13:55] KARTHEEKCIC commented on #1152
I would like to work on gmm_train, gmm_generate, gmm_probability. If anyone is working please let me know.

[2018-02-21 14:17] desai-aditya commented on #1254
Hi rcurtin,

I was planning to work on this in small pieces. Could I first implement a CLI that achieves this -
https://github.com/mlpack/models/blob/master/Kaggle/DigitRecognizer/src/DigitRecognizer.cpp
and then later improve it?

[2018-02-21 14:25] rcurtin commented on #1254
We need to wait for @zoq's input also, but my opinion is that any CLI program needs the following functionality:

 * specify a neural network architecture arbitrarily (possibly by loading it from a YAML file or something?  We should probably discuss that part)
 * train on some given training data, with the user able to specify the optimizer and optimizer parameters
 * evaluate a trained model on s

[2018-02-21 15:16] akhandait commented on #1254
@zoq, since we don't have any CLI for ANN classes, do you think it will be a good idea to start with a CLI for fully connected ANN with options for all other required parameters?
If yes, I would like to work on it.
@rcurtin I think it will be possible to incorporate all the other functionality mentioned above.
Maybe we could further develop it to support any neural network architecture.

[2018-02-21 15:37] desai-aditya commented on #1254
@rcurtin :
What do you mean by 'loading it from a YAML file or something'?

[2018-02-21 18:29] zoq commented on #1254
I agree with @rcurtin, we should not merge anything that doesn't support:

YAML for the config file sounds like a good idea to me, however parsing isn't as simple as e.g. csv and I don't like to include another dependency (perhaps boost spirit could be helpful).

Instead of specifying the architecture e.g. layers via command line parameters we use a config file, YAML is just the format, we could a

[2018-02-21 18:33] rcurtin commented on #1254
Agreed, I want to avoid new dependencies also.  It's also possible we could come up with a very simple custom format that we can parse ourselves.  I do think boost::spirit could be used to parse YAML but it looks like implementing a YAML parser might be complex:

https://github.com/cierelabs/yaml_spirit

So maybe some plain text file is best?

[code]

could be one way to do it for a 3-layer linear

[2018-02-21 18:36] zoq commented on #1254
Agreed, that's super simple and easy to read.

[2018-02-21 18:50] akhandait commented on #1254
I really like this idea. Also, I have worked with neural networks before and would love to write a CLI for it.
I think it will be really good and neat to input the network configuration as a txt file.
Can I go ahead and start implementing this, keeping all the 5 requirements in mind? :)

[2018-02-21 18:58] akhandait commented on #1254
@desai-aditya Do you want to work on this as well?
It also doesn't seem to be a small project, will you like it if we worked on it together?

[2018-02-21 19:04] desai-aditya commented on #1254
Yes we can surely collaborate @akhandait . How do you suggest we split the work?

[2018-02-21 19:24] akhandait commented on #1254
Okay, so I think we will need a day or two just to get really comfortable with the ANN method. The next step according to me will be to come with a concrete model for how we will implement it. If you have already dived into it and are comfortable maybe you could look at the CLI bindings we already have and come up with a basic structure for our implementation.
After that maybe we can discuss how t

[2018-02-21 19:43] rcurtin commented on #1254
This all sounds good to me.  Probably we will have to flesh out the file configuration format somewhat, but if we can keep it of the form

[code]

I think that would be simplest to parse and work with.  Sometimes the input or output size may not be needed.  It'll also be really important to document exactly what the format is so that people can assemble simple networks just by looking at the docum

[2018-02-21 20:05] akhandait commented on #1254
Yes,
@desai-aditya Documenting it well should be one of our top priorities.
Maybe we could also add some tutorials but that is thinking quite into the future.

[2018-02-21 20:24] desai-aditya commented on #1254
so help me if I forgot something -
first we'll just focus on linear models and then later add rnns
<batch size> : any int  (-b)
<train-test split ratio> : double between 0 and 1 (-r)
<optimizer> : type of optimizer: sgd , I dont know which others can fit need to read docs (-op)
<step size of sgd> : double  (-s)
<test file> : filename (-t)
<output file> :  filename (-o)
<train file> : filename (-i)

[2018-02-21 23:48] zoq opened #1267 "ANN Input/Output Size"
Currently, if we build a network we have to specify the input and output size for each layer, ideally a user should only specify the input/output size for the first layer, and only specify the output size for the upcoming layer. Here is a simple example:

[code]

which should transforms to this:

[code]

There is something similar already in place to set the input and output width for the convolut

[2018-02-21 23:55] zoq commented on #1254
Looks good to me, and I agree let's start with the linear models. About the network.conf file, ideally we interpret everything after the layer name as parameter, like for the linear layer this is input and output size, but for the convolution layer, there are more parameter we could set.

We could easily split this up into two parts: writing the parser and writing the cli. The cli could just prete

[2018-02-22 04:37] akhandait commented on #1254
@zoq What exactly will the parser do? Do you mean that the parser will actually implement all the necessary functions like forward and backward propagation and put them together in a model class and the CLI will just use this model like all the CLIs?
If so, then I would like to work on the parser as I have worked with ANNs and am quite comfortable with the nitty gritties.

[2018-02-22 05:07] desai-aditya commented on #1254
@akhandait , @zoq, @rcurtin - I think the parser will parse the file and return the values to the main CLI program. The values will then be used to make the model and train the dataset inside the CLI . There are some parameters that will be used in general that will be needed as arguments to the CLI. The parser should only parse the values and not compile the model. It could be that the user suppl

[2018-02-22 05:10] desai-aditya commented on #1267
Instead of getting this changed at the codebase , why not change it at the main program of CLI? I mean the user could directly specify the following in the network.conf file:
linear 50
linear 20
linear 100

which would essentially be transformed by the CLI to :+1:
linear  dataset dimension  50
linear 50 20
linear 20 100

[2018-02-22 05:14] akhandait commented on #1267
@desai-aditya I think it's very important to make changes in the codebase first. Not everybody will use the CLI. The changes should be universal so that even when we use this within c++, it should work.

[2018-02-22 05:33] akhandait commented on #1254
@desai-aditya Can you please have a look at the CLIs we already have. You can find them here:
src/mlpack/methods/<method_name>/<method_name_main.cpp>.
All of them do the following job:
1) Info about the program - to be shown when somebody uses  `--help`.
2) Define all the parameters that the program will take from the terminal / python.
3) Throw appropriate errors/warnings for invalid parameters.

[2018-02-22 05:37] desai-aditya commented on #1254
@akhandait  Don't worry I have already taken a look at how CLI's work and experimented with them.
The only part where the trouble might start could be running and assembling the model since there's a  huge variety of different ways in which it can be built. Maybe you could help me with that once you've built the parser.

[2018-02-22 05:46] akhandait commented on #1254
Well, to the best of my knowledge and understanding, what I think a parser means here is that it will define the model and hence will have to take care of all the possible ways it can be built. The CLI, on the other hand, doesn't need to worry about the working of the model. As @zoq said, it just assumes that it works and uses it to get results.
@zoq Please correct me if I am wrong somewhere.

[2018-02-22 18:09] zoq commented on #1254
@desai-aditya is right, the parser will just parse the file that defines the structure and the CLI will build the model and run the model. So let's say we follow @rcurtin's idea of ``<layer type> <input size> <output size> <other parameters...>`` a simple example could be:

[code]

the cli builds the network based on the provided information:

[code]

and performs the requested action.

I hope thi

[2018-02-22 18:11] zoq commented on #1267
I agree with @akhandait, this should be implemented in the ann codebase.

[2018-02-22 18:27] akhandait commented on #1254
Okay, really sorry for the misinformation.
@desai-aditya it's good you have already started with the CLI program, I have my exams over the next week, I will still try to take as much time out as I can and work on the parser, I am also working on another issue, so I won't claim too many tasks as it will just delay necessary tasks.
When I am done with the parser and the other issue, I will be happy

[2018-02-22 18:53] zoq commented on #1254
@akhandait don't worry, and best of luck with your exams.

[2018-02-23 05:40] vasiloglou opened #1269 "Nearest neighbors with spill trees in dualtree mode does not always return neighbors"
I have noticed that if the k is big the dual tree algorithm will return max float distances and invalid indices. This probably happens because some leaf nodes do not have enough points

[2018-02-23 06:01] akhandait commented on #1269
Yes, you are right, I was righting tests for nearest neighbors bindings in #1263 when I noticed this.
As discussed on that pull request, I am working on the solution. :)

[2018-02-23 08:17] SND96 opened #1270 "Linking errors in compiling mlpack in Mac OS"
I'm currently on MacOS High Sierra v10.13.2. I've been trying to compile a program that uses mlpack but I keep running into this error. Its similar to the error over here  #442
I used armadillo 8.400.0 and boost 1.66.0 while building mlpack-2.2.5

This is the code

[code]

And this is the terminal output
[code]

I've been trying to fix this for the past 2 days and it has become rather frustrating.

[2018-02-23 09:02] adl1995 commented on #1270
Please provide the command you use for compiling your code.

You need to make sure that Armadillo and mlpack is being linked. Example:
[code]

[2018-02-23 12:49] SND96 commented on #1270
This is the command
[code]

[2018-02-23 14:15] SND96 commented on #1270
The problem was incorrect linking between the mlpack libraries and boost apparently. I changed the boost libraries being looked for in the CmakeList.txt file and then ran make again and now its working fine.

[2018-02-23 14:48] rcurtin commented on #1270
Great to hear you got it worked out.  I'll go ahead and close this issue then (let me know if I should leave it open).

[2018-02-23 14:48] #1270 closed

[2018-02-24 04:34] PlantsAndBuildings commented on #1267
I'd like to take this please

[2018-02-24 11:12] Manthan-R-Sheth opened #1273 "Implement Batch Normalisation Layer"
I would like to begin the task of implementing deep learning modules with the implementation of [Batch Normalisation Layer](https://arxiv.org/abs/1502.03167). This is due to the wide advantage of using BatchNorm for DL tasks. It can be used for FFN as well as Convolution Networks.

@zoq @lozhnikov @rcurtin, shall i go ahead with this task?

[2018-02-24 13:14] wangxindsb commented on #922
Here are some failed tests which I met:

- 'PerceptronSerializationTest' and 'DecisionStumpSerializationTest' in serialization.cpp;

- 'GMMLoadSaveTest' in gmm_test.cpp;

- 'GMMHMMLoadSaveTest' , 'GaussianHMMLoadSaveTest' and 'DiscreteHMMLoadSaveTest' in hmm_test.cpp;

- 'LSHTest' in serialization_test.cpp;

[2018-02-24 15:24] rcurtin commented on #922
@wangxindsb: what version of Boost are you using? This might be the same problem that was just fixed with #1257, if you are using Boost 1.58. If that's the case you could update to the latest code and try again and that would likely fix it.

[2018-02-24 18:27] yashsharan commented on #48
Is this issue this open?If yes ,I would like to work on this.Thanks

[2018-02-24 19:52] zoq commented on #1273
BatchNorm would be a great to have, there is an open PR https://github.com/mlpack/mlpack/pull/955 which I think is a good start, so if you like, clone the code and resolve the remaining issues.

[2018-02-25 08:48] Sayan98 commented on #1011
Hey @zoq can I take this up and fix the issues highlighted in your second comment?
The open PR hasn't been worked on for a while.

[2018-02-25 11:46] akhandait commented on #1267
Sadly, it has been very difficult for me to take time out due to tighly scheduled exams.
@desai-aditya please leave a comment if you are working on this.
@PlantsAndBuildings maybe you could start on this if he doesn’t. Good luck.:)

[2018-02-25 13:05] Manthan-R-Sheth opened #1276 "Word embeddings for string representation."
This is a prototype of the numeric representation of strings.
[code]
`pretrained_weight` can be word vector, GLoVE or any other already trained dense representation.
Also each word is indexed by the id, which allows for word embedding lookup.

Steps that I think would be needed :-
1. A parser has to be written/modified to load the csv for pretrained words. Once a `arma::mat` is formed, it can be u

[2018-02-25 13:20] zoq commented on #1011
I think @rcurtin is more than happy to share the work, let's see what he likes to do here.

[2018-02-25 15:55] rcurtin commented on #1011
Hi @Sayan98, please feel free to use #1022 as a starting point. I ran out of time and was not able to fully address that one. In many cases it involved implementing copy/move constructors and operators for a lot of classes, so I think there are still a few places where that needs to be done.

[2018-02-26 09:09] PlantsAndBuildings commented on #1267
@akhandait : Thanks for letting me know.

@zoq : should I wait for @desai-aditya ? Or should I go ahead and start working on this?

[2018-02-26 13:46] rcurtin commented on #48
The issue has not been closed so it is not done.  You are free to look into it.

[2018-02-26 20:12] zoq commented on #1267
@desai-aditya take all the time you need, we don't have to rush anything here.

@PlantsAndBuildings I think @akhandait was working on the parser and @akhandait on the cli?

[2018-02-27 11:55] Manthan-R-Sheth commented on #1267
can it be made clear as to who all are working on this issue. I am interested to work on this as well.
@PlantsAndBuildings  @desai-aditya @akhandait . I guess if @PlantsAndBuildings and @desai-aditya are taking up this issue, may be I can work on the #1254 (CLI for ANN) issue.

[2018-02-27 12:00] akhandait commented on #1267
I am working on CLI for ANN along with @desai-aditya.

[2018-02-27 12:09] Manthan-R-Sheth commented on #1267
@PlantsAndBuildings, can we collaborate over this issue then?

[2018-02-27 13:07] desai-aditya commented on #1267
I have completed nearly half of the CLI approximately .
I am also working on this issue simultaneously but anyone wanting to join is more than welcome.

@akhandait How's the parser going? Also if possible make it so that the input to the parser is a csv file in the same format instead of a space separated one. It's a lot easier to handle it that way.

Also this issue and CLI for ANN are very close

[2018-02-27 13:29] zoq commented on #1267
In the best case, the parser is agnostic of the number of parameters. Let say the layer is defined as:
[code]
the config would look something like

[code]

if the layer requires only two parameter we just pass those two.

[2018-02-27 13:42] PlantsAndBuildings commented on #1267
I think that there are already enough people wanting to work on this, I'll find another issue. @Manthan-R-Sheth please ask @desai-aditya if he needs help

[2018-02-27 13:44] desai-aditya commented on #1267
Also I need a little bit of help for compiling the main using make -
I have to put the main file in CMakeLists of the ann folder.
And where else? Also there's something called add_cli_executable() and add_python_binding() in the end of other CMakeLists files, do I have to do something with those?

[2018-02-27 14:24] Manthan-R-Sheth commented on #1267
Based on my understanding (correct me in case i am wrong),
`add_cli_executable("name")` adds a command line executable with the corresponding "name". This enables the command mlpack_name from CLI.
`add_python_binding("name") ` builds a python binding for the corresponding "name".(builds a .pyx file for python to run).
These assume that the file containing the main() is in "name"_main.cpp and accor

[2018-02-27 14:30] desai-aditya commented on #1267
I mean other than whatever you described @Manthan-R-Sheth . I understand that but do we need to make any other changes to any other file? Also what about cmake changes?

[2018-02-27 15:38] Manthan-R-Sheth commented on #1267
I think, just addition of ann_main.cpp in the folder and `add_cli_executable(ann)` should do the work.

[2018-02-27 19:14] zoq commented on #1267
Yes, that should do the trick.

[2018-02-27 19:40] rcurtin commented on #1276
Can you clarify what you mean by 'each word is indexed by the id'?  I guess the most important thing (to me) is the representation we use in C++ for a string dataset---unless we instead convert directly and immediately to a numeric representation.  I think that once we have a clear picture of what to do there, the rest of the pieces will easily fall into place.

[2018-02-27 19:54] Manthan-R-Sheth commented on #1276
What I mean by 'each word indexed by the id' is that each word in the input will have a unique id associated to it. This will be done by the `tokeniser`(this will be implemented) that identifies the unique words in the input samples. Suppose our vocab size is 50 words (which we find after tokeniser does first pass through the data). Each word will also be mapped to a unique id. For eg:- The senten

[2018-02-28 05:07] sourabhvarshney111 commented on #1212
@evgfreyman I think the work regarding this issue has been completed in your pr. Will you mind closing this? : )

[2018-02-28 07:06] Manthan-R-Sheth commented on #1276
@rcurtin
Any views on the above idea?

[2018-02-28 08:35] scrcro commented on #1276
I am currently working on an Embedding layer. You can write your own layers now with the latest drop, therefore you will have control over the `Forward`, `Backward` (not so important as this will be the first layer usually) and `Gradient` function. There are a couple of issues I am facing too:
- The optimization right now will update all your weight vectors and not just the relevant ones. This cou

[2018-02-28 08:48] scrcro opened #1286 "RNN needs one output for every timestep"
I was trying to use the RNN for training a n-gram word prediction model. For my purpose it does not make sense to have an output for every timestep. Perhaps we can have a setting in RNN to dictate the output expectation. I believe Keras provides a parameter called "return_sequence" for the same purpose. Thoughts on how to achieve this?

[2018-02-28 12:06] Manthan-R-Sheth commented on #1276
@scrcro I agree with you. Even I faced the same issues. We would have to think of a clever solution to update only required rows in the embedding matrix.
Usually pre-trained vectors like word2vec or GLoVE and more recently CLoVE and fast text, have seen to be used across variety of tasks(so flexibility to use pre-trained vectors would be better). Also, beginning with these vectors and then fine tu

[2018-02-28 12:31] scrcro commented on #1276
If you write a custom layer, you can do the trick in your layer. Do not pass the actual weights as the Parameters() return value. Return a small dummy and do the actual weight updates in the `Gradient` method of your custom layer. This of course is assuming this layer is the first layer.
You have to ensure that your layer uses the same optimizer as the other layers in the network.

[2018-02-28 13:50] Manthan-R-Sheth commented on #1276
Please tell me what i understood is correct or not.
In the `Gradient` method, we have the unique word index of the input and so we can update the corresponding row of the embedding matrix. This way we need not update the entire matrix, it brings about just row updates right?

[2018-02-28 16:18] rcurtin commented on #1276
@Manthan-R-Sheth: please be patient; I am sure you can see the number of requests we must respond to.  I answer when I am able to make the time.

Got it, that makes sense.  The things I would encourage you to think about are:

 * What will be the representation of a dataset containing strings in C++?  Will you convert to `arma::mat` (or similar) at load time or later?

 * Will there be a clear way

[2018-02-28 16:38] Manthan-R-Sheth commented on #1276
@rcurtin
Thanks for the response, I understand the heavy workload you are undergoing. I am figuring out a way for the points you mentioned already. The `tokeniser` class that I will implement will contain the functionalities related to the mapping.

[2018-02-28 17:01] yamidark commented on #1152
Hi, I'm new to mlpack, and I would like to work on mean_shift.

[2018-02-28 17:11] scrcro commented on #1276
@Manthan-R-Sheth
The `Gradient` method takes the input that was provided to the network, and the error propagated from the next layer and calculates the gradient for this layer. So yes you can update your weights here. Have a look at `LinearNoBias` class.

[2018-02-28 17:14] scrcro commented on #1286
@zoq  Thank you! I will take a look here and post back.

[2018-02-28 17:18] rcurtin commented on #1152
Hi @yamidark, I've marked it as taken for you---open a PR when you are ready and we can review it.

[2018-02-28 19:05] Manthan-R-Sheth commented on #1276
@scrcro
Thats true. Infact I had submitted a PR already on similar lines. you can find it at #1277

[2018-03-01 06:32] scrcro commented on #1286
@zoq I think using `responses.slice(seqNum)` is the problem. Each slice is supposed to be a timestep input. The sequence number is essentially a step in the BPTT. Thus we need to change the `responses.slice(seqNum)` to something else. I have not gone through the complete code. But this is what appears to me to be happening. Please suggest.

[2018-03-01 06:33] scrcro commented on #1276
Good start. Though the real trick is in updating the weights. Thoughts on how you want to attempt this?

[2018-03-01 06:56] Manthan-R-Sheth commented on #1276
In the `Gradient` function since we have the input (which is the unique word indices), we know which row to update This row number is actually the word index itself. I think this should prevent the update of entire matrix. Only corresponding rows will be updated.

[2018-03-01 14:37] rcurtin commented on #1212
@sourabhvarshney111---thanks for pointing this out; I agree that this issue can be closed so I'll go ahead and do that.

@evgfreyman: thanks again for the Kaggle model; I am happy to have it as a nice example in the repository. :)

[2018-03-01 14:37] #1212 closed

[2018-03-01 14:48] zoq commented on #1286
You are right, my initial idea was to use responses.slice(0) for each time step, if ``sequence`` is set. Another idea is to add another overload for the ``Train`` method, that takes ``arma::cube`` as predictors and ``arma::mat`` as reponses. In the function itself, we can use the responses. The only problem I see is that we would have to hold different responses one for each type.

[2018-03-01 14:55] #1232 closed

[2018-03-01 16:54] evgfreyman commented on #1212
Sure, this can be closed

[2018-03-02 12:33] scrcro commented on #1286
Thank you. I am slightly against having another method. It would increase confusion, I believe.
As of now if we just use the first response slice always if `sequence` is set then will it work?
What is a good set of data to test it? Reber grammar?

[2018-03-02 12:34] scrcro commented on #1276
Sounds good. Are you already working on this? Is this something that you can share/post?

[2018-03-02 13:32] zoq commented on #1286
Reber grammar isn't suitable here, but we could create an artificial dataset, what you think?

[2018-03-02 14:38] scrcro commented on #1286
I thought so too. Reber grammar may not be good. Let me see if there is a
free dataset that can be used.

On Fri, Mar 2, 2018, 19:02 Marcus Edel <notifications@github.com> wrote:

[2018-03-02 19:18] rcurtin commented on #1259
Fixed in #1265.

[2018-03-02 19:18] #1259 closed

[2018-03-02 20:09] Manthan-R-Sheth commented on #1276
I am in the planning phase for this right now. However, the direction seems correct.
I had made the PR but as @rcurtin  rightly said, it was one of GSoC ideas, and so working on it now could lead to various code maintenance issues, the maximum I can do is share a rough prototype of the API and the idea altogether, once I plan it completely.
Sounds fine? @scrcro @rcurtin

[2018-03-03 06:46] farhanrao895 opened #1292 "undefined reference to `zgemv_' when making a new block in gnu radio, using code which is using armadillo"
i have installed libraries lapack,open blas,blas, arpack, mlpack.

armadillo is working normally with mycode.cpp file and giving me the expexted output but when i put my code in gnu radio new block .cc file it gives errors, when i made a simple block using armadillo using simple functions like sum and generation of complex vectors in gnu radio, new block was made perfectly and is working. As in my

[2018-03-03 10:41] rcurtin commented on #1292
This is not an mlpack issue.  Why did you not open this issue in the gnuradio repository?

[2018-03-03 10:41] #1292 closed

[2018-03-04 06:19] scrcro commented on #1286
How about "Experiment 2" from the [Hochreiter/Schmidthuber paper](http://www.bioinf.jku.at/publications/older/2604.pdf) ?
This seems simple enough.

[2018-03-04 06:27] Manthan-R-Sheth commented on #884
Any updates on this issue (specifically with respect to Random Forest Implementation).
I would like to take up this issue and implement ERT for the same.
Also, I had an idea of implementing post pruning for the decision tree. This is because post pruning can help both interpretability and generalization performance.
Any suggestions for the same.

[2018-03-04 13:50] scrcro commented on #1276
Sounds good. Will wait for it.

[2018-03-04 14:26] donjin-master opened #1295 "error while compiling linear_regression.cpp"
/usr/include/mlpack/core/util/mlpack_main.hpp:146:2: error: #error "Unknown binding type!  Be sure BINDING_TYPE is defined if you are " "including <mlpack/core/util/mlpack_main.hpp>.";
 #error "Unknown binding type!  Be sure BINDING_TYPE is defined if you are " \
  ^~~~~
/usr/include/mlpack/core/util/mlpack_main.hpp:151:28: fatal error: param_checks.hpp: No such file or directory
 #include "param_

[2018-03-04 15:40] rcurtin commented on #1295
It's difficult to compile the programs by hand. Use 'make mlpack_linear_regression'.

[2018-03-04 19:15] zoq commented on #1286
right, I mean as I said we could also just create some artificial data, e.g. a sine generator and assign each a unique label.

[2018-03-05 12:28] amanmehta-maniac commented on #1021
@rcurtin I have tried to reduce some copy overhead. I read the blog included in the description and applied similar tactics in #1291. Please verify my PR.

[2018-03-05 14:51] rcurtin commented on #884
There have been no updates on this, so you are welcome to implement something.

[2018-03-05 15:49] Manthan-R-Sheth commented on #884
Sure, thanks.
I would like to take up post-pruning for decision tree first and then go ahead with ERT. I will keep updating here as I go ahead with my plan.

[2018-03-06 17:30] scrcro commented on #1286
Thank you. I have a doubt on this [code](https://github.com/mlpack/mlpack/blob/486be65dab54e8f0fba4066827c8358ffdea3d4e/src/mlpack/methods/ann/rnn_impl.hpp#L314)
What is this one used for? Will replacing `responses.slice(rho - seqNum - 1)` with `responses.slice(0)` work?

[2018-03-06 21:09] Manthan-R-Sheth commented on #1286
Yes, I think `responses.slice(0)` should work for the case of multi-input and single output RNN model. However, we need not perform `rho` number of steps for the BPTT.  I think just executing the backprop once by considering `rho` input timestamps should be sufficient for updating the weights of the parameters, in such a setting.

[2018-03-07 15:35] zoq commented on #1286
Agreed, realistically, you could write the test, and see if the correct input/output pair is passed to the network at each step.

[2018-03-08 23:15] AdamWill opened #1299 "Build fails with GCC 8"
Build of mlpack fails with GCC 8:

    cd /builddir/build/BUILD/mlpack-2.2.5/src/mlpack/methods/logistic_regression && /usr/bin/c++  -DARMA_NO_DEBUG -DBOOST_TEST_DYN_LINK -DHAS_OPENMP -DNDEBUG -I/builddir/build/BUILD/mlpack-2.2.5 -I/builddir/build/BUILD/mlpack-2.2.5/src/mlpack/..  -O2 -g -pipe -Wall -Werror=format-security -Wp,-D_FORTIFY_SOURCE=2 -Wp,-D_GLIBCXX_ASSERTIONS -fexceptions -fstack-prot

[2018-03-09 11:11] zoq commented on #1299
Interesting, we are testing against different llvm and gcc versions:
- http://masterblaster.mlpack.org/view/docker/job/build%20matrix%20docker%20images%20gcc/ -
- http://masterblaster.mlpack.org/view/docker/job/docker%20mlpack%20nightly%20build/

but not sure if anyone tested gcc 8 since it has not been released yet.

Do you mind to provide a minimal code example? Would be helpful to narrow it dow

[2018-03-09 17:00] rcurtin commented on #1299
@AdamWill: thanks for the report.  It looks like the issue is just that the `arma::vec&` in the definition of `Responses()` should be changed to `arma::Row<size_t>`... oops.

I'll open a simple PR to fix this in the master branch, which will have a 3.0.0 release very shortly.  So when that release happens there will be no issue.  However, that does not fix your problem for mlpack 2.2.5 (and I'd ra

[2018-03-10 07:09] scrcro commented on #1286
Thank you both @zoq @Manthan-R-Sheth . Let me run some tests to see how this works.

[2018-03-10 09:04] Namrata96 commented on #1152
@rcurtin Hi, I'm new to mlpack, and would like to work on approx_kfn.

[2018-03-10 09:31] Jiewen2017 opened #1305 "examples"
Hi, could you provide some examples and data for us to use? thanks!

[2018-03-10 09:36] Namrata96 commented on #1254
Hi @desai-aditya @akhandait , are you still working on this? If yes, is there any way I could help?

[2018-03-10 12:47] zoq commented on #1305
There are a couple of helpful links:

- Tutorials: http://www.mlpack.org/docs.html
- Tests: https://github.com/mlpack/mlpack/tree/master/src/mlpack/tests
- Test data: https://github.com/mlpack/mlpack/tree/master/src/mlpack/tests/data

[2018-03-11 13:35] akhandait commented on #1254
Hi @Namrata96. Yeah, I have been a little slow with regard to this issue but am working on it. I think I will open a WIP pull request in coming days and maybe you can help me by reviewing it extensively.

[2018-03-12 08:33] desai-aditya commented on #1254
@akhandait @zoq I am extremely sorry for delay in replying. I had my exams in the past week. I am free now and will be continuing back on the CLI.
@akhandait Hows the parser working?
@Namrata96 As @akhandait said , you could help in reviewing the PR.

[2018-03-12 13:56] #1299 closed

[2018-03-12 13:57] rcurtin commented on #1299
This is fixed with #1302, but it will be a little while until an mlpack 3 release occurs with the fix in it.  If a patch is needed for mlpack 2.2.5 just let me know.

[2018-03-12 14:37] rcurtin commented on #1152
Hi @Namrata96, of course, feel free.  I'll mark it as taken.

[2018-03-12 15:17] AdamWill commented on #1299
That's fine, we don't have any trouble backporting patches. Thanks.

[2018-03-12 15:19] rcurtin commented on #1299
Ok, I take that to mean you'll handle any patching then.  If that's not correct just let me know.  Otherwise, thanks for the bug report and I am glad to have the issue fixed. :)

[2018-03-12 15:32] AdamWill commented on #1299
that's right. it's a highly involved process wherein we do `wget https://github.com/mlpack/mlpack/pull/1302.patch` and add it to the package spec. :P

[2018-03-12 15:35] rcurtin commented on #1299
:) Just checking.

[2018-03-13 14:39] rcurtin commented on #1235
Closing for inactivity.  Please reopen if needed.

[2018-03-13 14:39] #1235 closed

[2018-03-13 19:10] sourabhvarshney111 opened #1311 "Implementation of Radial Basis Function Networks(RBFNs)"
Implementation of RBFNs is not present in the codebase of mlpack.

[2018-03-13 19:10] sourabhvarshney111 commented on #1311
I would like to work on this issue @zoq @lozhnikov

[2018-03-13 19:12] sourabhvarshney111 opened #1312 "Implementation of Bidirectional Recurrent Neural Networks(BRNs)"
Implementation of BRNs for the codebase of mlpack

[2018-03-13 19:12] sourabhvarshney111 commented on #1312
I would like to work on this issue

[2018-03-13 21:17] zoq commented on #1311
Do you mean in the context of GSoC?

[2018-03-14 11:43] sourabhvarshney111 commented on #1311
Ya, I want to work in GSoC on this project but I will start the work from now.

[2018-03-14 12:15] PlantsAndBuildings commented on #1267
It has been a while since I've seen any activity on this issue - and no open PRs as well. Is someone working on this, or can I take this one up?

[2018-03-14 12:20] Namrata96 commented on #1254
@desai-aditya @akhandait okay, sure.

[2018-03-14 12:30] akhandait commented on #1267
@PlantsAndBuildings I am working on this. Even I saw the inactivity here and hence started working on this.

[2018-03-14 13:54] zoq commented on #1311
I think we should leave this one for the actual GSoC project, we haven't settled on anything yet, so to avoid the risk of code that's not going to be merged let's close this for now.

[2018-03-14 13:54] #1311 closed

[2018-03-14 13:54] zoq commented on #1312
see #1311

[2018-03-14 13:54] #1312 closed

[2018-03-14 13:59] sourabhvarshney111 commented on #1311
Ok, I would provide a proposal for the same and would love to work on it during the actual GSoc Project.

[2018-03-16 07:34] akhandait commented on #1254
I saw on irc that a lot of people want to take this up. The proposal is taking a lot of my time recently and I will be okay if someone wants to work on the parser which I was working on. I will be happy to help in the reviewing of the PR. :)

[2018-03-17 11:54] Namrata96 opened #1318 "missing closing bracket ')'"
Missing closing bracket in description of to_matrix_with_info function: https://github.com/mlpack/mlpack/blob/0e14562937fbbe3fba007d93e251d07496e7dced/src/mlpack/bindings/python/mlpack/matrix_utils.py#L61

[2018-03-17 14:18] amous4822 opened #1320 "installation error"
[CMakeOutput.log](https://github.com/mlpack/mlpack/files/1821694/CMakeOutput.log)

////
additional info:

CMake Warning (dev) at src/mlpack/methods/rann/CMakeLists.txt:42 (get_property):
  Policy CMP0026 is not set: Disallow use of the LOCATION target property.
  Run "cmake --help-policy CMP0026" for policy details.  Use the cmake_policy
  command to set the policy and suppress this warning.

  Th

[2018-03-17 14:31] rcurtin commented on #1320
Can you paste the full CMake configuration output, not just the snippet at the end?  I can't see what the actual error is here.

[2018-03-17 15:27] scrcro commented on #1286
Sorry about the rather late response. Was sucked into other things..
@Manthan-R-Sheth  I am not sure what you mean here. I think we still need to run the Backward rho number of times, although the output is only one for rho entries.
If the network is unrolled shouldn't the Backward be called rho times? Can you please elaborate what you meant? Shouldn't the weights be updated rho times?
I mean line

[2018-03-17 15:42] yashsharan opened #1322 "Implementation of more OpenAI gym Environments"
As of now only 2 environments are present for openAI gym namely cart-pole and mountain car. I was thinking of adding more environments. For starters I can include mountain car Continuous environment.
Can I work on this issue?

[2018-03-17 18:52] amous4822 commented on #1320
The system is: Linux - 4.10.0-28-generic - x86_64
Compiling the C compiler identification source file "CMakeCCompilerId.c" succeeded.
Compiler: /usr/bin/cc
Build flags:
Id flags:

The output was:
0

Compilation of the C compiler identification source "CMakeCCompilerId.c" produced "a.out"

The C compiler identification is GNU, found in "/home/amous/Downloads/mlpack-2.2.5/build/CMakeFiles/3.5.1/Comp

[2018-03-18 13:27] zoq commented on #1322
Hello, @yashsharan feel free to implement another environment. Ideally we add something that isn't covered yet, e.g. a continuous environment as you proposed.

[2018-03-18 14:45] yashsharan commented on #1322
Ok then. I will try to add mountain cart continuous environment

[2018-03-19 15:20] rcurtin commented on #1320
Ah, sorry, it's easier if you can paste the output from the command line.  Like if you run

[code]

(or however you are running CMake), the output from that is what I'm looking for.

[2018-03-19 20:00] Namrata96 commented on #1318
Closed #1318

[2018-03-19 21:01] luffy1996 commented on #1322
I am already working on this task :)

[2018-03-20 04:08] yashsharan commented on #1322
Are you working on a different environment? If no please chose an environment different than continuous mountain car as I already mentioned I'm working on that

[2018-03-20 04:10] luffy1996 commented on #1322
Oh yeah I would do so. :)

[2018-03-20 10:13] Rajiv2605 commented on #1254
@akhandait I would love to work on this! Please let me know if can work on something.

[2018-03-20 20:45] Imraj opened #1326 "Implement Bidirectional Recurrent Neural Network"
I'll like to work on deep learning modules for mlpack during GSOC and start with the implementation of [bidirectional recurrent neural network](https://ai.intel.com/wp-content/uploads/sites/53/2017/06/BRNN.pdf).

@zoq Can I get started ?

[2018-03-20 21:59] zoq commented on #1326
I think we should leave this one for the actual GSoC project, we haven't settled on anything yet, so if you agree let's close the issue.

[2018-03-21 09:04] rickllyxu commented on #1305
A superfluous suggestion: remember to run `g++ input.cpp -std=c++11 -larmadillo -lmlpack`.
May be helpful for later users.

[2018-03-21 09:45] rickllyxu commented on #886
Interesting! I'd like to start to build a benchmarking against Shogun for my first contributing.
@Iron-Stark  I do not think you should use RandomForestClassifier in sklearn. RandomForestClassifier is an ensemble method based on decision trees.

[2018-03-21 09:46] rickllyxu commented on #886
well, sorry. Just now I check the benchmark, finding that there exists `decision_tree.py` in `shogun` directory.

[2018-03-21 17:15] Manthan-R-Sheth commented on #1286
@scrcro Sorry for late response,
For single output , multi input sequences (i.e. sentiment of a sentence), just one BPTT step at the end of the sentence makes sense.
You can refer [here](https://stats.stackexchange.com/questions/219914/rnns-when-to-apply-bptt-and-or-update-weights?utm_medium=organic&utm_source=google_rich_qa&utm_campaign=google_rich_qa).

Also, intuitively, it makes more sense to

[2018-03-21 17:21] #1326 closed

[2018-03-21 18:42] rcurtin commented on #1305
@rickllyxu: thanks for the suggestion; I'll be redoing the guide and tutorials soon, and I'll make sure that an actual command to compile is in the documentation.  I agree that could be helpful.

I'm going to go ahead and close this issue for inactivity, since it seems like the original question is answered.

[2018-03-21 18:42] #1305 closed

[2018-03-21 18:58] rcurtin commented on #886
There is still no script for decision trees in mlpack though, so you are more than welcome to do that if you like.

[2018-03-22 01:57] rickllyxu commented on #886
thanks for your reply, I 'd like to take it for a starter.

[2018-03-23 17:29] hassan-mahmood commented on #1021
Hello! I would like to work on this issue.
From the description and your comments, this is what I have understood:
For the functions which do not change the passed data, we provide 'const lvalue reference' function to users.
For the functions which change the passed data, we provide rvalue reference function to users. For this, they can choose to copy or move the data.

So for a function which mod

[2018-03-24 19:29] Kavignon commented on #919
What is the current state to having mlpack as a NuGet package ?
More to this, when the automatic bindings to C# is over, do we still feel the need to have a NuGet package?

[2018-03-24 19:36] Kavignon commented on #396
Are there any learning method I could check during the summer to implement ?

[2018-03-25 12:04] zoq commented on #919
There is a NuGet package, but it's not integrated into the current build process. I see the NuGet package as a simple way to build against mlpack, it's definitely not the only solution but if someone is already familiar with NuGet, I can't see a reason for not providing a package.

[2018-03-26 15:59] rcurtin commented on #1021
Hi @hassan-mahmood, that is correct.  If you'd like to work on this and open a PR, I would be happy to review and merge it.  Thanks!

[2018-03-26 17:02] rcurtin commented on #396
None of the ones proposed at the top of this issue have been incorporated, so I would say, if you want to add one, there is no problem with this. :)

[2018-03-26 17:17] sourabhvarshney111 commented on #1273
@Manthan-R-Sheth I think we have completed our work for this. Can we close it now? What say?

[2018-03-26 17:20] zoq commented on #1273
Right, let's close this one.

[2018-03-26 17:20] #1273 closed

[2018-03-27 15:20] chennakeshava1998 opened #1332 "Implement Reward Clipping for Reinforcement Learning games"
If different games use different scales of rewards, then it becomes hard to train the same RL algorithm for different games. This issue will be solved if clipped rewards are used

[2018-03-29 13:37] scrcro commented on #1286
@Manthan-R-Sheth Got it. But I was talking about a slightly different thing. I am trying to see how the current implementation need to change. I understand that BPTT have to run once, but it needs to include the unfolded layers.

Also another question, is there a way to see/log the optimization progress? Mainly to understand how the net is learning/ or learning if at all?

[2018-03-29 16:09] Manthan-R-Sheth commented on #1286
You can define the epochs and the number of iterations (depending on batch size) in each epoch. After each batch update, you can keep accumulating the error (by comparing the predictions with true values) and at the end of each epoch you can display the mean of that epoch.
Thus there will be the error displayed after each epoch and you can carry forward your work.

Refer to ForwardBackwardTest of

[2018-03-30 09:12] scrcro commented on #1286
Thank you, for the pointer. I did find another way to do it. Turns out it is already being logged in the SGD optimizer (at least) all that is required is to use the `ParseCommandLine` function and pass a -v parameter to the main program.

[2018-03-30 11:30] Manthan-R-Sheth commented on #1286
@scrcro
Are you planning to make a PR for the same? Else, I can make the basic PR and we can collaborate there?

[2018-03-30 13:56] scrcro commented on #1286
Yeah. I am testing it right now with a noisy sine wave. If that works I
will submit a PR. I am happy to share what I have done so far.

On Fri, Mar 30, 2018, 17:00 Manthan-R-Sheth <notifications@github.com>
wrote:

[2018-03-31 00:43] Davar1990 opened #1345 "error: Mat::operator(): index out of bounds?"
Hello,

I'm trying to train an ANN and am duplicating everything according to your tutorial (https://www.mlpack.org/docs/mlpack-git/doxygen/anntutorial.html). Unfortunately, when I try to train the ANN I get the error

" error: Mat::operator(): index out of bounds
terminate called after throwing an instance of 'std::logic_error'
  what():  Mat::operator(): index out of bounds
Aborted (core dumped)

[2018-03-31 05:58] #1345 closed

[2018-04-01 18:06] zoq commented on #1267
An easy option would be to implement another constructor for each layer that needs the input/output size.

[2018-04-02 14:26] rcurtin commented on #1295
I'm going to close this for inactivity.  Please reopen it if needed.

[2018-04-02 14:26] #1295 closed

[2018-04-02 17:34] rcurtin commented on #1176
I'm closing this for inactivity; if it is still an issue for you, let us know and we can reopen and keep debugging.

[2018-04-02 17:34] #1176 closed

[2018-04-02 17:36] rcurtin commented on #1017
I'm going to close this issue---to me it's not clear what the actual issue to be solved here is.  If I misunderstood and we should leave it open, maybe we can open a new issue (or multiple issues) which is more about a single specific problem.

[2018-04-02 17:36] #1017 closed

[2018-04-02 17:36] rcurtin commented on #886
This can be closed once benchmarks#115 is merged.

[2018-04-02 17:37] rcurtin commented on #1023
Since mlpack 3 is now released, I think it is ok to close this issue.  The code that was causing the problem is no longer in the repository.

[2018-04-02 17:37] #1023 closed

[2018-04-02 17:38] rcurtin commented on #629
There was never any chance to look into this one.  I'm sorry about that.  If you are still having the issue with updated sources, let me know and I will reopen the issue and be sure to look into it on a quicker timescale.

[2018-04-02 17:38] #629 closed

[2018-04-02 17:40] rcurtin commented on #458
I think that the codebase has changed so much that unfortunately this proposal may not work anymore.  I don't have any problem with the idea, but in the interest of keeping the issue tracker manageable I'll close this for inactivity.  If anyone else wants to take up the issue we can reopen it.

[2018-04-02 17:40] #458 closed

[2018-04-02 17:42] rcurtin commented on #355
I don't think we currently have any way to test on i386, so I am not sure if this issue is happening anymore.  And even if it is, I think the number of people using i386 is so tiny that we should wait until one of them reports the issue.  So I will close this now.

[2018-04-02 17:42] #355 closed

[2018-04-02 17:43] rcurtin commented on #922
I really like the look of the matrix build these days:
http://masterblaster.mlpack.org/job/docker%20mlpack%20monthly%20build/

So I think there are no more "commonly" failing tests, and I think we can finally mark this issue as fixed.

[2018-04-02 17:43] #922 closed

[2018-04-02 20:09] alexanderkjeldaas opened #1350 "The benchmarks page is incomprehensible"
http://www.mlpack.org/benchmark.html is incomprehensible.  Most of the pull-down selectors are empty, and when a bar chart is presented, there might only be a single entry.

After some time it became clear that there are *lots* of benchmark entries with only a single library?!

Example of confusing layout and data:
<img width="1010" alt="skarmavbild 2018-04-02 kl 22 08 22" src="https://user-images

[2018-04-03 01:51] sadlion opened #1351 "Build Error"
Hello.
I'm glad to know this Library and test it.
But, while I compile this source, there are some errors.
I installed boost lib by installing libboost-all-dev.
I don't know why this error was occurred.
I found some doubt message and is it related to this error?
-- Could NOT find LIBBFD (missing:  LIBBFD_BFD_LIBRARY LIBBFD_INCLUDE_DIRS)
CMake Warning at CMakeLists.txt:178 (message):
  No libBFD an

[2018-04-03 16:55] rcurtin commented on #1351
Hi @sadlion, thanks for reporting the issue.  This one seems unusual; it looks like CMake is not linking against boost::program_options (if I am reading the output right).  Can you post the output if you run `VERBOSE=1 make mlpack_sparse_coding`?  That will show the actual linker command.

[2018-04-03 16:59] rcurtin commented on #1350
Hi there @alexanderkjeldaas,

Sorry that you found the output confusing.  Mostly we use this internally to look at specific benchmarking tasks---and yes for these there may be only one library we are benchmarking.   The readability of the output is really dependent on running the benchmarking system with the right configuration, and I agree that it could be better.  I've opened mlpack/benchmarks#1

[2018-04-03 16:59] #1350 closed

[2018-04-03 17:37] zoq commented on #1351
Maybe setting ``-DBOOST_INCLUDEDIR="path/to/boost/include `` and  ``-DBOOST_LIBRARYDIR=path/to/boost/libs/`` does solve the issue, but I agree ``VERBOSE=1 make mlpack_sparse_coding`` should be helpful here.

[2018-04-03 19:15] rcurtin commented on #886
Fixed in mlpack/benchmarks#115.  Thanks @rickllxyu!

[2018-04-03 19:15] #886 closed

[2018-04-04 10:21] barak opened #1352 "manpage .TH line section missing and trailer line duplication"
The manpages generated for the executables are missing the correct section (namely 1) on their `.TH` lines, presumably due to a missing `txt2man -s 1` option in the manpage generation script, on the penultimate line of `CMake/exec2man.sh` where `txt2man` is invoked. This is in turn causing the debian packaging tool `dh_installman` to be upset, and other manpage-related tools may experience similar

[2018-04-04 14:11] akhandait commented on #1267
In the Linear layer implementation, or any other layer for that matter, the weights are initialized (size is set) in the constructor.
[code]
In our case, if we define a constructor which only takes the output size, how do we deal with this? For each layer, the input size will only be known during the first forward pass.

[2018-04-04 14:13] zoq commented on #1267
We could move the initialization in the ``Reset`` function which is called after the parameters are set.

[2018-04-04 19:44] sourabhvarshney111 commented on #1318
@Namrata96 @zoq @rcurtin Is this issue solved?

[2018-04-04 22:35] rcurtin commented on #1352
Hi Barak,

Thanks for the clear description of the problem.  It looks like there are a couple issues here, and thanks for the patch in #1353.  Before I commit any kind of fix, I want to make sure that it works for your situation.  So if you apply the following patch, does it work for you?

https://gist.github.com/rcurtin/c1cb5ef47abed9e9a8a21f5d9701eb0f

Basically I had to rewrite the awk script s

[2018-04-05 09:01] barak commented on #1352
Don't worry, I already uploaded the 3.0.0 package, albeit with the funny manpage trailers. I'll upload a fix when this all settles down.

Anyway, yes your gist patch works (well, not the patch itself which was mangled by gisting and had to be manually applied, but you get the idea.)

However you are sort of abusing txt2man: you're using "1" as the date (`-d 1`) and no section option (`-s 1`) which

[2018-04-05 09:57] barak commented on #1352
After a bit more digging, it turns out that the `txt2man -d DATE` option can be safely (reproducible) omitted. The date will default to the current date, *unless* inside a debian build (or other build process that supports these mechanisms) in which case it will end up using the date from the first stanza in `debian/changelog` (or the appropriate analogue).

[2018-04-05 13:50] rcurtin commented on #1352
Ack, sorry about the mangling.  In any case, thanks for the information.  It looks like the last time I seriously considered this script was over six years ago, so it's good to update it.  Who knows what I was thinking then?  (Apparently not something correct...)

I read through what you wrote and reviewed the txt2man man page (which, hey, is properly formatted!) and I'll actually change the txt2m

[2018-04-05 14:14] #1352 closed

[2018-04-05 14:15] barak commented on #1352
Grand! Don't worry my git-fu is up to cherry picking the odd commit.

[2018-04-06 17:42] anupgangwar commented on #1351
Also, if you are compiling with gcc version > 5.x on older system where default version of gcc < 5.x, you may be facing the issue as listed here: https://stackoverflow.com/questions/12179154/undefined-reference-to-boostprogram-optionsoptions-descriptionm-default-l/12179310

<snip>
There were changes to the <string> class in the C++11 standard which may conflict with versions of the Boost library t

[2018-04-07 13:47] degski opened #1357 "mlpack On Windows"
You could add to the write-up that apart from ICC (comm.) and MSYS2 (brrrrr!), one could use Clang/LLVM, which b.t.w. also supports all GCC-extensions (including handy ones like f.e. calculated goto's). The latest build (clang 7 branch) is here: https://llvm.org/builds/ . The llvm-site mentions that 32-bit integrates better than x64. I have seen no proof of that, while on the other hand Clang does

[2018-04-07 22:14] bqv opened #1358 "[SoftmaxRegression] munmap_chunk(): invalid pointer during smr.Train()"
See https://gist.github.com/bqv/ada8359fe79da1ede98012d9e5579712 for a minimal reproducible example.

Backtrace:

[code]

[2018-04-07 23:13] bqv commented on #1358
Further digging shows this error can be changed to `Mat::init(): requested size is too large` by changing numClasses in the initialization call of smr to 0

[2018-04-08 01:06] bqv commented on #1358
Further yet digging shows uninitialized memory regions in valgrind when run on the following code with a much smaller dataset:
[code]

The code compiles and runs with error "Mat::init(): requested size is too large" and when run with valgrind, shows a move depending on uninitialized values arising from `double mlpack::regression::SoftmaxRegression::Train<mlpack::optimization::L_BFGS>(arma::Mat<dou

[2018-04-08 02:39] bqv commented on #1358
More succinct example of this behaviour:
[code]

[2018-04-08 07:26] rickllyxu commented on #1358
Different from your result, I runed the succinct version and got many undefined reference error. Can you tell me your compiling command?

[2018-04-08 08:09] manish7294 commented on #1358
@bqv I tried all your examples with the dataset provided by you and got all of them working smoothly. I think it might be a dependency issue.

[2018-04-08 09:12] bqv commented on #1358
I'm compiling with `clang++  -std=c++11 -g -O0  -c -o minimal.o minimal.cpp` and `clang++ -g -o minimal minimal.o -lmlpack -lboost_program_options -larmadillo`.

[2018-04-09 14:05] scrcro opened #1359 "Hierarchical Softmax"
This is not really an issue, but more of a query.
Is there a hierarchical softmax layer available in mlpack?

[2018-04-10 11:01] zoq commented on #1359
Hierarchical softmax isn't implemented, might be interesting to implement something in that direction based on the existing tree infrastructure.

[2018-04-10 15:31] rcurtin commented on #1357
Hi there @degski, thanks for pointing that out.  I've added some information about this to the https://github.com/mlpack/mlpack/wiki/WindowsBuild page.  Let me know if you think I should modify it further.

Thanks! :)

[2018-04-10 15:31] #1357 closed

[2018-04-11 02:16] rcurtin commented on #1358
I reproduced this in a debian:sid Docker container.  It's late now but I'll keep digging tomorrow.

[2018-04-11 13:30] akhandait commented on #1267
Sorry for being late, I have implemented the required visitors but am facing some issues with integrating them. The `Reset` function is called after the parameters of the network are set, but from the second layer onwards, the `inSize` is set during the first forward pass. So, the `Reset` function just ends up initializing `inSize` as 0 for all layers except the first.

[2018-04-11 13:40] akhandait commented on #1267
Sorry for being late, I implemented the required visitors but am facing some issues. The `Reset` function is called after the parameters are set but the `inSize` for the second layer onwards is set during the first forward pass. So, the `Reset` function ends up initializing weights with `inSize` as 0.

[2018-04-12 00:40] robertohueso opened #1363 "KD-Tree node center fails when it has 1 point"
**TL;DR**: When we have a KD-Tree node that has only 1 point in it, the node's center doesn't match the point (And I guess it should)

We can check if this works by adding the following test to ` tests/tree_test.cpp`.

[code]

[2018-04-12 12:25] sshkhrnwbie opened #1364 "Group Normalization"
Hi devs,

I would like to implement the Group Normalization layer which was proposed recently by He et al in [this paper](https://arxiv.org/pdf/1803.08494.pdf). I think tensorflow, pytorch and keras-contrib already have working implementations. Also Instance Normalization is compared with in that paper and I think mlpack lacks an implementation of it too.

Should I go ahead with it ? Or should we

[2018-04-12 16:30] zoq commented on #1364
Hello @sshkhrnwbie, the result are quite neat, so please feel free to open a PR 😃 .

[2018-04-13 05:02] sshkhrnwbie commented on #1364
I will work on it over the weekend and send one in a few days.

[2018-04-13 10:52] zoq commented on #1267
Thanks for looking into it.

[2018-04-13 10:54] zoq commented on #1364
Sounds good, let me know if you need any help. I'll close this issue, we can discuss anything further in the PR.

[2018-04-13 10:54] #1364 closed

[2018-04-13 13:53] akhandait commented on #1267
@zoq moving the initialization to the `Reset` function doesn't work. It throws `error: addition: incompatible matrix dimensions:` while training, the parameters are not getting initialized properly. We need another solution to initialize the weights because we have to initialize the weights of each layer before the first forward pass. Do you think we need a function which just initializes paramete

[2018-04-14 00:46] robertohueso commented on #1363
**Solved**
Turns out KD-Tree rearranges the dataset so old matrix indices don't match the tree's `tree::TreeTraits<Tree>::RearrangesDataset`

[2018-04-14 00:46] #1363 closed

[2018-04-17 02:41] wxjeacen opened #1371 "I would like to use mlpack to implement gan, need help"
Hi all,

I would like to use mlpack to implement a GAN network.

I have referred a sample but there were missing header files. such as gan.hpp.

Would you please help to provide me a sample that can run in current updated version?

[2018-04-17 04:11] ShikharJ commented on #1371
Hi @wxjeacen,
I had been working on a GAN implementatiom in #1204, but it is not completely debugged, and I'll be busy with exams for the rest of the month. You might take a look there. Though I should mention that probably more work would be done in the coming summers.

[2018-04-18 02:13] wxjeacen commented on #1371
@ShikharJ  Thanks for your reply.

I have checked out your private repo in "gan" branch from your github.
When I compile your sample, there is an error  no "CrossEntropyErrorLogits" found.

How can I work the problem out?

[2018-04-20 13:59] rizalishan opened #1376 "A way to generate output model using c++ api"
I apologize if this is a stupid question but I can't seem to find a way to store my trained Adaboost model and then reuse it using c++ API.

Any help or example would be greatly appreciated

[2018-04-20 14:11] zoq commented on #1376
mlpack uses boost::serialization(www.boost.org/libs/serialization/doc/) to load and save a model. To save a trained model (model is the initiated object e.g. AdaBoost) to disk you can use:

[code]

which will save the model as an xml file, you can also use txt, json, etc.. Loading is similar:

[code]

I hope this is helpfu, let me know if I should clarify anything.

[2018-04-20 14:15] rizalishan commented on #1376
Seems like, I was missing just one parameter ... Thank you so much you have saved me.

[2018-04-20 14:15] #1376 closed

[2018-04-21 03:23] Huai-Xv opened #1377 "Test cases failed and got SIGABRT when building mlpack 2.2.5 from AUR"
Hello, I'm trying to build mlpack from  AUR on Arch Linux but encountered test failure. And there is some info may be useful. Thanks very much.

CXXFLAGS:
[code]

mlpack_test output:
[code]

GDB call stack output:
[code]

[2018-04-21 05:00] #1377 closed

[2018-04-21 05:03] Huai-Xv commented on #1377
Upgrade to ver 3.0.0, solved

[2018-04-23 17:34] rcurtin commented on #1377
Hi there, great to hear you got it solved.  Just for retrospect it looks like the real issue is here:

[code]

I wonder if the test was being run in a directory it did not have permission to write to or something like this.

[2018-04-24 01:26] Huai-Xv commented on #1377
It seems that mlpack_test(2.2.5) tried to read some info about init process (systemd). And this is `strace` output:
[code]

Then I also ran it with root, the message is really confusing:
[code]

[2018-04-24 18:32] rcurtin commented on #1358
Ok, so I have done quite some digging on this and I am not to the bottom of it yet, but I have both a workaround and the information I need to keep digging.

The problem can be worked around (technically in an unsafe manner because it does not solve the actual problem) by moving the definition of `arma::sp_mat groundTruth` to the last member of `SoftmaxRegressionFunction`.

The smoking gun is this

[2018-04-24 18:34] rcurtin commented on #1359
The tree infrastructure is built for multidimensional trees, so I don't know if that would fully apply here.  Maybe something in the STL might be usable---for instance, `std::map` is built on RB-trees.  But I am not fully familiar with the hierarchical softmax.

[2018-04-25 15:36] rcurtin commented on #1358
Ok, the real issue here is that when mlpack was compiled, it was compiled with OpenMP.  But when you compile with g++, the `-fopenmp` option isn't specified.  This happens to change the size of the Armadillo sparse matrix (which behaves differently with and without OpenMP).  So, if you compile with `-fopenmp`, this should resolve the issue.

I'm now working on a patch that will at least issue a wa

[2018-04-26 15:53] rickllyxu commented on #404
@stephentu @rcurtin  Glad to tell you that, mvu based on primal-dual SDP solver **works**! I modify the file `mlpack/src/mlpack/tests/sdp_primal_dual_test.cpp` and the test case `SmallMvuSdp` works! I will commit codes after adjusting the code style.
Actually, the test case proves that primal-dual sdp solver can solve the mvu-sdp formulation. I will work on the step 3 tomorrow: Spectral
Embedding,

[2018-04-26 15:54] rickllyxu commented on #404
A simple code to remove redundant constraints in MVU sdp formulation. :grinning:

[2018-04-27 14:06] rcurtin commented on #1377
I don't think that any mlpack-specific code is dealing with systemd at all.  I would think that is either some low-level syscall that needs to communicate with the init system, or something in `boost::serialization` or related code.  Many times strace output can be really confusing, and even though there is a `EACCES` failure, the code continues without a problem.  I'm wondering if the actual issu

[2018-04-27 16:55] prabhat-krai opened #1383 "Implementation like Scikit learn"
to develop an implementation in C++ that will gravitate people towards C++ for fast prototyping.

[2018-04-28 11:58] manish7294 commented on #1152
@rcurtin Finally I got over with my academics :)
I am thinking of finishing up this part, It shouldn't take much time. Is the above three methods still available?

[2018-04-30 15:18] rcurtin commented on #1152
@manish7294: yeah, there have been no PRs opened for those.  I see you opened #1384, so I'll review that shortly. :+1:

[2018-04-30 15:19] #1383 closed, assigned to nobody

[2018-04-30 15:30] rcurtin commented on #1358
Fixed with the merge of #1382.  I'll go ahead and release mlpack 3.0.1 as a bugfix with this incorporated shortly.

[2018-04-30 15:30] #1358 closed

[2018-04-30 17:05] rcurtin commented on #404
Very nice, thanks for taking the time to work on that.  Honestly if we are able to restate the SDPs we work with to avoid including linearly dependent constraints (specifically for MVU), I think I would be happy to close this issue.  As pointed out earlier, nobody has ever complained about this issue, so I don't think we need to spent too much time figuring out a solution until it becomes more of

[2018-04-30 19:01] rcurtin commented on #1158
I'm going to go ahead and close this for inactivity---please feel free to reopen if needed.

[2018-04-30 19:01] #1158 closed

[2018-05-01 15:16] rcurtin commented on #227
I have to agree with the last comment here, and there is no pressing need to integrate the two, so I will go ahead and close this issue.

[2018-05-01 15:16] #227 closed

[2018-05-02 13:39] rickllyxu commented on #404
OK, I think it should be linearly independent constraints if I filter the redundent nearest pairs. But some problems still exist.
I wanted to solve the problem of MVU + LRSDP, and made the mvu + SDP as a starter. Of course I'd like to participate other ideas mentioned in GSoC idea lists.

[2018-05-02 16:35] rickllyxu commented on #404
I have proved the constraints for MVU are linear dependence in paper if I filter the redundent nearest pairs. But the SDP solver (primal-dual interior-point method) still almost can not solve the sdp formulation of it ( however works for some cases).
This goes back to the problem of the SDP solver, not the MVU. Though the linear dependence is satisfied, the sdp solver can not solve some sdp proble

[2018-05-09 06:44] sourabhvarshney111 commented on #1318
@zoq @Namrata96 I think the issue is solved. Can we close this issue?

[2018-05-09 13:47] zoq commented on #1318
Nice catch, let's close this one, thanks @Namrata96.

[2018-05-09 13:47] #1318 closed

[2018-05-15 07:25] sourabhvarshney111 commented on #1152
@rcurtin @zoq Looks like det tests are also complete and hence the issue can be closed.

[2018-05-15 07:47] manish7294 commented on #1152
@sourabhvarshney111 I think it will be way too early to close this issue. Still, there are many tests which are marked but not done or have open pull requests. So, I think it will be best to leave a note mentioning them in case someone wishes to take them up.

[2018-05-15 07:54] sourabhvarshney111 commented on #1152
Thanks for clarifying @manish7294. Let me check which are open and still are not complete.

[2018-05-15 07:57] manish7294 commented on #1152
# Here is a list:
**Still Available:**

- gmm_generate
- gmm_probability
- gmm_train
- local_coordinate_coding
- range_search

Open PR:

- preprocess_describe #1337
- fastmks #1356
- kfn #1263

Maybe a few more are there :)

[2018-05-15 15:18] KARTHEEKCIC commented on #1152
I will open PR for gmm_generate, gmm_probability, gmm_train soon.

[2018-05-16 07:55] VarunPai commented on #851
Hi Ryan,

Is there any implementations of GPR made or planned so far ? I couldn't find any one.
Since I am new to ML, I have one question. I found an api called GaussianDistribution::Train(). Can we use this for a Gaussian process regression ?

[2018-05-16 16:56] rcurtin commented on #1152
Thanks everyone for the clarifications.  I updated the list at the top.  The issue is almost fully resolved now. :+1:

[2018-05-16 16:58] rcurtin commented on #851
Hi there @VarunPai, there is currently no GP regression support in mlpack.  The function `GaussianDistribution::Train()` can be used to fit the parameters of a single Gaussian distribution (mean and covariance) to the given observations, but that isn't GP regression.

[2018-05-17 01:00] VarunPai opened #1396 "MLPack solution build error in Visual Studio 2017"
I was trying to build MLPack using Visual Studio 2017. I could successfully generate the VS solution (mlpack.sln) from CMake but I am facing these errors while building the solution.

![mlpack3 0 0_vsbuilderror](https://user-images.githubusercontent.com/39329264/40151110-ecd0125c-59b8-11e8-9bf9-8f992f2b132d.jpg)

I followed the instructions from this link (https://keon.io/mlpack-on-windows/) with

[2018-05-17 01:08] VarunPai commented on #851
@rcurtin Thank you for the info.

[2018-05-17 11:09] zoq commented on #1396
If turning the python bindings off is an option, I think this is the easiest solution for now;  I'll have to take a closer look into the windows build issue.

[2018-05-17 11:19] #1322 closed

[2018-05-17 15:51] rcurtin commented on #1396
Right, when you configure with CMake, try setting `BUILD_PYTHON_BINDINGS` to `OFF`.  That should at least get the core library and command-line programs building.

[2018-05-17 17:21] teibit opened #1398 "Missing file"
Hi. Browsing your library I notice that there is a file called mlpack_export.hpp which is not included in any of the releases. Where can I find it? Without it the code cannot be run. Thanks.

[2018-05-17 17:57] rcurtin commented on #1398
Hi there @teibit,

The file `mlpack_export.hpp` is generated by CMake at build time.  So you can configure and build the library, then in the `include/` folder under your build directory you will be able to find it there.

Hope this helps!

[2018-05-17 19:17] teibit commented on #1398
The thins is that I am using XCode and so it doesn't even let me compile the code since this file hasn't been generated. Do you have any suggestions on possible fixes? I appreciate this very much.

[2018-05-17 19:48] teibit commented on #1398
Hmm, I just figured it out I think. I ran cmake on the folder previously and now the file was generated. Thanks for the help!

[2018-05-18 00:34] VarunPai commented on #1396
Thank you @zoq and @rcurtin. Turning off the Python bindings solved the issue.

[2018-05-18 02:28] rayrapetyan opened #1399 "DecisionTree: minimumLeafSize dramatically affects scores"
Looks like changing minimumLeafSize when building a decision tree dramatically affects accuracy, recall etc. E.g. here are few examples:

min_leaf_size,accuracy,recall
30,0.97,0.706
230,0.97,0.69
280,0.95,0.99

Or another dataset:
min_leaf_size,accuracy,recall
100,0.97,0.82
110,0.94,0.99

See - the difference of just 10 gives a totally different recall. It's hard to predict which value will give u

[2018-05-18 14:04] zoq commented on #1371
Agreed, let's continue the work over in #1204, @wxjeacen if you like to help, any review is helpful.

[2018-05-18 14:04] #1371 closed

[2018-05-18 19:56] rcurtin commented on #1399
Hi there @rayrapetyan, thanks for getting in touch.  I can't speak for exactly what scikit is doing, but this implementation is probably most similar to Weka's J48 implementation.  (It's basically the ID3 algorithm.)  Unfortunately based on the information you've given, I can't really diagnose whether or not something is wrong.  My immediate thoughts seeing your results and report are:

 * scikit-

[2018-05-20 07:17] ShikharJ opened #1402 "Implement .shed_rows() and .shed_cols() for arma::Cube"
Currently these routines are only available for matrices, however an efficient implementation of these routines for cubes can speedup our computation of `Gradients` for `AtrousConvolution` class.
Relevant: #1390

[2018-05-20 13:23] mlgill opened #1403 "[JOSS] DOIs needed in paper"
@rcurtin I am reviewing the mlpack submission for the JOSS submission. It looks like DOIs are missing from the paper.

[2018-05-20 13:31] mlgill opened #1404 "[JOSS] Add dependencies and installation instructions to main website"
@rcurtin I see the list of dependencies on GitHub [here](https://github.com/mlpack/mlpack/blob/master/README.md#3-dependencies) followed by installation instructions. Would it be possible to add this information (or a link to the GitHub dependencies) and on the main website [here](http://www.mlpack.org/) somewhere after the download links, etc?

[2018-05-20 13:37] rasbt opened #1405 "[JOSS] LICENSE.txt and COPYRIGHT.txt slightly out of sync"
Hi, there,

going through the JOSS checklist for the software review, I saw that the LICENSE.txt and COPYRIGHT.txt are slightly out of sync:

LICENSE.txt:

COPYRIGHT.txt:

For the version that will get archived with the JOSS paper, it's maybe best to update the License file with the most up to date copyright info

[2018-05-20 14:00] rasbt commented on #1404
I found a list of the dependencies on the documentation website following the links:

http://www.mlpack.org => docs => read the mlpack tutorials => Building mlpack From Source => Dependencies of mlpack

However, I agree that it would be nice to have a more obvious place for installation instructions and requirements. Ideally as a link in the navbar on http://www.mlpack.org or via a link like "Inst

[2018-05-20 14:30] rasbt opened #1406 "[JOSS] Recommended apt-get installation installs old version (mlpack 2.0.1)?"
I followed the instructions recommended in the docs via apt-get, and installed it as follows (on Ubuntu 16.04 LTS)

[code]

When I then look at the files installed, via `dpkg -L libmlpack-dev`, I see that these list

I then checked via `apt list --installed | grep libmlpack-dev`

and saw that it seems to be the old version indeed (`libmlpack-dev/xenial,now 2.0.1-1 amd64 [installed]`)

I am wonderi

[2018-05-20 14:41] rasbt commented on #1406
Related, the command-line program reference documentation refers to version 2.2.5 (http://www.mlpack.org/docs/mlpack-3.0.1/man.html):

Is this just a documentation bug or is the mlpack 3.0.0 functionality currently only available for the C++ library and language (e.g. Python) bindings?

[2018-05-21 13:11] rcurtin commented on #1406
Thanks for pointing out the issue---I fixed http://www.mlpack.org/docs/mlpack-3.0.1/man.html; it was an oversight during the release process.

For apt, we don't control the mlpack package in the repositories.  I can see that 3.0.1 has been pushed to the upstream Debian unstable repositories: https://packages.debian.org/sid/libmlpack-dev, but it hasn't made it to Ubuntu yet.  Some time ago I submit

[2018-05-21 22:18] rcurtin commented on #1405
Fixed in #1408---thanks for pointing it out.  Just a minor oversight.

[2018-05-21 22:18] #1405 closed

[2018-05-21 22:19] rcurtin commented on #1403
I added the DOIs that I could find for the references in #1408, but not every reference had a DOI.  I am not the most familiar person in the world with DOIs, so please double-check my work (83b697d) and let me know if I didn't do what you were hoping for.  Thanks!

[2018-05-22 06:35] conradsnicta commented on #1402
@ShikharJ - you're welcome to submit a pull request on the Armadillo repo: https://github.com/conradsnicta/armadillo-code

[2018-05-22 07:17] ShikharJ commented on #1402
@conradsnicta Sure, I'll submit one over the weekend.

[2018-05-23 14:24] rcurtin commented on #1404
I added a link to "build instructions" on the http://www.mlpack.org/download.html page; since you already have to go to that page to download the source, I think it's reasonable to put it right below the links for downloading the source.

Let me know if you think that's reasonable---I'll go ahead close this issue since I think it is handled.

Thanks for pointing it out! :)

[2018-05-23 14:24] #1404 closed

[2018-05-23 19:56] djently commented on #1399
Hi @rcurtin, it's not clear what do you mean by the threshold for decision trees. As far as I know, the decision rule for a terminal node in decision trees is simple majority. I can suppose that we can use a threshold for proportion of target class samples in leaf, but I've never seen such implementation in any machine learning libraries.

BTW,  CART algorithm is implemented for decision trees in

[2018-05-23 20:07] rcurtin commented on #1399
scikit's implementation provides `predict_proba()` and mlpack provides a `Classify()` overload that returns class probabilities.  In a typical setting, you would take these class probabilities and then create an ROC curve in order to select a threshold that best reflects the performance tradeoff you are looking for (between TPR/FPR, or precision/recall, either way).

ID3 was actually only original

[2018-05-23 22:02] rcurtin opened #1409 "Add shuffle parameter to KFoldCV constructor"
(from an IRC discussion) It would be useful to add a `shuffle` flag to the `KFoldCV` constructor, which would shuffle the data before the k-fold cross-validation is done.  This can be important for situations where the data is ordered by class---a k-fold split as-is would fail horribly.

It'd probably be easiest to implement this by just calling `ShuffleData()` inside the constructor for `KFoldCV`

[2018-05-23 22:17] rasbt commented on #1406
I see. I'd say it would be good to add a small note about that until it gets updated. Since Ubuntu is a pretty widely adopted distro these days, it could safe some users from some misunderstanding

[2018-05-25 23:16] rayrapetyan commented on #1399
@rcurtin, please find ROC curves below. Thanks.
![roc](https://user-images.githubusercontent.com/4700523/40569495-25272b7c-6026-11e8-94b9-f7fd1b35fbb9.png)

[2018-05-28 11:31] conradsnicta commented on #1409
@octogman - if there's an issue with arma::shuffle(), please submit a bug report at the Armadillo repo: https://github.com/conradsnicta/armadillo-code
We take reproduceable bug reports seriously and aim to fix them quickly.

[2018-05-30 02:55] conradsnicta opened #1411 "ShuffleData directly reads sparse matrix arrays"
Looking at this
https://github.com/mlpack/mlpack/blob/8985af2fd6704dbcd3e8362bea996d5889c2ccd7/src/mlpack/tests/math_test.cpp#L634-L635
leads to:
https://github.com/mlpack/mlpack/blob/8985af2fd6704dbcd3e8362bea996d5889c2ccd7/src/mlpack/core/math/shuffle_data.hpp#L51
which directly reads sparse matrix arrays here:
https://github.com/mlpack/mlpack/blob/8985af2fd6704dbcd3e8362bea996d5889c2ccd7/src/ml

[2018-05-30 04:00] rcurtin commented on #1411
Good call, thanks. I am working on #1409 so I'll add this to the eventual PR since it's related.  The fix is easy, I'll just fill a `values` array with the iterator that method is already using.

[2018-05-31 07:48] conradsnicta commented on #1411
I did a quick search through the mlpack code base, and there are several other instances of SpMat::values[] (and the other SpMat arrays) being read directly.  It's not a pressing problem, though to be on the safe side there should be a call to SpMat::sync() before accessing these arrays.

[2018-05-31 21:07] rcurtin commented on #1399
@rayrapetyan: thanks for taking the time to create those, this doesn't look the way I would expect (I'd have expected these to be roughly the same).  Let me do a little experimentation to see if the same trend holds for other datasets, and I'll update this issue with what I find.

[2018-06-01 03:26] rasbt opened #1413 "[JOSS] Can't obtain the distribution from the link provided in the docs"
For the review, I am trying out the installation instructions on http://www.mlpack.org/docs/mlpack-3.0.1/doxygen/build.html and it seems to hang

[code]

Is this a temporary issue, or is the link maybe incorrect?

(I was able to get the files via `wget https://github.com/mlpack/mlpack/archive/mlpack-3.0.1.tar.gz` but I am wondering if the http://www.mlpack.org/files/mlpack-3.0.1.tar.gz should stil

[2018-06-01 03:28] rcurtin commented on #1413
Sounds like a routing issue, hopefully temporary.  The system is still up (I was just checking my email on it, so clearly it can talk to Github at least...).  Are you able to load mlpack.org at all?

If the problem persists I can try and find the right person to fix the routing issue, but often it can be hard to find who that person will be...

[2018-06-01 03:44] rasbt commented on #1413
Yes, that works fine.

I just tried it again, and somehow, the problem just resolved itself, maybe it was just a temporary server hickup :)

[2018-06-01 03:44] #1413 closed

[2018-06-01 12:17] ShikharJ commented on #1402
Fixed in https://github.com/conradsnicta/armadillo-code/pull/77. @zoq I'd like to keep this issue open till the changes are released to a stable. Then we can probably update our `AtrousConvolution` implementation.

[2018-06-01 14:41] IshanSeidenberg opened #1415 "Problem with the sample code in ann::ffn. trying to fit the data ("thyroid_train.csv") mlpack-3.0.1."
Compilation:
g++ -DDEBUG -g fnn.cpp -o fnn -O2  -larmadillo -lmlpack -std=c++11 -fopenmp -lboost_serialization

Output:
24, 3772
21, 3772
3, 3772
Training...

error: Mat::operator(): index out of bounds
terminate called after throwing an instance of 'std::logic_error'
  what():  Mat::operator(): index out of bounds
Aborted (core dumped)

Code:
`
#include <fstream>
#include <cmath>
#include <mlpack

[2018-06-01 15:04] rasbt opened #1416 "[JOSS] how to set up the mlpack Python bindings"
I followed the installation instructions and everything went super smoothly thus far! :)

I can use the binaries from within the bin folder, and also the tests all pass:

[code]

I am wondering now what step would be required to enable the Python bindings? Would I just need to add `~/mlpack-3.0.1/src/mlpack/bindings/python/mlpack` to my Python `PATH`? It would be nice if that could be briefly expl

[2018-06-01 15:49] rcurtin commented on #1416
Honestly I'd say `make install` is the easiest way to do it, like the build directions suggest.  If you really want to do it manually in the build directory it's hard enough that I wanted to avoid adding it to the documentation... from the build directory:

[code]

If you `make install` it will put it in `/usr/local/lib/pythonX.Y/site-packages/` which should automatically be in the `PYTHONPATH`.

[2018-06-01 16:08] rasbt commented on #1416
Hm, I used that, but for some reason, it didn't add anything to the site-packages directory (checked both the python 2.7 and 3.5 dirs), which is why I assumed a manual step might be necessary (I used `sudo make install`)

[code]

Thanks, that would be nice.

[2018-06-01 16:19] rcurtin commented on #1416
That's strange. Mind posting the output of `make install` (it will be long...)?  The Python bindings are pretty fiddly and I've found that different systems behave pretty differently.

(The Python bindings are also available via pip for manylinux platforms but where's the fun in that?? :))

[2018-06-01 17:01] rcurtin commented on #1416
Hmm it seems like the Python bindings aren't actually referenced in that install message.  Does 'make python' work?  It seems like CMake may not have configured the project to build the Python bindings, which could happen if the right Python dependencies aren't available.

[2018-06-01 19:01] rasbt commented on #1416
no, it doesn't seem to work either

[code]

For the whole installation procedure, I used a fresh Ubuntu install (16.04 LTS) and followed the docs step by step, including

[code]

Usually, I use the Miniconda Python distribution, however, for this review, I thought it would be better to follow the installation step by step without any dependencies installed that are not listed.

Do you think the Cm

[2018-06-01 19:04] rcurtin commented on #1416
Right, in this case, it looks like CMake didn't find everything right for the Python bindings.  I wonder if the Cython version is too old or something.  Can you run `cmake ../` in the build directory and print the output?  It should show some information about the Python bindings and whether the dependencies could be detected.

[2018-06-01 19:06] rcurtin commented on #1416
Actually, I bet the Cython version is too old:
https://packages.ubuntu.com/xenial/cython

The Cython version needs to be 0.24 or newer, so you could try on Ubuntu 17.10, but unfortunately 16.04 is pretty old at this point (or nobody has backported a newer version yet).

[2018-06-01 19:15] rasbt commented on #1416
You are right!

  Unsuitable version of Python module Cython (0.24 or greater required).

Will try a newer Ubuntu version then

[2018-06-02 00:49] rasbt commented on #1416
Just got one step further ... using Ubuntu 18 seemed to have solved the Cython dependency issue. Sorry, but I know face the next issue. It seems to be a library linking issue when I try to import mlpack in Python:

[code]

I just `grep`ed through the `cmake`, `make`, and `make install` outputs and couldn't find anything suspicious there; I pasted the relevant lines below. Have you encountered this

[2018-06-02 01:26] rcurtin commented on #1416
If it's installed to `/usr/local/`, on some systems (including Ubuntu) this is not in the default linker search path.  So you'll need to `export LD_LIBRARY_PATH=/usr/local/lib/` since that's where libmlpack.so.3 is.

pkg-config isn't a requirement for building, though, it's optional---so if it's not there, no problem.  (You just can't use pkg-config later to link against mlpack, for instance.)

[2018-06-02 01:27] rcurtin commented on #1416
(more details in the README at the end of section 4: https://github.com/mlpack/mlpack#4-building-mlpack-from-source)

[2018-06-02 01:37] zoq commented on #1415
The ``LogSoftMax`` layer expects the labels to be in range ``[1, #classes]``, the ``thyroid`` dataset from the tests directory has to be transformed first:

[code]

should work just fine. Let me know if you encounter any further issues.

[2018-06-02 01:39] zoq commented on #1402
Thanks for looking into this one, let me know if this can be closed.

[2018-06-02 01:49] rasbt commented on #1416
Good point, thanks! I usually use CentOS, and I think it's the default there neither (prob. why I have that line looming around in my .bashrc).

Anyways it seems to work now :). Could you add the last few lines of Section 4 to the online docs as well? I think that's very helpful info for users since Ubuntu is one of the recommended (or "example") distros. Don't want to be too picky, but then I can

[2018-06-02 02:19] rasbt opened #1418 "[JOSS] Documentation typo in Adaboost code example"
In the Python Bindings docs of Adaboost (http://www.mlpack.org/docs/mlpack-3.0.1/python/adaboost.html), the following code example is provided:

I believe this should be

based on the description at the very bottom: (`output_model (mlpack.AdaBoostModelType): Output trained AdaBoost model.`)?

[2018-06-02 02:36] rcurtin commented on #1416
That's a fair change and I would agree with it.  I'll incorporate it with the other changes I said I would do earlier.

[2018-06-02 02:38] rcurtin commented on #1418
You're right about the lack of `output =`, this is a bug in the auto-generated documentation.  It always helps to have an extra set of eyes---thank you for pointing this out.  The `output` -> `output_model` is a specific error in the AdaBoost code.

[2018-06-02 02:44] rasbt opened #1419 "[JOSS] Issue in perceptron Python-binding documentation with mlpack class assignment"
In the perceptron docs, at http://www.mlpack.org/docs/mlpack-3.0.1/python/perceptron.html

there are some issues in the code examples

[code]

First there's the "output" issue referenced in #1418. For now, let's assume that's fixed:

[code]

Now, the issue is this will raise an `TypeError: 'mlpack.perceptron.PerceptronModelType' object is not callable`. Presumably, because it's somehow trying to u

[2018-06-02 02:48] rasbt commented on #1418
I agree :). Coincidentally, not too long ago, I submitted a ML toolkit library to JOSS as well (mlxtend) and was bumping into similar issues with the autogenerated docs that the reviewer found

[2018-06-04 18:52] rcurtin commented on #1416
These should be fixed when #1421 is merged.  Thanks again for pointing the issues out, I really appreciate your dive in.  Many times it can be hard to get good feedback from an outsider's perspective.

[2018-06-04 18:52] rcurtin commented on #1418
Fixed with #1421.

[2018-06-04 18:53] rcurtin commented on #1419
Good call---I have a fix in #1421.  This is one of the tricky bits with writing agnostic documentation: for the command-line, this makes sense.  The model just gets called `perceptron.bin`.  But in Python it goes south fast like you pointed out. :)

I checked all the other bindings too, and none have the same issue.

[2018-06-04 18:54] rcurtin commented on #1406
I added a note to the README and the build guide that will be merged with #1421.

[2018-06-04 20:14] rcurtin commented on #1398
Right, CMake generates the file.  Sorry that I did not respond to this earlier, I must have seen that you fixed it in an email but forgot to follow up.  I'll go ahead and close the issue then.

[2018-06-04 20:14] #1398 closed

[2018-06-04 20:14] rcurtin commented on #1351
I'm going to go ahead and close this issue for inactivity.  Please feel free to reopen it if needed.

[2018-06-04 20:15] #1351 closed

[2018-06-04 20:15] rcurtin commented on #1320
I'm going to go ahead and close this for inactivity.  If you're still having problems, please feel free to reopen the issue.

[2018-06-04 20:15] #1320 closed

[2018-06-05 06:51] sungliner commented on #1415
arma::mat trainData = dataset.submat(0, 0, dataset.n_rows - 4,
    dataset.n_cols - 1);
arma::mat trainLabels = dataset.submat(dataset.n_rows - 3, 0,
    dataset.n_rows - 1, dataset.n_cols - 1);

class arma subview<double>is not compatible with class arma mat

[2018-06-05 15:29] dasayan05 opened #1423 "build fails with txt2man installed"
I was trying to build `mlpack` with the following:
[code]
Although `cmake` succeeded, but `make` was complaining with
[code]

I realized that the `CMake code` that is making trouble is inside the `else part` of
[code]

so, I removed the `txt2man` from my system and tried to build again and it **succeeded** .

**System Information:** Ubuntu 16.04, CMake 3.11, gcc/g++ 7.3

[2018-06-05 15:31] rcurtin commented on #1423
Oh, interesting, I see what the issue is.  If `BUILD_CLI_EXECUTABLES` is `OFF` then the man pages can't be built.  Another solution would be to set `BUILD_CLI_EXECUTABLES=ON`.  Fix coming...

[2018-06-05 15:33] rcurtin commented on #1423
#1424 fixes the issue.  Sorry about that!

[2018-06-06 01:46] aicaffeinelife opened #1425 "Installation issues on MacOS High Sierra 10.13.2"
Hi,

I'm a newcomer to mlpack and was trying to install it on my MacBook Pro which runs  Mac OS High Sierra 10.13.2. I followed the instructions mentioned on the install page. However, I keep running into an issue during the install. Here's the relevant log of the issue:

[code]

In the new MacOS systems the `cstdint` library has moved to `/usr/local/include/c++/4.2.1/tr1`.  I tried configuring Cm

[2018-06-06 02:14] rcurtin commented on #1425
Hmm, what happens if you try to compile any program that uses cstdint?

[code]

[2018-06-06 02:32] rcurtin commented on #1425
Interesting, so the compiler works ok by default.  I wonder if CMake is configuring something wront.  Can you give the output of the CMake configuration command?  I wonder if something in the settings detected are wrong.

Thanks for being willing to help debug---I wish I had an instant solution for this one, but not yet. :)

[2018-06-06 02:37] aicaffeinelife commented on #1425
Thanks for responding so quickly :).  Here's the output of the CMake:

[code]

The openmp warnings are correct since my system is new and I haven't installed openmp yet.  I'm not sure how much of an influence a missing `PKG_CONFIG` will have.

[2018-06-06 03:05] aicaffeinelife commented on #1425
So my `gcc` and `g++` are of the same version. I did what you recommended and this was the command log before the error:

[code]

A thing which jumps out at me is that the compiler being used is `/Library/Developer/CommandLineTools/usr/bin/c++` while the compiler I used to compile my earlier program was in `/usr/bin/g++`. I wonder if that's got to do with CMake settings for Mac?

[2018-06-06 03:19] rcurtin commented on #1425
Right, I think this is at least part of the issue here.  What is the output of `gcc --version`? Is it actually a clang version?

You could try `cmake -DCMAKE_CXX_COMPILER=/usr/bin/g++ ..` to force the use of gcc.

[2018-06-06 03:41] aicaffeinelife commented on #1425
The output of `gcc --version` is
[code]

In the newest compilation the compiler does change to `/usr/bin/g++` but the error still persists. I' e noticed that this:
 `gcc -Wno-unused-result -Wsign-compare -Wunreachable-code -DNDEBUG -g -fwrapv -O3 -Wall -
Wstrict-prototypes ` occurs. Another thing I noted was that this particular error appears when `mlpack_test/krann_search` module is being compile

[2018-06-06 13:27] rcurtin commented on #1425
I dug into it a bit more and some reading of similar bug reports suggested that `-I/usr/local/include` may be the problem.  What happens if you compile that simple test program from earlier with the `-I/usr/local/include` flag?

[2018-06-06 15:14] aicaffeinelife commented on #1425
I deleted and remade the build directory and then configured cmake with `cmake -D CMAKE_CXX_COMPILER=/usr/bin/g++ -D CMAKE_CXX_FLAGS= -I /usr/local/include -D DEBUG=ON ../`

I followed the verbose log more closely and though it compiled with `g++` it still failed at `krann_search`. Make is successfully able to build the mlpack_test target, but fails due to the same `cstdint` error on other targets

[2018-06-06 15:19] rcurtin commented on #1425
Hmm, but I'm interested in what happens if we omit the `-I/usr/local/include/`.  Is there a `cstdint` error if you compile the simple program from way earlier with `g++ -std=c++11 test_program.cpp -I/usr/local/include/ -o test`?

[2018-06-06 16:03] aicaffeinelife commented on #1425
No there is not an error, which is quite confusing. I tried by skipping the `/usr/local/include` but the error is still in the exact same file. This makes me wonder, if the mlpack core is being built against something else.

[2018-06-06 16:52] rcurtin commented on #1425
Hm, ok, thanks for trying that.  I wonder if this issue has to do with the C++ standard library that CMake is selecting.  So I have a few ideas if you are willing to try:

 * Replace `#include <cstdint>` with `#include <stdint.h>`.
 * Force CMake to use libc++ instead of libstdc++ by commenting out lines 102 and 109 of CMakeLists.txt.

What do each of those do?  Maybe this can help us get closer t

[2018-06-06 19:56] aicaffeinelife commented on #1425
I did what you recommended. In `prereqs.hpp` I replaced the `<cstdint>` with `stdint.h` and commented out the lines you mentioned in CMakeLists.txt. That seems to make the error go away only to end up with another:

[code]

[2018-06-06 20:00] rcurtin commented on #1425
Hm, what if you leave the CMake configuration unchanged but leave the `stdint.h` change in place?

[2018-06-06 20:21] aicaffeinelife commented on #1425
The `cstdint` error appears to be resolved if we make a change. However now the error of `tuple` not existing crops up. Since `stdint.h` seemed to work, I'm wondering if gcc is compiling the codebase as a C codebase? As before I've checked if `tuple` is existing on my machine using this program:

[code]

Unlike `cstdint` , `tuple` doesn't have a C equivalent. For more information this is the error

[2018-06-07 12:12] sungliner opened #1426 "linear_regression"
this is my code:

[code]

but i cant get the right predictions,dont know why

[2018-06-07 13:32] rcurtin commented on #1426
Hi there,

I don't know why either, since I don't have your dataset.  The code looks fine.  Linear regression isn't always guaranteed to get the right solution, so do you have a reason to believe that the model is not performing as well as it should?

If performance is not good enough you may also consider LARS or playing with the LinearRegression regularization parameter (so that it is ridge regr

[2018-06-07 14:21] #1423 closed

[2018-06-07 14:21] rcurtin commented on #1423
Thanks again for the report---the fix is now merged in, so if you update the code there should be no issue.  I will release mlpack 3.0.2 tomorrow with that fix and a few others.

[2018-06-08 03:33] sungliner commented on #1426
thank  for your response first!
my traindata ls a simple matrix
1,1,4
2,2,8
3,3,12
5,5,20
4,4,16
my predictdata ls a simple matrix
8,8
9,9
10,10
 but the prediction i got is always
0  0  0

[2018-06-08 20:00] #1409 closed

[2018-06-08 20:00] #1411 closed

[2018-06-08 20:00] rcurtin commented on #1416
Fixed via #1421.

[2018-06-08 20:00] #1416 closed

[2018-06-08 20:00] rcurtin commented on #1418
#1421 is merged, so I will close this now.

[2018-06-08 20:00] #1418 closed

[2018-06-08 20:01] rcurtin commented on #1419
Fixed with the merge of #1421.

[2018-06-08 20:01] #1419 closed

[2018-06-08 20:01] rcurtin commented on #1409
Support is now available with #1412 being merged.  Let me know if there are any problems!

[2018-06-08 20:01] rcurtin commented on #1411
Fixed throughout the codebase in #1412.

[2018-06-08 20:02] rcurtin commented on #1406
Since #1421 is merged, I'll go ahead and close this now.

[2018-06-08 20:02] #1406 closed

[2018-06-10 13:48] ShikharJ commented on #1206
@lozhnikov Optimizer separation would be tested out soon. This issue can be closed as well @zoq.

[2018-06-10 13:52] ShikharJ commented on #1371
@wxjeacen We now have the support for single-input mini-batch GANs, and we'll be working on the support for different batch-sizes in the coming weeks. You might want to check that out.

[2018-06-10 16:44] zoq commented on #1206
Thanks!

[2018-06-10 16:44] #1206 closed

[2018-06-14 16:48] sshkhr opened #1432 "policy gradients"
There are a couple of open PRs #1328 #1271 and a closed PR #934 which were working on implementing policy gradient algorithms in the mlpack framework but none of them were merged due to some reasons. I would like to clean up and finish on those and add some tests. This is what I have thought of doing :

- [ ] Implement Policy as a layer in ann/ rl module
- [ ] Add a test for policy layer in rl_com

[2018-06-15 01:41] mirraaj commented on #1432
Hello @sshkhr, I sincerely thank you for looking into the incomplete PR. As a matter of fact, the policy gradient method (Reinforce) is almost complete. If you are comfortable, I will like to complete that work within few days. You may like to work on actor-critic methods which is a more challenging task. I have shifted my focus to implementing ACER/PPO on MLPACK. There is an closed PR #934 where

[2018-06-16 07:54] ShikharJ commented on #1402
@zoq This can be closed now, the new `Gradient` method would not need the support of the above routines for cubes.

[2018-06-16 07:54] #1402 closed

[2018-06-18 15:32] rcurtin commented on #1425
Sorry for the slow response---I was on vacation last week.  I returned to this and thought about it a little bit... I have some thoughts.

 * Is this problem only occurring for the Python bindings?  i.e. if you configure CMake with `-DBUILD_PYTHON_BINDINGS=OFF`, is the build successful?

 * It looks like forcing clang to use libc++ helped us get closer, but then it tries to link against `NOTFOUND`

[2018-06-18 15:39] rcurtin commented on #1426
Sorry for the slow response---I was on vacation last week.  I see that the `responses` vector is never being set when you construct the object `lr`.  I think maybe you are missing the following code after the `data::Load()` call:

[code]

(I haven't tested that, but I think it will work.)

[2018-06-18 18:22] rcurtin commented on #1403
I think this is fixed now so I will go ahead and close the issue.

[2018-06-18 18:22] #1403 closed

[2018-06-20 01:04] aicaffeinelife commented on #1425
I'll try that and get back to you, most likely by tomorrow.

[2018-06-21 00:29] rcurtin opened #1438 "Occasional failures for ConvolutionalNetworkTest/VanillaNetworkTest"
I noticed some failures on masterblaster:

http://masterblaster.mlpack.org/job/docker%20mlpack%20nightly%20build/armadillo_version=armadillo-6.500.5,boost_version=boost_1_66_0,buildmode=debug,compiler_version=gcc-6.1.0,label=linux-amd64/lastCompletedBuild/testReport/

So I checked out the code and found that maybe 1 in every 50 runs fails randomly.  I tried three different revisions---current mast

[2018-06-21 07:03] zoq commented on #1438
I'll see if I can reproduce the issue later today.

[2018-06-21 20:57] zoq commented on #1438
Okay, looks like a random failure, the output looks good and is the same, compared with the latest and previous version. Will open a new PR with a 'fix'.

[2018-06-23 10:08] kilasuelika opened #1443 "'svd': illegal use of namespace identifier in expression"
When build mlpack using Windows, an error occured:

Error	C2882	'svd': illegal use of namespace identifier in expression (compiling source file G:\Coding\C++\mlpack-master\src\mlpack\Release\cotire\mlpack_CXX_unity_54_62.cxx)	mlpack_unity	g:\coding\c++\mlpack-master\src\mlpack\methods\radical\radical.cpp	190

The file contains error is mlpack\methods\radical\radical.cpp.

[2018-06-23 10:18] kilasuelika commented on #1443
I modify the 190 line of source file to:
`arma::svd(matU, s, matV, cov(matX));`

And build successfully.

[2018-06-23 21:02] zoq commented on #1443
Good point, do you like to open a PR with the modification, don't feel obligated, just wanted to ask first.

[2018-06-27 00:45] rcurtin opened #1445 "LMNN: optimization of kNN computation by tree caching"
This is a follow-up to the LMNN support added in #1407.  One of the biggest parts of the computation we are performing is the repeated calculation of the impostors with a kNN search.  Looking at current benchmarks, the algorithm spends half or more of its time performing these searches.  Depending on the dataset, a lot of this time can be the tree building process (which at the current moment has

[2018-06-27 00:49] rcurtin opened #1446 "LMNN: optimization of kNN computation by bound relaxation"
Here's another nice way that I think we can have a lot of speedup with the kNN search (not the tree building).

The kNN search stores bounds in the query tree during search.  The algorithm itself is quite complex, but in essence, when we start the search we have a bound set at DBL_MAX that says, "the k-nearest-neighbor of any descendant of this query node is no further than DBL_MAX away".  But we

[2018-06-27 00:52] rcurtin opened #1447 "LMNN: low-rank matrix optimization"
This one is already implemented in #1407, so really this issue is just more about seeing that it works okay.  We want to ensure that when we run LMNN with a low-rank distance matrix, that the following things are true:

 1. We can get roughly equivalent kNN accuracy improvements.  (That will be incredibly different with choice of rank and dataset.)
 2. We get some amount of speedup by the use of t

[2018-06-27 00:59] rcurtin opened #1448 "LMNN: optimization by avoiding impostor recalculation using bounds"
This is related to #1407 and is an optimization that we could do.  It focuses on the recalculation of impostors that is performed at each iteration (which happens every `range` iterations).  Using the bounds in this paper, we can compute when we do not need to recalculate impostors:

http://www.ratml.org/misc/lmnn_bounds.pdf

Essentially to implement this, we will have to do the following:

 * Per

[2018-06-27 01:05] rcurtin opened #1449 "LMNN: optimization by bounding slack term"
This is an optimization for #1407.  This one is focused on the following term, which appears during the computation of the LMNNFunction objective function and gradient:

[code]

We're already avoiding the computation of extra slack terms with the `if (eval < -1)`, which is great, but we can do better!  Using a (not-yet-derived) bound depending on `|| L_{t + 1} - L_t ||_F^2`, we can bound what `eva

[2018-06-27 05:44] kvcuong opened #1450 "Does mlpack - hmm support mutilple sequences ?"
Hi,
I have some issues on word-spotting with mutiple sequences. Let's say one observation Oi = {o1, o2, o3.., ok...} and each ok = {ok1, ok2, ok3.., okn}.

Does mlpack-hmm support such kind of data structure ?

Thanks

[2018-06-27 10:16] manish7294 commented on #1447
I tried running a test for this one. But the results vary just too much, sometimes learning a low-rank perform better, other times not so (like for vc2 it's always way better and runtime is almost half, on other the hand with iris results are more and less same). Overall I would say reducing data dimensionality have some real visible effects on outcome. The result of which, currently I have commen

[2018-06-27 14:20] kvcuong commented on #1450
Did you mean a std::vector<arma::mat> which is :

`std::vector<arma::mat> dataSeq = {O1, O2, ...Oi......Om}`  where
`Oi = arma::mat{arma::col(o1), arma::col(o1), arma::col(o1), ...arma::col(ok)....arma::col(on)};`
and
`arma::col(ok) = {ok1, ok2...., okp,.......}`

?

[2018-06-27 14:29] manish7294 commented on #1449
I ran some of the tests as you mentioned, and I think it is apparent that there's a lot of speedups.
Here are some of the figures:
Iris:
[code]

vc2:
[code]

letters:
[code]

There are comparatively very fewer triplets on which we actually need to calculate.

[2018-06-27 14:46] rcurtin commented on #1450
Right, in the code you wrote, `O1`, `O2`, `Oi`, and `Om` would be sequences, and then each column of `Oi` would be an observation in the sequence.  So if I have understood your notation right, I believe that we are on the same page.  Give it a shot, let us know if there are any problems. :)

[2018-06-27 14:54] rcurtin commented on #1443
Thanks for pointing this out, it's such a simple change that I went ahead and made a PR (#1451).

[2018-06-28 02:37] manish7294 commented on #1449
I just gave it a quick thought and I think the bound will be somewhat related to
`eval < eval_old + || L_{t + 1} - L_t ||_F^2 * ( || transformedDataset.col(i) - transformedDataset.col(targetNeighbors(j, i))) ||_F^2 - || transformedDataset.col(i) - transformedDataset.col(impostors(l, i))) ||_F^2 )`

[2018-06-28 10:40] manish7294 commented on #1445
The idea seems pretty decent, it totally seems possible. It shall remove the overhead of generating trees again and again if we can just adapt the tree to new space. Let's do this :)
I think first point we will be to generate the trees and cache them efficiently (I think neighbor already provide a referenceTree() function to help us out and then maybe a vector of trees having size equals to the nu

[2018-06-28 10:43] manish7294 commented on #1445
I think we will need to perform the above procedure for both reference & query tree, right?

[2018-06-28 10:55] manish7294 commented on #1446
This sounds like another pretty good idea. I believe the bounds here will be somewhat similar to the ones we will be using in #1449.

[2018-06-28 11:32] manish7294 commented on #1447
Parameters (k = 5, optimizer: L-BFGS)
Iris:
Accuracy:
Initial Accuracy:  96.6667%
Rank = 1:  97.3333%
Rank = 2:  96.6667%
Rank = 3:  97.3333%
Rank = 4 (max dimensionality reached):  96.6667%

vc2:
Accuracy:
Initial Accuracy: 77.7778%
Rank = 1:  71.4976%
Rank = 2:  78.2609%
Rank = 3:  82.1256%
Rank = 4:  77.7778%
Rank = 5:  77.7778%
Rank = 6 (max dimensionality reached):  78.744%

letters_recogniti

[2018-06-28 13:15] RonakDedhiya opened #1453 "predict the closest cluster belonging to input vector"
Hello,
I used kmeans clustering(elkan) algorithm with mahalanobis distance to create around 2000 cluster for my application. It took me alot of time to get these cluster, its centroids.
I want to know cluster assignment for new data values but there is no function available wherein there would be no training and just cluster assignment.
Please help me how shall I do this with available functionali

[2018-06-28 13:40] rcurtin commented on #1453
Hey there,

If Elkan's algorithm was slow I might recommend trying Hamerly's algorithm or one of the tree-based algorithm.  The dualtree algorithm may be useful if the data is of low(ish) dimensionality, since you are searching for many clusters.

My suggestion would be to use k-nearest-neighbor search for this, with the cluster centroids as your reference set and your new points as the query set.

[2018-06-28 14:33] #1443 closed

[2018-06-28 14:33] rcurtin commented on #1443
Ok, #1451 is merged so this is closed now.  Thanks again for pointing out the issue, and don't hesitate to post any more problems if you have them. :)

[2018-06-28 14:36] manish7294 commented on #1449
I tried doing some derivations and as per finding,
eval_new = eval_old + || L_{t + 1} - L_t ||_F^2 * ( ||x_a||^2 + 2 * ||x_i||^2  +  ||x_b||^2 )
Here x_a is target neighbor
x_b is impostors
x_i is current data point

[2018-06-28 14:37] manish7294 commented on #1449
So, as you mentioned in lmnn_bounds.pdf we can cache ||x_i||^2 for all points and all that remains is calculating || L_{t + 1} - L_t ||_F^2

[2018-06-28 17:17] manish7294 commented on #1446
I think this may be correct:
` f(|| L_t - L_{t + 1} ||)  =   || L_{t + 1} - L_t ||_F^2 *  max( ||x_a||^2 +  ||x_i||^2)`

x_a : a point among kth nearest neighbors of all data points

[2018-06-28 20:06] rcurtin commented on #1438
#1442 is merged, so this is fixed.  I'll go ahead and close it.  Happy to see a green build again :)

[2018-06-28 20:06] #1438 closed

[2018-06-28 21:05] rcurtin commented on #1399
Hi @rayrapetyan, I'm sorry this response took so long.  The past weeks have been very busy and I was not able to devote the time.

I am not able to reproduce the issue that you've shown.  I took your data and took a look.  The training data is roughly 11k points and the test data is much larger, about 4M points.  This test data shows huge label skew towards label 0, and I think this may be a part

[2018-06-28 21:14] rayrapetyan commented on #1399
@rcurtin, FYI the training data is a sampled data, that is all positive and same amount of negative predictions, that's why it's skewed, which is expected...

[2018-06-28 21:20] rcurtin commented on #1399
That's fine, as long as you know the data is skewed that's good. I just wanted to make sure that you knew, since it was an observation I had.  Nonetheless, my conclusion is still that I can't find any mlpack bug or reason to implement/prefer a max_depth tuning parameter.  Since I see no issues in the simulations I am running, I'd urge you to check that there aren't any issues with your code or how

[2018-06-29 01:41] RonakDedhiya commented on #1453
Hello,
Thanks for the suggestion.
I have tried the above suggestion and used k nearest neighbor. But
unfortunately it didn't worked with Mahalanobis Distance metric type.
Mahalanobis distance dont work with tree algorithms, I have tried with
kmeans and dualtree algorithm. With both I have got this error!!!

/usr/local/include/mlpack/core/tree/hrectbound_impl.hpp:243:27: error:
‘Power’ is not a mem

[2018-06-29 05:28] manish7294 commented on #1447
Parameters (k = 5, optimizer: L-BFGS)

Every data consists of 10 runs all with different seeds, the timings are on my system with DEBUG=ON and KNNAccuracy() time included as well.

Iris:
----------------------------------Accuracy------------------------ |---------------------Runtime----------------------
--------------Mean------Variance------Min-------Max---------|-------Mean------Variance------Mi

[2018-06-29 11:35] manish7294 commented on #1449
I tried this and in case there was nothing wrong with my implementation than either something is wrong with the bounds or it is taking just too much time and even there is a decrement in accuracies.

[2018-06-30 13:38] rcurtin commented on #1453
If you'd like to use the Mahalanobis distance, you're better off just transforming your data beforehand.  Note that a Mahalanobis distance `d_M(x, y) = (x - y)^T M (x - y)`.

So if you find L such that `M = L^T L`, then taking the non-Mahalanobis distance `d(Lx, Ly)`, you get the same result.

In my experiments it was faster to just multiply my data by `L` instead of using the Mahalanobis distance

[2018-06-30 13:44] rcurtin commented on #1447
Hmm, there's no variance in the result accuracy.  Are you sure this is running correctly with different random seeds?

[2018-06-30 14:04] manish7294 commented on #1447
These were the results I got on running on with different seeds but later on the same day I found a logical error while updating iterations, for which I had pushed a commit. So, maybe the results are not absolutely correct, I still have to check the accuracy after new changes.

[2018-06-30 16:20] aicaffeinelife commented on #1425
Hey sorry for the late reply. I did what you mentioned.

- Turning python bindings off seems to have no effect on the installation.
- `NOTFOUND` was there in CMakeCache.txt but it was with OpenMP (which is correct since I don't have openmp)

[2018-07-01 08:43] scrcro opened #1455 "Is there a way to output loss value for every iteration"
If I need to understand how the loss value behaves with every iteration of the training, is there a way to output the loss value to a file? I know there is some output in the form of LOG::Info but I just need the raw values without the texts. Is there a good way to accomplish this?

[2018-07-01 20:21] ShikharJ commented on #1203
Closing this for now.

[2018-07-01 20:21] #1203 closed

[2018-07-02 12:39] rcurtin commented on #1449
I believe that your derivation is correct here, so are you sure the implementation is correct?  If you want to push your code I can take a look at it.

I actually think the derivation is a little easier if you start with `d(L_{t + 1} x_i, L_{t + 1} x_a)` on the left hand side instead of `d(L_t x_i, L_t x_a)` (and the same for the second term), then you don't have to take the last step to "flip" th

[2018-07-02 12:39] rcurtin commented on #1447
Right, I saw that, but no matter what there should definitely be some amount of variance in the accuracy---I don't expect that LMNN would converge to the same result with SGD when it is starting from a different (random) initial point each time.

[2018-07-02 12:39] rcurtin commented on #1446
Right, I think this is close to correct.  Here's a derivation, supposing x_i is the query point and x_a is the k-nearest neighbor (although the notation doesn't actually matter):

[code]

Maybe I overlooked something?  I'm not sure where the `max()` came from in your solution, and it seems like maybe it is missing a second argument?

[2018-07-02 13:45] manish7294 commented on #1446
Ah! That was just a intutional expression I had written earlier :)

[2018-07-02 13:47] manish7294 commented on #1449
I will check the implementation once again as soon as I am back to work :)

[2018-07-02 13:48] manish7294 commented on #1447
Will have to cross check with SGD like optimizers.

[2018-07-02 13:50] rcurtin commented on #1449
Of course, no hurry---no need to answer the issues while you are on a vacation.  :)

[2018-07-02 14:36] rcurtin commented on #1425
Ok, thanks for trying it.  I'm confused about why OpenMP being not found would cause problems here, but I guess if it is, you could comment out lines 351-359 of CMakeLists.txt and I think that might fix the issue.

Sorry again for the lots of things to try in debugging this... but I think we are close to having something working...

[2018-07-02 14:39] rcurtin commented on #1455
Hmm, there is not an easy way to do it (and maybe there should be).  Right now the three ways I can think of are:

 * Capture the `Log::Info` output that you already get during training and process it a little bit to recover the raw values only with awk and sed (or whatever tool).

 * Modify the SGD optimizer output in `src/mlpack/core/optimizers/sgd/` to get what you need and print it to `std::co

[2018-07-02 17:02] zoq commented on #1455
Another idea would be to forward the function calls, something like:

[code]

[2018-07-03 05:51] scrcro commented on #1455
Thank you @rcurtin @zoq. Let me take a look at the optimizers' infrastructure.

@zoq Are you suggesting that we have additional methods for say FFN or RNN?

[2018-07-03 10:32] zoq commented on #1455
The idea builds on top of almost any mlpack method, that allows you to intercept the training process, but if you can modify the existing codebase you could directly modify the necessary parts as well. Here is a simple example, first the standard way:

[code]

before we can use the idea from above we have to make ``void ResetData(arma::mat predictors, arma::mat responses);`` public.

[code]

insid

[2018-07-03 17:29] #1453 closed

[2018-07-03 21:03] rcurtin commented on #1453
With #1459 merged, this is closed, but if you are having problems still please do not hesitate and we can reopen it. :)

[2018-07-03 21:22] rcurtin commented on #1455
Right, that idea allows no changes at all to the existing codebase, which is nice.  But I wonder if it would be nicer for users in the long term to allow something a little more like Keras does, by making any extra functionality a part of the optimizer:

[code]

What do you think?  It would be easy to add this support to the `FNN` and `RNN` classes, but harder to add it to all the optimizers (thou

[2018-07-04 10:29] manish7294 commented on #1447
I see the problem, no matter what seed I am passing `arma::randu()` is initializing the matrix to same value every time. When I replaced the `math::RandomSeed` with `arma::arma_rng::set_seed`, the variance in accuracy on different seed was visible.

[2018-07-04 19:15] zoq commented on #1455
Having some kind of callback functionality e.g. to print the loss is a good idea for almost all methods including NN's, so I would opt for a optimizer level solution. The issue I see is what if we like to print/store/process additional optimizer information like the gradient, ideally, someone could pass a generic function and can handle everything inside that function e.g. printing the loss and gr

[2018-07-05 12:21] manish7294 commented on #1446
Let me explain the essence behind max()

The above bound is specific to individual points, but when we are dealing with a dataset or a subset of dataset we need the maximum value of `DBL_MAX ` to bound all points. So, here `max()` is the maximum value of  `|| x_i ||^2 + || x_a ||^2` over all data points. It is the maximum value that will bound all points.
Though there is no significance in doing t

[2018-07-05 13:02] rcurtin commented on #1446
Right, this is a bound for each individual query point, so I think the max() is not needed here.

[2018-07-06 15:08] rcurtin opened #1463 "AppVeyor build for Windows tutorial"
It would be really nice to automatically test the Windows tutorial from #1436.  In order to do this, we could create a special .vcproj configuration and put it in an .appveyor directory, then modify appveyor.yml to drop that configuration in place and build it.  That's not the only way to do it, but it's one idea.

[2018-07-07 05:31] scrcro commented on #1455
Thank you @zoq  and @rcurtin . I need a quick solution now so perhaps I will use the wrapper technique. Though I need to study the optimizers closely to see if they can actually return the values for every iteration.
For a long term generic solution we perhaps need some sort of call back  mechanism like Keras.

[2018-07-07 11:50] manish7294 commented on #1445
I tried working over this but I can't seem to get how we are going to update the tree. Please help me out.

Doing this optimization we are basically bypassing the SplitNode step, right? I was wondering won't the order of points change as we modify the dataset.

[2018-07-08 08:39] manish7294 commented on #1448
I tried these bound by creating an overload of Impostors() to calculate impostors for some specific points of the dataset which violates the bounds (there is no tree caching as of now).
The results were pretty good but are dataset dependent, like on iris, vc2 and balance_scale the new runtimes are around 65 - 70% of the previous runtimes whereas on letters and covertype-5k, the runtimes are almost

[2018-07-09 11:13] manish7294 commented on #1447
These are the results over the current LMNN code after solving `RandomSeed()` issue. Parameters are same as that of previous simulation except each data consists of 5 (previously it was 10) runs with different seed.

[code]

[2018-07-09 14:51] rcurtin commented on #1445
Right, imagine that we have some `KDTree queryTree`.  Then we'll need to write something a little like:

[code]

I think something along those lines will work correctly.  I haven't tested that, so double-check it, but it should be the right direction at least.

[2018-07-09 14:53] rcurtin commented on #1448
Right, I would suspect that the speedup here would be dataset-dependent.  Would you like to open a PR with what you've got implemented?

[2018-07-09 15:03] manish7294 commented on #1448
Sure, I will open one shortly.

[2018-07-09 15:20] rcurtin commented on #1447
Right, looks good, could you also give results for covertype-5k and letters_recognition?  For the accuracy results it looks like as long as the rank is "high enough" (which for iris is 1 or larger and for vc2 is 3 or larger it seems), LMNN can still perform well, which is good.

The runtime results look roughly like I was hoping, but it seems like in some cases the number of iterations must be dif

[2018-07-09 16:10] manish7294 commented on #1447
Shall I take till tomorrow for further simulations by tomorrow? It takes quite some time ;)

I made some quick simulations on iris with `max_teration : 5` and the results totally depends over seed, the lowest runtime is as low as 0.14 to as high as 0.87 (which can be seen from above results)

[2018-07-09 16:12] rcurtin commented on #1447
Sure, it's ok if it takes some time.  Are you sure the maximum number of iterations is being properly passed and reached?  I can't see any reason why the results for a given maximum number of iteration would depend on the random seed.

[2018-07-09 16:12] rcurtin commented on #1455
Ah, I agree, but maybe we can combine both ideas to keep the syntax nice(ish):

[code]

and then:

[code]

and then `FunctionWrapper::Evaluate()` is something that calls `Evaluate()` on the first item in the tuple, which then passes it to the next:

[code]

For accessing optimizer parameters, etc., I wonder if some combination of a traits class and public accessors could be used.

What do you thin

[2018-07-09 16:22] manish7294 commented on #1447
As per the debug log number of iterations are 5 only. Though the number of `node combinations `and `base cases calculated `(which I think is a part of neighbor search) differs a lot.

[2018-07-10 03:20] rcurtin commented on #1447
Hmm, I guess the different dimensionality could cause significantly different nearest neighbor search runtimes.  I would not expect that so much but I think I will try to do a little investigation.  In the mean time, I do think the results are at least promising (even if the speedup is not so much).  For much higher-dimensional datasets, I expect that low-rank LMNN could provide even more speedup.

[2018-07-10 12:42] zoq commented on #1455
I like the idea, all I like to see is a really minimal class without any boilerplate code just to make it work, so the optimization step is basically all I have to implement. I think what we have right now is exactly that, the recently added ``DecomposableFunctionTypeAPI`` feature makes it even simpler.

[2018-07-10 15:02] manish7294 commented on #1445
I tried and ran a prototype of this, and here are some points taken from the observation.

    node.Bound()[d].Hi() = some_operation(node.Bound()[d].Hi(), transformationMatrix);
    node.Bound()[d].Lo() = some_operation(node.Bound()[d].Lo(), transformationMatrix);

I did a quick derivation, the change in points is basically `arma::mat change = ((Transformation - TransformationOld) * dataset)`
I th

[2018-07-10 18:55] rcurtin commented on #1455
I'm not sure I fully understand, but I want to be sure before I go implement a prototype---do you mean that you'd like to see it easy for a user to add different functionality like printing the loss, early stopping, etc. to an optimizer?  Or do you mean easy for a maintainer to add some kind of new hook?

I'm happy to try and make a prototype for it, but I want to make sure that I'll make somethin

[2018-07-10 20:06] zoq commented on #1455
Actually in this case, I was talking about understanding and adding a new optimizer. Right now, the only requirement is to implement ``Optimize(...)``, there is no need to add all kinds of accesors etc. And if I take the Adam code as an example:

[code]

it directly matches with the equations from the paper. I think the idea above is a really neat way to transparently add the features we need, at

[2018-07-11 15:30] aicaffeinelife commented on #1425
I don't think OpenMP could be a problem since it just checks if the library needs to be built with OpenMP support. From what I think, it seems that Apple's new toolchain, has some features which are different from say g++ or gcc?

[2018-07-12 17:54] rcurtin commented on #1445
Right, exactly, and we can see our hyperrectangle bound as parameterized by two points: the `Hi()` for each dimension and the `Lo()` for each dimension.  So if we made a point like

[code]

Then we could just transform the same way:

[code]

There is a more efficient way to write that though, but in any case, that should apply to both the low and high sides of the bound.

Correct me if I'm wrong,

[2018-07-12 17:55] rcurtin commented on #1445
Oops, forgot one:

Shouldn't that be `min()` not `max()`?

[2018-07-13 13:44] manish7294 commented on #1445
Ah! Sorry, I wonder what was I thinking while writing this. Ya, it should be min() :)

I meant to say there's no function to modify their values. We currently only have functions to return value in the code.

[code]

So I think adding something like this will do

[code]

Now for the implementation part, we will need to have old transformation matrix as well. So, maybe an extra parameter as `oldTra

[2018-07-15 13:22] manish7294 commented on #1445
[code]
I have been trying with above code and it seems training is happening as `minWidth` keeps on changing. But it seems there is some variation in the learned distance.

As to my knowledge we are updating every properties of both BinaryTree and Bounds class here, except the basic tree structure. So, I wonder, if it's because of keeping the tree structure constant.

`Given a dataset, we repeated

[2018-07-15 15:50] rcurtin commented on #1445
So you are right that the dimension with maximum variance can indeed change.  But that should not affect the correctness of the results (it may cause the search to be slightly slower though.  However that slowdown is still better than the cost of rebuilding the tree).

I think we should write a unit test for `UpdateTree()` to ensure it is correct.  To do this, we can take some dataset and some tra

[2018-07-15 17:41] manish7294 commented on #1445
I ran a unit test as you said and the results were bit different. Out of 750 elements 151 were misclassified.

[2018-07-16 12:36] manish7294 commented on #1445
I think I have found quite an odd observation with KNN, like if we train a KNN instance over a dataset and then extract the reference tree from this instance and pass it to some other KNN instance, then the search results from both the instances are different.

[code]
Do you think it is something to be expected? Maybe I am overlooking something.

[2018-07-16 22:02] rcurtin commented on #1445
So, definitely when you open the PR we should include the test that you wrote.  A couple of notes, first about your test directly above: when you call `knn.Train(dataset)`, the dataset will be copied and reordered for the tree building process.  But since the tree is built inside the `knn` object, the indices of the nearest neighbors will be re-mapped to their original points before they are retur

[2018-07-16 22:03] rcurtin commented on #1426
I'll go ahead and close this for inactivity.  If you need, please feel free to reopen it.

[2018-07-16 22:03] #1426 closed

[2018-07-16 22:10] rcurtin commented on #1399
Hi @rayrapetyan---I don't mean to be rude or anything but I see in the daal issue that referenced this one you claimed mlpack produced weak predictions.  I spent quite some time running simulations to confirm if there was any performance issue and concluded (as you can see in my writeup above) that there is not, and that I can achieve virtually the exact same performance as scikit.  All you need t

[2018-07-16 22:20] rayrapetyan commented on #1399
@rcurtin, you're right, sorry I haven't performed any research after your last response, mlpack indeed gives comparable result after tuning (and that's what I've mentioned in the very first message in this topic btw). But from what I've experienced in practice (and provided diagrams above) with different data sets - skiit-learn always outperforms mlpack on our data sets with a default tree width.

[2018-07-16 23:08] rcurtin commented on #1399
It's no problem, I'm happy to close as-is also if you prefer.  That you are getting different results with scikit's defaults confuses me also---if you are using `DecisionTreeClassifier` with its defaults it will build a decision tree that should be exactly equivalent to mlpack's with a minimum_leaf_size of 1 (minus small implementational differences perhaps).  That will significantly overfit the d

[2018-07-18 10:09] scrcro commented on #1455
@zoq  I used the wrapper technique as suggested above. I'm storing the result of the Evaluate call as the iteration loss. But the loss seems to be oscillating around a fairly high value. Is the result of the Evaluate call the right loss value?
I tried to use the same data on a similar model using Keras. This gives me the correct chracteristics.
I am using RNN with LSTM.

[2018-07-18 11:53] zoq commented on #1455
Sounds like the stepsize is to high or some issue with the weight distribution. Does it get better after a few iterations, also do you think you could share a minimal example to reproduce the issue?

[2018-07-19 13:15] scrcro commented on #1455
I tried with a relatively small step size (0.001) as well. And with a batch size of 1 as well. I will post the code soon. I tried both RMSProp and Adam optimizer. I also have a custom layer. Not sure if that is the problem. At the moment I want to be sure that I am capturing the correct loss value. Is the loss cumulative on the batch? I mean will it add up every loss within the batch?

[2018-07-19 13:54] zoq commented on #1455
I guess, you see similar results with ``stepsize = 0.001`` and ``batchSize = 1``; and you are correct the loss is cumulative for the current batch.

[2018-07-19 13:58] scrcro commented on #1455
Yes, the absolute loss value is less but the oscillation characteristics remain, whether step size is 0.05 or 0.001. Is the result of `f.EvaluateWithGradient` the correct value of the loss?

[2018-07-19 14:09] scrcro commented on #1455
Just occurred to me. Will the cumulative loss cause the parameters to overadjust? Could that be the cause of the oscillations?

[2018-07-19 14:35] zoq commented on #1455
Yes, EvaluateWithGradient works.

If the batch size is constant, the tolerance will be in the same range, so not sure I see the effect; perhaps I missed something?

Also, we should keep in mind that this has the effect the stepsize should be selected according to the batch size.

[2018-07-20 06:15] scrcro commented on #1455
The parameter adjustment is eventually a factor of the loss, numerically.
So if the loss absolute value is high the parameters may be overadjusted.
I'm speculating here really. I have not looked at the maths. Perhaps same
effect as the high step size?

On Thu, Jul 19, 2018, 20:05 Marcus Edel <notifications@github.com> wrote:

[2018-07-20 08:02] zoq commented on #1455
Do you use MSE as your loss function? If that is the case can you make sure you the Forward function looks like:

https://github.com/mlpack/mlpack/blob/3b7bbf0f14172cdb00fd16cbf12918b07c888b96/src/mlpack/methods/ann/loss_functions/mean_squared_error_impl.hpp#L27-L33

[2018-07-20 08:11] scrcro commented on #1455
No it is multi class problem . I'm using NegativeLogLikelihood.

On Fri, Jul 20, 2018, 13:32 Marcus Edel <notifications@github.com> wrote:

[2018-07-20 09:30] manish7294 opened #1470 "KNN result differ for different values of K"
Sorry, but the title may seem a bit confusing.

So Here's the problem -
If we call `KNN` for some `k`, and now if we again make a new call to `KNN` but this time with some value of `k` greater than previous one (Let's just say `k + 1`). Then the results of the first call will differ from the first `k` rows of the results from the second call. Ideally, It shouldn't be. And by results, I specificall

[2018-07-20 09:35] rcurtin commented on #1470
Ok, sorry, I did not realize that only the neighbors differed and not the distances.  If the distances differ, it is a bug, but if the neighbors differ, I don't think this is a problem.  Is it possible to work around this for #1466?

[2018-07-20 09:39] manish7294 commented on #1470
Ahh! I think somehow I have confused you.

By this I mean just neighbors are differing, distances are the same.

And if it's okay then I think we don't have to worry about the deviation of learned distance in #1466.

[2018-07-20 09:57] zoq commented on #1455
Okay, thanks for the fast response, I'll see if I can reproduce the issue you are seeing in the next days, perhaps I can use one of the existing tests, can you tell me more about your model architecture?

[2018-07-20 11:34] scrcro commented on #1455
Yes sure. Here is the model:
EmbeddingLayer (custom)
-->LinearNoBias-->Sigmoid-->LSTM-->LinearNoBias-->LogSoftMax-->NegativeLogLikelihood.

EmbeddingLayer essentially takes a set of intergers, signifying a sequence
of words, as input and outputs a vector = dimension*no of words.
LinearNoBias scales the vector down to number of LSTM units, which I use as
a hyper parameter. Then LSTM to output throu

[2018-07-20 11:43] rcurtin commented on #1445
Any update on this one?

[2018-07-20 11:56] manish7294 commented on #1445
Sorry for the slow response here, got a bit deviated by boostmetric and other things.
Thanks for explaining the passing tree to KNN issue. It solved the problem, I was facing.

Now regarding the `UpdateTree()` , I have tried doing

[code]
and alternatively,

[code]

but results were no different from the earlier ones. Though, I have one doubt, neighbor search uses neighbor search statistics inside

[2018-07-20 12:54] asalhab opened #1471 "mixed distributions in a multivariate HMM"
Hi,

I have a data looks like:
ID var1 var2 var3 var4 var5 var6 var7
id1      23        1        0       3       0      31 0.9253731
id2       3        0       23       0       0       1 0.5000000
id3      10        0       97      10       0       0 1.0000000
id4      18        1       94       2       9       4 0.9375000
id5       0        0        2       4       0       0 1.0000000
id6       1

[2018-07-20 13:04] rcurtin commented on #1445
Can you push the code that you have?  I'd like to try and debug this. :)

[2018-07-20 13:06] manish7294 commented on #1445
Thanks! That would be a lot of help. :)
I will push it shortly.

[2018-07-22 16:12] zoq commented on #1455
I was able to reproduce the issue using the ``ReberGrammar`` test, it looks like the stepsize is too high, also it does not train on the full training set at each iteration, which might interfere with the batch setup. As a simple solution, I switched the optimizer to ``RMSProp`` (``RMSProp opt(0.005, 100, 0.9, 1e-08, 50000, 1e-5);``) which adapts the stepsize. The setup workes a lot better, perhap

[2018-07-22 19:18] marcelotrevisani opened #1473 "How do I explicit disable OpenMP using cmake in mlpack?"
How do I explicit disable OpenMP using cmake in mlpack?

[2018-07-23 20:14] zoq commented on #1473
Currently, there is no such option; an easy option is to set ``OMP_NUM_THREADS=1`` to just use a single thread or to comment:

https://github.com/mlpack/mlpack/blob/3b7bbf0f14172cdb00fd16cbf12918b07c888b96/CMakeLists.txt#L351-L359

to disable any OpenMP functionality at build time. Let me know if one of the ideas work for you.

[2018-07-24 00:44] rcurtin commented on #1471
Hi Abdul,

Yes, it is definitely possible to implement this in mlpack.  But the key is that you will need to implement a function to estimate this mixed distribution.  This could be easy or kind of difficult depending on whether or not each dimension of output is independent.

In any case, here is how you would do it: by default, you would normally use the `HMM` class with a discrete distribution,

[2018-07-24 02:54] rcurtin commented on #1470
I'll go ahead and close this, I don't think it's a problem we need to deal with.

[2018-07-24 02:54] #1470 closed

[2018-07-24 02:55] rcurtin commented on #1449
This is merged, so we can close this now.  Thank you for the hard work, it is nice to see such speedups. :+1:

[2018-07-24 02:55] #1449 closed

[2018-07-24 03:04] rcurtin commented on #1446
I'll handle the tree-related part of this one, unless you are already working on it.  I'm thinking about single-tree search first, and basically when we do k-nearest-neighbor search for a single-tree algorithm we initialize all of the resulting distances to `[DBL_MAX, DBL_MAX, ...]`.  Then, during the algorithm, we'll update that distance list with the "best nearest neighbors so far" (so, each val

[2018-07-24 06:51] scrcro commented on #1455
This works somewhat better. I tracked down the loss reset issue to a bug. But even after that, I do not see it converging. It goes down by about 20% and then oscillates. I tried with step size 0.001, which is a bit better.
Will try with even smaller step size.

[2018-07-25 19:51] rcurtin commented on #1473
I opened the PR #1474 to add this support---I've been meaning to do something like this for quite some time but I guess I did not remember to actually do it.  Thank you for opening the issue to make me do it; this will be a part of the mlpack 3.0.3 release (probably will be released in the next few days).

[2018-07-26 02:16] gmanlan commented on #1396
I spent some time reviewing this issue by replicating the Windows build using BUILD_PYTHON_BINDINGS=ON. Unfortunately, I can't reproduce the issue using VS2017 15.7.3.

I also noticed that the "generate_pyx_*" projects include a post-build event that may fail if the user doesn't have enough privileges (error MSB3073 means that either VS can't find the setlocal command or that the paths referred in

[2018-07-26 13:46] FloopCZ opened #1475 "CMA-ES inconsistencies"
Hi everyone, first of all, thank you for the huge amount of work you have done on this project.
After a brief pass through the [CMA-ES](https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/optimizers/cmaes/cmaes_impl.hpp) implementation, I found a few inconsistencies with the documentation.

1. The documentation of the `Optimize` function states that the last parameter (`iterate`) is also

[2018-07-26 18:06] manish7294 commented on #1446
Do you happen to get something regarding this? As far I can see, there is no easy way to make this change without performing some good amount of refactoring as we can't directly access either of neighbor_search_rules or sort policy(which is not even a good choice to make change). Maybe change needs to made in neighbor_search itself.

[2018-07-26 18:09] rcurtin commented on #1446
Yes, I have been thinking about it.  I think that I can implement this one so you can focus on the other optimizations and BoostMetric.  I'll open a PR when it is ready.

[2018-07-26 18:13] manish7294 commented on #1446
Thanks! Shall I open a PR for BoostMetric as well, so that we don't get it left behind.

[2018-07-26 18:16] rcurtin commented on #1446
Right, I think that is not a bad idea.  When you have a chance, be sure to go through and apply however many optimizations that you can that we've already applied to LMNN.  That will help save some review time because if you don't do it I will probably point it out as a thing to be improved. :)

[2018-07-26 22:14] zoq commented on #1475
Hello Filip,

thanks for taking the time to look into the code.

I see your point, that we should be able to provide and use initial parameter; the issue I saw is that CMAES really kicks off if we start with some "reasonable" parameter; but "reasonable" highly depends on the task, and I agree that the parameter has to be tailored down for each task.

Good point, we should introduce two new methods

[2018-07-26 23:41] FloopCZ commented on #1475
Thank you for such a swift reply. The first and the second point should be quite straightforward. The third point could be a bit tricky. One way might be to project and optimize the variables in some kind of bounded space (e.g., evaluate `sin(x)*(upper-lower)+lower` instead of `x`). But in such a case, the recommended default `sigma` and maybe some other parameters will probably need to be scaled

[2018-07-27 03:02] #1473 closed

[2018-07-27 03:06] rcurtin commented on #1473
Thanks for reporting this, it should be fixed now.  I'll release mlpack 3.0.3 shortly (I'll start the process tomorrow morning).

[2018-07-27 03:14] rcurtin commented on #1425
Right, that's true, but somehow `NOTFOUND` is getting into the list of compiler flags.  I'd like to figure out why, and I'm thinking that OpenMP may be part of the cause.  In #1474 I actually just merged a new CMake option for disabling OpenMP, so if you are using the git master branch you can update to the latest commit and configure CMake with

[code]

and that will disable OpenMP in a much easi

[2018-07-27 08:22] marcelotrevisani commented on #1473
Thanks @rcurtin !

[2018-07-27 09:01] scrcro commented on #1455
Is this correct:
https://github.com/mlpack/mlpack/blob/e723e470684d6ebe907bababf0a9b42ac7c2a425/src/mlpack/core/optimizers/sgd/sgd_impl.hpp#L127
Or should it be incremented by 1?

[2018-07-28 02:03] rcurtin commented on #1446
An update on this one: I worked on it yesterday and today, and I have a branch rcurtin/lmnn-tree-rules that you can take a look at.  It does not incorporate the bounds from this issue yet, but instead of running `num_classes` KNN searches, now I built custom rules to run only once.  Also we can do the targets and impostors searches simultaneously.

My preliminary results show ~20-40% speedup on th

[2018-07-28 13:16] manish7294 commented on #1446
Wow! that's awesome. I couldn't have ever imagined doing something like that. You really have done a great amount of work. I just can't stop admiring your work. Thanks a lot for this. I will have a detailed look later tonight. :)
Just a little comment from overview - we are gonna use triplets in BoostMetric, so maybe we should avoid removing https://github.com/mlpack/mlpack/commit/9994c52eeef89786

[2018-07-29 07:01] scrcro commented on #1455
@zoq
How is the `maxIteration` parameter in `SGD` supposed to be interpreted? Right now with number of samples = 300 and batchSize = 30 if I use maxIteration = 10 iterations then the whole thing is over after a single iteration. Is the `maxIteration` supposed to be some multiple of the epochs?
The code here is unclear to me:
https://github.com/mlpack/mlpack/blob/e723e470684d6ebe907bababf0a9b42ac7c

[2018-07-29 11:53] IshanSeidenberg opened #1480 "Just wannting to try a simple thing builling a regression network copied from test samples"
Instead of a logistical regression i want to to simple regression so i to took out the last LogSoftMax layer output. of the (vanilla net with logistic activation function) Is this logical ? i have 3 outputs and 9 inputs an a million samples(parameter of fluid flow)! even if i have segfault somewhere i would like to be assured about this logic. thankx

-  FFN<NegativeLogLikelihood<>,RandomInitializ

[2018-07-29 16:20] zoq commented on #1480
The negative log-likelihood loss function expects that the input contains log-probabilities, which can be obtained by adding a ``LogSoftMax`` layer, or you could switch to the ``CrossEntropyError`` function if you don't like the idea to add another layer. However, since you like to do regression a common choice is to use the ``MeanSquaredError`` instead of NegativeLogLikelihood. You can test your

[2018-07-30 08:38] IshanSeidenberg commented on #1480
i understood the MeanSquaredError.
i don't have the seffault anymore!
here is the code:
i tested x2
training mode: 1000 points form 0 to 2
test mode : 1000 point from 0. to 1.5
i dont think it worked.

`#include <iostream>
#include <fstream>
#include <cmath>
#include <mlpack/core.hpp>

#include <mlpack/methods/ann/layer/layer.hpp>
#include <mlpack/methods/ann/layer/layer_types.hpp>
#include <mlpac

[2018-07-30 18:11] zoq commented on #1455
in case of SGD this equals to the number of samples visted.

``i += effectiveBatchSize;``

tracks the overall number of iteration

``currentFunction += effectiveBatchSize;``

tracks the number of functions visted; we check the performance or shuffel the data after every ``numFunctions`` (``numFunctions`` = number of samples). Perhaps it makes sense to increase ``i`` by one instead of ``effectiveBa

[2018-07-30 19:12] zoq commented on #1480
``LogSoftmax`` applies logarithm after softmax, softmax squashes a vector of a specific size 0 and 1, so that we could interpret the output of the softmax as the probabilities. But that also means we can't put the softmax layer at the beginning, it should be placed at the end of the network. ``CrossEntropyError`` does the transformation inside the loss function, so you don't have to add a LogSoftm

[2018-07-31 02:38] rcurtin commented on #1446
Ah, ok, we can re-add that, it's no problem.  I didn't realize that it was going to be used somewhere. :)

And it is really not that much work for me, keep in mind that this is basically the exact topic my PhD thesis was on (accelerating things with trees) and I wrote the `NeighborSearchRules` code, so I already have a pretty good idea of exactly what needs to be changed. :)

[2018-07-31 02:49] rcurtin commented on #1455
All of the other neural network toolkits that I know of specifically allow the user to specify the maximum number of iterations in terms of epochs (with epochs = maxIterations / numFunctions, where in the neural network case numFunctions is the number of points in the dataset).

I don't have any particular issue changing all the SGD-like optimizers to accept `epochs` instead of `maxIterations`---w

[2018-07-31 02:54] rcurtin opened #1481 "Implement prototype `FunctionWrapper` idea"
This idea is taken from #1455.  In essence it would be really nice to allow the user to have a way to add some additional behavior to optimizers, like early stopping, or printing the loss, or something like this.  In the discussion there, we threw around a couple of ideas, but here's one I think would be worth implementing.  Eventually I will manage to do this myself, but if someone is looking for

[2018-07-31 03:09] rcurtin commented on #1455
I also opened #1481 to continue the discussion/prototyping of the `FunctionWrapper` idea we were talking about earlier.

[2018-07-31 07:30] scrcro commented on #1455
Most frameworks/tools treats the number of epochs as a parameter and the iterations are dependent on the number of training samples. Therefore using the number of epochs as the parameter would be most easily understood.

[2018-07-31 18:03] rcurtin commented on #1396
Hmm, so the post-build event does depend on the user being able to call the CMake program.  (if I remember right it's just `${CMAKE_COMMAND} -E <some stuff ...>`)

Do you think it's a common situation that the user will encounter that the CMake program might not be available?  If so we can maybe try and work around it (or simply detect earlier on if the CMake program is accessible and disable Pyth

[2018-07-31 19:53] rcurtin opened #1483 "Adapt classifiers to return final objective value from `Train()`"
This is an extension of the PR #1430.  Basically, we need to look through all the mlpack classifiers (anything that implements `Train()`) and see if it is appropriate to return some kind of objective value.  Then we also have to update the documentation, and where applicable, the tests.

This could be a nice first issue for someone looking to contribute.

[2018-08-01 00:46] conradsnicta opened #1484 "broken 3.0.3 docs on mlpack.org"
The following pages linked from mlpack.org/docs.html currently lead to 404:
http://mlpack.org/docs/mlpack-3.0.3/man.html
http://mlpack.org/docs/mlpack-3.0.3/python.html

[2018-08-01 00:54] gmanlan commented on #1396
I'm not really sure if the post-build event is exactly where it fails, or if it goes deeper into the referenced 'python_copy' project (I tried executing the script in isolation, and I get setup.py errors related to paths)... E.g.
ValueError: path 'C:/mlpack/mlpack-3.0.2/build/src/mlpack/bindings/python/' cannot end with '/'

But I don't really understand the entire python workflow yet...

[2018-08-01 00:55] rcurtin commented on #1484
Thanks, fixed.  Absent-minded while between jobs :)

[2018-08-01 00:55] #1484 closed

[2018-08-02 02:41] rcurtin commented on #1396
Huh, maybe it could be this?

https://github.com/htrc/HTRC-WorksetToolkit/issues/19

If you're willing to experiment, you could try changing line 98 of `src/mlpack/bindings/python/setup.py.in` from

[code]

to

[code]

The trailing slash might also need to be removed on lines 39 and 58, not sure.  I don't have a good way to reproduce either so I can't do the test myself. :(

[2018-08-02 02:44] rcurtin commented on #1484
Right, fixed.  Some of the release process severely needs to be automated.  I'll have to see if I can make the time in the next weeks...

[2018-08-02 08:30] IshanSeidenberg opened #1486 "struggling with error: Mat::submat(): indices out of bounds ..."

[2018-08-02 09:33] #1486 closed

[2018-08-02 19:45] rcurtin opened #1489 "FFN::Add() doesn't make copies"
The following code (from #1468) doesn't compile:

[code]

This is because the type can't be matched---`addModule` can't be converted to a `LayerTypes`, which is a `boost::variant<... lots of type pointers ...>`:

[code]

The other overload can't be matched because the template parameter can't be deduced:

[code]

So, I think that `model.Add<Add<>>(addModule)` could work, but it seems unnecessary t

[2018-08-03 20:30] rcurtin opened #1490 "LMNN: don't recompute impostors during an SGD batch"
I debugged the sometimes-hanging `LMNNTest/LMNNLowRankAccuracyBBSGDTest` today.  What I found was that it sometimes hangs because the objective function that is being optimized is actually changing during a single step, because `Evaluate()` and `Gradient()` may be called multiple times, and as a result the impostors may be recalculated and get different results, resulting in a different objective

[2018-08-04 01:47] rcurtin commented on #1490
I also commented out a test in 69ea3599 that suffers from the same issue.

[2018-08-04 14:11] manish7294 commented on #1490
Thanks for looking into this. I have few questions, maybe you can help me out here.

I don't think I get it completely. Though there are multiple calls to `Evaluate()` and `Gradient()` in a single step but we always update iterate just once during the entire call. So, for one iteration impostors should be recalculated just once. At other times when iterate is not updated bounds should avoid recalc

[2018-08-05 20:41] starlord1311 commented on #1483
@rcurtin can i take up this issue?

[2018-08-06 14:48] rcurtin commented on #1483
@starlord1311 sure, you are welcome to. :)

[2018-08-06 14:57] rcurtin commented on #1490
Consider if my optimizer works like this:

[code]

In this case, the impostors will be recalculated at a different transformation matrix during that loop.  For BBSGD, this is basically exactly what happens---we compute the gradient at the current transformation matrix, then try a bunch of different steps in a line search to see which is best.

But every time we call `Evaluate()`, we recompute impo

[2018-08-06 15:06] manish7294 commented on #1490
Thanks! It's clear now. Now, I can see that these multiple calls between each iteration can cause impostors to change drastically leading to uneven updates in coordinates.

[2018-08-06 15:24] rcurtin commented on #1490
Ok, great, now let's talk about how to solve it. :)

Hmm, but in the case of linear scan, since we call a different overload of `Evaluate()` or `Gradient()` or `EvaluateWithGradient()`, we can still compute impostors in those cases.

Well, but an update would have happened at the end of the previous iteration, so I think there is no issue there.  A problem with this approach is that there's a lot

[2018-08-06 15:45] manish7294 commented on #1490
Hmm, then I think the first one will be the optimal choice for taking time and the work needed to be done into consideration :)

Just need to clarify this part before starting work -

By different overload of Evaluate() or Gradient() or EvaluateWithGradient() do you mean the one which works on full dataset. Can you clarify this a bit?

And basically we will be removing the impostors recalculation

[2018-08-06 15:46] rcurtin commented on #1490
Right, exactly.

Yeah, I think this is the right way to do it.  This may also accelerate some of the amsgrad/SGD runs too.

[2018-08-06 15:51] manish7294 commented on #1490
Just one more question, I am not seeing anything like Evaluate(iterate) in bigbatch_sgd code, so don't you think it will just be calling `Evaluate(iterate, currentFunction, effectiveBatchSize); `even in the case of linear_scan.
for linear scan we only have-
[code]

[2018-08-06 15:53] rcurtin commented on #1490
You're right, I was just making up a code example there.  Sorry for the incorrectness.

[2018-08-06 15:54] rcurtin commented on #1490
Also, sorry, I was mixing up linear scan and the full-batch L-BFGS type optimizers!  Hmm.  That does make this more difficult.  Let me think for a little bit about how to work around that situation and make sure impostors are still recalculated at the beginning of an epoch, and maybe you can think about it too and we can see what we come up with.

[2018-08-06 15:58] manish7294 commented on #1490
Sure. This isn't related to this issue, but can you pick and merge the changes made in #1472 related to LMNN accuracy tests (lmnn_test.cpp) except `UpdateTreeTest` for the time being.

[2018-08-06 16:14] rcurtin commented on #1490
If you can make those into a separate PR, I'm happy to look through and approve it.

[2018-08-06 16:45] rcurtin commented on #1490
All I can think of is the idea of holding a variable `linearScan` in `LMNNFunction`, and using that in `Shuffle()` to decide whether to actually do anything (and computing impostors either way).  Then we would have to add documentation stating that linear scan should be disabled when an LMNNFunction is being optimized, otherwise impostor recalculation will not happen and that can cause worse resul

[2018-08-06 17:19] manish7294 commented on #1490
That sounds fair. But shouldn't we be using `linearScan` to decide whether to do recalculation in Evaluate() and Gradient() instead of using it in shuffle(). As when we never make call to shuffle() when linear_scan is used. That way we won't be removing recalculation code from Evaluate() and Gradient(), just will have an `if (linearScan)` condition over it.

Sorry for asking it here, since the GSo

[2018-08-07 02:55] rcurtin commented on #1490
I'll send an email about the final evaluations in just a moment. :)

I don't understand how your idea would work---the whole issue is that with some optimizers, `Evaluate()` or `Gradient()` may be called arbitrary numbers of times before a step is taken.  But we need to make sure that the impostors are the same during this process.  So even if we know what `linearScan` is, how could we ensure that

[2018-08-07 03:07] manish7294 commented on #1490
Ah!  Right, Sorry I missed the main point while writing that. But then in linearScan there is no call to shuffle, so how we are going to recalculate impostors, when we don't have any code in Evaluate() and we can't access shuffle at that time?

[2018-08-07 03:37] rcurtin commented on #1490
Yes, we would disable linear scan in the optimizers and only set it in `LMNNFunction`.  So any optimizer would believe it was not doing a linear scan and call `Shuffle()` at the start of every epoch.

[2018-08-08 21:46] rcurtin commented on #1490
I thought also, if we implement this by only computing impostors once at the beginning of each epoch, it will make #1446 a lot easier also.

[2018-08-12 01:54] aicaffeinelife commented on #1425
Sorry for the late reply. I've been really busy with work. I'm gonna try out these suggestions as soon as I get time to do so.

[2018-08-12 11:38] manish7294 commented on #1490
I was working on this and observed a few obstacles.
For recomputing at the start of every epoch will require us to access `begin` of each batch inside shuffle().
At the same time, we need access to updated iterate in the shuffle() as well. But the problem is shuffle() is called before iterate update call and there doesn't seem any easy way to access it.

[2018-08-13 17:31] rcurtin commented on #1490
Hi Manish:

I don't understand why this would be true.

Why don't you do what you did in `Precalculate()` and use a boolean variable indicating whether the impostors need to be recalculated at the start of a call to `Evaluate()`, `Gradient()`, or `EvaluateWithGradient()`?

[2018-08-13 17:57] rcurtin commented on #1490
I've already answered this question:

[2018-08-14 20:27] rcurtin commented on #1425
No worries!  I am happy to help if you have the time, but don't feel obligated if you are too busy. :)

[2018-08-16 10:05] cacosomoza opened #1496 "Fast permutation of Armadillo Cubes"
I would like to implement a permutation function on Armadillo Cubes similar to the `permute` function in Matlab or `np.transpose` function in NumPy. My attempts are described in [this post](https://stackoverflow.com/questions/51842301/fast-array-permutation-generalised-tensor-transpose-in-armadillo-c). The main developer of Armadillo, Dr. Conrad Sand has encouraged me to ask the MLPACK community a

[2018-08-16 13:58] rcurtin commented on #1496
Hi Alejandro,

I saw your email but I hadn't had a chance to respond to it.  I took a look at the code in the Stack Overflow post.  The most important thing you can consider is the order in which you access elements.  Armadillo matrices (and cubes) are column-major, so contiguous elements are in rows.  Therefore if I was looping over all the elements in a cube, I would want the outer loop to be th

[2018-08-19 17:12] spatala commented on #1425
I am getting a similar error.

[code]

Just wanted to drop-in a note to see if any progress was made to resolve this. Thank you.

[2018-08-20 20:09] e-aakash opened #1498 "Man page not found for 3 functions in command-line program reference page"
The man page of [mlpack_allknn](https://www.mlpack.org/docs/mlpack-3.0.3/man/mlpack_allknn.html), [mlpack_allkfn](https://www.mlpack.org/docs/mlpack-3.0.3/man/mlpack_allkfn.html) and [mlpack_allkrann](https://www.mlpack.org/docs/mlpack-3.0.3/man/mlpack_allkrann.html) are displaying 404 Not found in [command-line program reference page](https://www.mlpack.org/docs/mlpack-3.0.3/man.html).

[2018-08-20 20:14] rcurtin commented on #1498
Right, thank you!  These three were removed in mlpack 3.0.0, and the names are now `mlpack_knn`, `mlpack_kfn`, and `mlpack_krann`.  I've updated all four corresponding documentation pages, and the documentation for those three command-line programs would be these links:

https://www.mlpack.org/docs/mlpack-3.0.3/man/mlpack_knn.html
https://www.mlpack.org/docs/mlpack-3.0.3/man/mlpack_kfn.html
https:

[2018-08-20 20:15] #1498 closed

[2018-08-21 19:32] rcurtin commented on #1450
I'm going to go ahead and close this for inactivity---please feel free to reopen if needed.

[2018-08-21 19:32] #1450 closed

[2018-08-21 19:33] rcurtin commented on #1448
This is done since #1466 is merged.  @manish7294: great work! :+1:

[2018-08-21 19:33] #1448 closed

[2018-08-22 02:20] jerrylucky opened #1499 "hmm in mlpack seams more slower than hmmlearn"
hmmlearn is a hmm lib implemented by python(https://hmmlearn.readthedocs.io/)

I use same data to train mlpack and hmmlearn, but it seams mlpack is ten times slower than hmmlearn, why ?
some parameter:
3 hidden states
8*600 train data matrix

//mlpack codes:
 ` arma::mat observation =....; //(8*600 matrix)

    HMMGaussianDistribution> _hmm = new HMM<GaussianDistribution>(3, 8);

    _hmm->Toleran

[2018-08-22 02:31] jerrylucky commented on #1499
thx you for response so quickly!

If i want use GaussianHMM with " covariance_type='diag'", what should i do ?
or could you support 'diag' in mlpack?

[2018-08-22 02:39] rcurtin commented on #1499
I know how to do it, but I don't currently have the time to implement it.  If you are willing to give it a shot, I can try and walk you through it.  Basically, we would need a class like `DiagonalGaussianDistribution` or something like this that implements the same functions as the `GaussianDistribution` class, but for a Gaussian distribution with diagonal covariance.  The "guts" of the implementa

[2018-08-22 02:42] jerrylucky commented on #1499
ok, I'll try this, thank you!

[2018-08-22 02:43] rcurtin commented on #1499
If it works and you're willing to share your code, I'd be happy to merge it in! :+1:

[2018-08-22 02:47] jerrylucky commented on #1499
ok, Hope I can complete it

[2018-08-22 07:42] jerrylucky commented on #1499
in this function:
[code]
so, why you write like this?

[2018-08-22 11:54] shashvatshahi1998 commented on #1499
OK, I am not getting the file path in which we can contribute.Can anybody please tell me the file path????

[2018-08-23 09:34] jerrylucky commented on #1499
Hi, rcurtin, I read the codes about hmm, I try to modify the code to support 'diag', to sure the process is right, I think there several place should be modified:

In
`void GaussianDistribution::Train(const arma::mat& observations,  const arma::vec& probabilities)`
get the diag of covariance, like this:
`  covariance = diagmat(covariance.diag());`

then In:
`double GaussianDistribution::LogProbabi

[2018-08-23 20:02] cacosomoza commented on #1496
Hi Ryan,
Thanks for your answer. Indeed, looping over the cube it's done in the way you describe (Option 1) in the stackoverflow post. I was just wondering if there's a faster way to do so, because it seems unusually slow for large arrays (8,8,64) for example.  I understand that computing a {2,1,3} permutation will perform much faster than {1,3,2} as you suggest, but unfortunately I cannot turn my

[2018-08-23 20:33] cacosomoza commented on #1496
Thank you for your prompt answer. I was already accessing the elements in the Cube contiguously (first rows, then columns, then slices) in my project. Indeed, that wasn't the case in the stackoverflow post (sorry) and I have already edited.

Just to conclude, do you think there's a faster way to perform the permutation?

Many thanks,

 Alejandro

[2018-08-23 20:37] rcurtin commented on #1496
With the data structure you have available to you in an `arma::cube`, it seems unlikely.  The only improvements I can think of are a blocked algorithm and that would be tricky to implement.  If the code still underperforms MATLAB my advice would be to figure out what their code is doing differently (since if they were using the same approach it's very unlikely that it would compile down into faste

[2018-08-23 20:43] cacosomoza commented on #1496
I understand, many thanks for your answer.

[2018-08-23 20:43] #1496 closed

[2018-08-24 02:12] rcurtin commented on #1499
Ah, so the changes that you made will still try to compute the full covariance matrix, but then force it to be diagonal.  This is some extra computation there, so if you rewrote the `Train()` function such that it computed a diagonal covariance directly, I think you would see some additional significant speedup.

Otherwise, note that the different implementations may converge to somewhat different

[2018-08-24 02:15] rcurtin commented on #1425
@spatala: I had some ideas above; if you're willing to try to debug it I am happy to help.  First, if you don't need Python bindings, you could configure CMake with `-DBUILD_PYTHON_BINDINGS=OFF` and that may resolve the issue.  If you do want Python bindings, my thoughts are that the following could work:

 * Disable OpenMP by configuring with `-DUSE_OPENMP=OFF`.
 * Force the compiler to use libc+

[2018-08-24 08:42] jerrylucky commented on #1499
I have modify codes , but It's not good enough, I read codes carefully, I discover that GaussianDistribution::LogProbability will be processed twice, which is in Forward and Backward?

It seems very low efficiency? Maybe I should work out LogProbability in Estimate before call Forward?

[2018-08-24 14:35] wenhaoh2 opened #1501 "CF: RecommendationAccuracySVDPPTest Fails"
`SVDPlusPlus` is a recently implemented model for collaborative filtering. However, the test of recommendation accuracy for `SVDPlusPlus` keeps failing. This issue is for someone who is interested to investigate the reason why this test fails and correct this test.

As of now there is a function `RecommendationAccuracy()` in [cftest.cpp](https://github.com/mlpack/mlpack/blob/master/src/mlpack/test