[2017-03-31 20:29] zoq commented on #919
Can you elaborate on why shipping the command line executables via NuGet is not a good idea? I haven't really thought about it, so I'm just curious to hear your opinion on that.

[2017-03-31 20:40] zoq commented on #973
Hello, if you used the default install path you can uninstall the components with:

[code]

I hope this is helpful.

[2017-04-01 07:30] NaxAlpha commented on #919
As far as, I know NuGet is more specifically for packages which are installed locally just like **npm**.  To provide better command-line experience (in windows), it would be better to install globally.

[2017-04-02 00:36] rcurtin commented on #965
Hi there,

I am not a Windows expert so take my advice with a grain of salt...

I think that you can link mlpack dynamically, and then simply copy all the required DLLs to the appropriate directory on your VS2013 system.  I am still a little concerned though---if you are writing a C++ application that includes mlpack, I think that may still break the VS2013 compiler.

I am not sure of your Boost e

[2017-04-04 03:47] amoudgl commented on #922
@rcurtin I think we can checkoff `VanillaNetworkTest` from the list now.

[2017-04-04 14:49] rcurtin commented on #973
CMake doesn't provide uninstallation support by default, unfortunately.  What @zoq suggested above should work.

[2017-04-04 14:49] #973 closed

[2017-04-04 17:26] rcurtin commented on #929
Yes, I see what you mean now.  The following code demonstrates the issue:

[code]

This only compiles if you change the signature of a Train() overload to not have default arguments.

I guess, my main thought was, the smaller we can make the template signature for `KFoldCV`, the better.  So definitely

[code]

is nice because there is no need for a `PredictionsType` parameter, but I'd like to see

[2017-04-04 19:42] rcurtin commented on #922
Done, thanks again for the contribution!

[2017-04-04 20:00] rcurtin opened #977 "Add NumDescendants() to HoeffdingTree"
This comes from a conversation in IRC:

[code]

The code that I wrote will probably work but tests will also needed to be added.

[2017-04-04 20:18] amoudgl commented on #922
Thanks Ryan, always happy to contribute! :)

[2017-04-04 20:43] s1998 commented on #977
@rcurtin  Can I work on this ?

[2017-04-04 21:11] rcurtin commented on #977
Sure, should be an easy addition. The code I gave should work, just be sure to write some simple test(s) for it.

[2017-04-04 21:34] rcurtin commented on #951
I see, I had forgotten about that bit.  The reuters dataset is ~170MB so I guess this means that the tree has depth ~200 (let me check that and post another comment).

I think we shouldn't pass indices though because of the extra runtime cost: if we pass an index then we have to do what is effectively random access of the dataset.  Since we have to pass through every dimension when we calculate th

[2017-04-05 09:10] amoudgl opened #978 "Add style check to Travis-CI tests"
Right now, we manually review each PR for style issues. Instead, we can enforce some basic style rules using Travis-CI for matching the mlpack coding conventions. Not sure if this issue has already been discussed previously in mlpack community, just thought of giving a suggestion.

[2017-04-05 09:12] nish21 commented on #978
I believe this is the same as #420? Even I was wondering if this of interest to mlpack?

[2017-04-05 09:39] amoudgl commented on #978
Thanks @nish21 for referring to the original issue. I think I should close it then and continue the discussion on the original issue. Thanks!

[2017-04-05 09:39] #978 closed

[2017-04-05 09:42] amoudgl commented on #420
@rcurtin I just went briefly through the cpplint [style guide](https://google.github.io/styleguide/cppguide.html). I observed that many style options in cpplint style guide are similar to mlpack conventions like two spaces intend, one space for `public` or `private`, maximum 80 characters in a line, function names and so on but some of them needs modification like variable names, braces style etc.

[2017-04-05 13:26] rcurtin commented on #420
I think that would be great and it would save a lot of time that is currently used to check style.  We could check it first on the existing mlpack codebase to see if it is working (and maybe catch small style issues there).

[2017-04-05 13:34] ThyrixYang commented on #951
You are right, that's much better.
I've looked at perform_split, it swaps all the data in left tree to left and right to right.
But if we are using a rvalue reference, then we should new a Mat for each child, and delete the original data, then use a rvalue constructor to move them to subtrees?
Move columns or renew and move rvalue, which one is better?
@rcurtin  I'm glad to do this work if you can

[2017-04-05 13:54] micyril commented on #929
Hi, Ryan.

This piece of code will not be compiled unless `hasWeights` is known at compile time, what is not the case I guess.
[code]
I think the possible solution is the following. To implement weighted learning support we need to know two things: 1) whether weighted learning is supported; 2) whether a user wants to use weights. The first thing should be known at compile time with help of the app

[2017-04-05 14:17] rcurtin commented on #951
Sure, you can go ahead and do it, and I can look over a PR and make sure it's what I was thinking.  Basically we should have two constructors.  One can take a `const MatType&` and will copy that matrix to a temporary `MatType` object that is used for construction.  The other can take a `MatType&&`, and then simply moves that object to the temporary `MatType`.

Then, since we are working with a tem

[2017-04-05 17:06] ThyrixYang commented on #951
If we use swap and indices of the columns then we use the same mat through recursion, I think I can do this as in perform_split.
If we use a subview, I think the constructor may like this:
[code]
I think pass the subview is more consistent with original constructor.
The subview is just like passing index and we can't use "const &", otherwise the swap_cols can't be used.
Maybe there is a more elega

[2017-04-05 17:32] amoudgl commented on #420
@rcurtin In order to find useful cpplint checks which we could directly use without modifications, I did some analysis of the cpplint [script](https://github.com/google/styleguide/blob/gh-pages/cpplint/cpplint.py) and filtered out those checks which can't be done in mlpack source code. I ran the following command to search for style errors in the directory `/src/mlpack/core`:
[code]
In above comma

[2017-04-05 21:48] rcurtin commented on #420
That sounds like a fine approach to me.

The linter should ignore any code in `src/mlpack/core/arma_extend/` and `src/mlpack/core/boost_backport/`, by the way---that doesn't follow mlpack's coding conventions, just the coding conventions of either Armadillo or boost.

[2017-04-05 21:50] rcurtin commented on #951
The only problem with a subview is that `arma::subview` is the type for dense subviews, but `arma::sp_subview` is the type for sparse subviews, so you can't catch both like that.  It might be easier to just pass the indices in that case; otherwise the strategy would have to be to templatize further to catch any type of Armadillo expression.

[2017-04-05 22:19] rcurtin commented on #919
I don't see why this makes a huge difference for executables; even if the executable is still only installed locally, that's ok, because the user can still run it---it should still be in their $PATH (or whatever the equivalent is on Windows).

[2017-04-06 04:41] NaxAlpha commented on #919
Ok, That is also good option I guess. I will experiment with it and make it ready ASAP.

[2017-04-07 07:53] ThyrixYang commented on #951
I see, I think I can write four functions and invoke them from original one.
[code]

But it's a bit tedious and there will be many copies.
Should I replace original functions with these? Or any suggestions?
Thank you.

[2017-04-07 17:37] rcurtin commented on #919
Just to clarify on the discussion we had in IRC today, I have learned several things:

 - NuGet appears to be used specifically by developers who are including dependencies in their Visual Studio project, and it installs these dependencies specifically to the directory where the project is being built.  So from that angle I can agree that it does not make sense to include the command-line executab

[2017-04-07 18:05] rcurtin commented on #951
The constructors with `begin` and `count` will only ever be used by children during building, so we can be a little more specific with those and mark them private:

[code]

It would probably be useful to add two similar private overloads of `Train()` too, and then have the public overloads of `Train()` call those private overloads.  But there is also one more bit.  If the user uses the constructor

[2017-04-07 18:17] rcurtin commented on #929
Ah, right, I was thinking we could do something similar to what is done to build trees in `src/mlpack/methods/neighbor_search/neighbor_search_impl.hpp` in `BuildTree()` but we might have to be more clever than that.

In either case, if this was all laid out clearly in your proposal, then I am sorry to make you repeat yourself. :(  I will consult the proposal in detail---it is very comprehensive---

[2017-04-07 22:12] sharmaster96 opened #980 "Segmentation Fault: 11 while training"
Hello!

I'm trying to train a dataset using mlpack's collaborative filtering library, but I'm getting a segmentation fault whenever the program tries to generate recommendations. Here's the output I'm getting:

[INFO ] AMF converged to residue of 9.46205e-06 in 57 iterations.
[INFO ] Loading 'query.csv' as raw ASCII formatted data.  Size is 25976 x 1.
[INFO ] Generating recommendations for 25976 u

[2017-04-08 13:29] ThyrixYang commented on #951
I see, I'll make a pr soon according to this.
I think it's a good solution to this issue.

[2017-04-08 15:48] zoq commented on #919
Sounds good, great to have a windows user who is able to provide some valuable insight.

[2017-04-09 09:14] ThyrixYang commented on #951
Do we deal with the labels same as data or simply copy labels through recursion? I think it's better to swap labels the same as data, so the labels should also be non-const.
And I think the original Train method can simply copy data and call the non-const method like this:
[code]
So we do not copy data in constructors, and the Train method will work when users call it by a no-trained model.
And th

[2017-04-10 03:37] micyril commented on #929
I think it should quite possible to provide some nice error message in this case. For example, we can use some special value for `PredictionsType` when we can't deduce it, and statically assert inside `KFoldCV` that `PredictionsType` is not equal to the special value.

[2017-04-10 14:42] rcurtin commented on #980
Hi there,

Can you post the command you used to get the problem, and the version of your OS and the version of mlpack?  Then I can try to reproduce it and figure out what the issue is.

Thanks!

[2017-04-10 15:17] rcurtin commented on #929
Ah, yes, that is a clever idea.  Thanks for the discussion in this ticket, I have a much better idea of how the goals will be accomplished.

As for the actual issue itself, if you want to open a PR to change the order of arguments for constructors (and also mark the existing constructors deprecated), I'll merge it once I look through it.

[2017-04-10 15:21] rcurtin commented on #951
Ah, yeah, I agree, we can deal with the labels in the same way.  But I think we only need one overload for rvalue-based `Train()`.

[2017-04-10 15:37] ThyrixYang commented on #951
I think there will be one Train overload with datasetInfo and one without it?

[2017-04-10 15:40] rcurtin commented on #951
Ah, right!  Yes, there will be two then.  Sorry for the mistake. :)

[2017-04-11 15:45] ThyrixYang commented on #951
I encountered a problem
[code]
Maybe it's a stupid question..Why "with MatType = arma::Mat<double>&"?

my code
[code]
Thank you!

[2017-04-11 17:30] rcurtin commented on #951
It looks like it's inferring `MatType = arma::mat&` not `arma::mat`.  What is the code you are using to instantiate this method?

[2017-04-11 23:35] ThyrixYang commented on #951
According to build information, it's decision_tree_test.cpp:432:44.
Which is
[code]

[2017-04-12 11:05] ThyrixYang commented on #951
I've found what is wrong:
[code]
Seems when I have added rvalue constructor and reference constructor, the compiler can't match functions correctly, so the match must be exactly.

[2017-04-12 11:28] oepoemoepoe opened #984 "2.2.0 build error, Ubuntu 14.04"
Hi,

I get a linking error when building mlpack 2.2.0 on ubuntu 14.04 and could not find out how to resolve it. I followed the installation instructions on your website. Thanks in advance for any help :)

[  1%] Built target mlpack_arma_config
Moving header files to include/mlpack/
[  1%] Built target mlpack_headers
[  2%] Generating mlpack.pc (pkg-config) file.
[  2%] Built target pkgconfig
[  2%

[2017-04-12 13:28] rcurtin commented on #984
I see... can you tell me what architecture your computer is? (i386/x86_64/something else)  I think I might know what this issue is.

[2017-04-12 13:30] rcurtin commented on #984
Ah actually one more question---do you have mlpack installed on the system in any other way? i.e. maybe you ran `apt-get install libmlpack-dev` or installed an older version of mlpack earlier or something.

[2017-04-12 14:41] ThyrixYang commented on #951
I've just made a pr.
Here is my test result on reuters:
[code]

[2017-04-13 08:01] oepoemoepoe commented on #984
My system is 4.4.0-72-generic #93~14.04.1-Ubuntu x86_64.
I did not have installed libmlpack-dev prior to building, however I did now in order to already start developing :)

[2017-04-13 21:11] rcurtin commented on #984
Hi there,

This actually was a bug I could reproduce that happens with old Armadillo versions.  I released mlpack 2.2.1, which fixes the issue.

Thanks for reporting this!

[2017-04-13 21:11] #984 closed

[2017-04-14 03:50] micyril commented on #929
Ok, I will work on it. It looks like we need to change constructors and `Train` methods for the classes `HoeffdingTree` and `DecisionTree` regarding `datasetInfo` arguments. It is also worth to add a weighted learning constructor to `DecisionStump` - it has `Train` methods for weighted learning but no corresponding constructor (with conventional order of arguments).

Some relevant changes are also

[2017-04-14 15:47] rcurtin commented on #951
These results look excellent, I am excited to merge this in.  Thanks for taking the time to work this out!

[2017-04-14 17:52] rcurtin commented on #929
Sure, that sounds good.  The changes from #963 haven't happened yet; I haven't seen any PR.  So if you want to make one, I can merge it and then close that issue.

If it's easy to add a weighted learning constructor to `DecisionStump`, feel free, but the long term is to remove `DecisionStump` and replace it with `DecisionTree<>` with the template parameter `NoRecursion` set to `true`.  That can ha

[2017-04-18 04:36] sharmaster96 commented on #980
Hey,

The command I'm running is the following:
mlpack_cf -q -m cf-model.xml -A -o recommendations.csv -v

My OS is OSX El Capitan Version 10.11.1, and my version of mlpack is 2.2.0.

mlpack simply doesn't seem to recognize the --all_user_recommendations flag for some reason, then segfaults immediately afterwards. I've tried just using an input query file instead, and this has the same issue.

Tha

[2017-04-18 06:41] oepoemoepoe commented on #984
You're welcome - thanks a lot for fixing!

[2017-04-18 13:31] rcurtin commented on #980
Are you sure that is the right command?  `-q` needs an argument.  If you are indeed using an input model with `-m cf-model.xml`, can you tell me how you created that model?  That way I can try and reproduce the error.

[2017-04-18 20:45] sharmaster96 commented on #980
Sorry, typo on my end. Here's the actual command I'm running:
mlpack_cf -m cf-model.xml -o recommendations.csv -v -A

I generated the model by running the standard command from the tutorial:
mlpack_cf -t train.csv -M cf-model.xml -v

I'm not entirely sure what revision b104523 is, that was simply the output when I added the -V tag when I ran the collaborative filtering binary. Thanks!

[2017-04-19 14:54] Trion129 commented on #870
Can the main repo be created? agents want a new home! :yum:

[2017-04-19 15:04] rcurtin commented on #980
Three things to check:

 * Are you sure you haven't modified the mlpack code and committed to git?  The revision b104523 doesn't exist anywhere in the repository.  Maybe you cloned not from mlpack/mlpack but from someone's personal branch?

 * Is there another copy of mlpack present on your system?  i.e. did you do `apt-get install libmlpack-dev`, then also clone and build from source?  Sometimes

[2017-04-21 21:23] zoq commented on #870
I like the solution @rcurtin proposed, and I think once we have to link against other libraries, we have something in our pockets. Also, we may run into some other problems once we add more models, but I guess we can solve this problem along the way, so at least from my side, we can create the repo and add some models e.g. GoogLeNet, Recurrent models for visual attention, Agents, etc. Let me know

[2017-04-22 00:17] rcurtin commented on #964
Fascinating, I am able to reproduce it on OS X but not on a Linux system!  Both are x86_64.  It also looks like I exposed another bug somewhere in there:

[code]

as well as the original error of

[code]

This is probably a strange edge case for the R* tree that happens to only occur on OS X.  When I have time I'll try and dig into what exactly the issue might be.

[2017-04-22 12:41] Trion129 commented on #870
Yep let's get the repo and models setup for now, other problems can be solved as more models are added, but I think just having the Cmake file in each model as in example would be enough to handle extra dependencies.

[2017-04-23 13:47] Farqd commented on #349
I spent some time looking at this issue and I have some comment/questions.

1. Neither 98dcfd600d79302bcdddb18a39fbe6d1a95a6517 nor cae07019cd98a1221e374de33940fbbcbea4372f seem to contain the fix with std::min you mentioned in the first post.
* 98dcfd600d79302bcdddb18a39fbe6d1a95a6517 introduces MinimumBoundDistance (no new functionality) and adds some code in binary_space_tree_impl.hpp that is n

[2017-04-24 09:00] oepoemoepoe opened #988 "Documentation wrong about Kmeans InitialPartitionPolicy"
Hi,

the documentation [1] states that
typename InitialPartitionPolicy = SampleInitialization
however it is in kmeans.hpp
typename InitialPartitionPolicy = RandomPartition

[1] http://www.mlpack.org/docs/mlpack-2.2.1/doxygen.php?doc=classmlpack_1_1kmeans_1_1KMeans.html

[2017-04-24 13:43] rcurtin commented on #988
What version of mlpack are you using? In 2.0.0 and newer the default is `SampleInitialization` just like in the documentation.  So I don't see the inconsistency.

[2017-04-24 15:59] rcurtin commented on #349
Hi there @Farqd!  Thank you for looking into this.  Some responses:

1.  I was wrong, the commit is actually 813441a; it's a change to `NeighborSearchRules` specifically, not the tree class itself.  The key part of the change is the `std::max(0.0, ...)`, so my comment about `std::min` is actually backwards.

2.  It actually does change things because of the strange parent-child pruning rules used

[2017-04-24 16:46] rcurtin commented on #851
I'm going to close this for inactivity---when the implementation is ready (or if more comments need to be made here) we can reopen it or handle it in a PR.

[2017-04-24 16:46] #851 closed

[2017-04-24 16:46] rcurtin commented on #865
Closing for inactivity.

[2017-04-24 16:46] #865 closed

[2017-04-24 16:46] rcurtin commented on #862
Closing for inactivity.

[2017-04-24 16:46] #862 closed

[2017-04-24 17:47] Lakshya1605 commented on #345
@rcurtin Can I start working  on this??

[2017-04-24 17:48] rcurtin commented on #345
Sure, feel free, nobody has submitted any PR.

[2017-04-25 19:18] #951 closed

[2017-04-26 07:54] oepoemoepoe commented on #988
I'm sorry, I confused my mlpack versions :/

[2017-04-26 13:27] rcurtin commented on #988
No worries, glad you got it sorted out. :)

[2017-04-28 19:15] #988 closed

[2017-05-01 03:06] ThyrixYang opened #992 "the newest build did not install mlpack_allknn?"
after I've build and installed mlpack, I only have these files in /usr/local/bin

mlpack_adaboost*         mlpack_krann*
mlpack_approx_kfn*       mlpack_lars*
mlpack_cf*               mlpack_linear_regression*
mlpack_dbscan*           mlpack_local_coordinate_coding*
mlpack_decision_stump*   mlpack_logistic_regression*
mlpack_decision_tree*    mlpack_lsh*
mlpack_det*              mlpack_mean_shift*

[2017-05-01 18:52] rcurtin commented on #992
Ah, good point.  The `mlpack_allknn` and `mlpack_allkfn` programs are replaced by `mlpack_knn` and `mlpack_kfn`, but the old names are supposed to be preserved for reverse compatibility until mlpack 3.0.0.

When you filed this bug, I noticed that this is not actually the case on installation, so I committed da1df467c and will release mlpack 2.2.2 with the fix shortly.  (I still have one other prob

[2017-05-01 18:52] #992 closed

[2017-05-04 11:14] tkhurana96 commented on #420
@rcurtin Hi, if you don't mind I would like to run UBsan on mlpack code since no one has picked that up.

[2017-05-04 21:41] rcurtin commented on #964
Hi there @minxuancao,

Thanks again for the report.  This appeared to be a subtle bug with the implementation of the R* tree, but I have gone through in 1165dcc and some other commits and done a refactoring that fixes it.  I can no longer produce the issue on my OS X system.

I'll release mlpack 2.2.2 with the fix and it should solve your problem.

Thanks!

Ryan

[2017-05-04 21:41] #964 closed

[2017-05-08 19:51] rcurtin commented on #870
@zoq: do you want to make the repo here or should I do it?  mlpack/model-zoo (or similar) seems a fine place to put it to me.

[2017-05-08 19:58] zoq commented on #870
I can create the model, I think ``model-zoo`` or ``models`` works just fine, I don't have a preference.

[2017-05-08 20:02] rcurtin commented on #870
I like `models` better :)

[2017-05-10 20:41] kishwarshafin commented on #442
Hi,

Sorry although this is a closed thread but I am having the same problem but this time I am not able to solve the problem even after I build boost for gnu.

if I do `brew install boost` and run `clang++ -std=c++11 linear_regression_main.cpp -o linear_regression -larmadillo -lmlpack -lboost_serialization` the code runs and everything works fine. But with g++ it gives this error:

`Undefined sym

[2017-05-10 20:52] rcurtin commented on #442
Hi Kishwar,

Can you open a new issue please?  It makes it very hard for others to search for solutions if each issue has ten different issues being solved inside of it. :)

Thanks,
Ryan

[2017-05-10 21:26] kishwarshafin opened #997 "g++ and clang++ boost library linking error on mac- mlpack"
Hi,

I have been trying to solve the linking error issue for clang++ and g++. I want to use mlpack in a project that is compiled with g++. So, as I install boost with homebrew:
`brew install boost --c++11` or `brew install boost`.
Then `clang++ -std=c++11 linear_regression_main.cpp -o linear_regression -larmadillo -lmlpack -lboost_serialization` works fine but `clang++ -std=c++11 linear_regression

[2017-05-10 21:28] zoq commented on #997
Are you trying to build the linear_regression executable? I think it would be easier to use CMake and to set the compile with:

[code]

and to follow: http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=build.html
Not sure if that is an option for you?

[2017-05-10 21:35] kishwarshafin commented on #997
Hi zoq,

No actually I am trying to add an inference module to an existing application. Here's my code (sorry I am still working on it):
`/**
 * @file linear_regression_main.cpp
 * @author James Cline
 *
 * Main function for least-squares linear regression.
 *
 * mlpack is free software; you may redistribute it and/or modify it under the
 * terms of the 3-clause BSD license.  You should have recei

[2017-05-10 22:17] zoq commented on #997
Have you rebuild mlpack after you reinstalled boost? Also I think you should include ``#include <mlpack/methods/linear_regression/linear_regression.hpp>``instead of ``#include "linear_regression.hpp"`` unless you modified the header file.

[2017-05-10 23:32] kishwarshafin commented on #997
^ no I haven't rebuilt mlpack after reinstalling boost, let me do that. Thanks for the help.

[2017-05-11 00:20] kishwarshafin commented on #997
Building fails with boost g++ version. I get this error while building:
[code]

[2017-05-11 06:30] vik975 opened #998 "not able to compile on ubuntu 16.04 x64"
I generated make files using cmake -D DEBUG=ON -D PROFILE=ON ../ and then make
. Got following errors . I ma using ubuntu 16.04 x64.  Can some one please help , what could be the issue.
 The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0 and boost is 1.58.0

[  1%] Updating arma_config.hpp (if necessary)
[  1%] Built target mlpack_arma_config
Moving header f

[2017-05-11 14:13] zoq commented on #997
Maybe cmake is picking up the wrong compiler? Can you test:

``
cmake -DCMAKE_CXX_COMPILER=/path/to/g++ ..
``

[2017-05-11 16:45] zoq commented on #998
Are you able to test it with another compiler (version) or probably clang? You can specify the compiler with: ``cmake -DCMAKE_CXX_COMPILER=/path/to/clang++ ..``

[2017-05-11 17:53] rcurtin commented on #998
This one seems strange to me, gcc doesn't usually give internal compiler errors on mlpack.  Part of me wonders if you have some bad RAM.  You could check with memtest.

[2017-05-11 21:45] vik975 commented on #998
Thanks for the help. With clang++ (clang version 3.8.0-2ubuntu4 (tags/RELEASE_380/final)) , the compilation went through.

 I tried with the sudo memtester 1024 5. Everything went OK. But since I am running Ubuntu on a VBox . Will that have an effect?. I will investigate further what could be the problem with gnu c++, will let you guys know if I find anything useful.

[2017-05-11 22:11] rcurtin commented on #998
Ah, I didn't know if you were in a VM.  I don't know if memtest will give reasonable results inside of a VM, maybe it is worth checking the RAM on the host OS.

[2017-05-12 20:39] kishwarshafin commented on #997
Ok, that fixed the build, but still getting the same error while compiling.
`g++ -std=c++11 linear_regression_main.cpp -o linear_regression -larmadillo -lmlpack -lboost_serialization`
Ends up:
[code]

[2017-05-13 12:18] whidbey opened #999 "so hard to build a windows binary......could any one has a bundle of mlpack binary with 3rparty dll completely..."
I want to learn,but waste so many times on compile and download.......

[2017-05-13 12:18] whidbey commented on #999
thanks for your kindess. pls send a mail for me. whidbey#qq.com #->@

[2017-05-13 14:02] zoq commented on #999
@whidbey have you seen:

https://github.com/mlpack/mlpack/wiki/WindowsBuild

it's probably easier as to relay on: VespucciProject/mlpack_for_MSVC, but I guess I'm biased. Anyway another option would be to use the prebuild nuget package:

https://www.nuget.org/packages/mlpack-windows/

or maybe the appveyor  artifacts are helpful:

https://ci.appveyor.com/project/mlpack/mlpack/build/%232442/job/l46

[2017-05-13 15:18] zoq commented on #997
Have you previously installed mlpack e.g. via brew?

[2017-05-14 01:44] whidbey commented on #999
wow,thank you .
I find it here.
https://ci.appveyor.com/project/mlpack/mlpack/build/%232442/job/l46xyq49vvp99ctk/artifacts

[2017-05-14 10:11] vik975 commented on #998
Windows10 memory diagnostics did not report any error.

[2017-05-14 15:09] zoq commented on #998
How much memory have you allocated for the VM? Perhaps it's not enough.

[2017-05-14 21:09] vik975 commented on #998
The problem was indeed memory (RAM). Although the RAM allocated for the VM was 4096 MB(so, 4 Gb and 96 Mb). But sometimes free RAM  drops between 109-500Mb during the compilation(checked using free -m on guest)  . So, I had to close all of the application on the guest. And I also closed some of the application on host   like Visual Studio, majority of chrome tabs etc..) then,  the compilation on t

[2017-05-16 02:26] micyril commented on #963
I'm going to start working on the issue. Should we just adapt the new interface (where for `responses` we have `arma::rowvec` instead of `arma::vec`) for the existing implementation by transposing `arma::rowvec` to `arma::vec`, or is it better to change the implementation internally?

[2017-05-16 14:27] rcurtin commented on #998
Ok, good to know that a lack of available host RAM can affect the VM in this way.  I will keep that in mind to suggest to people in the future who have similar problems. :)  Thanks for the update!  I'll go ahead and close this ticket since you have everything working.

[2017-05-16 14:27] #998 closed

[2017-05-22 20:44] bkj opened #1003 "rodeo-KDE implementation?"
Hi All --

In the density estimation tree paper, they compare their results to the rodeo-KDE method.  It doesn't look like there's an implementation of r-KDE in `mlpack`, but is anyone aware of where I might be able to find such an implementation?  I've looked around a bit, but no luck so far -- thought maybe someone in this community might have some ideas.

Thanks

[2017-05-22 23:41] rcurtin commented on #1003
Hi there Ben,

I talked to Pari, the author of the DET code (and paper).  He writes:

Unfortunately though, there's not an implementation of standard dual-tree KDE in mlpack (or even regular KDE) although it should be easy to whip one up if you are up for the task... :)

I hope this helps.  Let me know if I can clarify anything.

[2017-05-23 14:15] cstork9 opened #1004 "RADICAL has a number of issues--needs overhaul"
radical.cpp  seems to have severe problems:
1) Produces nan result when m==0, which is the default
2) Algorithm appears to have an algorithm bug in Vasicek() since log( neg number ) is a common occurance
3)  20x-100x slower than it needs to be
4) The timers make it not thread safe
5) Doesn't work on complex valued matrices

The test code just checks for consistent results, not correct results.

Th

[2017-05-23 14:32] bkj commented on #1003
Ah -- that helps.  Interesting that there's not a good implementation, given that the comparisons in the DET paper show rKDE performing pretty well -- I wonder if it was superceded by some other method.  Thanks for your help.

[2017-05-23 14:40] rcurtin commented on #1003
Unfortunately there are lots of papers where code is not produced, meaning that people who want to compare against that paper have to write the implementation from scratch.  My guess is that rKDE was pretty easy to implement in MATLAB, and since the rKDE comparisons in the paper aren't runtime, the fact that MATLAB is a lot slower didn't matter. :)

[2017-05-23 14:56] rcurtin commented on #1004
Hi there,

This is not really a good bug report because it completely lacks details.

1. I am not seeing this behavior nor can I reproduce it so it must be dependent on your dataset or the parameters you are using.  If you can provide more information, maybe I can help.
2. The only case in which this is possible would be when all (or some) elements of `z` have the exact same value.  I would be car

[2017-05-23 15:03] cstork9 commented on #1004
Thanks.

I would say this code has more problems than just bugs.  It's just a poor
implementation that needs to be improved.  I may do it.

Christof

On Tue, May 23, 2017 at 8:56 AM, Ryan Curtin <notifications@github.com>
wrote:

[2017-05-23 15:09] rcurtin commented on #1004
Hi Christof,

I did not write the implementation though I did review it in depth some years back; I believe it to be a correct implementation of RADICAL as per the paper.  However, I am still not able to reproduce the problem you are having, so I think it is a stretch to call it a 'poor implementation' based only on the problems you're reporting here.  Note that nobody else who has used this code

[2017-05-23 15:12] cstork9 commented on #1004
OK, thanks.  Sounds reasonable.

I am surprised that you haven't gotten more comments on the code.  That's
good feedback.  I'll check on my implementation.

I may make some proposed improvement.  Testing this code is hard, partially
because a good test takes hours to run.

Christof

On Tue, May 23, 2017 at 9:09 AM, Ryan Curtin <notifications@github.com>
wrote:

[2017-05-23 15:16] rcurtin commented on #1004
Yes, so I noticed a few things when I glanced at it again.  The data matrix is expanded with the `replicates`  option.  So if you keep that number low, it runs definitely faster.  In addition, the sorting procedure in `Vasicek()` is necessarily going to be slow since it will incur so much memory reordering.  Maybe each dimension, after replicates have been added, can be sorted only once at the beg

[2017-05-23 15:36] cstork9 commented on #1004
The two big speed up potential I see are optimizing the multiplication by a
matrix that is nearly the identity matrix at line 164 and using cubic
interpolation rather than nearest neighbor interpolation at line 97.

Christof

On Tue, May 23, 2017 at 9:16 AM, Ryan Curtin <notifications@github.com>
wrote:

[2017-05-23 21:17] #1003 closed

[2017-05-23 21:18] rcurtin commented on #980
Closing for inactivity.  If you would still like to work out this issue, I am happy to help---just follow up and I'll reopen the ticket.

[2017-05-23 21:18] #980 closed

[2017-05-23 21:19] rcurtin commented on #965
Closing for inactivity---please feel free to reopen if needed.

[2017-05-23 21:19] #965 closed

[2017-05-24 12:43] pmarini opened #1007 "mlpack_decision_tree rejects a valid parameter name for -p"
I have built mlpack2.2.2 and noticed a potential bug in calling the method mlpack_decision_tree regarding the predictions save operation.
The method issues a
[WARN ] No extension given with filename ''; type unknown.  Save failed.
even if the file name is correctly specified.

Here is the complete call:
`pietro@xxx:~/temp$ mlpack_decision_tree -t X.csv -l y.csv  -M model.txt -T X.csv -p p.csv -v`

[2017-05-24 15:08] #963 closed

[2017-05-24 15:28] rcurtin commented on #1007
Hi there,

I released mlpack 2.2.3 to fix this issue, so if you download the newest version from http://mlpack.org/files/mlpack-2.2.3.tar.gz and recompile, this should fix your issue.  The problem itself was just a small typo... sorry about that!

Thanks,
Ryan

[2017-05-24 15:28] #1007 closed

[2017-05-25 19:35] #882 closed

[2017-05-25 19:35] rcurtin commented on #882
Fixed with #947.

[2017-05-26 06:01] ShangtongZhang opened #1009 "Compile failure with clang"
When I try latest version of mlpack, it failed to compile.
`git clone https://github.com/mlpack/mlpack.git mlpack --depth=1`
`mkdir build`
`cd build`
`cmake ../`
`-- The C compiler identification is AppleClang 8.1.0.8020042`
`-- The CXX compiler identification is AppleClang 8.1.0.8020042`
`Shangtong@Shangtong:~/Downloads/mlpack$ git lg`
`4144f66da2d91978e60282746d274c771c6719b2 Use correct types i

[2017-05-26 14:27] zoq commented on #1009
The following fixed the problem for me, but maybe @rcurtin or @MikeLing have another/better solution.

[code]

[2017-05-26 14:46] ShangtongZhang commented on #1009
Hi @zoq , do you have any idea why this fix work? It really confuses me.

[2017-05-26 14:51] rcurtin commented on #1009
Agreed, I was thinking the same thing.  I am wondering if this is a clang bug or something; I can't seem to reason why getting a pointer to `child` vs. calling `Train()` on `children.back()` makes a difference.  (That said, if it works... I have no problem with merging it :))

[2017-05-26 17:08] zoq opened #1011 "PVS-Studio static code analyzer results"
The following is the output of the PVS-Studio static code analyzer, I think we can probably ignore most of the warnings like ``Not all members of a class are initialized inside the constructor.``, but there are some warnings that might be interesting. I've also tested clang's static code analyzer, no remarks at all.

- **mlpack/core/util/cli.hpp**  173 warn  V690
``Copy constructor is declared as

[2017-05-28 03:16] #1009 closed

[2017-05-28 14:27] zoq commented on #870
Here is the new repository: https://github.com/mlpack/models, I will open a PR for the Recurrent Models of Visual Attention and GoogLeNet in the next days.

[2017-05-28 14:28] #870 closed

[2017-05-29 19:12] rcurtin commented on #1011
Nice results, I have always wondered what a static analyzer would dig up. I'll try to take a look at the individual issues this week.

[2017-05-29 19:22] zoq commented on #1011
I think one of the more interesting issues are:

- **mlpack/core/tree/rectangle_tree/rectangle_tree_impl.hpp** 971 warn  V519
``The 'stillShrinking' variable is assigned values twice successively. Perhaps this is a mistake. Check lines: 962, 971.``

- **mlpack/core/tree/rectangle_tree/rectangle_tree_impl.hpp** 1032  warn  V519
``The 'stillShrinking' variable is assigned values twice successively.

[2017-05-30 03:50] rcurtin opened #1013 "local mlpack includes should have higher priority than system mlpack includes"
This was reported by @czdiao in IRC:

https://gist.github.com/czdiao/7caf730ed12e43bcc65ee2061cff1d1f

The installation in `/usr/local/include/` is being included before the mlpack source in `/Users/chenzhe/mlpack_czdiao/`.

Probably a CMake configuration change needs to happen to make this operate correctly.

[2017-05-30 06:06] shikharbhardwaj commented on #1013
Looks as if by default, cmake appends the `include_directories` to the existing list of include directories, placing them after the system includes.

Setting [CMAKE_INCLUDE_DIRECTORIES_BEFORE](https://cmake.org/cmake/help/v3.0/variable/CMAKE_INCLUDE_DIRECTORIES_BEFORE.html#variable:CMAKE_INCLUDE_DIRECTORIES_BEFORE) to ON will override this default behaviour.

[2017-05-30 15:27] rcurtin commented on #870
I set up a hook so that the mlpack-git list will get emails on commits, and also the mlpack-mailing-lists account is watching the repository now so PRs will also get posted to the mlpack-git list.

[2017-06-01 18:35] rcurtin commented on #929
Since #1002 is merged, should we go ahead and close this issue now?  I am not sure if any other methods need to have their constructors or `Train()` normalized.

[2017-06-01 22:05] rcurtin commented on #420
Thanks to @amoudgl and @zoq's hard work, we now have automatic style checks for PRs.

@tkhurana96: sorry for the slow response, I think I did not see this comment.  If you'd like to run UBsan, that could expose some interesting bugs.  Please feel free!

[2017-06-01 22:05] #420 closed

[2017-06-03 18:23] sumedhghaisas opened #1017 "Handling per layer per parameter statistics in Neural Network optimizers"

[2017-06-03 19:07] sumedhghaisas commented on #1017
The current mlpack ann framework accommodates a nice and elegant way to make the use of currently implemented optimizers in mlpack. Most optimizers update a single matrix based on their update rule. Therefore, the current ANN framework merges all the parameters of all the layers into 1 single parameter matrix. Although elegant, this procedure can be computationally expensive as many matrix transfo

[2017-06-03 23:43] zoq commented on #1017
Not sure I get what you mean with many matrix transformation, what we basically do is:

[code]
I'm not sure switching to

[code]

would result in any reasonable speedup, maybe I missed something?

The potential speedup I see would be if the complete model doesn't fit in memory. Just wanted to make sure I get all the points right.

[2017-06-04 02:55] sumedhghaisas commented on #1017
Ahh sorry. I mean in the computation of the gradient. Like in the case of the Linear layer we compute the gradient by

`
gradient.submat(0, 0, weight.n_elem - 1, 0) = arma::vectorise(
      error * input.t());
`

I am not exactly sure how Armadillo will internally handle this operation. But when I checked the documentation of vectorise it said that it copies the elements. Although if the matrix is

[2017-06-04 02:56] sumedhghaisas commented on #1017
But yeah, I did not think before about the complete parameter matrix not fitting in the memory. That can also be a factor.

[2017-06-05 06:18] micyril commented on #929
We can close this issue now, but be aware that we are not completely certain about how the eventual implementation will look like (see our discussion in http://knife.lugatgt.org/pipermail/mlpack/2017-May/003328.html), so some related changes are possible.

[2017-06-05 13:30] rcurtin commented on #929
That's fine---we can handle any changes if we need when we get there.  I'll go ahead and close this issue then.

[2017-06-05 13:30] #929 closed

[2017-06-07 15:10] rcurtin opened #1021 "Use pass-by-value instead of two overloads for copy and move"
Instead of doing the following:

[code]

we should instead do this:

[code]

In this way, a user can choose whether they want to copy data by calling `Method(data)` or avoid a copy by calling `Method(std::move(data))`, and it allows us to reduce the size of the codebase (sometimes significantly).

More information here:
http://cpptruths.blogspot.com/2012/03/rvalue-references-in-constructor-when.ht

[2017-06-07 21:15] rcurtin commented on #1013
Thanks for pointing this out, I used that to assemble a fix and merged fd1cb71cc which appears to fix the issue.

[2017-06-07 21:15] #1013 closed

[2017-06-09 12:34] zepen opened #1023 "file INSTALL cannot find"
CMake Error at src/mlpack/methods/neighbor_search/cmake_install.cmake:72 (FILE):
  file INSTALL cannot find
  "/home/niu/mlpack-2.2.2/src/mlpack/methods/neighbor_search/$<TARGET_FILE_DIR:mlpack_kfn>/mlpack_allkfn".
Call Stack (most recent call first):
  src/mlpack/methods/cmake_install.cmake:62 (INCLUDE)
  src/mlpack/cmake_install.cmake:74 (INCLUDE)
  cmake_install.cmake:49 (INCLUDE)
Why? help me,

[2017-06-09 12:37] zepen commented on #1023
My system is centos 7.3.

[2017-06-09 14:16] rcurtin commented on #1023
Can you tell me what version of CMake you are using, and can you also try with the newer mlpack 2.2.3?  http://www.mlpack.org/files/mlpack-2.2.3.tar.gz

[2017-06-12 14:27] vishalbelsare opened #1025 "Compiling mlpack-2.2.3 on Arch Linux fails mlpackTest"
Compiling mlpack-2.2.3 on Arch Linux fails mlpackTest

[code]

[2017-06-13 14:40] vishalbelsare commented on #1025
After setting TEST_VERBOSE=ON

[code]

[2017-06-13 17:34] rcurtin commented on #1025
Hi Vishal,

This is a very strange error---the AdaBoost test failure indicates that AdaBoost is performing *worse* than the weak learners that it's built on, which should definitely not ever be the case, especially since there is no randomness in this test.  I have never seen this test fail in any other context, so maybe there is something unique about the environment in which you're running the t

[2017-06-13 18:33] vishalbelsare commented on #1025
Hi Ryan,
Thanks for the note. Yes, I was stumped myself see that - I had wondered whether openmp might be cause that, but was waiting to hear from someone. Now, if the test is deterministic that would be unlikely too.
I was working with the PKDGBUILD from AUR, but which I modified slightly to use the latest mlpack release (2.2.3), but nothing to cause such an upset.

To see whether something was u

[2017-06-14 19:29] ShangtongZhang commented on #1021
I suddenly have a new concern. Assume user has a `arma::mat data` and two models `m1`, `m2`, then user wants to call `m1.Predict(data)` then `m2.Predict(data)`. (Assume the logic within Predict can actually work well with `const mat&` and won't lead to any extra copy). In this case user can't use `m1.Predict(std::move(data))` then `m2.Predict(std::move(data))`. If user wants to call `Predict` of s

[2017-06-14 19:35] rcurtin commented on #1021
There is only a need to pass-by-value in instances where the method actually modifies the data.  So if we have a method `Predict()` which doesn't need to modify the input data, then its signature should be

[code]

but if you have a method that's actually going to modify the input data, then you need to copy it.  i.e. when we build kd-trees, we modify the ordering of the dataset and thus we can do

[2017-06-14 19:45] ShangtongZhang commented on #1021
As we can't have `Predict(const mat&)` and `Predict(mat)` together, so I guess we still need old  `Predict(const mat&)` and `Predict(mat&&)` and don't need to make further changes. The only thing is that we don't want `Predict(mat&)`, we need to replace it if it exists somewhere.

[2017-06-14 19:46] rcurtin commented on #1021
I'm not sure I understand the difference.  There are two possibilities:

 - If the model can do predictions without modifying the data, we provide only `Predict(const mat&)`.
 - If the model must modify the data when doing predictions, we provide only `Predict(mat)` and the user chooses whether they want to copy their data (by just passing their matrix) or avoid a copy (by using `std:move()`).

Di

[2017-06-14 19:49] ShangtongZhang commented on #1021
Oh I got it. That makes sense.

[2017-06-15 06:09] ShangtongZhang opened #1028 "How to expose Forward and Backward of FFN?"
Basically I want to expose Forward and Backward of FFN and re-use existing optimizer. After reading the implementation of several optimizers and FFN, following is my idea, for each optimizer, we can add a new method called `Update(mat& parameters, mat& gradient)`, so we can manually compute the gradient using `Backward` and then pass the result to the optimizer to update the parameters (re-using `

[2017-06-15 09:50] zoq commented on #1028
Couldn't we use the update policy e.g. ``VanillaUpdate`` or ``RMSPropUpdate`` instead of going through the optimizer class?

You could use LBFGS but a lot of people don't because of memory constraints, LBFGS stores/holds a couple of gradient evaluations, also LBFGS doesn't work with mini batches, which is often essential when training deep networks. Many people have tried to make LBFGS work in a s

[2017-06-15 14:44] ShangtongZhang commented on #1028
That will be more easy to implement. But the extendability may be somehow hurt. E.g. if we want to make optimizers without a update policy compatible with this RL code in the future, it may be difficult. But I suspect this case will never happen. I don't think some one will use them in DeepRL. So I'm fine to use `UpdatePolicy` directly.

[2017-06-15 15:38] rcurtin commented on #1025
Unfortunately there are some tests that are known to fail occasionally; this is a problem we have been working to fix (see #922).  The Nystroem method test is one of those tests, so I wouldn't worry about that failure.

The only randomness in the Adaboost test is the initial weights used for the perceptrons.  To see if this was an issue, I added `math::RandomSeed(std::time(NULL))` to the beginning

[2017-06-15 19:31] zoq commented on #1028
I agree, if someone likes to use another optimizer in combination with the DeepRL code, he has to implement an update policy.

[2017-06-17 11:33] vishalbelsare commented on #1025
Hi Ryan, thanks. I think I have managed to narrow down a bit. I worked with a downloaded zip file of the master branch off Github. Compiled via makepkg using a PKGBUILD gave the error with Adaboost. However, the same source  but when compiled manually did not give that particular error. You were right to suggest that something in the AUR environment is likely to cause that error. So, I passed diff

[2017-06-18 23:02] #1028 closed

[2017-06-19 18:34] rcurtin opened #1033 "Require C++11 for compilation?"
It's currently possible to (mostly) compile parts of mlpack without C++11, but it can make life difficult.  For instance, I spent ~an hour today trying to compile a simple FFN that I'd worked on earlier:

[code]

and this output about a billion lines of errors because boost::variant had an ambiguous overload.  I dug for a while, then I realized, I just have to specify `-std=c++11` and it's fine.

[2017-06-20 20:11] mentekid commented on #1033
My opinion is that this makes sense, I was not even aware you could compile mlpack without C++11, but I think it is a reasonable requirement.

For the Solaris 7 people (and how many could that be), they can always take the extra step of removing the #error lines.

Would this happen in the mlpack headers, or in CMake?

[2017-06-20 20:19] rcurtin commented on #1033
This change would be in the mlpack headers.  Now that I think about it, CMake will refuse to build mlpack itself without a C++11 compiler.  The problem I encountered arose when I tried to use non-C++11 compilation while including some mlpack headers.

[2017-06-21 21:21] mentekid commented on #1033
I see. Makes sense to do it in the header then.

My opinion is the same - C++11 is pretty much standard.

[2017-06-25 11:40] micyril opened #1039 "Passing const data to DecisionTree constructor"
The `DecisionTree` class has several constructors that accept data through universal references.
[code]
Universal references can take the form of const lvalue references, which is good. The problem is that after accepting data the constructors pass it to one of the private `Train` methods, and these `Train `methods require non-const lvalue reference for the `labels` parameter.
[code]
To fix abilit

[2017-06-26 20:51] #514 closed

[2017-06-26 20:52] mentekid commented on #514
Closed with #1024

[2017-06-27 09:08] rcurtin commented on #1025
Hm, I think there may still be some problem here if the CFLAGS and CXXFLAGS cause a test to fail, but if the workaround is ok for you, then we can go with that.  For the HDF5 loading issue, it looks like something is loading transposed, but I am not sure why---maybe an HDF5 configuration issue?  HDF5 is a really complex library unfortunately.

Anyway, if you have more problems in the future, pleas

[2017-06-27 09:08] #1025 closed

[2017-06-27 09:09] rcurtin commented on #1004
Closing for inactivity.

[2017-06-27 09:09] #1004 closed

[2017-06-27 16:34] rcurtin commented on #977
Fixed via #1006.

[2017-06-27 16:34] #977 closed

[2017-06-27 19:08] Muthiang commented on #1023
Same error and mlpack-2.2.3

[2017-06-27 19:45] rcurtin commented on #1023
@Muthiang: What version of CMake are you using?  And what happens if you do `make` followed by `make install`?

[2017-06-27 20:21] Muthiang commented on #1023
The following install failure error occurs:

CMake Error at src/mlpack/methods/neighbor_search/cmake_install.cmake:72 (FILE):
file INSTALL cannot find
"/home/niu/mlpack-2.2.3/src/mlpack/methods/neighbor_search/$<TARGET_FILE_DIR:mlpack_kfn>/mlpack_allkfn".
Call Stack (most recent call first):

[2017-06-27 20:22] Muthiang commented on #1023
cmake version 2.8.12.2

[2017-06-27 20:24] rcurtin commented on #1023
Are you able to try using CMake 3?  And can you verify that the error persists if you first do `make` then `make install` as two separate commands?

[2017-06-27 20:25] Muthiang commented on #1023
ok, let me try it out and get back

[2017-06-28 22:04] rcurtin commented on #1023
Hmm, interesting, glad that a new CMake solved the issue.  I will leave this issue open though, in case anyone who is looking for a way to contribute wants to figure this out.  I'm happy to merge a patch and release 2.2.4 with a fix, for anyone who is still using CMake 2.8.  Otherwise, the code causing the issue won't exist in mlpack 3.0.0, so this can be closed when that is released.

[2017-06-29 14:00] #1039 closed

[2017-07-02 12:49] rcurtin commented on #734
@ThyrixYang: thanks again for your investigations here.  Unfortunately for me my free time ran out for now and I wasn't able to pursue this further for now.

For the time being since this test causes so much confusion I have increased the tolerance to 50 with 62100dd.

[2017-07-02 13:53] rcurtin opened #1045 "Require Armadillo 6.500 as a minimum"
Several things need to happen for this:

- [x] Update README.md, HISTORY.md, and any documentation in doc/
- [x] Remove any unnecessary backports from `src/mlpack/core/arma_extend` (I think this will be just about everything)
- [x] Update Jenkins build matrix to remove builds against older Armadillo versions
- [x] Update Armadillo EPEL packages (only I can do this)

[2017-07-03 21:24] zoq opened #1047 "Update optimizer batch support"
Right now an optimizer will call the functions:
[code]
or
[code]

if it's is a "decomposable" function. For many machine learning algorithms, this abstraction requires the DecomposableFunctionType to hold the data internally, and then use the i parameter, to find the corresponding correct part of the data. Where i is a single part of the decomposable function. This abstraction makes it difficult t

[2017-07-04 06:29] Rajiv2605 commented on #1045
I would like to contribute to this. It would be great if you could help me as I am new to this library and to open source. It would be really helpful if you could guide me through this.

[2017-07-04 06:35] Rajiv2605 commented on #1023
I had this issue when I was using cmake version 2.8.12.2. I then updated it to 3.8.2. Even then, I was having this issue. I was using was C++98. When I updated it to C++ 11, it was resolved. Hence, the solution looks like using CMake version >=3 and g++ version >=5.

[2017-07-04 10:06] zoq commented on #1045
Hello @Rajiv2605, you can start with the first point, search through the codebase (``README.md``, ``HISTORY.md``, https://github.com/mlpack/mlpack/tree/master/doc) and search for ``Armadillo  4.200.0`` or something along the lines and update the line according to the new version.

[2017-07-04 12:24] micyril opened #1049 "Do we need the VecType template parameter in NaiveBayesClassifier?"
`NaiveBayesClassifier` has the following `Train` interfaces:
[code]
Do we really need for the second signature to have the `VecType` template parameter? Can't we just use the alias `using VecType = arma::Col<typename MatType::value_type>`?

[2017-07-04 15:12] Rajiv2605 commented on #1045
I have updated README.md, HISTORY.md and /doc folder files with the latest version of Armadillo. I have submitted a pull request **Updated Armadillo version to 6.500.0 #1050**. Please review it and suggest changes if any.

[2017-07-05 13:25] rcurtin commented on #1049
The only nice thing is that allowing `VecType` as a template parameter allows one to pass either sparse or dense points to this incremental `Train()` overload, but I agree, I think it would be fine to make the change you suggested.  If you want to open a PR for it we can merge it.

[2017-07-07 00:34] rcurtin opened #1052 "Parallel serialization testing can fail"
This would be a great issue for someone looking to get involved in the project.

Here is a fascinating unintended consequence of parallel tests: the `SerializeObjectAll()` function, used in `fastmks_test.cpp` as well as other tests, uses boost::serialization to save the model to a specific file.  But since we might be testing in parallel, then files may get overwritten arbitrarily, thus causing te

[2017-07-07 15:10] shikharbhardwaj commented on #1052
That slipped under my radar. Thanks for the heads up. :)

Should be an easy fix indeed. I'll wait for some time, if no one takes this up, I'll fix it. (As you mentioned on IRC, this is a good beginner bug).

[2017-07-08 17:12] Rajiv2605 commented on #1047
@zoq I would like to work on this issue. Please guide me.

[2017-07-09 14:28] zoq commented on #1047
Sure feel free to work on this issue, I guess a good first step is to go through #1034; let me know if I should clarify anything. Also issue: https://github.com/mlpack/mlpack/issues/1052 might be interesting for you, but don't feel obligated

[2017-07-09 15:57] shikharbhardwaj commented on #1052
I started to look into some ways this could be done, in a cross platform manner.

 * There's `std::tempnam()`, which returns a filename, but is generally deprecated (not thread-safe and can be an attack vector, although it should not matter much here, but still, fewer warnings are always better.)

 * `std::tmpfile()` which returns a C `FILE*` handle, I'm not sure if that would be useful here.

Oth

[2017-07-10 18:03] Rajiv2605 commented on #1047
@zoq I'm feeling a bit lost:sweat_smile: It would be great if you could guide me through this. I mainly want to work on this as I want to contribute something to this library's code and understand how things work around. My previous contribution was a minor one and didn't involve any coding in it(Pull request: #1050). I really like this library as it is coded in C++ which is the fastest language a

[2017-07-10 18:35] rcurtin commented on #1052
Another idea could be just assembling a name based on the test, or the types given to the test.  RTTI could probably be used here to get a string from a type that should be unique enough.

[2017-07-10 19:07] shikharbhardwaj commented on #1052
I had thought about that. Although the string returned by `typeid(t).name()` is not guaranteed to be unique for each type, most implementations keep it that way. We could just truncate and filter the string to be a valid filename.

[2017-07-10 19:17] rcurtin commented on #1052
I think that could be fine.  The probability for failure is really low here, since we would need a `typeid(T).name()` collision by two types whose tests just happened to be running simultaneously.  If a user ever reports a bug with it, we can change strategies then, but I doubt that anyone will ever run into an issue with that.

[2017-07-10 20:45] rcurtin commented on #1045
I filed a bug on Launchpad to update the Armadillo version on trusty: https://bugs.launchpad.net/bugs/1703454 .

[2017-07-11 13:25] zoq commented on #1047
Okay, I can show you an example what we have to do, here I refactored the ``SGDTestFunction`` class:

[code]

The problem is how we write the Evaluate and Gradient function isn't always that straightforward, since in some cases we can vectorize the expressions to increase the performance.

[2017-07-11 15:10] rcurtin commented on #1045
Trying again with a different bug, https://bugs.launchpad.net/trusty-backports/+bug/1703626

[2017-07-12 16:15] Rajiv2605 commented on #1047
@zoq So, basically, current optimisers donot support batch optimisation. My role is to give the user control over no. of training samples to be trained at a time which would help in cases like online machine learning that uses stochastic gradient descent. Am I right?

[2017-07-12 23:33] zoq commented on #1047
right, if we support batches we could see some pretty neat speedups.

[2017-07-13 04:50] Rajiv2605 commented on #1047
@zoq Won't the refractored `Gradient` function code be
`gradient[0] += std::exp(-coordinates[0]);`
instead of
`gradient[0] = std::exp(-coordinates[0]);`

[2017-07-13 05:05] Rajiv2605 commented on #1047
@zoq Why is `visitationOrder` array used?

[2017-07-13 11:17] zoq commented on #1047
You are right, I missed that.

We decided to introduce a shuffle function, that shuffles the data, in some cases we could just do that, but in this case, there is no data, we can shuffle just some indexes, so I used a vector of indices to shuffle. Does this make sense?

[2017-07-14 07:02] Rajiv2605 commented on #1047
@zoq I have opened a pull request for this issue. It can be found here: #1057

[2017-07-16 15:51] naveenjafer opened #1058 "Documentation for the RANN API"
Hi, Could someone kindly add documentation on the API for the RANN package? http://www.mlpack.org/docs/mlpack-2.2.3/doxygen.php?doc=classRASearch.html it is empty.

[2017-07-16 16:01] zoq commented on #1058
Hello, this link is working for me: http://www.mlpack.org/docs/mlpack-2.2.3/doxygen.php?doc=classmlpack_1_1neighbor_1_1RASearch.html

Can you tell us which link references to the one you mentioned?

[2017-07-16 16:09] naveenjafer commented on #1058
Hi @zoq  clicking the API corresponding to RANN leads to the link I had posted above, http://www.mlpack.org/about.html Maybe it is linking to some older link.

[2017-07-16 16:12] zoq commented on #1058
@naveenjafer thanks for the fast response, that helps a lot, we will fix that.

[2017-07-16 16:13] naveenjafer commented on #1058
@zoq  Thank you, WIll close the issue then :)

[2017-07-16 16:15] zoq commented on #1058
Actually, do you mind to let this open, as a reminder?

[2017-07-16 16:55] rcurtin commented on #1058
Sorry! I was working on this Friday, I thought I had everything patched back up by the time I left.  I'll handle it when I get home this afternoon.  I'll let you know when it is done and the doxygen output will look a lot nicer too. :)

[2017-07-17 08:01] Rajiv2605 commented on #1045
@rcurtin @zoq Should I close this issue?

[2017-07-17 17:42] naveenjafer opened #1059 "Queries in the Paper inspiring RANN"
Hi, I have been trying to understand the RANN package to possibly try to implement in a language of my choice as an exercise. This paper is the reference I have been using http://www.mlpack.org/papers/rann.pdf and I believe is the crude basis on which the entire RANN implementation is based.

I have a few queries regarding the Pseudo code that is presented in Figure 2 in the above paper, it would

[2017-07-17 17:50] rcurtin commented on #1059
Hi Naveen,

This question may have been more appropriate to ask the paper authors but I can try to answer it.

1.  Probably yes, but you should check the code in `ra_search_rules.hpp`.
2.  What is meant is that `BruteNN` will be performed over all points held in the leaf node.
3.  I did not write the pseudocode so I can't answer this one.
4.  You have to rework the algorithm for k > 1; it's almost

[2017-07-17 21:34] rcurtin commented on #1058
Fixed.  The correct link now is http://www.mlpack.org/docs/mlpack-2.2.3/doxygen/classmlpack_1_1neighbor_1_1RASearch.html , and I updated about.html to reflect that.  Sorry for the inconvenience.

[2017-07-17 21:34] #1058 closed

[2017-07-17 21:34] rcurtin commented on #997
Closing for inactivity.

[2017-07-17 21:34] #997 closed

[2017-07-17 21:36] rcurtin commented on #578
I'm going to go ahead and close this one for inactivity---it's been quite a while.  If you'd like to reopen it and continue working on it, feel free.

[2017-07-17 21:36] #578 closed

[2017-07-17 21:36] rcurtin commented on #707
Closing for inactivity.  Since #681 is merged, I think that this should help with the problem.

[2017-07-17 21:36] #707 closed

[2017-07-17 22:15] JSybrandt opened #1060 "Linking CXX executable fails"
I run cmake with the following

cmake -DARMADILLO_INCLUDE_DIR=/home/jsybran/lib/usr/include/ -DARMADILLO_LIBRARY=/home/jsybran/lib/usr/lib64/libarmadillo.so -DBOOST_ROOT=/home/jsybran/downloads/boost_1_64_0 ..

The response includes the following:
-- Boost version: 1.64.0
-- Found the following Boost libraries:
--   program_options
--   unit_test_framework
--   serialization

I note that this does

[2017-07-18 04:01] naveenjafer commented on #1059
@rcurtin  Thank you, I will get in touch with the authors of the paper too to further clarify :)

[2017-07-18 14:20] MarquiseRosier commented on #1060
Hey did you actually build the boost you downloaded?
It's having Linkage issues with the boost library from the getgo.

Go into the boost root directory and run CMake, then run ... make install.

Make sure you have necessary permissions to write int /usr/ assuming you don't mind default installation behavior.

Hope this helps

[2017-07-18 15:12] JSybrandt commented on #1060
Yeah, I've tried a pre-compiled version of boost 1.53 on our HPC system, and the version of boost 1.64 I built myself.

[2017-07-18 15:24] MarquiseRosier commented on #1060
Ahh ok is your boost built as static or shared libs because you might not be able to mix the two without extra gcc flags I know that tends to be an issue!

[2017-07-18 15:29] MarquiseRosier commented on #1060
Also if you want...some more in depth help post the CMakeLists.txt you're running and i can try to invoke the error you're getting!

[2017-07-18 15:44] JSybrandt commented on #1060
Oh I didn't think to check that.

Yeah, I pointed the mlpack build at shared library files only and it worked.

Thanks!

[2017-07-18 15:44] #1060 closed

[2017-07-18 15:51] MarquiseRosier commented on #1060
No problem at all my friend :) good luck!

[2017-07-18 16:16] rcurtin commented on #1059
Sounds good---I'll go ahead and close this then. :)

[2017-07-18 16:16] #1059 closed

[2017-07-19 13:45] rcurtin commented on #1052
Fixed with #1053.

[2017-07-19 13:45] #1052 closed

[2017-07-19 16:06] etano opened #1062 "Using floats instead of double"
Hi, long time armadillo user, newer mlpack user (looks great!).

I'd like to be able to change the datatype in the ann implementation to float (instead of double).

I'm willing to go through and add a template parameter for the datatype as it seems pretty straightforward. But before I go through the effort, I'm just wondering if there's a possibility something like this would be accepted.

Cheers!

[2017-07-19 16:44] JSybrandt opened #1063 "Matrix transpose written to file?"
Hey,

I'm running NMF and I'm using mlpack to interface with some other code.

I provide a large n x m matrix and expect W to be of size n x r and H to be of size r x m.
But I'm looking at the resulting files (both pgm and csv format) and I'm seeing that W is of size r x n and H is of size m x r.

How should I interpret these files then? Are they simply the transposes of each file written because

[2017-07-19 17:38] rcurtin commented on #1063
You're correct---mlpack (or really Armadillo) stores the data in column-major order, so the matrix is transposed when it is written as output.  Note that if you are using mlpack to load the matrices back in, i.e.

[code]

then the matrix will be automatically transposed on load, and you will get the size that you expect.  Note that if you do this, `w` will have size n x r, and `h` (if you loaded i

[2017-07-19 17:41] rcurtin commented on #1062
I think actually this should not be too hard---all of the layers (or at least most of them) in `src/mlpack/methods/ann/layer/` already support templated matrix types, meaning you could use floats with them.  But still, I think that `FFN` and `RNN` should probably be refactored at some point to support generic matrix types.  I'm not sure what the exact best way to do that will be---@zoq, any ideas

[2017-07-19 18:25] etano commented on #1062
Yeah looking at it, it seems as you say. I think there is an option between templating on a matrix type or templating on an underlying datatype, or both.

Looking forward, having arbitrary types might be convenient when integrating with bandicoot: https://github.com/conradsnicta/bandicoot-code

[2017-07-19 18:27] rcurtin commented on #1062
Absolutely, I want to be able to drop in bandicoot types when the time comes.  I'm surprised, word is spreading fast about that project I guess... :)

I think that templating on a matrix type would be better---like you pointed out, this would allow us to accept bandicoot types and also `arma::sp_mat`, etc.  I would think the way to do this would be to simply templatize the `Train()` and other rela

[2017-07-19 19:28] JSybrandt commented on #1063
Thank you again!
I just wanted to make sure. I'm loading these files in a different library, but transposes are easy.

[2017-07-19 19:28] #1063 closed

[2017-07-19 19:30] rcurtin commented on #1063
No problem, glad to help. :)  If you have issues in the future, feel free to ask.

[2017-07-19 21:03] etano commented on #1062
Well I opened a pull request (not meant to be merged yet), just to get an idea of what this change might look like.

I'm realizing now, though, that it will be a bit more involved because of this LayerTypes boost::variant thing.

[2017-07-20 12:43] zoq commented on #1062
Right, we have to find a good solution for ``boost::variant``, have to think about it.

[2017-07-21 07:33] MichaelChai opened #1069 "hdf5.h file not found"
When I enter make, the following error occurs:

In file included from /usr/local/include/armadillo:83:
/usr/local/include/armadillo_bits/include_hdf5.hpp:26:14: fatal error:
      '/usr/local/Cellar/hdf5/1.10.1/include/hdf5.h' file not found
    #include ARMA_INCFILE_WRAP(ARMA_HDF5_HEADER)
             ^
/usr/local/include/armadillo_bits/compiler_setup.hpp:66:30: note: expanded from
      macro 'A

[2017-07-21 09:50] zoq commented on #1069
Hello, have you install armadillo using brew with hdf5 support?

``brew install armadillo --with-hdf5``

[2017-07-21 09:54] MichaelChai commented on #1069
I installed the hdf5 version is 1.10.1_1, make the default path is 1.10.1, how can we downgrade?

[2017-07-21 10:00] zoq commented on #1069
I'm not sure what you mean by " 1.10.1_1, make the default path is 1.10.1", did you install armadillo via brew and later on updated hdf5?

[2017-07-21 10:05] MichaelChai commented on #1069
Yes, the latest version of hdf5 is 1.10.1_1, my file path is /usr/local/Cellar/hdf5/1.10.1_1/include/hdf5.h, but make the path is / usr / local / Cellar / hdf5 /1.10.1/include/hdf5.h

[2017-07-21 10:08] zoq commented on #1069
Could you reinstall the armadillo package? ``brew reinstall ...``

[2017-07-21 10:13] MichaelChai commented on #1069
Reinstall the hdf5 version is also 1.10.1_1, when I enter cd mlpack-2.2.3 / build, and then make install, search path and the path of my folder is inconsistent.

[2017-07-21 10:25] zoq commented on #1069
Can you remove the mlpack build folder and rerun ``cmake`` and post the output here?

[2017-07-21 10:31] MichaelChai commented on #1069
bogon:~ ElinCredit$ cd /Users/ElinCredit/Downloads/mlpack-2.2.3
bogon:mlpack-2.2.3 ElinCredit$ mkdir build
bogon:mlpack-2.2.3 ElinCredit$ cd build
bogon:build ElinCredit$ cmake ../
-- The C compiler identification is AppleClang 8.1.0.8020042
-- The CXX compiler identification is AppleClang 8.1.0.8020042
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDef

[2017-07-21 11:05] zoq commented on #1069
Strange, not sure why armadillo isn't picking up the correct version; I guess what we could do here is to remove every hdf5 package which is a armadillo dependency:

on my system ``ls /usr/local/Cellar/hdf5/`` returns ``1.10.1_1 1.8.16_1 1.8.17 1.8.18``

so, I did ``brew remove hdf5`` or ``brew uninstall --ignore-dependencies hdf5`` to uninstall the packages, afterwards I reinstalled armadillo.

[2017-07-21 11:05] zoq commented on #1069
ah, I need to install hdf5 first.

[2017-07-21 11:11] zoq commented on #1069
or, wait, I think I can reproduce your problem...

[2017-07-21 11:13] MichaelChai commented on #1069
I tried `brew uninstall hdf5`, suggesting that `error`, so now you can use it?

[2017-07-21 11:29] zoq commented on #1069
It looks like since hdf5 was migrate from homebrew/science/ to brew core you will run into some problems, I'll have to take a closer look into the issue, for now I just created a symlink:

``ln -s /usr/local/Cellar/hdf5/1.10.1_1 /usr/local/Cellar/hdf5/1.10.1`` to get it working.

[2017-07-21 11:32] MichaelChai commented on #1069
OK, thank you !

[2017-08-03 01:05] Muthiang opened #1076 "Arm cross compilation error."
While cross compiling in ubuntu/64 for arm 32 bit processor, the following error has occurred.
 Static linking of OpenBLAS with the flag in armadillo ARMA_USE_WRAPPER commented out. Please help.

[ 53%] Linking CXX executable ../../../../bin/mlpack_range_search
../../../../lib/libmlpack.a(rs_model.cpp.o): In function `mlpack::range::BiSearchVisitor::BiSearchVisitor(arma::Mat<double> const&, mlpack

[2017-08-03 11:55] zoq commented on #1076
Looks like your compiler doesn't support the visitor pattern (c++11), with some changes it should be possible to build the main parts without the pattern, let me know if that would be an option for you and which part you like to use.

[2017-08-03 22:59] rvx86 opened #1078 "all targets build except mlpack_range_search and mlpack_test"
Target: `i686-w64-mingw32` (any version of Windows NT since 1999)
Host: (`x86_64-pc-msys`) Windows 10 64-bit (also a target using WOW64)

Error ref: LNK2005+LNK1169 in the Microsoft C/C++ build (`ld` output below)
[code]
Everything else is built correctly. Armadillo used in pass-through mode (link to BLAS/LAPACK or OpenBLAS, *twice*, directly).

Built from `mlpack-trunk`

UPDATE: Unable to build t

[2017-08-04 09:39] kakila opened #1079 "confusing dimensions in mlpack_sparse_coding help"
The html help of the CLI [mlpack_sparse_coding](http://www.mlpack.org/docs/mlpack-2.2.4/man/mlpack_sparse_coding.html) has an weird description of the shapes and sizes of the decomposition of the data matrix.
In the current text it seems that a n-by-m matrix is descried as "a matrix with m things and n other-things", so columns/rows are inverted in the plain language description. This is confusing

[2017-08-04 16:47] zoq commented on #1078
Hello @rvx86, can you comment ``#include "range_search.hpp"`` in ``range_search_main.cpp`` and post the output here?  I'm trying to reproduce the error over the weekend, in the meantime it would be helpful if you could post the output.

[2017-08-04 18:28] rvx86 commented on #1078
same problem.
[code]

[2017-08-04 19:31] rvx86 commented on #1078
***NOTE: This appears to be the same issue as #1076, except that (this) isn't a completely separate cross-compile build***

[2017-08-04 20:36] zoq commented on #1078
@rvx86 Thanks, for the information, btw. do you need the range search method? if not it's somewhat easy to patch it out.

[2017-08-04 20:56] rvx86 commented on #1078
Not sure yet, I'm seeking to do AI simulations for an upcoming 3D project. Currently looking into the use of decision-based learning (from either a set of fixed data, or data that the AI learns itself based on a simulated environment)

[2017-08-04 22:08] zoq commented on #1078
I guess in this case you might be interested in the upcoming reinforcement learning methods @ShangtongZhang is putting together as part of his GSoC project.

[2017-08-05 01:21] rvx86 commented on #1078
Oooh. Thanks. I'll look into that. (If I wanted to patch out the range search methods, I could just use `LIB` or `ar`/`ranlib` to strip out the actual object code? The rest of the library assembled fine.)

[2017-08-05 08:07] rcurtin commented on #1078
Patching out the range search code should be doable by commenting out the `range_search` directory in `src/mlpack/methods/CMakeLists.txt` and then commenting out `range_search_test.cpp` in `src/mlpack/tests/CMakeLists.txt`.  (The comment character for CMake is just a `#`.)

It's a little bit confusing to me why this is happening---the header guards look correct for `range_search.hpp`, `range_searc

[2017-08-06 03:44] AyushExel opened #1080 "Cannot Load csv file containing Categorical features"
[code]
I have executed the above code using this command :
`g++ test.cpp -std=c++14 -larmadillo -lblas -llapack -lmlpack -lboost_filesystem -lboost_serialization -lboost_program_options`

On executing, I get this error message :
[code]
I don't know what is causing this problem as I have already linked to all required libraries.

[2017-08-06 04:23] rcurtin commented on #1080
I can't seem to reproduce this.  Can you tell me what version on mlpack you are using?  Do you have multiple mlpack versions installed on your machine?  I think this could happen if there is not a valid libmlpack.so found on the system, or the libmlpack.so version found is too old, so you may need to also add `-L/path/to/mlpack/lib/`.

Also I think `-lboost_filesystem` should not be necessary, and

[2017-08-06 05:01] AyushExel commented on #1080
@rcurtin I guess I had installed multiple versions of mlpack . Adding the path to library, as you suggested solved the problem. The program compiles successfully but when I try to run the 'a.out' file it gives this error :
`./a.out: symbol lookup error: ./a.out: undefined symbol: _ZN6mlpack4data4LoadIdNS0_15IncrementPolicyEEEbRKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEERN4arma3MatIT_EERN

[2017-08-06 05:41] rcurtin commented on #1080
Ah, I'm glad you got it figured out.  I'd strongly suggest removing the older version of mlpack from your system---multiple installed versions can be the source of a ton of headaches. :)

For the next problem, you'll have to set `LD_LIBRARY_PATH`:

[code]

and then it should work.  There's a bit on `LD_LIBRARY_PATH` in this section of the readme: https://github.com/mlpack/mlpack/#4-building-mlpack

[2017-08-06 06:55] AyushExel commented on #1080
@rcurtin Thanks . It fixed the problem

[2017-08-06 06:55] #1080 closed

[2017-08-06 11:47] rcurtin commented on #1080
No worries, glad to help. :)

[2017-08-06 17:37] Muthiang commented on #1076
I will try disabling the range_search part and compile as a short term solution. The compiler I have used is gcc-6 and g++-6. Gcc is widely used when there is a need for native and cross compilations and making mlpack compile in gcc becomes important for wider adoption.

[2017-08-06 19:19] Muthiang commented on #1078
When range_search is commented out, other dependencies of range_search show up:

[ 55%] Linking CXX executable ../../../../bin/mlpack_softmax_regression
[ 55%] Built target mlpack_softmax_regression
Scanning dependencies of target man
make[2]: *** No rule to make target `../mlpack_range_search', needed by `CMakeFiles/man'.  Stop.
make[1]: *** [CMakeFiles/man.dir/all] Error 2
make: *** [all] Error

[2017-08-06 20:01] alexandretea opened #1081 "Cannot access mappings of a DatasetMapper"
There is no way to access the mappings of a DatasetMapper, from the code (the only way to get them is to serialise the DatasetMapper).

An example of application is that I need to display a text representation of a decision tree, so I need to get the string associated to each categorical mapping.

[2017-08-06 23:04] rcurtin commented on #1076
To be clear, mlpack already does compile on gcc---we check this rigorously.  But none of our testing reveals the same bug you have encountered here.

[2017-08-07 00:35] rcurtin commented on #1081
Couldn't you do this:

[code]

The mappings will be from 0 to `info.NumMappings(d)` in dimension `d`, so you can just call `UnmapString()` to access what has been mapped.  Does that help?

[2017-08-07 04:56] rcurtin commented on #1079
Sure, I agree this is a nice improvement.  I committed this simple change in 031ac93.  Please feel free to send more documentation suggestions in the future; good documentation is really hard to do and the more help we get the better we can make the docs. :)  Thanks!

[2017-08-07 04:56] #1079 closed

[2017-08-07 10:26] kakila commented on #1079
Thanks, the help now is still missing information of what the CSV files should have. Somewhere else in the documentation it si explained that a n-by-d X matrix printed to a CSV file will be read in as a d-by-n. so the help is valid for this transposed matrix, but the user might think they have to actually put that in the CSV, this is not the case.
A line is needed explaining what the  input is and

[2017-08-07 11:42] alexandretea commented on #1081
Wouldn't that remove the mapping with that string? I assumed so as the member function is not const and is named "Unmap".

Also, I believe that would only work if we use an IncrementPolicy, wouldn't it?

[2017-08-07 23:07] Muthiang commented on #1076
The problem was resolved by merging src/mlpack/methods/range_serach/rs_model.cpp code with src/mlpack/methods/range_serach/rs_model_impl.hpp and commenting out all the lines in rs_model.cpp.

[2017-08-07 23:50] rcurtin commented on #1076
So do you mean that the PR #1082 fixed the issue?

[2017-08-08 06:26] rcurtin commented on #1033
When I dug into this further, I found that C++11 happens to already be required via the header file `<utility>`.  Instead, it turns out what I was encountering was this bug:

https://svn.boost.org/trac10/ticket/11285

So actually my compiler was already by default in C++14 mode, but this causes that Boost bug with Boost 1.58.  In 37be9f4, I added a macro check to `prereqs.hpp` that detects this si

[2017-08-08 06:26] #1033 closed

[2017-08-08 18:44] Muthiang commented on #1076
At the moment, for me a work around has been found by merging rs_model.cpp code into rs_model_impl.hpp. Workaround is not a fix. When you make this change in the source code that you maintain and release the next version with the fix, it can be considered fixed.

[2017-08-09 05:51] micyril opened #1086 "LinearRegression copy and move constructors"
`LinearRegression` has a copy constructor with the following implementation:
[code]
There two issues with that:
1. It doesn't copy the `intercept` parameter. In my development environment it results in random initialization of this parameter when the copy constructor is used, which in turn makes the `Predict` method work wrong sometimes.
2. It prevents generation of the implicit move constructor.

[2017-08-09 22:29] rvx86 commented on #1078
This actually worked. For the record, my CFLAGS were `-O3 -march=core2 -mfpmath=sse -fstack-protector-strong`. Perhaps the optimisation flag triggered compile-time inline template expansion?

[2017-08-09 23:18] rvx86 commented on #1078
Oh btw the `mlpack_test` specifies a dynamically-linked Boost `unit_test_framework`, I didn't create DSOs for Boost.
[code]

[2017-08-10 01:23] rcurtin commented on #1079
I think the sufficient thing to do here is just to change the documentation to say that `X` can be recovered by calculating `Z * D` not `D * Z`.  I made that change in 6395726.  Thanks for pointing out the issue. :)

[2017-08-10 03:05] rvx86 commented on #1078
A few of the tests crashed, and their stacks look similar: (AKFN, AKNN, KFN, UBTreeTest, VantagePointTreeTest)
Two (CLI, Load/Save) failed normally.
The rest crashed in other places. (KMeansTest, RecurrentNetwork, SdpPrimalDualTest, TreeTest)
[code]

[2017-08-10 03:06] rvx86 commented on #1078
@Muthiang feel free to reopen if you have any further problems

[2017-08-10 03:19] rcurtin commented on #1081
`UnmapString` doesn't actually remove the mapping---I clarified that in the documentation in 40903f7.  And you are correct, this only works for `IncrementPolicy`.

If you need more functionality, unfortunately I don't have time to contribute it, but I am happy to merge a patch if the solution above doesn't work for you.

[2017-08-10 03:23] rcurtin commented on #1086
Agreed, I think removing the explicit copy constructor is fine.  If you'd like to open a PR for that we can merge it.

[2017-08-10 03:25] micyril commented on #1086
Ok, I will do it shortly.

[2017-08-10 11:33] rcurtin commented on #1078
@rvx86: thanks for the report.  Looks like the PR fixes both issues, so I will make sure it gets merged.

Are you willing to dig into the Boost issue a little bit?  I think the vast majority of mlpack users are using dynamically-linked Boost so I haven't seen this problem before (and don't have an easy setup to reproduce it).  When you are configuring, are you specifying

[code]

to CMake?

Also,

[2017-08-10 11:33] rcurtin commented on #1078
(reopened until we fix the `BOOST_TEST_DYN_LINK` issue)

[2017-08-10 13:56] rvx86 commented on #1078
Oh. I just had to provide the path to where I installed the Boost library and headers. The CMake `FindBoost` script figured out which libraries it needed. The `BOOST_TEST_DYN_LINK` was simply hard-coded in the CMake configure script.

[2017-08-10 14:03] rvx86 commented on #1078
@rcurtin I'd recommend setting a CMake preprocessor flag (`-DUSE_BOOST_DSO`)

[2017-08-10 17:50] AbdealiJK opened #1090 "Faster Cover Trees"
Is there an implementation for Faster Cover Trees here ?

https://izbicki.me/public/papers/icml2015-faster-cover-trees.pdf

Which papers can I refer to for the mlpack cover tree implementation

[2017-08-11 00:36] alexandretea commented on #1081
I found a workaround in my project to be able to use your solution :) Thanks! If I have time after my deadline I'll try to come up with a patch to solve that problem, could be useful to others.

[2017-08-11 02:31] rcurtin commented on #1090
I talked with Mike when the paper came out at ICML, but I think he implemented it in HLearn (https://github.com/mikeizbicki/HLearn).  There are some nice ideas in the paper, but unfortunately we don't have them implemented in mlpack.

If you're interested in contributing support, I'd be happy to take a look over it and then merge it.

Thanks!

[2017-08-11 04:15] rcurtin commented on #1081
Great---a patch would definitely be appreciated.  I think the `DatasetMapper` class could use some improvements. :)  If you open a PR, we can take a look and get it merged.  Should we go ahead and close this issue then?

[2017-08-11 13:36] AbdealiJK commented on #1090
I'm not sure I'll have time to implement it right now. But I'd really like
to see the feature in mlpack.

Keeping this issue open in case someone else is interested in contributing
or just as a reminder to me so I come back when I'm a bit more free =)

On Aug 11, 2017 08:01, "Ryan Curtin" <notifications@github.com> wrote:

[2017-08-11 16:31] #1081 closed

[2017-08-14 06:01] AbdealiJK opened #1092 "Streaming scoring in knn"
Currently it looks like in KNN the query data KS being read completely. As scoring is a record by record level computation, it would be great if that can be done in a streaming way or a mini batch way.

Here are the cases I see:
 - If query data is same as reference data load the full data
 - If query data is different from reference data load the full reference data but give an argument to choose

[2017-08-14 13:56] #1086 closed

[2017-08-15 15:18] rcurtin commented on #1092
Hmm, so there is no streaming support for loading from a file, but you could at least use `Search()` with a single query point at a time, and write the rest of the support for streaming from a file, i.e.:

[code]

I hope this gets the idea across, let me know if I can clarify any further.

[2017-08-15 15:19] rcurtin commented on #1090
Sounds good---I'd love to add the support.  Personally what I found with my work with cover trees is that they took a really long time to build, and the build time being so long outweighed any speed improvement for search (if any).  But with Mike's faster version of cover trees, the build time may be significantly shorter.

[2017-08-15 20:06] rcurtin commented on #1069
I think this issue is solved, so I'll close it.  If that's not correct, let me know, we can reopen it. :)

[2017-08-15 20:06] #1069 closed

[2017-08-15 20:06] rcurtin commented on #1049
I think this is fixed since #1068 is merged.  If not let me know and we can reopen this.

[2017-08-15 20:06] #1049 closed

[2017-08-17 05:41] AbdealiJK opened #1097 "Weights for columns in metrics"
I can create a new metric using the Evaluate() function according to the documentation in metrics.hpp

If I want to pass a set of weights and created a weighted euclidean distance or something similar how can I do that ?

[2017-08-17 05:45] AbdealiJK commented on #1092
Would you be open to adding this to the MLPack source code itself ?

[2017-08-17 13:57] rcurtin commented on #1097
You could just use `MahalanobisDistance` and set the covariance matrix with `Covariance()`.  See `src/mlpack/core/metrics/mahalanobis_distance.hpp`.  I have found, though, that it's actually faster to just stretch the dataset according to your weights and then use the regular Euclidean distance.

[2017-08-22 22:22] rcurtin commented on #1092
I'm not sure how we could provide this type of support in a reasonable way.  The code I wrote is a pretty simple combination of whatever file I/O the user wants and mlpack, so if we were to merge this type of code in, we'd have to create a new abstraction for file I/O, which unfortunately I think would be a huge amount of code.  So I don't think this one would work, unfortunately. :(

[2017-08-23 02:14] AbdealiJK commented on #1092
Yep, I noticed the same when I checked the code.
Closing this, thanks for the example code!

[2017-08-23 02:14] #1092 closed

[2017-08-23 02:18] Becavalier opened #1099 "What should I do if I wanna build mlpack with clang and emit llvm ir?"
I wanna build mlpack with clang and export ".bc" instead of ".so". The ".bc" includes the llvm ir of the source code. Anyone could give me some help, thanks!

[2017-08-23 03:36] AbdealiJK commented on #886
Can't see this on the impact website. Is this live?
I can only see knn stats

[2017-08-23 03:42] AbdealiJK commented on #349
Does this mean that the current implementation of Ball tree is invalid and if I use it when running knn I may get inaccurate results?

[2017-08-23 12:56] rcurtin commented on #349
No, KNN works properly with `BallTree`, I just had to commit a workaround in 813441a.  `BallTree` is tested in `src/mlpack/tests/knn_test.cpp` in the `KNNModelTest`, and it passes the tests so there is no problem there.  (On the other hand, `BallTree` does not work with rank-approximate nearest neighbor search---see #338---but if you are just using `KNN` and not `KRANN` there is no problem.)

[2017-08-23 13:35] AbdealiJK commented on #349
Got it - thanks a lot =)

[2017-08-23 14:46] rcurtin commented on #1099
Hi there,

Do you mean that you want the IR of all the files that make up libmlpack.so?  If you just want the IR of a program you are compiling that links against mlpack, you can add `-emit-llvm` to the clang command-line call.

I am not sure exactly how to get the IR of what's in `libmlpack.so`, maybe the following thread is helpful?

https://stackoverflow.com/questions/17459800/creating-and-usin

[2017-08-23 14:55] rcurtin commented on #886
No, unfortunately I don't think we've rebuilt any benchmarking results with the decision tree yet.  There is an interactive interface at http://www.mlpack.org/benchmark.html.  However the database being used there is quite old.  (We are working on getting something more up-to-date deployed, but it takes a while to run all the benchmarks.)

[2017-08-23 14:56] rcurtin commented on #1092
Sounds good---glad I could help.  :)

[2017-08-23 22:03] alexandretea opened #1100 "Value of a PARAM_INT_OUT is not printed"
When an output parameter is defined using the macro PARAM_INT_OUT, the parameter is not printed even if a value has been set to it. I'm using the version 2.2.4 of mlpack.

The following code shows the problem:
[code]

Running this code, only the double output parameter is printed.

[2017-08-24 02:46] Becavalier commented on #1099
I directly setting the following four rules in /CMakeList.txt, but it doesn't work anymore.

[code]

[2017-08-24 02:59] rcurtin commented on #1099
Did that strategy used to work in the past?

[2017-08-24 03:34] Becavalier commented on #1099
Not sure, I did not have tried that before. I found those four flags from the official cmake guideline.
https://cmake.org/Wiki/CMake_Useful_Variables, and here I find an article talks about how to "using llvm as a c compiler in cmake": http://public.kitware.com/pipermail/cmake/2007-September/016669.html.

Any ideas on this?

[2017-08-24 05:27] Becavalier commented on #1099
I put those four flags below this sentence:

[code]
And I also set `CMAKE_CXX_COMPILER_ID` global flag equals to 'Clang', so cmake will use 'Clang' as my compiler and also set those four flags shows above. But actually, it doesn't work anymore.

[2017-08-24 18:57] zoq commented on #1099
I think what you could do is to use ``-save-temps``which saves the intermediate forms like ``.bc``

I used:

[code]

Note, I wasn't able to build the current master branch using ``llvm-g++``, so I used an older version. Not sure that's what you need?

[2017-08-25 02:33] Becavalier commented on #1099
Is it possible to build a MVP(Minimum Viable Product) version of mlpack without those dependencies(boost and armadillo)?

[2017-08-25 02:45] rcurtin commented on #1099
No, mlpack is built entirely on Armadillo so you can't remove it (same with Boost, mostly).  Armadillo can be used in a header-only mode though, which should make it easier.  You would need to modify your Armadillo configuration file (`armadillo_bits/config.hpp`) to comment out the `#define ARMA_USE_WRAPPER` line.

[2017-08-25 22:42] rcurtin commented on #1100
Thanks for pointing this out.  I am about to release a bugfix 2.2.5, I'll include a fix for this also.

[2017-08-25 22:47] #1078 closed

[2017-08-26 04:08] rcurtin commented on #1076
I just released mlpack 2.2.5: http://www.mlpack.org/files/mlpack-2.2.5.tar.gz.  It includes the fix for this issue, so I'll go ahead and close this here.  Please feel free to report any other problems you might have.  Thanks! :)

[2017-08-26 04:08] #1076 closed

[2017-08-26 04:11] rcurtin commented on #1100
Thanks so much for the simple code to test the fix, it really is nice to get a simple program like that for debugging. :)

It turns out, the problem was quite simple: f77fe9524.  I released mlpack-2.2.5 with the fix: http://www.mlpack.org/files/mlpack-2.2.5.tar.gz.

Please feel free to report any issues in the future, and we'll be happy to try and fix them. :)

[2017-08-26 04:11] #1100 closed

[2017-09-01 10:31] conradsnicta opened #1110 "LoadHDF5Test issue"
With Armadillo 8.100 I'm getting this error when running mlpack_test:

`src/mlpack/tests/load_save_test.cpp(678): fatal error in "LoadHDF5Test": critical check test.n_rows == 4 failed [2 != 4]`

This looks like an issue in the test itself or perhaps in mlpack's data::Load().

[2017-09-01 17:36] rcurtin commented on #1110
Fixed in 86cb5b2.  Looks like there used to be an issue where Armadillo transposed HDF5 on load/save, but that is no longer the case for any versions that mlpack supports.  Thanks for pointing out the issue. :)

[2017-09-02 01:20] conradsnicta commented on #1110
If I recall correctly, the underlying issue is that software such as Octave, Matlab and Python take arbitrary interpretation on the layout of data in HDF5 files.  Some assume column major, some row major, etc. Data saved as column major in Armadillo can end up being read as row major in other software, and vice versa. I believe this is a deficiency in the HDF5 standard itself.

This is why Armadil

[2017-09-02 01:20] #1110 closed

[2017-09-02 01:24] rcurtin commented on #1110
Yep---when that happened, apparently I didn't pay attention to the memo and didn't update the code internally.  Glad to have it fixed now though.

[2017-09-07 12:04] Rajiv2605 opened #1112 "Algorithm yet to be implemented"
Hi there,
I am interested in implementing an algorithm or a feature in mlpack which hasn't been implemented yet. It would be great if you could suggest any :smile:

[2017-09-07 14:44] laetella opened #1113 "compute Euclidean Minimum Spanning Trees can't use cover tree?"

[2017-09-07 14:47] rcurtin commented on #1113
You can use cover trees with the EMST code, but there is no support implemented to do that from the command line program `mlpack_emst`.  For an example of the code see `src/mlpack/tests/emst_test.cpp`:

[code]

So it's not hard to use the cover tree (or any tree type) from C++.

As a side note, I've generally found the kd-tree to be faster in just about every situation, so I'm not sure that the co

[2017-09-07 16:49] rcurtin commented on #1062
Do you think we could do something like this?

[code]

[2017-09-08 12:11] zoq commented on #1112
Hallo, maybe you can propose something that you like to see in mlpack. Another idea is to take a look at the GSoC ideas list: https://github.com/mlpack/mlpack/wiki/SummerOfCodeIdeas maybe you can find something interesting.

[2017-09-09 11:31] Rajiv2605 commented on #1112
@zoq I'll look into it 😄

[2017-09-10 07:52] laetella commented on #1113
Thank you.  I've found the naive algorithm is faster than k-d tree in high dimension. According to the paper "Fast Euclidean Minimum Spanning Tree: Algorithm, Analysis, and Applications", cover tree is faster than kd tree in high dimension, so I want to have a try.

[2017-09-10 16:26] rcurtin commented on #1113
Yeah, the naive algorithm can sometimes be faster.  In very high dimensions the bounding of the kd-tree becomes less useful and can actually result in a slower search.  I forgot that Bill did get better results for the cover tree in high dimensions, so maybe for the MST problem there are more cases where the cover tree is a better choice.  :)

[2017-09-11 05:56] Rajiv2605 commented on #1112
@zoq I found this to be interesting: https://github.com/mlpack/mlpack/wiki/SummerOfCodeIdeas#fast-k-centers-algorithm--implementation

[2017-09-11 14:29] rcurtin commented on #1112
I would strongly suggest finding a different project to pursue; that one is very difficult.  It would probably be best to select some machine learning algorithm that you do not see in mlpack that you think would be useful.

[2017-09-11 14:29] rcurtin commented on #1097
Closing for inactivity.  Feel free to reopen if needed.

[2017-09-11 14:29] #1097 closed

[2017-09-11 14:30] rcurtin commented on #943
This seems to be fixed now---the sparc64 tests are no longer hanging.

[2017-09-11 14:30] #943 closed

[2017-09-12 11:30] Rajiv2605 commented on #1045
@rcurtin @zoq The wiki still shows minimum version for Armadillo as `4.200.0`
This is the screenshot of the wiki:
<img width="516" alt="version" src="https://user-images.githubusercontent.com/16632603/30323677-bb24d44e-97db-11e7-995d-64d1e3c1d252.PNG">

[2017-09-12 22:54] zoq commented on #1045
Nice catch! I think, instead of updating the page: https://github.com/mlpack/mlpack/wiki we can remove the part you pointed out. The main readme or the build tutorial provides that kind of information so it's redundant; for me, it's just another page we have to update if something changed.

[2017-09-13 14:46] rcurtin opened #1118 "Python binding warnings are inaccurate or misleading"
The warnings in bindings to other languages are generally written for command-line programs; example:

[code]

but neither of those warnings make very much sense.  We need a way to write generic error or warning messages that can be automatically reformatted for the language at hand.

[2017-09-13 14:47] rcurtin opened #1119 "Python models cannot be pickled"
If you try to pickle a Python model from an mlpack binding, it fails:

[code]

I think just the `__getstate__()` and `__setstate__()` functions need to be added to the mlpack model types.

[2017-09-14 08:29] Rajiv2605 commented on #1045
@zoq But, shouldn't the page wiki have all the info about the repository?

[2017-09-14 08:39] Rajiv2605 commented on #1112
@rcurtin I went through the mplack repository and I don't think Convolutional Neural Network has been implemented yet. Can I work on it?

[2017-09-14 11:21] zoq commented on #1045
I think it does, but instead of providing the information on the same page, we reference the existing page that provides all the information about building mlpack, dependencies, etc. Let me know what you think.

[2017-09-14 11:30] zoq commented on #1112
The Conv nets are implemented here: https://github.com/mlpack/mlpack/tree/master/src/mlpack/methods/ann; but if you interested in that direction, there is room for additions and improvements e.g. by implementing a faster conv layer. Let me know what you think.

[2017-09-14 13:43] Rajiv2605 commented on #1112
@zoq Yes, I am interested! Could you tell me more about it?

[2017-09-14 13:57] Rajiv2605 commented on #1045
@zoq That's a good idea 👍

[2017-09-14 14:05] rcurtin commented on #1045
I updated the wiki to point to the doxygen-generated build information; that should be a sufficient solution.

I am packaging the updated Armadillo versions for EPEL6 and EPEL7 too, but I have to wait on a few other things before that is done.  Then we can close this issue.

[2017-09-14 14:55] rcurtin opened #1120 "Switch Serialize() to serialize() and remove serialization shim"
In accordance with #1103, we should replace all of our `Serialize()` methods with `serialize()`.  In addition, anywhere we call `data::CreateNVP(member, "member");` we should replace this with `BOOST_SERIALIZATION_NVP(member)`.  Since we are now going to be using pure `boost::serialization`, we can also change places where we serialize std::vectors or std::maps to serialize those directly instead

[2017-09-15 04:01] DeveloperAlfa opened #1121 "mlpack.org"
Hey there! I am a student from https://en.wikipedia.org/wiki/Delhi_Technological_University Delhi Technological University.

I look forward to help you  with the design and content of your website. I am a student of computer science and have basic knowledge of Machine Learning(Andrew ng's course on coursera) and am fairly proficient in C++. Your project got me interested because most of the machin

[2017-09-15 10:24] laetella commented on #1113
@rcurtin I've tried  using cover tree to compute EMST,  but I can't get any log output. For example:
[code]
And I use command ` g++ temp2.cpp -std=c++11 -lmlpack -larmadillo ` and `./a.out ` .
 It would be great if you could suggest any.

[2017-09-15 13:37] rcurtin commented on #1121
Hi there,

If you are interested in contributing to mlpack I would suggest you first take a look at http://www.mlpack.org/involved.html.

Thanks!

[2017-09-15 13:37] #1121 closed

[2017-09-15 13:39] rcurtin commented on #1113
Do you mean that you want to see output like this?

[code]

If so try adding `mlpack::Log::Info.ignoreInput = falze` at the start of your program.

[2017-09-15 14:26] laetella commented on #1113
Yes, it works well, thank you. And if I want to get the output file, like '-o' on the command line, what should I do?

[2017-09-15 14:37] rcurtin commented on #1113
Ah so maybe I should write a clearer tutorial on this.  mlpack's support for command-line options is a little bit complex and you have to write your program in a special way to take advantage of that, using the `CLI` module.  You can take a look at examples like `src/mlpack/methods/emst/emst_main.cpp` for instance to get an idea of what needs to be done to have full command-line support.

Alternat

[2017-09-15 16:13] zoq commented on #1112
One thing we could do is to remove unnecessary (temporary) copies inside the Forward and Backward function (https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/layer/convolution_impl.hpp), like ``rotatedFilter`` in the ``Backward`` pass. Another idea is to implement a more efficient convolution operator by exploiting multicore CPU's e.g. http://proceedings.mlr.press/v70/budden17a.h

[2017-09-15 21:21] stinger0962 commented on #235
Great working process. Now we are facing the same issue as you once had. Our team is trying to figure out why MLPack's kd-tree is superior than ours.

[2017-09-16 04:40] laetella commented on #1113
Thank you so much. Besides, if I want to get the Execution Parameters and Program timers, what should I do?

[2017-09-17 10:51] laetella commented on #1113
@rcurtin    I 've tried to use mlpack_emst to calculate UCI dataset: KDDCup, the size is 42 * 4898431. But more than 40 hours has gone, and I just got three lines output.
'''
[INFO ] Loading 'kddcup.csv' as CSV data.  Size is 42 x 4898431.
[INFO ] Building tree.
[INFO ] Calculating minimum spanning tree.
'''
I couldn't get any other output. The Data Set Characteristics is Multivariate, and the Att

[2017-09-17 12:39] newling opened #1122 "ImportError: cannot import name test_python_binding"
Both with a clean install from source, and using the package from the repo:

[code]

[code]

[2017-09-17 14:34] rcurtin commented on #1122
Hi James,

Thanks for reporting the issue.  The Python bindings are still being debugged so I am really happy to get feedback and work things like this out.  Where did the Python bindings install, and where did libmlpack.so install?

My first guess is, try setting `LD_LIBRARY_PATH` to where libmlpack.so is:

[code]

and try again.  I am not sure if that will fix it, but let's see if it does. :)

[2017-09-17 14:45] Rajiv2605 commented on #1112
:+1: I'll look into it.

[2017-09-17 18:45] newling commented on #1122
Hi Ryan,

[code]
doesn't seem to resolve the issue,

[code]

but the issue might be elsewhere, when I add openblas lib path,
[code]
I get a different error,
[code]
Actually after adding the openblas path, numpy won't import either,
[code]
I'm not sure if this is related to the initial issue.

[2017-09-17 18:58] rcurtin commented on #1122
Hm, ok, thanks for the input.  Can you tell me the steps you did to configure, build, and install mlpack?  I will try and reproduce the issue.  Thanks!

[2017-09-18 07:06] newling commented on #1122
I can't remember exactly what I did... but my first attempt was building from source from git, the usual
[code]
with a few iterations of cmake to get all dependencies (armadillo, boost etc). But it seemed to work in the end. Then
[code]
I can't remember what the problem was after that, but I then removed everything from the install and used synaptic package manager, after which I got
[code]
Once a

[2017-09-18 13:49] rcurtin commented on #1122
Thanks for the info.  I think what has happened here is that when you uninstalled the mlpack you built from source, not all files were removed from the Python directories.  My guess is that `/usr/local/lib/python2.7/dist-packages/mlpack/__init__.py` still exists but nothing else is in that directory.  (I'm guessing your Python version and I can't remember if it will install into dist-packages/ or

[2017-09-18 22:25] #215 closed

[2017-09-19 10:22] newling opened #1123 "Error compiling cython file"
Hello

(((probably unrelated to issue #1122, this is a clean build on a different (ubuntu) machine)))

I'm encoutering an error with `make install`, the output below. I'm posting my cython version (I've encountered issues specific to cython versions in the past, so just in case):

[code]

.
.
.

[ 95%] Building Cython binding hmm_generate.so...
/usr/lib/python2.7/dist-packages/setuptools/dist.py:2

[2017-09-19 10:25] newling commented on #1122
@rcurtin Thanks for this suggestion, I'll check this possibility out when I get a chance.

[2017-09-19 13:31] rcurtin commented on #1123
Ah, I see in the changelog of Cython that version 0.24 is the minimum for default-template types.  So I will have to modify the CMake configuration to have a minimum version of 0.24.  Sorry about that!  But if you upgrade Cython it should solve your issue.  I'll close the issue when this is fixed.

[2017-09-19 20:58] newling commented on #1122
So this time, I

1) removed everything
2) `make install` to a directory specified with `CMAKE_INSTALL_PREFIX`.

The only .so shared library file in the install dir is `./lib/libmlpack.so.2.0`, I was expecting to see some kinda python shared library installed.

I see there are a bunch of .so files in ./build/src/mlpack/bindings/python/mlpack/ and cd-ing into that dir I can `import knn` without erro

[2017-09-20 01:28] rcurtin commented on #1122
That all sounds correct to me.  When building, all of the Python .so files end up exactly where you said---`build/src/mlpack/bindings/python/mlpack/`, and when you install them they all get moved to your Python installation directory.  If you want to test the bindings without installing, you can just do (from the build directory):

[code]

At least, that's what I do.  I looked into ways to automat

[2017-09-20 08:45] newling commented on #1122
I don't think so, unless there is a separate CMake directory I need to set for Python installs,
[code]

From the build directory I'm not having any more luck:

[code]

[2017-09-20 08:47] newling commented on #1123
Cool, with Cython version 0.26.1 the templates compile. Thanks!

(now I'm facing the same prob on this machine as on thread #1122)

[2017-09-20 15:49] rcurtin commented on #1113
The length of time the EMST calculation can take depends heavily on the distribution of the dataset; if the dataset has high intrinsic dimension, it's likely that the search will take a long time.  I might suggest trying on a subset of the dataset with both the kd tree and the cover tree to see which is faster, then run on the full dataset.  It may still take a very long time, 5M points in 42 dime

[2017-09-21 04:13] laetella commented on #1113
@rcurtin  Thank you so much. Now I want to compare kd tree , cover tree and naive algorithm on different distributions of the dataset, so I need some large datasets to test these algorithms. I've found some sets from 'src/mlpack/tests/data', but these sets are too small.  Have you tried some large datasets on these algorithms?  Could you give me some suggestion on how to get the large dataset plea

[2017-09-21 07:32] flying-sheep commented on #444
hi, i have one here. it should be installed to `/usr/lib/cmake/MLPACK/FindMLPACK.cmake`.

i’m not sure about the capitalisation here, so i capitalised MLPACK everywhere.

[code]

[2017-09-21 14:08] rcurtin commented on #1113
I like to use the UCI datasets:
https://archive.ics.uci.edu/ml/datasets.html

Here are some good ones:
 - covertype
 - higgs (very large though, will take a long time)
 - power
 - mnist (high-dimensional so naive may be the fastest)
 - pokerhand
 - miniboone

but there are many more there too.  Keep in mind also that the DualTreeBoruvka also has the `singleMode` parameter (for single-tree search),

[2017-09-22 14:17] zoq commented on #444
Hello @flying-sheep flying-sheep, thanks for taking a closer look into the issue. Do you mind to open a PR on the models repo (https://github.com/mlpack/models), and adjust the existing find package file?

[2017-09-22 15:07] flying-sheep commented on #444
shouldn’t it be in the main repo?

this way the file can be installed to the system alongside libs, executables and headers by mlpack’s current build system.

[2017-09-22 15:40] rcurtin commented on #444
@flying-sheep: thanks so much for taking the time to put this together. I think it would be a good idea to include it in the main repo but there is not much point installing it into the system.  It may cause issues with package managers when a random file `FindMLPACK.cmake` is inserted into the filesystem.  Instead it should be included with the CMake distribution itself (which would be a change t

[2017-09-23 00:58] rcurtin commented on #1122
Ah, sorry for the slow response.  I was hoping to respond with a notification that I'd fixed everything but the fix is not quite there yet.  I mistyped the `PYTHONPATH`, no need for the trailing `mlpack/`:

[code]

and that should work.

[2017-09-23 14:26] craterkamath commented on #1118
Hey!! I would like to work on this issue. Can this be assigned to me? I am new to mlpack and might need a little bit if help to get started

[2017-09-24 10:29] zoq commented on #1118
Hello, @craterkamath your help is greatly appreciated, so feel free to work on the issue and let us know if you need any help.

Btw. Github doesn't support assigning issues to outside contributors, but anyone interested in this issue should read the conversation and see that the issue is taken up.

[2017-09-24 10:40] rcurtin commented on #1118
Actually sorry I have been working on this one. I should have assigned it to myself.

[2017-09-25 18:12] rcurtin commented on #1122
Ok, the issue should be fixed now, if you want to try the not-yet-merged bindings branch:

[code]

Then the problem you were having should be fixed.  You can install to some custom directory, then if you have `$LD_LIBRARY_PATH` set to the directory that includes `libmlpack.so` (or `libmlpack.so` is already found by the system linker), and the set of directories in `$PYTHONPATH` includes the direct

[2017-09-27 07:34] newling commented on #1122
It works :) Thanks a lot.

[2017-09-27 07:35] newling commented on #1123
It's working now, thanks!

[2017-09-29 11:20] andrewcz opened #1127 "problem with build"
[  3%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/methods/softmax_regression/softmax_regression.cpp.o
[  3%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/methods/softmax_regression/softmax_regression_function.cpp.o
[  4%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/methods/sparse_autoencoder/sparse_autoencoder.cpp.o
[  4%] Building CXX object src/mlpack/CMakeFiles/mlpack

[2017-09-29 12:47] rcurtin commented on #1127
I think the key here is these lines:

[code]

Did you once have HDF5 installed, but then later remove it?  If HDF5 isn't present on your system, then you can reconfigure and recompile Armadillo without HDF5 support, and the problem should go away.

[2017-10-01 07:04] kartik-nighania commented on #175
@rcurtin  @zoq
any easy to understand algorithm available for documentation?

[2017-10-05 00:08] sgiurgiu opened #1133 "Calling Train from multiple threads"
Hi,
I have the following code:

[code]

This code fails with

As far as I can tell this is due to the fact that Train calls Timers::Start and Timers::Stop, which in turn calls CLI::GetSingleton().timer.StartTimer(name);

Therefore, no matter what, even if my code is supposed to be thread safe (using one object per thread), because of the CLI object this particular usage is not possible.

Is there

[2017-10-05 01:30] rcurtin commented on #1133
Hi there,

You are right that this is a big problem, and thank you for bringing it to attention.  When the timers code was originally written, I think multithreading was not common yet (or at least it wasn't on my radar).  Now there is no excuse for something to not be threadsafe.  I'll look into this tomorrow and get a patch out.

Sorry for the inconvenience...

[2017-10-11 11:21] jhc0025 opened #1138 "negative subindex"
Hi, i've take mlpack from nuget package manager in visual studio 2017.

I wanted just radical, but no problem taking all.

The fact is, i've followed an example, that include care/math/random.hpp.
Of course, i included it, but as long as i kept it in project (didn't used it), at compiling time armadillo give me negative subindex because a trouble with boost, mlpack, or armadillo, don't know where

[2017-10-11 12:26] rcurtin commented on #1138
Hi there, thanks for the feedback. Can you say which line you had to delete? Thanks!

[2017-10-11 12:31] jhc0025 commented on #1138
I just deleted the
#include <mlpack/math/random.hpp>

El 11 oct. 2017 14:26, "Ryan Curtin" <notifications@github.com> escribió:

Hi there, thanks for the feedback. Can you say which line you had to
delete? Thanks!

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub
<https://github.com/mlpack/mlpack/issues/1138#issuecomment-335792791>, or mute

[2017-10-11 12:32] jhc0025 commented on #1138
In my Code.
 I didn't touch mlpack code.

El 11 oct. 2017 14:31, "Jose Ignacio de la Hera" <jhc0025@gmail.com>
escribió:

[2017-10-12 21:49] kvcuong opened #1139 "RNN, LSTM examples"
Hi,
The examples in the mlpack/tests help me a lot to understand ML. Could you share some tests on RNNs, LSTMs?

Thanks.

[2017-10-12 21:52] rcurtin commented on #1139
Hi there, I think maybe you are looking for `src/mlpack/tests/recurrent_network_test.cpp`.  Also take a look at the models repository: https://github.com/mlpack/models/.  @partobs-mdp did some nice work there with some benchmarking tasks for various RNN-related tasks.

[2017-10-12 21:53] rcurtin commented on #1138
Ah, okay.  Thanks for the clarification.  I'll go ahead and close this issue then, and anyone searching for a similar issue will be able to find this.  Thank you for sharing! :)

[2017-10-12 21:53] #1138 closed

[2017-10-12 21:54] rcurtin commented on #1099
Closing for inactivity.  Feel free to reopen.

[2017-10-12 21:54] #1099 closed

[2017-10-12 21:58] rcurtin commented on #345
Fixed via #1055.

[2017-10-12 21:58] #345 closed

[2017-10-12 21:59] rcurtin commented on #202
I'm going to go ahead and close this now that the automatic binding generator is done and we have Python bindings.  Although it would be nice to add more languages (and that will happen over time), we can either open a new issue for that or simply work on it without an issue.

[2017-10-12 21:59] #202 closed

[2017-10-12 22:00] rcurtin commented on #173
I think this issue is no longer really relevant.  We've kind of settled on using OpenMP where possible, and in many places a lower-level implementation is parallel on its own (like OpenBLAS for instance).  So it would always be nice to parallelize things that aren't already parallel, but the issue here---which was to figure out what parallelism framework to use---is now finished, in my opinion.

[2017-10-12 22:00] #173 closed

[2017-10-12 22:07] kvcuong commented on #1139
Thank for your quick reply.
Yes, I did not see that in my mlpack 2.2.5 but in online repos.
A+

[2017-10-12 22:07] #1139 closed

[2017-10-12 22:09] rcurtin commented on #1139
Yep, the neural network support has not been released yet.  When it is (mlpack 3.0.0), those tests will be included.  Glad you found what you need. :)

[2017-10-16 15:12] zoq commented on #1112
I saw your comment on the BigBatch SGD optimizer PR, if you are interested in implementing another optimizer, let me know there are a lot of interesting papers I really like to see implemented in the future like: YellowFin: https://arxiv.org/abs/1706.03471 or Natasha 2: https://arxiv.org/abs/1708.08694, etc.

[2017-10-16 17:57] Rajiv2605 commented on #1112
@zoq I would love to implement an optimizer! YellowFin looks interesting. Could you suggest a few more?

[2017-10-16 18:10] rcurtin commented on #1112
Here's another one, CompAdaGrad: https://arxiv.org/pdf/1609.03319.pdf

However I won't lie, I have a secret motivation for that one---I know Nishant well (he actually wrote the LARS support and some other methods for mlpack), and I'd love to be able to tell him we implemented and tested his optimizer. :)  Maybe you are interested more by a different optimizer, so don't feel obligated to pick that

[2017-10-16 20:16] zoq commented on #1112
I didn't know about CompAdaGrad, just skimmed over the paper, would be great to have an implementation.

[2017-10-17 06:13] Rajiv2605 commented on #1112
@rcurtin CompAdaGrad looks interesting! I will work on it!

[2017-10-17 11:37] jhc0025 commented on #1138
Hi Ryan.

It disappeared when i deleted the line of the random hpp.
I added and dont need It, so it doesnt affect to me when i delete the line.

But all the time ive compiled and added random library i got the error of
compiling and It didnt work.

My project was fixed deleting the include, but the failure was on mlpack or
boost.

Was a really weird error message.

Regards

El 12 oct. 2017 23:53,

[2017-10-19 18:23] Rajiv2605 commented on #1112
@rcurtin @zoq Hey, I will work on CompAdaGrad! This is the first time I am actually implementing a research paper code. So, it would be great if you could give many suggestions. How do I go about it? I am really excited about this and I believe that it would be a great learning experience.

[2017-10-22 15:02] KARTHEEKCIC commented on #1090
@rcurtin I would like to work on this.

[2017-10-22 21:34] #1133 closed

[2017-10-24 16:36] zoq commented on #1112
Sorry for the slow response, what you could do is to go over an existing implementation/paper to see if you understand the overall idea; you could start with Adam or AdaGrad. If you have any questions, please feel free to join us on IRC #mlpack.

[2017-10-24 16:38] zoq commented on #1090
@KARTHEEKCIC  please feel free to work on an implementation and don't hesitate to ask any questions either here or via IRC #mlpack.

[2017-10-24 19:30] Rajiv2605 commented on #1112
@zoq Thanks man! I'll do that :smile:

[2017-10-26 05:46] KARTHEEKCIC commented on #1090
@zoq. Ok I will work on that.

[2017-10-27 09:32] AbdealiJK opened #1145 "Using different metrics in KNN"
I notice that EuclideanDistance is hardcoded in the location:
https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/neighbor_search/ns_model.hpp#L37

I want to change this to some other LMetric instance like SquaredEuclideanDistance or ManhattanDistance. Or maybe another metric type altogether.

I can see there is a TreeType() I can set, but want something like MetricType() or something

[2017-10-29 06:35] rcurtin commented on #1145
`NSModel` is made for the convenience of `knn_main.cpp` and `kfn_main.cpp`, so I'd suggest using the `NeighborSearch` class directly.  Here's a tutorial:

http://mlpack.org/docs/mlpack-git/doxygen/nstutorial.html

If you look at the section titled 'The extensible 'NeighborSearch' class', you will see that you can use a custom metric there.  This should get you what you are looking for.  But do be

[2017-10-29 08:33] rcurtin commented on #444
@flying-sheep: thanks again---I'll mark this issue resolved instead of inactive now that models#2 is merged.  Very useful to have a good CMake script to find mlpack, and I'm sure it will be found useful by many. :)

[2017-10-29 09:09] rcurtin commented on #1047
With #1137 merged this can be closed as fixed.

[2017-10-29 09:09] #1047 closed

[2017-10-29 09:16] rcurtin commented on #1113
Closing for inactivity---feel free to reopen if necessary.

[2017-10-29 09:16] #1113 closed

[2017-10-29 16:42] sagartripathy opened #1146 "error during built"
during building mlpack this error is throwing during testing
/home/Music/mlpack-2.2.4/src/mlpack/tests/gmm_test.cpp(234): fatal error in "GMMTrainEMSingleGaussianWithProbability": difference{5.40066%} between g.Component(0).Mean()[0]{0.47299670939187255} and 0.5{0.5} exceeds 5%
/home/Music/mlpack-2.2.4/src/mlpack/tests/load_save_test.cpp(637): fatal error in "LoadHDF5Test": critical check test.n_r

[2017-10-29 16:45] rcurtin commented on #1146
Can you try with the latest version, mlpack-2.2.5?  The GMMTrainEMSingleGaussianWithProbability test failure is an unlucky random seed, nothing is actually wrong.  I believe that test's tolerance was updated in the newer release to reduce false positives.

[2017-10-30 05:32] sagartripathy commented on #1146
same error for mlpack-2.2.5

home/Music/mlpack-2.2.5/src/mlpack/tests/gmm_test.cpp(234): fatal error in "GMMTrainEMSingleGaussianWithProbability": difference{5.40066%} between g.Component(0).Mean()[0]{0.47299670939187255} and 0.5{0.5} exceeds 5%
/home/Music/mlpack-2.2.5/src/mlpack/tests/load_save_test.cpp(637): fatal error in "LoadHDF5Test": critical check test.n_rows == 4 failed [2 != 4]

*** 2 f

[2017-10-30 12:13] flying-sheep commented on #444
I'm not sure if I'd consider it fixed. I think the models repository might be too hard to find.

[2017-10-30 13:38] rcurtin commented on #444
At least from our perspective I consider it fixed.  You are right that the models repository may be somewhat hard to find, but really the place to contribute this (and I would encourage it if you want to) is upstream to the CMake project.  The reason is that if we ship `FindMLPACK.cmake` with mlpack, then when someone tries to run `find_package(mlpack)`, this will fail completely unless mlpack (an

[2017-10-30 14:11] rcurtin commented on #1127
Closing for inactivity.  Please feel free to reopen if you are still having problems.

[2017-10-30 14:11] #1127 closed

[2017-10-30 14:29] zoq commented on #1146
Perhaps it makes sense to use 6% tolerance instead of 5% (because of random error), as done for the covariance components.

[2017-10-30 14:35] zoq commented on #1146
Also, it might be helpful to see how often the test fails. This could be done by setting the random seed at the top of the ``GMMTrainEMSingleGaussianWithProbability`` test case and afterwards run that test in a loop:

[code]

[2017-10-30 14:52] flying-sheep commented on #444
…not at all, that’s exactly when i want to call `find_package(mlpack)`: when compiling something that depends on mlpack.

[2017-10-30 20:31] rcurtin commented on #444
If I do not have `FindMLPACK.cmake` installed in any CMake path and I have a simple `CMakeLists.txt` containing only the following:

[code]

then the output I receive is particularly unexpected and confusing:  (I've snipped irrelevant output)

[code]

That provides a warning, but not an error!  So configuration actually completes successfully, even though mlpack is not found at all.  In my view th

[2017-10-30 21:32] rcurtin commented on #1146
I did some testing with both mlpack 2.2.5 and the current git master branch; I saw about the same rate of failure for this test in both (12/4000 = 0.003 in 2.2.5, 10/3500 = 0.0029 in git master).  So increasing the tolerance to 6% is a reasonable change in my opinion.

The HDF5 bug is fixed recently with this commit: https://github.com/mlpack/mlpack/commit/86cb5b20ae9632b9908b6abb63cfaaa5c23a92a5,

[2017-10-31 07:00] sagartripathy commented on #1146
Guys thank you for the help.

[2017-11-04 13:56] omkar13 commented on #722
Is this issue still open? I would like to start contributing.

[2017-11-04 14:54] zoq commented on #722
@omkar13  Yes, this issue is pretty much open ended. Recently I read an interesting blog post about the ``d2cgsummary`` (http://aras-p.info/blog/2017/10/23/Best-unknown-MSVC-flag-d2cgsummary/) flag which might be helpful or the "Templight" profiling tool (https://github.com/mikael-s-persson/templight) might also come in handy.

[2017-11-10 06:57] sohaibali01 opened #1149 "HRectBound can only be used with the LMetric<> metric type"
Hi,
Following example at http://mlpack.org/docs/mlpack-2.2.2/doxygen.php?doc=metrics.html, I wrote this,

class ExampleMetric
{
public:
	ExampleMetric() { }
	template<typename VecTypeA, typename VecTypeB>
	static double Evaluate(const VecTypeA& a, const VecTypeB& b)
	{
		return arma::norm(a - b);
	}
};

Then used this function in the NN computation as under,

int main()
{
	NeighborSearch<NearestNe

[2017-11-10 07:35] sohaibali01 commented on #1149
My bad.....
I should have used VP tree....
just replaced the line
NeighborSearch < NearestNeighborSort, ExampleMetric, arma::mat, mlpack::tree::VPTree> nn(trainingData);

and it works now.......

[2017-11-10 07:35] #1149 closed

[2017-11-10 15:17] rcurtin commented on #1149
Glad you got it figured out, feel free to open any more issues if you have any more problems in the future. :)

[2017-11-10 20:38] bching28 opened #1150 "reinforcement learning build missing"
Hi there,

I just managed to build mlpack and was looking for the reinforcement learning executable.  I noticed that there was no executable created for reinforcement learning.  Could you provide me with some insight here?

Thanks

[2017-11-10 21:11] rcurtin commented on #1150
There's no standalone program for reinforcement learning.  What are you trying to do?  Maybe you can find some lower-level C++ classes that do what you are looking for in the library.

[2017-11-10 21:50] bching28 commented on #1150
I was trying to implement reinforcement learning (Q-Learning specifically) into a SAT solver (written in C++).  I wanted to see if implementing reinforcement learning in the restart policy could improve the performance of a SAT solver.

If there's no standalone program, then what does the reinforcement learning folder and the q-learning code do?  Like what is it used for?

[2017-11-11 13:39] zoq commented on #1150
Providing an executable for the Reinforcement learning methods is difficult since the paradigm can be useful in a variety of tasks including game playing, modeling, robotics, etc. Each task is slightly different, however, it could be useful to provide an executable for some tasks like playing games.

Anyway, as @rcurtin already pointed out you have to use the C++ interface do what you are looking

[2017-11-11 20:27] bching28 commented on #1150
Thanks for getting back to me on this.  So I am new to this type of research and development and have just started learning about reinforcement learning in the past couple months.  I have never taken open-source source code (a SAT solver) and a library (mlpack) and tried to integrate them together.  What are some good first steps for doing this?  Is there actually a particular C++ file for reinfor

[2017-11-12 12:33] gauravk97 commented on #922
Hi, I saw that this issue was still open. I wanted to contribute to mlpack and this seemed a good place to start contributing. Is anybody working on it?  If nobody is then maybe I should? :)

[2017-11-12 12:56] zoq commented on #1150
If you like to use the Q-Learning method basically it's sufficient to write an "Environment" that provides a Sample, IsTerminal and InitialSample function, for an example you can take a look at: https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/reinforcement_learning/environment/cart_pole.hpp which implements the Cart Pole task. Once you implemented the task you like to solve you can

[2017-11-12 19:49] bching28 commented on #1150
I was planning on modifying the Glucose SAT solver (http://www.labri.fr/perso/lsimon/glucose/).  I am modifying **Glucose 3.0**.  I am still trying to identify the states I will be using for modifying the restart policy.  But thank you for the help so far.  I will take some time to look into the cartpole code you sent me.

[2017-11-13 13:53] sourabhvarshney111 commented on #1112
I would also like to implement any algorithm. Can I?

[2017-11-13 14:33] zoq commented on #1112
Of course, do you have something in mind? I think implementing an optimizer is a good start but we are always open for anything else.

[2017-11-13 15:15] rcurtin commented on #922
Hi Gaurav, you are more than welcome to contribute to this issue.  Just identify a commonly failing test (some are listed above) and then see if you can either fix an issue in the code that causes it, or adjust the tolerance of the test accordingly if the code is behaving properly.

[2017-11-13 23:09] zoq commented on #1150
Thanks for the link, just glanced over the code and it looks really interesting, I'll take a closer look in the next days.

[2017-11-14 08:48] bching28 commented on #1150
Sure no problem. And thanks again for the help

[2017-11-14 16:01] sourabhvarshney111 commented on #1112
@zoq @rcurtin Optimizing which algorithm?

[2017-11-14 16:08] zoq commented on #1112
That's up to you, but if you like you could look into: Nadam (Nesterov-accelerated Adaptive Moment Estimation), the optimizer combines Adam and NAG. Also, for examples you could take a look at: https://github.com/mlpack/mlpack/tree/master/src/mlpack/core/optimizers

[2017-11-15 15:19] sourabhvarshney111 commented on #1112
Sorry for late response. But I would do that.

[2017-11-15 19:02] bching28 commented on #1150
How do I get the cart_pole code with Q-Learning to run?

Also, would you recommend installing mlpack using the source code from github or through the ubuntu package manager?  I don't believe the package manager includes the reinforcement learning folder.  If I install mlpack from the files from github, should I just copy the files into usr/local/ and just install there?

[2017-11-15 20:20] zoq commented on #1150
You have to build from source to use the reinforcement methods (will be included in mlpack 3.0). You can follow the build steps as shown here: http://www.mlpack.org/docs/mlpack-2.2.5/doxygen/build.html#build and you can use ``make install`` if you like to install mlpack to ``/usr/include/mlpack/`` and ``/usr/lib/``, once it has built or ``/usr/local/``on mac OS.

About how to use ``cart_pole`` in

[2017-11-16 01:38] bching28 commented on #1150
I cloned the git repository into this directory: ~/Documents/mlpack and followed the steps in the link (created a build folder, make, make install).  It seems that "make install" installed mlpack files in usr/local/include, usr/local/lib, and usr/local/bin.  I hope that is ok since I am running mlpack on Ubuntu 16.04.

Now, am I correct in assuming that test.cpp is the above code you posted?  I co

[2017-11-16 01:44] zoq commented on #1150
Sorry ``libmlpack.dylib`` is mac OS specific, you can just link against ``libmlpack.so`` or just use:

[code]

since ``/usr/local/lib/`` and ``/usr/local/include`` should be in your linker path. Also you are right about ``test.cpp``. Let us know if that solves the issue.

[2017-11-16 01:45] zoq commented on #1150
Btw. you can also use ``g++`` instead of ``clang++``.

[2017-11-16 02:09] bching28 commented on #1150
I tried "clang++ test.cpp -lmlpack -larmadillo -std=c++11" but I am still getting that same fatal error.  I also tried linking it manually with "clang++ test.cpp /usr/local/lib/libmlpack.so -I/usr/local/include/mlpack -larmadillo -std=c++11".  This also gives me the same fatal error.

Should I save the test.cpp in mlpack/src/mlpack/tests?

[2017-11-16 02:10] bching28 commented on #1150
Actually, hold off on that.  I tried g++ and it seems to not be a fatal error.  I am out of disk space.

[2017-11-16 08:29] bching28 commented on #1150
So I got the the command to work: **g++ test.cpp -lmlpack -larmadillo -std=c++11**.  All I noticed was that it created an output file called **a.out**.  Based on the code, shouldn't it have outputted something on the terminal (e.g. "Average return: ...")?  Nothing printed onto the terminal.  I attached a screenshot of my environment.

<img width="1380" alt="screen shot 2017-11-16 at 12 27 37 am" s

[2017-11-16 14:20] rcurtin commented on #1150
@bching28: `a.out` is the compiled program produced by `g++`.  Now you have to run it:

[code]

and that should give the output you are looking for.

[2017-11-16 15:59] bching28 commented on #1150
Oh sorry. I forgot to mention, I did try running the **./a.out** and just took another look again at the error message I received last night.  It's having trouble loading shared libraries.  So I just tried ./a.out /usr/local/lib and ./a.out /usr/local/lib/libmlpack.so.2, but it doesn't seem to make a difference.

[2017-11-16 16:01] bching28 commented on #1150
Oh sorry. I forgot to mention, I did try running the **./a.out** and just took another look again at the error message I received last night.  It's having trouble loading shared libraries.  So I just tried **./a.out /usr/local/lib** and **./a.out /usr/local/lib/libmlpack.so.2**, but it doesn't seem to make a difference.

And sorry, pressed the "close and comment button" by accident...just woke up

[2017-11-16 16:01] rcurtin commented on #1150
Right, you'll need to set `LD_LIBRARY_PATH` like in the readme.  Try this:

[code]

and that should fix the problem and the program should run successfully.

[2017-11-16 16:05] bching28 commented on #1150
Perfect!  I got an output this time.  I will take a closer look at the code later today.  I had a couple questions about the Q-Learning code in the folder after I was taking a look last night, but I will post them once I gather my thoughts.

[2017-11-16 19:02] bching28 commented on #1150
I am trying to implement similar code to the cart_pole.hpp code that @zoq mentioned above.  So one of my confusions stems from the `double Sample()` function in **cart_pole.hpp**.

<img width="514" alt="screen shot 2017-11-16 at 10 51 22 am" src="https://user-images.githubusercontent.com/29585989/32909802-5f45cf02-cabc-11e7-8b39-2adf9d703ee5.png">

My understanding of Q-Learning is that states are

[2017-11-17 12:39] zoq commented on #1150
For Q-Learning you can ignore the second Sample function (``double Sample(const State& state, const Action& action) const``) which is just a wrapper for the Sample function which also takes the ``nextState`` as input. In some cases you just need the reward so, the state after performing the given action is irrelevant and for convenience, we provide a wrapper.

You are right about ``BestAction`` wh

[2017-11-17 18:52] rcurtin opened #1152 "Add tests for command-line and Python bindings"
This is a great issue for anyone looking to get involved with mlpack development.  No huge amount of C++ or machine learning knowledge is necessary; in order to write a test, essentially all you need to know is how the particular binding you are writing a test for works, and you can use the existing test code as boilerplate for the new tests.  So I think this is a good place to get started.

If yo

[2017-11-20 05:53] bching28 commented on #1150
Your descriptions are very detailed and extremely helpful.  Thank you.  I am now in the process of integrating the two (Glucose and mlpack) together.  I am still trying to write a file similar to cart_pole.hpp, which would be SATrestart.hpp in my case.  I am saving SATrestart.hpp in the mlpack folder (correct me if I am wrong to have placed it here).

My states would have to come from variables an

[2017-11-21 12:44] zoq commented on #1150
You can do that, in fact, you don't have to modify any mlpack files, you can just link against mlpack, include the necessary files inside ``Solver.cc`` and implement the wrapper.

To link glucose against mlpack you have to modify the Makefile (``mtl/template.mk``) here is what I did:

add ``/path/to/libmlpack.so -larmadillo`` to ``LFLAGS``:

[code]

and add the mlpack include directory to ``CFLAGS

[2017-11-23 23:31] bching28 commented on #1150
Hi @zoq

So there was a slight change of plans for my project.  I am now trying to modify MiniSAT (https://github.com/niklasso/minisat) instead of Glucose because the restart policy and code is much easier to understand in MiniSAT.  It should not make too much of a difference since Glucose is based off of MiniSAT.  Also, the actions of the reinforcement learning agent have changed.  I am no longer

[2017-11-25 16:31] zoq commented on #1150
I can't test it right now, but it looks like you could modify:

[code]

instead of ``LFLAGS`` and ``CFLAGS``, let me know if that works.

Yes, ``Solver.cc`` would be the place.

[2017-11-25 18:25] bching28 commented on #1150
I modified the following:
`MINISAT_CXXFLAGS` to be
[code]
and `MINISAT_LDFLAGS` to be
[code]

I then added the following `#include` and `namespaces` to `Solver.cc`:
[code]

The very first error I am getting is this:
<img width="735" alt="screen shot 2017-11-25 at 10 08 34 am" src="https://user-images.githubusercontent.com/29585989/33233318-417471ea-d1c9-11e7-8086-f35b09d9f844.png">

So it's compla

[2017-11-25 18:52] zoq commented on #1150
Yeah, adding ``-std=c++11`` to ``MINISAT_CXXFLAGS`` should solve the build issue.

[2017-11-25 19:02] bching28 commented on #1150
Cool, adding `-std=c++11` solved basically all the errors.  I am seeing one more though:
<img width="733" alt="screen shot 2017-11-25 at 10 59 10 am" src="https://user-images.githubusercontent.com/29585989/33233747-c405d256-d1cf-11e7-8ecf-e15a8d520f24.png">

Does this require me to add `#include <cmath>` to `Solver.cc` or something related to that?

[2017-11-25 19:10] zoq commented on #1150
Including ``#include <mlpack/core.hpp>`` first; this should solve the issue, it will include ``#include <mlpack/core/math/shuffle_data.hpp>``.

[2017-11-25 19:41] bching28 commented on #1150
That solved the math error.  Thanks!  Now aside from the warnings from the last screenshot, I am getting this message that it failed after I type in `make` in the terminal:
<img width="734" alt="screen shot 2017-11-25 at 11 39 23 am" src="https://user-images.githubusercontent.com/29585989/33234085-82c51080-d1d5-11e7-9514-f3e3c66b9afa.png">

[2017-11-27 07:39] bching28 commented on #1150
Hi @zoq

I just finished writing `SATrestart.hpp` that I will use in `Solver.cc` in the following line (similar to line 61 in `q_learning_test.cpp`):
[code]
Can you take a look and see if you notice anything that might cause errors?  I can't test it currently until we figure out how to fix that compile error.  Here is the code for `SATrestart.hpp`:
[code]

A couple questions I have:
1. Is it ok th

[2017-11-27 12:30] zoq commented on #1150
About the build error, I guess if you remove the ``--static`` from the Makefile it should build just fine. I'll take a closer look at the code once I get a chance.

[2017-11-27 20:04] bching28 commented on #1150
I will test out removing `--static` and let you know the results of that.  And thank you.  Looking forward to hearing back from you about the code.

[2017-11-27 20:12] rcurtin commented on #1150
Hi @bching28, just a comment, I think many of the questions you are asking could probably be answered by experimenting with the code and inspecting it closely, so I'd encourage you to do that also instead of waiting on answers from mlpack maintainers---it could be faster and more illuminating to do that.

[2017-11-27 20:36] bching28 commented on #1150
Hi @rcurtin, I agree.  I will definitely be testing the code and experimenting with mlpack.  I am just running tests on the original, unmodified MiniSAT at the moment to obtain data and it's taking longer than I expected.  But once I finish my tests, I will continue to experiment with the code.  Thanks!

[2017-11-30 08:19] hOdOrNight opened #1155 "Memory access violation."
While runnig 765 test cases I am getting this error.
unknown location(0): fatal error in "RandomizedPCADimensionalityReductionTest": memory access violation at address: 0x00000000: no mapping at fault address

[2017-11-30 13:35] zoq commented on #1155
Thanks for bringing that up, the issue is it's not granted that the decomposition (QR) is successful, we could catch that case e.g. by checking the return value of the QR operation and restart. However I think, we don't see this issues with real-world data. Anyway, if you like to take a closer look into the issue, let me know, but don't feel obligated. A good start might be to take a look at the r

[2017-11-30 14:15] wkk91193 commented on #1152
@rcurtin  I'd like to take this...

[2017-11-30 14:28] rcurtin commented on #1152
@wkk91193: go ahead---pick a test and go for it.  From the description:

[2017-11-30 15:03] hOdOrNight opened #1156 "Core dumped"
While runing
$ mlpack_knn --help
or,
$ mlpack_knn -r dataset.csv -n neighbors_out.csv -d distances_out.csv -k 5 -v

Output:
Segmentation fault (core dumped)

[2017-11-30 15:11] hOdOrNight opened #1157 "No module named MLpack"
I have done all as told in MLpack guide.
But while running this on python:
 from mlpack import knn

output:
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: No module named 'mlpack'

[2017-11-30 15:23] rcurtin commented on #1156
This isn't enough information to help debug.  Can you tell us what you have done?

[2017-11-30 15:24] rcurtin commented on #1157
This isn't enough information to help us debug.  Can you tell us what you've done?

[2017-12-01 19:09] serendipity5497 commented on #150
Hey I would like to work on this.

[2017-12-01 19:12] rcurtin commented on #150
Go ahead, I'd suggest starting with a single-tree implementation.  You can take a look at the paper referenced in the comment above and references (or my thesis "Improving Dual-Tree Algorithms" although I can't guarantee it's exciting to read), and at the implementations of single-tree and dual-tree algorithms already in mlpack as an example.

[2017-12-04 06:31] wkk91193 commented on #1152
@rcurtin I tried running the sample test fixture in src/mlpack/tests/main/pca_test.cpp on Clion, but I face [this](https://pastebin.com/aT5vpFav). Am I missing out somthing here?

[2017-12-04 17:21] rcurtin commented on #1152
I see you posted to the mailing list also, so I'll answer there.

[2017-12-06 23:15] bching28 commented on #1150
Hey guys, just wanted to let you know that I am making pretty good progress.  I have a quick question.  So I've noticed that when the number of steps reaches `config.ExplorationSteps()`, the program throws an error out:
<img width="713" alt="screen shot 2017-12-06 at 3 12 27 pm" src="https://user-images.githubusercontent.com/29585989/33690327-e7fe8722-da97-11e7-91d9-77c390b4fb8c.png">

So for exam

[2017-12-07 13:39] zoq commented on #1150
Can you provide a simple example to reproduce the error?

At the start of the training process the epsilon value is often initialized to a large probability, to encourage exploration since we don't know much about the environment. The value is then annealed down to a small constant, to cool down the exploration, since we could assume the agent learned most of what it needs about the environment. T

[2017-12-07 15:45] mknafl opened #1158 "open mp problems attempting to build with visual studio 2015"
armadillo includes cause problems when attempting to build following tutorial at
https://keon.io/mlpack-on-windows/
with
armadillo version 8.300.1

uses open mp 3.1 compiler directives and these cause problems since visual studio 2015 does not support that version of open mp or I don't know how to switch visual studio 2015 open mp to 3.1

I am able to build by disabling openmp, but this should cau

[2017-12-07 16:52] bching28 commented on #1150
Sure, so I am having my SAT solver's main function set up the QLearning and initialize the agent.  The current setting for `ExplorationSteps` is `100` at the moment.  I have a `for loop` that basically solves the same SAT problem over and over again, but I use the same agent I initialized earlier.  In my case, each restart that the SAT solver performs corresponds to a `step`.  In the first for loo

[2017-12-07 18:05] zoq commented on #1158
Just for clarification, are you saying mlpack does use some OpenMP 3 feature or armadillo? Either way can you paste the build error here?

[2017-12-07 20:33] mknafl commented on #1158
When I hit the step to use mlpack.sln and I build mlpack with openmp as on, here is the output I get.  The errors appear related to armadillo includes using openmp 3.1 pragmas

1>------ Rebuild All started: Project: ZERO_CHECK, Configuration: Debug x64 ------
1>  Checking Build System
1>  CMake does not need to re-run because C:/Dev/mlpack-2.2.5/mlpack-2.2.5/build/CMakeFiles/generate.stamp is up-t

[2017-12-08 14:18] zoq commented on #1158
Thanks, looks like armadillo > 7.800 does use OpenMP 3.1+ for some operations, are you able to switch to armadillo 7.800: https://sourceforge.net/projects/arma/files/?

[2017-12-08 14:23] zoq commented on #1150
Thanks for the explanation, do you mind to provide a minimal code sample that I can use to reproduce the issue, perhaps a modification of the existing test is enough?

Annealing kicks in once the current step is > as the given ExplorationSteps: https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp#L203

[2017-12-08 15:37] mknafl commented on #1158
I could try that, but I first tried something else that your comments inspired.  I tried to find other compilers that supported openmp 3.1+ and clang did.  Visual Studio 2015 has a clang platform toolset so I tried to compile the debug version of mlpack using this.  I no longer got the openmp errors but I did get the following output.  I am not very familiar with clang, so if you have any ideas on

[2017-12-08 16:06] zoq commented on #1158
Ah, right never used clang on windows, but that's definitely an option, if we got this to work, I'll add clang to appveyor config (Windows CI).

Did you reconfigure mlpack (``cmake -G "Visual Studio 14 2015 Win64" ...``) with the clang toolset? Can you post the cmake output here?

[2017-12-08 18:46] mknafl commented on #1158
I did 2 things.  Both failed, but both are close.

1.  Just changed these settings in the built build\mlpack.sln for the mlpack project
c/c++ -> general change "Debug information format" to "Full Debug Information"
c/c++ -> code generation change "Enable C++ Exceptions" to "Yes(-fexceptions)"

These were the source of the previous errors.  After doing that I get
1>------ Rebuild All started: Proje

[2017-12-09 08:52] #1118 closed

[2017-12-09 16:09] haritha1313 commented on #1112
@zoq I have gone through many of the implemented optimizers and I think I will be able to implement nadam. I can't find any existing PR for the same. Can I move forward or is it already being worked upon?

[2017-12-09 16:50] sourabhvarshney111 commented on #1112
@haritha1313 I am working upon it. I would complete it in a day or two.

[2017-12-09 17:26] rcurtin commented on #1123
It took a long time but #1125 is merged so this is now fixed.  Sorry about the delay...

[2017-12-09 17:26] #1123 closed

[2017-12-09 17:27] rcurtin commented on #1122
Also fixed with #1125.

[2017-12-09 17:27] rcurtin commented on #1119
Fixed in #1125.

[2017-12-09 17:27] #1119 closed

[2017-12-09 17:28] rcurtin commented on #1120
Fixed with #1140 merge.

[2017-12-09 17:28] #1120 closed

[2017-12-09 17:32] rcurtin commented on #1158
Hmm, can you try setting `BOOST_ROOT` to `C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/boost.1.65.1.0/`?  I have had more success using that variable in the past than using `BOOST_INCLUDEDIR` or `BOOST_LIBRARYDIR`.  I think that the compilation will work with clang once we can get CMake finding Boost correctly.

[2017-12-09 17:32] zoq commented on #1112
@haritha1313 if you like you can take a look at: AMSGrad https://openreview.net/forum?id=ryQu7f-RZ and https://openreview.net/pdf?id=ryQu7f-RZ.

[2017-12-09 17:33] rcurtin commented on #1146
I'm going to go ahead and close this for inactivity---if there is still a problem that needs to be resolved, we can reopen it.

[2017-12-09 17:33] #1146 closed

[2017-12-09 17:47] rcurtin opened #1160 "Allow custom layer types in neural networks"
Currently a user can't implement their own custom layer type and use it in an `FFN` or `RNN`.  We'd discussed a solution that might look a little bit like this for the user:

[code]

Something like that could be implemented by making the `LayerTypes` typedef a template typedef that also includes the set of extra classes.  (Of course that is not the only way to do it.)

[2017-12-09 17:50] rcurtin commented on #1045
EPEL7 update submitted: https://bodhi.fedoraproject.org/updates/FEDORA-EPEL-2017-e36735026b

Once that's done I'll get the EPEL6 update too.  It took a while to get a provenpackager for Fedora to help rebuild dependent packages.

[2017-12-09 17:55] rcurtin commented on #541
Since all the layers support templated `InputDataType` and `OutputDataType` parameters now, I think that this is resolved.

[2017-12-09 17:55] #541 closed

[2017-12-10 11:16] haritha1313 commented on #1112
@zoq  ill definitely look into it :+1:  . Thanks for the suggestion.

[2017-12-11 06:36] sourabhvarshney111 opened #1161 "Mistakes in implementation of Adam"
There are some typos in the implementation of Adam

[2017-12-11 06:36] sourabhvarshney111 commented on #1161
I would like to solve the same.

[2017-12-11 09:30] sourabhvarshney111 commented on #1161
Sorry, Didn't realize the use of mod operator.

[2017-12-11 09:30] #1161 closed

[2017-12-11 09:47] deepanshugarg257 commented on #1021
If anyone already isn't, I'd like to work on this.

[2017-12-11 11:16] olesyaksyon opened #1163 "Weak Learner for AdaBoost"
I would like to see examples, how to pass weak learner to AdaBoost. Agree to definition - weak learner is some weak classifier (perceptron is by default). But when I create weak classifier like:

mlpack::perceptron::Perceptron<> w_l(mat_, labels, 2)

and pass it to AdaBoost like:

mlpack::adaboost::AdaBoost<arma::mat> adaboost(mat_, labels, w_l);

it return mistake - w_l should be arma::Mat<double

[2017-12-11 11:22] olesyaksyon commented on #1163
I also tried to pass weights (w_l.Weights()), but I have another mistake:

error: no matching function for call to ‘arma::Mat<double>::Mat(const arma::Mat<double>&, arma::Mat<double>&, const arma::Row<long unsigned int>&, arma::rowvec&)’
     WeakLearnerType w(other, tempData, labels, weights);

[2017-12-11 14:18] rcurtin commented on #1163
Can you give the exact error output?  I reviewed thd documentation and your code and it appears you are doing everything correctly.

Note that when you pass a weak learner to `AdaBoost`, only the parameters it was trained with are used to train new learners.  So in your example you are passing a `Perceptron` with default parameters, which will be no different than passing no weak learner at all.

[2017-12-11 14:26] rcurtin commented on #1021
Yes, go ahead---but I would suggest doing small pieces at a time instead of the entire thing at once, to make reviewing easier.

[2017-12-11 14:46] olesyaksyon commented on #1163
in more details:

1. Var:

**mlpack::perceptron::Perceptron<> w_l(mat_, labels, 2);
mlpack::adaboost::AdaBoost<arma::mat> adaboost(mat_, labels, w_l);**

where mat is arms::Mat<double> and labels is arma::Row <long unsigned int>.

**error:** no matching function for call to ‘mlpack::adaboost::AdaBoost<arma::Mat<double> >::AdaBoost(arma::Mat<double>&, arma::Row<long unsigned int>&, mlpack::perceptr

[2017-12-11 14:51] rcurtin commented on #1163
The issue is with the type you are using: `mlpack::adaboost::AdaBoost<arma::mat>`.  Instead this should be `mlpack::adaboost::AdaBoost<mlpack::perceptron::Perceptron<>>`.

[2017-12-11 14:53] olesyaksyon commented on #1163
thanks for help, now it works!

[2017-12-11 14:53] #1163 closed

[2017-12-11 14:53] rcurtin commented on #1163
Sure, happy to help. :)

[2017-12-11 20:20] mknafl commented on #1158
Still not right...

C:\Dev\mlpack_2.2.5_clang\mlpack-2.2.5\build>cmake -G "Visual Studio 14 2015 Win64" -T "v140_clang_c2" -DBLAS_LIBRARY:FILEPATH="C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DLAPACK_LIBRARY:FILEPATH="C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DARMADILLO_INCLU

[2017-12-11 20:44] rcurtin commented on #1158
I think that this problem applies to you:

https://stackoverflow.com/questions/12715294/finding-boost-compiled-with-clang-with-cmake

What compiler did you compile Boost with?  You might need to specify that as `Boost_COMPILER`.

[2017-12-12 05:33] mknafl commented on #1158
I don't think I compiled Boost, I got it as a Nuget package following the install directions on
https://keon.io/mlpack-on-windows/
I did try to change to change the Boost_Compiler option as a parameter and in the CMakeLists.txt.  Neither appeared to work.  I tried both -vc140 and -vc140_clang_c2.  Any help is appreciated.

[2017-12-12 08:28] gurupunskill commented on #1152
I'd like pick a few tests too.

[2017-12-12 14:51] rcurtin commented on #1152
Sure, go ahead, looks like a PR is open for EMST (#1165) now.

[2017-12-12 18:07] haritha1313 commented on #1112
@zoq I have implemented amsgrad and it is building successfully (optimizer files in mlpack/core/optimizers/ and the test file in mlpack/tests/). Is there any other standard procedure for testing implemented optimizers?

[2017-12-12 19:03] zoq commented on #1112
@haritha1313 That's it, we can solve and discuss any issues within the PR.

[2017-12-13 04:57] mknafl commented on #1158
I also tried to change my FindBoost.cmake based on this suggestion
https://gitlab.kitware.com/cmake/cmake/issues/17505
I now get this as my output
C:\Dev\mlpack_2.2.5_clang\mlpack-2.2.5\build>cmake -G "Visual Studio 14 2015 Win64" -T "v140_clang_c2" -DBLAS_LIBRARY:FILEPATH="C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DLAPACK_LIBRARY:FILE

[2017-12-13 06:37] arunikayadav42 opened #1167 "I am not able to configure my CMake library completely"
[ml_pack_not_able _to_execute_make]
(https://user-images.githubusercontent.com/28708494/33924905-074199a6-dffe-11e7-853e-81e5d482e79e.png)

[2017-12-13 09:56] manish7294 commented on #1167
Please make sure to install all prerequisites before configuring cmake.
`sudo apt-get install libboost-math-dev libboost-program-options-dev libboost-test-dev libboost-serialization-dev libarmadillo-dev binutils-dev` for Ubuntu & Debian sysytem

[2017-12-14 14:57] kvcuong commented on #1158
Hi,
I have had the same problem, then, I switch to armadillo 7.800, and it works. However, I got an error about CLI::ParseCommandLine(argc, argv); which is not defined in the class and Log::Fatal return an exeption of runtime_error(); Do you have any idea?

Thanks.

[2017-12-14 15:24] zoq commented on #1167
@arunikayadav42 Can you post the complete CMakeOutput.log, the image you posted got cut off.

[2017-12-14 22:47] evgfreyman commented on #1152
I was looking to get involved into this project and tried to write a couple of tests, but met a problem: if you follow proposed way of writing tests (similar to src/mlpack/tests/main_tests/pca_test.cpp) then you get mlpackMain and mlpack::bindings::tests::programName redefined. Although it's relatively easy to handle the first issue, the second is much harder. The problem is that different program

[2017-12-14 23:01] evgfreyman commented on #1152
Just noticed PR for EMST (#1165) and it looks that it was built. Do I misunderstand something?

[2017-12-14 23:25] rcurtin commented on #1152
@evgfreyman: nice catch, you are right that this is an issue.  I had only made one test binding and mistakenly assumed the rest would work much in the same way that the Python bindings work.  However in this case, each binding is all put into _one_ .so instead of with the Python bindings where they all go into individual .sos, and the two issues you pointed out wouldn't be a problem.

I can see th

[2017-12-15 11:38] cwlseu opened #1171 "install-problem:SpMat_meat.hpp:5794:7: error: ‘cache_mutex’ was not declared in this scope"
when I install mlpack, i encounter the following problems:

In member function void arma::SpMat<eT>::sync_cache() const’:
SpMat_meat.hpp:5794:7: error: ‘cache_mutex’ was not declared in this scope
 cache_mutex.lock();

In member function void arma::SpMat<eT>::sync_csc() const’:
SpMat_meat.hpp:5794:7: error: ‘cache_mutex’ was not declared in this scope
       cache_mutex.lock();

[2017-12-15 13:34] rcurtin commented on #1171
Hi,

This is far too little information to be able to help you solve the problem.  Can you tell us:

 * What command you run that produced the output.
 * The full compilation error.
 * What version of Armadillo you are using.
 * What version of mlpack you are using.
 * How you installed Armadillo.
 * What system you are running on.

[2017-12-15 17:31] evgfreyman commented on #1152
As for `mlpackMain()` the simplest way is to rename it to be program specific, for example  `mlpackMainPca()` and add following to the end of program:

[code]

However in binding tests we will need to access mlpackMainPca() directly.

Another approach is to have unique definition at each binding test, for example `#define PROGRAM_NAME pcaProgramName` and define following macros (for example at `ml

[2017-12-15 21:20] evgfreyman commented on #1152
I manage to handle both issues . I added PR #1172 I guess we can continue discussion there

[2017-12-16 17:56] zoq commented on #1158
@kvcuong Can you give as more informations about the actual error, are you trying to build some code using mlpack? How does the command look like you used?

[2017-12-16 18:39] kvcuong commented on #1158
Hi,
I built mlpack + armadillo 7.8000 -> OK
I copied this code to test : https://pastebin.com/Z8HaUZsW
Somehow it cannot find CLI::ParseCommandLine(argc, argv); function in mlpack. I'll give more details in the next week.
Thanks.

[2017-12-16 20:02] sourabhvarshney111 commented on #893
@zoq I have implemented Nesterov Adam. Should I proceed to add Nesterov Adamax too?

[2017-12-16 22:11] zoq commented on #1158
Okay, in the meantime perhaps: https://github.com/mlpack/mlpack/wiki/WindowsBuild#1-create-new-project is helpful.

[2017-12-16 22:16] zoq commented on #893
NadaMax from the "Incorporating Nesterov Momentum into Adam" report? If you like go for it, would be great to see an implementation.

[2017-12-17 06:07] sourabhvarshney111 commented on #893
Getting no clear idea from the report. Also not finding an report on it. But still I would try to inculcate the Adamax and NAG together to get the NadaMax algorithm.

[2017-12-17 07:00] sourabhvarshney111 commented on #893
I have got an idea about how to do it from the two algorithms Nadam and Adamax. But have got no paper on that. I would do that from that idea.

[2017-12-17 16:31] gogameboy1 commented on #1112
@zoq Hi! I also want to implement one optimizer, do you have any suggestion? Thank you!

[2017-12-17 17:13] zoq commented on #893
In case of NadaMax you have to abstract the idea from the Nadam and the Adam/AdaMax method, you can start by comparing the Adam and AdaMax code, if you need any help let me know.

[2017-12-17 17:15] zoq commented on #1112
@gogameboy1 If you like you can take a look at: FTML: Follow the Moving Leader (http://www.cse.ust.hk/~szhengac/papers/icml17.pdf). Let me know if you think that might be something you like to work on.

[2017-12-17 18:44] sourabhvarshney111 commented on #893
Got that. Thanks

[2017-12-18 02:18] gogameboy1 commented on #1112
@zoq  Thank you! I will take a look on it.

[2017-12-18 15:21] gogameboy1 commented on #1112
@zoq I would like to work on it, but I need some time to fully understand this paper.
Thanks for this suggestion !

[2017-12-18 15:47] rcurtin commented on #1158
@kvcuong: if you are using mlpack 2.2.5, then the function `CLI::ParseCommandLine()` should exist.  Are you sure that mlpack is being included correctly in the code?

[2017-12-18 17:45] kvcuong commented on #1158
Hi,

OK, I am using Mlpack version on github/master. When I run hmm_test, It works.

 Thanks.

[2017-12-21 06:11] tnaveen1998 commented on #1156
Hi @hOdOrNight,
I faced the same issue a while ago and got it fixed.
Run this in your command line,
echo "export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/local/lib/" >> ~/.bashrc

[2017-12-21 20:12] aveshd opened #1176 "Visual Studio 2015 Windows build via Nuget - Access violation errors"
Hi,

I built the mlpack using Nuget in Visual Studio 2015. Built was successful. But when I run a very simple example provided in the mlpack website

[code]

I get access violation errors

Please let me know if there is a way to fix this issue. Please note the file can be read and located in a readable location (tested it with simple c++ code )

here is the data.csv file content I am using:
3,3,3,

[2017-12-21 20:17] rcurtin commented on #1176
Hi Avi,

Just to be sure, can you check that there is only one copy of `mlpack.dll` on your system?

I think this is a linking issue or something like that, not any problem with the code or data.  Is there any output before the exception is thrown?

Thanks!

[2017-12-21 20:21] aveshd commented on #1176
I checked mlpack.dll is located where the exe file is being built.
There is no output before the exception is thrown. The error happens at line "data::Load("data.csv", data, true);" of the above code.
Thanks!

[2017-12-21 20:24] aveshd commented on #1176
When I include mlpack.dll via linker option in VS2015, I get the following error:

Error-> LNK1107	invalid or corrupt file: cannot read at 0x378	File mlpack.dll
Thanks!

[2017-12-21 20:26] rcurtin commented on #1176
I am not a huge Windows expert so please forgive me if my guesses are wrong.  I think that when you link against mlpack you should link against `mlpack.lib`, I think the dll only needs to be in the right place at runtime.

Is the file `data.csv` located in the same directory as the working directory when you run the program?  Also, how are you running it---through MSVC's IDE, or from the Command P

[2017-12-21 20:31] aveshd commented on #1176
Yes, I have added mlpack.lib. That is my understanding as well that during build of the exe mlpack.lib is needed but mlpack.dll is only needed during runtime.

I have given full path of data.csv. I also tried to test an example where data variable is filled with random values. But I get the similar error in the next execution line.

I have a feeling that mlpack.dll is not building correctly.

rega

[2017-12-21 20:39] aveshd commented on #1176
I am running it via MSVC IDE and command prompt. Sorry forgot to answer this question

[2017-12-21 20:40] rcurtin commented on #1176
Hmm, but does MSVC give any compilation errors when you make the target "mlpack"?

[2017-12-21 20:46] aveshd commented on #1176
No it does not. It compiles successfully, the problem occurs during run time when mlpack.dll is being used.

I compiled the target mlpack via Nuget without any difficulty built was successful, however, it uses some older versions of Armadillo and Boost.
I tried building windows version separately without Nuget, but could not build it successfully. I followed the guide/blog written on how to build

[2017-12-21 20:49] rcurtin commented on #1176
Ok.  Can we try some other sanity check too---do you have the command-line programs like `mlpack_knn`?  Try running first `mlpack_knn --help` and then `mlpack_knn -r data.csv -k 3` and see what happens...

[2017-12-21 20:51] aveshd commented on #1176
Nuget only builds the dll and lib files. No command line program for mlpack. I am not able to build on windows following the blog [](https://keon.io/mlpack-on-windows/)

[2017-12-21 20:51] aveshd commented on #1176
https://keon.io/mlpack-on-windows/

[2017-12-21 20:56] aveshd commented on #1176
I used this link ([](https://ci.appveyor.com/project/mlpack/mlpack/build/%232442/job/l46xyq49vvp99ctk/artifacts)) to download the programs. And I can run the command mlpack_knn -r "data.csv" -k 3 -d "outputdata.txt"
which works on my machine..

[2017-12-21 20:56] aveshd commented on #1176
https://ci.appveyor.com/project/mlpack/mlpack/build/%232442/job/l46xyq49vvp99ctk/artifacts

[2017-12-21 20:57] aveshd commented on #1176
I also used the dll provided in the link above. But I get the same error. (exception violation)

[2017-12-21 20:59] rcurtin commented on #1176
Ah, ok, I did not realize nuget did not come with the command-line programs.  When you use the DLL from AppVeyor, are you also linking against the mlpack.lib that comes from AppVeyor?

[2017-12-21 21:03] aveshd commented on #1176
I was not. But tried it and got the same error.

[2017-12-21 21:05] rcurtin commented on #1176
Okay.  So what this tells me is that you have a working mlpack library, and other programs can link against it and use it (`mlpack_knn` should be linked against `mlpack.dll` for instance).  But for some reason your particular program is either not linking against mlpack correctly or there is some other problem.

I guess one more thing that I can think to check: are the header files that you are us

[2017-12-21 21:09] aveshd commented on #1176
I am using the same header file which is created by Nuget. I am also using the same dll and lib file.

[2017-12-21 21:10] aveshd commented on #1176
I have to go right now, but I will reply after an hour.

[2017-12-21 21:12] rcurtin commented on #1176
At this point the only thing I can think to try is two things:

 - add some output before calling `data::Load()`, like a line `std::cout << "hello"` or something
 - modify the file `mlpack/core/data/load_impl.hpp` and put some kind of print statement there or something

This will help tell us how far in the program we are getting before there is a problem.  I may not be here when you get back so I

[2017-12-22 16:47] aveshd commented on #1176
okay to get away from the file thing I used following code:
[code]
Thourgh breakpoints I got the error cornered in filename "neighbor_search_impl.hpp" at line#1020

this line Timer::Start("computing_neighbors");

the error I received was this:
Unhandled exception at 0x00007FFF4A9E3FB8 in mkl_test.exe: Microsoft C++ exception: std::bad_alloc at memory location

Please let me know. Have you tried ru

[2017-12-22 18:21] scrcro commented on #1017
In some cases more optimization can be achieved if only submat of the weights are updated. We need not update all the elements always. But which submat needs to be updated depends on each input, therefore deciding the parameters to be updated upfront at the time of init takes away this flexibility. Word embedding is a case that comes to mind.

[2017-12-22 18:23] scrcro commented on #1160
Thank you.
This is much needed. I tried to look at the code, looks like many visitor implementation will also have to be templated to get this done. Thoughts?

[2017-12-22 18:47] rcurtin commented on #1160
I don't think any modifications to the visitor implementations will be necessary; if we make `LayerTypes` a template typedef and any custom layers have the correct `Forward()`, `Backward()`, and `Gradient()` signatures, then the existing visitor infrastructure should work fine.

[2017-12-23 11:58] scrcro commented on #1160
The Model() functions are returning the network. Which needs to be of type std:: vector<LayerTypes<CustomLayers*...> >. Now the HasModel checks should also therefore change. Am I getting this wrong?

[2017-12-24 13:16] manish7294 commented on #1090
@rcurtin @zoq @KARTHEEKCIC  I would like to know whether anyone working on this issue. And if not I would like to take it on.

[2017-12-24 13:59] KARTHEEKCIC commented on #1090
Yes, I am. But if you are interested, we can work together.

[2017-12-24 15:05] manish7294 commented on #1090
Sure, can you sync your updates with me via mail or irc.

[2017-12-26 15:02] KARTHEEKCIC commented on #1090
Sure, we can connect via email. Send me the address.

[2017-12-27 09:55] sourabhvarshney111 commented on #1112
@zoq I want to work on new algorithm. Can you suggest any?

[2017-12-27 14:05] zoq commented on #1112
@sourabhvarshney111 there are a bunch of methods I like to see, maybe you are interested in implementing nesterov momentum? Don't feel obligated, just let me know.

[2017-12-27 18:07] sourabhvarshney111 commented on #1112
@zoq Would look forward to find more on it.

[2017-12-27 20:14] zoq commented on #1112
@sourabhvarshney111 Okay great, let me know if you need any help.

[2017-12-27 23:23] rcurtin commented on #1152
PR #1172 merged (thanks again @evgfreyman) so the problems mentioned are resolved and the code is updated to handle new binding tests.

[2017-12-27 23:31] rcurtin commented on #1158
@mknafl: sorry for the slow response on this one.  Can you tell me what some of the boost library (.dll or .lib) filenames are?  I think they have a suffix on them, and we need to make sure CMake is looking for the right suffix.

[2017-12-28 03:45] mknafl commented on #1158
I think this is what you want.  These were moved into a directory as per the tutorial at
https://keon.io/mlpack-on-windows/

boost_math_c99-vc140-mt-1_65_1.dll
boost_math_c99-vc140-mt-1_65_1.lib
boost_math_c99-vc140-mt-gd-1_65_1.dll
boost_math_c99-vc140-mt-gd-1_65_1.lib
boost_program_options-vc140-mt-1_65_1.dll
boost_program_options-vc140-mt-1_65_1.lib
boost_program_options-vc140-mt-gd-1_65_1.dll

[2017-12-28 04:31] Awcrr commented on #1112
@zoq hi Marcus, could you please suggest any other ML algorithm to implement? I'm free recently and  willing to contribute : )

[2017-12-28 04:32] rcurtin commented on #1158
Ok, I see---so to me it seems like `Boost_COMPILER=-vc140` should work.  But I see also that there is a variable `Boost_DEBUG` that could tell us more... could you try removing the CMakeCache.txt file, re-running with `Boost_DEBUG=ON` and `Boost_COMPILER=-vc140` and pasting what happens?

Sorry for the long debugging process here.  Your setup is a little bit nonstandard... but we will get it figur

[2017-12-28 07:29] sourabhvarshney111 commented on #1112
@zoq Should I use this paper: https://arxiv.org/pdf/1607.01981.pdf for citing?

[2017-12-28 12:35] zoq commented on #1112
@sourabhvarshney111 I would go with:

[code]

[2017-12-28 12:35] zoq commented on #1112
@Awcrr Happy to recommend something, do you like to implement another optimizer or something in another area? P.S.: nice picture.

[2017-12-28 13:41] Awcrr commented on #1112
@zoq optimizer is cool! Any recommendation?

[2017-12-28 14:12] zoq commented on #1112
@Awcrr If you like you can take a look at: FISTA (with backtracking line search): Paper: "A Fast Iterative Shrinkage-Thresholding Algorithm for Linear Inverse Problems" by A. Beck and M. Teboulle. Let us know if this is something you find interesting.

[2017-12-29 03:01] niceSimon7 commented on #1171
I also encountered this problem:
Linux: CentOS7
GCC: 4.8.5
Armadillo: 8.300.2 (Compile and install)
Boost:1.66.0
mlpack: 2.2.4
cmake:3.10.1

The full compilation error:
[root@localhost mlpack-2.2.5]# mkdir build
[root@localhost mlpack-2.2.5]# cd build/
[root@localhost build]# cmake ..
-- The C compiler identification is GNU 4.8.5
-- The CXX compiler identification is GNU 4.8.5
-- Check for working

[2017-12-29 03:48] mknafl commented on #1158
Still not quite there...
C:\Dev\mlpack_2.2.5_clang\mlpack-2.2.5\build>cmake -G "Visual Studio 14 2015 Win64" -T "v140_clang_c2" -DBLAS_LIBRARY:FILEPATH="C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DLAPACK_LIBRARY:FILEPATH="C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DARMADILLO_

[2017-12-29 04:57] scrcro commented on #1160
I agree that the visitor infra should not have to be aware of the layer types. But the HasModel checks have inadvertently added the dependency on LayerTypes. Ideally the actual layer type (parameter T) should decide what other layers are required. Therefore the return type for the Model functions should be also dependent on the template parameter T in HasModelCheck.
I struggled with the code, as I

[2017-12-29 07:05] sourabhvarshney111 commented on #1112
@zoq Thanks for the help. I would go through it.

[2017-12-29 12:03] zoq commented on #1160
You are right, that's an issue, I have to think about a clever solution. Btw. if we use clang the custom layer can just inherit from an existing layer and it works, maybe we can achieve the same with gcc. Not sure, that's possible, will look into each direction. Thanks again for bringing this issue up.

[2017-12-29 12:05] zoq commented on #1158
Let's see if I can reproduce the issue.

[2017-12-29 13:09] mknafl commented on #1158
Just so I am clear, I changed the CMakeLists.txt to include the Boost_DEBUG=ON and Boost_COMPILER=-vc140.  I am not that familiar with CMake and wanted to be clear since you won't see those values in the command line that produced the output.

[2017-12-29 18:39] Awcrr commented on #1112
@zoq Thanks very much for the reference. Just took a look at this paper. It's great. I think I will read it more carefully and have a try.

[2017-12-29 20:47] rcurtin commented on #1176
Hi Avi,

Sorry for the slow response.  I don't have a Windows machine to test this on.  So I can only provide ideas.  `Timer::Start()` is a symbol that will be present in mlpack.lib or mlpack.dll, so my first thought here is that perhaps the wrong runtime library is in place or something like that.  If you comment out the `Timer::Start()` and `Timer::Stop()` calls in neighbor_search_impl.hpp and r

[2017-12-29 23:13] rcurtin commented on #1017
I'm not sure I follow your reasoning here---the current implementation simply allocates the space for all the weights.  It is not required that every layer update all of its respective parameters, so even in the word embedding case you suggest I think it is still possible and ok to avoid updating all elements (depending on the layer types chosen).  The flexibility that we *do* lose as a result of

[2017-12-29 23:50] rcurtin commented on #1157
Closing for inactivity.  Please feel free to reopen if needed.

[2017-12-29 23:50] #1157 closed

[2017-12-29 23:51] rcurtin commented on #1156
Yep, adding it to the bashrc can be useful.  The need for `LD_LIBRARY_PATH` is mentioned in the README too.  I'll go ahead and close this unless there is some other issue.

[2017-12-29 23:51] #1156 closed

[2017-12-29 23:51] rcurtin commented on #1155
Closing for inactivity.  We handled some of these randomly failing tests in #1178, this is likely to help the issue here.

[2017-12-29 23:51] #1155 closed

[2017-12-30 16:04] manish7294 opened #1183 "Preprocess Imputer always returning output using mean strategy"
Preprocess Imputer currently imputing the missing values using only mean strategy even-though user provides different strategies.
Run Commands Used:

_Most probably the instance of imputer is not updating the change in strategy on re-initiating as I have confirmed this by changing default strategy value._

[2017-12-31 06:12] scrcro commented on #1017
For an "embedding layer" the weight matrix could be large, depending on the vocabulary size. While training though, I might train it with a sequence of let's say 10 words. That would mean I only need to update 10 rows in the weight matrix (assuming I have one row for each word). But these 10 rows are not fixed but depends on the input.
As far as I figured from reading the code and playing with it

[2017-12-31 12:30] nvinayvarma189 commented on #1112
Hello @zoq @rcurtin ,
I've been trying to make my first contribution for a long time and I've been following your conversations. Can you help me with implementing a ML algorithm or an optimiser. I will try my best to cope up with you people

[2018-01-01 12:26] zoq commented on #1112
Hello @nvinayvarma189 if you like you could look into the RPROP method as proposed by M. Riedmiller et al. in "Rprop - A Fast Adaptive Learning Algorithm". Another interesting idea might be: Projected gradient descent for non-negative matrix factorization: C.-J. Lin. "Projected gradient methods for non-negative matrix factorization". Let us know what you think.

[2018-01-01 12:34] scrcro commented on #1160
I tried with clang (3.x) but that did not work for me. I mean I added a layer which I had derived from linear. But it rightly calls the linear layer functions (Forward) rather than my class'.
One option could be to use a typedef inside the layers for LayerTypes or the LayerTypes<CustomLayers...> and use the same typedef in the HasModelCheck. This would be a large scale change I think.

[2018-01-01 19:23] zoq commented on #1158
I could solve the issue by installing a newer boost package (1.66.0 via conda):

[code]

Unfortunately, I encountered some build issues once I switch to clang. Which should be solved with: https://github.com/mlpack/mlpack/pull/1185

Let me know if conda is also an option for you.

[2018-01-01 19:29] mknafl commented on #1158
I've never used coda but i will try.

On Jan 1, 2018 1:23 PM, "Marcus Edel" <notifications@github.com> wrote:

[2018-01-01 19:32] zoq commented on #1158
You can basically just install minconda via: https://conda.io/miniconda.html and afterwards open the anaconda prompt to install boost via:

[code]

boost should be installed in ``/Users/username/miniconda2/Library/lib/``.

[2018-01-02 02:29] niceSimon7 commented on #1171
The old version(Armadillo: 8.300.0) do not have this problem!

[2018-01-02 04:54] nvinayvarma189 commented on #1112
Thank you @zoq , both of them look good to me . can you tell me more on how to present my algorithm?

[2018-01-02 04:57] rcurtin commented on #1112
@nvinayvarma189: take a look at some of the other PRs that have been opened for optimizers (like #1168 for instance, and there are others too) and this should help give you an idea of what to do.

[2018-01-02 05:30] nvinayvarma189 commented on #1112
Thanks @rcurtin . I would definitely look into and will try to open a PR asap.

[2018-01-02 12:40] e-freiman opened #1187 "Memory leaks detected by Boost tests"
When running tests on Windows machine (and compiled by Visual C++ compiler in Debug mode), Boost find many memory leaks. They aren't visible on Linux because of [this](http://www.boost.org/doc/libs/1_64_0/libs/test/doc/html/boost_test/utf_reference/rt_param_reference/detect_memory_leaks.html):

I guess this could be a hard issue to handle. As a first step I want to try running each test separately

[2018-01-02 13:01] zoq commented on #1187
Sounds like a good plan; we should reactive the existing memory test jenkins job (valgrind), btw. you can use: ``mlpack_test --list_content`` to get all test suites/cases; perhaps: https://gist.github.com/zoq/a7ab3d96f0872f03a7aa63a2bd38980d is helpful to clear the output.

[2018-01-02 23:14] rcurtin commented on #1183
I can confirm that this is an issue by looking at the code.  Apparently this slipped by on review.  This is out of preprocess_imputer_main.cpp:

[code]

but this is very flawed because `imputer` is being declared at two different scopes.  The outer scope `imputer` is the one that ends up being used for imputation, and that is always using the mean strategy.  The block of code will need to be rewri

[2018-01-03 05:55] manish7294 commented on #1183
That's exactly what's going on. Sure, I will fix this within #1174.

[2018-01-03 14:36] rcurtin commented on #1171
I dug into this one a bit and did reproduce it.  It's actually a typo in the Armadillo code, and will be fixed with the next release (8.300.3 I think).  If you'd rather get it fixed now, your options are to use the older version of Armadillo or apply the change in this patch:

https://github.com/conradsnicta/armadillo-code/commit/fd77c9078e074a14f4b963f759bde5208c7bf09c

I'll go ahead and close th

[2018-01-03 14:36] #1171 closed

[2018-01-03 19:53] mknafl commented on #1158
Ok, much closer I think.
I did
conda install -c conda-forge boost
but they were installed in C:\ProgramData\Miniconda3\Library\lib

so I used the following command

C:\Dev\mlpack_2.2.5_clang\mlpack-2.2.5\build>cmake -G "Visual Studio 14 2015 Win64" -T "v140_clang_c2" -DBLAS_LIBRARY:FILEPATH="C:/Dev/mlpack-2.2.5_clang/mlpack-2.2.5/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DL

[2018-01-03 19:57] rcurtin commented on #1158
I'm not sure why this line is being encountered, but you can comment out line 135 of the CMakeLists.txt.  Here's the code snippet:

[code]

I'm quite confused on why `MSVC` would be set if you are compiling with clang, and I'll try to look into it, but for now I think that might solve the issue and allow you to compile.

[2018-01-03 20:00] zoq commented on #1158
Right, in my tested I used: ``if (MSVC AND NOT "${CMAKE_CXX_COMPILER_ID}" STREQUAL "Clang")`` you probably have to do the same for:

[code]

Will open a PR with all the changes I made.

[2018-01-03 20:48] mknafl commented on #1158
[CMakeLists.txt](https://github.com/mlpack/mlpack/files/1601657/CMakeLists.txt)
I think the reason MSVC was showing up related to earlier instructions to set Boost_COMPILER=vc_140.  This change was done in CMakeLists.txt.  I will include that, and the new failing output from Visual Studio.  To clarify all I want to do is use mlpack with openmp support in visual studio.
[sln_output.txt](https://git

[2018-01-03 20:51] rcurtin commented on #1158
@mknafl: sure, happy to help!  Sorry that you are having issues in the first place.  Compiling mlpack in a custom way on Windows can be a bit tricky.

zoq meant that you should also comment out lines 88 and 89 of `CMakeLists.txt` to solve the issues with `m.lib` not being found... I think that will get you closer to a solution (or all the way there).  Once the PR is put together, we can merge thes

[2018-01-03 22:59] mknafl commented on #1158
[sln_output2.txt](https://github.com/mlpack/mlpack/files/1601951/sln_output2.txt)
Ok, still not there.
I notice messages like
"clang.exe : warning : '-fopenmp=libomp': OpenMP is not supported"
and
"LINK : fatal error LNK1181: cannot open input file 'C:\Dev\mlpack-2.2.5_clang\mlpack-2.2.5\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a'"
but I can see the file in that location.  I h

[2018-01-03 23:44] zoq commented on #1158
I used the conda OpenBlas package: ``conda install -c conda-forge openblas ``.  Can you test ``-fopenmp=libomp`` instead of ``-fopenmp``?  Add: ``set(CMAKE_C_FLAGS "${CMAKE_C_FLAGS} -fopenmp=libomp")`` after the find block.

[code]

[2018-01-04 12:21] mknafl commented on #1158
[sln_output4.txt](https://github.com/mlpack/mlpack/files/1603286/sln_output4.txt)
I now have a lib file, but there are still lots of warnings and errors in the cmake output and visual studio output.  I will attach those files and my modified CmakeLists.txt.  I also made one extra change, adding
set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -fopenmp=libomp")
One of my warnings in the visual studio output

[2018-01-04 20:20] zoq commented on #1160
Sorry for the slow response on this one, I like the typedef idea and I agree it would come with some necessary adjustments. Adding on the typedef idea, perhaps we can just rewrite the model visitor so that it is type agnostic. All we really like to know is, does the layer implement the ``Model`` method, the return type is somewhat unimportant. According to this thread: https://stackoverflow.com/qu

[2018-01-05 04:57] scrcro commented on #1160
The example is not just looking for name but for a function which returns `size_t` and has a name `used_memory` . How do we specify the second template parameter in `struct SFINAE`  in this particular example? I have not run the example though, this is from reading the code. If this works for any return type that would be the right solution in our case.

[2018-01-05 11:37] zoq commented on #1160
Sorry for the confusion I was talking about: https://stackoverflow.com/a/16867422 which shows how to check for a function with any signature, haven't tested the code yet, however, I think it might be possible to adapt the snippet accordingly.

[2018-01-05 17:57] rcurtin commented on #1160
We do have some code that does something like this already that I think you could adapt---take a look at `src/mlpack/core/data/has_serialize.hpp` and `src/mlpack/core/util/sfinae_utility.hpp`.  Right now the `HAS_EXACT_METHOD_FORM()` macro will not work for an arbitrary type, but I think some of the ideas could be adapted.  I've come across the StackOverflow post @zoq mentioned before, I think tha

[2018-01-05 18:21] rcurtin commented on #1017
Okay, so I believe what you are saying is this (correct me if I am wrong):

The optimizer works in such a way that it calls `Gradient()` on the entire network, which returns a dense `arma::mat` containing the gradient values for every parameter in the network (which is stored as a single flattened `arma::mat`).  This means that if a single layer has a sparse gradient (like the embedding layer you

[2018-01-05 18:29] rcurtin commented on #1158
Hm, it looks like it's not really linking against anything: I can see unresolved symbols from libstdc++, OpenMP, and boost::program_options.  Can you check what the mlpack.lib target is supposed to be linking against in the Visual Studio project options?

Thanks again for the patience getting this figured out.

[2018-01-05 21:57] evgfreyman commented on #1187
I run tests separately by using [this script](https://gist.github.com/evgfreyman/fc60883150b2d215df52f418e0a439f2) on my machine - Windows 8.1, Visual C++ 2015. The results are following:

ANNLayerTest/SimpleAddMergeLayerTest - has memory leaks
ANNLayerTest/GradientGRULayerTest - failed
CFTest/CFPredictTest - failed
FastMKSTest/SimpleTrainKernelTest - has memory leaks
FastMKSTest/SerializationTest

[2018-01-05 23:21] zoq commented on #1158
I guess if you comment:

[code]
you should see the boost libs. Still have no idea why it's not linking against openmp, will take a closer look over the weekend.

[2018-01-06 14:15] zoq commented on #1158
About the ``-fopenmp`` unused can you add:

[code]

to one of the executables e.g. ``pca_main.cpp`` and check if you can run the code.

[2018-01-06 17:24] haritha1313 commented on #885
@rcurtin I would like to work on this issue if it is still open.

[2018-01-07 19:05] evgfreyman commented on #1187
Personally, I'm interested in recurrent networks, so I'll try to investigate memory leaks in this algorithm with [Valgrind](http://valgrind.org/ )

[2018-01-07 19:38] zoq commented on #1187
Sounds good, I think to resolve all recurrent network related memory issues we have to resolve: https://github.com/mlpack/mlpack/pull/1091 first.

[2018-01-07 19:39] zoq commented on #1187
Also, I will reactivate the jenkins valgrind job.

[2018-01-08 16:52] scrcro commented on #1160
Sounds good. Let me try these out. I did try to run the code provided in the stackoverflow link. It does not work yet for me. I will try some more.

[2018-01-09 02:28] #1183 closed

[2018-01-11 04:31] scrcro commented on #1160
I tried the code mentioned in the stackoverflow link. It did not work for me in VS 2015, but worked in Linux. It is a great post but I thought it does a lot more than we need.
I investigated a little bit more and found `std::is_member_function_pointer` (C++11) which makes it far more simpler to check for a member function. I have the following macro which does the job. Tested with VS2015, Clang-5

[2018-01-11 08:42] evgfreyman commented on #1187
It appeared to be hard for me start fixing these issues right away. At the beginning I should try using FNN and RNN classes as a user. However, it'll take some time, so if anybody can fix memory issues faster than me - welcome.

By the way, I might create a well commented example of FNN usage for solving [MINST problem from Kaggle](https://www.kaggle.com/c/digit-recognizer)

[2018-01-11 10:34] haritha1313 commented on #885
@rcurtin I've been going through the code and as far as I understand decision tree class does support categorical data and the work to be done is only to make categorical datasets in .arff format supportable. This means that only decision_tree_main.cpp needs edit. Please correct me if I am wrong.

[2018-01-11 15:45] rcurtin commented on #885
@haritha1313: that is correct, you will only need to modify `decision_tree_main.cpp`.

[2018-01-11 17:10] rcurtin commented on #1187
@evgfreyman---an example would be great; we could then add it to the mlpack/models repository if you liked.

I'll handle the FastMKS leaks since I wrote that test, if I can reproduce the leaks on Linux.

[2018-01-11 20:21] rcurtin commented on #1187
I only saw a leak with valgrind for `FastMKSTest/SerializationTest`; here is a patch:

https://gist.github.com/rcurtin/a0b1e5d128eef34f877b538c86a00e5f

[2018-01-11 20:23] zoq commented on #1187
I'll take a look at the nn related issue.

[2018-01-12 16:01] zoq commented on #1160
Looks really good to me; also I agree it would be great if we could make this solution more general, so that we can write ``HAS_ANY_METHOD_FORM(METHOD, NAME)``, or something like that. What do you think? Also https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/util/sfinae_utility.hpp and https://github.com/mlpack/mlpack/blob/847a4bfd69f9bf7c6269166673158a88ceac89a8/src/mlpack/core/data/ha

[2018-01-13 04:24] scrcro commented on #1160
Thank you and happy to contribute my 2 cents to this excellent C++ ML package.
Yes this is possible. Here is a sample implementation.
[code]

[2018-01-13 04:31] scrcro commented on #1017
True, embedding layer will be the first layer. The delta and gradient will be a sparse matrix as you say. The embedding matrix though is not going to be sparse. It will be dense but the updates will happen to a few rows only out of the thousands.
I do not know the internals of armadillo. It may handle this efficiently, if it does then we need not worry. But if it tries to multiply a lot of rows wi

[2018-01-13 09:08] PlantsAndBuildings opened #1194 "Problem with mlpack build"
I'm running an ubuntu:16.04 image in a Docker container. I have all the dependencies installed (as given [here](http://www.mlpack.org/docs/mlpack-2.2.5/doxygen/build.html)). The build output is as follows:

Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  1%] Generating mlpack.pc (pkg-config) file.
[  1%] Built target pkgconfig
[  1%] Updating arma_config.hpp (if necess

[2018-01-13 13:23] PlantsAndBuildings commented on #1194
The build was using gcc instead of g++. All that was needed was ```export CC=gcc``` and ```export CXX=g++``` and running the cmake configuration and build after that. I feel quite stupid for not having seen this myself. Thank you [zoq](https://github.com/zoq).

[2018-01-13 13:23] #1194 closed

[2018-01-14 13:44] zoq commented on #1160
Great, can you open a PR, we have to add some tests to make sure this works as expected.

[2018-01-16 12:58] rcurtin commented on #1187
@evgfreyman: just a note, if you are working with RNNs to make a tutorial, #1192 has just been merged which changes the format of the input data, so I hope this doesn't break anything you have been working on.  (If it does, well, the changes should not be so hard, hopefully.)

[2018-01-16 13:06] evgfreyman commented on #1187
I'm working on FFN so far

[2018-01-16 13:20] rcurtin commented on #1017
This all depends on how the embedding layer (which currently does not exist) is implemented, not necessarily the internals of Armadillo.  As far as I can tell, the abstractions we are using do not rule out the optimizations you are suggesting.

[2018-01-16 16:06] rcurtin commented on #1187
Sorry, my FastMKS fix from earlier was incorrect and incomplete.  Here's a better one:

https://gist.github.com/rcurtin/58e010fbf4344e905f8b892390b0d0fe

[2018-01-17 04:58] coffe2code commented on #1152
I'd like to take this on.

[2018-01-17 08:06] manish7294 commented on #1152
Opened PR #1193 for random_forest_main.cpp, nbc_main.cpp, decision_stump_main.cpp, perceptron_main.cpp & softmax_regression_main.cpp. @rcurtin please mark the tests which are done.

[2018-01-17 08:27] dheeraj135 commented on #1062
@rcurtin Is anyone working on it? If not, I would like to look into this.

[2018-01-17 14:57] zoq commented on #1062
Please feel free to look into the issue.

[2018-01-17 16:27] SwapnilDreams100 commented on #1112
Hi, is any variant of GAN or LSTM to be implemented? Would love to work on it, since I have python experience with them but c++ implementation would be refreshing! Otherwise any optimiser looks good too.

[2018-01-17 17:23] vasiloglou opened #1201 "Memory leaks in the python wrappers"
I ran knn several times iteratively within a loop and the memory used by python keeps increasing until it crashes.
Download the dataset
https://www.cs.toronto.edu/~kriz/cifar-10-python.tar.gz
And then run this script

[code]

[2018-01-17 18:37] dheeraj135 commented on #1062
@zoq Okk..

[2018-01-17 19:07] rcurtin commented on #1201
Reproduced:

[code]

If I removed the `copy.copy()` (which technically isn't necessary because you aren't using `nbrs_plus['output_model']` more than once), I don't really manage to run any more iterations:

[code]

So there is definitely a leak of some sort.  As a side note about the need for `copy`---that isn't pretty and I am trying to think of a way to do it better; at a low level, whatever is

[2018-01-18 14:04] zoq commented on #1112
Hello @SwapnilDreams100, there is already an LSTM implementation (https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/layer/lstm.hpp), and there is an open PR for standard GAN (https://github.com/mlpack/mlpack/pull/1066), which needs some work. If you like you can take a look at the PR and work on that. Another option is to take a look at regularizers, there is a thread on the mail

[2018-01-18 17:11] KARTHEEKCIC commented on #1152
I would like to work on binding tests for logistic regression. If any one is working, please reply.

[2018-01-18 17:19] ShikharJ opened #1203 "Use Clang-Format"
Currently, one has to manually format the code after implementation. In my short time with `mlpack`, I had to push twice a couple of times just to fix the formatting issue, which leads to unnecessary CI backlogs. It'd be nice if a contributor could just run a script to automatically format the code. Thoughts?

[2018-01-18 17:29] zoq commented on #1203
I think that's a good idea, as long as we can provide something that's compliant with our style guidelines (https://github.com/mlpack/mlpack/wiki/DesignGuidelines).

[2018-01-18 18:30] rcurtin commented on #1152
It seems like I was incorrectly updating the checkboxes before, sorry about that.  Hopefully the changes "stick" now...

[2018-01-18 18:32] rcurtin commented on #1203
Yeah, I agree, I think it would be reasonable to add a utility script to the repository to format code (or provide a configuration for a tool).  See also #420, #978.

[2018-01-18 18:55] sbrodehl commented on #1203
Uhhh yes, I like.

[2018-01-19 06:28] manish7294 commented on #356
@rcurtin It seems like Hierarchial Clustering is still to be implemented or is there any open PR? If not I would like to start with agglomerative one. If that's fine please suggest me a good research paper for the same.

[2018-01-20 16:41] manish7294 commented on #1090
@KARTHEEKCIC Sorry for replying this late. I totally got busy with other stuff. Here is my mail manish887kr@gmail.com. Please drop me a mail as you get the time.

[2018-01-21 09:33] lozhnikov opened #1206 "GAN tests implementation"
In summer 2017 @kris-singh wrote an implementation of GAN as a part of his GSoC program. He checked the implementation on this [test](http://blog.aylien.com/introduction-generative-adversarial-networks-code-tensorflow/).
Unfortunately we were unable to reimplement this [test](https://www.oreilly.com/learning/generative-adversarial-networks-for-beginners).
Ongoing work: [Kris's GAN implementation](

[2018-01-21 09:54] ShikharJ commented on #1206
@lozhnikov Was this done for any performance improvement? If not, I would go for the implementation fix in the GAN PR.

[2018-01-21 10:10] lozhnikov commented on #1206
@ShikharJ That was done in order to comply with the mlpack API since other mlpack methods use only one optimizer. Actually, I don't know how to add the second optimizer without API violation and crutches.

[2018-01-21 11:00] lozhnikov opened #1207 "SpikeSlab RBM tests implementation"
In summer 2017 @kris-singh wrote an implementation of Binary RBM and Spike and Slab RBM. The first one is implemented according to this [article](http://deeplearning.net/tutorial/rbm.html). And the second one is implemented according to this [paper](http://www.jmlr.org/proceedings/papers/v15/courville11a.html).
We reproduced the deeplearning.net MNIST generation test. Here are some samples generat

[2018-01-21 12:41] ShikharJ commented on #1207
@lozhnikov I had actually started working on some of Kris' PRs, after the discussion on the [IRC](http://www.mlpack.org/irc/mlpack.20180111.html). I have a branch [here](https://github.com/ShikharJ/mlpack/tree/RBM). Again it contains only minor conflict resolutions. I'll file a PR soon.

[2018-01-21 13:16] lozhnikov commented on #1207
@ShikharJ ok, feel free to ask questions

[2018-01-21 17:56] #885 closed

[2018-01-22 19:31] manish7294 commented on #1152
I will be working next on sparse_coding, det, cf, kmeans and neighbor_search(kfn & knn). If any one is currently working on any of them then please notify.

[2018-01-23 13:59] evgfreyman opened #1212 "Examples of using MLPack"
Not sure where to put this message. Please close it if it's a wrong place.

I created an example of using Feed Forward Network (FFN) for [Digit Recognizer problem](https://www.kaggle.com/c/digit-recognizer) from Kaggle with tons of comments. [Here it is](https://github.com/evgfreyman/KaggleExperiments/blob/master/MNIST-MLPack/main.cpp). It would be very cool if you could criticize my code as much

[2018-01-23 19:38] rcurtin commented on #1212
Agreed, it looks great!  It might be useful to put the Kaggle-specific functionality into its own header file, so that someone else could easily use that for their Kaggle-mlpack experiments. :+1:

[2018-01-23 21:42] evgfreyman commented on #1212
Added [a pull request](https://github.com/mlpack/models/pull/5) to models project.

[2018-01-24 00:36] ajkl opened #1213 "python bindings error"
Trying to get the python bindings setup.
Not sure if I am doing something wrong here. Let me know if any other logs will be helpful.

(I cloned the master branch)

[code]

[code]