[2016-09-05 17:16] hunk3749 commented on #776
i have successfully installed boost but while building mlpack and executing make command i am getting this error-
make
Scanning dependencies of target mlpack_arma_config
[  0%] Updating arma_config.hpp (if necessary)
-- Regenerating arma_config.hpp.
[  0%] Built target mlpack_arma_config
Scanning dependencies of target mlpack_headers
Moving header files to include/mlpack/
[  0%] Built target mlpac

[2016-09-05 17:40] zoq commented on #776
That's an gcc issue (https://gcc.gnu.org/bugzilla/show_bug.cgi?id=54086) which was fixed in 4.7. So I think, you have to update your gcc version:

[code]

rebuild mlpack (remove the build directory).

[2016-09-05 18:37] rcurtin commented on #780
Hi, @zoq already gave you a response to this issue in #776. Please try what he suggested and don't open duplicate issues. Technically, this isn't even an issue---there is no bug in mlpack, you are using a too old compiler.

[2016-09-05 18:37] #780 closed

[2016-09-05 20:27] hunk3749 commented on #776
thank you very much

[2016-09-05 21:25] rcurtin commented on #779
Did you run cmake in the tests/ directory?  You should not do that; you should do it just as the guide says.  When you build mlpack, it will build `mlpack_test`, which you can then run in order to run the tests.

[2016-09-05 21:33] rcurtin commented on #777
Yes, let me do this tomorrow or later this week.  I agree that pkg-config support would be nice.

[2016-09-05 22:02] hunk3749 opened #781 "unable to compile a sample program of covariance calculation"
from /usr/include/boost/fusion/container/vector/vector10.hpp:15,
                 from /usr/include/boost/fusion/container/vector/vector_fwd.hpp:14,
                 from /usr/include/boost/fusion/container/vector/vector.hpp:10,
                 from /usr/include/boost/fusion/tuple/tuple.hpp:11,
                 from /usr/include/boost/fusion/tuple.hpp:10,
                 from /usr/include/boost/

[2016-09-05 23:50] kc420 commented on #779
I have run the tests successfully.Thank you!
And I suggest add this test procedure to the build/install guide, so if we encountered an issue, we can make sure it's not about build/install.

[2016-09-06 01:17] rcurtin commented on #781
Hi there, unfortunately I can't understand this bug report or if it is even a bug report.  Please carefully read the output of the compiler before opening issues like this, and if you do open an issue like this, please include relevant details on what you have done---it is very hard to help you out unless you provide useful information.

In your case I can guess that you are not compiling your pro

[2016-09-06 01:17] rcurtin commented on #776
It seems this is resolved, so I will go ahead and close the issue.

[2016-09-06 01:17] #776 closed

[2016-09-07 03:46] hunk3749 commented on #781
sorry for the trouble but i again compiled the same program with c++11 enabled i copied the sample program-// Includes all relevant components of mlpack.
#include <mlpack/core.hpp>
// Convenience.
using namespace mlpack;
int main()
{
  // First, load the data.
  arma::mat data;
  // Use data::Load() which transposes the matrix.
  data::Load("data.csv", data, true);
  // Now compute the covariance.

[2016-09-07 10:40] zoq commented on #781
you also have to link against mlpack:

``
g++ a.cpp -o test -O3 -std=c++11 -larmadillo -lmlpack
``

[2016-09-07 14:25] hunk3749 commented on #781
thank you i have successfully compiled the program but unable to run it is showing following error-
  g++ a.cpp -o test -O3 -std=c++11 -larmadillo -lmlpack
dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~$ ./test
[FATAL] Cannot open file 'data.csv'.

terminate called after throwing an instance of 'std::runtime_error'
  what():  fatal error; see Log::Fatal output
Aborted (core dumped)

[2016-09-07 18:13] zoq commented on #781
In your sample code you load a file called: ``data.csv``:

``
data::Load("data.csv", data, true);
``

you should make sure (``[FATAL] Cannot open file 'data.csv'.``), that the file exists, you could use:

https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/data/iris.csv

[2016-09-07 20:13] rcurtin commented on #779
e801f30 updates the documentation a bit; thanks for the suggestion!

[2016-09-07 20:13] #779 closed

[2016-09-07 21:04] hunk3749 commented on #781
i have saved the following data to data.csv -
0,1
3,1
5,3
but it is not giving any output-
 g++ a.cpp -o test -O3 -std=c++11 -larmadillo -lmlpack
dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~$ ./test
dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~$

[2016-09-08 14:53] zoq commented on #781
I guess you are using:

[code]

The output is saved in ``cov.csv``, if you like to print the output you could do:

[code]

before:

``
data::Save("cov.csv", cov, true);
``

[2016-09-10 22:12] eddelbuettel commented on #777
Did you get a chance to look at this?

[2016-09-11 10:03] chvsp commented on #414
@vasanthkalingeri Hi, as the issue is not closed yet. I would like to ask whether you are working on this. Or else I am ready to write the code. This is in the best interest of the community. Thanks.

[2016-09-11 17:22] aditya1315 commented on #733
@rcurtin, I saw discussion on the #751 thread and spent some time on it. Your solution seems to work. So should I base the code your solution and go ahead with testing it?

Regarding the tests - mantekid suggests a way but it gives NaN sometimes. So how should I proceed in this?

Thanks in advance

[2016-09-13 01:56] rcurtin commented on #777
It turns out it's a little more complex than I had hoped.  I think I'll have a PR ready tomorrow.

[2016-09-14 03:31] rcurtin opened #783 "RandomizedSVD tests sometimes have failing LU decomposition"
I noticed that the test `RandomizedSVDTest/RandomizedSVDReconstructionError` is sometimes failing.  It's straightforward to reproduce:

1. Add `math::RandomSeed(std::time(NULL))` to the top of the test in `randomized_svd_test.cpp`.
2. Rebuild `mlpack_test` and run as `while(true); do bin/mlpack_test -t RandomizedSVDTest; sleep 1; done`
3. Wait a few trials and it will probably fail.  On my system

[2016-09-14 13:33] zoq commented on #783
I think a simple solution would be to restart once lu failed and to use another random matrix to obtain Q. I'll take a look at the issue in the next days.

[2016-09-14 14:10] rcurtin commented on #783
Yeah, that's a definite possibility.  I tried removing the call to center the data, but that just causes the test to fail every time.  I wonder, if we modify the smallest singular value in the `centeredData` matrix and then reconstruct it, could this work?  I am not familiar enough with the algorithm to know what its assumptions are on the input matrix though.

[2016-09-14 15:56] rcurtin commented on #733
@aditya1315: yes, I agree that your approach is reasonable.  You can base the code on what I wrote, and then write some tests for it.  The testing will be the hard part though, I suspect. :)

I wonder if the NaN values for the test are the result of zero values being passed to the training of the distribution.  The Gamma distribution can't handle zero-valued observations (its PDF is 0 at x=0).

[2016-09-14 20:03] rcurtin commented on #606
Closing for inactivity.  Feel free to reopen if necessary.

[2016-09-14 20:03] #606 closed

[2016-09-15 04:42] daemonSlayer opened #785 "Error while compiling mlpack code in Ubuntu 16.04"
I installed mlpack in `Ubuntu 16.04` using the command : `sudo apt-get install mlpack-dev`.
The installation had, in its dependencies , `mlpack2` too. Now I have some mlpack code that throws this error:
[code]
The `ldconfig -p | grep mlpack`  command gives this output:
[code]
I dont know how to fix this error. Could it be because linker is getting confused with multiple libmlpack .so files? If yes

[2016-09-15 11:07] zoq commented on #785
Can you tell us what command you used to compile the code that throws the error? It looks like you didn't link against boost_program_options:

[code]

[2016-09-15 11:13] daemonSlayer commented on #785
I am using this cmake for compilation:
[code]
The cmake is able to detect boost. I don't know why its not linking boost libs.

[2016-09-15 11:14] daemonSlayer commented on #785
I am using this cmake for compilation of code:
[code]
The cmake is able to detect boost. I dont know why its not able to link. How can I fix this?

[2016-09-15 11:25] zoq commented on #785
What is the output of: ``MESSAGE(STATUS ${Boost_LIBRARIES})``?

I think if you specify the boost components it should work:

[code]

[2016-09-15 11:29] daemonSlayer commented on #785
Thanks, that worked. Cant believe I forgot about the components of boost.
Thanks again

[2016-09-15 11:29] #785 closed

[2016-09-15 15:25] rcurtin commented on #357
It turns out there is no need to check the separation invariant.  In the long version of the cover tree paper (https://hunch.net/~jl/projects/cover_tree/paper/paper.pdf), they write that for implementation they take a few shortcuts, including:

So, since the mlpack cover tree code is based heavily on the original cover tree code, the separation invariant is also relaxed in mlpack, and there is no

[2016-09-15 15:25] #357 closed

[2016-09-15 20:22] rcurtin opened #787 "Replace `MinDistance(TreeType*)` with `MinDistance(TreeType&)`"
Right now, the TreeType API requires the following functions to have this signature:

[code]

But we can easily use references here.  We should refactor the trees (`mlpack/core/tree/*/`) to instead use the signature

[code]

That will also force some changes in the dual-tree algorithm code, but it should be relatively simple refactoring in the end.  This would be a good starter bug for someone loo

[2016-09-16 18:29] rcurtin commented on #777
With #782 merged this should be solved, and you should be able to use pkg-config when the next release of mlpack is done (a few weeks is what I expect for that).

[2016-09-16 18:29] #777 closed

[2016-09-17 08:33] chvsp commented on #414
@zoq Please advise if I can go about it.

[2016-09-17 08:39] chvsp commented on #787
Hi @rcurtin I would like to solve this bug. Seems pretty straightforward. I would be starting work after 22 September as I have exams till then. Just letting you know.

[2016-09-17 11:02] zoq commented on #414
Hello @chvsp, I would really like to see a test for the initialization strategy, so if you like feel free to work on it.

[2016-09-18 21:29] vasanthkalingeri commented on #414
Hello @chvsp, yes my implementation still requires work. I am sure you would do a much better job than me. Thank you.

[2016-09-21 07:04] crossxlui opened #789 "Error in building mlpack in x86."
Hi, I attempted to build mlpack in Win32 windows using this guide: http://keon.io/mlpack-on-windows.html but came to a roadblock at the last part.  I appreciate any help anyone could give me as I am quite clueless on cmake and github in general.

1>------ Build started: Project: mlpack, Configuration: Debug Win32 ------
1>  layer_traits_test.cpp
1>d:\programming files\mlpack-2.0.3\src\mlpack\core\

[2016-09-21 12:09] rcurtin commented on #789
Hi there,

What version of Visual Studio are you using?

[2016-09-22 00:24] crossxlui commented on #789
Microsoft VS Enterprise 2015

[2016-09-22 12:43] zoq commented on #789
Is it possible to build using x64 ``(Debug -> x64)``?

[2016-09-22 21:31] chvsp commented on #414
Hi @zoq , I have completed the full implementation of the test for the Iris Dataset. I am currently implementing the other tests mentioned in the paper. Also, for the Iris dataset, I am getting the MSE close to 0.00065 whereas the published error is 0.00034. I am unable to decrease it further. Kindly look at my code and suggest some modifications if you are free. Thanks

https://github.com/chvsp/m

[2016-09-23 01:17] crossxlui commented on #789
ok, I'll try to recompile in x64 and see how it goes. Thanks for your help.

[2016-09-25 19:57] prashantkn94 opened #791 "Error in running cmake command "$make", "No targets specified and no makefile found. Stop.""
Hi, I have been trying to Build mlpack on my pc following the steps given on this [http://www.mlpack.org/docs/mlpack-2.0.3/doxygen.php?doc=build.html] page.Everything was fine, all dependencis were installed and there were no errors till I had to run the command  "$ make" and the error message I got is "make: *** No targets specified and no makefile found.  Stop.". Please help me resolving the iss

[2016-09-25 21:12] rcurtin commented on #791
Hi there Prashant,

Can you provide some more output on what you did?  My first guess is that you ran 'make' from the wrong directory.  If you can paste the CMake output too, that would probably be helpful.

[2016-09-25 22:49] prashantkn94 commented on #791
Thanks for the assistance,
This time I went into the build directory and ran "cmake ../" and the error I got is this.
----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- Arma

[2016-09-25 23:06] prashantkn94 commented on #791
After running "sudo apt-get install cmake libblkid-dev e2fslibs-dev libboost-all-dev libaudit-dev" I was able to run cmake successfully This is the message I got:
-- Armadillo libraries: /usr/lib/libarmadillo.so
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   program_options
--   unit_test_framework
--   serialization
-- Could NOT find Git (missing:  GIT_EXECUTABLE)
CMake War

[2016-09-26 01:22] rcurtin commented on #791
Ok, great, glad you got it worked out! :)

[2016-09-26 01:22] #791 closed

[2016-09-26 14:07] rcurtin commented on #787
Fixed by #788.  Thanks @akanuraj200!

[2016-09-26 14:07] #787 closed

[2016-09-28 00:22] vbilaniuk opened #793 "need help getting this installed on a Mac"
Hello!  I successfully installed the dependencies on a Mac (and I've compiled programs using them so I know they work), and I even managed to install mlpack without error using cmake, however when I try to compile one of the sample programs, I get this error:

/usr/local/include/mlpack/core/data/serialization_shim.hpp:48:56: error: a space is required between consecutive right angle brackets (use

[2016-09-28 00:26] rcurtin commented on #793
Hi there Vicky,

Try adding `-std=c++11` to the command-line when you compile your program (or possibly `-std=c++0x` depending on how old the compiler is).  Does that help?

Thanks,
Ryan

[2016-09-28 00:43] vbilaniuk commented on #793
On 2016-09-27 8:26 PM, Ryan Curtin
      wrote:

      Hi there Vicky,
      Try adding -std=c++11 to the command-line when
        you compile your program (or possibly -std=c++0x
        depending on how old the compiler is). Does that help?
      Thanks,
        Ryan
      —
        You are receiving this because you authored the thread.
        Reply to this email directly, view
          it o

[2016-09-28 00:47] rcurtin commented on #793
Great, glad to hear you got it worked out. :)

[2016-09-28 00:47] #793 closed

[2016-09-28 22:19] asadoll opened #794 "Building mlpack-2.0.3 on Windows 10 with MSVC 19"
I tried to follow [these steps](http://keon.io/mlpack-on-windows.html), everything went fine except generating MS Visual Studio solution failed with an error which shows the intermediate/temp .vcxproj is using a GNU C++ compiler template instead of the MSVC's. This is my first try with cmake, so do you think I should check sth inside mlpack cmake files or it may be some bug in cmake?

**Here's the

[2016-09-29 03:12] rcurtin commented on #794
You are right, `__attribute__((__deprecated))` does not exist for MSVC.  Can you post the CMake configuration output?  That might provide some information on why this happened.

Also, it looks like you are trying to compile a program that links against mlpack.  Did mlpack itself compile successfully?  I'm not sure I completely understand what you've done here.

[2016-09-29 07:29] asadoll commented on #794
It's the log for the error which occurred during compiling the temporary compiler feature test projects and it's the mlpack itself.
I cloned the master branch instead of 2.0.3 and it worked fine. I noticed the same error happened on COMPILER_HAS_DEPRECATED_ATTR but cmake retried with the next template and passed.
I will check the CMakeLists from both branches to see what's the difference.

[2016-09-29 18:37] rcurtin commented on #794
Is it possible this could be a CMake bug?  I am not sure if much has changed in the configuration between 2.0.3 and master that would affect your situation.

[2016-09-30 15:38] zoq commented on #414
@chvsp  Sorry for the slow response, what I would do is to perform the CrossValidation test more than once, maybe 10 times. Maybe that we, we see some improvements by using another random seed.

Also, I don't think we can exactly replicate the error since the initialisation method isn't deterministic. At the end, you're error looks reasonable good to me, so if you like you can open a PR.

[2016-09-30 16:28] asadoll commented on #794
I couldn't reproduce the error for the master version.

[2016-09-30 19:57] rcurtin commented on #794
In this case, should we close this?  It sounds like if there is an issue, it will be fixed upon the next release.

[2016-10-03 08:17] #794 closed

[2016-10-05 12:57] thejonan opened #796 "`target_compile_features` from NewCXX11.cmake produce an error with LLVM's clang"
Trying to build mlpack with OpenMP support on MacOS X (10.11.6) led me to using [llvm](http://www.llvm.org)'s clang (installed via [Homebrew](http://brew.sh) ). With appropriate `cmake` command that almost worked:

[code]

(`clang-omp` and `clang-omp++` are symlinks to llvm's binaries).

However, there was an error referring to `target_compile_features` directive in `CMake/NewCXX11.cmake` file:

[

[2016-10-05 13:00] thejonan opened #797 "Building mlpack with llvm's clang yields template parenthesis error"
While trying to build mlpack wth OpenMP support using [llvm](http://www.llvm.org)'s `clang` compiler on MacOS 10.11.6 (refer to issue #796), and after commenting the NewCXX11.cmake directive to avoid the `cmake`'s error. The building process starts, but with the following error:

[code]

[2016-10-05 14:02] rcurtin commented on #796
Ugh: http://stackoverflow.com/questions/28119552/no-known-features-for-cxx-compiler-when-compiling-with-msvc-2013

Looks like what I will have to do is add a flag you can specify to CMake to force CMake to believe that the compiler is a C++11 compiler and bypass the check in `NewCXX11.cmake`.

[2016-10-05 14:07] thejonan commented on #796
Sounds like it can help. However, I've tried manually adding the `-std=c++11` flag to `CPPFLAGS` when invoking `cmake`. No success.

[2016-10-05 14:13] thejonan commented on #796
Sorry, I've just made another test and this time it worked, so _yes_ your suggestion will do the job.

Here's what I did:
- Commented NewCXX11.cmake inclusion as before
- Added `-D "CMAKE_CXX_FLAGS=-I/usr/local/opt/llvm/include -std=c++11"` to cmake-'s arguments.

[2016-10-05 14:14] rcurtin commented on #796
Yep, that will work.  I am writing up a patch now to make this easier and I will let you know when it's done and how it works.

[2016-10-05 16:41] thejonan opened #798 "PARAM_VECTOR_IN seems not to be working"
Having a definition like this:

[code]

and passing parameters like `-n 0,2` produces an exception in `CLI::ParseCommandLine(argc, argv);` call. The output is this:

[code]
which is rather strange, because this is very close to the example of `PARAM_VECTOR_IN` usage given in the comment next to its declaration.

[2016-10-05 17:14] rcurtin commented on #796
Okay, I added some changes that should fix this issue.  If the compiler is not detected as a valid C++11 compiler, you can do specify the `-DFORCE_CXX11=ON` option and that will force CMake to treat the C++ compiler as having valid C++11 support.  You may also need to specify extra CXXFLAGS like with `-DCMAKE_CXX_FLAGS="-std=c++11"` or something like that.  Let me know if there are any problems wi

[2016-10-05 17:14] #796 closed

[2016-10-05 17:16] rcurtin commented on #797
This should be fixed if you use the `FORCE_CXX11` CMake option and set `CMAKE_CXX_FLAGS` to include `-std=c++11`.

[2016-10-05 17:16] #797 closed

[2016-10-05 19:52] thejonan commented on #796
Successfully building. Thanks.

[2016-10-06 12:04] thejonan commented on #227
I want to have sparse matrix enabled DET, but making this integration looks like a better step, so I'm ready to provide this help.

[2016-10-06 18:11] rcurtin commented on #798
I found that `PARAM_VECTOR` did not work when I wrote some tests for it.  So I did some digging in the `boost::program_options` documentation and figured out how to make it work.  But the usage actually turns out to be a little bit different than expected.  You'll need to do, e.g., `-n 0 2` or `-n 0 -n 2` (either works).  I updated the documentation to point that out.  Let me know if my fix does n

[2016-10-06 20:23] thejonan commented on #798
Interesting, because I've tried the second option (`-n 0 -n 2`) before, and then it crashed with "duplicate entry" exception. I've just tried the first one - it doesn't crash, but reads only the first value. It could be some "specific" boost-on-Mac-via-MacPorts behavior.

Strange enough, the two new tests regarding this doesn't seem to fail!

[2016-10-06 20:26] rcurtin commented on #798
Fascinating, can you tell me more about what you've done with the first option that doesn't work?

[2016-10-06 20:31] thejonan commented on #798
I've made all this attempts in `det_main.cpp`, not it matters. Added this, as pointed out:
[code]

Then tried to obtain the value like this:
[code]

Gives these arguments: `-n 2 3` and checking the `ignoreDims`'s value (in the debugger), it shows a vector with only one element - 2. (Yes, I've built MLPack with DEBUG=ON).

[2016-10-06 20:36] thejonan commented on #798
I obviously need to take some rest. I've just tried it again and it worked as expected. And I've made several attempts before (but without updating from your repo. This time I did). It is also possible to be because I make two types of builds - one in an xcode generated project (via cmake) and another with classical Makefiles with OpenMP enabled compiler, so they could step on each other's toes, a

[2016-10-06 20:37] rcurtin commented on #798
Ok, I will not investigate then. :)

[2016-10-06 20:37] #798 closed

[2016-10-07 19:35] rcurtin commented on #781
Closing for inactivity.  Please reopen if needed.

[2016-10-07 19:35] #781 closed

[2016-10-07 19:40] rcurtin commented on #783
Should we call this fixed with 635e37c?

[2016-10-07 20:08] zoq commented on #783
Ahh, I have forgotten to write a response, you are right it's fixed in 635e37c.

[2016-10-07 20:08] #783 closed

[2016-10-12 10:22] thejonan commented on #173
Is this possible as a general task at all?

[2016-10-12 10:29] thejonan opened #801 "Possible OpenMP parallelization issues in LSHSearch implementation"
I've accidentally stumbled on this. In the `lsh_search_impl.hpp` file, method

[code]

there is this OpenMP statement:

[code]

which is all fine, except that shared variables are not explicitly protected against racing conditions, namely the `BaseCase` method which actually modifies them, lacks any `#pragma atomic` or `#pragma critical` directives (both implementation of this method in the same f

[2016-10-12 12:52] rcurtin commented on #801
I don't think this is an issue because that parallel for loop is over the queries.  Each call to `BaseCase()` can only affect one column of the `resultingNeighbors` and `distances` variables, and `BaseCase()` will not be called with the same index `i` by two different threads.

[2016-10-12 12:58] rcurtin commented on #173
I think that OpenMP is really the best way to go here, so one way to do this is just "pick a method and OpenMP-ize it".  If you're interested in finding other parallelism solutions, you can explore libraries and propose solutions, but one of the biggest keys is that the code remains easy to maintain and easy to understand.  i.e., MPI code can be really ugly so we should really try to avoid that si

[2016-10-12 13:10] thejonan commented on #173
I completely agree, that OpenMP is the best way, (although Apple a reluctant to support it in their standard `clang` compiler). I've misunderstood the issue thinking it is either about bringing some other (new) framework, rather than OpenMP; or aiming at providing a universal way of parallelizing the algorithms themselves, which not really possible, being pretty method/algorithm specific process.

[2016-10-12 13:13] thejonan commented on #801
Oh, yes, I see. This is potentially prone to errors with different matrix implementations, I guess.

[2016-10-12 13:13] #801 closed

[2016-10-12 15:47] rcurtin commented on #759
Closing for inactivity.  Feel free to reopen if necessary.

[2016-10-12 15:47] #759 closed

[2016-10-18 10:37] thejonan commented on #227
After about two days of investigation of `BinarySpaceTree` I've given up doing that merge, because of these, few reasons:

- `BinarySpaceTree` is both quite universal, but in the same time - pretty much bound to tasks like kNN, etc. For example, the split criteria is solely bound to the `Bound` type, i.e. the space boundaries, which is not exactly the case in DET, where the split is based on a bro

[2016-10-19 04:36] itabhiyanta commented on #773
Hi Marcos

I would like to take up this issue. I am reading #765 to understand the issue. I am completely new to mlpack and machine learning. I have gone through the getting involved page.
http://www.mlpack.org/involved.html
So I am at the point where it is suggested to jump in and contribute.
Do you have any update/alternate way in which I should approach this (other than going through #765)?
Kin

[2016-10-19 10:29] akanuraj200 commented on #773
@itabhiyanta
Hello Rohit

I already have a PR (#799) in motion for the `FastMKS` and `DualTreeBoruvka` part of this issue. I had planned on updating `RASearch` and `RangeSearch` too as soon as i get some time, but you are free to try your hand at these two.

#765 is a good place to start. You might want to take a look at all the discussion there. They are helpful in understanding what is being imp

[2016-10-26 05:39] wan9c9 opened #804 "cannot build mlpack in hpc"
Hello,

I want to build mlpack in HPC without root privilege, but I'm facing the following errors. Please advice.

 25%] Linking CXX executable ../../../../bin/mlpack_preprocess_split
cd /Users/cwang42/workspace/tools/mlpack-2.0.3/build/src/mlpack/methods/preprocess && /opt/cmake/3.4.3/bin/cmake -E cmake_link_script CMakeFiles/mlpack_preprocess_split.dir/link.txt --verbose=1
/opt/gcc/6.1.0/bin/c++

[2016-10-26 06:09] rcurtin commented on #804
Can you tell me about the environment you are using?  Does it happen to be RHEL6?  (check `/etc/issue` or `uname -a`)

If I remember right, on RHEL6, passing the configuration option `-DBoost_NO_BOOST_CMAKE=1` to the CMake configuration command is necessary.  You might try that and see if that fixes the linking error.

[2016-10-27 11:43] thejonan opened #805 "DET documentation error"
In the documentation for DET (http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=dettutorial.html) it says:

While, the actual code is like this:

[code]

Which, is essentially equal to `ration / Volume`, without the logarithm part.

[2016-10-28 14:25] wan9c9 commented on #804
Hi Ryan,

Thank you very much for your reply. The system is
$ uname -a
Linux neon-login-0-1.local 2.6.32-358.23.2.el6.x86_64 #1 SMP Wed Oct 16
18:37:12 UTC 2013 x86_64 x86_64 x86_64 GNU/Linux

I also tried the -DBoost_NO_BOOST_CMAKE=1 option, but it has the same
problem.

 cmake ../ -DBoost_NO_BOOST_CMAKE=1
-- Checking for C++11 compiler
-- Checking for C++11 compiler - available
-- Armadillo libr

[2016-10-29 02:06] gmcather opened #806 "install warning, should be ignored?"
in the process of installing, some warning happens, should it be ignored?

/home/yao/work/mlpack/src/mlpack/tests/ub_tree_test.cpp: In member function ‘void UBTreeTest::SingleTreeTraverserTest::test_method()’:
/home/yao/work/mlpack/src/mlpack/tests/ub_tree_test.cpp:307:40: warning: ‘mlpack::neighbor::NeighborSearch<SortPolicy, MetricType, MatType, TreeType, DualTreeTraversalType, SingleTreeTravers

[2016-10-29 02:17] gmcather commented on #130
why does SVM not exist? In my understanding, SVM is an important classifier in Machine Learning

[2016-10-29 13:30] rcurtin commented on #130
Yes, SVMs are important, but we have never had anyone contribute a fast implementation.  Getting SVMs to scale well is a difficult problem.  If you would like to try and implement them you are more than welcome to, we just need to make sure they are faster than libsvm and other implementations. :)

[2016-10-29 15:17] gmcather commented on #130
Sounds cool. And I also heard some great ideas from wiki. Actually, it's my first time to get access to this project. However, I also want to make some contributions. Maybe I will get started by fixing some bugs. :)

[2016-11-01 15:03] rcurtin commented on #806
Yeah, this is just because a test was using a deprecated function.  You can ignore the warning.  It will be fixed as soon as I merge #768, which should happen today.

[2016-11-01 15:03] #806 closed

[2016-11-01 15:06] rcurtin commented on #805
I agree---fixed in 0a7fd0e.

[2016-11-01 15:07] rcurtin opened #807 "mlpack 2.1.1"
These are simple improvements to be backported to the mlpack 2.1.x branch because it is likely to be some time before mlpack 3.0.0 is released.

[2016-11-01 15:07] thejonan commented on #805
Thanks.

[2016-11-01 15:07] #805 closed

[2016-11-01 15:07] rcurtin commented on #807
Oops, I meant to open this as a milestone, and I clicked the wrong button.

[2016-11-01 15:07] #807 closed

[2016-11-01 20:57] rcurtin commented on #804
Hi there, sorry for the slow response---I was traveling.  When you re-ran CMake, did you remove `CMakeLists.txt` from the build directory first?  I think that it will not re-search for Boost libraries even if you specify `Boost_NO_BOOST_CMAKE`, if it has already found it.

If you did remove `CMakeLists.txt`, can you provide the output of `VERBOSE=1 make`?  Thanks.

[2016-11-04 02:29] wan9c9 commented on #804
Thank you so much Ryan. It looks like it works after  I erased the build
dir and rebuilt everything.

Thanks a lot.

Chao

On Tue, Nov 1, 2016 at 3:57 PM, Ryan Curtin <notifications@github.com>
wrote:

[2016-11-04 06:15] illidanswp opened #809 "How to organize the data?"
I'd like to use the hmm tools, the problem is how to organize the data in the training file. My data is a sequence of 3-dimension points as one input. If the file is written like this
1, 2, 3
4, 5, 6 ...
it will be treated as many inputs of 3-integer sequence, but what I want is something like this
(1,2,3), (4,5,6),(7.8,9)
(11,12,13),(14,15,16),(17,18,19) ...
Please help

[2016-11-04 06:32] illidanswp commented on #809
I'd like to use the hmm tools, the problem is how to organize the data in the training file. My data is a sequence of 3-dimension points as one input. If the file is written like this
`1, 2, 3
4, 5, 6
...`
it will be treated as many inputs of 3-integer sequence, but what I want is something like this
`(1,2,3), (4,5,6),(7.8,9)
(11,12,13),(14,15,16),(17,18,19)
...`
Please help

[2016-11-04 06:37] #704 closed

[2016-11-07 14:23] rcurtin commented on #804
Great, glad I could help! Feel free to open further issues if you have more problems.

[2016-11-07 14:23] #804 closed

[2016-11-07 14:59] rcurtin commented on #809
Hi there,

If you are using a discrete distribution (`--type discrete`), then multidimensional observations aren't supported.  It would not be impossible to support multidimensional discrete distributions (but there will be no relation between dimensions), but currently the code doesn't do that.  I think that we should leave this issue open until multidimensional support is added for HMMs.  For no

[2016-11-07 18:32] Erick2206 commented on #722
@rcurtin anyone still working on this issue? Looking forward to start contributing with this issue.

[2016-11-07 18:36] rcurtin commented on #722
@Erick2206: you are more than welcome to contribute.  This is a multifaceted issue so any improvement from whomever is welcome.

[2016-11-08 05:36] illidanswp commented on #809
Hi, thank you for your suggestion. Indeed I'm  intending to use gmm type, it supports mulidimension, right? So would you please tell me how to write my input file so that each row will be treated as an observed sequence of several 3-dimension points? Btw, I am working with command-line programs, so I need to write my data in a file.

[2016-11-08 13:56] rcurtin commented on #809
Ah, okay, sorry that I misunderstood the question.  Glad that you got it figured out---feel free to ask any questions in the future if you have them.  I'll go ahead and close the issue and then open a new issue for the multidimensional discrete distribution.

[2016-11-08 13:56] #809 closed

[2016-11-08 13:59] rcurtin opened #810 "Implement multidimensional discrete distribution"
See #809 for the discussion that led to this ticket.

Currently, the `DiscreteDistribution` class in `src/mlpack/core/dists/` only supports single-dimension discrete inputs (like `(1)`, `(2)`, `(5)`, etc.).  It would be very useful if it instead supported multi-dimensional discrete inputs (like `(1, 2, 3)`, `(3, 5, 8)`, `(1, 7, 5)`).  So the `DiscreteDistribution` class can easily be extended to s

[2016-11-10 20:57] stepthom commented on #420
I've had great success using [ClangFormat](http://clang.llvm.org/docs/ClangFormat.html) to stylize code and ensure coding standards. When you make it part of the testing process, code is always ensured to be consistently styled before it's committed.

[2016-11-11 13:40] zoq commented on #420
I heard good things about Clang Format. It looks like nobody is working on the issue right now, so if you like to pick it up feel free but don't feel obligated.

[2016-11-13 09:28] ThyrixYang opened #811 "Serialize a class with "map<int, Node*>""
I wrote a class like this:
[code]

I found that I can't use a map contains a pointer like this(but it's okay if replaced  by a "Node *")
Did I wrote something wrong or it's impossible to do that?

[2016-11-14 03:05] kc420 commented on #811
How to use stl container to hold pointers, and serialize it?

[2016-11-14 15:15] rcurtin commented on #811
Hi there, sorry for the slow response.  This is a tricky issue...

mlpack uses template metaprogramming in `src/mlpack/core/data/serialization_shim.hpp` so that you can write a method with `Serialize()` instead of `serialize()` which meshes with the style guide (member functions should start with a capital letter).  The details of how this is done is that the `data::CreateNVP()` function essential

[2016-11-15 11:31] kc420 commented on #811
Thank you for such a detailed explanation. Changing "S" to "s" worked well.
Can mlpack support Serialize() on stl containers in the future by default?(to mesh with the style guide).:)

[2016-11-15 22:17] rcurtin commented on #811
Sure, I am glad that it helped.

There are two options for serialization support for STL containers that hold mlpack objects: the first is to simply reimplement the STL container serialization support inside the class that uses the container (but that is a little ugly).  The second is a bit uglier:

A class template specialization can be added for each `SecondShim<std::type<...>>` object.  Inside

[2016-11-16 15:48] kc420 commented on #811
Thanks again. I'm glad to contribute to mlpack if I have any good idea (and be able to implement them) in the future.

[2016-11-17 01:27] windstyle opened #812 "A Runtime Exception std::bad_alloc may be caused when using Timer"
toolset version: mlpack 2.1.0, armadillo 7.500.0, openblas 0.2.19, boost 1.62.0
platform: visual studio 2015 win64

Code:
#include <mlpack\core.hpp>

using namespace mlpack;

int main(int argc, char ** argv)
{
	Timer::Start("some_timer");
	Timer::Stop("some_timer");
	return 0;
}

Exception:
0x00007FFAD9097788 处(位于 VTM.exe 中)引发的异常: Microsoft C++ 异常: std::bad_alloc，位于内存位置 0x000000EFE24FF320 处。
0x000

[2016-11-17 15:27] rcurtin commented on #812
Hi there,

I can't reproduce this because I don't have a Windows machine.  I have an idea, but I don't think it will work.

Can you change line 130 of `src/mlpack/core/util/timers.cpp` from

[code]

to

[code]

and see if anything is different?

[2016-11-18 13:02] windstyle commented on #812
Thanks a lot! Finally, I find that is my fault. I have linked the Release library in Debug mode by mistaken. I will close this issue. Thanks again for you help.

[2016-11-18 13:02] #812 closed

[2016-11-18 14:42] rcurtin commented on #812
Great, glad you got it figured out!  :)

[2016-11-19 19:33] abhinavrai44 opened #813 "Cannot load CSV file"
The following code generates an error on Load function -
[code]
The error generated is -

pro.cpp:(.text._ZN6mlpack4data4LoadIdEEbRKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEERN4arma3MatIT_EEbb[_ZN6mlpack4data4LoadIdEEbRKNSt7__cxx1112basic_stringIcSt11char_traitsIcESaIcEEERN4arma3MatIT_EEbb]+0x6e): undefined reference to `mlpack::Timer::Start(std::__cxx11::basic_string<char, std::char_tra

[2016-11-19 23:06] rcurtin commented on #813
Hi there,

You aren't linking against mlpack correctly when you are building your program.

Don't worry about the `RAModelTest` error---it's a known issue that I'll look into when I have a chance.

[2016-11-20 06:20] abhinavrai44 commented on #813
Hi,

After running CMake I am getting the following result -

-- The C compiler identification is GNU 5.4.0
-- The CXX compiler identification is GNU 5.4.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-

[2016-11-20 06:38] rcurtin commented on #813
You are not linking against mlpack. When you compile your test program make sure that you link against mlpack and any other libraries that are necessary. That is your problem.

[2016-11-20 12:40] abhinavrai44 commented on #813
Yeah got it
Thanks

[2016-11-20 12:40] #813 closed

[2016-11-23 06:58] alexklibisz opened #815 "Clear example for compiling example programs"
I apologize if I'm overlooking something. Is there an example somewhere for compiling the programs on this page: http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=sample.html

Maybe this is obvious to some, but I've been digging through issues and google for an hour now trying to get the second program to compile and run on Ubuntu 16.04. It would be great if the necessary `g++` commands or a m

[2016-11-23 07:20] alexklibisz commented on #815
I was able to get it working on ubuntu by installing

[code]

and compiled using

[code]

and switching the Log statements to `cout`.

[2016-11-23 22:13] rcurtin commented on #815
Hi Alex,

Sorry that you had trouble.  One of the reasons that we don't give the GCC commands or a Makefile is because the particular command we give might not work for every Linux distribution or environment that a user might be on, and that could result in more confusion.

I see that the way that the sample program is written, no output will actually be given (because by default `Log::Info` does

[2016-11-23 22:13] #815 closed

[2016-11-23 22:15] rcurtin opened #817 "Implement DTree copy constructor, move constructor, and copy/move assignment operators"
The `mlpack::det::DTree` class doesn't implement a copy constructor, move constructor, or copy/move assignment operators, meaning that if I do this:

[code]

the child pointers of `b` aren't properly updated.  So, these constructors and assignment operators need to be added.

`DTree` can be found in `src/mlpack/methods/det/dtree.hpp`.

[2016-11-27 23:25] gkalman1 opened #819 "Missing "mlpack/mlpack_export.hpp""
One cannot compile master branch, or any real part of it, because "mlpack_export.hpp" is not in the repository.

[2016-11-27 23:50] gkalman1 commented on #819
Sorry, kill this. I am having CMake issues.

[2016-11-27 23:50] #819 closed

[2016-11-28 16:13] rcurtin commented on #819
Glad to hear you got it working; if you find problematic documentation or something misleading that caused you to have this problem, feel free to open another issue and we can look into it.

[2016-11-30 10:48] cypro666 opened #821 "mlpack_adaboost error"
./mlpack_adaboost -t train.csv -l labels.csv -M model.txt
./mlpack_adaboost -m model.txt -T train.csv -o result.csv

[FATAL] input stream error
terminate called after throwing an instance of 'std::runtime_error'
  what():  fatal error; see Log::Fatal output
Aborted (core dumped)

train.csv :
2,3
2,3
2,4
1,0
2,3
6,6
7,8
2,3
2,3
2,4
1,0
2,3
6,6
7,8
2,3
2,3
2,4
1,0
2,3
6,6
7,8

lables.csv:
0
0
0
0
0

[2016-11-30 21:23] yanjundream opened #822 "Implementation of ne_test.cpp."
Hi, this is jun and I am doing something about NEAT but I am a newer in this field. The tutorial of "Summary of Neuroevolution Algorithms Implementation" is very nice. However I still do not know how to use mlpack to run the ne_test.cpp program. Could you give some more clue to do that? Thanks!

[2016-12-01 01:52] peekxc opened #823 "EMST non-optimal for d = 2 sets of forests"
Consider the attached zip archive containing two csv files. I assume you change the path of where the file is downloaded too. The archive contains:

1. A distance/dissimilarity matrix
2. 100 two-dimensional points from which the dissimilarity matrix was computed from

I wish to compute the **euclidean minimum spanning tree** of said matrix, built from said points.

I've attached a reproducible PDF

[2016-12-01 02:03] rcurtin commented on #823
To be clear, is the goal to calculate the minimum spanning tree of the dissimilarity matrix if I consider each row of the dissimilarity matrix to be a point in a dataset?  Or is the goal to calculate the minimum spanning tree of the original 100 points with the different notion of distance that you are using?

[2016-12-01 03:25] peekxc commented on #823
The goal is to calculate the minimum spanning tree of the dissimilarity matrix, where each row represents the set of these special distances from that point (indexed by row) to every other point in the database (indexed by column), yes. The diagonal is purposefully non-zero. You shouldn't need the original 100 points, except to verify the output of SciKit's implementation, which doesn't accept a p

[2016-12-01 15:39] zoq commented on #822
Hello, writing tests in mlpack is done with the Boost Unit Test Framework: http://www.boost.org/doc/libs/1_58_0/libs/test/doc/html/utf.html If you make a test suite called "TestSuite" (BOOST_AUTO_TEST_SUITE(TestSuite)), and then build ``mlpack_test`` (``make mlpack_test``), you can run only the tests in that test suite with ``bin/mlpack_test -t TestSuite``. A specific test case called 'TestCase' (

[2016-12-05 02:23] rcurtin commented on #821
I can reproduce this with both 2.1.0 and git master.  But I found that if you use binary models (i.e. `-M model.bin` and `-m model.bin`) there is no problem and everything seems to work.  Text and XML models fail.  I'll try to look into this in the coming days.

[2016-12-05 03:18] cypro666 commented on #821
Aha， bin format works well ，Thx！
Infact bin format makes more efficiency， but sometimes texts get better readability ：）

[2016-12-06 15:15] rcurtin commented on #821
So the issue here is twofold:

 * The training set you are using can be perfectly modeled by the weak learner in a single iteration of AdaBoost.  But the AdaBoost code does not handle this as well as it could.
 * There is some problem serializing `nan` values in text and binary format.

I have some ideas for how to fix it but at the moment I don't have the time.  If you train on a more difficult d

[2016-12-11 02:07] MikeLing commented on #810
Hey @rcurtin , I would like to take this issue :)

[2016-12-11 19:47] yashu-seth commented on #733
@mentekid @rcurtin What is the status of this issue?

[2016-12-11 21:51] rcurtin commented on #733
@yashu-seth: it is still an open issue.  The `Train(probabilities, observations)` overload is the only thing that's missing.  There's a link to some discussion in #751 that talks about that.  If you'd like to do this and submit a PR, it would be appreciated.

[2016-12-12 16:01] yashu-seth commented on #733
@rcurtin Okay. I will look into this and submit a PR ASAP.

[2016-12-12 16:44] rcurtin commented on #810
Hi there, feel free!  If you submit a PR I'll look it over and we can go from there.

[2016-12-13 03:44] MikeLing commented on #810
@rcurtin Hey, How could I just run discrete_distribution.cpp to test my pr and how could I use gdb or other debug tool about it? Thank you very much

[2016-12-13 08:18] MikeLing commented on #202
Hey @rcurtin, I have experience for python coding(two years experience for Mozilla A-team and I worked for it as GSoC student) and I'm a postgraduate student majoring in CS. Could I worked for Python binding for mlpack? However, I never do the binding job before, could you give me some information about it?

[2016-12-13 08:58] MikeLing commented on #202
After I found some more information about swig[1][2], I guess I know how to bind it with python. Do I need to create a PR on my branch for discussing for now?

[1] http://www.swig.org/Doc3.0/SWIG.html#SWIG
[2]http://www.swig.org/Doc3.0/Python.html#Python

[2016-12-13 14:56] rcurtin commented on #810
If you mean that you want to run the discrete distribution tests, build the `mlpack_test` target and run the test suite:

[code]

and the sources for that test are in `src/mlpack/tests/discrete_distribution_test.cpp`.

[2016-12-13 15:44] MikeLing commented on #810
@rcurtin It said **Test setup error: no test cases matching filter or all test cases were disabled**

How could I use gdb to test the special test like DiscreteDistributionTest? Because I want to get familiar with how exactly the discrete distribution works inside, so I want to debug the test case  step by step :)

[2016-12-13 16:02] rcurtin commented on #810
Oh, sorry, I gave the wrong instructions.  The test suite is actually called `DistributionTest` not `DiscreteDistributionTest`, and the tests are found in `distribution_test.cpp`.  Take a look and you'll see what the names are.

So you could do something like, e.g.,

[code]

You can see that I can also specify the name of the individual test to run, as well as the test suite.  So you can use this

[2016-12-13 21:41] rcurtin commented on #823
Hey there,

I'm sorry for the lag in the response.  When I review what you've written and take a look, I think that the problem that you are trying to solve is actually different.  mlpack's minimum spanning tree code calculates the minimum spanning tree of the input points---it doesn't take in a dissimilarity (or distance) matrix as input.  Instead the reason that the mlpack implementation is fast

[2016-12-14 14:07] yashu-seth opened #829 "Link not working in Building mlpack Under Windows"
@keonkim's link in [Building mlpack Under Windows](https://github.com/mlpack/mlpack/wiki/WindowsBuild) is not working. Can someone please help me with building mlpack under windows.

The not working link is - http://keon.io/mlpack-on-windows.html

[2016-12-14 14:09] Kirizaki commented on #829
Hi, try this link: https://overdosedblog.wordpress.com/2016/08/15/once_again/

[2016-12-14 14:17] rcurtin commented on #829
Looks like Keon's link changed to http://keon.io/2016/06/04/mlpack-on-windows.html. I've updated the wiki. @kirizaki: nice page, can I add it to the wiki too? :)

[2016-12-14 14:19] Kirizaki commented on #829
Sure!

[2016-12-14 14:29] yashu-seth commented on #829
@Kirizaki @rcurtin Thanks. Can I use any environment other than visual studio 2015 like eclipse?

[2016-12-14 16:42] keonkim commented on #829
oops sorry, I changed the blog template

[2016-12-15 03:11] MikeLing commented on #810
Hey @rcurtin , I just create a PR[1] for this issue. I'm not sure if that's your need, but some code will be a good start I guess. And I will add comments if PR close to be merged :)

[1] https://github.com/mlpack/mlpack/pull/830

[2016-12-15 11:12] shikharbhardwaj commented on #755
Can I start working on this issue?

[2016-12-15 14:07] shikharbhardwaj commented on #755
I had a look through the code in `prefixedoutstream.hpp` and `prefixedoutstream_impl.hpp`.

Converting each output to a string causes the floating-point types to lose the type information needed by the `destination` stream to output the necessary precision.

I could imagine two solutions to the problem

1. Introduce 3 inline template specialisations for `util::prefixedoutstream::BaseLogic` for `fl

[2016-12-15 15:22] rcurtin commented on #755
Hi Shikhar,

Thanks for looking into this.  I think the second approach is the right one to use here.  Since there should never be a newline printed as a result of printing a number, you can probably simplify the overload of `BaseLogic` greatly, too.

One thing to check will be that `std::fixed` and `std::setprecision` work with Armadillo objects, like this:

[code]

But even if that does not, jus

[2016-12-15 17:44] shikharbhardwaj commented on #755
Thanks Ryan.

Turns out that just syncing the flags and precision between `destination` and `convert` will be enough, without needing extra overloads.

Printing Armadillo objects with set precision is not possible with this approach AFAICS, as the overloads for `operator<<` called are defined by Armadillo.

Armadillo does provide a `raw_print` method to print without modifying the stream flags but

[2016-12-16 06:37] aneesh2312 commented on #773
@akanuraj200 I would like to try RASearch and RangeSearch as I am new here, and would like to start with something labeled easy. Are you working on it? Or can I?

[2016-12-16 06:40] itabhiyanta commented on #773
Hi

I haven't started so you may pick it up.
Rohit

On Fri, Dec 16, 2016 at 7:37 AM, aneesh2312 <notifications@github.com>
wrote:

[2016-12-16 11:04] akanuraj200 commented on #773
Hello @aneesh2312
I am not working on `RASearch` and `RangeSearch` currently. You are free to try your hand at them.
All the best. :)

[2016-12-16 16:18] rcurtin commented on #755
Not quite fixed yet, it would be nice to make sure Armadillo objects print with custom precision first.

[2016-12-17 08:55] illidanswp opened #833 "Anything wrong with hmm_train?"
I'm trying to use "mlpack_hmm_train", but there's something strange. My data for testing is`1 11 111\n
2 22 222\n
3 33 333\n
4 44 444\n
1 11 111\n
2 22 222\n
...` saved in "input.txt", and with the command line `mlpack_hmm_train -i input.txt  -t gaussian -n 4 -o model.txt`, but no model could be trained out, unless a label file like`0\n
1\n
2\n
3\n
0\n
1\n
...` is specified. Does the unsupervised

[2016-12-18 21:11] rcurtin commented on #829
The link is fixed now so I am going to go ahead and close the issue.

[2016-12-18 21:11] #829 closed

[2016-12-19 20:21] rcurtin commented on #833
Hi there,

Thanks for reporting the issue.  It turns out that there was a problem.  If your data was normalized to be all in the range [0, 1], training would have worked... :)

The emission distributions were being initialized to a zero-mean unit-covariance Gaussian, but your data takes values very far away from that Gaussian.  Thus during the forward-backward algorithm, the probabilities of each

[2016-12-20 06:37] illidanswp commented on #833
Hi,
Thank you for your reply. I've tried the latest version. Good news is I did get a model, using the same testing data and command(`-o model.txt` was replaced by `-M model.txt`). But another problem is the viterbi algorithm, `mlpack_hmm_viterbi -m model.txt -i input.txt -o vtb.txt` (notice that I'm using the input.txt file, which has been used training the model), the result turns out to be `0 0

[2016-12-20 12:14] hongguangguo opened #837 "I want to try Naive Bayes and Random forest, but they aren't in mlpack, Is it useful to implete them?"
If yes, I would like to contribute .

[2016-12-20 13:23] rcurtin commented on #833
Try training with `--random_initialization`; this should fix the issue.  Without that option, the transition probabilities are initialized to all equal values and this can mess up the optimization.  When mlpack 2.1.1 is released the option will be removed because I will make random initialization the default---uniform initialization has caused too many problems to be reliable.

[2016-12-20 14:11] rcurtin commented on #837
Hi there, Naive Bayes is in mlpack; see the `mlpack_nbc` program or `src/mlpack/methods/naive_bayes/`.  Random forests are not implemented yet but I need them for a paper I am working on so I am trying to implement them.  If there is some other technique you would like to implement, please do feel free to contribute it.

[2016-12-20 14:57] Lakshya1605 opened #838 "Cannot build mlpack"
Hi,
Sorry if I'm overlooking something.But when i am trying to build mlpack i am facing the following error.
Though this issue is same as #804 , i have tried all possible methods mentioned there but still this problem exists.Please help me out.

[ 25%] Linking CXX executable ../../../../bin/mlpack_preprocess_split
CMakeFiles/mlpack_preprocess_split.dir/preprocess_split_main.cpp.o: In function `boo

[2016-12-20 14:59] rcurtin commented on #838
Can you tell me more about your system?  What OS?

What's the output when you ran `cmake` to configure the project?

And can you run `VERBOSE=1 make` and paste the output?

[2016-12-20 17:13] Lakshya1605 commented on #838
Description:	Ubuntu 16.04.1 LTS
Release:	16.04
Codename:	xenial

After runnig cmake -D DEBUG=OFF -D PROFILE=OFF ../
the output is as below

 -- The C compiler identification is GNU 4.9.3
-- The CXX compiler identification is GNU 4.9.3
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info

[2016-12-20 17:17] rcurtin commented on #838
Thanks for the output.  I don't see anything immediately wrong but we can keep digging. :) Can you tell me how you installed boost on this system?

[2016-12-20 17:20] Lakshya1605 commented on #838
Using "sudo apt-get install libboost-all-dev" command

[2016-12-20 17:23] rcurtin commented on #838
Do you have another version of boost installed in /usr/local/lib/ or anything?  See if you can find a copy of libboost_program_options.so somewhere else on your system, maybe the linker is using that one by accident.  Is it possible you updated your system while building?  That might cause an issue.

[2016-12-20 17:35] Lakshya1605 commented on #838
No i don't think there is any copy because "locate libboost_program_options.so " returns only a single result "/usr/lib/x86_64-linux-gnu/libboost_program_options.so.1.58.0" and yes i think i updated the system while building

[2016-12-20 20:19] rcurtin commented on #838
If you updated the system while building, can you remove the entire build directory and start over?  That may be the issue.

[2016-12-20 20:40] yashu-seth opened #839 "Add tests for GaussianDistribution:Train(observations, probabilities)"
Tests exist for GaussianDistribution::Train(observations) but not for GaussianDistribution:Train(observations,  probabilities).

[2016-12-21 01:16] mas-dse-greina commented on #815
I followed Alex's apt-get commands and it seemed to install for me on Ubuntu 16.04.

I took the example file and tried to compile it just like Alex compiled nnserach.cpp:

`// Includes all relevant components of mlpack.
#include <mlpack/core.hpp>
// Convenience.
using namespace mlpack;
int main()
{
  // First, load the data.
  arma::mat data;
  // Use data::Load() which transposes the matrix.
  da

[2016-12-21 02:09] rcurtin commented on #815
Hi Tony,

You need to add the `-std=c++11` flag to your gcc call. :)  `This support must be enabled with the -std=c++11 or -std=gnu++11 compiler options.`  I added a little bit to the tutorial in 20da685 so that should help clarify the need for a C++11 compiler.

Personally I don't use an IDE to develop mlpack, just vim + GNU screen + command-line.  I am sure some others do use IDEs but I have nev

[2016-12-21 02:32] mas-dse-greina commented on #815
`g++ -std=c++11 mlpackTest.cpp -o MLTEST -larmadillo -lmlpack -lboost_serialization`

That worked. Thanks so much.

-Tony

[2016-12-21 05:07] illidanswp commented on #833
Yeah, it's really a good suggestion, many thanks.

[2016-12-21 08:08] Lakshya1605 commented on #838
Tried removing the entire build directory and start over but it doesn't work .I think there is some problem in my system , Working fine in Virtual Box though thank you.

[2016-12-21 14:48] rcurtin commented on #838
Ok, good to hear you got it sorted out. I'm going to go ahead and close this issue then.

[2016-12-21 14:48] #838 closed

[2016-12-21 14:49] rcurtin commented on #833
Great to hear it worked. I will release mlpack 2.1.1 with these fixes then.

[2016-12-21 14:49] #833 closed

[2016-12-22 03:54] abhinavrai44 commented on #773
Hi,
I would like to take this issue. Can I also try to solve the problem or is it allotted ?

[2016-12-22 09:01] Lakshya1605 commented on #838
@rcurtin  Sorry but i am not sure where to post this also i don't want to spam the issue tracker with questions like this but can you please help me out .Whenever i try to send mail to mailing list i get error like the below .

Delivery to the following recipient failed permanently:

     mlpack@cc.gatech.edu

Technical details of permanent failure:
Google tried to deliver your message, but it was

[2016-12-22 16:01] rcurtin commented on #838
Sorry, the links were wrong. The mlpack mailing lists have moved to http://lists.mlpack.org/mailman/listinfo/mlpack and http://lists.mlpack.org/mailman/listinfo/mlpack-git .

Note that you must be subscribed to the list to send a post.

I updated the website and repository to ensure all the links are up to date. Sorry about the confusion.

[2016-12-22 16:51] rishabhkumar296 commented on #756
Hi, I would like to work on this issue.

[2016-12-23 05:13] aneesh2312 commented on #773
@abhinavrai I am working on it..

[2016-12-24 05:45] mas-dse-greina opened #843 "Is there a recommended plotting library?"
It doesn't look like mlpack plots figures (e.g. plotting the linear regression).

Can anyone recommend good C++ packages they use with their mlpack work?

Thanks.
-Tony

[2016-12-24 07:27] Lakshya1605 opened #844 "Error while using mlpack::data::Load"
May be i am doing something wrong but whenever i am trying to load a ".csv" file into a vector i get error like below
 "error: Mat::init(): requested size is not compatible with column vector layout
terminate called after throwing an instance of 'std::logic_error'
  what():  Mat::init(): requested size is not compatible with column vector layout
Aborted (core dumped)".
But armadillo load  (ie=> x.

[2016-12-24 07:29] Lakshya1605 commented on #844
If it is a bug i would like to work on it please can someone help me out( i

[2016-12-24 15:20] mohit-raj commented on #844
Are you executing load through C++ Api or mlpack-CLI(command line interface) ?

[2016-12-24 15:34] mohit-raj commented on #844
In case you are load armadillo then you need to transpose the matrix after load, if the coordinate list is in row major format. It might be the cause as the error says requested size is not compatible with column vector layout.
Commands to run :
Let x be the matrix name.
arma :: sp_mat x; // only if in case of loading sparse matrix (this is optional)
x.load("***.csv")  //armadilo load
x = x.t()  /

[2016-12-24 18:35] Lakshya1605 commented on #844
@mohit-raj  sorry my bad i missed the phrase "using mlpack::data::Load" .However i have edited it now.And yes using armadillo load is working fine  but
Thank You

[2016-12-24 18:35] Lakshya1605 commented on #844
@mohit-raj  sorry my bad i missed the phrase "using mlpack::data::Load" .However i have edited it now.And yes using armadillo load is working fine but loading using mlpack load isn't.
Thank You

[2016-12-25 16:06] rcurtin commented on #843
Hi Tony,

You're right, mlpack doesn't plot figures.  Typically if I need figures I'll import data into Octave or something like that to plot with.  Other options might be to use gnuplot's C++ interface (http://gnuplot.sourceforge.net/links.html) or maybe something in this list: http://stackoverflow.com/questions/296199/is-there-any-out-of-the-box-2d-3d-plotting-library-for-c

Hopefully something

[2016-12-25 22:06] mas-dse-greina commented on #843
Thanks Ryan. I can get gnuplot to work well when I run from a standard console C++ program, but am having trouble using wxWidgets with it. I'm guessing that wxWidgets is suppressing the console window that gnuplot wants to print to. I'll keep at it to see if I can find the work around. If you can think of anything, please send it my way.

Merry Christmas.
-Tony

[2016-12-27 16:09] #733 closed

[2016-12-27 17:18] rcurtin commented on #843
Will do; please feel free to send an update if you find a fix or anything.  Personally I haven't ever used wxWidgets so I don't know if I will think of anything. :)  I'll go ahead and close this issue---feel free to reopen if needed.

[2016-12-27 17:18] #843 closed

[2016-12-27 17:19] rcurtin commented on #811
I think this issue is done, so I'm going to go ahead and close it.  Feel free to reopen if needed.

[2016-12-27 17:19] #811 closed

[2016-12-27 17:23] rcurtin commented on #771
Actually there is already an issue open for the many warnings, it's #554.

[2016-12-28 17:05] Lakshya1605 commented on #810
Is this still open ,if yes i would like to work on it .It may take some time  i am new here.Thank You

[2016-12-29 01:39] MikeLing commented on #810
Hey @Lakshya1605, I'm working on it already. And I'm sure it's close to be done :)

[2016-12-29 10:30] Lakshya1605 commented on #844
@mohit-raj @rcurtin  could you please confirm if it is a bug .If yes i would like to work on it ,please can you help me get started.

[2016-12-29 15:46] rcurtin commented on #844
`data::Load()` was not intended to load column or row vectors.  You are free to help extend the function so that it does, but please be certain before you open a PR that the code compiles, is tested, and follows the mlpack style guidelines.

[2016-12-30 16:56] Lakshya1605 commented on #844
@rcurtin can you please tell me on how to get started ,where can i find the code for data::Load , and how to compile it after making changes and coding standards of mlpack ( i have tried finding the solution to the  above in the main website and also in the github page but could not find it).Sorry if i have overlooked something.
Thank You

[2017-01-02 13:39] naveenjafer commented on #562
@rcurtin adding this in the docs would be of great help for first timers :) http://www.mlpack.org/docs/mlpack-2.1.1/doxygen.php?doc=sample.html

[2017-01-03 14:39] rcurtin commented on #844
Use a search tool like grep or something to find the code you're looking for or just poke around the repository to see where it is included from.  Once you make a change, build the library and run the tests.  There are directions for how to do this in the readme and the tutorials.

[2017-01-04 18:42] Lakshya1605 commented on #844
Thank you @rcurtin for the help i have made changes in the development version( that is i have cloned the github repository and have made changes to it)  but i am unaware on how to include this development version in compiling the program .Is it  customary to simply add the development projects header directory to my project's header search path or is their any other way.

[2017-01-04 21:15] zoq commented on #844
Hello, you can just link against the mlpack header and library:

[code]
You might also need to link against:

[code]

[2017-01-06 18:56] Lakshya1605 commented on #844
@rcurtin @zoq I have coded the Load function for armadillo "Column" vectors ,can you please tell me how to incorporate even "Row" vectors within the same code .Thank You!!!

[2017-01-07 17:42] 5465869 opened #849 "Novice building mlpack"
Hi I know this is kind of pitiful, but I'm trying to start contributing and I am struggling to build mlpack on my Mac. downloaded the latest version and I am kind of confused whether I need to download and build the dependencies to build mlpack or whether those are for functionality. I created a "build" directory in the mlpack-2.1.1 directory then typed the command cmake ../ but nothing happens. D

[2017-01-08 11:44] zoq commented on #849
Hello and welcome. All dependencies mentioned are required to build mlpack:

[code]

Since you are on Mac OS you could either use homebrew or MacPorts to install the dependencies. E.g. using homebrew:

[code]

installs all necessary dependencies. Afterwards just follow the install steps:

[code]

[2017-01-08 21:30] 5465869 commented on #849
Thank you so much! Looks like it built without any issues.

[2017-01-09 06:22] Lakshya1605 commented on #839
I would like to work on this please could you elaborate on what is expected .Thank You!!!

[2017-01-09 12:28] yashu-seth commented on #839
@Lakshya1605 Currently Gaussian distribution can be trained by providing observations and the corresponding probability of those observations. But tests have not been added for this. You can have a look at #733 and #751 which deals with ```GammaDistribtuion::Train(observations, probabilities)``` to get some idea.

[2017-01-09 15:22] sam0410 commented on #420
stephentu: the link mentioned ('cpplint') is not available

[2017-01-10 18:54] shikharbhardwaj commented on #755
Hi

An approach for printing Armadillo objects with custom precision would be to define an overload for them, and then use `arma::raw_print` to print the object, as shown [here](http://arma.sourceforge.net/docs.html#raw_print).

The problem with this approach would be misaligned output if the user decides to set incorrect flags on the stream. Also, by default, `std::cout` does not have `std::fixed

[2017-01-10 20:16] Lakshya1605 commented on #839
@yashu-seth I have gone through #733 and #751  as mentioned and i was thinking if the same method as @rcurtin has mentioned there would work fine.Thank You !!!.

[2017-01-14 19:45] nitinkgp23 commented on #821
Hey Ryan,

I am a newbie here, and I am in a position of just jumping in and contribute. I wanted to take up this issue, since most of the 'easy'  labelled isues have already been taken up or have been fixed. I will require help from you on how to go ahead with this issue.

[2017-01-16 17:14] IlievskiV opened #851 "Gaussian Proces in MLpack"
Hello,

is there a Gaussian Process implementation in MLpack?

[2017-01-16 19:00] Lakshya1605 commented on #839
@yashu-seth  I have gone through #733 and #751  as mentioned and i was thinking if the same method as @rcurtin has mentioned there would work fine.Thank You !!!!.

[2017-01-16 19:30] Lakshya1605 commented on #822
Is this still open if yes i would like to work on it . Thank You!!!

[2017-01-17 14:01] rcurtin commented on #839
Hi @Lakshya1605, if you are going to implement tests for this, think about the tests you are writing and ensure that they would be good tests for the Gaussian distribution when it is trained with probabilities for each observation.  Certainly an approach similar to the Gamma distribution tests could work, but it will probably require some adaptation.

[2017-01-17 14:02] rcurtin commented on #851
Hi there Vladimir,

At this time there is no GP implementation.  Sorry that the support you are looking for isn't here.  On the other hand, you are always welcome to contribute an implementation... :)

Thanks,
Ryan

[2017-01-17 14:11] IlievskiV commented on #851
Hi Ryan,

sure, I would be happy to provide an implementation, that was exactly my point :)

Thanks,
Vladimir

[2017-01-17 14:15] rcurtin commented on #851
Great, I was hoping you would say that. :)

When you do write an implementation, please try and conform to the mlpack style guide --- https://github.com/mlpack/mlpack/wiki/DesignGuidelines --- and write some tests so that we can know that it works.  If there's anything I can clarify, please let me know and I'm happy to help out.  Ideally the implementation we end up with should be faster than othe

[2017-01-17 14:28] zoq commented on #822
Hello @Lakshya1605, this isn't an actual issue since the test already exists and the point was to figure out how to run the test suite.

[2017-01-17 14:28] #822 closed

[2017-01-17 14:55] #849 closed

[2017-01-17 14:55] #837 closed

[2017-01-17 14:56] rcurtin commented on #823
I'm going to close this for inactivity---please feel free to reopen it if necessary.

[2017-01-17 14:56] #823 closed

[2017-01-17 14:56] rcurtin commented on #817
Fixed in #826 and #824.

[2017-01-17 14:56] #817 closed

[2017-01-17 23:38] CorpaciLC opened #852 "Errors while buidling mlpack-2.1.1"
Hello!
I received some errors when doing this tutorial: https://github.com/mlpack/mlpack
Whent running mlpack_test I get these:

Running 717 test cases...
/home/student/MLPACK-2.1.1/mlpack-2.1.1/src/mlpack/tests/adaboost_test.cpp(37):          fatal error in "HammingLossBoundIris": Cannot load test dataset iris.csv!
/home/student/MLPACK-2.1.1/mlpack-2.1.1/src/mlpack/tests/adaboost_test.cpp(77):

[2017-01-17 23:45] rcurtin commented on #852
Hi there,

Did you run the test in the same directory where you built the library?

[2017-01-18 12:19] CorpaciLC commented on #852
Yes, but I got some errors when building too.

[2017-01-18 13:52] rcurtin commented on #852
OK, unfortunately there isn't really enough information for me to provide any other pointers here. Can you tell me exactly what you did and wgat your setup is so I can try to reproduce the issue? Thanks.

[2017-01-19 13:39] dineshraj01 commented on #810
Hi, has this issue been resolved? I would like to work on it.

[2017-01-23 01:32] MikeLing commented on #810
@dineshraj01 Sorry for the late reply, I meet some problems on hmm but I'm trying to resolve it. Could you wait a bit long? I will hand out this issue if I'm sure I can't finished it. Thank you :)

[2017-01-23 10:15] mohammadAdnan opened #856 "i can't build mlpack?"
-- Building for: Visual Studio 14 2015
-- The C compiler identification is MSVC 19.0.24213.1
-- The CXX compiler identification is MSVC 19.0.24213.1
-- Check for working C compiler: F:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/cl.exe
                      -- Check for working C compiler: F:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/cl.exe -- works
-- Detecting C compile

[2017-01-23 10:16] mohammadAdnan commented on #856
CMake Warning (dev) at CMakeLists.txt:51 (if):
  Policy CMP0054 is not set: Only interpret if() arguments as variables or
  keywords when unquoted.  Run "cmake --help-policy CMP0054" for policy
  details.  Use the cmake_policy command to set the policy and suppress this
  warning.

  Quoted variables like "MSVC" will no longer be dereferenced when the policy
  is set to NEW.  Since the policy is n

[2017-01-23 13:09] sam0410 commented on #856
@mohammadAdnan  I suppose armadillo wasn't built properly. Are you building mlpack on windows?

[2017-01-23 13:15] sam0410 commented on #856
@mohammadAdnan  I was getting the same error but after building mlpack according to Keon's tutorial ( http://keon.io/mlpack/mlpack-on-windows/ ) my problem was resolved.

[2017-01-23 13:17] mohammadAdnan commented on #856
Hi sam,

Yeah i followed all of his steps, twice indeed. However, i still get the same error in windows 10 64 bit, visual studio 2015.

[2017-01-23 13:52] mohammadAdnan commented on #856
sam, can you explain what you did?

[2017-01-23 14:08] zoq commented on #856
Hi there,

I think your problem is that you have to specify the correct path for ARMADILLO_INCLUDE_DIR and ARMADILLO_LIBRARY as options to CMake:

[code]

The command above uses armadillo-7.100.3 but if you use the latest stable version it should be armadillo-7.600.2. Try that and I think that should fix your problem.

[2017-01-23 14:53] prasanna08 commented on #401
Hi @stephentu I would like to work on this issue. I don't have much idea about SDP optimiser. I am interested in learning it. Can you help me to get started with this issue ?

[2017-01-23 17:41] IlievskiV commented on #851
Hello Ryan,

after careful consideration of the Gaussian Processes, I decided to split the implementation in two parts. First, all Covariance functions, which are predefined, must be implemented and tested, and only after this the actual implementation of the Gaussian Process can be done.

So, one module is the covariance functions, and then it is the Gaussian Process, but only for regression. For

[2017-01-23 18:19] rcurtin commented on #851
Hi Vladimir,

I think this is a good plan.  If you open a PR with the GP covariance functions, I'll do my best to look through it quickly.

Thanks!
Ryan

[2017-01-23 20:09] Lakshya1605 commented on #839
@rcurtin @yashu-seth I have been trying the test case as mentioned by "rcurtin" that is `Gaussian::Train(rdata, probabilties)`and `Gaussian::Train(rdata)` should give nearly same parameters( mean and covariance) when all probabilities are 1 . But it turns out that Means are coming the same but not Covariance's .

`BOOST_REQUIRE_CLOSE` in case of covariance is throwing error when "tolerance" is "1e

[2017-01-23 20:14] rcurtin commented on #839
1e-2 is 1% tolerance---I think that's fine for the covariance.  Covariance estimation is typically a noisy process.  You could also probably reduce the covariance error by adding more points to the dataset.  One useful thing to check is that the test succeeds with lots of different random seeds.  So you can test that like this: add the line `math::RandomSeed(std::time(NULL))` to the start of the t

[2017-01-24 01:10] CorpaciLC commented on #852
Hello! Sorry for responding so rare. I'm full of projects and exams these weeks.
I don't remember every error I got, so I tried to redo it all.
Fortunately, I read these lines on time::

"This document discusses how to build mlpack from source. However, mlpack is in the repositories of many Linux distributions and so it may be easier to use the package manager for your system. For example, on Ubun

[2017-01-24 02:05] rcurtin commented on #852
What do you mean?  Do you have a problem compiling the example programs?  If so be sure to link with `-lmlpack`.  If you can provide full output of what you've done and what's failed, I can probably help more.

[2017-01-24 07:39] mohammadAdnan commented on #856
cmake
G "Visual Studio 14 2015 Win64"
DBLAS_LIBRARY:FILEPATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.7\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a"
DLAPACK_LIBRARY:FILEPATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.7\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a"
DARMADILLO_INCLUDE_DIR="C:\Users\Avrahim\Documents

[2017-01-24 07:41] DragonOnTheBeach opened #857 "[Collaborative Filtering] Armadillo matrix initialization error"
Hi,

I tried executing collaborative filtering sample program from the link:
http://www.mlpack.org/docs/mlpack-2.0.2/doxygen.php?doc=cftutorial.html

* CF with default parameters

The code used is-
[code]

Compilation has been done through-
[code]

Compilation happened successfully, after that, while trying to run the same, the error I got is-
[code]

The file used as an input is attached.

I ran

[2017-01-24 09:49] CorpaciLC commented on #852
Actually I see that my system doesn't recognize the mlpack commands.
After this command :
sudo apt-get install libmlpack-dev

 I get:
Reading package lists... Done
Building dependency tree
Reading state information... Done
libmlpack-dev is already the newest version (2.0.1-1).
0 upgraded, 0 newly installed, 0 to remove and 86 not upgraded.

Should I do more to make mlpack functional?

[2017-01-24 11:04] CorpaciLC commented on #852
I also installed mlpack-bin.

[2017-01-24 11:42] CorpaciLC commented on #852
Now I am quite unsure about how datasets work. Can you direct me to some link where I can find more details, please?

[2017-01-24 12:58] zoq commented on #856
Did you remove the "-" before the commands here for readability? Also what's the mlpack version you like to build?

[2017-01-24 13:06] zoq commented on #852
The command-line program reference might be helpful: http://www.mlpack.org/docs/mlpack-2.1.1/man.html

[code]

You could use the iris.csv dataset as input.csv to test the command: https://raw.githubusercontent.com/mlpack/mlpack/master/src/mlpack/tests/data/iris.csv

[2017-01-24 13:35] CorpaciLC commented on #852
mlpack_knn isn't recognised on my system. It must be installed individually?
This is the list I have in /usr/bin.

mlpack_adaboost
mlpack_allkfn
mlpack_allknn
mlpack_allkrann
mlpack_cf
mlpack_decision_stump
mlpack_det
mlpack_emst
mlpack_fastmks
mlpack_gmm_generate
mlpack_gmm_probability
mlpack_gmm_train
mlpack_hmm_generate
mlpack_hmm_loglik
mlpack_hmm_train
mlpack_hmm_viterbi
mlpack_hoeffding_tree

[2017-01-24 14:18] rcurtin commented on #852
Since mlpack installed on your system is 2.0.1, make sure you are using the documentation for that version:

http://www.mlpack.org/docs/mlpack-2.0.1/doxygen.php?doc=sample.html (i.e. 2.0.1 not 2.1.1)

In 2.1.1, `mlpack_allknn` was changed to `mlpack_knn`.  So you can use the `mlpack_allknn` program instead in 2.0.1.

[2017-01-24 16:03] CorpaciLC commented on #852
Ok! Thank you!

[2017-01-24 16:58] Lakshya1605 commented on #839
@rcurtin Do you think the method that you specified which included

- drawing 2 different distributions with different parameters and then setting probabilities to the first as something small and the second as something large and then recovering the distribution whose parameters will resemble close to the parameters of the second one would work here ?

 When i try implementing it ,there is a prob

[2017-01-24 18:11] rcurtin commented on #839
That probably means that there is either a problem with your test implementation or a problem with the implementation itself.  Check through the test.  Either way, that strategy of testing should work.

[2017-01-24 18:12] rcurtin commented on #852
Great, glad we could help out.  Should we close this issue then, if your problems are resolved?

[2017-01-24 18:23] rcurtin commented on #857
The variable `rank` isn't initialized---make sure you set that to what you want the rank of the decomposition to be, and it should work.  Since `rank` is left unset, it will probably have a random value that might be very large (or it might be 0, which will make the program fail in a different way). :)

[2017-01-24 21:03] mohammadAdnan commented on #856
Yeah sure, as i told you i built armadillo, but i can't build mlpack!

[2017-01-24 21:06] mohammadAdnan commented on #511
What did you mean by:

finally, after I changed the cmake_install.cmake to local directory. I passed the $ARMADILLO_INCLUDE_DIR and $ARMADILLO_LIBRARY check. After I make, I got

[2017-01-24 21:07] mohammadAdnan commented on #856
In #511, the questioner said that, finally, after I changed the cmake_install.cmake to local directory. I passed the $ARMADILLO_INCLUDE_DIR and $ARMADILLO_LIBRARY check.

How to do that?

[2017-01-24 21:10] rcurtin commented on #856
Hi Mohammed,

There's no need to get frustrated.  We're doing our best to help out with the information you've given.  Can you tell us the exact command that you ran CMake with, and what the exact output was?  Be sure to remove CMakeCache.txt from the directory before running CMake, otherwise some cached variables may cause problems.

[2017-01-24 21:16] mohammadAdnan commented on #856
Thanks a lot rcurtin, you did a lot and helped so many developers, thank you. I did not, i repeated the whole process twice, every time  i got the same error when i try to build mlpack. However, i built armadillo successfully.

This is the exact output:

-- Building for: Visual Studio 14 2015
-- The C compiler identification is MSVC 19.0.24213.1
-- The CXX compiler identification is MSVC 19.0.2421

[2017-01-24 21:17] rcurtin commented on #856
Can you also provide the exact command that was used to configure CMake please?

[2017-01-24 21:23] mohammadAdnan commented on #856
I installed cmake on C:\program files\cmake, then i added it to system environment path.

[2017-01-24 21:29] rcurtin commented on #856
Sorry, I meant, the command that was used to configure mlpack with CMake.  Like what zoq wrote.

[2017-01-24 21:30] mohammadAdnan commented on #856
Yeah sure, it's this one:

cmake
G "Visual Studio 14 2015 Win64"
DBLAS_LIBRARY:FILEPATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.7\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a"
DLAPACK_LIBRARY:FILEPATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.7\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a"
DARMADILLO_INCLUDE_DIR=

[2017-01-24 21:31] mohammadAdnan commented on #856
`cmake  G "Visual Studio 14 2015 Win64" DBLAS_LIBRARY:FILEPATH="C:/Users/Avrahim/Documents/Visual Studio 2015/Projects/mlpack 3.70/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" DLAPACK_LIBRARY:FILEPATH="C:/Users/Avrahim/Documents/Visual Studio 2015/Projects/mlpack 3.70/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" DARMADILLO_INCLUDE_DIR="C:/Users/Avrahim/Docum

[2017-01-24 21:32] rcurtin commented on #856
I notice that you have written `DDEBUG=OFF`, but all of the options that start with `D` should have a `-` in front of them, like `-DDEBUG=OFF`.  Can you verify that the dash is there?

[2017-01-24 21:37] mohammadAdnan commented on #856
Wow, you are genius 👍thaaanks. However, new error pops us:

-- The C compiler identification is MSVC 19.0.24213.1
-- The CXX compiler identification is MSVC 19.0.24213.1
-- Check for working C compiler: F:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/x86_amd64/cl.exe
-- Check for working C compiler: F:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/x86_amd64/cl.exe -- works
--

[2017-01-24 21:44] mohammadAdnan commented on #856
Thaaaanks rcurtin, I did what you said, but now i got the following:

-- The C compiler identification is MSVC 19.0.24213.1
-- The CXX compiler identification is MSVC 19.0.24213.1
-- Check for working C compiler: F:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/x86_amd64/cl.exe
-- Check for working C compiler: F:/Program Files (x86)/Microsoft Visual Studio 14.0/VC/bin/x86_amd64/cl.exe --

[2017-01-24 21:59] mohammadAdnan commented on #856
rcurtin, did you see the last error? New error pops us.

[2017-01-24 22:08] rcurtin commented on #856
I saw it, but I have other things to do too, so I have to leave for now.  Maybe I will have time to look further tomorrow.  It looks like something may be incorrectly configured in your Boost installation, or maybe the specified Boost path is wrong to CMake---I'm not sure at the moment.

[2017-01-25 00:25] CorpaciLC commented on #852
Yes! I will open another one if I have other questions.

[2017-01-25 11:46] IlievskiV commented on #851
Hey Ryan,

I wrote some GP covariance functions, which are part of a separate module called gp. However, since I don't have so much experience with cmake and make, can you explain me how to integrate this module within mlpack, such that I will be able to build it altogether with the other modules.

Best,
Vladimir

[2017-01-25 12:18] zoq commented on #856
Looks like you didn't get my point as I ask you if you removed "-" intentionally, anyway, good that the first error is solved.

As @rcurtin already said the Boost path might be wrong or the CMake command. Can you post the CMake command that you use right now include all the dashes? Also the output of: C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.7\packages\boost_libs

If you use

[2017-01-25 12:28] zoq commented on #851
I'm not Ryan but this might be helpful:

1. Create a new folder in src/mlpack/methods/
2. Create a CMakeLists.txt file in the created folder; take a look at the already existing CMakeLists.txt files to get an impression how the structure looks like e.g.: https://github.com/mlpack/mlpack/tree/master/src/mlpack/methods/linear_regression
3. Add new folder to https://github.com/mlpack/mlpack/blob/mast

[2017-01-25 14:31] mohammadAdnan commented on #856
Thanks zoq, sorry for that i did not understand you (bad deep learning (English))!

cmake
-G "Visual Studio 14 2015 Win64"
-DBLAS_LIBRARY:FILEPATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.70\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a"
-DLAPACK_LIBRARY:FILEPATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.70\packages\OpenBLAS.0.2.14.1

[2017-01-25 15:28] zoq commented on #856
Can you tell us what files are in:

``C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.7\packages\boost_libs``

and

``C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.70\packages\boost.1.60.0.0\lib\native\include``

[2017-01-25 22:38] rcurtin commented on #852
Sounds good.

[2017-01-25 22:38] #852 closed

[2017-01-26 06:01] mohammadAdnan commented on #856
The files in boost_libs:
https://mega.nz/#!UExVnJ4Z!O9vq3LCPsMBNjgPp3HKqUnniYiOZpYvBmMH3oPomqug
The files in ...native\include:
just boost folder.

[2017-01-26 07:02] mohammadAdnan commented on #856
Thanks zoq. I knew what you mean about showing the libraries. I found that i installed boost 1.63, but instead included:

-DBOOST_INCLUDEDIR:PATH="C:\Users\Avrahim\Documents\Visual Studio 2015\Projects\mlpack 3.70\packages\boost.1.60.0.0\lib\native\include".

Which is 1.60. Now the building is done. I will see other things, if something went wrong i will tell you.

[2017-01-26 07:18] mohammadAdnan commented on #856
Hi zog, i got the following in output windows after i build mlpack:

48>Project not selected to build for this solution configuration
========== Build: 38 succeeded, 8 failed, 0 up-to-date, 2 skipped ==========

The errors are:

13>c:\users\avrahim\documents\visual studio 2015\projects\mlpack 3.70\src\mlpack\methods\det\dtree_impl.hpp(300): error C4716: 'mlpack::det::DTree<arma::Mat<double>,int>::

[2017-01-26 08:20] mohammadAdnan commented on #856
Hi zog, i got 8 identical errors:

"Error C1128 number of sections exceeded object file format limit: compile with /bigobj"

As keno said, "if while building mlpack in a windows Visual Studio environment and you receive error C1128 go to the the specific project in Solution Explorer highlight it > Next go to ‘Project’ > ‘Properties’ > ‘C/C++’ > ‘Command Line’ and add /bigobj to ‘Additional Options

[2017-01-26 12:49] zoq commented on #856
Did you set ``/bigobj`` flag for the right configuration? It should be Debug or Release depending on your configuration: https://s3-eu-west-1.amazonaws.com/sdz-upload/prod/upload/command_line.jpg in that case it's Debug.

[2017-01-26 12:54] mohammadAdnan commented on #856
Hey zoq, thanks for your time. Yeah i did exactly that.

[2017-01-26 12:59] zoq commented on #856
And I guess the Platform is also set accordingly, Win32 or Win64.

[2017-01-26 13:00] mohammadAdnan commented on #856
Yeah exactly the same.

[2017-01-26 13:04] zoq commented on #856
Do you build for x86 or x64? Here is an example from Keon's tutorial: http://keon.io/images/mlpack-on-windows/17.png

[2017-01-26 13:11] mohammadAdnan commented on #856
Yeah zog: https://mega.nz/#!NQRSGbLZ!DkarT0PztcK6vPMQyPcC5GGf6JFlV-sWs0xS5RKoVEg

[2017-01-26 13:21] zoq commented on #856
Strange, this looks right. Can you show us the complete console output?

[2017-01-26 13:40] mohammadAdnan commented on #856
Yeah sure, the comment is too long, so i upload it for you on mega:
https://mega.nz/#!hUwT1Q6T!uF0Yg9QwTCCsCj2meW8v9xjeqCvkInO1of0quvKucrM

[2017-01-26 13:46] zoq commented on #856
I noticed that the project didn't rebuild; Can you clean the project and rebuild and before you rebuild check if the /bigobj is still set:

https://msdn.microsoft.com/en-us/library/5tdasz7h.aspx

[2017-01-26 13:51] mohammadAdnan commented on #856
Unfortunately, i got the same error.

[2017-01-26 14:14] mohammadAdnan commented on #856
Zoq, thanks a lot! I don't know what is my problem! I was cleaning and rebuilding the whole project instead of cleaning and rebuilding mlpack itself! Now everything is clear, i appreciate your help.

[2017-01-26 14:40] zoq commented on #856
Great, glad we could help out. Should we close this issue then, if your problems are resolved?

[2017-01-26 14:43] mohammadAdnan commented on #856
I will try out some algorithms, such as collaborative filtering. So, if there any problem, i should post a new one? Finally zoq, what about deep learning using mlpack? Is that possible?

[2017-01-27 20:47] mohammadAdnan commented on #857
rcurtin, how are you? My first steps in C++ with mlpack is little slow. After i solved my last issue regarding building mlpack, now i am stuck trying to run my first program. I tried out NeighborSearch tutorial and collaborative filtering using visual studio 2015. For NeighborSearch, I moved armadillo folder and mlpack in order to include them in my project. I then added the blas.lib and lapack.li

[2017-01-28 04:23] mohammadAdnan commented on #856
zoq, after i build mlpack and armadillo, how i should use them in my project? I got missing files and a lot of error messages when i tried out my first tutorials. For armadillo, i included the path to the .lib files and it's working. But for mlpack it's not working?

[2017-01-28 06:23] mohammadAdnan commented on #856
Again zog, i tried to build mlpack again, i got the same 8 errors as before:
Error C1128 number of sections exceeded object file format limit: compile with /bigobj

[2017-01-28 19:50] #856 closed

[2017-01-28 19:57] mohammadAdnan opened #861 "Error LNK1120 24 unresolved externals?"
Hello,

When i tried to run Covariance Computation from mlpack tutorials. I got errors of type LNK2019, LN2001 (25 errors):

[1] Error	LNK2019	unresolved external symbol "public: static void __cdecl mlpack::Timer::Start(class std::basic_string<char,struct std::char_traits<char>,class std::allocator<char> > const &)" (?Start@Timer@mlpack@@SAXAEBV?$basic_string@DU?$char_traits@D@std@@V?$allocator@D@

[2017-01-28 21:25] Kirizaki commented on #861
It looks like linker doesn't know where is mlpack.dll / mlpack.lib.

You should try to run it first from Visual Studio and set your additional and linker directories accordingly with this tutorial:
[Using mlpack in other applications under Visual Studio 2015](https://github.com/mlpack/mlpack/wiki/WindowsBuild)

[2017-01-28 21:47] mohammadAdnan commented on #861
Okay, but after building amradillo, i only have armadillo.lib. Second, i can't find #include "stdafx.h"? Another thing which is related to "Additional Dependencies (mlpack.lib or mlpack.dll) should point to the same .lib/.dll from Additional Library Directories (C:/libraries/mlpack.lib or C:/libraries/mlpack.dll)", i can't get the last point either?

[2017-01-29 07:26] mohammadAdnan commented on #861
@Kirizaki Why i am getting this error:

Unhandled exception at 0x00007FFBCECB7788 in mlpack_NearestNeighbor.exe: Microsoft C++ exception: std::runtime_error at memory location 0x0000002CFC99E4B8.

And in the command screen:

[FATAL] Cannot open file 'data.csv'.

[2017-01-29 08:40] Kirizaki commented on #861
Did you pass required params?

```[FATAL] some message..```

It looks like you didn't provide path to data.csv or file is corrupted.

I can't check in code exact location of this Log::Fatal  because I'm on mobile, but you can try to search for string in code: Cannot open file

[2017-01-29 09:32] #861 closed

[2017-01-29 10:07] Kirizaki commented on #861
@mohammadAdnan Did you solve the issue?

[2017-01-29 10:16] mohammadAdnan commented on #861
Yeah thanks Kirzaki. I just copied Data folder into my project, then i give the path for it to the load function.

[2017-01-29 23:15] Kirizaki commented on #861
Happy to read it! I'm glad that I could help You.

[2017-01-30 19:12] rcurtin commented on #755
Hi Shikhar, sorry for the slow response on this one.

Here is an idea.  We can use `std::ios` flags to detect what is set and determine whether or not these are the default parameters.  If the default parameters are set, then we can just call Armadillo's typical print() functionality.  However, if different parameters are set, then we can call raw_print().  What do you think of this approach?

[2017-01-30 20:28] ddovod opened #862 "Time series prediction"
Hello guys.
I'm trying to reproduce this [simple keras tutorial](http://www.jakob-aungiers.com/articles/a/LSTM-Neural-Network-for-Time-Series-Prediction) (only "sinwave" part).
So I have the following model:
[code]
The main issue in the training phase. I would like to predict the next value after feeding some (50) previous. The `model.Train(...)` function gets 2 matrices - inputs and expected outp

[2017-01-31 02:07] zoq commented on #862
Hello,

as you already pointed out the model from the keras tutorial uses a single response for the complete sequence; but the model as implemented right now expects one output for each input in your case something like:
[code]
[code]
you could also use
[code]
so the data should look like:
[code]

On the other hand, it's fairly easy to replicate the behavior, in fact, it worked before the ann reva

[2017-01-31 07:04] ddovod commented on #862
Hi @zoq. Thank you for response!
So, if I'll use `x0, x1, x2` as input and `x1, x2, x3` as output, it will train to predict the next element in the sequence on every learning step? Is model preserving state (internal state of lstm layers) between passing values of the sequence?
And can I use something like incremental prediction? I mean I want to feed some values to the model, one by one, and get

[2017-01-31 16:02] zoq commented on #862
1. Yes, that's right.
2. I'm not sure what you mean here.
3. By "one by one" you mean one input from the sequence? Predict returns a matrix that holds the prediction for each step. But since, the RNN class doesn't implement a Forward function you can't just call the model with some element from the input sequence and get the intermediate output. You could use the Sequential layer to do that, but i

[2017-01-31 20:09] ddovod commented on #862
Saying "state" I mean [this](https://www.quora.com/Im-having-a-hard-time-conceptualizing-the-difference-between-stateful-and-stateless-LSTMs-in-Keras-What-does-one-choose-stateful-vs-stateless), so I can make something like online training/predictions with different sequence lengths.
One of the common LSTM feature is the ability to predict time series and other sequential data, and I think it coul

[2017-02-01 16:11] zoq commented on #862
The implemented LSTM layer can handle data points of variable length. But, since the cell states are reset at each sequence it is stateless as per Keras definition. In a stateful model, you have to specify the batch size in the LSTM layer, which isn't implemented at the moment.

I agree, a simple regression interface would be great, especially if you're doing time series forecasting a stateful mod

[2017-02-01 19:31] ddovod commented on #862
Sure, thank you very much!
By the way, I could not even think that it would be so difficult to find working lstm implementation with good api in c++ (I'm not so experienced in deep learning to build it from scratch). I've tried caffe (very poor and absolutely not idiomatic lstm, works bad), dynet (very low level api and cryptic examples), mxnet (how it could be used from c++?), nnetcpp (just doesn

[2017-02-02 18:43] zoq commented on #862
Sorry for the slow response, I agree it's sometimes difficult to use all these libraries. If you tell us more about what you like to achive, maybe we can push forward in that direction; And it's just an idea but I think improving the recurrent neural network infrastructure could be an interesting GSoC project. Let me know what you think.

[2017-02-04 11:31] cliassh opened #865 "link error during building my application"
I successfully built mlpack-2.1.1 under the instruction given by "https://github.com/mlpack/mlpack/wiki/WindowsBuild"

However there is link errors when I build my application on visual studio 2015 community, my code is:

.h file
#pragma once
#include <iostream>
#include <mlpack/core.hpp>
#include <mlpack/methods/amf/amf.hpp>
namespace NMF {
	using namespace mlpack::amf;
	using namespace arma;
	re

[2017-02-04 16:51] Kirizaki commented on #865
Are you linking against `mlpack.dll`?

Try against `mlpack.lib` or vice versa.

[2017-02-04 18:52] cliassh commented on #865
Thank you for your quick reply.
I am linking against mlpack.lib, I didn't set the DEBUG symbol, but when I opened mlpack.sln in visual studio 2015, firstly I set the build configuration to debug, and built it one time, and then changed to release configuration, and built again, so there are 2 directories including .lib files, that are Debug and Release directories. If i am understanding it right,

[2017-02-05 11:58] ddovod commented on #862
My main task right now is to build and train model which should predict multivariate time series "step by step", I mean I have some continuous running process which generates some data, and I want to predict some parameters of this process for several steps forward. Stateless lstm implementation can be used for this kind of tasks, but I don't want to pass 50 (or so) previous data slices to predict

[2017-02-07 21:47] zoq commented on #862
Thanks for this valuable notes, I will definitely take a closer look at how we could design a regression API on top the recurrent network class. Regarding GPU acceleration, you can link with NVIDIA NVBLAS which is a GPU-accelerated implementation of BLAS it can accelerate most BLAS Level-3 routine. However, I agree it would be nice to have a fully GPU accelerated interface which also includes the

[2017-02-08 16:03] zoq commented on #865
It sounds like you broke the one definition rule and hence the linking error. Can you verify that's not the case?

[2017-02-08 19:11] cliassh commented on #865
@zoq
I am not quite sure what do you mean by definition rule, but I built mlpack as instructed on "https://keon.io/mlpack/mlpack-on-windows/", and I did changed the include and library path.

[2017-02-09 13:34] zoq commented on #865
By one definition rule I mean: https://en.wikipedia.org/wiki/One_Definition_Rule error. Probably the error you see isn't related to mlpack. Can you create a simple example that we can use to reproduce the problem?

[2017-02-09 14:19] cliassh commented on #865
I made a clean example, if you have any question, I am happy to hear from you.
[test_nmf.zip](https://github.com/mlpack/mlpack/files/763888/test_nmf.zip)

[2017-02-09 14:51] Lakshya1605 commented on #773
@aneesh2312 are you still working on it ?If no i would like to work on this issue .Thank You!!

[2017-02-09 17:39] zoq commented on #865
Thanks, before I'll take a closer look, does it work if you implement the class in the main file instead of splitting it into NMF.h and NMF.cpp? Actually you could just test:

[code]

[2017-02-10 16:09] rcurtin commented on #756
RSModel is done with #866, now only RAModel remains.

[2017-02-10 16:18] hitesh1157 commented on #722
I want to work on this issue. I m facing a problem though. $ cmake shows error !?

[2017-02-11 00:03] cliassh commented on #865
@zoq
I tested the code above, the code won't compile, so I modified your code to "nmf.Apply(V, 1, W, H);", and the linking error still exists, and after I set to "No CLR support" and removed AssemblyInfo.cpp from the project, the linking error disappear.

[2017-02-11 05:46] aneesh2312 commented on #773
@Lakshya1605 I have done RAsearch, but I never got time to finish RangeSearch.. You can take RangeSearch...

[2017-02-11 16:46] PanXu86 opened #868 "Issue on buildling mlpack."
[code]

This is the error I get when I build mlpack project.
I have looked into armadillo_bits/Mat_bones.hpp, looks like arma::mat just don't have the define of **row_type**, is it caused by my armadillo version? ( I am using 7.700 right now )

[2017-02-11 23:58] #868 closed

[2017-02-12 12:49] zoq commented on #865
@cliassh Thanks for take a closer look into the issue. I wonder if building with ``/clr`` would solve the issue when creating an CLR project instead of MFC or Win32.

[2017-02-12 15:51] zoq opened #870 "Model Zoo"
mlpack features some fast implementations of state-of-the-art methods that can be applied to problems ranging from simple regression to large-scale classification, to speech and robotics applications. Several executables are packaged with mlpack meant to provide a simple way to use the method. However, sometimes it takes some time to evaluate a model on a large dataset or it's not that obvious how

[2017-02-14 14:23] rcurtin commented on #857
Closing for inactivity; feel free to reopen if needed.

[2017-02-14 14:23] #857 closed

[2017-02-14 14:23] rcurtin commented on #789
Closing for inactivity.  Feel free to reopen this if you are still having problems.

[2017-02-14 14:23] #789 closed

[2017-02-14 14:25] rcurtin commented on #599
I guess since the project is done, we can close this ticket. :)

[2017-02-14 14:25] #599 closed

[2017-02-14 14:27] rcurtin commented on #440
I know it has been a very long time since this ticket has been updated, but I have been working on the automatic bindings project to automatically generate bindings for Python, MATLAB, and other languages.  Right now I am almost done with the Python bindings, but then I will work on MATLAB bindings.  So the old MATLAB bindings from 1.0.12 will be removed, and then you will be able to use the new o

[2017-02-14 14:27] #440 closed

[2017-02-16 11:53] kris-singh commented on #414
@zoq is this still open. I would like to work on it

[2017-02-16 13:50] chvsp commented on #414
Hi @kris-singh . I have completed writing tests for the Iris dataset and the Nonlinear Function Approximation problem. I will open a PR with the clean code by 22nd of Feb (got some exams till then). It would be great if you can start working on the others. This [code](https://github.com/chvsp/mlpack/blob/kathirinit/src/mlpack/tests/ksinit.cpp) will give you a starting point. You would need to add

[2017-02-16 16:30] kris-singh commented on #414
@chvsp ok no problem

[2017-02-17 04:32] jvandewync opened #875 "DTree: move assignment operator"
I got the following error while building mlpack dtree_impl.hpp (line 300):
 'mlpack::det::DTree<arma::Mat<double>,int>::operator=': must return a value	mlpack_det

[2017-02-17 04:39] rcurtin commented on #875
Hi there,

Can you provide more information about your setup?  i.e. OS, version of mlpack, build log, etc.?

Thanks!

[2017-02-17 04:46] jvandewync commented on #875
I've just followed the guide provided by Keon Kim (https://keon.io/mlpack/mlpack-on-windows/). I build mlpack with VS2015 on Windows 10. A part of log:

[code]

In order to successfully build mlpack, I have inserted a `return *this;` at the end of the function, is it right?

[2017-02-17 15:23] rcurtin commented on #870
I agree, this could be a nice thing to do.  With neural networks you have the problem that there are many different ways to make them, and one command-line program (or, e.g., Python binding) isn't going to be able to handle all those types of models, since in these cases we are using type information for optimization at compile time.  We also can't include one command-line program (or binding) for

[2017-02-17 15:45] rcurtin commented on #875
Yes, it looks like that was a problem.  I committed that fix in f1701b194.  Let me know if that doesn't fix the issue and we can reopen the bug.  Thanks for the report!

[2017-02-17 15:45] #875 closed

[2017-02-19 19:30] zoq commented on #870
I agree, having an extra executable for each model in the mlpack repository would definitely increase the build time. I wasn't sure if I could easily create bindings without much hazel and probably some huge code duplications in an extra repo. Correct me if I'm wrong, but it sounds like some CMake magic would do the job. I guess another benefit that comes with CMake is the ability to do some prepr

[2017-02-22 05:11] sam0410 opened #881 "Trouble solving linking errors"
The program mentioned in this [overdosed blog ](https://overdosedblog.wordpress.com/) is working fine.
But when I try to run the covariance code in
[this mlpack tutorial](http://www.mlpack.org/docs/mlpack-2.1.1/doxygen.php?doc=sample.html)
I get sixteen “linker 2019” errors.

unresolved external symbol sdot_ referenced in function “double __cdecl arma::blas::dot(unsigned __int64,double const *,dou

[2017-02-22 07:23] Lakshya1605 commented on #773
@aneesh2312 Could you please give an overview of what is expected to be done .
Thank You !!!

[2017-02-22 13:21] rcurtin commented on #881
I think your issue is that you need to link against armadillo.lib / armadillo.dll too.

[2017-02-22 13:22] rcurtin commented on #870
Yep, CMake could definitely handle that extra preprocessing.  We can host the models themselves either on mlpack.org or on Github, both work fine.

[2017-02-22 14:45] rcurtin opened #882 "Weighted learning for decision trees"
There is a new implementation of decision trees in `src/mlpack/methods/decision_tree/`.  It's meant to eventually replace the decision stump implementation in `src/mlpack/methods/decision_stump/` (among other things).  However, it can't fully replace the decision stump until it supports weighted learning.  Right now, one of the `Train()` methods for decision trees is:

[code]

but note that this d

[2017-02-22 14:56] rcurtin opened #883 "MDL penalty for decision tree splits"
There's a new decision tree implementation in `src/mlpack/methods/decision_tree/`.  This implementation is pretty similar to J48 from Weka or C4.5 (but not exactly the same).  The basic structure of finding a split is:

  1. Calculate gain for all possible splits.
  2. Pick split with the best gain.

In this implementation, the splits themselves are determined by the `NumericSplitType` and `Catego

[2017-02-22 15:01] rcurtin opened #884 "More categorical and numeric split types for decision trees"
Right now, the decision tree implementation in `src/mlpack/methods/decision_tree/` has only the `AllCategoricalSplit` for categorical splits and the `BestBinaryNumericSplit` for numeric splits.  Ideally, we would like to expand this to handle some other types of splits.

This is a very open-ended issue: we should survey the literature, find decent split ideas to add, and then implement and test th

[2017-02-22 15:05] rcurtin opened #885 "Support for categorical datasets with mlpack_decision_tree program"
Right now the `mlpack_decision_tree` program does not support categorical datasets---it only supports numeric datasets.  So I can do

[code]

and all the features will be treated as numeric.  But I can't pass, e.g., `data.arff` to the program, which contains categorical features.  We should refactor the program `decision_tree_main.cpp` in the same way as `src/mlpack/methods/hoeffding_tree/hoeffdin

[2017-02-22 15:08] rcurtin opened #886 "Benchmarking scripts for decision tree"
We have a new decision tree classifier in `src/mlpack/methods/decision_tree/`, but we don't know how it compares against other libraries.  So we should write some benchmarking scripts for it, for inclusion in the https://github.com/zoq/benchmarks repository.

The implementation there can be heavily based off existing benchmarking scripts, like for instance

https://github.com/zoq/benchmarks/blob/m

[2017-02-22 16:58] Kirizaki commented on #881
Linking against ```armadillo.lib``` is in [2. Compiler Additional Include Directories](https://github.com/mlpack/mlpack/wiki/WindowsBuild#2-compiler-additional-include-directories)

[2017-02-23 06:59] MikeLing commented on #882
Hi @rcurtin , I would like to work on this after the **Implement multidimensional discrete distribution**  been merged. :)

[2017-02-23 09:33] micyril commented on #883
I would like to work on this issue. I guess we can start with the case when instance weights are not being used since they are not supported yet. I'm going to investigate the code base more closely, and after that some questions probably will arise.

[2017-02-23 13:10] sam0410 commented on #881
Thanx @rcurtin  and @Kirizaki !
I have already copied all the .lib and .dll files as mentioned in the overdosed tutorial and linked it in my project. But still the error persists..
Please help

[2017-02-23 13:31] sam0410 commented on #881
Also I noticed that in the mentioned tutorial it is written
"mlpack.lib/dll (depends on how mlpack and armadillo target was compiled)
armadillo.lib/dll (same as above)"
I have a mlpack.dll file and armadillo.lib. Does it have something to do with the error?
Thanx!

[2017-02-23 14:58] Kirizaki commented on #881
In section [4. Linker Additional Dependencies](https://github.com/mlpack/mlpack/wiki/WindowsBuild#4-linker-additional-dependencies) you provide ```C:/libraries/mlpack.lib``` or ```C:/libraries/mlpack.dll```? (Same question for ```armadillo.lib/dll```

I'm working with ```.lib```'s

[2017-02-23 15:02] rcurtin commented on #881
Another thought might be to ensure that Armadillo is properly configured so it's linked against BLAS and LAPACK.  (Or maybe you need to link directly against BLAS and LAPACK in your project?  It depends on the Armadillo configuration.)

[2017-02-23 16:52] sam0410 commented on #881
@Kirizaki  I have linked it against mlpack.lib file (I have both mlpack.dll and mlpack.lib  files)
If I try to link it against mlpack.dll file it gives a LNK1107 error saying mlpack.dll is an invalid or corrupt file
And regarding armadillo, I have linked the .dll file
Thanx!

[2017-02-23 18:14] kris-singh opened #888 "Trouble Including the ann module."
[code]

[2017-02-23 18:29] zoq commented on #888
We use`` boost::variant`` to hold different types e.g. for TreeTypes or LayerTypes. Since there are more types as boost::variant can hold per default (``BOOST_MPL_LIMIT_LIST_SIZE = 20``) you have to increase ``BOOST_MPL_LIMIT_LIST_SIZE``. Before you include ``#include <boost/variant.hpp>``. We increase ``BOOST_MPL_LIMIT_LIST_SIZE`` in ``core.hpp``, so if you include ``core.hpp`` before ``variant.h

[2017-02-23 18:34] kris-singh commented on #888
Thanks, it works now. :)

[2017-02-23 18:35] #888 closed

[2017-02-24 05:20] sam0410 commented on #881
@rcurtin  can you please tell me how to check that armadillo is linked with blas and lapack ?
Iam using armadillo-7.500.2 and mlpack-2.1.0 (in 64 bit)
Thanx for your help!

[2017-02-24 08:44] sam0410 commented on #886
I am interested in writing the benchmark for the tree classifier in MATLAB. Do I need to rewrite the methods in decision tree in MATLAB?

[2017-02-24 08:49] sam0410 commented on #886
Hi @rcurtin !
I have read the code in the decision tree and I am interested in writing the benchmark for the same in MATLAB.

[2017-02-24 13:21] zoq commented on #881
Hello, can you past the output of the additional dependencies and additional library directories here?

[2017-02-24 14:17] sam0410 commented on #881
Thanks for the reply @zoq !

Additional Dependencies  - C:\projects\libs\mlpack.lib;C:\projects\libs\armadillo.lib;%(AdditionalDependencies)
Additional library directories- C:\projects\libs;%(AdditionalLibraryDirectories)
(where the libs folder includes all that is mentioned in [this tutorial](https://github.com/mlpack/mlpack/wiki/WindowsBuild#3-compiler-additional-library-directories)

Output tha

[2017-02-24 14:28] zoq commented on #881
Thanks, can you also link against libopenblas (add to Additional Dependencies), and tes if that works?

[2017-02-24 14:52] sam0410 commented on #881
Thanks a lot @zoq !
I added libopenblas.dll.a file to additional dependencies and it worked !

[2017-02-24 15:11] zoq commented on #881
Glad it worked out.

Since we only test that mlpack builds on windows using appveyor's continues integration service and most of us usually don't use windows, we rarely see these issues. On the other hand, I've noticed a higher interest in using mlpack on windows, so I guess we should improve our test infrastructure. Also, perhaps we should mention the issue in the windows wiki, something like if

[2017-02-24 18:31] jonathanhfriedman commented on #885
@rcurtin I'd like to work on this.

[2017-02-24 18:47] rcurtin commented on #885
Sure, feel free, but be aware, there will probably be some gotchas when you submit a PR. :)  The categorical dataset support in mlpack is somewhat immature, so there may be some parts that aren't documented well, etc.

[2017-02-24 18:49] rcurtin commented on #886
Yes, if you'd like to write the decision tree MATLAB benchmark, that would be great.  You should take a look at the other MATLAB benchmarks in the benchmarks repository and imitate the format there.  The directions in that repository should be good enough that once you add the script and modify the configuration, you should be able to run the benchmarks and see the results.

[2017-02-24 18:51] rcurtin commented on #883
Yeah, that's fine---in either case, when instance weights are added, it should be very easy to generalize the MDL support.

[2017-02-24 18:51] rcurtin commented on #882
Sure, that means that I should keep on top of that then, let me look now... :)

[2017-02-24 19:34] chvsp commented on #885
Hi @jonathanhfriedman. I have been involved with this issue for a day. I apologize for not letting you know but I wanted to be sure, I knew the solution before I commit to solving this issue. I think the solution lies in replacing `arma::mat` to `data::DatasetInfo` when we initialize the training data in `decision_tree_main.cpp`. @rcurtin Kindly correct me if I am wrong.
 It would be great if we c

[2017-02-24 20:35] sam0410 commented on #881
Also, in the installation of mlpack in windows [tutorial](https://github.com/mlpack/mlpack/wiki/WindowsBuild) ,we might add the following as **"Notes for linking mlpack in an application"**-
1. In case of BLAS linking errors, add  _libopenblas.dll.a_ file from _mlpack-2.1.0\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64_ or _mlpack-2.1.0\packages\OpenBLAS.0.2.14.1\lib\native\lib\x32_ (depending upo

[2017-02-25 00:14] jonathanhfriedman commented on #885
@chvsp I've barely started working on this, so feel free to take this one :)

[2017-02-25 17:52] sam0410 commented on #886
Added a pull request in [https://github.com/zoq/benchmarks](https://github.com/zoq/benchmarks) (decision_tree.m) for MATLAB benchmark

[2017-02-25 18:58] rcurtin opened #891 "Standardize error handling"
A long time ago, the general rule of thumb (at least that I used) was to use `Log::Fatal` to handle errors, but sometimes e.g. `Log::Debug` was used to just print the error instead and continue going.  But in other places, sometimes exceptions are being thrown (and `Log::Fatal` itself will throw an exception when a newline is encountered).

One of the most frustrating things about using a new libr

[2017-02-26 14:54] zoq commented on #891
I like the idea of unifying the error handling and also your idea of using/extending the C++ exception infrastructure. The way I see it, it's basically what Log::Fatal does but extended with some useful information.

[2017-02-27 09:58] sam0410 commented on #886
Hi @rcurtin !
I tested the code using the following datasets in mlpack/tests/data using
TRAINx='iris_train.csv';
TRAINy='iris_train_labels.csv';
TESTx='iris_test.csv' ;
TESTy='iris_test_labels.csv';

and obtained the following results-
accuracy of prediction: 95.238095
total_time taken: 0.020836s

[2017-02-27 14:14] rcurtin commented on #810
Fixed with #830.

[2017-02-27 14:14] #810 closed

[2017-02-27 14:24] rcurtin commented on #809
Handled by #830, so now git master branch and the next release of mlpack will support multidimensional discrete distributions like you are looking for.  Thanks @MikeLing!

[2017-02-27 14:25] rcurtin commented on #593
Is anyone still working on this?  I think it could be a good issue for people who are trying to start contributing to mlpack.

[2017-02-27 14:27] decltypeme commented on #593
Yes, Ryan, please. I got so busy after commenting on the issue. If anyone
has contributions, please go ahead.

On Mon, Feb 27, 2017 at 4:25 PM, Ryan Curtin <notifications@github.com>
wrote:

--
Islam Faisal Ibrahim
decltype(me)
"It is not unreasonable to use the hypothesis." - Arnold Ross

[2017-02-28 01:58] zoq opened #893 "More optimizer methods"
An optimizer is one of basically two parts to evaluate/optimize a method. mlpack already implements some optimizers like Stochastic Gradient Descent or RmsProp but there are still some interesting approaches out there that could be of interest. In particular, I would really like to see an implementation of the SMORMS3[1], the Nesterov's Accelerated Gradient[2] and AdaGrad[3] method.

1.  Simon Fun

[2017-02-28 02:26] zoq opened #894 "Tests for Stochastic Optimization"
mlpack implements a some gradient-based optimization algorithms; each method is tested on some simple function to test they work as expected for that particular function.

Since implementing meaningful tests is probably the most underrated task which often takes more time as implementing the method itself, it's 'fine' if the optimization algorithms are able to solve some simple functions. The goal

[2017-02-28 03:12] ivmarkp commented on #893
Hi @zoq, I would like to work on this task. Will open separate PRs for each.

[2017-02-28 06:20] ShihaoJing commented on #593
Hi, I am new to mlpack. I think this issue may be a little bit easier for me to get started. I will work on it and try to do something.

[2017-02-28 10:08] shikharbhardwaj commented on #755
I am sorry for replying so late.

How do I go about creating template specialisation for Armadillo objects? Checking if the type is from the `arma` namespace has its [quirks](http://stackoverflow.com/questions/34974844/check-if-a-type-is-from-a-particular-namespace).

How about defining 5 specialisations for `arma::mat`, `arma::vec`, `arma::rowvec`, `arma::spmat`, `arma::cube`? This seems like a b

[2017-02-28 11:06] kris-singh commented on #894
I would like to work on this one. I have started reading the paper. I would create a PR soon.

[2017-02-28 12:04] micyril commented on #883
It took some time for me to investigate the code more, as well as making myself closely familiar with git and the workflow of Github-based development (since I didn't contribute to large Github-based projects before). I think an appropriate implementation for this issue is to create a decorator (template-based) for what called FitnessFunction in the class DecisionTree. It will allow to keep existi

[2017-02-28 12:24] zoq commented on #893
Hello @ivmarkp sounds good. Do you mind if we split the work, maybe someone else is also interested in implementing one of mentioned optimization algorithms? So maybe can you start with one, and if there is an algorithm left, once you finished you take the next one. What do you think? We could use this issue as an entrance coordination point, so if you agree just tell me the algorithm you like to

[2017-02-28 13:28] nish21 commented on #893
If @ivmarkp agrees, I'd like to work on this as well.

[2017-02-28 15:30] rcurtin commented on #755
Probably the closest we have is `is_arma_type<>`:
https://github.com/conradsnicta/armadillo-code/blob/7.800.x/include/armadillo_bits/traits.hpp#L632

Do you think that will do what you need?  I've used `is_arma_type<>` in other places too for the same reasons.

[2017-02-28 15:37] rcurtin commented on #883
This sounds reasonable to me.  We haven't used any mock objects for testing but I am not sure that there is any particular reason.  Personally I think it's adequate to test the low-level components on their own (where you wouldn't need to mock anything) and then test the higher-level components assuming that the lower-level components work.  But in either case, what I've found is that with complex

[2017-02-28 15:39] shikharbhardwaj commented on #755
That is great. I'll create a PR with the changes.

[2017-02-28 15:49] hxidkd commented on #893
if there is any optimizer methods left, I'd like to work on this as well.

[2017-02-28 15:55] micyril commented on #883
So, being more specific I propose to create a class with the following interface:
[code]
It probably should also include a static function `double Range(const size_t)`, I haven't yet figured it out. When we want to use it, we create a decision tree by calling something like `DesicionTree<MDLPenalty<GiniGain>>(...)`.

[2017-02-28 16:01] ivmarkp commented on #893
Hi @zoq, you are right. Splitting the work sounds like a good idea as its meant to be an entrance task. I've actually started working on the first optimizer i.e. SMORMS3 so I'd like to continue working on it.

Hi @nish21, you are welcome to work on this. :)

[2017-02-28 16:25] zoq commented on #893
Okay, great, so @ivmarkp works on SMORMS3, @nish21 can decide between Nesterov's Accelerated Gradient and AdaGrad (let us know which one you like to work on) because he was second and @hxidkd takes what's left, does that sounds fair?

[2017-02-28 16:31] rcurtin commented on #883
That seems reasonable, but consider adding the penalty as, e.g., a fourth template template parameter to the `DecisionTree` class.  The default could be `NoPenalty` or something like that, and then `MDLPenalty` could be used if the user wanted.

[2017-02-28 16:46] nish21 commented on #893
@zoq I don't mind taking either of the two. Since I'm currently working on implementing FTRL optimizer (I'm sorry it's taking time, was quite busy last week) maybe @hxidkd can take up what he's comfortable with and I'll take the remaining one.

[2017-02-28 16:49] zoq commented on #893
Yeah, fine with me @hxidkd your decision.

[2017-02-28 20:16] IlievskiV commented on #891
First of all, the idea of proper exception handling and using the class Exception is a good idea. Usually, it is a well known software engineering practice, to include and plat the exception handling since the very beginnings of the development of the system, because doing that afterward might be difficult. Having said that, if I understood correctly, there is not such a feature in mlpack.

The fo

[2017-02-28 20:17] IlievskiV commented on #886
Are there any benchmarks for Weka? I was working recently with the Weka source code, so I might figure it out how to make one.

[2017-02-28 20:25] rcurtin commented on #891
Yes, I'd keep it pretty coarse-grained: basically mlpack failures will have one of two reasons: the data is screwed up or the algorithm failed to converge.  Honestly the `std` exceptions like `invalid_argument`, `runtime_error`, etc. can probably cover most everything here.  But the tricky bit is ensuring that the message that is included with the exception is enough for the user to have some idea

[2017-02-28 20:49] arunreddy commented on #893
Looks like implementing an optimizer algo is a good place to start. Hey @zoq,  Can I do AdaDelta(https://arxiv.org/abs/1212.5701), an extension of AdaGrad?

[2017-02-28 21:03] rcurtin commented on #886
Not for the decision tree, no---it would be easy to add though I think.

[2017-02-28 21:52] zoq commented on #893
Hello @arunreddy momentum SGD is another interesting method.

[2017-02-28 22:08] arunreddy commented on #893
@zoq, I was infact looking at it. That was the missing piece in the list of algos implemented. Thanks.

[2017-03-01 01:53] hxidkd commented on #893
@zoq  @nish21   I'm reading the AdaGrad paper, so I'd like to choose it

[2017-03-01 03:04] micyril commented on #883
So, if I understand the suggestion in the right way, the result template arguments for the class DecisionTree should be like this.
[code]
I guess this template interface will be more self-documenting from user's prospective.

[2017-03-01 03:16] rcurtin commented on #883
Yeah, that seems like a reasonable approach to me.

[2017-03-01 05:06] arunreddy commented on #893
Hey @zoq, taking up "Incorporating Nesterov Momentum into Adam" next.

[2017-03-01 05:38] shreya-03 commented on #885
@rcurtin I  worked on this using python and would like to work on this too.

[2017-03-01 11:50] chvsp commented on #885
Hi @shreya-03, I am working on this issue. I am fine with collaborating to fix this issue.

Hi @rcurtin, I was reading the code for ARFF file loader and I found that our code doesn't support the `@relation`, `@attribute`, `@data` declarations in upper case, even though the official documentation for the file format specifies that these declarations are case insensitive. I think it would be a quick

[2017-03-01 13:59] zoq commented on #893
@arunreddy Okay, I've looked at the paper and besides that the empirical validation isn't fair for every case, I think it's a nice idea. Do you also integrate the AdaMax method, as @ivmarkp has done for the Adam algorithm in #887?

[2017-03-01 14:17] rcurtin commented on #885
I'm surprised I didn't already convert all input strings to lowercase before reading. If you want to make that change (and provide associated test case) that seems fine to me. If not, then can you open an issue for it?

[2017-03-01 14:24] chvsp commented on #885
@rcurtin, Yes I will make the required changes and submit a PR. If I have understood it correctly, you want me to provide a standalone test case for this?

[2017-03-01 14:43] kris-singh commented on #893
@hxidkd i am sorry i didn't see the comments earlier. I actually implemented the adagrad just now. If you want you can incorporate nestrov momentum in that. Again i am sorry.
@zoq if its okay i would like to submit a PR for adagrad.

[2017-03-01 16:00] rcurtin commented on #839
After #860 is merged, this is fixed.

[2017-03-01 16:00] #839 closed

[2017-03-01 16:47] arunreddy commented on #893
@zoq, I agree with empirical validation being not so exhaustive. May be once we have most of the optimizers, we can definitely compare the optimizers using some mainstream datasets. I can integrate the AdaMax method too.

[2017-03-01 22:58] zoq opened #902 "Upper Camel Case"
As I implemented the first activation function in ``src/mlpack/methods/ann/activation_functions`` I used Lower Camel Case for the function names instead of Upper Camel Case as used throughout the codebase and as stated in the design guidelines: https://github.com/mlpack/mlpack/wiki/DesignGuidelines

The goal of this ticket is to find and to replace them with the correct style:

[code]

[2017-03-02 05:45] sam0410 commented on #902
Hi @zoq !
I'll pull a request soon !

[2017-03-02 07:18] sam0410 commented on #902
Hi @zoq !
I created a pull request for this.

[2017-03-02 08:58] kris-singh commented on #894
Read the paper kind of understood it. So, I make any error surface using now the combination fo these basic shapes right. And when I run let's say a sgd on it. Then which evaluate function should called.(Does it depend on xs <= x <= xe). After that we evaluate the loss on this local function and the take the step in the gradient of this local function is that it.

[2017-03-02 15:45] rcurtin commented on #881
I updated the tutorial page with the comments you suggested, and you got it all working, so I'm going to go ahead and close this issue.

[2017-03-02 15:45] #881 closed

[2017-03-02 15:59] sam0410 commented on #881
Thanks a lot @rcurtin !

[2017-03-02 16:42] zoq commented on #894
You are right, right now we have some simple functions to test the optimization algorithms like:

https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/optimizers/sgd/test_function.hpp
https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/optimizers/aug_lagrangian/aug_lagrangian_function.hpp
https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/optimizers/gradient_descent/test

[2017-03-02 16:56] sam0410 commented on #593
Hi @ShihaoJing !
We could colaborate to finish up this task. I have created a PL which is not merge ready yet.
Thanks!

[2017-03-02 17:32] ShihaoJing commented on #593
@sam0410 That's great! Have you finished it? I have some questions about computation of probability. Maybe we can discuss it on IRC.

[2017-03-02 18:32] sam0410 commented on #593
Hi @ShihaoJing !
I have not finished it yet. The build is yet to pass.
Sure, we can discuss it :)

[2017-03-02 18:35] ShihaoJing commented on #593
My first question is code in here
`testProbs.col(i) += (data.n_rows / - 2.0 * log(2 * M_PI) - 0.5 *
        log(arma::det(arma::diagmat(variances.col(i)))) + exponents);`
Why '- 2.0 * log(2 * M_PI) ' is not '- 0.5 * log(2 * M_PI) '. I did the math and I think this maybe wrong.

My second question is why we need to inverse probability and multiply by number of features?

Thank you !

[2017-03-02 18:45] ShihaoJing commented on #593
Also, I think if we want to compute probabilities [confidence score] of each class given the features, we have to compute probability of each feature (total probability) since P(Y|X) = P(X|Y)P(Y) / P(X).

[2017-03-02 19:21] ShihaoJing commented on #593
@sam0410 I just check your code and I think it is not corret. I think this enhancement requires returning post probability of each instance in test set, and your code only returns total probability of each class in train dataset.

[2017-03-03 10:49] sinjan25 commented on #893
@zoq I want to work on this issue too. But in the comments section I noticed that a few guys are already working. So, should I go for a new one?

[2017-03-03 14:52] shikharbhardwaj commented on #821
I'll try and isolate this issue if no one else is actively working on it right now.

[2017-03-03 15:35] Lakshya1605 opened #908 "arma::colvec behaving as arma::mat"
May be I am doing something wrong.
It turns out that In the test files  arma::colvec and arma::rowvec
are treated as arma::mat. So even arma::colvec is able to load matrices rather than just column vector.

I have tried out something like this in "load_save_test.cpp"
arma::mat A(5,5, fill::randu);
arma::colvec coltest(A)

It should throw an std::logic_error while doing this.
But gives no error .In

[2017-03-03 15:44] rcurtin commented on #908
Hi Lakshya,

Can you provide a minimum working example to show the problem?  i.e. something that I could compile with gcc that shows the problem.  The details here are a little fuzzy so it would be difficult to reproduce exactly what's happened here.

[2017-03-03 16:35] Lakshya1605 commented on #908
@rcurtin  One thing what you can do is you can go to the "test" directory open "load_save_test.cpp" and change any "arma::mat" to "arma::colvec" and rebuild. After running that particular test suite ,you fill find that it gives no error.I did something like below -> After opening "load_save_test.cpp"  changed arma::mat to arma::colvec in "LoadCsvTest" .
`BOOST_AUTO_TEST_CASE(LoadCSVTest)
{
  fstre

[2017-03-03 21:26] sinjan25 commented on #894
@zoq Can I work on this one? No one has made a PR yet.

[2017-03-03 21:38] kris-singh commented on #894
@sinjan25 you can work on this too. I will be implementing the LineFunction Shape Prototypes. Maybe you could do some NonConvex Shape Prototype.

[2017-03-03 22:40] sam0410 commented on #902
Hi @zoq !
The PR is now ready to merge. Please review the same
Thanks!

[2017-03-03 22:41] sam0410 commented on #593
Hi @rcurtin !
The PR is now ready to merge. Please review it.
Thanks !

[2017-03-03 22:43] sam0410 commented on #593
Hi @ShihaoJing !
Iam not very sure about the maths involved. I'll read about it a bit and let you know.

[2017-03-03 23:33] dongli opened #911 "DistributionTest/GammaDistributionFittingTest failed"
I built `mlpack` 2.1.1 on macOS 10.12.3 with clang-800.0.42.1. `mlpack` is built successfully, but when test it failed:
[code]

[2017-03-04 10:54] sinjan25 commented on #894
@zoq @kris-singh Alright! I will then be working on a genarator that creates the non-convex part of the gaussian function.

[2017-03-04 11:08] mentekid commented on #911
Hi Dong,

This is probably a random error. Some times the fitting does not converge to the right number.

Can you try running the test again? We might need to loosen the tolerance a little more...

[2017-03-04 12:33] ThyrixYang opened #912 "[decision tree]if no label file specified, make the last column of training data as label"
I'm working on the benchmark script of mlpack_decision_tree method. And I found that a labels_file must be specified. But most dataset takes the last column as label in training data. May I add this feature?

[2017-03-04 12:39] dongli commented on #911
@mentekid I have tried several times with no luck.

[2017-03-04 12:43] DieHumbleX commented on #882
Hi @rcurtin can you assign me this one? there aren't many moderate level issues left :)

[2017-03-04 12:53] MikeLing commented on #882
Hi @DieHumbleX, I'm working on this issue already but haven't add test for it due to write GSoC proposal these days. :)

[2017-03-04 15:28] sinjan25 commented on #884
@rcurtin Looking forward to work on this issue. So should I implement an "Extremely Randomized Tree" in this case?

[2017-03-04 20:04] zoq commented on #911
Can you confirm that you rebuild the test every time or used another seed for every run something by using something like:

``math::RandomSeed((size_t) std::time(NULL));``

[2017-03-05 03:53] micyril opened #914 "A small misprint in BestBinaryNumericSplitSimpleSplitTest"
It seems like there is a small typo in the end of BestBinaryNumericSplitSimpleSplitTest (https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/decision_tree_test.cpp):
[code]
More precisely, I guess we should require `BOOST_REQUIRE_LT(classProbabilities[0], 0.5)` rather than `BOOST_REQUIRE_LT(classProbabilities[1], 0.5)` in the last line of the test.

[2017-03-05 05:39] micyril commented on #883
@rcurtin, should we apply the MDL penalty while calculating a gain when there is no split?

[2017-03-05 13:32] MikeLing commented on #882
Hi @rcurtin, I'm went to the unit test writing stage. However, I'm wondering that what if the length of `weights` doesn't match to the length of `labels`. Like I do pass a weights list(`1.0, 1.1, 2, 2.1, 3`) to `train()` and set `UseWeights` as true. But the label list is (`red, pink, yellow, black, green, green, red...etc`). Do we want it cause an error or just set the weight of reset labels as 0

[2017-03-06 00:11] rcurtin commented on #908
Oh, I know what is happening here.  When you compile mlpack with the CMake option `DEBUG=OFF`, for speed, Armadillo does not do any runtime checks.  I bet, if you compile with `DEBUG=ON`, then you will get the error that you expect.

I suppose, for the test that you are writing, then, the test will only be successful when `DEBUG=ON`.  Therefore you can enclose the test in

[code]

and then the tes

[2017-03-06 00:12] rcurtin commented on #908
I think this question is answered, so I'm going to go ahead and close this issue.  If there is something I can clarify or something I left answered, feel free to reopen it.

[2017-03-06 00:12] #908 closed

[2017-03-06 00:37] rcurtin commented on #912
Sure, this is a reasonable feature addition.  Take a look at some of the other command-line programs---they have this support built in.  I think, for instance, that `mlpack/methods/naive_bayes/nbc_main.cpp` does.  So you can use that as a starting point.

[2017-03-06 00:43] rcurtin commented on #884
Sure, that is one idea.  I think that probably the ERT won't be useful until we have some kind of random forest class to ensemble them, but I am working on a random forest implementation that could use any type of tree, so that won't be a problem. :)

[2017-03-06 01:39] rcurtin commented on #755
Very nice to have this solved.  Thanks @shikharbhardwaj!

[2017-03-06 01:39] #755 closed

[2017-03-06 02:14] rcurtin commented on #911
Hey Li,

Sorry about this.  I actually ended up fixing this 5 days after 2.1.1 was released but since there has not been a new version released yet, there is not a new version for you to update to.  Like @mentekid said, this was a random failure caused by variance in the tests.  0b5d5f1c was the commit that reduced the variance in the tests.

2.2.0 will be released soon (I hope this week, or reall

[2017-03-06 02:14] #911 closed

[2017-03-06 02:14] rcurtin commented on #911
I should also add, there is nothing wrong with the Gamma distribution code in 2.1.1, this was just an issue where the test had too much variance.

[2017-03-06 02:21] rcurtin commented on #914
Yes, you're right, fixed in 1e18f8f3.  Thanks for pointing that out.  I wonder if that was the result of hitting a wrong key in vim or something.

[2017-03-06 02:21] #914 closed

[2017-03-06 02:29] rcurtin commented on #882
Yep, I see what you mean, I think you should definitely throw an exception in this situation, since there's no way we can still provide meaningful output from the classifier.

[2017-03-06 07:17] conradsnicta opened #915 "dangerous use of internal Armadillo structures"
I've noticed that the code uses a whole bunch of internal Armadillo structures and functions. This is not a good idea. The following commit uses internal Armadillo structures such as unwrap and Proxy, which are not guaranteed to be stable across Armadillo releases.
commit: https://github.com/mlpack/mlpack/commit/2e6aa3e2229b4f0afb3c0425aa18d2c276dd20cf

As per the [Armadillo API Version Policy](ht

[2017-03-06 07:26] conradsnicta commented on #915
See also my comments in https://github.com/mlpack/mlpack/pull/895

[2017-03-06 13:38] rcurtin commented on #915
Hi Conrad,

I appreciate the comments.  I know where you are coming from, but us "breaking the rules" like this is nothing new and something we've often had to do to get the goals that we want.  Sometimes, we do pay the price for this when things change, and this is ok---we generally end up with some amount of #ifdef's to wrap/backport/forward-port the support that we actually need to accomplish o

[2017-03-06 13:38] #915 closed

[2017-03-06 14:49] conradsnicta commented on #915
I believe in many cases it's entirely feasible to avoid using internal armadillo structures. I've provided a specific examples in the comments to https://github.com/mlpack/mlpack/pull/895

[2017-03-06 14:53] rcurtin commented on #915
Yes, I see what you mean now, thanks for the clarification.  Possibly my imagination is lacking. :)

[2017-03-06 15:31] zoq commented on #893
@sinjan25  There is an open PR for each method, so I think as long as you don't have an interesting idea, I'm gonna close this issue.

[2017-03-06 19:15] zoq opened #919 "NuGet package creation"
mlpack is currently packaged in Fedora, RHEL, Debian, Ubuntu and MacOS (homebrew). But there is no package for windows, one approach is to provide a NuGet package, other approachs are also feasible.

The main goal is to figure out what is necessary to create the NuGet package and maybe there is an easy way to automate and integrate the process into the existing windows setup (AppVeyor). Also since

[2017-03-06 19:15] rcurtin commented on #844
Fixed with #848.

[2017-03-06 19:15] #844 closed

[2017-03-06 19:37] rcurtin opened #920 "Make Load() fail correctly when not in debugging mode for column vectors"
@Lakshya1605 just contributed some nice support that allows us to call `data::Load()` with column vectors and row vectors.  That could clean up a lot of the code that loads labels (which need to be one dimensional).

But the problem is, when the file that is loaded has more than one dimension, no exception is thrown when mlpack is compiled without debugging symbols (`-DDEBUG=OFF`, the default).  H

[2017-03-06 19:39] rcurtin opened #921 "Use new Load() overloads when only a vector is required"
There are many places in command-line programs (e.g. `logistic_regression_main.cpp` and others) where we have code like

[code]

It would be much better if we dispensed with this step and simply loaded into the correct Armadillo type directly, and this would allow us to reduce the size of the codebase a little bit.  A PR to fix this issue should handle all occurrences of this pattern in the mlpack

[2017-03-06 19:56] rcurtin opened #922 "Identify commonly failing tests and address them"
This is a large ticket that many people can collaborate on.

mlpack has very many tests, and many of these tests are probabilistic.  This means that they can randomly fail, even when something isn't actually wrong with the code.  The purpose of this ticket is to identify these tests, open issues to address those failing tests, and fix the tests.  Typically this will involve understanding an algori

[2017-03-06 19:59] ShihaoJing commented on #921
@rcurtin I'd like to take this.

[2017-03-06 21:14] rcurtin commented on #912
Fixed in #918.

[2017-03-06 21:14] #912 closed

[2017-03-07 01:55] sam0410 commented on #920
Hi @rcurtin !
I would work on this

[2017-03-07 02:34] ThyrixYang commented on #922
Hi @rcurtin , I think a test system should get same  result as long as the function worked correctly. I suggest to run these randomize methods using a fixed seed, and we can choose some seeds and run test on these seeds, to ensure a generic test.

[2017-03-07 02:48] ThyrixYang commented on #922
Testing the tolerance of a algorithm can give some information to improve stability, and we can provide a appropriate suggestion(default) tolerance to users. So I think it's better to do a determinate test(same data sets and same random seeds), and consider improve stability   separately

[2017-03-07 09:26] sam0410 opened #924 "Errors in building mlpack in centos"
Hi !
Iam trying to build mlpack in centos using [this tutorial](https://gist.github.com/darcyliu/0629557e20ee61c19181).
I performed the following commands as well
`wget http://people.centos.org/tru/devtools-2/devtools-2.repo -O /etc/yum.repos.d/devtools-2.repo`
`yum install devtoolset-2-gcc devtoolset-2-binutils devtoolset-2-gcc-c++`
But when I write the following command inside build
`cmake ../`

[2017-03-07 09:37] #924 closed

[2017-03-07 09:38] sam0410 commented on #924
I did
`cmake -DCMAKE_CXX_COMPILER=/opt/rh/devtoolset-2/root/usr/bin/g++ ../`
 and my error was resolved.
 Thanks!

[2017-03-07 14:11] rcurtin commented on #922
Unfortunately, "as long as the function worked correctly" is not really an easy thing to know, especially with randomized algorithms.  One example would be LSH, which can't really be tested deterministically.  So we cannot take the randomness out of the tests.  Also, testing on a random dataset instead of a specific, hand-chosen dataset has revealed very many bugs to us in the past.  So I would no

[2017-03-07 14:44] ThyrixYang commented on #922
I see.. What about running the test several times until a success? And only if the tests all failed then throw a fatal error. If it fails on 45% tests(as @lozhnikov said in #734), we can run it for 6 times to ensure a error under 0.01%.(very time consuming indeed, but I think it maybe more robust than change tolerance?)
@rcurtin  Thanks for your detailed explanation, learned a lot. :)

[2017-03-07 14:48] rcurtin commented on #922
Yes, running many times is sometimes a solution.  That's done for the simulated annealing tests (`sa_test.cpp`).  #734 will be a bit difficult, because the RASearch algorithm is supposed to guarantee an approximation, and it is failing that guarantee---there is probably something wrong with the algorithm itself (or maybe the guarantee does not apply for certain types of trees).  So unfortunately w

[2017-03-07 14:52] sam0410 commented on #920
Hi @rcurtin!
I was thinking of this-
In row vector, we can check the number of lines(rows) in the file and that should be equal to one, otherwise, an error is thrown.
In column vector, we can find number of spaces(excluding spaces which are there in the beginning and the end) in the first row of the file input, if it is not equal to zero, we can throw an error.
Can I go on and implement this?
Than

[2017-03-07 14:53] rcurtin commented on #920
Like I wrote:

I am fairly convinced this can be done without having to open the file manually.

[2017-03-07 15:01] ThyrixYang commented on #922
I have been reading "IMPROVING DUAL-TREE ALGORITHMS" by you today. I found it wonderful to get familiar with mlpack and dual-tree algorithms (I've been using kd-tree to solve problems in contests, and dual-tree is more powerful). I'll spend some time on #734, may have no progress on this issue, just for my interest.

[2017-03-07 15:13] SND96 commented on #920
Hello @rcurtin!
I was thinking we could use data::load for both loading the same data into a column/row vector and a matrix. We could then use the size() function to check whether the column/row vector has the same dimensions as the matrix. If not, an error will be shown.
If this is feasible, can I go on and implement this?

[2017-03-07 15:18] rcurtin commented on #920
That doubles the loading time.  That won't be a good idea.

[2017-03-07 15:23] micyril commented on #883
Is my question understandable? Do I need to reformulate it?

[2017-03-07 15:24] zoq commented on #902
Fixed in 5215c3df3ec.

[2017-03-07 15:24] #902 closed

[2017-03-07 15:27] rcurtin commented on #883
Sorry, I hadn't gotten to this yet.  If no split is found, then in my view there's no reason to add an MDL penalty because we wouldn't be adding any children.  The idea of the MDL penalty is that you apply it when you create more and more children to keep the tree from making too many children.

[2017-03-07 15:31] sinjan25 commented on #919
@zoq I would like to work on this.

[2017-03-07 15:34] zoq commented on #919
Hello @sinjan25 feel free to take a look at the issue.

[2017-03-07 15:53] zoq commented on #870
I think hosting the models either on GitHub or mlpack.org has its pros and cons.

If we host the models on Github, someone who is only interested in a single model has to download the complete repository, which potentially is somewhat cumbersome. On the other side, if we host the models on mlpack.org we can independently download each model, but you need internet access if you like to test it out.

[2017-03-07 15:56] sam0410 commented on #920
We can just load it into a matrix and check the size of matrix if number of columns =1 or number of rows=1

[2017-03-07 16:48] ShihaoJing commented on #921
I noticed that in `logistic_regression_main.cpp` and others, lables can loaded this way:
[code]
When I tried to change parma loading to
`responsesMat = std::move(CLI::GetParam<arma::Col<size_t>>("labels"));`
It gives me some errors:
[code]
I have pulled #918 and there should be a load function that can load vector directly.

[2017-03-07 17:29] SND96 commented on #920
@sam0410  Since `data::load()` can now be called with column/row vectors, wouldn't using a matrix for loading and then converting that to a vector not use that new functionality at all?

[2017-03-07 19:56] arunreddy commented on #893
@zoq: For Nesterov with Adam based on the paper "Incorporating Nesterov Momentum into Adam", I am planning to move AdaMax updates into a policy class. It is currently handled using a boolean flag passed to the constructor. And at the same time add two more policy classes. NesterovAdam and NesterovAdaMax. That makes it 4 different updates:
1. Adam
2. AdaMax
3. NesterovAdam
4. NesterovAdaMax

Is it

[2017-03-07 23:21] zoq commented on #893
@arunreddy Sounds great!

[2017-03-08 02:44] sam0410 commented on #920
Hi @SND96 ! I was thinking,it would be loaded to a vector later and new matrix which we created will be destroyed after the function scope is over,

[2017-03-08 03:20] micyril commented on #883
@rcurtin, you're right, but the question is about something different. To decide whether we need to do a split we compare a gain before any splitting and a gain after finding a split with the highest gain. It makes sense to me if the MDL penalty should be used not only to choose a split that is less prone to cause overfitting , but also to effect deciding whether we need to make a split at all (as

[2017-03-08 03:33] SND96 commented on #920
@sam0410 I had suggested something similar but that would double the load time as rcurtin had said before.

[2017-03-08 03:46] sam0410 commented on #920
@SND96 I think what I suggested would be more faster than loading it twice and checking sizes twice. Anyways, let's look for a better solution.

[2017-03-08 06:56] MikeLing commented on #882
Hi @rcurtin , the compiler looks like failed to found `Evaluate<UseWeights>(labels, numClasses, weights)` function and return an error like https://pastebin.mozilla.org/8981376. But I have no idea why it happened :(    Here is my gist of patch https://gist.github.com/MikeLing/2e1056c873eecbf845c14b318ad4a17f

I know your time is precious and you can't to answer all the questions on github. But I h

[2017-03-08 23:58] rcurtin commented on #883
Ah, right, sorry that I misunderstood your question.  Thanks for the clarification.

Here is the paper that introduced the MDL penalty:
https://arxiv.org/pdf/cs/9603103.pdf
The relevant part is on page 4 in the top half.

I think that I wrote the penalty wrong in the description, too---it should be `log2(number of children - 1) / sum of weights`.  The `- 1` must be added because the idea is to onl

[2017-03-09 06:26] dongli commented on #911
Thanks, I will wait for the new version!

[2017-03-09 09:04] sam0410 opened #926 "error in installing boost in centOS"
after instlalling boost and all the other devel tools required,
In the build folder of mlpack,after `cmake -DCMAKE_CXX_COMPILER=/opt/rh/devtoolset-2/root/usr/bin/g++ ../ ` , i wrote `make` and the following errors came up.

Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  0%] Updating arma_config.hpp (if necessary)
[  0%] Built target mlpack_arma_config
[ 29%] Built tar

[2017-03-09 10:55] ThyrixYang commented on #926
Did you install boost with package manager on centos? I think the boost library is not correctly installed.

[2017-03-09 13:48] sam0410 commented on #926
Hi @ThyrixYang !
When I  write `./bjam` for building boost, following errors pop up.

Performing configuration checks

    - 32-bit                   : no  (cached)
    - 64-bit                   : yes (cached)
    - arm                      : no  (cached)
    - mips1                    : no  (cached)
    - power                    : no  (cached)
    - sparc                    : no  (cached)
    -

[2017-03-09 13:54] ThyrixYang commented on #734
Hi @rcurtin , I found that HILBERT_R_TREE, R_PLUS_TREE, UB_TREE fails the most(but the failing percentage vary on different threshold, HILBERT_R_TREE, R_PLUS_TREE fails most on threshold = 5, and UB_TREE, HILBERT_R_TREE fails most on threshold = 12, and the randomBasis para differs). Nearly all failure is caused by dual tree. I think the rann algorithm is independent of the tree type, so if all wo

[2017-03-09 14:49] ThyrixYang commented on #926
Hi, @sam0410 , I suggest you install via yum, ie.
sudo yum install boost-devel
The package manager will deal with the dependencies automatically. Have you tried this approach?

[2017-03-09 14:58] sam0410 commented on #926
Hi @ThyrixYang
yum contains outdated version of boost and mlpack build was failling because it needs boost version >=1.49
Thanks for your patience!

[2017-03-09 17:01] ThyrixYang commented on #926
I tried to build boost on my machine and failed too :).....My os is ubuntu16.04, I have no idea to deal with this now.

[2017-03-09 17:06] rcurtin commented on #926
I am confused, in the first post you say that you have boost installed, in the second you show some errors while compiling boost.  Can you provide the current state of boost on your system?

[2017-03-09 17:14] sam0410 commented on #926
sorry for the the confusion @rcurtin.
I initially installed boost via yum and it was not supporting mlpack build, as it was outdated.
I tried installing boost from source and errors come up.
Thanks for your patience!

[2017-03-09 17:17] rcurtin commented on #926
No, but this still doesn't make sense.  In your original report, you had boost installed and mlpack was properly configured and building.  If mlpack configured successfully, then your boost version was 1.49 or newer.  What had you done that got you to the situation you were in when you filed this ticket, with mlpack successfully configured?

[2017-03-09 17:25] sam0410 commented on #926
Hi @rcurtin !
I tried building boost and and the given errors popped up. even after that I tried building mlpack and mlpack failed to build 100%, it stopped at 30% and the errors which I posted earlier came up.
Please help me build mlpack after this.
Thanks.

[2017-03-09 17:34] rcurtin commented on #926
Unfortunately I can't help because what you are saying does not make sense.  Therefore I can't understand the situation that you are in and I can't provide any advice.  Again, in your first post, you had mlpack properly configured with CMake, which you cannot do without a recent-enough Boost installation.  So it seems like your system has Boost, so I am not sure why you are trying to compile Boost

[2017-03-09 17:37] sam0410 commented on #926
Hi @rcurtin !
Like I said, my system had outdated boost in the first place. That is the reason I tried compiling boost by hand. and faced this.

[2017-03-09 17:40] rcurtin commented on #926
Please carefully read what I am saying; this will be the third time I write it.  It is _not possible_ to get the error that you originally opened this bug with if the Boost version on your system is out of date.  So either there is new-enough Boost on your system and you don't know it, or you have modified something in the configuration scripts that you aren't telling me.

[2017-03-09 18:26] rcurtin commented on #921
Ah, yes, so this one actually does turn out to be somewhat more complicated than I had thought originally.  It turns out, we need to get our hands dirty and make the following modifications:

- Add a new `PARAM_VECTOR()` and `PARAM_UVECTOR()` macro, like the others in `src/mlpack/core/util/param.hpp`.
- Modify `output_param_impl.hpp` and `param_data_impl.hpp` to correctly handle loading/saving vec

[2017-03-09 18:34] ShihaoJing commented on #921
@rcurtin This is a good start point for me to investigate how the CLI interface works, thank!

[2017-03-09 21:46] s1998 commented on #884
@rcurtin I would like to work on this issue.

[2017-03-09 22:09] s1998 commented on #884
@rcurtin  I would like to work on this issue.

[2017-03-10 07:01] ThyrixYang commented on #926
@sam0410 , the CMake will check the version of boost, if the version is out of date. It will fail on the cmake step, so you can't go to make. You can find the boost files in your path, which version have you installed? If not installed, then you should search for installation guide on centos. Go to centos or boost community and irc to ask this question would be better. I agree with rcurtin: if you

[2017-03-10 12:50] micyril commented on #883
I have read the third section of the paper, and it seems like the proposed penalty is applied only to numerical splits, while the formula is actually `gain - log2(number of distinct numeric values - 1) / sum of weights `. Here `number of distinct numeric values - 1` is equal to amount of possible thresholds, and the idea is that we want penalize splits with many possible thresholds (as they are mo

[2017-03-11 09:04] outofnames commented on #420
@stephentu , the link you've posted isn't working, you can update it to [this link (github)](https://github.com/google/styleguide/tree/gh-pages/cpplint)

And is someone working on it? I am kinda interested in it to start, just need a green flag

[2017-03-11 13:14] micyril opened #929 "Normalizing signatures of Train methods and constructors"
As have been mentioned on the GSoC ideas page under the title "Cross-validation and hyper-parameter tuning infrastructure", many Train methods of classifiers have similar signatures of the form
[code]
On the other hand, the DecisionTree class has the method
[code]
and the corresponding constructor
[code]
I guess the following signatures would be more conventional:
[code]

[2017-03-11 14:21] rcurtin commented on #420
Sure, nobody is working on this now; if you wanted to do it, it would be appreciated.

[2017-03-12 03:50] TanishaShrotriya commented on #781
Hello,
I was trying to compile the same example code, and have similar issues. I have a few questions that I would like to ask-
1) I saved the covariance computation sample program as data.cpp in src/mlpack to get rid of an "includes not found" error, is that appropriate? It is removing the error, but it seemed more appropriate to be able to store the .cpp file anywhere on my system.
2) For any pr

[2017-03-12 04:01] TanishaShrotriya commented on #781
Update-
If I use
`$ gpp data.cpp`
I get an error saying -
`// Includes all relevant components of mlpack.`
`data.cpp:3: error: Requested include file not found`
with this-
`$ g++  -std=c++11 data.cpp`
I get -
`g++: error: data.cpp: No such file or directory`
`g++: fatal error: no input files`
`compilation terminated.`

Is it okay to use gpp version 2.24?

[2017-03-12 10:54] shikharbhardwaj opened #932 "GMMTest/GMMTrainEMOneGaussian fails when component co-variance is close to 0"
Parent issue : #922

Test in `src/mlpack/tests/gmm_test.cpp`.

The test uses `BOOST_REQUIRE_CLOSE` to check the equality of floating point numbers, which is based on Knuth's tolerance predicate. It compares the relative errors of the numbers to a required tolerance %. The problem arises when the numbers are close to 0 where the relative errors can grow arbitrarily large. This leads to the test fai

[2017-03-12 13:07] kris-singh commented on #894
@zoq  i implemented the line function. I wanted to now we would write a decomposable function. Which would have activate the function based upon the x1 given right. so we would need to check every time. can this checking be done in compile time. Or how should i go about implementing the decomposable function. Also in sgd implementation we have been given the iterate(which basically can be training

[2017-03-12 13:30] zoq commented on #781
With gpp do you mean the general purpose preprocessor? If that's the case it's not a compiler like g++/gcc, it's a preprocessor.

Also, to get rid of the "includes not found" error, add the include directory to your search path or specify the path with -I also you have to link against mlpack either by adding the path to your search path or by using -L:

[code]

[2017-03-13 10:44] jayantsaraf commented on #920
hello @rcurtin, i would like to take this issue.
but i am unable to figure out the fil in which changes should be made. can you help me?

[2017-03-13 13:07] sam0410 commented on #926
Thanks !
You were right @rcurtin , there was boost already there, and I was unaware of it. I upgraded the existing, and it worked fine.
Thanks a lot!

[2017-03-13 13:07] #926 closed

[2017-03-13 13:12] micyril opened #935 "Classify in SoftmaxRegression"
The class SoftmaxRegression implements a classification algorithm, but its method for classification has the name "Predict" rather than "Classify"  (what is less conventional among mlpack classification algorithms):
[code]
It seems to me that we should deprecate the method Predict and add a method Classify instead of it, like it was done for LogisticRegression:
[code]

[2017-03-13 14:10] NaxAlpha opened #936 "Build on Windows using WSL"
Hi everyone,

I was trying to compile mlpack on different platform and then I came across _Bash On Ubuntu On Windows_. Looking at various articles regarding its compatibility and performance, I tried to compile using given [documentation](http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=build.html) on mlpack website:

* Clone Repository
* Install Dependencies
* Configure CMake
* `make -j8` (*

[2017-03-13 18:02] Trion129 commented on #870
Instead of making a compiled version of every file, wouldn't it better to use Boost's serialization module to store the instance of class in a file and then restore that file when user wants it. We can ease this process by making a tool for abstracting this procedure.

Users can then do something like
[code]
And then they can choose to train it more on their own dataset or just continue with what

[2017-03-14 01:05] TanishaShrotriya commented on #781
Yes it is. It usually works with all the other .CPP files.
I will try the command you suggested.
Thank you

[2017-03-14 08:25] sagarbhathwar commented on #935
Hi, I am new to Open Source Contribution but have some experience in ML and C++. Is mlpack a good place to start? Should I take up this (issue) and make logistic regression and softmax regression have uniform interface?

Thanks

[2017-03-14 13:52] kris-singh commented on #894
@zoq  can you answer this. Thanks

[2017-03-14 13:55] zoq commented on #870
The reason why I would go with the executables like we did for the other methods in the mlpack repository is:

- We can create bindings for different languages like python.
- You quickly adapt the model to your own needs, which isn't that easy if we don't provide the model structure because it's saved in some file.
- We can provide a unified interface across all methods, you can use the same comma

[2017-03-14 13:58] rcurtin commented on #734
Thanks for running these experiments.

The random basis parameter is based on this paper: http://drops.dagstuhl.de/opus/volltexte/2012/3847/pdf/7.pdf
We ran some experiments many years ago and found that randomly orienting the dataset can actually produce a runtime acceleration, at least for kd-trees (which is what I tried this with).  The acceleration was only usually a few percentage points thou

[2017-03-14 13:59] zoq commented on #781
Okay, let us know if that works out for you or if it doesn't.

[2017-03-14 14:38] rcurtin commented on #882
Hi @MikeLing, did you get this sorted out?  I saw there was some IRC discussion but I did not have time to participate.  I have more time now so I can try and help if you're still having a problem.

[2017-03-14 14:51] zoq commented on #894
We have to provide a Function that is able to combine different generators and that provides the same interface as e.g. the RosenbrockFunction function. x1 is a single input point or vector that has to be specified at build time. Right now we use GetInitialPoint() that comes with each function and provides some input for the evaluation.

I'm not sure what you mean with checking of x1, can you elab

[2017-03-14 15:26] rcurtin commented on #932
Hi Shikhar,

Nice catch.  I agree, we can do something like:

[code]

This is done in lots of other tests too; I'm not sure why it isn't done here.  Looks like `GMMTrainEMMultipleGaussians` may also have the same issue.

[2017-03-14 15:28] shikharbhardwaj commented on #932
Hi Ryan,

Thanks for looking into this. I'll create a PR with the changes.

[2017-03-14 15:32] rcurtin commented on #920
@jayantsaraf: it looks like possibly other people are already working on it.  You will want to take a look in `src/mlpack/core/data/` to find the implementation.

I think that if there are no functions for Armadillo that can be useful here, then it may be better to reimplement the overloads of `Load()` and `Save()` for `Col` and `Row` in such a way that they first load into a matrix without transp

[2017-03-14 15:33] rcurtin commented on #926
Great, glad you got it worked out.

[2017-03-14 15:35] rcurtin commented on #936
Hi @NaxAlpha, if there is somewhere in the documentation that suggests using multiple cores, it may be useful to point out that using more cores will use more RAM.  But I can't find anywhere in the documentation that says that, so I don't think there is anything to be changed.

Is there any actual issue to solve here, or is this just a note?  If so I'll solve the issue, otherwise I'll go ahead and

[2017-03-14 16:07] rcurtin commented on #935
Hi Kirill,

I agree with this strategy, I think it would be a good change. If you want to open a PR if you've already made the changes feel free.

@sagarbhathwar: I assume Kirill is already going to work on this one, I guess he can let you know if it is open or not.

[2017-03-14 19:20] rcurtin commented on #870
I think maybe this discussion already happened in IRC, but we can already use boost::serialization to load and save models, but a key here is that we cannot save a _type_, we can only save an instantiation of a type.  The type must be known at load time.  So we cannot do anything like

[code]

because every possible network structure may have a different type.  Therefore we need different executab

[2017-03-15 01:39] MikeLing commented on #882
First thing is I'm confusing about this part of code https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/decision_tree/best_binary_numeric_split_impl.hpp#L29-L32 and how it works. I guess it's about sort all the labels right? Which means if we have label list like "2 1 5 3 8 9 2 0 1" and we may want orderedLabels like "0 1 1 2 2 3 5 8 9" Isn't it? If so, then we may have an issue for i

[2017-03-15 05:07] micyril commented on #935
Hi Ryan,

I have sent a PR.

[2017-03-15 06:00] micyril commented on #929
The class HoeffdingTree also has a less conventional order of arguments in one of its training constructors:
[code]
Analogously to the DecisionTree class, I think it would be more conventional to provide the following interface:
[code]

[2017-03-15 08:20] NaxAlpha commented on #936
Hi @rcurtin, `make` allows to compile using multiple jobs, which makes compiling quicker. [Here](https://www.gnu.org/software/make/manual/html_node/Parallel.html) is article which tells how to use multiple jobs (better if multiple cores). Following is screenshot of my system:

![screenshot 5](https://cloud.githubusercontent.com/assets/11090613/23939336/00b5a530-0982-11e7-94cb-d551a0133eb2.png)

Be

[2017-03-15 09:27] jayantsaraf commented on #920
i am a beginner. so it would be better if you could help me step by step.
i opened the load file. now what should i do?

[2017-03-15 09:38] jayantsaraf commented on #722
@rcurtin can you please give some examples of the header that i need to remove?

[2017-03-15 09:40] sagarbhathwar opened #941 "Creating uniform interface for Logistic Regression and softmax regression"
Since Logistic regression is a specific case of Softmax regression(K=2), isn't it better to provide a uniform interface for both Softmax regression and Logistic Regression.

For example:, Logistic regression has the following methods:
[code]

which are absent in Softmax Regression.

Likewise, the `Serialize` function of Softmax regression is absent in Logistic regression.:
[code]

I feel that sinc

[2017-03-15 14:12] #932 closed

[2017-03-15 14:16] rcurtin opened #943 "LocalCoordinateCodingTestCodingStep hangs on sparc64"
If you run

[code]

on a sparc64 machine, sometimes it will hang.  I noticed this in the matrix build.

I will debug this myself since sparc64 is such a rare architecture I doubt many people have access to it; this issue is just a note to myself so that I remember to do it...

[2017-03-15 14:33] rcurtin commented on #882
Ah, I can explain that.  The goal of `orderedLabels` is not to get an ordered list of labels, but instead to get the labels corresponding to the ordered data.  When we split a node, we have one dimension 'd' of data, and we want to find some split point 'v' so that data with value in dimension 'd' less than the split point 'v' goes to the left node, and data with value in dimension 'd' greater tha

[2017-03-15 14:36] rcurtin commented on #936
Right, I typically use `make -j8` on my 8-core desktop... unfortunately mlpack is a big library and there is a lot to compile, so even then it can take a long time.

Thank you for writing up the note, I will go ahead and close the issue (to try and keep the issue list of manageable size) and then people in the future can refer to this issue or when they are searching for similar problems they may

[2017-03-15 14:36] #936 closed

[2017-03-15 14:38] rcurtin commented on #920
@jayantsaraf: I am sorry to say, there is no time for me to help at that level of depth.  I would suggest that you spend time with basic programming resources.  mlpack is a complex and difficult-to-understand library... it might not be a great first choice for a beginner.

[2017-03-15 14:40] rcurtin commented on #722
@jayantsaraf: you will have to look through the code to see which headers are needed and which are not.  You can also add `-H` to your `CMAKE_CXX_FLAGS` and this will print a (very long) list of all files that are being included for each source file.

[2017-03-15 14:44] jayantsaraf commented on #920
okay thank you for your precious time.
i will be very grateful if you can suggest me some other organisation in which i can contribute for gsoc

[2017-03-15 14:46] Iron-Stark commented on #886
@rcurtin Any new developments on this issue?

I came here via the mailing list archives (wrt the better benchmarking project for gsoc). If no one is working on this, I'd love to try out this one.

Thanks!

[2017-03-15 15:04] sam0410 commented on #886
Hi @Iron-Stark !
I am almost done with the MATLAB benchmarking. You may take up any other :)

[2017-03-15 15:10] Iron-Stark commented on #886
@sam0410  I'll start off with scikit learn.

[2017-03-15 16:11] Iron-Stark commented on #886
@rcurtin @zoq

I was going through the benchmark code for RandomForestClassifier and found that while parsing the input options using regex there were only four options (n_estimators, criterion, max_depth and seed) handled in the code. However, scikit-learn provides many other options like min_samples_split, min_samples_leaf, min_weight_fraction_leaf, max_features etc in their RandomForest Impleme

[2017-03-15 16:25] zoq commented on #870
Thanks for the clarification. To keep this idea going, I thought about the project structure and I think something easy like this would be just fine:

[code]

As I mentioned earlier what I like to see is that someone can build each model independently e.g. 'make model 1' or build all models. The problem I see is can we include model specific dependencies e.g. boost thread for model2 without making

[2017-03-15 16:57] ThyrixYang commented on #734
This is my test results.
https://gist.github.com/ThyrixYang/2fa3008cc2b959a9bf37dd3fb3a9d033

As the results showed, naive model never fail(it has a good probability bound), and single tree model rarely fail, some dual tree failed obviously more. A confusing fact is that it tend to fail more often with randbasis = true.
The deterministic method must have been tested strictly. And many single tree

[2017-03-15 19:26] TanishaShrotriya commented on #781
Hi again,
It is compiling properly, thanks :)
`[tshrotriya@localhost mlpack]$ g++ data.cpp -std=c++11 -I/path/to/mlpack/build/include -L/path/to/mlpack/build/lib -lmlpack -larmadillo`
compiles properly
I am still getting an error with the ./test file though -
`[tshrotriya@localhost mlpack]$ ./test`
`./test: error while loading shared libraries: libmlpack.so.2: cannot open shared object file: No su

[2017-03-15 19:32] rcurtin commented on #781
Yes, all you need to do here is point the runtime linker to the right directory with `LD_LIBRARY_PATH`:

[code]

Remember that you have to specify the path to the mlpack build location both in the command above and the g++ command too.  The README.MD file has a bit about this too.

[2017-03-15 19:36] rcurtin commented on #920
I can't recommend any other organizations because I know nothing of your skill set, background, and interests, and I also am not fully familiar with the list of mentoring organizations. Try looking at the list of mentoring organizations on the Summer of Code website.

[2017-03-15 19:55] rcurtin commented on #941
Hi Sagar,

I'm not sure why you opened another issue for this when Kirill had already opened (and solved) another virtually identical issue.  I see there are some other questions to address though. So:

 * `Predict()` -> `Classify()` is already handled for softmax regression.
 * `Serialize()` already exists for both logistic and softmax regression.
 * We should avoid having too many differently na

[2017-03-16 00:49] sagarbhathwar commented on #941
Hi Ryan

Sorry if opening a new issue was wrong. I'm new to Open Source contribution you see. Apologies

- `Predict()` -> `Classify()` has been taken care of. But some `Classify` methods, like classifying a single point of type `arma::Row<size_t>` and computing probabilities can be added to softmax regression
- Sorry, I missed `Serialize()` by oversight
- Sure, sounds good
- Yes, that sounds fair

[2017-03-16 06:36] pvskand commented on #891
Just as @IlievskiV had mentioned it is better to have an exceptions base class that all other modules would extend. Also the base class would contain generic exceptions like the ones you mentioned such as `invalid_argument` and `runtime_error` and when the method extends the class, it would exactly specify what the problem could be so that the user gets to know the mistake as closely as possible.

[2017-03-16 10:42] Trion129 commented on #756
Can I work on the RAModel part?

[2017-03-16 14:00] rcurtin commented on #929
Yes, so the main difference here is that the `DecisionTree` and `HoeffdingTree` classes (both of which are decision tree implementations, though one is streaming and one is batch-mode) support categorical features.  This is why they take the `data::DatasetInfo` parameter; that's an object that denotes for each dimension whether it is numeric or categorical.

I originally placed `datasetInfo` as a

[2017-03-16 14:25] rcurtin commented on #734
I talked to Pari yesterday, he agreed that the bound in the paper is kind of "cheap", it's just based on random sampling.  (Now that I review it more closely, this is indeed the case.)  So the tree algorithms should both be able to satisfy this bound, since the tree algorithms only prune away a node when it is known that the points in that node cannot possibly be a better nearest neighbor candidat

[2017-03-16 14:30] rcurtin commented on #870
Here's a quick idea:

[code]

This allows us to keep configuration from failing for certain model types, so that a user can always type `make model1`, but depending on the status of the configuration, they will either get the actual build when they type that command, or they will get a message indicating that CMake could not configure that model type properly.

I agree also, we could also add some

[2017-03-16 14:40] rcurtin commented on #941
No worries, I was new once too. :)

I do agree that the extra overloads of `Classify()` could be added to softmax regression.  If you would like to do this, feel free---but be sure to add some tests to `softmax_regression_test.cpp` for the new overload.  I'll go ahead leave this issue open then; if you want to do that, then we can close it after the PR is merged.

[2017-03-16 16:07] ThyrixYang commented on #734
I don't have any idea about the randomBasis now, because naive approach worked well on this situation.(maybe there is a bug only affect tree search? I don't have any entry point of this problem)
I have not look into Hilbert R tree and the R+ tree in detail now, but I'd like to read about these algorithm latter.

About the case I said above, I think I didn't explain my thought clearly:
I think a tr

[2017-03-16 16:23] ThyrixYang commented on #734
I can't say whether this will cause a big difference as the test show, if it's true.

[2017-03-16 17:16] zoq commented on #886
If you like you can provide options for the parameters as well. I'm not sure that the mentioned parameters already existed at the time I implemented the benchmark script for the scikit method. In general, the intention is to compare methods with the same parameter set and to use reasonable values if one implementation does not provide the same option as another implementation.

[2017-03-16 17:42] rcurtin commented on #891
Like I said, I don't see the need for an mlpack exceptions base class, since any of the problems we are encountering can be described as `invalid_argument` or `runtime_error` or some similar exception type that is already in `std`.

I don't think we should start implementation yet; there is still the main issue to work out here: we need to see how we can give the user __interpretable__ exceptions

[2017-03-17 08:20] ThyrixYang commented on #886
I've done some work on benchmark of mlpack_decision model several days ago. I noticed the issue about categorical data, and it is needed for processing some dataset(their label start  from 1, not 0). Should I make a pr now with less dataset support, or wait for that pr get merged?

[2017-03-17 13:40] ThyrixYang commented on #734
I have done a few experiments today, but did not find any evidence that support my conjecture.
I tried to sort the data in advance and split them into bins(simulate the space split structure), then perform sampling in bins. I tried to sort according to x value, y value and the distance from (0, 0). The naive approach did not fail in these case(may because my approach is too simple compare to space

[2017-03-17 15:45] rcurtin commented on #935
Solved when #940 was merged.

[2017-03-17 15:45] #935 closed

[2017-03-17 16:55] #920 closed

[2017-03-17 16:58] rcurtin commented on #920
I ended up fixing this as part of the process for merging #931.  The relevant commit is 81a26dec3 in case anyone is interested in looking at the changes.

[2017-03-17 17:12] rcurtin commented on #921
With #927 merged and 8bd7f79 this is now fixed.  Thanks!

[2017-03-17 17:12] #921 closed

[2017-03-17 17:59] rcurtin commented on #756
@Trion129: #889 is already open, so you may want to find something else so that you don't duplicate work.

[2017-03-17 19:56] shikharbhardwaj commented on #894
Hi!
Is there anything I could implement to help with the progress of this issue?

[2017-03-18 09:14] MikeLing commented on #882
#947 Finally got something to ask feedback :)

[2017-03-19 06:12] micyril opened #948 "Training constructors for LARS"
Right now LARS has two constructors
[code]
and one training method
[code]
Every classification and regression algorithm I have encountered in mlpack has a training constructor (a constructor with a body containing a call of a Train method), what is considered to be a good practice according to the design guidelines. But there is a lack of such ones for LARS. Should we consider adding some training

[2017-03-19 14:08] micyril commented on #929
Ryan, the following is what I see as the reasons why it is worth to change Train method interfaces (as well as corresponding signatures of constructors) from `Train(const MatType&, const data::DatasetInfo&, const Row<size_t>&, ...)` to `Train(const MatType&, const Row<size_t>&, const data::DatasetInfo&, ...)`.
1. It makes sense to me too that `datasetInfo` is logically associated with `data` rathe

[2017-03-19 14:26] zoq commented on #886
Your call, a PR with a limited dataset support is just fine.

[2017-03-19 15:02] zoq commented on #894
Hello @shikharbhardwaj there are a couple of different and interesting generators that could be implemented, so feel free to work on this issue.

[2017-03-19 17:31] shikharbhardwaj commented on #894
Thanks for the reply @zoq.

How exactly would the generator interface look?

The line function interface you posted generalises the line function over the arbitrary number of dimensions the user wishes to use. The way I was thinking about the problem was to define the function prototypes in a single dimension and then use something like the `FunctionFactory` to combine those single dimension funct

[2017-03-20 07:17] abhinavmoudgil95 commented on #922
I am just addressing here the tests which I observed failing quite commonly:

* `krann_search_test.cpp`
* `convolutional_network_test.cpp`
* `recurrent_network_test.cpp`

Anyone can take them up and fix. Correct me if I am wrong somewhere. :)

[2017-03-20 07:28] abhinavmoudgil95 commented on #922
Here are some more tests which I observed failing quite commonly:

* `VanillaNetworkTest` in `convolutional_network_test.cpp`
* `EmbeddedReberGrammarTest` in `recurrent_network_test.cpp`

Anyone can take them up and fix. Correct me if I am wrong somewhere. :)

[2017-03-20 12:52] ThyrixYang opened #951 "mlpack_decision_tree memory exploded on dataset "reuters""
I have just finished benchmark script of mlpack_decision_tree, and I noticed that on reuters dataset the memory increases very fast and I have to drop this dataset to run benchmark on my machine. Maybe there is something wrong? (this dataset is extreme because it has so many features)

[2017-03-20 13:04] ThyrixYang commented on #951
sklearn worked well on this dataset, used about 4Gb memory. And I think mlpack need more than 10Gb(my RAM is 12Gb)

[2017-03-20 13:41] ThyrixYang commented on #951
This dataset has 5114 rows and 17388 columns, I think it's not appropriate to apply decision tree directly on it though, but it's in sklearn's benchmark dataset.

[2017-03-20 14:24] rcurtin commented on #948
I agree, this would be a welcome improvement.

[2017-03-20 14:29] rcurtin commented on #951
Definitely with 5k features, mlpack will loop over every possible split and test them all.  So I would expect it to take a long time.  But when I wrote the `Train()` function that does this looping over all dimensions, I wrote it so that it would minimize RAM usage... or so I thought.  Gains aren't cached for every dimension---we only cache the highest gain and the best split dimension.  I wonder

[2017-03-20 15:15] micyril commented on #948
Ok, I will handle it

[2017-03-20 18:44] sagarbhathwar commented on #941
#954 I've created the PR. Please review the changes

[2017-03-20 19:36] pvskand commented on #922
@abhinavmoudgil95 Can you please tell me how to run the tests for `convolutional_network_test.cpp` ?

[2017-03-20 20:39] rcurtin commented on #943
263ebbf6b at least adds iteration limits to keep the test from hanging.

[2017-03-21 03:55] pvskand commented on #922
@abhinavmoudgil95 I did run the two tests for 25 times each, but did not get any error. Since the initial weights are randomly choosen, I don't think that you should have errors very frequently. Can you tell me with how much frequency is the error show and what is the error in case of `convolutional_network_test.cpp`

[2017-03-21 20:21] rcurtin commented on #922
I've updated the list of failing tests, thanks.

When you run the tests to see if they are failing, be sure to add `math::RandomSeed(std::time(NULL))` to the top of the test.

[2017-03-21 20:32] rcurtin commented on #929
Ok, that is a compelling argument and you are right---having `DatasetInfo` come after the dataset and labels could make the design of the hyper-parameter tuning module and cross-validation module much easier.

Since mlpack 3.0.0 is not yet released, we can break reverse compatibility for that release in accordance with `UPDATING.txt`.  But for any PRs that we do to change things around now, we sho

[2017-03-23 21:12] rcurtin commented on #948
Fixed with #957.

[2017-03-23 21:12] #948 closed

[2017-03-24 05:36] micyril commented on #929
Thank you for your comments. I would like to discuss support for weighed learning and a few other things a bit more. I have noticed that by now there is no uniform type for `weights` parameter. Instead, two types are used: `arma::vec` in regression algorithms and `arma::rowvec` in classification algorithms. When I was suggesting to use a template bool parameter `isWeighted` in `KFoldCV`, I assumed

[2017-03-24 16:01] #941 closed

[2017-03-24 16:59] abhinavmoudgil95 commented on #893
@zoq I feel that AdaDelta can also be ported to policy class like AdaGrad in #942 to reduce code duplication. Should I go ahead and submit a PR for this?

[2017-03-24 17:00] zoq commented on #893
@abhinavmoudgil95 I agree, if you like feel free to open a PR.

[2017-03-25 00:59] rcurtin commented on #821
The Adaboost problem is fixed with #956 being merged (thanks @nish21!).  The nan serialization issue still remains.

[2017-03-25 03:13] rcurtin commented on #593
Fixed in #909.  Thanks @ShihaoJing!

[2017-03-25 03:13] #593 closed

[2017-03-25 03:51] rcurtin commented on #929
I think we can force `WeightsType` to `arma::rowvec` and change the code you've seen where the type is `arma::vec`.  That will simplify things a little bit.  My laptop battery is about to die, so I will comment further on this later when I am at a power source... :)

[2017-03-25 07:21] vikasshetty1996 commented on #891
So basically we have to find a way that the user can understand why that exception was thrown and make it more easier for him/her to debug the code ?

[2017-03-25 14:56] shikharbhardwaj commented on #821
Thanks for the update @rcurtin.
I checked the reported error and cannot replicate it after #956 .

Also, `nan` values are being correctly serialized, as I tested [here](https://gist.github.com/shikharbhardwaj/17ff67075822906d9c8f1260981e60b6).

Is there anything else that needs to be tested?

[2017-03-25 17:02] decltypeme commented on #593
WOW! Great job! Opened on March 25th, Closed on March 25th!

[2017-03-25 17:44] shikharbhardwaj commented on #922
I have been able to replicate `ConvolutionalNetworkTest/VanillaNetworkTest` with the seed value 1490461915.

For anyone else trying to work on this issue, I wrote a simple shell script that runs the test again and again till it fails, halting at the failing case :

    #!/usr/bin/zsh

    correct=0
    while [[ $correct == 0 ]]; do
      ./mlpack_test -t ConvolutionalNetworkTest/VanillaNetworkTest

[2017-03-26 08:17] s1998 opened #963 "Regarding Linear Regression and LARS"
As of now linear regression has constructor :
`LinearRegression::LinearRegression(`
`const arma::mat& predictors,`
   `                                                       const arma::vec& responses,`
`                                                       const double lambda,`
`                                                       const bool intercept,`
`

[2017-03-26 16:48] minxuancao opened #964 "R* tree fails KNNModel tests on OS X only"
After building mlpack, I ran bin/mlpack_test and the terminal returned 3 failures. I'm not sure whether I should ignore it. I followed the build from source directions on the mlpack website.

n242-140:build minxuan$  bin/mlpack_test
Running 759 test cases...
/Users/minxuan/mlpack-2.2.0/src/mlpack/tests/aknn_test.cpp:395: fatal error: in "AKNNTest/KNNModelTest": critical check std::abs((distancesEx

[2017-03-27 01:13] sagarbhathwar commented on #964
There is already an issue opened for this at #922

[2017-03-27 08:25] sgondala opened #965 "Error with VS2013"
I want to use mlpack in windows for office work, but for some support reasons, office environment is stuck with Visual Studio 2013. So, I built mlpack using VS2015 on my personal machine (Followed this - keon.io/mlpack/mlpack-on-windows/)

I created a new project in VS2013 and just added one line
`#include <mlpack/prereqs.hpp>`
I got an error saying - error C2386: 'enable_if_t' : a symbol with thi

[2017-03-27 08:26] sgondala commented on #965
Just to clarify, my office need is to have all the ml related functions like classification, clustering, regressions etc.

[2017-03-27 13:24] rcurtin commented on #891
Yes, is essence, that is the idea. The backtrace system Kirizaki wrote might be a good start at an idea but we need something that can work even without debugging symbols.  I think the backtrace code will work without dwbugging symbols but it won't give line numbers, only function names.

[2017-03-27 13:47] micyril commented on #929
Ok, Ryan, I will handle it.

I want to add a few words to my previous comment. It's not correct to say that in c++11 we can't get the type of a function just by knowing its name. We can do it for non-overloaded functions - by using the keyword `decltype`. But in our case we need to do it for overloaded functions, what can't be done with `decltype`.

[2017-03-27 13:52] rcurtin commented on #593
Exactly a year, nice timing. :)

[2017-03-27 14:12] rcurtin commented on #821
Ah, so there is a little catch... the test that you've written uses Armadillo's built-in loading/saving functionality.  But the serialization issue occurs when we are using boost::serialization, to serialize models.  Therefore you would need to use the other overload of `data::Load()`, which you could do like this:

[code]

And you could test that with `bin`, `xml`, and `txt` extensions.  From wha

[2017-03-27 14:14] rcurtin commented on #963
We should aim such that `arma::rowvec` is used for weight vectors, regression responses, and predictions.  So `Train(const arma::mat&, arma::rowvec&)` for `LARS` and `LinearRegression`.  The reason for this is that typically, if the data is 'm x n' where 'n' is the number of points, then you would want your labels, weights, or predictions to correspondingly be '1 x n' and not 'n x 1'.  Therefore,

[2017-03-27 14:36] rcurtin commented on #965
Hi there,

I believe that it is not possible to compile mlpack on VS2013 because the compiler does not support enough C++11 functionality.  So if you wanted to compile programs that include and link against mlpack on your office system I think this would not be possible with VS2013.  However, if you simply wanted to run the command-line executables, I think this should be possible if you build mlp

[2017-03-27 14:45] shikharbhardwaj commented on #821
I retested and the issue is there.

Turns out `boost::serialization` does not support `nan` or `inf` in the text-based formats. Mailing list discussion : http://lists.boost.org/boost-users/2005/01/9360.php

There are a few workarounds mentioned in the post.

[2017-03-27 14:45] rcurtin commented on #964
At least the `GMMTest` failure has been often seen elsewhere and that is indeed a random failure like those we are trying to fix in #922.  But I have never seen the `AKNNTest` or `KNNTest` failures, and those tests (at least the `KNNTest`) should be deterministic and have no random component.  Can you tell me more about your system to see if we can reproduce the problem?

[2017-03-27 14:48] rcurtin commented on #821
Thanks for looking into that.  It seems that implementing any of these workarounds would take some large amount of effort, and on top of that, any NaNs appearing in mlpack models almost certainly mean something is very wrong.  I can't think of any situation where a NaN would be the correct value.  Thus, I think we can go ahead and close this since the original issue is now solved, and not worry ab

[2017-03-27 14:48] #821 closed

[2017-03-27 14:57] rcurtin commented on #929
We can detect if certain overloads (or template instantiations) do exist using SFINAE; see `src/mlpack/core/util/sfinae_utility.hpp`.  So if I want to see if we have some function `Train(const arma::mat&, arma::rowvec&, arma::rowvec&)`, I can use

[code]

Note that `HasTrainFunction::value` will still be true even if the signature is

[code]

because that `Train()` function can be instantiated wit

[2017-03-27 15:00] minxuancao commented on #964
I am using macOS Sierra 10.12.3 and I installed mlpack 2.2.0

[2017-03-27 15:00] minxuancao commented on #964
I downloaded Armadillo and Boost from Homebrew.

[2017-03-28 11:16] TriLoo opened #968 "make mlpack_test failed"
Hi everyone,
    when I try to install mlpack on my ubuntu14.04 and after `cmake ../`, go to `make` but failed. compile information shows that it cann't find the library `libhdf5_hl.s0.10` , so I copied these files from my anaconda/lib dir into `/usr/lib`, this problem seemed to be solved.
    Then I tried to `make mlpack_test` again, but  failed again showing that

`
Moving header files to includ

[2017-03-28 13:11] rcurtin commented on #968
Can you tell me how you installed Armadillo?  I think you are right that something is not right about how it was installed.

[2017-03-28 14:40] TriLoo commented on #968
Thanks for reply. I justed fixed this error by installing armadillo with source code insteading `apt-get install libarmadillo-dev`.

[2017-03-28 14:42] rcurtin commented on #968
Yep, that was going to be my suggestion. :)  Glad you got it worked out!  I'll go ahead and close this.

[2017-03-28 14:42] #968 closed

[2017-03-28 15:01] rcurtin commented on #964
I tried to reproduce on OS X Yosemite (all I have) but I did not see any of the same errors.  Does anyone else have a Sierra box they could try to reproduce the `AKNNTest` and `KNNTest` failures on?  I have Boost 1.59 and Armadillo 7.500.0 installed via MacPorts.

@minxuancao: this is a long shot, but are you sure that your RAM and hard drive don't have any issues?

[2017-03-28 15:15] zoq commented on #964
@rcurtin I can try to reproduce the issue, @minxuancao can you tell us more about the boost and armadillo version you used?

[2017-03-28 16:21] zoq commented on #964
Okay, build mlpack-2.2.0 and I can reproduce the errors.

[2017-03-28 17:04] zoq commented on #964
@rcurtin Are you able to reproduce the issue with:

https://gist.github.com/zoq/0d27f88dc992e7deee19fe291c144017
https://gist.github.com/zoq/b5056a58062b0360db6a04efc1cb15f5

[2017-03-28 19:13] rcurtin commented on #964
Can't reproduce with those datasets on either my Linux desktop or on Yosemite.  I ran:

[code]

(i.e. run in dual-tree mode, then naive mode, and make sure the results are identical)

[2017-03-28 23:17] zoq commented on #964
Yeah, I can't reproduce the problem with the executable, would be interesting to see if:

[code]

works for you.

[2017-03-28 23:23] zoq commented on #964
Also, in KNNModelTest I think we never test against the NAIVE_MODE since ``for (size_t j = 0; j < 2; ++j)``and ``if (j == 2)``.

[2017-03-28 23:25] zoq commented on #964
hm, but even with the test code I can't reproduce the error in every run.

[2017-03-29 05:42] NaxAlpha commented on #919
Hi, It is up. At the moment it is not fully integrated but manually built but I will soon integrate it in mlpack build process.
https://www.nuget.org/packages/mlpack-windows/

[2017-03-29 10:55] zoq commented on #919
Looks good, I'm not sure I get the purpose of mlpack-windows.redist, is this package necessary?

[2017-03-29 12:43] micyril commented on #929
If we decide to use the macro HAS_MEM_FUNC for detecting signatures of Train methods, we will encounter a significant limitation - we need to know exactly what signature we want to check for. There are actually a bunch of different Train signatures in mlpack (even though a lot of them follow similar structures). So, a straightforward application of HAS_MEM_FUNC would require explicitly check for a

[2017-03-29 12:47] micyril commented on #963
Ryan, I think it will be fine, even though it's not that important for cross validation and hyper parameter tuning modules in the light of my last comment in [#929](https://github.com/mlpack/mlpack/issues/929).

[2017-03-29 14:07] NaxAlpha commented on #919
Ok got it. Now it is done!

[2017-03-30 11:43] sgondala commented on #965
HI, Thanks for the advice. I wrote a wrapper function around the required mlpack functions and created a dll out of it. And now I want to link mlpack.dll and wrapper.dll in my VS2013 project and use it. When I check the dependents of mlpack.dll, I found few VS2015 libs runtime dependencies -

[code]
I looked on the internet and saw the method to get rid of runtime libs is
1. Setting the Platform t

[2017-03-30 12:16] NaxAlpha commented on #919
I would like to write an article or a tutorial in mlpack official website. Since I was experimenting so, I didn't want to use exact identifier because in Nuget one can't delete package or re-upload same version. In my next PR, I will integrate it in AppVeyor Build.

[2017-03-30 13:11] rcurtin commented on #929
I'm not sure I understand the second limitation:

Can you clarify what you mean here?  I have not explicitly tried it but I think that variadic templates could successfully be used to detect the right signature even if there are very many auxiliary arguments.

Also I think we should standardize to `arma::rowvec` for weights, both for clarity and to make this project just a bit easier. :)

[2017-03-30 14:39] rcurtin commented on #951
I ran some simple tests.  First I used massif to check the memory usage.  I only have access to a terminal on the system I ran it on right now, so the CLI output from `ms_print` will have to do:

[code]

I then serialized the tree using boost::serialization, to get an idea of the size of the tree:

[code]

So clearly if the tree can be saved as only 17k, then there must be some unnecessary copying

[2017-03-30 15:40] codedeamon commented on #173
hi, I would like to ask if you would be interested in an implementation in CUDA.

[2017-03-30 15:57] zoq commented on #919
So, in your PR you are going to rename the package? Not sure if that is of interest to create an extra package for the lib and another one for the executables like we have for ubuntu.

Regarding the tutorial maybe the blog is a good place for that, we planed to use it more often, and that could be an opportunity.

[2017-03-30 21:33] rcurtin commented on #173
Hi there, it would be best to stick with OpenMP to avoid making the code too hard to understand.  If a user wants GPU support they can always use Armadillo with NVBLAS and this will give good speedup.

[2017-03-31 03:37] micyril commented on #929
Ok, let me elaborate on the second limitation a bit more.
Suppose we have two classes:
[code]
And suppose for each class we want to find out whether it has a Train method of the following form
[code]
We can do it for the class B and can't for the class A. We can't do it for A because it has two Train methods of the mentioned form, and both of them have the same number of arguments. We can do it fo

[2017-03-31 08:52] ThyrixYang commented on #951
Hi @rcurtin ,
I found that a copy of data is made for every child,
[code]
These memory are only used in this for(), but can't be freed during recursion.
So if we assume every path from root to leaf have a same length, the memory used will be O(datasize * depth), because every sample will have a copy in each level on the tree.

So I think we can just pass the ID of sample in recursion, and we need

[2017-03-31 12:07] codedeamon commented on #173
Hi, can I take this task through Google Summer of Code?

[2017-03-31 13:46] rcurtin commented on #929
If we avoid trying to instantiate the overloaded function unless the user has passed the arguments, we can avoid this problem.  Here is some example code I tested:

[code]

We can add as many different overloads of `Train()` as we like and when we call `Proxy::Train()` it forwards to the right one (in this case, my `Proxy` object requires that there are two `size_t` parameters, instead of `arma::m

[2017-03-31 14:08] rcurtin commented on #173
You are welcome to submit an application.

[2017-03-31 14:37] gan3sh500 opened #973 "How can I uninstall mlpack after building from source?"
I built it from source and did a make install. Googling suggested make uninstall but I cannot find any uninstall in the folder where I did make install. Installation is in Ubuntu 16.04.

[2017-03-31 15:29] NaxAlpha commented on #919
It is possible to create package for executable using Nuget but it is not a good idea. So I would simple rename package.
Blog post looks fine to me!