[2019-01-30 13:37] KimSangYeon-DGU commented on #1694
Hi @bhavya01 .
I think it will work.
[code]

[2019-01-30 14:35] kkteru opened #1696 "Strange path generated when building on Mac in Conda env"
I am trying to build mlpack on Mac using a conda environment. The build fails with the following error.

`In file included from /Users/tesseract28/anaconda3/pkgs/armadillo-9.200.4-blas_openblash25ba8c5_1203/include/armadillo:88:0,
from /Users/tesseract28/Documents/mlpack-3.0.4/src/mlpack/core/arma_extend/arma_extend.hpp:52, from /Users/tesseract28/Documents/mlpack-3.0.4/src/mlpack/prereqs.hpp:108,

[2019-01-30 14:43] rcurtin commented on #1694
@KimSangYeon-DGU: nice workaround, thanks! :+1:

@bhavya01: I can reproduce this also, and I agree that it is a bug.  But can I ask why you did not use the 'bug report' issue template?  It makes it a lot easier for us...

If anyone wants to look into this (it may be a while until I can get to it), I am willing to bet that the issue will be in the `to_matrix()` function found in `src/mlpack/binding

[2019-01-30 14:47] bhavya01 commented on #1694
Sorry, I wasn't sure if this was a bug or a problem in my installation. I would like to look into it.

[2019-01-30 17:10] impredicative opened #1697 "Update mlpack3 consistently on PyPI"
Is there any reason why [mlpack3](https://pypi.org/project/mlpack3/#history) hasn't been updated on PyPI in a while? Please try and update it whenever you've a new release. I see the current mlpack version, for example, is 3.0.4, but the one on PyPI is 3.0.2.

Also, will mlpack3 3.0.4 then work with the current version of Python, i.e. 3.7?

[2019-01-30 19:49] zoq commented on #1611
@lhedjazi I was able to fix the build issues see: https://github.com/mlpack/mlpack/pull/1698, also if you build armadillo with OpenBLAS make sure that ``#define ARMA_USE_WRAPPER`` in the armadillo ``config.hpp`` is not defined. Let me know if I should clarify anything.

[2019-01-31 04:58] rcurtin commented on #1697
Hey there @impredicative, thanks for reporting this.  You are indeed right that it hasn't been updated in a while, and the reason for this is that I don't have a good release process that automatically does this.  I'm working on that.  To make things worse, I realize that I no longer have access to the system that my manylinux build scripts were on!  So I will need to rebuild them.  I hope to be a

[2019-01-31 05:00] rcurtin commented on #1696
Thanks for the report.  That strange path is almost certainly the result of some weird handling in `CMake/FindArmadillo.cmake`.  Can you post the contents of `CMakeCache.txt`?  That could provide a place to start looking into what the issue is.  Thanks! :+1:

[2019-01-31 15:14] shardulparab97 opened #1699 "Implementation of Siamese Networks and related Loss function"
@rcurtin  @zoq I am really interested in contributing to MLPack. I feel that MLPack can grow further in the computer vision domain too.

However being new to the codebase, I wanted to begin with the implementation of the following:
- [ ] Contrastive Loss
- [ ] A basic Siamese Network module
- [ ] Triplet Loss

Please let me know your thoughts about the same and any other ideas in computer vision/i

[2019-01-31 20:56] zoq commented on #1699
Hello, glad you find the project interesting. Contributions are always welcome, and I think the computer vision sector could be a great fit for mlpack.

Personally I like the idea to start with a loss function to get familiar with the codebase, so as you suggested Triplet /Contrastive Loss might be a good candidate. About a basic Siamese Network module, not sure there is need to write an extra mod

[2019-02-01 02:37] shardulparab97 commented on #1699
Thank you @zoq. I will begin with the loss functions and then go towards implementing the Siamese Network as per your suggestion. :smiley:

[2019-02-01 05:50] tesseract28 commented on #1696
No problem! Here you go!

//Path to a file.
ARMADILLO_INCLUDE_DIR:PATH=/Users/tesseract28/anaconda3/pkgs/armadillo-9.200.4-blas_openblash25ba8c5_1203/include

//Path to a library.
ARMADILLO_LIBRARY:FILEPATH=/Users/tesseract28/anaconda3/pkgs/armadillo-9.200.4-blas_openblash25ba8c5_1203/lib/libarmadillo.dylib

//Compile with extra Armadillo debugging symbols.
ARMA_EXTRA_DEBUG:BOOL=OFF

//No help, va

[2019-02-01 09:34] bhavya01 commented on #1152
Hi, I would like to work on local coordinate coding.

[2019-02-01 10:59] zoq commented on #1699
Sounds great, let me know if I should clarify anything.

[2019-02-02 04:43] rcurtin commented on #1152
@bhavya01 please go ahead, I look forward to a PR. :+1:

[2019-02-02 06:33] UTpH commented on #1269
Hello!
I'm looking to contribute to this project. Could I work on this if it is not already taken?

[2019-02-02 08:54] NacOJerk commented on #1677
well I gave the code @zoq gave and even though now I see clear GPU usage (100%) it is still slower. I even tried it with huge matrices ([10000, 20000] * [20000, 30000]) and the CPU is somehow still faster

[2019-02-03 13:33] zoq commented on #1269
Hello @UTpH , no one is working on this one right now, so please feel free to pick this up.

[2019-02-03 14:06] Rajiv2605 commented on #1207
Can I work on this issue?

[2019-02-03 17:21] souvik3333 commented on #1694
Hi, I am new here. Can I work on this?

[2019-02-03 18:35] joelrich opened #1703 "Probabilities for logistic regression with sgd are all almost 0 or 1 (but not with lbfgs)"
#### Issue description

When I use `optimizer="sgd"`, the probabilities in `output_probabilities` are all almost 0 or 1:

![image](https://user-images.githubusercontent.com/4216919/52180346-a3c37300-27e5-11e9-8d4c-70b5aa71c69a.png)

With `optimizer="lbfgs",` I get a completely different picture:

![image](https://user-images.githubusercontent.com/4216919/52180396-eab16880-27e5-11e9-8de2-f96e43a829

[2019-02-04 03:59] shardulparab97 commented on #1699
@zoq I have opened Pull Request for the implementation here: #1704
Please let me know what you think :)

[2019-02-04 08:52] johnsoncarl commented on #1672
@zoq I am just beginning with MLPACK. I want to take one of the above-mentioned layers.

I am a sophomore at NIT Surat. And planning to prepare for GSOC 2019.

I have worked on ANNs in tensorflow. And is eager to learn a lot. :)

[2019-02-04 09:49] Rajiv2605 commented on #1672
@johnsoncarl I am already working on those layers... So probably you can find few other layers to work on :)

[2019-02-04 10:20] zoq commented on #1699
Great, will take a look at the PR in the next days.

[2019-02-04 15:00] NacOJerk commented on #1677
I found out that when ever you treat all the matrices as doubles only then will the nvblas functions be used.

Is there a way to make mlpack to only use double matrices ?

[2019-02-04 16:56] karlzhang-hhg commented on #1703
I encountered this issue before, because my data is linear-separable. I am not sure if here the issue is the same, but it may be one of causes to screen. Other issue can be the parameters of training. May be it worth to plot the trace of accuracy (and precision and recall) during training to see if training converges or not.

Hope it is helpful.

[2019-02-04 17:09] rcurtin commented on #1703
@joelrich thanks so much for the detailed report.  It is really helpful for seeing what is happening. :+1:

Actually this phenomenon happen when there is no regularization---as @karlzhang-hhg pointed out, this can happen if data is linearly separable.  So what happens is that the logistic regression loss is minimized as the probabilities for each point converge to 0 and 1.  This happens because th

[2019-02-04 17:43] rcurtin commented on #756
@shardulparab97: sorry for the slow response.  You're right that both are done, so I think we can close this issue.  Thanks for pointing it out! :+1:  There are lots of other issues we've labeled `help wanted` or `good first issue`, so maybe you could find one of those that interests you and contribute to that issue?

Hope this helps!

[2019-02-04 17:43] #756 closed

[2019-02-04 17:55] rcurtin commented on #1677
mlpack already uses double-valued matrices (i.e. `arma::mat`), so that shouldn't be an issue.  Depending on the GPU that you have and the computations involved, nvblas may or may not give speedup.  There's a lot involved, so it's hard to say exactly what's going on here.  You could try some different mlpack methods (maybe PCA?) that may have more "typical" linear algebra workloads, and maybe you m

[2019-02-04 19:02] rcurtin opened #1706 "Avoid copying Pandas DataFrames for Python bindings when possible"
This issue is specific to the Python bindings and came out of the review of #1700 and the related issue #1694.  mlpack Python bindings support Pandas DataFrames, as in the following snippet:

[code]

The Pandas DataFrame `d` gets automatically converted to a numpy matrix, and then the underlying data pointer of that numpy matrix is passed to the binding itself.

The code flow is that the method `m

[2019-02-04 19:42] mirraaj commented on #1706
@rcurtin @zoq  Could you please provide the link where function ```to_matrix``` is defined?

[2019-02-04 19:51] rcurtin commented on #1706
Oh!  Forgot to do that.  It's in `src/mlpack/bindings/python/mlpack/matrix_utils.py`.  Thanks for pointing that out. :)

[2019-02-04 20:14] mirraaj commented on #1695
@saksham189 I am trying to understand the issue. I believe we are saving the parameters in the ```Evaluate``` function. Please elaborate on what is meant by, ```I don't think there is any way to use these saved parameters for training the rnn.``` I would like to try to answer the question as per my knowledge.

[2019-02-04 20:46] johnsoncarl commented on #1672
Not a problem @Rajiv2605 I shall find some other to work on. Happy learning :)

[2019-02-04 22:07] mirraaj commented on #1706
@rcurtin Let me see if I could contribute to this issue. Thanks

[2019-02-05 03:52] KunvarThaman commented on #1207
@lozhnikov I'm looking to work on the _Essential Deep learning modules_ project. Is it okay if I work on this issue?

[2019-02-05 10:34] prateeksingh0001 commented on #1658
@KimSangYeon-DGU are you still working on this issue? else, I can take it up :)

[2019-02-05 16:00] rcsunanda commented on #1152
Hello, I'm going to work on the fastmks test (fast max-kernel search). Sunanda.

[2019-02-06 01:32] shashank-007 commented on #1269
@rcurtin
[code]
this command throws error
[code]

[2019-02-06 01:43] rcurtin commented on #1269
@shashank-007: does the file exist?

[2019-02-06 01:47] shashank-007 commented on #1269
@rcurtin yea,file does exist .

[2019-02-06 12:00] prateeksingh0001 commented on #1489
@rcurtin I would like to take up this issue, I have understood the bug. However, I have some questions

* I wasn't able to understand when you said, if we do that, this doesn't make a copy so two objects will try and delete the layer (the `FFN` object and also whatever we allocated `layer` with). Why would they try to delete the layer?
* Also, do you have any solutions in mind as of now or any poi

[2019-02-06 21:37] rcurtin commented on #1703
Hm, strange that regularization makes no difference here.  I'd like to see the parameters that mlpack trains to, but because of the way the bindings are made it's not very easy to extract them.  I can make better tools at some point, but for now if you can give me the pickled output `pickle.dumps(output['output_model'])` (assuming `output` is the result of your call to `mlpack_logistic_regression`

[2019-02-06 23:43] rcurtin opened #1709 "Make models more accessible in Python"
This issue has to do with mlpack's Python bindings.  Ideally, if you're interested in solving this, you should be familiar with how these bindings are used from Python, and have some knowledge of the automatic bindings system that generates these Python bindings.  If you don't but you're still interested in this, consider looking at the [Python quickstart](http://mlpack.org/docs/mlpack-git/doxygen

[2019-02-07 01:34] shashank-007 commented on #1709
@rcurtin i would like to work on this issue.

[2019-02-07 02:33] rcurtin commented on #1709
@shashank-007: anyone is welcome to work on the issue but I think it would be a good idea to finish with the other issues you have been working on before approaching this one.

[2019-02-07 11:30] Nimishkhurana commented on #1709
@rcurtin Can I work on this issue.This will be my first issue.I have build mlpack and tried out some algorithms of Python bidings.

[2019-02-07 11:53] Nimishkhurana opened #1710 "ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all()."
#### Issue description

[code]

#### Your environment

 * version of mlpack:3.0.4
 * operating system:Ubuntu

I have build mlpack from source.

[2019-02-07 13:45] NacOJerk commented on #1677
After deciding to check out the actual specs of the graphics card I found out the the boost is actually at floats and not doubles (it is around 6 times faster than the CPU when using floats)

[2019-02-07 13:56] NacOJerk opened #1712 "Is there a way to use Mat<float> instead of Mat<double>"
This is sort of a follow up question for this issue https://github.com/mlpack/mlpack/issues/1677
Now I have seen this answer:
https://github.com/mlpack/mlpack/issues/1062#issuecomment-316462704

So I tried doing the following thing:
Source.cpp (https://pastebin.com/QUZd8JaN)
vae_utils.cpp (https://pastebin.com/28RL0Rsp)

And I still get the following errors:
`Severity	Code	Description	Project	File

[2019-02-07 16:07] bhavya01 commented on #1710
Hi @Nimishkhurana
It seems that there is an issue in the ordering of parameters to the function in the generated binding
I looked at the generated binding for linear regresssion in build/src/mlpack/bindings/python/mlpack/linear_regression.py and tried this
[code]
This solves the ValueError but is throwing a segmentation fault for me.

[2019-02-07 16:16] Nimishkhurana commented on #1710
@bhavya01 I also tried the same you said and goit segmentation fault.
Also if I try to run this in jupyter-notebook then kernel keeps on dying again and again.

[2019-02-07 17:12] bhavya01 commented on #1710
I am quiet sure that this has to do with the type of the parameter training_response in the file src/mlpack/methods/linear_regression_main.cpp
The function to_matrix return a nested array whereas the pyx file tries to convert it into a row

[2019-02-07 19:29] joelrich commented on #1703
Now it gets interesting: With sgd step_size=3e-5 I get a very similar distribution to lbfgs. However, with step_size=1e-4 or step_size=1e-6 the distribution looks quite different. Also, even with max_iterations=100000 sgd is very unstable and the precision varies a lot between different trainings. I guess I just won't use it.

I will post some results in the next comment. Don't ask me why, but I c

[2019-02-07 19:30] joelrich commented on #1703
[code]

[2019-02-07 20:36] zoq commented on #1712
Haven't tested it, but a super hacky solution might be to do something like:

[code]

[2019-02-08 11:19] saksham189 commented on #1695
These parameters are saved but it is not possible to use these for training. @mirraaj
@zoq Please let me know what you think.

[2019-02-08 11:23] saksham189 commented on #1695
@zoq Please let me know what you think.
One easy solution would be to remove the overload of `Evaluate()` that allows to save the parameters.

[2019-02-09 06:12] NacOJerk commented on #1712
I will give it a try thx :)

[2019-02-09 06:16] NacOJerk commented on #1712
Well apparently it is illegal to typedef float double @zoq .

[2019-02-09 10:59] Yashwants19 commented on #1706
Hi @rcurtin please review #1711

[2019-02-09 19:11] rcurtin commented on #1712
Another way to do this is to manually change the typedef in `src/mlpack/methods/ann/layer/layer_types.hpp` so that every `<arma::mat,arma::mat>` is `<arma::fmat,arma::fmat>` in the definition of `LayerTypes`.  You may also have to change around some of the function definitions in the `FNN` class.  It may take some work to get that working correctly.

Definitely support for non-double matrices is s

[2019-02-09 19:13] rcurtin commented on #1706
@Yashwants19 I saw the PR, I just haven't had a chance to respond to it yet.  Don't worry---I get an email for all activity, so I will respond when I'm able to.

[2019-02-09 19:54] rcurtin commented on #1710
@Nimishkhurana thanks for the bug report.  We actually have two issues here:

**1. The Python bindings aren't giving good output when keyword parameters aren't used.**  Take a look at the signature of `linear_regression` in `linear_regression.pyx`:

[code]

(Note that that file is autogenerated, so if you want to see this file, build mlpack Python bindings with `make python` then look under your b

[2019-02-09 19:55] rcurtin commented on #1710
@bhavya01 exactly, maybe the idea I wrote above (for the second point) can help fix this.  There could be other ideas too, I just proposed one. :+1:

[2019-02-09 20:09] zoq commented on #1712
I guess, that also includes the optimizer, since they take ``arma::mat`` as input.

[2019-02-09 20:16] zoq commented on #1695
Just to be clear you are talking about the network weights? In this case, you could use the serialization method: https://www.mlpack.org/docs/mlpack-git/doxygen/anntutorial.html#model_saving_loading_anntut or:

[code]

Let me know what you think.

[2019-02-09 20:20] saksham189 commented on #1695
Sorry, I think I used the wrong terminology. I meant to say the network outputs (rather than parameters) for each layer that are stored in the `moduleOutputParameter` vector in the `Evaluate` method.

[2019-02-10 02:43] Yashwants19 commented on #1710
Hi @rcurtin i want to work on this problem.

[2019-02-10 06:01] Nimishkhurana commented on #1710
Hi @rcurtin I myself want to work on this issue

[2019-02-10 06:12] Yashwants19 commented on #1710
Hi @Nimishkhurana i m working on this issue #1711

[2019-02-10 06:15] walragatver opened #1715 "Adapting test cases after modifying train functions."
This issue is a next step of #1483 Issue.
After returning final objective from train function's it looks like some of the `tests` can be restructured.Also some `tests` are needed to be returned to ensure that always a reasonable `value` is returned.

This is a nice issue for newbie's who want to understand the code base. Currently I am working on this, but if you are interested please feel free.

[2019-02-10 07:01] shardulparab97 commented on #1715
@walragatver we could work on this together?

[2019-02-10 10:51] walragatver commented on #1715
@shardulparab97 Sorry for late reply. I think it will be better if only one of us work on it as it is not that big issue. So if you want to work on it just let me know.

[2019-02-10 14:17] NacOJerk commented on #1712
Oke that sounds easy enough to do thx

[2019-02-10 15:00] NacOJerk commented on #1712
I still have an error @rcurtin
Severity	Code	Description	Project	File	Line	Suppression State
Error	C2664	'double mlpack::ann::BernoulliDistribution<arma::fmat>::LogProbability(const DataType &&) const': cannot convert argument 1 from 'const arma::Mat<double>' to 'const DataType &&'	MLPack-CNN-Test	c:\mlpack\mlpack\build\include\mlpack\methods\ann\loss_functions\reconstruction_loss_impl.hpp	37

[2019-02-11 15:30] riaash04 commented on #1021
Hi, could I work on this? (this seems a nice way to get familiar with the source code). I went through the comments and the blog post and I think I have an understanding of the issue.

[2019-02-11 15:36] rcurtin commented on #1021
@riaash04 sure, anyone is welcome to work on this. :+1:

[2019-02-12 19:33] Rajiv2605 commented on #1672
@zoq @ShikharJ I've opened a PR for the dense block class: #1716
I'll push the complete code in the subsequent commits :)

[2019-02-13 17:37] Hemal-Mamtora commented on #1699
Hello ! @zoq @shardulparab97
I am also interested in developing the Siamese network. May I assist you in developing it ?
I would like to start with the triplet loss function
Please let me know. Thanks.

[2019-02-13 19:04] shardulparab97 opened #1718 "Runtime of each epoch increases with increasing the maxEpochs / totalEpochs"
I was running a basic FFN network and realized that as I increased the number of **maxEpochs**, the run time of **each epoch** (not speaking about the total time for training) . I wanted to ask whether there is any specific reason for the same and whether this issue can be tackled?

[2019-02-13 21:26] zoq commented on #1718
Some optimizer (e.g. BigBatchSGD) use a dynamic batch size, so so time between epochs could increase. Do you think you could provide a simple model to reproduce the issue?

[2019-02-13 21:29] zoq commented on #1699
I'll let @shardulparab97 answer this one.

[2019-02-14 04:58] memoiry opened #1719 "Any plan to add gpu support for ann module?"
Hi

I have gone through the codebase of the neural network module and found that there is no GPU support for ann training, is there any plan to support it since CPU training is far slower than GPU?

[2019-02-14 09:35] memoiry commented on #1719
Maybe add cudnn implementation layer for conv, relu, pooling and etc...which should made ann module's training more practical.

[2019-02-14 11:23] saksham189 commented on #1695
@zoq @ShikharJ I do think this is a valid issue. There is no way to use the output parameters stored in `moduleOutputParameter` vector from `Evaluate` method for training.

[2019-02-14 14:03] NacOJerk commented on #1719
There is GPU support you just have to use nvblas aswell when you compile mlpack and armadillo
Once I fully solve my issues (the last thing I have to do is to make sure mlpack uses floats and not doubles)

[2019-02-14 14:18] rcurtin commented on #1719
NVBLAS is one solution.  Another way is using the Bandicoot GPU matrix library in place of Armadillo, but Bandicoot is still under development so it's not ready yet.  It is definitely a high priority for me though.

[2019-02-14 14:40] memoiry commented on #1719
Hi, I know that armadillo could use NVBLAS as its BLAS backend, but I think there is some overhead when you only put your matrix calculation into GPU since there might be a lot of matrix calculation in one layer and you need to move data between GPU and CPU repeatedly, which is highly inefficient.

Instead, we could write GPU implementation for every layer separately, so that we only need to move

[2019-02-14 16:07] rcurtin commented on #1719
You're right that nvidia offers some nice functionality for these types of tasks but to keep the mlpack code simple we want to abstract the linear algebra away.  Hence Bandicoot is the right way to go here.

If you want to experiment with manually adding CUDA code to mlpack feel free---it will be interesting to see the speedup. But for code maintainability reasons I would not want to merge it into

[2019-02-14 18:29] zoq commented on #1695
I see, do you think looping over all layer of the model could work to get the output? Something like:

[code]

[2019-02-14 18:58] saksham189 commented on #1695
I don't think I understand. I was just thinking about removing these lines:
https://github.com/mlpack/mlpack/blob/7d448192cc045555e36ee76a2dca51ce9637ac66/src/mlpack/methods/ann/rnn_impl.hpp#L217-L224

[2019-02-14 21:05] zoq commented on #1695
Ahh, I was thinking you actually like to access the output parameter, but you are right, they are never used and can be removed, might give us some performance improvements as well.

[2019-02-15 09:40] g-laz77 commented on #1706
Is this issue still open?

[2019-02-15 19:18] rcurtin commented on #1483
Since #1678 is merged, I think this issue can be closed.  Thanks again @walragatver! :+1:

[2019-02-15 19:18] #1483 closed

[2019-02-15 19:21] rcurtin commented on #1710
@Nimishkurana @Yashwants19 there are multiple things to solve in this issue.  From my perspective I'm interested in merging the first fully working solution, so you are both welcome to work on part of it.  But note that #1717 is already open which is already pretty close for the `copy_all_inputs` option type, so probably best not to open another PR for that specific part.  If you guys want to work

[2019-02-15 20:40] Nimishkhurana commented on #1710
Thanks @rcurtin. If #1717 is already opened . @Yashwants19 , let me work on second point  i.e. check the dimensions of input and make the target feature one dimensional if it is not so.

[2019-02-16 12:29] NacOJerk commented on #1719
@rcurtin do you know maby when the bandicoot library will release ?

[2019-02-16 18:19] rcurtin commented on #1719
Not sure, depends on my free time (and other contributors' free time).  I'm hoping a few months, but don't hold me to it. :)

[2019-02-18 05:19] suxiaojack opened #1722 "preprocess_split error , using sample code"
When I try python code like wrote in page
http://mlpack.org/docs/mlpack-3.0.4/doxygen/python_quickstart.html

I save these code in test.py ,and download http://www.mlpack.org/datasets/covertype-small.csv.gz into same dir.
df = pd.read_csv('covertype-small.csv.gz')
but I got the error:
  **File "test.py", line 12, in <module>
    output = mlpack.preprocess_split(input=dataset,input_labels=labels,te

[2019-02-18 09:47] MuLx10 commented on #1722
@suxiaojack  I guess the `labels` needs reshaping.
`labels = numpy.reshape(labels,(-1,1))`

[2019-02-18 14:13] shardulparab97 commented on #1718
Hi sorry for the late reply, was caught up with exams. There was a small issue from my side, I am sorry for any confusion caused. Thanks!

[2019-02-18 14:13] #1718 closed

[2019-02-18 14:16] shardulparab97 commented on #1699
Hi @Hemal-Mamtora  sorry for the late reply, was caught up with exams.
Yes please go ahead with the triplet loss function, it will only make the process faster! :smiley:
Let me know if you need any help.
At the same time, we could work on the implementation of the Siamese Model.

[2019-02-18 16:37] rcurtin commented on #1722
I think that this is a duplicate of #1710.  Once that is addressed you should be able to pass in a two-dimensional matrix to a one-dimensional parameter.  Until then, @MuLx10's solution should work. :+1:

[2019-02-19 14:27] sreenikSS opened #1723 "Create a new repository for code relating to the conversion of tensorflow, keras and pytorch models to and from mlpack"
This is also in accordance with a GSOC idea for the same. Committing the entire work at once is not suitable due to multiple people working on different aspects of the issue, so setting up a new repo would allow for code sharing keeping the original repo intact.

[2019-02-19 14:40] sreenikSS commented on #1723
Sorry I couldn't label it.
I am working on this issue currently (with tensorflow). I have a doubt which would be better if clarified:

- I am converting tensorflow models to onnx models which would be converted to mlpack models. So will I proceed keeping a dependency on onnx or separately maintain a code similar to that of onnx?

I will keep this thread updated pertaining to any more doubts regard

[2019-02-19 15:46] rcurtin commented on #1723
I'd prefer not to create an mlpack repository for this until the project is more mature, but you can definitely create your own repository and the work can be done there.

For TensorFlow and ONNX, I don't have a problem whichever way you want to do it.  If we have a "translator" it's going to necessarily depend on both mlpack and whatever language we are translating to, so most likely we are not g

[2019-02-20 15:18] Namrata96 opened #1725 "Implement pointer-generator network technique for abstractive text summarization"
Implementing text summarization techniques in mlpack:
 - Pointer generator networks [abstractive]

Paper: https://arxiv.org/pdf/1704.04368.pdf
Dataset - CNN/Daily Mail news

Preliminary tasks:
- [ ] LSTMs
- [ ] Attention network
- [ ] Encoder-decoder model

[2019-02-20 18:49] MuLx10 commented on #1725
@Namrata96 Are you willing to do this alone ? Can I join in the sub-tasks?

[2019-02-20 21:05] zoq commented on #1725
@Namrata96 thanks for opening the PR, looking forward to take a look through the code.

[2019-02-20 22:23] kereslas opened #1727 "Windows install with vcpkg"
I have made a [PR](https://github.com/Microsoft/vcpkg/pull/5409) to add mlpack 3.0.4 to vcpkg library manager. Right now it's open, but I hope it gets merged to master. If you have vcpkg on your system, installing mlpack should be as easy as executing:

.\vcpkg install mlpack:x64-windows

This should download, build and install mlpack and all its dependencies. After that, if you have vcpkg user-wi

[2019-02-21 00:01] leonplust commented on #1589
I had pushed both mlpack and armadillo to the choco community repository. Except for armadillo, both boost and cmake are on the choco community repository already. So I created a package for armadillo as well. Since @rcurtin you are one of the authors of armadillo, I assume I can create a package for armadillo. I put all of the authors' names that I can find from the armadillo website for the pack

[2019-02-21 15:01] rcurtin commented on #1727
@kereslas awesome!  Thank you for taking the time to do that.  I don't personally have Windows so I can't test it there, but maybe some other people watching this repository can do that.  Making the Windows installation process easier is definitely helpful.

I took a look at the installation scripts... do you think it would be good to install the header files (from `${CMAKE_BINARY_DIR}/include/` t

[2019-02-21 17:53] Hemal-Mamtora commented on #1699
Hi @shardulparab97 , I'll start right away on the triplet loss function.
Meanwhile if you have any reference material like technical papers about the topic(Siamese, triplet) please forward the link
This will help us stay on the same page and we could implement it faster.

[2019-02-21 18:59] MuLx10 commented on #1709
@rcurtin can we simply pass the parameters in the dict?
[code](https://github.com/MuLx10/mlpack/commit/df2b0e43bc215ed16540c7efac5e1530ef1fef03)
If yes, I would like to implement for other models as well.

[2019-02-21 20:18] rcurtin commented on #1709
@MuLx10 unfortunately no, that would require custom handling for every single model type.  So we need something more generic than that.

[2019-02-21 20:47] kereslas commented on #1727
The header files are copied to vcpkg\installed\<architecture>\include by the build process. This is the place later VS will try to found it, so you can use all the includes in any project without setting anything manually. In vcpkg\installed\<architecture> are also a lib and bin folder with libs and dlls.

Usually the people at vcpkg project recomend to only compile the libraries and not the execs

[2019-02-22 08:37] kereslas commented on #1727
The PR is officially merged to master branch, so anybody can install mlpack from now with vcpkg. The tests made by Microsoft include Mac OSX and seems it works on this system too.

[2019-02-22 09:14] ShikharJ commented on #1727
@kereslas Amazing, thanks for the work! Do you think we should include this in the documentation as well? If you wish to do it, let me know, else I can open a PR.

[2019-02-22 10:24] elDan101 opened #1732 "inconsistency with number of neighbors found between trees"
I am benchmarking some of the trees provided by mlpack. Results for a range search on a small test dataset:

[code]
The reference dataset equals the query dataset.  Below are code snippet that I used to compute the different trees according to flag `tree_type`. This method is in a loop and all trees get the same data. `PointCloud` is a `struct` with a pointer to the data and dimension and number o

[2019-02-22 14:58] rcurtin commented on #1732
Hi @elDan101, I'm not sure I understand what it is that you're even doing here, so I don't know what 'nnz' is.  The trees are all fairly well tested, but the structure of the ball tree, vp-tree, and cover tree are significantly different than the kd-tree and R tree variants, so this may be the cause of what is different.  If you can explain in more detail what the numbers represent and how you bui

[2019-02-22 15:00] rcurtin commented on #1727
Nice!  Thanks for the clarification about the header files.  Building the Python bindings might be a bit tricky---I have been spending a few weeks now trying to get them to build right on Fedora. :)

[2019-02-22 15:07] rcurtin commented on #1589
@leonplust thanks so much for doing the packaging!  I'm not the only author of Armadillo though, the primary maintainer is @conradsnicta---I assume it's not an issue to package Armadillo in Chocolatey.

I don't see mlpack in the list of packages at https://chocolatey.org/search?q=mlpack... i guess it will still be some time until it is in the main list of packages?  When it is, I think we can clos

[2019-02-22 15:32] elDan101 commented on #1732
Hi @rcurtin thank you for your response. I updated the initial post and inserted some code snippets, which together with the description hopefully better describe what I am doing.

[2019-02-22 15:38] elDan101 commented on #1732
A small side note, where I count the `nnz`: I suspected first that checking for inequality with a double may be the cause `if(resdists.at(j) != 0)` (in the code), but when I remove this condition I still get a different number of values for the mentioned trees.

[2019-02-22 17:17] riaash04 commented on #396
Hi, I would like to work on this. I went through the two open PRs to see how they have gone about their implementation, but could not get why they were not merged. Would be glad to get some directions.

[2019-02-22 18:52] kereslas commented on #1727
@ShikharJ Please, feel free to include in the documentation. I have made a [Gist](https://gist.github.com/kereslas/ac86f5323f78aa9cf8d09a3227acd674) with a simple tutorial. Use it as you want, modifying, completing or as you wish.

[2019-02-22 19:49] rcurtin commented on #396
Lack of time primarily.  If you want to adapt them and update them I'd be happy to get them merged in.  I think the code there is pretty out of date now.

[2019-02-22 21:45] #1695 closed

[2019-02-22 23:58] zoq commented on #1727
Awesome, will test this on windows, linux and mac OS in the next days.

[2019-02-23 04:56] favre49 opened #1733 "Ensmallen documentation yet to be removed"
In mlpack/doc/tutorials, there exists tutorials for CNE and Optimizers, both of which have now been shifted to the ensmallen repository. Shouldn't they be removed?

[2019-02-23 15:20] riaash04 commented on #396
Ok, thanks. I am currently trying to implement Isomap. I should be able open a pull request in a few days.

[2019-02-23 16:26] #1671 closed

[2019-02-23 16:43] MuLx10 commented on #1709
@rcurtin using cereal would add a dependency, So I used xml archive followed by converting to json
Sample output for Logistic Regression

`{
"parameters":{"item":["32.340145733844459","58.073812365106726","8.2447012995294884","-74.424864896325332","-22.415463410875518","30.261501014799126","-49.719647192965773","-57.993374922244627","1.3846401252475675","-.0284714693657069","20.691535892381125"]},

[2019-02-23 21:51] zoq commented on #1733
Right, I think it makes sense to remove those files.

[2019-02-24 06:48] sreenikSS commented on #1254
If this has not been completed yet, I would like to do it. According to what I have understood from the discussion above and related discussion on https://github.com/mlpack/mlpack/issues/1267 I am drawing out an implementation plan for myself and anyone else who might find it useful:

Format of the network configuration file: (say network.conf)

"loss-definition"
linear 50 30
relu
linear 20
relu
l

[2019-02-24 06:59] incredibleray opened #1735 "LARS Class does not have a ComputeError method"
I think this is a convenient and useful method to have. By ComputeError I mean a method that computes the Lagrangian multiplier value ||y-Ax||2 + lambda * ||x||1 . I know I can do it by writing a function that does the matrix computation, nevertheless I feel this is a useful feature

One important use case is fitting the same set of data with different lambda value, and look for the fit with large

[2019-02-24 17:25] sundar-10 commented on #1207
Hello,
I have seen the 2 papers- Binary RBM and Spike and Slab RBM. And i would like to work on this issue..Is it okay?

[2019-02-24 18:18] ShikharJ commented on #1727
@kereslas I have opened a PR in #1736. Can you please confirm your name and give the PR a look?

[2019-02-24 19:56] kereslas commented on #1727
@ShikharJ yes, my name is correct. The PR looks great to me, thanks for the work.

[2019-02-25 00:24] rcurtin commented on #1735
Hey there, thanks for the report.  Would you like to open a PR to add the method?  I would be fine with adding it.  The only thought I have, though, is that if we are computing the error I would expect it to return `|| y - Ax ||^2` not `|| y - Ax ||^2 + lambda || A ||_1`.  Maybe an extra boolean indicating whether or not the penalty term should be included.

Another thought is related to @walragat

[2019-02-25 04:46] kyleeng1 opened #1737 "reinforcement learning actions question"
Hi,

I'm working on a small example project, where I make an "environment" that has four degrees of freedom in the action space, so that I can change four properties in State . I'm working in Visual Studio on Windows 10.
I'm testing environments using the program given here:
https://rohanrajblogs.blogspot.com/2018/02/q-learning-using-mlpack.html
I based my work on both cart pole and pendulum.

I h

[2019-02-25 07:36] whoopityDoop commented on #1269
@rcurtin so when k>leaf_size this occurs too but after varying k size so from 2 to 5 and from 5 to 11 here are the results. also the error is a big one because if we keep k the same only the max float values increases ..
![screenshot from 2019-02-25 12-53-07](https://user-images.githubusercontent.com/20016369/53320896-03043700-38fd-11e9-9e79-da47c93fc418.png)
![screenshot from 2019-02-25 12-53-39]

[2019-02-25 15:02] rcurtin commented on #1733
Agreed, if you want to open a simple PR to do that I think we should merge it. :+1:

[2019-02-25 16:03] rcurtin opened #1740 "`BRNNReberGrammarTest` fails more than 50% of the time"
#### Issue description

Since #1626 was merged, the Jenkins builds are marked as unstable for different builds:

http://ci.mlpack.org/job/docker%20mlpack%20nightly%20build/

All of these failures are `BRNNReberGrammarTest`.

#### Your environment

 * version of mlpack: git master
 * operating system: Linux (debian)
 * compiler: any gcc version or clang version
 * version of dependencies (Boost/Arm

[2019-02-25 19:04] rcurtin commented on #1709
@MuLx10 thanks, I'll review #1734 when I have a chance. :+1:

[2019-02-25 19:18] rcurtin commented on #1254
@sreenikSS what you've written sounds reasonable to me.  I don't know of any work that people have already done towards this, and I can't remember any PRs that were attempts.  Overall I think that the format you have is good; the key here will be documenting the format of `network.conf` extensively.

[2019-02-25 19:19] rcurtin commented on #1269
`k == n` should not be allowed for cases where we have only a reference set, since it is not possible to return enough neighbors---the maximum we can return is (n - 1).  Otherwise your observations are correct and confirm the bug.

[2019-02-25 19:26] whoopityDoop commented on #1269
@rcurtin how should i proceed into finding the bug ??

[2019-02-25 19:37] sreenikSS commented on #1254
Yes, the format needs to be decided upon before much progress can be made. I am digging into the total number of possibilities in order to maintain the entire functionality of the ANN module. I shall come up with a proposal shortly.

[2019-02-25 20:26] #1090 closed

[2019-02-25 20:26] #1011 closed

[2019-02-25 20:26] #554 closed

[2019-02-25 20:26] #734 closed

[2019-02-25 20:26] #550 closed

[2019-02-25 20:26] #379 closed

[2019-02-25 20:26] #356 closed

[2019-02-25 20:26] #349 closed

[2019-02-25 20:26] #338 closed

[2019-02-25 20:26] #230 closed

[2019-02-25 20:59] rcurtin commented on #1732
I tried with a subset of the `corel` dataset that I have sitting around and am not able to reproduce the issues you've had.  Can you make the sample data available perhaps?  I tried the following using the `mlpack_range_search` program:

[code]

However, none of the files `n-vp-count.csv`, `n-ball-count.csv`, `n-cover-count.csv` and `n-kd-count.csv` are different, meaning that for each query point

[2019-02-25 21:41] elDan101 commented on #1732
Hi @rcurtin , thank you and you are right, changing to EuclideanDistance makes all trees agree (I should have tried this earlier...). You are also right, that SquaredEuclideanDistance is not a metric, but it should still work to determine whether another point is inside a radius - but I have to admit that I not know how the trees work internally and what effect it has.

[data.zip](https://github.c

[2019-02-25 21:50] rcurtin commented on #1732
Great, glad to hear that helped.  To give you more of an idea, there are lots of ways that you can use trees for pruning for range search... the "textbook" way with kd-trees usually works on squared distances, because it depends only on a relaxed form of the triangle inequality.  But the other trees have much more complex build rules.  For instance, the vp-tree splits points into "near" and "far",

[2019-02-25 21:50] #1732 closed

[2019-02-25 22:26] #1665 closed

[2019-02-25 22:26] #1670 closed

[2019-02-25 22:26] #1605 closed

[2019-02-25 22:26] #1580 closed

[2019-02-25 22:26] #1549 closed

[2019-02-25 22:26] #1432 closed

[2019-02-26 03:06] saksham189 commented on #1740
Hey @rcurtin , this is unexpected. I am currently busy with my exams right now and will try to investigate the problem in the next few days. Sorry about the delay.

[2019-02-26 03:18] rcurtin commented on #1740
No problem; I may find a workaround but it warrants further investigation.

[2019-02-26 03:30] rcurtin opened #1741 "CI testing with different random seeds"
#1740 is just one of many issues we've had over the years where something gets committed to master and then shortly thereafter the CI tests start failing intermittently because the new tests aren't resilient to different random seeds.

I thought about it today because I have spent a lot of time over the years debugging problems like this, and I realized we can handle it more automatically.  But wh

[2019-02-26 11:02] MuLx10 commented on #1709
Sure @rcurtin.Thanks

[2019-02-26 11:20] MuLx10 commented on #1737
@kyleeng1 Can you share your full code?

[2019-02-26 11:39] MuLx10 commented on #1631
Hello, @akhandait @rcurtin I want to take this issue.

[2019-02-26 12:14] saksham189 commented on #1740
I was able to reproduce the failure after adding the random seed.

[2019-02-26 12:18] saksham189 commented on #1740
There was a pretty big mistake in the code code. It is now fixed. I will open a PR.
`$ i=0; while(true); do echo $i; bin/mlpack_test -t RecurrentNetworkTest/BRNNReberGrammarTest 2>&1 | grep 'fatal error'; i=$(($i + 1)); sleep 1; done`

I have tested running this for 50 iterations without producing any failures.

[2019-02-26 21:24] kyleeng1 commented on #1737
I'm not able to share the full code, but the general idea is that I want to maximize some reward function that takes multiple real-numbered inputs, and this function outputs a real-numbered output (which I believe IsTerminal() achieves).

So I'm trying to use 4 degrees of freedom in the action, so that each property of state can change by different values.
Looking at Pendulum, I saw:
`double torqu

[2019-02-26 22:17] mirraaj commented on #1737
Hello @kyleeng1. By your previous statement, it seems that you have targeted using Q learning for a continuous action space environment by using ```4 degrees of freedom```. This becomes difficult because Q learning has been defined for discrete action space. Coming back to your question, DQN isn't compatible with Continous Mountain Car and Pendulum environment.

From technicality point of view, yo

[2019-02-27 03:04] kyleeng1 commented on #1737
Hello Mehul, Rohan,

Thank you both very much for taking a look at my issue. Thank you Rohan for the information and guidance. As of now, I do not have further questions. I appreciate your advice and will be on the lookout for the PR merge you mentioned.

[2019-02-27 18:29] #1740 closed

[2019-02-27 18:36] rcurtin commented on #1740
@saksham189 thanks again for fixing this. :+1:

[2019-02-27 21:03] #1737 closed

[2019-02-28 12:04] Horopter opened #1748 "Installation fails for freebsd 11 amd64 machine."
make -j12 fails with the following error:

[code]

Now, gcc 4.6 is deprecated starting from freebsd 11. So, is there a way to work it out?

[2019-02-28 13:56] Namrata96 commented on #1725
@MuLx10 sure, would be great to have help! We can divide the tasks among ourselves. Let me know once you have read the paper and we can discuss further.

[2019-02-28 18:16] rcurtin commented on #1748
Hmm, this one looks strange to me.  What happens if you do `ldd /usr/local/lib/gcc6/libgfortran.so.3`?  I'm suspecting there may be some things that version of `libgfortran.so` is linking to but not finding.

Also, are you compiling with gcc 6.x?

[2019-02-28 20:26] mirraaj commented on #1737
@kyleeng1 I hope you find my work useful. Thanks,

[2019-02-28 20:54] MuLx10 commented on #1725
@Namrata96 I have read the paper and also python [code](https://github.com/Namrata96/Text-Summarization). Except for 'coverage' I am good to go.

[2019-03-01 06:04] Horopter commented on #1748
[code]
Yes I am working with gcc6
 # gcc6 --version
gcc6 (FreeBSD Ports Collection) 6.4.0
Copyright (C) 2017 Free Software Foundation, Inc.
This is free software; see the source for copying conditions.  There is NO
warranty; not even for MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.

[2019-03-01 06:16] incredibleray commented on #1735
I thought about it a bit more, I agree with you. ||y-Ax||2 error is more sensible. In order to obtain the lagrangian, one need to deduct the rhs of the constraint from ||x||1, and in some problems, the constraint is on ||y-Ax||2, so it is up to the user to implement the lagrangian from the problem setup, there is no one solution that fits all here.

I realized that I am muddying the water right no

[2019-03-01 08:26] #1688 closed

[2019-03-01 10:26] #1643 closed

[2019-03-01 19:28] sreenikSS commented on #1254
### Allowed classes for the CLI

### Activations: (not obtained from layer)
identity_function
logistic_function
rectifier_function
softplus_function
softsign_function
swish_function
tanh_function
### Activations obtained from layer: (function prototypes given for more clarity)
[code]

### Loss functions: (function prototypes)
[code]

### Layers: (function prototypes)
[code]
These are the what I th

[2019-03-01 21:05] zoq commented on #1748
Building with:

``cmake -DCMAKE_CXX_FLAGS="-L/usr/local/lib/gcc6 -rpath /usr/local/lib/gcc6" ..``

let me know if that solves the issue on your side.

[2019-03-01 21:08] #1733 closed

[2019-03-02 04:41] Yashwants19 commented on #1152
Hello @rcurtin, I'm would like to work on the fastmks test for command-line and Python bindings . If no one is working on this

[2019-03-02 09:26] #1727 closed

[2019-03-02 13:27] robotcator commented on #1748
Hi, @zoq @rcurtin, there is my initial thought that why we provide some built docker for the user to use mlpack?

[2019-03-02 14:39] zoq commented on #1748
Right, there is https://hub.docker.com/r/mlpack/mlpack which I have to update. Probably a good idea to create a jenkins job for this.

[2019-03-02 14:51] robotcator commented on #1748
I found that many people faced with the problem with installation, so my original thought was to build some dockers, but I found that there is already a docker image in docker hub. The image was created by your account :).  I thought that mlpack already support that feature.

Actually, docker image is very popular in the Python library community. I built an image before, it seems fine.  But I was

[2019-03-02 16:48] rcurtin commented on #1748
We already provide several packages for seamless installation via pip, apt, dnf, pacman, and so forth.  Definitely it would be useful to update the Docker image, but the fact we can't get around is that a lot of people want to contribute to mlpack, and to do that effectively one must build mlpack from source.  So in some sense we'll always have issues like this.

[2019-03-02 20:30] SinghKislay commented on #1709
I would like to give this a try.

[2019-03-03 07:10] PrashantSaroj commented on #1207
@lozhnikov @ShikharJ @Rajiv2605  I am willing to work on the "Essential Deep learning modules" project. How do I get started?

[2019-03-03 09:48] MuLx10 commented on #1725
@Namrata96 Are we using pre-processed data or processing is a part of the implementation?

[2019-03-03 11:27] robotcator commented on #1748
As far as I know, we can write the command which installs the library from the source into the docker image file.  So can we rebuild the image if there are any modifications? Also, we can maintain some stale version docker images.

[2019-03-03 16:57] #1693 closed

[2019-03-03 17:01] zoq commented on #1207
Actually, this was implemented by @ShikharJ. But if anybody likes to work on additional tests, please feel free. The tests can be found here: https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/rbm_network_test.cpp.

About how to get started, see http://mlpack.org/gsoc.html for a general answer. For the "Essential Deep learning modules" idea, it's helpful to get familiar with the network

[2019-03-03 17:01] #1207 closed

[2019-03-04 03:40] MuLx10 opened #1754 "Cannot load text in CSV files"
For the csv file

|    |                               |        |
|----|-------------------------------|--------|
| 1  | row 2                         | row 3  |
| 2  | "row 2, with comma"           | row 3  |
| 3  | row 2 with \"embedded quote\" | row 3  |
| 4  |  row 2 with \n new line       | row 3  |
| 5  |  row 2 with embedded \\       | row 3  |
| 11 |                               | row 33

[2019-03-04 05:11] Horopter commented on #1748
Hello Devs,
I would like to have a docker image for freebsd 11+, not as an alternative but more as a convenience. Anyway, the compilation is working now with repeated message/warning:

c++: warning: -rpath /usr/local/lib/gcc6: 'linker' input unused [-Wunused-command-line-argument]
c++: warning: argument unused during compilation: '-L/usr/local/lib/gcc6' [-Wunused-command-line-argument]

Please con

[2019-03-04 07:50] robotcator commented on #1748
@Horopter  Here is a docker image for [ubuntu 16.04](https://cloud.docker.com/u/robotcator/repository/docker/robotcator/ubuntu-16.04-mlpack), it built a month ago. I am not sure it is useful for you.

[2019-03-04 08:03] Horopter commented on #1748
Hello @robotcator , I will look into it. I need a freeBSD version if possible. Also, please let me know the solution to the aforementioned error. I am very close to starting work with mlpack.

[2019-03-04 09:50] Horopter commented on #1748
Outputs of make
https://pastebin.com/nCTwaQG4
https://pastebin.com/UfnYU7cP
https://pastebin.com/gxLQqumK
https://pastebin.com/DD232ZAe

[2019-03-04 10:38] robotcator commented on #1748
I am very sorry about that. Actually, I am not familiar with freeBSD. If I were you, I will create a container in localhost which is a new clean environment.  Then follow the tutorial to build mlpack.

[2019-03-04 11:39] Horopter commented on #1748
All I have done is load a fresh installation of freebsd 11 on my system and followed the instructions on the page https://www.mlpack.org/docs/mlpack-3.0.4/doxygen/build.html with modifications suggested on this very thread.

The instruction make -j4 spat out the outputs which I have presented in the links by chunking them up. The installation failed with 1 error which I wish to resolve soon. You m

[2019-03-04 15:14] Namrata96 commented on #1725
I think we can process the data on our end and then just the code to consume it for our model can be part of the implementation. @MuLx10 any other thoughts on this?

[2019-03-04 15:14] Namrata96 commented on #1725
@MuLx10 which tasks are you interested in taking up?

[2019-03-04 16:48] MuLx10 commented on #1725
@Namrata96 I think we should process the dataset and store so that what we feed in the implementation is just numbers, because a lot of work has to be done on string processing. I like to take up the Attention Decoder model. I am following the code structure from [here](https://github.com/abisee/pointer-generator). Will that be ok?

[2019-03-04 16:59] ShikharJ commented on #1207
We currently have an additional open PR for SSRBM test implementation at #1477. If someone wishes to take it up, please feel free to do so.

[2019-03-04 17:32] sumit-03 commented on #1735
is this issue open for accepting PR.if yes i want to implement this.

[2019-03-04 18:04] zoq commented on #1748
@Horopter run ``make`` once again without using multiple jobs (``-jx``). The last time I checked, the docker support on FreeBSD is experimental, but maybe you already worked with docker? Not sure I see the benefit of using docker vs installing the dependencies in a new jail if a chroot environment is the decision point here.

[2019-03-04 22:32] SinghKislay opened #1757 "Problem while building mlpack on windows"
#### environment

 * version of mlpack: 3.0.3
 * operating system: windows
 * version of dependencies (Boost/Armadillo ): ones mentioned in the tutorial

Till Arma library builds just fine as I folllow the steps in the tut for building mlpack on windows
(I have tried both 1)unzipping boost 2)Installing boost in solution using nuGet )
When I build the mlpack itself this happens:

Error:

 Could not

[2019-03-05 02:32] Horopter commented on #1748
Hello zoq,
The issue is that (from what I gather), is that it's not able to run tests pertaining to mnist data set 4s and 9s. Is it possible that it tried to download some off internet and failed? I hadn't connected my system to internet when I had run make.

UPDATE : I have connected system to internet and ran make without multiple jobs...  It failed with same error.

[2019-03-05 16:33] prasadgujar commented on #1757
Hello @SinghKislay,
Can you include details about the operating system which you are using as well as include the screenshot for the same

[2019-03-05 17:02] riaash04 commented on #396
I have opened a pr #1759 , which implements isomap.

[2019-03-05 19:17] SinghKislay commented on #1757
My OS is windows 10.

here is the whole error:

CMake Warning at CMakeLists.txt:31 (message):
  By default Python bindings are not compiled for Windows because they are
  not known to work.  Set BUILD_PYTHON_BINDINGS to ON if you want them built.

CMake Warning (dev) at CMakeLists.txt:65 (if):
  Policy CMP0054 is not set: Only interpret if() arguments as variables or
  keywords when unquoted.  Run

[2019-03-05 19:21] sumit-03 commented on #1754
I think that mlpack works only with numeric matrices.so instaed of having text map it with some numeric value.

[2019-03-05 19:35] SinghKislay commented on #1757
Windows 10, I looked at stack overflow, some guy had exact same problem. But no green ticks. btw, I built it on Ubuntu and it worked just fine.

[2019-03-05 20:07] kumargopal opened #1760 "Can't import any mlpack-module in python"
I built mlpack from source as documented. In python 'import mlpack' doesn't show any error but I can't import any of the modules. Here is the full error:-

Python 3.6.8 |Anaconda, Inc.| (default, Dec 30 2018, 01:22:34)
[GCC 7.3.0] on linux
Type "help", "copyright", "credits" or "license" for more information.

Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
ImportError: ca

[2019-03-05 20:11] rcurtin commented on #1760
How did you install mlpack?  Is it installed to somewhere that is available in PYTHONPATH?

You can run another test from your build directory to ensure they are working; start Python like this then try to import mlpack (substitute the right paths in place):

[code]

then `import mlpack` should work.  If that does work, this is an installation issue, and for whatever reason Python is not seeing th

[2019-03-05 20:21] rcurtin commented on #1757
These issues are always tricky to debug---did you follow this tutorial? http://mlpack.org/docs/mlpack-git/doxygen/build_windows.html

If you want to debug this, I think the key will be figuring out what the CMake `FindBoost.cmake` script is doing.  I think it will give you more output that you can read through if you configure with `Boost_DEBUG=ON` and `Boost_DETAILED_FAILURE_MSG=ON`.

There have

[2019-03-05 21:00] SinghKislay commented on #1757
Yup, I followed that very tutorial, I'll post if I have any progress.

[2019-03-05 21:30] zoq commented on #1748
I think the issue you see was solved in https://github.com/mlpack/mlpack/pull/1640, if you like you can rerun the test against the master branch.

[2019-03-05 21:34] zoq commented on #1757
Did you set the ``BOOST_LIBRARYDIR`` path? It might be helpful if you can post the cmake command you used to configure mlpack.

[2019-03-05 22:19] SinghKislay commented on #1757
Hi, I entered the exact command from the tutorial on the mlpack website.(copy pasted, as I used the specified versions).

cmake -G "Visual Studio 15 2017 Win64" -DBLAS_LIBRARY:FILEPATH="C:/mlpack/mlpack-3.0.3/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DLAPACK_LIBRARY:FILEPATH="C:/mlpack/mlpack-3.0.3/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DARMADILLO

[2019-03-06 05:24] Horopter commented on #1748
Since I am authorised to work only on mlpack releases and not the master branch, I am gonna go ahead and close this issue hoping that this won't occur with 3.0.5 stable release. Thanks for all the help.

[2019-03-06 05:24] #1748 closed

[2019-03-06 08:28] MuLx10 commented on #1754
@sumit-03 but consider that the categorical features are two words long. Then mlpack would just map the first word. So after prediction unmapping, the categorical label would go incorrect.

[2019-03-06 09:10] Bk073 opened #1763 "Add hard_sigmoid activation function"
I wanted to contribute to this forum and thought of implementing **hard_sigmoid** activation function. I went through the codebase, I found LeakyRelu and other activation function but didn't find **hard_sigmoid** activation. Can I implement it ?

Hard sigmoid helps to compute faster than sigmoid function

if x is input then hard_sigmoid return

Hard sigmoid activation:

0 if x < -2.5
1 if x > 2.5

[2019-03-06 11:02] sumit-03 commented on #1754
if mlpack is mapping based on only first word then it will go wrong but
first you have to see how that method is implemented.
I agree

On Wed, 6 Mar 2019, 1:59 p.m. Mehul Kumar Nirala <notifications@github.com
wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have rec

[2019-03-06 11:13] MuLx10 commented on #1754
@sumit-03 Yeah based on the previous implementation I proposed a solution (#1756).

[2019-03-06 11:15] sumit-03 commented on #1754
what you thought

On Wed, 6 Mar 2019, 4:44 p.m. Mehul Kumar Nirala <notifications@github.com
wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify the
system manager. This message contains confidential information and is
int

[2019-03-06 11:19] MuLx10 commented on #1754
I added regex for quoted strings

[2019-03-06 11:22] sumit-03 commented on #1754
what basically that function does

On Wed, 6 Mar 2019, 4:50 p.m. Mehul Kumar Nirala <notifications@github.com
wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify the
system manager. This message contains confidential infor

[2019-03-06 11:25] MuLx10 commented on #1754
besides normal comma parsing, it also looks for patterns like "string", 'string', "text with ,coma".

[2019-03-06 11:26] sumit-03 commented on #1754
I think based on user analysis it will be decided which word should be taken

On Wed, 6 Mar 2019, 4:52 p.m. SUMIT KUMAR <sk69@iitbbs.ac.in wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify the
system manager. This messag

[2019-03-06 13:47] MuLx10 commented on #1754
yeah but there are some default parsing rules for csv.

[2019-03-06 14:49] ShikharJ commented on #1763
Hi @Bk073, I'm not sure if it would be useful to fix on just a single value of the coefficient of `x`. Maybe we implement a layer where a user can fix that coefficient? Thoughts @rcurtin @zoq?

[2019-03-06 16:02] zoq commented on #1748
You are still fine if you run the latest release, if you don't use the imputer.

[2019-03-06 16:06] rcurtin commented on #1748
Ok, hopefully we have it fixed by then.  If you can patch the code, you can cherry-pick the commits from #1640 (or make the changes manually).  You'll want the changes to `hoeffding_tree_impl.hpp`, `dataset_mapper.hpp`, `dataset_mapper_impl.hpp`, and `load_csv.hpp`.

In any case @zoq is right, if you don't use the imputer and if you don't serialize a Hoeffding tree, there should be no issues.  Tha

[2019-03-06 16:11] zoq commented on #1757
Can you test this without the ``:FILEPATH`` part? I see BOOST_LIBRARYDIR is set, and I guess ``C:/boost/boost_1_66_0/lib64-msvc-14.1`` does contain the necessary libs?

[2019-03-06 16:23] zoq commented on #1763
I'm not aware of any other function that would need this form, so personally I would implement this as another activation function, instead of as another layer.

[2019-03-06 16:30] ShikharJ commented on #1763
Hmm, makes sense that way, feel free to implement this @Bk073.

[2019-03-06 17:19] Bk073 commented on #1763
Ok thank you @zoq and @ShikharJ . I would then go for it.

[2019-03-06 19:00] kumargopal commented on #1760
Thanks!
I'm using Ubuntu 18.10 and installed mpack as documented here : http://www.mlpack.org/docs/mlpack-git/doxygen/build.html
by using the commands
`$ wget http://www.mlpack.org/files/mlpack-3.0.4.tar.gz
$ tar -xvzpf mlpack-3.0.4.tar.gz
$ mkdir mlpack-3.0.4/build && cd mlpack-3.0.4/build
$ cmake ../
$ make -j4  # The -j is the number of cores you want to use for a build.
$ sudo make install`
I

[2019-03-07 01:15] SinghKislay commented on #1757
So I searched the C:/boost/boost_1_66_0 couldn't find anything lib64-mscv-14.1 it just has libs, So I tried converting to C:/boost/boost_1_66_0/libs  and then ran, still no luck.

[2019-03-07 01:48] rcurtin commented on #1757
Did you try debugging by using `Boost_DEBUG=ON` and `Boost_DETAILED_FAILURE_MSG=ON`?  You'll have to look closely at the output to see what is going on, but I suspect that it will make it clear why CMake is unable to find the Boost libraries.

[2019-03-07 11:52] KimSangYeon-DGU commented on #1658
I want to keep this open. :)

[2019-03-07 15:59] rcsunanda commented on #1152
Hi, @Yashwants19 , I was meaning to work on the fastmks test, but I haven't been able to get started yet. So yes, please go ahead with it.

[2019-03-07 16:25] rcurtin commented on #1152
Hey @Yashwants19 and @rcsunanda, there is actually an old PR you can use as a starting point for the FastMKS tests: #1356. If I remember right there were still a few issues that needed to be debugged for that one.

[2019-03-07 16:28] SinghKislay commented on #1757
In debug mode from what I understand there is an Iinking issue. and also it cannot find Doxygen.(nothing about Doxygen was mentioned in the tutorial). I am gonna try to build the newest version 3.0.4 see how that goes.

CMake Warning at CMakeLists.txt:31 (message):
  By default Python bindings are not compiled for Windows because they are
  not known to work.  Set BUILD_PYTHON_BINDINGS to ON if yo

[2019-03-07 16:53] SinghKislay commented on #1757
I am trying to do that, I have a hunch it has something to do with version incompatibility, i have checked on  different github issues of different projects, they all have issues open regarding this problem.
eg: https://github.com/cryptonotefoundation/cryptonote/issues/119

[2019-03-07 16:59] rcurtin commented on #1757
Right, so if you used `Boost_DEBUG=ON` and `Boost_DETAILED_FAILURE_MSG=ON`, what was the given output?  Have you looked through it to see what is going on?

[2019-03-07 17:39] SinghKislay commented on #1757
Yeah, I have posted the outputs,
It still says unable to find boost libraries, now I manually checked for the libs, Couldn't find the specified ones, One of the answer said try renaming(sounds like a bad hack, still did it) no luck.
Now there is one issue that I see is, in the docs it was written make sure to match MSVC versions.
mine is MSVC  19.16.27025.1
I cannot find any version of boost above

[2019-03-07 17:56] sumit-03 commented on #1735
i am confused with betaPath and beta.
The thing that i understood is that betaPath(a 2-d vector) stores values of weight of n-features per iteration, is it correct.

[2019-03-07 17:57] sumit-03 commented on #1735
i am talking about the betaPath used in Lars class

[2019-03-07 18:44] rcurtin commented on #1757
Did you use `Boost_DEBUG=ON` and `Boost_DETAILED_FAILURE_MSG=ON`?  I keep asking this because the output you are giving is not the output you would get if you had set those.

[2019-03-07 19:11] SinghKislay commented on #1757
Done, problem solved. So the docs said "Install or unzip to "C:\boost\boost_1_66_0""
1) if u just unzip the mentioned binary u don't get lib64-msvc-14.1 hence libs not found error, you have to build it.
or
2) simply download the executable from https://sourceforge.net/projects/boost/files/boost-binaries/1.66.0/
-install
-run the cmake command.

[2019-03-07 20:51] SinghKislay commented on #1757
In the final step of build in I get linking errors and a lot of warnings.
LNK1181 cannot find c;/../../debug/mlpack.lib

[2019-03-08 15:28] zoq opened #1767 "FastMKS (optdigits dataset) segmentation fault"
#### Issue description

``mlpack_fastmks -r optdigits.csv -v  -k 10 -K hyptan`` returns with a segmentation fault.

#### Your environment

 * version of mlpack: git master and 3.0.4, maybe other version as well
 * operating system: FreeBSD, Linux (debian)
 * compiler: probably any gcc version or clang version
 * version of dependencies (Boost/Armadillo): doesn't matter

#### Steps to reproduce

Ru

[2019-03-08 17:13] Yashwants19 commented on #1767
Hi @zoq when I was testing fastmks for cli bindings I couldn't pass ` kernel` as `hyptan`. As It leads to tests running forever. But as you see in PR #1765 when I pass `abs()` from `sqrt` in `src/mlpack/core/metrics/ip_metric_impl.hpp` It was start giving correct results.

[2019-03-08 20:44] #1611 closed

[2019-03-09 01:54] incredibleray commented on #1735
I believe you are correct, betaPath are a collection of beta values as the algo (optimization) progresses

Best Regards!

Ray Xu

Contact Information:
Email: incredibleray@gmail.com
Mobile: +1 (847)868-6928

[2019-03-09 05:54] Yashwants19 commented on #1767
Hi @zoq when we run `bin/mlpack_fastmks -r optdigits.csv -v -k 0 -K gaussian` its returns with a segmentation fault.
[code]

[2019-03-09 06:01] Yashwants19 commented on #1767
And  when we run `bin/mlpack_fastmks -r optdigits.csv -v -k 10 -K hyptan -S` with single-tree search it give correct result and same with ` --naive` it give correct result

[2019-03-09 06:03] ShikharJ commented on #1565
@rcurtin Should this be kept open?

[2019-03-09 12:12] sreenikSS commented on #1254
According to what I have thought, the ```network.conf``` file would be **case-insensitive** and there would be multiple *allowed declarations* for a single function. Eg: ```CrossEntropyError``` can be declared as ```crossentropy```, ```crossentropyloss```, ```cross_entropy_loss``` or ```crossentropyerror```.
### An approximate example of the ``` network.conf ``` file for generating something simil

[2019-03-09 12:49] zoq commented on #1767
I see the same error, if I use ``k = 1`` it does work. Can you reproduce the error with the command I posted above?

[2019-03-09 12:51] zoq commented on #1767
Also, do you test against the mater branch or already against the changes you did in #1765?

[2019-03-09 14:51] rcurtin commented on #1565
Yeah, let's keep this one open.  I forgot to mark it with the relevant tag, sorry.

[2019-03-09 18:20] khan-07 opened #1769 "Trouble compiling new programs for cli"
I am trying to compile a test code for cli with mlpack binding. The two codes i have tried to compile are  [here](http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/iodoc.html). These codes are official samples taken from the documentation.  I am only running into problems when compiling test program with bindings. I am compiling the code  using the following way

 **_g++ network_main.cpp -o cli -DDE

[2019-03-09 19:37] rcurtin commented on #1769
Looks like a linking issue to me.  Are you sure the version of mlpack that you installed is the same one you are linking against?  If you have mlpack installed twice on your system this could occur.

[2019-03-09 21:47] khan-07 commented on #1769
Thanks @rcurtin  . I indeed had two version of mlpack installed . One that i build from the source and another one i installed using apt-get. I removed both the version and made a new clean build from source. The code with bindings is compiling now. If you don't mind asking how did you figure out that there are two installations of mlpack ?

[2019-03-09 22:00] rcurtin commented on #1769
I've just seen the problem a lot of times, for one. ;)

To give a little more detail, basically I can see from the output that your compiler has successfully included `mlpack/core.hpp`, and I can also see that you're linking against mlpack with `-lmlpack` and I can even see that the linker found a library to link against (otherwise it would have said something like `libmlpack.so not found` or some

[2019-03-09 22:00] rcurtin commented on #1769
Since you got the issue figured out, I'll go ahead and close this. :+1:

[2019-03-09 22:00] #1769 closed

[2019-03-09 23:31] rcurtin commented on #1660
Hey @mirraaj, with #1679 and #1726 now done, I think that you are ready to make the changes to the HMM code.  Would you like to do that and see how much faster it is? :)

[2019-03-09 23:42] rcurtin commented on #1754
This is definitely a bug, thank you for reporting it. :+1:

[2019-03-10 00:05] mirraaj commented on #1660
Hello @rcurtin ,

I would love to accelerate HMM implementation on MLPACK. However, I haven't been through those codes yet. It would be great if you elaborate on your idea you intend for HMM. Also, please let me know which area should I tackle in the beginning.

Thanks

[2019-03-10 00:24] rcurtin commented on #1660
Basically if you take a look at the existing HMM implementation in `HMM::Forward()` and `HMM::Backward()`, you will see where you can use the new batch `LogProbability()` functions.  When you use those instead of the single-point ones, then it should accelerate HMM training significantly.  You can test by training some HMMs (see the tests in `src/mlpack/tests/main_tests/hmm_train_test.cpp` for an

[2019-03-10 03:46] Yashwants19 commented on #1767
I have tested this with both the master and branch which I have made and got the same error as from master.

[2019-03-10 10:29] Bk073 commented on #1763
I have implemented the function and test related to it. I don't know how much of it is correct so I wanted to make review of it from you guys. How may I post my code ? Pushing into a new branch ?

[2019-03-10 11:22] zoq commented on #1763
Fork the repository, push the changes to the fork (new branch) and open a PR.

[2019-03-10 12:23] MuLx10 commented on #1709
@rcurtin [In response to](https://github.com/mlpack/mlpack/pull/1734#pullrequestreview-212582146) for complex models

The parameter structure should be known .
Eg. sparse_autoencoder follows the following structure.

		          vSize   1
		       |        |  |
		  hSize|   w1   |b1|
		       |________|__|
		       |        |  |
		  hSize|   w2'  |  |
		       |________|__|
		      1|   b2'  |  |

[2019-03-10 15:57] pvarshney1729 opened #1772 "Segmentation fault in Python_QuickStart"
#### Issue description
I was facing Segmentation Fault (core dumped) error while running the Python QuickStart Code on "http://mlpack.org/docs/mlpack-3.0.4/doxygen/python_quickstart.html". Earlier the issue was with

`output = mlpack.preprocess_split(input=dataset,
                                 input_labels=labels,
                                 test_ratio=0.3)`

which was resolved from issue

[2019-03-10 16:24] Yashwants19 commented on #1772
I think so you must use git master for correct solution.

[2019-03-10 18:26] pvarshney1729 commented on #1772
Unfortunately, it building mlpack using git master isn't working. Moreover, it is giving Segmentation Fault in the line
`output = mlpack.preprocess_split(input=dataset, input_labels=labels, test_ratio=0.3)`
also!

[2019-03-10 19:45] zoq commented on #1767
Thanks for the information, I wonder if this is dataset specific.

[2019-03-10 19:56] rcurtin commented on #1735
@incredibleray I see what you mean---and I agree that there may be cases where users care about different error measures.  But I think for this we can just put in the documentation of the `ComputeError()` function that we are computing and returning `|| y - Ax ||_2`; if someone needs something else, they can then implement it themselves. :+1:

[2019-03-10 20:45] sumit-03 commented on #1735
so can I leave this issue.

On Mon, 11 Mar 2019, 1:26 a.m. Ryan Curtin <notifications@github.com wrote:

--
*Disclaimer: *This email and any files transmitted with it are confidential
and intended solely for the use of the individual or entity to whom they
are addressed. If you have received this email in error please notify the
system manager. This message contains confidential information and is

[2019-03-10 21:22] mirraaj commented on #1660
@rcurtin Are we trying to tackle this? https://github.com/mlpack/mlpack/blob/5e854c665e95103f1dd84c56de68e90b81e9a9c1/src/mlpack/methods/hmm/hmm_impl.hpp#L578-L600

[2019-03-11 00:46] incredibleray commented on #1735
Ryan,

I agree. Providing a basic ComputeError() method to compute ||y-Ax||_2 for
convenience, we can reopen the discussion for a possible inclusion of the
regularization terms (||y-Ax||_2+lambda1*||x||_1 +lambda2*||x||_2) in the
future if needs be.

On Sun, Mar 10, 2019 at 1:45 PM sumit kumar <notifications@github.com>
wrote:

[2019-03-11 08:49] seewishnew commented on #1602
I was also facing the same issue just today! I tried several things but could not fix it. Only this:

fixed it. Could the repository be updated with this setup-2.py content if this issue is reopened?

[2019-03-11 13:19] rcurtin commented on #1602
@seewishnew thanks!  I will open a PR with the fix and get it merged in when I have a chance. :+1:

[2019-03-13 05:27] zakarh commented on #231
@rcurtin
I'm going to look at this and see what I can do.

[2019-03-14 04:14] yashodeepm commented on #1760
I was facing the same issue. Try this:
`export PYTHONPATH='/usr/local/lib/python3.7/site-packages/:$PYTHONPATH'`
if you are using mlpack for python 3.

[2019-03-15 05:48] greatsharma opened #1778 "grammatical mistake in comment in mlpack/src/mlpack/core/data/imputer.hpp"
#### Problem location

#### Description of problem

[2019-03-15 08:36] Shubhangi100 commented on #1778
@rcurtin I would like to work on this issue, can I proceed?

[2019-03-15 20:48] sreenikSS commented on #1254
The main questions that arise (including repetitions from the previous comments) are:

- Will I implement **all** the functions that are present in the ann codebase? In the above comments I have mentioned most of the functions present in the codebase, though not all. Back at that time I was not very familiar with the codebase, but now I think I can implement all the functions present in the ann su

[2019-03-15 22:45] zoq commented on #1778
@Shubhangi100 @greatsharma already open a PR: https://github.com/mlpack/mlpack/pull/1779.

@greatsharma No need to open an issue first.

[2019-03-16 07:49] greatsharma opened #1781 "confusing and missleading comment"
#### Problem location

src/mlpack/core/data/map_policies/increment_policy.hpp

#### Description of problem

In multiline comment at line 25, instead of  " one if the "  it should be " one of the ". At a very first
look it just confuses the reader regarding the IncrementPolicy helper class.

[2019-03-16 08:24] ShikharJ commented on #1781
Since this is included in #1779, and we have an issue open in #1778, there's no need to keep this open.

[2019-03-16 08:24] #1781 closed

[2019-03-16 08:30] Shubhangi100 commented on #1772
@rcurtin I would like to work upon this issue, can I proceed?

[2019-03-16 08:41] saksham189 commented on #1661
This is quite strange but adding an `IdentityLayer<>` before the convolution layer in the test seems to reduce the failures and works with a tolerance of `1e-2`

[2019-03-16 09:32] greatsharma commented on #1781
ShikharJ sir can you please elaborate more why you closed #1781 I didn't understand the above reason as I am not an active github user

[2019-03-16 09:53] ShikharJ commented on #1781
The above reason has nothing to do with being an active GitHub user :) There is already a documentation based issue opened by you, and it is redundant to open individual issues for single line documentation errors. Additionally, you did end up including this in the PR, so no reason to keep it open.

[2019-03-16 10:10] saksham189 commented on #1661
I tried debugging this a bit more. Every-time the test fails the `inputTemp` variable inside the `AtrousConvolution` seems to be changed/corrupted.
The input to the NN is `arma::linspace<arma::colvec>(0, 35, 36)`.
After printing the `inputTemp` variable inside the `Forward` method I get the output below which is what I would expect.
[code]
Whenever the test fails the `inputTemp` variable inside th

[2019-03-16 12:59] MuLx10 opened #1782 "Exposing Cell and hidden state in LSTM."
**Besides  the weights I guess cell state and hidden state should also be exposed. It is helpful for building networks that rely on cell state in LSTMs.**
[code]
**Currently they are private members so unavailable.**
[code]

 (I am not sure if it's a good idea at the current moment.)

[2019-03-16 14:36] rcurtin commented on #1772
@Shubhangi100, sure, you are more than welcome to help out.  You might be interested in taking a look at the IRC logs from yesterday; I think I was helping someone with a similar problem.

[2019-03-16 14:47] abhinavsagar commented on #1782
@MuLx10 Recognized me? Can i work on this?

[2019-03-16 15:05] MuLx10 commented on #1782
I don't know if it's a good idea right now. @zoq Is this issue reasonable? Because the entire code structure allows access of parameters only.
@abhinavsagar yes of course.

[2019-03-16 15:44] #1677 closed

[2019-03-16 17:13] Shubhangi100 commented on #1772
@rcurtin I have read the IRC logs, in my system there is .so file for preprocess_split and it is here '/usr/local/lib/python2.7/dist-packages/mlpack-3.0.5-py2.7-linux-x86_64.egg/mlpack' but still I am getting segmentation fault in 'output=mlpack.preprocess_split(input=dataset,input_labels=labels,test_ratio=0.3)'.
which was already resolved in #1694 . Now, how to proceed further?
'

[2019-03-16 17:31] rcurtin commented on #1772
@Shubhangi100 the goal of the issue is to help @pvarshney1729 resolve their problem, but it looks like you haven't fully reproduced the problem yet.  I'd look at #1694 and make sure you are incorporating the code there.  If you are still getting a segmentation fault, probably the right thing to do is dig in and modify the code to try and figure out what is causing the segmentation fault, or possib

[2019-03-16 19:09] rcurtin commented on #1660
@mirraaj right, exactly, now we can call `LogProbability()` in batch instead of on each individual point, and that should be much faster. :+1:

[2019-03-16 19:26] jeffin143 opened #1783 "No test for NormalizeLabels (normalize_labels.hpp) function"
I couldn't find any test for NormalizeLabels function (/src/mlpack/core/data/normalize_label.hpp) in test directory.Is it not required to test or already implemented.If already implemented could some one point it to me.

[2019-03-16 20:19] zoq commented on #1782
Agreed that should be useful.

[2019-03-16 23:00] rcurtin commented on #1254
Hey there @sreenikSS, sorry to make you wait two weeks for a response.  There is a lot going on and this is a time-consuming issue to answer because the design is an important step here, so it's hard to find a block of time to get into this to give a good answer. :)

I read through all the comments you've left and I like the design that you are settling on here, and that you've been thinking about

[2019-03-17 05:36] sreenikSS commented on #1254
This sounds good. A JSON or YAML looks much more organised than a simple text file and suitable for future extension like you have mentioned.

With JSON I was using boost's `json_parser` and `property_tree`, YAML support is currently in the pipeline but then there are other libraries that parse YAML, so it won't be a problem extending support to YAML regarding whatever we are doing with JSON. I pr

[2019-03-17 13:43] zoq commented on #1783
Here you go:

https://github.com/mlpack/mlpack/blob/2326bf8bd0b380c17eed6b5b1c34fbfab1563774/src/mlpack/tests/load_save_test.cpp#L774-L823

[2019-03-17 16:17] bhavya01 commented on #1723
I had some thoughts regarding this project. In ONNX, computation graphs are made up of a DAG of nodes and each DAG denotes an operation. To convert from onnx models to mlpack models, we can iterate over the nodes in the ONNX model graph, store the layers and params in an ordered dictionary and as suggested here -> https://github.com/mlpack/mlpack/issues/1254#issuecomment-473599654, we can then use

[2019-03-17 16:42] jeffin143 commented on #1783
Thanks for the info

[2019-03-17 16:42] #1783 closed

[2019-03-18 07:09] jeffin143 opened #1787 "Documentation issue in Leaky_relu.hpp"
I am not sure what does the description about the parameters for the function below means.

#### Problem location

[documentation link](https://github.com/mlpack/mlpack/blob/cfcc1e33a0c65de1077299ea515c7864a882f046/src/mlpack/methods/ann/layer/leaky_relu.hpp#L137)

#### Description of problem

/src/mlpack/methods/ann/layer/leaky_relu.hpp
`
/*
   * Computes the first derivative of the LeakyReLU fun

[2019-03-18 07:14] ShikharJ commented on #1787
@jeffin143 If you don't mind, I am working on a PR on the same code. I'd like to include this there itself. Please let me know if it is fine by you?

[2019-03-18 07:53] jeffin143 commented on #1787
@ShikharJ ok, no issues with it.

[2019-03-18 11:01] MuLx10 opened #1791 "LoadARFF gets stuck if file is not found."
#### Issue description
`data::LoadARFF()` gets stuck if the arff file does not exists.
[code]
#### Steps to reproduce

Run the [code](https://pastebin.com/R9J6Tbv4).

#### Further

Also the reason for the failure of memory checks in #1756 for issue #1754.  The LoadSaveTest fails due to 180 mins timeout [console log](http://ci.mlpack.org/job/pull-requests%20mlpack%20memory/1108/console)

#### Expec

[2019-03-18 11:41] greatsharma commented on #1778
I closed #1779 and open #1789  solving the same PR

[2019-03-18 17:31] #1787 closed

[2019-03-19 04:54] mirraaj commented on #1660
@rcurtin I have applied the same concept for the PR #1774. Thanks

[2019-03-19 10:48] janek opened #1795 "pip installation not working on macOS + instructions a bit unclear"
#### Problem location
http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/python_quickstart.html

#### Description of problem

I'm not familiar with the `path-like/syntax` for pip packages, so I wasn't sure if it's a mistake or just a way of expressing that it should be either mlpack or mlpack3.

Anyway, I tried all three possibilities. Two of them do nothing and `pip install mlpack` actually installs

[2019-03-19 17:53] atulim commented on #1767
@zoq I don't think that it is dataset specific because I tested this module with different datasets.

[2019-03-19 17:59] atulim commented on #1767
gaussian works correctly in every dataset and taking k as any value.
hyptan doesn't work correctly even taking k = 1

[2019-03-20 02:46] mrkeremyilmaz commented on #1694
While I was testing out the [simple quickstart example](http://mlpack.org/docs/mlpack-3.0.4/doxygen/python_quickstart.html), I got a segmentation fault. Moreover, neither the given workaround nor the removal of _input_labels_ worked for me.

I am on Ubuntu 18.04 and I installed mlpack using `pip install mlpack3`.

I will check the `to_matrix()` function as soon as I can to solve the problem.

[2019-03-20 03:47] mirraaj opened #1797 "Potential bug in Probability function for regression distribution."

[2019-03-20 21:22] zoq commented on #1767
Thanks for the additional insights, so if this isn't dataset specific, the issue might be in the kernel, I guess a first step could be to step through the code e.g. using gdb.

[2019-03-20 21:34] #1791 closed

[2019-03-21 01:44] seewishnew commented on #1069
Hey guys, I was facing a similar issue just today on my MBP. This was my problem:
[code]
This came up when I was trying to use mlpack's executable files. At first, I did not realize that this message was also being spat out while I was executing make in the build directory (this is for the latest git master branch version of mlpack).

I tried the following hack out, and it seems to have resolved t

[2019-03-21 01:48] rcurtin commented on #1069
Hey @seewishnew, probably best to open a new issue for this one, but I'm willing to bet that the system HDF5 version got updated but the version of Armadillo did not.  I suspect reinstalling (or rebuilding) Armadillo could fix the issue.  Anyway, if that doesn't work, feel free to open another issue for it. :+1:

[2019-03-21 02:02] seewishnew commented on #1069
I did try uninstalling and then reinstalling armadillo using brew multiple times. I am using armadillo version 9.200.7_1 right now btw. But that still caused the issue.

Also,

does not work. It produces an error that says that there is no option ```--with-hdf5```

I'll open a new issue for this one then @rcurtin .

[2019-03-21 02:29] seewishnew opened #1799 "Issue with building mlpack binaries on Mac OS X Mojave"
#### Issue description

While trying to execute a binary or during the make process, the armadillo library is not able to find the latest version of libhdf5 and instead it keeps looking for libhdf5.101.dylib.

It produces the following error:
[code]

#### Your environment

 * version of mlpack: 3.0.5
 * operating system: Mac OS X Mojave
 * compiler: gcc/g++ front-end clang/clang++ back-end (Apple

[2019-03-21 07:57] karlzhang-hhg opened #1802 "Error during make for mlpack"
I am following https://www.mlpack.org/doc/mlpack-3.0.4/doxygen/build.html to build mlpack from source. I found two errors:

[code]

Another error is:

[code]
Please let me know how to fix them. Thanks.

[2019-03-21 09:06] zoq commented on #1802
I think the issue was solved in: https://github.com/mlpack/mlpack/pull/1523, so can you build against the master branch?

[2019-03-21 12:51] jeffin143 opened #1803 "mlpack_test failing due to Ann_layer_test.cpp failure"
#### Mlpack_test failing due to ann_layer_test.cpp failure GradientTransposedConvolutionLayerTest is failing due to some reason

Commenting out ann_layer_test.cpp from cmake and building it again works fine

Do take travis cl log once for last five pr,all build are failing

error
bin/mlpack_test: symbol lookup error: bin/mlpack_test: undefined symbol: _ZN6mlpack9BacktraceC1Ei

#### Your environmen

[2019-03-21 13:16] ShikharJ commented on #1803
Did you happen to run a `make clean` and then run `make`? I'm unable to reproduce this error, and I don't think the nightly builds are failing either. Please provide a link to the Travis logs where the failure is occuring?

[2019-03-21 13:52] KimSangYeon-DGU commented on #1795
Hi @janek, Why don't you use `pip install mlpack3`?

[2019-03-21 13:58] Hsankesara commented on #1152
Hey @rcurtin, I like to work to on KNN command line and Python binding.

[2019-03-21 14:11] rcurtin commented on #1152
Hi @Hsankesara, sounds good.  There is an old PR for that too that you could look at as a starting point: #1263. :+1:

[2019-03-21 14:17] jeffin143 commented on #1803
@ShikharJ

https://travis-ci.org/mlpack/mlpack/jobs/509277029

https://travis-ci.org/mlpack/mlpack/jobs/509334075

[2019-03-21 14:47] KimSangYeon-DGU commented on #1803
@jeffin143, This issue ralated to #1777. Actually, we have kept tack of where the source of the issue is. And the current  `GradientTransposedConvolutionLayerTest` is measure to decrease the error rate.

@ShikharJ, Should we increase the number of trials, until we find the source of the problem?

[2019-03-21 14:57] janek commented on #1795
hey, thanks for writing. I have tried it, and it doesn't work (the error message is in the screnshot).

I collected some info in the IRC chat, and if I understand correctly `pip install mlpack3` is actually the correct command. It just doesn't work at the moment on macOS at the moment.

So what I would strongly suggest to do immediately is to change `pip install mlpack/mlpack3` to `pip install mlp

[2019-03-21 15:09] jeffin143 commented on #1803
@KimSangYeon-DGU yeah, i am also in search to find the source of problem.

[2019-03-21 15:18] KimSangYeon-DGU commented on #1795
I see, can you tried it in Python 3.6? It seems to be related to #1640.

[2019-03-21 15:25] KimSangYeon-DGU commented on #1795
I see, can you tried it in Python 3.6? It seems to be related to #1670. Sorry, if it doesn't work in macOS.

[2019-03-21 15:29] rcurtin commented on #1795
Yeah, we only provide `manylinux` packages which work on Linux, but not OS X.  So it won't work there.  In any case though, @janek is right that the documentation is wrong and should be changed.

[2019-03-21 15:49] gmanlan opened #1804 "Link to "build_config" and many other links @ README.MD are not working"
#### Problem location

README.MD --> 4. Building mlpack from source --> See[ this section of the build guide](http://www.mlpack.org/docs/mlpack-git/doxygen/build.html#build_config) for more details, including a full list of options, and their default values.

The same happens with many other links @ README.MD

#### Description of problem

The link doesn't work - probably after the recent changes t

[2019-03-21 16:36] janek commented on #1795
Understandable. Thanks for responding and for your approach!

[2019-03-21 16:45] greatsharma opened #1805 "code query"
In logistic_function.hpp inside void Deriv() at line 84 why we did y %  (1.0 - y) shouldn't it be
 y * (1.0 - y)

[2019-03-21 16:45] ShikharJ commented on #1803
@KimSangYeon-DGU I don't see how that would help. Five trials is more than enough in my opinion. The error seems to be limited to Mac OS builds, which have had a problem with these tests since the time we started building on OSX.

[2019-03-21 16:48] ShikharJ commented on #1803
Closing this for now, this needs to be handled in #1661.

[2019-03-21 16:48] #1803 closed

[2019-03-21 16:50] ShikharJ commented on #1805
This is because `%` operator in `Armadillo` stands for element-wise multiplication. Please use the IRC for individual doubts like these.

[2019-03-21 16:50] #1805 closed

[2019-03-21 19:39] abhinavsagar opened #1806 "No velocity goal in mountain_car.hpp"
#### Issue description

There should also be a velocity goal just like position goal variable as a reference value as and when velocity is updated.

#### Your environment

 * version of mlpack: 3.0.4
 * operating system: Windows 10
 * compiler: g++

#### Steps to reproduce

Compile and execute `mountain_car.hpp`

#### Expected behavior
The velocity goal variable will dictate in which direction and

[2019-03-21 19:47] karlzhang-hhg commented on #1802
Hi Marcus,

Thanks for your quick response. I download the master branch and follow the install instruction on link https://www.mlpack.org/doc/mlpack-3.0.4/doxygen/build.html#build_dep. It reports lots of warning like following:

[  5%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/core/dists/laplace_distribution.cpp.o
/var/folders/fr/bf53vrjd5t5c63kql06b_9bw0000gn/T//cc8frEgl.s:3:11: warni

[2019-03-21 20:56] karlzhang-hhg commented on #1069
Hi,

I also have this problem as following.

dyld: Library not loaded: @rpath/libhdf5.101.dylib
  Referenced from: /usr/local/lib/libarmadillo.9.dylib
  Reason: Incompatible library version: libarmadillo.9.dylib requires version 103.0.0 or later, but libhdf5.101.dylib provides version 102.0.0

And the following command doesn't work for me either.

[2019-03-21 20:56] karlzhang-hhg commented on #1069
brew install armadillo --with-hdf5

I am using IOS.

[2019-03-21 20:58] rcurtin commented on #1069
This is starting to sound like a Homebrew packaging issue; has anyone checked with the Armadillo maintainers there?

[2019-03-21 21:05] karlzhang-hhg commented on #1069
Thanks your hacky way works for me!

[2019-03-21 22:51] rcurtin commented on #1804
Thanks for pointing this out---I opened a fix with #1808. :+1:

[2019-03-22 03:05] karlzhang-hhg commented on #1760
After a long way of hacking, I can import mlpack now. But I cannot use it. I try @yashodeepm 's suggestion, but it doesn't work. When I tried to make the example in https://www.mlpack.org/doc/mlpack-3.0.4/doxygen/python_quickstart.html work, it just said:
---------------------------------------------------------------------------
AttributeError                            Traceback (most recent cal

[2019-03-22 16:04] ktj-code-debug opened #1812 "Links in the README.md of mlpack/mlpack not working."
#### README.md ([mlpack repository](https://github.com/mlpack/mlpack))

- [1. Introduction](https://github.com/mlpack/mlpack#1-introduction)
  - Tutorials http://www.mlpack.org/docs/mlpack-git/doxygen/tutorials.html
  - API documentation http://www.mlpack.org/docs/mlpack-git/doxygen/index.html
- [4. Building mlpack from source](https://github.com/mlpack/mlpack#4-building-mlpack-from-source)
  - Bu

[2019-03-22 17:00] abhinavsagar commented on #1812
Claim

[2019-03-22 17:02] rcurtin commented on #1812
@abhinavsagar I'm not sure the meaning of your comment.

@ktj-code-debug thanks for the report; #1808 is already open to fix this. :+1:

[2019-03-22 17:14] zoq commented on #1806
This makes the mountain car environment much more challenging; don't think this should be part of the default environment, either we implement another mountain car V2 environment or provide a flag to enable the constraint.

[2019-03-22 17:23] abhinavsagar commented on #1806
@zoq Got it. Can i work on a V2 environment for this?

[2019-03-22 18:39] zoq commented on #1806
Sure, feel free, I think you already open a PR, either we close this one or you use this to make the changes.

[2019-03-22 19:19] rcurtin commented on #1760
@karlzhang-hhg try using the git master branch, not 3.0.4.  This is a bug in 3.0.4 that got fixed in master (I can't remember exactly which PR though); then you can watch the output and you should see that setuptools doesn't give an error but instead correctly solves the issue.

@kumargopal I'm willing to bet you've encountered the exact same issue, so if you can try the git master branch too, I t

[2019-03-22 19:22] abhinavsagar commented on #1806
@zoq OK thanks, I am closing this PR. I will open the new one with the required changes as soon as it is done.

[2019-03-22 19:25] karlzhang-hhg commented on #1760
Hi Ryan,
Thanks for quick replying. Actually, Marcus suggested me to do so but I encounter lots of errors didn't encountered when building from 3.0.4 so that I turned back to 3.0.4. I opened a separate issue, and waiting for response.

To confirm, all I need to do is to download master branch zip, unzip it and follow the building from source instruction in the page https://www.mlpack.org/doc/mlpac

[2019-03-22 19:28] rcurtin commented on #1254
I thought about it a bit more; it may be useful to think about using YAML instead of JSON first since it's a lot easier to handwrite YAML.  But I am not too picky---both work, and we can also write other tools on top of it all that produce JSON/YAML from an "easier" representation.

Agreed, that's fine with me.

Do you think the new http://www.mlpack.org/doc/mlpack-3.0.4/cli_documentation.html mig

[2019-03-22 19:28] rcurtin commented on #1723
@bhavya01 agreed, I think that this is a reasonable strategy that you've outlined here.

[2019-03-22 19:57] zoq commented on #1806
Okay, sounds good.

[2019-03-22 20:09] sreenikSS commented on #1254
@rcurtin you are right, YAML is more user-friendly but I have just finished the JSON implementation with a boost property tree storing it and categorising the information into a number of maps storing the data in a dictionary like format. It am all for YAML but I currently want to focus on making the whole thing work; I shall provide YAML support (not much code though) after the main part is done.

[2019-03-23 18:16] phantomcoder1996 commented on #1802
Are you building on mac OS??I was having issues with the build as well on OS high Sierra.
First, I updated Xcode to the latest version and then updated the command line tools using
`xcode-select --install`
Then I made sure that I had the latest version from cmake
`brew install cmake`
Then I followed the instruction in that previous issue #1602
1- Change the set up file to that one (http://www.ratm

[2019-03-24 16:03] halwai commented on #1772
@pvarshney1729  @Shubhangi100  @rcurtin  I believe there are multiple issues here which are as follows:

- Line: `labels = df['label']`
This returns a `pandas.core.series.Series` instead of `pd. pandas.core.frame.DataFrame`. This is solved by [#1694](https://github.com/mlpack/mlpack/issues/1694)
Strangely I still encountered this issue, this might be because my version is not up-to-date with curre

[2019-03-24 18:00] halwai commented on #1694
@mrkeremyilmaz refer [#1772](https://github.com/mlpack/mlpack/issues/1772#issuecomment-475972722)

[2019-03-24 20:27] rcurtin commented on #1254
That's fine with me. :+1:

Ah, what I was suggesting here is automatically generating the documentation for each layer, as opposed to manually writing it.  It may be complex to come up with a good solution for that.

Great!  If there is any part of the code I can explain, just let me know.  There are a lot of complex pieces that fit together in complex ways. :)

Not sure, I think there is some int

[2019-03-24 22:34] rcurtin commented on #1797
Hey @mirraaj, thanks for opening the clear issue.  I took a look at `RegressionDistribution` and think I have an idea of what's going on.

 * I think the documentation for `RegressionDistribution` isn't very clear, and you're right, it doesn't seem to have any testing.  If you like, we can leave this issue open after we solve the immediate problem you've had to add tests for it.

 * When `Train()`

[2019-03-24 23:04] rcurtin commented on #1760
Right, the master branch should work, but I took a look at the other issue you opened and I'm not too sure what the issue is.  I saw also the IRC debugging, but I'm not an OS X expert so I don't have too much to add there; sorry about that.

[2019-03-24 23:12] rcurtin commented on #1799
Can you compile any Armadillo program at all?  Try this:

[code]

and you can compile that with `g++ -o test test.cpp -larmadillo`.  Does that give the same HDF5 linking issue?

[2019-03-25 03:57] rcurtin commented on #1812
#1808 is merged, so I'm going to go ahead and close this.  Thanks again for the report. :+1:

[2019-03-25 03:57] #1812 closed

[2019-03-25 03:57] rcurtin commented on #1804
#1808 is merged, so I'll go ahead and close this now.  If you find anything else please do feel free to open an issue. :)

[2019-03-25 03:57] #1804 closed

[2019-03-25 10:12] seewishnew commented on #1799
Yes. I was able to compile and then run this program without any linking issues.

I remembered that I had symlinked the current version of libhdf5 (libhdf5.103.dylib) in /usr/local/lib to libhdf5.101.dylib. So I renamed that file to libhdf5.101.dylib.old and then tried compiling the program again. Even this time it compiled successfully, and I was able to run the program without any issue this tim

[2019-03-25 20:10] karlzhang-hhg commented on #1760
Hi Ryan,
No worry. I will focus on finishing the GSoC2019 proposal first and then I will come back to solve this. I will get a linux system and I think it should work out.

[2019-03-25 21:47] mirraaj commented on #1797
Hello @rcurtin, I studied this error in detail a few days back. I noticed that the error existed in https://github.com/mlpack/mlpack/blob/febc8e312dd2b360e1f26a6bc1a8bdd24164c8e7/src/mlpack/core/dists/regression_distribution.cpp#L64 .  On further exploring I noticed that the major issue lies at https://github.com/mlpack/mlpack/blob/febc8e312dd2b360e1f26a6bc1a8bdd24164c8e7/src/mlpack/methods/linear

[2019-03-25 23:54] #1754 closed

[2019-03-26 00:23] phantomcoder1996 commented on #1797
I can try to work on this issue if no one is currently working on it

[2019-03-26 04:36] mirraaj commented on #1797
@phantomcoder1996 I am already working on it. Is it fine if I continue the work?

[2019-03-26 14:32] phantomcoder1996 commented on #1797
Of course😅

[2019-03-26 16:27] phantomcoder1996 commented on #1694
May be I can work on this issue

[2019-03-26 17:03] abernauer opened #1819 "Build problems on Windows with Visual Studio."
Followed the windows build instructions documentation and made an initial mistake of downloading the wrong boost binary. Corrected that mistake. Got the armadillo dependency to build successfully. Then ran the following cmake commands.

cmake -G "Visual Studio 15 2017 Win64" -DBLAS_LIBRARY:FILEPATH="C:\mlpack-3.0.4\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a"
-DLAPACK_LIBRARY:F

[2019-03-26 17:09] KimSangYeon-DGU commented on #1819
@abernauer Have you tried adding `/` at the end of the line? e.g. `cmake -G ... -DPROFILE=OFF ../`

[2019-03-26 17:34] abernauer commented on #1819
![image](https://user-images.githubusercontent.com/35844149/55019690-600a1000-4fc3-11e9-847e-210d8b4f15dc.png)

[2019-03-26 17:38] KimSangYeon-DGU commented on #1819
@abernauer Please add `..` at the end of the line. e.g. `cmake -G "Visual Studio 15 2017 Win64" -DBLAS_LIBRARY:FILEPATH="C:\mlpack-3.0.4\packages\OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a" ..`

[2019-03-26 17:40] abernauer commented on #1819
ok got it will do that and get back to with the results. Thanks for the timely help.

[2019-03-26 17:41] rcurtin commented on #1819
That's also missing a lot of the arguments to `cmake` that you listed in the initial comment, so make sure you add those too. :+1:

[2019-03-26 17:41] KimSangYeon-DGU commented on #1819
Sounds great. :)

[2019-03-26 18:12] abernauer commented on #1819
Poorly timed lazy copying and pasting. Was a bit too focused on troubleshooting. After running the generator got the following output.

![image](https://user-images.githubusercontent.com/35844149/55022462-98f8b380-4fc8-11e9-8767-a1a867eb89b7.png)

[2019-03-26 18:22] sreenikSS commented on #1254
Thanks. I shall let you know if I need any further clarification anywhere.

[2019-03-26 19:12] zoq commented on #1819
Looks like the configuration step went through without any error, and the build files have been written to the specified directory as well.

[2019-03-28 09:39] Shubhangi100 commented on #1772
I tried all classification algorithms and getting a segmentation fault for all and also when debugged showing the same error for all algorithms in Mat_meat.hpp file. Is this issue is specific to my set up of mlpack. Maybe there is some binding problem in my set up of mlpack.@pvarshney1729@Shubhangi100 are you also facing this issue?

[2019-03-28 09:45] Shubhangi100 commented on #1772
I tried all classification algorithms and getting a segmentation fault for all and also when debugged showing the same error for all algorithms in Mat_meat.hpp file. Is this issue is specific to my set up of mlpack. Maybe there is some binding problem in my set up of mlpack.@pvarshney1729@halwai are you also facing this issue?

[2019-03-30 15:57] #1763 closed

[2019-03-30 17:35] iAhmedMaher commented on #1725
Sorry for the intrusion, may I ask whether any progress been made in this direction?

[2019-03-30 18:13] #1778 closed

[2019-03-30 18:59] MuLx10 commented on #1725
Hey, there is nothing like intrusion. I have built a data loader that loads the text dataset and converts it to sequence needed by the network. However I am trying to add layers/support that may help to complete the implementation(like #1800, #1756 ) . So basically the implementation has just started.

[2019-03-31 06:39] iAhmedMaher commented on #1725
Okay, I was just asking because this issue/PR overlaps with my idea for GSoC and wanted to tailor my proposal accordingly. Thanks for the quick reply!

[2019-03-31 10:18] greatsharma commented on #1757
can you please elaborate more about the errors and at what specific step it occur?
I personally think that you should clean everything and start the build again from the beginning and if still nothing happens in your favour than start everything from the beginning in  http://mlpack.org/docs/mlpack-git/doxygen/build_windows.html because I too suffered from such errors and what I do is removed every

[2019-03-31 13:33] niteya-shah opened #1825 "Cannot build mlpack from source after distro upgrade."
#### Issue description
I recently updated to Ubuntu 19.04 and when I tried to recompile mlpack from source I started getting this weird error .
#### Your environment

 * version of mlpack: master branch
 * operating system: Ubuntu 19.04
 * compiler: g++ 8.30
 * version of dependencies (Boost/Armadillo): 1.67 / ARMA version: 9.200.7
 * any other environment information you think is relevant: It use

[2019-03-31 13:52] niteya-shah commented on #1825
I wrongly wrote the cmake command and changing it fixed the issue :)

[2019-03-31 13:52] #1825 closed

[2019-04-01 18:00] 8hantanu opened #1826 "Serial and parallel runtimes"
I want to compare the run times of serial and parallel code.
I could build using `cmake -D USE_OPENMP=OFF`  but currently I am setting `OMP_NUM_THREADS=1` to get the serial runtime. This might account for some overhead due to the omp pragmas.
**Is there a way to get more accurate runtime for the serial run?**

Also in the mlpack/benchmarks repo I didn't find any method which gives a timing report.

[2019-04-01 19:02] saksham189 opened #1827 "Use batchSize parameter for GAN"
Currently the parameter `batchSize` is commented out for methods `EvaluateWithGradient` and `Evaluate` in GAN. I think this is resulting in a bug where we pass both the real and fake images for training the discriminator at once.

For example consider `batchSize = 4` and `numFunctions = 10`.
Then we would have calls to `EvaluateWithGradient` with values of `i` being 0, 4, and 8.
When we use value

[2019-04-01 20:15] ShikharJ commented on #1827
I'm not sure that this is a bug-report. If you really want to setup a batch size, it is always going to be a number which is a divisor of the total number of input data points you wish to consider. So I'd rather that this remain untouched. Also if you make use of the `batchSize` parameter which is passed, you'll face a problem here, if you try to reason:
[code]
Now the `generator` will only pick u

[2019-04-01 20:34] saksham189 commented on #1827
So this must always be true? If this is true, then obviously there will be no problem.

I was considering using the max batch size for the generator and reduced batch size for the discriminator.

[2019-04-02 09:30] Mainak431 commented on #1760
If
"sudo make install" was a success. Then just
execute the three lines below

export LD_LIBRARY_PATH=/usr/local/lib
export LD_LIBRARY_PATH=lib/
export PYTHONPATH=src/mlpack/bindings/python/

then
python
and in python shell
import mlpack

It must be a success. Still if it is not working. Please check your cython version. Maybe you have an outdated cython.

[2019-04-02 14:06] ShikharJ commented on #1827
Yes, it hardly makes sense to choose a `batchSize` such that for certain `epochs` it leads to uneven gradient update.

[2019-04-02 14:06] #1827 closed

[2019-04-03 13:59] jeffin143 opened #1833 "Issue #189"
I checked out all the closed issues, but couldn't find out issue related to mvu which is pointed at line no 10 in mvu.hpp, is it really #189 ?
[here](https://github.com/mlpack/mlpack/blob/d99a9a6043fb03dbd25165954b060318400a636b/src/mlpack/methods/mvu/mvu.hpp#L10)

[2019-04-03 14:10] rcurtin commented on #1833
I'm willing to bet #189 was the issue number when mlpack was on Trac a very very long time ago.  You can search through the Github issues and you may be able to find some issues having to do with MVU (there should be very few).

[2019-04-03 14:22] jeffin143 commented on #1833
Thanks @rcurtin , I am closing this issue.

[2019-04-03 14:22] #1833 closed

[2019-04-03 16:38] kolbma opened #1834 "Build problem $ENV{DESTDIR} got expanded on cmake call"
#### Issue description

I think you have a mistake in your cmake scripts.
You use `$ENV{DESTDIR}`.
This gets expanded during cmake generating the files for Unix make.
So it gets set to the value the env-var has when calling `cmake`.
But this should be set to the DESTDIR variable when calling `DESTDIR=... make install`!
I need this escaped in the form `\$ENV{DESTDIR}`.

[2019-04-03 16:50] kolbma commented on #1760
@rcurtin Can you try to find the commit between 3.0.4 and master responsible to get the python binding to work?!

I try to package an RPM for openSUSE. So for this I'd like to have a stable working version. Or do you know when version 3.0.5 would be released?

My import error looks like this:
[code]

Also `from .adaboost import adaboost` looks strange for me!

[2019-04-03 21:31] zoq commented on #1826
Not entirely sure, but I think it's fine to set `OMP_NUM_THREADS=1`. Not sure I get what you mean regarding the timing benchmarks, can you clarify that point? Btw. nice picture.

[2019-04-04 09:19] heisenbuug commented on #1207
Hey, I am actually thinking of taking this on as my GSoC project, but I think the implementation is already done. So why is this still listed in GSoC idealist? Does this need reimplementation?

[2019-04-04 19:19] sreenikSS commented on #1254
@rcurtin the parser is almost done. There are a number of critical parameters that need to be addressed. I shall post them tomorrow (extremely tired right now :( )

The PR is over here:
https://github.com/mlpack/mlpack/pull/1837

[2019-04-05 03:10] zhaohaixu opened #1838 "mlpack cmake error:"
![TIM图片20190405111026](https://user-images.githubusercontent.com/49297029/55601420-710d0b00-5793-11e9-9be4-16bed06819fc.png)

[2019-04-05 03:48] rcurtin commented on #1838
Is there a reason you didn't use the issue templates?

It looks like the relevant error is above the line you circled.

[2019-04-05 06:23] chandramoulirajagopalan commented on #1834
I would like to work on this issue. Where did you find that $ENV{DESTDIR} in the source code.

[2019-04-05 06:35] chandramoulirajagopalan opened #1839 "Regarding Python dependencies"
#### Problem location

MLpack Documentation .Readme
#### Description of problem

The documentation doesn't specifically talk about python dependencies as they are generalised for python2.x. I would like the documentation to be more particular for different python versions as python2.x will be deprecated soon.

[2019-04-05 07:55] conradsnicta opened #1840 "crash due to not checking eig_sym() for failure in PositiveDefiniteConstraint::ApplyConstraint()"
`arma::eig_sym()` is not checked for failure in `PositiveDefiniteConstraint::ApplyConstraint()`.
This can lead to a crash due to accessing non-existent eigenvalues.

mlpack/src/mlpack/methods/gmm/positive_definite_constraint.hpp
https://github.com/mlpack/mlpack/blob/2326bf8bd0b380c17eed6b5b1c34fbfab1563774/src/mlpack/methods/gmm/positive_definite_constraint.hpp#L44

The code in `PositiveDefiniteCo

[2019-04-05 08:14] conradsnicta commented on #1840
Similar problems with eig_sym():
* https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/math/lin_alg.cpp#L88
* https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/gmm/eigenvalue_ratio_constraint.hpp#L67
* https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/kernel_pca/kernel_rules/nystroem_method.hpp#L67
* https://github.com/mlpack/mlpack/blob/master/src/mlpack/metho

[2019-04-05 08:25] kolbma commented on #1834
[01-fix-lib-path.patch.txt](https://github.com/mlpack/mlpack/files/3046943/01-fix-lib-path.patch.txt)

Hi @chandramoulirajagopalan,
this is my current patch against 3.0.4 tag to support 64-bit arch targets and to make it install in DESTDIR for bundling.

Although up-to-now the python bindings doesn't work on import. But there is another issue for this at https://github.com/mlpack/mlpack/issues/176

[2019-04-05 11:26] chandramoulirajagopalan commented on #1840
Can I work on this issue ?

[2019-04-05 12:53] rcurtin commented on #1839
Please point to the exact documentation that is not compatible with Python 3.  The dependencies in the readme are not specific to any version of Python.

[2019-04-05 17:45] sreenikSS commented on #1254
Critical comments on it:
1. The init type doesn't take the given parameters into account because it is passed as a template parameter but not as an argument. The fix is quite simple. I am a little tight on schedule but will fix it as soon as I find some time.
2. For model training and testing the code needs to be modified every time one switches from a classification problem to a regression proble

[2019-04-05 18:20] zoq commented on #1840
Sure, feel free to work on the issue.

[2019-04-05 18:20] monicayao commented on #1838
Download doxygen following instructions from here!
http://www.doxygen.nl/download.html

[2019-04-05 18:31] chandramoulirajagopalan commented on #1840
How about writing a try catch block in order to make the code free from generating runtime exceptions ? Will that work or any other idea ?

[2019-04-05 18:35] chandramoulirajagopalan commented on #1840
Generating an error output and then asking it to be fixed will work right ? Instead of getting a runtime exception.

[2019-04-05 19:25] rcurtin commented on #1840
@chandramoulirajagopalan: Conrad just opened a PR in ensmallen with an example of how we should handle these issues.  You can adapt that strategy.

[2019-04-05 21:11] rcurtin commented on #1834
Hey @kolbma, thanks for the report.  Have you tried against the git master branch?  There were some fixes for this in the time past.  I understand the report and you are right that at least in 3.0.4 the problem exists exactly as you describe it.  However, newer versions use `PythonInstall.cmake` as a script that's called directly at install time, and I think this may not have the problem you descr

[2019-04-05 21:14] rcurtin commented on #1826
OpenMP may have a little bit of overhead when you compile with `-D USE_OPENMP=ON` but it's not likely to be seriously noticeable.  So running with `OMP_NUM_THREADS=1` should be pretty close to fine.  You can always compile both ways and compare, but I wouldn't expect the difference to be more than a few percent when running machine learning algorithms on large data.

[2019-04-06 07:36] ShikharJ commented on #1782
Added in #1800.

[2019-04-06 07:36] #1782 closed

[2019-04-06 12:46] KimSangYeon-DGU commented on #1658
I want to keep this open.

[2019-04-06 12:47] zoq commented on #1658
Agreed, let's add the keep open label.

[2019-04-06 12:49] conradsnicta commented on #1840
For the specific case of `PositiveDefiniteConstraint::ApplyConstraint()`, I suggest calling [`arma::symmatu()`](http://arma.sourceforge.net/docs.html#symmat) or [`arma::symmatl()`](http://arma.sourceforge.net/docs.html#symmat) before doing the eigen decomposition via [`eig_sym()`](http://arma.sourceforge.net/docs.html#eig_sym).  This is in addition to checking whether the eigen decomposition succe

[2019-04-06 15:33] 8hantanu commented on #1826
@zoq By timing report, I meant the runtimes along with the benchmark results. Anyway, I found the Timer API useful for finding runtime of code sections. Thanks for the compliment :)

@rcurtin Thank you for clarifying. Will be using `OMP_NUM_THREADS=1`, since its quicker than recompiling.

Since I have a little experience with OMP I thought implementing parallelized algorithms would be a great way

[2019-04-06 15:33] #1826 closed

[2019-04-07 03:27] Akeepers opened #1844 "Some expired URLs on the website https://www.mlpack.org "
#### Problem location

[python quickstart](https://www.mlpack.org/doc/mlpack-3.0.4/doxygen/python_quickstart.html)

* [Python mlpack binding documentations](http://www.mlpack.org/docs/mlpack-git/python.html)
* [mlpack C++ tutorials](http://www.mlpack.org/docs/mlpack-git/doxygen/sample.html)
* [Simple sample C++ mlpack programs](http://www.mlpack.org/docs/mlpack-git/python.html)
* [mlpack Doxygen d

[2019-04-07 09:43] chandramoulirajagopalan commented on #1840
Should I give an error output if the values don't exist ?

[2019-04-07 10:02] kolbma commented on #1834
Ok. I'll have a look in the next days...

[2019-04-07 10:08] chandramoulirajagopalan commented on #1840
For Cholesky Decomposition the method returns a double value what to return if it fails, apart from an error message ?

[2019-04-07 11:32] chandramoulirajagopalan commented on #1840
Created a pull request can someone check that out ? Any improvements needed ?

[2019-04-07 15:56] MuLx10 opened #1846 "RNN: Fails to run Predict() if called before Train()."
#### Issue description
[code]
Running the above snippet produces :
[code]
However, if the last line in the above snippet is replaced by:
[code]
It works perfectly.
#### Steps to reproduce

Running the [code](https://pastebin.com/LNafNMUu).

#### Expected behaviour

RNN class methods Predict() and Train() (actually Evalute()) should be consistent.

#### Actual behavior

Fails to run Predict() if ca

[2019-04-07 16:06] MuLx10 commented on #1844
Replace [http://www.mlpack.org/docs/*](#) with [http://www.mlpack.org/doc/*](#)

[2019-04-07 16:06] chandramoulirajagopalan commented on #1846
Can I work on this issue ? Should we just modify the predict function to call train and evaluate in itself implicitly not explicitly by the user ? Will that work ?

[2019-04-07 16:06] RMaron commented on #1846
I have the same problem, it has something to do with the model's parameters not being initialized beforehand. You can try printing the parameters before calling Train, they're empty. Predict does call Reset() if they're empty but for some reason that doesn't seem to do anything.

[2019-04-07 16:18] MuLx10 commented on #1846
@chandramoulirajagopalan I figured out the fix. I guess calling Train() inside Predict is not a good way. One reason would be that targets are not available. Also, Training may take time. Usually Predict is called to check whether the output shapes are consistent. @RMaron Reset() is called in both however, some parameters like `outputSize'  were only set during Evaluate().

[2019-04-07 16:24] RMaron commented on #1846
@MuLx10 The error is caused directly by outputsize being 0. 1 is subtracted from it and it underflows. Then it tries to use that number as an index

[2019-04-07 16:31] chandramoulirajagopalan commented on #1840
Should we use is_empty() to check if the matrix is reset or not for chol() function to prevent from runtime error ?

[2019-04-07 16:39] MuLx10 commented on #1846
@RMaron Exactly.

[2019-04-07 17:41] halwai commented on #1772
@Shubhangi100  Nope, I am not.

[2019-04-08 02:11] rcurtin commented on #1658
Since #1666 is merged this is done. :+1:

[2019-04-08 02:11] #1658 closed

[2019-04-08 02:14] rcurtin commented on #1633
The implementation and implementation tests are done now, but the binding and speed comparison is not done yet, so that's all that remain.

[2019-04-08 06:52] conradsnicta commented on #1840
@chandramoulirajagopalan You may have used an old version of mlpack as the base for your work. For example, why are you modifying the following files ?
src/mlpack/methods/ann/layer/lstm.hpp
src/mlpack/methods/ann/layer/lstm_impl.hpp
src/mlpack/tests/ann_layer_test.cpp
src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp

Also, it's not clear why you have `#include <iostream>`, and use the

[2019-04-08 07:11] conradsnicta opened #1849 "bug in ccov() due to use of internal armadillo classes"
The `ccov()` function in `mlpack/src/mlpack/core/arma_extend/fn_ccov.hpp` uses internal armadillo classes: `Op` and `Glue`:
https://github.com/mlpack/mlpack/blob/3ad649c7f780abf87193859732f866f2119093ac/src/mlpack/core/arma_extend/fn_ccov.hpp#L8
https://github.com/mlpack/mlpack/blob/3ad649c7f780abf87193859732f866f2119093ac/src/mlpack/core/arma_extend/fn_ccov.hpp#L22

In armadillo 9.400 (under deve

[2019-04-08 08:26] chandramoulirajagopalan commented on #1840
That was my first pull request so did not know how to do it. I will fix them now and make a new pull request.

[2019-04-08 09:09] conradsnicta commented on #1840
@chandramoulirajagopalan You may also want to have a look at the documentation for arma::chol(). There is a form which outputs a bool to indicate success.

[2019-04-08 09:17] chandramoulirajagopalan commented on #1840
@conradsnicta The documentation under arma::chol() doesnot have any boolean functions to check if it succeeded or not. Maybe checking if the decomposed matrix is empty or not would work fine I guess.

[2019-04-08 11:32] chandramoulirajagopalan commented on #1849
Can I work on this issue?

[2019-04-08 11:45] conradsnicta commented on #1840
@chandramoulirajagopalan Your code is still not right.  The documentation for [chol()](http://arma.sourceforge.net/docs.html#chol) states:

The following will throw an exception if the decomposition fails:

    covLower = arma::chol(covariance, "lower");

so it will never reach this point:

    // Check if Cholesky Decomposition exists, if not raise an error log.
    if (covLower.is_empty())
    {

[2019-04-08 11:48] chandramoulirajagopalan commented on #1840
okay thanks yeah will modify that

[2019-04-08 11:51] chandramoulirajagopalan commented on #1840
But according to the decomposition the matrix will be reset right ? So what if we check if it is empty or not after the decomposition ? It is not safe to access memory locations that aren't present but here if the decomposition fails it is being reset so checking after the assignment will affect the program ?

[2019-04-08 11:53] conradsnicta commented on #1840
@chandramoulirajagopalan Make sure you only modify the files that are specific to fixing these bugs. In your PR you modified `src/mlpack/methods/linear_svm/linear_svm_impl.hpp`, which is not related to these bugs.

In the function `PositiveDefiniteConstraint::ApplyConstraint()`, I recommend to explicitly enforce symmetry on the given matrix via `symmatu()` or `symmatl()`.

[2019-04-08 11:55] conradsnicta commented on #1840
@chandramoulirajagopalan As the documentation states, if `R = chol(X)` fails, R is reset _and_ and exception is thrown. The exception will cause the program to be immediately aborted, as the exception is not caught.

[2019-04-08 12:01] conradsnicta commented on #1849
@chandramoulirajagopalan - I'd suggest that it's better to finish one PR properly (ie. your work on https://github.com/mlpack/mlpack/issues/1840), and then look at making another one. You seem to be working too fast, which can lead to easy mistakes.

[2019-04-08 12:36] heisenbuug commented on #1725
@MuLx10 I am interested in working on this one, I am actually a bit familiar with LSTMs. I made this page for my GSoC proposal: https://heisenbuug.github.io/Long-Short-Term-Memory/
You were asking for a hand in IRC so I want to help...

[2019-04-08 13:18] jeffin143 opened #1854 "An alternate for imputation handling"
Currently we use our imputer function to handle missing data, no doubt it is good to handle using imputer function, but we could look for some alternative.

Instead of a user handle missing values we could let our algorithms handle it. Some ways to handle may be,Duplicates may be there :

- Allow our algorithm to call the imputer function via a **constructor internally**, for example
      `Linear

[2019-04-08 14:49] conradsnicta commented on #1849
@rcurtin I'm too busy make a proper PR, so here is the next best thing.
Attached is `ccov.txt` (because GitHub won't let me attach .hpp files): [ccov.txt](https://github.com/mlpack/mlpack/files/3054801/ccov.txt)
The code is an adapted form of `core/arma_extend/*ccov*.hpp` so that it doesn't use internal armadillo functionality.

The file should be renamed to `ccov.hpp` and placed into `src/mlpack/

[2019-04-08 15:21] chandramoulirajagopalan commented on #1840
I modified src/mlpack/methods/linear_svm/linear_svm_impl.hpp because the style checks wasn't building properly and there was some extra space inside the function arguments, so I just deleted it to make sure it was passing the build and yes I will make exceptions for that as you said. I have one more problem http://ci.mlpack.org/job/pull-requests-mlpack-static-code-analysis/1469/cppcheckResult/ I d

[2019-04-08 16:39] chandramoulirajagopalan commented on #1840
Can you verify the commit? Is it as required or any other changes to be done ?

[2019-04-08 16:45] jeffin143 commented on #1849
@conradsnicta , I tried doing what you said, throws up an error

` No rule to make target '../src/mlpack/core/arma_extend/fn_ccov.hpp', needed by 'src/mlpack/cotire/mlpack_CXX_prefix.hxx.gch`

[2019-04-08 16:49] jeffin143 commented on #1849
resolved

[2019-04-08 17:30] greatsharma commented on #1854
I agree, me to think that we have very few and less robust methods for imputation in mlpack. I indeed added one new method which impute mode for voids in the dataset in PR #1790 but still it's not that robust method of imputation. And I personally think that we should go with hot deck imputation method ( indeed I decided to work on it ) or other imputation method like knn which might be computatio

[2019-04-08 18:12] greatsharma commented on #1854
Apart from this I also think that there are very few metric classes in mlpack. Some extensively used metrics like R2 and adjR2 for regression are missing which are widely used. Apart from this some metric for classification is also missing. I indeed took an initiative for this around 3 weeks back by adding various new metric classes in PR #1796 with tests.

Apart from this we only have one error i

[2019-04-09 04:00] conradsnicta commented on #1840
@chandramoulirajagopalan Your code still has lots of mistakes.  I suggest you thoroughly analyse the program flow, and run tests on each function that you change, before submitting pull requests.

[2019-04-09 04:31] chandramoulirajagopalan commented on #1840
I am closing the pull request for now. Can you please review the code I commit into my forked repository so that it will be easy instead of building it every time I commit.

[2019-04-09 04:51] conradsnicta commented on #1840
@chandramoulirajagopalan sorry, I won't have time to go through your repo. I suggest you submit another PR after you have fixed all the problems and thoroughly tested the code (both automatically and manually, by carefully analysing the program flow).

[2019-04-09 04:52] chandramoulirajagopalan commented on #1840
okay thanks will do that.

[2019-04-09 06:36] saumya007 opened #1857 "mlpack/core.hpp not found mac os mojave"
I am new to mlpack. I just installed mlpack on my system and I don't know how to get started with mlpack in mac os. When I did #include<mlpack/core.hpp>, I got the error mlpack/core.hpp not found. Could anyone please help me out with this?

[2019-04-09 07:15] chandramoulirajagopalan commented on #1840
@conradsnicta https://math.stackexchange.com/questions/654465/do-all-square-matrices-have-eigenvectors This link above says every matrix has eigenvalues but it depends whether it is real or complex. So I think the issue here is to check whether the eigenvalue returned is complex or not ? If there are any matrix which do not have eigen values.So the condition here is to check whether the input matr

[2019-04-09 08:38] chandramoulirajagopalan commented on #1840
I think this should do
[code]
This should be fine before executing eig_sym().

[2019-04-09 12:36] MuLx10 commented on #1725
Apologies for the delay. Sure, we will distribute work. Also, it's better to discuss the idea in IRC.
Thanks for the help.

Mehul Kumar Nirala
Department of Computer Science and Engineering,
IIT Kharagpur
mehulkumarnirala@iitkgp.ac.in
+91-9474415026

From: "Gopi Manohar T" <notifications@github.com>
To: "mlpack/mlpack" <mlpack@noreply.github.com>
Cc: "Mehul Kumar Nirala" <mehulkumarnirala@iitkgp.a

[2019-04-09 12:41] heisenbuug commented on #1725
Yea, i agree IRC will be a better place to discuss these issues.

[2019-04-09 19:21] zoq commented on #1857
Hello @saumya007, my first guess, the compiler doesn't look in the right place. How does the build command look like?

[2019-04-09 19:27] zoq commented on #1844
@Akeepers nice picture, looks like Spotify.

[2019-04-09 19:31] rcurtin commented on #1844
I think they are mentioned in the documentation on the new site that is for the old versions.  Probably I can just fix this with some regex on the Doxygen documentation for old versions.  I'll do that when I have a chance (so it will be a little while) unless someone beats me to it with the scripts on mlpack.org.  But I am not sure those are very easy to approach...

[2019-04-09 19:33] zoq commented on #1844
Ahh, haven't checked the python quickstart link.

[2019-04-10 10:38] alberto-santini opened #1858 "Q-Learning: most of the runtime is spent by openmp waiting"
#### Issue description

I am using `QLearning` with an `FFN`. I play each game for 150'000 turns (i.e., 150'000 actions are played). I would like to play 1000 such games (i.e., 1000 episodes).
Already at the first game, however, I noticed that the programme became abruptly slower after iteration 7500 and, from there on, it was just getting slower and slower. Memory, however, is under control and v

[2019-04-10 13:54] chandramoulirajagopalan commented on #1840
@rcurtin Will that idea work ? Because when I tested it locally I got error while executing the following [code](https://github.com/mlpack/mlpack/issues/1840#issuecomment-480798003) So I just went through the stackoverflow [link] (https://math.stackexchange.com/questions/654465/do-all-square-matrices-have-eigenvectors) , since arma:: matrices can return complex numbers too there is always eigenval

[2019-04-10 13:57] chandramoulirajagopalan commented on #1840
@rcurtin Will that idea work ? Because when I tested it locally I experienced runtime errors while executing the following [idea](https://github.com/mlpack/mlpack/issues/1840#issuecomment-480798003). So I just went through this stackoverflow [link](https://math.stackexchange.com/questions/654465/do-all-square-matrices-have-eigenvectors), since arma:: matrices can return complex numbers too there i

[2019-04-10 15:05] daowanpeng commented on #1760
I have the same problem as you, have you resolve it ?

[2019-04-10 15:06] alberto-santini commented on #1858
I can confirm that the slow-down starts after the exploration phase is over. I validated this by just changing the number of exploration steps to 15000 and the slow-down started at that point. One could think this is normal, except the profiler shows most of the time is spent in the openmp waiting functions, which I think is not normal.

[2019-04-11 13:54] Akeepers commented on #1844
I tried, but it still doesn't work. Actually, I found more expired URLs in Wiki, such as [list of tutorials](http://mlpack.org/docs/mlpack-git/doxygen/tutorials.html)

[2019-04-11 18:44] #396 closed

[2019-04-11 19:57] zoq commented on #1858
Thanks for the bug report, at a first glance I think the sample code is good enough to reproduce the issue. One more thing, can you post the output of ``omp_get_thread_num();`` Also do you see the same problem if you set ``omp_set_num_threads(1)`` at the beginning?

[2019-04-12 01:24] conradsnicta commented on #1840
@chandramoulirajagopalan I suggest you re-read the docs for chol(), eig_sym() and eig_gen().

[2019-04-12 03:43] rcurtin commented on #1849
@conradsnicta thanks for the report, sorry for the slow response on my end.  Originally when I wrote this (...eight years ago??) the goal was to eventually submit it as a patch to you to add.  I think that you didn't want to include it, which is fine, so we just piggybacked it here and then it got a bit forgotten about.

I think it's not necessary to hook it up to the whole delayed evaluation infr

[2019-04-12 03:56] chandramoulirajagopalan commented on #1840
I have gone through the docs @conradsnicta but while I try to execute it under cases where eigenvalues do not exist I still get runtime error.  Log::Fatal does not get executed. The block inside if is returning a runtime exception. So instead of running the function eig_sym() the only way I thought to avoid the runtime error is by checking if the matrix is empty or if it is not symmetrical or if i

[2019-04-12 04:05] rcurtin commented on #1854
It would be really hard to expect the algorithm to handle missing values.  Not every algorithm is designed to handle that, and it would be a non-trivial research task to adapt some of them.

So I would suspect that it would be best for us to stick to our current abstraction of "data is an Armadillo matrix that has real-valued numbers for each entry".  I hope this comment is helpful to your ideas.

[2019-04-12 04:57] chandramoulirajagopalan commented on #1840
@conradsnicta
https://gitlab.com/conradsnicta/armadillo-code/blob/9.400.x/include/armadillo_bits/auxlib_meat.hpp#L1698
the if condition in the library is returning true if the eigenvec is empty and the size of eigenval depends on the size of eigenvec https://gitlab.com/conradsnicta/armadillo-code/blob/9.400.x/include/armadillo_bits/auxlib_meat.hpp#L1707 so the size of eigenval will be zero only wh

[2019-04-12 05:10] jeffin143 commented on #1854
@rcurtin , Yep thanks :)

[2019-04-12 05:10] #1854 closed

[2019-04-12 05:47] conradsnicta commented on #1840
@chandramoulirajagopalan You're not understanding how the code works.  What does `return (info == 0)` do?  Where is the variable `info` modified?  Please trust the documentation instead of reading through internal armadillo code.

[2019-04-12 05:51] chandramoulirajagopalan commented on #1840
I get eig_sym() value to be true even if the input matrix is empty while executing the code. So and then while calling eigval[0] it returns a runtime error again.

[2019-04-12 06:08] conradsnicta commented on #1849
If I recall correctly, I wasn't entirely convinced that incorporating a specialisation for `cov(trans(X))` was worth it, at least when looking from a speed point of view. Transpose is pretty quick, as it's essentially a glorified copy operation. The most time consuming operation inside the `cov()` function is the matrix multiplication, which should take far longer than applying the transpose on th

[2019-04-12 06:09] conradsnicta commented on #1849
@rcurtin If I recall correctly, I wasn't entirely convinced that incorporating a specialisation for `cov(trans(X))` was worth it, at least when looking from a speed point of view. Transpose is pretty quick, as it's essentially a glorified copy operation. The most time consuming operation inside the `cov()` function is the matrix multiplication, which should take far longer than applying the transp

[2019-04-12 06:21] conradsnicta commented on #1840
That's a separate issue from an actual eigen decomposition failure.

[2019-04-12 14:12] alberto-santini commented on #1858
Hi zoq. Thanks for your answer.

I am not sure if you really meant `omp_get_num_threads` (1) instead of `omp_get_thread_num` (2), so I collect both statistics.

If I print these values before calling the first `.Episode()`, then I get that there is 1 thread in the team from (1) and that I am currently in thread 0 from (2). Unsurprising, I think.

If I print the values from inside `Sample()`, howev

[2019-04-12 17:06] rcurtin commented on #1849
Right, transpose is quick, but for the use case I'm considering, the cost of `X * trans(X)` is going to be similar.

If you're willing to accept a patch for `cov(trans(X))` I think that would be great, and then on our end since we try to support older versions of Armadillo, we'll use `#if ARMA_VERSION < (what we need)`, then just hijack the `cov(trans(X))` call to call out to our internal `ccov()`

[2019-04-13 02:27] johnsoncarl commented on #1699
@Hemal-Mamtora @shardulparab97 , I hope none of you guys is working on the lossless Losses for the siamese networks.
I have begun with it. Just to make sure in case anyone is working.
I want to work on the same.

[2019-04-13 07:25] johnsoncarl commented on #1699
Hey @zoq , I couldn't see any activities in this lately.
What is the current status for this?

[2019-04-13 20:15] zoq commented on #1699
@johnsoncarl Are you talking about Contrastive Loss or the Triplet Loss? There is an open PR for the Triplet Loss (https://github.com/mlpack/mlpack/pull/1744) which lacks a test.

[2019-04-13 20:22] cascala commented on #1858
Side question: How does one retrieve the learned parameters from a QLearning agent instance?

[2019-04-13 20:33] johnsoncarl commented on #1699
Hey @zoq ,
I'm talking about adding "lossless triplet loss".

[2019-04-13 20:48] cascala opened #1861 "Extracting learned parameters from a QLearning instance"
Hey folks,

How does one extract the learned parameters from a QLearning instance?

The obvious things don't seem to help me:
* The learningNetwork variable in q_learning.hpp is private...
* and there is no accessor function either

Is there a public member function that I can use?

Thank you!

[2019-04-13 21:06] zoq commented on #1699
So, #1744 should be helpful, feel free to build on the open PR.

[2019-04-14 16:23] alberto-santini commented on #1858
@cascala : I don't think it's a great idea to mix questions in unrelated issues. However, I think you can serialise your whole neural network, have a look at [::serialize](http://www.mlpack.org/doc/mlpack-3.0.4/doxygen/classmlpack_1_1ann_1_1FFN.html).

[2019-04-14 16:31] cascala commented on #1858
Good point, I moved my question to [another issue](https://github.com/mlpack/mlpack/issues/1861#issue-432898260). Thank you for the suggestion.

[2019-04-14 19:12] chandramoulirajagopalan commented on #1840
what should I return for a vector when there is failure in eigen decomposition.

[2019-04-14 20:04] zoq commented on #1861
Good point, I think providing a function to access the learned network should solve the issue. I can open a PR, unless you already have something ready?

[2019-04-14 21:16] cascala commented on #1861
@zoq
Let me have a look; I will send over a pull request later this week.

Is there any other agent that already does this (so I can mimic the same code and naming style)?

If not, would you prefer that I add an accessor to the parameters only (return type arma::mat), or a copy of the entire trained model (with layers etc.) (return type NetworkType).

[2019-04-14 21:25] zoq commented on #1861
I would go with the a getter/setter for the complete network, afterwards a user could do `LearningNetwork().Parameters()` to e.g. get the learned parameter. Here is an example:

https://github.com/mlpack/mlpack/blob/00d07ea35a396dfc80f38b4ba6f18b4b6bc4f77e/src/mlpack/methods/ann/gan/gan.hpp#L289-L292

Let me know what you think.

[2019-04-15 22:28] gmanlan opened #1863 "mlpack_test.exe fails for some tests when running on Windows [3.1.1 release]"
When building mlpack x64 from source, some tests fail when executed in a local Windows 10 system. These errors are diverse so if required, we can split them into different submissions.

**Build configuration:**
- mlpack 3.1.1 release or master branch
- Boost 1_65_1 (lib64-msvc-14.1)
- armadillo-9.300.2
- OpenBLAS built using msvc - branch develop (April 2019)
- Visual Studio 15 2017 Win64
- x64

*

[2019-04-15 23:39] gmanlan commented on #1757
The Windows tutorial for building mlpack refers to https://sourceforge.net/projects/boost/files/boost-binaries/1.66.0/ which allows you to download the Boost dependency with the msvc-14.1 binaries. I have tested the entire tutorial moments ago and works fine. I suggest verifying every single path involved in your build process (double check directory names, if the libraries are there, etc.).

[2019-04-16 19:30] cascala commented on #1861
Addressed in pull request #1865

[2019-04-16 19:32] rcurtin commented on #1861
Let's not close the issue until the fix is merged.

[2019-04-17 01:37] dbsxdbsx opened #1866 "Question on Running ANN example,"ensmallen.hpp" cannot be found"
I followed official tutorial [here ](http://mlpack.org/doc/mlpack-3.0.4/doxygen/build_windows.html)to build MLPACK.  But i failed to compile example for ann which taught [here](https://medium.com/@vedant_bassi/extremely-efficient-feedforward-neural-network-implemented-in-mlpack-a-basic-tutorial-9bc516ce9576) on win10.   The error is "No such file or directory".

Indeed, I found "ensmallen.hpp" in

[2019-04-17 02:10] rcurtin commented on #1866
Can you try adding `C:\mlpack\mlpack-3.0.4\build\deps\ensmallen-1.14.2\include` to the include directories for the project?

[2019-04-17 03:03] yangninghua opened #1867 "clion+mlpack"
clion+mlpack
``
/home/spple/clion-2018.2.5/bin/cmake/linux/bin/cmake -DCMAKE_BUILD_TYPE=Debug -G "CodeBlocks - Unix Makefiles" /home/spple/code/mlpack-mlpack-3.0.4
-- cotire 1.7.10 loaded.
-- Armadillo libraries: /usr/lib/libarmadillo.so
-- Boost version: 1.58.0
-- Found the following Boost libraries:
--   program_options
--   unit_test_framework
--   serialization
CMake Warning at CMakeLists.txt:

[2019-04-17 05:31] dbsxdbsx commented on #1866
@rcurtin ，thanks, it issue is solved by including this path, but there seems several libs should be included, as it pops errors like .
Besides, when I searching ANN tutorial of MLPACK, the 1st 3 links should be helpful, but the [links](https://www.google.com.hk/search?hl=zh-CN&q=mlpack%20%20neural%20network) are not valid any more.

[2019-04-17 21:42] zoq commented on #1867
At a first glance this looks really similar to: https://github.com/mlpack/mlpack/issues/1530, which was fixed in https://github.com/mlpack/mlpack/pull/1537. Do you mind to rerun the build against the master branch?

[2019-04-18 13:45] rcurtin commented on #1844
No need to close this yet, I still have one or two things to fix. :+1: Working on it, but rebuilding the website is a bit slow.

[2019-04-18 17:51] zoq commented on #1861
Fixed in https://github.com/mlpack/mlpack/pull/1865.

[2019-04-18 17:51] #1861 closed

[2019-04-19 11:27] Hemal-Mamtora commented on #1699
I've created a new PR #1868 for triplet loss function implementation following a mistake in #1744  which is now closed.

[2019-04-20 08:38] ShikharJ commented on #1715
Fixed in #1724.

[2019-04-20 08:38] #1715 closed

[2019-04-20 21:07] abhinavsagar opened #1871 "Solve overfitting in q-learning"
I just went through DeepMind's paper on Deep Q-Learning for Atari video games. In that paper I found out that initially lots of random actions are taken but as training progresses actions with the maximum q-values are taken. For testing this they used `epsilon` whose implementation is similar to that in `greedy_policy.hpp`. I was thinking if we could take an additional factor into account for swit

[2019-04-22 11:57] MathsionYang commented on #1867
您还，我想问一下，您解决了那个关于Graph Cut RANSAC

[2019-04-22 11:58] MathsionYang commented on #1867
代码有一些错误，我解决不了，您若有时间，请帮我一下1114809057@qq.com

[2019-04-22 18:48] brightprogrammer commented on #1415
I was having the same problem while working on a stock price dataset... I divided each and every component by 1000 and now everything works fine!! So I think that all you have to do is just divide each and every point and its components by it's size!

[2019-04-22 19:32] sreenikSS commented on #1866
@dbsxdbsx the website (and its address) has been updated. Google still points to the old site, you can switch to the new site by replacing *docs* with *doc* in the link. For example, the ANN tutorial site is now:
https://www.mlpack.org/doc/mlpack-git/doxygen/anntutorial.html

This might be a linking error. #1687 might help you.

You do not need to build mlpack differently to include ensmallen. Jus

[2019-04-23 00:03] gmanlan opened #1872 "Build scripts for Python bindings are not correct [Windows]"
#### Issue description

Attempting to build python bindings on Windows using Visual Studio 2017 fails due to several issues:

1) When using the flag BUILD_PYTHON_BINDINGS, CMake still shows a warning about not building python bindings, even though the bindings will be generated (not a roadblock).
2) When the flag BUILD_PYTHON_BINDINGS is ON, the library will be built statically by default. I presu

[2019-04-23 12:54] dbsxdbsx commented on #1866
@sreenikSS , thanks. I  would give it a try soon.

[2019-04-23 17:30] rcurtin commented on #1849
Fixed via #1855.  A patch for `cov(trans(X))` may come eventually but I don't consider it too high priority right now.

[2019-04-23 17:30] #1849 closed

[2019-04-23 22:14] gmanlan opened #1873 "Enforcing Conformance Mode breaks arma_rng.hpp:444 [Windows / VS]"
#### Issue description

Because Conformance Mode is enabled by default in Visual Studio, attempting to compile an mlpack program will fail with the error:

Error C2760 syntax error: unexpected token 'identifier', expected ';' \armadillo-9.300.2\include\armadillo_bits\arma_rng.hpp 444

I have reported this to Microsoft already but it seems the issue is still around. See here:
https://developercommu

[2019-04-23 22:25] gmanlan opened #1874 "Two different versions of the Windows Build Tutorial co-existing (build_windows.html)"
#### Problem location

Website points to: http://mlpack.org/doc/mlpack-3.0.4/doxygen/build_windows.html
Readme.md points to: https://www.mlpack.org/doc/mlpack-git/doxygen/build_windows.html

#### Description of problem

The "build mlpack for Windows from source" documentation is duplicated and is different depending on how you navigate. If you access through the website, you get one version, if yo

[2019-04-24 01:55] dbsxdbsx commented on #1866
@sreenikSS, I tried it just now.  Still , errors like LNK2019 LNK1120 still pos up, but this time I notice  that the lib that it could not find related to blas. And What I've configured with this project is just like that taught in[ RandomForest Example](http://mlpack.org/doc/mlpack-3.0.4/doxygen/sample_ml_app.html) :
[code]
Then, as I took visual studio 2017 as tool on win10,   I configure it wit

[2019-04-24 21:02] zoq commented on #1874
Agreed this is somewhat confusing, since we already cover different build/installation it would be great if we could present each in a more structured view.

[2019-04-24 21:08] #1846 closed

[2019-04-25 01:15] #1867 closed

[2019-04-25 14:59] amirmasoudabdol opened #1877 "Using Sphinx for Documentation"
I'm wondering what you think about producing the HTML files using [Sphinx](https://www.sphinx-doc.org/en/master/). Besides looks, there are a lot of advantages here. The [reStructuredText](http://docutils.sourceforge.net/rst.html) is much more suitable for documentation and many projects adopted it already, e.g., GSL, Boost. Recent Sphinx can produce PDF via LaTeX as well which is handy.

The way

[2019-04-26 01:18] merria28 opened #1879 "build mlpack on windows error LNK2005: libboost"
I had build mlpack.sln project(according https://www.mlpack.org/doc/mlpack-git/doxygen/build_windows.html). At the last step"Build > Build Solution", errors occur in the following:

libboost_program_options-vc141-mt-gd-x64-1_66.lib(value_semantic.obj) : error LNK2005: "public: __cdecl boost::program_options::error_with_option_name::error_with_option_name(class std::basic_string<char,struct std::ch

[2019-04-26 01:23] merria28 commented on #1879
This error is about boost, and i download it from sourceforge
![image](https://user-images.githubusercontent.com/29765699/56777531-b2c62a00-6804-11e9-9e4a-c80981b8d1d2.png)

the MSVC version is 14.1,  Visual Studio 2017 is used.

I cannot figure out the reason.

[2019-04-26 01:55] merria28 commented on #1819
Hi,  i build mlpack as same way as you, but an error occurs when i open the file mlpack.sln and build by vs 2017. The error is about boost LNK2005, i cannot find the reason.  Can you give me some success?

[2019-04-26 03:31] rcurtin commented on #1844
It took me a while but I finally got this to work right.  Let me know if you find any more issues, and thanks for reporting! :+1:

[2019-04-26 03:31] #1844 closed

[2019-04-26 03:37] merria28 commented on #1879
I find the reason:  "mlpack is now available for Windows installation through vcpkg" and manual step by step are conflict. Just use one way to build should solve this error。

[2019-04-26 03:37] #1879 closed

[2019-04-26 05:18] rcurtin commented on #1799
Sorry for the really slow response on this.  Things have been busy on my end...

I think I may understand what is happening here.  When you compile an Armadillo program by hand, I think that it works because it is using the system-installed HDF5 version (via brew).  But when you are compiling mlpack in the anaconda environment, it is using the conda-provided HDF5 version, but the brew-provided Arm

[2019-04-26 06:34] conradsnicta commented on #1873
@gmanlan - For any issues relating to Armadillo, use the issue tracker at GitLab:
https://gitlab.com/conradsnicta/armadillo-code/issues

The relevant code in Armadillo is:

    template<typename T>
    struct arma_rng::randn< std::complex<T> >
      {
      inline
      operator std::complex<T> () const
        {
        T a = T(0);
        T b = T(0);

        arma_rng::randn<T>::dual_val(a, b);

[2019-04-26 08:15] samitpmc commented on #1383
Hi

Is there a way to convert scikit learn model to MLPack compatible model. Basically I want to do the following

1 Create model using scikit learn
2 Convert model to MLPack format
3 Load the model using MLpack and start classifying.

[2019-04-26 08:16] samitpmc opened #1880 "Hi"

[2019-04-26 08:16] samitpmc opened #1881 "Hi"

[2019-04-26 08:18] samitpmc commented on #1881
Hi want to do the following

1 Train a model using scikit learn.
2 Convert the scikit learn model to MLpack model.
3 Load MLPack model to classify

Is there any known way/tool to convert scikit learn model to MLPack model

[2019-04-26 09:23] ShikharJ commented on #1880
Closing for no description. Bye.

[2019-04-26 09:23] #1880 closed

[2019-04-26 09:25] ShikharJ commented on #1881
Duplicate of #1383.

[2019-04-26 09:25] #1881 closed

[2019-04-26 10:03] zoq commented on #1881
@samitpmc I think it would be more clear to open a new issue for the question, with a more descriptive title.  #1383 isn't really related to your question.

[2019-04-26 12:25] sreenikSS commented on #1866
Glad it is fixed. I don't have much knowledge about anything Windows specific or Visual Studio specific (I use Visual Studio Code on Linux Mint), but what I did was configure VSCode to compile it with the following flags:

`-std=c++11 -lboost_serialization -lboost_program_options -usr/local/cuda/lib64/libnvblas.so -larmadillo -lopenblas -lmlpack`

-lnvblas is optional of course given that you have

[2019-04-26 14:38] rcurtin commented on #1383
@samitpmc there is not specific code that does this automatically.  However, you could extract the weights from a scikit model and load them into mlpack with some handwritten code.

[2019-04-26 16:16] jeffin143 commented on #1873
@conradsnicta , Your last line was a gem . :-p

[2019-04-26 16:17] gmanlan commented on #1873
Thanks @conradsnicta. I'm actually ok with the issue (I use the workaround) and you are right, it's a bogus MSVC implementation. However this impacts mlpack because new Windows users are immediately thrown away with an issue like this one. For instance, if you download mlpack and attempt to run the bundled sample-ml-app it will not work because of this. Therefore, in an effort to polish these tiny

[2019-04-27 01:23] yangninghua opened #1883 "Hello, I have compiled mlpack using vcpkg on windows. How can I find data.csv and other files?"
Hello, I have compiled mlpack using vcpkg on windows. How can I find data.csv and other files?

#pragma execution_character_set("utf-8")
// Includes all relevant components of mlpack.
#include <mlpack/core.hpp>
// Convenience.
using namespace mlpack;
int main()
{
	// First, load the data.
	arma::mat data;
	// Use data::Load() which transposes the matrix.
	data::Load("data.csv", data, true);
	// No

[2019-04-27 03:45] rcurtin commented on #1767
Oops, this one should stay open.

[2019-04-27 06:10] rcurtin commented on #1872
Thanks for the clear bug report.  I definitely want to fix this so I'll do my best to provide patches if you can test them (I don't have a Windows setup :)).  For the first three issues, thanks for pointing them out; I opened #1885 which I think will fix those parts.  Let me know if they work (I can't test them on Windows).  Some questions:

Ah, hmm, I am not sure, but do you mean that Python bind

[2019-04-27 06:11] rcurtin commented on #1872
Oops, accidentally clicked the wrong button...

[2019-04-27 06:14] rcurtin commented on #1883
Any file that you have will work; `data.csv` is just meant as a placeholder.  So you can just get a CSV that contains numeric data.  Here's one: http://ratml.org/datasets/winequality.csv

[2019-04-27 06:22] rcurtin commented on #1877
Hey @amirmasoudabdol, I think a lot of your concerns are spot on and it seems like there could be some improvement by using Sphinx.

Oh absolutely, what we have now in `doc/guide/` is really not great.  It might be nice to adapt and rewrite these in some cleaner way.

Yeah, it is true.  I did a lot of work to clean up the formatting of different Doxygen pages.  Here's an example:

http://mlpack.or

[2019-04-27 14:37] #1883 closed

[2019-04-27 15:49] rcurtin commented on #1152
Oops, forgot to mark it 'keep open'.

[2019-04-29 08:13] amirmasoudabdol commented on #1877
Hi Ryan,

Thanks for the reply. I can see some of the complications but hopefully we can work though them, the example you've mentioned for long template types would look like this.

![Screen Shot 2019-04-29 at 09 57 27](https://user-images.githubusercontent.com/1290841/56882866-38481500-6a65-11e9-9b1a-2eaa9d16e085.png)

You see that Sphinx decides to link to classes in the template definition and

[2019-04-29 19:44] #1802 closed

[2019-04-30 03:16] gmanlan commented on #1872
I pulled your branch and tried the changes. When attempting to build the **build_pyx_xx** projects I got a linker error for all of them --> fatal error LNK1181: cannot open input file 'mlpack.lib'

I checked the directory build\src\mlpack\bindings\python\mlpack and it contains:

Mode                LastWriteTime         Length Name
-------                -------------             ------     ----

[2019-04-30 03:58] rcurtin commented on #1872
Hmmm, ok.  What happens if you run one of the `generate_pyx_*` programs that got built?  Or did those also fail to build?

[2019-04-30 17:07] pensivevoice opened #1887 "Increasing the number of trees in the random forest model does not improve performance"
#### Issue description

Increasing the number of trees in the random forest model does not improve performance. It is as if all the trees in the forest are equal. Is there a setting to turn on randomness that I am missing?
[RandomForestNumTreesPotentialBug.txt](https://github.com/mlpack/mlpack/files/3132297/RandomForestNumTreesPotentialBug.txt)

#### Your environment

 * version of mlpack: 3.0.4

[2019-04-30 21:23] gmanlan commented on #1872
The generate_pyx_* were successfully built and if I run it it prints out the python code.

I believe we need to fix a path to the libraries somewhere in the build scripts (that's I believe what I was doing in point (4)). I figured out that the linker is trying to fetch the libs from **/LIBPATH:C:/mlpack/mlpack-python-pr-1885/build** but that's not the right location (it should be <mlpackpath>/buil

[2019-05-01 02:46] gmanlan commented on #1872
Going a step beyond, this is what happens when you go ahead and install the generated mlpack python package:
1) Navigate to \build\src\mlpack\bindings\python
2) From there run python setup.py install
3) Once the package is installed, try importing mlpack in python:

`>>> import mlpack
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "C:\mlpack\mlpack-python-pr-1885\b

[2019-05-01 03:00] gmanlan commented on #1873
@conradsnicta : I have tried the initialization changes you suggested but none of these worked. Errors are pretty much the same as before:
![errors](https://user-images.githubusercontent.com/40178166/57004267-77b85380-6b82-11e9-8428-b261786cf6e6.png)

[2019-05-01 03:48] conradsnicta commented on #1873
@gmanlan - Well, here we have proof once again that MSVC is not exactly reliable. Since there is no possible workaround, the fix must be made in MSVC.

Maybe they pulled their fingers out and fixed this bug in a more recent version of MSVC ?

[2019-05-01 03:58] conradsnicta commented on #1873
@gmanlan - Well, here we have proof once again that MSVC is not exactly reliable. Since there is no possible workaround, the fix must be made in MSVC.  Maybe they pulled their fingers out and fixed this bug in a more recent version of MSVC ?

Over at the so-called "developer community", there is post by Phil Reid dated 07 Aug 2018, stating that "seems to work for me with 15.8.0 preview 5.0".  Then

[2019-05-01 10:30] chandramoulirajagopalan commented on #1840
I get failure in the test cases. What's to be done and the spaces in one of the file ? Can someone help me with that  please ?

[2019-05-02 18:11] gmanlan commented on #1873
Perfect timing.
So I have faced this dilemma many times already since last year: I just updated to the latest VS version, and that indeed solves the problem with Armadillo (conformance mode is enabled and it doesn't complain about arma_rng.hpp). The downside is that the last three versions of VS are introducing a new issue with mlpack:

`Error C3546	'...': there are no parameter packs available to

[2019-05-02 18:22] gmanlan commented on #1873
And it seems the mlpack issue "should" be fixed in an upcoming release of VS: https://developercommunity.visualstudio.com/content/problem/428732/159-c-compiler-regression-template-parameter-pack.html

[2019-05-02 18:51] zoq commented on #1873
The C3546 issue should be fixed with https://github.com/mlpack/mlpack/pull/1667, isn't that an option?

[2019-05-02 21:11] gmanlan commented on #1873
That's great @zoq ! I probably missed that as this bug was submitted for mlpack 3.0.4 and #1667 might be part of mlpack 3.1.0 - which was released just a few days ago. In that case, we can get a win-win by suggesting users to switch to the latest available Visual Studio to get rid of the armadillo (false positive) issue and use it to build mlpack 3.1.0.

[2019-05-03 08:44] #1871 closed

[2019-05-03 10:05] MuLx10 commented on #1887
@pensivevoice thanks for opening the issue. I think there might be a bug. I will let you know if I find any.

[2019-05-03 20:05] gmanlan commented on #1873
Double checked that mlpack **3.1.0** with Visual Studio **15.9.11** works fine and is able to build the samepl-ml-app without disabling conformance mode.

[2019-05-03 20:05] #1873 closed

[2019-05-04 00:23] conradsnicta commented on #1873
@gmanlan - looking forward to the next MSVC bug :)

[2019-05-04 07:06] MuLx10 commented on #1887
I guess #1891 solves the issue.

[2019-05-04 10:35] ShikharJ commented on #1857
Closing for inactivity.

[2019-05-04 10:35] #1857 closed

[2019-05-04 15:51] rcurtin commented on #1887
Right, thanks for pointing it out @MuLx10.  I should have updated this too.  I ended up having some time to look into this yesterday after an IRC discussion and I think I found what the issue was.  Sorry if I stepped on your toes a bit while you were debugging.

@pensivevoice If you can test that #1891 fixes the issue, it would be really helpful. :+1:

[2019-05-04 23:24] gmanlan opened #1892 "Windows pre-built binaries/installer are not being exposed/available for download"
For Windows, we have both a zip file and an MSI installer with pre-built binaries ready to go. However, these artifacts are not officially available. Users will need to dig into AppVeyor recent builds to grab them, and these are not official release versions. Many times new users struggle to build from source, and they are not aware of these artifacts.

At the minimum we could add a section in REA

[2019-05-04 23:40] gmanlan commented on #1874
This issue is covered with: https://github.com/mlpack/mlpack/pull/1893

[2019-05-05 20:52] zoq commented on #1892
Agreed, what I'd like to see is something like this: https://github.com/zoq/install-mlpack/blob/master/homebrew/install.md#ready-to-install-package for different platforms. Simple steps to install and build mlpack, including an example that shows how to use the different interfaces (C++, CLI, python).

So a user could just select the os and maybe the package manager and gets the install steps as r

[2019-05-06 04:16] chandramoulirajagopalan commented on #1839
I will make changes to the documentation by today.

[2019-05-06 16:59] gmanlan commented on #1892
That's great. I believe we can join efforts to fix this. I've started exploring the possibility of augmenting the website in such a way that we have more flexibility to cover stuff like this which is not necessarily coming from source code commits.

For example, the OS and package manager/platform selector could be something that lives entirely in the website... let me work a little bit on that.

[2019-05-06 19:48] #1797 closed

[2019-05-07 00:05] pensivevoice commented on #1887
Thanks so much for looking into it. Now changing the number of trees makes a difference but not in the expected way. Training performance follows an inverted U shape: it reaches a maximum at some point instead of continue increasing with the number of trees.  Also training performance peaks at a low value. It is not what you would expect from a random forest model with enough trees and a small min

[2019-05-07 00:43] pensivevoice commented on #1887
Thanks so much for looking into it. Now changing the number of trees makes a difference but not in the expected way. Training performance follows an inverted U shape: it reaches a maximum at some point instead of continue increasing with the number of trees. Also training performance peaks at a low value. It is not what you would expect from a random forest model with enough trees and a small mini

[2019-05-07 13:48] jeffin143 commented on #1892
Also saw that we have installation through conda and npm, we should also mention them.

[2019-05-07 14:22] zoq opened #1894 "Code of Conduct"
One of the requirements to become a sponsored project of NumFOCUS (see [1] for more details) is to have a Code of Conduct. After some research, I would adopt the Contributor Covenant CoC (see [2] for more details), which is a drop-in code of conduct that is used by over 40,000 open source projects, including Kubernetes and Rails. The document covers the main points and is clearly written. In addit

[2019-05-07 15:49] gmanlan commented on #1873
FYI: https://developercommunity.visualstudio.com/content/problem/558844/error-c3546-there-are-no-parameter-packs-available.html

[2019-05-07 15:57] gmanlan commented on #1892
One problem though is that some of these distribution channels are not often updated. For instance, some channels are distributing binaries as old as mlpack 2.0 and can only be updated manually. Therefore, we should make sure first that any distribution channel we mention is up-to-date and can be automatically updated when we do a release. Otherwise it creates more problems than help.

Do we know

[2019-05-07 16:02] rcurtin commented on #1892
I handle Fedora/RHEL/CentOS and PyPI, but I haven't managed to automate either (yet!).  Barak Pearlmutter handles the Debian package and as far as I can tell keeps it quite up to date.  There might be a slight delay in updating to 3.1.0, since now ensmallen is a new dependency.  At least for Fedora, I am waiting for that package to be reviewed and included before I can release 3.1.0.

[2019-05-07 16:11] gmanlan commented on #1892
Great, I'm compiling the list - I believe it will be useful to show all the alternatives in the website.

[2019-05-07 16:22] jeffin143 commented on #1892
May be after @gmanlan makes a consolidated list we could automate some of them :)

[2019-05-07 18:29] zoq commented on #1892
I'm working on an automated process for the one I mentioned above. The homebrew package is already done.

[2019-05-07 18:40] jeffin143 commented on #1892
Wonderful , So may be the List could be of some sort of following structure

distribution channels   ---  up-to-date  (Y/N)    -----       automatically updates Available (Y/N)

[2019-05-07 19:52] pensivevoice commented on #1887
In case this might help this is the output I obtained after running the attached program. Here Type is training data (as opposed to test data), Trees is the number of trees in the forest, MLSz is the minimum leaf size parameter, Acc stands for accuracy and Prec for precision.
[RandomForestNumTreesBug2.txt](https://github.com/mlpack/mlpack/files/3154307/RandomForestNumTreesBug2.txt)

  Type,  Trees

[2019-05-08 02:19] conradsnicta commented on #1894
In principle I'm okay with most of the CoC. However, the following clause/point is problematic: "Other conduct which could reasonably be considered inappropriate in a professional setting".

I agree with the spirit of the clause, but not the letter.  Putting on a lawyer hat, the problem is that the clause is too open ended, subject to interpretation, and context dependent (eg. "what" professional

[2019-05-08 11:33] rcurtin commented on #1887
You're right, there is something else wrong here.  I am currently digging into the issue.

[2019-05-08 19:20] pensivevoice commented on #1887
It was pointed out to me that I should use the template  MultipleRandomDimensionSelect<NumDimensions> instead of RandomDimensionSelect. When doing this the random forest model seems to work as expected. I am attaching a sample C++ program that illustrate how to use the random forest model so that it performs as most users would expect. The results now look good. Once again thanks for looking into

[2019-05-08 21:23] zoq commented on #1894
Agreed, we should probably remove the points from the document. I think you can say each point in the "Our Standards" section is somewhat vague. But the two points mentioned might be to open ended.

[2019-05-09 03:51] jeffin143 commented on #1863
@gmanlan , did u reproduce the issue with 3.1.0 ?

[2019-05-10 03:05] gmanlan commented on #1892
I have somehow organized all the options based on sections (sections are driven by OS or OS agnostic). It looks like this so far:

**Python**
- Get via pip or conda: "mlpack in Python quickstart guide"

**Ubuntu, Debian, Fedora, Red Hat**
- Install using a package manager: "mlpack command-line quickstart guide"
- Build from source: build.html linux instructions

**Windows**
- Download prebuilt bin

[2019-05-10 11:10] zoq commented on #1892
Actually, I was thinking about something similar to what pytorch provides (https://pytorch.org). Each could link to a more in-depth usage guide, just like the ones we already provide. That makes it also easy to add new combinations, like we do have packages for Haiku and FreeBSD as well, that aren't mentioned on the website. I could write something like this in javascript if you like the idea. Let

[2019-05-10 12:24] rcurtin commented on #1892
There's an Arch Linux package also.  It looks like it's a little out of date but not much.  I found this too: https://repology.org/project/mlpack/versions

[2019-05-10 16:34] gmanlan commented on #1892
That's a great idea @zoq. Would you be able to write a JS snippet, that's somehow easy to maintain - e.g. maybe a JSON is required? I can quickly include it in the upcoming website and see how it fits.
@rcurtin: I think I will add the repology link as a "more/other options" note. The more options we provide, the easier it will be for users to find the right entry point. We will have time later to

[2019-05-10 18:36] #1874 closed

[2019-05-10 20:21] zoq commented on #1892
Will sketch something up and post the code here (probably tomorrow). Do you have already have a first impression of the changed design?

[2019-05-10 21:27] rcurtin commented on #1894
I feel somewhat lucky that we've never needed a code of conduct (or at least I have never perceived a serious and urgent need for one); I've seen some really harsh and awful conduct on other repositories in the past.  So, having a CoC is definitely a good thing, and I think it is the norm for projects to include these now.  The CoC you linked to is just fine to me, though Conrad does have a point

[2019-05-11 01:13] gmanlan commented on #1892
I'm working on it, but still evolving and not final. Don't worry about design, the raw snippet will do. I will then apply CSS to make it compatible with whatever final design we use.

[2019-05-11 12:47] zoq commented on #1892
Sounds good, was just curious.

[2019-05-12 00:17] rcurtin commented on #1565
Thanks @jeffin143 and @Hemal-Mamtora.  It looks to me like all of the classifiers now have `--predictions` as output not `--output`.  So we now have consistency. :+1:

[2019-05-12 00:17] #1565 closed

[2019-05-12 12:47] conradsnicta commented on #1840
Closing as the discussion has veered off into tutorials on linear algebra and how to code. Feel free to open as a fresh new issue.

[2019-05-12 13:48] jeffin143 commented on #1892
@zoq @rcurtin , Is this our package [https://www.npmjs.com/package/mlpack](https://www.npmjs.com/package/mlpack)

[2019-05-12 20:32] zoq commented on #1892
Looks like it, but the package dosn't provide any functionality: https://npm.runkit.com/mlpack/main.js?t=1557692928706

[2019-05-12 23:26] zoq commented on #1892
First concept, there is still some things left todo:

https://gist.github.com/zoq/8a1be219c64061b78100ba84c5d020e7
https://gist.github.com/zoq/3cdb60986a6978a60a83a0241f29305f

[2019-05-12 23:53] #1838 closed

[2019-05-13 03:18] rcurtin commented on #1872
Thanks for the information, and sorry for the slow response---this fell down on the list a little bit.

I think I know what is happening---the `generate_pyx_*` programs build successfully, but each `.pyx` is empty.  The fact that those are empty is almost certainly why the import fails (nothing actually gets compiled).  I looked more closely and realized I am assuming that `generate_pyx_*` is in `

[2019-05-13 16:06] gmanlan commented on #1872
That's right. Last week I said I was going to update here with my findings but you beat me to it. The ${CMAKE_BINARY_DIR}/bin/ issue was one and the other is a missing openblas reference somewhere, but let me test the new version and report back, thanks!

[2019-05-13 16:15] abernauer commented on #1706
If this issue still needs to be addressed up for helping.

[2019-05-13 20:46] gmanlan commented on #1872
So I tried the new changes but these errors are blocking the way:

[code]
And then...
[code]
I noticed that setup.py is not being generated/copied into any directory.

[2019-05-13 20:48] rcurtin commented on #1872
Ah, sorry, forgot to check in a file.  ed6e3f57 should fix it---sorry about that.

[2019-05-14 02:55] gmanlan commented on #1872
Ok we are getting close, but still facing some issues. Now it seems the linker is unable to find the boost libs. Also the CUSTOMBUILD warnings (or errors?) are unexpected as this is a static build.

[code]

[2019-05-14 11:53] #1834 closed

[2019-05-14 20:23] zoq commented on #1858
Let's keep this open, still have to take a closer look into the issue.

[2019-05-15 01:18] gmanlan commented on #1892
Thanks for the gists zoq. I have quickly tried it and looks promising. At the same time, I'm a little bit concerned about the maintainability and user experience of the widget. For example, there are many combinations that do not apply (e.g. nightly will not be available through some channels such as windows installer/vcpkg/conda..., or pip goes with python and never with R or source, or pip/conda

[2019-05-15 01:21] rcurtin commented on #1872
Oh, my, in digging into this I kind of stumbled upon some ugliness that I might have to work around in setuptools.  Do you have the compilation command that setuptools calls for `kde.pyx`?  Specifically I want to see how it is linking against libraries.

[2019-05-15 15:49] gmanlan commented on #1872
Yes, this is the link command, which I believe may be missing some of the lib paths specified at the beginning with cmake:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.16.27023\bin\HostX86\x64\link.exe /nologo /INCREMENTAL:NO /LTCG /DLL /MANIFEST:EMBED,ID=2 /MANIFESTUAC:NO /LIBPATH:C:\miniconda3\libs /LIBPATH:C:\miniconda3\PCbuild\amd64 "/LIBPATH:C:\Program F

[2019-05-15 22:20] rcurtin commented on #1892
Nice, in either situation whatever we choose to go with will be better than the very spartan list we have right now. :)

[2019-05-15 23:27] zoq commented on #1892
Looks really nice, excited to see a first version.

Don't mind to reduce the number of possibilities. We should only show solutions that work and are tested, as you said python bindings on windows might not work at least right now (still have to check mingw), so there is no need to show a build/install solution.

About the maintainability, the homebrew package is fully automated, once a new versio

[2019-05-16 01:25] gmanlan commented on #1863
I have tried again using the master-branch and I got the "VanillaNetworkTest: memory access violation" error again - which I can workaround by unzipping the dataset (although the error description doesn't make sense). Then I get the following errors:

[code]

[2019-05-16 02:34] rcurtin commented on #1877
Hey @amirmasoudabdol, sorry for the slow response---I got busy with some other things.  The bit that you posted looks nice, but I hae a big concern about how the template parameters for `NeighborSearch` are printed.  Data scientists are already (in general) scared of C++ and that won't help, so providing readable and good documentation is really important.

Yeah, I know where you are coming from w

[2019-05-16 02:37] rcurtin commented on #1706
Ah, sorry, I should have closed this---with #1711 merged, I think this is fixed.  Thanks everyone for the help. :+1:

[2019-05-16 02:37] #1706 closed

[2019-05-16 15:33] IronAttorney commented on #1772
I have had the same issue as described above, including the proposed fix in 1694 only moving the segmentation fault further on in the quickstart example. This was on ubuntu 18.04, using python3 and mlpack3 downloaded via apt package manager, then removed and downloaded via pip3.

I am considering building mlpack myself with python3 bindings, but I was wondering, are the people having issues using

[2019-05-16 15:41] IronAttorney commented on #1772
Having looked through multiple threads discussing this issue, there is a trend of people on Ubuntu 18.04 or 16.04 being affected. I'm not saying correlation is causation, but it might be a clue.
I will try it out on my mac as soon as possible and report back.

[2019-05-16 21:51] abernauer commented on #1660
@rcurtin  Assuming this issue is not resolved given the closed pull request I would like to finish the remaining work, so this gets implemented in the next release.

[2019-05-16 22:28] rcurtin commented on #1660
@abernauer yeah, if it is something you'd like to do it would be great to get a fix in.  Let me know if I can help out through the process.  :+1:

[2019-05-16 22:50] rcurtin commented on #1887
Hey @pensivevoice, sorry for the slow response.  I've been looking into it for some time and I think a fix is prepared in #1891.  You can give that a shot and let me know if it works.  Once that is merged we'll release 3.1.1 with the fix.

And yeah, using `MultipleRandomDimensionSelect` with a large number of dimensions should help in the existing code.  However the PR has some additional fixes th

[2019-05-16 23:08] rcurtin commented on #1772
I found our problem.  I looked at the `.pyx` files that are being generated and saw this:

[code]

The generator is printing too many spaces for required matrix input parameters... thus, the input matrix never actually makes it to mlpack!  Further, the tests don't catch it because they don't test a *required* matrix parameter.  I am working on a fix now.

[2019-05-16 23:35] rcurtin commented on #1872
I tried pushing another update to #1885; can you try that?  I know how to make CMake link against the right stuff, but figuring out how to pass that to setuptools in a platform-independent way I'm less sure about...

[2019-05-17 01:26] rcurtin commented on #1772
I opened #1898, which I believe will fix this problem.  If you like, please try that branch and see if it fixes the problem. :+1:

[2019-05-17 01:27] rcurtin commented on #1710
I forgot to close this issue, but with #1717 and #1711 merged, I believe these problems to be solved.  Thanks again for reporting the issue. :+1:

[2019-05-17 01:27] #1710 closed

[2019-05-17 01:27] rcurtin commented on #1722
Since #1710 is solved, this should be solved also.  Thanks again for the report. :+1:

[2019-05-17 01:27] #1722 closed

[2019-05-17 02:12] gmanlan commented on #1872
Ok, just tried - now I can see some of the libs properly specified, although there is an empty LIBPATH statement which makes the LINK fail:

`C:\Program Files (x86)\Microsoft Visual Studio\2017\Professional\VC\Tools\MSVC\14.16.27023\bin\HostX86\x64\link.exe /nologo /INCREMENTAL:NO /LTCG /DLL /MANIFEST:EMBED,ID=2 /MANIFESTUAC:NO /LIBPATH:C:/mlpack/mlpack-python-windows-fix/build/Release **/LIBPATH:

[2019-05-17 02:36] rcurtin commented on #1872
Okay... I pushed another commit (4906722f0) which should strip the empty library directory.  I think it will fix the issue... or at least get us to a new error. :)

[2019-05-17 02:38] rcurtin commented on #1872
Ack, hang on, spoke too soon---one more thing to fix.  Just a second...

[2019-05-17 02:40] rcurtin commented on #1872
Ok, better now.  I realized the Boost link directories were not being properly passed.  This should be fixed in a44fdfe8c.  So I think it should link right... with any luck. :)

[2019-05-17 14:03] abernauer commented on #1660
Yeah I will let you know if I have any issues once I get started on the fix 👍. Need to rebuild mlpack on a vm or lower resource linux server first, so going to do that.

[2019-05-17 16:27] gmanlan commented on #1872
Uhm, it seems the library_dirs type is not a list of strings:

Traceback (most recent call last):

"'library_dirs' (if supplied) must be a list of strings")

I have tried manually removing the filter() and it seems to work (although my setup.py is being re-generated with every build so I can't be sure it will work for all the pyx).

[2019-05-17 17:26] pensivevoice commented on #1887
Hi @rcurtin. Thanks for making time to dealing with this issue. Here are my results.

**Validation** The `mlpack` results were validated against `scikit-learn` in a binary classification task using 100 bootstrap datasets and their complement (those samples not in the bootstrap set). I trained on the bootstrap dataset and used the complement as a test set. The hyperparameters used were: 50 trees, a

[2019-05-17 18:42] rcurtin commented on #1887
@pensivevoice nice results, glad that the fixes helped.  Any chance you could share the plot?

[2019-05-17 19:01] pensivevoice commented on #1887
![image](https://user-images.githubusercontent.com/50149223/57950171-5e5e1980-789b-11e9-962a-7f9dbb601e79.png)

[2019-05-18 11:06] IronAttorney commented on #1772
Nice one! I'll give this a go as soon as I'm back in office Monday (and I'll try it out when I get home, though I hadn't tried it there yet...)

[2019-05-20 08:39] ShikharJ commented on #1772
Fixed in #1898.

[2019-05-20 08:39] #1772 closed

[2019-05-22 04:19] rcurtin commented on #1760
@kolbma sorry for the slow response here.  In the time since then we did release mlpack 3.1.0, so I think that should solve your problem (and all the problems here, I hope).  Let me know if there is still an issue.  @daowanpeng can you also try with mlpack 3.1.0?

What's going on here is that we compile a Cython library `adaboost.so` from `adaboost.pyx` which contains just one function, `adaboost(

[2019-05-23 00:53] #1757 closed

[2019-05-23 04:22] rcurtin commented on #1887
With #1891 merged, and your feedback, I think that this issue is solved.  Once I see that the builds are passing I will release mlpack 3.1.1 with the fix. :)  Thanks again for the report! :+1:

[2019-05-23 04:22] #1887 closed

[2019-05-23 19:20] pensivevoice commented on #1887
Thanks for fixing it!

[2019-05-29 12:16] RaffaeleMarino opened #1906 "Model()[1].Paremeters() does not work in fnn"
Hi,
I am new in mlpack and I am trying to use them for research.
I need to print the weights of a layer of a neural networks. On the documentation at the bottom of the page https://www.mlpack.org/doc/stable/doxygen/anntutorial.html it has been written :

To access the weights from the neural network layers, you can call the following function on any initialized network:

model.Parameters();

which

[2019-05-29 15:27] jeffin143 commented on #1906
@sreenikSS , check this out, I guess @RaffaeleMarino , undergoes with the same issue over which we had the discussion. I am pretty sure now that it isn't there.

[2019-05-29 19:05] sreenikSS commented on #1906
@jeffin143 you are right. This needs to be promptly addressed.

[2019-05-29 19:14] zoq commented on #1906
@RaffaeleMarino Thanks for the report, looks like the network isn't accessible via the mentioned Model() function.

For a quick solution you could add:

[code]

to the ``FFN`` class or if you don't like to rebuild mlpack:

[code]

could work as well; note this is not a safe solution.

@jeffin143 @sreenikSS do you have something else in mind?

[2019-05-29 19:37] RaffaeleMarino commented on #1906
@zoq @jeffin143 @sreenikSS  Thank you very much for your advice and your time. I will see if I can rebuild mlpack, in the meantime I will check if the solution

#define private public

model.network.[1].Parameters()

works.

Raffaele

[2019-05-30 02:00] pranka02 opened #1909 "Random forest implementation not available in Linux installation."
I am installing it using apt like this "$ sudo apt-get install libmlpack-dev".
Other methods work fine.

[2019-05-30 02:17] rcurtin commented on #1909
I can't make heads or tails of this.  How are you installing?  What version are you using?  Do you mean for the Python bindings or the command-line programs?  We wrote the issue templates for a reason...

[2019-05-30 05:57] yanivbi opened #1910 "Limiting tree depth of random_forest"
Is there a way to limit the maximum depth of each tree in random_forest?
This is a prevalent option for configuring random forests.

[2019-05-30 11:18] robotcator opened #1911 "hoeffding_tree_test.cpp keep warning: moving a temporary object prevents copy elision"
#### Issue description

Warning in hoeffding_tree_test.cpp when compiling the mlpack.

[code]

#### Your environment

 * version of mlpack: mlpack master branch
 * operating system: MacOS Sierra 10.12.6
 * compiler: clang
 * version of dependencies (Boost/Armadillo): boost 1.68

[2019-05-30 13:20] rcurtin commented on #1911
I think it's just fine to remove the `std::move()` there like the warning suggests---want to open a PR with that change?  If not I can handle it.

[2019-05-31 02:36] #1909 closed

[2019-05-31 08:45] robotcator commented on #1911
Okay, done in [PR1914](https://github.com/mlpack/mlpack/pull/1914).

[2019-06-01 05:13] rcurtin commented on #1872
@gmanlan sorry for the slow response on this one---a bunch of traveling for me in the past two weeks.  Anyway I think I pushed a fix; when the library dirs are empty, we have to pass `None` not `[]`.  So, I'm interested to know what happens now. :)

[2019-06-01 13:48] rcurtin commented on #1910
Hi @yanivbi, I've said to others in the past that `minimum_leaf_size` is similar way to achieve the same goal, but at this point I've said that too many times and I think it is time to add the support.  So, at the moment, there's not a way to limit the maximum depth.

If you are (or anyone else reading this issue is) interested in contributing one, basically what would need to happen is that the c

[2019-06-01 16:32] Rajlaxmi commented on #1910
Hi,
I would like to pick this up.

[2019-06-02 03:23] jeffin143 commented on #1911
@robotcator , since it is done , we can close the issue :). Thanks for the issue and fixes

[2019-06-02 21:06] rcurtin commented on #1911
Fixed in #1914. Thanks! :+1:

[2019-06-02 21:06] #1911 closed

[2019-06-04 19:48] zoq commented on #1910
@Rajlaxmi looks like @Yashwants19 already opened a PR, but please feel free to comment on the PR.

[2019-06-06 17:28] gmanlan commented on #1872
@rcurtin, just tried again but it seems the error remains:

`File "C:/mlpack/mlpack-python-windows-fix/build/src/mlpack/bindings/python/setup.py", line 125
TypeError: 'library_dirs' (if supplied) must be a list of strings`

May it probably be the filter()?

[code]

[2019-06-07 00:46] gmanlan commented on #1892
Ok, I had some time to get back to this, so here is an early version of the upcoming website:

https://gmanlan.github.io/mlpack.org/

![website-screenshot](https://user-images.githubusercontent.com/40178166/59074933-d314ea00-8882-11e9-8de7-9a744e6a16b3.png)

- Intent is to bring material design/modern look & feel to be competitive with other libraries
- Take the opportunity to improve adoption fro

[2019-06-07 00:56] rcurtin commented on #1872
Color me confused---when I run
[code]
then it seems that what is returned *is* a list of strings, just like setuptools needs.

Anyway, let's try it again just without that filtering code, since on your system we're only passing in a couple directories and I can see there are no empty directories there.  I removed the filter in `87e174b0c`.

[2019-06-07 03:23] jeffin143 commented on #1892
@gmanlan , Looks great , the heading goes with the background well. Great job :)

[2019-06-07 17:00] gmanlan commented on #1872
Ok, now we have LINK errors, which I believe are caused because we are missing LAPACK somewhere?

[code]

And also some encoding issues (I think there is an unexpected character in this file):

`mlpack\kernel_pca.pyx:79:24: Decoding error, missing or incorrect coding=<encoding-name> at top of source (cannot decode with encoding 'utf-8': invalid start byte)`

[2019-06-07 21:07] zoq commented on #1892
Agreed this looks good.

I can give this a try.

Not sure what the status of https://github.com/mlpack/mlpack/issues/1877 is, but I think if we like to switch, it doesn't make sense to work on both? @rcurtin @amirmasoudabdol what do you think?

Comments:

- Do you mind to remove the Github badge, personally I think that destroys the clean design.
- In IRC you said, the background is pseudo random?

[2019-06-07 22:12] mh99875 opened #1919 "mlpack failed to compile on macOS Sierra 10.12.4"

[2019-06-07 22:35] gmanlan commented on #1892
Thanks @zoq and @jeffin143 for the feedback.

- Remove the Github badge: yes I can remove it, just thought it would be a fast way of reaching the repo instead of going through text to find the link - the badge is pretty standard among libraries nowadays - i.e. https://scikit-learn.org/stable/ - also, the badge is hidden when rendering in small form factors such as mobile
- Hero banner background:

[2019-06-08 07:30] amirmasoudabdol commented on #1892
@gmanlan I think the website looks good but I also agree we should decide which one we want to go with. I'm still in favor of Sphinx because I think it's gonna be easier to maintain later on. That being said, I don't expect the Sphinx solution would work out of the box and we probably need to do more edits and fine-tuning later on. I think whatever we can improve with the Doxygen and current websi

[2019-06-08 11:45] zoq commented on #1919
Can you post the error here, that should help us to figure out what went wrong.

[2019-06-08 12:38] mh99875 commented on #1919
cmake -DBUILD_PYTHON_BINDINGS=OFF ..
-- cotire 1.7.10 loaded.
-- Armadillo libraries: /usr/local/lib/libarmadillo.dylib
-- Found ensmallen: /Users/marcus/mlpack/build/deps/ensmallen-1.15.1/include (found version "1.15.1")
-- Boost version: 1.59.0
-- Found the following Boost libraries:
--   program_options
--   unit_test_framework
--   serialization
-- Try OpenMP C flag = [ ]
-- Performing Test Op

[2019-06-08 14:31] zoq commented on #1919
Okay thanks, I'm wondering if: https://github.com/mlpack/mlpack/blob/46a14f30efaebf33195b7aa0d18466c46133c46e/CMakeLists.txt#L76 is set.

Can you post the contents of CMakeCache.txt (in the build folder) as well? And what version of mlpack are you building?

[2019-06-08 15:40] mh99875 commented on #1919
Thanks for the response:

1. I used the following command to download mlpack: git clone https://github.com/mlpack/mlpack

I think it's 3.1.2 from the HISTORY.md file contents

more HISTORY.md
### mlpack 3.1.2
###### ????-??-??
  * Add Multiple Pole Balancing Environment (#1901).

### mlpack 3.1.1
###### 2019-05-26

2. Here's the contents of CMakeCache.txt

# This is the CMakeCache file.
# For buil

[2019-06-09 21:54] zoq commented on #1894
Thanks for the reminder.

[2019-06-09 22:13] rcurtin commented on #1894
Do you want to open a PR to add the code of conduct?  I'm fine with what we've discussed here. :+1:

[2019-06-09 22:15] zoq commented on #1894
Yes, will open a PR soon.

[2019-06-10 00:56] Yashwants19 commented on #1633
Hi @rcurtin can I go binding here.
Thank you :)

[2019-06-10 01:16] rcurtin commented on #1633
@Yashwants19 if nobody else speaks up and says they are working on it, then sure, but maybe it's better to finish off the other PRs you have open first (I'm thinking of the GMM tests and the random forest tree depth changes, not the Go bindings---I haven't found any time to review those since it will probably take me 4 hours or so to go through it :)).

[2019-06-10 01:28] Yashwants19 commented on #1633
Sure I will complete the present PRs and then I will start working on bindings.
Thanks :)

[2019-06-10 12:33] mh99875 commented on #1919
I added the line

set(CMAKE_CXX_FLAGS "${CMAKE_CXX_FLAGS} -Wall -Wextra -ftemplate-depth=1000")
to the file CMakeLists.txt and the cmake stage succeeded with Python bindings off
However, make failed, still complaining about the template depth issue

/opt/local/include/boost/mpl/if.hpp:70:22: note: use -ftemplate-depth=N to increase recursive template instantiation depth
I'm not sure where this fla

[2019-06-10 17:52] zoq commented on #1919
Currently building on a macOS Sierra machine, let's see if I can reproduce the issue.

[2019-06-10 18:46] mh99875 commented on #1919
Hello Marcus,
I just got it to compile and install by adding the following line to CMakeCache.txt

CMAKE_CXX_FLAGS:STRING=-ftemplate-depth=1000

But now I'm getting a mountain of errors when I include the header files in my C++ program
#include "mlpack/core.hpp"
#include "mlpack/methods/random_forest/random_forest.hpp"
#include "mlpack/methods/decision_tree/random_dimension_select.hpp"
#include "m

[2019-06-10 19:04] zoq commented on #1919
Can you rebuild mlpack with ``cmake -DUSE_OPENMP=OFF -DCMAKE_CXX_FLAGS="-ftemplate-depth=1000" ..``

[2019-06-10 20:39] mh99875 commented on #1919
The rebuild advanced me to the link stage albeit with a ton of warnings.
At the link stage the linker complains about
Undefined symbols for architecture x86_64:
  "mlpack::util::CLIDeleter::CLIDeleter()", referenced from:
      __GLOBAL__sub_I_IDTPlan.cpp in IDTPlan.o

------------------------------

BOOST_BIMAP_SYMMETRIC_STATIC_ACCESS_BUILDER'
        BOOST_BIMAP_STATIC_ERROR(                    

[2019-06-10 20:45] gmanlan commented on #1892
@amirmasoudabdol thanks. I believe the base website should not be attached to the documentation framework we use. The website still needs to exist by itself. Landing page, FAQ, downloads, etc. are agnostic of what documentation framework we use. Said that, Sphinx vs Doxygen can be a separate discussion topic/work item. At the end of the day, the website (i.e. landing page) will just have a link to

[2019-06-12 05:35] nttruong7 commented on #1767
I run the command successfully
mlpack_fastmks -r optdigits_csv.csv -v -k 10 -K hyptan  --kernels_file kernels.csv
[INFO ] Loading 'optdigits_csv.csv' as CSV data.  Size is 65 x 5621.
[INFO ] Loaded reference data (65 x 5621).
[INFO ] 11239 distance computations during tree construction.
[INFO ] 1579077 base cases.
[INFO ] 1646725 scores.
[INFO ] Saving CSV data to 'kernels.csv'.

my system is Fedo

[2019-06-12 05:53] #1839 closed

[2019-06-14 13:46] saksham189 opened #1923 "Backward() implemented incorrectly in BatchNorm Layer."
#### Issue description

Many of the layers use the numerical gradient test to verify the implementation of the `Gradient` function. However, the test does not verify the implementation of `Backward` function because there is no layer before the layer that is being tested.
For example the model used in `GradientBatchNormTest` is:
[code]
The test passes with this model. However if the model is chang

[2019-06-14 15:00] saksham189 commented on #1923
In the following line in `Backward` for BatchNorm layer:
`const arma::mat inputMean = input.each_col() - mean;`
Here input parameter of the function is actually the output of the layer. We should be using the actual input to the layer to fix the implementation.

[2019-06-14 17:30] rcurtin commented on #1892
This looks really nice @gmanlan, looking forward to seeing it deployed.  @amirmasoudabdol I think that we can get the documentation working separately from the website.  As it currently stands the website is built with Jekyll but the workflow looks like this:

1. For each mlpack version, build the doxygen docs as HTML.
2. Copy those HTML doxygen docs to the root of the Jekyll build, along with any

[2019-06-14 23:50] gmanlan commented on #1892
I did some minor updates based on the received feedback. Please take a look here: https://gmanlan.github.io/mlpack.org/

A couple of asks:
1) @rcurtin: could you please generate a ready-to-include Doxygen package for the new website? I will use it to adapt the CSS so it's consistent with the rest of the site (this CSS can be later translated into Sphinx if we switch to it).
2) @zoq: the "Distribut

[2019-06-15 16:33] zoq commented on #1877
Let us keep this open.

[2019-06-15 20:08] rcurtin commented on #1872
Right, I see that Armadillo dependencies are not being linked.  I pushed what I think is a fix for that, do you want to try again?

I see the character that causes the encoding issue, but does it appear to be fatal? Or just a warning?

[2019-06-17 00:25] ShikharJ commented on #1894
Fixed via #1925.

[2019-06-17 00:25] #1894 closed

[2019-06-17 14:08] janbraun opened #1928 "mlpack 3.1.1 fails to compile with gcc 9.1.0 and USE_OPENMP=yes"
#### Issue description

I cannot compile mlpack 3.1.1 with openmp support when using gcc 9.1.0.
Compiling without openmp support (USE_OPENMP=no) and gcc 9.1.0 works fine.

Compilation with openmp support and clang 8.0.0 also works.

#### Your environment

 * version of mlpack: 3.1.1
 * operating system: Gentoo Linux
 * compiler: gcc 9.1.0
 * version of dependencies (Boost/Armadillo): boost 1.65, a

[2019-06-17 14:16] janbraun commented on #1928
The main difference when switching compilers seems to be that clang has openmp 3.1 and gcc has openmp 4.5, using their corresponding libraries.

[2019-06-17 15:36] snakelizzard opened #1929 "'streaming' training data for ann"
Hello.

Is it ok to call FNN/RNN Train method several times for different chunks of data? Or is it better to concat all data I have into single matrix and do training only once?

Thank you.

[2019-06-17 19:00] zoq commented on #1929
Hello, with different chunks do you mean you like to feed in parts of a single sequence or do you mean to split the training data and fine-tune the model step by step?

[2019-06-17 19:26] janbraun commented on #1928
A similar bug seems to occur with blender, according to
https://bugs.gentoo.org/685922, which references
https://bugzilla.redhat.com/show_bug.cgi?format=multiple&id=1674700

the critical change in gcc 9 is due to a change in OpenMP 4.0:
https://gcc.gnu.org/gcc-9/porting_to.html#ompdatasharing

[2019-06-17 20:07] gmanlan commented on #1872
Tested the new patch, problem is openblas.lib is not found (essentially because it's not what we may have in Windows, although it may work just fine in other systems/configurations). I'm using - as expected by our tutorial - OpenBlas obtained through Nuget Package Manager, which contains the following:

OpenBLAS.0.2.14.1\lib\native\lib\x64\libopenblas.dll.a
OpenBLAS.0.2.14.1\lib\native\bin\x64\lib

[2019-06-17 20:15] rcurtin commented on #1872
Oh.  Huh.  I know how to fix that openblas.lib issue, and I'll see if I can do that shortly, but you can work around it for now by moving `libopenblas.dll` to `openblas.dll` and `libopenblas.dll.a` to `openblas.dll.a` and reconfiguring accordingly with the new filenames.

I pushed a quick fix for the encoding issue in 75f816bd.

[2019-06-17 20:21] zoq commented on #1928
So my first guess is to change:

https://github.com/mlpack/mlpack/blob/e2f696cfd5b7ccda2d3af1c7c728483ea6591718/src/mlpack/methods/det/dt_utils_impl.hpp#L187-L188

to:

[code]

if that works we could do this for the other cases as well, will check this tomorrow, unless you like to.

[2019-06-17 20:50] janbraun commented on #1928
Thanks for looking at this issue! When I am using
[code]
i.e., including all variables gcc complains about, it compiles on.

But besides your guess and the referenced site saying "…Specifying them in firstprivate clause is one way to achieve compatibility with both older GCC versions and GCC 9…" I have no idea what the code actually needs.

[2019-06-18 07:00] snakelizzard commented on #1929
I mean parts of same sequence.

[2019-06-18 11:49] zoq commented on #1929
I see, in this case you are better off to pass the complete sequence, haven't seen the need for a streaming mode yet, but perhaps there is need?