[2020-06-04 13:46] eddelbuettel commented on #2437
It was twelve years ago and AFAIK Steve (who is an entirely reasonable former Midwesterner) would be willing to revisit / whitelist more packages.

Fix also forthcoming per message on the Debian bug report ticket.

[2020-06-04 14:11] martin-frbg commented on #2437
Just to clarify I was only quoting what is already out on the 'net, not trying to appoint blame to anyone. From what I believe to have learned through this, it would _probably_ be possible to come up with a `--dynamic-list` of symbols that should stay preemptable,though that could change over time. (Bit curious why the Ubuntu folks would insist on using this option if it just for a tiny gain in st

[2020-06-04 14:23] martin-frbg commented on #2437
BTW on the Debian ticket I now see it attributed to some change in OpenBLAS 0.3.7 , which I assume could only be my https://github.com/xianyi/OpenBLAS/pull/2136 (which in theory should only be relevant you are building with the new option USE_LOCKING=1 in conjunction with USE_THREAD=0)

[2020-06-04 17:19] kartikdutt18 opened #2443 "Templating mlpack's data::Split."
Currently mlpack's split takes in labels as rows and features as matrices. However that may not always be the case. Example labels that represent bounding boxes will be matrices. This issue aims to address the same. A solution for this is templating mlpack's split. If any one would like to work on this that would be great.
Kindly let me know your thought or if you need any help. A reference implem

[2020-06-04 18:41] zoq commented on #2443
Correct me if I'm wrong, but I guess we could vectorize the matrix before the split and maybe reshape it afterwards if necessary.

[2020-06-04 21:17] shrit commented on #2440
@conradsnicta Thank you for sharing your experience.
I agree, in the early development of a library or a project, Boost seems to accelerate the process of prototyping and early code, especially when we would like to test the project.
However, when the project starts to grow, a local implementation of these features resolve unexpected dependencies issues.

[2020-06-05 10:44] zoq commented on #2443
That is right, I guess using vectorize is more like a workaround.

[2020-06-06 12:55] iamshnoo opened #2444 "Some of the loss functions probably don't work correctly"
I was verifying some of the loss functions in mlpack before modifying them to introduce reduction functionality in them. Some of them probably aren't implemented correctly or have misleading class names. I am listing these below. The goal of this issue is primarily to discuss any opinions on these. After that, I would like to make the necessary changes to have everything working perfectly.

- [ ]

[2020-06-06 16:31] mrityunjay-tripathi commented on #2444
Whoa! Nice catch.
Can you also take a look at `mean_bias_error_impl.hpp`?

[2020-06-06 20:44] birm commented on #2428
I believe that #2429 fixed all of the doxygen issues in 1.8.17 EXCEPT for this one, so I think this is all that is blocking doxygen version upgrades.

[2020-06-06 23:22] menkaur opened #2445 "Getting following error while trying to train LSTM network: "each_col(): incompatible size; expected 0x1, got 1200x1""
Here is the code I'm using to build and train the network:

[code]
mostly, it  has been taken from [this example](https://github.com/mlpack/models/blob/master/LSTM/TimeSeries-Univariate/src/LSTMTimeSeriesUnivariate.cpp).

Input data's dimmension is 1200 (dataPointsCount) and is fed in chunks of 100 data points, label has 1 dimmension

For each iteration, data has following dimensions:

`work` {n_r

[2020-06-07 13:37] iamshnoo commented on #2444
<img width="594" alt="Screenshot 2020-06-07 at 7 05 19 PM" src="https://user-images.githubusercontent.com/45921510/83970171-d86f9f00-a8f1-11ea-91d7-533b41cf6549.png">

[code]

Seems correct to me.

[2020-06-07 15:30] rcurtin commented on #2401
@birm good point, I didn't actually specify what I meant.  I think that we could just modify `FindArmadillo.cmake` such that when the compiler is MSVC, all of the support libraries are automatically added to `ARMADILLO_LIBRARIES` (even if `ARMA_USE_WRAPPER` is set!), and this would cause the problem @QuellaZhang had to not occur.

[2020-06-07 15:58] mrityunjay-tripathi commented on #2444
Though I haven't gone into detail of it, do you think the `reduction` parameter is missing in `mean_bias_error` or rather it's not required? Also, is it correct to divide by `target.n_cols` in the `Forward` function? It will be all clear once we put this loss function to gradient test and jacobian test. Would you like to do that since you are already involved into it?

[2020-06-07 16:22] iamshnoo commented on #2444
Oh yes, of course. I am currently not looking at that, just checking the loss functions for possible errors. Most of the functions don't currently have reduction parameter. I will be adding those and standardising the implementation across all of the functions in a PR soon.

Now that you mention it explicitly, it seems it is wrong.
I tried out what the new implementation would look like in a [Goog

[2020-06-07 16:59] mrityunjay-tripathi commented on #2444
Thanks for the quick report @iamshnoo. I think every loss function should pass the jacobian test. Let me know what do you think.

[2020-06-07 17:05] iamshnoo commented on #2444
Yes. That's true. I intend to carry out the Jacobian test for these functions.
However, one thing can be used to advantage to speed up the process. Some of the loss functions already have implementations in PyTorch and since the PyTorch source code already does Jacobian testing, we can just compare the output from PyTorch and mlpack for those functions, instead of re-implementing the wheel!
For th

[2020-06-07 17:23] mrityunjay-tripathi commented on #2444
The problem is who knows PyTorch's implementations don't have bugs? In fact, it happened when I was implementing `poisson_nll_loss` (#2196). I think relying on some other library for tests is risky (but can be used when we don't have other options). One more thing is that armadillo matrices are column-major while PyTorch's tensors are row-major, so that might cause confusion.

[2020-06-07 18:33] sreenikSS commented on #2444
@mrityunjay-tripathi thanks for pointing it out. @iamshnoo I'd suggest you to fix the errors you have pointed out in this issue. It seems like the Jacobean test would be a big step towards mlpack's self-sufficiency (as we would not need to rely only on pytorch code to check our functions) but I think we should take this up once we have some time in hand because this looks a little time-consuming.

[2020-06-07 18:36] himanshupathak21061998 commented on #2438
Closing This issue because k-means is working with other CSV's

[2020-06-07 18:36] #2438 closed

[2020-06-07 21:55] rcurtin commented on #2437
Thanks everyone for the comments here and @conradsnicta for bringing up the issue.  I'm not sure when we'll see our first bug report relating to this, but certainly this is a really nice thing to know and will save hours of digging.  Glad to hear fixes are in progress---perhaps we won't see any issues here at all. :crossed_fingers: :)

[2020-06-08 05:31] conradsnicta commented on #2437
The updated OpenBLAS package is currently in the approval queue for Ubuntu 20.04:
https://launchpad.net/ubuntu/focal/+queue?queue_state=1

[2020-06-09 00:12] rcurtin commented on #2428
:+1: thanks for looking into this.  Kind of a strange issue!  The only other thing about doxygen version upgrades is these scripts: https://github.com/mlpack/mlpack.org/tree/master/_src/doxygen

See specifically the `.py` files in there---these are used as a postprocessing step on the Doxygen HTML output.  Sometimes versions of Doxygen significantly change the HTML output, and so if we do upgrade

[2020-06-09 14:16] shrit opened #2451 "Change boost test framework by catch2"
Hello everyone,

#### Issue description

`mlpack` uses Boost libraries to test functions and algorithms. One of the main issues with boost test that it requires the users to have `Boost.Test` already compiled and installed.
We would like to replace `Boost.Test` by [Catch2](https://github.com/catchorg/Catch2) framework to do Tests, `Catch2` has several advantages over `Boost.Test` since it is heade

[2020-06-09 14:50] jeffin143 commented on #2451
@shrit I have some bandwidth left, I can help you with the migration

Just do it for a file and handle the cmake thing, I could mirror the change for other files too

[2020-06-09 14:53] rcurtin commented on #2451
The functionality of both seem the same as far as I know---one way to approach this is to open a PR that just adds `catch.hpp` to the tests directory and transitions one test.  Then, we can individually transition other tests one at a time, and when that's finally done, we can remove the `unit_test_framework` needs entirely.

[2020-06-09 23:42] zoq commented on #2451
https://github.com/mlpack/ensmallen/issues/2 might be helpful as well.

[2020-06-09 23:46] zoq commented on #2445
Does this one file with a new model or with the loaded one?

[2020-06-10 00:58] jonpsy commented on #2443
Can I take up this?

[2020-06-10 01:02] rcurtin commented on #2443
@jonpsy feel free, I don't think that anyone has started to work on it yet. :+1:

[2020-06-10 01:09] menkaur commented on #2445
This happens when I train the model

[2020-06-10 02:55] kartikdutt18 commented on #2443
Hi @jonpsy, Could you also add support for field type while templating. For field type the operations will be a bit different (maybe overload this function). Take a look this implementation for field [type](https://github.com/mlpack/models/pull/18/files#diff-41f072fe5e54db1663f9b261a99b948aR391).

[2020-06-10 11:37] zoq commented on #2445
Okay, so it's not a serialization issue.

[2020-06-10 23:09] shrit commented on #2440
@rcurtin Considering `CLI11` it can be compiled into one header file and included in the distributed sources directly, exactly the same as catch.
Program options do not seem to be updated frequently in mlpack, if necessary we can check for updates on `CLI11` only on major version updates, or if we included a specific feature in program option.

[2020-06-11 03:24] conradsnicta commented on #2440
I reworked the CSV loader in Armadillo 8.400, resulting in about a 2x to 3x speedup.  There are further refinements to CSV handling in later versions of Armadillo, including loading/saving of sparse matrices and complex dense matrices.

The Armadillo CSV loader is aimed for numeric data.  However, as of version 9.850, it can also handle non-numeric data in the first line (header) of the CSV file,

[2020-06-11 03:35] conradsnicta commented on #2437
A proposed fix is available.  However, it won't be pushed as an official update until people actually report that it fixes their problem.  It's an overly conservative and cumbersome approach, but there you go.

More details: https://bugs.launchpad.net/ubuntu/+source/openblas/+bug/1860601/comments/9

[2020-06-11 03:40] conradsnicta commented on #2437
A proposed fix is available.  However, it won't be pushed as an official update in Ubuntu 20.04 until people actually report that it fixes their problem.  This can be done by replying to the Ubuntu bug report on Launchpad.

See comment 9 in https://bugs.launchpad.net/ubuntu/+source/openblas/+bug/1860601

[2020-06-11 21:43] zoq commented on #2437
Will test the version over the weekend.

[2020-06-11 21:51] eddelbuettel commented on #2437
I could too as I am on 20.04. Someone poke me here to remind me and / or shoot me the apt-get line for that proposed repo ...

[2020-06-12 00:20] rcurtin commented on #2388
@azev77 thanks for the clarification.  That does seem not too hard, although our automatic binding generation system would make it tricky, so it may be a while until this can be done.  However I will mark this keep-open, because at least for the work I am doing for my company I think it would be useful, and I also think it would be good overall to provide an MLJ interface. :+1:

[2020-06-12 02:14] conradsnicta commented on #2437
@eddelbuettel
* https://launchpad.net/ubuntu/+source/openblas/0.3.8+ds-1ubuntu0.20.04.1
* https://launchpad.net/~ginggs/+archive/ubuntu/sru

[2020-06-12 02:17] eddelbuettel commented on #2437
Nah. The earlier link was more explicit about the `focal-proposed` repo which I need to enable, I suppose.  Thanks for the pointer to Graham's PPA; the flexibility of that system is great (I have a few PPAs under my handle too) but these tend to become stale so I don't rush to add them.  Thanks though.

[2020-06-12 04:23] jonpsy commented on #2443
@kartikdutt18
I was thinking something along the lines of
```template<typename T, typename labelType = arma::Row<unsigned long int>>```
and for your field type (since it needs different implementation)  we could do template value specialization? More on the PR coming soon. Thoughts?

Cheerio!

[2020-06-12 04:29] kartikdutt18 commented on #2443
Makes sense. Looking forward to the PR.

[2020-06-12 04:58] conradsnicta commented on #2437
related: https://wiki.ubuntu.com/Testing/EnableProposed

[2020-06-12 11:15] eddelbuettel commented on #2437
Thanks @conradsnicta !  All good here

To recap I did

1. A quick `cat` / `sudo editor` to create `/etc/apt/sources.list.d/ubuntu-proposed.list (and any name ending in `.list` in that directory will do.

[code]

2.  `sudo apt update` and examinig `apt upgrade`. I had an otherwise current system, it suggested 50+ packages so I did *not* go that route.

3.  Replace the workaround packages using Open

[2020-06-12 18:09] rcurtin commented on #2440
Awesome, nice to hear about the speedup!  I'm sure that our benchmarks are from before you did that.  For the header line, is there any support for automatically detecting the header?  i.e. if something that's parsed doesn't turn out to be numeric, then that first row is considered as the header?  I don't see anything suggesting that from the API, but maybe I missed something.

We do still have to

[2020-06-14 12:58] #2397 closed

[2020-06-14 18:33] kartikdutt18 commented on #2346
Keep Open.

[2020-06-15 09:45] khizirsiddiqui commented on #2200
Can someone update the list with losses already done?

[2020-06-15 14:37] ANSH-RIYAL commented on #2200
Hi I am an intermediate ML enthusiast and I am trying to contribute to the community. I don't have much experience with contributing to Open Source but I am familiar with Python, C++ libraries like OpenCV and frameworks like PyTorch.
I opened this issue as I do know about some loss functions used in ML libraries and thought I can contribute but it seems like most (or all) of them are already taken

[2020-06-15 14:41] ANSH-RIYAL commented on #2181
Can somebody please list the subtasks which haven't been taken up yet?
I am new to the community of open source contributions but I am intermediate in machine learning and it's implementation with a familiarity with Languages (C++ and Python), Frameworks(Tensorflow, Keras and PyTorch) and sub fields of ML(CNN, RNN, RL, MLPs, etc.) and would Like to start contributing. So if anyone can maybe help m

[2020-06-15 15:00] kartikdutt18 commented on #2181
Hey @ANSH-RIYAL, Welcome to the community, I think all of the activation functions have a PR open however some of them have gone stale. You could take a look at the PRs that are closed / stale (maybe leave a comment). If you are interested there are some good first issue in the [models repo](https://github.com/mlpack/models/issues) as well.

[2020-06-15 15:04] kartikdutt18 commented on #2200
Hey @khizirsiddiqui, @ANSH-RIYAL, I think all the loss functions have a PR open however some of them have gone (or are now closed). Maybe going through the PR might be a good idea and cross reference it with the list of loss functions.
As far as I know these are merged / ready for merging :
HingeEmbedding Loss
CosineEmbedding Loss
MultiLabelMargin Loss
L1 Loss

[2020-06-15 15:29] iamshnoo commented on #2200
- MultiLabel Margin Loss
- Multi Margin Loss
- Triplet Margin Loss
- Poisson NLL Loss
- CTC Loss

These are loss functions present in PyTorch, but not in mlpack. If anyone is interested in this issue, try picking up one of these and working on it. Every other loss function is either merged or has a open PR or is in progress.

[2020-06-15 15:53] iamshnoo commented on #2200
L1, Hinge Embedding, Cosine Embedding have been merged.

Multi label soft margin loss is open. No one is working on it.

Multi label soft margin loss is ready for merging.

[2020-06-15 17:35] ANSH-RIYAL commented on #2181
@kartikdutt18  Thanks for the help, I'll keep looking for some issues on the models repo you suggested.

[2020-06-15 21:31] rcurtin commented on #2434
Hey @ibalampanis, sorry for the slow response.  Can you share the full code?  Is there a use of `conv_to()` anywhere in your code?  Or, perhaps, are you using the `Lookup` layer somewhere?  (That's the only layer I see that uses `conv_to<>` internally.)

[2020-06-15 21:35] ibalampanis commented on #2434
My full code is here: https://www.github.com/ibalampanis/distributed-training-of-recurrent-neural-networks-by-fgm-protocol/tree/master/cpp%2Fmodels%2Frnn.cc . Thanks.

[2020-06-15 21:43] rcurtin commented on #2434
Thanks!  I don't see anything immediately wrong with it.  It looks like it would be hard for me to reproduce the issue since that's the entire project; is there any chance that you can provide a small self-contained example that I could build with g++?

Also, if you can provide a backtrace from gdb or similar, I might be able to take a guess at what the issue is. :+1:

[2020-06-15 21:46] ibalampanis commented on #2434
Yes, tomorrowI will provide you my gdb log. Thank you.

[2020-06-15 21:47] rcurtin commented on #2434
Thanks!  Be sure to compile with `-g` so that we get line numbers too. :)

[2020-06-16 08:02] ibalampanis commented on #2434
Hello, this is my full bt log.
[bt.log](https://github.com/mlpack/mlpack/files/4785254/bt.log)
Thanks a lot.

[2020-06-16 18:04] rcurtin commented on #2434
I think I can see a very quick workaround, which is to use a batch size of 1.  Can you try that and see if it works?  I'm digging into a better fix than that though; hope to have something put together soon. :+1:

[2020-06-16 20:35] zoq commented on #2434
You are absolutely correct, the layer only supports batchSize = 1 right now, will open an issue.

[2020-06-16 21:27] rcurtin commented on #2434
Actually, I am not sure if my thought was correct.  @ibalampanis can you say a little about how you are encoding your input data when `datasetType == nlp` ? https://github.com/ibalampanis/distributed-training-of-recurrent-neural-networks-by-fgm-protocol/blob/master/cpp/models/rnn.cc#L77

My question is, what is the shape of the input?  I *think* that what you are doing is passing in a dictionary e

[2020-06-16 21:35] ibalampanis commented on #2434
I make the preprocess [here](https://github.com/ibalampanis/distributed-training-of-recurrent-neural-networks-by-fgm-protocol/blob/master/python/amazon-reviews-preproc.py) .

Thanks all of you for your replies!

[2020-06-16 21:46] rcurtin commented on #2434
If you've already done `word2vec` on the data, it seems maybe there would be no need for an `Embedding` layer then?

[2020-06-16 22:38] ibalampanis commented on #2434
Yes, sure. I found this solution, but it is not via mlpack.

[2020-06-16 23:10] rcurtin commented on #2434
Perhaps the `Embedding` layer works differently in other toolkits.  Try removing it and let us know if that solves the issue?

[2020-06-17 22:06] rcurtin commented on #2432
That's strange, maybe we have to whitelist that error in the static code analysis.  Don't worry about it; I saw that error once before for something else and whitelisting was the approach that we took there too. :+1:

[2020-06-18 02:40] #2381 closed

[2020-06-19 06:30] kartikdutt18 commented on #2444
Following @sreenikSS discussions on video meet, It might a nice idea to add PR templates and in that template we could ask for a colab / jupyter notebook link. I generally add the link to reference implementation and the link to tests as shown in #2410, as well as in cosine embedding PR as well. For the loss function that I added, cosine embeddings I think there are only warnings but maybe I misse

[2020-06-19 07:22] iamshnoo commented on #2444
I have just one doubt regarding [this particular commit](https://github.com/mlpack/mlpack/pull/2209/commits/531358172356636c5e7531e390c28999da70c885) in the cosine embedding loss.

Let me explain with the picture below.
<img  src="https://user-images.githubusercontent.com/45921510/85105951-01186280-b229-11ea-9675-0378510a3178.png">

So, basically if you check that commit I linked above, you will s

[2020-06-19 07:42] kartikdutt18 commented on #2444
The cosine embedding that I implemented ended up being different from the PyTorch implementation. The PyTorch implementation takes in three inputs however after some discussion it was decided that we don't need to do that. The third input corresponded to 1 or -1 (i.e. similarity or dissimilarity) so I took this as a parameter and implemented one of similarity or dissimilarity. Hence the third inpu

[2020-06-19 07:52] iamshnoo commented on #2444
Crystal. Thanks!

Great! Really appreciate the help.

Maybe you would also like to put in a quick PR during the weekend to fix this.

[2020-06-19 07:53] kartikdutt18 commented on #2444
Done. I will create a PR with the notebook by tomorrow.

[2020-06-19 15:07] Yashwants19 opened #2463 "Distribution of Go-Bindings Package"
Hi there, As we know go-bindings is merged in the library, but for the distribution of the package we have to make some efforts. These are the following tasks which have to be done for package distribution :

- [x] Creating a repository namely mlpack-go, where we will place our automatically-generated go-bindings.
- [x] Copy the auto-generated bindings to the repo. Currently we have to remove `cap

[2020-06-21 01:07] azev77 opened #2468 "Julia Quick Start Documentation typo"
In the [Julia Quickstart](https://www.mlpack.org/doc/mlpack-git/doxygen/julia_quickstart.html) it says:
[code]
The first argument is not a keyword argument. It should say:
[code]

[2020-06-21 01:11] azev77 commented on #2388
@tlienart @ablaom
FYI: mlpack can be accessed via [mlpack](https://github.com/mlpack/mlpack.jl).jl, w/ `Pkg.add("mlpack")`.
Here is a link to the [Julia quickstart](https://www.mlpack.org/doc/mlpack-git/doxygen/julia_quickstart.html).

[2020-06-21 01:14] azev77 commented on #2468
There is another typo:
It says:
[code]
It should say:
[code]

[2020-06-21 02:32] rcurtin commented on #2468
Thank you for catching this!

[2020-06-21 02:41] rcurtin opened #2471 "Go Azure builds seem to be unable to find gonum"
#### Issue description

The Azure builds for Go fail to install gonum when configuring the Go bindings:

https://dev.azure.com/mlpack/84320e87-76e3-4b6e-8b6e-3adaf6b36eed/_apis/build/builds/2694/logs/38

#### Your environment

 * version of mlpack: git master
 * operating system: Linux / OS X on Azure
 * compiler: gcc 5.5.0 (wow I am surprised it is so old on the Azure systems but that's ok)
 * ve

[2020-06-21 04:37] #2468 closed

[2020-06-21 15:39] rcurtin commented on #2471
This appears to be fixed now. :+1:

[2020-06-21 15:39] #2471 closed

[2020-06-21 16:08] saanumm82 opened #2472 "Input datasets format for K Nearest-neighbors algorithms."
Hi,

I am trying to use mlpack C++ API  'KNN' or 'NeighborSearch<NearestNeighborSort, EuclideanDistance, arma::mat >'  to find 'k' nearest neighbors.

Here is my sample code -

#include <mlpack/methods/neighbor_search/neighbor_search.hpp>
using namespace mlpack::neighbor;
arma::mat data;
data::Load("1.csv", data);
KNN a(data);
// The matrices we will store output in.
arma::Mat<size_t> resultingNei

[2020-06-22 23:49] rcurtin commented on #2472
Hi @saanumm82, hopefully these answers below are helpful:

Actually in your example `1.csv` can have any number of columns; the number of columns is the dimension of each point.  So if there are 2 columns, then each column will correspond to the x and y axis; if there are 3, each column corresponds to the x, y, and z axes, etc.  Each row in the input CSV correponds to one point.

Given that each r

[2020-06-22 23:52] rcurtin commented on #2463
@Yashwants19 thanks for opening this issue!

I created the repository https://github.com/mlpack/mlpack-go ; want to open a PR there for the third and fourth tasks?

If you can provide a set of directions similar to https://github.com/mlpack/mlpack.jl/blob/master/rel/deployment.md , I can try and use them to upload new versions of the bindings. :)

I'll do the fifth thing and update the website onc

[2020-06-23 02:14] conradsnicta commented on #2437
Fix finally released for Ubuntu 20.04.

    $ sudo aptitude show libopenblas0
    Package: libopenblas0
    Version: 0.3.8+ds-1ubuntu0.20.04.1

Thanks to @eddelbuettel for doing the verification.

[2020-06-23 02:14] #2437 closed

[2020-06-23 02:18] eddelbuettel commented on #2437
I think I can confirm from my 20.04 box:

[code]

So the candidate I am running with from `focal-proposed` appears to indeed by in updates.  Yay!

[2020-06-23 09:06] Yashwants19 commented on #2463
# How to deploy a new mlpack version to mlpack-go.

This process isn't automatic, and the steps below can be refined as time goes on
into an automated script:

 1. Check out mlpack code.
 2. Configure and build the `go` target: `make go`
 3. Copy the Go bindings (`build/src/mlpack/bindings/go/src/mlpack.org/v1/mlpack`)
    to the root of mlpack-go repository. (This Go-bindings path is according to

[2020-06-23 09:17] Yashwants19 commented on #2463
For the use `go get -u -d mlpack.org/v1/mlpack` we have to add those meta-tags to our website, else we are not able use `mlpack.org/v1/mlpack`. It will be great if you can add those meta-tags after 2nd task, this will be also helpful for the 3th task.

[2020-06-23 12:35] saanumm82 commented on #2472
Thanks a lot for your help. Now i got clear picture on this.
Currently, i am maintaining 2 files.  '1.csv' for datasets and 'labels.txt' for label for each datasets  as i need to predict a new labels for test datasets based on K Nearest-neighbors.

Here are the '1.csv' datasets

2,12
2,5
5,3
3,2
3,6
1.5,
7,2
6,1
3.8,3

'labels.txt' file has labels for above datasets.

1
0
1
0
1
0
1
1
0

Now i want

[2020-06-23 16:25] Yashwants19 commented on #2463
Sorry didn't mention before but for the latest release(3.2.2) we have to made some extra efforts for deploy.
At step 4. we also have to remove .cpp and .hpp files.
[code]
And edit the import path of `tests/go_binidng_test.go` from `"mlpack/bindings/go/mlpack"` to `"mlpack.org/v1/mlpack"`.

[2020-06-23 17:18] rcurtin commented on #2463
Ok, I've pushed some first attempts at changes to the mlpack/mlpack-go repository.  But I am not sure if this is completely right.  Do you want to take a look and let me know if I should change anything?  Also, if you think it's easier, you can just open a PR and I can merge it in. :+1:

[2020-06-23 18:15] Yashwants19 commented on #2463
Hi @rcurtin this is looking great. I can use `go get -u -d github.com/mlpack/mlpack-go` smoothly. Now if you can add meta-tags in our website, then may be we are ready use `go get -u -d mlpack.org/v1/mlpack`. Tomorrow I will open a PR both `readme.md` and `MAKEFILE`.
Thank You.

[2020-06-23 18:51] Yashwants19 commented on #2463
I have opened PRs for adding tests file, `Makefile` and add instruction in `README.md` file.

[2020-06-24 00:27] rcurtin commented on #2463
Ok, I added the vanity import to https://www.mlpack.org/v1/mlpack:
https://github.com/mlpack/mlpack.org/compare/a383cb51831ad7f85d68e5ca5cdbcdaca7924f68...e698fd61c78bbdc11b835bdf1b8fd783ddac2c8d

I tested `go get -u mlpack.org/v1/mlpack` and it succeeded. :tada:

[2020-06-24 00:28] steven-varga commented on #2440
I am working on this [HDF5 C++ project](http://lightning-talk.h5cpp.org/) that supports armadillo. While armadillo C++  comes with good hdf5 implementation, there are differences in expressiveness and scalability. As an alternative to the built-in armadillo save/load operators one can write:
[code]
The above [example](https://github.com/steven-varga/h5cpp/blob/master/examples/linalg/arma.cpp) crea

[2020-06-24 10:59] Yashwants19 commented on #2463
Hi I tested this with complete build process, this is looking great. :tada:
Thank you for adding those vanity imports.

[2020-06-25 07:50] pesoke opened #2478 "Unable to load categorical data from .arff files using LoadARFF"
My code:
arma::mat data;
data::DatasetInfo info;
data::LoadARFF("data.csv", data, info);

At run time, this error is present:
terminate called after throwing an instance of 'std::runtime_error'
  what():  Parse error at line 38 token 8: "B".
Abort (core dumped)

I tried again same file but without the categorical data and it works well.

[2020-06-25 12:16] saanumm82 commented on #2472
Hi Ryan Curtin and Team,

Please help on above solution.

[2020-06-25 12:21] rcurtin commented on #2478
Can you provide the contents of `data.csv`? (Also shouldn't it be `data.arff`?)

[2020-06-25 14:02] rcurtin commented on #2472
Hi @saanumm82, at a quick glance the code looks to be correct to me.  Perhaps you should write some tests too to make sure that your implementation is correct, instead of relying just on my quick look at the code?

[2020-06-25 14:41] saanumm82 commented on #2472
Hi Ryan Curtin,
Thanks for the update.
I have already written test code to test the implementation. It's working as expected.

I see some inconsistency between class  'KNN'  and  DecisionTree where as DecisionTree class takes 2nd argument as datasets labels but 'KNN' class doesn't take labels as arguments ie the reason i was getting confused.

However, now looks good to me. Thanks a lot for your s

[2020-06-25 14:55] rcurtin commented on #2472
Great to hear the code works.  Our `KNN` class is not a classifier (though I would love to have an internal implementation of a `KNNClassifier` of course).  Instead it just performs the k-nearest-neighbor search task, which is an unlabeled task, and then provides the results for that. :+1:

[2020-06-25 20:58] saanumm82 commented on #2472
Once again thanks for your help and support.

[2020-06-25 20:58] #2472 closed

[2020-06-26 01:58] #2408 closed

[2020-06-26 07:37] pesoke commented on #2478
This is a portion of it:

@relation analcatdata-braziltourism

@attribute 'Age' INTEGER
@attribute 'Sex' {0,1,4}
@attribute 'Income' REAL
@attribute 'Travel_cost' REAL
@attribute 'Access_road' {0,1}
@attribute 'Active' {0,1,2,3,4,5,6}
@attribute 'Passive' {0,1,2,3,4}
@attribute 'Logged_income' REAL
@attribute 'Categorical Data' { A, B, C}

@data
41,0,2187.5,186.9,0,0,3,7.690514618,B
41,1,406.25,48

[2020-06-27 05:01] jeffin143 opened #2480 "Feat : Addition of Load() for Audio Files"
Currently we can load images and major file formats , but may be a good addition for mlpack would be to load audio files, Since we all are of strong belief not to add dependency, A header only library for the support could be : https://github.com/adamstark/AudioFile

Open to any suggestion or also to know everyone's thought whether to really add the support or would it be really worth adding the s

[2020-06-27 18:00] lozhnikov opened #2482 "Go bindings bug: returning pointer to a local variable"
I was fixing build warnings and I've found an issue.

`src/mlpack/bindings/go/mlpack/capi/cli_util.cpp:125`

[code]

It's definitely an error. I'm not sure how to fix. Unfortunately, I'm not familiar with go.

[2020-06-27 18:06] rcurtin commented on #2482
Nice catch!  I think it could suffice here to literally just do `return CLI::GetParam<std::string>(identifier).c_str();`.  In that situation, `GetParam` will return a `const std::string&`, which would not be freed as soon as the function returned.  @Yashwants19 let me know what you think.

[2020-06-28 06:01] Yashwants19 commented on #2482
Thanks for reporting the issue @lozhnikov. Hi @rcurtin, this solution looks great to me, I have tried to resolve the bug in #2483.
Thank you.

[2020-06-28 14:10] rcurtin commented on #2480
So, technically, even just adding a header file is adding a dependency.  It's an easy dependency, since we can just package the header file, but that actually has its own difficulties: we have to keep up to do with the header file, we have to maintain the header file if it starts to be unmaintained, we have to ensure that the header file itself is distributed with mlpack, we have to consider the l

[2020-06-28 14:53] jeffin143 commented on #2480
Sound good :)

Thanks for the write up

I will go ahead and close it

[2020-06-28 14:59] #2480 closed

[2020-06-28 16:44] danishbelal opened #2485 "Equations do not render."
#### Problem location

https://www.mlpack.org/doc/mlpack-git/doxygen/lrtutorial.html

#### Description of problem

MathJax JS Library is not loaded, so that the equations do not render.  This is probably affecting multiple pages, however I checked only said page.

[2020-06-28 17:44] rcurtin commented on #2478
@pesoke thanks for the info.  I did some digging and ended up opening #2486 to fix the issue.  If you like, would you mind trying that branch and seeing if it solves your problem?  I think it should.  Thanks! :+1:

[2020-06-29 08:47] pesoke commented on #2478
Hi, the method works now for categorical data but the mapping is not consistent. For example I tried on another file which used 18 letters as labels and they were mapped from 18 - 35, instead of 0 to 17. The following is a section of the arff file mentioned:
```@attribute "ACTIVITY" { A, B, C, D, E, F, G, H, I, J, K, L, M, O, P, Q, R, S }```

This meant that when passed through the following FFN,

[2020-06-29 15:59] kartikdutt18 commented on #2294
Keep Open.

[2020-06-30 22:27] rcurtin commented on #2485
Thanks for the report.  I think actually this is something slightly different.  It looks like some of the equations---which should be compiled as `.png`s---aren't actually being created due to Doxygen not successfully compiling them as LaTeX formulas.  I found a bug in the Doxygen documentation (#2488) and after fixing that I'm rebuilding the 3.2.2 documentation now.  Hopefully, when that's done,

[2020-06-30 22:28] rcurtin commented on #2361
Oops, let's leave this open until #2370 is merged.

[2020-07-01 01:43] rcurtin commented on #2485
Ok, this seems to render fine now: https://www.mlpack.org/doc/mlpack-3.3.2/doxygen/lrtutorial.html

It may still be better to switch to using MathJax at some point, but this is at least adequate in my opinion.

Unless you find any other errors, I'll go ahead and close this once #2488 is merged and the mlpack-git documentation rebuilds. :+1:

[2020-07-01 13:58] ljsun opened #2490 "Linking errors in building mlpack with armadillo"
There are something wrong when I run `make` ，
`[  0%] Linking CXX shared library ../../lib/libmlpack.dylib
Undefined symbols for architecture x86_64:
....
ld: symbol(s) not found for architecture x86_64`
but armadillo can be found in the dictionary /usr/local/include, an my os is MacOS10.15.2

[2020-07-01 15:04] shrit commented on #2490
@ljsun  Do you have more output from make?

[2020-07-01 15:05] shrit commented on #2490
if not can you do `make VERBOSE=1`?

[2020-07-02 01:51] ljsun commented on #2490
the more output is
`[  0%] Linking CXX shared library ../../lib/libmlpack.dylib
Undefined symbols for architecture x86_64:
  "___kmpc_critical", referenced from:
      bool arma::diskio::load_csv_ascii<int>(arma::SpMat<int>&, std::__1::basic_istream<char, std::__1::char_traits<char> >&, std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> >&) in load.cpp.o
      arma

[2020-07-02 01:53] ljsun commented on #2490
`make VERBOSE=1` did not work

[2020-07-02 09:52] ljsun commented on #2490
Can anyone help me？

[2020-07-02 09:52] ljsun commented on #2490
Could anyone help me

[2020-07-02 09:54] kartikdutt18 commented on #2490
Hey @ljsun, are you building from source?

[2020-07-02 09:56] ljsun commented on #2490
yes, I download the source from `wget https://www.mlpack.org/files/mlpack-3.2.2.tar.gz`

[2020-07-02 09:57] ljsun commented on #2490
@kartikdutt18 yes, I download the source from wget https://www.mlpack.org/files/mlpack-3.2.2.tar.gz

[2020-07-02 09:58] kartikdutt18 commented on #2490
In your CMakeFlags could add the following : `USE_OPENMP=OFF`.
Also since you are on OSX, you could use `brew install mlpack`

[2020-07-02 09:59] ljsun commented on #2490
I think the reason is that `armadillo ` could not be found, but `armadillo ` is in my path `/usr/local/include`

[2020-07-02 10:16] kartikdutt18 commented on #2490
Also since you are on OSX, you could use brew install mlpack

Could you try this, we do have an issue with linking OpenMP on new OSX. Maybe this should fix it.

[2020-07-02 10:31] zoq commented on #2490
@kartikdutt18 good idea just, if you can test with `cmake -DUSE_OPENMP=OFF ..` instead of `cmake ..` that would be great. If that works we could see if the changes proposed in https://github.com/mlpack/mlpack/pull/2412 work on your system as well.

[2020-07-02 10:58] ljsun commented on #2490
@kartikdutt18 @zoq `cmake -DUSE_OPENMP=OFF ..` worked, but i ran into another problem
`Referenced from: /usr/local/lib/libarmadillo.9.90.1.dylib    Reason: image not found`

[2020-07-02 11:01] zoq commented on #2490
I guess in the `make` stage? Can you remove the build folder and start and start with a clean build?

[2020-07-02 11:04] kartikdutt18 commented on #2490
@zoq, The fix from #2412 works on my system. (It's the one that I have installed). If I don't use it and I try compiling with openmp then it throws, `Unknown symbols`.

[2020-07-02 11:18] ljsun commented on #2490
@zoq it not worked, the main reason is `dyld: Library not loaded: @rpath/libhdf5.103.dylib`

[2020-07-02 11:21] kartikdutt18 commented on #2490
@ljsun, Could you try installing mlpack 3.3.2 instead, It will have the fix from #2328 that might fix the issue with hd5 lib.

[2020-07-02 11:31] ljsun commented on #2490
@kartikdutt18 my version is already 3.3.2

[2020-07-02 12:22] rcurtin commented on #2478
Oops, @pesoke, sorry I didn't get it the first time.  I'll try and reproduce this and fix it shortly. :+1:

[2020-07-02 13:17] zoq commented on #2490
Can you test if the solution in https://github.com/mlpack/mlpack/issues/1069#issuecomment-475402035 works, this is probably a brew packaging problem.

[2020-07-02 13:34] kartikdutt18 opened #2496 "Updating the Style Guide."
The following points are put up for discussion and if needed they can be updated in the style guide.

1. Redundant return in else statement.
Terminating a function with a return statement wrapped around an else statement seems redundant. A few of them were removed in #2491.

2. Style Guide for lambda functions
I think we are trying to add lambda functions in one the PR (can't remember which), we a

[2020-07-02 13:58] #2389 closed

[2020-07-03 20:24] zoq commented on #2496
@kartikdutt18 thanks for starting a discussion about this. Regarding point number one, either is fine for me, I slightly lean towards to not introduce another else case, don't think this will lead to any performance improvement in either direction in most cases.

About the second point, do you have a concrete example? I'm not sure what the preferred lambda function style might look like.

[2020-07-03 23:48] rcurtin commented on #2445
@menkaur I'm not sure what's going wrong here---can you provide a simple example program and data so that we can reproduce this issue and try to debug it?

[2020-07-04 01:54] rcurtin commented on #2384
Wow, sorry to fail to respond to this one for so long.  @shrit it can take a decent amount of time for the website to build, because we actually have to build mlpack's Doxygen documentation, which can take a little while.  However the scripts that run the build drop the new website in place all in one command:

[code]

(That's from `_src/scripts/deploy-site.sh` in https://github.com/mlpack/mlpack.

[2020-07-04 04:37] favre49 commented on #2496
An example of this is [here](https://google.github.io/styleguide/cppguide.html#Formatting_Lambda_Expressions). Most places I've seen follow the same type of thing -  just do the same formatting as for a function.

[2020-07-04 16:03] kolbma commented on #2428
It starts with doxygen **1.8.14**.

But the `@param size_t (rank) Rank of factorization.` doesn't work with **1.8.14**.
It misses a parameter named size_t. So different to 1.8.17 or 1.8.19.

[2020-07-04 21:53] danyvarghese opened #2501 "Decision Stump Error"
Hi

While running the code I get an error as follows

statistics.hpp:44:44: error: ‘decision_stump’ is not a member of ‘mlpack’
 typedef mlpack::adaboost::AdaBoost<mlpack::decision_stump::DecisionStump<>> ADABOOST_DS;

can you please help me to sort out this?

[2020-07-05 00:17] rcurtin commented on #2501
Hi @danyvarghese, some time ago (a few years I think) we changed the `DecisionStump<>` class to actually be a variant of our `DecisionTree<>` class.  You can still use the `DecisionStump<>` name, but now it's in the `tree` namespace.  So, your code should be:

[code]

Note that the functionality is slightly different for the old and new decision stumps, but AdaBoost should still produce good model

[2020-07-05 15:49] #2485 closed

[2020-07-05 16:02] rcurtin commented on #2485
Thanks @birm, forgot to close this one. :)

[2020-07-06 08:04] kolbma opened #2504 "Remove .swp files"
There are some left swp files (from editor I guess) in the source bundle.

$ find mlpack-3.3.2.orig -name "*.swp"
mlpack-3.3.2.orig/src/mlpack/methods/decision_tree/.decision_tree_impl.hpp.swp
mlpack-3.3.2.orig/src/mlpack/methods/decision_tree/.best_binary_numeric_split_impl.hpp.swp
mlpack-3.3.2.orig/src/mlpack/methods/decision_tree/.all_categorical_split_impl.hpp.swp

[2020-07-06 11:25] zoq commented on #2504
Thanks for the report, we should add `.swp` to https://github.com/mlpack/mlpack/blob/master/.gitignore to make sure we don't checkin swap files. Do you want to open a PR to remove the files, don't feel obligated?

[2020-07-07 16:47] #2401 closed

[2020-07-07 19:01] kartikdutt18 commented on #2386
Keep open.

[2020-07-08 10:14] zd1176630227 opened #2506 "Source code"
Can I get all the source code？

[2020-07-08 10:47] #2506 closed

[2020-07-08 15:26] iamshnoo commented on #2439
Let's keep this open please!

[2020-07-08 22:15] rcurtin commented on #2496
Sure, I don't think it would be a bad idea to add some style guide for lambdas.  I think the Google idea is fine although I guess with our style their snippet would actually be, e.g.,

[code]
(I think I got that right?  Basically just I wrapped the `{` and then the wrapped lines are indented 4 spaces.)

[2020-07-10 00:39] rcurtin commented on #919
@NaxAlpha I know it has been a long time since this issue has been discussed, but is there any chance you would be willing to look into updating the mlpack NuGet package?  Like @gmanlan pointed out the one that's there is quite old. :+1:

[2020-07-11 15:31] birm opened #2509 "Following up with a TODO in NewCXX11.cmake"
In https://github.com/mlpack/mlpack/blob/master/CMake/NewCXX11.cmake it's recommended that come the far-off date of late 2016 or min cmake 3.1, that the contents of that file should be moved to the main cmakelists. Are we still interested in doing so?

[2020-07-11 18:32] #2482 closed

[2020-07-11 18:55] #2432 closed

[2020-07-12 01:59] divyanshugit commented on #2443
If it is available, Can I work on this ?

[2020-07-12 02:37] jonpsy commented on #2443
@divyanshugit sorry, I'm already working on this 😁. Check the PR I've cross referenced with this issue.

[2020-07-12 02:55] divyanshugit commented on #2443
That's perfectly fine :)

[2020-07-12 06:35] mrityunjay-tripathi commented on #2434
I have tried to fix the issue in PR #2398. @rcurtin Let me know your thoughts.

[2020-07-12 13:25] bkmgit commented on #1254
This would be a useful addition. A CLI is already part of [nnabla](https://github.com/sony/nnabla/blob/master/doc/python/command_line_interface.rst)

Is anybody still working on this?

[2020-07-12 23:26] #2504 closed

[2020-07-12 23:26] rcurtin commented on #2504
#2510 fixes the issue and is merged now.  Thanks for the report @kolbma! :+1:

[2020-07-12 23:29] rcurtin commented on #2509
Our minimum CMake version is now 3.3.2, so I think we can totally move it to the main CMake configuration.  `NewCXX11.cmake` in particular is used in `src/mlpack/CMakeLists.txt`.  If you want to go ahead and do it please feel free! :+1:

[2020-07-13 16:12] brightprogrammer opened #2511 "undefined reference to sgssv and sgssvx"
[ 18%] Linking CXX executable ../../../../bin/mlpack_adaboost
/usr/bin/ld: /usr/lib/libarmadillo.so: undefined reference to `sgssv'
/usr/bin/ld: /usr/lib/libarmadillo.so: undefined reference to `sgssvx'
collect2: error: ld returned 1 exit status
make[2]: *** [src/mlpack/methods/adaboost/CMakeFiles/mlpack_adaboost.dir/build.make:109: bin/mlpack_adaboost] Error 1
make[1]: *** [CMakeFiles/Makefile2:2

[2020-07-13 17:03] zoq commented on #2511
Hello, can you tell us more about your system, armadillo version, OS, compiler, also did you use qmake instead of make?

[2020-07-13 20:27] shrit commented on #2451
This one will be closed by #2457

[2020-07-14 00:58] rcurtin commented on #2511
This looks like a failure to link against LAPACK or BLAS.  If you've done a custom installation of Armadillo please let us know how it was configured. :+1:

[2020-07-14 05:27] brightprogrammer commented on #2511
Thanks for replying so soon... I've reinstalled my operating system and then installed mlpack form package manager... You can mark this as closed

[2020-07-14 05:27] #2511 closed

[2020-07-14 14:06] brightprogrammer opened #2514 "Loss functions not working in FFN"
I am trying to learn how to use `mlpack::ann::FFN<>` class. The default parameter for output layer type is `mlpack::ann::NegativeLogLikelihood<>` as per documentation but I want to use `mlpack::ann::MeanSquaredError<>` as I don't now former yet... when I use `MSE` I get compiler error saying that `MeanSquaredError<>` is not a part of `mlpack::ann` namespace but when I check the source code of `mea

[2020-07-14 14:07] brightprogrammer commented on #2514
The same problem is there for `mlpack::ann::CrossEntropyError<>`

[2020-07-14 14:20] mrityunjay-tripathi commented on #2514
I think you will have to include
[code]
or any loss function for that matter since it's not there in `layer.hpp`

[2020-07-14 14:58] brightprogrammer commented on #2514
Thank you so much @mrityunjay-tripathi this comment can't really express how happy I am after so many failures!

[2020-07-14 14:58] #2514 closed

[2020-07-14 15:29] mrityunjay-tripathi commented on #2514
@brightprogrammer Glad that it helped :)

[2020-07-15 03:24] jeffin143 commented on #2451
These are the test implemented in mlpack which needs to be ported to catch2, Ideally we would like to do it bit by bit to avoid breaking it and also it would help in reviewing and debugging in case of failure. You can find example on how to port in this [pr](https://github.com/mlpack/mlpack/pull/2457). Also it would make sense to club related test in pr instead of opening a pr for every file. Exam

[2020-07-15 03:56] kartikdutt18 commented on #2451
Hey @jeffin143, Do you mind if I take up the following :
[code]

Once I get the hang of it, I could do the same for the models repo as well.

[2020-07-15 04:00] jeffin143 commented on #2451
@kartikdutt18 , totally ok :)

[2020-07-15 13:32] rcurtin commented on #2478
Hi @pesoke, I just opened #2516 which should hopefully fix your issue.  I tested the updated ARFF loader with the WISDM smartphone data (which is I think where your ARFF file came from):
https://archive.ics.uci.edu/ml/datasets/WISDM+Smartphone+and+Smartwatch+Activity+and+Biometrics+Dataset+

Let me know if that still doesn't fix your issue and I can try again. :smile:

[2020-07-15 18:11] kartikdutt18 commented on #2200
Keep Open.

[2020-07-16 22:33] rcurtin commented on #2478
I'll go ahead and close this since #2516 is merged, but please, if there are further issues just post here and we can reopen the issue, or alternately you can open a new issue.  Up to you.  (In any case I hope that isn't necessary and that your issue is fixed :smile:)

[2020-07-16 22:33] #2478 closed

[2020-07-17 04:09] #2509 closed

[2020-07-19 15:55] rcurtin opened #2521 "Refactor `ProgramInfo` to separate out all the different information"
### What is the desired addition or change?

Right now, information for an mlpack binding is specified by the `PROGRAM_INFO` macro, like this:

[code]

That's from `src/mlpack/methods/pca_main.cpp`.  You can see there are four things specified here:

1. The name of the binding
2. The short description
3. The long description
4. Some number of "see also" links used in the generated documentation

T

[2020-07-19 19:18] jeffin143 opened #2523 "Migrate Tests from boost framework to Catch2 framework"
### What is the desired addition or change?

Currently we use Boost framework to write test for mlpack and we would like to remove that dependency.

### What is the motivation for this feature?

Follow the discussion [here](https://github.com/mlpack/mlpack/issues/2451#issuecomment-658523207) to get more info.

### If applicable, describe how this feature would be implemented.
There is [POC](https:

[2020-07-19 19:19] jeffin143 commented on #2451
Let's close this issue, and continue the discussion there :)

[2020-07-19 19:31] rcurtin opened #2524 ""The future of mlpack", round two!"
Hello everyone!

Nearly ten years ago, I wrote a document called "The Future of MLPACK": http://www.ratml.org/misc/mlpack_future.pdf

That document laid out four goals for the development of mlpack:

 * Create scalable, fast machine learning algorithms.
 * Design an intuitive, simple API for users who are not C++ gurus.
 * Implement as large a collection as possible of machine learning methods.
 *

[2020-07-19 20:22] abernauer commented on #2524
So I have two ideas that come to mind immediately:

1. Standardize interfaces so they align more closely with typical machine learning workflow.
2. Make mlpack more accessible to new users or those lacking C++ expertise.

Number one has already been addressed to a degree with #2421. I think that's a good goal because it makes mlpack less native to people whose primary experience comes from working

[2020-07-19 20:28] rcurtin commented on #2451
Agreed, #2523 is nicely laid out. :+1:

[2020-07-19 20:28] #2451 closed

[2020-07-19 20:48] rcurtin commented on #2523
I handled `activation_functions_test.cpp` in https://github.com/mlpack/mlpack/pull/2525.  Thanks for opening this issue @jeffin143!  I found your guide really helpful; I'd add just two things to it:

`BOOST_REQUIRE_CLOSE(a, b, tol)` --> `REQUIRE(a == Approx(b).epsilon(tol))`

and `#include "catch.hpp"` will be required at the top of the file. :+1:

[2020-07-19 22:57] shrit commented on #2524
I do not know why, but I had an inner feeling this year that we are going to revisit
this document, maybe because I have read this document last year, or maybe because
it is 2020. So I had already prepared a list in my head and I think it is the
time to share it with the community.

Some of these ideas are born during my work on my GSoC project, the other part,
when I use mlpack in general in day

[2020-07-19 23:04] shrit commented on #2185
This issue has been addressed in https://github.com/mlpack/ensmallen/pull/165#

[2020-07-19 23:04] #2185 closed

[2020-07-20 06:48] Yashwants19 commented on #2521
Hi @rcurtin, Can we use a single macro for `EXAMPLE()` and `SEE_ALSO()`?
e.g.
[code]

[2020-07-20 09:13] bkmgit commented on #2524
GPU support may be helpful.  [Bandicot](https://gitlab.com/conradsnicta/bandicoot-code) may be helpful because it can be used by Armadillo and seems portable, though it looks like it is still under development. Not sure how it will compare to other GPU libraries such as [oneDNN](https://github.com/oneapi-src/oneDNN), [cuBLAS](https://developer.nvidia.com/cublas), [RadeonML](https://github.com/GPUO

[2020-07-20 09:38] pesoke commented on #2478
I tried it out and now  {A, B, C, D, E, F, G, H, I, J, K, L, M, O, P, Q, R, S } is mapped to 0 to 17 which is better than 18 to 35. However, the same error as before is still thrown as the model.Train expects the labels to be between [1, 18]. Is there a way for it to map from 1 to 18 instead of 0 to 17 so we do not have to the conversion on our own?

[2020-07-20 20:57] zoq commented on #2524
I completely agree with @shirt about the examples, even if our tests are often a good place to start I don’t like the feeling to point people to the tests if they search for how to use mlpack. For one the tests are really strict; they often focus on a single feature, and they don’t show how you can use the bindings or cli interface. That said I really like to see more real-world examples, ideally

[2020-07-20 21:51] rcurtin commented on #2478
The `NegativeLogLikelihood<>` loss function is a bit unique in mlpack in that it expects labels starting from 1---but basically everything else in mlpack expects it starting from 0.  I'm going to open a patch to change that (although it may require a bit of discussion and changes since it's a pretty fundamental part of the neural network code), but for now, I think the workaround that I would sugg

[2020-07-21 00:51] rcurtin commented on #2521
I dunno, at least personally I think it's nicer to have a different call to `EXAMPLE()` for every individual example.  If the question comes from how to generate unique symbols, we could use `__COUNTER__` like is done with the `PARAM_*()` macros.

[2020-07-21 02:15] pesoke commented on #2478
I see. I will use the workaround for now. Thank you.

[2020-07-21 05:23] bkmgit commented on #2524
@zoq @shrit The tests are nice. Maybe some could be documented as examples? Would some Jupyter examples use C++ through [Xeus](https://github.com/jupyter-xeus/xeus)?

[2020-07-21 05:53] Yashwants19 commented on #2521
Sounds good, I will follow the same approach for refactoring the documentation.

[2020-07-21 06:23] kartikdutt18 commented on #2524
Extending on excellent points from @shrit and @zoq, It would really nice to have the following functionalities as well :

1. Ready to use models :
Most of the times, I feel, people don't create a neural network architecture for the problem they are dealing with, They generally find which is the state of the art model for that domain and tweak it for their problem. Here, having pre-trained models f

[2020-07-21 09:06] gscarella opened #2532 "Compilation problem using conda on CentOS 7 with devtoolset"
Hello,

I have compilation problems  with mlpack, using conda on CentOS 7.
I'm using devtoolset-9 and  mlpack installation was successful with conda. But I got some errors when I compiled basic examples with mlpack in my conda environment.
I obtained several "undefined reference" error messages. Here is the beginning of the compilation errors

`/opt/rh/devtoolset-9/root/usr/libexec/gcc/x86_64-redh

[2020-07-21 21:20] zoq commented on #2532
Hello @gscarella can you post the command you use to build your example as well? Also, looks like you build the current master branch right?

[2020-07-21 21:24] zoq commented on #2524
Yes, we already started to implement some notebooks for the supported languages (C++, Julia, Go, Python), here is an example: https://github.com/mlpack/examples/tree/master/forest_covertype_prediction_with_random_forests

Also you are right the C++ kernel is xeus cling.

[2020-07-21 22:42] rcurtin commented on #2478
I opened #2534 to handle the issue; it may be a little while until it's merged (and it will have to be a part of a 4.0.0 release since it's not reverse-compatible).  Feel free to cherry-pick that commit into your work if you like, or wait to see what happens with the PR. :+1:

[2020-07-22 05:45] bkmgit commented on #2524
@zoq Thanks. Would any of these be helpful to have in the benchmarking setup? Would FANN and DLIB be the most appropriate libraries to compare against?

[2020-07-22 09:32] gscarella commented on #2532
Hello,

I installed mlpack with conda on the CentOS server in my conda environment (named testA)

`conda create -n testA`
`conda activate testA`
`conda install -c conda-forge mlpack`

So mlpack version is 3.3.2.
To compile the example (see after)
`mkdir -p OBJ bin`
`g++ -std=c++11 -g -fopenmp -I/home/gscarella/.conda/envs/testA/include  -c essai_lars.cpp -o OBJ/essai_lars.o`
`g++ -std=c++11 -g -fo

[2020-07-22 20:58] rcurtin commented on #2524
Wow, this is an awesome outpouring of ideas.  It's really cool to see all the different perspectives here, and I think that can help us make a coherent set of goals that we are all aimed at.

If I really pare down what I am seeing in these ideas to a few simple, short bullet points that encapsulate everything, here's what I see:

 * mlpack should focus on ease-of-use for data scientists who may no

[2020-07-23 07:17] conradsnicta commented on #2524
@rcurtin I would recommend considerable simplification of the user-facing API.
Specifically, removal of template based parameters from all user-facing APIs, even if that means a potential minor sacrifices in speed.

Templates are "scary", especially for people coming from "simpler" languages like Python.  Even for many people reasonably well versed with C++, use of templates beyond stuff like std:

[2020-07-23 22:32] PratibhaT opened #2537 "Issue in mlpack::data::Load"
Hi,
I'm getting this error
` undefined reference to bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Mat<double>&, bool, bool)'
collect2: error: ld returned 1 exit status'`

In these lines of code.

[code]

I've added FindArmadillo.cmake, FindEnsmallen.cmake and FindMLPACK.cmake. In my cmake/ .
And following lines in my C

[2020-07-23 22:38] rcurtin commented on #2537
Hi @PratibhaT,

Are you sure CMake is linking against the right library?  If `MLPACK_LIBRARY` is a very old version, or if you have local headers for a new version of mlpack but `MLPACK_LIBRARY` corresponds to an older version of mlpack, this could cause exactly the errors you are seeing here.  It might be worth taking a look through your system to see if there are multiple versions of mlpack on i

[2020-07-23 22:38] rcurtin commented on #2537
(You could also do, e.g., `VERBOSE=1 make` in your CMake project to see the exact compilation and linking commands that are being called.)

[2020-07-23 23:08] rcurtin commented on #2532
Hmm, I do think that may be related to #1546704, but I'm not familiar enough with conda to really say.

By the way, in your example code, you aren't using any of the functions of `CLI` so you could remove this code:

[code]

I don't see `B5cxx11` in your output anywhere, maybe I missed it?  If you can supply the relevant information there it could be helpful too.

Now I do know that conda has gott

[2020-07-24 08:11] jknightmmcs opened #2538 "Structure of probabilities and predictions matrices after Classify() on RandomForest."
Hello, people!

Not sure if this is an issue, but I need to understand what's happening here.

Here is a :[sample app](https://mlpack.org/doc/mlpack-3.1.0/doxygen/sample_ml_app.html). I built it, no problems found.

After investigating the code structure, I have found a sort of inconsistency:
Prediction result is taken as:

`u64 result = predictions.at(0);`

When I tried to look at the probabiliti

[2020-07-24 10:35] bkmgit commented on #2524
One other area that may be of interest is reproducibility. Libraries that have minimal dependencies, may not be as fast, but are portable and allow for easier verification of results.

[2020-07-24 13:17] rcurtin commented on #2440
Let's go ahead and close this---I think we're all agreed that we should remove boost dependencies where possible, and the work is underway with #2458 and #2459 and #2457 (and others). :+1:

[2020-07-24 13:17] #2440 closed

[2020-07-24 21:40] rcurtin commented on #2524
@conradsnicta the powerful thing that we get from user-exposed templates is "policy classes".  For instance, I can write a custom kernel type class called, e.g., `MySpecialKernel` and then create an object of type `KernelPCA<MySpecialKernel>` and the compiler can make optimizations it would otherwise not be able to.  There are particular machine learning techniques for which that can be powerful.

[2020-07-24 21:48] rcurtin commented on #2538
Hey @jknightmmcs, glad you were able to get things running without issues.

I'm not sure I understand the question entirely though.  If you have a `RandomForest` object and you call the overload of `Classify()` that you linked to (which takes a single point `const VecType& point`, and sets a predicted class `size_t& prediction` and class probabilities `arma::vec& probabilities`), this would result

[2020-07-25 04:47] bkmgit commented on #2524
Custom distance metrics are useful. Perhaps examples are needed for this
use case. Perhaps examples can be split into basic set and advanced set.

[2020-07-25 08:20] jknightmmcs commented on #2538
I'm sorry, but this doesn't really answer my question :)

Here is a sample code, a bit modified sample app that I linked in the first post:
[code]

You can see that we have exactly 46 floating-point probability numbers, along with 23 prediction numbers in output of the program.
In the file `german.csv` there is exactly 23 feature columns, and one label column at the end.
From what I understand, wh

[2020-07-25 08:38] jknightmmcs commented on #2538
Digging into Classify() overloads, it seems that I have located the issue.
It seems that sample ML app uses incorrect overload, it should use (mat, size_t, arma::vec) instead. This works as expected:

[code]

Fix it, bug in the first app you ever run with a library is pretty bad for newcomers.

[2020-07-25 19:16] robertohueso commented on #2524
About documentation and examples improvements: There's program, very similar to GSoC, called [Google Season of Docs](https://developers.google.com/season-of-docs). Maybe we can apply for that in the coming years :)

[2020-07-26 15:32] rcurtin commented on #2538
The problem is this line:

[code]

This actually creates a matrix of size 1 row by 23 columns---which, because mlpack is column-major, is *23* points of one dimension each, not *one* point of 23 dimensions (which is what's intended).  The code would work if this creates a matrix with *one* column and 23 dimensions.

I've opened a PR to handle the issue in #2541.  You could adapt your example accor

[2020-07-26 17:48] manish7294 commented on #2524
Hey guys, just a thought. I think if mlpack can have some amount of model interpretability, then I guess it would be really cool and helpful too.

[2020-07-27 04:27] conradsnicta commented on #2524
Sounds good :)  I think in many uses cases a simplified API would be useful.

[2020-07-27 09:36] zoq commented on #2524
I’m not sure what that would mean, let’s take `PCA` as an example, which basically boils down to the following interface:

[code]

So I can see that the `DecompositionPolicy` template parameter can be scary for someone not familiar with templates. So let’s say I provide an alias

`using PCA = PCAType<ExactSVDPolicy>;`

That way a user could directly use `PCA` and not `PCA<>` not sure that is what

[2020-07-27 14:02] rcurtin commented on #2538
With #2541 merged, I'll go ahead and close this because I believe the issue is fixed.  Thanks for the report. :+1:

[2020-07-27 14:02] #2538 closed

[2020-07-28 04:56] conradsnicta commented on #2524
Yeah, this is definitely barking up the right tree.  I was thinking that entirely new functions and classes can be created (which offer simplified API), but the approach of aliasing most common usage patterns (via `using`) can also work.  It would certainly reduce the need for much refactoring.

[2020-07-28 13:46] jknightmmcs opened #2544 "Trying to build a model that is similar to opencv_ml's Boost implementation."
Hello again, guys!

I'm finally starting to write my own code with your library, and I'm stuck a bit.

My reason to move to mlpack was due to opencv_ml's implementation for most effective classifiers there (AdaBoost implementations - REAL, GENTLE, DISCRETE, and LOGIT) didn't provide probabilities for each class, and it became a huge problem for results analysis.

Now I have a problem:

I did manag

[2020-07-28 18:10] SuryodayBasak commented on #2524
Hi Ryan! I'm sorry I'm late to this party. Congratulations on keeping this
going for so long and for being able to grow the community.

I think that one of the things that resonate in my mind is having better
examples. I'd like to extend that -- it might be a good idea to invest some
time on having a set of tutorials that are better organized than what we
currently have. It seems to me that the po

[2020-07-29 20:50] rcurtin commented on #2463
Hey @Yashwants19, this looks basically complete except for one thing:

What are you thinking on this, is this still something we should do?  Or should we go ahead and close this issue if everything is handled well enough for now?

[2020-07-30 02:20] brightprogrammer opened #2547 "How to use concat layer? Any example"
Can you please show an example or give hint on how to use Concat. By reading the source I came to following conclusions :
1-> Concat joins two layers in the FFN
2-> I have to predefine the layers I want to concatenate instead of creating them on the run in the add function of `mlpack::ann::FFN<>`
3-> There is an Add function in Concat class that I have to use to concatenate the layers.

Now there

[2020-07-30 02:38] brightprogrammer commented on #2524
I don't know if I'm allowed to be a part of this conversation or not... Adding gpu support for mlpack might do wonders! (I don't think it has that now). I thought about this and maybe we just need armadillo to use gpu!

[2020-07-30 02:56] mrityunjay-tripathi commented on #2547
@brightprogrammer : Maybe [this](https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/ann_layer_test.cpp#L1393-L1513) is helpful?

[2020-07-30 03:21] brightprogrammer commented on #2547
@mrityunjay-tripathi sure that helped a lot but i still don't understand what's the use of `model` and `run` booleans in the following code :
[code]

[2020-07-30 15:08] zoq commented on #2444
Let's keep this open.

[2020-07-30 21:16] gscarella commented on #2532
Hello,
Thanks for your answer

To explain more about the B5cxx11 missing symbol with devtoolset, there is a  compilation error for "mlpack::CLI::Parameters()" (as an  example). In the library file we have
`% nm libmlpack.so | grep -i "Parameters"`
`00000000000e6bb0 T _ZN6mlpack3CLI10ParametersB5cxx11Ev`
In the object file
`% nm OBJ/essai_lars.o|grep -i "Parameters"                           `
 `

[2020-07-31 06:34] kartikdutt18 commented on #2294
Keep open.

[2020-07-31 09:28] zoq commented on #2547
The `model` parameter specifies if the `Concat` layer should expose the wrapped layers via the `Model` function, which s used to initialize the weights or set specific states for layers. As an example once we added the layers to the `FFN` class, we will go over each layer and initialize the weights, since there could be a layers that is not directly added to the FFN class itself (via `.Add(...)`),

[2020-07-31 11:35] mrityunjay-tripathi opened #2549 "Probable error in gradient function of BatchNorm"
#### Issue description

I spotted a probable error in the Gradient test of the BatchNorm layer. Probably the following lines in `ann_layer_test.cpp` suppressed the errors.
https://github.com/mlpack/mlpack/blob/f500227c6492c8cdcabd407b3bd028565c99f218/src/mlpack/tests/ann_layer_test.cpp#L4070-L4075
I doubt if gradient error can ever be 0.1. Ideally, it should be somewhere around 1e-07, even then ml

[2020-07-31 11:56] kartikdutt18 commented on #2549
I think the expression is correct and the model trains / converges well. I think Atrous Conv layer has an even higher tolerance so we can probably add that to the list above. Also in  the BatchNorm Test you can have a lower tolerance of 1e-2/3 if you don't use a Conv layer in the test.

[2020-07-31 12:01] brightprogrammer commented on #2547
Ok, I understand a few things now... Let's say that I want to implement the following network :
![image](https://user-images.githubusercontent.com/37365905/89029863-ec151000-d34c-11ea-89ad-076ae8d6f97c.png)

How will the code look like?

[2020-07-31 12:15] brightprogrammer commented on #2547
What I am not understanding now is do I have write the forward pass sequence explicitly or is there some way to do it? Do I have to write my own train function that will pass the output from previous layer to the 4 layers in next layer (in the above picture)

[2020-07-31 12:28] mrityunjay-tripathi commented on #2549
@kartikdutt18 : I think [this](https://stackoverflow.com/a/47506918/9231123) explains it well.

[2020-07-31 16:51] Yashwants19 commented on #2463
Everything is looking great.
I am not sure why, but [pkg.go.dev](https://pkg.go.dev/mlpack.org/v1/mlpack?tab=doc) is not detecting `LICENSE` correctly.

I think so we should add this, as Julia provides Yggdrasil check before any release provided to the user or Python(mlpack-wheels) provides travis checks or R will provide CRAN checks. Let me know What do you think?

[2020-08-04 01:42] rcurtin commented on #2463
You're right, this would be nice support to have.  It looks like mlpack/mlpack-go#6 will do the job; thanks so much for taking the time to do that!  Once I see that pass the Travis build, I'll merge it in, and then we can resolve this issue.  Awesome work! :tada:

[2020-08-04 17:22] brightprogrammer commented on #2547
Really? NO REPLY FOR 4 DAYS!! A good library need better support! You can make all fast and amazing libraries you want, if you are unable to give support to users then it's useless!! Idk whether you guys are ignoring or you just forgot how to use your own library... Whatever's the reason... This gesture will not be appreciated by anyone!

[2020-08-04 17:46] zoq commented on #2547
@brightprogrammer we don't ignore anyone, this is an open-source project; we work on the project in our free time, so providing an answer can take some time. A simple ping here on the issue or any other channel would have been more helpful than what you wrote above.

Anyway, if you search for "inception" you get https://github.com/mlpack/mlpack/pull/1950 as a result, the second comment https://git

[2020-08-04 17:46] rcurtin commented on #2547
I assume by "this gesture" you mean your post?

None of us get paid to work on this library---it's open-source.  Pretty much all of us have jobs or other work that take the majority of our time, and then we work on mlpack in our spare time, for fun.

Please be sure to follow the [code of conduct](https://github.com/mlpack/mlpack/blob/master/CODE_OF_CONDUCT.md) in your responses, otherwise we risk

[2020-08-04 17:47] rcurtin commented on #2547
For what it's worth, we are in the process of overhauling our examples and documentation, which should hopefully make things a bit clearer in the future.  See the https://github.com/mlpack/examples repository; note, it's still a work in progress. :+1:

[2020-08-04 17:53] brightprogrammer commented on #2547
Thanks for replying after so long time... You guys have a job so must understand the how important time is, better than me! I can really try to move but I need a vector! The code is not documented that well... You just get this as documentation :
`this is the definition of Linear class` and then `an odinary feed forward pass function`... No documentation on how anything works... I get that you guy

[2020-08-04 18:06] zoq commented on #2547
@brightprogrammer have you seen https://github.com/mlpack/mlpack/pull/1950#issuecomment-511765865 (the comment I posted above), the comment includes the answer to what you asked "What will the code look like?", as well as a test case.

Also regarding "Do I have to write my own train function that will pass the output from previous layer to the 4 layers in next layer (in the above picture)", not at

[2020-08-04 21:21] rcurtin commented on #2524
@brightprogrammer yeah, definitely agreed; the Bandicoot project is in progress for this exact goal: https://gitlab.com/conradsnicta/bandicoot-code/

I think I will try and write up a draft summary of this discussion that we can use as a "guide" or roadmap for future development, and we can workshop it until we have something that we're reasonably happy with.

Many of the requests here revolve aro

[2020-08-04 22:52] brightprogrammer commented on #2524
@rcurtin I'm glad to see that you guys have an ongoing project for gpu support... I don't know how far you have developed the project... I'd like to give recommendations here :
There are 3 libraries called **Plasma, Magma & Slate** that are alternatives to **Blas, Lapack & ScaLapack** respectively... These libraries are highly optimized for switching between gpu and cpu usage are are supported by

[2020-08-05 01:47] brightprogrammer commented on #2524
Old is gold!

[2020-08-05 03:05] brightprogrammer commented on #2524
@rcurtin take a look at this :
https://icl.utk.edu/magma/software/index.html (alternative to LAPACK)

http://icl.cs.utk.edu/plasma/software/ (alternative to BLAS)

https://icl.utk.edu/slate/ (alternative to ScaLAPACK)

The above 3 libraries are highly optimized for linear algebra operations on cpu+gpu! They are supported my AMD, Intel & NVIDIA

[2020-08-05 03:35] conradsnicta commented on #2524
@brightprogrammer A major problem with GPUs is that most "consumer" grade GPUs (read: designed for games) are only suitable for computing with 32 bit floats (and perhaps 16 bit floats).  mlpack in general currently defaults to 64 bit floats (@rcurtin @zoq - please correct me if I'm wrong).  For 64 bit floats most consumer GPUs are either worse or on par with CPUs.

The major exception is of course

[2020-08-05 03:42] bkmgit commented on #2524
There are deep learning applications that can use precision less than 64 bit floats, including 32 bit floats and modified 16 bit floats. These may also be important in the embedded and mobile computing space. Some care is needed in choosing these.

[2020-08-05 04:12] kshunmugaraj opened #2554 "Text classification"
Hi,
I am looking for Text classification example code,  mainly on Text pre-processing and Tokenizing and Vectoring text to use it in ML libraries.

[2020-08-05 04:19] brightprogrammer commented on #2524
@conradsnicta that information is new to me... Please take a look at this if it helps... MAGMA provides following precisions :
![IMG_20200805_094415.jpg](https://user-images.githubusercontent.com/37365905/89371265-82a45100-d700-11ea-8aa3-d54e1caeb77f.jpg)

I think `float` is a 32 bit and `double` is 64 bit precision here ( please correct me if I am wrong 😅 as I haven't used lapack and blas before.

[2020-08-05 05:07] bkmgit commented on #2524
@brightprogrammer
Useful input. Possibly of interest:
https://blogs.nvidia.com/blog/2020/05/14/tensorfloat-32-precision-format/
the reduced precision format seems vendor specific. Unclear how much want to expose this to the typical user though. Some care is needed in design to minimize dependencies, having reasonable speed and good developer productivity.

[2020-08-05 05:34] conradsnicta commented on #2524
@brightprogrammer For clarification:
* type`float` is 32 bit floating point; aka single-precision; https://en.wikipedia.org/wiki/Single-precision_floating-point_format
* type `double` is 64 bit floating point; aka double-precision; https://en.wikipedia.org/wiki/Double-precision_floating-point_format

More info: https://en.wikipedia.org/wiki/IEEE_754

Armadillo matrix type `mat` (and `dmat`) uses b

[2020-08-05 07:14] brightprogrammer commented on #2524
http://icl.cs.utk.edu/projectsfiles/magma/doxygen/routines.html

Please take a look a this page. It mentions some functions that provide 64 bit precision operations, eg : `magma_dgemm` for double precision general matrix multiplication... Is precision compatibility a problem even now? 😅

[2020-08-05 08:19] conradsnicta commented on #2524
@brightprogrammer Compatibility is not the problem. It's the lack of reasonably-priced (less than $1000) GPUs with "proper" support for 64 bit floating point (FP64).

All modern GPUs have at least rudimentary support for FP64. For the common case of cost-accessible GPU cards (read: "gamer" GPUs), the performance of FP64 is less than or about the same as a modern CPU.  Hence there is no advantage i

[2020-08-05 10:02] brightprogrammer commented on #2524
@conradsnicta I think I get what u are trying to say... Now it's upto developers!

[2020-08-05 12:47] rcurtin commented on #2524
Let's try and stay on topic here please. The bandicoot repository or a separate issue can be used if we want to discuss the details of GPUs. :+1:

[2020-08-05 12:57] zoq commented on #2554
Hello, I'm not sure are you looking for something like word2vec?

[2020-08-05 12:59] zoq commented on #2554
Also mlpack implements one-hot encoding.

[2020-08-05 14:58] kshunmugaraj commented on #2554
Thanks for the reply,  i am working on email classification problem, for that i wanted to do text pre-processing and TFIDF vector. So was looking for sample code.

[2020-08-05 15:20] zoq commented on #2554
There are some examples using TFIDF here: https://github.com/mlpack/mlpack/blob/2b27e6c11f4e6d76080ae43a43d447934a0b7624/src/mlpack/tests/string_encoding_test.cpp#L715 also https://fedoramagazine.org/spam-classification-with-ml-pack/ might be helpful, because you mentioned mail classification.

[2020-08-05 20:40] rcurtin commented on #2463
Awesome, I think we can resolve this now.  Great work @Yashwants19! :rocket:

[2020-08-05 20:40] #2463 closed

[2020-08-05 21:04] rcurtin commented on #2532
I see, glad to hear you could work around the issue using the conda-supplied compiler.  Honestly I am not sure that much else could be done in this case, at least not from our side.  I'll go ahead and close this issue since I think it's resolved now, but if I misunderstood and there is still something that needs to be handled, please don't hesitate to comment and we can reopen the issue and try to

[2020-08-05 21:04] #2532 closed

[2020-08-06 00:06] shrit commented on #2524
@rcurtin I think the best way is to have a `Roadmap` page on mlpack website, in which there is a long timeline contains the features that have already achieved and what will be achieved in the future.
The Roadmap will have the next year's objectives and we will classify all open PR (low-level goals) and issues into directions (high-level goals) that mention contributors working on each direction,

[2020-08-06 21:35] rcurtin commented on #2544
Hey @jknightmmcs, sorry for the slow response on this one.

Can I ask what version of mlpack you are using?  At some point between mlpack 2 and 3 we shifted from using a custom decision stump implementation to a decision tree implementation that more closely reflects ID3.  If you can use a newer version (like 3.3.2 or git master), that should use the decision tree implementation.

One of the thing

[2020-08-07 06:39] kshunmugaraj commented on #2554
Thanks, thanks a lot for your time. Will check it.

[2020-08-07 06:53] #2554 closed

[2020-08-08 01:50] rcurtin commented on #2496
Hey @kartikdutt18 and @favre49, what do you want to do with this issue?  I'm happy to make changes to the style guide---it certainly seems like nobody was opposed to what's suggested here.  If you want to propose a section to add to the style guide, we can go ahead and do that. :+1:

[2020-08-08 02:53] kartikdutt18 commented on #2496
Sure, I will make leave a comment here with the changes and if that makes sense we can merge it in the style guidelines wiki.

[2020-08-08 15:07] #2490 closed

[2020-08-10 00:07] #2445 closed

[2020-08-10 21:55] R-Aravind commented on #2200
Hey.. I would like to work on Multi Label Margin loss.

[2020-08-10 22:07] iamshnoo commented on #2200
Sure, feel free to do so.

[2020-08-11 02:07] #2501 closed

[2020-08-11 06:59] kartikdutt18 opened #2561 "Error in Serialization of models."
Hey there everyone,
There might be some error in serialization in Convolution or BatchNorm i.e. the saved model doesn't generate the same prediction when loaded again and used for prediction. Here is a simple file for testing.
[code]

Or you can clone this [branch](https://github.com/kartikdutt18/examples/tree/SerializationError) and run `make` in mnist_cnn directory.

The file above uses the save

[2020-08-11 14:59] kartikdutt18 commented on #2443
Keep open.

[2020-08-11 15:00] jonpsy commented on #2443
Seconded, give me a week or two to get back.

[2020-08-12 14:26] hl-xue opened #2565 "k-fold cv returns -nan"
Hello to all.

I am using mlpack-3.3.2. When doing k-fold cross-validation using f1 score for Naive Bayes Classifier, I found for some input, .Evaluate() method returns -nan as the result. According to what I understood to the f1 score formula, this happens when in the test set TP=FP=FN=0. I tried to shuffle the k-fold data multiple times (with the method .Shuffle()), but this occurs always.

For

[2020-08-12 21:08] zoq commented on #2561
Not sure maybe you already tested the code above without the `BatchNorm` layer? Does it produce the same result?

[2020-08-12 21:31] zoq commented on #2524
Partially we already have that but we don't use it that much: https://github.com/mlpack/mlpack/milestones. I guess another function we could use is projects, Shogun makes use of the feature: https://github.com/shogun-toolbox/shogun/projects

Personally, I would use a feature that easily integrates into our existing workflow, pretty sure at some point the roadmap will become outdated when it comes

[2020-08-13 00:42] robertohueso commented on #2524
There's one idea I've been thinking about:

Many cloud providers are now selling MLaaS (Machine Learning as a Service) and to the best of my knowledge, there's no open source library or tool that makes easy for people/organizations to build their own "MLaaS cloud". I guess this would be, mainly, useful for organizations where they have a few powerful machines and many users. Maybe they can have so

[2020-08-13 04:20] kartikdutt18 commented on #2561
I hadn't earlier but this problem isn't there without BatchNorm Layer. So the problem is with serialization of BatchNorm Layer.

[2020-08-13 04:24] shawnbrar opened #2567 "Using linear regression multiple times on the same data gives me very different predictions"
I have recently started to use `mlpack`library, so I am still learning it. The problem is when I am using the Linear Regression method on the same dataset, each time it give me back very different predictions. So, following the following is the code that I using in C++:-

__________________________________________________________________________________________
#include <mlpack/core.hpp>
#include

[2020-08-13 17:39] saksham189 commented on #2561
can you try to compare the parameters for model and model2 and identify where the difference is?

[2020-08-13 17:46] kartikdutt18 commented on #2561
Sure, that makes sense. I will test it out.

[2020-08-13 21:02] zoq commented on #2567
Hm, I tested the code above and at least on my system I can see the same result in each run: can you save the preprocessed file e.g. using `data::Save("data.csv", rel_data);` and make sure the file is the same for each run?

[2020-08-13 21:03] zoq commented on #2567
Btw. what mlpack version are you using?

[2020-08-13 21:22] zoq commented on #2561
Looking at the forward pass:

https://github.com/mlpack/mlpack/blob/da83453e24b1e7bb704e8174a912af48d5d1c2d7/src/mlpack/methods/ann/layer/batch_norm_impl.hpp#L154-L165

each parameter should be serialized, but still a good idea to check if the parameter are correctly loaded.

[2020-08-14 01:23] shawnbrar commented on #2567
Yes the data seems to be the same on every run. It is the parameters of the regression model which keep changing.

I am using the latest version of the library (3.2.2)

[2020-08-14 03:38] shawnbrar commented on #2567
I figured out the problem. Earlier I had compiled mlpack with openmp support for parallelization. Now, I've compiled it again but without openmp support. And now it is working fine. It is giving me the same result every time I run my program.

[2020-08-14 04:30] shawnbrar commented on #2524
(I am a very new user of mlpack so I might be inaccurate about something)

@rcutin, One way you can increase the ease of use of mlpack is by adding a feature to easily subset a matrix. I come from R programming language background. In R, getting a subset of a matrix is very simple. For ex:-
You have a matrix `data` which has 10 rows and 10 columns. I want to get rows 1 to 5 and columns 1 to 5. Cur

[2020-08-14 04:53] abernauer commented on #2524
@shawnbrar There is an mlpack R package very close to complete in development that uses Rcpp. I have a lot of experience in R programming from course work during college. A lot of stuff you can do in R is going to take a lot more code to with C++ given the language constructs. Also the mlpack R package has a lot of helper functions for converting things to work with R objects. In general it will b

[2020-08-14 05:46] shawnbrar commented on #2567
The problem was actually with the openmp which ships with Ubunutu by default. I uninstalled it and built it from source. And now even with OpenMP, the mlpack is working correctly. Thank you.

[2020-08-14 08:47] shawnbrar commented on #2524
@abernauer , that is great. But I hope that you get my point.
If you want ease of use for the library, you will have to make the matrix subsetting a little easier. And if not, maybe writing some good tutorials which shows how one can do this.

[2020-08-14 13:50] abernauer commented on #2524
@shawnbrar Yeah I get your point. There is a large gallery of tutorials available [here](http://www.rcpp.org/) relevant to Armadillo and specifically directed toward R users. Also an [article](https://gallery.rcpp.org/articles/armadillo-subsetting/index.html) that features the syntax for sub-setting a matrix in Armadillo.

[2020-08-14 16:47] zoq commented on #2567
Interesting, what Ubuntu version are you using?

[2020-08-15 00:40] shawnbrar commented on #2567
I am using Ubuntu 18.04.

[2020-08-16 21:29] zoq commented on #2567
Alright thanks for the info.

[2020-08-17 22:43] rcurtin commented on #2561
Just glancing at the implementation, I looked through members that aren't serialized; it led to a few questions about the implementation:

 1. It seems like maybe `mean` and `variance` need to be serialized.
 2. We seem to be serializing `gamma` and `beta`, but `Reset()` sets those to aliases of the `weights` matrix; so I wonder if we can avoid serializing those.
 3. Maybe `normalized` needs to be

[2020-08-17 23:48] rcurtin commented on #2565
Hi @hl-xue, I guess, a thing to check would be the performance on the full training set of the Naive Bayes Classifier.  Can you try training an NBC model on the whole dataset, and then see what the accuracy / TP / FP / FN rates are?  If those are problematic, it might be easier to debug what is going on.

For instance, I think that Naive Bayes might have problems if you have a dimension that takes

[2020-08-18 07:35] #2434 closed

[2020-08-20 02:59] shawnbrar opened #2571 "Loading a dataset with categorical variable with help of DatasetMapper object"
I was trying loading the [iris](http://archive.ics.uci.edu/ml/machine-learning-databases/iris/iris.data) dataset and the last column in the dataset is a categorical one. So while reading the documentation I found out that this could probably be done with the help of the [5th function overload](https://www.mlpack.org/doc/mlpack-3.3.2/doxygen/namespacemlpack_1_1data.html#a9af06d46f91871c42f38e30aac5

[2020-08-20 13:59] rcurtin commented on #2571
Hi @shawnbrar, this should be pretty straightforward, you can do it like this:

[code]

Here's a relevant tutorial: https://www.mlpack.org/doc/mlpack-3.3.2/doxygen/formatdoc.html#formatcatcpp

Let me know if we can clarify anything else. :+1:

[2020-08-20 14:01] rcurtin commented on #2521
We can close this now that #2558 is merged.  Thanks again @Yashwants19!

[2020-08-20 14:01] #2521 closed

[2020-08-20 14:03] hl-xue commented on #2565
Hi @rcurtin,

Thanks for your reply.

I had some tests. I trained NBC model on the whole dataset, classified on the same dataset, and then looked the confusion matrix and F1 score. Things works fine.

But when I re-add the k-fold cross-validation, the -nan reoccurs. For example, I made a simple data as below:
    Observations = [7, 6, 5, 4, 3, 2, 1]
    Labels = [0, 0, 0, 1, 1, 1, 1]
    with 2-fo

[2020-08-20 14:07] rcurtin commented on #2565
Interesting, do you think this is because one of the folds will sometimes end up only having point with label 0 and no points with label 1?

I'll dig in to see if I can reproduce it, but I suppose, if you did LOOCV (7-fold), the F1 score shouldn't be -nan, at least on the *training* data.

[2020-08-20 14:19] hl-xue commented on #2565
I guess so.

Thanks, I will try LOOCV.

[2020-08-20 14:27] rcurtin commented on #2565
Another question, I guess, is how large is your dataset?  This situation of only getting one class in a subset would be more likely for small data.

(It won't be until tonight that I can look into this, at the earliest.)

[2020-08-20 14:32] hl-xue commented on #2565
I have 100+ samples.

OK, no problem ;-)

[2020-08-20 15:25] rlichtenwalter opened #2573 "Undefined references with both distro packages and custom build"
I am trying to build a project with the mlpack shared library on Ubuntu 18.04. I think I must be missing something obvious, but I'm not sure what it might be and would appreciate some help. I first tried the distro packages via

sudo apt-get install libmlpack2 libmlpack-dev

Then I followed the GNU/Linux build instructions, including altering LD_LIBRARY_PATH to include the target installation path

[2020-08-20 15:56] rcurtin commented on #2573
Hi @rlichtenwalter,

This looks to me like interference between the distro and hand-compiled packages.  Specifically, the symbols `mlpack::Log::Info`, etc., do not exist in libmlpack.so.2, but they do in libmlpack.so.3.  So I bet that your program is using mlpack 3 headers for compilation, in `/usr/local/include/`, but it's trying to link against mlpack 2 in `/usr/lib/libmlpack.so.2` instead of `/

[2020-08-20 18:53] Yashwants19 commented on #2521
Thanks @rcurtin for all the help.

[2020-08-20 19:39] rlichtenwalter commented on #2573
Hi @rcurtin.

That was one of my thoughts too, but purging those packages, completely cleaning my project, and then rebuilding my project gives exactly the same errors. I shouldn't need to rebuild mlpack itself after the purge, should I?

[2020-08-20 19:51] rcurtin commented on #2573
Hmm, sometimes this can be an argument ordering issue.  Try the `-L` arguments before the `-l` arguments?  (Also, is `/usr/local/lib/libmlpack.so` the same version as the headers installed in `/usr/local/include/mlpack/`?  (Also, there aren't any stray mlpack headers in `/usr/include/` or anything, somehow left after the purge?))

[2020-08-20 22:18] rlichtenwalter commented on #2573
Just to provide you with more information, because I left this out, I'm building version 3.3.2.

After doing the purge I also manually purged via:

rm -rf /usr/include/mlpack
rm -f /usr/lib/libmlpack*

Assume that catches it all. Just rebuilt 3.3.2 from scratch (totally removed the download and staging dir) post apt purge and manual purge/check. It builds fine, but when I try to compile my project

[2020-08-20 22:19] rcurtin commented on #2573
Hmmm, so what I would want to know is what `libmlpack.so` that gcc is trying to link against but I'm not sure how to get it.  Can you do `ls -lh /usr/local/lib/*mlpack*` and maybe we can see what mlpack libraries are in there?  (Hopefully only one!)

Also, I assume you did `make install` after you rebuilt from scratch?

[2020-08-21 03:09] shawnbrar opened #2576 "A way to just compile and run Linear Regression Test"
Is there any way in which I can just compile and run the Linear Regression test?

[2020-08-21 05:12] rlichtenwalter commented on #2573
I'll see if I can do one better; let's look for everything anywhere on the system!

user@host:/$ sudo find / -name 'libmlpack.so*'
/tmp/mlpack-3.3.2/build/lib/libmlpack.so
/tmp/mlpack-3.3.2/build/lib/libmlpack.so.3
/tmp/mlpack-3.3.2/build/lib/libmlpack.so.3.3
/usr/local/lib/libmlpack.so.3
/usr/local/lib/libmlpack.so.3.3
/usr/local/lib/libmlpack.so

The version from the build is the only thing anyw

[2020-08-22 22:40] Aminah1992 opened #2580 "How to run neighbor_search from methods?"
I finally run mlpack correctly; but unfortunately when I try to run knn_main.cpp from "methods" file 38 error show.
How to run the ready code in src/mlpack/methods/

When I try to run one of them errors occured!!

Error (active)	E0020	identifier "PRINT_DATASET" is undefined	k-nn	C:\mlpack\mlpack\src\mlpack\methods\neighbor_search\knn_main.cpp	52

Error (active)	E0077	this declaration has no storag

[2020-08-23 21:31] zoq commented on #2580
Did you follow https://www.mlpack.org/doc/mlpack-3.3.2/doxygen/build_windows.html or one of the tutorials at the end? It's possible to build the knn methods only, but from the screenshot above it looks like you build is based on: https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/neighbor_search/CMakeLists.txt and not https://github.com/mlpack/mlpack/blob/master/CMakeLists.txt?

If yo

[2020-08-23 23:00] Aminah1992 commented on #2580
Yes, you are right. And, yes I just want mlpack_knn.
 I followed the steps that you recommend, but another errors shows up.

![Untitled](https://user-images.githubusercontent.com/69873647/90990875-8adc0780-e5ad-11ea-8ff5-863fbb12da4f.png)

Thank you so much.

[2020-08-24 00:54] rcurtin opened #2581 "Refactor CMake binding configuration"
### What is the desired addition or change?

This comes out of the discussion for the R bindings: https://github.com/mlpack/mlpack/pull/2556#discussion_r470272755

At the end of `src/mlpack/CMakeLists.txt`, there is a section for each binding type.  It would be cleaner if we instead created macros like `post_markdown_setup()` for each of the existing binding languages (Julia, Go, Python) in each b

[2020-08-24 09:01] zoq commented on #2580
From the first picture it looks like mlpack can't find armadillo, one of the dependencies mlpack needs for building. Did you install armadillo and is it in the correct location?

[2020-08-24 10:41] Aminah1992 commented on #2580
Yes I did. This is the path of armadillo
C:\mlpack\armadillo

This is the path of mlpack
C:\mlpack\mlpack

[2020-08-24 15:55] rlichtenwalter commented on #2573
Agreed that it's odd. I'm not as experienced as you, probably, but I've done a fair amount of GNU/Linux sysadmin and software development work, and I've never run into this. I also haven't ever had a problem linking anything else in this particular environment. I still feel like I must be doing something ill-advised and overlooking it, but it seems like there must be some very strange interaction

[2020-08-24 16:44] rlichtenwalter commented on #2573
@rcurtin Okay! So the Domino environment won't operate the Ubuntu 18.04 image *completely* stock, but all I did was install a very minimal set of supporting packages that should definitely not be an issue and set up user information. Then I worked through the VSCode plugin. In short, it's essentially stock, and I *did* have the same linking issue.

[2020-08-24 16:49] rlichtenwalter commented on #2573
And another update. On a hopeful hunch, I tried swapping out ld for gold, and it linked! It seems like we should still get to the bottom of this, so I'm happy to continue diagnostic work. That said, it seems like I have a working binary now.

[2020-08-24 17:53] rcurtin commented on #2573
Oh, interesting!  I have never played with gold.  I actually did not have a chance to look into this over the weekend, but I'll see if I can learn a bit about gold and try to use it later today to reproduce the problem that you're seeing in a simple Ubuntu Docker container.  Thanks for digging!  I think we can get somewhere with this. :)

[2020-08-24 18:09] rlichtenwalter commented on #2573
Sounds great! Thanks for all the effort. And just to be clearer in my language, the link issue was with ld, and gold was the linker that worked. I wonder if you'll be able to reproduce at all, though, and looking forward to hearing the outcome.

[2020-08-24 19:10] jknightmmcs commented on #2544
I was using version 3.2.2. You suggest an update?

0.85 was achieved with a separate test set. I didn't actually check performance with a training set: as far as I know, measurements that only based on a training set are a best way for model to overfit.

Actually, I'm using cross-validation to check for model efficiency: dataset is splitted into 5 parts, one is for test, four are for training, rep

[2020-08-25 01:17] rcurtin commented on #2573
I tried creating an Ubuntu 18.04 container, compiling mlpack using the gold linker (with CMake I used `-DCMAKE_CXX_FLAGS="-fuse-ld=gold" -DCMAKE_C_FLAGS="-fuse-ld=gold"`), and then installing to `/usr/local/lib/` with `sudo make install`.

Following this I created a simple program that used the `mlpack::kmeans::KMeans<>` object, and then tried to compile using the GNU `ld` linker like so:

[code]

[2020-08-25 02:26] rcurtin commented on #2565
Yes, I think what's going on here is that there are too many folds being used, and some of the folds have only one class in the validation fold, causing an F1 score of -nan.  Here is a test program I wrote:

[code]

And when I run this, I get:

[code]

If I run again with a different random seed, the results are roughly the same.  As the number of points per fold goes up, the probability of a -nan

[2020-08-25 06:02] micyril commented on #2565
Hi Ryan,

I think everything you mentioned is reasonable. I can think of few other options.
1. We can shuffle data in the way that reduces the probability of presenting just one label in a validation fold. For example, we can shuffle separately positive and negative data points, and then mix them in the way that there is roughly the same distribution of labels in any window of size (number of data

[2020-08-25 15:02] hl-xue commented on #2565
Hi @rcurtin,

OK, thanks a lot for your detailed reply and suggestions ! I will take the first suggestion for now.

By the way, for information, I tried the LOOCV (7-fold) on the simple test data [1, 2, 3, 4, 5, 6, 7], but I still got -nan.

Best wishes.

[2020-08-25 16:00] rlichtenwalter commented on #2573
In my case, the failure occurred when I compiled mlpack with the ld linker rather than gold, so no special CMake flags for gold, then linked against it with ld. I haven't used gold in compilation of mlpack. Did you happen to also try that (build mlpack with ld, link against it with ld)? That's what failed.

I have switched to installing libraries to /usr/lib via the CMake parameter: still linker e

[2020-08-25 17:41] zdcrandall opened #2582 "Will k-medians or k-mediods methods be added?"
Hi! I am fairly new to mlpack (I only found it a week ago) and I am trying to familiarize myself. I could not find an implementation of k-medians or k-mediods algorithms in the documentation, although I did find k-means! I also did not see anything about them in pull requests or the issues that already exist. Are there plans to add either of these algorithms in the future? Do they exist and I just

[2020-08-25 18:23] jknightmmcs commented on #2544
Well, with DicisionTree weak learner I have finally got what I wanted - success rate is just about what I need, 0.93 on the same dataset. Thanks for the help :-)

[2020-08-25 18:23] #2544 closed

[2020-08-25 21:01] mikkac opened #2585 "Add clang-format to the project"
Hi guys, I wanted to start making more contributions to the project, but I noticed, that no clang-format is used (AFAIK no formatter at all). Instead, there are style guidelines defined in [DesignGuidelines](https://github.com/mlpack/mlpack/wiki/DesignGuidelines#style-guidelines)
To be honest, it's getting hard when you contribute to multiple projects at once- it's impossible to remember about all

[2020-08-25 21:10] rcurtin commented on #2585
This could be really nice for sure.  It's been discussed in #1203, so you could find some more comments and concerns there.  I imagine that the design guidelines couldn't really be captured very well by clang-format (the style guidelines seem easy though)?

I think actually the style guidelines in https://github.com/mlpack/mlpack/wiki/DesignGuidelines#style-guidelines are pretty close to some base

[2020-08-25 21:11] rcurtin commented on #2585
For what it's worth, we do have a style checker that runs in Jenkins on PRs.  But currently we don't have a good way to run that locally.

[2020-08-25 21:54] mikkac commented on #2585
@rcurtin Thanks for the answer :) I will surely go through those issues in free time and will get back to you. Thanks

[2020-08-27 00:34] rcurtin commented on #2544
@jknightmmcs great to hear you got it worked out! :+1:

[2020-08-27 00:40] rcurtin commented on #2585
Awesome!  And our style guide is changeable if we need; probably good not to make huge changes, but for smaller changes that make it easier to use `clang-format` it should be easy to get widespread agreement. :+1:

[2020-08-27 00:51] rcurtin commented on #2582
Hi @zdcrandall, those would be great to add!  One of the nice things about our k-means implementation is that it's not just the standard Lloyd's algorithm---there are also several accelerated variants, like Elkan's algorithm, Hamerly's algorithm, and so forth.  I think that k-medians and k-mediods could also have the same kind of optimizations applied to them, though it may not be a trivial conver

[2020-08-27 02:42] rcurtin commented on #2565
@micyril thanks for the thoughts! :+1:  Actually I think the best way forward here would be option (2): exclude any NaN values from averaging, and print something to `Log::Warn` indicating to the user that a fold had a NaN measure, and that this can happen when folds don't have points for all classes, or something like this.  I'll prepare a PR shortly. :)

@hl-xue great to hear the ideas will work

[2020-08-27 08:34] hl-xue commented on #2565
Hi @rcurtin, I've just met another interesting case: I was trying to evaluate a "bad" feature without cross-validation and using f1 score. I trained and tested both on the same dataset of 374 observations (240 negatives and 134 positives). Since it's a "bad" feature, the naive Bayes classifier predicts all observations as negative. So I have the confusion matrix below:
[code]
And for the f1 score,

[2020-08-27 14:43] zdcrandall commented on #2582
@rcurtin Thank you for the informative and friendly response! I do not think that I will be able to contribute this, unfortunately, but I agree it would be great to see them implemented!

[2020-08-27 14:43] #2582 closed

[2020-08-27 20:25] rcurtin commented on #2573
Hmm, I actually did try it all four ways (mlpack linked with ld, program linked with gold; and, mlpack linked with gold, program linked with ld; then the two combinations), and wasn't able to reproduce the issue.  So I am somewhat stumped.

But I do have some strange ideas. Is it possible that there is some SELinux policy or similar in this container that is disallowing the linker from using `libm

[2020-08-27 21:45] Aminah1992 commented on #2580
Help is needed here, please.

[2020-08-28 15:32] jknightmmcs opened #2589 "Problem with exceptions and OpenMP"
#### Issue description

I've managed to find a problem of a following sort:

Let's say that I create RandomForest object with dataset/labels parameters supplied.

For some reason (I didn't dig through that, incoming call parameters are correct - double-checked), once in 10-15 calls I get an std::logic_error exception instead of a trained object (Row::subvec illegal access out of range).

Because e

[2020-08-28 18:30] himanshupathak21061998 opened #2590 "`WeightSetVisitor` and `WeightSizeVisitor` should calculate the size of the layer."
#### Issue description
`WeightSetVisitor` and `WeightSizeVisitor` should calculate the size of each layer by using the parameters like `inSize` and `outSize` but currently they are not doing same. It should be different for each layer.
For Linear Layer it will be `inSize * outSize + outSize` .
Note:- While adding implementation of WeigthSize please look at constructor to get the information about

[2020-08-28 23:47] rcurtin commented on #2580
Hi @Aminah1992, it looks like you haven't followed the Windows build guide: https://www.mlpack.org/doc/mlpack-3.3.2/doxygen/build_windows.html

Can you try following that fully? Based on your screenshot it looks like CMake isn't being run.

If you're trying to run CMake from Visual Studio and it isn't running correctly, take a look at the output of the failed CMake run, and that can be helpful for

[2020-08-29 00:19] Aminah1992 commented on #2580
Hello @rcurtin , actually I followed every single step in Windows guide. And I could run cmake from command prompt.
![Untitled](https://user-images.githubusercontent.com/69873647/91623456-3fa66800-e9a4-11ea-8d91-9225fc8f3085.png)
![Untitled1](https://user-images.githubusercontent.com/69873647/91623507-6b295280-e9a4-11ea-86d5-a30d1e73e866.png)

[2020-08-29 11:24] DiscreteLogarithm opened #2592 "Implement the centroid finding part of the `KMeans` as a separate class and pass it as a template parameter"
### What is the desired addition or change?

The algorithm for finding the centroids of clusters should be customizable similar to the way metric is.

### What is the motivation for this feature?

This will allow implementation of weighted k-means algorithm as well algorithms such as k-medians.

### If applicable, describe how this feature would be implemented.

Similar to the way metric is implem

[2020-08-29 14:53] Aminah1992 commented on #2580
Hi @rcurtin,

I did it again from scratch, and every thing is okay until I run a sample code.
I got this run time error.

![Untitled](https://user-images.githubusercontent.com/69873647/91639601-79b54f80-ea20-11ea-9705-72a45c823626.png)

[2020-08-29 17:18] Aminah1992 commented on #2580
I think my problem is from Properties
How to link a program to mlpack

![Untitled](https://user-images.githubusercontent.com/69873647/91642538-c9057b00-ea34-11ea-9ba4-7df7fe47b8ec.png)

[2020-08-29 21:43] zoq commented on #2580
Looking at the output, it looks like it can't find the boost header files, can you make sure, `AdditionalIncludeDirectories` is set correctly, it should look similar to:

https://github.com/mlpack/mlpack/blob/933537d4342d82ded35d8470dee59b696f328cdc/doc/examples/sample-ml-app/sample-ml-app/sample-ml-app.vcxproj#L107

You might have to adapt the version and file path.

Same for `AdditionalDependenc

[2020-08-29 21:54] Aminah1992 commented on #2580
Thank you, I will try it right away.

[2020-08-29 23:35] #2537 closed

[2020-08-30 00:43] rcurtin commented on #2565
Hi @hl-xue, the F1 score in the two-class case will return `-nan` if there are zero positive class predictions, or if there are zero positive class instances.  This comes from the expression of F1 score as `2 * (precision * recall) / (precision + recall)`, and the fact that `precision` is a division by 0 if there are no positive class predictions, and `recall` is a division by 0 if there are no po

[2020-08-30 00:48] #1269 closed

[2020-08-30 01:09] rcurtin commented on #1269
@vasiloglou sorry that this took so long!  It should be fixed now.  We can celebrate with Cafe Agora next time we run into each other. :smile:

[2020-08-30 07:26] kartikdutt18 commented on #2294
Keep Open.

[2020-08-30 08:11] hl-xue commented on #2565
Ah, yes, you're right. I was thinking the formula f1 = TP/(TP + 0.5(FP + FN)), but this formula is deducible only if (TP+FP)(TP+FN) is not equal to 0.

Thanks !

[2020-08-30 12:13] nalin12345 commented on #891
Hi I would like to work on this issue.

[2020-08-30 20:57] Aminah1992 commented on #2580
Yes, you are right. The "sample-ml-app.vcxproj" file has incorrect paths. I changed these paths to the right once, but still have the same errors.

![Untitled](https://user-images.githubusercontent.com/69873647/91669306-9636b200-eb1c-11ea-93ff-b4da495b9e35.png)

[2020-08-31 06:55] conradsnicta opened #2596 "repeated use of internal Armadillo functionality"
Internal function "arma::diskio::guess_file_type()" has been marked as deprecated in Armadillo 9.800+, in order to allow mlpack to transition to another solution and to avoid using internal armadillo functionality (which is subject to change and/or removal without notice).

This was popping up as a warning during compilation of mlpack.

However, the current "fix" in mlpack (by @Yashwants19) seems

[2020-08-31 17:33] Aminah1992 commented on #2580
I did all the steps again. Here are some screenshots

Here are the screenshot when building Armadillo.sln
![building Aramdillo](https://user-images.githubusercontent.com/69873647/91748538-ca67ac80-ebc8-11ea-9b77-79b0e0c22ee1.png)

Here are the screenshot when running cmake on build directory in mlpack. I notice that Julia is missing and python is missing. What shell I do ?
![building mlpack](https

[2020-08-31 21:40] zoq commented on #2580
`data.csv` is not part of the mlpack repo, you can use: https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/data/iris_train.csv as an example file. Also, you can ignore the Python and Julia warnings, if you want to use the C++ interface.

[2020-08-31 23:03] rcurtin opened #2599 "Submit R bindings to CRAN"
Hey @yashwants19, @eddelbuettel, and @coatless,

It's really exciting that the R bindings are merged now!  @Yashwants19, you've done an amazing job this summer and we finally---after probably 6-8 years!---have R bindings automatically generated for mlpack.  I guess, the last step is submission to CRAN.  Releasing mlpack 3.4.0 is next on my list, so, that'll be ready in the next day or so and we ca

[2020-08-31 23:11] rcurtin commented on #2592
@DiscreteLogarithm this would definitely be a nice addition!  See also #2582.

For an API, it *might* be possible to simply add another overload of `Cluster()` to `KMeans<>` that takes weights, but I am not sure if that will cause ambiguity (there are already a few overloads there).  If it is ambiguous, then I think a `WeightedKMeans<>` class is just fine.

We implement each of the strategies for

[2020-08-31 23:50] eddelbuettel commented on #2599
Awesomeness.  Consider this as a standing offer to aide you with the CRAN submission and everything, and feel free to hit me on other channels if ever there something not deemed "public".

Basically the next steps are to (speed-)read the "Policy" you will agree to adhere to:  https://cran.r-project.org/web/packages/policies.html

And then to upload.  Let @coatless and my myself maybe have another

[2020-08-31 23:54] Aminah1992 commented on #2580
Okey, I understand. But how about the runtime error ?
it is from the file "prefixedoutstream_imp.hpp"
line 140
throw std::runtime_error("fatal error; see Log::Fatal output");

[2020-09-01 03:00] rcurtin commented on #2565
#2595 is merged now, so I think this issue is fixed (or at least improved).  Please feel free to open more issues in the future, or, if your problem is actually not solved and I misunderstood, we can reopen this one. :)

[2020-09-01 03:00] #2565 closed

[2020-09-01 12:56] Yashwants19 commented on #2599
Thank you for opening the issue.

[2020-09-01 23:16] rcurtin commented on #2589
Hey @jknightmmcs, thanks for the report.  You are right that exceptions thrown inside of an OpenMP context are hard to deal with, and I want to leave this issue open until we handle that correctly.

But, if you are getting `std::logic_error` exceptions, maybe we should debug that?  Generally in mlpack, errors don't tend to be particularly recoverable (of course this is not an excuse!), so if an ex

[2020-09-02 05:27] jknightmmcs commented on #2589
@rcurtin, thanks for the response! This seems to be off-topic here, so, when I'll have enough time (in the next week or so), I'll create another issue with minimum working example and headerless dataset.

[2020-09-02 21:39] zoq commented on #2580
That's a result from `Log::Fatal` which returns since it can't fine the file.

[2020-09-03 09:47] ashishsiyag opened #2601 "building mlpack from source failed while accessing 'guess_file_type_internal' from 'arma::disko'"
build % make
[  0%] Updating arma_config.hpp (if necessary)
[  0%] Built target mlpack_arma_config
Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  1%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/core/data/load.cpp.o
In file included from /Users/siyagashish/Desktop/open-source/mlpack-3.4.0/src/mlpack/core/data/load.cpp:13:
/Users/siyagashish/Desktop/open-source

[2020-09-03 10:03] ashishsiyag commented on #2601
This is what I got while executing 'cmake../'

% cmake ../
-- cotire 1.7.10 loaded.
-- Could NOT find Ensmallen (missing: ENSMALLEN_INCLUDE_DIR) (Required is at least version "2.10.0")
-- [download 0% complete]
-- [download 1% complete]
-- [download 2% complete]
-- [download 3% complete]
-- [download 4% complete]
-- [download 5% complete]
-- [download 6% complete]
-- [download 7% complete]
-- [dow

[2020-09-03 13:56] conradsnicta commented on #2601
the associated bug fix is in this PR: https://github.com/mlpack/mlpack/pull/2597

[2020-09-03 15:51] rcurtin commented on #2601
Thanks @conradsnicta; I'm in the process of resurrecting the other PR you suggested there, hopefully that will be open later today (currently debugging a test).

@ashishsiyag you could either apply that PR to your branch, or another workaround would be to use an older version of Armadillo.

[2020-09-03 16:41] ashishsiyag commented on #2601
while executing my 'cmake ../' I am getting such response, previously I installed go 1.15, now uninstalled and installed 1.11.0, still it is unable to find go and various other files. how to get them resolved ?

build % cmake ../
-- cotire 1.7.10 loaded.
-- Found Ensmallen: /usr/local/include (found suitable version "2.14.0", minimum required is "2.10.0")
-- Could NOT find OpenMP_C (missing: OpenM

[2020-09-03 17:18] rcurtin commented on #2601
It looks like the configuration still succeeds.  If you're not intending to build the Go bindings, you don't need to worry about those messages.  If you *are* intending to build the Go bindings, can you provide the outputs of `/usr/local/bin/go version`?

[2020-09-03 18:01] ashishsiyag commented on #2601
`siyagashish@Ashishs-MacBook-Air bin % /usr/local/bin/go version`
`go version go1.15 darwin/amd64`

[2020-09-03 18:04] ashishsiyag commented on #2601
@rcurtin I intend to work on issue #2592 , so before starting with it, I wanted to get mlpack running on my system.

[2020-09-03 18:06] rcurtin commented on #2601
@ashishsiyag in that case, I wouldn't worry about the Go bindings---you shouldn't need them for development. :+1:

[2020-09-03 18:07] jeffin143 commented on #2601
Hi @ashishsiyag , since you would be working on #2592  I don't think go bindings are necessary just run a sample program to check if everything else is good
And rest you are good to go

Welcome to the community

[2020-09-03 18:42] Aminah1992 commented on #2580
Which file ?
So, is it problem from building mlpack or from coding ?

 I put a sample code and set the Additional Include Directories to boost, Armadillo and mlpack.

What is the right way of using mlpack?

[2020-09-03 19:08] DiscreteLogarithm commented on #2592
Thanks for your reply and sorry about my late answer. I've already modified naive and dual tree algorithms for the weighted case for my own use but unfortunately not in a general and elegant manner because I'm in a rush to meet a deadline but hopefully I will have time for this in 3 weeks and will implement it if still not done.

By the way I have two more observations about the KMeans code. Consi

[2020-09-03 19:37] Aminah1992 commented on #2580
The error is that it can't find Armadillo !!
I followed the windows tutorial latterly.

This is the error
![Untitled](https://user-images.githubusercontent.com/69873647/92159298-db692580-ee35-11ea-86c6-7380807c4836.png)

Here are the paths of mlpack and armadillo
![Untitled1](https://user-images.githubusercontent.com/69873647/92159347-eae86e80-ee35-11ea-85d1-f414bc8c0cc9.png)

[2020-09-04 02:59] rcurtin commented on #2599
I got through the process of setting up R-devel and did `R CMD check --as-cran` on the tarball generated by the Github action (super easy!) but the release of Armadillo 9.900.3 breaks us and forces #2602 to be merged and thus 3.4.1 to be released before I can pass that check.  That should be just a day or two until all that is done. :+1:

[2020-09-04 03:03] eddelbuettel commented on #2599
How so? What breaks?  (And in the future once it is "up" it will of course by one 700+ reverse depends and checked prior to release.)  9.900.3 is a small delta over 9.900.2, and I had nothing else break so surprised it caused a wobble.  Or was it simply because you had the version number hardwired or something like that?

(Also, r-devel can be had via Docker containers I look after. Easier than bu

[2020-09-04 09:29] conradsnicta commented on #2599
@eddelbuettel Long story short, due to this: https://github.com/mlpack/mlpack/issues/2596. Simple fix is in https://github.com/mlpack/mlpack/pull/2597, though the more elaborate fix in https://github.com/mlpack/mlpack/pull/2602 is preferred.

[2020-09-04 11:28] eddelbuettel commented on #2599
Thanks for the clarification. (And to be plain, in my world that is not "breakage" (as no functionality was "borked", or I missed something glancing at the tickets) but an extension / refactoring.  Hence my astonishment about the sudden "breakage".  Not so.)

[2020-09-04 11:29] ashishsiyag commented on #2601
Sorry to keep bothering you, running `make mlpack_test` builds successfully but running the tests `bin/mlpack_test` returns error.

`siyagashish@Ashishs-MacBook-Air build % make mlpack_test`
`[  0%] Updating arma_config.hpp (if necessary)`
`[  0%] Built target mlpack_arma_config`
`Moving header files to include/mlpack/`
`[  0%] Built target mlpack_headers`
`[ 34%] Built target mlpack`
`[100%] Buil

[2020-09-04 11:32] rcurtin commented on #2599
@eddelbuettel it actually is a breakage---Armadillo 9.900.3 now marks `guess_file_type_internal()` as private, so mlpack currently won't compile until #2602 is merged (see #2601).

[2020-09-04 11:32] eddelbuettel commented on #2599
Missed that, thanks.

[2020-09-04 12:54] jeffin143 commented on #2601
@ashishsiyag , Please refer https://github.com/mlpack/mlpack/pull/2572#issuecomment-678107849 , We recently had some changes with test
https://github.com/mlpack/mlpack/pull/2572#issuecomment-678107849

you can run `./bin/mlpack_catch_test "[KNNTest]"`

 also about the second issue, can you run 2-3 times to check if that happens every time , I think  it is a random failure, Also The are some memory

[2020-09-04 16:00] ashishsiyag commented on #2601
I deleted the build repo, created new dir build,
`$ mkdir build`

`$ cd build`

`$ cmake ../`
`-- Configuring done`
`-- Generating done`
`-- Build files have been written to: /Users/siyagashish/Desktop/open-source/mlpack-3.4.0/build`

`$ make mlpack_knn -j1'`
`[100%] Built target mlpack`
`Scanning dependencies of target mlpack_knn`
`[100%] Building CXX object src/mlpack/methods/neighbor_search/CMa

[2020-09-04 16:39] jeffin143 commented on #2601
@ashishsiyag please read the above comment and linked comment we migrated some of the test from boost to catch

bin/mlpack_test -t KNNTest is wrong

And knn is in not in mlpack_test it's in mlpack_catch_test , mlpack_catcg_test are all test written in catch where is the other one is boost

So please build ` make mlpack_catch_test ` and then run

bin/mlpack_catch_test "[KNNTest]"

[2020-09-05 09:19] Aakash-kaushik commented on #2592
Is anyone working on this ?

[2020-09-05 10:37] zoq commented on #2592
@Aakash-kaushik please feel free to work on this.

[2020-09-05 10:50] Aakash-kaushik commented on #2592
So i am taking up the implementation of this.

[2020-09-05 11:13] 1sarthakbhardwaj opened #2606 "getting error in building mlpack"
CMake Error at /usr/share/cmake-3.10/Modules/FindBoost.cmake:1947 (message):
  Unable to find the requested Boost libraries.

  Boost version: 1.65.1

  Boost include path: /usr/include

  Could not find the following Boost libraries:

          boost_unit_test_framework

  Some (but not all) of the required Boost libraries were found.  You may
  need to install these additional Boost libraries.

[2020-09-05 13:49] rcurtin commented on #2592
@Aakash-kaushik didn't @DiscreteLogarithm say above that he wanted to work on this in three weeks?  Maybe finding a different issue would be a better idea.

@DiscreteLogarithm I'll answer your comment more completely soon. :+1:

[2020-09-05 13:52] rcurtin commented on #2606
Do you have the boost unit test framework installed? The error messages indicates that it is not installed.

[2020-09-05 14:05] Aakash-kaushik commented on #2592
@rcurtin I missed that part. Will take up something else.

[2020-09-05 14:33] Aminah1992 commented on #2580
Thank you,
The problem has been solved

Is there a mlpack metric for laplacian score?

[2020-09-05 15:04] Aminah1992 commented on #2580
Thank you

The problem has been solved.

[2020-09-05 15:04] #2580 closed

[2020-09-05 15:25] ASQWZXED opened #2607 "Mlpack metric"
Hi,

Is there a mlpack metric for laplacian score?
If not, how can I put laplacian score?

Thank you

[2020-09-05 18:28] 1sarthakbhardwaj commented on #2606
i have done same as directed in this page
https://www.mlpack.org/doc/mlpack-git/doxygen/build.html#build_dep

after your suggestion I have installed boost unit test framework but it is
showing a lot more files that are not found what about that.

-- Julia not found (missing: JULIA_EXECUTABLE) (Required is at least
version "0.7.0")
-- Julia not found; not building Julia bindings.
-- Not building Ma

[2020-09-05 18:38] zoq commented on #2606
As long as you don't want to build the R, Julia or Go bindings you can ignore the warnings.

[2020-09-05 19:34] DiscreteLogarithm commented on #2592
@rcurtin Thanks.

Personally I don't mind others working on this.

[2020-09-06 12:48] #2549 closed

[2020-09-07 10:27] #2607 closed

[2020-09-07 16:41] rcurtin commented on #2596
Fixed in #2602.  Thanks for reporting @conradsnicta. :+1:

[2020-09-07 16:41] #2596 closed

[2020-09-07 16:42] rcurtin commented on #2084
Fixed in #2602.

[2020-09-07 16:42] #2084 closed

[2020-09-07 18:38] rcurtin commented on #2599
Submitted today; I'll update this issue when I hear back from CRAN. :+1:

[2020-09-07 19:08] eddelbuettel commented on #2599
Awesome.  One word of caution is that you .... need to be very patient.  One can look into incoming (I use a shell snippet via the old-yet-powerful `ncftp` client; there is also a [browseable site here](https://lockedata.github.io/cransays/articles/dashboard.html)) and see that some items take time to be processed. I uploaded RcppSpdlog on or around Aug 25, got one first piece of feedback ("more e

[2020-09-07 19:20] eddelbuettel commented on #2599
BTW don't see it yet in incoming.  Make sure you also the email handshake.  From what I can tell `mlpack` is not yet in the queue.

[2020-09-07 19:33] coatless commented on #2599
"E-mail handshake" here is a single clickable URL that verifies you did indeed send a package to CRAN. The e-mail will always be sent to whoever is the maintainer of the _R_ package.

Given `mlpack`'s complexities, I'm going to assume we'll probably hear back from them at the end of September.

[2020-09-07 19:36] eddelbuettel commented on #2599
Good reminder so I just checked.  Should be good:

https://github.com/mlpack/mlpack/blob/e11c3e320c4008a3c6ed16abeef69d53c0584366/src/mlpack/bindings/R/mlpack/DESCRIPTION.in#L6

[2020-09-07 22:19] coatless commented on #2599
Looks like it moved into the `pretest` queue. So, we're a quarter of the way there!

![Screen Shot 2020-09-07 at 5 18 54 PM](https://user-images.githubusercontent.com/833642/92418673-51b7a180-f12e-11ea-9be0-ce8263e60fe3.png)

[2020-09-07 22:49] ASQWZXED opened #2610 "Facing problem when adding a new distance metric to mlpack."
Hi, I tried to write a distance metric, but there are two errors. I don't know how to remove them.

This is my code:

#include <mlpack/core.hpp>
#include <mlpack/methods/neighbor_search/neighbor_search.hpp>

using namespace std;
using namespace mlpack;
using namespace mlpack::neighbor;
using namespace mlpack::metric;

class ExampleMetric
{
	// Default constructor is required.
	ExampleMetric() { }

[2020-09-07 23:52] rcurtin commented on #2599
Awesome---I'll update here when I hear back from a CRAN maintainer. :+1:

[2020-09-08 00:14] eddelbuettel commented on #2599
Just checked again. You "survived" `pre-test` (a testament to the quality of the package) and are now at the very end of `newbies`.  That will take some time but you can always `ls -lt` in directory `newbies` to see how many are ahead of you.  It'll probably be a week.

[2020-09-08 08:56] UtR491 commented on #2610
Make you constructor and `Evaluate` function public. The [second error](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-error-c2248?view=vs-2019) says they are private(default). For the [first error](https://docs.microsoft.com/en-us/cpp/error-messages/compiler-errors-1/compiler-error-c2338?view=vs-2019) may be sharing the code in `hrectbound.hpp` will help?

[2020-09-08 11:02] ASQWZXED commented on #2610
He @UtR491, I put them public and the second error disappear.
First error I put my code in  hrectbound.hpp file and another error shows up.
 I know that I have to put my code in a .hpp file, but I don't know which one.
![Untitled](https://user-images.githubusercontent.com/69873647/92468501-efb57580-f1db-11ea-8f10-9206fede43f1.png)
Thank you for helping

[2020-09-08 13:29] UtR491 commented on #2610
Umm, I am not sure that I get what you mean.The error is in line 57 of `hrectbound.hpp` can you share the code here?

[2020-09-08 15:40] ASQWZXED commented on #2610
Yes, sure.

This is line 57
static_assert(meta::IsLMetric<MetricType>::Value == true,
      "HRectBound can only be used with the LMetric<> metric type.");

Here is the screenshot.
![Untitled](https://user-images.githubusercontent.com/69873647/92497961-b04e4f80-f202-11ea-8ff9-1c352f577913.png)

[2020-09-08 15:54] UtR491 commented on #2610
Maybe just copy paste the entire code here?:sweat_smile: So that I can see what is in the meta namespace and where the Value variable becomes false?

[2020-09-08 15:57] ASQWZXED commented on #2610
Here is the code That I wrote:

#include <iostream>
#include <mlpack/core.hpp>
#include <mlpack/methods/neighbor_search/neighbor_search.hpp>

using namespace std;
using namespace mlpack;

using namespace mlpack::neighbor;
using namespace mlpack::metric;

class ExampleMetric
{
public:
	ExampleMetric() { }
	template<typename VecTypeA, typename VecTypeB>
	static double Evaluate(const VecTypeA& a, con

[2020-09-08 15:57] kartikdutt18 commented on #2610
Hey @ASQWZXED,
In the above code could make all functions public by adding `public:` after the opening bracket.

[2020-09-08 16:17] UtR491 commented on #2610
@kartikdutt18 I was wondering what is `hrectbound.hpp` doing here?

[2020-09-08 17:38] ashishsiyag commented on #2601
`siyagashish@Ashishs-MacBook-Air build % bin/mlpack_catch_test "[KNNTest]"`
`mlpack version: mlpack 3.4.0`
`armadillo version: 9.900.3 (Nocturnal Misbehaviour)`
`zsh: bus error  bin/mlpack_catch_test "[KNNTest]"`

[2020-09-08 17:51] kartikdutt18 commented on #2610
I think this issue might be relevant, #1149. Kindly let me know if this is of any help.

[2020-09-08 18:55] ASQWZXED commented on #2610
Yes, you are right. When I put the type of tree as #1149 it works.
But another errors comes up, it is from the formula that I have wrote.

It is from this line
return arma::exp(-((arma::square(arma::abs(a - b))) / (arma::sqrt(2))));

![Untitled](https://user-images.githubusercontent.com/69873647/92516293-a8e86f80-f21d-11ea-83ef-bdbefdda7379.png)

[2020-09-08 18:56] civdex opened #2611 "Exception thrown at 0x00007FFC39A112DE (vcruntime140d.dll) in CNNTutorial: 0xC0000005: Access violation reading location 0x00000201BF43B000. occurred"
Hello!

I'm receiving this error when calling
[code]
which links to the armadillo header `arrayops_meat.hpp`

any help would be appreciated. thanks

[2020-09-08 21:32] civdex commented on #2611
nevermind the problem was that I was operating on Debug and not the Release configuration.

thanks

[2020-09-08 21:32] #2611 closed

[2020-09-09 03:54] kartikdutt18 commented on #2610
In the above line, we can't use sqrt in arma namespace for scaler type (here, 2). Here we would use the one in std namespace.
So the expression should be :
[code]

Also note that you need to return a double and not a vector / arma type.

[2020-09-09 05:14] ASQWZXED commented on #2610
Okay, I figured out.
But there is an error about converting from const vector to double .

![Untitled](https://user-images.githubusercontent.com/69873647/92557184-4e2e3280-f274-11ea-804f-b1e355f6f163.png)

[2020-09-09 05:55] kartikdutt18 commented on #2610
Yeah, because as above, you are returning a vector instead of double. I think you need to correct the expression. In C++ return type is specified at time of function declaration and whatever you return must match that type. This might be [useful](https://www.w3schools.com/cpp/cpp_functions.asp).

[2020-09-09 08:28] Aakash-kaushik commented on #2181
hey @kartikdutt18 i did not saw `PRelU`, `ReLU6`, `RReLU`, `SoftMin` or `AdaptiveLogSoftmaxWithLoss` in src/mplackmethods/ann/activation_functions please correct me if i am wrong but i would like to take up one from them if they don't have a PR or have't already been completed.

[2020-09-09 08:44] blackhat-7 commented on #2606
I faced the same issue even after installing boost, but just removing the "build" directory that I had made and then redoing cmake ../ after creating a new "build" directory solved the problem.
So in short just run the following commands in the mlpack dir after installing all the necessary dependencies:
[code]

[2020-09-09 08:51] kartikdutt18 commented on #2181
Hey @Aakash-kaushik, PRELU was added in #872, ReLU6 is same as ReLU but with 64 bits (If I am not wrong). I don't think rest of the activation functions are present so you can start working on one them first if you want.

[2020-09-09 09:10] Aakash-kaushik commented on #2181
Great, will start working on them.

[2020-09-09 09:53] Aakash-kaushik commented on #2181
Also @kartikdutt18  i just checked and ReLU6 is not the 64 bit version its this `min(max(0,x),6)`

[2020-09-09 13:03] eddelbuettel commented on #2599
I see you migrated to `archived/` so you must have gotten a love letter explaining why.  Feel free to share if you think we can help.

[2020-09-09 13:43] rcurtin commented on #2599
[code]

I responded:

[code]

[2020-09-09 13:54] eddelbuettel commented on #2599
Ok, we can disentangle them.  1) is easiest. In the DESCRIPTION file use `License: BSD_3_clause + file LICENSE` and the include a file `LICENSE` contained (your adapted content, I just sketched this)

[code]

(and I think you make that a longer enumerated list of authors as in the papers and also add 'and mlpack contrinutors')

The 'size seems rather excessive' is explainable; maybe include a roug

[2020-09-09 14:20] rcurtin commented on #2599
I'd really prefer not to register another account.  Remember I don't even speak R (and honestly it is not high on my list of languages to pick up---there's just not enough time)... is there any chance you are willing to look into whatever the build failure is, or get access to a log somehow?  My best guess is that it's running out of resources for the build, or timing out.  Perhaps Uwe will provid

[2020-09-09 14:33] eddelbuettel commented on #2599
Uwe deals with over 16k packages and (my guess) over 1k authors and I do not know how many daily submissions.

And I misspoke. It is not "an account".  It is just verifying that your ratml.org email points to you after which you win-builder access which is scripted and covers 12 systems.  I think you would benefit from having it esp as reports only go to the listed "owner" of the package (by defau

[2020-09-09 18:56] ASQWZXED commented on #2610
Okay, I have several stupid questions, I spent hours on this project but it needs more time and it is my first time dealing with mlpack.

First question about the data in the file such as iris_train.csv . Is each row a data and its dimensions? I couldn't figure out how to read it. I want a data points with dimensions for knn.
Second question about  mlpack::kernel::LaplacianKernel    is it the lapl

[2020-09-10 02:41] rcurtin commented on #2592
Hey @DiscreteLogarithm, sorry it took me a little while to get to these questions:

So, the `EmptyCluster` policy is actually looking to receive the centroids from the previous iteration.  This comment is from `MaxVarianceNewCluster`.

[code]

Anyway, when I designed that policy, I thought it could be useful to have both `oldCentroids` and `newCentroids`; for instance, you might want to choose to

[2020-09-10 06:36] kartikdutt18 commented on #2496
I'm sorry I lost track of this issue. Here is a sample that I think we can add. If this makes sense we can add to the wiki.

## Lambda Functions
Lambda functions can be used to encapsulate code that is passed to another method. The brace placement will follow the same guidelines as other functions i.e. The opening braces of lambda function will also be indented. An example of lambda function is sh

[2020-09-10 08:28] ASQWZXED commented on #2610
It is the same.
Thank you

[2020-09-10 08:28] #2610 closed

[2020-09-10 09:46] GLmontanari opened #2614 "The given MLAlgorithm requires the numClasses parameter"
Hello!
I'am facing this issue upon build of this short piece of code:

[code]
where `testData` and `testLabel` are non empty.

I have tried more or less all the constructors for `SimpleCV` but I get the same error

located in cv_base_impl.hpp at line 28

What is the correct way to do it?

I am using mlpack-3.3.2 and Visual Studio 2017 on Windows 10, SDK version 10.0.17763.0.
Release + x64.

[2020-09-10 10:21] GLmontanari commented on #2614
Sorry. I have just noticed that the type of numClasses should be `size_t` and not `int`.
I wasted a lot of time just because the compiler wasn't signaling the type mismatch but it was quite a simple case.
Closing the issue.

[2020-09-10 10:21] #2614 closed

[2020-09-10 10:37] barak opened #2615 "ARMA_64BIT_WORD mismatch while compiling mlpack"
#### Issue description

I'm getting a build error on a 32-bit architecture, see https://buildd.debian.org/status/fetch.php?pkg=mlpack&arch=mipsel&ver=3.4.1-1&stamp=1599729345 and https://buildd.debian.org/status/package.php?p=mlpack for the most recent autobuild results on varoius architectures.

One possibly relevant bit:

[code]
There is also an out-of-memory event, not sure if that is a consequ

[2020-09-10 14:19] Yashwants19 commented on #2599
I am really sorry, I totally missed this [#comment](https://github.com/mlpack/mlpack/issues/2599#issuecomment-689603318) but I tried to check the package on `Debian Linux, R-devel, GCC` by changing the Maintainer's name (I hope this will not create any problem with CRAN re-submission.). These are the results:
[text](https://builder.r-hub.io/status/original/mlpack_3.4.1.tar.gz-4ba9d124eea04cbf844d5

[2020-09-10 14:23] eddelbuettel commented on #2599
Yes, examples and tests should not be too long.  I thought it was one minute each, but a few more are tolerated.  We should not run "all".  There are ways to toggle that.

Unlikely to be a rejection reason, may be a comment though.

[2020-09-10 14:45] rcurtin commented on #2599
@Yashwants19 do you want to take over the maintainer position?  You are way more knowledgeable than me, and my time to look into this is pretty limited.

[2020-09-10 14:52] Yashwants19 commented on #2599
I am really sorry, I didn't mention this properly, my intention was to ask -- Do `CRAN` also have some time limit for installing(or No output after some time --> Abort) for the package?

I guess I embed all the examples in `\dontrun{}` and we have only one test that also take 1.2 sec. I am really sorry if I misunderstanding something here.

[2020-09-10 14:55] Yashwants19 commented on #2599
Hi @rcurtin I didn't take over the position of maintainer for the package, I just renamed it for running the `R CMD check` on rhub as I have done handshake before.

[2020-09-10 15:03] shrit commented on #2615
@barak maybe you need to install armadillo manually and specify in the CMake command that it is 32bit architecture, I am not sure.
Just curious how much RAM is available in you system?

[2020-09-10 15:05] Yashwants19 commented on #2599
Then I guess we may have to wait for the reply from Uwe only, as the package is installing perfectly on r-hub and if I am not wrong the comment from Uwe was related to some installation only.

[2020-09-10 15:10] shrit commented on #2615
@barak can you specify how are you building mlpack? usually it should only compile on one core.

[2020-09-10 16:04] kartikdutt18 commented on #2443
Keep Open.

[2020-09-10 16:44] Yashwants19 commented on #2421
Hi @rcurtin, This is looking interesting, do you have idea/vision regarding this, If you want then I can help in this revamping, I might am not able devote 100% till Feb, as I will start my preparation for my Mtech's entrance, but sure I definitely will try to devote some my time here. :)

[2020-09-10 18:48] #2547 closed

[2020-09-10 19:43] ASQWZXED opened #2616 "How to use KNN with Laplacian ?"
I want to write run KNN with k>1 using lapacian.

When I put it like that an error shows up.
NeighborSearch < NearestNeighborSort, mlpack::kernel::LaplacianKernel, arma::mat, mlpack::tree::RPTree> KNN(data);

The error:

Error C2338	HRectBound can only be used with the LMetric<> metric type.	lack	C:\DEV\vcpkg\installed\x64-windows\include\mlpack\core\tree\hrectbound.hpp	57

[2020-09-10 19:46] rcurtin commented on #2616
`NeighborSearch` is for kNN in metric spaces.  But `LaplacianKernel` is not a metric, it's a kernel.  It has different properties.  If your goal is to find points with maximum `LaplacianKernel::Evaluate()` values between them, then you probably want to use the `FastMKS` class, which is built for similarity search in non-metric spaces with kernels. :+1:

[2020-09-10 20:45] Aakash-kaushik commented on #2615
Hey @shrit, I believe `make` doesn't usually compiles on one core i had to specify with `make -j1` to compile it on one core otherwise it used to fail on my system.
I have a 4 core CPU with 8 GB of ram, If that helps.

[2020-09-10 20:48] Aakash-kaushik commented on #2615
Hey @barak, Yes you need to specify the number of cores to build, It affects the amount of memory that is being used, if you have less memory i would advice you to go with `make -j1` that worked for me.

[2020-09-10 20:52] rcurtin commented on #2614
@GLmontanari a little while ago I encountered the same issue and it was a bit time-consuming.  Sorry that you encountered it too!  I opened https://github.com/mlpack/mlpack/pull/2617 which hopefully should improve the error output there.  Let me know what you think. :+1:

[2020-09-10 21:55] rcurtin commented on #2590
For anyone interested in working on this, a couple more details:

`WeightSetVisitor` and `WeightSizeVisitor` in `src/mlpack/methods/ann/visitor/` are used to traverse the layers of a neural network and determine the size of the weights associated with them.  For instance, this function in `weight_size_visitor_impl.hpp` just uses `layer->Parameters().n_elem` to compute the size of the layer's weigh

[2020-09-10 22:05] rcurtin commented on #2615
Yeah, the `ARMA_64BIT_WORD` mismatch is a little concerning, but shouldn't affect the build, at least.  The real error seems to be this:

[code]

mlpack can be really harsh on memory, in part because of its heavy reliance on Boost (@shrit and others are working hard to help change that! :smile:).  When I encounter OOMs packaging mlpack for Fedora, here are my tricks:

 - remove `-pipe` from `CMAKE

[2020-09-10 23:56] rcurtin commented on #2599
I don't understand what is required for the `LICENSE`.  I don't have copyright for the whole library, and not everything that is distributed is under the BSD 3-clause license.  So, as far as I can tell, what's currently written is accurate in `DESCRIPTION`:

[code]

And in the `LICENSE` file it explains the terms that are above and beyond the BSD 3-clause license.  I'm not sure what Uwe is looking

[2020-09-10 23:57] coatless commented on #2599
@rcurtin how about either Dirk or myself takes it over for the package submission phase and, then, once on CRAN we pass the maintainer role back to you?

[2020-09-11 00:08] eddelbuettel commented on #2599
I am currently in three week dogfight with them over that for a _much_ smaller and clearer package.  It's gotten pretty beaureaucratic.  As I run service monitoring new and update package publishing [1], I noticed the copyright statements in DESCRIPTION seem to be getting more verbose.  Total pain in the rear.

Don't get me wrong. I am (obviously) very much in favour of giving credit, citing prope

[2020-09-11 00:35] rcurtin commented on #2599
@coatless I would appreciate that *so much*.  I'm also I'm not sure I'm the right person for long-term maintenance, but I'm willing to take it over because I'm hopeful we can get maintenance down to something very simple like these guidelines we have for Go and Julia:

https://github.com/mlpack/mlpack.jl/blob/master/rel/deployment.md
https://github.com/mlpack/mlpack-go/blob/master/rel/deployment.m

[2020-09-11 01:19] eddelbuettel commented on #2599
If James wants to shepherd it that would be great. I am not quite in the mood for it having also fought a recent fight with the 'for work' package...

[2020-09-11 11:32] barak commented on #2615
@shrit @Aakash-kaushik This is on the Debian autobuilders, I don't have direct control of their resourcing or other characteristics. The build scripts currently specify a single-threaded build (`-j1`) when using `GCC` but not when using `clang`, see below. The build scripts are set up to use `clang` when available.

@rcurtin This was building with `clang` so might require different flags. The flag

[2020-09-11 13:05] DiscreteLogarithm commented on #2592
That makes sense. Some policies may make use of the old centroids. `MaxVarianceNewCluster` uses old centroids for computation of variances and assignments. It might make little difference but is it intentional?

You're right. It is not necessary to shuffle the entire array. Iterating the Fisher-Yates shuffle `k` times produces the sample. It's still necessary to instantiate an array of length `N`

[2020-09-11 13:59] shrit commented on #2615
@barak I am also curious about this issue. It seems that it has appeared only on `mipsel` architecture.

[code]

I have also noticed that the `i386` and `armhf` is building perfectly without any issue from armadillo side or mlpack, and `armel` is also passing this step but failing later on a different issue.
https://buildd.debian.org/status/fetch.php?pkg=mlpack&arch=i386&ver=3.4.1-1&stamp=15997308

[2020-09-11 14:01] rcurtin commented on #2615
(That `ARMA_64BIT_WORD` warning won't cause a failing build.  It's still something that needs to be fixed, but it's not something that will affect compilation at least.  It also shouldn't affect the tests... I think.)

[2020-09-11 15:45] coatless commented on #2599
More than happy to. @rcurtin can you forward me the last e-mail you sent to CRAN? I'd like Uwe to know that I'm taking it over.

[2020-09-11 20:41] Aakash-kaushik commented on #2181
I was going through the project and saw that some activation functions are implemented in layer while others inside activation function, why is that and where should the functions that i mentioned should go to.

[2020-09-12 01:58] rcurtin commented on #2599
Thank you so much @coatless.  Just forwarded the email. :+1:

[2020-09-12 04:15] Eddie-Xiao opened #2619 "Let RandomForest and LSTM both have both classification and regression"
Suggest that adding classification to LSTM and regressor to RandomForest on these two most popular models.

RandomForest is an awesome classification tool but it lacks of sequential data maneuver. Put a classification onto RNN/LSTM/GRU would be a good choice to get output probabilities. Ryan mentioned using a softmax layer as last layer with nodes equals to the class number.

Also, on time series

[2020-09-12 15:44] rcurtin commented on #2592
Ah, sorry, it has been ten years since I wrote this so I had to refresh my memory a bit. :)  In this situation, yes, the old centroids are used to compute the cluster in the previous iteration that had the maximum variance, and then we pull the point that's farthest from the maximum variance centroid for the empty cluster out of that centroids.  I suppose it could work either with the new centroid

[2020-09-12 15:46] rcurtin commented on #2496
@kartikdutt18 this looks good to me.  I'll let it sit for a few days in case there are any other comments, then add it to the style guide.  I think that the `digits.end()` should be indented twice, though:

[code]

Correct me if I misunderstood. :+1:

[2020-09-12 15:47] kartikdutt18 commented on #2496
Ahh yes, what you wrote is correct. Thanks for the fix.

[2020-09-12 16:40] kartikdutt18 commented on #2181
The reason that is to remove duplicate code. If a function doesn't have input parameters we use base layer to convert activation function to activation layers. In case that isn't the case, we implement them as layers. I hope this makes sense else the hard shrink PR had a comment about this in more detail.

[2020-09-12 17:27] rcurtin commented on #2421
Hey @Yashwants19, good luck on the Mtech entrance!  I am sure it will go well.

So I think there are several issues that would need to be figured out.  But let's consider Python.  The general idea would be that instead of generating these standalone functions `gmm_train()`, `gmm_generate()`, `gmm_probability()`, we would have some way to "group" these bindings so that we could generate a Python *c

[2020-09-12 20:51] ASQWZXED commented on #2616
Hello @rcurtin
Okay I understand. I want to use KNN but I thought I could use laplacian to measure the similarity between neighbors in KNN.

When I run a sample code for KNN I got errors.
Could you please help?

![Untitled](https://user-images.githubusercontent.com/69873647/93004767-d2253a80-f552-11ea-9f9d-7709b510cc39.png)

[2020-09-12 21:18] ASQWZXED commented on #2616
Hi @rcurtin

I run this code for KNN.

#include <iostream>
#include <mlpack/core.hpp>
#include <mlpack/methods/neighbor_search/neighbor_search.hpp>
using namespace mlpack;
using namespace mlpack::neighbor;
using namespace std;
using namespace arma;

void mlModel() {
arma::mat data;
data::Load("iris_train.csv", data, true);
KNN a(data);

// The matrices we will store output in.
arma::Mat<size_t> Ne

[2020-09-13 11:45] ASQWZXED commented on #2616
Please, help is needed here.

[2020-09-13 14:17] kartikdutt18 commented on #2524
Keep Open.

[2020-09-13 17:39] #2581 closed

[2020-09-13 17:39] rcurtin commented on #2581
Thanks to @mikkac this was handled in #2608. :+1:

[2020-09-14 07:25] #2606 closed

[2020-09-14 17:24] rcurtin commented on #2599
Ahh, I just got a DSN from my response to Uwe.  Turns out his mailserver rejected my email, so, this explains the lack of response. :smile:  (reverse DNS was not set up for my IP since my hosting company changed it... I think I will be getting that fixed basically immediately!)

[2020-09-14 17:29] coatless commented on #2599
@rcurtin I haven't heard back since I sent an e-mail to him/CRAN on Friday. I'll probably prepare another release for CRAN on Wednesday.

[2020-09-14 18:36] 1sarthakbhardwaj commented on #2619
yes on time series data random forests or decision tree-based methods are unable to predict a trend, ie, they do not extrapolate, so adding regression to it will surely help to get precise results. However, it is important to know your data and keep in mind that a Random Forest can't extrapolate.so combining linear regression with Random Forest will surely find a better way to solve the problems a

[2020-09-15 23:42] lewisj34 opened #2623 "mnist_cnn.cpp bug - exception thrown"
#### Issue description

Hello. I've tried running the mnist_cnn.cpp file essentially identical to the way it was provided [here in the mlpack examples github repo](https://github.com/mlpack/examples/blob/master/mnist_cnn/mnist_cnn.cpp)

`Exception thrown at 0x00007FFFEEC912DE (vcruntime140.dll) in mnist_cnn.exe: 0xC0000005: Access violation reading location 0x0000019EFBC5B000.`

#### Your environm

[2020-09-16 13:14] kartikdutt18 commented on #2623
Hey @lewisj34,
I made the changes you suggested i.e. change lambda function to 25 in EarlyStopMinLoss. It works fine for me. If possible, could you also share the complete code, it might help in getting more info.
Thanks.

[2020-09-16 15:01] lewisj34 commented on #2623
Hey @kartikdutt18 thanks for looking into this

[here](https://github.com/lewisj34/mnist_cnn) is the repo with my code

[2020-09-16 15:25] kartikdutt18 commented on #2623
I tried the code in the above repo. It works for me. I'm using OSX and maybe this problem is associated with windows only not sure. Here is the output.
<img width="1134" alt="Screenshot 2020-09-16 at 8 55 15 PM" src="https://user-images.githubusercontent.com/39593019/93358318-f341a000-f85e-11ea-93a0-45b70a2a53a3.png">

[2020-09-16 15:37] lewisj34 commented on #2623
Alright. Thanks for your help.

Something must have gone wrong with my build in CMake. I'll try that process again and close this for now.

[2020-09-16 15:39] kartikdutt18 commented on #2623
No worries, maybe you could try reaching out to a windows user on the IRC for this issue, they might provide better insight.
cc : @rcurtin

[2020-09-16 22:44] rcurtin commented on #2623
Hey @lewisj34, if @kartikdutt18 wasn't able to reproduce it I probably won't be able to either.  (I don't have a Windows machine.)  Let us know if you have success once you've reconfigured CMake, etc. :+1:

If it does fail again, maybe can you provide a full backtrace so we can know where it's failing?  Or, at least, what part of `main.cpp` we are in when it fails.

[2020-09-17 11:37] UtR491 commented on #2590
Just to be sure, right now LayerSize() calls the entire weight matrix (using the Parameters() function) just to find out its size and the objective is to implement a function inside each layer which returns the size directly. Is this right? Can't this be done by just implementing a function inside each layer that returns `weights.n_elem` instead of calculating the size from parameters like `inSize

[2020-09-17 19:24] geekypathak21 opened #2625 "Add Copy and Move Constructor in every layer"
### What is the desired addition or change?
Right now we don't have implementation of copy and move constructors in layer which is causing memory issues.

### What is the motivation for this feature?
Follow #2314 to see the memory issues we were facing.

### If applicable, describe how this feature would be implemented.
For reference take a look at #2583 copy and move constructors of `Linear` laye

[2020-09-17 21:30] rcurtin commented on #2590
@UtR491 right, the issue is not that `LayerSize()` accesses the internal `weights` member of a layer, but instead the issue is that we'd like to be able to compute the size required to hold the weights of a layer *without* using the `weights` member.

The reason for this is that we'd ideally like to be able to avoid serializing the `weights` member.  (It will save space.  Instea dof having each la

[2020-09-18 09:42] UtR491 commented on #2590
@rcurtin, I have made a PR. Please take a look.

[2020-09-18 13:47] eddelbuettel commented on #2599
@coatless Let me know if you need a hand with anything.  CRAN is extra slow these days so no rush.  (But [RcppSpdlog](https://github.com/eddelbuettel/rcppspdlog) is finally on, yay!)

[2020-09-18 19:31] Aakash-kaushik commented on #2523
Hi, I will be taking up arma_extend_test.cpp for now and as i get familiar with this i will take up more.

[2020-09-19 02:23] Aakash-kaushik commented on #2523
Can i know which migrations are not taken by anyone so i can complete them.

[2020-09-19 03:00] jeffin143 commented on #2523
@Aakash-kaushik open pull request are linked to this issue , if there are no pr that is linked to a particular test than no one is working on it

[2020-09-19 19:23] lewisj34 commented on #2623
All good fellas!!!!!!! I got it working.

Thanks for your help my dudes!!

[2020-09-19 19:23] #2623 closed

[2020-09-20 15:26] Abilityguy commented on #2619
If no one has taken it up yet, I would like to try adding the regressor to the Random Forest.

[2020-09-20 15:53] 1sarthakbhardwaj commented on #2619
Hello @Abilityguy i am working on this problem mate, if you wanna do it you can but i am  somehow i am already ahead on this problem so if it  will be ok to you, i can proceed

[2020-09-20 16:04] Abilityguy commented on #2619
Cool @1sarthakbhardwaj .
Let me know if you wanna pass it on.

[2020-09-20 16:08] 1sarthakbhardwaj commented on #2619
sure mate :+1:

[2020-09-20 17:31] Abilityguy commented on #2523
Hi, I will be taking up dbscan_test.cpp.

[2020-09-20 17:34] #2616 closed

[2020-09-20 17:35] rcurtin commented on #2523
Thanks @Abilityguy! :+1:

[2020-09-20 17:36] ASQWZXED opened #2628 "The data in the Console is different form the data in the Neighbors.csv, and Distances.csv. Where is the error ?"
I run this code for KNN.

#include
#include <mlpack/core.hpp>
#include <mlpack/methods/neighbor_search/neighbor_search.hpp>
using namespace mlpack;
using namespace mlpack::neighbor;
using namespace std;
using namespace arma;

void mlModel() {
arma::mat data;
data::Load("iris_train.csv", data, true);
KNN a(data);

// The matrices we will store output in.
arma::Mat<size_t> Neighbors;
arma::mat Dista

[2020-09-20 20:38] ASQWZXED commented on #2628
![1](https://user-images.githubusercontent.com/69873647/93721674-6a966d00-fb9a-11ea-8011-b54450dd9604.png)

[2020-09-21 08:30] kartikdutt18 commented on #2200
Keep Open.

[2020-09-22 08:22] UtR491 commented on #2590
A list of all the layers -

- [x] add.hpp
- [ ] add_merge.hpp
- [ ] adaptive_max_pooling.hpp
- [ ] adaptive_mean_pooling.hpp
- [ ] alpha_dropout.hpp
- [x] atrous_convolution.hpp
- [ ] base_layer.hpp
- [ ] batch_norm.hpp
- [ ] bilinear_interpolation.hpp
- [ ] concat.hpp
- [ ] concat_performance.hpp
- [ ] concatenate.hpp
- [ ] constant.hpp
- [ ] convolution.hpp
- [ ] dropconnect.hpp
- [ ] dropout.hp

[2020-09-22 15:28] GLmontanari opened #2630 "DecisionTree performing poorly on simple datasets"
#### Issue description

Hello,

I'm trying to fine tune a DecisionTree classifier. The call to Optimize() returns the first value in each vector of parameters instead of looking for the best ones.

#### My environment

 * version of mlpack: 3.4.1
 * operating system: Windows 10
 * compiler: msvc 14.6
 * version of dependencies (Boost/Armadillo): boost 1.64, armadillo 9.900.1

#### Steps to reprodu

[2020-09-22 23:45] rcurtin commented on #2628
C++ is zero indexed (array indexes start from 0). Your program printing row numbers is one indexed. If you subtract one from the row number, the results are correct. This is expected behavior. :+1:

[2020-09-22 23:51] ASQWZXED commented on #2628
You are right,

Thank you so much.

[2020-09-23 00:27] ASQWZXED commented on #2628
Is the knn pairwise similarity?
From the output it is a pairwise similarity but I want to be sure 100%.

[2020-09-23 01:39] rcurtin commented on #2628
When using the `mlpack_knn` command-line program, the distance metric used is the Euclidean distance.

[2020-09-23 06:00] 1sarthakbhardwaj commented on #2619
hey @Abilityguy due to some reasons I am not getting enough time to look into it if you are interested mate I
 want to pass it on.

[2020-09-23 07:12] GLmontanari commented on #2630
Changing dataset solved the problem. Closing this issue.

[2020-09-23 07:33] Abilityguy commented on #2619
Sure thanks @1sarthakbhardwaj .
Will get back in a week or so.

If I can't get it, perhaps we can collaborate and finish this. :)

[2020-09-23 07:36] 1sarthakbhardwaj commented on #2619
Sure buddy🙂 anytime

On Wed, Sep 23, 2020, 13:03 Abilityguy <notifications@github.com> wrote:

[2020-09-23 09:17] GLmontanari commented on #2630
![test2](https://user-images.githubusercontent.com/43607219/93992780-43a08c80-fd8e-11ea-8889-46aa01634ebe.png)

[2020-09-23 09:20] GLmontanari commented on #2630
Actually the DecisionTree seems to struggle on too simple problems, like the above one.
If for instance I labeled reddish pixels as class "0" and bluish pixels as class "1". I would get a poor result even though the Best score return from the function hpt.BestObjective() is = 1;

[2020-09-23 09:25] GLmontanari commented on #2630
Some rows from the data file are like these:
[code]

And here is how I fed it to the classifier:
[code]

[2020-09-23 09:32] GLmontanari commented on #2630
Here is how I generate a "prediction image" using opencv:

[code]

The idea is to assign each pixel of the image a class, red or green.

[2020-09-23 09:41] GLmontanari commented on #2630
Even though the score seems perfect:
![valos](https://user-images.githubusercontent.com/43607219/93995612-86b02f00-fd91-11ea-94c2-283aea0748fc.PNG)

The final result is not:
![decision](https://user-images.githubusercontent.com/43607219/93995661-97f93b80-fd91-11ea-899a-928b40774879.png)
Here I applied a black mask to the background.
The four points on the left should be "red" while the points on t

[2020-09-23 12:06] GLmontanari commented on #2630
Shameful. My fault: I was calling my routine twice, so the second time it performed the classification on the decision image from the previous round. Closing this issue.

[2020-09-23 12:06] #2630 closed

[2020-09-24 06:52] heisenbuug commented on #2625
Hey, there is a long list of layers, I hope I can start with `AdaptiveMaxPooling`
Or is there any specific order to implement these?

[2020-09-24 07:47] 1sarthakbhardwaj opened #2632 "getting error when using command make -j4"
i have previously build ml pack as i have changed my device i am facing an error which i have not faced earlier
i am doing as folow:

$ wget https://www.mlpack.org/files/mlpack-3.4.1.tar.gz
$ tar -xvzpf mlpack-3.4.1.tar.gz
$ mkdir mlpack-3.4.1/build && cd mlpack-3.4.1/build
$ cmake ../
$ make -j4  # The -j is the number of cores you want to use for a build.
$ sudo make install

then this error is

[2020-09-24 12:23] rcurtin commented on #2632
Your system has run out of memory during compilation.  Try building with fewer cores---either `make -j2` or even just `make` should succeed if there is enough RAM on the system.

[2020-09-25 02:52] eddelbuettel commented on #2599
@coatless Any news from your side?  Do you want me to take a swing at it this weekend?

[2020-09-25 17:07] AnimeshMaheshwari22 opened #2634 "Issue while building mlpack in windows"
When I run the command cmake -G "Visual Studio 16 2019" -A x64 -DBLAS_LIBRARIES:FILEPATH="D:/mlpack/mlpack/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DLAPACK_LIBRARIES:FILEPATH="D:/mlpack/mlpack/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" -DARMADILLO_INCLUDE_DIR="D:/mlpack/armadillo/include" -DARMADILLO_LIBRARY:FILEPATH="D:/mlpack/armadillo/build/Debug/a

[2020-09-25 17:14] rcurtin commented on #2634
It looks like the `unit_test_framework` from Boost is not installed.  Can you make sure that is installed on your system?  If that's not it, you might have `BOOST_LIBRARYDIR` set incorrectly.

[2020-09-25 17:19] AnimeshMaheshwari22 commented on #2634
I would like your advice on this matter. I tried installing boost-test through vcpkg. Should that work?

[2020-09-25 17:54] shrit commented on #2634
@AnimeshMaheshwari22 I think it should work, did you try to build mlpack?

[2020-09-25 23:36] rcurtin commented on #2630
@GLmontanari no worries!  Glad you got it worked out.  If you have issues in the future, please feel free to report them too.  I wonder if the default parameters for `DecisionTree` could be tuned to be better in general, but it doesn't look like that might have been part of the problem here. :+1:

[2020-09-26 14:35] #2571 closed

[2020-09-26 21:12] Aakash-kaushik commented on #2523
taking up loss_functions_test.cpp, mean_shift_test.cpp will create a PR shortly.

[2020-09-26 21:28] Aakash-kaushik commented on #2523
@jeffin143 you may also want to add `BOOST_REQUIRE_NE(x, 0.05)` -> `REQUIRE(X != 0.05)`

[2020-09-26 21:52] ASQWZXED commented on #2628
What I understand is that, if I use Euclidean distance, squared Euclidean distance and Manhattan distance, then the result will be pairwise similarity.

But if I use chebyshev Distance then the result will not be a pairwise similarity.

Am I right?
Please rectify me if this is wrong.
Thank you

[2020-09-27 19:47] radioactive11 commented on #2619
Hello @1sarthakbhardwaj and @Abilityguy I want to work on this issue as well. This is my first time contributing to open source so if I can be helpful to you in solving this issue please let me know.

[2020-09-28 12:24] Di-ashX opened #2635 "could not built mlpack from source in ubuntu 20.04(LSW). [ could not find python bindings]"
#### Issue description

I am trying to build mlpack from source in ubuntu 20.04. I have installed everything, but i cannot import mlpack in python. It might be because I have not turned python binding on.

#### Your environment

 * version of mlpack: 3.4.1
 * operating system: ubuntu 20.04(windows lsw)
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information

[2020-09-28 12:28] rcurtin commented on #2635
Based on the output it looks like you don't have Cython installed.  Also, after you build the Python bindings, be sure to do `sudo make install` to install them.

In addition, it may be easier, if you are able to, to simply install via pip: `pip install mlpack`. :+1:

[2020-09-28 12:29] rcurtin commented on #2635
Ah sorry I see also that you have written that you have installed Cython.  (I hit "comment" too fast!)  My next best guess is that the version of Python that CMake is finding might not be the same version of Python that Cython is installed for.

You could specify `-DPYTHON_EXECUTABLE=/path/to/python` (and substitute whatever the correct path is) in your CMake configuration command, to ensure that

[2020-09-28 12:52] Di-ashX commented on #2635
okay I have installed the same versions of cython and python. cmake -D BUILD_PYTHON_BINDINGS=ON worked. but still i cannot import mlpack in my python IDE or use mlpack in bash terminal :(

[2020-09-28 13:03] rcurtin commented on #2635
Did you run `make` and `sudo make install`?  You need to build the library and install it in order to be able to use it.

[2020-09-28 13:19] Di-ashX commented on #2635
yes I have. is there any way that I can check if mlpack is correctly installed?
ps: I have done everything as a superuser

[2020-09-28 13:26] Abilityguy commented on #2619
Hey @radioactive11, you are free to take it up. I wasn't able to devote much time to this.
However, since you are new it would be good if you try to contribute to issues that have the label 'good first issue'.
These are issues which are easy and introduce you to the code base.

[2020-09-28 13:33] radioactive11 commented on #2619
@Abilityguy Thank you for passing this issue. I saw this issue was labelled as "good first issue" and also lied within my domain of interest, hence I decided to pick it up. Any tips on how to proceed with it?

[2020-09-28 13:34] rcurtin commented on #2635
I need more details of what you have done and what the output is to be able to help.  What was the CMake output when you configured?  Where did you install the package to?  How are you running Python?  What is your PYTHONPATH?

[2020-09-28 13:49] Abilityguy commented on #2619
I would just say look at the current implementation of random forest and understand the code base. Then you can proceed with modifying the code based on a standard implementation of a random forest regressor.

[2020-09-28 16:45] Di-ashX commented on #2635
CMake output:

:/home/professor/mlpack-3.4.1/build# cmake ../
-- The C compiler identification is GNU 9.3.0
-- The CXX compiler identification is GNU 9.3.0
-- Check for working C compiler: /usr/bin/cc
-- Check for working C compiler: /usr/bin/cc -- works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C compile features
-- Detecting C compile features - done
-

[2020-09-28 16:51] Di-ashX commented on #2635
now, when i am turning on BUILD_PYTHON_BINDINGS,   numpy and pandas are missing

root@LAPTOP-L8LE0P3V:/home/professor/mlpack-3.4.1/build#  cmake -D BUILD_PYTHON_BINDINGS=ON ..
-- cotire 1.7.10 loaded.
CMake Warning at CMakeLists.txt:584 (message):
  txt2man not found; man pages will not be generated.

-- Julia not found (missing: JULIA_EXECUTABLE) (Required is at least version "0.7.0")
-- Julia no

[2020-09-28 17:50] rcurtin commented on #2635
You have some packages installed for python2 and some installed for python3.  If you want to use Python 2, then install pandas and numpy for python 2.  If you want to use Python 3, then install the appropriate packages for Python 3.  Specify the specific Python version you want to use at configuration time with the `PYTHON_EXECUTABLE` CMake configuration option. :+1:

[2020-09-28 21:30] zoq commented on #2635
Btw. in case you are wondering what the cmake command could look like - https://github.com/mlpack/mlpack/blob/64dda1387dd997cf570c15b1123f7a41e4d65b06/.ci/ci.yaml#L22 is an example.

[2020-09-28 21:32] zoq commented on #2634
@AnimeshMaheshwari22 Not sure, maybe the version is different, can you post the content of `D:/boost/boost/libs`? The directory should contain all the necessary boost dependencies.

[2020-09-29 15:30] Di-ashX commented on #2635
Thank you @rcurtin  and @zoq  for your valuable replies.
its working fine now.
instead of writing:
cmake -DDEBUG=OFF -DPROFILE=OFF -DBUILD_PYTHON_BINDINGS=ON -DPYTHON_EXECUTABLE=/usr/bin/python3 -DBUILD_GO_BINDINGS=OFF -DBUILD_JULIA_BINDINGS=OFF -DBUILD_R_BINDINGS=OFF ..

I wrote:
cmake -DDEBUG=OFF -DPROFILE=OFF -DBUILD_PYTHON_BINDINGS=ON -DPYTHON_EXECUTABLE=/usr/bin/**python3.8** -DBUILD_GO_BINDI

[2020-09-29 15:30] #2635 closed

[2020-09-29 15:50] AnimeshMaheshwari22 commented on #2634
I could solve this issue by using a different version(boost_1_71_0-msvc-14.2-64) of the boost library. But I am curious to know how to build the library using boost_1_66_0 so that anyone using that version can do it as well.

[2020-09-29 16:01] rcurtin commented on #2635
Awesome, glad you got it figured out @Di-ashX!

[2020-09-29 16:32] Aakash-kaushik commented on #2585
Hey @mikkac can I help with this issue ?

[2020-09-30 06:58] kartikdutt18 commented on #2625
Taking up BatchNorm and Convolution layers. Thanks for opening the issue.

[2020-09-30 07:00] kartikdutt18 commented on #2590
Taking up BatchNorm and Convolution layers. Thanks for opening the issue.

[2020-10-01 04:16] kartikdutt18 opened #2641 "Fix the Azure Build for Windows."
Hey everyone,
As most of you can see, We haven't had a green build on Azure for the past few days. This mainly arises due to a catch test failure on Windows VS15 due to RandomForestSerialization Test. This issue aims to attract attention to the same and hopefully resolve the same.

Please feel free to take up this issue. I am also marking this issue as a good first issue.
Thanks.

[2020-10-01 04:31] Abilityguy commented on #2641
Hi @kartikdutt18 , I had made the PR on moving Random Forest from boost tests to catch2 tests. I can take this up.

[2020-10-01 04:46] kartikdutt18 commented on #2641
Hey @Abilityguy, Great. Let me know if you face any issues. Thanks.

[2020-10-01 11:36] zoq commented on #2641
@kartikdutt18 @Abilityguy https://github.com/mlpack/mlpack/pull/2642 should fix the issue.

[2020-10-01 18:15] himanshupathak21061998 commented on #2590
Taking up Weight_Norm and sequential.

[2020-10-01 20:48] mikkac commented on #2585
Hey @Aakash-kaushik sure- I'm bit occupied lately so I didn't have time to move forward this topic. You are free to propose any solution :smiley_cat:

[2020-10-01 22:12] shrit opened #2646 "Remove boost spirit dependency"
Hello everyone,

mlpack uses Boost libraries as a dependency that provides us with many features. Until recently, we have discovered that these dependencies are making mlpack harder to install, to maintain, and increasing mlpack footprint drastically as you can see here #2440
Following the #2440 discussion, we have agreed to replace all Boost libraries one by one. Therefore we have started by repl

[2020-10-01 23:49] Aakash-kaushik commented on #2646
Hey @shrit I don't exactly know about any replacement libraries but if this discussion ends on everyone agreeing to reimplement functionalities similar to that are provided by boost spirit. I can help with that.

[2020-10-02 00:20] rcurtin commented on #2646
If possible I'd prefer to not implement an in-house CSV parser, but if we have to we have to.  Our existing boost::spirit parser is in `load_csv.cpp`---so really anything that matches the API provided by `LoadCSV()` should work okay.  Here are some options of out-of-the-box tools we could use:

https://github.com/ben-strasser/fast-cpp-csv-parser

https://github.com/d99kris/rapidcsv

Those are just

[2020-10-02 00:32] rcurtin opened #2647 "Experiment to see the advantage of boost::visitor for the ANN code"
One of the things that we are finding in #2458 is that the ANN code takes a lot of time and a huge amount of memory to compile.  This is probably because we use `boost::visitor` throughout that code to avoid the runtime overhead that may be associated with virtual inheritance.  But, the problem is that the use of `boost::visitor` (and other boost libraries) is really hard on the compiler, and so w

[2020-10-02 10:34] #2641 closed

[2020-10-02 11:51] zoq commented on #2634
If you can post the content of the folder, maybe that could bring as any further.

[2020-10-02 12:22] Aakash-kaushik commented on #2585
Great I will start with this. :)

[2020-10-02 17:00] kartikdutt18 commented on #2647
Hey @rcurtin, @shrit, Thanks for opening this issue. Maybe we can have a couple of people working on the experiment. We can have a person do changes in the Linear layer and the other one in FFN class simultaneously. This would reduce their workload and be easier to test. Then they can test it out.

[2020-10-02 17:38] himanshupathak21061998 commented on #2647
@kartikdutt18 I think it is better if only one person try this because we have to ignore many things here it is more like a hack. I would like to do this but currently I can't promise :disappointed: just busy with other stuff.

[2020-10-03 20:35] #2573 closed

[2020-10-04 05:34] Abilityguy commented on #2523
Hey @jeffin143 ,

what is the catch2 equivalent of ```BOOST_REQUIRE_CLOSE_FRACTION(x, y, 1e-z)```?.
In my PR #2645, I have replaced it with ```REQUIRE(x == Approx(y).epsilon(1e-(z+2)))```.

However, few test cases failed due to which I had to reduce the value of epsilon for the tests to pass.

[2020-10-04 06:21] Aakash-kaushik commented on #2523
Seems like this issue is soon going to be closed. :smile:

[2020-10-04 10:15] gaurav-singh1998 commented on #2625
Hi, I'd like to take up MaxPooling and MeanPooling. Thanks.

[2020-10-04 10:32] ASQWZXED opened #2656 "How can I use tree in KNN?"
How can I print the content and the leaves of the tree?
Also, if you use pairwise then why there is a tree ?

Please, help is needed here.

[2020-10-04 15:52] kenanking opened #2658 "Could not build mlpack.dll on windows"
Hi Everyone!
I could build mlpack.lib according to the doucment on [https://www.mlpack.org/doc/stable/doxygen/build_windows.html](https://www.mlpack.org/doc/stable/doxygen/build_windows.html). But I could not build mlpack.dll according to this.
![image](https://user-images.githubusercontent.com/43688468/95020200-6a1ecb80-069c-11eb-8ea7-78a341aa2b88.png)
![image](https://user-images.githubuserconte

[2020-10-04 20:55] zoq commented on #2658
Hello, for building `.dll` did you specific `BUILD_SHARED_LIBS` in the cmake step?

[2020-10-05 01:34] rcurtin commented on #2628
If you use the Euclidean distance, squared Euclidean distance, Manhattan distance, *or* Chebyshev distance, all of these return *distances* not pairwise similarity.  Those are different things.

[2020-10-05 01:39] rcurtin commented on #2656
You can write a loop to recurse through it.  I would be careful when doing this, because often these trees are very large.  Try something like this:

[code]

You would want to adapt that code to whatever your need is.

I don't know what you mean.  If you are talking about KNN, it *does not compute pairwise similarity*.  It computes *distances*.  For details, consult the paper: https://arxiv.org/pd

[2020-10-05 02:30] ASQWZXED commented on #2628
Hello @rcurtin, that is really good, because this is what I am looking for.
Okay, how can I print out the tree contents ?

Please I need an answer for this question. I have tried many build in functions but I couldn't print out the leaves and the detailed about tree.

[2020-10-05 02:52] ASQWZXED commented on #2628
Hello @rcurtin, that is really good.

Thank you.

[2020-10-05 02:52] #2628 closed

[2020-10-05 03:01] ASQWZXED commented on #2656
Thank you so much,

________________________________
From: Ryan Curtin <notifications@github.com>
Sent: Monday, October 5, 2020 1:39 AM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Havshxjdnaggz <a-s-j-q@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpack] How can I use tree in KNN? (#2656)

How can I print the content and the leaves of the tree?

You can write a loop

[2020-10-05 10:43] ASQWZXED commented on #2656
Could you please see this code? Where is the error?

Thank you so much for your help.
________________________________
From: Ryan Curtin <notifications@github.com>
Sent: Monday, October 5, 2020 1:39 AM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Havshxjdnaggz <a-s-j-q@hotmail.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpack] How can I use tree in KNN? (#2656)

How can I p

[2020-10-05 19:12] zoq commented on #2656
Don't see code here.

[2020-10-05 19:38] ASQWZXED commented on #2656
@zoq Here,
![Untitled](https://user-images.githubusercontent.com/69873647/95123939-67cf7680-075b-11eb-89c2-9b21e2beeb70.png)

[2020-10-06 13:16] Aakash-kaushik commented on #2647
Hey @kartikdutt18, @himanshupathak21061998 is it okay if i work on this experimentation the way that himashu suggested.

[2020-10-06 13:57] rcurtin commented on #2647
@Aakash-kaushik I think you should go for it---I do agree that it should be done kind of like a hack.  All we need to verify is whether the approach has any runtime drawbacks, and then we can decide what to do. :+1:

[2020-10-06 14:14] Aakash-kaushik commented on #2647
@rcurtin I will start working on it. 🚀

[2020-10-06 18:16] zoq commented on #2656
The `RStarTree` is not part of the std `namespace`, it's part of the `mlpack::tree` namespace, so it should be `mlpack::tree::RStarTree`, at least that's one issue. Looking at the console output it looks like there are a couple more?

[2020-10-06 18:35] Abilityguy opened #2662 "Adding an option to get stratified Train-Test splits"
### What is the desired addition or change?
Addition of an option to get stratified train-test splits in mlpack. While going through the docs, I noticed we don't have such an option yet. I brought this up in the IRC a few weeks ago and decided to take this up and add an issue on the same.

### What is the motivation for this feature?
In stratified train test splits, the proportion of labels seen i

[2020-10-06 19:19] ASQWZXED commented on #2656
Hi @zoq
I correct that but still there are punch of errors that I don't know where is it coming from.

Please see the attached pictures
![KNN](https://user-images.githubusercontent.com/69873647/95249904-0f16e100-0822-11eb-93b8-c03ee45796cd.png)
![KNN1](https://user-images.githubusercontent.com/69873647/95249906-10480e00-0822-11eb-9575-751846a088aa.png)

[2020-10-07 16:44] RishabhGarg108 commented on #2632
I too faced the same issue. Try running the following commands sequentially :-

1. cmake -D BUILD_TESTS=OFF ../
2. make -j1
3. cmake -D BUILD_TESTS=ON ../
4. make -j1

It worked for me and I hope it will work for you too.

[2020-10-07 22:02] zoq commented on #2662
Thanks for opening the detailed issue, feel free to open a PR on this on, my only concern is that it might be more efficient to build an index vector first and then to use `cols` at the end instead of using `join_rows` which could be expensive.

[2020-10-08 04:49] Abilityguy commented on #2662
The index vector idea makes sense. I will change the implementation to reflect that. Thanks @zoq.

[2020-10-08 10:24] codeboy5 commented on #2625
Taking up `AdaptiveMeanPooling` and `Dropout`. Thanks !

[2020-10-08 18:39] Aakash-kaushik commented on #2647
I needed some help to discuss on how the base class should be implemented but i somehow can't figure out on how to implement the base class as a abstract class with virtual functions that take templates, one thing i did was to make the base class an abstract class is that i took the function template parameters in the class itself but then i had some declaration problems.
The second thing is as we

[2020-10-08 20:03] zoq commented on #2662
Sounds good, thanks.

[2020-10-08 20:07] shrit commented on #2647
@Aakash-kaushik Would it possible to open a pull request with the modification you have made? even if it far to be complete, this will allow us to visualize better the work you have done and will provide you with better help and support :+1:

[2020-10-09 00:52] rcurtin commented on #2615
I opened #2665, which fixes the spurious `ARMA_64BIT_WORD` issue. :+1:

[2020-10-09 03:03] Aakash-kaushik commented on #2647
@shrit yup i will do that, thanks.

[2020-10-09 15:57] #2615 closed

[2020-10-09 16:30] codeboy5 commented on #2590
Taking up dropout. thanks !

[2020-10-10 01:25] rcurtin commented on #2662
@Abilityguy looks like you did most of the work already! :smile: As a fun challenge, I think that this can be done most efficiently with only a single pass over the label set and a single pass over the dataset. :+1:

[2020-10-10 05:02] Abilityguy commented on #2662
@rcurtin challenge accepted! :joy:
Not completely sure about the idea right now but I think it's possible. Will make an attempt :thumbsup:!

[2020-10-10 07:11] Shravanpmk commented on #2625
Hi , I would like to contribute to this , can anyone please help me on how to start with this & How to make my contribution ?

[2020-10-10 12:59] alexhallam opened #2667 "More probabolistic prediction methods"
### What is the desired addition or change?

With the exception of one or two methods, most regression methods in MLPack only predict point estimates. It would be nice to have distributional predictions.

### What is the motivation for this feature?

Point estimates are not enough.

### If applicable, describe how this feature would be implemented.

Each method may need its own approach. For rando

[2020-10-10 13:06] alexhallam opened #2668 "Forecasting and time series methods"
### What is the desired addition or change?

It would be nice to have some time series methods. Like

1. naive
2. seasonal naive
3. seasonal trend loess decomposition.
4. Holt Winters
6. Exponential smoothing
7. Arima

Since many time series come in groups it may be useful to think about how the data should be organized to take in many time series and account for seasonality. Also probabilistic fo

[2020-10-10 13:07] alexhallam commented on #2668
I have experience in forecasting. If there is interest in adding time series and other forecasting methods to mlpack I would be happy to contribute.

[2020-10-10 13:10] jeffin143 commented on #2668
@alexhallam , Yes we would be very happy to have those integrated in our library, please go ahead if you have the bandwidth to implement some of those also welcome to the community :)

[2020-10-10 14:10] Abilityguy commented on #2668
This is a great idea.
I have previously worked on time series methods for a project.
I could help out with implementing a few methods if needed.

[2020-10-11 04:43] MohomedShalik commented on #2625
Hi, I would like to contribute to this repository, any advice would be appreciated

[2020-10-11 07:32] BoltonBailey opened #2670 "Image not found"
#### Issue description

When I install mlpack, then try to import the emst function, I get an error:

[code]

#### Your environment

 * version of mlpack: mlpack-3.4.1
 * operating system: macOS 10.15.6
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

You can see the commands I ran in the terminal outpu

[2020-10-11 08:33] czgdp1807 commented on #2667
Any references for this? Like the probability should be applied on weights/bias? Something like, https://arxiv.org/abs/1505.05424

[2020-10-11 21:44] ASQWZXED commented on #2656
Hello, @rcurtin, @zoq

Sorry for keeping asking you these questions. It may be basic questions for you, but I spent many hours trying to figure out how to print it.
I just want to print the leaf nodes and their parents as groups, each group have a parent with its leaf nodes.
![KNN](https://user-images.githubusercontent.com/69873647/95690901-b7161b00-0c23-11eb-8133-ae24dce6070e.png)
![KNN1](https:/

[2020-10-11 22:53] shrit commented on #2073
I think this one can be closed now

[2020-10-11 22:53] #2073 closed

[2020-10-11 22:54] shrit commented on #2013
@zoq Do you think we can close this one?

[2020-10-11 23:10] shrit commented on #1463
@rcurtin I think we can close this once #2664 is merged what do you think?

[2020-10-12 04:37] jeffin143 commented on #2013
@shrit , I think #2046 is yet to be merged , we can close this issue after that is merged

[2020-10-12 12:40] alexhallam commented on #2667
Sorry, this would have to be taken model-by-model and I was thinking more in regression settings. Things that come to mind are quantile regression or quantile random forests. The tools I am most familiar with on the random forest side are [ranger](https://arxiv.org/pdf/1508.04409v1.pdf) which has really good performance and [skit-garden's](https://scikit-garden.github.io/examples/QuantileRegressio

[2020-10-12 17:02] rcurtin commented on #2496
Thank you @mlpack-bot for reminding me!  I updated the style guide. :smile:

[2020-10-12 17:02] #2496 closed

[2020-10-12 19:49] rcurtin commented on #2670
Hey @BoltonBailey, thanks for the report.  It looks like for some reason PyPI OS X builds don't actually include the mlpack libraries!  I will work on trying to figure out why that is.  In the meantime, if you want, you could download mlpack and build the Python bindings from source (just set `-DPYTHON_EXECUTABLE=$(which python3) -DBUILD_PYTHON_BINDINGS=ON` during the CMake configuration step, the

[2020-10-12 20:14] jeffin143 commented on #2523
62 tests still remaining 🤯

[2020-10-12 20:18] rcurtin commented on #2523
@jeffin143 awesome job keeping this going!  57 is a lot but I think we are more than halfway there. :rocket:

[2020-10-13 18:57] BoltonBailey commented on #2670
Doing what you suggested, I got an error when I ran cmake, telling me it could not build R bindings. I don't have R installed on my system.

[code]

[2020-10-13 20:40] BoltonBailey commented on #2670
Ok, I installed Ensmallen and ran it again, and this time it worked. I was able to make mlpack and import correctly. Thank you for your help and I appreciate your looking into the PyPI problem.

[2020-10-13 22:43] BoltonBailey commented on #2670
Another report on this, after downloading mlpack using these instructions and running emst(), I got a segmentation fault. Should I open a new ticket for this?

[2020-10-13 22:49] rcurtin commented on #2670
Oh, that's unfortunate, sorry that happened. :( This issue is fine, can you paste the command and output here?  Also, is it possible there are multiple versions of mlpack installed on your machine?

[2020-10-16 23:14] rnarcin opened #2676 "SimpleDQN/QLearning saving/loading"
Hello guys, I have several questions about simpleDQN and QLearning. Let's assume that I have defined FFN and then constructed simpleDQN from it. I defined policy, replay, hyperparameters and created an agent. The agent was trained by very big amount of time. Now i would like to:
1) save current learning progress of agent to the file, make some tweaks/changes to the environment and load saved agent

[2020-10-17 19:02] rcurtin commented on #2670
Hey @BoltonBailey, I think I've fixed this on PyPI... I was able to run the following locally on an OS X system:

[code]

And that all seemed to work, indicating to me that the dependent libraries are now being included.  Can you give that a shot and let me know if that works for you too?

[2020-10-17 21:35] #2589 closed

[2020-10-18 01:55] BoltonBailey commented on #2670
I can confirm that I can import the emst function and run it on a 10 by 10 random array, so the import and library problem is resolved.

Running it on my 117956 by 3 array, I get a segmentation fault. Not sure what's causing this, its actually mystifying because it runs perfectly fine on a random array of the same size and dtype as my data, it just seems to fail on my data specifically. I'll try t

[2020-10-18 01:55] #2670 closed

[2020-10-18 01:59] rcurtin commented on #2670
That's strange... can you reproduce the issue with the command-line programs?  I can try too if you can supply the dataset.  (Are there duplicate points in your dataset?  Try filtering them?  If that is the issue I think we need to figure out better error output! :smile:)

Anyway, glad that it worked!  And thank you again for reporting it---I had no idea it was an issue. :+1:

[2020-10-18 02:30] BoltonBailey commented on #2670
I just found that my data had some inf and nan values in it, it seems this was causing the segfault. Totally my fault. Removing those data points, it works perfectly, start to finish. I guess its up to mlpack maintainers if they want to do some kind of sanitization before these algorithms run, but it would have been helpful for me. Thanks again.

[2020-10-18 13:35] #2601 closed

[2020-10-18 15:44] rcurtin commented on #1463
@shrit actually, the problem would still exist; we'd simply need to implement it on Azure instead of AppVeyor. :+1:

[2020-10-18 22:06] zoq commented on #2676
Hello @rnarcin you can use `data::Save` and `data::Load` to save/load the network/agent, see https://github.com/mlpack/examples/blob/3df47a86027418bcb5601b828decef360357c8b4/mnist_cnn/mnist_cnn.cpp#L213-L220 for an example.

You are right you can't save the simpleDQN at this point, but what you can do is to construct a network outside of the simpleSQN and pass it, here is an example - https://gith

[2020-10-19 19:01] Aakash-kaushik commented on #2592
Keep open

[2020-10-19 20:57] Aakash-kaushik commented on #2523
Hi, I will complete all the remaining tests except `serialization_test.cpp` waiting for `cereal` to get merged, @jeffin143 maybe you can create a separate PR for `serialization_test.cpp` so it can be merged whenever `cereal` gets merged.

[2020-10-19 22:16] rcurtin commented on #2667
Hey @alexhallam, it's not everything, but we did recently add the `BayesianLinearRegression` class and the `bayesian_linear_regression()` binding: https://www.mlpack.org/doc/stable/cli_documentation.html#mlpack_bayesian_linear_regression

Contributions are totally welcome, by the way, if you have anything in mind. :smile:

[2020-10-20 04:39] jeffin143 commented on #2523
Boost require equal collection , is basically checking collections such as vector or matrix as a whole so you can simply use require itself

So `REQUIRE(collection1 == collection 2)`

You can use INFO to show messages

[2020-10-20 05:06] Aakash-kaushik commented on #2523
Hey, `INFO` takes just one argument which is the message to show whereas `BOOST_REQUIRE_MESSAGE` take two arguments a condition and a message.

[2020-10-20 18:33] jeffin143 commented on #2523
Yes I understand that , You can separate both of those, if that fails then only info would be there other wise it wouldn't be there something like this

`require ()`
`INfo ()`

[2020-10-20 18:43] Aakash-kaushik commented on #2523
I put them up in a if condition because I don't think a test is supposed to fail if those conditions are not met, it's just supposed to show a message right ?, Or else you can review the PR and point it out and i will correct it.

[2020-10-21 02:05] rcurtin opened #2679 "Add 'sanity check' option to bindings"
### What is the desired addition or change?

In #2670, one of the issues encountered was that there was a NaN or Inf in the dataset, but mlpack did not issue any errors other than crashing.  Although we focus on fast implementations, it can be really confusing to users who aren't expecting to need to make sure that all of their data is sanitized for the method at hand (and also our methods don't a

[2020-10-21 02:06] rcurtin commented on #2670
@BoltonBailey good point.  This is something I've thought about for a while but have never actually moved on.  I wrote up an idea in #2679; hopefully we'll get it implemented at some point in the future and that should make these types of errors easier to spot. :+1:

[2020-10-21 10:16] ASQWZXED commented on #2656
@rcurtin, @zoq

Please, help is needed here.

[2020-10-21 13:45] #2656 closed

[2020-10-21 14:16] GauravSarkar commented on #2619
Hey I saw many people wanted to work on this. Can anybody tell me if anybody is presently working on it or I would like to take up the issue.

[2020-10-21 21:16] alexhallam commented on #2668
I am slowly dipping my toe in the water here with the simple mean forecast. I have a couple of questions. First let me explain what I am doing and what I want to do.

Given a users time series data

[code]

the function asks for the desired percentiles, forecast horizon, number of bootstraps to get the residual, etc. The output looks like this

[code]

where the first column is the time index, the

[2020-10-23 16:15] Abilityguy commented on #2619
I believe @radioactive11 is working on the random forest regressor. If he is willing to pass it on, you can have a shot @GauravSarkar. Or, you can work on the LSTM one.

[2020-10-23 17:39] RishabhGarg108 commented on #2625
Hey everyone, I am new to mlpack and open source and looking to work on this issue. Can someone please guide me how to start on this issue. Thanks.

[2020-10-24 04:48] radioactive11 commented on #2619
@GauravSarkar you may take up this issue

[2020-10-27 10:29] iliagrigorevdev opened #2682 "Is there an analogue of the function 'softmax_cross_entropy_with_logits' from TensorFlow?"
Is there an analogue of the function 'softmax_cross_entropy_with_logits' (https://www.tensorflow.org/api_docs/python/tf/nn/softmax_cross_entropy_with_logits) from TensorFlow?

[2020-10-27 16:08] zoq commented on #2682
Hello @iliagrigorevdev, you could use Softmax (https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/layer/softmax.hpp) as the last layer and CrossEntropyError(https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/loss_functions/cross_entropy_error.hpp) as the loss function. Does this make sense?

[2020-10-27 17:24] iliagrigorevdev commented on #2682
Yes it makes sense. Thanks, @zoq! If I understand it right, this loss from TensorFlow is equal to '-sum(y*log(softmax(x)))' and in mlpack it will be '-sum(y*log(softmax(x)) + (1-y)*log(1 - softmax(x))))' (according to the source code 'mlpack-3.4.1/src/mlpack/methods/ann/loss_functions/cross_entropy_error_impl.hpp'). I am wondering if the result will be the same?

[2020-10-28 05:22] GauravSarkar commented on #2619
Thanks @radioactive11 .I am taking up the issue @Abilityguy .

[2020-10-28 14:12] zoq commented on #2682
You are right, this will not return the same result, unless I missed something. Maybe easier to add `softmax_cross_entropy_with_logits` as a new function.

[2020-10-29 18:15] RishabhGarg108 commented on #2590
Just to clarify, here by calculating the size of each layer, do we mean the number of parameters associated with a particular layer ? And do we also consider bias terms along with weight terms while calculating this number ?

Alse, correct me if I am wrong here, but shouldn't the parameters for the activation layers like softmax, tanh, CRELU etc. be zero ?

[2020-10-30 22:57] rcurtin commented on #2590
@RishabhGarg108 right on all accounts. :+1: So bias terms should be considered too, and for layers like softmax, the `WeightSize()` should indeed return 0.

[2020-10-31 07:07] yurivict opened #2687 "22 tests fail on FreeBSD"
Tests in version 3.4.2 fail on FreeBSD 12.2:

[code]

For example:
[code]

[2020-10-31 10:52] RishabhGarg108 commented on #2590
Ok @rcurtin , thanks.

Shall I take max_pooling, min_pooling and softmax layers if no one is currently working on them ?

[2020-10-31 12:44] rcurtin commented on #2687
`object specific hardware error`

I have never seen this error before... are you sure something is not wrong with the system you are using?

[2020-10-31 12:44] rcurtin commented on #2590
Sure, go for it!

[2020-10-31 15:41] yurivict commented on #2687
Everything else seems to be fine.

[2020-10-31 19:53] rcurtin commented on #2687
I really truly can't find any information about that particular error.  There is a suggestion somewhere that the machine might not have enough available RAM.  Past that, I really don't think I have any idea how to start debugging this one. :(  Maybe someone else has some ideas?

[2020-10-31 20:30] zoq commented on #2687
Let me build mlpack on my FreeBSD system.

[2020-11-01 00:01] yurivict commented on #2687
I encountered this problem after updating the FreeBSD port /usr/ports/math/mlpack to 3.4.2 and then running ```make test``` there.

[2020-11-01 09:38] Di-ashX opened #2693 "cannot perform neighbor search, building error(compiled without openmp support)"
mlpack version: 3.4.2
error:
Starting build...
Build finished with error:
                          In file included from /usr/local/include/mlpack/prereqs.hpp:125,
                                                                                                           from /usr/local/include/mlpack/core.hpp:67,
                                                                         from /home/

[2020-11-01 14:04] zoq commented on #2687
So a previous version was already installed?

[2020-11-01 16:32] rcurtin commented on #2693
Are you linking against mlpack in your build? Your compiler will need the flag `-lmlpack`.

[2020-11-01 17:05] yurivict commented on #2687
No.

[2020-11-01 17:21] #2682 closed

[2020-11-01 17:47] yurivict commented on #2687
On FreeBSD this can be reproduced with
1. cd /usr/ports/math/mlpack
2. change the version in Makefile to 3.4.2
3. run make makesum test

[2020-11-01 18:48] NippunSharma opened #2695 "Mean Absolute Error (MAE) in Linear Regression"
While going through the documentation of Linear Regression I noticed that there was option for only ordinary least squares.
It would be much better if a Mean Absolute Error (MAE) is also added within Linear Regression.

I would like to work on this and add this feature.

[2020-11-02 07:40] NippunSharma commented on #2695
If it is not an issue I would like to work on this...

[2020-11-02 10:05] #2695 closed

[2020-11-02 10:33] Abilityguy commented on #2443
Hey @kartikdutt18 , is this still open?
If no one is working on it, I would like to take a shot at it.

[2020-11-02 17:15] RishabhGarg108 commented on #2590
Hey, I was looking at the recurrent.hpp file and there are no inSize and outSize parameters. But we have startModule, inputModule, feedbackModule and transferModule. All these modules are layers of type CustomLayers and I do not know how to extract the required dimensions of matrices from them. It would be nice if  someone could guide me how to work with these modules.

[2020-11-02 17:22] kartikdutt18 commented on #2443
Hey @Abilityguy,
I think @jonpsy was working on this. I'm not sure if he is still working on this as his PR is now closed. Unless he is still working on it, feel free to take up this issue.
Regards.

[2020-11-02 22:16] zoq commented on #2687
Alright, thanks for the instruction.

[2020-11-05 10:33] yatishgoel commented on #2693
this worked for me
g++ filename.cpp -std=c++11 `pkg-config --libs mlpack`

[2020-11-06 05:10] conradsnicta opened #2699 "compilation warnings due to deprecated matrix initialisation via <<"
In [Armadillo 10.x](http://arma.sourceforge.net/download.html), matrix initialisation via `<<` is deprecated.   This comes up as lots of warnings during mlpack compilation.
For example, see `src/mlpack/tests/ann_layer_test.cpp`:
https://github.com/mlpack/mlpack/blob/58870ad8fe355aa5c843c95d6020c932d3636d69/src/mlpack/tests/ann_layer_test.cpp#L2011-L2014

Instead of using `<<`, the preferred way is

[2020-11-06 07:14] NippunSharma commented on #2693
adding `-fopenmp` when building worked for me

[2020-11-06 13:19] pradkrish opened #2700 "shouldn't we use venv?"
I am a newcomer to mlpack and while building mlpack, I noticed that there is no mention of using virtual environment, which is the standard way of building any package these days, anywhere in the documentation. Shouldn't that be mentioned in the documentation? I can make a PR for this as a way of dipping my feet.

[2020-11-06 13:28] rcurtin commented on #2700
mlpack is not a Python package, although it does have the ability to build Python bindings.  So venv is not relevant to mlpack's build process.

[2020-11-06 13:32] pradkrish commented on #2700
Good point, I agree with that. At least it's worth mentioning how people usually do it. In this way, someone new to this whole thing will at least know what is the right thing to do.

[2020-11-06 13:40] rcurtin commented on #2700
I don't understand what you're suggesting.  Virtual environments don't make sense for a C++ build.  Our README and Doxygen documentation already describe how to build the package.  Did I overlook what you mean?

[2020-11-06 13:47] pradkrish commented on #2700
I could be wrong here. This line from the README `if you would like to use or build the mlpack Python bindings, make sure that the following Python packages are installed. Since we can access C++ APIs from python, I thought doing it inside a venv can help not to mix configuration up with other packages.