[2016-03-01 20:42] theSundayProgrammer opened #534 "Neural Network: RNN test Internal Compiler Error on MSVC"
This is a Microsoft bug. I hope there is a work around:

...\mlpack\src\mlpack\methods\ann\rnn_impl.hpp(302): fatal error C1001: An internal error has occurred in the compiler.
  (compiler file 'msc1.cpp', line 1421)
   To work around this problem, try simplifying or changing the program near the locations listed above.
  Please choose the Technical Support command on the Visual C++
   Help menu,

[2016-03-01 21:31] theSundayProgrammer commented on #531
As `tie` copies references not objects you cannot return a tuple that is created from a `tie` using objects on stack.  However using `make_tuple` copies objects. Hence you return such tuples from functions. However you need to know the exact type of tuple. The type of RNN in the recurrent_network_test is:
RNN<
std::tuple<
          LinearLayer<arma::mat,arma::mat> &,
          RecurrentLayer<arma:

[2016-03-02 01:16] sudarshan85 commented on #531
I am using C++14 (C++1y) and what I did was train the model and then just return net (which is the FFN) and saved it to another auto'd variable from main. However, when I called predict on that, I got a segfault. My guess is somewhere, somehow, while getting returned from BuildFFN, the variable net got corrupted. Personally, I would prefer if this worked well (because my machine has around 32gb of

[2016-03-02 01:46] stereomatchingkiss commented on #531
Like theSundayProgrammer said, if you create your net by std::tie, the type of your net would take the reference of the layers, but not copy/move the layer(remember to define ARMA_USE_CXX11, else the matrix of armadillo cannot move). Return reference of the stack is not a good idea, because the stack will be destroy after you exit from scope.

[2016-03-02 04:50] stereomatchingkiss commented on #531
I test the serialization of current implementation(without any change), it work like magic. Looks like I was wrong, the serialization of the ffn, rnn and cnn already work, the parameters of ffn already store the weights of the net(module),  I am sorry for my misunderstanding.

Your problem should be able to fixed if you create the tuple by std::make_tuple

[2016-03-02 10:13] wichtounet opened #538 "HMM Training fails to converge"
Hi,

I'm trying to use mlpack to train HMM for word models, but most of my HMMs failed to converge with the given error:

Here is the code (unfortunately, not standalone, it's inside another program):
[code]

I can give you the complete code, but it won't execute on its own.

Looking at the features and labels, it seems OK, but I'm not a specialist in HMM at all.

Is there some parameters I can pl

[2016-03-02 10:44] mrbeann opened #539 "can't make in ubuntu 14.04"
[ 89%] Building CXX object src/mlpack/tests/CMakeFiles/mlpack_test.dir/sgd_test.cpp.o
[ 90%] Building CXX object src/mlpack/tests/CMakeFiles/mlpack_test.dir/serialization.cpp.o
[ 91%] Building CXX object src/mlpack/tests/CMakeFiles/mlpack_test.dir/serialization_test.cpp.o
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate

[2016-03-02 13:11] rcurtin commented on #539
I'm pretty certain you don't have enough RAM in your system to compile mlpack.  Maybe you can try a larger swap file?  Still, it will be very slow.  Either way, this isn't a bug in mlpack, it's unfortunately a problem with your setup, so there's nothing I can do to help. :(

[2016-03-02 13:11] #539 closed

[2016-03-02 13:13] rcurtin commented on #534
Is this VS2015 or an earlier version?

[2016-03-02 13:21] sudarshan85 commented on #531
Thank you for your replies. After reading a bunch on tie and tuple I think I understand what they do. I changed my code to create the models using std::make_tuple instead of std::tie as shown:

[code]
I have the function return type auto and I return the variable net after training the network. In the main function I save it to another auto'd variable and call predict on it:

[code]
I also made su

[2016-03-02 13:35] mrbeann commented on #539
Thank you,Actually that's the problem, I found it just after I made the issue(I just use a VM with 1G ram before), sorry to make trouble.

liujiacheng0810@163.com

From: Ryan Curtin
Date: 2016-03-02 21:11
To: mlpack/mlpack
CC: mrbeann
Subject: Re: [mlpack] can't make in ubuntu 14.04 (#539)
I'm pretty certain you don't have enough RAM in your system to compile mlpack. Maybe you can try a larger swa

[2016-03-02 13:57] stereomatchingkiss commented on #531
It works perfectly fine on my laptop(win8 64 bits, vc2015 64bits), maybe update your mlpack by
`git pull https://github.com/mlpack/mlpack`

can solve this problem?

[2016-03-02 14:08] ibrahim5253 commented on #533
Is this still open? Can I work on this?

[2016-03-02 14:10] Falit commented on #533
I have updated the pull request ..the build worked this time.. waiting for the merge :)

[2016-03-02 14:13] ibrahim5253 commented on #532
I would like to work on this.

[2016-03-02 14:21] rcurtin commented on #532
Sure, go ahead. It'd probably be a good idea to assign the ticket to yourself while.you work on it. :)

[2016-03-02 14:39] zoq opened #540 "Add hard tanh layer"
The hard tanh function is sometimes preferred over the tanh function since it is computationally cheaper. It does however saturate for magnitudes of x greater than 1. The activation of the hard tanh is:

[code]
It would be great, if mlpack would provide  an implementation of a ```HardTanHLayer``` that allows the specification of the min and max value.

[code]

[2016-03-02 15:01] arasuarun commented on #540
I'd like to take this up. Along with the ```HardTanhLayer```, there needs to be a ```HardTanhFunction```, right? Thanks.

[2016-03-02 15:21] ibrahim5253 commented on #532
Sorry but I didn't get you. Assign a ticket? That can be naive but I am a newbie. Apologies.

[2016-03-02 15:21] zoq commented on #540
You can directly implement the ```HardTanhLayer```. The extra activation functions (e.g. the ```tanh``` function) are supposed to be used in combination with the ```BaseLayer```. The ```BaseLayer``` only works with activation functions that can be called without any additional parameters like the sigmoid or the ```tanh``` function. Since the ```HardTanhLayer``` should allow the specification of th

[2016-03-02 15:26] zoq commented on #531
Once I modified the CMake file to build against c++14 it worked also on my machine. I guess another simple solution would be to write a wrapper class that creates the network and forwards the necessary functions e.g. ```Predict(...)```. This would also work with C++11.

[2016-03-02 15:33] zoq commented on #531
Btw. I used the following code to test:

[code]

[2016-03-02 15:36] sudarshan85 commented on #531
Thank you. I am building against C++14 as well. Here is my CMake file:
[code]
After stero's suggestion, I did a pull today and fast-forwarded my branch by 4 commits and built and ran the mlpack_test which found no errors. After this, when I compile I am still getting errors but its different:

[code]

I was able to isolate the error to the net.Train(trainData, trainLabels) call. Any suggestions?

[2016-03-02 15:38] rcurtin commented on #532
Oh, maybe that is not an available option for you.  At least in my interface, I can set the labels and milestone and "assignee" of the ticket, but I guess maybe this is only because I'm a repo admin.  Anyway, don't worry about that then, sorry for the confusion.

[2016-03-02 15:49] stereomatchingkiss commented on #531
This is the wrong of const correctness, it is quite easy to fix

change

`OutputDataType& OutputParameter() const { return outputParameter; }`

to

`OutputDataType const& OutputParameter() const { return outputParameter; }`

Pull request #536 fix this problem already

[2016-03-02 16:00] rcurtin commented on #529
Yeah, I think maybe LSH is your best bet here if you don't want to write much C++ code.  It might be easiest to just modify the LSHSearch class to get the functionality that you need.

[2016-03-02 16:02] arasuarun commented on #540
Okay, I'll check it out and start right away. Thanks.

[2016-03-02 16:03] acgtun commented on #529
Hi, Ryan, Thanks a lot.

[2016-03-02 16:08] stereomatchingkiss opened #541 "Could we change the response type of ann from arma::mat to arma::Row<size_t>?"
I think it is easier for users to specify their label if they are one dimension only, is it possible for us to change it from ama::mat to arma::Row?Thanks

[2016-03-02 16:28] sudarshan85 commented on #531
Thank you. I checked out pr/536 and linked the include directories and lib from there. I got rid off all the compiler error. However, I get a 100% classification error when I use std::make_tuple, but when I use std::tie I get 4.95916%. This is my funciton:
[code]

[2016-03-02 16:33] rcurtin commented on #533
@ibrahim5253: Falit has already sent a PR, so it probably doesn't make sense to duplicate his work on this ticket.

[2016-03-02 16:41] ibrahim5253 commented on #532
I have modified 'src/mlpack/methods/neighbor_search/CMakeLists.txt' as required but am not sure how to accomplish backward compatibility. I am on Linux. Can you please guide me in the right direction?

[2016-03-02 16:41] rcurtin commented on #529
Glad I could be helpful. :)  If you end up implementing a new algorithm, and are interested in contributing it back to mlpack, I'd be happy to look over it.

I think there is nothing more to do with this issue, so I'm going to go ahead and close it.

[2016-03-02 16:41] #529 closed

[2016-03-02 16:43] rcurtin commented on #541
What about situations where a user is not using a neural network for classification, but instead for something where real-valued outputs are expected?

I'm not sure what the exact code being referenced here is, I just wanted to point that out as a possibility.

[2016-03-02 16:44] acgtun commented on #529
Yeah, thanks.

[2016-03-02 16:47] stereomatchingkiss commented on #541
Maybe we could change it from

arma::Row<size_t>

to?

arma::Row<double>

I am mention about the codes of ffn, ann and rnn,things like

`void Predict(arma::mat& predictors, arma::mat& responses);`

Could we add an overloaded function, like

`void Predict(arma::mat& predictors, arma::Row<double>& responses);`

To the class?

[2016-03-02 16:59] rcurtin commented on #541
Maybe the response type should be a function of the type of the output layer?  I am not sure how feasible this is, just tossing the idea out there.

[2016-03-02 17:12] rcurtin commented on #532
Read the CMake documentation and find out whether or not it is possible to create a symlink when on systems that support symlinks, and then do that.  If that isn't possible, then copying the executable is the best option.

The CMake documentation is quite comprehensive:
https://cmake.org/cmake/help/v3.5/
https://cmake.org/cmake/help/v3.5/manual/cmake-commands.7.html

[2016-03-02 18:12] stereomatchingkiss commented on #531
Pull request #542 should fix this issue, the problem is the parameter name "network" hide the name of data member "network".

If you want to save memory when make the tuple, you can move the layer too

[code]

[2016-03-02 18:40] abhinavchanda commented on #412
@zoq , I have written a LeakyReLULayer class [here](https://github.com/abhinavchanda/mlpack/commit/0cfd3e5a095ff9cf680c413021b2c117bc93fa49?diff=unified)  . I have used the forward and backpropagation functions similar to those in the base_layer.hpp. Please let me know if any changes are required. Also, can you guide me as to how to write test cases for this layer.

[2016-03-02 19:33] theSundayProgrammer commented on #531
I had the same result when used make_tuple rather than tie. I fixed it
though in my own fork:
http://github.com/theSundayProgrammer/mlpack
fork:mytweaks
SHA1: 540dd7c3b3a5f3857eed922d446bfeb5016dbcd9

Although it is for CNN not FNN, I guess a similar change for FNN should
work too

On Thu, Mar 3, 2016 at 3:29 AM, sudarshan <notifications@github.com> wrote:

--
Joseph Chakravarti Mariadassou
http:/

[2016-03-02 20:34] theSundayProgrammer commented on #531
I had the same result when used make_tuple rather than tie. I fixed it
though in my own fork:
http://github.com/theSundayProgrammer/mlpack
branch:mytweaks
SHA1: 540dd7c3b3a5f3857eed922d446bfeb5016dbcd9

Although it is for CNN not FNN, I guess a similar change for FNN should
work too

On Thu, Mar 3, 2016 at 6:33 AM, Joe Mariadassou <joe.mariadassou@gmail.com>
wrote:

--
Joseph Chakravarti Mariadass

[2016-03-02 21:26] sudarshan85 commented on #531
Thank you all for your help. Working with pr/542 fixed everything and I am able to return net as an auto using C++1y and predict later in code and it works. Closing the issue now.

[2016-03-02 21:26] #531 closed

[2016-03-02 22:11] theSundayProgrammer commented on #534
VS2015

On Thu, Mar 3, 2016 at 12:13 AM, Ryan Curtin <notifications@github.com>
wrote:

--
Joseph Chakravarti Mariadassou
http://thesundayprogrammer.com

[2016-03-02 22:32] rcurtin commented on #534
:(
I don't know what to tell you on this one then.  If you find a workaround that doesn't change the flexibility of the code, we can include it, but finding workarounds for C1001s is usually a nightmare.  I hear the Intel compiler generally gives better results, but I haven't tried that myself...

[2016-03-02 22:36] rcurtin commented on #508
It looks like the right thing to do here is disable support for any Visual Studio version older than 2015; this is a straightforward task for someone who wants to start contributing.  See the file `CMake/CXX11.cmake`.

[2016-03-02 22:44] zoq commented on #534
I was wondering if the FFN or CNN class goes through without any errors?

[2016-03-02 22:45] rcurtin commented on #514
@stereomatchingkiss: not at the moment, but if you wanted to write support for that, please feel free.  We would have to figure out how to make that work with the existing `KMeans<>` class.

[2016-03-02 23:02] zoq commented on #412
Thanks for the contribution. Before I merge the code in (I guess you will open a pull request) could you take a look at the design guidelines especially the comments section:

https://github.com/mlpack/mlpack/wiki/DesignGuidelines

It's minor, but I tend to be picky about code but I am not mean. :)

It would also be great if you could combine the two constructors into one:

[code]

And last but no

[2016-03-02 23:05] zoq commented on #412
About the test, take a look at the ```activation_functions_test.cpp```, it basically tests different activation functions with edge cases and compares them with manually calculated data.

[2016-03-03 00:47] theSundayProgrammer commented on #534
FFN and CNN are fine.

On Thu, Mar 3, 2016 at 9:44 AM, Marcus Edel <notifications@github.com>
wrote:

--
Joseph Chakravarti Mariadassou
http://thesundayprogrammer.com

[2016-03-03 01:27] zoq commented on #534
In this case, we should be able to find a workaround. I have to setup a windows machine first, I guess I can use your tutorial for that? Any updates to make things easier? Or maybe I can use the modified mlpack windows version that @rcurtin mentioned, I can't remember the name of the project.

[2016-03-03 01:32] rcurtin commented on #534
https://github.com/vespucciproject

Maybe AppVeyor would be useful to use for testing here.
Sometimes workarounds for MSVC like this involve stuff like reordering data members and other bizarre things.  I have no idea what will work here, though.

[2016-03-03 02:14] rcurtin commented on #538
What happens if you vary `n_gaussians`?  Does it fail when set to 1?

Also, is there any more output?  If you compile with debugging symbols that may help.

This may be related to #496, but that issue should have been solved with the mlpack 2.0.1 release.

[2016-03-03 02:30] hercky commented on #508
It looked pretty straightforward so I went ahead and made the changes and opened a pull-request !

#543

[2016-03-03 07:21] abhinavchanda commented on #412
Hi. Thanks for the suggestions. I have made the required changes [here](https://github.com/abhinavchanda/mlpack/blob/412_leakyReLULayer/src/mlpack/methods/ann/layer/leaky_relu_layer.hpp).Regarding testing I have a doubt. As leakyReLu is a layer, as opposed to a single neuron, so it should have only forwad and backward as public methods and the activation function and derivative should not be expos

[2016-03-03 07:32] wichtounet commented on #538
I tried setting different values for n_gaussians, but it does not make any difference.

There are no more output even with all debug symbols.

I have the 2.0.0, I haven't tried the 2.0.1, I'll do that now. You should really set the 2.0.1 as the "Latest release", right now it is a bit misleading since 2.0.0 has a huge "Latest release" green tag and a wall of text while 2.0.1 has no information and

[2016-03-03 11:15] GYengera commented on #412
@abhinavchanda your code is well written. It helped me to understand the code base better.
I think you need to serialize the layer at the end. /**
   * Serialize the layer
   */
  template<typename Archive>
  void Serialize(Archive& ar, const unsigned int /* version */)
  {
  }

[2016-03-03 11:50] wichtounet commented on #538
You were right, it was indeed fixed by the release 2.0.1. Thanks.

[2016-03-03 11:50] #538 closed

[2016-03-03 13:47] tpBull opened #545 "Comiling error on fast_mks_model.cpp.o"
I have trouble compiling the mlpack, stuck at fast_mks_model.cpp.o.
The error log is:
[  2%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/methods/fastmks/fastmks_model.cpp.o
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-4.9/README.Bugs> for instructions.
src/mlpack/CMakeFiles/m

[2016-03-03 14:06] rcurtin commented on #545
You need more RAM.

[2016-03-03 14:06] #545 closed

[2016-03-03 14:08] rcurtin commented on #545
(See also #539)

[2016-03-03 14:49] tpBull commented on #545
Having changed the ram size. And here coms another bug.

In file included from /home/bull/Desktop/Parallels Shared Folders/Home/Downloads/mlpack-2.0.1/src/mlpack/methods/adaboost/adaboost.hpp:185:0,
                 from /home/bull/Desktop/Parallels Shared Folders/Home/Downloads/mlpack-2.0.1/src/mlpack/methods/adaboost/adaboost_main.cpp:38:
/home/bull/Desktop/Parallels Shared Folders/Home/Download

[2016-03-03 15:28] tpBull commented on #414
Hello @zoq, I've read the paper you listed. it seems not hard to implement the algorithm in the paper step by step. But I didn't find the test for the fnn, so what we should do it to write the weight initializing function into the fnn package and write a test program to compare the result of the existing one and the new one? And the test data should be created by our own?

[2016-03-03 17:38] rcurtin commented on #538
You're right, I forgot the publish the release notes!  Sorry about that.

I'm glad the updated version fixed it... I was scared that all the debugging I did for #496 was not enough. :)

For debugging symbols, yeah, I meant the CMake option DEBUG: `cmake -DDEBUG=ON` or similar.  If you have future problems with mlpack, you can try compiling with debugging symbols to get some more output that might

[2016-03-03 17:45] theaverageguy commented on #396
I would like to work on this. Please let me know how much of it is done ?

[2016-03-03 17:54] rcurtin commented on #545
How did you install Armadillo?
Did you specify `ARMADILLO_INCLUDE_DIR` manually?

If you built Armadillo manually in, e.g., `/path/to/armadillo/`, then you must set `ARMADILLO_INCLUDE_DIR` to `/path/to/armadillo/tmp/include/` ***not*** `/path/to/armadillo/include/`.  Kind of a weird gotcha, but that's the way Armadillo is configured.  If you install Armadillo instead through your system's package

[2016-03-03 18:26] rcurtin commented on #396
Hi there, you're welcome to implement a manifold learning method.  Note that there are two PRs open for implementations that haven't been merged yet, so it probably does not make sense to replicate their work:
https://github.com/mlpack/mlpack/pull/439
https://github.com/mlpack/mlpack/pull/430

[2016-03-03 20:33] theaverageguy commented on #420
Are there any auto linters existing ? Like we have autopep8 for python? Maybe I can help.

[2016-03-04 05:59] vtantia commented on #540
Hello, I was trying to understand the code to solve this bug. I was also reading bias_layer.hpp. On line 156,157 I cannot understand(after extensive googling) what data::createNVP is doing, and what an NVP is? Could you help me with that? Will enable me to understand better

[2016-03-04 14:36] wichtounet opened #550 "How to speed up HMM training ?"
Hi,

I'm trying to use this library on handwritten documents. I have an HMM with 1 states (a GMM):

`auto hmm = std::make_unique<HMM<GMM>>(1, GMM(64, 9));`

I'm trying to train it on a subset of my data, here are the numbers:
- 244 sequence of observations of variable length
- => 37032 observations
- 9 features per observation => 333288 features

I would have though these numbers to be reasonable,

[2016-03-04 14:49] wichtounet commented on #550
I don't know if that helps, but here is a a trace I took with perf on the currently running 64-gaussian GMM:

    16.29%  spotter  libmkl_avx.so            [.] mkl_blas_avx_xdgemmger
    14.31%  spotter  spotter                  [.] arma::eglue_core<arma::eglue_minus>::apply<arma::Mat<double>, arma::Mat<double>, arma::Glue<arma::Col<double>, arma::Gen<arma::Row<double>, arma::gen_ones>, arma::glue

[2016-03-04 16:10] rcurtin commented on #550
Have you compiled mlpack without debugging symbols?  If you're using the git master branch, then debugging and profiling symbols are enabled by default (you can disable with `-DDEBUG=OFF -DPROFILE=OFF`), and if you're using a release (2.0.1, for instance), then debugging and profiling symbols are disabled by default so that should not be an issue.  And I assume you're compiling your program with `

[2016-03-04 16:29] rcurtin commented on #540
Hi there Vinayak,

The `data::CreateNVP()` function is used in place of `BOOST_SERIALIZATION_NVP()`; see here:
https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/data/serialization_shim.hpp#L64
There's a little more documentation in that file, and you could also see this section of the design guidelines:
https://github.com/mlpack/mlpack/wiki/DesignGuidelines#requirements-of-each-class

I

[2016-03-04 17:51] theaverageguy commented on #413
I got the difference @zoq between the two. One has probability multiplications in weights(Connect) and the other has it in activation functions(Out). Can you guide me where to make changes though? According to me the input activation should be modified and then assigned to output activation. Please guide me a bit coz I want to fix this now.

[2016-03-04 19:09] palashahuja commented on #413
@theaverageguy, I am working on this right now. I will be sending a PR very soon regarding this bug ..

[2016-03-04 20:33] theSundayProgrammer commented on #513
Serialization is not complete AFAIK: The following test fails (100% error):
[code]

Note that `net` computes the values as expected. But `net2` fails with 100% error. This is partly because the weights have not been serialized. But adding `network` and `outputLayer` to CNN::Serialize did not help.

[2016-03-04 20:34] zoq commented on #413
@theaverageguy you are right, I really like the images from the authors: http://cs.nyu.edu/~wanli/dropc/.

So, the implementation of the DropConnectLayer isn't that different as of the DropoutLayer. So you can use the DropoutLayer as a basis. So imagine you like to create a simple feedforward network something like that:

[code]

Now we would like to use DropConnect between the input and the first

[2016-03-04 20:42] palashahuja commented on #413
@zoq , the forward functions have to be used only for the linear layer over here I suppose

[2016-03-04 20:44] zoq commented on #413
Not sure I get your point, but what if I would like DropConnect for the ConvLayer?

[2016-03-04 20:44] palashahuja commented on #413
Ok, I got it .. thanks ..

[2016-03-04 20:47] zoq commented on #513
I guess, the problem can be solved by using soemthing like this:

[code]
I can't test this right now.

[2016-03-05 03:54] theaverageguy commented on #364
@rcurtin Any heads up for this? Guide me a bit please. :)

[2016-03-05 03:56] theaverageguy commented on #420
Can I start with Uncrustify @stephentu ? It seems that it could fix a lot of it.
I would like your help for this PR.

[2016-03-05 04:10] rcurtin commented on #364
You'll have to do research on this one, like speet3 mentioned years ago.  Figure out how mlpack might be distributed on OS X, then create a solution.  There's not much guidance I can give you here; it's open-ended.

[2016-03-06 17:40] palashahuja commented on #413
@zoq, Please have a look at this [commit](https://github.com/palashahuja/mlpack/commit/17acaaf331c9fa8801b7ff8d1c58e8623351ca20). I have already implemented the dropconnect, but I wanted to know what should I do for `layerTraits`? It isn't clear, for this case ..

[2016-03-06 20:55] zoq commented on #414
We can use the VanillaNetworkTest (feedforward_network_test.app) as the basis; so replicate the e.g. 5-3-1 structure and check the return value of the optimizer.
Since we can't exactly replicate the results from the paper, we should run the test a couple of times, and take the mean value of the optimizer results and see if this is close to the results from the paper.

[2016-03-06 22:30] zoq commented on #413
[code]

Looks, good, the DropConnectLayer is connection, since it connects two layer. Btw. I really like your commit message.

[2016-03-07 17:11] rcurtin opened #553 "std::size_t warning on 32-bit machines"
When you compile mlpack on 32-bit machines, you get lots and lots of warnings of this ilk:

[code]

We should try and figure out what is triggering these warnings and whether or not we can disable it, so that we can have a less noisy 32-bit build.  These warnings aren't an issue---mlpack doesn't use any 64-bit types if it's on a 32-bit build.

[2016-03-07 20:22] rcurtin opened #554 "Reduce (or fix) warnings when compiling with Visual Studio"
When mlpack is built with Visual Studio, there are tons and tons of warnings; for instance, see this output:
https://ci.appveyor.com/project/mlpack/mlpack

A snippet of warnings:

[code]

Most of these errors will be from the same patterns throughout the code, so we should do what we can to fix them where possible.  At least for the conversion of `size_t` to `arma::uword`, I _think_ that we should

[2016-03-07 21:54] zoq commented on #534
I fixed the issue in f58aa3662eae235f74ed8fc6ef1e3446. I'm going to go ahead and close this issue then.

[2016-03-07 21:54] #534 closed

[2016-03-07 23:23] zoq opened #555 "Optimizer transition: Adam, Adadelta"
We recently decided to use the optimizer in core/optimizers for the network modules instead of writing special optimizer just for the network modules. However, we already implemented some methods that aren't available for the rest of mlpack like Adam, Adadelta and RMSprop (methods/ann/optimizer). Actually, that's not true, we reimplemented RMSprop in da1207a9e6407e835 and made the optimizer availa

[2016-03-08 06:56] sshkhrnwbie commented on #555
I am new to mlpack and open-source in general and would like to work on this issue. I understand that you expect implementations of the Adam and Adadelta optimizers in core similar to the new implementation of RMSprop but what should be done with the optimizers in the ann module?

Right now I have downloaded the papers and am trying to understand the optimizers. I will try to finish this as fast a

[2016-03-08 07:00] wichtounet commented on #550
I just got the results this morning. It took almost 53 hours to train the GMM :(

I'm using the release 2.0.1 built from sources with the default options, so I don't think there are debugging in it.

The program is compiled with -O2 -g -march=native with g++-4.9.3

I haven't found out how to train a GMM with multiple sequences. Do I have to loop and call Train several times ?

[2016-03-08 12:02] wichtounet commented on #550
There is something really weird. The GMM version trains almost instantly while the HMM takes days...

Here is the HMM version:

[code]

Here is the GMM version:

[code]

Either there is something wrong with this code and I don't use GMM/HMM correctly or there is something definitely wrong in the library.

[2016-03-08 19:06] zoq commented on #555
You can basically use the RMSprop or the SGD optimizer in core/optimizers as a basis, to reimplement Adam and Adadelta.

So, take a look at the RMSprop ann implementation  (ann/optimizer/rmsprop.hpp) and compre the implementation with the new RMSprop implementation in core/optimizers/rmsprop_impl.hpp.

Once there is an Adam and Adadelta implementation in core/optimizers, I'll go and delete the ann

[2016-03-08 19:14] awhitesong commented on #555
@zoq I'll take up Adadelta if not both.

[2016-03-08 20:25] ankurayadav commented on #553
I would like to work on this problem but I have a 64 bit machine. I think I will try using a virtual machine.

[2016-03-08 20:54] rcurtin commented on #553
Yes, a VM should be sufficient to reproduce this problem.

[2016-03-09 06:11] nirmalsinghania2008 opened #557 "Error Building Adaboost method"
`CMakeFiles/mlpack_adaboost.dir/adaboost_main.cpp.o:(.rodata._ZTVN5boost15program_options11typed_valueIdcEE[_ZTVN5boost15program_options11typed_valueIdcEE]+0x40): undefined reference to `boost::program_options::value_semantic_codecvt_helper<char>::parse(boost::any&, std::vector<std::string, std::allocator<std::string> > const&, bool) const'
../../../../lib/libmlpack.so.2.0: undefined reference to

[2016-03-09 10:47] ruch1 opened #558 "ARMADILLO_INCLUDE_DIR-NOTFOUND/armadillo_bits/config.hpp not found!"
The C compiler identification is GNU 4.8.1
The CXX compiler identification is GNU 4.8.1
Check for working C compiler: C:/Program Files (x86)/CodeBlocks/MinGW/bin/gcc.exe
Check for working C compiler: C:/Program Files (x86)/CodeBlocks/MinGW/bin/gcc.exe -- works
Detecting C compiler ABI info
Detecting C compiler ABI info - done
Detecting C compile features
Detecting C compile features - done
Check f

[2016-03-09 10:50] ruch1 commented on #558
can somebody guide me through the steps how to include mlpack to  my cpp code ?

[2016-03-09 13:06] rcurtin commented on #557
Hi, can you give the output of `make clean && VERBOSE=1 make`?  (It'll be a lot of output.)  This will help figure out what is not being linked against correctly.

[2016-03-09 13:22] rcurtin commented on #558
Hi there,

I think your problem is that you have to specify `ARMADILLO_INCLUDE_DIR` and `ARMADILLO_LIBRARY` as options to CMake.  Try that and I think that should fix your problem.

[2016-03-09 14:48] ruch1 commented on #558
thank you .it worked for me

[2016-03-09 14:55] #558 closed

[2016-03-09 15:32] nirmalsinghania2008 commented on #557
I outputted VERBOSE=1 make to Make Output.txt
after make is stopped some errors are showed on command line which are in command line error.txt

https://drive.google.com/file/d/0B3DSP7xuG0EOdGVDbTRlQkxDWWc/view?usp=sharing
https://drive.google.com/file/d/0B3DSP7xuG0EOVURMNkxiR1lqMDA/view?usp=sharing

[2016-03-09 15:42] rcurtin commented on #557
The problem appears to be that the symbols for boost serialization are not found.  But I can see in your build logs that the linker is attempting to link against boost serialization:

[code]

Does the library libboost_serialization.so exist on your system?  If it does, see if you can write a simple boost serialization test program (maybe this one: http://www.boost.org/doc/libs/1_60_0/libs/serializ

[2016-03-09 16:55] zoq commented on #513
In c75652ba2e49a284f2b9 I made the necessary changes, let me know if that fixes your error.

[2016-03-09 16:55] #513 closed

[2016-03-09 21:09] ankurayadav commented on #553
I just build mlpack on ubuntu 14.04 32bit but didn't get any build warning.
Please check [https://gist.github.com/ankurayadav/2b4fdc0b99f3a86defd9](https://gist.github.com/ankurayadav/2b4fdc0b99f3a86defd9).

[2016-03-09 21:21] vasanthkalingeri commented on #555
Then I will be working on Adam first.

[2016-03-09 22:42] theSundayProgrammer commented on #513
Thanks. I "smoke" tested CNN serialization and it works.

On Thu, Mar 10, 2016 at 3:56 AM, Marcus Edel <notifications@github.com>
wrote:

--
Joseph Chakravarti Mariadassou
http://thesundayprogrammer.com

[2016-03-09 22:48] nirmalsinghania2008 commented on #557
libboost_serialization.so and libboost_serialization.a does exist on my system but there is a problem linking libboost_serialization(a lot of errors on command line)
it tried adding -llibboost_serialization flag to gcc from question below
http://stackoverflow.com/questions/3931342/help-compiling-and-using-boost-c-libraries

the errors reduced
/usr/bin/ld: /tmp/ccPmvBXH.o: undefined reference to sy

[2016-03-10 01:03] #412 closed

[2016-03-10 01:03] #540 closed

[2016-03-10 11:34] wichtounet commented on #550
I ended up flattening all my observations in a single matrix and calling Train with it, it takes 200 seconds to train the GMM now instead of 53 hours and it seems to work.

[2016-03-10 13:59] anamariabs commented on #555
Hi! I implemented the transition on Adam. If you could have a look, that would be great. https://github.com/anamariabs/mlpack/tree/master/src/mlpack/core/optimizers/adam

[2016-03-10 15:24] rcurtin commented on #557
Do you need to add `-lstdc++` or `-stdlib=libstdc++`?

[2016-03-10 15:29] rcurtin commented on #550
Hey there,

Sorry for the slow response---I have been busy with some other things this week.  It's worth noting that the GMM code you pasted where you iterate over each image and call `gmm->Train(images[i], 1, true)` is actually quite different than what `hmm->Train(images)` will do.  The HMM training process will associate each observation with a probability of coming from each state (in your cas

[2016-03-10 21:57] zoq commented on #555
Looks good to me, please open a pull request, that also includes the test.

[2016-03-11 00:56] na1taneja2821 commented on #553
@rcurtin I saw this issue today and tried to summarize, the problem in build warnings. As can be seen from various online sources the Armadillo library when compiled with the C++ 11 sets the default word size to 64bit. The exact code mentioned in the Armadillo package can be found here: http://fossies.org/linux/armadillo/include/armadillo_bits/compiler_setup.hpp.
Another, thing is that the armadil

[2016-03-11 01:14] vasanthkalingeri commented on #555
@zoq, unfortunately, I worked on the same code, but I have added the tests as well here #560

[2016-03-11 01:25] vasanthkalingeri commented on #414
@zoq , I went through the paper and will start working on this.

[2016-03-11 06:58] anamariabs commented on #555
#561

[2016-03-11 12:21] na1taneja2821 commented on #498
Hi,
Since the issue is still open, I would like to work on this. Also, since there is no backward compatibility requirement I will start with making changes to timers.hpp and timers.cpp

[2016-03-11 15:06] nirmalsinghania2008 commented on #557
yeah i tried that .but also didn't work.
anyways i changed my distro from arch to xubuntu for working with ml-pack development...maybe this'll solve the problem.
i'll try and let you know

[2016-03-11 15:49] zoq commented on #555
Okay, maybe we can avoid such situations in the future by assigning the task to the first person who says, I like to work on the issue.

I take a quick look at the pull requests and maybe we can find a way to include both requests.

```adam_impl.hpp``` is basically the same so I like to use that from @vasanthkalingeri, but the test is kind of different, @vasanthkalingeri created a new file instead

[2016-03-11 16:06] tpBull opened #562 "Error compiling test program"
I have trouble in compiling the feedforward_network_test.cpp. The log file is as follows.

bull@ubuntu:~/Downloads/mlpack-master/src/mlpack/tests$ c++ -std=c++11 feedforward_network_test.cpp -o test > res
/usr/lib/gcc/x86_64-linux-gnu/4.9/../../../x86_64-linux-gnu/crt1.o: In function `_start':
/build/buildd/glibc-2.21/csu/../sysdeps/x86_64/start.S:114: undefined reference to `main'
/tmp/ccIFHVje.o

[2016-03-11 16:12] rcurtin commented on #562
This is a simple linker issue.  You need to link against mlpack and its dependencies.  Add `-lmlpack -larmadillo -lboost_serialization -lboost_program_options -lboost_unit_test`.  (I think I got everything there, if not, it should be easy to read the error messages and figure out what needs to be linked against.)

If you haven't installed mlpack on your system you will have to specify the include

[2016-03-11 16:13] rcurtin commented on #562
Actually hang on, I think I misinterpreted what is going on here.  Although my advice still applies, I think you are much better off just building the mlpack_test program (i.e. `make mlpack_test`) and then running the FeedForwardNetwork test only:

[code]

[2016-03-11 16:45] anamariabs commented on #555
I guess this is sort of my fault. I wanted to get familiar with the code, and all the tasks proposed on the mlpack gsoc site on the projects you mentor were sort of taken by someone else. So i just went along with one to find out if I can solve it and learn something in the process. Sure, it's fine by me to merge the pull requests. Also, if you could suggest me some different tasks, I'd like that.

[2016-03-11 16:57] tpBull commented on #562
I had made mlpack as tutorial.
Also there is a mistake when I use type "make mlpack_test"

bull@ubuntu:~/Downloads/mlpack-master/src/mlpack/tests$ make mlpack_test
g++     mlpack_test.cpp   -o mlpack_test
/usr/lib/gcc/x86_64-linux-gnu/4.9/../../../x86_64-linux-gnu/crt1.o: In function `_start':
/build/buildd/glibc-2.21/csu/../sysdeps/x86_64/start.S:114: undefined reference to `main'
/tmp/ccY58iNT.o

[2016-03-11 17:02] tpBull commented on #562
And add the -l instruction have another error.

bull@ubuntu:~/Downloads/mlpack-master/src/mlpack/tests$ g++ -std=c++11 -l mlpack -l armadillo -l boost_serialization -l boost_program_options -l boost_unit_test feedforward_network_test.cpp
/usr/bin/ld: cannot find -lboost_unit_test
collect2: error: ld returned 1 exit status

I have already downloaded the boost package as tutorial asks

[2016-03-11 17:45] zoq commented on #562
You should run the the ```make mlpack_test```inside your build directory:
[code]

Linking against ```boost_unit_test_framework``` instead of ```boost_unit_test``` should solve your issue.

[2016-03-11 18:40] vasanthkalingeri commented on #555
@zoq , that will be great to do from next time. I just finished implementing adadelta with tests here https://github.com/vasanthkalingeri/mlpack/tree/master/src/mlpack/core/optimizers/adadelta. I am trying to make a pull request for this that does not include Adam, will be sending a pull request shortly.

@anamariabs , it was a genuine communication gap so neither of us are to blame.

[2016-03-11 19:22] awhitesong commented on #555
@zoq Sure :)

[2016-03-11 19:33] ruch1 opened #563 "problem with boost root"
Checking for C++11 compiler
Checking for C++11 compiler - available
Armadillo libraries: C:/Users/Hp pc/Desktop/soft/armadillo_build/libarmadillo.dll
CMake Error at C:/Program Files (x86)/CMake/share/cmake-3.4/Modules/FindBoost.cmake:1247 (message):
  Unable to find the requested Boost libraries.

  Boost version: 1.60.0

  Boost include path: C:/boost_1_60_0

  Could not find the following Boost

[2016-03-11 20:38] zoq commented on #563
Have you tried to set ```BOOST_INCLUDEDIR``` and ```BOOST_LIBRARYDIR```? Something like:
[code]
Make sure that the folder contains all necessary libraries.

[2016-03-11 20:43] rcurtin commented on #563
Also this depends on your Boost distribution but the include paths and library paths may actually be under `C:\boost_1_60_0\boost` not `C:\boost_1_60_0\`.

[2016-03-11 21:43] rcurtin commented on #553
na1taneja2821: have you reproduced the warnings on your setup?

[2016-03-11 23:03] na1taneja2821 commented on #553
@rcurtin Yes, I am using Ubuntu 12.04 on a 32-bit virtual machine. Those warnings came up while building the project.

[2016-03-11 23:34] na1taneja2821 commented on #553
Currently, I am thinking of having a check in CMake files to check if the system is 32 bit or 64 bit. If it is 32bit we can have an option -D ARMA_32BIT_WORD during compilation. But, I am unable to find the code that generates the flags set during compilation.

[2016-03-12 05:16] ruch1 commented on #563
I have tried all this . any other thing that might be wrong ?

[2016-03-12 05:18] rcurtin commented on #563
If you say "I have tried all this" but haven't provided any output or detailed information on your system or what you have tried, it's very hard to help.  Since I have no log information or anything like this to go off of, the best I can do is link you to this wiki page: https://github.com/mlpack/mlpack/wiki/WindowsBuild

Maybe something that you find in there could be helpful.

[2016-03-12 05:37] #563 closed

[2016-03-12 13:33] chvsp commented on #414
@vasanthkalingeri  Hi I am also working on the same issue for the past 1 day. I would like to know how far have you reached on the same. If possible we could work together on the issue.

[2016-03-12 13:42] tpBull commented on #562
Thank you, the problem is solved.

[2016-03-12 15:34] tpBull commented on #414
Hello, @zoq . I tried to add the KathirvalavakumarSubavathiInitialization algorithm you have implemented into the test case, but find something confusing.
1. If I'm correct, we should use Iris Dataset as mentioned in the paper, and I find it in the data directory. The results in the paper, is it the iris_test.csv? Is it correct to just write:
  data::Load("iris_train.csv", dataset, true);
  arma::

[2016-03-12 16:15] MurtyShikhar commented on #555
@zoq I would like to work on Adadelta.

[2016-03-13 04:39] chvsp commented on #414
@tpBull  net is an object of the class FFN. (modules, classOutputLayer) are the arguments passed to the constructor of FFN.

[2016-03-13 08:18] chvsp commented on #413
@zoq is this issue fixed or is there something I can work on. I am willing to contribute for the same.

[2016-03-13 08:41] chvsp commented on #401
Hi Stephen ( @stephentu ), I, quite frankly, don't have enough experience with mlpack as such but I am strongly motivated to learn about the same. I am interested, willing and motivated to solve this issue as it appears to make the mlpack interface more user friendly. Please provide me with the necessary inputs to get me to understand the same.

[2016-03-13 13:19] zoq commented on #555
@anamariabs @vasanthkalingeri If you agree with my solution it would be great if you both could update your pull requests, if not it's fine, In this case, I'll go and work with the first pull request.

@MurtyShikhar It looks like @sshkhrnwbie delete his response to the issue, I'm not sure if this was a mistake. If he doesn't respond in the next two days I guess this issue is open again and you are

[2016-03-13 13:30] zoq commented on #414
1. It should be the same dataset. And yes you have to split the last dimension from the training.
2. Take a look at the constructor of the FNN class:

[code]
The third parameter it the object used to initialize the weights. So in your test you should use that parameter, something like this should work:
[code]

[2016-03-13 14:39] zoq commented on #413
@chvsp Sorry, @palashahuja is working on the issue. The problem is, I can't assign anyone who isn't already part of mlpack.

[2016-03-13 15:19] chvsp commented on #413
@zoq I am a GSOC 2016 aspirant and as the PR hasn't been merged for long I thought there would be something which needs work. I don't understand what you meant by "The problem is, I can't assign anyone who isn't already part of mlpack." . Like is there something I should do to be eligible of fixing issues?

[2016-03-13 15:42] rcurtin commented on #413
@chvsp: it seems to be a shortcoming of Github; see https://help.github.com/articles/assigning-issues-and-pull-requests-to-other-github-users/ :

[code]

[2016-03-13 16:12] rcurtin commented on #562
You can't easily compile the feedforward_network_test.cpp file individually.  If you only modify `feedforward_network_test.cpp`, then when you recompile the test with `make mlpack_test`, make will only recompile the file that you modified.  Why not just do that?

[2016-03-14 06:13] vasanthkalingeri commented on #555
@zoq , I have updated the pull request to include only adam_impl.hpp, #568

[2016-03-14 07:06] stephentu commented on #401
Hi @chvsp: This task would be to prove a functional representation of a constraint. The API work is pretty minimal-- the main part would be integrating it into the optimizers. I don't think it's hard to do, but will require some understanding of how the optimizers work. Could be a good starter task.

[2016-03-14 07:09] stephentu commented on #401
For instance, take a look at this file: https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/optimizers/sdp/lrsdp_function_impl.hpp, and think about how to add this 3rd constraint type in (we already have dense and sparse constraints).

[2016-03-14 07:18] vasanthkalingeri commented on #555
@zoq Here is the pull request for AdaDelta #569 , I have added CMakeLists and modified the old test file.

[2016-03-14 07:41] vasanthkalingeri commented on #414
@chvsp and @tpBull I would love to work with you on the issue. I initially started my tests with iris to learn its working. Seeing that @tpBull  is working on the same, I am writing tests for 3.3, 3.4 and 3.5 as in the paper. Please let me know your status as well, so there is no repetition in work.

[2016-03-14 10:13] wichtounet commented on #550
Thanks for your answer :)

Yes, I figured that out eventually and flattened all my sequence into one.

Does that change anything when there is only one state ?

[2016-03-14 11:32] wichtounet opened #570 "How to debug NaN log-likelihoods HMM ?"
Hi,

I'm having some issues with HMM. I'm training several HMM each on one word with several images per HMM. However, some of them returns NaN as a log likelihood.

I tried looking at the stateProb matrix from Estimate but it is filled with NaN values too.

There is nothing else in the output. I can try ```ARMA_EXTRA_DEBUG```, but the last time I tried it was so bloated I couldn't see anything of

[2016-03-14 12:14] anamariabs commented on #555
@zoq I deleted adam_impl.hpp from my request #571

[2016-03-14 13:11] chvsp commented on #414
@vasanthkalingeri Hi apparently I too have got the iris test to work but I have done some subtle minute changes to the KSINIT algo, I am now trying to modify the tests which doesn't require the changes to the algo. @tpBull Please update your status. @vasanthkalingeri Hey lets split up the rest of the tests. You tell which you have started on?

[2016-03-14 13:39] uzipaz commented on #562
Hey guys,

I also tried compiling one of the test program (allknn_test.cpp) individually and got the same horde of undefined reference errors. Then I read and applied the advice by rcurtlin to use mlpack_test program to run tests and I am failing the tests in 'AllkNNTest'.

The output I get is:
Running 21 test cases...
mlpack_test: /home/ozair/programming/mlpack/src/mlpack/../mlpack/core/tree/rect

[2016-03-14 15:07] rcurtin commented on #550
Okay, great.  But I'm going to leave this ticket open, because it is still a problem that you needed to do this.  I think that both of those training methodologies should provide the same result, but they are taking wildly different amounts of time.  So maybe something is wrong.

As far as results are concerned, probably not (since the inferred probability for each observation has to be 1 for the

[2016-03-14 15:11] rcurtin commented on #570
I wish I had a better answer, but this has always been hard to debug.  Usually I end up trying to step through the program to find the first iteration where anything from stateProb has any NaNs in it.  Another idea might be to take a look in this stack overflow post:

http://stackoverflow.com/questions/3615724/how-to-trace-a-nan-in-c

Basically, the idea is to enable all floating point exceptions,

[2016-03-14 15:13] rcurtin commented on #562
uzipaz: can you open a new issue for the AllkNNTest problems?  It looks like maybe a bug in the R tree code, but I don't think that there is anything wrong with what you have done to build mlpack.

[2016-03-14 17:11] vasanthkalingeri commented on #414
@zoq I found this std::logic_error thrown by armadillo with KathirvalavakumarSubavathiInitialization. Have added the fix here #572. However, I am not sure why only I faced this error, is it something to do with my armadillo version ?

[2016-03-14 18:03] uzipaz opened #573 "AllkNNTest failing in 3 test cases"
I recently installed mlpack and tried running some test programs from source such as allknn_test.cpp by running mlpack_test -t AllkNNTest and this the output I got:
Running 21 test cases...
mlpack_test: /home/ozair/programming/mlpack/src/mlpack/../mlpack/core/tree/rectangle_tree/rectangle_tree_impl.hpp:882: bool mlpack::tree::RectangleTree<MetricType, StatisticType, MatType, SplitType, DescentType

[2016-03-14 18:05] rcurtin commented on #573
Can you tell me more about the system you are running this on?  Is it some exotic hardware or something?  I haven't seen this problem anywhere.

[2016-03-14 18:22] uzipaz commented on #573
'exotic hardware' lol

I have an ASUS laptop that I bought in 2014. Specs are

-Computer-
Processor		: 4x Intel(R) Core(TM) i7-3537U CPU @ 2.00GHz
Memory		: 5994MB (1514MB used)
Operating System		: Ubuntu 14.04.4 LTS
User Name		: ozair (Ozair Shafiq)
Date/Time		: Mon 14 Mar 2016 03:51:25 PM NDT
-Display-
Resolution		: 1366x768 pixels
OpenGL Renderer		: Unknown
X11 Vendor		: The X.Org Foundation
-M

[2016-03-14 18:49] rcurtin commented on #573
I cherry-picked a fix from @lozhnikov (f77416e) from #556.  Basically, my changes to the R tree changing `-DBL_MAX` to `std::numeric_limits<ElemType>::min()` was incorrect; I should have used `lowest()` instead.  This causes failures, but only sometimes, which is why the Travis build didn't catch it and why I didn't see this before now.

[2016-03-14 18:49] #573 closed

[2016-03-15 15:23] u8sand opened #574 "bfd.h: config.h must be included before this header"
I had the following error while compiling:

    In file included from src/mlpack/core/util/backtrace.cpp:22:0:
    /usr/include/bfd.h:35:2: error: #error config.h must be included before this header
     #error config.h must be included before this header
      ^
    src/mlpack/CMakeFiles/mlpack.dir/build.make:398: recipe for target 'src/mlpack/CMakeFiles/mlpack.dir/core/util/backtrace.cpp.o' fail

[2016-03-15 15:34] rcurtin commented on #574
I also hit this on an Arch box yesterday.  The libbfd maintainers are obstinate:

https://sourceware.org/bugzilla/show_bug.cgi?id=14243
https://sourceware.org/bugzilla/show_bug.cgi?id=15920

They claim that bfd is an "internal only" library and should not be used by other projects, and use this to justify their decision to force users to define `PACKAGE` and `PACKAGE_VERSION` themselves (thereby m

[2016-03-15 15:35] rcurtin commented on #574
(I renamed the title for clarity; hope that is okay)

[2016-03-15 15:54] u8sand commented on #574
@rcurtin No problem at all. It may be ugly but here is one way...

    diff --git a/src/mlpack/core/util/backtrace.cpp b/src/mlpack/core/util/backtrace.cpp
    index 494242c..ed5d469 100644
    --- a/src/mlpack/core/util/backtrace.cpp
    +++ b/src/mlpack/core/util/backtrace.cpp
    @@ -19,7 +19,19 @@
       #include <signal.h>
       #include <unistd.h>
       #include <cxxabi.h>
    -  #include

[2016-03-15 17:39] rcurtin commented on #574
Thanks for the code!  But I don't think this handles the case where PACKAGE is defined but PACKAGE_VERSION is not.  If you want to update your code to handle that and then submit a PR, I'd be happy to merge it in.  I think backtrace.cpp is the only place bfd.h is included, so there's no need to handle this anywhere else.

[2016-03-15 17:41] u8sand commented on #574
@rcurtin Good catch. I'll fix it and submit a pull request shortly.

[2016-03-15 19:57] rcurtin commented on #574
Fixed with the merge of #575.  Thanks for pointing this issue out!

[2016-03-15 19:57] #574 closed

[2016-03-16 14:15] sharathts commented on #412
@zoq Is this task still open?

[2016-03-16 14:37] zoq commented on #412
@sharathts No, the code was merged in e6f7ffe266fa.

[2016-03-16 14:38] sharathts commented on #412
@zoq Thank you for the information.

[2016-03-16 17:46] epatters opened #578 "Low-rank constraint matrices in LRSDP"
In many applications of LRSDP, the constraint matrices A have very low rank. In my case, they are rank 1. For the problem sizes that interest me, even forming all those matrices would exhaust my memory. Does mlpack have special support for low-rank matrices? (It doesn't look like it, but I'm experienced with neither Armadillo nor mlpack.)

[2016-03-16 17:51] stephentu commented on #578
Hi,

This is related to #401. You're right, currently we only support general sparse and dense matrices, but have no way of handling say, A_i = aa^T efficiently. I'm hoping somebody picks up #401 as part of GSOC, but who knows. Your best bet right now would probably be to either handroll your own LRSDP, or make the appropriate edits to mlpack. Sorry that I don't have anything better to suggest ( I

[2016-03-16 17:57] epatters commented on #578
Yes, it is surprising that there are so few LRSDP implementations out there.

I'd be willing to work on getting this into mlpack. I know my way around C++, though not mlpack specifically.

[2016-03-16 18:07] stephentu commented on #578
Cool. I don't think it will be that hard to get it into LRSDP. I'd punt on supporting the IP solver for now (just throw a runtime exception if a user sets these generalize constraints and calls the IP solver). I think the easiest way to do it is provide a `LinearConstraint` callback which supports two operations: 1) evaluation of `Tr(A_i * UU^T)`, which takes as input `U` and returns a double, and

[2016-03-16 18:10] epatters commented on #578
Thanks for the pointers. I'll give it a shot.

[2016-03-16 18:17] rcurtin commented on #578
@epatters: a contribution would be greatly appreciated; there's lots of cool stuff that could be done with the LRSDP code, but time has always prohibited that on my end.

Another thing to consider might be a refactoring of the `SDP` class; right now, you specify your objective matrix type as a template parameter, but then you can have arbitrary numbers of constraints represented by sparse or dense

[2016-03-16 18:24] palashahuja commented on #404
@stephentu , could you please give more information about this ?

[2016-03-16 18:27] rcurtin commented on #404
@palashahuja: are you familiar with SDPs and LRSDP?  If not you should take a look into that first.  mlpack provides some code for solving SDPs (in src/mlpack/core/optimizers/sdp/) but it doesn't handle linear constraints nicely (you have to represent your linear constraint as an entire dense or sparse matrix which is often unwieldy and in some cases not possible).  So we need to find a way to ada

[2016-03-16 18:30] palashahuja commented on #404
@rcurtin , I have looked into LRSDP and SDP. What I am asking is how to deal with linear constraints ?

[2016-03-16 18:34] rcurtin commented on #404
I don't know what you mean when you say "some sort of string".  This is, in my interpretation, an exploratory ticket: we don't currently have a good way to deal with linear constraints, and one needs to be designed.  So the goal is to design a nice solution for handling linear constraints.  It's possible this is already being handled by someone else in #578, so it might be better to try and avoid

[2016-03-16 18:38] palashahuja commented on #395
@stephentu , is this task open right now ?

[2016-03-16 19:09] Jettriangle opened #579 "Interested in project: Dataset and experimentation tools"
I would like to participate in developing an appplication for csv-tables testing, as well as creating a series of video user manuals.
May I ask if the project is still open?

[2016-03-16 20:13] epatters commented on #578
@rcurtin: Thanks for the suggestion. I've been thinking about how to most cleanly implement this feature.

The approach via variadic templates is interesting, but making that work would probably require some [template black magic](http://stackoverflow.com/questions/27941661). Now appetites for these things vary, but that's a bit much for me. Or maybe you had something else in mind?

What do you th

[2016-03-16 21:23] epatters commented on #578
Upon further thought, I do think there is an important reason to handle classes of constraints differently, as in the template approach: the optimal order of the calculations depends on the type of the constraint. When computing `L = 2*S*R`, with dense constraints you want to sum `S` first then multiply `S*R` (as is done currently), while with rank-1 constraints you compute each `a a^T R` efficien

[2016-03-16 22:03] jennakwon06 commented on #401
I am a GSoC applicant applying to implement frank-wolfe optimizer framework, and I would also be willing to pick up on this as part of the project!

[2016-03-17 00:52] stephentu commented on #404
@rcurtin: this task is slightly different than #578 (it took me a while to realize this). This tasks deals w/ the issue that currently the IP code assumes the nullspace of the A operator is trivial. This is not an easy task IMO, and I'm not sure what the current benefits are (nobody has ever complained about this).

[2016-03-17 00:53] stephentu commented on #401
Hi @jennakwon06, please look at the discussion in #578. Someone has proposed to implement this for the time being, so I think I would focus on the frank-wolfe aspect for now.

[2016-03-17 00:56] stephentu commented on #578
@epatters: i definitely agree that the code you execute should depend on the type of constraint. however, I also agree that variadic templates is black magic, and I think it would be fine to check this information at runtime and branch.

[2016-03-17 00:58] rcurtin commented on #404
Oops, you're right, I misread---I read "we need some strategy for dealing w/ linear constraints" but it actually says "we need some strategy for dealing w/ a linearly dependent set of constraints".  Sorry about that!

[2016-03-17 11:07] vasanthkalingeri commented on #414
@zoq I have written a few tests. But I am not able to replicate the results that they are getting in the paper. For instance, they seem to be getting an MSE in the order of 0.00x whereas my results are in the range 0.x. For MSE, I used, sum(sum( (predictions - testLabels) ^ 2) ) / n_test_labels. The paper doesn't explicitly state this formula, it only states that it is the MSE error. Here is the c

[2016-03-17 14:57] rcurtin commented on #578
For consistency I'd like to go with the templated approach (inheritance isn't used anywhere else in mlpack), so if you're okay with it I will refactor your code to use templates when it's done.

[2016-03-17 15:01] rcurtin commented on #553
Fixed in #564.

[2016-03-17 15:01] #553 closed

[2016-03-17 15:02] rcurtin commented on #498
Fixed in #567.

[2016-03-17 15:02] #498 closed

[2016-03-18 04:56] rcurtin commented on #579
Hi there,

Yes, all projects are still open for applications and proposals.  Probably a better place to discuss this might be the mailing list:

https://lists.cc.gatech.edu/mailman/listinfo/mlpack

You could take a look at the archive and maybe find more information on the project there.

Unfortunately I don't think that video user manuals will be very useful since there is no other video document

[2016-03-18 08:08] Kirizaki commented on #360
I think this issue is resolved and should be closed, because ```Log::Assert()``` doesn't use ```execinfo.h``` anymore. It's replaced by:
[code]
Check it in: <a href="https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/util/log.cpp#L10">log.cpp</a>.

[2016-03-18 08:43] Kirizaki commented on #313
Here's some solution presented by <a href="http://tex.stackexchange.com/questions/4302/prettiest-way-to-typeset-c-cplusplus">Christian</a>.</p> He's pointing to ```resize package```. Later on I can try to implement and test it, because right now I'm in work and I'm not sure do we can use it.

[2016-03-18 13:07] #555 closed

[2016-03-18 13:19] rcurtin commented on #360
You're right, we can now close this. :)

[2016-03-18 13:19] #360 closed

[2016-03-18 15:12] rcurtin commented on #313
That's definitely worth trying.  I'm not sure if the issue is at the LaTeX level or maybe something is happening after LaTeX is called, but if you have a chance to test it, let me know how it turns out.

[2016-03-18 15:44] Kirizaki commented on #313
Yup, late this evening or tomorrow morning.

[2016-03-18 17:07] Jettriangle commented on #579
Thanks a lot for the information!

[2016-03-18 17:33] rcurtin commented on #579
Sure, no problem!

[2016-03-18 17:33] #579 closed

[2016-03-20 13:54] keonkim opened #582 "Dataset and Experimentation Tool Ideas"
The Dataset and Experimentation tool project starts with a few flints of ideas:
•	checking a dataset for loading problems and printing errors
•	imputation strategies for missing variables
•	splitting a dataset into a training and test set
•	converting categorical features into binary features (or numeric features)

By analyzing the needs I felt the simple and intuitive console application that eva

[2016-03-21 13:40] cloudhan commented on #554
I inspect it in VS2015 and found
`warning C4267: 'argument': conversion from 'size_t' to 'const arma::uword', possible loss of data` is caused by `ARMA_64BIT_WORD` is no defined, which results in a `typedef u32 uword;` in file `include\armadillo_bits\typedef_elem.hpp`

To solve this type of warning, just uncomment the line with `#define ARMA_64BIT_WORD
` in the file `armadillo_bits\config.hpp`.

H

[2016-03-21 14:43] rcurtin commented on #554
Ideally `uword` should be set to the same size as `size_t`. But you are saying that this does not happen on 64-bit versions of Windows? If so we can `#define ARMA_64BIT_WORD` in `src/mlpack/core/arma_extend/arma_extend.hpp`, but we should only do this on 64-bit Windows. On 32-bit Windows we should not set `ARMA_64BIT_WORD` though.

Does that seem like a reasonable solution?

If there are other uns

[2016-03-21 15:07] rcurtin commented on #582
These definitely seem like reasonable suggestions to me.  I like the statistical analytics and mathematical operators.  Timestamps (like 12:00:00UTC or whatever) can be really hard to work with, so transforming them into something mlpack can work with (like just the number of seconds since epoch or something).

When you put together your proposal, be sure to detail two things:
 * the interface tha

[2016-03-21 15:18] cloudhan commented on #554
I think uncomment  `#define ARMA_USE_CXX11` instead should be a more reasonable solution.

reference: http://arma.sourceforge.net/docs.html#uword

    when using the new C++11 / C++14 standards, the default width is 64 bits on 64-bit platforms (as of Armadillo 5.000)

[2016-03-21 15:20] rcurtin commented on #554
But it sounds like on Windows, `ARMA_USE_CXX11` must not be enabled because `ARMA_64BIT_WORD` is not enabled on Windows, causing the conversion warning emails.

[2016-03-21 15:42] cloudhan commented on #554
hmm, on my local test, `conversion from 'size_t' to 'const arma::uword', possible loss of data` is eliminated when `ARMA_USE_CXX11` is enabled and `ARMA_64BIT_WORD` remain disabled by default. I think you'd better test it on appveyor?

[2016-03-21 16:27] rcurtin commented on #554
Sorry, I think my last comment was actually unclear, so you can ignore it...

I don't know if your system is different than AppVeyor.  One easy way to test would be to open a PR, then AppVeyor will automatically build.

Another way to explicitly disable `ARMA_64BIT_WORD` is to define `ARMA_32BIT_WORD`.  I am pretty sure that in general, `ARMA_USE_CXX11` is not enabled when the compiler is Visual S

[2016-03-21 18:05] #582 closed

[2016-03-21 18:27] ajjl opened #583 "CMake commands are mixed uppercase and lower case"
CMake commands are sometimes given in upper and lower case. Previously uppercase commands had been required but now commands are case-insensitive and lowercase commands are preferred. Conversion to lowercase commands have been implemented in other open source projects such as ITK vxl and BRAINSTools, and is the preferred style for KDE.

KDE reference:
https://community.kde.org/Policies/CMake_Codin

[2016-03-21 18:30] rcurtin commented on #583
I would agree with changing everything to lowercase.  If you'd like to submit a patch, I'm happy to incorporate it; otherwise, I'm going to leave it as an open issue for someone who's looking to get involved.

[2016-03-21 18:31] ajjl commented on #583
Awesome, I'll put a patch set through ASAP!

[2016-03-21 18:48] ajjl commented on #583
See pull request #584

[2016-03-21 20:08] ajjl opened #585 "CMake block termination commands have unnecessary arguments"
Previously CMake block termination commands were required to have arguments matching the command starting the block. This is no longer necessary and not the preferred style. This type of change has been implemented in other open source projects such as: ITK, vxl, and BRAINSTools. It is the preferred KDE style.

KDE style reference:
https://community.kde.org/Policies/CMake_Coding_Style

Ex:
if (SOM

[2016-03-21 20:57] #583 closed

[2016-03-22 01:34] keonkim commented on #582
@rcurtin what do you mean by "it should not all be in the main program"?
does it mean that I should not shove all the code into one file?

[2016-03-22 15:25] #585 closed

[2016-03-22 20:21] rcurtin commented on #582
Yes, the code should definitely not be all in one file.

Any functionality that you implement that could be used by other parts of mlpack should be implemented as standalone utility functions.  Then the command-line program you write will simply process user input and use those standalone functions.  Take a look in `src/mlpack/core/` to see what I mean.

[2016-03-23 12:36] nikhilYadala commented on #345
@rcurtin , Is the problem solved? If not shall I start working on it?

[2016-03-23 18:04] theaverageguy commented on #532
By copying the executable you mean? Could you give an example?

[2016-03-23 19:26] palashahuja commented on #413
@rcurtin, @zoq you could go ahead and close this issue

[2016-03-23 19:35] zoq commented on #413
Merged DropConnect implementation in 63a7f623d799f40e4743f04d704; take a look at #576.

[2016-03-23 19:35] #413 closed

[2016-03-23 23:04] mitsoschelsea commented on #514
Why don't you use pthreads to solve this? After several tests to bitonic shorting algorithm, pthreads was much faster than OpenMP. Approximately 5 to 6 times faster.

[2016-03-24 01:21] rcurtin commented on #532
I mean that you should make a copy of the executable with a different name.  Read the CMake documentation I linked to.

[2016-03-25 02:47] decltypeme opened #593 "Function to get confidence scores for classes in Naive Bayes Classifiers"
Request for a new function in the Naive Bayes Classifier that returns the probabilities [confidence score] of each class given the features ... It could be possibly a breakdown of the Classify() function

[2016-03-25 12:32] armanschwarz opened #594 "Perceptron documentation"
I am hugely impressed with the scope and quality of this package. Having said that, I am struggling to find documentation on how to perform, for example, perceptron training with mplack.

I have built the "perceptron" binary, which provides some information including an example for how to train a perceptron, giving the following example line;

perceptron -t training_data.csv -l training_labels.csv

[2016-03-25 13:03] rcurtin commented on #594
Hi Arman,

Thanks for the kind words about mlpack.  But it sounds like maybe our documentation is not good enough.  Do you think that if I wrote a tutorial called "Data formats in mlpack" which detailed the types of input that mlpack will expect, this would clarify the issue?

As a quicker response to the problem at hand, `training_data.csv` should be a CSV with one point per row.  So the three-po

[2016-03-25 13:25] GuzelGarifullina commented on #593
I am on it.

[2016-03-25 13:29] decltypeme commented on #593
I was going actually to work on the feature :D

Sent from my iPad

[2016-03-25 13:33] GuzelGarifullina commented on #593
Ok

[2016-03-25 13:50] armanschwarz commented on #594
Hi rcurtin,

That was very helpful, yes. Obviously I'm a newcomer so it's hard for me to say with certainty whether this would be equally useful to others, but for what it's worth I would encourage you to add this to the documentation.

I have found myself depending heavily on the unit tests as a source of documentation, so any efforts to improve unit test coverage would also help me (and hopefull

[2016-03-26 03:54] rcurtin opened #595 "k-means should support better handling of empty clusters"
We should update the KMeans class so that the EmptyClusterPolicy and _only_ the EmptyClusterPolicy controls what is done with empty clusters.  Two options I plan to implement are:

 * "kill" the cluster by setting it to all DBL_MAX, so it's never used again
 * leave the cluster alone, by simply leaving the centroid in place; this is Erich's (@kno10) suggestion

This comes out of the discussion for

[2016-03-26 03:57] rcurtin opened #596 "k-means should allow selecting points randomly as initialization"
This also comes out of the discussion for #592.  @kno10's suggestion is that we simply pick points randomly from the dataset as initial centroids.

This requires a bit of refactoring because the current initialization policy operates by setting the assignments of each point, instead of the location of each centroid.  So there will need to be a little bit of thought on how exactly to handle this, b

[2016-03-28 15:18] uzipaz opened #597 "Test programs failing on loading data from disk"
I recently cloned the repository and tried to follow the build instructions given in README file and suggested by rcurtin to building with debug, profile = off, that will make the library execute faster for performance. I am compiling using the command 'cmake .. -DDEBUG=OFF -DPROFILE=OFF' and then installing by using 'sudo make install' in the build directory. Then, I run mlpack_test by ./mlpack_t

[2016-03-28 16:17] zoq commented on #597
All datasets are in the build directory. So you need to start the test inside the build directory: ```bin/mlpack  -t FeedForwardNetworkTest``` instead of calling ```mlpack  -t FeedForwardNetworkTest```inside the test folder.

[2016-03-28 16:20] uzipaz commented on #597
Quote from zoq
'All datasets are in the build directory. So you need to start the test inside the build directory'

that is exactly what I'm doing, I go to build/bin and run ./mlpack_test from there.

[2016-03-28 16:24] zoq commented on #597
I know, but you should go to ```build```and in that location you call ```bin/./mlpack_test``` or ```bin/mlpack_test```. Note the bin in front of ```mlpack_test```.

[2016-03-28 16:29] zoq commented on #597
So instead of:

[code]

you should use:

[code]

Does this sound reasonable?

[2016-03-28 16:35] uzipaz commented on #597
That sounds absolutely reasonable and makes complete sense. I had the impression that you need to be in the build/bin directory to run the programs and hence the programs failing to load data because they are not present in the same directory.

I am re-building the library right now and will let you know about the results but I think this certainly answers my question. Thank you for answering.

[2016-03-28 16:56] abhinvgpta commented on #395
Hi @stephentu,
     Do you have any more ideas where I can start from? I'm familiar with the ann part and more than willing to look into issues related to it. Thanks.

[2016-03-28 17:20] uzipaz commented on #597
This certainly works... Thanks again for answering and being patient.... I really appreciate it...

[2016-03-28 17:20] #597 closed

[2016-03-28 18:44] stephentu commented on #395
@abhinvgpta: Unfortunately not really. As I mentioned before this is an open ended project. I really should change the title to "investigate alternative methods for solving low rank SDPs". As I mentioned above, LR-SDP has its drawbacks. For problems like matrix completion, SGD seems to be a reasonable heuristic that works well in practice. Maybe that could be a first place to start.

[2016-03-29 09:51] cypro666 opened #598 "a strange warnning when running cf"
./mlpack_cf -t train.csv --output_file model.csv
[WARN ] Number of random columns (columnsToAverage) is more than the number of columns available in the V matrix; weird results may ensue!

the train.csv is:
0,1,4
1,0,5
1,1,1
2,0,2

[2016-03-29 13:13] darcyliu commented on #364
HI @rcurtin , I am working on this issue recently.
OSX Installer package (.pkg) can be created by pkgbuild / productbuild commands. Currently, We can write scripts to generate these packages. Later we can use these scripts in OS X build slaves. Is that suitable?

If so, what is the minimum supported OSX version? How about starting from the latest version OSX 10.11? Do we need create 32bit architec

[2016-03-29 14:54] na1taneja2821 commented on #275
Hi,
I was going through this issue to solve it. As already stated in the issue, the node stores the references to the points. I just want to clarify, whether we can rearrange the points in the dataset itself (so that the references can be accessed by adding the constant) or whether there is a need to maintain another memory block for accessing the points?

[2016-03-30 12:43] zoq commented on #414
Sorry for the slow response. I guess it would be a good idea to use another output layer instead of the BinaryClassificationLayer. If you use the BinaryClassificationLayer layer you get (output > 0.5), but what you like to get is actual output parameter.

[2016-03-31 08:05] keon opened #599 "possible usecases for data preprocessing tool"
I am on the designing stage of the dataset and experiment tools (explained in the wiki: https://github.com/mlpack/mlpack/wiki/SummerOfCodeIdeas#dataset-and-experimentation-tools)

I have a design draft, which I have submitted via GSoC, but I'd like to make the blueprint firm before getting into actual coding.

It would be a real help to know what you guys feel the most needed.
In order to find tha

[2016-04-01 18:37] warpuv opened #600 "bug in HMM"
In file mlpack\methods\hmm\hmm_impl.hpp, line 169:
[code]
Should be probably `dataSeq.size() > 1`.
mlpack version 2.0.1

[2016-04-02 19:01] abhinvgpta commented on #562
Hii @rcurtin , @zoq ,
   I'm trying to compile the test cases as independent programs with
`g++ -std=c++11 -l mlpack -l armadillo -l boost_serialization -l boost_program_options  Neural_network_using_mlpack.cpp`

where Neural_network_using_mlpack.cpp is:

`#include <mlpack/core.hpp>

#include <mlpack/methods/ann/activation_functions/logistic_function.hpp>
#include <mlpack/methods/ann/activation_fu

[2016-04-02 22:12] zoq commented on #562
I can compile the code using your build commands without any problems. It would help if you could post the exact error. Also make sure ```LD_LIBRARY_PATH``` is set correctly or manually specify the location:

[code]

[2016-04-03 05:01] stereomatchingkiss commented on #599
Following are my personal opinions, just take it as reference.

1 : Split a dataset into a training and test set(#523 may give you some helps)
2 : Checking a dataset for loading problems and printing errors, the api/cli should be able to give users imputation strategies for missing variables, give warning to invalid, problematic values
3 : converting categorical features into binary features (or n

[2016-04-04 12:18] shvikeray-gelo opened #602 "Why the compiler will crash when building serialization_test.cpp"
My English is not good, I hope you can understand what I mean.

mlpack version 2.0.1

I in raspbian(Rapsberry PI operating system, adapted from the debian) build this project, hardware is raspberry pi 2(armhf), use of GCC and g + + version is 4.9.2

I just use the "make" command to build all the target, all the other were successfully built, Including mlpack_test other source files when I use comm

[2016-04-04 12:27] shvikeray-gelo commented on #602
The last output is:
[ 53%] Built target mlpack_allkrann
[ 53%] Built target mlpack_softmax_regression
[ 54%] Built target mlpack_sparse_coding
[ 54%] Building CXX object src/mlpack/tests/CMakeFiles/mlpack_test.dir/serialization_test.cpp.o
c++: internal compiler error: Killed (program cc1plus)
Please submit a full bug report,
with preprocessed source if appropriate.
See <file:///usr/share/doc/gcc-4

[2016-04-04 13:20] zoq commented on #602
I'm pretty certain you don't have enough RAM in your system to compile mlpack. Maybe you can try a larger swap file?

[2016-04-04 13:22] shvikeray-gelo commented on #602
1G RAM not enough?

[2016-04-04 13:35] keonkim commented on #599
@stereomatchingkiss thanks for the comment! I really wanted something like the feedback you gave. You listed the five things you need in the command line tool, but that is every component I written in the proposal. So I was wondering if the numbering is ordered by the importance?

[2016-04-04 15:38] rcurtin commented on #602
Sometimes 1GB of RAM is not enough to compile mlpack; you may want to try more.  Possibly there are compiler options that could be used to decrease the RAM footprint if necessary?  I am not familiar enough with g++ to know those options.

[2016-04-04 15:46] shvikeray-gelo commented on #602
If so, the RAM of raspberry PI can't be increased,unlike personal computer.
For zoq proposa: "Maybe you can try a larger swap file?", how to do that on debian

[2016-04-04 16:39] rcurtin commented on #594
Sure, sorry for the slow response; I was away last week.  I wrote some basic documentation earlier, and I'll polish it and commit it soon and let you know where to find this.

Nice profile picture, by the way. :)

[2016-04-04 17:40] rcurtin commented on #598
This warning will be issued whenever the data matrix has fewer than five points, because the matrix decomposition is (by default) initialized using 5 random columns of the training data.  With any larger data matrix this will not be a problem.  In your case I am guessing that you are just testing the program, so I would not worry about the warning.  If you are getting weird results like the warnin

[2016-04-05 02:06] cloudhan commented on #602
@shvikeray-gelo You may need an enough large external storage device and then try this for [Swap Partition](https://wiki.archlinux.org/index.php/swap#Swap_partition) or a [Swap File](https://wiki.archlinux.org/index.php/swap#Remove_swap_file) on an existing partition

[2016-04-05 02:40] rcurtin commented on #364
The link for the build server is incorrect, it has been moved (for a number of administrative reasons) to http://big.mlpack.org:7780/ .  If you found some misleading documentation let me know and I can fix it.

Starting at the latest version of OS X (El Capitan) is fine with me, but I think ideally we should provide 64 and 32 bit packages for older versions too.  I don't know how far back we shoul

[2016-04-05 02:41] rcurtin commented on #275
Hi Naman,

Take a look at the code for BinarySpaceTree (src/mlpack/core/tree/binary_space_tree).  The BinarySpaceTree, because it rearranges descendants, must make a copy of the const data matrix, or otherwise the data matrix must be passed as an rvalue reference.  You can make the same modification for the cover tree.

[2016-04-05 02:54] rcurtin commented on #358
Fixed in #581.

[2016-04-05 02:54] #358 closed

[2016-04-05 06:07] rcurtin commented on #600
There's something deeper that's wrong here, but I need to find my copy of the Elliot, Aggoun, and Moore book to figure out exactly what's up.  So this may take a few days (since I'm out of town).  Thanks for pointing the issue out!

[2016-04-05 06:34] rcurtin commented on #562
Could the issue be this:
http://stackoverflow.com/questions/3363398/g-linking-order-dependency-when-linking-c-code-to-c-code
?

Maybe try changing the order to your g++ call so that the source file comes before all the linker commands.

[2016-04-05 08:25] zoq commented on #602
Probably, another option  is to modify the CMake file and to remove all parts you don't need. Like if you have no intention to run the serialization test comment/remove out ```serialization_test.cpp``` in ```src/mlpack/tests/CMakeLists.txt```. I build mlpack on an rpi with 256MB RAM some time ago, so there is definitely a version that should work.

[2016-04-05 08:55] shvikeray-gelo commented on #602
serialization_test.cpp can be remove?
I ware use 'swapon -s' command, at normal, /etc/swap used is 0, but it's used all(102396B) when compile serialization_test.cpp

[2016-04-05 11:13] abhinvgpta commented on #562
@rcurtin
Awesome ... It worked !!  Thanks :+1:  :)

[2016-04-05 14:27] zoq commented on #602
Take a look at the src/mlpack/tests/CMakeLists.txt file and comment the ```serialization_test.cpp``` use '#'. Maybe afterwards it will complain about FastMKS, but let's see.

[2016-04-05 16:17] rcurtin commented on #599
@stereomatchingkiss: can you explain what each of the programs do?  We should merge in #523 soon, sorry that I haven't gotten to that yet (it's on my list).

[2016-04-05 17:20] rcurtin commented on #599
Ack, sorry, I think all this information is in the proposal.  I should have looked there first, sorry.

[2016-04-05 22:30] rcurtin commented on #557
Closing for inactivity. (Reopen or comment if necessary and I can reopen it.)

[2016-04-05 22:30] #557 closed

[2016-04-06 00:55] stereomatchingkiss commented on #599
Yes.

Don't mind and thanks for your reply.

[2016-04-06 10:07] cypro666 commented on #598
thx， I‘ve found the reason made this warn, and another little stuff:
./mlpack_det
terminate called after throwing an instance of 'std::runtime_error'
  what():  fatal error; see Log::Fatal output
Aborted (core dumped)

If No arguments applied, I think help info should be show, boost::program_options support this util
, cause `Aborted ` if not very friendly :)

[2016-04-06 13:05] shvikeray-gelo commented on #602
thanks a lot, I make a 1G swap partition, and compile angin success, although the link still have some problems

[2016-04-06 13:25] zoq commented on #602
If you tell us more, about your problems, we can probably help. I guess, I can also setup my own rpi to reproduce your problems, if that helps.

[2016-04-06 21:56] #261 closed

[2016-04-07 14:16] shvikeray-gelo opened #606 "link error: undefined reference to `arma::is_Mat_fixed_only"
All file compile success, but a link error occur. The last output is:

CMakeFiles/mlpack_test.dir/sdp_primal_dual_test.cpp.o: In function `arma::eGlue<arma::Mat<double>, arma::eOp<arma::Mat<double>, arma::eop_scalar_times>, arma::eglue_plus>::elem_type arma::op_dot::apply<arma::eGlue<arma::Mat<double>, arma::eOp<arma::Mat<double>, arma::eop_scalar_times>, arma::eglue_plus>, arma::eGlue<arma::Mat<d

[2016-04-07 14:28] shvikeray-gelo commented on #606
main description is

armadillo_bits/op_dot_meat.hpp:215: undefined reference to arma::is_Mat_fixed_only<arma::eGlue<arma::Mat<double>, arma::eOp<arma::Mat<double>, arma::eop_scalar_times>, arma::eglue_plus> >::value'

[2016-04-09 01:21] rcurtin commented on #606
This is on an embedded system, right?  I've never seen this issue, it sounds like some weird linker bug.  Can you tell us more about the system, which compiler, what versions of Armadillo, and so forth?  Thanks!

[2016-04-09 01:22] rcurtin commented on #602
I think the linker issue is now in #606 so I'm going to go ahead close this one.

[2016-04-09 01:22] #602 closed

[2016-04-09 04:41] shvikeray-gelo commented on #606
Yes. Base system infomation in here [https://github.com/mlpack/mlpack/issues/602](url) ,  and Armadillo version is 4.450.2

[2016-04-09 05:05] shvikeray-gelo commented on #606
Another main description in the first line is

CMakeFiles/mlpack_test.dir/sdp_primal_dual_test.cpp.o: In function arma::eGlue<**...**>::elem_type arma::op_dot::apply<**...**>(arma::eGlue<**...**> const&, arma::eGlue<**...**> const&)

I use "..." to omit template argument, we can know the function arma::op_dot::apply reference  to arma::is_Mat_fixed_only,  arma::op_dot::apply not in the sdp_primal_

[2016-04-09 05:22] shvikeray-gelo commented on #606
Another problem is why 'arma::is_Mat_fixed_only<**...**>::value' will appear in the link time. Type of 'value' is static const bool, I think it should be recognized only at compile time, when the link it should be a numerical value for mean true or false.

[2016-04-09 07:40] ranjan1990 opened #607 "segmentation fault in using sgd while increasing number of function"
For my research purpose I was using sgd to fit a function.
There is no  segmentation fault if   number of function  is less( about 10).
But when I tried  with number of function >=15 it got segmentation fault.
I thought may be memory allocation of visitationOrder  array has created a problem but it is not the case.
But I think the error is different. please see the debug error.I am unable to figur

[2016-04-09 11:10] zoq commented on #607
So without knowing the dimension of your data. My first guess is, that your data has less rows as 20.

The optimizer calls the ```Evaluation``` function for every sample (i = 0; i < NumFunctions), so if you write ```arma::mat Ri=data.row(i);```in your ```Evaluation``` function you should make sure, that you have enough samples.

[2016-04-09 14:52] uzipaz opened #608 "SGD performing optimization on same order of visitation at each rotation"
In the main loop inside SGD::Optimize function,

At the beginning of a rotation on training Samples and if shuffle is enabled, we call arma::shuffle on visitationOrder vector to randomize the order in which the SGD will revisit the samples next time.

Since, arma::shuffle relies on a random number generator, whenever it is called, the armadillo library does not seem to reset/change the seed value

[2016-04-09 15:22] ranjan1990 commented on #607
My data has   >20 rows.
Here is my dataset. https://github.com/ranjan1990/mlpack_optimization/blob/master/traj.txt
Any  help will be appreciated!

[2016-04-09 16:35] rcurtin commented on #608
Hi there Ozair,

It's actually a bad idea for debugging and reproducibility to set the seed.  Setting the seed (preferably by calling `math::RandomSeed()`, but the Armadillo function you mentioned works too) should be done at a higher level than SGD.  If the seed is set inside of the SGD class, then if I have a bug that I am trying to track down, it becomes very hard if I can't easily set the seed

[2016-04-09 16:35] #608 closed

[2016-04-09 16:58] rcurtin commented on #607
Hi Ranjan,

Your data has 20 rows on disk, but Armadillo stores matrices in a column-major form, so these matrices are transposed at load time.  See http://mlpack.org/docs/mlpack-git/doxygen.php?doc=matrices.html for more information (a more detailed tutorial is coming too but I have not pushed it yet).

Try using `.col()` where you are using `.row()` and this will probably help fix the issue.

Th

[2016-04-11 11:22] ranjan1990 commented on #607
Hello Ryan,
Previously I was using mat.load()  now changed it to  mlpack::data::Load()  and also now using row( ) to .col( ). Still I am getting same error. (segmentation fault).
Here is the code.  https://github.com/ranjan1990/mlpack_optimization/blob/master/find_equ.cpp .
Data : https://github.com/ranjan1990/mlpack_optimization/blob/master/traj.txt

[2016-04-11 12:42] judelove opened #609 "Asking for Armadillo 4.***, 6.*** installed"
Hello all, I do not know how to go about this. I have Armadillo 6.7***. When I am running cmake for ml-pack it throws an error that implies that it needs a minimum version of 4.* for Armadillo and it got 6.***.

However it goes on to say that it can not find Armadillo. I have attached a screen shot.
![armadillo](https://cloud.githubusercontent.com/assets/4677601/14427183/478c923a-ffeb-11e5-89d2-0f

[2016-04-11 13:07] judelove commented on #609
Sorry, I resolved this. My C++ skills are way too low.

[2016-04-11 13:07] #609 closed

[2016-04-11 14:10] rcurtin commented on #609
Hey Jude,

Glad to hear you got it worked out.  I think the issue was that you need to compile Armadillo after you download it.  If you have more problems in the future, feel free to open issues and we will try to help! :)

Thanks,
Ryan

[2016-04-11 15:20] judelove opened #610 "disabled CPP 11, getting an error"
Hello guys, again, I start by saying am not good with C++.

I was getting a bunch of errors that I eventually figured were as a result of some methods being called from the std namespace. A little poking around informed that these methods are in std for c++ 11, but not earlier versions.

I added this block to config.hpp, went back to armadillo and 'made (ran 'make' command), and was able to procee

[2016-04-11 18:52] ranjan1990 commented on #607
So here is the fault !  MyFunction::Gradient()  is not defined properly  in  https://github.com/ranjan1990/mlpack_optimization/blob/master/find_equ.cpp .
The 'i' parameter to the Gradient() method indicates which of the functions, the gradient is being taken for.

[2016-04-11 18:52] #607 closed

[2016-04-11 23:38] judelove commented on #610
As an update, in 'columns_to_block.cpp' I made this change below:
[code]

I guess the std qualification is necessary for C++11, which I disabled - I believe. I guess the round am using is now coming from one of the mlpack or math namespaces.

This has allowed me to proceed further with the make. Let me see how this goes.

[2016-04-11 23:38] #610 closed

[2016-04-11 23:54] rcurtin commented on #610
Hey Jude,

I hope you are able to get a little further, and let me know if it works.  But mlpack uses some C++11 features so I suspect there will be a lot of changes you will have to make.  I think there are some old versions that maybe you could use that don't require C++11; I think maybe mlpack 1.0.10 will work (not certain):

http://www.mlpack.org/files/mlpack-1.0.10.tar.gz

Would it be possibl

[2016-04-12 00:10] judelove commented on #610
Hello Ryan,

Sorry am not able to get past the error where it says certain methods are not in the std namespace, eg "std::round" etc, which I understand are in that namespace starting with C++ 11 onwards.

I am using g++ 5.3.0, installed by Cygwin which I believe should support C++11, even the cmake report indicates that a C++11 compiler exists, but it seems the compiler is configured for a lower

[2016-04-12 00:15] rcurtin commented on #610
CMake should automatically set the right compiler flags to use C++11, so there should be nothing you need to worry about.  5.3.0 should be a recent enough version of gcc to cause no issues, I think.

[2016-04-12 05:32] versusvoid commented on #506
Similar problem in KMeans:

[code]

[code]

[2016-04-12 14:45] rcurtin commented on #596
This has been done in a38608b and the k-means program now defaults to this type of initialization.  Thanks again @kno10 for pointing this out. :)

[2016-04-12 14:45] #596 closed

[2016-04-12 15:10] rcurtin commented on #598
Are you sure it's displaying nothing at all?  It should be displaying an error too, not just the exception.  Here is what I get on my system (compiled without debugging symbols):

[code]

There was an issue with this output when compiled with debugging symbols, which I fixed in 78f53da.  Do you want to update to the latest git master revision and see what you get as output?  Thanks!

[2016-04-12 15:43] rcurtin commented on #600
d6d38a1 should fix the issue.  There was also an issue with how the `newInitial` matrix was being set.  Thanks for reporting the problem!

[2016-04-12 15:43] #600 closed

[2016-04-12 16:45] jaelim opened #613 "Windows 10 installation version"
Hello, Is anyone using MLpack on Windows 10? I have tried to install it with mingw, cmake tool without success. I used VC2015 IDE, but I guess that's not probably recommended? Any suggestion would be appreciated.

[2016-04-12 17:15] zoq commented on #613
Hello, it is definitely possible to build mlpack on Windows using mingw or VC2015. We configured appveyor to build mlpack for every commit using VC2015. The process is quite simple, so if you prefer to build mlpack using VC2015 I can guide you through the process. If you prefer mingw I guess @thirdwing is the expert, and could provide some tips.

[2016-04-12 18:02] keonkim commented on #599
@stereomatchingkiss and about the time-zone, I was referring to time transformation.
Users will be able to filter time with certain time gap(like time zone), seasonality, trending.
It could also involve changes in features, i guess, when users make transitions from time to seasonality.

[2016-04-12 18:58] rcurtin commented on #613
This file might be useful:
https://github.com/mlpack/mlpack/blob/master/.appveyor.yml
I think maybe you can extract the instructions from there and adapt it to your environment; maybe it will take a bit of translation and work, but it should be possible.

[2016-04-12 18:59] rcurtin commented on #599
There's no support in mlpack for time data, only continuous real-valued data, so any "time transformation" would probably need to be to/from `double` or `size_t` or something similar.  Can you explain more of what you had in mind?  I don't know what you mean by seasonality.  Thanks!

[2016-04-12 19:15] jaelim commented on #613
@zoq Hi, Thanks for replying back. I don't know if you recommend using CMake 3.5.1 to build a project, then open the project solution in VC2015 to complete the process. I got stuck at generating a project. Please find below screenshot files:
![capture1](https://cloud.githubusercontent.com/assets/7217547/14472468/262ea2dc-00a8-11e6-9121-70c4ba8e073e.PNG)
![capture2](https://cloud.githubusercontent.

[2016-04-12 19:15] jaelim commented on #613
@zoq if you don't mind, could you please walk me through steps in VC2015?

[2016-04-12 20:11] #562 closed

[2016-04-12 20:11] rcurtin commented on #562
Closed for inactivity.  (Comment and it can be reopened, if needed.)

[2016-04-12 20:20] stereomatchingkiss commented on #613
I wrote down the steps at [here](http://qtandopencv.blogspot.my/2015/09/deep-learning-04-compile-mlpack-1012-on.html), this compilation setup still work for me.

However, the information are outdated already, the compilation process could become easier.

1 : Some of the dependencies should be able to omit, like libxml
2 : OpenBLAS and lapack, maybe you could download prebuild version(ps : I am not

[2016-04-12 20:37] zoq commented on #613
As @rcurtin already pointed out you could take a look at the ```.appveyor.yml``` file, but I can guide you through the process if you like. Maybe you are able to join us on irc ```#mlpack```?

There are basically two ways, to get all the dependencies to build mlpack. The first way, is to manually build everything, that's what @stereomatchingkiss describes in his blog post. The second way, is to us

[2016-04-12 21:28] jaelim commented on #613
@zoq @stereomatchingkiss Hi, Did you use 32 or 64 bit version VC15? I got this error mentioning of finding no C++11 compiler. I was able to build with mingw64, but there's no VC project solution to work with. I guess it's because I used non-VC compiler so no VC solution file.

![capture3](https://cloud.githubusercontent.com/assets/7217547/14476130/d3c6414a-00ba-11e6-8a5c-e8659589bd83.PNG)

[2016-04-12 21:30] jaelim commented on #613
@zoq @stereomatchingkiss I noticed that in CXX11.cmake you had this defined:

macro(check_for_cxx11_compiler _VAR)
    message(STATUS "Checking for C++11 compiler")
    set(${_VAR})
    if((MSVC AND (MSVC10 OR MSVC11 OR MSVC12)) OR
       (CMAKE_COMPILER_IS_GNUCXX AND NOT ${CMAKE_CXX_COMPILER_VERSION} VERSION_LESS 4.6) OR
       (CMAKE_CXX_COMPILER_ID STREQUAL "Clang" AND NOT ${CMAKE_CXX_COMPILER_

[2016-04-12 21:39] jaelim commented on #613
@zoq what is **Backtrace_LIBRARY Backtrace_INCLUDE_DIR**? And this means **"MSVC" will no longer be dereferenced when the policy is set to NEW**?

![capture4](https://cloud.githubusercontent.com/assets/7217547/14476395/6563bb90-00bc-11e6-8342-516d62d6eea8.PNG)

[2016-04-12 22:08] jaelim commented on #613
@zoq this is bugging issue in cmake_gui. when you link mlpack with armadillo, you have to type in lib filename as follow, or otherwise you can't just set it to dir_path. otherwise it fails to generate build project solution.

![capture5](https://cloud.githubusercontent.com/assets/7217547/14477023/334b7a68-00c0-11e6-9eed-1739ad1f35ea.PNG)

[2016-04-12 22:18] zoq commented on #613
Okay, good to know that! I don't use the cmake gui, but the gui should also work just fine.

MSVC10 OR MSVC11 OR MSVC12 are the versions that comes with C++11 features. But, I'm almost sure, you need at least MSVC14 which is the latest VC++ version to build the master branch.

So, here is the problem, we changed the CXX11.cmake file some days ago to support MSVC14. Here is the updated file: https:

[2016-04-12 22:20] jaelim commented on #613
@zoq btw what is **appveyor.yml** and does it work like a script you can execute in command prompt?

[2016-04-12 22:21] jaelim commented on #613
@stereomatchingkiss Hi, Thanks for your help. I was wondering what are these in your instruction?

`set(CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS ON)
add_definitions(-DARMA_64BIT_WORD)
add_definitions(-DNOMINMAX) `

[2016-04-12 22:31] warpuv commented on #600
You forgot to add else condition. initial is not changing if number of sequences equal to one. Thanks for fixing.

[2016-04-12 22:32] stereomatchingkiss commented on #613
set(CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS ON)

If I remember correctly, If you do not specify this option
You would not see the lib compile by visual c++, you can find the details at [here](https://cmake.org/cmake/help/v3.4/prop_tgt/WINDOWS_EXPORT_ALL_SYMBOLS.html). This option should be able to omit if you are building static lib(better link to MD or MDd since many prebuild binary are doing that).

[2016-04-12 23:13] jaelim commented on #613
@zoq can you able to help me decipher the meaning of all these errors?
![capture6](https://cloud.githubusercontent.com/assets/7217547/14478304/6a97d2ce-00c9-11e6-93bf-0bdc5fc34556.PNG)

[2016-04-12 23:15] jaelim commented on #613
@zoq apparently there's no mlpack.lib in here
![capture7](https://cloud.githubusercontent.com/assets/7217547/14478349/d459f444-00c9-11e6-9119-401402a74d6f.PNG)

[2016-04-12 23:25] zoq commented on #613
Visual Studio doesn't support unsigned indices as featured in OpenMP 3.0. It's fixed in https://github.com/mlpack/mlpack/commit/50629c1d76780dc0c37c24b1dedb7794f4aa5447#diff-03121247ee7da9d71da250e352f01aa8

So, I guess once you changed ```src/mlpack/methods/det/dt_utils.cpp``` accordingly it should solve a bunch of the other errors.

[2016-04-12 23:40] jaelim commented on #613
@zoq sorry more errors reported...
![capture8](https://cloud.githubusercontent.com/assets/7217547/14478737/4e5e0d2c-00cd-11e6-9a4c-9ec55e8420b9.PNG)
![capture9](https://cloud.githubusercontent.com/assets/7217547/14478738/4e5e6a2e-00cd-11e6-8798-0e165152c972.PNG)
![capture10](https://cloud.githubusercontent.com/assets/7217547/14478739/4e5ff81c-00cd-11e6-8232-b1cf04911033.PNG)

[2016-04-13 00:18] zoq commented on #613
Can you change the Visual Studio build configuration to Release?

[2016-04-13 01:36] #598 closed

[2016-04-13 01:37] cypro666 commented on #598
thanks, fixed in 78f53da

[2016-04-13 04:24] keonkim commented on #599
@rcurtin Some people might be more interested in how a season might affect the result instead of continuous date and time. So in this case, I thought instead of making the feature numeric, splitting them into categories might produce a more accurate prediction.

[2016-04-13 07:40] stereomatchingkiss commented on #599
Do you mean you want to make the mlpack support format as following?

    33.33 44.666 winter 2014/05/06

If this is what you mean, maybe let the users able to transform the winter and 2014/05/06 into number could solve the problem.

[2016-04-13 14:53] rcurtin commented on #600
Good catch, thanks for checking my work.  e0e7ba5 should fix this.

[2016-04-13 15:49] jaelim commented on #613
@zoq Hi, I think it worked by switching to Release configuration. I still don't understand why the errors were produced in Debug config.

[2016-04-13 15:54] jaelim commented on #613
@stereomatchingkiss Hi, Thanks again for explaining. I'm using CMake 3.5.1 Gui software for my installation. When you add these 3 extra instructions in the CMakeLists.txt, will it be detected automatically in CMake_gui as you configure and generate?
![capture8](https://cloud.githubusercontent.com/assets/7217547/14500033/4f2547f6-0155-11e6-8162-bdbd1bcb6939.PNG)

[2016-04-13 16:15] jaelim commented on #613
@stereomatchingkiss apparently, I can't open CMakeLists.txt in CMake gui tool. I believe you need to define them manually. Are these instructions assigned with boolean values? For instance, you make this TRUE
`set(CMAKE_WINDOWS_EXPORT_ALL_SYMBOLS ON)`
and as well as enable these by assigning TRUE values:
[code]

[2016-04-13 17:17] stereomatchingkiss commented on #613
Maybe you are mixing the libraries of debug build and release build, in the world of c++, debug and release library do not guarantee to provide same symbol and ABI, if you mixed them together, the best case is you can not compile your program, the worst case is it may generate subtle bugs from time to time, these bugs could make you scratch your head seriously if you do not know what was happen.

[2016-04-13 17:54] jaelim commented on #613
@zoq I dont' know if this is of a serious concern, but my anti-virus program detected this particular file as a threat. Should it be a security vulnerability if I put it in the exclusion list?
![capture](https://cloud.githubusercontent.com/assets/7217547/14503714/1e6b5fe0-0166-11e6-8140-02a3ee353e52.PNG)

[2016-04-13 18:04] rcurtin commented on #613
Personally I would report that file as a false positive or submit it to another website like VirusTotal to get a better analysis.  If you compiled that program by hand, and it was not otherwise modified, there shouldn't be any reason for it to be malicious.

[2016-04-13 18:20] jaelim commented on #613
@stereomatchingkiss Hi, thanks again. So if I have these configured like it's fine?
![capture](https://cloud.githubusercontent.com/assets/7217547/14504311/1ca9964c-0169-11e6-9141-7f4c43e60bd5.PNG)
And the properties-.>C/C++->Code generation->Runtime library, this is what I see
![capture](https://cloud.githubusercontent.com/assets/7217547/14504363/5e5dcd2e-0169-11e6-90e5-8c6c00558774.PNG)
But in pr

[2016-04-13 22:13] jaelim commented on #515
@jeroneandrews Hi, Could you please provide your other test file?

[2016-04-14 06:03] stereomatchingkiss commented on #613
I think this is nothing wrong, configuration types could be dll or lib on different libraries,but the setting of runtime library must be the same on different libraries.In short, if the runtime library of armadillo is MD, than other's library should be MD too.

The other things you need to care about is the compatibility of the vc compiler do not give any promise of backward compatibility, if you

[2016-04-14 14:11] rcurtin commented on #594
Okay, I wrote up some documentation here that should be helpful:
http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=formatdoc.html

Please let me know if you think anything in there can be clarified.  Thanks!

[2016-04-14 14:11] #594 closed

[2016-04-14 15:13] jaelim commented on #613
@stereomatchingkiss @zoq @rcurtin Thanks so much. You've been extremely helpful!

[2016-04-14 17:41] chvsp commented on #414
Hi @zoq
Sorry for the late response but I have been working on this issue with vasanthkalingeri. I would like to complete this. Considering your above comment, I plan to use the MultiClassClassificationLayer as it returns the the output parameter. Would it be okay to use it or would you recommend writing another layer for the same?

[2016-04-14 18:51] rcurtin commented on #533
Fixed with #537.

[2016-04-14 18:51] #533 closed

[2016-04-14 20:06] vasanthkalingeri commented on #414
Hi @chvsp I am sorry, I assumed you had not started implementing anything since at the time of our discussion there was a std:logic_error in the code. I have implemented all the tests but they still don't match the results in the paper.

I did try the multiclassclassificationLayer, the errors still seem to be in the same range. I am trying to find out the bug. Unfortunately I have to finish my col

[2016-04-15 04:41] chvsp commented on #414
Hi @vasanthkalingeri , I was working on this in sync with the comments here from the very beginning. The only reason I didn't post here was that all the problems which I had were already mentioned and solved by Marcus.

Anyways, I too had the same doubt regarding RMSProp. I had asked @zoq about the same on IRC. He said that according to him RMSProp would work better than the optimization which is

[2016-04-15 05:16] vasanthkalingeri commented on #414
Then I guess we have a lot of duplicate work done already, currently I have posted the code for iris and two spirals. I will push the code I have with the other tests as well.

Can you post your code as well ? it's much better to just pick parts from each other's code that will make everything more efficient and neat.

Yes in tests, rmsprop did give the least errors.

Are you referring to the bias

[2016-04-15 21:16] na1taneja2821 commented on #275
Hi Ryan,
Sorry for the late response, had been busy with the practical exams. I have gone through the code for cover tree (and I must say it is quite well written). I have made certain changes to solve the issue and currently debugging it. I will open the pull request soon.

[2016-04-16 14:24] chvsp commented on #414
Hi @vasanthkalingeri . Sorry for the delayed response. I had some urgent submissions. Anyways here's the link to my implementation. https://github.com/chvsp/mlpack/blob/ksinit/src/mlpack/tests/ksinit.cpp . Have a look at this. I have only implemented the iris dataset(and this is just a proof of concept. If the error does reduce, I will add the BOOST_REQUIRE ). I am working on reducing the error, a

[2016-04-16 15:39] vasanthkalingeri commented on #414
Hi, that's fine. From your implementation looks like both of us have added the bias node for the hidden and the initial layer, so the error can't be with regard to the bias term.

We still have to find the bug then.

[2016-04-18 10:10] parijat10 commented on #349
I would like to work on this if no one else is working.
Let me go to through the code and think of an idea for improving BallBound<>::operator|=(MatType&).
I'll update you soon.

[2016-04-18 14:17] #532 closed

[2016-04-18 14:25] rcurtin commented on #349
Sure, I don't think anyone else is working on this.  I would be happy to merge in a fix if you are able to fix it.  Also, the commit r17121 in the old svn repository is now 98dcfd6, I think (not certain, it may also be cae0701).

[2016-04-18 15:04] zoq commented on #414
So I'm not sure if we are able to exactly replicate the MSE from the paper, it's partially stochastic right. However, we should make sure, we can replicate the MSE with a small fraction of noise added.

I couldn't test the code but could you make sure that in each fold the network starts with different weights. I think, it starts with the same weights in each fold.

[2016-04-18 15:12] vasanthkalingeri commented on #414
The error we are getting is 100 times the error obtained in the paper, do such differences occur because of the stochastic nature ?

Yes, the network is running with the same weight on each fold, I will make sure it starts with a different weight setting now.

[2016-04-18 15:33] darcyliu commented on #613
It is wonderful that if we can install mlpack using NuGet.

    nuget install mlpack

It seems that 'armadillo' is not supported right now. I would like to help but I sorry that I am not working on Windows platform recently.

[2016-04-18 16:54] palashahuja commented on #227
@rcurtin, I'd like to work on this, but I would need some help.

[2016-04-19 13:29] Fractally commented on #514
I may be wrong, but from the code in the first post it appears as if mlpack also provides the assignments while armadillo does not. Could this not be a reason for some performance loss?

[2016-04-19 13:35] rcurtin commented on #514
If so, that would be really slight, because the k-means algorithm requires you to find the closest cluster to every point already anyway.  You could get some RAM savings by not caching those assignments, but actual noticeable significant speedup I kind of doubt.

[2016-04-20 07:35] vasanthkalingeri commented on #414
@zoq I was mistaken, I just checked the code and the weights are reinitialized in each fold so that part is fine.

And the bug was a mistake of mine, I used logisticfunction so it was always predicting between 0-1 while iris had 3 labels. The error is fixed now after using identity function. The code gives results similar to the one obtained in the paper. Il be pushing the updated code soon.

[2016-04-20 08:06] vasanthkalingeri commented on #414
Actually, the errors are only coming closer but still differing by a magnitude of 10 now from differing in magnitude of 1000, and I checked again, the paper clearly tells sigmoid function is used in both the layers, so I don't know what to make of this.

[2016-04-20 20:06] zoq commented on #414
@vasanthkalingeri That sounds great, thanks for taking the time to look into the issue.

[2016-04-21 11:50] chvsp commented on #414
@vasanthkalingeri Ya right, I overlooked that part. I was trying to normalize the labels but that didn't workout. Cool, quite a good issue. Learnt a lot about mlpack ann implementation this way.

[2016-04-22 19:35] gopalakr opened #629 "Intel MKL issues with linear_regression & lars"
I had to disable MKL and recompile armadillo and mlpack to get around an mkl issue, which did solve the following problem.

Heres the debug info for a linear regression run

$> ~/mlpack/usr/local/bin/mlpack_linear_regression -t /tmp/n20train.csv -r /tmp/ny1.csv -T /tmp/n20test.csv -p /tmp/nyout1.csv -v

 [INFO ] Loading '/tmp/n20train.csv' as CSV data. Size is 30 x 20000.
 [INFO ] Loading '/tmp/ny

[2016-04-22 19:36] rcurtin commented on #629
What versions of Armadillo, MKL, mlpack, and gcc are you using, and on what platform?  I don't have a copy of MKL at the moment, so I can't reproduce, but if you can provide all the versioning information, that will make reproducing this issue easier.  Thanks!

[2016-04-22 19:43] gopalakr commented on #629
gcc version 4.8.4 (Ubuntu 4.8.4-2ubuntu1~14.04.1)
libarmadillo.so.6.700.4
mlpack-2.0.0
l_mkl_11.3.0.109

[2016-04-23 10:59] zoq commented on #613
I agree, an mlpack nuget package would be great. I think once masterblaster is stable, and we have some kind of a windows machine, we can do that. We could create a nuget package for every release and probably even provide nightly builds.

There is an nuget armadillo package (https://www.nuget.org/packages/Armadillo/), but it doesn't use OpenBlas which would be at least in my opinion the better op

[2016-04-23 11:48] stereomatchingkiss commented on #613
I tried openBLAS and BLAS before, it is atleast three times faster on my laptop(Y410p).

[2016-04-26 16:05] BluedataWilson opened #630 "mlpack2.0.1 compile failed in Mac os10.11 with boost_1.60.0"
Hi all,
When I compile the Mlpack2.0.1 in Mac os, some error happens: (Mac os 10.11, gcc4.9, boost1.60.0)
I switched gcc from 5.3 to 4.9 for gcc_5.3 will not support OpenMp anymore....

but seems not work for this switching.
Does anyone meet this case like bellow?

Linking CXX shared library ../../lib/libmlpack.dylib
Undefined symbols for architecture x86_64:
  "boost::program_options::to_internal

[2016-04-26 17:19] stereomatchingkiss commented on #630
Looks like it cannot find the implementation details of boost::program_options, do you link to the .a file of boost program options?

[2016-04-26 18:09] rcurtin commented on #630
Can you tell me more of what you mean here?  I can't find any evidence that newer GCC is dropping support for OpenMP; maybe I have misunderstood something?

If you've switched compilers, you should definitely remove CMakeCache.txt from your build directory and reconfigure with cmake (maybe you did this, I don't know).  Another thing to do might be to paste the output of

[code]

and that will prod

[2016-04-27 14:44] BluedataWilson commented on #630
Ok, let me explain my procedure, for maybe I said it not clear enough...
I built Mlpack2.0.1 with boost_1_60_0 in Mac os 10.11. Error refer to attached file.
[build_mlpack_log.txt](https://github.com/mlpack/mlpack/files/238753/build_mlpack_log.txt)
1. I have done the "brew reinstall gcc49 --without-multilib" before I build boost.  (OK)
2. Build boost seems ok at all. (OK)
3. But error occurs like

[2016-04-27 14:49] rcurtin commented on #630
It looks to me like CMake is finding clang instead of gcc to use.  Maybe you should try something like this:

[code]

(I don't know what the path to the gcc49 program is, so you will have to change that.)

It looks to me like there was no actual error during the CMake configuration process with clang, but I do think it might cause problems later if you compile Boost with gcc but mlpack with clang.

[2016-04-28 14:53] BluedataWilson commented on #630
yes. I meet this problem that build Boost and mlpack with different compiler.
And now I am trying to build Boost with gcc, by comment the toolset selection in file project-config.jam:
- if ! darwin in [ feature.values <toolset> ]
- #{
- #    using darwin ;
- #}
- #project : default-build <toolset>darwin ;
+ using gcc : 4.9.3 : g++-4.9.3 ;
and then,
sudo ./b2 cxxflags=-std=c++11 install

things see

[2016-04-28 16:04] oliveriopt opened #631 "crash with mlpack::util::CLIDeleter::CLIDeleter()'"
Hi,
i think is an error very simple but I cannot find the solution.
I have this code
#include <cstdlib>
#include <mlpack/core.hpp>

using namespace std;

int main(int argc, char** argv) {

    return 0;
}

but when it reads the header after compilation, it crashes:

/usr/local/include/mlpack/core/util/cli_deleter.hpp:35: undefined reference to `mlpack::util::CLIDeleter::CLIDeleter()'

some clues?

[2016-04-28 18:08] rcurtin commented on #630
I don't know what you mean by "things seem neg"... does that mean you've solved the problem, or that it persists?

[2016-04-28 18:09] rcurtin commented on #631
Are you linking against mlpack?  (`-lmlpack`)

[2016-04-28 18:34] judelove opened #632 "No arguments to 'isinf' that depend on a template parameter..."
So, I realized many of the windows G++s can not compile mlpack, switched to Ubuntu and got progress past attempted windows10 installations till I stumbled on this. Before I try and solve it does anyone have an easy fix:

"there are no arguments to 'isinf' that depend on a template parameter, so a declaration of 'isinf' must be available [ -fpermissive] if(isnan(cNorm) || isinf(cNorm)), in kmeans_i

[2016-04-28 18:40] rcurtin commented on #632
Hey Jude,

Sorry that you had problems compiling mlpack on Windows.  The issue you are having now can be fixed either by changing line 178 of `src/mlpack/methods/kmeans/kmeans_impl.hpp` and replacing `isnan()` with `std::isnan()` (it occurs twice).  Or, you can use the git master branch, which incorporates this fix.  Soon we will be releasing mlpack 2.0.2 which will have this issue solved.

This i

[2016-04-28 19:10] judelove commented on #632
Thanks for the prompt response will resume tomorrow and hope to go further.

[2016-04-28 19:10] #632 closed

[2016-04-28 21:16] oliveriopt commented on #631
thanks, yes,  Iam using netbeans and I putted the option -lmlpack, i will test directly in the shell, thanks

[2016-04-29 10:24] oliveriopt commented on #631
using shell script :(

user@UbuntuPC:~/Desktop$ g++ -std=c++11 -lmlpack main.cpp
/tmp/ccybjY8g.o: In function `__static_initialization_and_destruction_0(int, int)':
main.cpp:(.text+0xf34): undefined reference to `mlpack::util::CLIDeleter::CLIDeleter()'
main.cpp:(.text+0xf43): undefined reference to `mlpack::util::CLIDeleter::~CLIDeleter()'
collect2: error: ld returned 1 exit status

ideas?
thanks!

[2016-04-29 11:12] oliveriopt commented on #631
the answer is the position of the option -l
user@UbuntuPC:~/Desktop$ g++ -std=c++11  main.cpp -lmlpack

[2016-04-29 11:12] #631 closed

[2016-04-29 12:48] rcurtin commented on #631
Great, glad you got it figured out!

[2016-04-30 20:23] keonkim opened #633 "mlpack_export.h: No such file or directory"
mlpack (the newest version in the github) is successfully installed and and are located in `/usr/local/nclude/mlpack` with path configured. Command line applications work perfectly, but I am having a trouble importing it in other programs.

I am getting the following error when I run the simple timer example on my new Ubuntu 16.04 machine:
[code]
I tried with other simple examples and not being ab

[2016-05-01 09:24] Kirizaki commented on #633
Try to link against mlpack and I'm not sure about order of cmds.

Try like this:

g++ timer.cpp -lmlpack -std=c++11
30 kwi 2016 22:23 "Keon Kim" <notifications@github.com> napisał(a):

[2016-05-01 09:27] Kirizaki commented on #633
Ohh, and maybe change Your .cpp File to some different then timer.cpp,
maybe mytimer.cpp.

This shouldn't make any conflict, but I'm away of my pc do I'm guessing a
little.
1 maj 2016 11:24 "Grzegorz Krajewski" <krajekg@gmail.com> napisał(a):

[2016-05-01 13:42] zoq commented on #633
Nice catch, I think we should integrate the tutorials code into the build process to avoid such a situation.

So, I think what happens here is that once mlpack is build, the``` mlpack_export.h``` isn't in the right location. Right now I'm not completely sure this is the right way to solve the issue, however here is a simple fix that should work:

Add the following to the ```src/mlpack/CMakeLists.t

[2016-05-01 16:31] keonkim commented on #633
I modified the code as @zoq suggested and added `-lmlpack` flag in the command like @Kirizaki  suggested.
It works like a charm now :) thank you.

Should I update the `CMakeLists.txt` and likes changed to `#include <mlpack/mlpack_export.h>` to my future pull request? or is it just my case?

[2016-05-02 13:55] rcurtin commented on #633
I think that we should leave this open until it's fixed, since it's a pretty big issue if you can't use mlpack after installation.  I took a look and I think Marcus's comments are right: the `#include <mlpack_export.h>` calls should all be changed to `#include <mlpack/mlpack_export.h>`.  But there's one more piece too:

In `src/mlpack/CMakeLists.txt`, there is a line that adds an include directory

[2016-05-09 18:03] rcurtin commented on #633
I tested @xantares' fix in #634, it seems to work.  In d502539 I moved `mlpack_export.h` to `mlpack_export.hpp` too, just to be more in line with the names of other files in mlpack.  Everything is tested and appears to work.

[2016-05-09 18:03] #633 closed

[2016-05-13 03:05] yuanjinq opened #638 "Issues of HMM training"
Hi, I'm new to HMM and I'm trying to use Mlpack to train a model of Gaussian HMM with a few observation sequences. So I used the mlpack_hmm_train with following command:
mlpack_hmm_train -i 11.txt -n 4 -t gaussian -o 11out.xml

Then I went to the model file and try to find the emissions and transform matrix. I found that the transform matrix are uniform and every emission are the same with a stran

[2016-05-13 15:58] rcurtin commented on #638
Can you provide the training set you used, and the output of the program when you run with `-v`?  That might be helpful in figuring out what is going on.

[2016-05-13 16:02] rcurtin commented on #606
Sorry, I forgot to respond to this ticket!  Are you compiling on the Raspberry Pi, or are you cross-compiling from another system?

It may be worth trying with a newer version of Armadillo.  Otherwise, can you provide the output of `strings libarmadillo.so`?  (you will need to find where libarmadillo.so is, and the output will be very long...)  I want to take a look at the symbols that are availab

[2016-05-16 04:59] yuanjinq commented on #638
Hi rcurtln,

Sorry for the late reply.
Here's the training set I used in the beginning.
data.txt is the file that contains all other observation sequences. And other files contain three or four normalized observations with 6 DOF.

"data.txt"
data11.txt
data21.txt
data31.txt
data41.txt
data51.txt

"data11.txt"
1.407188 -0.825524 -0.581664 1.330260 -0.249431 -1.080829
1.064666 0.273809 -1.338475 -1.

[2016-05-16 19:22] rcurtin commented on #638
Hi Jinqiang,

I took a look, and the HMM code initializes the transition matrix uniformly.  But I think this is a saddle point for the EM optimization, so the optimization gets stuck.  In 3e4f3ca I added an option to `mlpack_hmm_train` called `--random_initialization`, which will start the optimization with uniformly randomly distributed emission and transition matrices.  I think this will fix you

[2016-05-16 19:22] #638 closed

[2016-05-23 17:38] MarcosPividori opened #642 "Neighbor Search - Incorrect bound."
Hi, @sumedhghaisas  @rcurtin
I have been reading the paper: "Tree-Independent Dual-Tree Algorithms" in detail, and I found an error in the definition of bound B2. I attach a pdf file with an explanation using latex, so it is easier to understand what I mean.
I think it won't be difficult to update the code to fix this.
If you agree on this modification, I can work on this and make pull request whe

[2016-05-23 17:55] rcurtin commented on #642
Give me a day or two to get back to you on this.  I think that there is a reason why we can't make the change you've suggested, but I need to think on it.

[2016-05-23 20:34] sumedhghaisas commented on #642
So about the situation you mentioned where the child's B2 bound is calculated using the tighter bound. You mentioned that rho(c) + lambda(c) < 2 * lambda(c). I don't think this can happen. So if I understand correctly lambda is a max distance from centroid of convex subset to points held in the node where as rho is a max distance from centroid of convex subset to all descendant points of that node

[2016-05-23 21:01] MarcosPividori commented on #642
Hi, thanks for your responses!
@sumedhghaisas I think you confused rho and lambda:
+ rho: the maximum distance between the centroid Ci of the convex subset and each point in the node.
+ lambda: the maximum distance between the centroid Ci of the convex subset and all descendant points of that node.

[2016-05-23 21:45] sumedhghaisas commented on #642
Sorry for that symbol confusion. In that case I agree that some error may occur when B2 is computed with strict bound. The auxiliary function is somewhat a recursive version of B2 - 2 * lambda. We add tighter bound to that and we get the proposed equation.

[2016-05-23 21:54] MarcosPividori commented on #642
Yes, B_aux would be a recursive function. We can cache previous calculations as we did with B2. So the implementation will be similar to the actual code, with a little modification.

[2016-05-24 10:52] TCatshoek opened #644 "GMM Serialization function incorrectly named."
First of all, I'm rather new to c++ so forgive me if this is a misunderstanding on my part.

When attempting to serialize mlpack::gmm::GMM both boost serialization and cereal are unable to find a serialization function. From gmm.hpp:

[code]

So the function is there, but it is named Serialize with a capital S while both boost and cereal expect it to start with a lowercase s. I changed the functio

[2016-05-24 13:51] rcurtin commented on #644
Hi there,

This is because the mlpack code style uses capitalized function names.  So we built an adapter to use boost::serialization but at this time there is not one for cereal.  You could use it like this...

[code]

So, basically, use `mlpack::data::CreateNVP()` to pass to `boost::serialization` (and maybe cereal?  I don't know if that will work) instead of passing the object directly.

If you

[2016-05-25 06:11] dasayan05 opened #647 "range_search_test.cpp is failing to build"
After #645 the test file for range_search is failing to build. can you tell me how to fix ?

[code]

[2016-05-25 11:15] TCatshoek commented on #644
Thanks, that explains it.

[2016-05-25 11:15] #644 closed

[2016-05-25 13:46] MarcosPividori commented on #647
It looks like a cmake dependency problem, not properly tracking the changes in that commit.
If you make a clean build, everything should work well.

[2016-05-25 14:16] MarcosPividori commented on #647
In fact I can see in:
  build/src/mlpack/tests/CMakeFiles/mlpack_test.dir/depend.make
that the dependency to rs_model.cpp  **is not included**.
Because of that, your build failed...
We should find out why cmake doesn't include that dependency....

[2016-05-25 14:19] dasayan05 commented on #647
Ya thanks. I made a clean build and it is working okay

[2016-05-25 16:03] rcurtin commented on #642
Okay, I spent a long time thinking about it, and I think B_2() is correct, so I have attached a quick writeup of a proof.  Let me know if there are any errors in it...
[notes.pdf](https://github.com/mlpack/mlpack/files/282371/notes.pdf)

[2016-05-25 21:45] MarcosPividori commented on #642
Hi Ryan,
Thank you very much for taking the time to write that proof. This is becoming really interesting!

I am not sure about:
"The ball of radius lambda(N_c) centered at the center of the node N_c lies entirely within the ball of radius lambda(N_q) centered at the center of the node N_q."
I agree that this is true for trees that consider "ballbound", but that is not true for different bounds su

[2016-05-25 22:09] rcurtin commented on #642
Yes, if you think of a space tree that breaks everything post it. :)

The proof works even for non-ball bound trees: regardless of the shape of the bound, lambda represents the furthest distance of any descendant point to the center. So even if the bound is a hyperrectangle, all of the points in that bound are contained in a ball of radius lambda (sorry I don't know how to add Unicode characters o

[2016-05-26 12:10] keonkim opened #651 "TrainTestSplit without Label"
The current [TrainTestSplit](https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/data/split_data.hpp#L102) only supports labeled dataset.
I think it would be good to provide the same TrainTestSplit functions for unlabeled datasets.

So The function signature would be:
[code]

[2016-05-26 12:32] zoq commented on #651
Sounds good, in this case we can also split data where labels are the last row.

[2016-05-26 12:33] rcurtin commented on #651
Agreed, we should also include the overload which returns `void` and takes in the training and test set matrices as a parameter.

[2016-05-26 13:41] MarcosPividori commented on #647
So, this can be closed.

[2016-05-26 13:42] #647 closed

[2016-05-26 15:43] stereomatchingkiss commented on #651
Sounds good, I think std::paritition quite suit for this task. Do armadillo provide better function?

[2016-05-26 17:56] keonkim commented on #651
@stereomatchingkiss I will try this, if you allow :)

[2016-05-27 01:30] stereomatchingkiss commented on #651
@keonkim Then I will leave it to you, good luck

[2016-05-27 05:36] MarcosPividori commented on #642
Hi Ryan,
I have been working on an example where b2 fails, using hyperrectangle bounds. I attach the explanation.
Thanks,
[example.pdf](https://github.com/mlpack/mlpack/files/285794/example.pdf)

[2016-05-27 13:58] rcurtin commented on #642
You are right, I failed to consider that it is possible that a child hyperrectangle's implicit bounding ball can lie not entirely withing the parent hyperrectangle's implicit bounding ball.  It's easy to rework the proof I wrote to be correct and that comes out with the error correction 2 \lambda(N_q) - \lambda(N_c) (that is, we are subtracting just one times the furthest descendant distance of N_

[2016-05-28 19:19] MarcosPividori commented on #642
Hi Ryan,
Thanks for your reply. Ok, I agree with you.
I think It would be important to fix this and analyze performance before concentrating on aprox. nearest neighbor, because we need to work over this code indeed. So, if you agree, I would like to work on this!
I can see that now we accept these different tree options for Neighbor Search:
 - KDTree (default)
 - R-Tree
 - R*Tree
 - X-Tree
 - Cove

[2016-05-29 09:49] YaweiZhao opened #656 "The format of the sparse instances in the input file"
Hi,

Since the input training data is often organized as the sparse matrix in many datasets, what is the format of such those sparse training instances presented in the input files? For example, if one training instance consists of 1000 dimensions, and 100 of those dimensions are not zero, then is the training instance presented in the input file by using 900 zeros and 100 non-zeros? The same spar

[2016-05-29 19:36] keonkim opened #658 "Wrong number of mapping while Loading"
For testing purpose, I Loaded a simple csv like the one below.
[code]
But it recognizes wrong number of mappings and modifies the csv in a wrong way.
[code]
Funny thing is that when I tried this,
[code]
the result was different
[code]
And the lastly when I tried with the following,
[code]
It finally showed the right number of mappings
[code]

The code I used for loading the file is:
[code]

Thanks

[2016-05-30 09:53] stereomatchingkiss commented on #658
@keonkim Hi, the function, data::Load do the right thing, it deceive your eyes because you ask it to transpose the data. Following codes should make things clear

[code]

[2016-05-30 10:47] keonkim commented on #658
@stereomatchingkiss I get that blank data is mapped to 0, but I don't understand why it returns different number of mappings even if I only put one string value.

[2016-05-30 12:14] keonkim commented on #658
I tried with
[code]
which successfully transposed to:
[code]
But when I replaced 12 with a, the result was
[code]
which means that 11 and 12 are mapped as categories. (which I also think it is unintended?)

[2016-05-30 14:40] stereomatchingkiss commented on #658
@keonkim I think the behavior is correct, let us use non-tranpose case to discuss the behavior

codes :

[code]

Before we transpose, mlpack treat every columns as an example, every row as a dimension
every dimension represent one type of feature(height, weight, color, etc).

After we know how mlpack treat the data, everything are simple

input data

a,    b,        c
b, 102, 1002
c, 103, 1003
d,

[2016-05-30 22:54] rcurtin commented on #656
Hi Yawei,

mlpack unfortunately doesn't have any current support for loading sparse matrices from disk.  In addition, because of this, the command-line programs only load dense data.

So if you want to use sparse data specifically, I think the best way is to write a C++ program using `arma::sp_mat`.  But to make it harder... Armadillo does not have good documentation for their support for loading

[2016-05-31 02:55] YaweiZhao commented on #656
Hi Ryan,

Thanks for your answer! It really helps me understand how to use MLPACK. Could I (or you) add your suggestion into the doc of MLPACK?

[2016-05-31 04:14] stereomatchingkiss commented on #658
@keonkim After more test, you think you are correct, the behavior really weird

Following examples, all of them without transpose

11,     12,    a,   14
101,   102,  103,  104
1001, 1002, 1003, 1004

Will output

0.000000e+00   1.0000e+00   2.0000e+00   1.4000e+01
1.0100e+02   1.0200e+02   1.0300e+02   1.0400e+02
1.0010e+03   1.0020e+03   1.0030e+03   1.0040e+03

dimensions == 3
3 mappings in dim

[2016-05-31 04:44] stereomatchingkiss commented on #658
@keonkim I think you are right, after some test, I think there really has some bugs.

input :

11,     12,    c
101,   102,  103
1001, 1002, 1003

output :

0.000000e+00   1.0000e+00   2.0000e+00
1.0100e+02   1.0200e+02   1.0300e+02
1.0010e+03   1.0020e+03   1.0030e+03

dimensions == 3
3 mappings in dimension 0.
0 mappings in dimension 1.
0 mappings in dimension 2.

it works if the input is

a,

[2016-05-31 06:47] keonkim commented on #658
@stereomatchingkiss thanks for the response!
I will further investigate and come back.

[2016-05-31 09:40] mickey9294 opened #659 "How to build mlpack with visual studio 2013"
I'm using vs 2013 to develope my programs. And I need to use mlpack built by vs2013. But there is a lot of errors when I build it with vc2013 on windows 10.
My cmake settings are as following:
http://imgdata.hoop8.com/1605/0403663629894.png
Since vs2013 doesn't support 'constexp' keyword, change the line 34 of gaussian_distribution.hpp
`static const constexpr double log2pi = 1.83787706640934533908

[2016-05-31 10:08] zoq commented on #659
Any chance to upgrade to Visual Studio 2015? Visual Studio 2013 lacks some powerful C++11 features, that we use.

[2016-05-31 12:04] mickey9294 commented on #659
@zoq I have VS2015 installed. But the current project I'm working on is built on VS2013, I'm afraid there will be some issues if I use mlpack libs built with vs2015 in that project (developed with vs2013)

[2016-05-31 12:14] zoq commented on #659
You can test if it causes any problems by using the latest libs (build with MSV15):
https://ci.appveyor.com/project/mlpack/mlpack/build/artifacts

Can you tell us which method/class you like to use? Perhaps, the particular class/method doesn't need any C++11 features.

[2016-05-31 18:43] rcurtin commented on #656
I updated the documentation in e36eec5; it's online at
http://mlpack.org/docs/mlpack-git/doxygen.php?doc=formatdoc.html

Let me know what you think, if anything can be clarified.  I'll mark this as resolved since I've updated the documentation, but let me know if there is anything else to be done.

Thanks for pointing this out!

Ryan

[2016-05-31 18:43] #656 closed

[2016-05-31 20:06] rcurtin commented on #642
We could avoid the difference for cover trees if we refactored the bound like this:

* Add `HasBallBound()` to `TreeTraits`; this is true for the ball tree and the cover tree but none of the other trees we currently have implemented.
* When `TreeTraits<TreeType>::HasBallBound()` is true, we use the existing adjusted point bound of D_p[k] + rho(N_q) + lambda(N_q)
* Otherwise, we use the correct poi

[2016-06-01 13:58] MarcosPividori commented on #642
Hi @rcurtin,
Thanks for your comments. I agree with the proposal.
I have implemented B_aux, in the commit https://github.com/MarcosPividori/mlpack/commit/558a4fd15536eb6d71464a8c519ab709f0b163d0 , and tested it with some datasets. It doesn't show any difference in the number of base cases for Cover Trees.
I modified the benchmarking system to add "BaseCases" as a new metric, and I have uploaded th

[2016-06-02 08:21] mickey9294 commented on #659
@zoq Thank you very much! I need to use GuassianDistribution. The code use 'constexp' keyword of C++11.
I tried to run my project with the libs you offer. But when running the statement
`normalDistribution.Train(matrix);`
a exception turns up as the following picture shows:
[exception.png](http://s33.postimg.org/aq41r80of/exception.png)
the matrix used in Train() is of arma::mat class, and contain

[2016-06-02 11:58] zoq commented on #659
I guess the problem is we use different versions of OpenBLAS, Did you build against the included OpenBLAS? Btw. we build against the latest NuGet version of OpenBLAS: https://www.nuget.org/packages/OpenBLAS/.

Also, how did you build armadillo? If you don't mind to use NuGet, I can write down the steps we used to build mlpack on windows.

[2016-06-02 12:27] mickey9294 commented on #659
@zoq Here is the way I build armadillo:
1. I build OpenBLAS according to [How to use OpenBLAS in Microsoft Visual Studio](https://github.com/xianyi/OpenBLAS/wiki/How-to-use-OpenBLAS-in-Microsoft-Visual-Studio) with MinGW64 (using MSYS2). And download LAPACK and BLAS (.lib files) from [LAPACK for Windows](http://icl.cs.utk.edu/lapack-for-windows/lapack/).
2. Configure armadillo with CMake by follow

[2016-06-02 13:39] rcurtin commented on #642
The reason that we are seeing no change between the bounds is because the modifications to B_2() actually never comes into play in the current traversals that we have.  As you pointed out, for kd-trees and ball trees and any other tree that only holds points in the leaves, rho(N_q) = lambda(N_q) so there is no problem.  But for cover trees, the traversal is somewhat odd: it is depth-first in the q

[2016-06-02 16:26] keonkim commented on #651
This is resolved at #650. Closing this issue.

[2016-06-02 16:26] #651 closed

[2016-06-02 18:57] rcurtin opened #667 "mlpack_preprocess_split doesn't work when absolute paths are specified"
Here's what I tried to do to play with it:

[code]

So I guess, we need to be more careful with prepending "train_", we have to do it in the right place.  Maybe some string tokenization is necessary. :(

Also, Keon, I made a few formatting and documentation changes in 6a94eb6, please let me know if I broke anything.

[2016-06-02 19:36] MarcosPividori commented on #642
Hi @rcurtin ,
Yes, that makes sense. I think I understand why we didn't see any difference with cover trees. Thank you for the explanation!
I think the slow down won't be really significative. In fact, after adding the member "auxBound" to `NeighborSearchStat`, I realized that there were 2 unused members: "lastDistanceNode" and "bound", which I removed in https://github.com/MarcosPividori/mlpack/c

[2016-06-02 19:41] rcurtin commented on #642
Ah, nice catch with the unused members.  There is certainly a lot of interesting open work here; when I have some free research time I think I will devote it towards enumerating all the different types of bounds that could be used for dual-tree nearest neighbor search (or even single-tree search possibly?) and revamp the code.  Open a PR for the two commits you made, and I'll merge it in.  Thanks

[2016-06-02 23:34] rcurtin opened #671 "Issue a fatal error when any ambiguous parameters are detected"
The mlpack command-line programs use the `PARAM_STRING`, `PARAM_DOUBLE`, and other macros to define input parameters.  But it is possible that I could write:

[code]

You can see that `-p` now specifies two things. If you run the program and specify "-p", you will get an error like

[code]

But you only get that error when the option is specified.  So it is possible for a program writer to write a

[2016-06-02 23:39] keonkim commented on #671
@rcurtin that sounds like me. I can do it.
It might take some time though as I am not familiar with macros.

[2016-06-02 23:43] rcurtin commented on #671
Sure, if you like.  Here is some quick reading on macros, they are not so hard: https://gcc.gnu.org/onlinedocs/cpp/Macros.html

You can see the definition of the `PROGRAM_*` macros in `src/mlpack/core/util/cli.hpp`.  Let me know if I can explain anything further :)

[2016-06-03 13:38] zoq commented on #659
Sorry for the slow response. Since you said, "the function works fine, there is no exception showing up", I guess it's working? If not, I write down some instruction to build mlpack on windows.

Regarding the dimension issue, beware that mlpack uses armadillo which stores matrices in a column-major format. So, what you could do here is to transpose your data before you call train e.g. ```matrix =

[2016-06-03 13:42] MarcosPividori opened #672 "Resetting stats in NeighborSearch."
In NeighborSearch, when the method Search(Tree* queryTree, ...) uses the given tree, it is assuming that stats there were intialized to their initial values.
Shouldn't we add a comment about this to the documentation?
I mean, if we do:

  KNN knn;
  KNN::Tree queryTree(querySet);
  knn.Train(someReferenceSet);
  knn.Search(queryTree,.....);
  knn.Train(someDifferentReferenceSet);

The last search

[2016-06-03 13:43] MarcosPividori commented on #672
@sumedhghaisas @rcurtin

After a code review, I think we have this 2 options:

- Only add a comment to the docummentation of the method Search(Tree* queryTree, ...), mentioning that the queryTree's stats should be resetted before calling Search again with the same queryTree and a different reference dataset.

- Modify the method Search(Tree* queryTree, ...), to reset all stats of the tree at the b

[2016-06-03 13:47] rcurtin commented on #672
I think the issue here is not lack of documentation but instead that the `treeNeedsReset` member is used to check if a search has already been done, but it resets the statistics in the reference tree, not the query tree. If we change this code to work with the query tree instead of the reference tree, I think there is no issue.

[2016-06-03 14:23] MarcosPividori commented on #672
The problem is that the query tree is provided as an argument every time Search(Tree* queryTree, ...) method is called, so we can not track when it is necessary to reset the stats there. We don't know where that query tree comes from... if it is a new one, or was previously used for something different...

This is what I understand, let me know if you agree:

- The problem appears when we use the

[2016-06-03 14:32] MarcosPividori commented on #672
Sorry, I confused about `treeNeedsReset` in monochromatic search, it is necessary there because we might search with different values for k, which means different bounds.
But, what I mean is that, we can track the reference tree, because it is part of the NeighborSearch class, but we can not track the queryTree.

[2016-06-03 14:52] MarcosPividori commented on #672
Maybe it is clearer this way:

"We should reset the stats in the query tree every time we reuse it to do KNN."

Why? Because we could be searching in a different reference dataset, or with a different value of k. Both of these situations mean different values for the bounds.

We have 3 Search() methods in NeighborSearch class:

+ When doing monochromatic search the query tree is properly resetted

[2016-06-03 15:13] rcurtin commented on #672
I think I have gotten myself confused again.  You are right, there is actually no issue with `treeNeedsReset` since that can only happen for the case of monochromatic search.  So the bug I thought existed, does not exist.

I was not thinking about the overload where the user passes their own query tree; in that case, we have no need to reset the query tree.  I think that we should add documentatio

[2016-06-03 16:35] #658 closed

[2016-06-03 20:27] sumedhghaisas opened #674 "Remove code redundancy in ns_model_impl.hpp"
There are many similar code constructs found in this file
For example...
[code]
is similar to ...

[code]

I think it would be better to implement this using inheritance as we are doing the exact same thing that a compiler does but just with if-else clauses. (strictly having faith in people who optimizes compilers.). We can create an interface which is inherited by NSType templatized class and imp

[2016-06-04 01:48] YaweiZhao commented on #656
Hi Ryan,

I have read the update documentation. I think it is clear and understandable. Thanks for your time. Nice work!!!!

Yawei

[2016-06-04 19:19] NiharMaheshwari opened #677 "Error during building mlpack on Fedora 23"
Running **make** results in the following error which causes the compilation to terminate :
**/usr/include/armadillo_bits/include_superlu.hpp:91:53: fatal error: /usr/include/SuperLU/supermatrix.h: No such file or directory**
Installing SuperLU-devel package fixes the error and the project is built without any issues.
Shouldn't we add this package to the yum (shouldn't this be changed to dnf) comm

[2016-06-05 05:38] rcurtin commented on #677
I think that this is actually an Armadillo bug; I was just discussing it with the Fedora Armadillo package maintainer.  I saw that he built the fixed version of the package: https://koji.fedoraproject.org/koji/taskinfo?taskID=14332119 , but it does not look like he has submitted the package update yet.  So it may be a couple weeks before the Armadillo package has the correct dependencies in Fedora

[2016-06-05 05:38] #677 closed

[2016-06-05 06:27] NiharMaheshwari commented on #677
Thanks a lot !

[2016-06-05 07:15] keonkim commented on #659
I uploaded the instructions on my [blog](http://keon.io/mlpack-on-windows.html)

[2016-06-05 07:16] keonkim commented on #613
I uploaded the instructions on my [blog](http://keon.io/mlpack-on-windows.html)

[2016-06-05 18:30] #672 closed

[2016-06-05 19:15] rcurtin commented on #363
I think this is no longer an issue because AppVeyor is working.

[2016-06-05 19:15] #363 closed

[2016-06-05 19:20] rcurtin commented on #508
Two changes should fix this for good: 935e76d, which causes configuration to fail for Visual Studio 2013 since VS2013 will not compile mlpack, and 20f8bc0, which, when available, uses the newer `target_compile_features()` command from CMake to check if a compiler supports the C++11 features we need, which is a better solution in the end.  So now CMake will tell you if the compiler you are using ca

[2016-06-05 19:20] #508 closed

[2016-06-05 19:20] rcurtin commented on #351
No longer occurs since Mikhail rewrote the X tree and fixed it.

[2016-06-05 19:20] #351 closed

[2016-06-05 19:27] rcurtin commented on #528
I updated the documentation in 79fd639 months ago but forgot to close this issue.

[2016-06-05 19:27] #528 closed

[2016-06-05 19:35] rcurtin commented on #350
This was fixed in 256cd1c.

[2016-06-05 19:35] #350 closed

[2016-06-05 19:38] rcurtin commented on #314
This is done for FastMKS and RangeSearch but not DTB or RANN.

[2016-06-06 17:12] rcurtin commented on #674
I agree, those functions are quite ugly, and I thought so when I wrote them too.

For a long time I thought, it is good to avoid inheritance entirely because in some places it can cause a noticeable slowdown (like when a virtual function is used very many times); and even though in many cases inheritance could be a good solution, I thought that if we started allowing inheritance, it would be too e

[2016-06-06 18:36] stereomatchingkiss commented on #674
I think the problem is the api do not allowed the users to specify the type at compile, either

1 : make TreeType as template parameter
2 : use boost variant if you want to avoid code bloat(is this the reason you do not specify TreeTypes as template param?)

Example :

`NSModel(TreeTypes treeType = TreeTypes::KD_TREE, bool randomBasis = false);`

Make TreeTypes as

`boost::variant<TreeType::KDTree

[2016-06-07 05:04] keonkim opened #685 "string util seems to be unused anymore"
I left this unchanged because it felt I need to ask this before just deleting it.
Can I delete the files below?

 * [string_utill.hpp](https://github.com/mlpack/mlpack/blob/d2e353468b8fce9fc1ee46799860f3860c4c8db9/src/mlpack/core/util/string_util.hpp)

* [string_util.cpp](https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/util/string_util.cpp)

[2016-06-07 15:49] stereomatchingkiss commented on #674
I think it is possible if you do not wish to change the public api, you can construct the boost::variant based on the enum. This way, there is only one place need to use the if else, other operations can rely on the visitor.

[2016-06-07 17:42] rcurtin commented on #674
I looked through `boost::variant`, but I dunno if the visitor policy would help since we would still have to write an `operator()` for each possible `TreeType`.  Maybe I have misunderstood?  I like the idea of `boost::variant` though. :)

[2016-06-07 20:25] keonkim commented on #671
kind of brute-forced, but I think this is the simplest way without changing much code.
[changes here](https://github.com/mlpack/mlpack/pull/680/files#diff-ce922101a2dfeea7357ac875874789fdR46)

[2016-06-08 19:22] rcurtin commented on #685
Yep, this used to be used when we had `ToString()` methods but I removed these in c673742 so I agree we can delete this now.

[2016-06-08 19:26] rcurtin commented on #595
Fixed in 428191f, 1c87ed9, c5b7186, and bc3916a.

[2016-06-08 19:26] #595 closed

[2016-06-08 21:47] #685 closed

[2016-06-13 14:51] MarcosPividori commented on #674
Hi!
I have been considering different approaches to this problem.
We want a data type to represent a generic neighbor search class, no matter which tree type is considered. However, we want to distinguish between KDTree/BallTree and the rest of tree types, because we want to set the leaf size in the former and the NeighborSearch Class doesn't provide a general option for that. This is the reason o

[2016-06-15 04:31] cypro666 opened #697 "A tiny bug in client"
My version of mlpack is 2.0.1 git-4fa39b6:

When I run mlpack_softmax_regression like:
[code]
nothing more....

In line 46 of softmax_regression_main.cpp , `output_model_file` was registed as an arg name,
but in line 24 and line 113 and 137 lost the `_file` suffix!!!

[code]

In fact `input_model` has the same problem.

My version of boost::program_options is 1.58

mlpack's clients(executables in

[2016-06-15 04:40] keonkim commented on #697
@cypro666 Thanks for the report!
I recently discovered this too, and it will soon be fixed as pull request #680 is merged.
[fixed file](https://github.com/keonkim/mlpack/blob/e99c282cf599be647b31e0159bcd91b5ff4821f0/src/mlpack/methods/softmax_regression/softmax_regression_main.cpp#L96)

[2016-06-15 06:41] gallupliu opened #698 "transplant hmm into android？"
First of all thank you for your software, I want to use it for gesture recognition on the phone, I should like how to transplant it I did not find the relevant library or sample? thank you

[2016-06-15 07:00] #697 closed

[2016-06-15 13:12] keonkim commented on #671
done in #680

[2016-06-15 13:12] #671 closed

[2016-06-15 13:12] keonkim commented on #667
done in #680

[2016-06-15 13:12] #667 closed

[2016-06-15 13:21] rcurtin commented on #698
Hi there,

I am not sure if anyone has done this before, but I think it should be possible.  I can't guide you through the process since I am not an expert at android development, however, you should be able to cross-compile mlpack for ARM (I have compiled mlpack on an ARM system before, so it does work, but the system was not Android).  The tricky bits will be the dependencies.  You will need to

[2016-06-15 15:11] gallupliu commented on #698
Thank you for your reply, I know  can cross compile on arm, but I found the library package i wrapper is very good, and you know, in the mobile platform should make the program as small as possible, so I hope to get some help and tips? thank you

[2016-06-15 15:15] rcurtin commented on #698
If you want to reduce the size of mlpack, you might be benefited by hacking it apart and removing everything from every `CMakeLists.txt` file that does not directly correspond to what you require for your work.  That will be a long process, though...  I would start by looking at what you need in `src/mlpack/methods/hmm/`, and then removing everything else.

[2016-06-15 15:32] gallupliu commented on #698
I have tried  hacking it apart ，But I think the coupling is too strong, but still very grateful for your reply

[2016-06-20 04:41] conradsnicta opened #702 "missing license header for verbatim copies from armadillo codebase"
Hi guys,

The file mlpack/src/mlpack/core/arma_extend/fn_ind2sub.hpp contains verbatim copies of the ind2sub() and sub2ind() functions from armadillo codebase (v7.100). The file was introduced by @nilayjain and merged in #683. Even though it's open source code and the functions are straightforward, the corresponding license must still be respected.

MLPACK is licensed under BSD, while Armadillo is

[2016-06-20 13:03] rcurtin commented on #702
Yep, I had previously thought this fell under Section 3.3 of the MPL:

[code]

but now that I look into it, this is not the case---the BSD license is not a "Not Incompatible Secondary License" (or whatever the correct terminology is).  So, you're right, we have to put the license there.  I've taken care of this in 7783497.

If you find anything else wrong, please let us know.  I am not a trained i

[2016-06-20 13:03] #702 closed

[2016-06-21 17:06] conradsnicta commented on #702
thanks for sorting this out :)

[2016-06-23 01:00] illidanswp opened #704 "I need all the dlls required to run mlpack on Windows"
I'm trying to run mlpack on Windows(10) with vs2015 x64, but the error " ***.dll is missing" keeps showing up again and again. I've got "libopenblas.dll", "cyggfortran-3.dll", "cyggcc_s-seh-1.dll" and "libgcc_s_seh-1.dll" by all kinds of means(It has taken me a long time).Finally after I got the "libgcc_s_seh-1.dll", a new error(code 0xc000007b) occurred(this error occurs probably because 64-bit p

[2016-06-23 02:17] MarcosPividori commented on #674
Closed by https://github.com/mlpack/mlpack/pull/693

[2016-06-23 02:17] #674 closed

[2016-06-23 09:33] zoq commented on #704
Do you use a pre built version of mlpack, or did you build mlpack yourself?

[2016-06-23 14:51] illidanswp commented on #704
Indeed I've tried the pre built version you provided in #659(How to build mlpack with visual studio 2013), and I've also built mlpack(successfully), but both cases have the same problems, as described above.

[2016-06-23 19:28] zoq commented on #704
Okay, so, if you tell us more about your setup e.g. how the ``PATH`` parameter looks like and which command you used to produce the error e.g. by calling ``mlpack_pca -h``, I do my best to reproduce the error.

[2016-06-24 01:11] illidanswp commented on #704
Thank you for your patience.
---------------------------------1st-----------------------------------------
![qq 20160624083641](https://cloud.githubusercontent.com/assets/8843561/16324621/8c115404-39e8-11e6-9a14-a20b60f81ab0.png)
----------------------------------2nd---------------------------------------
![qq 20160624084203](https://cloud.githubusercontent.com/assets/8843561/16324625/97efc918-39e

[2016-06-27 08:03] gallupliu opened #706 "expression vector subscript out of range"
`	mat observation;//obseration matrix
	Row<size_t> sequence;//label

	const size_t length = 75;
	const size_t startState = 0;

	HMM<DiscreteDistribution> hmm(2, DiscreteDistribution(4));

	hmm.Generate(length, observation, sequence, startState);`

`template<typename Distribution>
	void HMM<Distribution>::Generate(const size_t length,
		arma::mat& dataSequence,
		arma::Row<size_t>& stateSequence,

[2016-06-27 10:00] cypro666 opened #707 "data::load may becomes an io bottleneck?"
When I use mlpack_kmeans client tool for a big dataset about 300MB csv file:

[INFO ] Loading 'train.csv' as CSV data.  Size is **11 x 10000000.**
...
[INFO ] Program timers:
[INFO ]   **clustering: 21.957208s**
...
[INFO ]   **loading_data: 28.429786s**
[INFO ]   saving_data: 0.577348s
[INFO ]   total_time: 51.004174s

As we see, loading data takes a long time, even longer than training ... so I

[2016-06-28 08:46] cypro666 commented on #514
Infact, dual-tree or pelleg-moore(same as x-means) are really fast enough!!!
The implement of naive-kmean now is not suitable for parallel using omp, it's “textbook style”， but also good for small dataset ：）
**I changed the details of NaiveKMeans::Iterate method directly to use arma::kmeans**

[code]

Now it's as faster as armadillo's
But this should not be a correct, good or final solution *_*

[2016-06-28 21:26] stereomatchingkiss commented on #707
It is under optimizing, you can study more in #681. This implementation need to do data mapping when parsing. I haven't deal with the case it do not need to do data mapping yet.

[2016-06-29 01:11] stereomatchingkiss commented on #704
libgcc_s_dw2-1.dll
libgcc_s_seh-1.dll
libgfortran-3.dll
liblapack.dll
libopenblas.dll
libquadmath-0.dll
libwinpthread-1.dll

These are the dll needed on my laptop(y410p, windows 10 64bits). If I remember correct, I compile the openBLAS and lapack by the fortran compiler come with mingw.

[2016-06-29 02:50] cypro666 commented on #707
Data mapping is a good idea but seems it is another schema with DatasetInfo var prepared.
data::Load has different overload, what I refer to is above
[code]
This func is a powerful implment, but  when the file's loadType != arma::hdf5_binary, we use arma::Mat::load..., so tragedy. armadillo's load method does Not make much optimized work for raw_csv or raw_txt, it's based on c++ std iostream, in f

[2016-06-29 11:12] illidanswp commented on #704
@stereomatchingkiss Thank you. Would you please give me a copy of your dll files, since I wonder if I can get the right version. My Email is [illidanswp@gmail.com](url)

[2016-06-29 21:53] rcurtin opened #712 "Check if SortStruct provides any benefit."
This comes from the discussion of #699: we are not sure if using `SortStruct` instead of `pair<double, size_t>` provides any speedup. So we should check, and then pick the better of the two approaches.

[2016-06-30 07:39] lozhnikov commented on #712
I wrote a simple test. With `-O3` `std::pair` is faster then `SortStruct`.
If `n=100M`:
[code]
[main.cpp.zip](https://github.com/mlpack/mlpack/files/340894/main.cpp.zip)

[2016-06-30 08:04] lozhnikov commented on #712
I realized that we do not sort huge amounts of data. I corrected the test.
With `-O3` `std::pair` is a little bit faster.
If `n = 10`, `numIterations = 100M`:
[code]
[main2.cpp.zip](https://github.com/mlpack/mlpack/files/340950/main2.cpp.zip)

[2016-06-30 17:37] rcurtin commented on #712
Results on my system with gcc:

[code]

and with clang:

[code]

clang is much slower!  I also had one more test I wanted to do---using the default comparator for `std::pair`.  So I removed the third argument from line 74 of main2.cpp and switched the order of the pair to hold double first then size_t.

gcc:

[code]

clang:

[code]
SortStruct results:
unnecessaryCodeRemovalPreventer = 1.09091e+08

[2016-07-01 15:48] rcurtin commented on #706
Hi, I don't understand what the problem here is.  Can you provide more information on what you were trying to do, what the problem was, what the output was, and so forth?  I can't help out unless I know what the issue is.

Thanks,
Ryan

[2016-07-03 05:42] liwangqian opened #714 "build on elementory with liblapack.a(or liblapack.so) failed."
Linking CXX shared library ../../lib/libmlpack.so
/usr/bin/ld: /usr/local/lib/liblapack.so(dlamch.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC
/usr/local/lib/liblapack.so: error adding symbols: Bad value
collect2: error: ld returned 1 exit status
make[2]: *** [lib/libmlpack.so.2.0] Error 1
make[1]: *** [src/mlpack/CMakeFiles/mlpack.

[2016-07-05 01:24] rcurtin commented on #642
I think this issue is done, so I'll go ahead and close it.

[2016-07-05 01:24] #642 closed

[2016-07-05 17:54] rcurtin commented on #714
Hi there,

It looks like you have compiled LAPACK without -fPIC, so I think that is your issue.  Try recompiling LAPACK and this will probably fix your issue.

I think Elementary OS is built on Ubuntu, so you can probably use apt to install LAPACK and BLAS... `sudo apt-get install liblapack-dev libblas-dev`... then you will not have to compile LAPACK or BLAS by hand.

[2016-07-07 12:07] zoq opened #717 "QUIC-SVD fails if m=n."
The QUIC-SVD method doesn't work if `m = n`, however as pointed out in the paper **QUIC-SVD: Fast SVD Using Cosine Trees**:

it should work. One problem is that the CosineNodeSplit(); returns `if numColumns < 2` so the upcoming operations result in an error:

[code]

Right now, I can't see an easy fix, without changing some bigger parts of the code. Maybe someone else has a simple idea? Maybe @sid

[2016-07-07 14:37] siddharth-agrawal commented on #717
@zoq Unfortunately, no. It's been two years since I wrote the code, so this is now effectively someone else's code for me. Maybe @rcurtin has an idea, he has an awesome memory!

[2016-07-07 14:44] rcurtin commented on #717
I don't have an awesome memory, I just have lots of logs that I have to refer to... :)

I'll look into this when I have a chance, hopefully in the next week or so.

[2016-07-08 22:15] rcurtin commented on #712
Since the R+ and R++ trees are merged, I think we have a solution here so I'll go ahead and close this.

[2016-07-08 22:15] #712 closed

[2016-07-08 22:16] rcurtin commented on #630
Closing for inactivity.  Please reopen if you are still having an issue.

[2016-07-08 22:16] #630 closed

[2016-07-09 13:57] dongli opened #718 "Test had stuck in 2.0.2"
I am trying to build MLPACK 2.0.2 on OS X 10.11. The compilation is OK, but the test had stuck for half a day, and it is still running when I write this line.

[2016-07-09 15:22] rcurtin commented on #718
Are you using OpenBLAS?  I think I have seen this issue with OpenBLAS but I did not manage to dig in far enough to really debug it.

Can you try running the test with verbose output and seeing what it is hanging on?
[code]

[2016-07-09 23:14] dongli commented on #718
Yes, I am using OpenBLAS 0.2.18.

[code]

The test stuck here.

[2016-07-09 23:47] dongli commented on #718
I dug for the statement which stuck, and found it is:

[code]

[2016-07-10 05:45] anukul opened #719 "Compilation error"
I followed the instructions given [here](http://www.mlpack.org/docs/mlpack-2.0.2/doxygen.php?doc=build.html), but on the `make` step, I get the following error:

	➜  build make
	[  1%] Updating arma_config.hpp (if necessary)
	[  1%] Built target mlpack_arma_config
	Moving header files to include/mlpack/
	[  1%] Built target mlpack_headers
	[  2%] Building CXX object src/mlpack/CMakeFiles/mlpack.di

[2016-07-10 07:43] dongli commented on #718
I looked into `mlpack-2.0.2/src/mlpack/core/tree/cosine_tree/cosine_tree.cpp`, and found it use Monte Carlo, so I tested Armadillo with the following codes:

[code]

And the output is

[code]

It stuck here too! I tried Armadillo 6.700.7 and 7.200.2, both have this problem. I don't know if this is related.

[2016-07-10 14:30] rcurtin commented on #719
Hi there Anukul,

This seems weird to me because if Armadillo is detecting SuperLU, then SuperLU should be installed.  Can you try installing SuperLU with `dnf install SuperLU-devel` and then try compiling again?

I will check to see that the Fedora Armadillo package (and the Fedora mlpack package) have the correct install dependencies.  I wonder if the Armadillo package has SuperLU-devel as a bui

[2016-07-10 14:30] rcurtin commented on #719
Ah, I should also ask, what version of the armadillo-devel package is installed?

[2016-07-10 14:32] anukul commented on #719
You're right. SuperLU had to be installed separately.
Thanks!

[2016-07-10 14:36] anukul commented on #719
Okay, I installed SuperLU separately but the error still persists.

[2016-07-10 14:39] rcurtin commented on #719
Ok, let's dig a bit deeper then. :)

Can you list which armadillo/mlpack/SuperLU packages are installed on your system?

[code]

Then, can you provide the output of `cmake` when you run CMake to configure mlpack?  And also the actual build log itself?  It will probably be a lot of output but it should at least give us enough to dig in and figure out what is going on.

[2016-07-10 14:41] rcurtin commented on #718
I think that a simple workaround here is to not use OpenBLAS but that is not a good workaround.  Another simple workaround might be to set the number of threads to 1 by setting the environment variable `OPENBLAS_NUM_THREADS=1`.

That's not a solution of course, but it might keep you going while I figure out what is going on.  I seem to remember having come across some OpenBLAS issue that was simil

[2016-07-10 14:46] anukul commented on #719
List of packages:

	➜  build sudo dnf list installed | grep -i 'armadillo\|mlpack\|superlu'
	SuperLU.x86_64                         5.2.0-1.fc24             @fedora
	SuperLU-devel.x86_64                   5.2.0-1.fc24             @fedora
	SuperLU43.x86_64                       4.3-3.fc24               @fedora
	armadillo.x86_64                       6.700.6-1.fc24           @fedora
	armadillo-devel

[2016-07-10 14:58] rcurtin commented on #719
Ah, okay, I see.  That particular version of Armadillo was compiled against the `SuperLU43-devel` package, but you only have the `SuperLU-devel` and `SuperLU43` packages installed... so I think that if you install `SuperLU43-devel`, that should fix the issue.

Looking at the Armadillo spec files, I think that when you upgrade your system, the correct dependencies will be installed, so you should n

[2016-07-10 15:06] anukul commented on #719
That fixed it, thanks!

[2016-07-10 15:07] #719 closed

[2016-07-10 15:10] rcurtin commented on #719
Sure, glad we could help! :)

[2016-07-12 03:09] dongli commented on #718
Thanks. I will also keep looking for a better solution.

[2016-07-12 13:14] rcurtin commented on #718
Did the `OPENBLAS_NUM_THREADS=1` workaround work, by the way?

[2016-07-12 17:38] rcurtin commented on #380
I guess we can close this, because @Kirizaki's fix is implemented in master now and it is very nice.  Thanks again! :)

[2016-07-12 17:38] #380 closed

[2016-07-12 19:30] rcurtin opened #722 "Reduce compile time by removing unnecessary headers"
The compile time for mlpack is very long compared to other libraries of the same size.  There are many reasons for this; Armadillo (which is basically header-only) is one; boost is another; the template metaprogramming inside of mlpack is yet another.  But there are some ways that we can reduce compile time.

 * Some of the headers in `src/mlpack/core/prereqs.hpp` are not used in all parts of the

[2016-07-13 08:46] dongli commented on #718
I debugged the above small testing code on Armadillo, and use `lldb` to see which part causes the problem. Then I found the following infinite loop in `random.tcc` bared in `libstdc++`:

[code]

where `__x` and `__y` are always -1, so `__r2` is always 2.

BTW, I am using GCC 6.1.0 compiled by myself, so it is the problem of `libstdc++`? Sorry, it is not related to MLPACK actually.

[2016-07-13 11:56] dongli commented on #718
I found it may be the bug in Armadillo, since I tried the following codes which is OK:

[code]
which should call the same random functions as in `arma_rng::randn<double>()`.

[2016-07-13 13:15] dongli commented on #718
@rcurtin  After rebuilt Armadillo, the tests of MLPACK are all passed!

[2016-07-13 13:46] rcurtin commented on #718
Let me see if I can reproduce this issue, and if so, we can report it upstream to Armadillo and they can make a fix.

[2016-07-13 13:50] dongli commented on #718
Homebrew installed Armadillo does not have this problem, because in `include/armadillo_bits/config.hpp` it has:

[code]

I don't know how does Homebrew do this, since I follow the same procedure to build Armadillo.

[2016-07-13 17:16] anshuman23 commented on #722
Hi Ryan, I'd like to try my hand at this. I just have a trivial question, and I hope it isn't too kiddish:
- For the last point, do you mean that I should look for similar/repetitive definitions in mlpack and hence implement ```extern template``` definitions for them where I find them repeating?

As for the first 2 points, I've been looking at the source code and I'll try my best to redistribute t

[2016-07-13 17:30] rcurtin commented on #722
Great, I look forward to incorporating some changes to speed things up. :)

You're right about the last point, that is indeed what I meant.  Another nice thing is that if we are providing instantiated templates for common mlpack objects, then users who compile things against mlpack downstream should have faster compile times.

[2016-07-14 12:17] anshuman23 commented on #722
Alright, thank you! :D
Also, if I have to check for a reduction in compile time, would I have to compile from source every time to check?

[2016-07-14 12:29] rcurtin commented on #722
Yeah, if you wanted to check, you would need to `make clean` then `make` (or `make -jX` if you want to build with X cores).  Alternately, you could open a PR and push changes to it, and Travis will build it, but Travis will take about 30-45 minutes per build and there will be a delay before the build starts, so that may not be the most efficient way to do it.

[2016-07-17 21:22] FlavouredGeorge opened #725 "LinearRegression not working on Arch linux 4.6.4.1"
Hello, I built mlpack as per instructions here on git-hub and I seem to be able to load files in an out just fine, however, when I tried writing a short and sweet "hello world" linear regression is started throwing SIGILL (Illegal instruction) at me during runtime.

I compile using "g++ -std=c++11 -lmlpack  -larmadillo main.cpp". I also tried running:

mlpack_linear_regression -t iris.csv -r iris_

[2016-07-18 13:01] rcurtin commented on #725
Can you tell me how you compiled Armadillo?  `ldd /path/to/libarmadillo.so` might be helpful in debugging what's happened here.  I think the issue is with Armadillo, not mlpack, but as we get more information we will find out. :)

[2016-07-18 16:07] FlavouredGeorge commented on #725
The output of the command is:

	linux-vdso.so.1 (0x00007fffffff5000)
	libblas.so.3 => /usr/lib/libblas.so.3 (0x00007fdd3ac9d000)
	liblapack.so.3 => /usr/lib/liblapack.so.3 (0x00007fdd3a463000)
	libarpack.so.2 => /usr/lib/libarpack.so.2 (0x00007fdd3a218000)
	libsuperlu.so.4 => /usr/lib/libsuperlu.so.4 (0x00007fdd39fa5000)
	libstdc++.so.6 => /usr/lib/libstdc++.so.6 (0x00007fdd39c1e000)
	libm.so.6 =>

[2016-07-18 17:01] rcurtin commented on #725
Ok, thanks for the information.  Let's try something simple... can you compile the following program and execute it?

[code]

You might have to fix silly problems since I didn't actually compile and test that.  But you should be able to compile with `g++ -std=c++11 test.cpp -larmadillo`.  If that compiles and you run it, do you again encounter a SIGILL?

[2016-07-18 17:11] FlavouredGeorge commented on #725
Ok, so, it is indeed an issue related to me not installing armadillo properly, so sorry for bothering you with this :/

I got the following error:

In file included from /usr/include/armadillo:81:0,
                 from art.cpp:1:
/usr/include/armadillo_bits/include_atlas.hpp:28:47: fatal error: /usr/include/clapack.h: No such file or directory
       #include ARMA_INCFILE_WRAP(ARMA_CLAPACK)

Whi

[2016-07-18 17:17] FlavouredGeorge commented on #725
Ok, so. I installed atlas-lapack from the Arch repos and now both armatdillo and mlpack seem to work just fine... previously I seemed to have had some version of openblas (which atlas-lapack "removed" since they are "conflicting" with each other.... I don't understand how these libraries work)

Anyway, its working now, thank you a lot for helping me figure this out, sorry for wasting your time wit

[2016-07-18 17:24] rcurtin commented on #725
No worries, we are happy to help. :)

I think you said you installed Armadillo via pacman?  Is it possible that you had ATLAS installed at the time you installed Armadillo, but have since removed it?

You can modify your Armadillo configuration in `/usr/include/armadillo_bits/config.hpp` but to be honest it may be the best idea to just remove Armadillo entirely and reinstall (either via pacman or

[2016-07-18 17:25] rcurtin commented on #725
Ah sorry, I did not see your latest comment.  Glad to hear you have it worked out.  You might consider filing a bug on the Armadillo package or something like this to address the issue that you've had here.  I'll go ahead and close this then.  If you have any further problems, feel free to ask for help. :)

[2016-07-18 17:25] #725 closed

[2016-07-20 03:31] MarcosPividori opened #728 "Spill Trees implementation."
Hi! @rcurtin @sumedhghaisas
I have been working on the implementation of spill tree in the branch: [spill-trees](https://github.com/MarcosPividori/mlpack/tree/spill-trees)
I have summarized what I have implemented in a pdf file: [spilltrees.pdf](https://github.com/mlpack/mlpack/files/372825/spilltrees.pdf)
I would be grateful if you could let me know your opinion so I can continue with the impleme

[2016-07-20 16:02] sbrodehl commented on #722
@rcurtin You mentioned ```src/mlpack/prereqs.hpp``` is not needed in all parts and can be removed if this is the case, but how about ``` src/mlpack/core.hpp```? I think not all headers there are used in every part of the code, too, right?
Can one split up the headers there? Or use precompiled headers?
These kind of things should speed up the build process.

Or is there a special reason why those h

[2016-07-20 21:17] rcurtin commented on #722
I would not be opposed to pruning `core.hpp`. It was originally made for convenience, so that you could include basically all of the mlpack core, but if we are trying to accelerate compile time we should probably change the rest of the codebase to only include what is needed. I think we should still leave core.hpp there for users, though.

[2016-07-20 21:35] rcurtin commented on #717
When you say that it doesn't work, do you mean that it crashes or that its results are not good? If you have a test dataset and code I can use, that will help me figure out what is wrong.

It seems like there is at least a problem with the termination condition for building the tree, like you pointed out.

[2016-07-20 21:43] zoq commented on #717
It crashes, here is a simple test case:

[code]

[2016-07-22 11:57] mentekid opened #733 "GammaDistribution Implementation is Incomplete"
My GammaDistribution implementation (https://github.com/mlpack/mlpack/pull/729) is incomplete. Here's a summary of what's missing:
- `Probability(arma::vec&)`: A function that gives the probability of a given observation
- `LogProbability(arma::vec&)`: A function that gives the log probability of a given observation.
- `Random()`: Return a gamma-distribution random datapoint.
- `Train(observations

[2016-07-22 14:47] rcurtin commented on #728
I took a look through the document; thanks for writing it up.  I agree with your proof and the results.  (Also as a side note if you don't want `leftbound` and `rightbound` rendered as math text you can use `\mbox{leftbound}` or possibly `\operatorname{leftbound}`, and if you want numbered equations then enter math mode with `\begin{equation}` instead of `$$`.)

You are right that the tighter boun

[2016-07-22 14:50] rcurtin commented on #728
I should add, also, I see you commented yesterday you were going to start reimplementing the spill tree for the hyperplane split.  So maybe you've already come up with better ideas than the ones I had on how to do it, but hopefully what I wrote is helpful nonetheless.

Another thought I had is that I think (but am not sure) that it should be possible to build spill trees in such a way that you don

[2016-07-22 18:01] rcurtin opened #734 "RAModel test fails for different types of trees."
This may be related to #338.

I've committed a temporary workaround in 356dacf for this issue, but it should hopefully be temporary!

Many times, when `RAModelTest` in `src/mlpack/tests/krann_search_test.cpp` is run, there will be a failure indicating that too many queries have failed the rank approximation guarantee.  The output looks a bit like this:

[code]

But even with the value of 12 there,

[2016-07-23 00:03] MarcosPividori commented on #728
Hi @rcurtin,
Thanks for your response! I agree with what was proposed. So I will continue implementing the original approach with splitting hyperplanes.

I have been thinking about this. I list some ideas that I need to refine:

+ We can decide which child node to traverse in O(1) if we consider axis-parallel splitting hyperplanes.
As I mentioned in the pdf file, another option is to consider spli

[2016-07-23 12:03] lozhnikov commented on #734
I tried a number of random seeds and figured out that the algorithm with the Hilbert R tree failed in ~45% cases. Moreover, the single-tree algorithm works fine. The problem occurs in the dual-tree algorithm.

[2016-07-30 05:57] dongli opened #744 "static_assert about IsLMetric is too restrictive"
I want to set a custom metric to implement periodic boundary condition as

[code]

When I used it with RangeSearch class, the compiler complains:

[code]

I have commented that static_assert in `mlpack/core/tree/hrectbound.hpp` and everything is fine.

[2016-07-30 06:04] dongli opened #745 "RangeSearch with CoverTree causes segmentation fault when query one point"
I ran range search with cover tree on a simple test dataset. When I call `Search` method without providing query point, I got right result, but when I just want to query one point (because each point may have different range), I got `Segmentation fault: 11`. I used `lldb` to debug, and the result is

[code]

For comparison, I also used kd-tree, which has no such problem. The MLPACK version is 2.0.

[2016-07-30 14:17] dongli commented on #718
I think this can be closed now, since it is a bug in Armadillo.

[2016-07-30 14:17] #718 closed

[2016-07-31 03:50] dongli commented on #745
I found the cause, it is that I should use single mode when query one point.

[2016-07-31 17:21] rcurtin commented on #745
I see---but it is still a bug that a one-point tree is not being built correctly, so I will look into this when I have a chance.  Thanks for reporting! :)

[2016-07-31 17:21] rcurtin commented on #714
Closing for inactivity.

[2016-07-31 17:21] #714 closed

[2016-07-31 17:22] rcurtin commented on #706
Closing for inactivity.  Feel free to reopen/comment if needed.

[2016-07-31 17:22] #706 closed

[2016-07-31 17:22] rcurtin commented on #698
Closing for inactivity (reopen/comment if needed).

[2016-07-31 17:22] #698 closed

[2016-08-01 17:16] MarcosPividori commented on #728
Hi @sumedhghaisas @rcurtin,

I have implemented Spill trees with axis-parallel splitting hyperplanes. I have made an effort to avoid duplicating existing code for neighbor search.

I created a new class `SpillSearch` that provides an interface similar to `NeighborSearch` but with an extension to properly set the tau parameter. It encapsulates an instance of `NeighborSearch`.

Also, I have implemen

[2016-08-03 05:54] sumedhghaisas commented on #728
Hey Marcos,

I will look at yiur code tonight. I will also be available online so we can
discuss about it. Will you be free tonight??

Regards,
Sumedh Ghaisas

On 01-Aug-2016 10:46 PM, "MarcosPividori" <notifications@github.com> wrote:

[2016-08-03 12:47] MarcosPividori commented on #728
Hi Sumedh,
Yes, perfect. I will be online.
Thanks,
Marcos

[2016-08-04 20:18] MarcosPividori opened #750 "Use Enum Type to define different possible search modes, in neighbor search class."
About the implementation of NeighborSearch class, I think we should define a enum type like:

[code]

This way, constructors will be clearer, instead of using combinations of boolean values.

For example, we could have:

[code]

Instead of:

[code]

Also, the implementation will be clearer, because we could use `switch` statement when analysing the 3 possible situations.

[2016-08-04 20:23] rcurtin commented on #750
I agree with this idea.  If we want to do it before mlpack 3.0.0, that's fine, we just have to remember reverse compatibility.

Seems like there is a lot of reverse compatibility going on, maybe a 3.0.0 release is not so far away...

[2016-08-06 04:47] #745 closed

[2016-08-06 04:48] rcurtin commented on #745
Ok, I dug into it a little bit, and it was simply a minor edge case.  If you update to the latest git master revision (or wait for the next release), the issue should be solved.  Your workaround of using single mode works just fine (and honestly is a little bit faster since it doesn't involve the extra overhead of constructing a single-point tree).  Thanks for reporting this!

[2016-08-06 04:52] rcurtin commented on #744
But, the issue here is, I am not sure that `HRectBound::MinDistance()` and `HRectBound::MaxDistance()` will be correct when using the periodic boundary metric you've suggested here.  Since those two functions manually implement a distance calculation, I don't think they take into account the periodicity of the space you're writing here.

In the long long ago, there used to be a class called `Perio

[2016-08-06 06:19] keon opened #755 "Log::Info has incompatibility issue with some iomanip functions"
Log::Info works fine with std::setw, but I found that it has some issues with some functions in `<iomanip>`.
`std::fixed` and `std::setprecision` function is ignored when used together with Log::<any> functions.

[2016-08-06 13:54] rcurtin opened #756 "Refactor `RSModel` and `RAModel` to parallel `NSModel` and use `boost::variant`"
In 86a9852, `NSModel` was refactored to clean up a lot of the duplicated code and instead use `boost::variant` plus the visitor paradigm.  We should also apply these changes to `RSModel` and `RAModel`.

A good place to start here would be to look at the changes in 86a9852, and apply them to the very similar classes `RSModel` for range searching and `RAModel` for rank-approximate nearest neighbor s

[2016-08-07 06:11] dongli commented on #744
The codes seem to be correct without modifying `HRectBound`. Anyway, I will take a look at it. Thanks for your work!

[2016-08-07 07:40] dongli commented on #744
I just realized that I am using cover tree now for the periodic space, since cover tree can work in any metric. But in my test, kd-tree is faster than cover tree.

[2016-08-07 20:57] rcurtin commented on #717
I believe that I've fixed this in 5bd1e7c; the issue was basically that the cosine nodes would not split at all when there were two points, so I changed the minimum number of points.  In addition, the nodes would not split properly when there were only two points: the code (and the original equations in the paper) would cause both points to be in the left child, leaving an empty right child (which

[2016-08-07 20:57] #717 closed

[2016-08-07 22:42] rcurtin commented on #659
Closing for inactivity.  We can reopen this if needed.

[2016-08-07 22:42] #659 closed

[2016-08-07 22:55] rcurtin commented on #570
Closing for inactivity.  Feel free to reopen if necessary.

[2016-08-07 22:55] #570 closed

[2016-08-07 22:58] rcurtin commented on #525
Closing for inactivity... if you'd like to reopen this, we can, but I think the issue is solved.

[2016-08-07 22:58] #525 closed

[2016-08-08 03:09] keonkim opened #758 "TWO Mapping Objects for DatasetMapper"
Current `maps` object for DatasetMapper can be described as maps of
`map<dimension, pair<bimap<string, MappedType>, numMappings>>` (NumMappings usually being numeric primitive types.)

I think having multiple map policies can be simplified by having to two mapping objects.
One for mapping categories, one for mapping invalid values.
For validation & imputation purposes we could have another mapper

[2016-08-09 09:46] mphy opened #759 "Basic matrix multiplication error when done multiple times"
Hello. I have a mlpack program dealing with products of large matrices ~(100000,400).
Repeated executions started giving me different results and I have written a few lines example to illustrate such problem:

[code]

Here we find a simple matrix multiplication of matrix * column to obtain a column-> (400,61)*(61,1)=(400,1).
To check whether this method works I print out the last element of the re

[2016-08-09 13:14] rcurtin commented on #759
I tried running your code and I am unable to reproduce the problem.  Are you setting `LD_LIBRARY_PATH` before you run the program, perhaps?  If you can provide more details about your system, I can try to do a better job of reproducing.

[2016-08-09 13:22] zoq commented on #759
I'm also unable to reproduce the problem on my system.

[2016-08-09 14:34] mphy commented on #759
Thanks for your replies.
I am actually setting LD_LIBRARY_PATH to add /home/usrname/lib/mlpacklib/lib:/home/usrname/lib/Boost161/lib:
These are both libraries that I installed locally, to a different-from-default directory.

ldd output:

	linux-vdso.so.1 =>  (0x00007ffef8fca000)
	libmlpack.so.2 => /home/usrname/lib/mlpacklib/lib/libmlpack.so.2 (0x00007f651dc79000)
	libarmadillo.so.7 => /usr/lib64/

[2016-08-09 16:36] stereomatchingkiss commented on #758
// MapType = maps<dimension, bimap<string, MappedType>>;
MapType maps;
size_t numMappings;

How do you keep track of the number of mappings of each dimension?Do
you mean we could just

record the number of total mappings?

Could you show us some examples?Thanks

[2016-08-09 17:13] rcurtin commented on #759
Hmmm... can you try running with regular LAPACK/BLAS instead of OpenBLAS on the system that is failing?

[2016-08-09 20:59] rcurtin commented on #733
This is nearly done, but the `Train(observations, probabilities)` function isn't done yet.  Here is some discussion on how that might be done:

https://github.com/mlpack/mlpack/pull/751#discussion_r73780816

[2016-08-10 07:38] mphy commented on #759
Well, it seems you're pointing me to the right direction. I tried disabling the Armadillo wrapper and linking BLAS and LAPACK:
g++ main.cpp -O2 -std=gnu++11 -I/home/usrname/lib/Boost161/include -L/home/usrname/lib/Boost161/lib -lmlpack -I/home/usrname/lib/mlpacklib/include -L/home/usrname/lib/mlpacklib/lib -I /usr/include/armadillo_bits -DARMA_DONT_USE_WRAPPER -lblas -llapack

No problems so far!

[2016-08-10 07:57] mphy commented on #759
Well, it seems you're pointing me to the right direction.
I first tried setting the export OPENBLAS_MAIN_FREE=1 env variable with no luck.

I then tried disabling the Armadillo wrapper and linking BLAS and LAPACK. Apparently I haven't succeded in disabling Openblas, but blas is linked before and takes over it.
g++ main.cpp -O2 -std=gnu++11 -I/home/usrname/lib/Boost161/include -L/home/usrname/lib/B

[2016-08-10 21:40] rcurtin commented on #759
It could also be MKL; I am not sure.  Based on the behavior you were seeing, my thought is that the error stems from an underlying library under mlpack and under Armadillo.  I'm guessing that when you compiled the mlpack program, it may have used some different dependencies than when you used Armadillo directly.  You could use `ldd` on each program that you built in order to see if there are any d

[2016-08-13 18:24] rcurtin commented on #758
I agree with @stereomatchingkiss, I'm not sure I understand how this would simplify things.

[2016-08-14 03:31] keonkim commented on #758
Sorry several ideas got mixed up while writing the issue. I am writing a sample program and a more clear explanations on the issue. Will be done by tomorrow.

[2016-08-14 17:08] Kirizaki commented on #613
Did anyone check @keonkim solution?

[2016-08-14 22:08] zoq commented on #613
Yes, you might have to adjust some parameters, some packages have been updated since then. e.g. boost version, the latest version is now 1.61 instead of 1.60.

[2016-08-15 09:36] Kirizaki commented on #613
I've already verified @keonkim solution to build mlpack under VisualStudio2015.

Big thanks to @keonkim :+1:

[2016-08-15 18:31] MarcosPividori opened #761 "General Defeatist Search Traverser."
Hi,
We want to provide a general *Defeatist Search Traverser* for every *TreeType*, as we do with `SingleTreeTraverser` and `DualtreeTraversers`.
This discussion started in the PR https://github.com/mlpack/mlpack/pull/747:
+ https://github.com/mlpack/mlpack/pull/747#issuecomment-237901505
+ https://github.com/mlpack/mlpack/pull/747#issuecomment-238137161
+ https://github.com/mlpack/mlpack/pull/747

[2016-08-15 20:24] rcurtin commented on #761
I agree, I think `SingleTreeGreedyTraverser` is just fine for a name.  I think we can write a completely general traverser; I don't think it needs to be tree-specific.

[2016-08-17 20:24] rcurtin commented on #613
Let's go ahead and close this then, since the process for building on VS2015 seems to be known and tested.  @Kirizaki, feel free to open new tickets if you like.

[2016-08-17 20:24] #613 closed

[2016-08-19 00:51] keonkim commented on #758
discarded this approach.

[2016-08-19 00:51] #758 closed

[2016-08-20 23:59] #728 closed

[2016-08-23 13:31] rcurtin commented on #750
This actually won't be completed until mlpack 3.0.0 when #768 is merged, but I guess, since we already have the code ready to go, maybe there is no reason to have this ticket open anymore and I should close it again...!

[2016-08-23 13:31] #750 closed

[2016-08-23 18:15] MarcosPividori commented on #761
Closed after  PR https://github.com/mlpack/mlpack/pull/762 was merged!

[2016-08-23 18:15] #761 closed

[2016-08-23 18:38] Kirizaki commented on #380
I'm working now on ```mlpack::backtrace``` on Windows so maybe we could re-open this topic or should I create new?

[2016-08-24 14:03] rcurtin commented on #380
I'd open a new ticket for that, if that's ok with you.

[2016-08-24 16:14] Kirizaki commented on #380
No problem, go ahead.

[2016-08-29 16:05] Kirizaki commented on #704
@illidanswp Try mlpack wiki: [Using mlpack in other applications under Visual Studio 2015](https://github.com/mlpack/mlpack/wiki/WindowsBuild#using-mlpack-in-other-applications-under-visual-studio-2015). This should help you.

[2016-08-29 19:37] Kirizaki opened #771 "Log::Fatal backtrace under Windows"
I'm working on `mlpack::backtrace` under Windows.

I would like to use `DbgHelp.dll` and some additional `Windows` dependencies which are provided by `Visual Studio 2015`. At the moment I'm compiling without `mlpack` but I'm getting nice backtrace:

[code]

But problem is that crazy output if I'm compiling solution with argument `/Wall`:
http://pastebin.com/t6psRQPm

If compile with `/W3` it's lik

[2016-08-29 19:38] Kirizaki opened #772 "#TO_DELETE"
TO_DELETE

[2016-08-29 19:39] #772 closed

[2016-08-29 22:03] MarcosPividori opened #773 "User rvalue references to set a given reference tree in RASearch, RangeSearch, FastMKS, and DualTreeBoruvka"
Update the code to include changes similar to the ones included in the PR: https://github.com/mlpack/mlpack/pull/765

[2016-08-30 18:26] lozhnikov commented on #313
I think I've fixed the issue in 26803dc and 69947df. These commits increase the resolution of the formulas and add MathJax Doxygen HTML output (disabled by default).

[2016-08-30 18:27] #313 closed

[2016-09-01 14:48] KungFuJesus commented on #717
Your fix worked for small matrices, however sizable ones still crash, whether they are square or not.  I am using MKL for BLAS & LAPACK implementations, though that should not matter.  Here's my test code:

#include <stdio.h>
#include <stdlib.h>

#include <mlpack/core.hpp>
#include <mlpack/methods/quic_svd/quic_svd.hpp>

int main(int argc, char *argv[])
{
    using namespace mlpack;
    using name

[2016-09-01 15:25] rcurtin commented on #717
Hi there, thanks for the report (nice hostname by the way, I like it).  I can't seem to reproduce this with regular BLAS/LAPACK.  I suspect this may be a different issue than the original issue here; would you mind opening a new issue so we can debug it there?  Also, if you can get me the versions of MKL, Armadillo, and mlpack (probably git master?) you're using, I can try and reproduce and then d

[2016-09-01 16:32] KungFuJesus opened #774 "QUIC-SVD fails with MKL for many sizable inputs"
Utilizing MKL 11.3.3.170 (which is entirely free now, by the way), I get crashes while utilizing QUIC-SVD with simple, arbitrarily sized random matrices.   MKL complains loudly about the pivot row parameter repeatedly for a row swapping function.  Here's the test code & output:

[code]

adam@Crushinator:~$ ./test.out 101 132

ntel MKL ERROR: Parameter 6 was incorrect on entry to DLASWP.Intel MKL E

[2016-09-01 16:32] KungFuJesus commented on #717
Sure thing, filed here: https://github.com/mlpack/mlpack/issues/774

[2016-09-01 17:51] rcurtin commented on #774
Ok; when I have a chance I will try and reproduce this, and we can go from there (expect a few days until I get to this).  Thanks for the detailed report.

[2016-09-01 18:45] aditya1315 commented on #733
@rcurtin I can take this up. I will try to implement it and get back to you in a few days?

[2016-09-01 19:03] rcurtin commented on #733
@aditya1315: you are more than welcome to do this.  If you open a PR, be sure that it follows the style guidelines (found on the wiki under the page 'DesignGuidelines') and that it has some tests to go along with it.  Thanks!

[2016-09-03 09:14] ferbncode commented on #756
Hi, i would like to work on this issue. Thanks :).

[2016-09-03 15:42] hunk3749 opened #776 "unable to build mlpack"
-- Checking for C++11 compiler
-- Checking for C++11 compiler - available
CMake Error at CMake/FindArmadillo.cmake:326 (message):
  ARMADILLO_INCLUDE_DIR-NOTFOUND/armadillo_bits/config.hpp not found! Cannot
  determine what to link against.
Call Stack (most recent call first):
  CMakeLists.txt:133 (find_package)

-- Configuring incomplete, errors occurred!

[2016-09-03 16:14] rcurtin commented on #776
Hi there, do you have Armadillo installed?

[2016-09-03 18:06] hunk3749 commented on #776
when i tried to install dependencies for mlpack it shows this-
dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~$ sudo apt-get install libboost-math-dev libboost-program-options-dev
[sudo] password for dhanpal:
Sorry, try again.
[sudo] password for dhanpal:
Reading package lists... Done
Building dependency tree
Reading state information... Done
libboost-program-options-dev is already the newest version

[2016-09-03 18:17] zoq commented on #776
Can you also check if ``libarmadillo-dev`` is already installed and probably post the output?

[2016-09-03 18:23] hunk3749 commented on #776
it is installed but and older version which is not compatible with the mlpack
would you please guide me installing the Armadillo >= 4.100.0 on my ubuntu 12.04

[2016-09-03 18:33] zoq commented on #776
If you are able to upgrade your OS, that would be the easiest way, if not you could use the armadillo version from ``ppa:comp-phys/stable``:

[code]

[2016-09-03 18:48] hunk3749 commented on #776
ok after installing newest version i am getting this error-
dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~$ sudo -s
[sudo] password for dhanpal:
root@dhanpal-HP-Pavilion-15-Notebook-PC:~# cd mlpack-2.0.3
root@dhanpal-HP-Pavilion-15-Notebook-PC:~/mlpack-2.0.3# cd build
root@dhanpal-HP-Pavilion-15-Notebook-PC:~/mlpack-2.0.3/build# cmake ../
-- Checking for C++11 compiler
-- Checking for C++11 compiler

[2016-09-03 18:55] hunk3749 commented on #776
sorry for above wrong reply but after installing newest version of armadillo i am getting this error-
dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~/mlpack-2.0.3/build2$ cmake ../
-- The C compiler identification is GNU
-- The CXX compiler identification is GNU
-- Check for working C compiler: /usr/bin/gcc
-- Check for working C compiler: /usr/bin/gcc -- works
-- Detecting C compiler ABI info
-- Det

[2016-09-03 18:58] zoq commented on #776
Your boost version is also outdated:

[code]

you could use the version from: ``ppa:boost-latest/ppa``:

[code]

[2016-09-03 19:09] hunk3749 commented on #776
again i am getting the same error after following you and pasting sudo add-apt-repository -y ppa:boost-latest/ppa in my terminal iand getting this-dhanpal@dhanpal-HP-Pavilion-15-Notebook-PC:~$ sudo add-apt-repository -y ppa:boost-latest/ppa
[sudo] password for dhanpal:
gpg: keyring `/tmp/tmphh4slP/secring.gpg' created
gpg: keyring `/tmp/tmphh4slP/pubring.gpg' created
gpg: requesting key 029DB5C7 f

[2016-09-03 19:15] zoq commented on #776
Looks like I've missed one step, you also have to update the boost package e.g.:

[code]

[2016-09-03 19:19] hunk3749 commented on #776
do apt-get install libboost-math-dev libboost-program-options-dev libboost-test-dev libboost-serialization-dev
Reading package lists... Done
Building dependency tree
Reading state information... Done
libboost-program-options-dev is already the newest version.
libboost-serialization-dev is already the newest version.
libboost-test-dev is already the newest version.
libboost-math-dev is already the

[2016-09-03 19:21] zoq commented on #776
can you test:

[code]

[2016-09-03 19:53] hunk3749 commented on #776
sudo apt-get install libboost1.54-all-dev
[sudo] password for dhanpal:
Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libboost1.54-all-dev
E: Couldn't find any package by regex 'libboost1.54-all-dev'

[2016-09-03 20:26] zoq commented on #776
hm, that's strange, I can't test it right now, but maybe you have to update the packages repo:

[code]

[2016-09-03 21:26] hunk3749 commented on #776
thank you
please tell me how to build and install mlpack-2.0.3 because i unable to follow documentation instructions

[2016-09-04 12:58] eddelbuettel opened #777 "pkg-config support?"
I am currently building a small project against MLPACK and its library.  I use standard tools to 'find' where `libmlpack.so` may be installed.

One solution that has emerged over the years is support for [pkg-config](https://en.wikipedia.org/wiki/Pkg-config).  This seems to have originated from the desktop world but is clearly used in other places.  Take for example [nlopt](http://ab-initio.mit.ed

[2016-09-05 06:57] kc420 opened #779 ""undefined reference" when complie "adaboost_test.cpp""
/usr/bin/ld: /tmp/ccQ9Gcrj.o: undefined reference to symbol '_ZN5boost7archive6detail17basic_iserializerC2ERKNS_13serialization18extended_type_infoE'
//usr/lib/x86_64-linux-gnu/libboost_serialization.so.1.58.0: error adding symbols: DSO missing from command line

Compile option:
[cmd: ['g++', '/home/cwind/Downloads/tests/adaboost_test.cpp', '-std=c++11', '-o', '/home/cwind/Downloads/tests/adaboost

[2016-09-05 10:34] kc420 commented on #779
I found that I should use cmake....
It seems that CMakeLists doesn't open c++11,  and I fixed it.
Then I encountered this:
[100%] Linking CXX executable mlpack_test
/usr/bin/ld: CMakeFiles/mlpack_test.dir/quic_svd_test.o: undefined reference to symbol 'wrapper_dgetri_'
//usr/lib/libarmadillo.so.6: error adding symbols: DSO missing from command line
collect2: error: ld returned 1 exit status
CMakeF

[2016-09-05 12:34] rcurtin commented on #779
Hi there, we need a lot more information on what you are doing before we can help. The mlpack CMake configuration does support C++11, so it seems possible that your modifications are what have caused the linking to fail. Have you seen the mlpack build tutorial? I would suggest following that.

[2016-09-05 13:13] zoq commented on #776
So I was wondering if the ``4 not upgraded`` packages are the boost packages. Can you post the output of:

[code]

[2016-09-05 13:16] kc420 commented on #779
I have built and installed mlpack follow the tutorial:
http://mlpack.org/docs/mlpack-2.0.3/doxygen.php?doc=build.html#build
Do you mean that?

When I build the tests without modification, error message shows:

Scanning dependencies of target mlpack_test
[  1%] Building CXX object CMakeFiles/mlpack_test.dir/mlpack_test.o
[  2%] Building CXX object CMakeFiles/mlpack_test.dir/adaboost_test.o
In file

[2016-09-05 16:36] hunk3749 opened #780 "unable to build mlpack getting error while executing make command"
make
Scanning dependencies of target mlpack_arma_config
[  0%] Updating arma_config.hpp (if necessary)
-- Regenerating arma_config.hpp.
[  0%] Built target mlpack_arma_config
Scanning dependencies of target mlpack_headers
Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
Scanning dependencies of target mlpack
[  0%] Building CXX object src/mlpack/CMakeFiles/mlpack.dir/core/