[2021-04-03 02:11] rcurtin commented on #2646
I don't think it's important.  I think personally that a CSV file with a line break in the middle of the row is malformed... but the definition of CSV is fuzzy, so it's not really clear whether my opinion is right. :)

@shrit and I were talking today at the video meet-up about this... the Armadillo CSV parser is so fast that if our simulations show that the other alternatives we're comparing aren'

[2021-04-03 05:49] heisenbuug commented on #2646
Benchmarking for all 4 parsers

- Armadillo's parser
- mlpack's custom CSV parser
- rapidcsv
- fastcsv

Code: https://github.com/heisenbuug/Benchmark-CSV-Parsers

**5 Columns**
![5_cols](https://user-images.githubusercontent.com/32970979/113469647-ef791200-946c-11eb-99e5-2bccc42e3373.png)

**15 Columns**
![15_cols](https://user-images.githubusercontent.com/32970979/113469656-fbfd6a80-946c-11eb-9ff

[2021-04-03 06:11] #2796 closed

[2021-04-03 10:56] heisenbuug commented on #2524
Hello everyone.

First of all thanx to @rcurtin for putting together the document and everyone who worked towards those goals.
It is also visible that everyone is working towards making these improvements possible.

We have made progress in many directions since the start of this issue. Removing dependencies is still in progress.

My actual idea is to build a data frame like class for mlpack, here

[2021-04-03 13:55] rcurtin commented on #2646
Nice, thanks for putting this together!  I have some comments about the code:

 * For rapidcsv, we should read in one row at a time.  Reading a column from a CSV is a bit of a strange operation, since on disk a column is not contiguous.  But a row is contiguous.  So, we should read a row at a time, and put that into the matrix.  Also, the matrix should be transposed on load---so the number of colu

[2021-04-03 14:34] heisenbuug commented on #2646
For `FastCSV` the `.next_line()` function returns a char pointer which also includes comma as an element so I separated them based on comma and inserted each one into a vector(after converting them to double).

FastCSV doesn't have well-documented examples so I read the code and figured this out. I myself thought the same that I can use a simple `fstream` to read data like that but I couldn't figu

[2021-04-03 17:57] RishabhGarg108 opened #2903 "Outdated "Testing Guidelines" on the wiki page"
#### Problem location

https://github.com/mlpack/mlpack/wiki/Testing-Guidelines#creating-tests

#### Description of problem

We have ported our test suites from Boost to catch2 in #2523. So, we can change the documentation to
[code]

I think that github doesn't allow changes to wiki files from people other than the maintainers so I am unable to make a PR for it.
@rcurtin @zoq, can you please updat

[2021-04-03 18:01] heisenbuug commented on #2646
Heyy @rcurtin I made the changes

- Now I am loading all the data in fmat
- transposing the matrix after loading
- Still in doubt regarding the `FastCSV` but I am still including it in the benchmarks

I will post the results once its done.

[2021-04-04 01:05] rcurtin commented on #2646
If FastCSV is too difficult to figure out how to use correctly, well, that's kind of something that might rule it out. :)

[2021-04-04 08:03] heisenbuug commented on #2646
Hey @rcurtin, these are new graphs
![5_cols](https://user-images.githubusercontent.com/32970979/113502458-0ccfde00-954a-11eb-9850-592547c36f1b.png)
![15_cols](https://user-images.githubusercontent.com/32970979/113502459-0e010b00-954a-11eb-9548-97017d0a8974.png)
![25_cols](https://user-images.githubusercontent.com/32970979/113502460-0e99a180-954a-11eb-91e4-294c898f6ba8.png)

Can you comment on this

[2021-04-04 09:13] shrit commented on #2646
@heisenbuug @rcurtin, it is the same performance as before, I would vote for armadillo parser. You would have to copy the `diskio_meat.hpp` from armadillo and adapt it for mlpack. I do think that it is impossible to get better performance than `armadillo`.
These are my thoughts, let me know what do you think.

[2021-04-04 17:33] MarkFischinger commented on #2855
@zoq It would be best if I could just load the model into the [Training Code](https://gist.github.com/MarkFischinger/b8a893ac87b4b6320cd704a87a56f29b) at the beginning, but this is apparently not possible, because the model is always reset to other parameters when you create the agent.

(There are comments in the training code at the important places:  `// NOTE for Question:`)

[2021-04-06 00:07] hello-fri-end commented on #2891
Hey @zoq, can you please take a look at this? I'm unable to figure this out.

[2021-04-06 12:39] NippunSharma commented on #2679
Hey @Anmol2001, are you still working on the GO bindings? If not I would like to have a shot at it.

[2021-04-06 14:07] rcurtin commented on #2869
Ok---I've managed to reproduce things.  For `pthread`, I just needed to add `pthread` to the list of libraries to link against (e.g. `COMPILER_SUPPORT_LIBRARIES` in CMake).  We'll probably need to find some better way to do that, but for now this works.  (I'll post more about that in #2531.)

Anyway, on my Chromebook Plus, I don't get infinite loops, but I do get test failures, which are probably

[2021-04-06 15:28] Anmol2001 commented on #2679
Hi @NippunSharma  Actually I was busy with my project idea , but I will continue on this (GO). You can try with other bindings like Julia.

[2021-04-06 20:04] shrit commented on #2869
Thanks for the feedback, Yes, it is exactly the same problem, It used to gives `std::bad_alloc` when it gets out of the infinite loops eventually (in rare cases).
I will take care of the `pthread`

[2021-04-07 00:47] rcurtin commented on #2646
Agreed, @shrit's idea seems like the right call here.  Basically we can adapt the CSV reader in `diskio_meat.hpp` to also have functionality to map non-numeric types.  Here's the place where Armadillo's CSV reader converts a string into a numeric type: https://gitlab.com/conradsnicta/armadillo-code/-/blob/10.4.x/include/armadillo_bits/diskio_meat.hpp#L1680.  In essence, we would want to call `Data

[2021-04-07 10:59] Anmol2001 commented on #2679
I am getting error while installing Go Bindings on the `make install` command
`Building CXX object src/mlpack/methods/lsh/CMakeFiles/mlpack_go_lsh.dir/__/__/bindings/go/build/lsh.cpp.o
c++: internal compiler error: Killed (program cc1plus)`

I am using [this](https://www.mlpack.org/doc/stable/doxygen/go_quickstart.html) documentation for installing GO bindings.

[2021-04-07 11:09] rcurtin commented on #2679
@Anmol2001 looks like you're running out of RAM... maybe use fewer cores when compiling?

[2021-04-07 11:38] Anmol2001 commented on #2679
@rcurtin I was already using single core and i have tried using -j1 as well as -j4 but the error remains same. Also few days back , I have submitted a draft proposal  on Adding Image quality metrics which also included the metric which is used in the VMAF by Netflix. Looking for your feedback : )

[2021-04-07 13:37] NippunSharma commented on #2679
@Anmol2001 I am not completely sure about this but, take a look [here]( https://github.com/mlpack/mlpack-go/blob/1958871f884cf93224f11a852cb511cb87cb115b/Makefile#L78), in this Makefile in this line it is automatically using all cores. @rcurtin can you confirm this?

[2021-04-07 16:16] gopalkb opened #2906 "add_custom_target cannot create target "mlpack_arma_config" because another target with the same name already exists"
I have been following [this](https://keon.github.io/mlpack-on-windows/) and [this](https://www.mlpack.org/doc/stable/doxygen/build_windows.html) for setting up mlpack on Windows 10 using Visual Studio 2019. While I have been able to compile everything till Armadillo binaries, when compiling the mlpack using cmake is turning out to be really frustrating now. After going through a lot of errors, I t

[2021-04-07 17:30] heisenbuug commented on #2646
Thank you for the feedback and inputs @shrit and @rcurtin
Now that we have decided that we will be going with `diskio_meat.hpp` I will make my proposal around adapting this for non-numeric data. We basically have to use the functionality of  `DatasetMapper` to get `diskio_meat.hpp` up and working for non-numeric data.

@rcurtin I will make necessary changes here so that we can see how it works, an

[2021-04-08 21:35] rcurtin commented on #2903
Awesome, thanks for the fix!  Updated. :+1:

[2021-04-08 21:35] #2903 closed

[2021-04-09 14:13] MarkFischinger commented on #2855
@zoq There is a problem with the [`q_learning_impl.hpp`](https://github.com/mlpack/mlpack/blob/051b80b72eca752257a6d51c455b91e2fd534892/src/mlpack/methods/reinforcement_learning/q_learning_impl.hpp#L55), because the weights are reset. If I now want to load old weights then these are reset, too. Is it necessary to reset the weights there or is it possible to include an if statement if they should b

[2021-04-09 19:09] mercierc commented on #2895
If it can explain some differences, in sklearn the diagonalization of the covariance matrix is done by SVD while mlpack use an eigen decomposition.

[2021-04-10 02:53] Davidportlouis opened #2907 "Upsampling Layer"
I'm trying to implement a deep learning model for reconstructing noisy images using convolutional autoencoder, below i have outlined my encoder & decoder architecture
[code]

[code]

It seems mlpack does not have an implementation for Upsample Layer, The Upsampling layer is a simple layer with no weights that will double the dimensions of input. Is there any alternative in mlpack

[2021-04-10 16:36] rcurtin commented on #2817
This is actually still an issue, so I'll leave it open.

[2021-04-10 17:23] shrit commented on #2869
@rcurtin I have spent time trying to debug the `pthread` issue. I have found that when `find_package(thread)` is called in CMakeListe it is only finding the header `pthread.h` and not the library itself. Therefore, making mlpack dependant on the header rather than the library,  on the `x86_64` system this passes fine, because the linker script knows where to look for `pthread`, only `-lpthread` is

[2021-04-11 03:45] conradsnicta commented on #2646
@rcurtin That's actually worringly surprising :) I rewrote it a while back, and my recollection is that there is still quite a lot of room for improvement.  I'm not entirely proud of the resulting code.  I do hope that fast != broken, because the speed difference compared to the other CSV readers is rather suspicious.

Maybe it's simply due to supporting only numerical data, but my gut tells me so

[2021-04-11 04:15] rcurtin commented on #2906
Hi @gopalkb; sorry that you have been having a frustrating time.  Honestly, compiling complicated C++ libraries on Windows can often be difficult.  I am not sure if it's realistic in your setup, but if you can, you may have an easier time if you can switch to Linux (or similar).  Personally, I am not very much of a Windows expert, but I can try and help you debug.

I would really not suggest using

[2021-04-11 05:35] xlindo commented on #2895
Thanks.
And I thought this may be caused by old assembler with lower precision (for OpenBLAS).

[2021-04-12 03:26] hello-fri-end commented on #2907
Hey @Davidportlouis, you can use  [`BilinearInterpolation` ](https://www.mlpack.org/doc/stable/doxygen/classmlpack_1_1ann_1_1BilinearInterpolation.html) layer for upsampling.

[2021-04-12 08:40] gopalkb commented on #2906
Hi @rcurtin Thanks for your response. I don't seem to have much knowledge on the build process using CMake, so it is something I will need to spend some time on. Also, I am not sure why or if I need pkg-config in my case, but the thing I noticed is when I commented the code in the CMake file related to pkg-config, I didn't get any errors but the mlpack binaries were not there in the directory. I w

[2021-04-13 12:28] mattg-sp commented on #1858
Hello.  I stumbled across this while researching a similar issue.  The workaround I've found is to export the environment variable `OMP_WAIT_POLICY=passive`.

However, from reading the source code of libgomp, it seems to me there's a possibility the dependent variable won't be set.  In that case, you might get lucky and find it's 0 (as seems to be the case, for me), but you could be sure by also e

[2021-04-13 13:01] rcurtin commented on #2869
I think that this will fix the issue:

https://gist.github.com/85e4f97332ae58ea7f4e9aa5036b9080

Basically, it seems that using reverse iterators with a `std::map<>` on cross-compiled arm64 code causes failures.  Maybe this is a compiler bug, but I did not dig deeper (or try a different compiler).  Instead, I simply worked around the issue by adapting the cover tree to use forward-mode iterators (

[2021-04-13 15:06] NippunSharma commented on #2832
Hi @rcurtin , I was trying to call different `mlpackMain()` simultaneously, as you suggested. I am not sure whether what I am trying to do is correct or not. Can you take a look and tell if this is what you mean?

    #include <bits/stdc++.h>
    using namespace std;

    void threadTask(string output_model_name)
    {
      string cmd = "mlpack_random_forest --training_file data.csv --labels_file

[2021-04-13 21:22] shrit commented on #2832
@NippunSharma What does it gives when you un this code?

[2021-04-13 21:41] shrit commented on #2832
Let us stress it a little bit
[code]

[2021-04-13 21:42] shrit commented on #2832
@NippunSharma try this one, and let me know about the results,

[2021-04-13 22:12] rcurtin commented on #2832
This won't work because you are running different processes, so each process ends up with its own `IO` singleton.  Instead, if you want to reproduce the issue, you would need to have each thread access `IO` directly and then call `mlpackMain()`.  Honestly, I think it might be easier to reproduce it from Julia, just calling a bunch of different bindings simultaneously.  If it doesn't crash outright

[2021-04-14 00:18] zoq commented on #2903
Thanks, I just added a reference to https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/README.md as well.

[2021-04-14 07:07] NippunSharma commented on #2832
@rcurtin okay, I get it now.
I tried a different method now. I wrote some sort of a test like written in `tests/main_tests` that checks for thread safety.
It looks like follows:

[code]
Then I run this test individually for checking any errors. Is this a valid method to check for thread safety?
While running this I encountered some errors, which were due to `std::move` in the `adaboost_main.cpp` f

[2021-04-14 13:11] medias661 opened #2914 "Incorrect implementation of Swish function ?"
After digging into the source of some activation function in mlpack I figured out that the current implementation of the Swish function somehow does not match the original [paper](https://arxiv.org/abs/1710.05941). The original paper means to have a beta parameter (B) to control the behavior of the function itself in which when B=1 the Swish become like SILU and when B=0 the Swish become like a sc

[2021-04-14 14:22] rcurtin commented on #2832
Did you get an error?  If you got an error, it's a valid method to check for thread safety.  Personally I would suggest using a number of different bindings, but this is hard from C++ (hence, why I personally found this originally in Julia).  The whole idea is to get each thread to look for *different* information from the `IO` singleton, which is shared across all threads.

[2021-04-15 00:05] zoq commented on #2914
Correct what we implemented is what is called `Swish-1` in the paper, which is also what tf and pytorch implements. I don't mind to extend the function and introduce the trainable parameter.

[2021-04-15 02:01] FawwazMayda commented on #2914
What a good explanation by @medias661. Assume that I am going to fix the Swish activation function, do I have to remove the current `swish_function.hpp` and re-implement it in the layer as `swish_layer.hpp`? Also does the beta parameter will be supplied when instantiating the SwishLayer class or let the B parameters adjusted accordingly when doing training @zoq @medias661?

[2021-04-15 14:11] #2858 closed

[2021-04-15 18:00] MarkFischinger opened #2915 "Error when Loading Model in SimpleDQN"
#### Issue description

If I want to reuse a saved model and load it back in a [SimpleDQN](https://mlpack.org/doc/mlpack-3.3.1/doxygen/classmlpack_1_1rl_1_1SimpleDQN.html), I get an error, even though it is the same architecture as before.

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Ubuntu 20.04
 * compiler: g++ 9.3.0
 * version of dependencies (Boost/Armadillo):  1.71

[2021-04-15 18:08] MarkFischinger commented on #2915
I created this [Adjusted Testing File](https://gist.github.com/MarkFischinger/779bd1c56202b922d0aac9a0ab89ba89), so that you could if you want to, test the second code by yourself. I hope it helps!

[2021-04-15 20:19] zoq commented on #2914
Let's implement it as a layer, also the parameter is passed to the constructor or can be modified via getter/setter.

[2021-04-15 21:05] MarkFischinger commented on #2915
Update: I also tried to implement the testing directly in the training and I get the same error. This is a strong indication that the error is caused by an error in the `.Predict()` method or something familiar.

[2021-04-16 00:45] rcurtin commented on #2895
@xlindo thanks for running the simulations again.  I agree that it looks like everything is working right now.  I think @mercierc is right that the differences can be explained by sklearn using a different strategy to diagonalize the covariance matrix.

Is there any further issue to solve here, or should we close it? :smile:

[2021-04-16 05:11] greenfish77 opened #2916 "multi-thread safe supported?"
I tried to train a csv larger than 100mb using mlpack.
I implemented it with multiple threads for performance, but the result was strange.
tested it with the following code.
The thread function performs linear regression training with the same dataset and then prints three parameters().

[code]

The results are as follows, and they are always different.
[code]

In case, I used "<=== USE LOCK" and

[2021-04-16 05:45] greenfish77 commented on #2916
alas...
change libopenblas.dll(2015-04-07) -> libopenblas.dll(2020-12-13, 0.3.13).
The latest openblas.dll has been fixed. It is not an issue of mlpack, so close it.

[2021-04-16 05:46] #2916 closed

[2021-04-16 05:52] xlindo commented on #2895
Please close this.

[2021-04-16 06:02] FawwazMayda commented on #2914
@zoq if we create the new `swish_layer.hpp` the how about the old `swish_function.hpp`, do we need to remove it?

[2021-04-16 12:14] #2895 closed

[2021-04-16 12:24] rcurtin commented on #2916
Glad you were able to find a solution! :+1:

[2021-04-16 17:45] rcurtin commented on #2882
Actually, no need to split into many binaries... another idea would be to modify the CMake configuration so that CMake knows all the names of the different test suites, then maybe you can do something like this:

[code]

I think that code *might* be right but I'm not 100% sure.  Anyway, if we did that, then if you used `ctest` to run the tests, they would be run in parallel. :+1:

[2021-04-16 17:48] rcurtin commented on #2882
The patch in #2869 *might* fix the issues, maybe worth a shot?

[2021-04-16 17:55] #2855 closed

[2021-04-16 17:57] zoq commented on #2891
Thanks for bringing this up again. It's now on my list for the weekend.

[2021-04-16 18:20] RishabhGarg108 commented on #2882
I am unable to understand how is this different from me writing the command on the terminal myself? Isn't CMake eventually running the commands automatically for us so that we don't have to individually run them on the terminal ourselves? I might be wrong here because of my limited knowledge of CMake, but if I am correct then I am not very sure this will fix the issue.

I will surely try to run th

[2021-04-18 16:10] lucasmaisonnave opened #2921 "error: Mat::init(): requested size is too large"
#### Issue description
I tried to implement a CNN model for my Chess AI but it doesn't work, the problem occurs during the training phase and throws me this error:
error: Mat::init(): requested size is too large
terminate called after throwing an instance of 'std::logic_error'
  what():  Mat::init(): requested size is too large
Abandon (core dumped)

I can't find any solution to this problem and i

[2021-04-18 16:14] rcurtin commented on #2882
You're exactly right!  The only difference is that if I write, say, `ctest -jN`, that will spawn `N` of the tests in parallel.  If I were to do that from the command line, I'd have to do something like... `bin/mlpack_test [KNNTest]&; bin/mlpack_test [KFNTest]&; bin/mlpack_test [AKFNTest]&; ...` (basically I'd have to parallelize it myself).  If you use `ctest -j1` though, it will be exactly the sa

[2021-04-18 16:40] RishabhGarg108 commented on #2882
I agree ctest can parallelize the tests but I am not sure if it will run or throw the bus error which it currently does when I run specific tests. I will give it a shot and see if it works. 👍  The code snippet for cmake that you gave above, in which file shall I put it?

[2021-04-18 17:02] rcurtin commented on #2882
That suggestion would go in `src/mlpack/tests/CMakeLists.txt`, but I really don't think it will help the bus error at all.  I just wrote it down as a way to run tests in parallel.

[2021-04-18 19:29] shrit opened #2922 "Write documentation for embedded systems"
Hello everyone,

I open this issue in order to discuss the documentation form for the embedded system integration in mlpack. Once #2531 is merged, users will be initially able to cross-compile mlpack for aarch64 embedded systems, however, to do this we need to discuss the documentation form in which we will present this feature.

There are several forms in doing this such as:

1) Writing a tutoria

[2021-04-19 07:59] gunnxx opened #2923 "RL methods: sac.hpp is an implementation of TD3, not SAC."
Upon reading the [`sac_impl.hpp`](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/reinforcement_learning/sac_impl.hpp), I realized that it's not an implementation of Soft Actor Critic [SAC] ([Haarnoja et al., 2018](https://arxiv.org/abs/1801.01290)). The [`mlpack::rl::SAC::Update()`](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/reinforcement_learning/sac_impl.hpp

[2021-04-19 08:30] gunnxx commented on #2915
Quick look, I think you have a typo there. Your network input i.e. `DiscreteActionEnv::State::dimension` is 200, while your dummy input data i.e. `observation` dimension is 2000. I was unable to load your model for no apparent reason. However, skipping the `data::Load()`, I was able to run your test file with `arma::randu<arma::colvec>(200)`. Additionally, I don't understand why you can get `Core

[2021-04-19 11:17] MarkFischinger commented on #2915
@gunnxx Oh, sorry about that, I really made a typo in `observation = arma::randu<arma::colvec>(2000);` it's just `arma::randu<arma::colvec>(200);` In my other code the dimension where correct.

This is my main issue. I still get an error when I try to load a model, even if all dimensions are the same and correct.

[2021-04-19 11:37] MarkFischinger commented on #2915
@gunnxx I also built a training file [here ](https://gist.github.com/MarkFischinger/b0978c549b520349cb7f1d4359f0f8b3)that should work without the environment. So you don't have to download my model.txt file, but you can create one on your own.

[2021-04-19 15:08] rcurtin commented on #2922
I definitely agree that we should rework our documentation and README to point to our support for embedded devices and cross-compilation.

I think maybe the easiest way to go, for now, is to put a tutorial in `doc/guide/` kind of like `build.hpp` but specifically for cross-compilation.

It would be great too if we could modify the `examples/` repository to provide some information on how a user mi

[2021-04-19 15:57] shrit commented on #2922
Agreed, considering the `example` repository, maybe we should provide a template for a cross-compilation makefile?

[2021-04-19 20:09] rcurtin commented on #2922
Yeah, that could be a nice addition!

[2021-04-19 20:18] zoq commented on #2922
I would start with a guide, and keep it simple something like https://www.tensorflow.org/lite/guide/build_cmake_arm. And then maybe add a tutorial that shows how to run a specific example on a rpi or something similar. I'm not super happy with how the current tutorials are embedded, looks like a medium post nowadays get's a lot more exposure.

[2021-04-19 20:32] shrit commented on #2922
@zoq Agreed, maybe we need to advertise better the tutorial on mlpack website.
It might be a good idea to have a medium post, but it should be additional and should not replace the mlpack tutorial on mlpack website.
I find mlpack tutorials are good, well explained, and easy to find, much easier than TensorFlow. We only need alot of them

[2021-04-19 21:10] zoq commented on #2922
My suggestion would be more like having each tutorial on medium as well as on the mlpack homepage. I'm certain you get more page impressions on the medium post as on the tutorials, if medium can do one thing it's advertising, and that's not something we can get if we post this on hn or have a more prominent position on the mlpack start page.

Also, I agree the tutorials are good, I said the embedd

[2021-04-19 21:16] shrit commented on #2922
@zoq Totally agreed, I prefer sphinx over doxygen, but I admire the most is gitbook
In `gitbook`, you can write everything in markdown, and it is even better than sphinx or doxygen.
Gitbook is easier to read, cleaner, and has the same logic to copy-paste code snippets.
Let me know what do you think :+1:

[2021-04-19 21:20] zoq commented on #2922
I like the `gitbook` style as well, but if I remember right you can't host that yourself?

[2021-04-19 21:23] shrit commented on #2922
Yes, you can host it on your own website, there is no issue with this. You have only to install it https://github.com/GitbookIO/gitbook/blob/master/docs/setup.md

[2021-04-19 22:51] medias661 commented on #2923
When reading it for a while I see some resemblance. If I trace back this implementation goes way back to GSOC 2020 I think @zoq  must have a better explanation about this.

[2021-04-20 00:24] zoq commented on #2891
@hello-fri-end in the last meeting you mentioned you have to calculate the gradient of the gradient for the whole network, but it's it just the gradient of the gradient of the loss function? You mentioned you asked on stackoverflow as well, so maybe a link might be helpful as well, not sure.

[2021-04-20 08:03] gunnxx commented on #2923
@medias661 as far as my understanding, the resemblance comes from clipped double Q-learning, which was a key component proposed in TD3 paper. SAC algorithm makes use of clipped double Q-learning, however key part of SAC algorithm is the entropy maximization which is not present in the current implementation. Maybe I misunderstood, better to wait for explanation.

My GSoC project proposal is to add

[2021-04-20 08:17] medias661 commented on #2923
Resemblance also from the slow update, maybe the difference is from the delayed part. I am curious to know what is your proposed method for RL?

[2021-04-20 08:35] gunnxx commented on #2915
I tried to run your training file, but it failed. The error was `Unable to detect type of './model.txt'; incorrect extension? (allowed: xml/bin/json)`. I dug up the documentation and the code and found that:
- [The documentation](https://www.mlpack.org/doc/stable/doxygen/namespacemlpack_1_1data.html#af30f8bfca9b924d6d935c9f1fae91778) said that the allowed formats are `txt`, `xml`, and `bin`.
- [Th

[2021-04-20 09:00] gunnxx commented on #2923
Well, I proposed Vanilla Actor Critic and TRPO using Generalized Advantage Estimation. Additionally, I proposed DDPG.

[2021-04-20 16:06] hello-fri-end commented on #2891
@zoq I did not receive any response on my previous stackoverflow post. I wrote another one today with the code for gradient penalty in Pytorch: (https://stackoverflow.com/questions/67176984/backward-pass-of-gradient-penalty-loss-in-wgangp). Maybe the code will be helpful.

[2021-04-20 18:39] MarkFischinger commented on #2915
@gunnxx Thank you very much for your help! Using an an `.xml` or `.bin` works! Everybody in the Future who might have the same problem: Make sure that you use the current `master` branch because I still got an error when using `mlpack 3.4.2 (the current stable version)`

[2021-04-21 06:55] #2915 closed

[2021-04-21 07:06] greenfish77 opened #2924 "wrong R2 calculation?"
I am using mlpack's linear regression,
and found that the evaluated R2 was wrong than I expected.
my evaluation code:
[code]
Sometimes very large negative r2 results have been reported.
So, I tried debugging with the code below referring to metrics/r2_score_impl.hpp.
[code]
If (1,2,3)->(4,5,6) then R2 must be obviously 1.
However, the result is as follows.
[code]
I think 'metric' is one of the mos

[2021-04-21 11:53] NippunSharma commented on #2818
We should keep this open.

[2021-04-21 20:07] NippunSharma commented on #2820
Keep open.

[2021-04-21 20:30] rcurtin commented on #2921
It might be a little while until I or someone can dig into this, but by any chance, are you able to put gdb on the code or something and get a backtrace of where the failing allocation is?  That could tell us a lot about what's going on.

[2021-04-21 21:12] rcurtin commented on #2524
This has sat for about a month now---I agree with the responses I've gotten here and I think they fit into the vision outlined in the document.  In the next days I'll move forward figuring out how to make this document available via the mlpack website and for new contributors.

[2021-04-22 22:07] rcurtin commented on #2924
I don't understand your example---based on what you wrote, `-12.5` is the answer I would expect.  In your code, you have:

[code]

but in this situation, `predictedResponses` are not the same as `responses`, so the R2 score will not be `1`.  If you were to set `predictedResponses` to be equal to `responses`, it should give `1` as output.

Let me know if I've overlooked something. :+1:

[2021-04-22 23:17] greenfish77 commented on #2924
I found that you mean R2 as coefficient of determination.
but, i meant R2 as the square of the pearson correlation coefficient.

https://ncalculators.com/statistics/r-squared-calculator.htm
I input 1,2,3 and 4,5,6, and click 'GENERATE WORK', it outputs R2 as 1.
it uses R2 as the square of the pearson correlation coefficient.
There are various formulas for R2, but different ones were used than I th

[2021-04-22 23:17] #2924 closed

[2021-04-22 23:21] rcurtin commented on #2924
Ahh, I see---do you want to contribute your implementation as a metric like `PearsonCorrelation` or `PearsonR` or something?  Then we would have both and hopefully nobody else would have the issue that you had. :+1:

[2021-04-22 23:29] greenfish77 commented on #2924
I am using mlpack with several modifications for my environment.

I prefer to evaluate with 10-fold-cv,
but mlpack's cv does not yield R2 and MSE at the same time, so it took twice as long.

By modifying that part, I am getting two evals with cv at once.
After testing some of these fixes internally, I will review them for future fixes.

[2021-04-22 23:32] rcurtin commented on #2924
That would be great!  Contributions and improvements are definitely welcome. :+1:

[2021-04-23 03:53] conradsnicta commented on #2524
@rcurtin With the aim of making mlpack more approachable, I suggest to turn off building the tests by default.

The tests take quite a long time and lots of memory to build.  Anecdotally, they actually seem to take the majority of the build time. The tests are useful to developers of mlpack, but they are not useful to the _users_ of mlpack.

mlpack is now a huge beast, and installing it from sourc

[2021-04-23 11:58] heisenbuug commented on #2646
@rcurtin @shrit I have a doubt.
I believe that the proper way to include `diskio_meat.hpp` would be:

- mlpack's program will use `diskio_meat_mlpack.hpp` and this file should be aware of armadillo files.
- Also about the armadillo's inbuild parser i.e. `diskio_meat.hpp`, I think it can stay there, it should not make any difference, right?

I am stuck a bit in first point, what I did is:
- placed

[2021-04-23 12:58] shrit commented on #2646
@heisenbuug
1. I would first copy the file from armadillo to mlpack
2. Add at the top of the file that it is originated from armadillo and adapted for mlpack.
3. Include these function in `mlpack::data` name space or similar

[2021-04-23 23:41] rcurtin commented on #2922
I'd love to transition our tutorials to Sphinx (and our documentation too!) but it would be a good bit of work.  #1877 discussed it; maybe it is actually getting close to time to do it. :)

I think @zoq is right that Medium might be a far more effective place to post these tutorials or examples.  (We could also keep them on our website, too.)

[2021-04-24 02:42] rcurtin commented on #2524
@conradsnicta nice point; I opened #2926 to act on the suggestion.  You're right that the R bindings are pretty bad.  I'm hoping that removing Boost and simplifying our other dependencies can help reduce the compilation pain.

[2021-04-25 06:05] hello-fri-end commented on #2891
Here's my hand-computed gradient for the loss function: [https://drive.google.com/file/d/1GOD5T_s6eudgtEKnnMVNdHM7fVPlgrxf/view?usp=sharing](https://drive.google.com/file/d/1GOD5T_s6eudgtEKnnMVNdHM7fVPlgrxf/view?usp=sharing). The places where I have left `"?"` is where I'm having trouble understanding how the gradient will be computed.

[2021-04-25 06:33] hello-fri-end commented on #2891
Found something that might be helpful for us : [https://github.com/ddbourgin/numpy-ml/blob/master/numpy_ml/neural_nets/losses/losses.py#L457](https://github.com/ddbourgin/numpy-ml/blob/master/numpy_ml/neural_nets/losses/losses.py#L457). I'm not sure why they have added `eps `  to  `X_interp_norm` ; rest of the calculation is the same as my hand-computed version above.

[2021-04-27 00:19] conradsnicta commented on #2524
@rcurtin With an eye towards reducing compilation time, I'd suggest a possible change to the user-facing API (perhaps for mlpack 4.0).  Currently mlpack is heavily templated, which forces the compiler to do a lot of reasoning at compilation time -- the more template parameters, the slower the compilation time.

So the suggested change is to move some of the template parameters to be "plain" argume

[2021-04-27 01:19] RishabhGarg108 opened #2932 "Make ExtraTrees accessible from bindings."
PR #2883 adds the `ExtraTrees`, but it is accessible only through C++. To make it accessible from bindings of other languages, it needs to be added to the bindings for the random forest.

It should be pretty straightforward to add. One approach that I have in my mind is to add another optional parameter which when set, will trigger the `ExtraTrees` algorithm. But, don't feel obligated to do it thi

[2021-04-27 01:22] RishabhGarg108 commented on #2932
@rcurtin, mentioning you just to subscribe you to this issue :-)

[2021-04-27 10:56] NippunSharma commented on #2817
Hey, @rcurtin. I have created #2933 that attempts to solve this issue. Please take a look at it whenever you get time.

[2021-04-27 17:57] #2869 closed

[2021-04-28 15:21] mircodemarchi opened #2934 "Linking error MacOS gcc-10"
MacOS version: macOS Catalina 10.15.7

GCC version: Homebrew GCC 10.2.0_4

I have installed mlpack with `brew install mlpack` and I'm trying to build with g++-10 (the command used: `g++-10 -std=c++11 test.cpp -lmlpack -larmadillo`) the following source file (test.cpp):

[code]

The error returned is the following:

[code]

If I try with clang compiler, it works, but I need to build a library reall

[2021-04-28 16:54] rcurtin commented on #2524
@conradsnicta you might be right, but I think the much bigger compilation time elephant in the room is the use of Boost.  So I think once we remove that, we'll be in a much better place.  There are some places like the hyperparameter tuner where complicated template metaprogramming (with recursion) is used, but most of the time it's just policy classes.  At least for the policy classes, I would im

[2021-04-28 16:55] rcurtin commented on #2932
Thanks for opening this @RishabhGarg108! :+1:

I think that the binding we would want to modify would be `src/mlpack/methods/random_forest/random_forest_main.cpp`, but I suppose it could be okay to create an additional `ExtraTrees` binding if we wanted.

[2021-04-28 17:13] zoq commented on #2934
I haven't looked into the brew formula but I guess they use `stdlib=libstdc++` instead of `-stdlib=libc++` so the output binaries are not compatible with gcc. Instead of installing mlpack through brew can you build mlpack locally and use `gcc` instead e.g. by setting `CXX` and `CC`?

[2021-04-28 17:23] mircodemarchi commented on #2934
Thank you very much for the answer,
yes, I can install mlpack locally, I will try and I let you know.

However, since my project will be an extension of another library, I would like my final project to be available without the user installing mlpack locally, but instead using homebrew to be able to install it easily.
When will this fix also be available on homebrew?

[2021-04-28 21:22] rcurtin commented on #2524
I opened mlpack/mlpack.org#48 and #2935 to update the website and this repository to point to those documents. :+1:

[2021-04-29 02:37] rcurtin commented on #2886
I think the issue still exists, so I'll reopen this.

[2021-04-29 12:16] abh2k commented on #2886
Yes I fixed this for mean pooling but for max and lp, it needs to be resolved.

[2021-04-30 01:51] ttbek opened #2937 "make[2]: *** No rule to make target '... test', needed by 'lib/libmlpack.so.3.4'. Stop."
When building on Ubuntu 20.04, I eventually get the error:
[code]
I can post the whole thing, but there is a lot of just compiler warning stuff (probably from Boost, about deprecation of this and that and unused parameters).
My CMake I thought it is finding what it needs, though it does warn about the new Boost (I also tried an older one with identical results other than the warning):
[code]
I spe

[2021-04-30 01:59] zoq commented on #2937
The reason why cmake complains about boost, is that it doesn't know the version, unfortunately we have to update the CMake file for each new version that comes out. So either you update `CMakeLists.txt` manually and bring it to the current version:

https://github.com/mlpack/mlpack/blob/596859cb5bd7217a2f159097e1edb9d5a7f2ae83/CMakeLists.txt#L326-L347

or you build the git master branch. Let me kn

[2021-04-30 02:03] zoq commented on #2934
Hm, looking at the CMake file:

https://github.com/mlpack/mlpack/blob/596859cb5bd7217a2f159097e1edb9d5a7f2ae83/CMakeLists.txt#L176-L181

should handle this, so I guess let's see if that solves the issue you see and if it does, I'll take a closer look into the issue.

[2021-04-30 05:51] heisenbuug commented on #2937
@zoq Not sure, but maybe we should mention this issue in the documentation somewhere? I remember someone else was also asking about the same issue and I myself have faced the same.

[2021-04-30 09:01] ttbek commented on #2937
@zoq Sorry that I wasn't clear, I did see those issues so I also tried compiling with Boost 1.63.0 as well.  It removes the complaints, i.e.
[code]
at the cmake step, but the make install is almost (maybe entirely, some unused vars and deprecation complaints are maybe different, there is a lot of text) identical and gives the same error:
[code]
but of course with "boost_1_63_0" in place of "boost_

[2021-04-30 12:09] shrit commented on #2937
@ttbek Do you have boost installed on your machine?

[2021-04-30 13:04] ttbek commented on #2937
@shrit Umm, what do you mean by "installed," it is a template-only library and I pointed to the appropriate locations explicitly.  Do I need to compile Boost as a static/shared lib and point to that instead?  I'm guessing I do... will see this "b2" and be back.

[2021-04-30 17:07] #2937 closed

[2021-04-30 17:16] rcurtin commented on #2937
@ttbek awesome that you got it figured out!  We are (slowly) in the process of removing our boost dependency, so, hopefully when that is gone, strange linking issues like this should become a lot less prevalent. :smile:

[2021-04-30 20:52] shrit commented on #2937
@ttbek Boost is not a header library, and it is far from being header-only . Therefore, boost requires installation.
On Linux mlpack build a shared library and executables, and links against a shared oned too, if you would like to change that, you can do this by specifying cmake option `cmake -DBUILD_SHARED_LIBS=OFF`, and then continue normally with `make`

[2021-04-30 21:09] ttbek commented on #2937
@shrit Yes, I see that now, I was browsing too quickly here:
https://www.boost.org/doc/libs/1_76_0/more/getting_started/unix-variants.html

And misinterpreted language like

In my haste, totally my fault.  Thank you very much for the cmake option, I do hope to be able to have static builds of my final programs, guess I need to recompile then, will actually use '-j' this time.

[2021-05-01 00:16] rcurtin commented on #2524
Thanks everyone for the input on this over the past year.  The vision document is updated and linked to from the website now, so I'll go ahead and close this issue.

Of course, we can have more discussions in the future!  By closing this issue I just want to say "this discussion seems finished", not "all discussions are finished". :)

[2021-05-01 00:16] #2524 closed

[2021-05-02 22:21] mircodemarchi commented on #2934
The CMakeList file is correct, because it sets the `-stdlib=libc++` flag if the clang compiler is used.
https://github.com/mlpack/mlpack/blob/596859cb5bd7217a2f159097e1edb9d5a7f2ae83/CMakeLists.txt#L162
In fact, I found that `-stdlib=libc++` flag is used only in clang ([here](https://stackoverflow.com/questions/24419832/unrecognized-command-line-option-stdlib-libc-with-macports-gcc48)).

However,

[2021-05-02 23:52] ttbek commented on #2937
I was going to post the following as an issue with the examples, but I've figured it out and just thought it might be helpful for anyone else being a noob like me that needed the above.

Having successfully compiled my static mlpack, I tested a simple example and that worked, I then tried out another example ( https://github.com/mlpack/examples/blob/master/mnist_cnn/mnist_cnn.cpp ) and it was fail

[2021-05-03 08:49] RishabhGarg108 commented on #2934
Hey @mircodemarchi , I also faced a somewhat similar issue with `g++-10` and `clang`. But, you can use `g++` and that can probably be a workaround for this issue.

What you can do is, build mlpack from the source following the instructions in README.md. In the cmake command, do not force it to use g++-10. Let it use the default one (which I guess is g++). Once mlpack is installed, then for compili

[2021-05-03 09:00] mircodemarchi commented on #2934
Hi @RishabhGarg108, thank you for the suggestion. I think that the g++ that you are talking about is linked to clang++. Therefore, using g++ or using clang++ is the same. I have strict compatibility requirements for my library and I need to build it also with g++-10.

Try the command `g++ --version` and `clang++ --version`, if you didn't change macOS default settings, you will found that they are

[2021-05-03 09:06] RishabhGarg108 commented on #2934
This is interesting. I never checked it before. But yes, I checked and they are indeed the same.

Well, if your requirements are strict, then I think you have to wait till this gets resolved :).

[2021-05-03 10:45] shrit commented on #2937
@ttbek the examples are modified according to the master branch of mlpack, not with version 3.4.2.
Therefore we have removed `-lboost_serialization` from the `Makefile`.
If you are not using mlpack in production, but only experimenting, it would be better (in my opinion) to use the `master` branch since it has removed all boost libraries that require linking.
If you use the `master` version, you n

[2021-05-03 13:45] shrit commented on #2934
@mircodemarchi Would it be possible to use the command `file /path/to/libarmadillo`? and let me know the output please

[2021-05-03 14:26] mircodemarchi commented on #2934
@shrit The following is the output of `file /usr/local/lib/libarmadillo.dylib`:
[code]

[2021-05-03 14:36] shrit commented on #2934
As I thought, it seems to me that, the new macOS that is based on arm architecture is installing `x86_64` libraries.
I do have very limited knowledge of macOS, it seems that they did not recompile all of their available packages for the new architecture, but instead they allowed the installation of the libraries with the old `x86_64` architecture.
This is what is causing the issue on your machine,

[2021-05-03 14:52] shrit commented on #2934
Also, I am not sure if you are using the newest mac, so it might be a different issue.  Let me know if you will face the same issue if you recompile and install everything manually.

[2021-05-03 15:20] mircodemarchi commented on #2934
I'm using a Mac mini (Late 2012) Intel core with macOS Catalina 10.15.7, therefore the reason is not the arm architecture. However, I agree with you that the problem is not directly related with mlpack but it regards armadillo library. I will try soon to build armadillo library with GPU gcc-10 and g++-10, and I let you know what happen.

Thank you very much for the answers.

[2021-05-03 19:05] heisenbuug commented on #2922
I agree about the medium article, actually, I was planning to write a medium article about `Getting started with Open Source Development with Mlpack` where I was planning to write about how to choose your first issue and how to get started with solving bugs, let me know if you guys have any suggestions.

Also, I explored sphinx and doxygen a bit, I will get familiar with gitbook too. I made a smal

[2021-05-03 21:19] zoq commented on #2891
`eps` is introduced to avoid division by zero in the term: `(gradInterp / X_interp_norm)`. But looking at the numpy code you posted I think this is exactly what we are looking for, no need to gradient of the gradient for the whole network. I could put a pseudo snippet together if you think that could be helpful?

[2021-05-04 04:04] conradsnicta commented on #2934
@mircodemarchi There are pre-built versions of Armadillo on Homebrew (https://formulae.brew.sh/formula/armadillo) and MacPorts (https://ports.macports.org/port/armadillo/summary). Is using any of these giving you problems?

[2021-05-04 14:25] RishabhGarg108 commented on #2619
Keep it open.

[2021-05-04 17:02] iamarchit123 commented on #2619
@RishabhGarg108  did you get the  GSOC internship? My summer holidays are approaching wanted to know if you will be working on this else I can complete it as I had a very top level design. Do keep me updated

[2021-05-04 18:15] mircodemarchi commented on #2934
Thank you @conradsnicta for the suggestion, but unluckly pre-built versions of Armadillo are made with Clang. Instead I need the Apple GNU GCC version.

Anyway, I resolved the Armadillo linking issue recompiling it with g++-10 (Apple GNU GCC). In particular I found 2 ways to perform this operation:
- manually build from source:
[code]
- homebrew build from source (not supported by homebrew, becaus

[2021-05-04 18:15] #2934 closed

[2021-05-05 00:12] RishabhGarg108 commented on #2619
No, the results are yet to be announced, but anyways, I will be working on it regardless of whether I am selected or not. I am regularly working on regression tree and I am positive that I will be able to finish the regression tree in the near future. Maybe if you like then you could continue with the random forest regressor once this is finished. I will update you once the regression tree is done

[2021-05-05 22:43] hello-fri-end commented on #2891
@zoq Thanks for looking into this. There's no need for pseudo code, I understood how it should be implemented. I'll update the changes in the Dual Optimizer PR.

[2021-05-06 15:13] zoq commented on #2891
Thanks to you for diving into the issue, that was really helpful.

[2021-05-06 20:24] rcurtin commented on #2646
Don't forget that if you add a new file to mlpack, the `CMakeLists.txt` in that directory needs to be updated. :+1:

Inside the file, I would only keep the functions that are necessary for the task at hand.  The Armadillo sources are inside the `arma` namespace, so you may need to add `arma::` throughout to the different types.  (For instance, `field<T1>` should become `arma::field<T1>`.)

[2021-05-07 01:28] conradsnicta opened #2939 "mlpack no longer compiles on RHEL 7 / CentOS 7"
Tried to compile mlpack master (as of 07 May 2021) on a standard RHEL 7 / CentOS 7 box and got this:

[code]

RHEL 7 / CentOS 7 has gcc 4.8 as the default compiler.
[code]

[2021-05-07 03:14] #2891 closed

[2021-05-07 12:09] shrit commented on #2939
Ah great, happy to see that the autodownloader have worked out of the box in this case, it did find an old non-compatible version and redownloaded the latest one.
The problem is related to boost and gcc, as it seems that it is not able to compile boost. In my humble option, the best solution here is to accelerate removing boost::math rather than find a fix for RHEL 7.
Another quick solution, is to

[2021-05-08 04:22] conradsnicta commented on #2939
I suggest the above solution.  Probably take the lowest version that mlpack can handle.

RHEL 7 / CentOS 7 is still used in a lot of corporate and managed academic environments, so it'd be advantageous to keep mlpack working in such environments.

PS. Boost touts itself as being peer "reviewed", but I'm not entirely convinced.  The error messages shown by gcc 4.8 suggest that there is a problem wi

[2021-05-08 17:47] shrit commented on #2939
I will open a pull request for this one, I will download the lowest version, and see if we can host it on mlpack website since I can not trust the old version links, they can break easily.
We do have boost 1.76 in the matrix but not with the same compiler, maybe it is a good idea to add gcc 4.8 or not I am not sure, 4.8 is still very old

[2021-05-08 19:40] rcurtin commented on #2939
I can't wait until we don't have a Boost dependency anymore! :)

There's not really a way to get a newer compiler than gcc 4.8 on RHEL7.  I know that EPEL7, however, has the `boost169` package, which can be used here.  @conradsnicta you could try installing that package, and I believe then configuration/building of mlpack should work fine.

@shrit do you think we should add a CMake check to see if

[2021-05-08 20:51] shrit commented on #2939
If you agree with this, I will open a pull request to host the older version on mlpack website (1.58), otherwise, they will definitely change the link.
There will be no need for boost installation because the master version does not require any installation process.
I will open another one to test the gcc compiler and download the older version in this case.

[2021-05-10 01:09] deeplearningera commented on #2625
Hi there, taking up  Sequential and RBF.

[2021-05-13 03:34] xlindo opened #2941 "What does `numClasses` mean in `Train()`'s parameters list for decision tree?"
[code]

Thanks.

[2021-05-13 03:44] rcurtin commented on #2941
It is the number of unique elements in `labels`. :+1:

[2021-05-13 06:01] xlindo commented on #2941
Could you give me an explanation based on [https://sci2s.ugr.es/keel/dataset.php?cod=72](https://sci2s.ugr.es/keel/dataset.php?cod=72)?

There are `Features 40` and `Classes 11`. What I am confused are
1. If `numClasses` is specified by the unique elements in labels, why it should be set manually
2. How to set it

There is a test for the dataset mentioned above using decision tree.
[code]

At last

[2021-05-13 12:36] deeplearningera commented on #2625
@kartikdutt18 We can work on this issue or not?

[2021-05-13 12:37] kartikdutt18 commented on #2625
If this hasn't been done, please feel free to take up this issue.

[2021-05-13 12:38] deeplearningera commented on #2625
Sure, Thanks!

[2021-05-13 20:27] PranavReddyP16 commented on #2820
Hey, @rcurtin @NippunSharma I assumed that this hasn't been fixed since the last comment is from a month ago so I thought I'd take a look at it. I was thinking of replacing all the occurrences of size and dimensionality checks using the functions added in #2370. I was taking a look at logistic regression and there was an instance of code that seemed similar to the function but can't be replaced di

[2021-05-14 10:38] heisenbuug commented on #2646
Sorry for the late update, I am a bit busy with my exams actually.

@shrit I was able to successfully follow up on what you guys advised and included the parser in `mlpack::data` namespace.

@rcurtin as you suggested I only copied the required fucntions and after that adding `arma::` did the job.
For now, I only copied few functions to load data and also understood how `convert_token` is working.

[2021-05-14 14:36] shrit commented on #2646
@heisenbuug I think you can open a PR so we can continue the discussion there.

[2021-05-14 17:16] rcurtin commented on #2941
Sure, happy to help!

1. We have it as a manual parameter for efficiency reasons.  `arma::max(labels) + 1` takes time to compute (we have to scan all the `labels`), but if you statically know when you write your program that there are only 10 classes, then you can save that time and just input the number of classes directly.

2. If labels don't start from 0 and aren't sequential, you want to use `

[2021-05-14 20:00] birm commented on #2939
In trying to test #2940, I got the following:

[code]

Still looking to see if something else may be wrong with my setup, but figured someone would be interested.

[2021-05-16 04:06] conradsnicta commented on #2939
@birm Is this with gcc 4.8 on CentOS 7 / RHEL 7, or a more recent compiler?

If the former, it's unlikely to be fixed by GCC and/or RH.  A workaround in mlpack would be required.

RHEL 7 is still supported by RH, but it's in the "Maintenance Support 2" phase, where only mission critical stuff is fixed (ie. mainly security fixes).
* https://en.wikipedia.org/wiki/Red_Hat_Enterprise_Linux#Product_lif

[2021-05-16 20:31] NippunSharma commented on #2820
Hey @PranavReddyP16, thanks for showing interest in this issue. As you can read from the description we only need to include checks where they are not present. There is no need to replace the "if" conditions and other occurrences, at least for this issue. For better understanding, you can take a look at #2818, which is the actual issue we are facing. Let me know if you have any other doubts 👍

[2021-05-16 21:30] PranavReddyP16 commented on #2820
Hey, @NippunSharma thanks for the clarification. I was a little confused because of the second point of this comment from Ryan and I thought we had to replace if statements _and_ add checks where needed. I'll get to work on adding check functions if they're not present. Just to confirm, I can use the functions implemented in #2370 in the `(method)_main.cpp` files in the `mlpackMain()` function am

[2021-05-16 21:48] abh2k commented on #2886
@rcurtin @zoq  this can be closed. I fixed this in #2936 .

[2021-05-16 21:48] #2886 closed

[2021-05-17 01:04] NippunSharma commented on #2820
Ya, you are right. I am sorry for the confusion here. I forgot to update the issue description, I guess that is why it slipped my mind. I have added that now, thanks for reminding 👍.  Just to clarify again, you will have to replace all other occurrences along with the checks. Yes you have to use functions implemented in #2370.You can create a PR and we can discuss any other doubts you have over th

[2021-05-17 09:34] PranavReddyP16 commented on #2820
Cool, thanks a lot for clearing that up. I'll get started on it.

[2021-05-18 02:45] xlindo commented on #2941
Many thanks.
I think I should know more frequently used methods in mlpack for data preprocessing. Is there a guidance page?

[2021-05-18 10:39] r3n4ud opened #2944 "Release build can't find stb"
Recent changes have broken the 3.4.2 build.

Some improvements have been done in CMakeLists.txt on the STB downloading part. Now, an archive is downloaded instead of single header files. Unfortunately, the static service provided by https://www.mlpack.org/files/ reflects this changes but doesn't provide single headers needed by the release build...

OK, a solution is to checkout master but it seem

[2021-05-18 10:51] shrit commented on #2944
Thanks for pointing out the issue, I will open pull request to keep the backward compatibility.

[2021-05-18 12:12] rcurtin commented on #2944
(I'm just going to reopen this until the website gets rebuilt.  Thanks for the report @r3n4ud!)

[2021-05-18 21:02] rcurtin commented on #2944
Okay, got everything rebuilt.  It should work now. :+1:

[2021-05-18 21:02] #2944 closed

[2021-05-19 00:20] rcurtin commented on #2939
@birm same here:

[code]

While I really like the idea of preserving compatibility of RHEL7 and in the past I would have made time for it, at least right now I just don't think I can make the time for it.  I suppose that we can at least say that mlpack 3.4.2 builds for RHEL7 (it's available in EPEL), but probably mlpack 4 won't unless someone wants to make the time to find a workaround.

[2021-05-19 01:46] conradsnicta commented on #2939
Entirely reasonable given the constraints.  Any RHEL7/CentOS 7 users can always step up.

This has an upside: dropping RHEL7 also allows bumping the minimum standard of C++ to C++14.

mlpack currently requires Armadillo 8.400 (outdated at this point), which is present on Ubuntu 18.04.  In turn, Ubuntu 18.04 has gcc 7, which has the C++14 standard as default.  RHEL 8 uses gcc 8.
https://gcc.gnu.org

[2021-05-19 04:11] #2907 closed

[2021-05-19 09:11] #2906 closed

[2021-05-19 21:19] rcurtin commented on #2941
Sure, happy to help!  I think the best documentation might just be the list of classes and functions in the `mlpack::data` namespace:

https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/namespacemlpack_1_1data.html (for version 3.4.2)

https://www.mlpack.org/doc/mlpack-git/doxygen/namespacemlpack_1_1data.html (for git `master` branch)

Doxygen documentation isn't perfect, but hopefully that is helpfu

[2021-05-20 05:11] #2897 closed

[2021-05-20 10:31] PranshuSrivastava commented on #2932
Hey, I would like to work on this issue but I don't know how to work with bindings. Could you please recommend to me some articles or videos where I can learn about it?

[2021-05-20 11:39] RishabhGarg108 commented on #2932
Hey @PranshuSrivastava, mlpack has its own system to generate bindings. Please refer to https://www.mlpack.org/doc/stable/doxygen/bindings.html tutorial. It is a comprehensive guide. Also, as rcurtin mentioned above, try to make a separate binding for `ExtraTrees`.

I hope that helps.

[2021-05-20 12:04] xlindo commented on #2941
Thanks.
This item can be closed.

[2021-05-20 13:27] r3n4ud commented on #2944
It works! Thx!

[2021-05-20 13:50] #2941 closed

[2021-05-20 23:43] zoq commented on #2882
@RishabhGarg108 Do you mind to update https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/main.cpp so that returns 0 at the end instead of whatever session run returns (the number of tests)?

[2021-05-21 08:23] RishabhGarg108 commented on #2882
@zoq I changed it to following
[code]
but, It still gives the error.

[2021-05-21 09:09] PranshuSrivastava commented on #2932
@RishabhGarg108  I went through the tutorial, so I need to write the interface by myself, and for the main function and the implementation I have to use the code from your pull request right?

[2021-05-21 10:06] RishabhGarg108 commented on #2932
@PranshuSrivastava yes. You might also want to look at `src/mlpack/methods/random_forest/random_forest_main.cpp` for motivation since `ExtraTrees` is very similar to the `RandomForest`.

Also, that PR is merged, so you need not work on that PR explicitly. You can work on the latest master branch 👍

[2021-05-22 15:24] PranshuSrivastava commented on #2932
@RishabhGarg108 I tried to make the file. Please checkout my pull request.

[2021-05-23 06:11] #2914 closed

[2021-05-23 19:08] bkmgit opened #2948 "UMAP implementation"
### Add UMAP implementation

Uniform Manifold Approximation and Projection is a useful technique for dimension reduction. It would be nice to have a portable implementation in mlpack.

### What is the motivation for this feature?

Dimension reduction is a useful pre-processing step for doing classification.

### If applicable, describe how this feature would be implemented.
An implementation in Py

[2021-05-23 19:27] bkmgit opened #2949 "Higher order singular value decomposition"
### Add an implementation of the higher order singular value decomposition

The higher order singular value decomposition is a generalization of the singular value decomposition
that can enable more good dimension reduction and classification.

### What is the motivation for this feature?

It is an explainable algorithm that is helpful for machine learning tasks.

### If applicable, describe how t

[2021-05-24 04:57] DylanWangWQF opened #2950 "Some questions about Hoeffding Tree Example"
Hi, everyone! I have some questions about the Hoeffding Tree example.

1. When will the training process end?  (out of the expected memory?)
[code]
2. Does the `clear()` work here? (Since it's class object in the vector)
[code]

3. I want to modify this part of the codes (only work on categorical features). During the training, we will directly transfer the counting matrix of each feature (dimensi

[2021-05-24 19:04] Aakash-kaushik commented on #2922
@zoq, @rcurtin and @shrit tagging you all so we can continue our discussion for documentation here and make a plan to proceed.

[2021-05-24 20:34] shrit commented on #2922
@Aakash-kaushik Thanks, I would prefer to open a separate issue that is entitled `improve documentation or mlpack` or something similar, and tag this one there as a first initiative because when documentations are written for embedded systems this will be closed.
Then each one can comment with improvement and you can edit the main list of available things to write and focus on the same way we have

[2021-05-24 23:39] zoq commented on #2948
Hello @bkmgit is this something you like to work on, or should I mark this as "good first issue"?

[2021-05-24 23:41] zoq commented on #2949
Hello @bkmgit I like the idea, is this something you like to work on or should I mark this as "good first issue" as well?

[2021-05-25 03:48] conradsnicta commented on #2939
GCC 8 is available for RHEL 7 via:
* Developer Toolset 8 - https://www.softwarecollections.org/en/scls/rhscl/devtoolset-8/
* Red Hat Developer Toolset - https://access.redhat.com/documentation/en-us/red_hat_developer_toolset/8/

In other words, users are not limited to GCC 4.8 on RHEL 7, and have options to use more recent compilers.

I recommend placing a note on the mlpack site and/or README to

[2021-05-25 04:26] bkmgit commented on #2949
@zoq Interested in adding this.

[2021-05-25 04:27] bkmgit commented on #2948
@zoq Interested in adding this.

[2021-05-25 05:19] Aakash-kaushik commented on #2922
@shrit seems like a good plan but i am not much aware about the documentation to write a proper guide on what to avoid and what not to and might not be the best person to help write up the issue i will help with it though.

[2021-05-25 15:49] rcurtin commented on #2939
Agreed.  I think that would be a good way to solve things.  I opened #2955 to make those changes. :+1:

[2021-05-26 05:32] DylanWangWQF commented on #2950
In `CreateChiledren()`, we will push each child into the `vector<> chileren`, `children.push_back(new HoeffdingTree(........));`.
Then, when we create this child, we will push all of the features into `vector<> categoricalSplits`.
[code]

Here, I have a question. If some features have been used as split features, then in above operation, we will still push all of the features into `categoricalSpli

[2021-05-27 00:28] conradsnicta commented on #2939
Resolved by #2955

[2021-05-27 00:28] #2939 closed

[2021-05-27 08:47] conradsnicta opened #2958 "change matrix constructors to use arma::fill:none"
In Armadillo 10.5 the default behaviour of [Mat](http://arma.sourceforge.net/docs.html#Mat), Row, Col, and Cube constructors has been changed compared to earlier versions of Armadillo. The constructors now set all elements to zero by default. In other words, a declaration like `arma::mat X(4,5)` is now equivalent to `arma::mat X(4,5,arma::fill::zeros)`.

This was done for consistency with the SpMa

[2021-05-27 18:55] NippunSharma commented on #2817
@rcurtin can we close this? now that #2933 is merged.

[2021-05-27 20:20] rcurtin commented on #2817
Oh, good point!  I forgot to close this.  Nice work in #2933!  I'll go ahead and close this. :+1:

[2021-05-27 20:20] #2817 closed

[2021-05-27 21:11] #2923 closed

[2021-05-28 00:46] DylanWangWQF commented on #2950
Hi, @rcurtin  Many thanks for your reply and help!

If all of the features are split and the hoeffding tree is completed, will the remaining data continue to be scanned?

Sry, my question here was not clear.  `clear()` will clear the split information of the current split node `(vector<HoeffdingCategoricalSplit> categoricalSplits)` ?
[code]
 Thanks! I update the third question.

[2021-05-28 12:11] #2818 closed

[2021-05-28 13:15] rcurtin commented on #2950
The Hoeffding tree is never "complete"---so if, e.g., you pass 1M points, but the last split made according to the Hoeffding bound is done after seeing the 10th point, the training procedure will still scan the remaining 999,990 points.  That's just how the algorithm works---as you pass it more points, it checks to see if they can be split.

I am not sure that it is a good idea to do this, but if

[2021-05-28 21:11] #2921 closed

[2021-05-30 11:29] bkmgit commented on #2949
Related libraries:
- https://github.com/ShadenSmith/splatt
- https://tensors.lanl.gov/
- https://github.com/tensorly/tensorly
- https://github.com/TensorDecompositions/NTFk.jl
- https://github.com/lanaperisa/TensorToolbox.jl
- https://github.com/yunjhongwu/TensorDecompositions.jl

[2021-05-30 22:57] DylanWangWQF commented on #2950
Hi, @rcurtin This is really helpful! Many thanks for your help!
Currently, I'm trying to modify the part of Hoeffding Tree Training to complete my experiment as soon as possible. When I finish this part, I'm glad to contribute some improvements if these  improvements did work in  this project.

More details: I have to implement the training process in a non-recursive way. That is, I store and upda

[2021-05-31 09:46] xlindo opened #2962 "Is `DatasetInfo` a necessary parameter for Hoeffding Tree?"
In `hoeffding_tree.hpp`, there is a default constructor without parameters, and also a `Train` method does not need `DatasetInfo`.
But when using these two to avoid passing `DatasetInfo`, like,
[code]
an exception is thrown.
[code]

So is `DatasetInfo` a necessary parameter for Hoeffding Tree? Or is it possible to train a Hoeffding tree without passing in `DatasetInfo` **explicitly**?

[2021-06-01 23:22] rcurtin commented on #2962
Hey @xlindo, thanks for reporting this!  I played with the example and found that this is indeed a bug in the handling of new datasets.  I opened a PR, #2964, which should fix the issue.  If you'd like to try your code on that branch and see if it works, that would be great!

In any case, to answer the original question, it should be possible to train a Hoeffding tree without a `data::DatasetInfo`

[2021-06-02 01:22] xlindo commented on #2962
Thanks a lot!
I will try it later.

[2021-06-02 02:19] xlindo commented on #2962
It works now. This issue can be closed. Thanks.

[2021-06-02 03:10] xlindo commented on #2962
For consistency with other classification algorithms, I thought there can be a optional parameter `num_classes=0`  of `Train(...)`.

[2021-06-02 14:46] rcurtin commented on #2962
Nice point!  Let me add that to the changes in #2964. :+1:

[2021-06-03 03:55] #2950 closed

[2021-06-03 12:51] rcurtin opened #2966 "macOS R CI build failing"
#### Issue description

I noticed that on PRs, like #2965, the macOS R build fails with output like this:

[code]

Here's a link:

https://github.com/mlpack/mlpack/pull/2965/checks?check_run_id=2733503597

@Yashwants19 do you have a quick idea why this happens?  I imagine it might be pretty simple to fix, but I am not very familiar with the R CI jobs. :+1:

[2021-06-04 00:37] rcurtin commented on #2958
@conradsnicta was there any reason to close this one? This seems like a relatively straightforward (albeit tedious) change. It looks like `fill::none` has been around for a long time, so there shouldn't be any reverse compatibility issues.

For anyone interested in contributing, the pattern here is that we need to change, e.g., `arma::mat(r, c)` to `arma::mat(r, c, arma::fill::none)`. It may be a

[2021-06-04 09:24] xlindo commented on #2962
Many thanks.
This issue could be closed now.

[2021-06-04 09:31] xlindo opened #2967 "Getter and setter methods for template parameters for `KMeans`"
In `kmeans.hpp`, there are getter and setter methods for template parameters, e.g.,

[code]

This makes me confused. Once the algorithm is instanced, how could the inner types be modified? Or if there is other way to use these methods, please let me know that.

Thanks.

[2021-06-04 23:36] rcurtin commented on #2949
One issue here is that Armadillo only supports 3-d tensors; so going higher-order than that would either require some kind of wrapper class for an Armadillo object that can make it "act" higher-dimensional or some other solution.  For some of these decompositions, it might make sense to contribute them to Armadillo directly. :+1:

[2021-06-05 04:51] NippunSharma commented on #1709
@rcurtin, can we close this one?

[2021-06-05 13:48] rcurtin commented on #2948
This would be great to add!  It would go along well with our PCA/KPCA/ICA implementations.

[2021-06-05 13:53] rcurtin commented on #2967
You can't change the type of `EmptyClusterPolicy` once you have made a `KMeans<>` object, but you can change and modify the one that is held.  So, for instance, if the `EmptyClusterPolicy` you were using stored some state, like, e.g., the maximum number of reclustering attempts or something, you could change that via modifying `kmeans.EmptyClusterAction()`, then calling `kmeans.Cluster()` again fo

[2021-06-05 14:08] bkmgit commented on #2949
Ok. Thanks.

[2021-06-06 06:59] jonpsy opened #2969 "A wrapper for optimizers"
### What is the desired addition or change?

Would be nice if we could have wrappers around optimizers. So that we can schedule learning rates and other parameters. For example: Moving Average, Stochastic Moving Average.

### What is the motivation for this feature?

They're pretty cool and allows for a sophisticated deep learning model. Their weight averaging systems acts as an "ensemble" and SWA

[2021-06-06 15:52] rcurtin commented on #1709
Yes, we can!  Thank you for reminding me and awesome work with #2868. :rocket:

[2021-06-06 15:52] #1709 closed

[2021-06-07 02:52] xlindo commented on #2967
Sorry, I did not get your point. Could you give me an example to show how to change the parameter on a constructed object, e.g., change the `Metric()`?

[2021-06-07 02:52] xlindo commented on #2967
Sorry, I did not get your point. Could you give me an example to show how to change the parameter on an constructed object?

[2021-06-07 15:45] rcurtin commented on #2779
I've been going through the `ann-vtable` branch to refactor every layer.  It's going to be a little while until I manage to actually make things work correctly (surely I can make some intermediate PRs, but we won't be able to merge them here for a while...).  I wanted to write down a few observations I had for discussion, in case anyone has alternative perspectives:

### 1. Storage of intermediate

[2021-06-07 19:12] DanL1234 opened #2971 "Windows: Fresh install of mlpack & simple project = MLPACK_ARMA_USE_OPENMP warning"
Not sure how to resolve this.

I've gone through the download / installation procedure twice and get the same error for a fresh build. More precisely:

Windows 10 / vcpkg:

1. git clone https://github.com/microsoft/vcpkg (within c:\src\vcpkg\ folder via powershell)
2. navigate to c:\src\vcpkg\
3. .\bootstrap-vcpkg.bat
4. .\vcpkg install mlpack:x64-windows
5. .\vcpkg integrate install
6. open Visua

[2021-06-07 19:40] yaro5 opened #2972 "Issues while executing mnist_vae_cnn example"
I have a small issue while executing the example of convolutional VAE from "mlpack/examples/mnist_vae_cnn" (mnist_vae_cnn.cpp and vae_utils.hpp).

_Note: I have tried with other networks (MLP, a normal classification/regression CNN, even defining different architectures) and everything works fine._

I have compiled successfully the .cpp code from the example mlpack/examples/mnist_vae_cnn with mlpa

[2021-06-07 20:59] #2962 closed

[2021-06-07 23:37] shrit commented on #2972
Hi @yaro5 thanks for opening the issue.
We already have identified this issue, it is opened in the example repository [#84](https://github.com/mlpack/examples/issues/84).
I did not look into the code closely, but please feel free to open a pull request if you have any idea, or to identify the origin of the problem.

[2021-06-07 23:53] shrit commented on #2971
@DanL1234 Thanks for opening the issue with such details.
When I see the error message, I understand that you have already acquired mlpack binaries and installed them on your machine.

Are you sure that you have `openMP` installed at your machine?
If yes

Did you add `-fopenmp` to your compiler command line on your project?
It seems to me that you have tried to add the flags (I have never used Vis

[2021-06-08 02:03] zoq commented on #2779
That basically means you do a dry run over the network to figure out what the output size is, and use that information to initialize e.g. the block for the output matrix?

 I think it doesn't matter if the network branches off (e.g. inception) as long as we asign the correct alias. So somewhat similar to what we currently do with the weights and the `Reset` that is part of the layer implementation

[2021-06-08 15:36] DanL1234 commented on #2971
Hi Shrit, thanks for the response. I'm not able to look at this for a day or two but wanted to thank you and let you know I will look at your idea (building armadillo seperately sounds a great idea - just need to look into how to do that :-) ).

I'll come back to you shortly and let you know how I get along. Cheeeeers!!! :-D

[2021-06-09 00:34] rcurtin commented on #2779
Essentially yes, but it's not like a forward pass is being taken---instead, we are just looping over each of the layers, asking each layer what the output size is (via `OutputDimensions()`), and then collecting the size of the result.  It's quite similar to some of the visitors like WeightSizeVisitor, it's just implemented using inheritance, not the visitor paradigm.

Actually this might be a bit

[2021-06-09 01:00] rcurtin commented on #2967
Of course, no problem... however, there are no `EmptyClusterPolicy` types that this functionality would be useful for.  So here is a new one that prints a string when it kills a cluster:

[code]

Now, we can use this:

[code]

Does that help?  This kind of functionality exists in several mlpack classes and it is provided for flexibility, for when a user provides a template class whose members they

[2021-06-09 02:05] xlindo commented on #2967
I see.
I was stuck in the modification for passing type.
So this means these setters are used for the modifications in the class (a determined type).
Thanks.

[2021-06-09 02:11] rcurtin commented on #2967
Yep, exactly!  The type is set at compile time via the template parameter.  But the actual instance can be modified at runtime. :+1:

[2021-06-09 02:27] xlindo commented on #2967
Thanks.
This can be closed now.

[2021-06-09 02:52] #2967 closed

[2021-06-09 06:54] xlindo opened #2975 "How to construct an algorithm object at runtime?"
For c++, there are always types for constructing an object.
Is there any way to construct an algorithm object based on input strings, which indicating the template parameters?

[2021-06-09 12:29] shrit commented on #2975
You would elaborate more on your question?
If you would like to see how mlpack algorithms are used, we have a set of examples in [example repository](https://github.com/mlpack/examples), a set of models in [model repository](https://github.com/mlpack/models).
if you did not find what you need, you can read the mlpack tests in the source code in `mlpack/src/tests`. Also, you can have a look at the

[2021-06-09 15:40] xlindo commented on #2975
Once I want to construct an algorithm object, I need to indicate the template parameters.
But sometimes the template parameters are based on input, like reflection, e.g., "Euclidean" relates to `algo = new Algorithms<mlpack::metric::EuclideanDistance￼>()`. And this can hardly happen at runtime.
Is there any solution for this construction?

[2021-06-09 22:06] rcurtin commented on #2969
I'm pretty sure this is exactly what we designed callbacks for.  If you want to take some action after an epoch or after a step was taken---including modifying the parameters or changing parameters of the optimizer---that's totally reasonable.  Perhaps in TensorFlow or PyTorch, callbacks are meant to be "read-only", but ensmallen isn't PyTorch or TensorFlow and so we don't have the same restrictio

[2021-06-10 01:42] zoq commented on #2975
In this case you have to pre-define any possible options a user can select, this is what we do for some executables:

https://github.com/mlpack/mlpack/blob/66eecdc48d6c0c960fce18566d19ff27c6496116/src/mlpack/methods/kernel_pca/kernel_pca_main.cpp#L155-L183

is just one example.

[2021-06-10 02:17] xlindo commented on #2975
Thanks.

For example, if there is
[code]

If this means that I need pre-define A*B*C options for all possibilities?

[2021-06-10 15:20] shrit commented on #2975
You need to define `A, B, C` according to what you are using.

[2021-06-10 17:28] swaingotnochill opened #2977 "Runtime Error: Solve(): Solution not found in Linear Regression Python Bindings"
#### Issue description

Running Linear Regression failed for python bindings

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: linux
 * compiler: python3
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

1. Run a linear regression job with multiple features.
2. output = mlpack.linear_regression

[2021-06-10 17:31] swaingotnochill commented on #2977
@rcurtin @zoq Do check this out... Don't know why there is such a strange behaviour.

[2021-06-10 20:02] zoq commented on #2977
In case you don't have the dataset, you can pass - https://matrix.org/_matrix/media/r0/download/matrix.org/WvrgbgzkyIMbvkxLkKKNyMrO/housing.csv to pandas, also the map is missing as well, but we can skip the step.

[2021-06-11 12:25] hello-fri-end opened #2978 "Forward() method of Transposed Convolution layer fails"
#### Simple code to reproduce the error

[code]

#### Output
[code]

**This is the reason why the Convolutional VAE example in the examples repository segfaults.**

####  tag relevant issues : #2972 [#84](https://github.com/mlpack/examples/issues/84)
cc: @shrit @kartikdutt18 @yaro5

[2021-06-11 14:28] hello-fri-end commented on #2978
It seems we also need to pass `outputWidth` & `outputHeight` in the constructor. The following code does not give any error:
[code]
Making the same change in the Convolutional VAE example should fix the segfault. I'll open a PR soon.

[2021-06-11 14:28] rcurtin commented on #2977
I can't seem to reproduce this, but to me this implies that the covariance matrix is non-invertible.  Have you tried specifying `lambda_` as a parameter?  (This will do ridge regression instead of linear regression.)  Often `lambda_` is important because if two dimensions are not linearly independent, linear regression will fail.

If you are still having the problem, can you provide an exact data

[2021-06-12 02:37] #2978 closed

[2021-06-12 05:43] ICEJM1020 opened #2979 "There are some differences in the download version and git version"
#### Issue description

I'm a new developer using mlpack. So, I firstly download the zip from the WEB(https://mlpack.org/)), this is same as the github release version. When I using it, there are always error when I want to save a model. I found the error happened when using the boost serialization to serailize arma::Mat(both col and row). So, I search it a lot of times, and found that your team h

[2021-06-12 14:00] shrit commented on #2979
@ICEJM1020 Thank you for opening your issue.
You would elaborate more on the issue that you are facing, maybe we can help you with it.
Currently, we are in the process of removing the boost library entirely. Therefore, you might find a difference between the release and the git master version. We have already removed boost::serialization and currently removing other parts of Boost too.
Hope that t

[2021-06-13 12:44] jonpsy commented on #2969
What you've mentioned is correct. However, I think we should define the boundaries of what the callbacks can be used for. In Pytorch's opinion _"Callbacks should capture NON-ESSENTIAL logic that is NOT required for your lightning module to run"_ [link](https://pytorch-lightning.readthedocs.io/en/latest/extensions/callbacks.html), and I, for one, think it makes perfect sense.  Logging the progress

[2021-06-13 15:06] rcurtin commented on #2969
Why restrict functionality?  PyTorch is designed differently, and while in their context perhaps restricting to non-essential logic "makes perfect sense", it does not in the context of ensmallen.

I still don't understand the use case you are getting at here or why our existing callback infrastructure is insufficient.

[2021-06-13 17:23] zoq commented on #2969
I'm curious to hear why that makes perfect sense to you? TF and PyTorch implement e.g. SWR as an specific optimizer, correct me if I'm wrong, PyTorch Lightning implements it as a callback https://github.com/PyTorchLightning/pytorch-lightning/blob/ad9118f04afe7e9453418adc8298dee0b5868a14/pytorch_lightning/callbacks/stochastic_weight_avg.py#L36.

[2021-06-13 17:28] zoq commented on #2977
@swaingotnochill Can you save the two datasets from the notebook and post them here as well?

[2021-06-13 17:30] swaingotnochill commented on #2977
Sure....

[2021-06-13 20:16] zoq commented on #2977
Looks like what you posted here is the `housing.csv` file the same file I posted above, but to make it easier to reproduce, it would be great if you could post the pre-processed files as well. In this case the two files/matrices you pass to:

`output = mlpack.linear_regression(training= train_set, training_responses = train_labels)`

[2021-06-14 03:24] swaingotnochill commented on #2977
Train_set =  https://drive.google.com/file/d/1vNLZ1n0EAvvn2YFrhANyXHDWWJjRaLr9/view?usp=sharing

Train_labels = https://drive.google.com/file/d/1q8ZgRDJaUqJpFD3JqC5NtWMAcoZy2x6a/view?usp=sharing
@zoq I think you were talking about these two files.

[2021-06-14 03:26] swaingotnochill commented on #2977
@rcurtin I tried with lambda_ = 0.5, but it gave the same error. I have attached the two train_set and train_labels files. Please check with them.

[2021-06-14 18:36] rcurtin commented on #2977
Thanks!  It may be a little while until I have the time to dig in and reproduce the issue, so if you need a response quickly you might be best off digging into the code yourself to see what the issue is. :+1:

[2021-06-14 21:46] rcurtin commented on #2979
Hey @ICEJM1020, to elaborate on what @shrit wrote, we haven't had a release in quite some time due to the refactoring that we are doing to remove Boost.  This means that mlpack version 3.4.2 is quite different than what is available in the git master branch.

Note that you can check out the `v3.4.2` tag if you want the git repository to reflect that version. :+1:

[2021-06-15 01:09] xlindo commented on #2975
Thanks, it seems to be a good example.

[2021-06-15 01:19] xlindo commented on #2975
Thanks.
This example seems to use RTTI to get the types for B and C.
Can only RTTI solve this problem?

[2021-06-15 03:06] xlindo commented on #2975
Thanks for the good example, just got the point.
This issue could be closed now.

[2021-06-15 11:48] RishabhGarg108 opened #2981 "Move all metrics from core/cv/metrics to core/metrics?"
Currently, we have most of the common metrics used to evaluate machine learning models under `core/cv/metrics`. The issue is that the metrics implemented under `cv/metrics` have only a single `Evaluate` method that takes a trained model, test data and test labels. First, it makes predictions on the given model and then calculates the metric. The current implementation is done only by keeping in mi

[2021-06-15 15:40] RUrlus opened #2982 "Replace Cython-based Arma -- Numpy conversions with Pybind11 + CARMA"
### What is the desired addition or change?

Current conversion from and to Numpy arrays is done with Cython which requires a copy both in and out on Windows.
Armadillo [introduced foreign/alien allocators](https://gitlab.com/conradsnicta/armadillo-code/-/commit/544d3a36cd3c51a7e2321b7057a8ddd90cc5ca57) in version 10.5.2 that enable usage, for example, Numpy's (de)allocator allowing better interop

[2021-06-15 16:26] shrit commented on #2982
@RUrlus thanks for putting effort to design `caram`, it is really nice project, I personally think it is very nice to have `carma` to convert from Numpy matrices to Armadillo. The best part is that `carma` is header-only.

Moving from armadillo 8.4 to 10.5 might be a really hard thing to do since it might require a lot of users to download and install armadillo manually. This might be fine for par

[2021-06-15 16:35] shrit commented on #2972
@yaro5, The issue has been solved in the master branch of `examples`, please download the latest version and let my know it is fine for you. I am closing this issue now. Thanks for opening it.

[2021-06-15 16:35] #2972 closed

[2021-06-15 17:19] RishabhGarg108 opened #2984 "Utility methods for Decision Tree"
### What is the desired addition or change?
Add some utility methods to the `DecisionTree` class (And `DecisionTreeRegressor` class once #2905 is merged). Some of the methods are:-
1. NumLeaves: Returns the number of leaves in the tree.
2. TreeDepth: Returns the maximum depth of the tree from the root node.
3. FeatureImportance: Returns an array that contains the importance of each feature.
4. Dec

[2021-06-15 18:28] yaro5 commented on #2972
@shrit thank you so much

[2021-06-16 01:24] rcurtin commented on #2981
The thing is, the stuff that's currently in `metrics/` are actually metric functions: https://en.wikipedia.org/wiki/Metric_(mathematics)

However, I suppose we could rename those to "distance functions", which might be more familiar to users not from the nearest neighbor / metric spaces communities.

Any thoughts on that?

[2021-06-16 03:04] RishabhGarg108 commented on #2981
Hey @rcurtin, "distance functions" can be used, but I would say "metrics" is a better name for two reasons:-

1. According to the Wikipedia definition you provided, a metric is a function that determines the distance between two quantities. In our use cases, all we care about is the distance between the predictions and actual labels. So, this definition applies perfectly to the stuff inside `cv/me

[2021-06-16 17:24] hello-fri-end opened #2986 "Backward() method of Convolution layer fails"
#### Simple code to reproduce the error
[code]
#### Output

[code]
@zoq, I think this is related to why the test for Inception3B fails in #2963.

[2021-06-16 18:11] RUrlus commented on #2982
@shrit Thanks for the kind words and the quick response.

I would suggest to include carma in mlpack, either directly or downloaded/installed during the build. It's light enough for either. Download could happen through CMake or similar to Pybind11, I could look into making it into a pip package.
From a user's perspective it's better to avoid having to manually install different packages and with

[2021-06-16 22:47] rcurtin commented on #2982
Actually the reason for this is to match the conventions used in Python machine learning libraries, where an individual row represents a data point.  In mlpack, due to the fact that Armadillo is column-major, we represent a point as a column.  So we look for C-order, and if we get it, then we just "logically" transpose the matrix (e.g. change the number of rows and columns), and now we have a colu

[2021-06-16 22:56] rcurtin commented on #2975
Awesome, happy to help. :+1:

[2021-06-16 22:56] #2975 closed

[2021-06-17 00:29] rcurtin commented on #2966
This is fixed in #2974, so I'll go ahead and close the issue now.

[2021-06-17 00:29] #2966 closed

[2021-06-17 01:04] zoq commented on #2986
Agreed, thanks for the simple snippet makes it easy to reproduce.

[2021-06-17 18:56] rcurtin commented on #2981
Well, so what I mean is that what's currently in `metrics/` is fundamentally different than what's in `cv/metrics/`.  What's in `metrics/` now are metrics according to the Wikipedia page I linked to---specifically, they satisfy the triangle inequality, and can be used for tasks like nearest neighbor search and others.

But, for computing performance on a model (which is what `cv/metrics/` does), t

[2021-06-18 00:23] RUrlus commented on #2982
That's a good point, I can just check whether the array has more rows than cols with C-order and transpose rather than assume people have already transposed the array.

Yes this would require a change to CARMA but if really needed we could maintain a separate branch that uses the default Armadillo allocators and copies when on windows. Although I would obviously prefer avoiding this.

Cool, that m

[2021-06-18 04:33] JackMBenson opened #2987 "When compiling C++ code with windows copy get 'updatePolicy': identifier not found"
#### Issue description

I was completely unable to compile this until I edited the code int he q_learning.hpp header file. I removed the #if and #endif statements around line 167. Since that looked like it seemed to be the issue although I assume this will cause me some other problems down the line perhaps? Thought I'd mention the issue here though.
To be clear my file currently looks like this:

[2021-06-19 02:02] rcurtin commented on #2987
Thanks for the report! I opened #2988 to fix the issue. You could work around the issue by including `ensmallen.hpp` before any of the mlpack headers. :+1:

[2021-06-20 06:56] ayushi19031 commented on #2181
@kartikdutt18 I am a beginner in open source. Can you please list the activation features that havent been implemented in mlpack yet. Thank you :-D

[2021-06-20 07:07] kartikdutt18 commented on #2181
Please feel free to pick up ISRLU or SQNL activation functions. You can also search for other activation functions that weren't completed by looking at closed PRs with the 'stale' tag. (Usually the title will say whether it is an activation function, or the description will reference this issue.)

[2021-06-20 07:08] ayushi19031 commented on #2820
I would like to work on this

[2021-06-20 07:30] ayushidoescoding commented on #2984
I want to work on this.

[2021-06-20 07:57] NippunSharma commented on #2820
@ayushi19031, go ahead. I think @onikolskyy @PranavReddyP16 were working on this, best to ask them first 👍

[2021-06-20 08:03] RishabhGarg108 commented on #2984
@ayushidoescoding, feel free to work on it :)

[2021-06-20 09:25] ayushi2019031 commented on #2984
@RishabhGarg108  I wanted to confirm, so you have implemented the decision tree as per this PR (https://github.com/mlpack/mlpack/pull/2905), so should I contribute to this after
 the PR is merged?

 Thanks

[2021-06-20 12:58] RishabhGarg108 commented on #2984
@ayushi2019031 At this moment, I would suggest that you can start with implementing any one of the above utilities in the `DecisionTree` class which we already have. The PR that I am working on is very volatile and It gets updated on a daily basis, so it will be a little tricky for you to work on it. Also, most of the utilities that we are talking about here are pretty generic and does not depend

[2021-06-20 13:21] ayushi2019031 commented on #2984
Okay thank you :) will start working on it now

[2021-06-20 16:04] DanL1234 commented on #2971
Hi Omar, All,

Quote Omar, "Are you sure that you have openMP installed at your machine?  If yes Did you add -fopenmp to your compiler command line on your project?"

Honestly, I dont know how to "install" openMP - if I look at the openMP site, it's just a set of coding standards and interfaces. Visual Studio (uses cl.exe to compile/build) supports openmp via "\openmp" and "\openmp-" compiler opti

[2021-06-21 01:05] RishabhGarg108 commented on #2981
Ahh, I see. It does make sense to me now. Thanks for the clarification :). Now, I too agree that we can name it `distances/` 👍

[2021-06-21 03:57] JackMBenson commented on #2987
Oh, thanks that helps a lot.

[2021-06-21 12:00] rcurtin commented on #2987
#2988 is merged now, so the issue should be fixed.  Please feel free to open more issues if you have any! :+1:

[2021-06-21 12:00] #2987 closed

[2021-06-21 13:07] RishabhGarg108 opened #2991 "`data::Split` should issue an error when the data and labels have different number of samples."
Currently, when `data::Split` is called on a dataset in which data and labels have different sizes, then the result is undefined. Sometimes, it splits while sometimes it gives segmentation fault while sometimes it throws an out of bound error. Ideally, it should always throw an exception clearly saying that the sizes do not match.

I encountered this while writing a test where I accidentally forgo

[2021-06-21 16:41] onikolskyy commented on #2820
HI @ayushi19031, I haven't worked on this since my last contribution. Please feel free to continue

[2021-06-22 01:47] zoq commented on #2991
Just to add some more information in this case:

https://github.com/mlpack/mlpack/blob/68ff28175d1103c092d4c3f0bc495c450ecd40d2/src/mlpack/core/data/split_data.hpp#L27

does not check the input size, we should throw a runtime error similair to:

https://github.com/mlpack/mlpack/blob/68ff28175d1103c092d4c3f0bc495c450ecd40d2/src/mlpack/core/data/split_data.hpp#L148-L149

if the size is different.

[2021-06-22 05:26] RishabhGarg108 commented on #2991
Yeah, we already have `mlpack::utils::CheckSameSizes` that can perform this sanity check in `SplitHelper` as pointed by @zoq.

[2021-06-22 14:12] rcurtin commented on #2982
Yeah, on second thought, let's avoid that by just requiring Armadillo 10.5+ to manually build the Python bindings.

Ahh, ok, when I reread what you originally wrote I think this makes more sense now.  From my side the priority is just to ensure, if possible, no copies when passing matrices back and forth between C++ and Python.  I think you are saying that's possible, even on Windows (where our cu

[2021-06-23 17:49] shrit opened #2996 "What do you think of moving to C++17"
Hello everyone,

Boost has a lot of nice features that helped in accelerating the development of mlpack. It has also a lot of functionalities that are developed independently and then integrated into the C++ standard library. However, recently, we have decided to remove boost from mlpack in order to reduce dependencies overlead, and to increase mlpack compilation time.
However, during the removal

[2021-06-23 23:06] nkanrar opened #2997 "Class Probabilities for Softmax_Regression in R"
Hi! Thanks for this great package. I am using mlpack in R to do multiclass classification, specifically with the softmax_regression function. I was wondering if there is any way to obtain the probabilities for belonging to each class for the test data? The documentation shows that we can get the predicted classes for test data, but I was wondering if we could essentially get the matrix of probabil

[2021-06-23 23:21] rcurtin commented on #2977
I can't reproduce this one.  Here's the transcript of my Python session, using mlpack Python bindings built from `git master`.  Can you try it on your system and tell me what you get?

[code]

Is it possible maybe you are using a different version of mlpack or something like this?

[2021-06-23 23:51] zoq commented on #2977
In the example you removed the last column as well. The first row:

`9155,-118.53,34.45,10.0,5509.0,969.0,3002.0,959.0,5.5981,0,1,0,0,0,5.744525547445256,0.17589399165002723,3.130344108446298`

the first one is the index, which we should remove but the last column is the `population`, if I remove the first and last column it works for me as well, but if I leave the last column I can see the same e

[2021-06-23 23:54] rcurtin commented on #2977
Oh, sorry, you're right, it should be `[1:]` not `[1:-1]`.  Let me try again like that...

[2021-06-24 03:10] zoq commented on #2996
The main question I have is what does C++17 bring to the table, like the two features you mentioned above could be replaced by:

- https://github.com/mlpack/ensmallen/blob/master/include/ensmallen_bits/utility/any.hpp
- https://github.com/bitwizeshift/string_view-standalone

without depending on C++17. I'm not against bumping up the version, but if there is a way to be C++11 complaint without sacr

[2021-06-24 10:41] shrit commented on #2996
There are actually a set of great features that we can use with C++17, for instance, we can have the compile-time if, which will simply mlpack code, for instance, we can use `if constexpr (is_same<A, B>::value)`, instead of having several overloads with `typename std::enable_if<is_same>....`.

Of course, if you think that we are going to lose a considerable number of users because of this shift, t

[2021-06-24 15:46] zoq commented on #2996
Personally I would switch if there is a feature that isn't only sugar on top of something we already use in some form or the other that would make our life easier or currently isn't possible.

armadillo currently sticks with C++11 as well, not sure this is because of limited compiler support or something else. @conradsnicta might have some more insights.

[2021-06-25 00:59] conradsnicta commented on #2996
This is mainly due to the need to support RHEL-7 / CentOS-7, which has gcc 4.8 as the default compiler.  RHEL-7 / CentOS-7 are (still) used on clusters in academic and commercial organisations.  There is an overall (slow) transition to RHEL-8, though some places are simply waiting for RHEL-9 (due in 2022).

Purely from the perspective of Armadillo, right now I don't have a pressing need to use spe

[2021-06-26 02:01] rcurtin commented on #2996
I've always been a fan of maintaining reverse compatibility, so I have tried to keep our minimum versions as low as possible---so long as it doesn't require *too* much effort from our end.  (And I think in the past, there are places where I did expend too much effort on this goal...)

I agree with @conradsnicta that it's important to support whatever the oldest-widely-used-version of RHEL, especia

[2021-06-26 02:30] rcurtin commented on #2977
It seems that there are missing values in the data:

[code]

[code]

Maybe the input dataset needs to be filtered or imputed first?

[2021-06-26 03:50] zoq commented on #2977
You are absolutely right, we are missing 207 entries for the `total_bedrooms` value:

`-118.72,34.28,17.0,3051.0,,1705.0,495.0,5.7376,218600.0,<1H OCEAN`

For the example we can just drop the column.

[2021-06-26 04:57] rcurtin commented on #2977
It could be nice to add a little block to the example to indicate that checking for missing/nan values is a good idea... you can even use the `check_input_matrices` option as a demonstration of a way to check, then remove them and run again, for instance.

[2021-06-26 04:58] swaingotnochill commented on #2977
@zoq Yes...It is just like we saw in meeting...I missed there are NaN values...This is the reason causing this error..I fixed it...I added a block which checks if there are any NaN values and if there are, we can deal according to different strategies...Sorry for this, it was due to my ignorance...

[2021-06-26 05:01] swaingotnochill commented on #2977
I am closing this issue...Again sorry for this

[2021-06-26 05:01] #2977 closed

[2021-06-26 15:47] conradsnicta commented on #2996
cf. https://github.com/mlpack/mlpack/pull/2955 and the related discussion at https://github.com/mlpack/mlpack/issues/2939

TLDR: mlpack no longer supports plain RHEL7 (ie. gcc 4.8) and requires a newer compiler which can be installed on RHEL7.

[2021-06-27 09:19] #2882 closed

[2021-06-27 16:40] shrit commented on #2996
According to the above opinions, let us initially go with the backported version [`bpstd`](https://github.com/bitwizeshift/BackportCpp).
If `bpstd` compiles well, we can use it for the next couple of years, I would say 2024.
In the meanwhile, I will start replacing the `boost::any_cast` and see if this compiles with `bpstd` version. I will include the necessary `bpstd` headers inside mlpack since

[2021-06-28 00:23] rcurtin commented on #2977
No worries!  Happy to help out. :)  (And also happy to check that the `check_input_matrices` option works correctly! :smile:)

[2021-06-28 20:35] #2561 closed

[2021-06-29 07:26] JackBoosY commented on #2971
The warning was written here:
https://github.com/mlpack/mlpack/blob/0d9de4b541de12413dcd77d184390a3a59b2cb59/src/mlpack/core/util/arma_config_check.hpp#L40-L56
So if `ARMA_USE_OPENMP` is not defined and `MLPACK_ARMA_USE_OPENMP` is defined, the compiler will report this error message.
And `ARMA_USE_OPENMP` is a macro of `armadillo`. The feature `openmp` is not enabled when armadillo is built by vcp

[2021-06-29 23:38] rcurtin commented on #2997
Hey there @nkanrar, you're right that the softmax regression binding does not make this information available, and that is unfortunate!

I've opened a PR to fix the issue in #3001.

However, it will not immediately solve your problem once merged... you will either have to wait until the next stable release of mlpack makes it to CRAN, or manually install a new version.  But, it may be some months b

[2021-06-30 13:24] prasad-dash commented on #2991
Has this issue been assigned to someone, if not can I work on it?

[2021-06-30 13:47] RishabhGarg108 commented on #2991
Hey @prasad-dash, it is not assigned to anyone. Feel free to work on this.

[2021-07-01 23:51] rcurtin commented on #2996
That sounds like a good plan. :+1:

@conradsnicta is right---mlpack will no longer compile on the standard GCC provided by RHEL7.  Somehow I forgot that in my response.  Instead users will have to install `devtoolset-8`, which provides gcc 8.2.1.  It looks like that will have everything we need from C++17 support, but, we still have to also consider Ubuntu (18.04), which has gcc 7.4.0.  Maybe that

[2021-07-02 14:46] conradsnicta commented on #2996
According to gcc documentation, almost all C++17 features are present in gcc 7:
* https://gcc.gnu.org/projects/cxx-status.html#cxx17
* https://gcc.gnu.org/onlinedocs/libstdc++/manual/status.html#status.iso.2017

The main omission seems to be [filesystem library](https://en.cppreference.com/w/cpp/filesystem).

[2021-07-02 22:18] rcurtin commented on #2996
We talked about it in the video chat today; @zoq pointed out that if Armadillo only requires a C++11 compiler, we should probably try and keep the same requirement for mlpack.  I can agree with this (but my opinion is not particularly strong).

So I think the idea @shrit is going with, where we are backporting support when C++17 isn't available, instead of just requiring C++17, is a good approach.

[2021-07-06 20:26] rcurtin commented on #2779
I finished implementing these suggestions for some basic cases here: https://github.com/zoq/mlpack/pull/2.

[2021-07-08 02:25] zoq commented on #2986
When I use https://github.com/mlpack/mlpack/blob/98e8e832abf5bf5e3362da06d66c23b1ba703c8d/src/mlpack/methods/ann/convolution_rules/naive_convolution.hpp instead of the current implementation it works, so it looks like there is something we are doing wrong with the dilation parameter.

[2021-07-08 18:17] NippunSharma opened #3010 "Default values of Adaboost program are not good"
#### Issue description

This issue was encountered when I was testing the python generated wrapper of Adaboost for my GSoC project for compatibility with scikit hyperparameter tuners in Python.

#### Steps to reproduce

I am pasting the code that I used but the changes that I am working on are still not merged into mlpack.
However, I am also pasting the best parameters and results that I got after

[2021-07-08 18:32] NippunSharma commented on #2991
There are `CheckSameSizes` and `CheckSameDimensionality` utilities that got merged in #2370, maybe those can be helpful. Also there is #2820 that faces a similar issue, maybe it makes sense to tackle both of these in a single PR?

[2021-07-09 13:09] RishabhGarg108 commented on #2991
Yeah, the fix that is needed here is the same as required in #2820. But, that issue is specific only to bindings. While this is related to mlpack/core. Maybe it is good to keep them separate so that it doesn't create any confusion?

[2021-07-10 21:56] rcurtin commented on #2971
Hmm, I think that if vcpkg is not using OpenMP for its Armadillo build, then you could force mlpack to *not* compile with OpenMP support by specifying the CMake configuration flag `USE_OPENMP=OFF`.  Maybe I overlooked something that was written, but would that be a workable solution here to simply disable OpenMP support?

[2021-07-11 01:19] #2958 closed

[2021-07-12 00:10] rcurtin commented on #3010
I think, at least for the MNIST example here, part of the reason is that each decision stump can only split two classes (at most) on one feature, so decision stumps will not really work well here.  I would imagine that in the two-class case, even on MNIST-type data, decision stumps would work much better.

Nonetheless, some exploration is worthwhile here: we want to find some good default settings

[2021-07-12 05:37] #2996 closed

[2021-07-12 12:20] conradsnicta commented on #1990
This may help.  As of Armadillo 10.6, the [chol()](http://arma.sourceforge.net/docs.html#chol) function optionally allows pivoted Cholesky decomposition, which has the less stringent requirement of positive semi-definite matrices.  This is in contrast to standard Cholesky decomposition, which requires positive definite matrices.

[2021-07-12 14:19] #2948 closed

[2021-07-12 14:30] RishabhGarg108 commented on #2984
Found this https://arxiv.org/abs/1802.03888 paper for feature importance. Most of the libraries out there use this method.

[2021-07-13 03:36] RishabhGarg108 opened #3013 "SFINAE utility to check for template member functions."
### What is the desired addition or change?
With the SFINAE utilities which we have as of now, `HAS_MEM_FUNC` can only check for member functions that do not have templates. So, if we have something like:
[code]

and we want to do a compile-time check if any class implements the function `bar()`, then the `HAS_MEM_FUNC` macro can't be used for it. So, it would be great to have a macro `HAS_TEMPLAT

[2021-07-13 07:27] JackBoosY commented on #2971
When I force to set `USE_OPENMP=ON`:
[code]

Any ideas?

[2021-07-13 11:32] hello-fri-end commented on #2986
Can you post the output of `delta.print()` ? I think delta will have some garbage values even in the commit you posted.

[2021-07-15 00:32] rcurtin commented on #2971
I've never seen that issue before.  But my suggestion was to set `USE_OPENMP` to `OFF`, not `ON`, and see if that fixes the error.  Does that work to solve the problem?

[2021-07-15 02:46] JackBoosY commented on #2971
@rcurtin See my patch:
[fix-build-with-openmp.zip](https://github.com/mlpack/mlpack/files/6819986/fix-build-with-openmp.zip)

I've successfully build mlpack with openmp without this changes.

[2021-07-15 10:23] hello-fri-end commented on #2986
For the snippet I posted, the [if condition](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/convolution_rules/naive_convolution.hpp#L113) is never true. The size of `outputRows` & ` outputCols` from the [initial expressions](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/convolution_rules/naive_convolution.hpp#L106-L109) comes out to be (7,7) but it needs

[2021-07-15 14:21] RishabhGarg108 opened #3015 "Change DecisionTree to DecisionTreeClassifier and similarly for other related classes."
The existing `DecisionTree` class in `methods/decision_tree/decision_tree.hpp` can only do classification. Once #3011 is merged, we will also have a `DecisionTreeRegressor`. So, to make it clearer we need to change that class to `DecisionTreeClassifier`.

The `DecisionTree` class is also used in `AdaBoost` and `RandomForest`. So, it makes sense to change them too to `AdaBoostClassifier` and `Rando

[2021-07-15 14:33] RishabhGarg108 opened #3016 "Create BaseDecisionTree class to share code."
#3011 adds the `DecisionTreeRegressor`. This shares a lot of common code with the `DecisionTree` class. It is discussed in #2984 to add some utility methods and they are also common to both these classes. So, to avoid duplication of code, we can have a `BaseDecisionTree` class and the `DecisionTreeRegressor` and `DecisionTreeClassifier` can inherit from it.

**Caution:** These decision tree classe

[2021-07-17 14:37] jaskiratsingh2000 commented on #3013
Hey @zoq I am quite beginner and super interested to contribute towards this repo and this issue seems to be good but I am not sure that how to start with it. Can you please exactly let me know that what and where are the changes required?
I would be super grateful to your response. Thanks

[2021-07-17 14:41] jaskiratsingh2000 commented on #2991
Hey @zoq I am quite beginner and super interested to contribute towards this repo and this issue seems to be good but I am not sure that how to start with it. Can you please exactly let me know that what and where are the changes required?
I would be super grateful to your response. Thanks

[2021-07-17 23:46] zoq commented on #2991
A good first step is to write a test file to reproduce the issue. In this case you could adapt:

https://github.com/mlpack/mlpack/blob/42071e92be63221da73a620de5beac0a5c537a9c/src/mlpack/tests/split_data_test.cpp#L154-L176

the test case uses the correct input/labels dimension, so you have to modify the `input` or `labels` matrix to produce the error.

[2021-07-18 17:45] jaskiratsingh2000 commented on #2991
@zoq So I just have to copy the same in a new file and just changed the mat input arguments? Is this what you mean to say?

[2021-07-19 01:07] DylanWangWQF opened #3019 "Question about the parameter checkInterval in Hoeffding Tree"
Hi, I have a question about the parameter `checkInterval`.
@rcurtin Sry for my noise.
[code]
What's the role of this param? We also don't pass the value from the command line.
Can we just replace it with the following check?
[code]

[2021-07-19 01:27] zoq commented on #2991
What I was saying is, you have to write a new test, you can copy the one I referenced above, change the test case name. Build mlpack and run the test. Since you copied the test case it will run just fine, but to reproduce the issue, you can use

`const Row<size_t> labels = arma::linspace<Row<size_t>>(0, input.n_cols,  input.n_cols + 1); `

instead of

`const Row<size_t> labels = arma::linspace<Row

[2021-07-19 03:19] #275 closed

[2021-07-19 03:19] #773 closed

[2021-07-19 05:50] jaskiratsingh2000 commented on #2991
@zoq So main working in this issue is that I have to take the above case as reference and paste just below it. and final outcome of this test case should be an error. Please correct me if I am assuming this wrong.

[2021-07-19 06:19] #2949 closed

[2021-07-19 06:19] #314 closed

[2021-07-19 08:36] RishabhGarg108 commented on #3013
Hey @jaskiratsingh2000, mlpack uses SFINAE to do compile-time checks for checking if any class implements a member function of a particular form and many other checks. If you will take a look at `mlpack/core/util/sfinale_utility.hpp`, all the different macros used for these checks are defined there.

To solve this issue, you need to define another macro that can do the check described in the descr

[2021-07-19 10:14] RishabhGarg108 opened #3020 "Use AuxiliarySplitInfo to store all the split related info in DecisionTree and DecisionTreeRegressor."
### What is the desired addition or change?
Use the `NumericAuxiliarySplitInfo` and `CategoricalAuxiliarySplitInfo` to store all thee split related information rather than the data members like `classProbabilities` and `splitInfo`.

### What is the motivation for this feature?
The reason for this change is that right now we are using `classProbabilities` for storing the "split point" in `DecisionT

[2021-07-19 13:19] #2166 closed

[2021-07-19 13:19] #2200 closed

[2021-07-19 13:19] #1661 closed

[2021-07-19 13:19] #1936 closed

[2021-07-19 13:21] Aakash-kaushik commented on #2200
Do you guys thinking we still need this, as a lot of the Functions mentioned in this were initial not there in mlpack but now the state of ann code base has changed and is a lot more mature now, and maybe if a new activation function comes which is worthwhile to implement someone can take it as a feature directly.

[2021-07-19 15:01] rcurtin commented on #3013
Personally, I'm not sure if it's worth the effort to implement this until we actually need it, but I don't think it's a bad thing to add. :+1:

[2021-07-19 15:03] rcurtin commented on #3020
This should help efficiency too, though it may be minor.  So we should do some timing simulations to double-check that when handling this issue. :)

[2021-07-19 15:08] rcurtin commented on #3016
It's likely that code for creating children or doing prediction is quite duplicated in these two classes, and could be held in a base class.  But, @RishabhGarg108 is right, we should be careful to avoid `virtual` for this refactoring if the functions might be called repeatedly during training or prediction.

[2021-07-20 01:19] #1877 closed

[2021-07-20 01:19] #1633 closed

[2021-07-20 01:19] #1806 closed

[2021-07-20 01:19] #1589 closed

[2021-07-20 01:46] rcurtin commented on #2003
I think this one still needs to be handled, so I'll reopen it :+1:

[2021-07-20 11:20] RUrlus commented on #2982
@rcurtin The issue has been open for a while now without any additional comments/considerations. So I'll start working on this, I expect it will take a bit of time to get an initial PR. I'll reach out on slack(?) when I have questions or to discuss approaches.

[2021-07-20 12:17] rcurtin commented on #2982
Sounds good!  Our Slack room is bridged to our Matrix room and Gitter room (but currently not IRC ...), so you can use any of those protocols without a problem. :)

[2021-07-20 19:19] #2969 closed

[2021-07-21 01:50] nkanrar opened #3021 "R RandomForest Leads to a Crash"
#### Issue description

Hi,

Thanks for this great package. I was interested in using the random forest classifier in R's mlpack for a classification problem using relatively large matrices (thousands of rows each with 200 features, so a 1000s x 200 dimension). The random forest classifier works great when I run it once, but within a few seconds after one run of a call of the classifier, my RStudi

[2021-07-21 22:19] #2979 closed

[2021-07-21 23:32] coatless commented on #3021
You may need to request a larger memory size when running the interactive job on the cluster. This would need to be set with a flag that is dependent on the underlying scheduler (e.g. SLURM, PBS, ... ).

[2021-07-22 16:24] RishabhGarg108 commented on #2932
Keep open

[2021-07-22 19:48] nkanrar commented on #3021
Thanks @coatless!
I guess one question I have is should running the random_forest in mlpack lead to this memory issue?
I've run random_forest implementations from other packages on this same dataset and haven't faced any memory limit issues, so I'm a bit confused by this behavior.

[2021-07-22 19:55] rcurtin commented on #3021
Hey @nkanrar, sorry this isn't working out of the box for you.  What are the values of the labels you're providing as input?

[2021-07-22 20:02] nkanrar commented on #3021
Thanks for you response @rcurtin!

The labels I am using as input are a numeric matrix, with values ranging from 1:12, corresponding to the 12 different classes in the dataset.

[2021-07-22 20:13] rcurtin commented on #3021
:+1: are there any NaN values in the input?  Is it possible you can provide the dataset or a small subset of it that causes the crash?

[2021-07-22 20:43] nkanrar commented on #3021
Thanks @rcurtin could I e-mail the dataset to you?

[2021-07-22 23:26] rcurtin commented on #3021
Sure, my email is ryan@ratml.org. I'll try to run it and see if I can reproduce the issue.  If you could send corresponding R code that can be used that would be great too. :+1:

[2021-07-22 23:42] nkanrar commented on #3021
@rcurtin Sent! Thank you so much!

[2021-07-23 21:25] rcurtin commented on #3019
@DylanWangWQF no worries!  Happy to help.  You are right that we could do `if (numSamples > minSamples)`, but that means we would do the check for *every* sample we passed in.  That check does have some computational cost, so, we can choose to set `checkInterval` to, e.g., `10` if we want to only check to split every 10 samples.  That can make training a bit faster (but, of course, we check to see

[2021-07-23 21:37] rcurtin commented on #3021
I ran this locally in an R session with

[code]

and then saw that `res` seemed to be populated correctly, so, I think I am not able to reproduce the issue.  Do you have any more information on what might be going on?  I wonder if this is not an mlpack issue but instead something else.  (I am not very familiar with R, so, unfortunately, I don't have many suggestions...)

[2021-07-23 22:10] nkanrar commented on #3021
Hi @rcurtin thanks for trying it out! One thing I noticed is if I try to run my function multiple times, then RStudio would stall and then crash. If you were to try that, does it lead to a crash?
Otherwise same here, I am pretty stumped about what could be the cause if it's not an mlpack issue.

[2021-07-23 22:12] coatless commented on #3021
I suppose we need more information about the RStudio version on the cluster, size of the data set, and average amount of RAM the interactive job is launched with.

[2021-07-24 00:12] nkanrar commented on #3021
Thanks @coatless!

- RStudio version is 4.0.3
![Screen Shot 2021-07-23 at 3 45 27 PM](https://user-images.githubusercontent.com/65882575/126849402-ef675095-2f7e-4f59-ad22-6bea04473bb1.png)

- The size of the training dataset is 20249 samples x 300 features, with one column of labels. It is 50.6 MB.
- 600-700 M of RAM is being used when I run the process on RStudio.

[2021-07-24 00:13] coatless commented on #3021
@nkanrar I need to see the RStudio Server version, please run:

[code]

[2021-07-24 00:16] nkanrar commented on #3021
@coatless

It is 1.3.959

![image](https://user-images.githubusercontent.com/65882575/126851801-9f272d35-e9b1-4c2c-a56c-6c394fefc10f.png)

[2021-07-25 09:19] #2211 closed

[2021-07-25 09:19] #1660 closed

[2021-07-25 09:19] #1631 closed

[2021-07-25 09:19] #364 closed

[2021-07-26 00:01] conradsnicta commented on #3021
@nkanrar Are these standard/reference BLAS and LAPACK libraries, or do these eventually redirect to OpenBLAS or MKL ?
(eg. through the so-called "alternatives" mechanism on Ubuntu/Debian, or perhaps via FlexiBLAS on other systems)

Standard BLAS is exceedingly slow, and is generally not used for practical purposes.

[2021-07-26 23:37] evanbiederstedt commented on #3021
Hi there

I'm working with @nkanrar and we're using the same server.

To clarify, she's interactively running R on a server with over 2TB of memory. Lack of available memory on the machine isn't the problem here.

I've reinstalled all system libraries with sudo using `sudo apt-get install libmlpack-dev mlpack-bin`. I also installed the package `mlpack` from CRAN.

Multiple invocations of `rf_mlpac

[2021-07-27 00:32] coatless commented on #3021
@evanbiederstedt thanks for chiming in and providing more details.

I think this is a configuration hiccup on the actual server as we're not seeing a regression that would cause this to segfault elsewhere. Glancing at the two different R session overviews provided, I see:

[code]

vs.

[code]

So, I think there are multiple local R copies in play.

For simplicity and to aide the debugging process,

[2021-07-27 00:55] evanbiederstedt commented on #3021
Hi @coatless

Thanks for the help

Yes, this is true. I wanted to try a different version of R than the R studio copy.

I'm trying your instructions for the server right now.

I tried installing on my Mac OS just now. There's a similar problem:

[code]

Here's the R session info:

[code]

I think you have the *rds files? They're not very big:

[code]

Could they be something in the inputs which tr

[2021-07-27 01:19] #2134 closed

[2021-07-27 01:19] #2119 closed

[2021-07-27 01:19] #506 closed

[2021-07-27 02:19] #2361 closed

[2021-07-27 02:19] #1267 closed

[2021-07-27 02:19] #1489 closed

[2021-07-27 02:35] rcurtin commented on #3021
@evanbiederstedt thanks for mentioning that.  I am not an R expert, but when I tried to run the code locally in an R session, I too noticed that I got a segfault.  I haven't had a chance to dig any deeper yet, so I was initially assuming it might have to do with my ignorance of R details.

I will try to find some time shortly to set up a better environment that will tell me more of what is going o

[2021-07-27 03:08] evanbiederstedt commented on #3021
There is something strange here, and I think we're just following the API: https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/r_quickstart.html

I think this is either an issue whereby we're using the package incorrectly, or there's an architectural issue. We're using the function `mlpack::random_forest()`

I realize I didn't share the function we're using in the examples above:

[code]

The segfault

[2021-07-27 04:52] coatless commented on #3021
@evanbiederstedt

I do not have the RDS files. @rcurtin mind forwarding?

How were the matrices constructed?

For a quick reprex, I plugged `iris` into the documentation example to get:

[code]

This seems to work well for testing the predictions; however, the results on the training data set are MIA.

Perhaps the segfault is relating to accessing the training results, e.g. `output$predictions` an

[2021-07-27 10:25] RishabhGarg108 commented on #2619
@rcurtin Can we reopen this issue? I think now RandomForest can be implemented.

[2021-07-27 13:36] rcurtin commented on #2619
Yeah agreed. :+1:

[2021-07-27 18:42] coatless commented on #3021
Thanks for the data forward @rcurtin.

So, I can reliably reproduce the segfault only after performing _multiple_ calls with the `rf_model()` function. I'll throw it in a debugging container ala [r-debug](https://github.com/wch/r-debug) and see what's going on.

[2021-07-27 18:58] heisenbuug opened #3024 "New feature list for mlpack's parser"
*  Handle quotes inside quotes
* `\tHello\t` and `Hello` are getting mapped differently.

Mlpack uses `DatasetMapper` class to handle non-numeric data.
But the current implementation doesn't handle `quotes` inside `quotes`

Example dataset
[code]
Trying to load the above dataset gives this as output
[code]

I even tried putting `\` before `"`
[code]
But still the same error.

@rcurtin @zoq @shrit

[2021-07-27 19:00] coatless commented on #3021
Sad news, I'm short on memory to handle this compile within the docker container. I won't be able to easily look into this until I get a new office computer in August.  :(

[code]

[2021-07-27 20:44] rcurtin commented on #3024
Indeed, I think this is a bug.  I think there's no need to fix it during your GSoC project unless you have the extra bandwidth, but we should definitely fix it at some point. :+1:

[2021-07-27 20:50] evanbiederstedt commented on #3021
I appreciate the help, @coatless

I hope I'm not being too nosy about how you're using this (as I'm very likely wrong), but if you use the container interactively, shouldn't it use your computer's memory?

The RDS files feel very small; how memory intensive is this operation? I am running this on my Mac OS. The segfault happens immediately; I don't even notice a massive surge in memory.

I mention

[2021-07-27 21:27] coatless commented on #3021
@evanbiederstedt So, the `mlpack` _R_ package needs about 2.5 gb per core to compile. I needed to tweak the container memory limitation to about 9 Gb and drop the number of cores associated with my machine.

From there, I'm currently running valgrind from [r-debug](https://github.com/wch/r-debug) container on the procedure with all tracking enabled. Some quick steps to replicate:

Step 1: Setup th

[2021-07-27 22:06] coatless commented on #3021
Alrighty, so... Looks like there is a leak, but I wasn't able to immediately trigger a segfault.

See attached for some logs.
[mlpack-leak-valgrind-round-1.txt](https://github.com/mlpack/mlpack/files/6888984/mlpack-leak-valgrind-round-1.txt)

[2021-07-27 22:11] evanbiederstedt commented on #3021
@coatless

Ah, this makes sense. That would cause a few problems, yes :)

Here's what I see running the commands above:

[code]

[2021-07-27 22:17] coatless commented on #3021
@evanbiederstedt Nice!

RE: Valgrind

The `-f` argument is on a custom path I set up. That's why we're seeing:

[code]

I'm not sure if you have unpacked the tar that @nkanrar sent into downloads. If you do, I think the path:

[code]

should exist. Thus, when the container is launched, we should have the following file mapping into the docker container:

[code]

From there, I think the file name n

[2021-07-27 23:13] evanbiederstedt commented on #3021
Thank you for explaining this:

I didn't quite understand the issue, as I didn't have the file.

I've re-run everything, and I guess there's no leak:

[code]

Well, I remain confused....
[output1.txt](https://github.com/mlpack/mlpack/files/6889197/output1.txt)

[2021-07-27 23:22] rcurtin commented on #3021
Is it easier to run with gdb?  `R -d gdb -e 'source("mlpack_issue.R"); source("mlpack_issue.R")'` seems to work fine for me to get a stack trace.  Just guessing, but the backtrace I get suggests that the random forest model is being freed twice.  I'm trying to instrument the code now to get a bit more information.

[2021-07-27 23:29] coatless commented on #3021
@rcurtin I can throw it into `gdb`.

One note that I found interesting was a set seed call warning.

[code]

[2021-07-28 01:19] #2981 closed

[2021-07-28 01:19] #2055 closed

[2021-07-28 02:45] coatless commented on #3021
On the second run with gdb enabled, I'm getting the segmentation fault at:

[code]

[2021-07-28 14:57] rcurtin commented on #3021
(I wrote this comment last night, but somehow did not hit the `comment` button.  Oops!)

Interesting; I guess for the R distribution of mlpack we may want to modify the `mlpack::RandomSeed()` method for the R bindings.

Anyway, I dug a bit and found that the `RandomForestModel` created by `random_forest()` is being deleted twice.  Is it possible that we are handling the `XPtr` unsafely?  Here are

[2021-07-28 15:27] rcurtin commented on #3021
Here is a reduced script that produces the issue:

[code]

I think I understand what is happening here.

After the first call to `mlpack::random_forest()`, the variable `output$output_model` is an `XPtr` to the model that was created.  But then, we overwrite `output` with a second call to `mlpack::random_forest()`.  This causes that first `XPtr` to go out of scope, and if we called `gc()` at this

[2021-07-28 15:44] rcurtin commented on #3021
Actually we have code in the generated Python bindings that does this exact check.  Here's the generated code for the part of the random forest binding in Python that sets the output model:

[code]

In Python, it looks like the choice being made is to make the output model a Python-level copy/alias of the given input model, instead of using the model pointer directly from C++.  Perhaps a similar s

[2021-07-28 17:10] RishabhGarg108 commented on #2619
According to [The Elements of Statistical Learning](https://web.stanford.edu/~hastie/ElemStatLearn/) Page 592, for random forest,

[code]

where `m` is the number of random dimensions and `n` is the number of total dimensions in the dataset.

In our current implementation of `MultipleRandomDimensionSelect` in [line 44](https://github.com/mlpack/mlpack/blob/c8647b2bfef68dfd29a5a8612813f92cf2b79de0/

[2021-07-29 05:19] #2386 closed

[2021-07-29 05:19] #2346 closed

[2021-07-29 05:19] #2388 closed

[2021-07-29 06:19] #2428 closed

[2021-07-29 12:19] #1672 closed

[2021-07-29 12:19] #2319 closed

[2021-07-29 12:20] rcurtin commented on #2388
Just as a note, some of the work that @NippunSharma is doing for his GSoC project will allow the mlpack Julia bindings to be adaptable into MLJ.jl. :+1:

[2021-08-02 00:19] #1858 closed

[2021-08-02 02:38] DylanWangWQF commented on #3019
@rcurtin
Sry for the late reply!
I found that if we choose the small `checkInterval`, it will cause overfitting.
For example, for 5000 data samples with 5 features (assume all are categorical features with two values), if we choose `checkInterval =  60 or 100`, then we will get a complete binary tree, almost every path has 5 features (too many splits)

So could you give me some suggestions on choo

[2021-08-02 02:56] DylanWangWQF commented on #3019
It seems that, with more and more data samples, the tree will be overfitting

[2021-08-02 21:27] rcurtin commented on #2971
Very nice!  Thank you for the patch!  A couple small questions before I open a PR with it though:

 - Are you sure it is a good idea to make finding OpenMP `REQUIRED`?  Personally I think that since `USE_OPENMP` defaults to `ON`, that we just choose to not use it if a user doesn't have it.  But maybe there is some reason I overlooked?

 - Are you sure it's necessary to remove the settings for `CMA

[2021-08-02 23:35] zoq commented on #3024
I'm not sure I have seen a dataset that uses quotes, so I don't think there is a huge priority to support that, nevertheless if you see an easy solution to support quotes, go for it.

[2021-08-03 02:10] JackBoosY commented on #2971
That's only suitable for vcpkg, please do not use it.

Yes, since openmp provided the target, we should use it instead of the c/cxx flags. `CMAKE_C_FLAGS` and `CMAKE_CXX_FLAGS` are only use for toolchain or buildsystem.

[2021-08-04 10:11] DanL1234 commented on #2971
Hi All,

Thank you for attempting to help me with this issue. Unfortunately, the issue is not resolved from my side.

Nb. In the following, I am not using any C or CXX flags.

### Num.1 - attempting to install mlpack via vcpkg.
. as above, calling ".\vcpkg install mlpack[openmp]:v64-windows" (see https://github.com/microsoft/vcpkg/pull/18942 ) - all dependencies downloaded afresh, built okay, no i

[2021-08-04 10:22] DanL1234 commented on #2971
@JackBoosY, you wrote:

okay...

yep, so now I do not use vcpkg to build armadillo.

Okay, so it seems from text in the cmake files that this is "detected" from the compiler capability, not from a projects setting, as per my (&) references in the posts above.

As I understand the situation, the cmake build system creates the Visual Studio solution - which I then open and ensure it uses the C/C++ l

[2021-08-05 07:19] #2176 closed

[2021-08-06 00:43] #2997 closed

[2021-08-06 02:15] rcurtin commented on #2997
With #3001 merged, this should be fixed now and this option will be available in the next mlpack release. :+1:

[2021-08-06 03:43] #2439 closed

[2021-08-13 04:36] conradsnicta opened #3033 "bump minimum version of Armadillo to 9.800"
Given the huge amount of code refactoring for mlpack 4 (eg. removal of Boost) and introduction of new functionality, it may take quite some time before mlpack 4 is ready and polished enough for release.  I suspect it may be well into next year (2022), probably around the release of Ubuntu 22.04 LTS.

Currently mlpack requires the minimum version of Armadillo to be 8.400, which results in a lot of

[2021-08-13 09:48] shrit commented on #3033
I would not mind bumping the minimum version for armadillo, for two reasons, first, it can be used as a header-only library if the user does not have root access on their machine, or they can download it and build it locally, and second, I do not think there is a difference between armadillo versions for the minimum requirement of OpenBLAS.
Finally, I do not know if it is possible for users to fin

[2021-08-14 01:35] zoq commented on #3033
Agreed, if we bump the version on the ensmallen side, that basically means we automatically have to bump it for mlpack as well.

[2021-08-14 01:43] rcurtin commented on #3033
I think this issue comes up from time to time with slightly different but generally similar responses.  Maybe it makes sense to codify our process here for how far back we try to support and then write it down somewhere so we know when we can and can't update things?  I *think* I typically say something like "I'd like to support recent Ubuntu LTS and RHEL", but I'm not really sure if 'recent' Ubun

[2021-08-14 10:59] shrit commented on #3033
I think we can create a good set of tutorials to describe in detail how to install the mlpack, whether if it is on RHEL7, or on the newest distros. Since we are moving toward a header-only quasi-dependency-free library, we can be sure that we can build it anywhere, even on very old systems as long as they have C++11.
Therefore, this will accelerate the development of the library allowing the users

[2021-08-14 12:01] shrit commented on #3033
I really do think we need a GSoC project called  ¨Document the mlpack library¨. I know it is not related to this issue, but it might help us a lot with special cases like this one.

[2021-08-14 14:43] jeffin143 commented on #3033
+1 on it , We should decide it sooner so that we can adapt changes in that direction. On most occasion we discuss and then drop off until the next time the discussion is brought up :)

[2021-08-14 14:53] jeffin143 commented on #2832
This is done :) yoooo

[2021-08-14 15:08] #2832 closed

[2021-08-14 17:55] conradsnicta commented on #3033
As a general policy, I vote for the current Ubuntu LTS (20.04 as of now), as well as the current RHEL (8 as of now).  The gaps between RHEL releases are quite long (4+ years), necessitating updates of the Armadillo EPEL packages anyway.

The default installation of RHEL 7 is lost anyway, as mlpack no longer compiles on RHEL 7 / CentOS 7 (https://github.com/mlpack/mlpack/issues/2939; TLDR: gcc 4.8

[2021-08-18 15:43] #2984 closed

[2021-08-18 16:02] AditiThirdEye commented on #3010
Please assign me this issue if not PR yet.

[2021-08-18 18:17] rcurtin commented on #3021
Ok, I got the PR #3034 to compile, and so if you are brave, you can download the tarball directly from the Github Actions build:

https://github.com/mlpack/mlpack/suites/3531895147/artifacts/84500190

(That is a tarball that... contains another tarball.  You can unpack that and then install it directly with `install.packages()`.)

And, I think that should fix the issue!  If you're up for giving a

[2021-08-18 20:05] AditiThirdEye commented on #2722
For the second last task would it be okay if I implement one hot encoding?
Along with that I would also like to work on value count and hist function.
If that is okay then can you please assign this issue to me.

Regards,
Aditi

[2021-08-19 15:18] Chandu-4444 commented on #2991
Hey @RishabhGarg108. Can I work on this? I'm a beginner and was quite excited to look into this.

[2021-08-19 16:27] AditiThirdEye commented on #2722
What can I do to contribute to this thread?
I known one hot encoding for the second last issue and also have idea about the unmarked task from the task list, can you please guide me how can I contribute.

Regards,
Aditi

[2021-08-19 16:32] zoq commented on #2991
I haven't seen a PR yet, so feel free to work on it.

[2021-08-19 17:27] heisenbuug commented on #2722
@AditiThirdEye we already have [one hot encoding](https://github.com/heisenbuug/mlpack/blob/master/src/mlpack/core/data/one_hot_encoding.hpp) in mlapck.

Maybe you can start looking at `hist`?
We can use `matplotlib.cpp`. It's a single header file.

There is also [this](https://github.com/mlpack/mlpack/pull/2727) PR which I made
but it requires many changes and might have to alter the code complet

[2021-08-19 18:40] AditiThirdEye commented on #2722
Surely I'll start looking into the hist, got it 👍🏼

[2021-08-21 12:26] Chandu-4444 commented on #3015
Hey @zoq, I think I can fix this. As far as I understood, the class names and all needs to be changed appropriately right? Correct me if I'm getting it wrong.

[2021-08-21 12:53] RishabhGarg108 commented on #3015
@Chandu-4444 Correct! Make sure that you are updating the documentation too wherever required. Also, add a log in `HISTORY.md` stating the API change too 👍

[2021-08-21 13:02] Chandu-4444 commented on #3015
Yeah, will do this.

[2021-08-21 18:37] AditiThirdEye commented on #2722
@heisenbuug ,
I have made this [PR](#3039 ) which include implementation of the histogram plotting function.
Can you please review it and guide me how can I improve my contribution.

Thanks

[2021-08-23 07:58] PranshuSrivastava commented on #2932
![image](https://user-images.githubusercontent.com/37413698/130411425-a214c9f2-7008-4280-bf52-c9854e3dc00c.png)
These were the errors that I got with the mlpack_main.hpp file and the param file

[2021-08-23 22:56] #3019 closed

[2021-08-24 00:49] DylanWangWQF opened #3041 "How to process Categorical Features (Encode with OneHot Encoding) in Hoeffding Tree Example?"
Hi, Team!
I have some synthetic datasets. That is, all features are categorical and encoded under one-hot encoding.
In this case, how can I process such a dataset (not arff) using the Hoeffding Tree Algorithm?

Dataset example (50000 samples with 31 features, each feature has two categorical values, like _Sunny_ and _Rainy_):
[code]

We can only take `.arff` as training dataset?
[code]
@rcurtin  C

[2021-08-24 04:19] DylanWangWQF commented on #3041
We can only take `.arff` as training dataset?
[code]

[2021-08-24 07:32] DylanWangWQF commented on #3041
@rcurtin  Could you give me some suggestions? Thanks in advance

[2021-08-24 09:29] heisenbuug commented on #3041
I think you can load `csv` as well. Take a look at [2-d categorical matrix file](https://www.mlpack.org/doc/stable/cli_documentation.html#overview) in `data_format` section.

[2021-08-24 10:26] DylanWangWQF commented on #3041
@heisenbuug  Many thanks for your help!
As mentioned in [2-d categorical matrix file](https://www.mlpack.org/doc/stable/cli_documentation.html#data-formats), _When using this format, there is no need for one-hot encoding of categorical data._

But my synthetic dataset is already processed with one-hot encoding, so I have to transform it into other formats, like strings?

[2021-08-24 12:50] heisenbuug commented on #3041
I think you can.
So basically mlpack uses `DatasetMapper` class to map the strings to numbers.

[code]
Something like this will be converted to
[code]
[code]
And in my understanding, your data is something like this only, right?
Basically, all columns were `categorial`, so they got converted to `0 or 1` respectively?

If that's the case then I think you can use this data directly.

[2021-08-24 13:06] DylanWangWQF commented on #3041
@heisenbuug

Sure, e.g., this is one of my datasets, 10000 data samples, 7 features. All features are `categorial`and each feature has 2 values, and we have two classes.
In this case, the generated data would be
[code]
[10000_7.txt](https://github.com/mlpack/mlpack/files/7039315/10000_7.txt)
To upload here, I change `.dat` into `.txt`.

In fact, this is an example in the case of each feature has t

[2021-08-24 13:19] heisenbuug commented on #3041
For a quick solution, I would suggest converting it to `csv` where it will have values like true/false so that
`DatasetMapper` can handle it. But this will only work when you have strings.

If you have integers as categories then you need to tell the `DatasetMapper` object specifically which columns are categorical?

Just to be clear, the txt file you sent is already one-hot encoded, right?

[2021-08-24 13:24] DylanWangWQF commented on #3041
DatasetMapper can handle it. But this will only work when you have strings.

The data generated by the python scripts are already one-hot encoded (So I don't have strings).
So If I convert it to CSV, I have to replace the one-hot encoded bits with strings. Maybe it's trivial.

[2021-08-24 13:27] DylanWangWQF commented on #3041
The script directly outputs the one-hot encoded bits (no matter `categorical` values are integers or strings).

[2021-08-24 13:29] heisenbuug commented on #3041
Okay, I see...
This is how one-hot encoding works in mlpack.
[code]

So I think you need to convert the data to this form to make it work.
You can use [this](https://scikit-multiflow.readthedocs.io/en/stable/api/generated/skmultiflow.transform.OneHotToCategorical.html) to convert them back?

[2021-08-24 13:39] DylanWangWQF commented on #3041
Yes, it should work, I will have a try.

[2021-08-24 13:43] heisenbuug commented on #3041
Yup after that I think it should work, as it will assign strings.

You can use [this](https://github.com/mlpack/examples/blob/62526e824cf446f4c8bcebb4e4b6d8550b7e83bb/avocado_price_prediction_with_linear_regression/avocado_price_prediction_with_lr_cpp.ipynb) link for reference.

See *cell [10]* specifically for setting type to categorical.

[2021-08-24 13:49] DylanWangWQF commented on #3041
Wow, this is useful, many thanks for your help!

[2021-08-24 14:22] heisenbuug commented on #3041
Yup, I hope your issue is resolved.

[2021-08-24 23:02] DylanWangWQF commented on #3041
Hi @heisenbuug
I have another question.
In [mlpack/src/mlpack/methods/hoeffding_trees/categorical_split_info.hpp](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/hoeffding_trees/categorical_split_info.hpp). we have this definition:
[code]
In  [mlpack/src/mlpack/methods/hoeffding_trees/hoeffding_categorical_split_impl.hpp](https://github.com/mlpack/mlpack/blob/master/src/mlpack/meth

[2021-08-25 04:42] heisenbuug commented on #3041
You don't need to specify template parameters explicitly.
The compiler does template parameter deduction itself.

`VecType& point` here VecType can be anything that represents a 1-D array, it can be an `arma::rowvec` or `arma::colvec` mostly.
Same with `eT`(element type).

If you say pass `Train(2, ...)` then `eT` is deduced as `int`
If you pass `Train(2.4, ...)` then `eT` is `double`

It should b

[2021-08-25 04:46] DylanWangWQF commented on #3041
OK, I'm modifying the code to do something, I  cannot use `arma` in the program due to some reasons. So I replaced them.

[2021-08-25 04:48] heisenbuug commented on #3041
What are you using? It can be any type of 1-D array. As long as accessing of elements follow same syntax.

[2021-08-25 04:49] DylanWangWQF commented on #3041
I'm using the matrix operations under `NTL` library since other procedures are written with `NTL`.  I have to be consistent

[2021-08-25 04:55] heisenbuug commented on #3041
Templates give us the ability to handle multiple data types at the same time.
But all types should support the operations we perform on them.

Can you share the code and error? It might get a better understanding.

[2021-08-25 05:00] DylanWangWQF commented on #3041
Sry for leading to misunderstanding, I didn't encounter any error.
What I'm doing is to replace the `arma` library in `Mlpack` with 3-rd party `NTL` library.
The previous question is because I didn't understand the `VecType& point`.

[2021-08-25 05:06] heisenbuug commented on #3041
Oh, you can pass a whole col of `NTL matrix` to `Train` and I think it should work.

See [here](https://github.com/mlpack/mlpack/blob/7c99839e516536ed61b9218b5d4dcefa880e4c91/src/mlpack/methods/hoeffding_trees/hoeffding_tree_impl.hpp#L959).
We are passing `data.col(i)` which is basically the whole col of the `matrix data`, [here].(http://arma.sourceforge.net/docs.html#submat)

You need to check `N

[2021-08-25 05:13] DylanWangWQF commented on #3041
Many thanks for your suggestions!
This is really helpful!

@DylanWangWQF see on this page. It's the same syntax. It should work already.

This is similar to `arma`. It saves me much time! Thanks!

[2021-08-25 06:19] #3033 closed

[2021-08-25 09:16] DylanWangWQF commented on #3041
@heisenbuug
Sry for my noise, I have already modified the code.
Does Mlpack provide the function for printing the tree?

[2021-08-25 10:24] heisenbuug commented on #3041
I don't see any specific fucntion in [`hoeffding_tree.hpp`](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/hoeffding_trees/hoeffding_tree.hpp) for printing so I think we don't have any. I will update if I find anything.

[2021-08-25 10:27] DylanWangWQF commented on #3041
Yeah, I only found one function for recording the total number of nodes. `HoeffdingTree::NumDescendants()`
BTW, I modified the code with `NTL`, at least it runs successfully. I'm trying to print the tree or do something to check the tree.

[2021-08-25 10:34] heisenbuug commented on #3041
Good to hear that it's working as intended.
Templates although increases the development time but it can do wonders, just as in your case.

I am not sure how you can take a look at the tree, you might be able to come up with a logic based on existing fucntions to parse the tree.

[2021-08-25 10:38] DylanWangWQF commented on #3041
Yes, currently, it seems that no function helps us do it.
Many thanks for your help!

[2021-08-25 10:40] heisenbuug commented on #3041
Whenever solved don't hesitate in closing the issue.
Thank you.

[2021-08-25 16:43] #3013 closed

[2021-08-25 16:43] #3016 closed

[2021-08-29 09:07] AditiThirdEye commented on #2668
Hello @alexhallam, @rcurtin
If the PR is not done then, I would like to work on this thread on the exponential smoothing model for time series.
Regards,
Aditi

[2021-08-29 11:50] AditiThirdEye commented on #2668
Hello @alexhallam, @rcurtin
If the PR is not done then, can I work on this thread on the exponential smoothing model for time series?
Regards,
Aditi

[2021-08-29 15:41] RishabhGarg108 commented on #2668
Hey @AditiThirdEye, feel free to work on exponential smoothing.

[2021-08-30 02:31] alexhallam commented on #2668
Please do.

[2021-08-31 05:10] AditiThirdEye commented on #2668
Hello @alexhallam ,
Can you please look at the implementation done for the exponential smoothing feature made by me in this [PR](#3046).

[2021-08-31 05:42] swaingotnochill commented on #2991
This is exactly what happened with me recently. Will try to resolve this ASAP.

[2021-08-31 14:26] alexhallam commented on #2668
Hi @AditiThirdEye that PR link sends me back to this issue. Can you send another link of tell me the branch name?

[2021-08-31 14:47] AditiThirdEye commented on #2668
Sorry for that, I changed it now
https://github.com/mlpack/mlpack/pull/3046
Please take a look, sorry for the inconveniences.

[2021-09-01 01:35] rcurtin opened #3049 "Update binding tutorial documentation for threadsafe IO"
I forgot to do this in #2995.  You can see that the [automatic binding documentation](https://mlpack.org/doc/mlpack-git/doxygen/bindings.html) still references the "old" way of making bindings.  This just needs to be updated to the "new" way.  Thanks @RishabhGarg108 for pointing this out!

I'll try and handle this tomorrow or in the next couple days.

[2021-09-03 14:23] FrauHerr commented on #714
Hi guys, did you fix this issue? I recently meet a similar one. Recompiling the Lapack with -fPIC seems didn't work.

[2021-09-03 17:43] #2619 closed

[2021-09-03 21:58] rcurtin commented on #714
I don't think this was an issue with mlpack.  Are you sure that you successfully recompiled LAPACK with `-fPIC`?  The error output you are receiving there seems to indicate that `-fPIC` was not used for `/usr/local/lib/liblapack.so`.  If possible, you might have an easier time using the version of LAPACK provided by your system's package manager instead of compiling it by hand. :+1:

[2021-09-06 05:18] conradsnicta commented on #2982
@RUrlus

The Anaconda recipe for Armadillo was recently updated to 10.6.2:
* https://anaconda.org/conda-forge/armadillo
* https://gitlab.com/conradsnicta/armadillo-code/-/issues/187

[2021-09-07 03:56] conradsnicta commented on #2882
For posterity, this issue may be related to a bug in macOS and/or AppleClang.
* https://gitlab.com/conradsnicta/armadillo-code/-/issues/173
* https://gitlab.com/conradsnicta/armadillo-code/-/issues/187

There is a workaround for this bug in Armadillo 10.6

[2021-09-09 05:28] david-cortes opened #3052 "Example with random forest segfaults in R"
Trying the Python example from the user guide in R leads to a segmentation fault. Here's a short reproducer with random data:
[code]
[code]

Version 3.4.2.1, installed from CRAN in linux, compiled with gcc10 with options `-O3` and `-march=native`.

[2021-09-09 05:40] david-cortes opened #3053 "R Logistic Regression handles labels incorrectly"
The documentation for `mlpack::logistic_regression` says that labels should be 0 or 1, but it doesn't actually work with zeros and ones, rather it needs ones and twos, otherwise ends up with an integer overflow:
[code]
[code]

Adding +1 to the labels (which is wrong according to the documentation) avoids this problem:
[code]

[2021-09-09 05:42] david-cortes opened #3054 "'det' always issues warning about invalid file"
Fitting a `det` model from either the R or Python interfaces will always issue this warning:
[code]

Example in R:
[code]

[2021-09-09 12:23] Alessandro-Barbieri opened #3055 "[R] underlinked mlpack.so lead to undefined symbol: wrapper2_dgbcon_"
#### Issue description

I see that `mlpack.so` si underlinked

`objdump -p mlpack.so | grep NEEDED`

[code]

` nm -Du /var/tmp/portage/sci-libs/mlpack-3.4.2_p20210802/work/mlpack-7176ce8d624acf6cd83b1798a3a37ce92d86bbe1_build/src/mlpack/bindings/R/mlpack/src/mlpack.so | grep wrapper`
[code]
#### Your environment

 * version of mlpack: https://github.com/mlpack/mlpack/commit/7176ce8d624acf6cd83b179

[2021-09-09 13:28] shrit commented on #3055
I suppose you have OpenBLAS installed since you have successfully installed Armadillo.
Would you check that, please?
The wrapper I think are related to Armadillo, but it seems that you have it already installed
Were you able to build the CLI  binding with the library?

[2021-09-09 13:52] Alessandro-Barbieri commented on #3055
No, I don't have openblas installed
I don't see how could be openblas an issue

Yes, armadillo is already installed

It build but the installation part fail

[2021-09-09 14:12] shrit commented on #3055
[code]
Armadillo is a wrapper around lapack/blas/OpenBLAS. `dgbcon` is a `lacpack` function, it seems that the symbol is not defined which mean there is an issue that is happening when linking with Armadillo.
I would recommend using OpenBLAS if possible for better performance.  From the log you have posted, I am not able to determine correctly where the issue is coming from, it seems like a linkin

[2021-09-10 01:46] rcurtin commented on #3053
Hey @david-cortes, thanks for the report.  I opened a PR, #3057, that at least fixes the documentation associated with logistic regression.  Actually, this is a little difficult to fix, because we generate bindings for lots of languages (including documentation) with the same input code.  It's a neat system, but we have to make sure our documentation is "agnostic" to the choice of language.

Howev

[2021-09-10 01:53] david-cortes commented on #3053
Why not better modify the R code to make it take the labels as 0/1? I'll have to guess this comes from applying `factor` somewhere and then taking that output as an integer, and the fix would simply be to remove that coercion.

[2021-09-10 09:35] Alessandro-Barbieri commented on #3055
[code]

for the record `libmlpack.so` is correctly linked to armadillo the issue is in `mlpack.so` (the R bindings)
also why here https://github.com/mlpack/mlpack/blob/45de6e11e49d430ebc069f3a991e845e0989a26d/src/mlpack/bindings/R/mlpack/DESCRIPTION.in#L15 it says `LinkingTo` `RcppArmadillo` and then it doesn't link to it?

[2021-09-10 11:43] #2971 closed

[2021-09-10 22:43] #3024 closed

[2021-09-13 02:08] JackBoosY commented on #2971
Was this issue fixed?

[2021-09-13 03:16] conradsnicta commented on #2971
TLDR: use of OpenMP under MSVC is not advised.

Longer explanation: Armadillo requires a compiler with support for the OpenMP 3.1 standard.  Last time I checked, MSVC only supports the comically ancient OpenMP 2.0 standard, which lacks certain critical features.

See the following for more details:
https://gitlab.com/conradsnicta/armadillo-code/-/blob/10.6.x/include/armadillo_bits/compiler_setup.h

[2021-09-13 08:23] #3041 closed

[2021-09-13 09:46] DanL1234 commented on #2971
Thanks Jack & Conrad.

Was it fixed? Not to my knowledge or understanding. Whatever path I chose, whatever compiler settings I used, I always ended up with the same MLPACK_ARMA_USE_OPENMP warning when building mlpack.

My fix? Okay, it's a workaround, but I pulled all armadillo files (wrappers & hpps) into the same project as the mlpack source and compiled them together (to create one executable,

[2021-09-13 09:48] DanL1234 commented on #2971
Ps. I had to move on and find an alternative solution (for me) as I couldnt spend any more time on it. That's why I havent commented here until now. Sorry about that; would've loved to have been able to help.

[2021-09-13 17:35] shrit commented on #3055
@Alessandro-Barbieri  This is interesting, the issue seems to be related to the R binding, I have built the R binding for mlpack on my Arch Linux a couple of weeks ago, I used the master version and everything was fine.
I am not an expert in the R binding, so I am not sure what is happening, maybe @rcurtin  @Yashwants19  has an idea about that?
It might be related to set `ARMA_USE_WRAPPER`? I am n

[2021-09-13 23:19] rcurtin commented on #3053
Honestly, I am not an expert at R (I can barely write it), so if you can tell me what would be more typical in R, that could be really helpful.  When the R bindings were written, the intention was to reflect whatever the "usual" usage in R would be.

@coatless any additional thoughts here on how we should represent labels numerically in R?  (e.g. `[0, numClasses)` or `[1, numClasses]`)

[2021-09-14 00:18] david-cortes commented on #3053
I guess the idiomatic way would be to only accept a "factor" type (at least that's how it's done in base R, in popular packages such as `glmnet`, `ranger`, `kernlab`, etc., and in less popular packages such as `LiblineaR`, `biglasso`, etc.), which behind the scenes is typically an integer type with numeration starting at 1, at the positive class is usually considered to be the last class in the fa

[2021-09-14 00:19] coatless commented on #3053
@rcurtin thanks for the ping. Could you configure the mlpack bot to tag dirk or myself for future R questions?

Correct. Glancing back at a PR from Yashwant:

https://github.com/Yashwants19/RcppMLPACK/pull/6
https://github.com/Yashwants19/mlpack/pull/10#discussion_r462515076

We made an assumption that labels were coming in from a `matrix()` or `data.frame()`. If not, we cast them to integers when

[2021-09-14 00:21] coatless commented on #3053
Adding the +1 to the integer labels, does yield the correct output:

[code]

[2021-09-14 00:25] coatless commented on #3053
That said, on the fatal error, I think we're trying to subtract 1 from the integer label which causes the large value:

[code]

[2021-09-14 07:18] JackBoosY commented on #2971
This issue is in the build system, not the code.

[2021-09-15 02:25] rcurtin commented on #3053
Hehe, that actually would be nontrivial, so the easier thing would be to reconfigure myself to tag you when I see any R issues. :smiley:

I don't necessarily have a problem with that.  We use this utility function `to_matrix`: https://github.com/mlpack/mlpack/blob/master/src/mlpack/bindings/R/mlpack/R/matrix_utils.R#L19 --- I suppose that we could refactor it to allow only factor types for labels.

[2021-09-15 02:38] rcurtin commented on #3055
I see the same behavior on my system, but the R bindings do compile successfully and work:

[code]

and then `mlpack.so` (from the R bindings):

[code]

So you can see that `libmlpack.so` (from the main library) links against `libarmadillo.so`, but `mlpack.so` (for the R bindings) does not.

Before I go further, let me point out the way that Armadillo works with its wrapper library (this is what @

[2021-09-15 02:54] AdhaarSharma commented on #3010
Please assign me this issue if not resolved.

[2021-09-15 02:57] rcurtin commented on #3010
No need to assign it, just work on it and open a PR. :+1: This PR will require a decent bit of investigation about how our defaults perform on different datasets.

[2021-09-15 03:07] coatless commented on #3053
@rcurtin maybe we should opt to instead require a factor? This would allow us to abstract away from the 0/1 specification.

[2021-09-15 14:42] rcurtin commented on #3053
Are factors in widespread use by users of R?  (And I think that requires R 4.x, so are most users transitioned to that by now?)  If you don't think it would be inconvenient for users to force that restriction, then we can do that.

[2021-09-15 14:44] coatless commented on #3053
@rcurtin we already enforce the R 4.0.0 requirement. We never added strict type enforcement inside of the labeling section.

[2021-09-15 17:11] david-cortes commented on #3053
It is indeed very typical to use factors, which have been supported since the beginning of R, and are passed as vectors (not matrices). The only libraries that I can think of which do not accept factors are gradient boosting ones like xgboost which take 0/1 labels instead (also as vectors). Libraries such as `ranger` or `e1071` will do regression if the label is numeric and classification if it is

[2021-09-15 17:49] coatless commented on #3052
Duplicate of #3021. We have a fix in PR https://github.com/mlpack/mlpack/pull/3034

[2021-09-15 18:21] #3052 closed

[2021-09-16 01:56] conradsnicta commented on #3055
If this is the case, I'm not sure the de-duplication effort is actually net positive, or even advised.  While Armadillo and RcppArmadillo are closely related, they are two distinct projects.  RcppArmadillo has been configured and tested at a specific version within a specific R environment.  In contrast, Armadillo is a stand-alone library, not configured to work with the R environment, and may be

[2021-09-17 03:56] coatless commented on #3021
I can confirm that #3034 fixes the Xptr issue with RandomForest.

Though, we need to remove the debug statements showing pointer creation:

[code]

<details>
<summary>
Full reprex
</summary>

[code]

</details>

[2021-09-20 21:52] #3021 closed

[2021-09-22 13:15] jeff10joy opened #3060 "Parallize decision tree training"
### What is the desired addition or change?

### What is the motivation for this feature?

### If applicable, describe how this feature would be implemented.

### Additional information?

[2021-09-24 15:56] #2991 closed

[2021-09-27 13:43] #3015 closed

[2021-09-28 12:03] conradsnicta commented on #3060
please provide more details in a new issue.

[2021-09-28 12:03] #3060 closed

[2021-09-29 08:43] #2932 closed

[2021-09-30 14:50] hello-fri-end opened #3063 "Backward Pass of Gradient Penalty is missing in WGAN-GP"
File : https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/gan/wgangp_impl.hpp#L79

I'm reopening this issue since the [Dual-Optimizer PR](https://github.com/mlpack/mlpack/pull/2876) was closed. So, if someone wants, they can reopen that PR or work on this issue separately.

#### Issue description

WGAN-GP Loss function of Critic :
L = D(x) - D(G(z)) + lamda * ( norm(gradient(x'))

[2021-10-01 01:29] Xiaoyang-Lu opened #3064 "Compilation issue"
Hello,

I followed the instructions [here](https://www.mlpack.org/doc/mlpack-git/doxygen/build.html#build_dep), but on the make step, I get the following error:

[code]
Has anyone encountered similar problems or have a solution? Any suggestions are welcome. Thanks.

[2021-10-01 01:45] zoq commented on #3064
Hello, what's your boost version? Also can you check if the latest master branch works, so download https://github.com/mlpack/mlpack/archive/refs/heads/master.tar.gz instead of the latest stable version. Maybe your boost version is newer than what is included in the `CMakeList.txt` file

https://github.com/mlpack/mlpack/blob/27bfafbae107ac5ca608d90c8e8d4709f2b437c8/CMakeLists.txt#L418-L435

[2021-10-02 01:32] rcurtin commented on #3049
Ack, still haven't had a chance to get to this, but it hasn't fallen off my list entirely...

[2021-10-03 00:00] david-cortes opened #3066 "[R] 'det' crashes (memory double-free or related)"
After some usage, `det` in the R interface will start provoking memory-related errors, which oftentimes print this message:
[code]
After that it crashes the process. The message is not always printed though.

The Python version does not seem to suffer from this issue.

[2021-10-04 14:10] rickarl opened #3069 "MLpack library issue - undefined reference to mlpack::*"
### Issue description
When trying to compile sample mlpack code, for example covariance [here](https://mlpack.org/doc/mlpack-3.3.1/doxygen/sample.html), I am getting a lot of errors regarding 'undefined reference'. This affects mlpack::data, mlpack::log, mlpack::util, and probably more. From googling the errors I've found that the issue seems to plausibly be related to library linking. The closest

[2021-10-04 17:56] shrit commented on #3069
@rickarl For CMake: `-lmlpack` is not a compiler option. You should add the path of the mlpack library in `target_link_library`.
Also, you should mention in g++ `-larmadillo`. You need to add the path for the armadillo library in `target_link_library`.
Here is a link for `Makefile` example:
https://github.com/mlpack/examples/blob/master/mnist_cnn/Makefile

As you can see we are linking to armadill

[2021-10-05 12:37] #2314 closed

[2021-10-05 12:37] #1944 closed

[2021-10-05 12:37] #1187 closed

[2021-10-06 10:45] rickarl commented on #3069
Thanks for the help, adding these to target_link_library seems to have solved the problem! I have not worked a lot with C++ or CMake before so I was unsure of how to setup the CMakeLists file.

[2021-10-06 10:45] #3069 closed

[2021-10-09 14:46] david-cortes commented on #3054
Bad bot.

[2021-10-12 00:13] zoq opened #3072 "Hacktoberfest"
Hacktoberfest (https://hacktoberfest.digitalocean.com/) is an event hosted by DigitalOcean that partners with many organizations. In the past years, we had some contributions that indirectly came through the Hacktoberfest program.

Due to some concerns (https://blog.domenic.me/hacktoberfest/), each project has to opt-in to participate in the program. So I was wondering if anybody likes mlpack to p

[2021-10-12 18:57] zoq commented on #3063
Super, let us know if you need any further information.

[2021-10-15 13:03] ingbeeedd opened #3074 "Is there a metric code that can calculate roc_auc score?"
It's hard to find even if you look at doxygen.

[2021-10-16 15:53] rcurtin commented on #3054
Thanks for the report and sorry that mlpack-bot got to this before someone else did. :)  I opened #3075 which should fix the issue.  Please do feel free to open more little quality-of-life issues like this too---they tend to be easy to fix.

[2021-10-16 16:09] rcurtin commented on #3072
At least personally I wasn't planning on getting a t-shirt from it (I already have too many GSoC shirts :smiley:).  Given the spam concerns, maybe it's best to see if someone in our community wants to participate and sign up then?  I don't think we got hit with spam nearly as badly as some of the most-affected organizations in previous years, so at least personally I don't think it's a problem to

[2021-10-16 16:29] rcurtin commented on #3074
Hey @ingbeeedd, sorry that things are hard to find. You are right that Doxygen isn't great for discovering what's available---it's not the best interface, but sometimes just searching the filenames in the codebase can be useful.

Metrics like ROC-AUC would be found here: https://github.com/mlpack/mlpack/tree/master/src/mlpack/core/cv/metrics

But, it looks like we currently don't have ROC-AUC impl

[2021-10-17 14:15] rickarl opened #3077 "Issue with training while using openCV"
Having an issue with mlpack giving Floating point exception during training if I include openCV in my CMake, which I can't make heads or tail of.

To be precise, I have an older commit where everything works fine. I want to do some image resizing during preprocessing and install openCV. The next commit which results in the exception only has changes in CMakeLists.txt, adding the openCV library - n

[2021-10-17 22:47] zoq commented on #3077
Do you see the issue already after the first iteration (training). Any chance you can share the model?

[2021-10-20 21:22] rcurtin commented on #3066
Are you using the version of mlpack from CRAN?  I think this might be related to the fix in #3034.

Maybe could you try the latest master version of mlpack's R package?  Here's a link to the latest `master` build artifact from our build pipelines: https://github.com/mlpack/mlpack/suites/4101642104/artifacts/104672422

That zip will contain a file like `mlpack_3.4.3.tar.gz` (yes I know it is an arc

[2021-10-21 03:59] conradsnicta commented on #2982
A possible alternative option would be to use [PyArmadillo](https://pyarma.sourceforge.io/) (repo: https://gitlab.com/jason-rumengan/pyarma/) instead of going through conversions to/from numpy arrays in order to use mlpack functions and classes.

The native matrices in mlpack are armadillo matrices, so using PyArmadillo would considerably simplify mlpack's interface to Python.  More specifically,

[2021-10-23 01:26] rcurtin commented on #3074
Definitely, feel free @srimadhan11.  Take a look at the existing metrics, and if you can match the API/design of those, then it should be an easy merge. :+1:

[2021-10-27 18:04] Kashyapdevesh opened #3079 "[Build Error-Ubuntu 21.04] Packages not being linked and build failing at the last step(sudo make install)"
Hello everyone,
I'm following the linux build process listed at https://www.mlpack.org/doc/stable/doxygen/build.html and I'm facing a library linkage issue in the last step(sudo make install).

Initially, mlpack was not recognizing the libraries installed such as Rcpp,roxygen2 , etc and was showing the error shown below:

[code]
But after finding the lib path via **R -e ".libPaths()"** command i p

[2021-10-31 22:08] rcurtin commented on #3079
Hey @Kashyapdevesh, I took a look into the issue.  I think you can solve it by running `install.packages("pkgbuild")` or otherwise installing `pkgbuild` from CRAN.

However, definitely our build system should tell you about the missing requirement at compile time!  So, I put together a PR that should fix the issue moving forwards: #3081.

[2021-10-31 22:24] coatless commented on #3079
The patch @rcurtin should fix this build issue. We just were missing out on a development package being present that usually would be avoided if we were not regenerating the package in its entirety.

[2021-11-01 16:15] Kashyapdevesh commented on #3079
I had already individually installed pkgbuild when I was facing the issue of missing packages. I think there was some issue with correct file paths and R bindings, as previously I had installed R using conda and the mlpack was not syncing to the correct file path. Nevertheless, I deleted conda dependencies, made a global installation of R, and rebuilt mlpack and it worked.
Btw, @rcurtin thanks for

[2021-11-01 23:01] rcurtin commented on #3079
Awesome, glad the patch worked! :rocket:

[2021-11-02 17:10] skyser2003 opened #3083 "Compilation issue with linear_svm when MatType is not arma::mat"
#### Issue description

LinearSVM<MatType>::Shuffle function uses arma::mat to create variable `newData`,
which I think should be type `MatType` instead.

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Ubuntu 20.4
 * compiler: g++ (Ubuntu 9.3.0-17ubuntu1~20.04) 9.3.0
 * version of dependencies (Boost/Armadillo): Default
 * any other environment information you think is rel

[2021-11-02 17:19] shrit commented on #3083
@skyser2003 I see the issue, would you open a pull request to fix this bug?

[2021-11-02 17:24] skyser2003 commented on #3083
https://github.com/mlpack/mlpack/pull/3084
Created it.

[2021-11-02 18:14] rcurtin commented on #2971
As a follow-up, we are in the process of transitioning mlpack to be a header-only library. When that happens, we can always use whatever Armadillo's detected settings for OpenMP (and other options) are. This makes packaging a lot easier and I think it should mean issues like this one will no longer be possible. :+1:

[2021-11-03 22:45] shrit commented on #3083
@skyser2003 #3084 has been merged I am closing this one, please feel free to re-open this issue if anything came up.

[2021-11-03 22:45] #3083 closed

[2021-11-03 22:50] shrit commented on #3079
Perfect, as everything is working perfectly, I am closing this issue. @Kashyapdevesh feel free to re-open this issue if the build fails again

[2021-11-03 22:50] #3079 closed

[2021-11-03 22:53] shrit commented on #3077
@sindre0830 Do you have anything related to the exception so we can see it? can you show us the error? would it be possible to have a GDB backtrace related to this issue?

[2021-11-03 22:54] shrit commented on #3077
Also, would you share with us the version of mlpack and the dependencies?

[2021-11-03 22:57] shrit commented on #3064
@Xiaoyang-Lu I am closing this one. Please feel free to re-open this pull request. if you are still acing the same issue.

[2021-11-03 22:57] #3064 closed

[2021-11-03 22:59] shrit commented on #3054
@david-cortes is the issue still exist? as #3075 is merged, I am closing this one, please let me know if the issue persists.

[2021-11-03 22:59] #3054 closed

[2021-11-04 07:30] SuvarshaChennareddy commented on #3074
I would like to tackle this if @srimadhan11 is not currently working on it.
However I do have one question; will this ROC_AUC metric implementation need to provide anything other than the Area Under the Receiver Operating Characteristic Curve (ROC AUC)?

[2021-11-04 08:54] proton991 opened #3085 "Building from source on Mac m1, 'omp.h' not found"
[code]

[2021-11-04 21:21] srimadhan11 commented on #3074
Hi @SuvarshaChennareddy, I am already working on this issue. If I couldn't submit PR within 3-4 days, then you please proceed with this issue.

[2021-11-05 01:16] rcurtin commented on #3085
Hi @proton991, do you have OpenMP installed?

Can you tell us more about your setup?  What was the output of CMake?  What are the system details?

(This is why the issue template is there, by the way. :))

[2021-11-05 17:47] ImperatorS79 commented on #2774
@rcurtin Seems another contributor managed to build mlpack with msys' mingw, you might be interested in the changes -> https://github.com/msys2/MINGW-packages/pull/9972.

[2021-11-05 17:47] #2774 closed

[2021-11-05 17:56] rcurtin commented on #2774
Nice!  Thanks for the link.  I'll work to get the patch merged here (or see if they'd like to submit it), but either way, I think we can get those changes merged in here.

[2021-11-05 17:57] eddelbuettel commented on #2774
@ImperatorS79 Now that `mlpack` is on CRAN the windows builds there (all of which use `mingw`) are an indicator too. Results right now are

![image](https://user-images.githubusercontent.com/673121/140556775-fe03538e-05ac-489f-82a2-ae5846a11314.png)

URL is https://cran.r-project.org/web/checks/check_results_mlpack.html and I guess we need to look into that one out several Windows machines failing

[2021-11-05 17:58] eddelbuettel commented on #2774
PS:  Ah, it is just 'stuff happens':  `cc1plus.exe: out of memory allocating 963728 bytes`

[2021-11-05 18:51] MehdiChinoune commented on #2774
Some source files have utf-16 encoding, which leads to such messages, Try converting them to us-ascii.
[code]

[2021-11-06 03:25] rcurtin commented on #2774
I wouldn't be surprised if the different CFLAGS and CXXFLAGS from the referenced branch might make a difference for memory usage?  The relevant change is this:

[code]

to

[code]

If you have a way to disable/remove `-ffunction-sections -fdata-sections` for CRAN Windows builds, maybe that's worth a shot?  I'm also uncertain of whether or not those flags---which appear in the main mlpack CMake con

[2021-11-06 03:46] eddelbuettel commented on #2774
Recall that CRAN usually does not use CMake but simply invoke `R CMD INSTALL` typically hitting `src/Makevars.win` and possibly `configure.win`.  So while one can shimmy `cmake` in there the standard build does not involve it but it driven by files your outer framework may have created -- hence you have a chance to wire it up there.

[2021-11-07 13:52] jeff10joy commented on #3063
Hey I just recently started to work on this, have a couple of queries
1). I see in dual-optimizer PR, it is mentioned calculate gradient w.r.t mixed image batches, what exactly does this mean?
2). The wgan_imp file already has wgradient penalty implemented, am I missing something here? If yes, could you please let me know?
Thanking you.

[2021-11-07 14:44] hello-fri-end commented on #3063
Hey Jeff! Thanks for working on this issue. Currently, only the forward pass of gradient penalty has been implemented while backward pass is missing.

The Gradient() method of the FFN class calculates gradient with respect to parameters of neural network. However, the gradient term in gradient penalty refers to gradient with respect to the images in the mixed batch where mixed batch (let's call it

[2021-11-08 23:52] samuelbertolini opened #3087 "Minimize output parameter using neural network"
Dear all, sorry for the simple question, but I am having difficult to find a solution, and maybe this issue appeared here before. But the issue is:
I have the input parameters (Xi) that gives me outputs as a function of the parameters ( F[Xi] ). I would like to find the input parameters that minimize the function as much as possible. I was planning to use a neural network method in c++.

What are

[2021-11-09 01:20] zoq commented on #3087
Hello @samuelbertolini can you tell us more about your data, since you mentioned GAN, it's an image dataset, also is `F(x)` given?

[2021-11-09 01:25] shrit commented on #3087
I understood it as `x* = argmin f(x)`

[2021-11-09 02:27] samuelbertolini commented on #3087
What I have is a force field that I need to train. X are the parameters of the force field and F(x) is the error, where F(x) = Edft - Eff. Thus, I need to obtain x* = argmin(x). I though two way: FNN using random X and getting min F(x); or using GAN, entering a fake F(x) as input to obtain x*.
Is it clear now?

[2021-11-09 12:41] shrit commented on #3087
Yes, and you do not need to use complex methods such as FFN or GAN, if your function is differentiable just use an SGD from the ensmallen library.

[2021-11-09 12:45] eddelbuettel commented on #3087
And if it is not differentiable, there are other global (stochastic) search algorithms that can help (maybe at the price of slow progress -- the No Free Lunch Thereom (TM) still hangs around).

[2021-11-09 13:53] samuelbertolini commented on #3087
The problem is really not trivial. Stochastic gradient descent is already in use to minimize and to generate training data. The idea is to use ANN after SGD, because SGD is not enough. I just need to discover how to minimize the output.

[2021-11-09 13:58] shrit commented on #3087
ANN is not a function minimizer, they are function approximation methods, they will approximate the function and thus help you discover the function if you do not know it.

[2021-11-09 13:59] shrit commented on #3087
if you know `f(x)` then ANN is not usable here. But I think I still do not get the idea.
How ANN is going to help you?

[2021-11-09 14:01] samuelbertolini commented on #3087
Look this paper, https://www.sciencedirect.com/science/article/abs/pii/S092702562030598X
This gives the whole idea. I just need to do a similar implementation.

[2021-11-09 19:55] shrit commented on #3087
@samuelbertolini I am currently busy and I can not help you with the paper. However, mlpack has an example repository that has a set of neural networks examples, maybe GAN (I am not sure). https://github.com/mlpack/examples

[2021-11-09 23:13] samuelbertolini commented on #3087
No worries @shrit. I just showed the paper to show that ANN can be applied to find minimal function. I will take a look in the examples, thanks for the help!

[2021-11-09 23:34] zoq commented on #3087
In this case the paper uses a genetic algorithm (GA), that evolves the function (network architecture) over time that is used to optimize the function. Maybe you talked about GA from the beginning and I just got confused because you mentioned GAN at some point which for me is a generative adversarial network. Anyway ensmallen (https://github.com/mlpack/ensmallen) implements a bunch of evolution ba

[2021-11-10 00:33] samuelbertolini commented on #3087
Great @zoq . It is what I needed. Thanks a lot.
The paper used GA + FNN. I just though that it could be GA + GAN.
Anyway, this is really helpful.

[2021-11-11 03:55] zoq commented on #3087
Not exactly, similar to NEAT the methods implement a evolution strategy (mutation, offspring) to evolve the architecture, which could be interpreter as an FFN.

[2021-11-11 17:32] samuelbertolini commented on #3087
In the paper that I sent, if I am not wrong, they used FNN, right? How could they obtain minimization with FNN?
By the way, I will work to understand how to implement NEAT.
Thanks!

[2021-11-12 13:38] samuelbertolini opened #3090 "Installation problems with deb and cmake"
Hi all! I am new here, and I am having troubles to install mlpack. I tried two ways: by "apt install mlpack-bin" and by cmake. Both is not working. Can anyone please help? Sorry for such a simple question.
I have installed all the dependencies, e.g. libarmadillo10, libboost, etc.

Errors output (apt install):

Errors output (cmake):

[2021-11-12 13:42] eddelbuettel commented on #3090
Which distribution and version are you using?  Which repo are you pointing at with `i.e.` can you show us what `apt-cache policy mlpack-bin` shows?

[2021-11-12 13:44] eddelbuettel commented on #3090
On an 'empty' Docker container (from R work) that runs Debian testing I have no issues:

[code]

[2021-11-12 14:00] samuelbertolini commented on #3090
I am trying in Ubuntu Impish

the commands below gives
[code]
and

[2021-11-12 14:15] eddelbuettel commented on #3090
I am too on another laptop but

[code]

[2021-11-12 14:22] samuelbertolini commented on #3090
Thanks in any case!

[2021-11-14 09:15] chws0508 opened #3092 "Korean translation"
I want to contribute to this project. So can I translate the README document into Korean? Or is there a document that needs translation?

[2021-11-14 15:19] shrit commented on #3092
@chws0508 Thank you for your interest in mlpack.
I think it would be a great idea to provide a translation in Korean for mlpack documentations.
I think you can start by looking at the mlpack website, and translating installation tutorials since it is easier to publish the translation on the website rather than the README.
Let me know if you need any further clarification.

[2021-11-14 17:42] zafar-hussain commented on #3085
hi proton991,
-- do a "locate omp.h", and and make sure it is in the include path,
if not found, remove/reinstall the compiler with  recommended option.

if all else fails, pass USE_OPENMP=OFF to cmake, to build without openmp and then sort out the omp.h issue

cheers

[2021-11-15 01:13] rcurtin commented on #3092
Hey @chws0508, thanks so much for volunteering.  I agree with @shrit that this would be a nice idea, but the problem is that I don't think we have the resources to maintain a Korean translation.  Very few mlpack contributors speak Korean, and so when we change the English documentation, we would have a difficult time keeping the Korean documentation up to date.  So, I don't think we should keep Ko

[2021-11-15 01:15] rcurtin commented on #3049
Thanks @RishabhGarg108.  I thought I would get to this before @mlpack-bot closed it last week, but that didn't work out. :)  In any case this is pretty close to the top of my list, but not quite *at* the top yet... :)

[2021-11-15 13:36] zoq commented on #3092
I think the tutorials are somewhat save in terms of text changes in the future, but I agree the code documentation would be difficult. Especially since we generate the documentation from the code itself.

That said, I don't see a problem if we have a direct translation of the tutorials (as long as we crediting the source) and put it into the wiki or medium or whatever.

[2021-11-16 00:56] conradsnicta commented on #3090
This is due to a bug in an old version of catch.hpp from the Catch2 testing framework: https://github.com/catchorg/Catch2/issues/2178

mlpack 3.4.2 is pretty old by now.  Suggest using the git version of mlpack until the next official release.

@rcurtin @zoq @shrit Perhaps a quick interim release is warranted?  Say mlpack 3.4.3, where only the catch.hpp header is updated and the tests are disabled

[2021-11-16 02:50] samuelbertolini commented on #3090
How can I obtain a newer version? Is this link below?
https://github.com/mlpack/mlpack

[2021-11-16 03:33] conradsnicta commented on #3090
Clone the repo using git on a command line:
`$ git clone https://github.com/mlpack/mlpack.git`

[2021-11-16 13:04] rcurtin commented on #3049
Ok, managed to open #3093, which will solve this issue. :)

[2021-11-16 13:40] samuelbertolini commented on #3090
This version is requiring cereal, and cereal gives the same error with catch2

[2021-11-16 13:47] shrit commented on #3090
@samuelbertolini use `cmake -DDOWNLOAD_DEPENDENCIES=ON ../`

[2021-11-16 13:50] shrit commented on #3090
@conradsnicta We will try to make it close before next year. The issue we can not release an immediate version because we no longer have a compatible public API. We have to go for mlpack 4.0
We only need to finish #2777 and then release a new version.

[2021-11-16 17:58] shrit opened #3095 "Remove remaining boost parts with the standard library"
Hi,

There are still parts of boost library that are used inside mlpack, more specifically in here
- [x] `mlpack/src/mlpack/core/tree/cosine_tree/cosine_tree.hpp`  boost::heap
- [ ] `mlpack/src/mlpack/core/data/load_arff.hpp`        boost::tokenizer
- [x] `mlpack/tests/main_tests/emst_test.cpp`              boost::math::iround()
- [x] `mlpack/core/tree/cosine_tree/cosine_tree.cpp`   boost::math::q

[2021-11-17 00:56] samuelbertolini commented on #3090
Thank y'all! The installation now is completed. I will close the issue.

[2021-11-17 00:56] #3090 closed

[2021-11-17 01:00] conradsnicta commented on #3090
@shrit

I don't mean taking the current git master and doing a release. Instead, I mean taking mlpack-3.4.2.tar.gz (from the mlpack website), updating catch.hpp within that, disabling the tests, and releasing it as mlpack-3.4.3.

[2021-11-17 13:58] shrit commented on #3090
oh, Indeed that is a good idea, I did not think about that :+1:

[2021-11-17 14:22] samuelbertolini commented on #3090
I would also like to suggest changing the "Configuring Cmake" in the Documentation, adding the command "cmake -DDOWNLOAD_DEPENDENCIES=ON ../" . This helped a lot to install.

[2021-11-18 03:31] rcurtin commented on #3095
I think `boost::heap` can easily be replaced with `std::priority_queue`, and `boost::tokenizer` can be replaced pretty easily with `std::stringstream` and `std::getline()` or similar ([example](https://www.geeksforgeeks.org/tokenizing-a-string-cpp/)).  So, I think it should be relatively straightforward to fix this. :+1:

[2021-11-20 16:37] #3072 closed

[2021-11-20 20:03] heisenbuug commented on #3095
@shrit should I take this one? It was marked as `good first issue` so not sure and seems pretty straightforward as well.

[2021-11-20 20:07] shrit commented on #3095
Yeah please go ahead. I do not have time at all, and I have a couple of PRs that are open and need to be finished first

[2021-11-20 23:12] shrit commented on #3095
Just found more `boost::math::normal` function inside the `kde_rules_impl`.
This thing is so invasive as a virus. :rofl:

[2021-11-22 09:03] heisenbuug commented on #3095
Yea, even we need to replace `boost::math::normal`.

I think we can go with `std::normal_distribution`, what we need to figure out is `boost::math::quantile`.

[2021-11-22 10:54] jingchen95 opened #3100 "mlpack "Make" filed on Ubuntu"
Hi, does anyone have any idea of what happened here? I can't make it. Please help~ Many thanks!
I have hdf5 installed: usr/lib/aarch64-linux-gnu/hdf5/serial/libhdf5.so

nvidia@tegra-ubuntu:~/mlpack-3.4.2/build$ make
[  0%] Updating arma_config.hpp (if necessary)
[  0%] Built target mlpack_arma_config
Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  1%] Generating mlpack

[2021-11-22 11:27] jingchen95 commented on #3100
Problem solved by "make -stdlib=libstdc++"

[2021-11-24 23:50] conradsnicta commented on #3095
Maybe [arma::quantile()](http://arma.sourceforge.net/docs.html#quantile) would help here.  Available in Armadillo since version 9.900.  The implementation is based on "Definition 5" in:

* Rob J. Hyndman and Yanan Fan. Sample Quantiles in Statistical Packages. The American Statistician, Vol. 50, No. 4, pp. 361-365, 1996. http://doi.org/10.2307/2684934

[2021-11-25 00:15] shrit commented on #3095
Hmm, that is interesting, however, we need to upgrade Armadillo version in this case. Maybe we can, as we still did not release mlpack 4

[2021-11-25 13:58] heisenbuug commented on #3095
So I will not work on `quantile` for now.
@rcurtin can we upgrade Armadillo version?

[2021-11-29 10:32] cheapkai commented on #2668
Hello,

@alexhallam , @rcurtin  could I implement the Holt Winters Forecasting method ?

[2021-11-30 03:41] rcurtin commented on #3095
The problem is that Armadillo 9.900 is not available in Ubuntu 20.04 or RHEL8 (but both do have Armadillo version 9).  That would make it a bit more difficult to package when we finally do release mlpack 4, but maybe we can lean on our RHEL and Debian maintainers here (the first of those is me...) to upgrade Armadillo for the mlpack 4 release.

I dunno, I'm not excited about bumping the minimum Ar

[2021-11-30 12:41] conradsnicta commented on #3095
I concur that using Armadillo > 9.800 may be an issue.  If all that's required is the `arma::quantile()` function, it shouldn't be too difficult adapting the code from Armadillo (or Boost) and writing a specific mlpack version of the function, say `mlpack_quantile()`.

By adapting I do not mean backporting the function from Armadillo 9.900 to 9.800.  Backporting invariably causes too many problems

[2021-11-30 13:02] conradsnicta commented on #3095
Followup from the previous comment. So it looks like `arma::quantile()` and `boost::math::quantile` are not doing the same thing. The former takes a dataset (eg. vector of values generated from a distribution function), while the latter takes the specification of a distribution such as `boost::math::normal dist(mu, sigma)`.

[2021-11-30 13:29] alexhallam commented on #2668
Go ahead!

[2021-11-30 13:42] rcurtin commented on #2668
@cheapkai it would probably be best if you started with a general design of the API before implementation---we'll need to make sure that whatever you implement fits well into the mlpack codebase. :+1:

[2021-11-30 14:02] cheapkai commented on #2668
Ok! Am starting on it.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: Ryan Curtin ***@***.***>
Sent: Tuesday, November 30, 2021 7:12:13 PM
To: mlpack/mlpack ***@***.***>
Cc: Mehthab Saheba Shaik ***@***.***>; Mention ***@***.***>
Subject: Re: [mlpack/mlpack] Forecasting and time series methods (#2668)

@cheapkai<https://github.com/cheapkai> it would probabl

[2021-11-30 18:12] heisenbuug commented on #3095
Then I guess we need to adopt one of the implementations for mlpack.
`boost::math::quantile()` is being used in 3 files.

I will have a look at both the implementations since we are not using `boost::math::quantile` in many places
even if we decide to adapt arma's implementation(with some small additional changes), it should be fine I guess.

[2021-11-30 18:42] heisenbuug commented on #3095
@shrit I added some more places to the issue description, hope that's fine.

[2021-12-01 00:43] rcurtin commented on #3095
Thanks for checking into that @conradsnicta.

I took a quick look and refreshed my memory, and our use of `boost::math::quantile()` is actually to compute the inverse of the CDF of a Gaussian distribution:

[code]

The `KDERules` usage is the same idea.

Wikipedia lists the quantile function of a Gaussian distribution as:

![image](https://user-images.githubusercontent.com/1845039/144150916-c02f8a

[2021-12-02 05:33] swaingotnochill commented on #3100
Closing this issue.

[2021-12-02 05:33] #3100 closed

[2021-12-02 22:41] shrit commented on #3095
Just updated the list, I have noticed a new `boost::get()` in the categorical_dqn header.

[2021-12-04 08:59] gzhwanghub opened #3101 "How to use the optimizer in the ensmallen library for sparse datasets?"
`arma::sp_mat trainingData;`
`trainingData.load("../features.mat", arma::arma_binary);`
`arma::sp_mat trainingDataT = trainingData.t();`
`Row<size_t> trainingLabels;`
`trainingLabels.load("../labels.mat", arma::arma_binary);`
`ens::test::LogisticRegressionFunction<sp_mat> lrfTrain(trainingDataT, trainingLabels);`
`arma::sp_mat coordinates = lrfTrain.GetInitialPoint();`
`ens::IQN optimizer;`
`optim

[2021-12-04 17:14] rcurtin commented on #3101
Thanks for pointing this out!

I don't have a moment right now to write a patch and test case, but I can at least point you in the right direction---take a look at `iqn_impl.hpp`:

https://github.com/mlpack/ensmallen/blob/master/include/ensmallen_bits/iqn/iqn_impl.hpp#L84

That line probably needs to change to:

[code]

However!  That is not a completely great solution, since it will initialize a

[2021-12-07 02:36] samuelbertolini commented on #3087
Sorry to bring up this again, but does anyone has a example for NEAT that I can follow and adapt?

[2021-12-07 11:59] shubham1206agra commented on #3095
I just want to ask why you want to remove the boost library usage from the specified location?

As I am seeing high usage of boost library in ANN modules.

[2021-12-07 17:58] shubham1206agra commented on #2113
Is this issue still open or is it done already?

[2021-12-07 18:51] Aakash-kaushik commented on #2113
Hey @shubham1206agra I think this issue has been handled but @rcurtin might be able to provide more info on it.

[2021-12-08 03:04] zoq commented on #3087
Just any example or a more specific one?

[2021-12-08 14:49] samuelbertolini commented on #3087
More examples, the better it is. But one with any optimization would be great!

[2021-12-08 18:45] BrendaMMaloff opened #3102 "Can't get mlpack to build"
I'm trying to get mlpack installed and compiled and I'm having issues. I'm on a Windows machine. If I use the vcpkg command, I get the error "Error: mlpack[core] is only supported on 'uwp'". If I try to build each piece separately, I get all of the way down until the mlpack, when I try to use the cmake command, I get the error "CMake Error at CMakeLists.txt:70 (cotire): Unknown CMake command "coti

[2021-12-08 23:27] RabbleRousy opened #3103 "How do I build this network with mlpack?"
Hello everyone,
I am trying to train a Effectively Updatable Neural Network ([NNUE](https://www.chessprogramming.org/NNUE)) for Chess Position Evaluation. It is a fairly simple network, consisting only of 4 Layers, with the largest being the input size of 81920.
I have already built the network capable of calculating a forward pass in my engine according to [this tutorial](https://github.com/glins

[2021-12-10 03:38] zoq commented on #3103
That is an interesting usecase, the architecture looks like a correct solution to me, perhaps you can provide a really simple ready to use code snippet to reproduce the issue you see?

Another solution I could think of is to implement a custom layer based on the linear layer, it would be pretty similar to the existing solution except that we split the input before the forward pass and multiple eac

[2021-12-10 08:05] RabbleRousy commented on #3103
Hi @zoq , thanks for your answer! Wow, I was really not expecting to hear that my approach looks alright. If that‘s the case, I will happily give you a minimal complete example today, just give me some minutes ^^

I thought about the custom layer approach too. Before I found `Sequential`, `SubView` and `Concat` Layers I tried building the net by extending `FFN` class and overwriting the `forward()

[2021-12-10 08:35] RabbleRousy commented on #3103
Minimal, complete, reproducable example:

    #include <mlpack/core.hpp>
    #include <mlpack/methods/ann/ffn.hpp>
    #include <mlpack/methods/ann/loss_functions/mean_squared_error.hpp>

    int main() {
	    const int N = 40960;
	    const int M = 256;
	    const int K = 32;

	    arma::sp_mat sparseMatrix;
	    // Only 50 training examples, as I haven't converted more to the correct format

[2021-12-10 11:03] RabbleRousy commented on #3102
I also had this issue when building but can't quite remember how I continued...
I definetly stumbled upon this issue [#21310](https://github.com/microsoft/vcpkg/issues/21310) and maybe changing `uwp `to `!uwp` as described there fixed it for me, but not sure.

[2021-12-10 14:30] RabbleRousy opened #3104 "Quick question: where did the optimization classes go?"
I am sorry for this stupid question, but I can't find the optimizer classes (in particular I want to use [`GradientDescent`](https://www.mlpack.org/doc/mlpack-3.0.4/doxygen/classmlpack_1_1optimization_1_1GradientDescent.html) optimizer). In the documentation they are listed under `mlpack/core/optimizations`, but I simply do not see that folder anywhere? Not in this repository, nor in my local mlpa

[2021-12-10 14:39] RabbleRousy commented on #3104
Just found it in the 3.x branch, I guess I built the wrong version..?

[2021-12-10 14:48] shrit commented on #3104
@RabbleRousy The optimizer class is part now of the ensmallen library see here: https://github.com/mlpack/ensmallen

[2021-12-10 14:49] RabbleRousy commented on #3104
Okay, so I need to also build & include ensmallen into my project, right? Thanks a lot!

[2021-12-10 14:50] shrit commented on #3104
Ensmallen is header-only, so there is nothing to build. You only need to include headers and compile mlpack code as usual

We have all classes functions, and optimizers from mlpack to ensmallen which is dedicated to mathematical optimization. If you would like to see how to use ensmallen with mlpack please refer to the example repository that can be found here:
https://github.com/mlpack/exmaples

[2021-12-10 14:51] RabbleRousy commented on #3104
Alright, that'll do! Thanks a lot!!:)

[2021-12-10 14:51] #3104 closed

[2021-12-10 22:18] shrit commented on #3102
@BrendaMMaloff what version of mlpack you are using?

[2021-12-10 22:39] BrendaMMaloff commented on #3102
Mlpack 3.4.1. I believe that is the latest version. Is there I version I should be using?

  Brenda

From: Omar Shrit ***@***.***>
Sent: December-10-21 3:19 PM
To: mlpack/mlpack ***@***.***>
Cc: BrendaMMaloff ***@***.***>; Mention ***@***.***>
Subject: Re: [mlpack/mlpack] Can't get mlpack to build (Issue #3102)

@BrendaMMaloff <https://github.com/BrendaMMaloff>  what version of mlpack you are usin

[2021-12-10 22:46] shrit commented on #3102
This one is pretty old, we did not do any release in the last year because we are preparing in mlpack 4 in a couple of months.
Would you mind building the master version?

[2021-12-11 00:00] #3077 closed

[2021-12-11 06:34] Sirish07 commented on #3085
I faced a similar issue. You can try `brew install libomp` (if it is not installed) to resolve the issue.

[2021-12-11 06:45] Sirish07 commented on #3063
I would like to take up this issue.

[2021-12-11 13:57] shubham1206agra commented on #3063
@hello-fri-end Please add the task of removing the boost::visitor and replace with vtable #2777

So that future work can be done now itself.

[2021-12-11 14:50] Sirish07 commented on #3063
Hey @hello-fri-end ,

From what I understand, we just need to implement this [part](https://github.com/ddbourgin/numpy-ml/blob/1e10697258952865e497a797e16558c40087d6fc/numpy_ml/neural_nets/losses/losses.py#L497) right?

[2021-12-11 20:23] RabbleRousy opened #3108 "Model()[x].Parameters() not available anymore"
#### Problem location

https://mlpack.org/doc/mlpack-3.1.0/doxygen/anntutorial.html#extracting_parameters_anntut

#### Description of problem

Tutorial says:

`model.Model()[1].Parameters();`
In the example above, we get the weights of the second layer.

But `Model()[x]` returns a `LayerTypes<>` object which doesn't give me the function `Parameters()`. Maybe I am missing something.

[2021-12-11 22:00] #3074 closed

[2021-12-12 05:55] hello-fri-end commented on #3108
Hi! I think you need you need to use boost visitor to get the weights of a specific layer. Try this:

[code]

[2021-12-12 09:50] RabbleRousy commented on #3108
Thanks a lot, that approach worked! I guess the documentation should be updated nontheless, should this issue stay open?

[2021-12-12 10:56] Sirish07 commented on #1501
Hey @rcurtin @wenhaoh2 .

I tried resolving the issue as per your suggestion (#3106). However, the test passes on some platforms but fails on the other. Is there any reason behind this behaviour? Thank you.

[2021-12-13 17:10] BrendaMMaloff commented on #3102
I don't know vcpkg that well.  I can pull the code from git, but how to I tell vcpkg to use that particular version then?

[2021-12-14 18:03] RabbleRousy commented on #3103
Here is my solution following @zoq's recommendation of implementing a custom layer based on `Linear`:

    // Custom Forward pass splits the input in half and applies the weights and biases separately before joining the two
    halves back together
    template<typename InputDataType, typename OutputDataType,
        typename RegularizerType>
        template<typename eT>
    void LinearSplit<Inpu

[2021-12-14 18:03] #3103 closed

[2021-12-14 22:03] BrendaMMaloff commented on #3102
I got it building now.

[2021-12-14 22:03] #3102 closed

[2021-12-15 11:41] RabbleRousy opened #3109 "How to properly use custom classes with mlpack?"
Hello again!
I wrote 2 classes:
[`ClippedRectifierFunction`](https://gitlab.fsi.hochschule-trier.de/hetzers/chess/-/blob/master/ClippedReLU.hpp) by copying and modifying `rectifier_function.hpp`
and
[`LinearSplit`](https://gitlab.fsi.hochschule-trier.de/hetzers/chess/-/blob/master/LinearSplit_impl.hpp) by copying and modifiying `linear.hpp` and `linear_impl.hpp` (see [this issue](https://github.co