[2018-08-24 14:47] spatala commented on #1425
@rcurtin
I wanted to make the changes you suggested sequentially.  So, when I only changed the `-DBUILD_PYTHON_BINDINGS=OFF`, the install worked just fine. Thank you for your help.

[2018-08-25 15:12] yashodeepm commented on #1483
@rcurtin can you be more specific as to what is an objective value that needs to be returned? Can it something as simple as returning the vector of weight(with reference to a trained model using linear regression) ?

[2018-08-25 16:02] rcurtin commented on #1483
Each model is optimizing some objective function, and this is what should be returned.  Linear regression is actually a little tricky since the optimization there does not explicitly calculate the objective (which should be the mean squared error I believe), so there it may be needed to explicitly compute it (assuming the computation does not take too long).

[2018-08-27 12:53] jerrylucky commented on #1499
In GaussianHMMTrainTest, I found that if I train hmm without labels, like this:
  hmm.Train(observations);
  cout << transition << endl;
  cout << hmm.Transition() << endl;

 hmm.Transition()  is not equal to transition, is this right?

[2018-08-27 15:27] scrcro commented on #1481
There are a couple of questions:
1. I am not sure how the clients of the optimizers would know what functions can be called from the optimizers? I mean what are some of the interesting events occurring while the optimizers are working? This information is only available to the optimizers. Hence we should let the optimizers decide which functions could be available. So registering some callbacks fo

[2018-08-29 13:41] rcurtin commented on #1499
I don't understand your most recent comment here about the transition matrix, unfortunately.

For the speed issue, it's actually very hard to know exactly what is going on here.  It's likely the implementation of each library is a little different, and the optimization routine will be somewhat different.  So my first thought would be to check the number of iterations of the Baum-Welch algorithm th

[2018-08-29 13:47] rcurtin commented on #1481
Thanks for the response.  It's always good to think everything through first and I think you pointed out some issues that are definitely worth thinking about...

1.  When you say "clients of the optimizers", do you mean the proposed classes like `EarlyStopping` or `PrintLoss`?  For some of those, no optimizer-specific information is necessary.  Others can be restricted to certain optimizers via `s

[2018-09-01 15:44] vaibhavb007 commented on #1483
Seems like there hasn't been much activity over this bug. Can I take this up?

[2018-09-03 13:10] scrcro commented on #1481
Thank you for looking at it.
What I mean by clients of Optimizers are the models or programs that use the optimizers. Not the classes per se. I might be interested when a batch started, or a batch finished or perhaps other some interesting events happening as the optimizer is working. Or what is the progress -- progress bar like ability. I'm kinda influenced by Keras here.

Again for the next one,

[2018-09-04 14:07] zoq commented on #1481
I guess nothing hinders us to pass a class instantiation that likes to receive intermediate results, so

[code]

might become

[code]

[code]

Will report the loss after a single batch, maybe I missed something?

I like the idea to use ``std::function`` the only issue I have is that this could increase the complexity of the optimizer class since it would potentially look like:

[code]

[2018-09-04 18:46] zsogitbe opened #1504 "BUG: The BatchNorm layer is not deserialized well."
I was saving and then loading a trained ann network while testing and I have noticed that the network is serialized well but when deserialized the BatchNorm layer is not loaded well. After loading, the beta and gamma vector sizes were still the default (10) and the values were not loaded.

[2018-09-04 19:38] zsogitbe commented on #1504
I think that you will most probably need to do 'if (Archive::is_loading::value)' and 'set_size' for 'beta' and 'gamma' in the BatchNorm layer serialization! They are not deserialized/loaded well because the size is still the default... (the serialization/save is OK!). I am not sure how to get the right size at that place in the code because I am still new to mlpack but I am sure that more experien

[2018-09-05 06:29] zsogitbe commented on #1504
This pull request does not work either. I would like to politely suggest that you always test the code before committing a pull request in order to prevent the accidental degradation of the library.
I have also noticed that you have removed the serialization of beta and gamma entirely. Are you sure that you know what you are doing?
I do not have time to help you further with this issue because I a

[2018-09-05 07:41] ShikharJ commented on #1504
Hmm, weird. @rcurtin Can you think of a reason why the serialization might not be working?

[2018-09-05 12:40] rcurtin commented on #1504
I'm sure that @ShikharJ knows what he is doing---he has made substantial contributions to the library in the past year.

In this situation Shikhar is right: the `gamma` and `bias` matrices are simply aliases on top of the `weights` matrix.  The ANN code is complex so it's not necessarily easy to read, and the way that the network interacts with each layer is also complex.  For the sake of serializ

[2018-09-05 13:17] zsogitbe commented on #1504
Thank you for your answer and clarification Ryan! I am just starting to test mlpack. The BatchNorm layer does not improve my test cases but makes them worse, therefore I will not use it further for the moment. I just wanted to let you know that there is something wrong, I think that you are right about the eps or stats reset. I advice you (the one who will try to solve the problem) in this case to

[2018-09-05 13:38] zsogitbe commented on #1504
You can use a very simple example you probably have already for the testing. Just build a simple nn, train it, save it, load it and try to predict. You could also make an automatic test case from this which could for example compare the prediction results before and after loading the model. One BatchNorm layer would be sufficient for the test:

FFN <NegativeLogLikelihood<>, RandomInitialization> m

[2018-09-06 01:31] rcurtin commented on #365
Finally closed after over seven years!  Now that is a nice feeling.  Thanks @gmanlan!

[2018-09-06 01:31] #365 closed

[2018-09-06 01:33] rcurtin opened #1506 "Minor Windows installer fixes/changes"
These are just a few leftover changes from #1485.  They aren't high priority but I don't think any of them are too hard.

1. Higher resolution image that looks less blurry.  https://github.com/mlpack/mlpack/pull/1485#issuecomment-417945989
2. Wrapped lines for AppVeyor config.  (Not totally sure if this will work.)  https://github.com/mlpack/mlpack/pull/1485#discussion_r214467616
3. Use git versio

[2018-09-06 02:26] gmanlan commented on #1506
Another improvement might be to remove the *_test.exe and the test dependency (boost_unit_test_framework-vc140-mt-1_60.dll). Having the test in the installer may not be that useful (and it fails anyways because it can't find many test files).

[2018-09-13 13:33] sshkhr commented on #1332
@chennakeshava1998  I think this can be marked as resolved now. Thanks for pointing out this issue

[2018-09-13 13:36] ShikharJ commented on #1332
Thanks for the work @sshkr.

[2018-09-13 13:36] #1332 closed

[2018-09-16 00:27] rcurtin commented on #1481
Agreed with Marcus here.  We can actually see the idea here as a similar template-metaprogram-ey way of accomplishing the same thing as Keras callbacks.  Essentially any of these function wrappers would be called each time the actual function's `Evaluate()` or `Gradient()` functions were called (or `EvaluateWithGradient()` I guess).  It's possible that maybe it would be useful to expand that, but

[2018-09-18 08:59] zoq commented on #1475
Please feel free to work on this one.

[2018-09-20 02:45] rcurtin opened #1511 "Buildable and testable documentation and tutorials"
Here are a couple of problems that we currently have:

 * Our documentation and tutorials often go out of date because parameters change and the tutorials don't get updated.
 * Our documentation doesn't have complete programs that a reader can just paste into a terminal, or Python interpreter, or .cpp file and run.
 * Our documentation doesn't have a good introduction to the kinds of problems mlpa

[2018-09-20 02:45] rcurtin commented on #1511
This is also related to #175.

[2018-09-20 02:49] rcurtin commented on #1480
I've closed this issue for inactivity.  Please feel free to reopen it if you are still having problems! :)

[2018-09-20 02:49] #1480 closed

[2018-09-20 02:50] rcurtin commented on #1415
I've closed this for inactivity.  Please feel free to reopen if needed! :)

[2018-09-20 02:50] #1415 closed

[2018-09-20 02:52] rcurtin commented on #1399
It's been two months now---I'm going to close this for inactivity now to clean up the bug tracker.  However we can definitely reopen it if you like, just let me know.  Thanks again for your time with this one.

[2018-09-20 02:52] #1399 closed

[2018-09-20 02:52] rcurtin commented on #1471
I've closed this for inactivity.  Please feel free to reopen if needed! :)

[2018-09-20 02:52] #1471 closed

[2018-09-20 02:53] rcurtin commented on #1425
@spatala: glad you got it worked out. (Sorry for the slow response!)

@aicaffeinelife: if you have a chance to try this, it would be great. :)  I still haven't managed to reproduce this.

[2018-09-20 06:12] conradsnicta commented on #1511
In my experience the mlpack documentation is too byzantine, ie. overly intricate and spread out over too many pages.

I believe having one "flat page" with internal links would go a long way to solving that issue. Having a single reference point is super useful for search engines, which increases incoming traffic.  It would also allow easy manual searching (eg. via control-f) and casual perusal, w

[2018-09-20 15:02] aicaffeinelife commented on #1425
@rcurtin Finally this built! I'm so happy. I think it's somewhere in the Python bindings that something is messed up. But I used both of your suggestions and it builds. Just a standard warning when using `std::move`, but nothing too red-flaggy according to me.

[2018-09-20 16:40] rcurtin commented on #1511
I can agree that the current documentation is too byzantine and too spread out.  But I don't know if one "flat page" would work in the same way it does for Armadillo, since the mlpack techniques are a lot more generic and flexible, and often take a lot of explanation to fully describe what they do and what can be done with them.  But I do like the idea at least of one "main page" that collects eve

[2018-09-20 17:57] zoq commented on #1511
I like the flat page idea as well, in fact, I'm constantly using ctrl-f on the armadillo page. A stripped down version of the current cli output could work quite well to get something similar, and I think nothing hinders us to either hide certain information by default or link to another page with more information.

[2018-09-20 18:05] rcurtin commented on #1511
Hm, ok. Let's see what I come up with. I'll see what I can fit on a flat page.

[2018-09-20 22:15] rcurtin commented on #1425
Ah, ok, great!  I am happy that it worked.  So do you mean that if you both disable OpenMP and comment out lines 102 and 109 of CMakeLists.txt, everything builds correctly?  Or do you mean it only built correctly when you configured with `-DBUILD_PYTHON_BINDINGS=OFF`?

[2018-09-20 22:56] aicaffeinelife commented on #1425
Both. To expand I deleted the mlpack repo I had, cloned the latest master. Commented out lines 102, 109 and then built mlpack with the following command:
`cmake -DBUILD_PYTHON_BINDINGS=OFF -DUSE_OPENMP=OFF ..`

However, the `openmp` thing could be incidental since I don't keep that library on my machine. However, I do strongly believe that something in the Python bindings is off.

Thanks for being

[2018-09-24 08:10] lozhnikov commented on #1090
@KARTHEEKCIC @manish7294 Hello, I'd like to know if you are working on the implementation. If not I'd like to implement it if you don't mind.

[2018-09-24 10:12] manish7294 commented on #1090
Hi @lozhnikov , I don't think any work have been done in this regard, at least on my part. Still let's wait for @KARTHEEKCIC confirmation. If you'd like, please go ahead with the implementation. It will definitely be a good addition :)

[2018-09-24 12:14] atulim opened #1514 "On account of running MLPACK in WINDOWS 10"
Sir ,

When building in Visual Studio 2017  as stated under Windows Build Instructions in http://www.mlpack.org/docs/mlpack-3.0.3/doxygen/build_windows.html , when we enter the given project location and type of project , it is showing an **error message that there is no template at expected path.**
Hence further instructions cannot be followed.
(Kindly help as I am inclined towards contributing i

[2018-09-24 13:08] atulim commented on #1514
As stated by-  Keon https://keon.io/mlpack-on-windows/ This also doesn't work.

[2018-09-24 14:17] atulim commented on #1514
Yes sir I have done everything as prescribed to me. Unpacked for the same
location as given in the first url mentioned, but it won't help.
Kindly help.
Thanks for your concern.

On Mon, 24 Sep 2018, 18:53 Ryan Curtin, <notifications@github.com> wrote:

[2018-09-24 14:49] zoq commented on #1514
can you open a command prompt (cmd) and run:
[code]
let's see if that solves the issue.

[2018-09-25 02:30] atulim commented on #1514
Sir,
I have installed Visual Studio Community 2017 and after typing cmd command it shows error.
![untitled](https://user-images.githubusercontent.com/22341556/45989304-ce175e00-c098-11e8-8541-365b33e0e71c.jpg)
Kindly check if the software I am using is correct one or not , in the image below
![untitled2](https://user-images.githubusercontent.com/22341556/45989363-0454dd80-c099-11e8-87f1-d1e5ac5a57

[2018-09-25 02:33] atulim commented on #1514
Sir,
After entering the code in prompt it shows error
![untitled](https://user-images.githubusercontent.com/22341556/45989439-55fd6800-c099-11e8-940b-678239a366e7.jpg)
Kindly check if I have installed correct software or not in the image below
![untitled2](https://user-images.githubusercontent.com/22341556/45989450-67df0b00-c099-11e8-9477-724dfb91c918.jpg)

[2018-09-25 04:10] atulim commented on #1514
Followed as prescribed but not working

On Mon, 24 Sep 2018, 20:21 Marcus Edel, <notifications@github.com> wrote:

[2018-09-25 17:59] lozhnikov commented on #1090
@manish7294 @KARTHEEKCIC Ok, thanks for the response.

[2018-09-25 21:56] zoq commented on #1514
Can you click the modify button in the installer and post the image? My guess is you haven't installed the C++ desktop development module.

[2018-09-26 03:04] rcurtin commented on #1511
The first mockup of what I've come up with is this:

http://www.mlpack.org/docs/experimental/python.html

Let me know what you think.  I've only formatted the `adaboost()` documentation.  I think for the bindings for other languages, a flat page is definitely more easy for a user to use---and to find different things that mlpack does.  My intention is that in the "see also" links, we can direct us

[2018-09-26 13:18] zsogitbe commented on #1514
Maybe I can help. First of all you have to start a Developer Command Prompt for VS and not a standard Windows command prompt for the above command Marcus (zoq) was referring to!
Secondly the description you are following seems far too complicated to me. I never followed any description just used CMake (reads the CMakeLists.txt in the root folder of the mlpack install) and generated automatically t

[2018-09-26 19:46] atulim commented on #1514
@zsogitbe Kindly give me the link you want me to follow.

[2018-09-26 19:50] zoq commented on #1511
Do you think the ``>>>`` in the example code is something we should do; some
users probably just do copy/paste, which doesn't work right out of the box,
since you have to remove the prefix first. Really like the design behind the page.

[2018-09-26 19:51] zsogitbe commented on #1514
Atul, please learn to use CMake [https://cmake.org](https://cmake.org) . This is really necessary if you want to be able to easily create VS project files automatically. It is very easy to use but you will have to invest a little bit of time in it to learn it. With CMake it takes 5 minutes to make the mlpack VS project files. I can not provide you an easier solution.
I hope this helps. -Z

[2018-09-26 22:05] rcurtin commented on #1511
I could use css `user-select:` to make the `>>>` non-selectable---that might be a good way to do it.  It's not guaranteed to work everywhere but it'll work in the vast majority of browsers and situations I think.  Maybe we can assume that people using totally non-standard browsers realize they need to remove that bit ;)

[2018-09-26 22:13] atulim commented on #1514
@zoq thanks for your help. It solved the issue.
However can you guide me to build mlpack http://www.mlpack.org/docs/mlpack-3.0.3/doxygen/build_windows.html from here as I am facing unable to build it as it contains no mlpack.sin file even after running the command in the command prompt.
It would be grateful.
![untitled](https://user-images.githubusercontent.com/22341556/46112200-6b90a000-c207-11e8

[2018-09-26 22:31] atulim commented on #1511
Could you please write a little about how the developers can configure it for their pc- Linux MAC or Windows or attach a link in it - http://www.mlpack.org/docs/experimental/python.html
I faced a problem in Building Ml pack to Visual Studio in Windows in link http://www.mlpack.org/docs/mlpack-3.0.3/doxygen/build_windows.html that I don't want others to face.
Thank you.

[2018-09-27 14:13] rcurtin commented on #1511
Hi @atulim, let's keep the discussion for your issue in #1514 please.  It's a little out of scope for us to provide basic documentation on how to set up your build environment---that can be found elsewhere.

@conradsnicta--- I think it would be hard to use a similar approach for C++, but I'll think about it.  There are a lot more moving components and complexities in C++.  Definitely the low-level

[2018-09-27 16:59] zoq commented on #1514
@atulim it looks like cmake can't find the necessary boost packages; if you can provide some more information (like what's inside the C:/boost/boost_1_66_0/boost_1_66_0 folder) I can see if I can help you fix the issue, what cmake command did you use.

[2018-09-28 00:50] cjlcarvalho commented on #1254
Hi,

Is anyone working on this or anyone who had any progress?

Anyone have any thoughts about how the input should be read by the application?

Another question is about the output, do you think that only a JSON output for classification should be fine?

[2018-09-30 19:44] chigur commented on #1511
Looks great! A minor suggestion (feel free to ignore it): the high contrast use of white is somewhat cumbersome to read. Specifically, the code section also has a small font size which requires too much squinting of eyes. Maybe it's my overworked eyes, but I just wanted to let you know.

[2018-10-01 04:55] cjlcarvalho commented on #1254
@rcurtin: I am working on the parser. I have some questions about the CLI application, but I will try to work on it later after completing this parser problem, maybe I just need to take a deeper look at how the main code from the other CLI applications work.

I'm thinking about a map between the layer type and the layer desired parameters to parse the information, similar to what was commented abo

[2018-10-03 23:59] rcurtin commented on #1504
Ok, I think that we can mark this as resolved since #1508 is merged now.  Thanks for the bug report!  :+1:

[2018-10-03 23:59] #1504 closed

[2018-10-04 00:04] rcurtin commented on #1425
@aicaffeinelife---thanks for the explanation.  I think you are right that the issue is something in the Python bindings.  I'll leave this issue open, because I think the actual underlying issue is unresolved, and if someone is able to dig in further and isolate exactly what the issue is, it would be great.

I don't currently have an OS X setup I can reproduce this on, but I might be able to dig on

[2018-10-08 13:05] marcespie opened #1516 "-lrt is not needed on OpenBSD either"
Seems to me someone should really write a test for the location of clock_gettime().

Or maybe just reverse the test.

Because NetBSD and FreeBSD have clock_gettime as part of libc either. They won't error out because they have a stub -lrt.

AFAIK, only Linux requires -lrt to get clock_gettime...

[2018-10-08 13:51] cloudray8580 opened #1517 "LinearRegression out of memory"
Hi, I'm new to mlpack. I'm trying to use linear regression to have a test on my .csv file. I'm using VS2017 for coding. The codes are shown below:
[code]

Where the .csv file has about 1M rows and 6 columns. When I run the above codes, there is an error "error: arma::memory::acquire(): out of memory". I have a look into the call stack and find that the Q matrix in QR decomposition set its size to

[2018-10-08 15:40] marcespie opened #1518 "execman linux'isms"
- those scripts are not bash. They're perfectly portable bourne shell
- find -executable is a GNUism, the same thing is easy to do with POSIX find.
- compressing manpages  shouldn't be hard-coded, as that's a system preference...

[patch2.txt](https://github.com/mlpack/mlpack/files/2456615/patch2.txt)
[patch1.txt](https://github.com/mlpack/mlpack/files/2456616/patch1.txt)

[2018-10-09 02:28] rcurtin commented on #1516
Thanks for the input!

Where are you seeing that `-lrt` is being used?  As far as I know we're not explicitly linking against it.  Also the timers use stuff from `chrono`, not `clock_gettime()` (unless `chrono` internally uses `clock_gettime()`, but that shouldn't make a huge difference in our case anyway).

Are you by chance using a really old version of mlpack (like mlpack 1.x or 2.x)?  I seem t

[2018-10-09 02:31] rcurtin commented on #1518
Agreed on all three counts, thanks.  Do you want to open a PR?  I'd be happy to commit these with your name on the patches and add your name to the list of contributors if you like.  (And, we also mail stickers you could put on your laptop or wherever to people who have contributed!  So if you want I can get some in the mail too.)

[2018-10-09 02:35] rcurtin commented on #1517
I think I just fixed this issue recently in master, but there hasn't yet been a 3.0.4 release to incorporate that fix.  That's been on my todo list for... too long... but I'm tapped out until probably at least Oct. 19th to release a new version.

Here's the mailing list thread where the issue was brought up:

http://knife.lugatgt.org/pipermail/mlpack/2018-August/003778.html

The new code doesn't u

[2018-10-09 06:37] marcespie commented on #1516
On Mon, Oct 08, 2018 at 07:28:25PM -0700, Ryan Curtin wrote:

On libmlpack itself,  version 3.0.3

see the main CMakeLists.txt. Line 155 or so.

# For clock_gettime().
if (UNIX AND NOT APPLE AND NOT HAIKU)
  set(MLPACK_LIBRARIES ${MLPACK_LIBRARIES} "rt")
endif ()

[2018-10-09 06:38] marcespie commented on #1518
On Mon, Oct 08, 2018 at 07:31:12PM -0700, Ryan Curtin wrote:

Please go ahead and commit directly.

It's small enough that I don't think it needs any attribution yet.

[2018-10-09 08:13] marcespie opened #1520 "missing manpage dependency"
Depending on the build order, manpage will be generated... or not.
[patch1.txt](https://github.com/mlpack/mlpack/files/2459454/patch1.txt)

[2018-10-09 10:20] marcespie opened #1521 "Python bindings setup assumes too many things"
Around line 40 of setup.py.in:

                  # CMAKE_CXX_FLAGS seems to have an extra space.
                  extra_compile_args=('-DBINDING_TYPE=BINDING_TYPE_PYX ' + \
                      '-std=c++11${CMAKE_CXX_FLAGS}').split(' '),

nope, it doesn't. Not always.  Funny seeing my compiler trying to build with
-std=c++11-O2

and right after that:
                 extra_link_args=['${OpenMP_

[2018-10-09 12:30] marcespie commented on #1521
I can confirm that the python bindings build just fine without ${OpenMP_CXX_FLAGS} on a !OpenMP installation...

[2018-10-09 12:33] marcespie opened #1522 "packaging of python extensions fail"
The build system mistakenly assumes you can install stuff directly. This breaks havoc with any modern packaging system.

At the very least, support setting DESTDIR during configuration. It would be better to do that during the install stage, but it allows things to proceed correctly.
[patch.txt](https://github.com/mlpack/mlpack/files/2460366/patch.txt)

[2018-10-09 12:35] rcurtin commented on #1522
You can get the same effect by just configuring CMake with `-DCMAKE_INSTALL_PREFIX=/your/preferred/install/root/`. :)

[2018-10-09 12:40] rcurtin commented on #1521
Ah, thanks.  I think that the two issues you've encountered here are related to #1478 and #1425, respectively.  In both of those cases, it was problematic to come up with fixes because we couldn't directly reproduce them.

Can you try the patch in #1478 and see if that works for you?  If so, then I'd be happy to commit that.

And for the OpenMP CXXFLAGS bit, I bet this is what was going wrong in #

[2018-10-09 12:41] rcurtin commented on #1520
Nice catch, thank you!

[2018-10-09 12:42] rcurtin commented on #1516
Oh, you're right, there it is.  Seems like my grepping around didn't find it.  I think we can just remove that block entirely since clock_gettime() isn't used anymore, so I'll do that.  :+1:

[2018-10-09 13:06] rcurtin commented on #1522
(I already responded to this via a personal email, but probably better to respond here publicly just so all the discussion is in one place.)

Thanks for the clarification---I understand the difference now.  Are you sure that DESTDIR doesn't already work?  i.e.

`make DESTDIR=/path/to_staging_area/ install`?

The CMake documentation suggests this already should work on UNIX-like CMake systems:

htt

[2018-10-09 16:19] rcurtin commented on #1396
Closing for inactivity---reopen if needed. :)

[2018-10-09 16:19] #1396 closed

[2018-10-10 14:27] jbensabat opened #1524 "Fail in building MLPACK with MS Visual Studio 2015"
Hello
I have tried to build mlpack following the instructions.
I managed to download the packages (openblas and boost libs)
however CMake fails in the configuration phase of mlpack
one of the errors is that boost libs are missing but they are there
is there any consistent and complete guide on how to install mlapck from MSVC ?
thanks
jac

[2018-10-10 14:34] GLmontanari commented on #1514
@atulim I had the very same problem a couple of days ago: I followed the guided procedure step by step, but mlpack refused to build for several reasons. At last I succeded using boost_1_64_0 instead of 1_66_0.
Same OpenBlas, same Armadillo version, same everything as stated in the tutorial except from the boost library version (therefore if you wanna try you will have to change the command line ar

[2018-10-10 14:37] rcurtin commented on #1524
Did you try reading http://www.mlpack.org/docs/mlpack-git/doxygen/build_windows.html ?

[2018-10-10 14:39] rcurtin commented on #1514
@GLmontanari: strange that Boost 1.66 didn't work, CMake should be able to find it just fine, especially with `1.66` and `1.66.0` set in the `Boost_ADDITIONAL_VERSIONS` CMake option inside of `CMakeLists.txt`.  Do you have any more information on why using Boost 1.66 failed?

[2018-10-10 14:46] jbensabat commented on #1524
Hi
Thanks for your message
This is where I started from
Best
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com>
Sent: Wednesday, October 10, 2018 5:37 PM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbensabat <jbensabat@ewre.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpac

[2018-10-10 14:54] rcurtin commented on #1524
Ok, well, I can try and help out if you provide some details on what you have done.  That tutorial page I linked you to was just created and tested recently, so it should work.

[2018-10-10 15:02] GLmontanari commented on #1514
Ok, so here is the whole story: I initially tried the procedure as explained here  http://www.mlpack.org/docs/mlpack-3.0.3/doxygen/build_windows.html using boost_1_66_0 and I got the problem stated in this closed issue: https://github.com/mlpack/mlpack/issues/563

Fundamentally, or so I guess..., CMake couldn't find some libraries called boost_... .lib and libboost_....lib.
I checked under the cor

[2018-10-10 15:11] jbensabat commented on #1524
Hi
This is what I have done

1.       Creating the mlpack directory , then mlpack-3.0.3

2.       Unpacked the mlpack-master.zip to mlpack-3.0.3

3.       Created a MSVC solution from code – named mlpack in directory mlpack-3.0.3

4.       Used NuGet to download openblas and boost (version 1.68.00)

5.       Put all the compile boost libs inside a directory called boost_libs within the packages di

[2018-10-10 15:22] rcurtin commented on #1524
I see that you're using Boost 1.68, this could be the issue.  If you take a look in the `CMakeLists.txt` in the root of the project, you can find the following lines:

[code]

Can you try adding "1.68" and "1.68.0" to the beginning of that list?  Unfortunately CMake does not handle new versions of Boost very well and this is sometimes necessary if a new version of Boost has been released since the

[2018-10-10 15:44] jbensabat commented on #1524
Thanks
Will try
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com>
Sent: Wednesday, October 10, 2018 6:23 PM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbensabat <jbensabat@ewre.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpack] Fail in building MLPACK with MS Visual Stu

[2018-10-11 04:41] jbensabat commented on #1524
Hi
I amended the CMakelists.txt file so it includes the new version of boost but it failed
I then deleted everything and stated from scratch this time with boost 1_66_0
I got also an error

He did not find three boost libs

-        "boost_program_options"

-        "boost_unit_test_framework"

-        "boost_serialization"

It seems that the problem is not the version but how cmake expects the n

[2018-10-11 09:46] GLmontanari commented on #1511
Hi , I'm not sure this is the right place for this, but I think it the tutorials would be more understandable if
the code showed also the includer files needed to run the examples. Very often one just wants to copy-paste the source code, try the example and then modify it, but actually it is not explicitly said what header files are needed to do that.

[2018-10-11 09:59] GLmontanari opened #1525 "Can't compile ANN code from tutorial"
Hi there, I'm trying to compile the source code from the ANN tutorial, the link is http://mlpack.org/docs/mlpack-3.0.3/doxygen/anntutorial.html

I'm using windows 10 with MSVS 2017, mlpack 3.0.3

I just put the code in my main() function and it looks like this:
[code]
when trying to compile i get the following error:
E0442 too few arguments for class template "mlpack::ann::Linear"

I read the API

[2018-10-11 10:07] GLmontanari commented on #1514
By the way this seems to be a generalized problem, since another issue reports the same for boost 1_68_0:
#1524

[2018-10-11 11:54] zoq commented on #1524
Can you post
- the modified ``CMakelists.txt`` file
- the files that are in boost libs folder
- cmake command you used to configure mlpack

[2018-10-11 11:59] zoq commented on #1525
Strange, I can't test this right now, so if you are willing to run some tests that would be great:
- can you compile if you just use a Linear layer:
[code]
- what if we provide the extra template arguments:
[code]

[2018-10-11 12:13] rcurtin commented on #1525
I think that I've encountered this before and it's an include ordering issue... I think.  Can you paste the includes that you've got at the top of the file?

[2018-10-11 12:13] rcurtin commented on #1524
Another issue (#1514) also suggested that this works with Boost 1.64... if you'd like to try that also, it could be a fix.

[2018-10-11 12:21] GLmontanari commented on #1525
I begin from the quickest answer: here are the includes:
[code]

[2018-10-11 12:21] jbensabat commented on #1524
Hi
CMakelists.txt is attached
List of files in the boost libs folder attached
CMake Command

cmake -G "Visual Studio 14 2015 Win64" ^
-DBLAS_LIBRARY:FILEPATH="C:/software/mlpack/mlpack-3.0.3/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a"  ^
-DLAPACK_LIBRARY:FILEPATH="C:/software/mlpack/mlpack-3.0.3/packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a" ^
-DARMADILLO_INC

[2018-10-11 12:31] rcurtin commented on #1525
Try adding `mlpack/methods/ann/layer/layer.hpp` to the list of includes.  I think that will solve the issue.

[2018-10-11 12:42] GLmontanari commented on #1525
@rcurtin  Ok, this time compiled, but it seems I forgot to link something, because LNK2019 showed up. I have to investigate. Here is the Output from VS:

[code]

[2018-10-11 12:44] rcurtin commented on #1525
That means you'll need to link against Armadillo.  Glad the include got you further.

@zoq: should we include `layer.hpp` by default in `ffn.hpp`?

[2018-10-11 12:45] jbensabat commented on #1524
Go it ☺
Thanks
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com>
Sent: Thursday, October 11, 2018 3:14 PM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbensabat <jbensabat@ewre.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpack] Fail in building MLPACK with MS Visual Studi

[2018-10-11 12:47] rcurtin commented on #1524
So you mean that you got it working with Boost 1.64?

(By the way... getting CMake to find Bpost right, especially on Windows, has always been a nightmare... :( )

[2018-10-11 12:56] jbensabat commented on #1524
Not yet but I am confident that this resolves the problem
Indeed CMake is beautiful on the paper and sometimes it works.
Best
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com>
Sent: Thursday, October 11, 2018 3:48 PM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbensabat <jbensabat@ewre.com

[2018-10-11 13:34] rcurtin commented on #1511
Thanks for the suggestions everyone.  I can reduce the contrast a bit by using a nicer color combination than #fff/#000, that's easy enough.  Also, the "new" tutorials will have the full code needed (including includes) since they need to be "buildable", so that should make things easier.

[2018-10-11 13:52] GLmontanari commented on #1525
Ok, I am stuck: I tried to link against Armadillo by putting the path of armadillo.lib under Project->Linker->Input->Additional Dependencies but it didn't work.
Now that I think of it, whenever I build Armadillo I only get the .lib and never the .dll . Is it a problem?

[2018-10-11 13:53] jbensabat commented on #1524
Hi
Tried  with boost_1_64_0
Still does find the libs
Best
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com>
Sent: Thursday, October 11, 2018 3:48 PM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbensabat <jbensabat@ewre.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpack] F

[2018-10-11 14:28] GLmontanari commented on #1525
Good news: while reading #881 I stumbled on the following link: https://github.com/mlpack/mlpack/wiki/WindowsBuild#3-compiler-additional-library-directories.
Since every line in the message I posted here was related to arma::lapack and arma::blas I decided to link against the file libopenblas.dll.a under  Project->Linker->Input->Additional Dependencies and to put its include path under C/C++ -> Ge

[2018-10-11 14:47] jbensabat commented on #1524
Still fails
Best
Jac

Sent from my iPhone

On 11 Oct 2018, at 16:52, Jbensabat <jbensabat@ewre.com<mailto:jbensabat@ewre.com>> wrote:

Hi
Tried  with boost_1_64_0
Still does find the libs
Best
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com<mailto:notifications@github.com>>
Sent: Thursday, Octo

[2018-10-11 15:10] GLmontanari commented on #1415
@zoq and @rcurtin  it's a real pity that @IshanSeidenberg  didn't reply because I had the very same problem and I tried @zoq suggestion and it worked for me.
You should consider updateing the tutorial with his few lines of code:

[code]

The differences, if they are worth be known are I used MSVS 2017 compiler and mlpack 3.0.3

[2018-10-11 15:10] GLmontanari commented on #1525
Ok, I had to reshape the training labels as stated in this closed issue #1415.
I will put a comment there too because the solution to the problem was found and noone cared to say "thanks".

@rcurtin and @zoq I really want to thank you for  your quick and invaluable answers. You can close the issue if you feel like now.

[2018-10-11 20:22] alexxucui opened #1526 "Mean shift isolated single point issue;"

[2018-10-11 20:57] alexxucui commented on #1526
@ShangtongZhang Thanks for implementing mean-shift.

I have a question about one of my use case:
I have three input points of:

(-8.03939 -24.0719)
(-8.03939 -24.0719)
(-5.54168 -16.5931)

I set the radius to 0.3. Obviously there should be 2 clusters but the lib gives only 1 cluster. The centroid are at (-8.039389, -24.071899) which makes sense. Even I removed the last point the centroid is still

[2018-10-11 21:02] rcurtin commented on #1526
Hey there @alexxucui, what is `min_points` set to?  Is the third point being labeled as 'noise' instead of a cluster?

[2018-10-11 21:19] alexxucui commented on #1526
Hi @rcurtin I cannot find `min_points` you mentioned. Do you mean `minFreq` in the `GenSeeds`? And I cannot find 'noise'? I only get assignments and centroids as output.

[2018-10-11 21:31] alexxucui commented on #1526
@rcurtin Thanks a lot.

[2018-10-11 21:43] zoq commented on #1524
Looks like this issue is known: https://gitlab.kitware.com/cmake/cmake/issues/17575

can you download https://gitlab.kitware.com/cmake/cmake/blob/6297d6c7fd6f80dafe17c0aefeeb0439432aa4b0/Modules/FindBoost.cmake and put it into ``mlpack/CMake/`` and see if that helps to find the necessary libs.

[2018-10-11 21:46] zoq commented on #1525
That might avoid some confusion, yes.

@GLmontanari
Glad you got it working, will update the example code as well.

[2018-10-12 06:39] jbensabat commented on #1524
Hi
I tried and it did not work
I also downloaded the newest version of CMake which recognizes the newer versions of boost., with and without the FindBoost.Cmake script.
It did not work.
I went through the FindBoost. It seems to me that there is an incompatibility between the names of the libraries as we get them from the boost installation available in sourceforge and the way CMake expects them
Be

[2018-10-12 07:08] jbensabat commented on #1524
I finally managed to build mlpack opting for an alternative route.

I installed Cmake 3.13.0 (last version)
I used the GUI instead of the command line
I then provided manually the boost libraries and the openblas (for blas, lapack and openblas)
And it worked.
Thank you for your help

Could you please indicate a good example/tutorial of time series analysis and prediction that I could start from
Be

[2018-10-12 09:49] HelioStrike opened #1527 "Trouble using mlpack with g++ in ubuntu 17.10"
This is a code snippet I got from [here](http://www.mlpack.org/docs/mlpack-3.0.3/doxygen/formatdoc.html):

[code]

I'm trying to compile it using "g++ a.cpp -lmlpack -larmadillo", but I keep getting the following output:

[code]

The cli and python bindings seem to work properly though.

Here's how I installed mlpack:
- Downloaded the tar.gz file
- tar -xvzf mlpack-3.0.3.tar.gz
- mkdir mlpack-3.0.

[2018-10-12 14:27] rcurtin commented on #1527
That's a snippet not an entire working program, so you'll need to put it in `int main()` or something.

[2018-10-12 14:32] HelioStrike commented on #1527
Oh darn... this is embarassing. Sorry about that, all that python is finally getting to me.

[2018-10-12 14:33] #1527 closed

[2018-10-12 14:49] rcurtin commented on #1527
No worries. :) One of the open issues right now is to redo all the documentation so it's fully buildable, so that should be helpful in the future.

[2018-10-12 14:59] jbensabat commented on #1524
Hello
Still one obstacle
I managed to complete the configuration and project generation
However, when I try to build the library I get the following error

cl : Command line error D8021: invalid numeric argument '/Wno-unknown-pragmas'

this happens even with the file "version.cpp" , which has basically very simple includes

so it must be one of the arguments in the command line

/GS /TP /W0 /Zc:wc

[2018-10-13 14:38] jbensabat commented on #1524
Hello
I do not know if this is of interest to anybody but I managed to build mlpack using visual studio 2015.
I installed the new version of cmake 3.13.0 (it is aware of the newest versions of boost)
I downloaded openblas using NuGet
I downloaded the binary build of boost, version 14.0 or boost_1_66_0-msvc-14.0-64.exe. For some reason I got errors  with
version 14.1 , boost_1_66_0-msvc-14.1-64.exe

[2018-10-13 14:54] jbensabat opened #1528 "An example/tutorial of time series prediction"
Hello
I am new to mlpack and just managed to build the library
I would like to start using it by training and predicting time series
Where can I find an example to start from ?

best
jac

[2018-10-13 22:28] zoq commented on #1528
Glad you managed to build mlpack; @zsogitbe wrote an example for a neural network regression model #1529 , so if you can phrase the problem as a regression problem, I think this could be really helpful here.

[2018-10-14 06:30] jbensabat commented on #1528
Thanks
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Marcus Edel <notifications@github.com>
Sent: Sunday, October 14, 2018 1:28 AM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbensabat <jbensabat@ewre.com>; Author <author@noreply.github.com>
Subject: Re: [mlpack/mlpack] An example/tutorial of time series prediction (#1528)

[2018-10-14 12:43] zsogitbe commented on #1524
I think that you should change the document http://www.mlpack.org/docs/mlpack-git/doxygen/build_windows.html to something which always works. I see a lot of similar issues.

Very simply put one should follow on Windows something like this (off the top of my head):

1. Download and extract all necessary source code (Armadillo, MKL or openBLAS, boost, mlpack) in sub directories of your choice.
2. In

[2018-10-15 06:27] jbensabat commented on #1524
Hi
I think it makes sense to post the new and more stable way of installing mlpack on MSVC
I think it would be great if you could post to VS app.
Best
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Zoltan Somogyi <notifications@github.com>
Sent: Sunday, October 14, 2018 3:43 PM
To: mlpack/mlpack <mlpack@noreply.github.com>
Cc: Jbe

[2018-10-16 13:39] marcespie opened #1530 "cotire + armadillo config + ninja = disaster"
The cmake system must be missing some dependency somewhere.

I see the custom target that runs cmake -P CMake/CreateArmaConfigInfo.cmake
firing up, then erroring out because the preprocessed headers depend on armaconfig.

errors like this:

fatal error: file '/pobj/mlpack-3.0.3/mlpack-3.0.3/src/mlpack/core/util/arma_config.hpp' has been modified since the precompiled header '/pobj/mlpack-3.0.3/bui

[2018-10-16 15:49] rcurtin commented on #1530
I'd never actually heard of or used Ninja, so thanks for pointing this one out.  I'm running some timing simulations now to see if it's better in our situation.  But I can't seem to reproduce the issue you were talking about (maybe I am not unlucky enough?).

I've been basically repeatedly running `ninja clean && ninja -j4` (is the `-j4` unneeded? not sure), then seeing if it manages to compile th

[2018-10-16 16:43] marcespie commented on #1530
On Tue, Oct 16, 2018 at 04:26:13PM +0000, Ryan Curtin wrote:

There are instances of other projects where ninja  obliterates gnu-make.
For instance, chromium build time is almost *halved* by switching to ninja.

(also, ninja is really good at catching missing deps,
since its does things globally).

[2018-10-16 16:45] rcurtin commented on #1530
Good to know---I'll definitely keep it in mind for CMake projects in the future.  In any case it would be hard to believe that Ninja would ever be *slower* than GNU make. :)

[2018-10-17 08:53] HelioStrike opened #1532 "Error running ANN code"
I'm trying to create an FFN to predict a continuous value. The code compiles but I get the following error when calling model.Train():
[code]
Here's the network:
[code]
I found some issues similar to this, like #1525 and #1415, but couldn't solve it.
Any help would be appreciated. Thank you.

[2018-10-17 09:36] KimSangYeon-DGU opened #1533 "How to run RL algorithm in OpenAI Gym"
Hi, I want to run the reinforcement learning algorithm that I made using mlpack in OpenAI Gym for test

However, The OpenAI Gym only provides only python version.

So, I have searched the solution to run RL algorithm in OpenAI Gym, and I found that they provides HTTP API for other languages to run.

But there are few information on how to build the program. Although It seems that the program has m

[2018-10-17 09:46] HelioStrike commented on #1533
I found [this](https://github.com/zoq/gym_tcp_api#getting-started) a few days ago while going through [this page](https://github.com/mlpack/mlpack/wiki/SummerOfCodeIdeas). I haven't used it yet, so I can't give you much info, but I hope it helps. :)

[2018-10-17 10:17] KimSangYeon-DGU commented on #1533
@HelioStrike
Thank you so much, I should try it, and then I will share results of method!!

[2018-10-17 23:09] rcurtin commented on #1532
Hi there,

By default the `FFN<>` class uses `NegativeLogLikelihood<>` as a loss function, which is for classification problems.  Since you're trying to predict a continuous value, this is now regression, so I think you'll need to use a loss function like mean squared error:

[code]

Hope this helps. :)

[2018-10-17 23:12] rcurtin commented on #1525
I opened #1534 which should handle both the issues here.  Thanks again for reporting the issues; it's super helpful for us in making sure the documentation is as good as it should be. :+1:

[2018-10-18 01:42] rcurtin commented on #1526
Hi @alexxucui, sorry my response took so long.  It took until today to find a few minutes to look into this one.  I found that the existing mean shfit implementation disallows clusters that hold only a single point, but I don't know any reason for this.  (Perhaps it could be a parameter or something.)

In any case, I opened PR #1536 which should fix the issue.  I can't think of any easy workaround

[2018-10-18 02:54] HelioStrike commented on #1532
That did it. Thanks again @rcurtin ! :D

[2018-10-18 02:55] #1532 closed

[2018-10-18 09:35] KimSangYeon-DGU commented on #1533
@HelioStrike
Hi, HelioStrike!!
I went through some trial and error to run the program, and in the end, I succeeded to run it correctly.
So, I write the trial and error that I went through
1. `mix deps.get `
To install required dependencies, I should type the command. But,  the error message **Unknown package poolboy in lockfile** is printed.
SOL) rm "~/.hex/cache.ets"

2. ```
terminate called afte

[2018-10-18 09:55] #1533 closed

[2018-10-18 14:57] rcurtin commented on #1532
Glad to help :)

[2018-10-18 15:01] rcurtin commented on #1530
Thanks!  I opened #1537 with the fix.

[2018-10-18 19:21] aabghari opened #1538 "Wrong HMM predict (state sequence) and LogLikelihood"
Hi,
I have a HMM model. Sometime the state sequence estimation is wrong which all the states are zero for  example. I have checked the output with a python hmm implementation hmmlearn. hmmlearn seems to give the right answers for the same model and parameters. I have attached a cpp file which uses MLPACK and a python file which uses hmmlearn. Both have the same parameters and observation. I have p

[2018-10-18 21:50] aabghari commented on #1538
I think I know why it happens. The problem is the numerical instability when calculating logStateProb. I am going to provide you with a patch.

[2018-10-18 22:00] rcurtin commented on #1538
Ah, great, thanks for digging in!  I have not had time to look into it---I was hoping I could maybe tonight or tomorrow.  But if you can provide a patch, it accelerates the whole bug fixing process :)

[2018-10-19 17:51] aabghari commented on #1538
How do you want me to provide you with the patch?

[2018-10-19 19:07] rcurtin commented on #1538
A pull request is fine, or if you prefer, you can just post the diff here and I can create the PR.  Whatever is most convenient for you. :+1:

[2018-10-20 15:36] rcurtin commented on #1516
Fixed in #1523. Thanks again for the report :+1:

[2018-10-20 15:36] #1516 closed

[2018-10-20 15:37] rcurtin commented on #1518
Fixed in #1523.

[2018-10-20 15:37] #1518 closed

[2018-10-20 15:38] rcurtin commented on #1520
Fixed in #1523.

[2018-10-20 15:38] #1520 closed

[2018-10-20 15:38] rcurtin commented on #1521
Fixed in #1523.

[2018-10-20 15:38] #1521 closed

[2018-10-20 15:39] rcurtin commented on #1522
Fixed in #1523.

[2018-10-20 15:39] #1522 closed

[2018-10-20 15:42] rcurtin commented on #1425
I just merged #1523, which I think contains a fix for the Python build issue.  If anyone who was having this problem can try and compile with `-DBUILD_PYTHON_BINDINGS=ON` (and `-DUSE_OPENMP=YES`) on the latest master branch, we can see if this is fixed or not. :)

[2018-10-20 17:59] rcurtin commented on #1524
I'd like to update the VS tutorial with these notes if possible, but I'd like to get a bit more clarification before I build a patch:

@zsogitbe: Can you explain about `BOOST_ALL_NO_LIB` a bit more?  What would we need to specify to the CMake configuration to use this?  I see that the `FindBoost.cmake` script has some support for this, but I don't know exactly how you've done it.  For the other di

[2018-10-20 18:00] #1528 closed

[2018-10-20 18:02] rcurtin commented on #1514
Thanks for the update.  In #1524 the idea of using `BOOST_ALL_NO_LIB` was suggested, so once I find out some more information about that, perhaps I can work up a fix that will make finding Boost a lot more robust on Windows in general and solve both of these issues.

So I'll close this now since I think at this point it'll be solved the same way as that other issue.  If I'm wrong about that please

[2018-10-20 18:02] #1514 closed

[2018-10-21 23:39] wenhaoh2 opened #1542 "CF: add alternatives in command-line program"
Over the summer we have added alternative algorithms in the collaborative filtering module for rating normalization, neighbor search and weight interpolation. But we haven't added supports for these alternatives in the command-line binding. I think this is a good task for someone who is interested in collaborative filtering or looking for a way to contribute to mlpack.

The current command-line pr

[2018-10-22 14:00] marcespie opened #1544 "More dependency issues in CMakelists"
found by a co-developer on OpenBSD...  custom commands should have BYPRODUCTS when required so that dependencies actually work.

(2 patches attached)
[patch2.txt](https://github.com/mlpack/mlpack/files/2501647/patch2.txt)
[patch1.txt](https://github.com/mlpack/mlpack/files/2501648/patch1.txt)

This makes ninja build break half-randomly again.

[2018-10-22 15:07] aabghari commented on #1538
Hi,
Please find the attached diff file. Let me explained what I have done. I think there are two cases which are the root of the problem.
1. Using the emission probability  instead of the logprob directly. For example in Predict() there is this line which uses the log of the emission probability like this log(emission.probability()). If you look at the emission prob calculation, you see that it's

[2018-10-22 17:28] kaushik-p9 commented on #1542
@Wenhao-H I will definitely work on this :)

[2018-10-23 09:29] bikram99 commented on #1542
I could find the RecommendationVisitor and PredictVisitor in CFType in the file cf.hpp and not in CFModel.
I mean should I make the modifications there? I am new to this ,so I dont quite understand.Would you please clarify this?

[2018-10-23 10:29] sadaharu-inugami commented on #1499
For 40-dimensional MFCC speech features, the HMM in MLPack is really slow (10 to 20 times) when compared to HMMLearn (which is a huge mess and doesn't actually work without a set of hotfixes). The main reasons are the slow GMM implementation and not precalculating the likelihoods in `Forward()` and `Backward()` methods. For speech data, I mostly use diagonal GMMs. However, to my best knowledge, th

[2018-10-23 14:49] Wenhao-H commented on #1542
Because a PR has been opened for the first small task so I've marked it as taken. To avoid duplicated work, if you want to take one of the other two tasks, please comment here so I can mark it as taken for you :)

[2018-10-23 15:20] Wenhao-H commented on #1542
@bikram99 Sure but I might have to make a reply later because I am taking exams these two days:)

[2018-10-23 15:30] bikram99 commented on #1542
Okay ,Thanks. :)

[2018-10-23 18:48] rcurtin commented on #1530
#1537 is merged so this is now fixed.  Thanks again for the report. :+1:

[2018-10-23 18:48] #1530 closed

[2018-10-23 18:49] rcurtin commented on #1544
Thanks for the fixes!  The patches look good to me, but before I prepare to merge them I have to figure out what to do about CMake reverse compatibility.  Our minimum version is 2.8 but `BYPRODUCTS` appears in something like 3.3 or so.  So I just need to test that there's not a failure on 2.8---or bump the minimum version.  I'll open a PR shortly, but it may be a little bit until I am able to find

[2018-10-23 19:02] marcespie commented on #1544
On Tue, Oct 23, 2018 at 11:50:22AM -0700, Ryan Curtin wrote:

Err, cmake 3.3 is over 3 years old by this point.

I surmise about everyone has updated already ?

[2018-10-23 19:07] rcurtin commented on #1544
It's true, but I want to make sure the software can still be built on RHEL6 and Ubuntu 14.04, since a lot of people especially at universities with slow-moving IT processes can be stuck on that.  When I checked yesterday, I saw that the cmake package in the trusty repositories was 2.8.12.2... but what I did not see until I double-checked just now is that there is a cmake3 package that is sufficien

[2018-10-24 13:21] rcurtin commented on #1525
#1534 is now merged, so I'll close this now. :)

[2018-10-24 13:21] #1525 closed

[2018-10-24 23:40] rcurtin commented on #1538
I opened #1547 with your patch, which I adapted slightly in a few cases.  I inliend the `LogAdd()` and `AccuLog()` functions, as well as templatizing them.

Would you like me to add your name to the files that you modified?  This is a really nice contribution and we can add your name to `src/mlpack/core.hpp` and `COPYRIGHT.txt` as well as the website.  In addition, we like to mail mlpack stickers

[2018-10-25 07:54] NightNightNight opened #1548 "no root install mlpack"
I have no root in my ubuntu, how can i set install path?

[2018-10-25 08:13] zoq commented on #1548
set ``CMAKE_INSTALL_PREFIX`` in the CMake process, for more information see https://github.com/mlpack/mlpack/wiki/UsingCMake#configuring-mlpack.

[2018-10-25 11:19] NightNightNight commented on #1548
get! thanks

[2018-10-25 11:19] #1548 closed

[2018-10-25 19:12] zsogitbe opened #1549 "CNN crash, possible connection to 'ANN Input/Output Size #1267'"
When running DigitRecognizerCNN.cpp from 'models' the calculation crashes at the first training run (optimization) in Mat_meat.hpp (armadillo) at line 809:

`arrayops::copy( memptr(), in_mat.mem, in_mat.n_elem );`

in function:

[code]

which is called by (in convolution_impl.hpp ):

`arma::Mat<eT> deltaSlice = mappedError.slice(outMap);`

in template function:

[code]
It gives an error:

`Excepti

[2018-10-25 21:10] rcurtin commented on #1544
Thanks again, PR opened as #1550.

[2018-10-25 22:58] rcurtin commented on #1499
@sadaharu-inugami: thanks for the detailed description.  Actually I have always thought that a `DiagonalGMM` class that wraps the Armadillo functionality would be a good idea.  In fact if you have a `GMM` object named `gmm` and call `gmm.Train<EMFit<KMeans<>, DiagonalConstraint>>>` it will use Armadillo's functionality.

I can write up a nice wrapper class that will do this, and I can also incorpo

[2018-10-25 23:07] rcurtin commented on #1526
This should be fixed now that #1536 is merged.  Thanks again for pointing out the bug and feel free to open more issues if you encounter more problems. :)

[2018-10-25 23:07] #1526 closed

[2018-10-26 03:04] rcurtin commented on #1538
No problem, it is still a patch that you prepared.  :)  Let me know what name (and email if you want to add that) you'd like me to use, and if you want any stickers.

[2018-10-26 15:12] rcurtin commented on #1538
Updated.  Thanks! :+1:

[2018-10-26 17:46] zsogitbe opened #1552 "Enhancement: Stop running operations with cleanup."
It would be very interesting to have a signal mechanism to be able to stop running operations in a clean way. For this one global thread-safe variable would be sufficient which should be checked during long processes (loops). In case the stop is signaled then the operation should stop in a clean way and clean up memory.

[2018-10-29 10:00] zoq commented on #1552
I think this could be integrated into the ``FunctionWrapper`` idea (https://github.com/mlpack/mlpack/issues/1481), that is part of the optimizer. That would cover some "long processes (loops)" but not all, I think that might be a good start. Let me know what you think.

[2018-10-29 10:46] zsogitbe commented on #1552
That solution looks a bit too complicated to me but maybe I am not yet used to the idea. Would that not slow down the code significantly by going through several levels of function wrappers? Would that not be too much work to implement?
I think that stopping long operations is a general (and important) need in several places and maybe a general/global solution would be better. The simpler the bett

[2018-10-29 22:41] rcurtin commented on #1552
This is a case where inheritance would be a disaster due to the overhead of virtual function calls, since functions we are optimizing are called repeatedly.  Using the `FunctionWrapper` is the right approach here, and assuming that the functions are properly marked as `inline` (and the compiler believes inlining is the right thing to do), there is no additional overhead since all this happens at c

[2018-10-29 22:48] rcurtin commented on #1549
Ah, thanks for the update about the batch size.  That should make finding the issue easier.

I took a quick look in valgrind a few days ago when you filed this and saw all kinds of invalid memory accesses, but I haven't had the time to track down the exact code that's failing quite yet.

[2018-10-30 01:51] rcurtin commented on #1524
I spent some time looking into this this evening.  I found that `-DBOOST_ALL_NO_LIB=1` can be helpful in some situations and I don't have a problem including that bit when on Windows, but what this variable does is tell the Boost config---at compile time, which is after configure time---that auto-linking shouldn't be done.  But the problem we had in this issue (and many others) is that we have fai

[2018-10-30 07:38] zsogitbe commented on #1524
I will give you here under my changes to the CMakeLists.txt on my system:

Around line 190 correction for Windows:

[code]

This I have completely removed:

[code]

Removed one line with DBOOST_TEST_DYN_LINK and added two lines:

[code]
I just set Boost_INCLUDE_DIR manually in the CMake GUI (it is difficult to detect that one). I do not use the other parameters at all because I do not link to thos

[2018-10-30 10:53] jbensabat commented on #1524
Hi
If you use the GUI version of CMAKE it will find the installation of the boost binaries.
I my case I put them in the \local directory (c:\local\boost_1_68_00) and it found them
Best
Jac

Jacob Bensabat, PH.D.
CTO
EWRE Ltd.
Tel: +972-4-8383919.
Fax: +972-4-8387621.
Mobile: +972-544-417511.

From: Ryan Curtin <notifications@github.com>
Sent: Tuesday, October 30, 2018 3:52 AM
To: mlpack/mlpack <ml

[2018-10-30 21:51] rcurtin commented on #1552
So, I definitely agree that a `ModelCheckpoint` type functionality should be implemented.  But I'm a bit confused about the rest.  I don't know of any machine learning or linear algebra libraries that have custom handlers for signals.  It seems somewhat out of scope for mlpack.  If someone wants to write an application that uses mlpack that needs to terminate an mlpack thread or process, then they

[2018-10-31 08:20] zsogitbe commented on #1552
OK, no problem, do not worry about it. I was just also thinking that most of the time there is some kind of outside cycle (between calls to e.g. an optimizer) which can be terminated. The ModelCheckpoint idea looks good and that can also be used to save the model at checkpoints if needed.

[2018-10-31 09:22] anky2936 commented on #1021
I would like to work on this issue. Is there anything that I should know before before start working on as this will be my first work on open source?

[2018-11-02 02:03] rcurtin commented on #1021
Hi @anky2936, this is a good issue to start on.  Try to follow the style guide with your modifications, and be sure to build the code and run the tests locally before opening a PR.  (Otherwise the Travis build will fail on the PR.)  We have a pretty good system in place, so don't worry too much---if there's a problem with the code, either the tools or a reviewer can help point it out so that you c

[2018-11-02 03:06] rcurtin commented on #1549
I opened #1554; this should fix the issue.

[2018-11-02 15:29] rcurtin commented on #1542
I wrote a couple of ideas for the main_tests in #1546.  @bikram99 perhaps the ideas in those comments can be helpful---you can work with those test ideas and adapt them.

[2018-11-02 21:37] bikram99 commented on #1542
Sorry I was unable to fix the issue after some tries maybe due to lack of understanding .If someone else wants to work on the issue they can
I apologise for the delay 😅

[2018-11-02 21:48] zoq commented on #1542
No worries, Ryan outlined a test here: https://github.com/mlpack/mlpack/pull/1546#pullrequestreview-170290683, but don't feel obligated to work on that part, perhaps @AYESDIE is interested to work on that part as well.

[2018-11-05 07:44] stiv-yakovenko commented on #1158
I have same problem with missing file on windows:

cannot open input file '../packages/OpenBLAS.0.2.14.1/lib/native/lib/x64/libopenblas.dll.a.lib'

there is just libopenblas.dll.a in the folder

[2018-11-06 08:20] stiv-yakovenko opened #1555 "Last step of mlpack_cf takes forever to finish"
My data file is few gb in size, 30M user-item pairs, 4M users, ~300K items, calculating each iteration takes reasonable time, few minutes:

    ~/mlpack-3.0.3/build/bin/mlpack_cf -A -t oryxlog.int.txt -o rec.txt -v -R 40 -c 200

![image](https://user-images.githubusercontent.com/4163254/48051166-f4233880-e1d6-11e8-8570-d33fcebe1f41.png)

but this last step has already been in progress for ~5hrs. I

[2018-11-06 18:17] stiv-yakovenko commented on #1555
One more clarification. Once mlpack_fc wrote 'Generating node combinations for all users', there are two stages, judging from what i see as **top** command output: 100% CPU utilisation stage (shorter one) and 300% utilization stage (while at iteration stage utilisation is 800%).

I tried to read code of mlpack_fc and even debug it, but its hard to understand from a single glance. I've seen referen

[2018-11-09 21:47] rcurtin commented on #1544
#1550 was merged a little while ago, so I'll go ahead and close this now.

[2018-11-09 21:47] #1544 closed

[2018-11-10 20:59] alexander-jansen commented on #1555
Dear rcurtin, thank you for detailed explaination, even though I might have not understood some of the details. I've figured exact number of users and items which I have in my datafile, number which i have put in the previous messages, are too rough, actual number of items is much less, because most of items are very old and our recommender system throws away from dataset. Given these numbers, I'v

[2018-11-10 21:00] alexander-jansen commented on #1555
I can also supply my CSV datafile of longs if you wish.

[2018-11-10 21:02] stiv-yakovenko commented on #1555
These 2 comments should go after my name, but sorry for that, let it be as is.

[2018-11-11 20:15] zoq commented on #1481
The ``FunctionWrapper`` class could first run the actual function e.g. ``f.Evaluate()`` and afterwards run all callbacks.

Btw. I did some testing and I'm not sure attaching to ``Evaluate/Gradient/EvaluateWithGradient`` is the best option. I think the current idea is:

[code]

so, every time ``Evaluate`` is called we invoke, user-specified callbacks. The optimizer can check if we have to stop the

[2018-11-12 00:06] rcurtin commented on #1555
@stiv-yakovenko: thanks for the explanation.  In the code that you're running there, the number of items is 37k not 300k.  So I want to just double-check, is the CSV formatted such that the maximum item ID is 37000 (or close)?  If there are items for which there are no points in the training set, effectively that will just be a 0.  So if you pass in some dataset that uses items 0, 1, and 10 only..

[2018-11-12 01:04] rcurtin commented on #1481
Definitely it seems like the original idea has some disadvantages.  But what I really liked about it is that it didn't really require much modification to the optimizer implementations.

What if we instead added more functions that optimizers should call, and then did the same `FunctionWrapper` idea on those?  Like these:

 - `TakeStep(const arma::mat& parameters)`: called when the optimizer took

[2018-11-12 13:39] scrcro commented on #1481
Precisely. The optimizer must decide what to call when. This solution appears to be much better.
I will give it a shot.

[2018-11-12 13:53] scrcro commented on #1481
Not sure if this is do-able without touching the Optimizer code. I mean it would e required to call atleast the `fw.Callback`. I think changing the optimizer interface is a simpler solution. Just have a set of `noop` functions. Allow callers of the optimizer to set these callbacks that they are interested in. Thoughts?

[2018-11-12 14:04] rcurtin commented on #1481
Oh, definitely the optimizers would have to be updated.  I just mean that we could update the optimizers only to include some call like `fw.Callback`, and then inside the `FunctionWrapper` class we can write the actual code that traverses through the tuple of callback objects and calls their corresponding `Callback` functions (if they exist).

[2018-11-12 14:59] zoq commented on #1481
@scrcro I could provide some example code that could be helpful.

[2018-11-12 22:09] zoq commented on #1481
@scrcro https://github.com/mlpack/ensmallen/pull/49 is an initial idea, I think since this is a PR, commenting on the code is easier.

[2018-11-12 22:49] juheon opened #1560 "mlpackTest failures"
I followed the instruction in http://mlpack.org/docs/mlpack-3.0.3/doxygen/build.html#build_dep to install MLPACK. After the "make", the test returned 4 failures in mlpackTest.

My environment is
macOSx
Boost version: 1.68.0
ARMA version: 9.100.5 (Armatus Ad Infinitum)

Here is the error message
[code]

Could you give me some advice to tackle down this issue?

[2018-11-13 14:32] atulim opened #1563 "Not Working of the Range function in MLPack"
![screenshot from 2018-11-13 19-52-05](https://user-images.githubusercontent.com/22341556/48419658-89e23900-e77e-11e8-8557-6ee8fa82d339.png)

Able to build the solution without the for loop. But with the for loop it gives error. I want to print the distances  from a data set to all the neighbors of a point that fall into a certain range of distances.

[2018-11-13 14:55] rcurtin commented on #1563
You actually need a double for loop here---both `neighbors` and `distances` are vectors of vectors.  So `neighbors[i]` is actually a vector, not a single value.  You'll need to do something like `neighbors[i][j]`.

[2018-11-13 15:14] atulim commented on #1563
Okay, can u write the loop fr it if i create neighbours[20] and distance
[20]? It would be helpful.

On Tue, 13 Nov 2018, 20:25 Ryan Curtin <notifications@github.com wrote:

[2018-11-13 15:59] barak opened #1564 "inappropriate perceptron option warning"
[code]
Hey, this is exactly like on `mlpack_perceptron(1)`!
[code]

[2018-11-13 16:23] barak opened #1565 "option inconsistency --output_file vs --predictions_file"
Why is it
* `mlpack_perceptron --output_file` and
* `mlpack_logistic --output_file` but
* `mlpack_decision_tree --predictions_file`?

[2018-11-13 16:50] rcurtin commented on #1565
Oversight. :)

I think that we should change all to `predictions_file`, but we have to do this in a reverse-compatible way until mlpack 4.0.0 when we can remove the `output_file` options.

If anyone is looking for a new task to do, I think this is a good one:

 1. Find all bindings in `src/mlpack/methods/` that have some line like `PARAM_MATRIX_OUT("output", ...)` where the output matrix is some o

[2018-11-13 16:53] rcurtin commented on #1563
I'm not sure what you mean.  The code is very simple and what you have already written is close.  Remember that you are using range search, so the number of points in the given range for each query point might be different (hence the need for `vector<vector<size_t>> neighbors`).  Maybe you should consider taking a look at the documentation for RangeSearch or at the files `src/mlpack/tests/range_se

[2018-11-13 16:55] rcurtin commented on #1564
Opened #1566.  Thanks for pointing this out. :+1:

[2018-11-13 16:57] atulim commented on #1563
Ok sir. I ll take a look at it. You can close the issue.
Thank you.

On Tue, 13 Nov 2018, 22:23 Ryan Curtin <notifications@github.com wrote:

[2018-11-13 16:57] rcurtin commented on #1563
Sounds good. :+1:

[2018-11-13 16:57] #1563 closed

[2018-11-13 17:48] juheon commented on #1560
LAPACK: version 1.0.0
BLAS: version 1.0.0
Does the MLPACK require the higher version?
I am not sure whether I am using Intel MKL. Is there any way for me to check it?

[2018-11-13 19:28] rcurtin commented on #1560
mlpack uses Armadillo, which in turn uses LAPACK and BLAS.  Can you tell me how you set up the system to run mlpack?  That will help clarify what the issue might be.

[2018-11-13 19:33] stiv-yakovenko commented on #1555
Dear Ryan, I know about input data requirements, all ids should go one by one, there should be no holes otherwise they will slow down the calculation. I've done preprocessing after which there is no 'unused' items. Here is a data file: https://drive.google.com/open?id=16a-U43TDUp8_U3oRG30bq08t51HhZbgd

I've seen approach with neighborhoods in Apache Mahout, neighborhoods are used to reduce calcula

[2018-11-13 19:36] stiv-yakovenko commented on #1555
And one more comment to be clear: my code is of cause incomplete, but I just wanted to show that even brute force non-optimized iteration over all items and users performs faster (~1h) then current mlpack_cf (~5hr) on large dataset. May be optimisation is redundant, or may be it can be implemented even faster then my 1h.

[2018-11-13 19:46] juheon commented on #1560
I am using mac OS 10.13.3 and it comes with LAPACK (version 1.0.0) and BLAS (version 1.0.0).
I installed armadillo (9.100.5) and boost (1.68.0) using
[code]
Then, I downloaded the source code using `wget http://www.mlpack.org/files/mlpack-3.0.3.tar.gz`. I ran cmake, make, and ran test script (bin/mlpack_test) as described in http://mlpack.org/docs/mlpack-3.0.3/doxygen/build.html#build_dep

[2018-11-13 19:48] rcurtin commented on #1560
Thanks for the info.  Can you paste what is in the file `CMakeCache.txt` in your build directory?

[2018-11-13 19:53] juheon commented on #1560
[code]

[2018-11-13 19:59] rcurtin commented on #1560
When I look through this configuration, I don't immediately see anything wrong.  However I am not able to reproduce the problem, so that kind of limits my ability to help debug.  Maybe you could try using a different version of Armadillo or something?  I have never seen these particular failures, so I am not sure what the issue could be.

[2018-11-13 22:40] juheon commented on #1560
I uninstalled Armadillo 9.100.5 and installed 8.600.1. I re-install MLPACK as well after I updated to Armadillo 8.600.1. The error messages are the same as before.
Is there a specific version Armadillo that MLPACK supports the best?

[code]

[2018-11-14 09:49] eyildiz-ugoe opened #1567 "x86_64-linux-gnu-g++: error: : No such file or directory"
I am trying to compile mlpack with the openmp set to off, and I face the titled error. Full trace:

[code]

Any ideas? I am using Ubuntu 18.04, cmake 3.13.

[2018-11-14 17:20] rcurtin commented on #1538
Hey @aabghari, thanks again for the patch.  It is merged now. :+1:

[2018-11-14 17:20] #1538 closed

[2018-11-15 19:15] atulim opened #1569 "On account of error in error in K-Means cpp program"
![screenshot from 2018-11-16 00-42-35](https://user-images.githubusercontent.com/22341556/48575730-b641b500-e938-11e8-97f8-8c4c40e9188a.png)
Sir I am facing this problem when designing a simple cpp program using K-means Clustering. Can you clear the doubt , please.

[2018-11-15 19:17] rcurtin commented on #1569
Hi Atul,

What have you tried to debug this?

[2018-11-16 22:19] rcurtin commented on #1564
Fixed since #1566 is merged.  Thanks again for the report. :)

[2018-11-16 22:19] #1564 closed

[2018-11-18 09:15] atulim commented on #1569
Can't think of something sir.... Coz tried every syntax...  I have followed your tutorial http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/kmtutorial.html and the sub topic is Running k-means and getting centroids of clusters

[2018-11-18 15:16] atulim opened #1571 "Problems in Optimizer Problem"
Sir ,
Following your tutorial at http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/optimizertutorial.html and subheading **Simple Function and Optimizer example**  , I can't compile the example . I have made following program -
class ObjectiveFunction
{
 public:
  // A separable function consisting of four quadratics.
  ObjectiveFunction()
  {
    in = arma::vec("20 12 15 100");
    bi = arma::vec("

[2018-11-18 15:19] ajaysub110 opened #1572 "Incorrect formula for derivative of logistic_function on vectors"
template<typename InputVecType, typename OutputVecType>
  static void Deriv(const InputVecType& y, OutputVecType& x)
  {
    x = y % (1.0 - y);
  }
This is the current function for calculating the derivative of x = 1/(1+e^-y) (logistic function used between layers in anns). I think it is incorrect and should be changed to x = y*(1.0-y)

[2018-11-18 15:19] ajaysub110 commented on #1572
Can I take it up?

[2018-11-18 15:44] kayoyin opened #1573 "Unable to build mlpack on mac: 'armadillo' file not found"
Hello,

I have installed and built mlpack, boost and armadillo from source following all the steps and using cmake. However, when I try to run a sample code on Xcode, I get buildtime errors from "'armadillo' file not found" next to `#include <armadillo>` in `arma_extend.hpp`.
I have also included the search paths in my xcode project too.
I noticed that all the other includes work when they're incl

[2018-11-18 16:32] rcurtin commented on #1572
This is not an error. Please read the Armadillo documentation. `%` is elementwise multiplication.

[2018-11-18 16:32] #1572 closed

[2018-11-18 16:37] rcurtin commented on #1571
Hi Atul, the questions you are asking are basic C++ questions and so I am not sure they are fully appropriate here.  I would suggest consulting basic C++ references to learn to debug these problems.

By the way, issue #1511 is open which may help with this in the long run but it may be a while until that is resolved.

[2018-11-18 16:38] rcurtin commented on #1573
Hi there, there's not much information here to help debug.  One thing to point out here though is that `#include <armadillo>` does not include a directory---actually `armadillo` is a header file (but it does not have a `.h` or `.hpp` suffix).

[2018-11-18 17:15] atulim commented on #1571
Sir,
As you can see the errors are related to keywords related to MLPACK such as arma etc. Had it been basic I would have solved it or had taken help from internet. But I cannot find help for this question.

[2018-11-18 17:37] rcurtin commented on #1571
You are not including Armadillo or mlpack headers.

[2018-11-18 17:46] atulim commented on #1571
#include <mlpack/core.hpp>
using namespace mlpack;

Would work out fine ?

[2018-11-18 17:50] atulim commented on #1511
I would like to improve your documentations as I am currently reading your tutorials in which several are out of date or slightly off , due to which I am facing difficulty.
How can I improve your documentations or certain part of code ?

[2018-11-18 17:55] rcurtin commented on #1571
Have you tried it?  Please be self sufficient---my time to help out is pretty limited. (Actually I am on vacation right now...)

[2018-11-18 17:59] atulim commented on #1571
Ok. I am sorry. Its just that I wanna involve all the files of MLPack. Can
it be done by these headers?

Lastly. I won't ask irrelevant questions.
Sorry. Enjoy your vacay. :)

On Sun, 18 Nov 2018, 23:25 Ryan Curtin <notifications@github.com wrote:

[2018-11-18 19:43] #1571 closed

[2018-11-18 23:10] zoq commented on #1481
I think that covers all points. I'm not sure if we need the FunctionWrapper class as Ryan suggested or if a static method is sufficient. I guess we if decide to provide different callbacks like ``BeginOptimization`` we should also think about the function names.

[2018-11-18 23:12] zoq commented on #1573
Also, make sure to link against armadillo/mlpack, for example I use something like: ``clang++ test.cpp -larmadillo -lmlpack``

[2018-11-19 00:12] rcurtin commented on #1567
I think this issue may have been fixed in mlpack-3.0.4; can you try with that version?

[2018-11-19 09:20] scrcro commented on #1481
Right. Even the function signatures needs to be determined as well. The wrapper is only required as a convenience for the caller. They do not have to necessarily provide all the methods if they are not interested.

[2018-11-19 13:18] marcespie opened #1576 "nitpicks post 3.0.4"
- comment
# We can probably use FindPythonInterp when we require CMake 3.0.
in src/mlpack/bindings/python/CMakeLists.txt    is obsolete

- allexec2man still contains one linuxism.
find ..  -executable
is gnu find only, the portable idiom would read:
find . -perm -u+x

[2018-11-22 23:20] kayoyin commented on #1573
Hi! So I ended up installing Ubuntu on a VM and built mlpack from there, and everything seems to work there now. I gave up installing on mac OS but thank you for your replies, cheers!

[2018-11-23 04:46] rcurtin commented on #1573
Hey there, glad you got it worked out!  If you want to debug OS X sometime we are happy to help, but if not I'll close this issue for now. :+1:

[2018-11-23 04:46] #1573 closed

[2018-11-23 13:01] marcespie opened #1578 "non-configurable install directory locations"
I still have a patch in OpenBSD because we install our man pages straight under /usr/local/man and not /usr/local/share/man

Actually, there's a module in cmake that ought to take care of that:
`
include(GNUInstallDirs)`

but this is likely to affect a bit more than just manpages...

Please consider it.

[2018-11-23 13:47] reverendbedford opened #1579 "Binary space tree (and subtypes) can't use non static metrics"
Reading the documentation it seems I should be able to use a non-static metric with state with neighbor searches and range queries.  However, when I try to setup a tree (specifically a BallTree) with a metric with a non-static Evaluate function I get errors pointing to

https://github.com/mlpack/mlpack/blob/dabd108b38c8f58648c0b137dd60c8e9cf51f243/src/mlpack/core/tree/binary_space_tree/binary_spac

[2018-11-24 06:01] e-aakash commented on #1565
@rcurtin Can i take up this issue?

[2018-11-24 20:22] kvcuong opened #1580 "Multidimensional RNN in mlpack ?"
Hi,
I've read about CRNN net papers for word-spotting, they reported really good result. Does Mlpack support Multi-Dim RNN like Bi-LSTM or MD-LSTM and CTC layers in order to build CRNN ?

I saw that mlpack has lstm, how can i stack 2 lstm to build Bi-LSTM ?

thanks in advance.

[2018-11-25 05:50] Hemal-Mamtora commented on #1565
I've found all occurences of PARAM_MATRIX_OUT in `src/mlpack/methods/` which are as follows:

kmeans/kmeans_main.cpp:PARAM_MATRIX_OUT
kmeans/kmeans_main.cpp:PARAM_MATRIX_OUT
lmnn/lmnn_main.cpp:PARAM_MATRIX_OUT
lmnn/lmnn_main.cpp:PARAM_MATRIX_OUT
lmnn/lmnn_main.cpp:PARAM_MATRIX_OUT
decision_tree/decision_tree_main.cpp:PARAM_MATRIX_OUT
det/det_main.cpp:PARAM_MATRIX_OUT
det/det_main.cpp:PARAM_MATRIX_

[2018-11-25 22:00] zoq commented on #1580
Currently, there is no support for MD-LSTM or B-LSTM; in case of B-LSTM it could be simulated by using two instances of the RNN class that are merged after each iteration.

[2018-11-26 04:50] rcurtin commented on #1579
Hey there @reverendbedford, I can handle this one.  It should be a relatively easy fix.  Originally (as the documentation says) the code was designed to handle non-static metrics but it looks like a case was overlooked.

Actually the fix should basically be as simple as changing `MetricType::` to `metric.`, but I'll also write a test to ensure it works.

[2018-11-26 04:51] rcurtin commented on #1578
:+1: I can work up a patch for that.  I think I have meant to use `GNUInstallDirs` for some time now.

[2018-11-26 14:13] ShyamPandya commented on #1565
Hi, @rcurtin

I have closely been following mlpack for a few months and using it in my projects as well. I am really eager to start contributing to the organization. But as a beginner, I felt this is the best fit issue that I could fix and start collaborating to mlpack. Could I take up this issue please?

[2018-11-26 16:54] rcurtin commented on #1565
@e-aakash @Hema-Mamtora @ShyamPandya: It doesn't make sense for me to give permission to a certain person to work on the issue.  In the end the only thing that really matters from my end is that the issue is solved, so whatever PR comes around first is the one I'll review first.  This one might be too simple to work together on, but maybe it makes sense to coordinate efforts so you are not duplica

[2018-11-27 08:36] barak commented on #1565
@rcurtin Well people could always add a new option to that file. The idea is just to make a central place where all option names are listed, to make it easier to reuse an existing one when appropriate rather than coining a new one. (As you might imagine, I hit this when trying to write an shell script to apply a variety of methods to a single dataset automatically. This was intended as an example.

[2018-11-28 15:55] rcurtin commented on #1576
See #1583 for the fixes---thanks again for pointing these out.  Always happy to make further changes if more make your life easier. :+1:

[2018-11-28 15:55] rcurtin commented on #1578
#1583 includes the patch. :)

[2018-11-28 22:51] barak commented on #1565
Yeah, a checklist, and a shell script to help scan for outliers and such, seems like a very sensible approach.

Another idea, a bit heavier-handed, that could be used in addition, would be to add each new command to a shell script that runs each command against whichever of some small set of tiny datasets it can work on. As a sort of last-ditch reality check plus command-line option revelation.

[2018-12-04 02:35] rcurtin commented on #1555
Hey @stiv-yakovenko, sorry for the slow response---I have been traveling and on vacation recently, and only today was I able to return to this.  I spent some time looking at your code.  From what I understand, the actual computation is this bit:

[code]

but actually there is a key difference between this and the CF code, and that difference is the neighborhood.  So in your code you use this loop

[2018-12-04 02:44] rcurtin commented on #1555
Ah sorry I see there were also some questions I did not answer.

This is done by a nearest neighbor search on the columns of the user matrix H.  N is not hardcoded but can be specified by the `--neighborhood` parameter.  By default it's 5, but you could make it smaller and that should speed things up a little.

The NMF+ALS decomposition that mlpack implements doesn't have regularization on the W o

[2018-12-04 04:59] stiv-yakovenko commented on #1555
Thank you for devoting your time. So, if I understand this correctly, this version of ALS not simply uses users' coefficients, but also finds ~5 close 'friends' to improve results somehow? It would be cool to cover this in the manual.

[2018-12-05 15:47] #1579 closed

[2018-12-05 17:45] buddha314 opened #1589 "Choco installer for Windows?"
I would like to use MLPack in an application that requires Windows to run.  The current setup is a bit daunting.  Would it be possible to create a [choco](https://chocolatey.org/) installer?

[2018-12-05 17:59] Amndeep7 opened #1590 "Documentation is 404ing"
https://www.mlpack.org/docs/mlpack-git/doxygen/index.html

http://www.mlpack.org/docs/mlpack-git/doxygen/namespacemlpack_1_1rl.html

All this stuff is 404ing cause it appears that the doxygen folder was deleted / is no longer there.

[2018-12-05 20:23] rcurtin commented on #1589
@buddha314: I agree, it would be really great to do that!  But I am not familiar with Chocolatey (and also don't use Windows).  If anyone out there is able to contribute something, I think we should definitely merge it.

I'll mark this as a good task for someone new to the library. :+1:

[2018-12-05 22:05] rcurtin commented on #1590
Fixed now.  Strange, a system upgrade on mlpack.org resulted in the Boost libraries being removed, which meant that the library (and thus documentation) failed to build.  And I did not look closely enough at the log email to notice. :(  (Hence the importance of log emails that only point out problems and aren't filled with noise!)

Thanks for pointing out the issue! :+1:

[2018-12-05 22:05] #1590 closed

[2018-12-05 22:51] buddha314 commented on #1589
These instructions are pretty intimidating: https://github.com/mlpack/mlpack/wiki/WindowsBuild for a guy like me who really just does math.

[2018-12-05 23:11] zoq commented on #1589
I think the tutorial here is quite good: https://www.mlpack.org/docs/mlpack-git/doxygen/build_windows.html but I agree there is definitely an advantage to install mlpack on windows with a single command.

[2018-12-06 01:41] rcurtin commented on #1555
Yes, exactly.  It would be easy to add a note about `--neighborhood` in the documentation, so before we close this issue we can make sure that is done.

I spent a while profiling and debugging but I actually am not able to replicate the results that you mentioned when you opened the issue.  I found that, on my system, I could build the model in about 1h50m.  I saved this model with `--output_model

[2018-12-06 02:05] stiv-yakovenko commented on #1555
[code]

[code]

[code]

[code]

[code]

[code]

[code]

As far as I understand you build tree to find faster items' vectors with largest scalar product for each user. Can you give a reference what algorithm do you use for it?

[2018-12-06 02:16] stiv-yakovenko commented on #1555
One more question regarding math of this calculation, sorry if its a bit offtopic, but also related to perfomance. Is it possible to speedup convergence of these iterations with linear pruning? For example you have vectors from previous and current iterations of the process *v_k* and *v_{k-1}*. Then you can build linear approximation between these two points (these highly multidimensional points i

[2018-12-06 02:20] stiv-yakovenko commented on #1555
One more important note: I've also built mlpack on Windows (https://github.com/stiv-yakovenko/mlpack-windows-build contains binaries for it) and I have observed same perfomance problem during last step. If you wish I can measure time for windows build also.

[2018-12-06 03:36] rcurtin commented on #1555
Your hardware is better than mine I think, thanks for all the details. :)  But I see you are using the reference BLAS and LAPACK implementation.  Try installing OpenBLAS, I think it will give good speedup:

[code]
(I think that is the right package name...)

Then you will have to rebuild mlpack, I think.  Unless RHEL7 drops openblas into the exact same place with the same .so names as the other BL

[2018-12-06 15:04] rcurtin commented on #1517
I'm going to close this for inactivity.  If you're still having problems, feel free to reopen it.

[2018-12-06 15:04] #1517 closed

[2018-12-06 15:06] rcurtin commented on #774
I'm really sorry, it took way more than a few days for this.  At this point I imagine this is out of date so I will go ahead and close it.  If you are still having the problem we can reopen it, but I imagine if you update all the versions of the software that it may be fixed.

[2018-12-06 15:06] #774 closed

[2018-12-06 20:41] shravankumar9892 commented on #1580
@zoq  So is it worth creating a blstm.hpp separately in the methods/ann/layer directory? Does it apply to brnn as well?

[2018-12-07 00:05] zoq commented on #1580
What I had envisioned is another class similar to the ``RNN`` class, so there is no need to adjust or rewrite any layer. The basic idea would be to do two passes at the "same" time and merge the output at the end. Perhaps we could even reuse the RNN class internally. Let me know what you think.

[2018-12-07 01:34] rcurtin commented on #1555
I ran the entire run with both OpenBLAS and then with stock LAPACK/BLAS (like you are using):

[code]

With OpenBLAS, the factorization took 1h50m over 56 iterations and then the computation of recommendations took roughly 55m.

With stock LAPACK/BLAS, the factorization took 9h25m over 29 iterations (note that the starting point is random, so each run may take a different number of iterations) and

[2018-12-07 01:40] stiv-yakovenko commented on #1555
Thank you, will try to migrate to openblas.

[2018-12-07 08:21] sourabhvarshney111 commented on #1580
@zoq @shravankumar9892 I think first we can try to make that BRNN class similar to RNN class, which I took the responsibility this summer, but couldn't complete due to my tight schedule. I think that would be a good start.

[2018-12-07 08:41] shravankumar9892 commented on #1580
Yeah can work on the issue @sourabhvarshney111

[2018-12-07 16:48] zoq commented on #1580
I think the easiest thing would be to start with the Forward pass, so right now we perform a single Forward step:

https://github.com/mlpack/mlpack/blob/823c34d46c67c6ff652af0bdf3ebbaddc96bc2b8/src/mlpack/methods/ann/rnn_impl.hpp#L208-L211

to get this to work, we also have to do another Forward step with the data from the other direction.

[2018-12-07 17:02] shravankumar9892 commented on #1580
Yes @zoq, we'll have to do it from other direction as well.

[2018-12-07 17:05] shravankumar9892 commented on #1569
Hey @atulim where did you find data.csv? Would you mind sending it to me? I can help you out.

[2018-12-08 13:22] #1524 closed, assigned to nobody

[2018-12-08 18:45] zoq commented on #1580
Okay, great, let me know if I should clarify anything.

[2018-12-09 00:43] zoq commented on #1569
@shravankumar9892 Don't think there is an actual problem with the example, but you can test it with https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/data/iris_test.csv if you like.

[2018-12-09 08:50] Hemal-Mamtora commented on #1565
Doubts :
1. "Modify the documentation showing depracated." Where is the documentation to be modified?
2. The string "output" seems to be used in the code (for example in kmeans_main.cpp: line no. 256, 272, 293, 295, 303, 316) etc.
Do we need to modify all those to "predictions"?

[2018-12-09 15:02] rcurtin commented on #1565
@Hemal-Mamtora: #1582 is open and I reviewed it, so maybe you could base some work off that.  Perhaps that would clarify things?

It would probably be worthwhile to look through one of the bindings (like `kmeans_main.cpp`) to get an idea of how it is structured.  Specifically this issue has to do with the `PARAM_...` macros, which are what define the parameters used by the binding.

[2018-12-09 18:39] rcurtin opened #1592 "Occasional failures for OneStepSarsaTest and OneStepQLearningTest"
I found that very occasionally, the tests `AsyncLearningTest/OneStepSarsaTest` and `AsyncLearningTest/OneStepQLearningTest` can fail.  Here are some examples (you will need to log into ci.mlpack.org before these links work):

http://ci.mlpack.org/job/docker%20mlpack%20weekly%20build/armadillo_version=armadillo-8.300.3,boost_version=boost_1_49_0,buildmode=debug,compiler_version=gcc-6.3.0,label=dock

[2018-12-09 18:55] ShangtongZhang commented on #1592
1. I think it is a good strategy to require it converges at least once in three trials
2. If we decide to require one convergence in three trials, I think it is reasonable to change ```maxEpsidoe``` to 10K
3. There is no guarantee that ```OneStepSarsa``` and ``` OneStepQLearning``` can converge. As you mentioned at the very beginning, this failure happens very occasionally, so I think it is very l

[2018-12-10 06:15] QuellaZhang opened #1593 "MLPACK build failed on MSVC + permissive- on windows"
MLPACK failed when build with /permissive- by msvc on Windows, I use latset version dabd108 on master branch. Could you please help look at this?

**You can repro this issue as the steps below:**

1. git clone https://github.com/mlpack/mlpack D:\MLPACK\src
2. it dependent armadillo and OpenBlas, put them to D:\MLPACK\external\
3. open a VS 2017 amd64 command prompt as admin and browse to D:\MLPACK

[2018-12-10 13:53] rcurtin commented on #1576
#1583 is merged so I will close this.  Thanks again for reporting the issues. :)

[2018-12-10 13:53] #1576 closed

[2018-12-10 13:55] rcurtin commented on #1578
#1583 is merged so I will close this now.  Thanks again for the report and if you find more please don't hesitate to open more issues. :+1:

[2018-12-10 13:55] #1578 closed

[2018-12-10 18:36] rcurtin commented on #1593
Thanks for the report.  I don't have a Windows system set up, but I took a look at the error and I think I know what it is.

Can you try replacing `CMakeLists.txt` with the following file and let me know what happens?  http://www.ratml.org/misc/CMakeLists.1593.txt

Thanks! :+1:

[2018-12-11 17:08] rcurtin commented on #1592
Thanks for the response!  I'll open a PR shortly that takes your advice.  I am testing the changes now; it seems much better.  My hope is to get the rate of failures below 1 in 1000. :)

[2018-12-12 10:41] QuellaZhang commented on #1593
Thank you @rcurtin . I verified the new CMakeLists and MLPACK compiled very well under /permissive- mode.

[2018-12-12 10:44] ShikharJ commented on #1593
@QuellaZhang Feel free to close this issue if you feel it has been addressed :)

[2018-12-13 03:12] rcurtin commented on #1560
Oh no, I am really sorry!  I forgot to respond to this.  I hope that the slow response is not too much of a problem.  Don't worry about the `GaussianMatrixSensingSDP` failure; that is random and I am working on a PR now that adjusts the tolerance.

It seems to me there are three issues here:

1. `EmptyHoeffdingTreeTest`: this is a problem with Boost.Serialization on your system, but I am not sure

[2018-12-13 10:18] QuellaZhang commented on #1593
Yes, I could use the workround. And I want to know if there is a plan to fix the source code? @rcurtin @ShikharJ Thanks in advanced!

[2018-12-13 16:40] rcurtin commented on #1593
Definitely, I am planning to open a PR today.  Glad to hear that the fix worked. :+1:  I'll close this issue once that PR is merged.

[2018-12-13 17:58] tharindu-mathew opened #1596 "mlpack 3.0.4 not building through cmake gui on Windows due to boost"
I've been trying to build mlpack for a few days now. And now I'm finally stumped with not being figure out this boost issue. I've set BOOST_ROOT, BOOST_INCLUDEDIR and BOOST_LIBRARYDIR (which is BOOST_ROOT/lib64-msvc-14.1) on system variables, tried to set it in CMakeLists but it's still not finding the libs.

cotire 1.7.10 loaded.
CMake Warning at CMakeLists.txt:20 (message):
  By default Python b

[2018-12-14 01:57] Trisslotten commented on #1596
Had the same problem, first I downgraded to boost version 1.66. Then I had to install a newer cmake version then I had installed and after that it worked.

[2018-12-14 02:05] diriki commented on #1596
Same problem (with last CMake 3.13.1 and Boost 1.69.0)

[2018-12-14 02:58] tharindu-mathew commented on #1596
Ok, upgrading to the latest CMake, ie 3.13.2 makes it work with Boost
1.68.0. Thanks for the hints fellas. Man, boost and cmake have such a weird
relationship. Wish they fixed it without having a version dependency
between each other.

On Thu, Dec 13, 2018 at 9:05 PM diriki <notifications@github.com> wrote:

--
Regards,

Tharindu

blog: http://mackiemathew.com/

[2018-12-14 03:02] #1596 closed

[2018-12-14 03:44] tharindu-mathew opened #1597 "Linking errors when compiling with VS 2017"
I'm getting errors such as this when compiling the release version.

Severity	Code	Description	Project	File	Line	Suppression State
Error	LNK2019	unresolved external symbol wrapper_dsyrk_ referenced in function "public: static void __cdecl arma::syrk<1,0,0>::apply_blas_type<double,class arma::Mat<double> >(class arma::Mat<double> &,class arma::Mat<double> const &,double,double)" (??$apply_blas_type

[2018-12-14 09:56] maifeeulasad opened #1598 "Can't build , Window10 - x64 , CMake GUI client"
Using CMake version: 3.2.2
Compiling dlib version: 19.16.99
CMake Error at dlib/cmake_utils/use_cpp_11.cmake:74 (target_compile_features):
  target_compile_features no known features for CXX compiler

  "GNU"

  version 6.2.0.
Call Stack (most recent call first):
  dlib/CMakeLists.txt:857 (enable_cpp11_for_target)

C++11 activated.
Configuring incomplete, errors occurred!
See also "D:/softwares/dl

[2018-12-14 13:33] kss682 commented on #1483
Hi, I am new to mlpack and getting to know the code base.Is this issue taken and I would like to get some help to resolve it.

[2018-12-14 14:06] rcurtin commented on #1598
Hi there,

This bug is not filed with the right project.  Please file it with dlib.

[2018-12-14 14:06] #1598 closed

[2018-12-14 14:46] rcurtin commented on #1593
I opened #1599 to fix the issue in the codebase.  Once that is merged I will close this. :+1:

[2018-12-14 14:47] rcurtin commented on #1596
@tharindu-mathew: glad you got it figured out.  You are right, the strange codependence between CMake and Boost is a bit frustrating.

[2018-12-14 14:51] rcurtin commented on #1597
Hmm, these errors are linking errors against Armadillo---so for whatever reason, CMake has chosen to not link against Armadillo libraries directly.

How did you install and set up Armadillo on your system?

The Windows tutorial might have some good information about how to set up Armadillo so that it links correctly with mlpack: http://mlpack.org/docs/mlpack-3.0.4/doxygen/build_windows.html

[2018-12-14 14:57] rcurtin commented on #1483
Hi @kss682, there is not a PR open for this issue so you are welcome to look at it.  I would suggest first trying to use the library's classifiers (like logistic regression, decision trees, etc.) from C++ to solve some simple machine learning tasks and then this should provide enough background to understand what needs to change in the code.

[2018-12-14 20:52] diriki commented on #1596
In my case it doesn't work even with CMake 3.13.2, but I manage to fix:
in file [CMake folder]/share/cmake-3.13/Modules/FindBoost.cmake at about line 1785 add "lib" at the beginning of the line. Now the line should appear:

`lib${Boost_LIB_PREFIX}${Boost_NAMESPACE}_${component}${compiler}${_boost_MULTITHREADED}${_boost_RELEASE_ABI_TAG}${_boost_ARCHITECTURE_TAG}-${Boost_LIB_VERSION}`

It works also

[2018-12-16 10:17] freja2 opened #1601 "undefined reference to LinearRegression"
Hi, I'm new to mlpack. I was using the Linear Regression on my train.csv file.
Before that, went through [this](http://mccormickml.com/2017/02/01/getting-started-with-mlpack/) and had no problems running this till the end results.

Here is my code,
[code]

the train.csv had values like
[code]

and I was getting the following error
[code]

am I missing something here? Any help will be appreciated,

[2018-12-16 18:18] zoq commented on #1601
What's the mlpack version?

[2018-12-16 18:38] freja2 commented on #1601
I'm using mlpack 3.0.4, I followed [this](http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/build.html) while installing.

First I looked at that tutorial to test if I installed correctly and if I was able to use mlpack in my code or not.
When I tried to make the linear regression object( following the documentation), it gave the error.

[2018-12-16 19:23] adityanathan opened #1602 ""fatal error:'cmath' file not found" - Error while trying to build mlpack on Mac OSx."
Hi. I was trying to build mlpack on Mac OSx Mojave Beta and after installing the dependencies(armadillo, cmake and boost) when executing the make command I got the following error. Can somebody please help me out ? Thank you.

____________________________________________________________________________________________________________
[ 16%] Linking CXX executable ../../../../bin/generate_pyx_nca
[

[2018-12-17 11:43] zoq commented on #1602
You probably have to upgrade xcode: ``xcode-select --install``

[2018-12-17 12:37] Mirage1089 opened #1603 "MLPack error C3546: '...': there are no parameter packs available to expand in visual studio 2017"
I am following the tutorial to build mlpack from here
[https://www.mlpack.org/docs/mlpack-3.0.4/doxygen/build_windows.html](url)

I am using
Windows 10
Visual Studio 2017 Version 15.9.4
mlpack-3.0.4
OpenBLAS.0.2.14.1
boost_1_66_0-msvc-14.1-64
armadillo-9.200.6 (The latest version)
and x64 configuration

I followed the instruction but while building, it can build the mlpack dll but only for one pro

[2018-12-17 13:57] rcurtin commented on #1603
This looks like a bug in the Visual Studio compiler.  Can you try a different version of the compiler?  We have always had problems with Visual Studio although AppVeyor reports that mlpack 3.0.4 (and the git master branch) are able to compile without problems.

[2018-12-17 13:59] rcurtin commented on #1601
So do you mean that you ran `apt-get install libmlpack-dev`, or do you mean that you downloaded mlpack and ran `cmake ..`, `make`, and `sudo make install`?

[2018-12-17 13:59] #1593 closed

[2018-12-17 14:00] rcurtin commented on #1592
#1595 is merged so I'll close this now.

[2018-12-17 14:00] #1592 closed

[2018-12-17 14:00] rcurtin commented on #1593
#1599 is merged, so this is closed now.  Thanks again for the report! :)

[2018-12-17 14:32] freja2 commented on #1601
Sorry if I sounded a bit confusing,

While installing, I used `apt-get install libmlpack-dev`, and also installed the dependencies in the same manner as stated on the `Building mlpack from Source`.

After this, I went through [this](http://mccormickml.com/2017/02/01/getting-started-with-mlpack/) as a first timer program.
Ran it using
[code]
and got the shown result from that webpage.

However on m

[2018-12-17 14:52] rcurtin commented on #1601
Ok, I see.  What's the version of mlpack that got installed?  Try running `dpkg -l libmlpack-dev`.  I'm wondering if the version that you have has a different API for `LinearRegression` or something.  In addition, if you can give the output of `strings /path/to/libmlpack.so | c++filt | grep LinearRegression` where you replace `/path/to/` with wherever `libmlpack.so` got installed on the system, th

[2018-12-17 15:08] freja2 commented on #1601
[code]

[code]

[2018-12-17 15:22] rcurtin commented on #1601
It looks like actually you have mlpack installed twice on your system.  The package `libmlpack` should be providing the library `/usr/lib/x86_64-linux-gnu/libmlpack.so` (assuming you are on a 64-bit x86 distribution), and this is the library that your `g++` command is trying to link against.  It so happens, based on your output of `dpkg -l libmlpack-dev`, that that is version 2 of the mlpack libra

[2018-12-17 15:51] Mirage1089 commented on #1603
Thank you for your reply. Currently i am using Visual Studio 2017 Version 15.9.4 (toolset v141). Do you mean I need to switch to Visual Studio 2017 Version 15.7 or earlier? Can you tell me the correct Version?

[2018-12-17 15:56] freja2 commented on #1601
This has fixed the problem here and I don't see any issues with my code now.

Upon checking, there was another `libmlpack.so`  in `/usr/lib/x86_64-linux-gnu/`.

So to sum this up, I had 2 different versions of mlpack and the `g++` command was linking me to the version 2 of library, whereas my LinearRegression constructor definition was that of mlpack 3?

Nevertheless,
thank you very much.
I think

[2018-12-17 15:57] rcurtin commented on #1601
Yep, your understanding is correct.  I am glad that we were able to figure out the issue. :)  I'll close this now, but if you have any problems in the future feel free to open another issue.

[2018-12-17 15:57] #1601 closed

[2018-12-17 17:15] Mirage1089 commented on #1603
Thanks a lot @rcurtin . I changed the visual studio version to 15.6.7 and now everything is running fine.
Thank you once again for saving me.

[2018-12-17 17:16] #1603 closed

[2018-12-17 19:27] tharindu-mathew opened #1604 "mlpack 3.0.4 does not need ARMADILLO_LIBRARY?"
I'm following this guide - [http://mlpack.org/docs/mlpack-3.0.4/doxygen/build_windows.html](url)

I notice this warning come up when I set ARMADILLO_LIBRARY. Upon checking the CMake file I see ARMADILLO_LIBRARIES being set. But it seems ARAMADILLO_LIBRARY is never used?

So do we even need to build ARMADILLO?

CMake Warning:
  Manually-specified variables were not used by the project:

    ARMADIL

[2018-12-17 21:04] tharindu-mathew commented on #1597
Thanks for the hint. The problem was I was using OpenBlas that I built myself without using mingw. After using mingw compatible pre-built binaries as mentioned in the above link it mostly completed. But, the mlpack-tests still will not built. I don't think that's a blocker though. I will close this issue.

[2018-12-17 21:04] #1597 closed

[2018-12-17 22:31] rcurtin commented on #1604
So, whether or not `ARMADILLO_LIBRARY` gets used depends on whether or not `ARMA_USE_WRAPPER` is enabled in the configuration file `armadillo_bits/config.hpp`.  If you take a look at `CMake/FindArmadillo.cmake`, you can see on line 94 we determine whether or not the wrapper library (`armadillo.dll` on Windows) is even needed.  Actually the wrapper library is just a convenience to avoid the headach

[2018-12-17 22:32] rcurtin commented on #1603
Great, glad that the idea was helpful.  At some point in the future if there is a new release of MSVC you could try upgrading and see if that works. :)

[2018-12-17 22:33] rcurtin commented on #1597
Ok, great to hear you got it solved.  If you are having problems building the tests and the issue is mlpack, please feel free to open another issue and we can try and get it fixed. :)

[2018-12-18 07:12] spectre-phantom commented on #1602
I ran "xcode-select --install" on my terminal and then checked my Xcode version which turned out to be Xcode 10.1 (Build version 10B61) and I couldn't find any update options anywhere for Xcode so I executed "cmake ../" and "make" from my build directory again. Unfortunately, the same problem mentioned above still persists. It says cmath file not found. Please help me out. Thank you.

[2018-12-18 10:25] kayoyin opened #1605 "LSTM implementation - sgd not converging"
Dear all,
I am trying to implement a LSTM model for music composition, but I have to admit I'm struggling to see how everything is supposed to be implemented.
I'm facing matrice index issues at
[code]
and I have `currentTarget = 21` while `input` only has 1 row.
I see that `currentTarget` is defined during the implementation of negative log likelihood as `size_t currentTarget = target(i) - 1` but

[2018-12-18 14:15] rcurtin commented on #1602
What happens if, with a new clean build directory, you configure with `cmake -DCMAKE_CXX_FLAGS="-std=libc++" ..` and then build?

[2018-12-18 16:35] tharindu-mathew commented on #1604
I see. That clarifies the issue, and there's no need of any fix.

[2018-12-18 16:35] #1604 closed

[2018-12-18 16:35] rcurtin commented on #1604
:+1: Glad the explanation was helpful.

[2018-12-18 16:41] tharindu-mathew opened #1606 "mlpack_test failing on Windows 10 VS2017 x64"
I'd like to report this issue as it seems to be the one module that fails when building on Windows 10 VS 2017 (tool ver 141) x64.

The error seems to be:

7>C:\mlpack-3.0.4\src\mlpack/core/cv/meta_info_extractor.hpp(51): error C3546: '...': there are no parameter packs available to expand
7>C:\mlpack-3.0.4\src\mlpack/core/cv/meta_info_extractor.hpp(56): note: see reference to class template

LOG s

[2018-12-18 17:52] spectre-phantom commented on #1602
I get the following error:

$ cmake -DCMAKE_CXX_FLAGS="-std=libc++" ..
-- The C compiler identification is AppleClang 10.0.0.10001145
-- The CXX compiler identification is AppleClang 10.0.0.10001145
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/cc
-- Check for working C compiler: /Applications/Xcode.app/Contents/Developer/To

[2018-12-18 19:11] rcurtin commented on #1602
Ah, sorry, can you try `cmake -DCMAKE_CXX_FLAGS="-stdlib=libc++" ../` instead?  (i.e. `-stdlib=` not `-std=`; I think the original error message has a typo)

[2018-12-18 19:16] spectre-phantom commented on #1602
I get the following error:

[ 15%] Building Cython binding sparse_coding.so...
/anaconda3/lib/python3.6/distutils/dist.py:261: UserWarning: Unknown distribution option: 'long_description_content_type'
  warnings.warn(msg)
running build_ext
cythoning /Users/aditya/GSOC/mlpack-3.0.4/build/src/mlpack/bindings/python/mlpack/sparse_coding.pyx to /Users/aditya/GSOC/mlpack-3.0.4/build/src/mlpack/bindings

[2018-12-18 21:11] zoq commented on #1602
[code]
According to the error message above: passing '-std=libc++' should work.

I'm wondering if you need to update the command-line tools as well, or maybe it's easier to install XCode 9.

[2018-12-18 21:14] zoq commented on #1606
Looks like this is a compiler bug: https://developercommunity.visualstudio.com/content/problem/263148/error-c3546-when-implementing-a-variadic-class-met.html

Any chance to update the toolchain? It might be possible to refactor the code so that it works with your version as well.

[2018-12-18 21:40] tharindu-mathew commented on #1606
I actually have v15.9.1. That thread says it is fixed in 15.8.2

[2018-12-19 04:01] rcurtin commented on #1606
Looks like a duplicate of #1603.  The solution there was to downgrade the compiler.  Actually @gmanlan encountered this and posted about it on the Visual Studio Developer Community:

https://developercommunity.visualstudio.com/content/problem/311021/158-c-compiler-regression-double-template-paramete.html

Based on the response there, they said they added mlpack to their regression tests, which hop

[2018-12-19 09:17] spectre-phantom commented on #1602
I already have Xcode and command line tools. Also when I passed -std=libc++ I got an error message after which @rcurtin told me it was a typo and instead I should pass -stdlib=libc++

$ /usr/bin/xcodebuild -version
Xcode 10.1
Build version 10B61
$ xcode-select --install
xcode-select: error: command line tools are already installed, use "Software Update" to install updates

[2018-12-19 14:18] rcurtin commented on #1602
Can you try downloading the file http://www.ratml.org/misc/setup.py.in and replacing the file `src/mlpack/bindings/python/setup.py.in` with that?  I made a couple changes to try and force it to link against libc++ instead of libstdc++.  We can see if it works...

[2018-12-19 16:50] spectre-phantom commented on #1602
I replaced setup.py.in with the one in http://www.ratml.org/misc/setup.py.in provided by @rcurtin and I got the following message when I executed "cmake -DCMAKE_CXX_FLAGS="-std=libc++" .." :

$ cmake -DCMAKE_CXX_FLAGS="-std=libc++" ..
-- The CXX compiler identification is AppleClang 10.0.0.10001145
-- Check for working CXX compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefaul

[2018-12-19 16:55] rcurtin commented on #1602
Use `-stdlib=libc++` not `-std=libc++` please and try again, thanks.

[2018-12-19 17:11] spectre-phantom commented on #1602
Got the following error:

$ cmake -DCMAKE_CXX_FLAGS="-stdlib=libc++" ..
-- The CXX compiler identification is AppleClang 10.0.0.10001145
-- Check for working CXX compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++
-- Check for working CXX compiler: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin/c++ -- works
--

[2018-12-19 18:16] zoq commented on #1605
Happy to help if you could provide some more information like a simple model with example data to reproduce the issue.

[2018-12-19 20:05] NacOJerk opened #1607 "Linker problem with mlpack on Windows10 and VS17"
So I built mlpack-3.0.4 on windows using this guide: https://keon.io/mlpack-on-windows/ and this one https://github.com/mlpack/mlpack/wiki/WindowsBuild
I built it on vs-2017 (Had to change some stuff in the guide so it will work with it (mostly the NuGet dependencies))
Now I am trying to compile some pre written code for an XOR gate (This code: http://www.mlpack.org/docs/mlpack-git/doxygen/cnetuto

[2018-12-19 20:17] rcurtin commented on #1607
Is your code linking against mlpack, Armadillo, or LAPACK and BLAS?  You could look through the build configuration for when you compiled mlpack and make sure you are linking against the same set of libraries.

[2018-12-19 20:23] NacOJerk commented on #1607
I followed the guides so Im using that (like the exact configuration as the guides)

I just noticed that my mlpack-test failed and I saw a fix on the issues so Im gonna try and downgrade vs and try to compile everything again

[2018-12-19 21:13] NacOJerk commented on #1607
So when compiling everything in VS 15.6.7 the linking problem is gone.
But I have a new error

1>c:\projects\armadillo\include\armadillo_bits\arma_rng.hpp(444): error C2760: syntax error: unexpected token 'identifier', expected ';'

(I compiled everything now in VS 15.6.7 , the armadillo the mlpack and the code I copied from your site)
Any suggestions ?

[2018-12-20 00:44] rcurtin commented on #1607
That looks like just a syntax error somewhere in the code.  Are you sure the Armadillo sources you are using haven't been modified, and are you sure that your program is valid?  What have you tried for debugging?

(Glad the VS version change helped.)

[2018-12-20 05:53] NacOJerk commented on #1607
Well I can't debug that much because the program wont compile. I downloaded Armadillo from their own website. And the code should be valid because I just copied from an example on the mlpack website (So I can see that everything works)

[2018-12-20 05:56] NacOJerk commented on #1607
From what I read online this is another problem related to bugs in VS17 so I am just going to reinstall VS17 completely and try again

[2018-12-20 06:12] wannabeOG commented on #1021
Since this issue is open, can I work on it? I have gone through the blog post that you attached in the description and think this is a good first task considering my limited exposure to open source

[2018-12-20 07:31] kayoyin commented on #1605
Thank you so much!
You can find the code for our model here: https://github.com/RayDiab/Prodigy/blob/master/src/main.cpp
There's a sample data under /utils called `training.csv`, and a CMake file in the same repo
Thank you for your help!

[2018-12-20 08:49] kayoyin commented on #1605
To update you, I changed the loss function to `CrossEntropyError` and the training phase has no more issues during runtime. Now, I'm faced with this error though: `SGD: converged to -nan; terminating with failure.  Try a smaller step size?` so the accuracy of my training is always 0%.

Here's how I built the model
[code]

[2018-12-20 12:39] rcurtin commented on #1605
What step size did you use fpr SGD?  Have ypu tried a smaller step size?

[2018-12-20 14:22] zoq commented on #1605
In this case it might be useful to use: the ``MeanSquaredError`` loss function.

[2018-12-20 15:15] kayoyin commented on #1605
I tried with `MeanSquaredError` and I no longer have the SGD not converging error!
However, I have 0 accuracy in training after 10 training cycles, I'm not sure if it's from an error in our implementation or if we simply need to train more.
Here's the output of `model.Predict()`:
[code]

While the actual labels are
[code]
And to calculate accuracy I'm counting the percentage of integers (notes) th

[2018-12-20 17:35] rcurtin commented on #1605
Four layers of LSTMs is quite a lot:

[code]

I'd suggest a handful of changes:

1. Start with only one LSTM layer.  Four layers deep will need a huge amount of data to train and that could be difficult.  Maybe one LSTM layer won't perform amazingly but it will at least provide a starting point.
2. It looks like you're only using 4 LSTM units in a single layer, which is probably a little low.  You

[2018-12-21 16:57] NacOJerk commented on #1607
This seems to still be a problem if anyone can find a fix it will really help me
1>c:\projects\armadillo\include\armadillo_bits\arma_rng.hpp(444): error C2760: syntax error: unexpected token 'identifier', expected ';'

[2018-12-21 16:59] NacOJerk commented on #1606
Were you able to resolve your issue ?

[2018-12-21 17:15] rcurtin commented on #1607
Please check the above, it could be helpful.  This is a syntax error, so even though it does not compile you should be able to trace down the compiler error message to figure out exactly where the syntax error is.  Unfortunately from here I cannot help too much, since I can't see the entirety of the code that you are working with.

[2018-12-21 17:19] NacOJerk commented on #1607
I have downloaded the Armadillo sources directly from their website (I downloaded it again in my second try) and you can view the entirety of the code because Im just using code directly from the mlpack website like I said right now even the validation code doesn't work

[2018-12-21 17:33] rcurtin commented on #1607
Have you tried to debug what the syntax error is at all?

[2018-12-21 19:09] NacOJerk commented on #1607
There isn't one thats the point the problem seems to be with VS

[2018-12-22 04:21] tharindu-mathew commented on #1606
Is there any workaround you can suggest to patch mlpack? Downgrading a tool chain is undesirable.

[2018-12-22 07:34] NacOJerk commented on #1607
Keeping this issue thread updated about my quest to run mlpack on windows
Using this guide:
https://www.mlpack.org/docs/mlpack-git/doxygen/build_windows.html
I was able to compile mlpack without having to downgrade the version of VS17 but now everything is compiled but I still have the linking errors like I had at the start of the thread

1>Source.obj : error LNK2019: unresolved external symbol sd

[2018-12-22 07:40] NacOJerk commented on #1607
So I was able to solve this issue
The solution is to use this guides
https://github.com/mlpack/mlpack/wiki/WindowsBuild
https://www.mlpack.org/docs/mlpack-git/doxygen/build_windows.html

And also add libopenblas.dll.a file to additional dependencies like this issue says
https://github.com/mlpack/mlpack/issues/881

[2018-12-22 07:40] #1607 closed

[2018-12-22 08:50] NacOJerk opened #1609 "Mat::operator(): index out of bounds"
So I tried to create an XOR NN
I took the guide from here
http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/anntutorial.html#model_api_anntut
And I modified the code in a way it should work for an XOR dataset

This is the code
`
	arma::mat trainData("0,0,1,1;0,1,0,1;");
	arma::mat trainLabel("0,1,1,0;");

	std::cout << "Printing out the data: " << std::endl;
	std::cout << "Input: " << std::endl;
	st

[2018-12-22 08:57] NacOJerk commented on #1609
NVM was using the wrong lost function .

[2018-12-22 08:57] #1609 closed

[2018-12-22 13:03] Mirage1089 commented on #1603
@NacOJerk , yes I was able to compile and run mlpack with the VS version 15.6.7.

[2018-12-22 13:04] NacOJerk commented on #1603
@Mirage1089 I was able to actually run mlpack on the latest VS17 release

[2018-12-22 13:17] Mirage1089 commented on #1603
@NacOJerk oh okay, congrats! I tried first with vs 15.9.4 but not able to...….then I had to switch previous version.

[2018-12-22 15:12] NacOJerk opened #1610 "Is there a guide about how to use nvblas ?"
Is there a guide or an explanation about how to use nvblas / cuda blas instead of OpenBLAS ?

[2018-12-22 15:31] gmanlan commented on #1606
You can actually upgrade to a Preview Version or downgrade a little bit. It´s painful but not a big deal, nothing really will change other than the bug being fixed. I´m using a previous minor version and it works fine. You can track the progress of the fix at VS community, and now that mlpack has been added to their battery test, it should help moving forward.

[2018-12-22 16:30] tharindu-mathew commented on #1606
I just upgraded to 15.9.4. It is still occurring :(. I doubt whether any
preview build would fix this. Downgrading looks like I have to uninstall
cleanup and reinstall? I'm unable to do this easily as I function with a
organization license. Oh well.

I just want to use some gmms in my work. I'll see whether the libraries
that got built can handle this. I can't downgrade until I at least verify
tha

[2018-12-23 09:40] insane-abhi commented on #1569
@atulim As visible, there is a referencing issue in your program which occurs when linker cannot find a definition for when it looks through all the object files and libraries that make up your program/project.

Also initialize clusters to a value, otherwise it will cause memory allocation error.

See the below snapshot for solution.
![screenshot from 2018-12-23 15-07-41](https://user-images.githu

[2018-12-23 16:10] rcurtin commented on #1607
Would it have helped you if this tutorial: https://www.mlpack.org/docs/mlpack-git/doxygen/sample_ml_app.html had had the additional dependency on libopenblas.dll.a listed?  That is definitely a change that would be easy to make.

[2018-12-23 20:39] lhedjazi opened #1611 "Issues with MLPACK on Windows using Mingw"
Dear Mlpack community,

I am struggling since few days to compile Mlpack in the aim to use it in one of my projects but I am facing some issues according to CMake building configs. I tried everything possible and looked on the past issues submitted by Mlpack users. One of the issues is similar to the one we can find here : https://github.com/mlpack/mlpack/issues/813

I am using:
- Mingw version: g

[2018-12-23 21:50] ShikharJ commented on #1567
@eyildiz-ugoe Can you please confirm if your issue is fixed or not?

[2018-12-24 10:36] shishir1310 opened #1612 "Makefile:140: recipe for target 'all' failed"
After configuring CMake, I tried to build the library by typing 'make' command. Then I faced this issue that I cannot resolve. Please help to figure out why build fails.
My OS: ubuntu 18.04 lts
Followed Instructions: https://www.mlpack.org/docs/mlpack-3.0.2/doxygen/build.html

shishir@shishir-HP-ProBook-450-G2:~/mlpack-3.0.2/build$ make

Scanning dependencies of target mlpack_arma_config
[  0%] Up

[2018-12-24 15:59] rcurtin commented on #1612
Looks like a linking problem with HDF5.  Can you try upgrading to mlpack-3.0.4 and see if the problem persists?

If it does, I'll need the output of `VERBOSE=1 make` (it will be long) and the contents of the file `/usr/include/armadillo_bits/config.hpp` to figure out what's going wrong here.

Thanks!

[2018-12-24 19:08] shishir1310 commented on #1612
I have upgraded to mlpack-3.0.4. Still, the problem persists.
Any suggestion regarding this issue would be really helpful.

[2018-12-24 19:43] lhedjazi commented on #1611
Any thoughts about this issue?

[2018-12-24 20:09] shishir1310 commented on #1612
@rcurtin , The contents of the file */usr/include/armadillo_bits/config.hpp*  are given below

// Copyright 2008-2016 Conrad Sanderson (http://conradsanderson.id.au)
// Copyright 2008-2016 National ICT Australia (NICTA)
//
// Licensed under the Apache License, Version 2.0 (the "License");
// you may not use this file except in compliance with the License.
// You may obtain a copy of the License at

[2018-12-24 21:09] shishir1310 commented on #1612
@rcurtin , After running the following command I found this:
*cmake ../*
*make VERBOSE=1*

https://pastebin.ubuntu.com/p/m3BVQvp9Jp/

[2018-12-25 20:31] NacOJerk opened #1613 "Is there a way to separate a layer out of a trained network"
So Im using a code that is very similar to this code https://github.com/mlpack/models/blob/master/vae/vae_generate.cpp now I wish to separate the encoding layer out of the neural network once the network is trained. Is there a way to do it ? (I have looked in the API and I cant find any guide about it)

[2018-12-25 22:15] lhedjazi commented on #1611
I could make some progress.
After some investigations, the problem seems to appear just when I link to the generated mlpack dll. It works smoothly when I link to the static library (.a).

Even of that, I found also that using Openblas may be tricky in some cases ( for instance the [covariance computation example](http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/sample.html) do not work). This run s

[2018-12-26 06:18] NacOJerk commented on #1613
Thx hopefully O can save the layer aswell

[2018-12-26 15:44] rcurtin commented on #1612
Thanks.  This problem actually looks like it is in the installation of Armadillo (which would be a bug in how it is packaged).  Can you tell me what the output of `ldd /usr/lib/x86_64-linux-gnu/libarmadillo.so` is?  Also, `dpkg --get-selections | grep hdf5` would be useful for figuring out what's happened here.

By the way I suspect that a fix to this would be `sudo apt-get install libhdf5-dev` an

[2018-12-26 15:54] rcurtin commented on #1605
Probably the network is using a different random initialization.  You could try setting the random seed differently, or again---make the step size of SGD a little bit smaller.  Or, you could also try a different optimizer entirely.

So, the way you have it now can work, but also you could consider one-hot encoding the notes.  i.e., if your set of possible notes was (just to take a short example) [

[2018-12-26 18:36] rcurtin commented on #1611
Glad to hear you could make progress.  Honestly mlpack is much more robust on Linux but there are a lot of people using it on Windows (so it seems).  If there is any CMake fix we can do to make things easier for you I am happy to do that, but I don't have any Windows setup so I can't test or debug anything.

For building static libraries, you can configure with the `BUILD_SHARED_LIBS` CMake variab

[2018-12-26 18:38] shishir1310 commented on #1612
*@rcurtin , In the dropbox link I have given you the *ldd /usr/lib/x86_64-linux-gnu/libarmadillo.so* file
Dropbox link: https://bit.ly/2V7sGZT
install libhdf5-dev was installed in my laptop. And so installation has not changed the situation. I am giving the details about *dpkg --get-selections | grep hdf5* *

**Dear @rcurtin, Can you tell me how can I contribute in this project ? I am very interes

[2018-12-26 18:48] rcurtin commented on #1613
Yes, you could use the serialization to save the layer:

[code]

and later you could load it again:

[code]

and it would be ready for use.

[2018-12-26 18:54] rcurtin commented on #1612
Thanks for the output.  I can see that the libarmadillo.so file you have is linked against `libhdf5.so.101`, but that file does not appear to exist on your system.  How did you install Armadillo?  The output of `dpkg --get-selections | grep armadillo` could also be helpful here.

One idea would be to take a look through the list of open issues and find something you think you can help fix.  You ca

[2018-12-27 11:16] shishir1310 commented on #1612
@rcurtin , The issue is fixed. I hadn't correctly installed the dependency of Armadillo.
Thank you a lot for your support.

[2018-12-27 11:27] saksham189 opened #1619 "Code duplication in EvaluateWithGradient"
I was going through the codebase regarding RNN implementation.

In this PR https://github.com/mlpack/mlpack/pull/1467/files, where `EvaluateWithGradient` was added I see that the call to `Evaluate` was [removed](https://github.com/mlpack/mlpack/pull/1467/files#diff-0e560b4ae5054e7fe4c029ec9eb0f1a7L264) and[ code added that is exactly the same as that in the `Evaluate` function. ](https://github.co

[2018-12-27 12:20] ShikharJ commented on #1612
Good to know that the issue was resolved.

[2018-12-27 12:20] #1612 closed

[2018-12-27 13:06] zoq commented on #1619
Nice catch, looks reasonable to me, always nice to remove unnecessary code.

[2018-12-27 13:08] saksham189 commented on #1619
Okay, I will open a PR.

[2018-12-27 13:14] ShikharJ commented on #1619
@zoq @saksham189 The code looks duplicated, but it isn't because of the checks made in the initial part of `Evaluate` and `EvaluateWithGradient`. I had thought of reducing the duplication, but it would come at the cost of performance, which is more important.

[2018-12-27 13:32] zoq commented on #1619
It looks like it should be possible to call the Evaluate function inside the EvaluateWithGradient without adding up to the performance.

[2018-12-27 13:38] #1619 closed

[2018-12-27 13:39] ShikharJ commented on #1619
Yeah, even I seemingly missed the checks, but luckily the rationale behind keeping the current changes came back to me.

[2018-12-27 13:45] zoq commented on #1619
Just to be sure the part we . are talking about is:

[code]

in the ``EvaluateWithGradient`` function, which could be replaced by a call to ``Evaluate``.

[2018-12-27 13:47] ShikharJ commented on #1619
Yes, this part sure does borrow from `Evaluate`, but we also do a number of `if - else` checks before these, which would be redundant, and here will hit performance.

[2018-12-27 13:51] saksham189 commented on #1619
Just read the conversation. But I think the checks performed in `Evaluate` and `EvaluateWithGradient` are exactly the same so, we could remove them from `EvaluateWithGradient`?

[2018-12-27 13:56] zoq commented on #1619
The difference I see is:

[code]

which calls the function only if the given ``deterministic`` is different from the current one. The ``Evaluate`` function only checks if ``deterministic`` is true (inference mode).

[2018-12-27 13:58] zoq commented on #1619
I agree with @ShikharJ the check is essential, and does add up to the performance if called each time. Perhaps there is a solution we could avoid that check or modify the check in the ``Evaluate`` method.

[2018-12-27 14:03] ShikharJ commented on #1619
@zoq `Evaluate` also has a mandatory check:
[code]
which is given in `EvaluateWithGradient` as:
[code]
and I don't think we can remove the `if (parameter.is_empty())` line from `EvaluateWithGradient` as IIRC the dimensions of `parameter` are initialized through `ResetParameters()`. So this would be a logical error in my opinion.

[2018-12-27 14:31] saksham189 commented on #1619
I don't think I understand. If I call the `Evaluate` from `EvaluateWithGradient` then the `parameter` check will be performed inside `Evaluate` and `ResetParameters()` called accordingly. So, we could remove it from `EvaluateWithGradient`? @ShikharJ

[2018-12-27 14:55] saksham189 commented on #1619
If we call `Evaluate` will deterministic = false then the check should not run twice?

[2018-12-27 15:02] zoq commented on #1619
Agreed, in this case we just have to check for ``gradient.is_empty()`` in the ``EvaluateWithGradient`` function to initialize the gradient if necessary. I think @ShikharJ's point is that this introduces another if  expression that we have to check, one for ``gradient`` and another one for ``parameter``, which might be neglectable.

[2018-12-27 18:59] mascaretti opened #1621 "Python bindings not working"
* I am trying to compile mlpack 3.0.4 following the [instructions](http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/build.html) on Manjaro 18.0.

* Everything seems to work fine, but for the fact that when I try to import mlpack on Python (3.7.1) I see the following:
[code]

* The version of CMake I am using is 3.13.1 (I was checking: #1213) and Cython is 0.29.1-1 (as discussed: #1416).

* I have t

[2018-12-27 20:31] rcurtin commented on #1621
Hi there @mascaretti, sorry that it didn't work out of the box.  Thanks for the clear report.  I have a couple other questions...

 * Did you run `make install` to install the Python bindings?

 * You can try running the Python bindings in the build directory with, e.g.,

[code]

then `import mlpack` should work.

 * For the failing tests, it looks like maybe you did not run the tests from the rig

[2018-12-27 20:52] mascaretti commented on #1621
Dear @rcurtin, thanks for the super fast reply!

Answering in order:
1. Yes, I did run `make install`. I have tried doing it again, obtaining the
[following](https://github.com/mlpack/mlpack/files/2713345/make_install_output.txt). I also get a message printed on my shell:

[code]
I guess this is due to the fact I am re-running `make install`?

1. Python bindings work alright in the build directory

[2018-12-27 20:54] rcurtin commented on #1621
Thanks for the response.  Actually this appears to be a bug in the CMake configuration.  It turns out to be a duplicate of a bug I have been working on in the past few weeks:

http://knife.lugatgt.org/pipermail/mlpack/2018-December/003802.html

Since your issue is on Manjaro and not OS X, maybe I can reproduce it inside of a Docker container.  In any case, hang tight, I have some ideas of what is

[2018-12-27 22:15] profpv opened #1623 "Extracting Network Parameters layer by layer"
I have a neural network that I am interested in extracting the parameters from, layer by layer. I want to save the values to a text file then implement the NN in another program. I can save the weights of the NN using mlpack::data::save, but it doesn't delineate which parameters belong to which layer. According to the mlpack documentation [here](http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/annt

[2018-12-28 04:02] #1623 closed

[2018-12-29 21:04] kayoyin commented on #1605
Thank you! I got the training working for now :) It's still very slow so I'll have to experiment with different parameters etc.

Now, how do you save a model that has been trained? Is there a way to save the weights, and load the weights into a model for later use?

Thank you so much for all your help so far!

[2018-12-29 21:18] matiu2 opened #1624 "Stop data::Save from using Log::Info when using `fatal` param"
In this line, data::save uses Log::Info:

    https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/data/save_impl.hpp#L153

I'm writing a natural language processor that runs save on 60k files asynchronously, and the log output looks awful:

     '.[INFO ]

    '.[INFO ]

    '.Saving [INFO ]
    '.[INFO ]

Could we make it so that if the `fatal` param is turned on, it doesn't use Log::Inf

[2018-12-29 21:19] matiu2 commented on #1624
.. or perhaps remove that line completely and let the user choose whether to log it or not..

[2018-12-30 08:02] gaotx commented on #1425
Hi, I also have the issue of fatal error: 'tr1/tuple' file not found. I tried the ways discussed above but non of them helped. I configure by using
`cmake -D BUILD_PYTHON_BINDINGS=OFF -D USE_OPENMP=OFF -D CMAKE_CXX_COMPILER=/usr/bin/g++ -D CMAKE_CXX_FLAGS= -I /usr/local/include -D DEBUG=ON ../`

and I also comment 102 and 109 lines of CMakeLists.txt. To be clear, the lines are listed below.

102:

[2018-12-30 12:40] zoq commented on #1624
It's not the solution you are looking for, but you could set ``Log::Info.ignoreInput = true;`` before you call save and ``Log::Info.ignoreInput = false;`` afterwards.

[2018-12-30 12:43] zoq commented on #1624
About the timer, sounds like expected behavior to me: https://github.com/mlpack/mlpack/pull/1135 maybe I missed something?

[2018-12-30 14:20] lhedjazi commented on #1611
Thanks @rcurtin  for your feedback and sorry for this late answer

Yes I have already used that but as I told, if BUILD_SHARED_LIBS is set to OFF static libraries and executables are generated without issue. When I set it to ON without selecting to generate executables ("CLI_EXECUTABLES"), mlpack.dll is generated but does not work when I link to in my C++ project. It works fine when I link to the

[2018-12-30 15:56] rcurtin commented on #1624
I'd be fine if you want to add a `bool silent` parameter or something to `data::Load()` and `data::Save()`.  I thought that #1135 should have made the timers thread local though, so if that is not working and you see an error that you can fix, please feel free. :)

[2018-12-30 16:00] rcurtin commented on #1611
Given that the Windows build guide suggests setting `BUILD_SHARED_LIBS=OFF`, I would be fine with changing the default value of `BUILD_SHARED_LIBS` on Windows to `OFF`.  Do you think that would be reasonable?

For the covariance example, is it possible that the matrix is somehow ending up empty, and as a result no file is saved?  You could try printing it after computation:

[code]

I don't know e

[2018-12-30 16:02] rcurtin commented on #1605
Glad you got it working.  To save a model, you can see the documentation: http://mlpack.org/docs/mlpack-git/doxygen/formatdoc.html
Specifically, the "loading and saving models in C++" part is what I think you are looking for.

[2018-12-30 17:05] tharindu-mathew commented on #1606
So, I tried out dbscan because most of the libraries got built. It seems that it works (all necessary includes, libs, dlls are present) even though the test component of the build is failing. I'm not sure what libraries are affected, but this is great!

[2018-12-30 17:53] shishir1310 commented on #1542
@Wenhao-H, Is second issue(rating normalization) still on? If yes I would like to work on this issue.

[2018-12-30 18:38] rcurtin commented on #1606
Great to hear that it worked.  For the rest of the tests I guess we can wait until Microsoft releases an updated compiler and hopefully there will be no problems then.

I'll go ahead and close this issue now then---if there are still more problems we can reopen this or open a new one. :+1:

[2018-12-30 18:38] #1606 closed

[2018-12-30 19:51] rcurtin opened #1625 "DBSCAN isn't using `PointSelectionPolicy`"
It was pointed out in IRC today that the DBSCAN class, which has a template parameter `PointSelectionPolicy`, isn't actually using that template parameter class.  We should fix that.  This would be a good first issue for someone looking to contribute.  Here are the steps to fix the issue...

1. Read and understand what DBSCAN is and how it works.  Wikipedia or the original paper should suffice her

[2018-12-30 23:34] matiu2 commented on #1624
The timer code looks good to me. This is what I'm getting for my output of my prog; note the timers are 115 seconds, compared to 7 seconds total:

[code]

I'll try to create a test for the timers and go from there..

[2018-12-30 23:47] rcurtin commented on #1624
Actually, if the cumulative sum of timers across all threads is 116 seconds, then I don't see any problem.

[2018-12-31 04:32] Yugandhartripathi commented on #1625
I would like to work on this.

[2018-12-31 04:43] tharindu-mathew commented on #1606
Maybe you should put it on hold rather than close it, as the issue of
mlpack_test failing is not fixed yet.

On Sun, Dec 30, 2018 at 1:38 PM Ryan Curtin <notifications@github.com>
wrote:

--
Regards,

Tharindu

blog: http://mackiemathew.com/

[2018-12-31 04:51] rcurtin commented on #1625
Hi there @Yugandhartripathi, you are more than welcome to.  When you have a working PR, I'll review it and we can get it merged.

[2018-12-31 15:33] zoq commented on #1605
The Neural Network tutorial has also a section about Saving/Loading models: https://www.mlpack.org/docs/mlpack-3.0.4/doxygen/anntutorial.html#model_saving_loading_anntut

[2018-12-31 20:13] lhedjazi commented on #1611
Yes, I think it makes sense to set BUILD_SHARED_LIBS=OFF especially for new users of Mlpack and provided that dlls do not link correctly till the proff of the contrary.

I checked that the matrix is not endingup empty. I have already tried to display the cov matrix but hadn't see anything on the screen. I am sure the issue appear at this line of the code:

arma::mat cov = data * trans(data) / data

[2019-01-02 10:55] KimSangYeon-DGU commented on #1625
Hi @rcurtin, I read this issue. The specifications were so detailed that I wanted to fix and contribute. As a result, I made a PR #1627.
Could you review this code??

[2019-01-02 11:33] kayoyin commented on #1605
Sorry I should have checked out and found the documentation but thank you so much!
I have another question sorry, I was thinking of representing the target as a vector of 0s except at the index of the value to predict we have 1. Does mlpack have a loss function, something like categorical cross entropy, to support that format?

[2019-01-02 15:10] rcurtin commented on #1625
@KimSangYeon-DGU thanks!  I reviewed it.  It seems like I should try and make more issues with detailed specifications like this in the future. :+1:

[2019-01-02 15:12] rcurtin commented on #1605
Right, for this you can use `NegativeLogLikelihood`.  But there is no special need to change your labels---you can represent them just as a vector e.g. `[5, 3, 2, 2, 1]` or similar.  Note that the labels should start from 1, not 0.

[2019-01-02 16:09] kayoyin commented on #1605
As the `Train()` method of the RNN model takes in two armadillo cubes as inputs, how would the labels `[5, 3, 2, 2, 1]` be reformatted into a cube? What should each slice contain here?

[2019-01-02 16:20] rcurtin commented on #1605
Each slice corresponds to a sequence, and in each slice a column corresponds to a single time step.  So if a sequence has 10 time steps, and you have 100 sequences total, then your cube would have 100 slices, 10 columns, and 1 row.  That one-element row would contain the label for each time step.

The documentation for all this could definitely be improved, so thanks for sticking with it.  I hope

[2019-01-02 17:39] kayoyin commented on #1605
Thank you! So I tried with `NegativeLogLikelihood` with the labels containing the actual values as you suggested, but now the training doesn't seem to be working as my model is predicting the exact same thing at each training cycle, do you have an idea of what I might have done wrong?

[2019-01-02 17:57] Yugandhartripathi commented on #1625
Hi @rcurtin   Just made a PR #1628 . This is my first contribution in any C++ repo. <br>Thanks for such a detailed issue, it helped me take initiative and I learnt a lot about best practices,styles and standards required. <br>Looking forward to learn and contribute more.<br>
Can you please review this code?

[2019-01-02 18:38] rcurtin commented on #1621
Sorry for the delay on this one---I found the bug in CMake pretty quickly and was able to fix it, but I wanted to make CMake have a fatal installation error when it encountered problems.  That part took a bunch longer.

You can use the branch for #1629, or alternately you can wait until it's merged, and then the problem should be solved.

Thanks again for the report! :+1:

[2019-01-02 20:22] kayoyin opened #1630 "undefined reference to `boost::archive...` when building using cmake"
Hello,
I am encountering this issue when building as soon as I added `data::Save("model.xml", "model", model, false);`at the end of my program.

[code]

I installed boost on Ubuntu with `sudo apt-get install -y libboost-all-dev`

Thank you for your help!

[2019-01-02 20:42] rcurtin commented on #1630
You need to link against boost::serialization; add `-lboost_serialization` to your command line.  A simple Google search with your error message finds this answer with more detail:

https://stackoverflow.com/questions/17609965/boost-serialization-compile-error

[2019-01-02 21:21] rcurtin commented on #1611
I opened #1629 that will set this.

This one is very confusing to me.  Could it, somehow, be the division by `data.n_cols`?  You could try simplifying the expression and see if the following ones work...

[code]

Maybe you can help narrow down exactly which one is failing there, and this might help us make a minimum working example we can file with OpenBLAS.  Another thing might be to try with Vis

[2019-01-03 21:19] rcurtin commented on #1621
The issue should be fixed now, so I'll close it.  Thanks for the report!

[2019-01-04 09:34] akhandait opened #1631 "Cannot delete submodules when model parameter is true"
In layers that can have multiple layer objects such as the `Sequential`, `AddMerge` and others, the destructor only deletes the submodules when the `model` parameter is `false`.
So, if a new layer is added without maintaining a pointer like this:
[code]
there is no way to free the memory of that `Linear` object.
For now, a solution has been provided in #1594 by adding a new `DeleteModules()` funct

[2019-01-04 14:55] mascaretti commented on #1621
Dear @rcurtin thanks!

I have cloned via git, built and installed everything. Now bindings are actually installed.

However, after having manually run `export PYTHONPATH=/usr/local/lib/python3.7/site-packages/`, I get the following error from Python:

[code]
It looks like some linking is not working as expected.

--------------
I also wanted to report that running `./bin/mlpack_test` in `/home/and

[2019-01-04 15:40] rcurtin commented on #1621
Do you have mlpack installed multiple times on your system?

Run `ldd /usr/local/lib/python3.7/site-packages/mlpack-3.0.5-py3.7-linux-x86_64.egg/mlpack/hmm_train.cpython-37m-x86_64-linux-gnu.so` and see what it's linked against.  Ideally it should be `/usr/local/lib/libmlpack.so.3`, but if there is `/usr/lib/libmlpack.so` on your system that could be a different version, which could cause problems

[2019-01-04 17:45] mascaretti commented on #1621
I have tried to install it a number of times. Maybe I should clean everything up and start from scratch?

I have run the command to obtain the following (weird) output:
[code]
Yet
[code]
I honestly don't know what to do.

[2019-01-04 18:11] KimSangYeon-DGU commented on #1631
I just checked the sequential.hpp code.
The network variable is used based on vector container.
Is it the proper solution making the method to delete sub layer by index? If not, I will think about it more.
I want to hear your opinion. :)

[2019-01-04 19:12] rcurtin commented on #1621
The fact that ldd doesn't find anything to link against seems to suggest that there is only one version of mlpack installed on the system.  Still, it may not be a bad idea to clean everything up and start over, just to make sure we are not chasing a strange artifact.

If you run `LD_LIBRARY_PATH=/usr/local/lib/ ldd /usr/local/lib/python3.7/site-packages/mlpack-3.0.5-py3.7-linux-x86_64.egg/mlpack/h

[2019-01-06 07:46] gauravcr7rm commented on #1152
Hi, I'm new to mlpack, and would like to work on gmm_generate, gmm_probability and gmm_train.

[2019-01-06 19:11] rcurtin commented on #1152
@guaravcr7rm @niteya-shah sounds good, looking forward to the results. :+1:

[2019-01-06 19:26] rcurtin opened #1633 "Add binding and tests for sparse_svm"
We have a nice implementation of a sparse SVM function from @shikharbhardwaj in `src/mlpack/methods/sparse_svm/`, but we actually don't have a nice binding to use it and it's not tested either.  This issue would be a nice task for someone who wants to learn more about the binding system and how to write new bindings.  To work on this, familiarity with SVMs will be necessary.  I'll try and write a

[2019-01-06 19:30] rcurtin commented on #1552
I think we can handle the bones of the `ModelCheckpoint` idea in ensmallen#49, so I'll close this in favor of discussion there. :+1:

[2019-01-06 19:30] #1552 closed

[2019-01-06 19:32] rcurtin commented on #1425
The original issue has been inactive for a while and I think it is resolved with #1523 being merged, so I'll go ahead and close this now.

[2019-01-06 19:32] #1425 closed

[2019-01-06 19:32] rcurtin commented on #1567
Closing for inactivity.  Feel free to reopen if needed. :+1:

[2019-01-06 19:32] #1567 closed

[2019-01-06 19:33] rcurtin commented on #1613
I think this question is answered so I'll close the issue to try and keep the issues list manageable. :)  Feel free to reopen if needed. :+1:

[2019-01-06 19:33] #1613 closed

[2019-01-06 19:34] rcurtin commented on #1605
It could be a step size issue or another optimizer configuration issue---it's really hard to know.  It sounds like you have the data configured right, so I think your best bet here might be experimenting with different optimizer (and network) configurations and seeing what works and what doesn't.  :+1:

[2019-01-06 19:34] rcurtin commented on #1610
I'll close this one too since the question is answered. :+1:

[2019-01-06 19:34] #1610 closed

[2019-01-06 19:35] rcurtin commented on #1359
This has been inactive for a while so I'll close it now.  If there is more work to be done here or anything we can reopen it. :+1:

[2019-01-06 19:35] #1359 closed

[2019-01-06 19:36] rcurtin commented on #1455
I think that the primary part of the work here is discussed in #1481 now, so just in the interest of keeping the bug tracker neat I'll close this one.

[2019-01-06 19:36] #1455 closed

[2019-01-06 19:37] rcurtin commented on #1276
Closing this one for inactivity.  We can reopen if needed.

[2019-01-06 19:37] #1276 closed

[2019-01-06 19:38] rcurtin commented on #771
I think this one is not being worked on and it doesn't seem like a huge priority, so I'll close it for inactivity.  If someone is interested in figuring it out, it would be great to add, so we can reopen it if there is interest. :+1:

[2019-01-06 19:38] #771 closed

[2019-01-06 19:42] KimSangYeon-DGU commented on #1633
@rcurtin I would like to work on this.

[2019-01-06 22:32] rcurtin commented on #1633
Sure, feel free.  This one will be a little more involved than #1625. :)

[2019-01-07 14:23] dante2608 opened #1634 "6 failures are detected in the test module "mlpackTest""
Dear dev team,

I ran the mlpack_Test and got 6 failures as the result. I known that we can safely ignore the one in GaussianMatrixSensingSDP but i am now sure about the others.

Please have me to take a look at it,

Thanks,

Last login: Mon Jan  7 08:58:54 on console
Dats-MBP:~ dante_2608$ cd Downloads/
Dats-MBP:Downloads dante_2608$ cd mlpack-3.0.4
Dats-MBP:mlpack-3.0.4 dante_2608$ cd build/
Dat

[2019-01-07 15:20] rcurtin commented on #1634
I think that I've adjusted the tolerance for the `GaussianMatrixSensingSDP` test, so in future releases that shouldn't be an issue.

The others are more concerning though.  I see two "types" of error:

1. Something to do with serialization.  This covers `SerializationTest/LayerNormSerializationTest`, `SerializationTest/EmptyHoeffdingTreeTest`, and possibly `PreprocessImputerMainTest/PreprocessImpu

[2019-01-07 15:36] AYESDIE opened #1635 "Incorrect function signature for SparseSVMFunction::Gradient()"
While going through #1633, I found the signature for function `SparseSVMFunction::Gradient()` in it's declaration and definition doesn't match.

`sparse_svm_function.hpp`
[code]

`sparse_svm_function_impl.hpp`
[code]

[2019-01-07 16:09] mascaretti commented on #1621
So, I have tried building and installing mlpack on a different machine (with the same OS).
I experience the same issue here.

[code]
I don't know why it cannot link to the proper library. I have also tried:
1. running `LD_LIBRARY_PATH=/usr/local/lib/ ldd /usr/local/lib/python3.7/site-packages/mlpack-3.0.5-py3.7-linux-x86_64.egg/mlpack/hmm_train.cpython-37m-x86_64-linux-gnu.so`
[code]

1. Running `

[2019-01-07 16:21] rcurtin commented on #1621
Ok, glad that (3) worked ok.  But I'm surprised that `libmlpack.so.3` wasn't able to be opened for either case (1) or (2).  Are you sure the file `/usr/local/lib/libmlpack.so.3` exists?

Also, maybe LD_LIBRARY_PATH needs to be exported, i.e.,

[code]

I am not sure on that last part though.

[2019-01-07 16:34] rcurtin commented on #1621
I see, did you run `make install` successfully?  `libmlpack.so.3` must have been installed somewhere...

[2019-01-07 16:46] mascaretti commented on #1621
I am reporting here what happens if I re-run `sudo make install` from `mlpack/build`

[code]

[2019-01-07 16:47] rcurtin commented on #1621
Oh, strange, the library got installed to `/usr/local/lib64`:

[code]

So try using `LD_LIBRARY_PATH=/usr/local/lib64/` instead and let's see what happens.

[2019-01-07 17:34] rcurtin commented on #1621
Great!  I am glad you got it worked out.  I imagine it would be possible to install mlpack in a different location (i.e. using `CMAKE_INSTALL_PREFIX` or something) so that setting `PYTHONPATH` and `LD_LIBRARY_PATH` aren't needed, but at this point maybe it is easier to just keep it set up the way that you have it set up. :)  Glad that mlpack is useful for your thesis, and feel free to open more is

[2019-01-07 17:34] #1621 closed

[2019-01-07 17:54] AYESDIE commented on #1633
hey @KimSangYeon-DGU, are you working on this issue?
I would also love to work on this.
I have a class SparseSVM ready, would you like to team up and split the task?

[2019-01-07 17:58] KimSangYeon-DGU commented on #1633
@AYESDIE Actually, I'm working on this.

[2019-01-07 18:00] AYESDIE commented on #1633
alright, have fun :)

[2019-01-07 18:04] KimSangYeon-DGU commented on #1633
@AYESDIE Sorry, for the my delayed PR, actually, I rethink how can I solve this.
If you want to team up, how can we team up?? :)

[2019-01-07 18:09] AYESDIE commented on #1633
If you are on `discord`, I can email you my tag and we can talk, discuss and solve it there.

Else, we can discuss through email and solve it out.

[2019-01-07 18:13] KimSangYeon-DGU commented on #1633
@AYESDIE Is there any further progress??, If not, I want to solve this. Actually, I made a lot of tries for this.
I'm afraid I'm being too greedy.

[2019-01-07 18:16] KimSangYeon-DGU commented on #1633
@AYESDIE My email address is sy0814k@gmail.com

[2019-01-07 18:50] KimSangYeon-DGU commented on #1633
@AYESDIE I sent a request for communication in `discord`.

[2019-01-07 20:09] KimSangYeon-DGU commented on #1633
@AYESDIE Could you check your email or  `discord` if you have a time??

[2019-01-08 05:09] Wenhao-H commented on #1542
@shishir1310 Sorry for the late reply. The second issue is not fixed yet and you are welcome to work on this one:)

[2019-01-08 08:43] rpanwar2020 opened #1638 "compiling mlpack on cygwin"
I am trying to compile mlpack 3.0.4 on Cygwin64. I am getting the following errors when running cmake. Prior to invoking the cmake command below for installing mlpack, I installed armadillo as follows:
[code]
My cywin64 had BLAS and LAPACK already installed and so the armadillo install went ok. Please advise on how I can fix the mlpack cmake issue. Thank you!

[mlpack-cmake.txt](https://github.com

[2019-01-08 11:09] KimSangYeon-DGU commented on #1638
@rpanwar2020 Did you read [this](https://github.com/mlpack/mlpack/wiki/WindowsBuild)??

[2019-01-08 11:11] saksham189 opened #1639 "Ambiguous use of WeightSizeVisitor in recurrent"
I am not sure about the use `WeightSizeVisitor` on this line in recurrent.
https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/layer/recurrent_impl.hpp#L89-L92

`WeightSizeVisitor` returns the number of weights or is there a different use?

[2019-01-08 11:18] KimSangYeon-DGU commented on #1633
Because he did it first and I respect the spirit of the open source, I handed over this to @AYESDIE . Perhaps he will start working if he reads the mail. :)

[2019-01-08 14:02] rcurtin commented on #1638
It looks to me like mlpack is trying to use Armadillo symbols that depend on HDF5.  Since you are using the wrapper (libarmadillo.a), then basically either the wrapper needs to be linked against HDF5, or you need to comment out the `#define ARMA_USE_HDF5` in `armadillo_bits/config.hpp`.  I think if you make that change and rebuild Armadillo, everything should work fine.

[2019-01-08 16:44] rcurtin commented on #1634
Ok, thanks for looking into that.  So we can rule out Boost version issues as the cause.  If you can try on a Linux system also that would be great.  I have been unable to reproduce the issue on the Linux systems I have, but I might borrow a Macbook tonight to see if I can reproduce it there.

[2019-01-08 16:47] rcurtin commented on #1635
Fixed via #1635.  Thanks for pointing out the issue. :+1:

[2019-01-08 16:47] #1635 closed

[2019-01-08 16:47] rcurtin commented on #1630
I think this issue is solved so I will close it.  If not, we can reopen it. :+1:

[2019-01-08 16:47] #1630 closed

[2019-01-08 18:07] rpanwar2020 commented on #1638
@KimSangYeon-DGU and @rcurtin: thank you for the helpful pointers. I will first try to make mlpack work on cygwin since I use it for other projects. If I can't get cygwin to work, then I will look at MSVC option.

Per the suggestion, I removed the HDF5 dependency. I did it by using -DDETECT_HDF5 in cmake invocation. However, it was also giving me unresolved symbols from blas and lapack. So I reins

[2019-01-09 00:14] rcurtin commented on #1638
Hmm, so I am not a Windows expert, but I do wonder if it might be worth avoiding the Armadillo wrapper by commenting out `#define ARMA_USE_WRAPPER` in `config.hpp`, and then mlpack's CMake configuration should link directly against the BLAS and LAPACK libraries.

[2019-01-09 12:08] zoq commented on #1639
Nice catch, we should remove the lines.

[2019-01-09 12:10] Mirage1089 opened #1643 "Why mlpack is running slow?"
Hello,

I am trying to train the mnist dataset using Randomforest algorithm in mlpack. I am following the tutorial that is given in the mlpack website (https://www.mlpack.org/docs/mlpack-3.0.4/doxygen/sample_ml_app.html).

I am not understanding one thing why mlpack is taking very very long time. Like, in my program i am just loading mnist data and train the model. Last day, I waited almost 6 hour

[2019-01-09 13:05] NoSaintNick opened #1644 "Compilation Error of "sample-ml-app" in VisualStudio2017 (C++)"
I tried to compile the basic "sample-ml-app" (doc/examples) that processes "german.csv" (src/mlpack/tests/data) on my system:

Windows 7 64bit
Visual Studio 2017 for C++ (SDK-Version 10.0.17763.0)
MLPack 3.0.4
Boost 1.66 (used the installer "boost_1_66_0-msvc-14.1-64.exe", the compiled source version wouldn't work)
Armadillo 9.200.6

Because I copy/pasted the tutorial code from http://mlpack.org/d

[2019-01-09 16:30] rcurtin commented on #1643
Can you tell me how you have compiled the program?  I compiled the same on my system and I see fast performance for MNIST training and testing for a random forest.

Another note is that the example program there actually (effectively) trains 11 random forests---1 at the beginning at 10 for the `KFoldCV` part.  So I would expect it to take longer than the Python implementation that just learns one

[2019-01-09 16:43] rcurtin commented on #1638
:+1: Let me know if that works.  Even though I am not a Windows expert I can learn by proxy by knowing what worked for people. :)

[2019-01-09 17:15] rcurtin commented on #1644
Ooh boy, I don't think this one looks like a lot of fun.  The "easy way out" is to not use k-fold cross-validation but that is not a very gratifying solution. :)

To give a little context, the `KFoldCV` class has to verify that the model that is being used (its template parameter, in this case `RandomForest<GiniGain, RandomDimensionSelect>`).  That verification is done with template metaprogrammin

[2019-01-09 17:49] mascaretti opened #1646 "[NMF] Python binding inverting H and W"
The documentation of Non-negative matrix factorization Python binding states:

However, this is contradicted by the execution of the following code.
[code]

[2019-01-09 17:51] rcurtin commented on #1643
Right, so this is not running `KFoldCV`---that's fine, but the runtime should be comparable to scikit-learn then since it is (roughly) the same operation.  How did you compile the code?  If it is so slow I am suspecting that you have debugging symbols on or that you have not enabled optimizations.

[2019-01-09 18:21] Mirage1089 commented on #1643
I have compiled the code with visual studio (x64).  Basically I did not change any settings in the project except which are mandatory to run mlpack. So, no debugging symbols are turned on, But yes I did not enable optimization.

Although i did not enable the optimization it should not take this amount of time(7 hours and still running).

[2019-01-09 18:51] manish7294 opened #1647 "Bound terminal state of mountain_car environment to goal position"
Currently terminal state of mountain car reinforcement learning environment (`mountain_car.hpp`) is bounded by the `max_position`. Though using `goal_position` is slightly better option in-place of `max_position`, as it allows us to move past the terminal state which is not possible while using `max_position` as terminal state.

In short, the aim is to introduce a goal_position parameter in mounta

[2019-01-09 20:06] rcurtin commented on #1643
That entirely depends on the compiler.  mlpack makes use of a lot of advanced C++ template metaprogramming features, so it would be pretty important to enable optimization.  I have no idea how much of a difference optimization vs. no optimization will make on Visual Studio but I can say that with gcc (with optimizations), the code produced is quite fast.

[2019-01-09 21:45] KimSangYeon-DGU commented on #1647
@manish7294 Is there person who was assigned?? if not, I would like to try it.

[2019-01-09 22:56] KimSangYeon-DGU commented on #1647
Please tell me, if there's anything I can do to help. :)

[2019-01-10 03:08] rpanwar2020 commented on #1638
Followed your suggestion about bypassing armadillo via the ARMA_USE_WRAPPER. That helped quench most of the blas and libpack errors. However, there were still some lingering errors with unresolved symbols in blas. So I am putting this mlpack on cygwin project on hold for the moment. I will get back to it later in the year and will update you.

[2019-01-10 03:08] #1638 closed

[2019-01-10 05:51] manish7294 commented on #1647
@KimSangYeon-DGU If you would like, please feel free to take this up.

[2019-01-10 09:43] KimSangYeon-DGU commented on #1647
@manish7294 Okay, I'm working now. :)

[2019-01-10 10:44] NoSaintNick commented on #1644
Thanks for your reply. I was actually confused that I couldn't compute the basic tutorial for the mlpack-library. The "easy way out" is an option to me personal as I am not dependent on this feature at the time. But it is a limitation to (possibly more) windows users that has to be dealt with.

As you state it is probably a compiler/system configuration based error since it is working for the auth

[2019-01-10 12:15] Mirage1089 commented on #1643
Okay, then I will definitely try this and let you know. Just one thing,

Can you please tell me, did you run the Random Forest dataset for mnist full dataset in Visual Studio 2017 (using gcc compiler)  in Windows machine? And how long it took to train the mnist dataset for you? Maybe you do not remember the correct time, you can tell me the approximation time.

Thank you.

[2019-01-10 13:45] rcurtin commented on #1643
I don't use Visual Studio or Windows.  My simulations were run on Linux.  On my system (a reasonably modern desktop) the training took under a minute.  However, it is very hard to compare the two numbers since I don't know anything about your system; and the speeds given by different compilers can differ quite a lot too.

[2019-01-10 13:47] rcurtin commented on #1638
Sounds good, glad that change helped you get closer.  If you come back to this project, happy to try and help more.  Maybe we might discover some improvements we can make to the CMake configuration that will make it easier for others. :+1:

[2019-01-10 13:51] rcurtin commented on #1644
Agreed---it would be great to figure it out, but these things are always hard to debug.

If I remember right, the tutorial was written with 15.9.1 or some earlier 15.9 version.  So it sounds like this may be a compiler regression.

Unfortunately I don't know how to make Visual Studio give this output if it isn't already in the error message. :(

If you're able, do you want to try with an older ver

[2019-01-10 14:55] manish7294 commented on #1647
As @zoq mentioned in https://github.com/mlpack/mlpack/pull/1649#issuecomment-453087922, a Q learning test could be a good check.

@zoq could you please help out here.

[2019-01-10 14:56] NoSaintNick commented on #1644
Maybe the Output-Log could help, there is more to it than just the error messages (they are given seperately in an Error-List).

It could also depend on the different Armadillo version (tutorial version is 8.500.1, I am using 9.200.6) but then other problems would occure aswell.

1>------ Build started: Project: MLPACK_Test_Console, Configuration: Debug x64 ------
1>MLPACK_Test_Console.cpp
1>d:\ml

[2019-01-10 15:08] utkarshch9 commented on #1501
i want to contribute in this issue so could you please tell me what more should i do ?

[2019-01-10 15:15] KimSangYeon-DGU commented on #1647
Thanks!! I'll try it. :)

[2019-01-10 15:39] zoq commented on #1647
Have to take a closer look into the issue, but I think for now we can just go with the C++ test.

[2019-01-10 16:58] KimSangYeon-DGU commented on #1647
@zoq Agreed!! :)

[2019-01-10 17:50] Shekharrajak opened #1651 "Not able to install properly"
I followed the steps given in [docs](http://www.mlpack.org/docs/mlpack-3.0.4/doxygen/build.html), but when I try to run mlpack command, I am getting this error :

[code]

Please let me know, if you understand the problem.

[2019-01-10 18:01] Shekharrajak commented on #1651
Running `sudo apt-get install libboost-all-dev` command solved my problem.

[2019-01-10 18:01] #1651 closed

[2019-01-10 21:48] shishir1310 commented on #1631
HI@akhandait ,
I would like to work on this issue.

[2019-01-11 00:42] dante2608 commented on #1634
HI Ryan,

I have a chance to run a quick test on my friend's computer and it passed successfully. But now when I tried to compiled a simple problem it gave me error. DO you have any idea, I though that include the -lboost_system would have fixed it but it didn't.

Thanks

tom@tom-Ubuntu:~/Downloads/mlpack-3.0.4/build$ g++ -std=c++11 -lboost_system -o test test.cpp -DDEBUG -g -rdynamic -lmlpack
/us

[2019-01-11 00:46] zoq commented on #1634
[code]

linking against ``boost_program_options`` should solve the issue, so the build command should look something like:

[code]

[2019-01-11 07:44] KimSangYeon-DGU commented on #1506
Hi @rcurtin. In work list, the 1 and 2 have been done and the 3 almost has been done. To use the git version in build, the version should be `x.x.x.x` or `x.x.x` format(x is integer from 0 to 655). However, the git version is 7 hexadecimal string, so we should convert this string to x.x.x.x format. So, I have a idea on converting it. **Combine two words into a integer number**. Below is example. L

[2019-01-11 14:21] shreyash8 opened #1652 "Error running test program given in tutorial"
I am using ubuntu 16.04 .
I followed instructions given here (http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=build.html#build_dep) . Everything went fine. After this i tried to run example program (Simple logging example) as in here (http://www.mlpack.org/docs/mlpack-git/doxygen.php?doc=iodoc.html) , But i am unable to compile it. Here is the code :

#include <mlpack/core.hpp>
#include <mlp

[2019-01-11 18:01] shreyash8 commented on #1652
Sorry, I found my mistake. I exported path but it was not working
==> export LD_LIBRARY_PATH=/usr/local/lib
So, I just included this path and it worked.
==> g++ -std=c++11 test.cpp -lmlpack -lboost_program_options  -L/usr/local/lib

[2019-01-11 18:01] #1652 closed

[2019-01-12 03:46] rcurtin commented on #1511
I just opened #1653, which can automatically generate something that looks like my mockup.  Here it is in action: http://www.ratml.org/mlpack_test/docs.html.  (ignore the ensmallen header at the top, I didn't bother mocking that up)

[2019-01-12 15:47] rcurtin commented on #1506
Hehe, @KimSangYeon-DGU, thanks for the extensive analysis.  But I was thinking something much simpler, just like we do for existing Linux builds. :)  Basically we just use the git hash... so if the hash is `b23d5ce` then the version is `mlpack git-b23d5ce`.  CMake will already generate `${CMAKE_BINARY_DIR}/src/mlpack/core/util/gitversion.hpp`, which will have this text in it, so I think the only t

[2019-01-12 15:49] rcurtin commented on #1501
Hi @utkarshch9, I think that Wenhao has laid out the details of what to do pretty well.  If you're unfamiliar with the code, I'd suggest spending a good amount of time reviewing the code and any relevant papers until you're able to understand what needs to be improved. :+1:

[2019-01-12 18:04] walragatver commented on #1483
Hi Can I work on this issue? I am new to mlpack looking forward to contribute in GSOC 19.
 I have seen code of logistic regression.

[2019-01-12 21:44] zoq commented on #1483
Hello @walragatver the comment above still applies, so if you like to work on the issue, please feel free.

[2019-01-13 14:17] ShikharJ commented on #1639
Fixed in #1645.

[2019-01-13 14:17] #1639 closed

[2019-01-13 22:21] leonplust commented on #1589
Anyone is working on this?

[2019-01-14 14:16] Mirage1089 commented on #1643
The machine configuration is, core i7 6th generation, 3.4 Ghz, 32 GB memory and NVIDIA Quadro K2200 (2 GB memory).  I think enough to run :)
Basically i did not know that mlpack is targeted Linux user, otherwise i would not come here definitely. I was really convinced by reading its high performance. My work is to perform something in the real time that's why performance is very important.

[2019-01-14 16:13] NoSaintNick commented on #1644
@KimSangYeon-DGU @rcurtin I rebuilt the mlpack library according to the mentioned master build guide and encountered the same errors. This time I used the folders `C:\boost\boost_1_66_0`, `C:\mlpack\armadillo-9.200.6` and `C:\mlpack\mlpack-3.0.4` and the given command lines for cmake as instructed (with respect to the newer Armadillo version). Last time I built it in my library directory where oth

[2019-01-14 16:59] rcurtin commented on #1643
Yes, that system is roughly as powerful as the one I am running on too.  mlpack should do fine for your task on Windows, but I am relatively convinced that you are seeing slow speeds because optimizations are not enabled by the compiler or some other part of your compilation configuration is not right.  In fact even in our AppVeyor builds we see roughly the same performance of the mlpack test suit

[2019-01-14 18:00] zoq commented on #1589
No, please feel free to take a closer look into the issue.

[2019-01-14 18:10] zoq commented on #1643
I'll try to reproduce the issue on my windows machine, just to get some more results.

[2019-01-14 19:47] rcurtin opened #1658 "Implement wrapper for diagonally-constrained GMM HMMs"
This is a follow-up to issue #1499.  Specifically, there I wrote

But I was too optimistic, and I don't think I have time to do this.  However I thought it might be a nice task for someone looking to contribute.  So I will try to detail the steps to do this below.  Overall, our goal is to make it easy for users to train Hidden Markov Models with Gaussian Mixture Models where each Gaussian has the

[2019-01-14 20:19] rcurtin opened #1660 "Accelerate HMM `Forward()` and `Backward()` by precomputing probabilities"
This is a nice issue based on #1499 that could result in a pretty large speedup for mlpack's HMM implementation.  Basically, to notice the problem, see that in `src/mlpack/methods/hmm/hmm_impl.hpp`, we have these methods `Forward()` and `Backward()` that contain loops that individually call `LogProbability()` over and over again for different data points and different emission states.

Ideally we

[2019-01-14 20:20] rcurtin commented on #1499
I've opened #1658 and #1660 to handle the two suggestions here, so let's move discussion to there.  Once those are closed, I think that we will see significant speedups for the HMM code. :+1:

[2019-01-14 20:20] #1499 closed

[2019-01-14 20:29] rcurtin opened #1661 "`GradientAtrousConvolutionTest` and `GradientTransposedConvolutionTest` fail often; is `Gradient()` implemented right?"
I noticed when working on #1640 that I had to significantly adjust the tolerance of `ANNLayerTest/GradientAtrousConvolutionTest` in order to get it to reliably pass.  Often the difference could be quite large, even larger than 0.1.  I am concerned that this might be an implementation bug.

So, I think that `src/mlpack/methods/ann/layer/atrous_convolution_impl.hpp` needs to be reviewed to ensure th

[2019-01-14 21:04] KimSangYeon-DGU commented on #1644
@NoSaintNick
Thank you for detailed description. I misunderstood my VS(Visual Studio) version. I'm so sorry. As mentioned @rcurtin, it seems a VS2017 bug in the latest version. For error analysis, I upgraded the VS version to 15.9.5 and the error you encountered did happen to me as well (However, this error did occur not in the middle of building the mlpack but in the middle of compiling the code

[2019-01-14 22:38] ShikharJ commented on #1661
@rcurtin Hmm, the code was merged in a hurry as far as I remember, though I don't think I suspect its correctness. I'll take a thorough look and reach back.

[2019-01-14 22:40] KimSangYeon-DGU opened #1662 "Reduce the Windows build execution time."
We use AppVeyor to build the `mlpack` in Windows.  Because the AppVeyor offer 1 hour build execution time, it should be done within the time. However the build time depends on the situation (Sometimes it takes about 45 minutes and sometimes it takes long than 60 minutes). So we need to check why this time gap happens and resolve it. Please refer to #1642.

To date, the proposed solutions are:
1. [

[2019-01-15 01:04] rcurtin commented on #1662
I sent an email to support@appveyor.com to see if anything can be done about the time limits.  I'll update this issue when I hear back. :+1:

[2019-01-15 02:03] rcurtin commented on #1646
You're right, thanks for pointing this out.  I've opened #1663 to fix the issue.

Long (potentially boring) details of why this happened: mlpack uses a column-major representation of matrices, since this is what Armadillo (and under it, FORTRAN libraries like LAPACK and BLAS) use.  Due to the numpy/C++ conversion, when the `V_0` matrix gets to mlpack, it receives a matrix of size 6x10 (not 10x6 as

[2019-01-15 06:01] durgesh21 opened #1665 "commands to install mlpack dependencies in ubuntu and debian"
the commands to install mlpack dependencies is not working without "sudo"

[2019-01-15 06:57] KimSangYeon-DGU commented on #1658
I'm working now. :)

[2019-01-15 09:39] Mirage1089 commented on #1643
Okay, yesterday I tried by turning on the optimization. I had selected the "Maximum Optimization (Favor Speed) (/O2)" option in the project property page.
Unfortunately, I did not see any change. After running around 80 mins, I stopped the program.

[2019-01-15 14:43] NoSaintNick commented on #1644
With your experience @KimSangYeon-DGU and as @rcurtin suggested before I downgraded my VS to version 15.6.7 (the furthest downgrade available at [Microsoft](https://docs.microsoft.com/de-de/visualstudio/productinfo/installing-an-earlier-release-of-vs2017)). I tried to avoid this effort but it seems to resolve the problem :)

[armadillo_cmake_log.txt](https://github.com/mlpack/mlpack/files/2758949/

[2019-01-15 15:04] rcurtin commented on #1665
The `#` character for the prompt indicates that it is a command to be run as root; that can be via sudo or a root shell or any other way.  However, I am not opposed to changing it to `$ sudo apt-get install ...` since that is what the other documentation does.  Would you like to open a PR for that?

[2019-01-15 15:12] rcurtin commented on #1644
@NoSaintNick thanks for the digging here.  If your report to Microsoft is on a public bug tracker, do you mind posting a link here so I can track what their response is?

Thanks!

[2019-01-15 16:40] zoq commented on #1644
@NoSaintNick Perhaps you still have a system that you could use to verify https://github.com/mlpack/mlpack/pull/1667? It works on my setup, so I guess it should work for yours as well.

[2019-01-15 18:50] saksham189 opened #1668 "different input to layers inside AddMerge"
In the current implementation of the `AddMerge` module and other layers with `run` parameter we pass same input to all the layers inside the module. (line 56)

https://github.com/mlpack/mlpack/blob/fc8d296f9c42837fca232e67a4d0e40bed93aed6/src/mlpack/methods/ann/layer/add_merge_impl.hpp#L49-L60

Should we rather use a vector datatype to pass different input to different layers inside this module? @

[2019-01-15 20:45] zoq commented on #1643
Looks like I can reproduce the issue on Windows and on Mac OS as well, I use https://pjreddie.com/media/files/mnist_train.csv for the test; @rcurtin if you have a chance can you test the dataset as well? Or maybe you already did.

[2019-01-15 21:15] zoq commented on #1643
Okay, just another update, the mac OS run finished in about 10 minutes with a single thread, which might be reasonable.

[2019-01-15 23:44] zoq commented on #1643
I get the same results if I build with ``-DUSE_OPENMP=OFF`` on windows as well, which should be the case anyway since MSVC doesn't support OpenMP > 2.0. So I guess one option is to use Clang on Windows.

[2019-01-16 00:11] rcurtin commented on #1643
I double-checked with the CSV you used @zoq and saw roughly the same things.  With OpenMP using 8 cores the whole process takes 30 minutes on my system (that includes RF training and k-fold cross-validation).  I also tested with `mlpack_random_forest`, just to build one RF, and that takes roughly a minute if `num_trees` is 10 and less than 5 if `num_trees` is 50.

[2019-01-16 01:12] rcurtin commented on #1662
Here's what I got back:

[code]

Do you think this is good enough to close the issue now?  Or should we continue focusing on the other suggestions?

[2019-01-16 02:22] KimSangYeon-DGU commented on #1662
Wow~ Great!! :).  I think it would be better to close this issue now, because one of the proposed solution is fulfilled. If necessary, in the future, we can open another issue to reduce the Windows build time, and optimize our build environment like what you did #1664.

[2019-01-16 05:04] amet-vikram13 commented on #1660
Hey @rcurtin...I am new here (Hello!)..I have pretty much understand the problem and  i am looking into it...

[2019-01-16 11:01] Mirage1089 commented on #1643
@zoq , yes, Visual Studio 2017 supports only OpenMP 2. Basically from the beginning I enabled openmp in visual studio. It seems the mlpack uses OpenMP 3.1 or upper version. This might be the problem. So, in windows did you test it with Clang or other compiler?

[2019-01-16 11:46] NoSaintNick commented on #1644
@rcurtin I reported this issue to [Microsoft](https://developercommunity.visualstudio.com/content/problem/428732/159-c-compiler-regression-template-parameter-pack.html).

Thank You for helping me!

[2019-01-16 11:51] NoSaintNick commented on #1644
@zoq Sorry just saw your post after closing this issue since I didn't reload this page. I will give it a try and post my result.

[2019-01-16 13:27] Shekharrajak opened #1670 "Python version Installation - PackagesNotFoundError"
[code]

So it is not installing it :

[code]

[2019-01-16 13:36] Shekharrajak commented on #1670
Using pip

[code]
It is installing old version.

[2019-01-16 16:07] amet-vikram13 commented on #1660
Hey @rcurtin ..can you tell me how to run your tests once you made changes in the file of the method....basically i want to run mlpack_hmm_train..

[2019-01-16 16:08] rcurtin commented on #1670
What if you try the following?

[code]

and

[code]

?  Do those work?  If they do, we can update the documentation.

[2019-01-16 16:19] NacOJerk commented on #1610
Was anyone able to link nvblas with arma ? (I wasn't able to link it)

[2019-01-16 18:18] Shekharrajak commented on #1670
for `pip install mlpack3` :

[code]

For conda

It took a long time. Is there any way to check the version installed in python ?

[2019-01-16 18:22] rcurtin commented on #1670
The package is right here:
https://pypi.org/project/mlpack3/
Maybe you are not on a `manylinux` system that can install what we can make available through PyPI?

[2019-01-16 18:40] Shekharrajak commented on #1670
It looks like , pip should through some other error :

[code]

https://github.com/pypa/packaging-problems/issues/177

I am using  Python 3.7.1

[2019-01-16 19:00] rcurtin commented on #1670
Well, there's the issue---use Python 3.6 since that is the latest version of Python for which `mlpack3` is available.  In the next release I'll be sure that it's packaged for 3.7 also.

[2019-01-16 19:31] zoq commented on #1643
I used MSVC and forced to use a single thread only (``set OMP_NUM_THREADS=1``). Will test clang in the next days.

So I wonder if scikit does something different here, since 56 seconds for the same model (@Mirage1089 did you use the same settings?) is way faster.

[2019-01-16 19:33] rcurtin commented on #1643
I don't think it's a fair comparison, since I don't believe scikit was doing k-fold cross-validation and I'm not sure all the parameters were the same.

[2019-01-16 19:37] zoq commented on #1643
Right, so perhaps @Mirage1089 can share the script he used and we can at least compare the settings.

[2019-01-16 20:09] zoq commented on #1644
Great, thanks for opening the issue on the MS page.

[2019-01-16 20:50] mirraaj commented on #1660
@rcurtin Your point is correct that we should add the feature to compute log probabilities at one time.

Just a quick check, Are you looking something like this (https://github.com/mlpack/mlpack/blob/fc8d296f9c42837fca232e67a4d0e40bed93aed6/src/mlpack/core/dists/gaussian_distribution.hpp#L175-L194). Here I think, log probabilities are being calculated all at once.

[2019-01-16 23:07] rcurtin commented on #1660
@amet-vikram13: I saw your question was answered earlier in IRC.  `make mlpack_hmm_train` and `make mlpack_test` should be helpful.

@mirraaj: Yeah, exactly like what you pointed out.  But that function doesn't exist for every distribution type.  I've updated the description---we should call it `LogProbability()` just as it is for `GaussianDistribution`.

[2019-01-17 09:04] inglada opened #1671 "ISO C++ study group on Machine Learning"
A study group on machine learning has been created by the ISO C++
committee. There are interesting discussions about the features and
tools needed for efficiently implement ML algorithms in C++ and I am
sure that mlpack developers will have very interesting things to say.

The goals of the SG are outlined in this paper http://www.open-std.org/jtc1/sc22/wg21/docs/papers/2018/p1360r0.pdf

There is a

[2019-01-17 14:57] rcurtin commented on #1671
Hi @inglada,

Thanks for the information.  I think that my thoughts are roughly the same as yours in the Google Groups comment you left---I'm not clear on exactly what the group is aiming to do.  It would definitely be nicer to have better interoperability between different machine learning toolkits, but I'm not sure that native language support is lacking for this anywhere.  We've already built e

[2019-01-17 15:02] rcurtin commented on #1634
#1640 is merged, so I'll go ahead and close this now. :+1:

[2019-01-17 15:02] #1634 closed

[2019-01-17 15:06] NoSaintNick commented on #1644
@zoq I tried the workaround you presented and it works fine with my up to date version of Visual Studio. There was a problem on my notebook only with the debug-version. But after deleting the files in my intermediate direction they were recompiled using the workaround.
Thank you for posting it here!

[2019-01-17 15:15] inglada commented on #1671
@rcurtin AFAIK the SG is open to anyone willing to contribute, so do not hesitate to join the mailling list and share your thoughts.

Furthermore, I think that, if authors of different C++ ML toolkits could discuss together, that would be great to mitigate the drawbacks of fragmentation we suffer from today.

[2019-01-17 15:17] manish7294 commented on #1647
I'm going to close this issue as it has been dealt with in #1649.

[2019-01-17 15:17] #1647 closed

[2019-01-17 15:20] rcurtin commented on #1671
Hehe, I don't think I have the time to join the group, but it's good to know it exists. :)  I see the Shogun developers regularly, but we haven't had too many discussions or efforts to reduce fragmentation.  I suspect that we all have different goals in mind in our development, and this leads us all to different solutions (hence the fragmentation).  It's not great for the user, to be sure, but I t

[2019-01-17 16:13] Rajiv2605 opened #1672 "Implementation of a few deep learning layers"
@rcurtin @zoq I am extremely interested to work in deep learning modules. I want to implement the following layers for ANN:
- [x] Dice Loss function
- [ ] Dense blocks
- [ ] Uncertainty Map

Please let me know your thoughts. I have worked on the above layers in Caffe and Tensorflow and I want to implement them in MLPack. I have used them in biomedical dataset and they were instrumental in producin

[2019-01-17 17:44] mirraaj commented on #1660
@rcurtin , I think we should go with ```LogProbability``` instead of ```LogProbabilities```. I think I can complete this work before coming weekend. Let me see if I need any help.

[2019-01-17 21:09] zoq commented on #1672
Hello @Rajiv2605, I think each idea has something interesting and I think each one is an opportunity to get familiar with the codebase, so if you like to work on the ideas please feel free. Perhaps it makes sense to start with the loss function.

[2019-01-18 13:54] zoq commented on #1672
Sounds good, let me know if I should clarify anything.

[2019-01-18 14:07] zoq commented on #1644
Great, thanks for testing the patch. Still would be nice if the MSVC team can fix the compiler issue.

[2019-01-18 15:16] saksham189 commented on #1668
This is how merge Layers are implemented in Keras and is also required for my BRNN implementation. @zoq

[2019-01-18 16:33] saksham189 commented on #1668
Just realised that this would be inconsistent with the way the rest of the layers take input in mlpack and could be a problem.
Closing the issue as of now.

[2019-01-18 16:33] #1668 closed

[2019-01-18 21:13] Rajiv2605 commented on #1672
@zoq I have opened PR for dice loss class implementation here: #1674
Please let me know what you think :)

[2019-01-19 08:07] awesumrit opened #1675 "Make command not working after running cmake"
make: *** No targets specified and no makefile found. Stop.
This is the error I am getting.

[2019-01-19 09:45] DwaraknathT opened #1676 "GsoC 2019"
Hey everyone, I was wondering if mlpack is applying as an organization at GSoC 2019. I noticed that some projects from last year haven't been completed, like the implementation of deep-Q networks and other algorithms.

[2019-01-19 10:12] ShikharJ commented on #1676
Yes, we do plan to apply for GSoC 2019. This should've been taken up in the IRC, or on the mailing list. Closing for now.

[2019-01-19 10:12] #1676 closed

[2019-01-19 14:31] NacOJerk opened #1677 "mlpack running at the same speed with nvblas"
So I was finally able to run mlpack using nvblas , now when I run the code it seems to still be at the same speed (I am using the following code https://github.com/mlpack/models/blob/master/vae/vae_cnn_mnist/src/vae_cnn.cpp)
Now, I do see that the program is using a bit of the GPU but barely any.

I was wondering if anyone ever experienced it and has a solution (I am saying solution because the co

[2019-01-19 19:19] rcurtin commented on #1481
Let's continue the discussion in ensmallen#49.  I'll close this issue. :+1:

[2019-01-19 19:19] #1481 closed

[2019-01-19 19:24] #1475 closed, assigned to nobody

[2019-01-19 19:36] rcurtin commented on #1269
For anyone looking to contribute, this is a semi-challenging issue that requires some knowledge of how nearest neighbor works with spill trees.  You can reproduce @vasiloglou's original issue by running the following command once you've built mlpack:

[code]

This runs k-nearest-neighbor search in single-tree mode using spill trees with a leaf size of 5.  (So, every leaf in the spill tree contains

[2019-01-19 19:42] rcurtin commented on #404
We can continue discussion in mlpack/ensmallen#71, since this is now a part of ensmallen.

[2019-01-19 19:42] #404 closed

[2019-01-19 19:44] rcurtin commented on #401
Since this is a part of ensmallen now, I opened mlpack/ensmallen#72, and we can continue discussion there.

[2019-01-19 19:44] #401 closed

[2019-01-19 19:46] rcurtin commented on #395
Since LRSDP is a part of ensmallen now, I opened mlpack/ensmallen#73.  We can continue any discussion there. :+1:

[2019-01-19 19:46] #395 closed

[2019-01-19 19:48] rcurtin commented on #272
I don't think this is worth the effort anymore.

[2019-01-19 19:48] #272 closed

[2019-01-19 19:50] rcurtin commented on #175
I think this is obsolete since the plans for documentation are changing so significantly.  We can continue the discussion in #1511 but I think this issue is no longer relevant in the way it was originally written.

[2019-01-19 19:50] #175 closed

[2019-01-19 19:50] rcurtin commented on #150
@robertohueso great work, very happy to have this merged.  I will finally close this issue as fixed after so many years. :+1:

[2019-01-19 19:50] #150 closed

[2019-01-19 20:17] mirraaj commented on #1432
@zoq, I am following this issue presently. This issue deals with implementation of Reinforce algorithm in Mlpack. As per experimentation, Reinforce generally suffers from the high variance. I personally feel that A2C would be better to implement. Please let me know your inputs.

Also, do you know of any issue/PRs which concentrates of A2C presently? It seems that A2C is still not supported by Mlpa

[2019-01-19 21:02] rcurtin opened #1680 "Example issue that should get tagged by mlpack-bot as 'unanswered'"
I have zero intuition for whether or not what I've done will even work.  Let's find out!

[2019-01-19 21:05] rcurtin commented on #1680
And the answer appears to be no!

[2019-01-19 21:05] #1680 closed

[2019-01-19 21:05] rcurtin opened #1681 "Example issue that should get tagged by mlpack-bot as 'unanswered', round two"
Intuition has increased slightly, suggesting that this could possibly work.

[2019-01-19 21:06] rcurtin commented on #1681
Getting closer...

[2019-01-19 21:06] #1681 closed

[2019-01-19 21:06] rcurtin opened #1682 "Example issue that should get tagged by mlpack-bot as 'unanswered', round three"
Ok, I think it will work this time.

[2019-01-19 21:06] rcurtin commented on #1682
Aha!  Perfect.

[2019-01-19 21:06] #1682 closed

[2019-01-19 21:08] rcurtin opened #1683 "Example issue that should get tagged by mlpack-bot as 'unanswered', last test"

[2019-01-19 21:08] #1683 closed

[2019-01-19 22:18] rcurtin opened #1685 "mlpack bot test again"
Is it still working at all ?

[2019-01-19 22:19] rcurtin commented on #1685
Seems like it...

[2019-01-19 22:19] #1685 closed

[2019-01-20 15:53] krototype opened #1687 "Problem compiling mlpack code"
I am new to mlpack community, I was trying to compile the code related to simple loading of data but could not get through. I have followed the installation procedure as on mlpack website.
IDE used - CodeBlocks

Code:
[code]
But encountered with the error:
```undefined reference to `bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > cons

[2019-01-20 21:57] zoq commented on #1687
Can you provide the command you used to build the example code, note you have to link against mlpack e.g. ``g++ example.cpp -std=c++11 -larmadillo -lmlpack``

[2019-01-20 22:07] Mirage1089 commented on #1643
@zoq the python script,

import time
import numpy as np
import pandas as pd
import pickle
import matplotlib.pyplot as pt
from sklearn.ensemble import RandomForestClassifier
from sklearn.externals import joblib

start_time = time.time()
training_data = pd.read_csv("data/mnist_train.csv").values
rf = RandomForestClassifier(n_estimators=100)

xtrain = training_data[:,1:]
ytrain = training_data[:,0]

[2019-01-21 15:48] jsxs0 commented on #1643
Trying changing the environment of the code. I tried working on it with Windows but it didn't show anything wrong, either.

[2019-01-22 18:55] chrisvwn opened #1688 "Building mlpack using the Intel Compiler"
I am trying to build mlpack using the intel compiler. However, I am getting an error to the effect:

[code]
Is the intel compiler not supported as seems to be suggested at [https://mailman.cc.gatech.edu/pipermail/mlpack-git/2015-June/006789.html](https://mailman.cc.gatech.edu/pipermail/mlpack-git/2015-June/006789.html)?

Screenshot for reference:
![screenshot from 2019-01-22 21-53-35](https://user

[2019-01-22 19:41] rcurtin commented on #1688
It looks like you're trying to use mlpack-2.2.2... have you tried a newer mlpack version?  The error may not be present in newer code.

We've done our best to support the Intel compiler but at least at the time of the message that you found, it appeared that the Intel compiler crashed while trying to compile mlpack.  It's been three and a half years since I tried with the Intel compiler, so I'm no

[2019-01-22 19:50] chrisvwn commented on #1688
I have just tried it with mlpack 3.0.4 and got the same error.

[2019-01-22 19:59] zoq commented on #1677
Do you mind to test the code from the stackoverflow question (https://stackoverflow.com/questions/51526442/dgemm-nvblas-gpu-offload)? That might give us some more insights.

[2019-01-22 20:08] rcurtin commented on #1688
Ok---thanks for the information.  Honestly I believe this is a bug with the Intel compiler and so the right thing to do is probably file an issue with them.  If you can produce a workaround, I'd be happy to incorporate it into the codebase, but I don't have a copy of the Intel compiler to try and figure something out with, unfortunately.

[2019-01-22 20:09] rcurtin commented on #1677
Also, for what it's worth, I think the batch size will make a difference here.  NVBLAS is good when large matrices are being multiplied, so that it is worthwhile to move the matrix to the GPU for each computation, but it won't be very helpful for lots of small operations.  A larger batch size means a larger matrix computation at each level of the network, and so this should give better GPU usage a

[2019-01-22 21:57] zoq commented on #1688
I'm currently on a compiler journey, so I might be able to take a look into the issue over the next days probably over the weekend; unless somebody else likes to. But as Ryan already pointed out this is probably a compiler bug, in which case we have to find a workaround. Btw. not sure the kmeans code is the only place that triggers the error, if that's the case and you don't need the kmeans code i

[2019-01-23 02:37] #1646 closed

[2019-01-23 08:03] chrisvwn commented on #1688
@zoq We would be delighted if you could get the time and dig around on our workstation. My colleague even reminded me that we are not restricted to a particular intel compiler version after all so you have free rein. Come to think of it, yes, it has built a few other modules so kmeans might be the only culprit. However, we are happy to use this opportunity to see if the full mlpack build for intel

[2019-01-23 09:33] Mirage1089 commented on #1643
@jsxs0 , Can you please tell a bit more that what did you try and in which environment and compiler did you use in windows? It will be helpful if you write in more details.

[2019-01-23 16:43] awesumrit opened #1690 "Help regarding contribution"
Hi! I am new here. Can somebody please guide me how can I start contributing, which issues to take and which suborganization shall I work for. I have installed mlpack but I am confused which tutorials to see first and how to basically start contributing. Any help would be greatly appreciated.

[2019-01-23 16:48] rcurtin commented on #1690
Hi, have you seen http://www.mlpack.org/involved.html?  That has a pretty detailed description of how one might get involved.

[2019-01-23 17:54] awesumrit commented on #1690
Thanks. I was just confused regarding where to start and what issue to take.

[2019-01-23 17:54] #1690 closed

[2019-01-25 01:13] rcurtin commented on #1506
With #1506 merged, we can close this now.  Thanks @KimSangYeon-DGU! :+1:

[2019-01-25 01:13] #1506 closed

[2019-01-28 20:19] shardulparab97 commented on #756
Hi @rcurtin , I wanted to ask which part of the issue is yet pending, since RSModel is complete and issue #889 works on RAModel. I am interested in contributing to MLPack, can you please help me out. Thanks! :)

[2019-01-29 06:08] coderboyisongithub opened #1693 "Will your latest library run on visual studio 2012?"
I have visual studio 2012 and I am using your latest release 3.4.0,Its tutorial says i require visual studio 2017,So can i run do this?

[2019-01-29 14:42] rcurtin commented on #1693
Have you tried it?  Since you have both mlpack and Visual Studio 2012, you're the most qualified to answer the question.  Older versions of mlpack caused 'internal compiler error's though, so I'd say it's unlikely to work.

[2019-01-30 02:35] shashank-007 commented on #1565
@rcurtin i am beginner .can you provide me guidelines and steps so that i can work on this issue?

[2019-01-30 09:13] bhavya01 opened #1694 "Segmentation Fault: preprocess_split"
I am getting a segmentation fault when I run this in python3.5

[code]

but on removing input_labels, it works fine.

`output = mlpack.preprocess_split(input=dataset, test_ratio=0.1)`

I built mlpack-3.0.4 from source on Ubuntu 16.04
Armadillo version: 6.5

Please suggest how to find out the issue.

[2019-01-30 11:27] saksham189 opened #1695 "Cannot use saved network outputs rnn"
In `rnn` class we can call `Evaluate` with `deterministic = false` which saves the output parameters from each layer of rnn.
https://github.com/mlpack/mlpack/blob/7d448192cc045555e36ee76a2dca51ce9637ac66/src/mlpack/methods/ann/rnn_impl.hpp#L217-L224

But I don't think there is any way to use these saved parameters for training the rnn.

- `EvaluateWithGradient` will save its own parameters during