[2020-02-11 04:13] codeboy5 commented on #2181
@kartikdutt18 Thanks a lot. Please add some more issues to work on

[2020-02-11 04:47] rcurtin commented on #2190
Ha, I know why this happened.  We switched from a white-on-black to black-on-white website, but the scripts still invert the Doxygen images.  Fixed in https://github.com/mlpack/mlpack.org/compare/f054f4fc8486abe5a096649ad76aae121d51dcc0...3e86fe4fbf403d4a79f6b86eb80c01d8538d4164 and I redeployed the site.  Thanks for pointing it out! :+1:

[2020-02-11 04:47] #2190 closed

[2020-02-11 06:47] kartikdutt18 commented on #2181
Will do, @ojhalakshya and I are currently compiling another list of functions that need to be added, hopefully it will be posted by today or tomorrow.

[2020-02-11 17:28] ojhalakshya opened #2200 "Adding All Loss Functions"
Hello, I was going through loss functions and managed to get a list of loss functions that aren't implemented yet. I found these using pytorch and tensor flow kindly refer for more informations.
The list goes as:

1. HingeEmbedding Loss (taken by me)
2. CosineEmbedding Loss (taken up by @kartikdutt18)
3. MultiLabelMargin Loss
4. TripletMargin Loss
5. L1 Loss
6. BCE Loss

This might not be complete

[2020-02-11 17:30] gaurav-singh1998 commented on #2200
Hi, I would like to add MultiLabelMargin Loss, is it okay to move forward?

[2020-02-11 17:32] kartikdutt18 commented on #2200
Hi @gaurav-singh1998, feel free to do so.

[2020-02-11 17:45] prince776 commented on #2200
Hi, I would like to work on L1 loss, is it okay if i work on it?

[2020-02-11 17:47] kartikdutt18 commented on #2200
Feel free to do the same. Just a suggestion, Last time I missed a function that had already been implemented, just check that the function you want to work on hasn't been implemented.

[2020-02-11 18:10] codeboy5 commented on #2200
Hi, I would like to work on TripletMargin Loss, can I start working on it ?

[2020-02-11 18:12] kartikdutt18 commented on #2200
Hi @codeboy5, feel free to do so.

[2020-02-11 18:17] ojhalakshya commented on #2200
I am quite overwhelmed by the responses :).
Kindly make yourself comfortable with the above list.
You might also like to add some if you get your hands on some by doing some research.

[2020-02-11 20:53] UmarJ commented on #2200
Hey @ojhalakshya @prince776, I found the L1 loss function [here](https://github.com/mlpack/mlpack/blob/f68fc14a77fbab24d586092ceac2294f62564b18/src/mlpack/core/metrics/lmetric.hpp#L101) as a typedef under the LMetric template.

For anyone looking for information about the addition of metrics, the documentation [here](https://www.mlpack.org/doc/mlpack-3.1.0/doxygen/metrics.html) might be useful.

[2020-02-11 22:23] pmixer commented on #2177
There are different kinds of Attention https://lilianweng.github.io/lil-log/2018/06/24/attention-attention.html

[2020-02-12 04:37] rcurtin commented on #2200
Awesome to see this collaborative effort, thanks everyone for pitching in. :+1:

[2020-02-12 06:12] kartikdutt18 opened #2201 "Addition of Adaptive pooling"
Hi everyone, I have implemented adaptive pooling and sent a PR for the same however there are certain aspects that I'm not sure about. The layer is very similar to existing pooling layers but every deep learning library had a similar so I added it but as @saksham189 pointed out there is code duplicity to certain extent. So I have summarized the conversation below and I wanted to know how I should

[2020-02-12 06:33] ojhalakshya commented on #2200
Happy to be of help!
:)

[2020-02-12 12:01] mhangaard opened #2202 "LASSO regression (L1 regularization)"
Is it possible to do LASSO regression with mlpack?
I see both linear ridge regression and LARS implemented, but straight LASSO seems not to be available?

[2020-02-12 12:09] mhangaard commented on #2202
Related to #2200

[2020-02-12 21:12] himanshupathak21061998 commented on #2200
Sorry @prince776 I didn't noticed your comment. Let me know if you want to work further.

[2020-02-13 02:38] kartikdutt18 commented on #2201
Hi @zoq, what do you think on how it should be implemented?
Thanks.

[2020-02-13 03:46] kartikdutt18 commented on #2200
Hi everyone, I think it would be best if everyone could comment on what they start working on as this would prevent people from working on the same issue. Also if you want to drop an issue then feel free to do the same by leaving a comment.

[2020-02-13 03:46] kartikdutt18 commented on #2200
Hi @prince776, you can work on smooth L1 loss if it hasn't been implemented.

[2020-02-13 04:48] codeboy5 commented on #2200
Hi @kartikdutt18, I am having some problems working with TripletMargin Loss,  can I work on smooth L1 or can you help me a little bit with the triplet loss, I am familiar with the mathematics but have some problem implementing it.
Thanks

[2020-02-13 04:53] kartikdutt18 commented on #2200
Hi @codeboy5, No worries you can leave TripletMargin Loss for now, we can work on it later, Sure you can work on smooth L1, if @prince776 has no issue with and if @prince776 would like it he can work on TripletMarginLoss. I would more than happy to help in anyway I can.
You two can decide what you want implement and I would be more than happy to help.
Thanks for all your work.

[2020-02-13 05:01] codeboy5 commented on #2200
Hi @prince776, can you take up the triplet margin loss?
Thanks a lot in advance!!!

[2020-02-13 07:57] ojhalakshya commented on #2200
Hey guys, I found BCE(Binary Cross Entropy) loss function and I am adding it to the list as well. If anyone interested kindly feel free to take it.
It can be referred [here](https://towardsdatascience.com/understanding-binary-cross-entropy-log-loss-a-visual-explanation-a3ac6025181a), it is also on pytorch [here](https://pytorch.org/docs/stable/_modules/torch/nn/modules/loss.html).
Thanks.

[2020-02-13 08:01] ojhalakshya commented on #2200
I kindly request all to please mention who is taking up which loss function to avoid ambiguity.
You may add it to the following text.

1. HingeEmbedding Loss (taken by me)
2. CosineEmbedding Loss (taken up by @kartikdutt18)
3. MultiLabelMargin Loss
4. TripletMargin Loss
5. L1 Loss
6. BCE Loss

[2020-02-13 09:19] gaurav-singh1998 commented on #2200
@gaurav-singh1998)

[2020-02-13 16:16] saksham189 commented on #2201
I think it would be fine to just have the conversation at one place. In this case on your PR https://github.com/mlpack/mlpack/pull/2195 . Otherwise it gets difficult to keep track of the discussion.

[2020-02-13 16:18] mrityunjay-tripathi commented on #2193
Can you give us some more info such as which version of Armadillo you have?
Is the directory where Armadillo is installed is included to the path?

[2020-02-14 04:52] prince776 commented on #2200
Sorry for the late response @kartikdutt18 I will gladly work on TripletMarginLoss, I was almost done with the L1 loss but it's okay if it's already been done. @codeboy5 Feel free to work on smooth L1 loss.

My internet was out for some time so I couldn't respond. Sorry for the delay.

[2020-02-14 04:54] himanshupathak21061998 opened #2205 "Removing DecisionStump class from mlpack"
`DecisionStump` has been marked as deprecated see #2099 . So, in mlpack 4.0.0 release we need to entirely remove `DecisionStump`  as user will use the `DecisionTree`
    class with `NoRecursion=true` or use `ID3DecisionStump` instead of using `DecisionStump`.

[2020-02-14 05:05] kartikdutt18 commented on #2200
Great @prince776 , If you need any help, I would more than happy to help in anyway I can. Thanks.

[2020-02-14 16:58] kartikdutt18 commented on #2201
Hi @saksham189, so I am closing this then.

[2020-02-14 16:58] #2201 closed

[2020-02-15 12:56] codeboy5 commented on #2200
Hi, @kartikdutt18 , I was searching for loss functions to implement and came across Hellinger Distance

It is the probabilistic analog of the Euclidean distance

Can I work on this ?
Best Regards

[2020-02-15 12:58] kartikdutt18 commented on #2200
Sure, just check it hasn't been implemented (I don't think it has but please confirm).

[2020-02-15 14:57] saksham189 commented on #2160
[The RNN test for the noisy sine waves](https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/recurrent_network_test.cpp#L150) below that also has an output size of 10. Does that also need to be changed?

[2020-02-15 15:00] saksham189 commented on #2160
Hi, @kathy-lee you look here for an example of using brnn with the lstm class.
https://github.com/mlpack/mlpack/blob/master/src/mlpack/tests/recurrent_network_test.cpp#L693
Let me know if you need any further help :)

[2020-02-15 18:19] kartikdutt18 opened #2211 "Addition of "none" type reduction in loss functions."
Hi everyone, I wanted to know if it would be okay to add support for "none" type in loss function. Currently we return mean or sum in loss functions (Generally, not true everywhere). Using none type users could have the following use cases:

1. Masking: None type reduction is useful for masking (each point will have a loss associated with it).

2. Allow user flexibility: Software should be more us

[2020-02-16 08:18] joeljosephjin opened #2212 "Error while building mlpack - in visual studio 2019 windows"
#### Issue description

I want to build mlpack from source for windows. The error is coming up when i build it.
#### Your environment

 * version of mlpack: latest
 * operating system: windows
 * compiler: visual studio 2019 latest
 * version of dependencies (Boost/Armadillo): latest x64
 * any other environment information you think is relevant:

#### Steps to reproduce

#### Expected behavior

#

[2020-02-16 09:13] khizirsiddiqui commented on #2170
@ojhalakshya how's the progress? Can I take up this if you are busy?

[2020-02-16 09:22] badrinath-reddy commented on #2200
Hi, @kartikdutt18 , I am new to mlpack and i found **Mean Absolute Percentage Error** which is not implemented.
https://www.tensorflow.org/api_docs/python/tf/keras/losses/MeanAbsolutePercentageError

can i work on this.

[2020-02-16 09:27] kartikdutt18 commented on #2170
Hi @khizirsiddiqui , There is already a PR open for the same. I think it is ready.

[2020-02-16 09:31] kartikdutt18 commented on #2200
Hi @badrinath-reddy, I think this is similar to MAE, if MAE isn't implemented feel free to pursue it.

[2020-02-16 09:42] badrinath-reddy commented on #2200
there is pull request for L1. So, i think i would be better if i implement Mean Absolute Percentage Error instead of MAE.

[2020-02-16 09:43] kartikdutt18 commented on #2200
Could you give a use for MAPE as it's 100* MAE.

[2020-02-16 09:44] kartikdutt18 commented on #2200
If that's the case we need not add it.

[2020-02-16 09:49] badrinath-reddy commented on #2200
MAE: **abs(y_true - y_pred)**
MAPE: **100 * abs(y_true - y_pred) / y_true**

It is 100*MAE / y_true.

Moreover it is used in xgboost.

[2020-02-16 11:20] codeboy5 commented on #2200
I think we can also implement it by adding a parameter in MAE itself, how about it? @kartikdutt18

[2020-02-16 12:30] joeljosephjin opened #2213 "internal compiler error while "make"-ing mlpack"
#### Issue description

I successfully did the cmake step. then i ran the "make mlpack_test" command. It was running for 15 mins. Then it got stuck, laptop was in near-frozen state for half-an-hour.
![IMG_20200216_174123](https://user-images.githubusercontent.com/34275997/74604657-16984700-50e6-11ea-9f29-df0bf2b1bf68.jpg)

 And then it threw the error pasted below.
#### Your environment

 * versio

[2020-02-16 12:34] joeljosephjin commented on #2213
Also, I have 4gb of RAM, in an intel i5 5th gen cpu. I'm dual booting alongside windows.

[2020-02-16 13:07] kartikdutt18 commented on #2200
I think that might be a better idea, However a member will provide better insight.

[2020-02-16 16:09] kartikdutt18 commented on #2211
Hi @zoq, what do you think?

[2020-02-16 18:25] rcurtin commented on #2205
Just as a note to anyone interested in working on this, this issue is kind of a code maintenance task, so if a PR gets opened for it, even if it's approved it shouldn't be merged until the 4.0.0 release is imminent. :+1:

[2020-02-16 18:27] rcurtin commented on #2213
Thanks for the clear report.  When you ran `make mlpack_test`, did you do it with multiple cores?  i.e. `make -j4 mlpack_test`?

[2020-02-16 18:30] rcurtin commented on #2212
Hmm, I think that this is similar to what @himanshupathak21061998 is fighting with for the Conda mlpack build in https://github.com/conda-forge/mlpack-feedstock/pull/18.  I have two ideas, but I'm not sure how well either will work...

 - Could you try building with a version of Boost older than 1.70?  e.g. Boost 1.69 would be fine, or older too
 - What happens if, when configuring with CMake, you

[2020-02-16 20:34] himanshupathak21061998 commented on #2212
@rcurtin May be Boost_NO_BOOST_CMAKE would not work. @joeljosephjin I think you should try different version of Boost.

[2020-02-17 07:03] joeljosephjin commented on #2213
no, i did not run it with multiple cores.

[2020-02-17 07:07] joeljosephjin commented on #2213
Later, I ran it with "make -j4 mlpack_test", it went straight to 30% in 15mins and then it froze for 3.5 hours after which I restarted the computer.
![](https://files.slack.com/files-pri/TQBGGK5DF-FU5AN53L6/img_20200217_085552.jpg)

[2020-02-17 07:14] joeljosephjin opened #2214 "Error while "make"-ing mlpack on Google Colab Notebook"
#### Issue description

Everything until the "make" step ran fine on the colab notebook.
#### Your environment

 * version of mlpack:
 * operating system:
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

https://colab.research.google.com/drive/1TjlXF0frwJLanUEZs4HssAO1CIyuD4Ha - this is the link to the

[2020-02-17 08:03] prince776 commented on #2181
Hi @kartikdutt18 is it ok if I work on ISRLU activation function.

[2020-02-17 08:20] kartikdutt18 commented on #2181
Hi @prince776, I think @PranavReddyP16 has implemented but there was some mix up in branches so there isn't a PR open. I think he could give you a better reply.

[2020-02-17 11:41] prince776 commented on #2181
Hi, @PranavReddyP16 have you implemented/planning to implement ISRLU?

[2020-02-17 11:45] PranavReddyP16 commented on #2181
Hey yeah I have implemented but need to fix something with my pr that I
couldn't do because I've been busy with college work.
I'll be able to do it today mostly

On Mon, Feb 17, 2020, 5:11 PM Prince Gupta <notifications@github.com> wrote:

[2020-02-17 11:46] prince776 commented on #2181
Ok, then I'll leave this to you. Good luck with it.

[2020-02-17 11:48] PranavReddyP16 commented on #2181
Thanks :)

On Mon, Feb 17, 2020, 5:16 PM Prince Gupta <notifications@github.com> wrote:

[2020-02-17 15:59] rcurtin commented on #2214
Hey @joeljosephjin, thanks for the report. This particular error looks like a Colab problem, not an mlpack problem:

[code]

So unfortunately I think you'll have to contact the Colab maintainers for this one; we can't fix it here. :(

[2020-02-17 15:59] #2214 closed

[2020-02-17 16:17] rcurtin commented on #2213
Using `-j4` will actually cause more memory usage, so I was just checking that you *weren't* using multiple cores.  It sounds like you weren't originally, which is good for memory usage.

I profiled compilation on my system, which has gcc 9 (but probably the memory usage is about the same as gcc 7).  I found that the maximum RAM usage while compiling any one file in `src/mlpack/tests/` is about ~3

[2020-02-17 16:20] birm commented on #2213
It looks like the kernel is killing the process for some reason, probably memory. If you can, run dmesg more or less immediately after this fails, and see if you get a line starting with `Out of memory: Kill process <some PID> (cc1plus)`.

[2020-02-17 16:39] rcurtin commented on #2202
Hey @mhangaard, the LARS paper details a simple modification that makes the algorithm equivalent to LASSO.  I believe that our implementation, which is based not just on the original "Least angle regression" paper but also a later paper by Zou and Hastie, will do that if you specify `lambda1 != 0.0`.

So, if you're using the C++ interface, just create LARS as

[code]

where `lambda1` is greater th

[2020-02-17 17:18] birm opened #2215 "Use common/simpler FindArmadilo.cmake (and BLAS/LAPACK)"
This is related to #2113, at least in the sense that it would help simplify CMakeLists.txt

Armadillo, BLAS, and LAPACK have nice and simple preexisting cross-platform FindX.cmake files in the cmake repo (and thus shipped with most newer versions of Cmake) which would help remove some special configuration done.

Note that this would also involve slight modifications to the test pipeline related c

[2020-02-17 17:29] rcurtin commented on #2215
I'm not sure if `FindArmadillo.cmake` is shipped with all versions of CMake we support, but in any case, we have a version in `CMake/`.

The specific lines of code in `CMakeLists.txt` that we'd like to remove are lines 300 to 338.  We'll need to ensure that the refactored/cleaned `CMakeLists.txt` works correctly on Windows, and possibly also update tutorials and other documentation.

[2020-02-17 18:27] rcurtin commented on #1957
Now that #2036 is merged, this issue is done. :+1:

[2020-02-17 18:27] #1957 closed

[2020-02-17 18:48] rcurtin commented on #2073
@zoq just checking in, did you have a chance to open an issue?  I don't see anything referenced here; just wanted to make sure it happened. :)  If you haven't had a chance I'm happy to do it. :+1:

[2020-02-17 21:06] shrit commented on #2073
@rcurtin @zoq I will open an issue for that in ensmallen. I will also try to make a pull request for it if I had time in the next few days.

[2020-02-17 21:32] shrit commented on #2185
@zoq @rcurtin I have been thinking about the optimizer `tolerance` in this scenario. If a user using an ANN has considered using `EarlyStoppingLossOnValidation` as a stopping criterion and forget to modify the `optimizer.Tolerance()` to `-1`. The user would not be sure which one of the criteria has triggered the end of the optimization. I think, in this case, it would be appropriate to set up the

[2020-02-17 23:36] rcurtin commented on #2146
While working through the patch this turns out to be more complex than I thought: the `FFN` class will set `outputParameter` to be equal to the previous layer's output, in `Forward()`:

[code]

But then the output is used again in `Backward()`:

[code]

So if a layer that takes ownership of the input is used as a layer that's not the first layer, this will cause problems.

It seems like the only w

[2020-02-18 04:53] codeboy5 commented on #2215
Hi, can I work on this issue?? I don't have a lot of experience with cmake, so if you can guide me with how to get started it would be great.

[2020-02-18 05:18] saksham189 commented on #2114
Closing as https://github.com/mlpack/mlpack/pull/2163 has been merged.

[2020-02-18 05:18] #2114 closed

[2020-02-18 07:07] PranavReddyP16 commented on #2215
Some guidance would be really helpful as even I don't have any experience with cmake and would like to learn

[2020-02-18 07:08] PranavReddyP16 commented on #2205
I would like to work on this issue

[2020-02-18 07:33] niranjanrao1509 opened #2217 "Documentation for reinforcement learning module not available. Can anyone help me out in running these programs"
#### Problem location

#### Description of problem

[2020-02-18 07:42] niranjanrao1509 commented on #2205
I would like to work on this issue

[2020-02-18 08:00] PranavReddyP16 commented on #2205
@niranjanrao1509 maybe we could collaborate?

[2020-02-18 09:55] khizirsiddiqui commented on #2217
Hey, @niranjanrao1509 did you try running any program/code yourself?
You can look here: [Reinforcement Learning Documentation](https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/namespacemlpack_1_1rl.html) for various methods and policies.
You can also look at various tests implemented like: `reward_clipping_test.cpp`, `rl_components_test.cpp` and `q_learning_test.cpp` to better understand how the RL

[2020-02-18 10:24] codeboy5 commented on #2181
Hi, @birm can I work on adding bipolar sigmoid activation function. I've seen it in a paper and some class slides on neural networks??

[2020-02-18 10:45] niranjanrao1509 commented on #2205
@PranavReddyP16  yeah sure.

[2020-02-18 15:35] birm commented on #2181
The benefit of an open source project such as this is that you don't have to ask permission! :) If you want to, just put in a PR and let us know when you'd like it to be reviewed.

[2020-02-18 17:36] birm opened #2221 "Windows Azure Tests Often Fail RecurrentNetworkTest on Windows VS"
#### Issue description

Frequently, in Windows Azure Pipelines, Test 88: RecurrentNetworkTest fails on PRs which have nothing to do with that test. This is confusing to PR authors, so having it as a logged issue may help out with review.

#### Your environment

 * version of mlpack: master/Pull Request Refs
 * operating system: Visual Studio 14 2015 Win64
 * compiler: msbuild
 * version of depende

[2020-02-18 18:16] rcurtin commented on #2221
A good place to start with this one would be to run the failing test through valgrind on Linux and see what comes back.  It may make it clear what is going on and how it can be fixed.

[2020-02-18 18:24] kartikdutt18 commented on #2221
Hi everyone, if it's okay, I would like to start working on the same.

[2020-02-18 18:34] rcurtin commented on #2221
Of course, go for it, see what you can find out. :+1:

[2020-02-18 20:11] UmarJ opened #2223 "Addition of SVM support for kernels"
I see that mlpack currently only has linear SVM, and no support for kernels. I talked to @rcurtin on IRC and am currently working on an SVM implementation that is templatized to use kernels from mlpack/core/kernels.

Thought I'd open this issue so people don't waste time working on something that I'm already working on :)

[2020-02-19 03:16] codeboy5 opened #2224 "Addition of Depth-Gated RNN Layer"
This is a variant of the GRU Layer which I am planning to implement.
Thought I'd open this issue so people don't waste time working on something that I'm already working on :)
References :

[2020-02-19 14:21] prince776 opened #2225 "Addition of Residual Blocks."
Hi, since MLPack doesn't have implementation of Residual Blocks and since they are crucial in making very deep networks I think adding it should be a good idea.

I would like to work on it, but first in which way it should be implemented should be decided. So I opened this issue.

**How it should be implemented?**
I think a residual block should take some variable amount of layers in template para

[2020-02-19 14:37] kartikdutt18 commented on #2221
Hi @rcurtin, @birm, I tried running `./mlpack_test -t RecurrentNetworkTest ` and I got No error occurred. Since this was an executable file I ran it with valgrind i.e. `valgrind ./mlpack_test -t RecurrentNetworkTest ` and I got the following results. Could you help in figuring out what I did wrong.
I ran it with sudo but I got the same result.
Also, how do I go about running .o file in `mlpack/bui

[2020-02-19 14:46] rcurtin commented on #2221
It looks like valgrind did not run correctly:

[code]

I'm not sure why this would happen; I've not encountered this before when using valgrind.  You might want to dig around and see if you can find anything more about that particular valgrind error. :+1:

[2020-02-19 14:47] kartikdutt18 commented on #2221
Sure I will try to figure it out. Thanks.

[2020-02-19 14:52] heytanay commented on #2181
I would like to add a function too, but I don't quite understand the format of activation function files present. Any help will be greatly appreciated as I am new here and want to contribute!

[2020-02-19 15:49] prince776 commented on #2181
There are two ways in which we implement activation functions.
1) Activation functions that have no hyperparameters, they are added in `mlpack/src/mlpack/methods/ann/activation_functions/`
You can take a look at any of these to get an idea of how they are implemented (I'll suggest `tanh_function.hpp` since most of us know how tanh works in forward and backward propagation.)

2) Activation function

[2020-02-19 16:15] shrit opened #2226 "Verify that ann is reading the entire dataset at least once"
Hello,

In the actual implementation of the Artificial Neural Network, the users are using the `Train()` function to train a model. We pass a dataset into the train function,  but we are not sure that in one epoch we are passing over the entire dataset.
It would be very appropriate to print a warning telling the user that the epoch did not pass over the entire dataset, asking to modify the `maxIte

[2020-02-19 17:12] birm commented on #2224
That's great; thanks for working on this. Looking forward to a PR!

[2020-02-19 18:41] birm commented on #2215
To add some context, cmake >=3.6.0, find_package works finds lapack, blas, and armadillo without requiring any special setup (in most circumstances at least).
So, there are different ways to handle this depending on how much you want to do now.

First, you could copy the [findLapack](https://github.com/Kitware/CMake/blob/master/Modules/FindLAPACK.cmake) and [findBlas](https://github.com/Kitware/CM

[2020-02-19 21:44] zoq commented on #2225
`ResBlock` could also be similar to the FFN class, which stores a layer vector and allows adding layers via the `Add` method. About the last layer, it should go over the weighted sum.

[2020-02-19 22:33] rcurtin commented on #2215
I'd strongly suggest that anyone wanting to work on this issue be familiar with CMake: CMake is our build system and so changes to it affect every single person who builds the library.  So I am pretty paranoid about the CMake setup and I think we all should be. :)

@birm I think that we can use only mlpack's `CMake/FindArmadillo.cmake` for this purpose, to remove the code from line 300 to 338.  Th

[2020-02-20 01:53] prince776 commented on #2225
Thanks for your suggestion. One last question, when new layer is added to `ResBlock` the residual connection will be changed to add to this new layer right?

[2020-02-20 02:01] birm commented on #2215
This, is based mostly on my thoughts rather than any testing at this point. With that disclaimer out of the way...

If I'm reading mlpack:FindArmadillo right, it tries to find a blas compatible and a lapack compatible library on the system, and it puts them all in a variable ARMADILLO_LIBRARIES. However, since we're not building armadillo, it's not armadillo that needs to link to lapack and blas,

[2020-02-20 07:36] bicycleman15 commented on #2226
Hi @zoq @birm Can I take up this issue ?

[2020-02-20 13:44] gaurav-singh1998 commented on #2226
Hi, @shrit I would like to move forward with this issue. Any hint from your side on how to move forward with it would be very helpful. Thanks.

[2020-02-20 13:55] shrit commented on #2226
@gaurav-singh1998 You can choose any dataset that can be trained with neural networks, then you reduce the `maxIteration()` parameter, and monitor how the training process using `Progressbar()` callback. If you choose a small `maxIteration()` much smaller than the dataset size, you will notice that the training will stop before completing the epoch.

[2020-02-20 15:39] joeljosephjin commented on #2213
I reinstalled Ubuntu on my PC and ran make again.
but same thing again.
/home/elian/mlpack-3.2.1/build/deps/ensmallen-2.10.3/include/ensmallen_bits/callbacks/callbacks.hpp: In instantiation of ‘static bool ens::Callback::Evaluate(OptimizerType&, FunctionType&, const MatType&, double, CallbackTypes& ...) [with OptimizerType = ens::SGD<ens::RMSPropUpdate>; FunctionType = ens::Function<mlpack::ann::R

[2020-02-20 15:44] kartikdutt18 commented on #2221
Sorry for the delay, I finally got it working. It says there is an invalid read block of size 8 in LSTMDistractedSequenceRecallTest. Once it's complete I will edit this post with complete message. Thanks.

[2020-02-20 18:18] jeffin143 commented on #2221
Chances are there , same happens with RecurrentNetworkTest/GRUDistractedSequenceRecallTest too,

I will have a look probably this Friday , if nobody beats me to take down before that :)

[2020-02-20 19:55] rcurtin commented on #2221
I wonder if this is related to https://github.com/mlpack/mlpack/issues/2146.  (It might not be the exact same cause, but it could be very similar.)

[2020-02-21 15:11] kartikdutt18 commented on #2221
The errors do seem similar, So for now, I have made changes in respective layers to make a copy and I will build it, test it with valgrind and post the results. I hope that's okay. I am not sure what is causing the error though, I hope to gain more insight from this.

[2020-02-21 15:44] samitpmc commented on #1383
Hi Ryan
Thanks a lot. I didn't realized that question, response has been posted in another thread.
It would be great if you could share handwritten code which will use weights from scikit model and load them into mlpack. I think this use case would be extremely useful for someone who has already built model using scikit and use the weights of the model to classify new items using MLPack.
Regards

[2020-02-21 15:48] rcurtin commented on #1383
I have not written any code to do this.  I only meant that it would be possible to write it.

[2020-02-21 17:11] Vasniktel commented on #2152
I found an issue with `FindStbImage.cmake` file: under certain circumstances, it can set `STB_IMAGE_INCLUDE_DIR` incorrectly.
To reproduce this:
- `mkdir build && cd build`
- `cmake <your flags here> ..`
At this point, STB is likely to be downloaded from the Internet.
- open some cmake file and make trivial changes to it (e.g. remove a letter in some warning message)
- try to run `make <your targe

[2020-02-21 20:37] zoq commented on #2225
That is correct.

[2020-02-22 00:54] joeljosephjin commented on #2213
I ran it again, without anything else open(browser,nautilus,...). And it finished the build. Thanks @rcurtin @birm for all the help. :)

[2020-02-22 02:59] jeffin143 commented on #2152
I second this , I had this issues in past didn't test it again

[2020-02-22 04:02] gauthampkrishnan commented on #2176
Hello why could we try uploading to Pypi?

[2020-02-22 04:27] gauthampkrishnan commented on #2226
Can I take up this problem? Can I work on this problem?

[2020-02-22 04:29] gaurav-singh1998 commented on #2226
Hey, @gauthampkrishnan I am currently working on this. Can you take another issue?

[2020-02-22 04:31] gauthampkrishnan commented on #2226
@gaurav-singh1998 yes ofcourse all the best

[2020-02-22 04:32] gauthampkrishnan commented on #2226
Interested in a collaboration?

[2020-02-22 04:36] gaurav-singh1998 commented on #2226
@gauthampkrishnan Yes, sure.

[2020-02-22 04:39] gauthampkrishnan commented on #2200
Can I take up L1 Loss?

[2020-02-22 04:40] kartikdutt18 commented on #2200
It's taken up by @himanshupathak21061998 . I think all functions have been taken up.

[2020-02-22 04:56] gauthampkrishnan commented on #2200
ok

[2020-02-22 04:58] gauthampkrishnan commented on #2181
is sigmoid done?

[2020-02-22 05:00] kartikdutt18 commented on #2181
I think we have covered all functions. Have a look at the codebase, and see if you can find something that I missed. We would be more than happy to add it.

[2020-02-22 05:01] kartikdutt18 commented on #2181
Yes.

[2020-02-22 05:09] codeboy5 commented on #2181
@gauthampkrishnan You can do a simple search on the repository, it would give you an idea whether any function is implemented  or not

[2020-02-22 05:11] kartikdutt18 commented on #2181
@codeboy5 , It might be a better idea to look at the codebase, since some functions such as selu are  implemented as aliases.

[2020-02-22 05:33] gauthampkrishnan opened #2227 "Unable to install mlpack using conda command"
#### Issue description
Cant install mlpack using conda

Unable to install mlpack using conda command "conda install -c conda-forge mlpack"
#### Your environment

 * version of mlpack: none
 * operating system: Windows 10
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

#### Expected behavior

#### Actua

[2020-02-22 05:56] rcurtin commented on #2227
It's quite hard to get mlpack to build in conda, but it's being worked on in conda-forge/mlpack-feedstock#18.

[2020-02-22 05:58] rcurtin commented on #2152
@Vasniktel @jeffin143 I thought I fixed this issue in https://github.com/mlpack/mlpack/commit/4d782785f97ac8d96e7cd9d24c352ffd58e6c190, are you still experiencing it?

[2020-02-22 06:25] jeffin143 commented on #2152
Completely missed this commit , didn't fetch the upstream , I will get back on this in a hour

[2020-02-22 06:47] Vasniktel commented on #2152
Same here :)

[2020-02-22 09:41] kartikdutt18 commented on #2221
That didn't work, Any other ideas that I should try?
I will try to go deeper in the code to understand what could go wrong. Thanks.

[2020-02-22 10:37] PranavReddyP16 commented on #2205
@himanshupathak21061998 Can you please elaborate on what exactly needs to be done regarding this issue in a bit more detail? Thanks.

[2020-02-22 12:47] PranavReddyP16 opened #2228 "Addition of hardtanh and tanhshrink activation functions"
Hey everyone, I was thinking we have tanh activation function so why not add hardtanh annd tanhshrink functions too. Just wanted to see what the members think of this idea before moving forward. Would this be ok?

The relevant sources for the above functions can be found here in PyTorch documentation:
HardTanh : https://pytorch.org/docs/stable/nn.html#hardtanh
Tanhshrink: https://pytorch.org/docs/

[2020-02-22 13:13] jeffin143 commented on #2152
@rcurtin , The issue doesn't exist

Also I will request you and @Vasniktel to minimize the comment as our comment is off topic. :)

[2020-02-22 13:37] prince776 commented on #2228
Hi @PranavReddyP16 tanhshrink seems like a good idea, can I work on it(if you're not already working on it) . Also hardtanh is already implemented in mlpack.

[2020-02-22 13:40] PranavReddyP16 commented on #2228
Oh I've already finished a good chunk of it. But there are many more activation functions I saw in the pytorch documentation that mlpack doesn't already have. Should we maybe open up an issue covering them?

[2020-02-22 13:45] prince776 commented on #2228
@kartikdutt18 had already opened an issue #2181 for the same purpose, so I'm not sure if we should open a new issue for that. I think we can just add most activation functions in that list.

[2020-02-22 13:46] kartikdutt18 commented on #2228
HardTanh is already implemented .

[2020-02-22 13:49] kartikdutt18 commented on #2228
Agreed, opening up issue to solve the same thing only increases work for members.

[2020-02-22 14:04] kartikdutt18 commented on #2228
I went through the list again, other than tanhshrink I don't see any activation functions that need to implemented.

[2020-02-22 14:08] kartikdutt18 commented on #2170
I think we can close this PR. (Contents transferred to #2181 )

[2020-02-22 14:14] kartikdutt18 commented on #1672
If it's okay I would like to take this up, since the PR for dense blocks is closed.
Thanks.

[2020-02-22 14:50] gaurav-singh1998 commented on #2226
Hi, @shrit sorry for the late reply, got busy because of college mid-sem exams. I have been trying to replicate the issue you mentioned. Code regarding the same can be found [here](https://ideone.com/bZH5Xx). The dataset used was generated with the help of python interpreter and the code regarding it can be found [here](https://ideone.com/a3wbW0). I wanted to know if I am on the correct path with

[2020-02-22 14:58] shrit commented on #2226
I am not sure that perceptrons accept callbacks. You can use the code I have used in this issue https://github.com/mlpack/mlpack/issues/2073#issuecomment-549080270

[2020-02-22 18:54] himanshupathak21061998 commented on #2205
@PranavReddyP16 As you can see in #2099 The `DecisionStump` class has been marked as deprecated.
https://github.com/mlpack/mlpack/blob/be6d79db6a420bcc243d01d6ea7afc937abb6d65/src/mlpack/methods/decision_stump/decision_stump.hpp#L50
So, now It needs to be removed from mlpack During the mlpack 4.0.0 release. So, only task of this issue is to remove `DecisionStump` from mlpack. Let me know If you wa

[2020-02-23 05:55] mrityunjay-tripathi opened #2230 "some probability distribution functions not implemented"
I was just going through the codebase and found that some probability distribution functions are missing. Also, there are two directories for distribution functions, one ```src/mlpack/core/dists/``` and other ```src/mlpack/methods/ann/dists/```. Any reasons? Can they be merged into one directory? I am looking ahead for collaboration to implement the remaining distribution functions as well. A list

[2020-02-23 05:55] PranavReddyP16 commented on #2228
Ok I will do that. Thanks for the input

[2020-02-23 08:11] prince776 commented on #2225
I did it to a great extent but then realized that Residual Connections are already implemented in `Sequential` Layer. I think this Issue can be closed.

[2020-02-23 08:11] #2225 closed

[2020-02-23 09:07] gaurav-singh1998 commented on #2226
Hi, @shrit can you send the dataset you used in the example?

[2020-02-23 09:18] anishk74 commented on #2230
Great Idea. Can you name some of the distributions which are not there? I would like to collaborate with you on implementing these distributions. Looking for your reply... :)

[2020-02-23 09:21] mrityunjay-tripathi commented on #2230
I am just jotting them down. :)

[2020-02-23 09:27] anishk74 commented on #2230
I am familiar with most of these distribution. Would you like to collaborate with me implementing these distributions? I can start working on them right now...

[2020-02-23 09:37] mrityunjay-tripathi commented on #2230
Nice. Mention whichever you are working on.

[2020-02-23 09:49] anishk74 commented on #2230
I am working on
 Dirichlet Distribution
 Beta Distribution
 Uniform Distribution
 Binomial Distribution
 Negative Binomial Distribution
 Beta-Binomial Distribution
 Geometric Distribution
 Hyper-Geometric Distribution
 Multinomial Distribution
 Multivariate Hypergeometric Distribution
 Poisson Distribution
 Exponential Distribution
 Log-normal Distribution
Will try to implement and open a PR as so

[2020-02-23 09:56] codeboy5 commented on #2230
Hi @anishk74 would it be okay if we work on them one by one ?
As It would everyone a better chance to work on this and make contributions. I just feel this might be a better option.
The members would be able to give a better overview.
@kartikdutt18 , what do you think ?

[2020-02-23 10:03] anishk74 commented on #2230
Hi @codeboy5, that's okay with me. I would like to start with Poisson distribution and will continue implementing exponential distribution as these two are closely related..
Is that okay with you?

[2020-02-23 10:04] codeboy5 commented on #2230
@anishk74 hahah everything is okay, working on small issues really helped me to get started with the repo so I thought if someone new wants to join this might be a good first issue .

[2020-02-23 10:07] mrityunjay-tripathi commented on #2230
Nice.

[2020-02-23 10:13] kartikdutt18 commented on #2230
Agreed, It is a nice idea to implement them one by one.
I am taking one up, but it might be a while before I open an PR. So incase the list is full and I haven't implemented it, feel free to comment and take up the issue.

- [ ]  Cauchy Distribution
- [ ]   Chi-Squared Distribution
- [ ]   Dirichlet Distribution
- [ ]   Beta Distribution
- [ ]   Uniform Distribution (@codeboy5)
- [ ]   Wishart Dis

[2020-02-23 10:16] codeboy5 commented on #2230
@kartikdutt18  any idea why there are 2 different folders for distribution ?

[2020-02-23 10:16] gaurav-singh1998 commented on #2230
@gaurav-singh1988)

[2020-02-23 10:32] kartikdutt18 commented on #2230
I think the reason for that is Bernoulli distribution doesn't have same functions as rest of the distributions in `core/dists`. It has some other functions such as `LogProbBackward`. It might be a good idea to implement rest of the missing functions in Bernoulli and missing Backward(if not in others) in all distributions if necessary. Then, we can shift Bernoulli to `core/dists` and remove that fo

[2020-02-23 10:52] saraansh1999 commented on #1351
Hi!
I'm stuck at the same problem and am not able to figure out a solution.
I installed boost and the other dependencies using apt-get (except for armadillo) as mentioned in the documentation.

[2020-02-23 12:53] gaurav-singh1998 commented on #2226
Hey, @shrit since `MaxIterations()` is present in every optimizer, should the warning be added in every optimizer? Correct me if I am wrong.

[2020-02-23 13:41] gaurav-singh1998 commented on #2226
Hey, @shrit I was going through the issue you mentioned and was able to understand the issue present. So, according to me, there has to be a warning in [ffn.hpp](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/ffn.hpp) telling the user to pass `maxIteration()` value the same as the number of columns in the dataset? Correct me if I am wrong

[2020-02-23 13:49] shrit commented on #2226
@gaurav-singh1998 You understood it right, this is exaclty what has to be done.

[2020-02-23 13:54] gaurav-singh1998 commented on #2226
Thanks, @shrit for the clarification will open a PR by tomorrow :)

[2020-02-23 17:04] gaurav-singh1998 commented on #2226
Hey, @shrit one final query. Can you tell what should the warning say?

[2020-02-23 18:09] ojhalakshya commented on #2230
I would like to work on cauchy distribution function.
Thanks.

[2020-02-23 18:20] PranavReddyP16 commented on #2228
Hey @prince776 @kartikdutt18 The one problem I'm having with this is computing the inverse of tanhshrink function. I'm unable to work out the mathematics of it. Can either of you help me out?

[2020-02-23 18:21] kartikdutt18 commented on #2228
I would leave the inverse. It's not an algebraically solvable equation.

[2020-02-23 18:22] PranavReddyP16 commented on #2228
Ok thanks

[2020-02-23 20:25] shrit commented on #2226
@gaurav-singh1998 You can add something as follows: `The number of iterations is less than the size of the dataset, the optimizer might not pass over the entire dataset. Please modify the number of iterations to be at least equal to the number of columns of your dataset.`
You can modify this warning as you like, but it has to tell the user about these points.

[2020-02-23 20:42] anishk74 opened #2232 "Cannot install libensmallen-dev libstb-dev with apt-get install"
#### Problem location

https://www.mlpack.org/doc/mlpack-git/doxygen/build.html#build_dep

#### Description of problem

sudo apt-get install libensmallen-dev

Results in

Reading package lists... Done
Building dependency tree
Reading state information... Done
E: Unable to locate package libensmallen-dev

Same issue with libstb-dev

[2020-02-23 20:44] rcurtin commented on #2232
You haven't written what operating system version you are using.  That would be important information to diagnose this issue, as older versions of Ubuntu (if I'm guessing correctly that that's what you are using) don't have those packages available, and you would either need to (a) build them from source (b) use mlpack's auto-downloader in the CMake configuration or (c) upgrade your operating syst

[2020-02-23 20:49] anishk74 commented on #2232
using ubuntu 18.04 LTS

[2020-02-23 20:51] anishk74 commented on #2232
what would be the steps for a) or b) ?

[2020-02-23 20:55] rcurtin commented on #2232
You can consult the documentation for each of those packages for (a), and for (b), CMake will automatically download the ensmallen and STB dependencies if they are not found.

[2020-02-23 20:58] anishk74 commented on #2232
Even after CMake installs ensmallen and STB dependencies I get the following error
CMake Warning at CMakeLists.txt:570 (message):
  txt2man not found; man pages will not be generated.

-- Not building Markdown bindings.
-- Found Python: /usr/bin/python
-- Could NOT find Doxygen (missing: DOXYGEN_EXECUTABLE)
-- Configuring done
-- Generating done

[2020-02-23 21:00] rcurtin commented on #2230
Before we implement any of these, can we connect them to actual needs?  Otherwise we are just implementing a ton of distributions that may not be used, and we will have to maintain it.  I'd really request that we only implement distributions as they are needed---or if we do choose to implement a distribution, we have strong support for why the distribution should be added.

Many of the distributio

[2020-02-23 21:01] rcurtin commented on #2232
That's not an error.

[2020-02-23 21:08] anishk74 commented on #2232
I moved to the futher command
make -j4
and got this error

-- Regenerating arma_config.hpp.
[  0%] Built target mlpack_arma_config
Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  1%] Generating mlpack.pc (pkg-config) file.
[  1%] Building CXX precompiled header src/mlpack/cotire/mlpack_CXX_prefix.hxx.gch
[  1%] Built target pkgconfig
Scanning dependencies of target mlp

[2020-02-23 21:16] anishk74 commented on #2232
Dear @rcurtin sir/ma'am, Any suggestions for this?

[2020-02-23 21:20] PranavReddyP16 commented on #2232
@anishk74 did you by any chance compile with -DDOWNLOAD_STB_IMAGE=OFF?

[2020-02-23 21:21] anishk74 commented on #2232
NO I didn't

[2020-02-23 21:22] PranavReddyP16 commented on #2232
@rcurtin is this related to the issue we are working on?

[2020-02-23 21:24] anishk74 commented on #2232
Dear sir, I want to contribute to this library implementing some new features but I am stuck here

[2020-02-24 00:04] zoq commented on #2232
Can you build against the master branch?

[2020-02-24 00:07] zoq commented on #2146
I'll take a closer look into the issue tomorrow, but making a copy is a solution at least for now.

[2020-02-24 00:08] zoq commented on #2221
Do you work on a branch, that I could take a look at?

[2020-02-24 01:26] rcurtin commented on #2146
I've already got most of a PR (it's quite simple); I'll try and open it tonight.

[2020-02-24 03:42] birm commented on #2213
Thanks for sharing your resolution! Have fun with mlpack!

[2020-02-24 03:42] #2213 closed

[2020-02-24 06:32] kartikdutt18 commented on #2221
Hi @zoq, I have now created a branch for the [same](https://github.com/kartikdutt18/mlpack/tree/RNN-Error).

[2020-02-24 09:27] anishk74 commented on #2232
Since the master branch doesn't have the build folder so I tried to copy the build of mlpack-3.2.1 to master branch and replaced every occurrence of mlpack-3.2.1 to mlpack in CMakeCache.txt.
And this is what I got...
Scanning dependencies of target mlpack_gitversion
Scanning dependencies of target mlpack_arma_config
[  0%] Updating gitversion.hpp (if necessary)
[  0%] Updating arma_config.hpp (if

[2020-02-24 12:22] gaurav-singh1998 commented on #2226
Hi, @shrit I have incorporated the warning message in `ffn_impl.hpp`, `rnn_impl.hpp` and `brnn_impl.hpp` but if we call the `Train()` function inside a for loop the warning gets printed multiple times. Is there a way to tackle it?

[2020-02-24 13:03] saraansh1999 commented on #2232
Hello!
I want to make a PR and update the documentation as my first contribution.
Althought the README on github states that we need to build the dependencies from source, but the following link:
https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/build.html
states that we can get the dependencies from apt-get, whereas the command given in the following image have a few problems:
https://drive.google.

[2020-02-24 13:43] shrit commented on #2226
@gaurav-singh1998 The `Train()` function itself have a loop inside (in the optimizer part), why we would have to put it inside a loop?

[2020-02-24 13:46] gaurav-singh1998 commented on #2226
@shrit like in the example you used in the comment you did,
`  for(int i=0; i<1; i++)
  {
    model.Train(trainX, trainY, optimizer, ens::PrintLoss(),
                ens::ProgressBar(),
                ens::StoreBestCoordinates<arma::mat>());

    optimizer.ResetPolicy() = false;
  }`
Because of this the warn message is getting multiple times.

[2020-02-24 13:50] mrityunjay-tripathi commented on #2230
Hi @rcurtin
Sorry that I missed the libraries which are the basis for mlpack. I removed those from the list which are already implemented. Even then some important distribution functions are yet to be implemented such as Dirichlet Distribution which is used as prior in Bayesian Statistics. Should I make the PR related to distributions to Boost itself? Also, I wanted to know what's the difference b

[2020-02-24 14:15] shrit commented on #2226
@gaurav-singh1998  Exactly. I agree with you.

When I posted this issue, it was back in November. Callbacks where just begin merged in mlpack.
Later on, I understood we do not have to use outside `for` loop. In fact, it is totally possible to achieve the objective of the optimization without outside outer loop.
Before callbacks, we had to put iterations since we did not observe in real-time either

[2020-02-24 15:38] rcurtin commented on #2230
What I'm saying is that adding distributions that aren't directly used and applied by other mlpack code just makes for more maintenance overhead. The users of mlpack generally use the machine learning models found in `src/mlpack/methods/`, not the probability distributions that mlpack implements. Said another way, the probability distributions that mlpack *does* implement are connected directly to

[2020-02-24 15:40] kartikdutt18 commented on #2230
Hi @rcurtin, I think this might be the reason.

[2020-02-24 15:43] kartikdutt18 commented on #2230
Ohh, I think  I found the PR you referred. @mrityunjay-tripathi, have a look at,
#1730

[2020-02-24 15:53] rcurtin commented on #2232
I opened #2235 to help clarify some of these things, especially the second point above and the original reason this issue was opened.  @saraansh1999 do you want to find the minimum version of Ubuntu that has a suitable version of Armadillo?  If you can find that then we can update the documentation to point out what to do if a new enough version of Armadillo is not available.  (I'd suggest looking

[2020-02-24 15:55] rcurtin commented on #2232
Did you read https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/build.html ?  It explicitly has a section called "Creating the Build Directory".

[2020-02-24 15:56] rcurtin commented on #2146
PR #2234 should fix this, although perhaps it is not the best possible solution. :+1:

[2020-02-24 16:44] saraansh1999 commented on #2232
@rcurtin I searched for armadillo using the link you provided.
[https://packages.ubuntu.com/search?keywords=armadillo&searchon=names&suite=all&section=all](url) clearly finds armadillo6 in 16.04, but armadillo8.4 onwards from 18.04.
So I guess Ubuntu 18.04LTS onwards would install armadillo8.4 or above which is the requirement for mlpack.

[2020-02-24 16:50] rcurtin commented on #2232
Sounds good---do you want to update the documentation to point out that the correct Armadillo dependency may not be available on Ubuntu versions before 18.04, and that if the user is using an older version of Armadillo, they should compile and install it from source?

[2020-02-24 16:51] saraansh1999 commented on #2232
yes thank you.
I will do that
just to clarify, I need to edit mlpack/doc/guide/build.hpp ?

[2020-02-24 16:54] rcurtin commented on #2232
Yes, that's the file, but maybe it's worth looking at `README.md` too to see if you think there is anything in there that should also be clarified. :+1:

[2020-02-24 16:57] saraansh1999 commented on #2232
Is there a proper formatting standard for the docs? If yes, could you guide me to some documentation for the same. Thanks!

[2020-02-24 17:00] rcurtin commented on #2232
It's just doxygen: http://www.doxygen.nl/
For formatting standards, see the existing style guidelines in the Github wiki and also just use complete sentences in the documentation (since people using this documentation may not have the best English skills, it's good to keep it grammatically correct :)).

[2020-02-24 17:17] saraansh1999 commented on #2232
After I have updated the file. How do i preview the changes?

[2020-02-24 17:26] saraansh1999 commented on #2232
How do i preview the changes i have made locally in doxygen.
I tried `dyoxygen *.hpp` in the folder  mlpack/doc/guide/ but the html files generated are not looking like the ones online. What am i doing wrong?

[2020-02-24 17:30] rcurtin commented on #2232
You should be able to just run `doxygen` from the build directory (or even `make doc` or `make doxygen`).  The HTML files on the website use specific styling that isn't part of the main repository (long story); so it should be fine to just make sure that the document you modified displays reasonably locally, and it'll be fine once it's merged and on the main website.

[2020-02-24 17:43] saraansh1999 commented on #2232
Hey @rcurtin
Can you look at my PR and tell me if I've gone wrong somewhere?
Thanks

[2020-02-24 18:13] saraansh1999 commented on #2232
I have also added a line about how enmallen and stb are installed automatically by cmake given the two flags are set

[2020-02-25 06:38] kartikdutt18 commented on #2221
Hi @rcurtin, @zoq, LSTM uses `std::move` to pass input through `Forward` function, I switched to creating a copy for the same using another variable but that didn't solve the valgrind issue. I am trying to print variable, input and other variables and I will run it multiple time to see which variable gets corrupted (if any).  I am sorry for not being of any help.
Thanks.

[2020-02-25 11:48] anishk74 commented on #2232
My bad. Using CMake for the first time

[2020-02-25 13:29] heytanay commented on #2084
I would like to take a try at this, Am I free to do so?

[2020-02-25 18:12] saraansh1999 commented on #2230
I am not really well versed with these distributions but I would love to read up on the and contribute.
I would like to start with Rademacher Distribution.

[2020-02-25 18:27] gaurav-singh1998 commented on #2230
Hey, @saraansh1999 thank you for taking up this task but before implementing it look if it is used directly by the machine learning algorithm implementations that mlpack provides.

[2020-02-25 22:34] zoq commented on #2226
You are absolutely correct, the callbacks should make the for loop obsolete.

[2020-02-26 02:54] kartikdutt18 commented on #2221
I am opening a PR for review to show the changes I made. I hope that's okay.

[2020-02-26 05:27] rcurtin commented on #2215
Sorry for the slow response.  What you wrote is pretty close to the intention of the CMake scripts but let me add a few extra details---

You're exactly right that FindArmadillo.cmake tries to find LAPACK and BLAS libraries and adds them to ARMADILLO_LIBRARIES... but it should only be doing this when ARMA_USE_WRAPPER is set.  Basically, if ARMA_USE_WRAPPER is set, then there will be a file `libarm

[2020-02-26 17:39] AniTho commented on #2181
Can I still work on this?

[2020-02-26 17:40] kartikdutt18 commented on #2181
Hi @AniTho, all activations and loss functions have an open PR.

[2020-02-26 17:42] AniTho commented on #2181
Okay @kartikdutt18 I will go through the code and find which all have been implemented and see what else I can add in the code.

[2020-02-26 18:24] AniTho commented on #2181
Is softmax activation function done as I can't find any under the `methods/ann/activation_functions` ?

[2020-02-26 18:25] kartikdutt18 commented on #2181
There is a PR open for that by a member. You can also search PRs to go through which functions are being worked. I think we have covered all but see if you find any.

[2020-02-26 18:29] AniTho commented on #2181
There's one but I think no work is done on that since 2019. @codeboy5 has proposed to implement it but I don't think he has done it?

[2020-02-26 18:41] kartikdutt18 commented on #2181
I am not sure if we need another PR for the same issue. We can wait for some reply. If you want there are various other issues open that need help that you could work on. Or get familiar with the code base.

[2020-02-27 14:58] Mindjolt2406 opened #2245 "make fails in building mlpack from source"
#### Issue description

#### Your environment

 * version of mlpack: 3.2.2
 * operating system: Mac OS X
 * compiler: clang 1001.0.46.4
 * version of dependencies (Boost/Armadillo): Boost (1.72.0) Armadillo (9.850.1)
 * any other environment information you think is relevant:

#### Steps to reproduce

1. Download the source code
2. make the build directory and run cmake ../
3. Run make -j4
4. make

[2020-02-27 15:03] rcurtin commented on #2245
Hey there @Mindjolt2406, thanks for the error report.  Can you paste the full build output?  The output you gave is *most* of what we need but not everything. :)

[2020-02-27 16:51] Mindjolt2406 commented on #2245
Sure.

[  0%] Updating arma_config.hpp (if necessary)
-- Regenerating arma_config.hpp.
[  0%] Built target mlpack_arma_config
Moving header files to include/mlpack/
[  0%] Built target mlpack_headers
[  1%] Generating mlpack.pc (pkg-config) file.
[  1%] Built target pkgconfig
[  2%] Building CXX precompiled header src/mlpack/cotire/mlpack_CXX_prefix.hxx.pch
Scanning dependencies of target mlpack
[

[2020-02-28 09:33] knakul853 commented on #2215
Any PR relate to this. After https://github.com/mlpack/models/pull/49
If not would love to work on.: )

[2020-02-28 09:40] PranavReddyP16 commented on #2215
I don't think there's anything as of yet and I'm a bit busy so go ahead with it I guess. Just confirm with @codeboy5 to make sure he isn't working/worked on it already

[2020-02-28 11:36] codeboy5 commented on #2215
No I am not working on this issue, feel free to go ahead !!!

[2020-02-28 14:04] rcurtin commented on #2245
Looks like your compiler isn't linking correctly with OpenMP.  I'm not sure what the exact solution for that would be, but, maybe can you configure CMake with `-DUSE_OPENMP=OFF` to disable OpenMP?

[2020-02-28 14:43] knakul853 commented on #2215
@codeboy5 @PranavReddyP16  thanks for confirmation

[2020-02-28 16:13] Mindjolt2406 commented on #2245
Thanks! I believe it's successful now.

[2020-02-28 16:13] #2245 closed

[2020-03-01 08:17] Goshikhar23 commented on #2227
I faced similiar problem when installing via conda. You can do this instead:
1. Install vcpkg((https://github.com/Microsoft/vcpkg)
2. In cmd, go to vcpkg directory and write this:
    .\vcpkg install mlpack[tools]:x64-windows   (If you wanna install library and its console programs)
    .\vcpkg install mlpack:x64-windows  (If you wanna install just the library)

[2020-03-01 13:50] abinezer commented on #2181
hi @kartikdutt18 !
I would like to take up inverse square root linear activation function. Can i move forward with it?

[2020-03-01 13:52] PranavReddyP16 commented on #2181
@abinezer I already have a PR open for that and I plan to fix it up soon. Right now I'm a little busy with exams

[2020-03-01 14:10] abinezer commented on #2181
cool @PranavReddyP16  !!

[2020-03-01 20:08] saraansh1999 opened #2248 "Upsampling in ann."
I am not able to find the implementation of upsampling as a layer in the ann codebase. Upsampling is an approximation of the inverse of pooling operation and can be used in symmetrical networks like the unet.

Is it implemented somewhere?
If not can I take up this task?
Thanks.

[2020-03-01 20:25] saraansh1999 opened #2249 "Instance Norm"
I couldnt find the implementation of Instance Norm in mlpack.
Link to pytorch doc: [https://pytorch.org/docs/stable/nn.html#instancenorm1d](url)

Is it implemented?
If not can I take this up?

[2020-03-01 20:31] saraansh1999 commented on #2181
@gaurav-singh1998 are you done with CELU? I would like to work on it.

[2020-03-02 00:52] gaurav-singh1998 commented on #2181
Hey @saraansh1999, there is PR opened for it by me. Look at #2191. Thanks

[2020-03-02 06:56] kartikdutt18 commented on #2248
Hi @saraansh1999, I am currently working on it (as discussed in models/#54). I hope that's okay with you.

[2020-03-02 08:56] saraansh1999 commented on #2248
How is #54 related to upsampling?

[2020-03-02 08:57] kartikdutt18 commented on #2248
hmm, I made a tagging mistake. Have a look at this (https://github.com/mlpack/models/issues/54)

[2020-03-02 09:05] saraansh1999 commented on #2248
I see that you are busy rn. If you want we can collaborate on this. I can take it up from where you have left it off.

[2020-03-02 09:07] kartikdutt18 commented on #2248
I had spent a lot of time debugging this, So I wanted to make it across the finish line. I hope you understand.

[2020-03-02 09:13] saraansh1999 commented on #2248
Cool. Best of luck!

[2020-03-02 09:13] #2248 closed

[2020-03-02 09:15] kartikdutt18 commented on #2248
Thanks for understanding. I hope to work with you on the other issue that we had discussed regarding activation functions.
I will update the benchmarks soon. (I recently changed machines and CUDA is a bit tricky to install).

[2020-03-02 09:28] saraansh1999 opened #2250 "Spatial Transformer Networks"
This is a great feature to be included for vision tasks.
Resource: [https://arxiv.org/pdf/1506.02025.pdf](url)

Implementing this would also require a grid sampler.

Is any of this implemented in mlpack?
If not, can I start working on this?

[2020-03-02 19:19] saraansh1999 opened #2252 "as_scalar error in max_pooling based on number of maxIterations for optimizer."
* version of mlpack: 3.2.3 (output of `cout << MLPACK_VERSION_MAJOR <<
MLPACK_VERSION_MINOR <<
MLPACK_VERSION_PATCH;` )
 * operating system: Ubuntu 16.04
 * compiler: g++ (gcc version 5.4.0 20160609)
 * version of dependencies (Boost/Armadillo):
Boost version: 1.58.0
ARMA version: 9.850.1 (Pyrocumulus Wrath)

Steps to reproduce:
[https://drive.google.com/drive/folders/1bHwfqIQcidgX8sOiwoMFdQWkWA9G

[2020-03-02 21:37] saraansh1999 commented on #2252
Pls tell if the problem is reproducible.
TIA

[2020-03-02 21:38] zoq commented on #2252
Before I take a closer look into the issue, is the model and data from the models repo?

[2020-03-02 21:43] saraansh1999 commented on #2252
The code is almost the same as this
https://github.com/mlpack/models/blob/master/Kaggle/DigitRecognizerCNN/src/DigitRecognizerCNN.cpp
As suggested by a member on gitter

[2020-03-02 21:47] zoq commented on #2252
Did you test the original code? The reason why I ask is, that such information help a lot to figure out what went wrong as fast a possible.

[2020-03-02 21:48] saraansh1999 commented on #2252
I did.
Just to be sure i'll test it once more.

[2020-03-02 21:49] zoq commented on #2252
Thanks, also I guess it fails with the same error?

[2020-03-02 22:01] saraansh1999 commented on #2252
Yup.
This is the gdb traceback to the maxpooling layer.
`
Starting program: /home/saraansh/gsoc2020try/mlpack_tutorials/a.out
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
[New Thread 0x7ffff276e700 (LWP 11452)]
[New Thread 0x7ffff1f6d700 (LWP 11453)]
[New Thread 0x7fffef76c700 (LWP 11454)]
[New Thread 0x7fffeaf6b700 (LWP 1

[2020-03-02 22:14] rcurtin commented on #2252
So, there's a `bug report` issue template that asks for all manner of things including, e.g., the version of Armadillo and dependencies.  Is there a reason that you didn't use that?  Because that information would be really helpful at this point. :)

[2020-03-02 22:25] saraansh1999 commented on #2252
I wasnt sure wether this was a bug in the codebase or a fault on my part. I'll update it.

[2020-03-02 23:41] zoq commented on #2250
Hello, if you like to work on this one please feel free, also please make sure to add a comprehensive test suite to the model implementation as well.

[2020-03-02 23:44] zoq commented on #2249
mlpack doesn't implement a style transfer model, so I'm not sure this would be of any use right now, or maybe this layer is used in another model/area as well?

[2020-03-02 23:44] zoq commented on #2252
Thanks!

[2020-03-03 01:45] conradsnicta commented on #2230
As these distributions are general, it might be more useful to add a small subset of them directly into Armadillo rather than mlpack.  Specifically, the Poisson and exponential distributions, with functionality mimicking the rande() and randp() functions in Octave/Matlab.

The Armadillo development site is at:  https://gitlab.com/conradsnicta/armadillo-code

Note that Armadillo already has the Wis

[2020-03-03 06:07] saraansh1999 commented on #2250
Thanks. I'll start with it ASAP.

[2020-03-03 11:49] AbhiSaphire commented on #2181
Hey @kartikdutt18 , I was looking for Parametric ReLU activation but couldn't be able to find it.
If it is not yet been implemented I would like to work on implementing it. I think this would be good as it allows negative slope to be learned unlike Leaky ReLU.
Thanks

[2020-03-03 11:52] gaurav-singh1998 commented on #2181
Hey, @AbhiSaphire parametric ReLU has been implemented take a look at [this](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/layer/parametric_relu.hpp). Thanks.

[2020-03-03 13:29] saraansh1999 commented on #2249
Yes it is true that this layer is mostly used in style transfer models.
But considering the fact that this year GSOC involves an idea of showing the use cases of mlpack ann module, I was thinking of implementing a style transfer model for images. And like you said, this normalization mechanism might be useful.

[2020-03-03 20:03] saraansh1999 commented on #2250
Is there a grid sampler implemented in mlpack?

[2020-03-03 22:04] anishk74 commented on #2230
Thanks, I will look into it.

[2020-03-03 22:14] AndreiMihalea opened #2253 "Adding ranking margin loss"
Hello, I've seen there is no ranking margin loss implemented and I'd like to start working on it. Related to #2200.

[2020-03-04 09:49] kartikdutt18 commented on #2252
Hi @saraansh1999, I am not able to reproduce this on my system. Here are some the results of the results from DigitRecognizer and DigitRecognizerCNN

[code]
and

[code]

I think these are acceptable epoch accuracies. I will try running your code also and get back to you.
I will also run some tests on pooling layers just in case.

[2020-03-04 12:21] saraansh1999 commented on #2252
Hey @kartikdutt18. Thanks for the effort. Following up on your comment I tried running both DigitRecognizer and DigitRecognizerCNN. The linear model seems to be working(i.e. DigitRecognizer), but the DigitRecognozerCNN still seems to be giving me the same error at the same place.

I also tried making the value of MAX_ITERATIONS_PER_CYCLE same as trainX.n_cols(similar to the DigitRecognizer code) b

[2020-03-04 15:06] kartikdutt18 commented on #2252
Hmmm, I couldn't get the code to fail but got very low accuracy (around 8% and it stayed there for a while).
`Training Accuracy = 9.39947%,   Validation Accuracy = 9.7166%`

Solution that worked for me:
The Following are the changes I made:

1. Increase iterations per cycle

`constexpr int ITERATIONS_PER_CYCLE = 10000;`

2. Reset Optimizer Every cycle

`optimizer.ResetPolicy()=false;`

3. Cleaned

[2020-03-04 15:09] kartikdutt18 commented on #2252
Could you also try running the model in model repo using
[code]
incase you haven't already.

[2020-03-04 18:32] saraansh1999 commented on #2252
Same result  :(

[2020-03-04 18:43] kartikdutt18 commented on #2252
Did you try both methods?

[2020-03-04 18:47] saraansh1999 commented on #2252
The first option doesnt work as the code is not even passing the Train call.
Secondly i built the models repo and executed the command you mentioned. Same result.

[2020-03-05 05:36] kartikdutt18 commented on #2252
Hmm, I will try it on Ubuntu then because I am not facing any issue on my local devices (OSX).

[2020-03-05 10:26] iamshnoo opened #2258 "Accessor method implementations for layers in ANN module"
#### Issue description

- Hi! I have been going through the ```.hpp``` files in  ```src/mlpack/methods/ann/layer``` and found some discrepancies regarding accessor implementations (getter and setter methods for the private variables). Specifically, in quite a large number of files, some of these methods are missing and thus makes the files a bit incomplete. I am listing out the ones I found below

[2020-03-05 10:47] kartikdutt18 commented on #2258
Hmm, The list is too long for me to see what is needed. However since I have worked with convolution layers, You don't need setters and getters for weights as we have Parameters in each class. So no need of adding setters/getters for it. (This applies to other layers as well).
Also transposed_convolution doesn't need aW and aH, changing them after intialization will most probably make the layer se

[2020-03-05 10:49] kartikdutt18 commented on #2258
Also some of the points mentioned include variables that depend on constructor values so we shouldn't have setters/getters for them as well.

[2020-03-05 11:42] iamshnoo commented on #2258
Okay! Thank you for the suggestions. I will take these into account.
Regarding ```flexible_relu``` the reason I thought that lines 134-136 was possibly wrong was because those 2 functions return ```double alpha````, but the private members only have ```OutputDataType alpha``` and ```double userAlpha```, not ```double alpha````. So, possibly lines 134-136 wanted to return userAlpha instead of alpha

[2020-03-05 12:04] iamshnoo commented on #2258
Regarding this, I have one question. Assuming this statement to be the ground truth, many files don't follow this because they implement getter functions (not setters) for variables initialised in constructors. [for example, the variable ```size_t inSize```  in ```convolution.hpp```] So, should I be writing at least only the getter functions for such variables or just ignore them completely for th

[2020-03-05 13:45] sreenikSS commented on #2258
Hey @iamshnoo thanks for taking out time to compile such a massive list. I think we can narrow this down to the ones we require. This approach is actually helpful as we just need to exclude items and not add on to this list.

To start with you can exclude all weights (as @kartikdutt18 has mentioned) and also leave out any variable that is a matrix (arma::mat) or a cube (arma::cube). That might req

[2020-03-05 14:03] kartikdutt18 commented on #2258
IMO, Some variables such as aW depend upon values such calculated during say, Forward Pass and then a user decides to change them (not sure why) in that case we would a differently padded output when we call backward which is incorrect. So variable that are set once depending on other parameters shouldn't have getters or setters.

Another example would be:

[code]

in recurrent_attention.hpp, Thes

[2020-03-05 14:07] iamshnoo commented on #2258
Okay! Thanks, both of you! I will get started on trimming the list first and then will get down to the implementations.

[2020-03-05 14:08] kartikdutt18 commented on #2258
Great! Looking forward to the PR.

[2020-03-05 15:15] saraansh1999 commented on #2252
Any updates?

[2020-03-05 15:18] kartikdutt18 commented on #2252
@saraansh1999, I have my embedded systems exam tomorrow. So I am only be able to work on reviews / very minor changes. I will get back to you the day after unless someone beats me to it. I hope that's okay.

[2020-03-06 01:11] #1840 closed

[2020-03-06 11:17] kartikdutt18 commented on #2252
Hi  @saraansh1999, I tried it on linux based system(PopOS) and on MacOS. DigitRecognizerCNN works fine for me on both machines. I will run some tests to see why it fails on your machine, I'll try to get back to you as soon as I can.

[2020-03-06 17:36] kartikdutt18 commented on #2250
Hi @saraansh1999,

Not really. You would have to run make command whenever make changes in codebase and it will only make the portion that you changed. When you are testing you simply make the tests. To run a particular test use, `./mlpack_test -t TestName`

For this a layer is independent of rest of the codebase however there are some constraints such as variables and the layers itself should be

[2020-03-06 20:23] saraansh1999 commented on #2250
i have used the STN module multiple times in pytorch, but there we have the F.affine_grid and F.grid_sample functions available, which make the job very easy.

So my plan is somewhat as follows:
1. Implement the affine_grid_generator as a layer.
Reference: [https://github.com/pytorch/pytorch/blob/master/aten/src/ATen/native/AffineGridGenerator.cpp](url)
2. Implement the grid_sampler as a layer.
Re

[2020-03-06 21:33] naruarjun opened #2262 "Addition of Actor-Critic model for Reinforcement Learning."
I have started working on the implementation of a actor-critic model just like the Q learning model in the reinforcement learning methods. It'll basically be a addition of algorithms mentioned in this blog post.
https://towardsdatascience.com/understanding-actor-critic-methods-931b97b6df3f.
I have gone through the relevant papers and have already implemented this before using tensorflow (https://g

[2020-03-07 03:19] bisakhmondal commented on #2200
Is there any Loss function remaining  I can work with?

[2020-03-07 03:25] bisakhmondal commented on #2205
@PranavReddyP16 have you solve the issue? Can we collaborate?

[2020-03-07 05:21] codeboy5 opened #2263 "Addition of Denoising Autoencoder"
Denoising autoencoders have been proposed in https://www.cs.toronto.edu/~larocheh/publications/icml-2008-denoising-autoencoders.pdf
Which will add the ability to clear images from noise, which can lead to better performance on other tasks such as recognition and detection?
I have gone through the paper and other implementations and have started working on it.

[2020-03-07 08:58] #2263 closed

[2020-03-07 13:09] kartikdutt18 commented on #2252
Hey @saraansh1999, I have opened a PR that might be related to your issue. Not sure though but I think it is something to look into. Thanks.

[2020-03-07 13:31] saraansh1999 commented on #2252
Please can I contribute somehow to this solution. I want to start with something small and get the feel of writing code in this codebase.

[2020-03-07 19:55] PranavReddyP16 commented on #2205
Nope I haven't solved it yet. My college midsemester exams just ended today
so I've been a bit busy. Also I would love to collaborate as I'm not
completely sure how to solve this issue

On Sat, Mar 7, 2020, 8:55 AM Bisakh Mondal <notifications@github.com> wrote:

[2020-03-08 04:47] bisakhmondal commented on #2205
@PranavReddyP16 okay then, I am acquianted with the codebase. So from where should we start?

[2020-03-08 05:58] bisakhmondal commented on #2181
Hey @kartikdutt18, have all the activation functions been implemented? I would like to work on this issue. I want to implement Elliot and symmetric Elliot Activation Function (An higher speed approximation of Tanh function). Is it okay to move forward with it?

[2020-03-08 17:36] kartikdutt18 commented on #2181
Hi @bisakhmondal, Could you share a use case for the activation function. Thanks.

[2020-03-08 18:10] bisakhmondal commented on #2181
We all know its ReLU era, still sigmoid, tanh are used. In mlpack, we r trying to provide different choices of the activation function.  Elliot function, by definition, is  `f(x)= x/1+|x|` which bounds in `[-1,1]` like sigmoid, but computationally less hungry( computation count is much smaller) for backpropagation in deep neural network due to non-involvement of the exponential term. It can easily

[2020-03-08 18:12] kartikdutt18 commented on #2181
Great, Looking forward to your PR. 👍
I'll go through these links.
Thanks.

[2020-03-08 18:12] bisakhmondal commented on #2181
Thanks @kartikdutt18

[2020-03-08 18:46] iamshnoo commented on #2258
- I am updating this issue with the trimmed-down list. I will be committing the PR very soon. There are approximately 55 variables across 23 files which I am writing getter() functions for.
---

#### add.hpp

- *size_t* outSize

#### batch_norm.hpp

- *size_t* size
- *double* eps

#### bilinear_interpolation.hpp

- *size_t* inRowSize
- *size_t* inColSize
- *size_t* outRowSize
- *size_t* outColSize

[2020-03-09 07:02] bisakhmondal commented on #2200
Hello @ojhalakshya, I want to contribute to this issue. After looking through different loss functions, I think adding `Sparse Categorical Cross-Entropy` would be a good idea. What do you say? Thanks.

[2020-03-09 16:12] saraansh1999 commented on #2249
Should I proceed with this?

[2020-03-09 23:58] rcurtin opened #2270 "| in PROGRAM_INFO() mistakenly creates Markdown table"
#### Issue description

I was digging around in the awesome Go bindings and came across a very strange issue:

https://www.mlpack.org/doc/mlpack-3.2.2/python_documentation.html#gmm_probability_detailed-documentation

The table right there doesn't make sense.  It comes from this source Markdown:

[code]

The issue here is the `P(X | gmm)`!  How unexpected.

That source Markdown is generated by the

[2020-03-10 00:00] rcurtin commented on #2270
Actually there's a second very simple issue I found:
https://www.mlpack.org/doc/mlpack-3.2.2/python_documentation.html#input-options-12

Take a look at the `type` option... the table is too wide because the source documentation reads `gaussian | diag_gmm | gmm`.  We can just change the source there to not use the `|` character---take a look at `gmm_probability_main.cpp` and the string can be chang

[2020-03-10 00:06] y2s82 commented on #1021
@rcurtin Can I take a crack at this?  Seems like a good reason to go through the code and study it.

[2020-03-10 00:09] rcurtin commented on #1021
Sure, feel free; if you open a PR, I'd suggest picking only one small bit of the code at a time (to make the review quicker).

[2020-03-10 04:09] bisakhmondal commented on #2270
Hello @rcurtin . I want to work on this issue. Is it okay to move forward? Thanks.

[2020-03-10 06:41] bisakhmondal opened #2272 "Addition of "ELiSH" activation function."
Hi everyone, while looking through different activation functions, I have found an interesting one. The `Exponential Linear Sigmoid SquasHing` (ELiSH), a piecewise activation function, which shares the goodness of Swish in positive part & ELU and Sigmoid in its negative part. As per the [paper](https://arxiv.org/pdf/1808.00783.pdf)

And after seeing the performance and benchmark of this activation

[2020-03-10 06:44] kartikdutt18 commented on #2272
Hey @bisakhmondal, I think we have an issue open for activation function, do you think we need another issue for this. I think this is great and I'm looking forward to the PR.

[2020-03-10 10:14] bisakhmondal commented on #2272
Scrolling through the issues, I completely forgot that there is still an open issue regarding the Activation Functions. Thanks, I am working on it.

[2020-03-10 12:52] SuperGops7 commented on #2181
@kartikdutt18 , can I add an implementation of the "Swish" activation function?
It's as computationally efficient as ReLu yet has shown better performance than ReLu.

[2020-03-10 12:54] kartikdutt18 commented on #2181
Hey @SuperGops7, Swish function is already implemented in the library. Could you take a look at `src/mlpack/ann/activation_functions/` directory. Thanks.

[2020-03-10 19:49] zoq commented on #2272
Okay, let's close this one than.

[2020-03-10 19:49] #2272 closed

[2020-03-11 01:35] birm commented on #2262
Are you looking to add missing layers/functions/components to make this model possible, or the model itself? If the former, we'd welcome a PR on this repository; if the later, then see https://github.com/mlpack/models

[2020-03-11 05:40] ojhalakshya commented on #2200
Hi @bisakhmondal
can you add some more details about the same like some research paper of the function.
Thanks.

[2020-03-11 09:12] joeljosephjin opened #2275 "testReturn of q learning agent won't improve"
#### Issue description
I have been test the Deep Q Learning module on the MountainCar environment. I copied some code from "q_learning_test.cpp" for this. I have found that the average reward increases from -400 to -321 after training for 150 episodes. But on testing the thing with 20 episodes, the averageReturn is still -400, meaning that not a single Car actually crossed the goal in the testing

[2020-03-11 13:44] abinezer commented on #2275
sure, will have a look and see what can be done to better it.
Also, would like to ask the core team if I could take this issue forward...

[2020-03-11 16:13] naruarjun commented on #2262
Yes I am referring to the former. It'll be code to create a agent similar to the q learning agent code already present in mlpack.

[2020-03-11 16:54] zoq commented on #2275
@abinezer please feel free to take a look at the issue.

[2020-03-11 19:18] #2215 closed

[2020-03-12 04:59] adithya-tp commented on #2270
I hope #2280 resolves this issue.

[2020-03-12 20:17] favre49 commented on #2232
I guess we can close this now, since the required changes have been made to the documentation

[2020-03-12 20:17] #2232 closed

[2020-03-13 09:23] favre49 opened #2287 "Hard Shrink Activation Function does not comply to new method signatures"
The hard shrink activation function was added in #2186 before method signatures were changed in #2259 . Since it was merged before #2259 was merged, it still has the old method signatures.

[2020-03-13 09:43] jeffin143 opened #2288 "dyld: Library not loaded"
#### Issue description

Tried building mlpack using make, and it throws an error when i run ./bin/mlpack_test

<img width="588" alt="Screenshot 2020-03-13 at 2 57 32 PM" src="https://user-images.githubusercontent.com/21286134/76608296-64646b80-653b-11ea-9c43-9cb3c6c9298a.png">

#### Your environment

 * version of mlpack: master branch
 * operating system: mac
 * compiler: check below
 * version o

[2020-03-13 10:02] jeffin143 commented on #2288
Note :
I didn't try to debug it, Since I was working on something else, I will take a look later, but happened to make a couple of times

[2020-03-13 10:09] kartikdutt18 commented on #2287
Taking it up, Will fix remaining functions as well if there are any.
Thanks.

[2020-03-13 10:43] himanshupathak21061998 commented on #2288
I will try to look into this

[2020-03-13 10:43] himanshupathak21061998 commented on #2288
I will try to look into this

[2020-03-13 11:02] sriramsk1999 opened #2290 "Feasibility of addition of SLIDE algorithm"
I came across this [article](https://insidehpc.com/2020/03/slide-algorithm-for-training-deep-neural-nets-faster-on-cpus-than-gpus/) and found it quite intriguing. I went through the paper and the results seem promising.

It occurs to me that mlpack could make good use of this, since OpenMP is already being used and GPU support is not completely there yet, with bandicoot under development.

Would t

[2020-03-13 11:03] ojhalakshya commented on #2287
Hi @favre49
I was going to open a pr for the same today but it is okay with me if @kartikdutt18 is doing other functions also.
Thanks.

[2020-03-13 11:08] prince776 opened #2291 "Adding Local Response Normalization"
HI everyone,
I'm planning to add inception network to the models repository but for that we need this normalization and a few more things. I'm opening this issue to notify that I'm working on this normalization so as to avoid multiple people working on the same thing.

[2020-03-13 11:35] jeffin143 commented on #2288
/usr/local/opt/openblas/lib/libopenblasp-r0.3.7.dylib

I have r.0.3.9

I am not sure why is it taking 0.3.7

[2020-03-13 11:38] jeffin143 commented on #2288
A temporary fix -> But I am not sure, Why does this occurs

ln -s /usr/local/opt/openblas/lib/libopenblasp-r0.3.9.dylib /usr/local/opt/openblas/lib/libopenblasp-r0.3.7.dylib

[2020-03-13 12:54] jeffin143 commented on #2202
@rcurtin , I think so we should document this ,

Is there any way we can add it to websit , where all the methods are there

Since it is automatically generated , I doubt it , but I guess this is worth while adding

[2020-03-13 13:32] kartikdutt18 opened #2294 "Addition of Essential Metrics Only."
This is a **good first issue** and will **help new contributors** to get familiar with the codebase. Also This issue **doesn't aim to add all Metrics** to mlpack since each metric would have to be maintained, this aims to add metrics that either I find essential (or have used a couple of time) or those metrics which are very common.
List of metrics that can be added include:

1. IoU and meanIoU (T

[2020-03-13 15:28] bisakhmondal commented on #2294
SSIM is interesting. @ojhalakshya are u working on it?

[2020-03-13 17:11] mrityunjay-tripathi opened #2296 "Addition of Transformer Layer"
I was just reading the BERT (language representation model) [paper](https://arxiv.org/abs/1810.04805). BERT requires the Transformer Layer. I think it should be in ```src/mlpack/methods/ann/layer```, but is not already there. Is it implemented somewhere else? If not can I start working on it?
References:
1. [Attention Is All You Need](https://arxiv.org/abs/1706.03762)
2. [PyTorch - Transformer](ht

[2020-03-13 17:16] zoq commented on #2290
Agree it's an interesting approach, but it would be better to have an implementation over here: https://github.com/mlpack/ensmallen. Let me know what you think.

[2020-03-13 17:27] zoq commented on #2291
What normalization do you mean? Also some time ago I did some work on the inception network, maybe the code is helpful in some way.

https://gist.github.com/zoq/39f972cbb11e8b4442b5dadeb6bc35d7
https://gist.github.com/zoq/d8119e2a8e2db629b6d9a896dc7f6bf2

[2020-03-13 17:32] zoq commented on #2294
@kartikdutt18 Do you have an interface for a metric in mind, I think there is more than one approach how the interface could look like, but ideally a metric could be used by more than the one method.

[2020-03-13 17:34] zoq commented on #2296
Feel free, but keep in mind to write a test suite for the layer as well.

[2020-03-13 17:36] mrityunjay-tripathi commented on #2296
Sure @zoq. Once I am done with the implementation, I will add tests as well.

[2020-03-13 17:50] kartikdutt18 commented on #2294
Hi @zoq, I think the implementation would follow along the line of metrics implemented in `core/metrics`. The class has a static evaluate function with all relevant parameters. The main reason I wanted to open this PR is because when I making changes to use ensmallen in time series data (PR models/56), I noticed that we have implemented our own accuracy, MSE metric even though mlpack already has a

[2020-03-13 17:53] sriramsk1999 commented on #2290
Ah you're right, it is more suited for the ensmallen repo. I'll move this over there.

[2020-03-13 17:53] #2290 closed

[2020-03-13 17:55] #2287 closed

[2020-03-13 18:15] ojhalakshya commented on #2294
Hi @bisakhmondal
Yup I am working on it.
Thanks.

[2020-03-13 19:07] himanshupathak21061998 commented on #2288
Hey, @jeffin143 I tried to reproduce it nothing went wrong. I am using ubuntu maybe this is osx specific issue.

[2020-03-13 19:34] yurivict opened #2297 "Tests fail to run: 'arma_config.hpp' has been modified since the precompiled header"
[code]

[2020-03-13 19:40] himanshupathak21061998 commented on #2297
Hey @yurivict Can please provide some steps to reproduce this.

[2020-03-13 19:46] yurivict commented on #2297
The steps are:
1. Build with these options off: ```BUILD_PYTHON_BINDINGS BUILD_TESTS BUILD_CLI_EXECUTABLES BUILD_PYTHON_BINDINGS```
2. Then build with the same, but ```BUILD_TESTS=ON```

[2020-03-13 20:32] rcurtin commented on #2297
Can you do `make clean` and then rebuild?  This seems like an artifact was left around from the previous build.

[2020-03-13 20:38] himanshupathak21061998 commented on #2297
I can't able to reproduce this I tried it with both master and mlpack 3.2.2 maybe you should `make clean` as suggested by @rcurtin .

[2020-03-13 21:57] yurivict commented on #2297
Something in the build touches the header after the pre-compiled headers file has been built.

[2020-03-14 02:07] kartikdutt18 commented on #2297
Hey @yurivict, I have faced this issue. As suggested about run `make clean` and then you should be good to go. Did you try it yet?

[2020-03-14 08:42] #2288 closed

[2020-03-14 11:48] codeboy5 opened #2298 "Implementation of Double Q Learning"
The popular Q-learning algorithm is known to overestimate action values under certain conditions.
Double Q Learning proposed in (https://arxiv.org/abs/1509.06461) leads to a better performance in several games.
I have started working on it and hoping to open a PR soon !!

[2020-03-14 12:09] #2298 closed

[2020-03-14 13:51] prince776 commented on #2291
Sorry for the late response @zoq . I read This paper https://arxiv.org/pdf/1409.4842.pdf and in this they were using Local Response Normalization. To understand what this meant since I was found it for the first time, I read https://towardsdatascience.com/difference-between-local-response-normalization-and-batch-normalization-272308c034ac .

[2020-03-14 15:28] yurivict commented on #2297
Doing ```make clean``` first works as a workaround.

But it's weird that this should be done, the logic of make is broken. You should fix this.

[2020-03-14 15:29] yurivict opened #2300 "tests hang"
On FreeBSD 12:

[code]

[2020-03-14 15:31] kartikdutt18 commented on #2297
I think it's completely fine. If you have built mlpack before the cmake patch and then fetched upstream and built again, you'll get this error. Performing make clean removes compilations from previous version and build won't fail. You can try running build as many time as you want now, I think it should work. However I might be missing something.
Thanks.

[2020-03-14 15:41] yurivict commented on #2297
I didn't fetch upstream. Fetchcing invalidates the build, and it should automatically rebuild it before test.

Your target dependencies are broken. Any target should be able to run independently.

[2020-03-14 15:42] jeffin143 commented on #2300
Hi @yurivict , Could you use the bug template which was there while filing the bug , Or may be post some error or logs, because it is really difficult without those to debug your problem.

[2020-03-14 15:48] jeffin143 commented on #2296
I am not sure but #1725 , There are some works or discussion which could be helpful for this, Looking forward to this

[2020-03-14 16:16] jeffin143 commented on #2294
@zoq Yes we definitely need to have a concrete API  that can be used by more than the one method and IG for that we need to define which all methods and functionality are using this metrics and thus can finally come up with the api

There was an api in one of previous PR , which was sought of different from the current implementation

Also all most of the metrics were implemented

https://github.c

[2020-03-14 16:27] kartikdutt18 commented on #2294
Hey @jeffin143, Thanks for PR links. I think it has r-metric which would be useful for anyone who takes that up. Also, I think all them have a static member function called `Evaluate` which is same what is done for other metrics. I am open to implementing a different API, Could you help us out with the same. Thanks.

[2020-03-14 16:29] yurivict commented on #2300
The ```LinearSVMTest``` test hangs:
[code]

I also observed it to crash once:
[code]

[2020-03-14 19:09] himanshupathak21061998 commented on #2202
Hey, @jeffin143 @rcurtin I think it is already mentioned in docs
https://github.com/mlpack/mlpack/blob/97627c84ca36936af8b79676c91094437a621930/src/mlpack/methods/lars/lars.hpp#L50
Do we need any improvement over this.

[2020-03-14 19:11] mrityunjay-tripathi commented on #2296
Thanks @jeffin143 for the reference. I think this is what I am going to implement (attention network and encoder-decoder layer), but I see that the methods are different according to the references. Even though I need to get a closer look into it (maybe in 2-3 days).

[2020-03-14 19:18] jeffin143 commented on #2202
Thanks , just overlooked it , that looks good :)

[2020-03-14 19:38] rcurtin commented on #2297
I tried to reproduce the issue and I can't.  I'd love to fix the issue but it's not very helpful to just say "you should fix it" when none of us have successfully reproduced it and none of us actually understand what is causing the problem.  (BTW there was a bug report issue template, which could have been helpful if you filled it out.)  What CMake generator are you using?  Can you reproduce the i

[2020-03-15 12:25] joeljosephjin commented on #1432
@mirraaj  Can I know what is the status of the policy_gradient function? I want to implement DDPG and I need the policy gradient to do that. Can I go ahead and implement one?

[2020-03-15 12:38] joeljosephjin commented on #1965
@rcurtin  #1432  can i work on the policy gradient mentioned here? It seems to me as if the original authors are no longer interested.

[2020-03-15 14:57] codeboy5 opened #2303 "Padding in Pooling Layers"
Pytorch has the support for adding padding in pooling layers (https://pytorch.org/docs/stable/nn.html#maxpool2d). Going through the codebase I saw that mlpack does not have support for it.
I would like to work on this unless it has not been added by choice. I would add default values so existing codes not break.
I would open a PR if this sounds good.

[2020-03-15 15:20] kartikdutt18 commented on #2303
Hey @codeboy5, we have a PR open for this that pretty much done (at least from my side). There is also an issue open for this.
Refer #2127.
Thanks.

[2020-03-15 15:47] codeboy5 commented on #2303
ohh okay!

[2020-03-15 15:47] #2303 closed

[2020-03-15 15:47] adithya-tp commented on #2146
Since @rcurtin has resolved the issue, shall I close this?

[2020-03-15 17:54] sriramsk1999 opened #2304 "Linking errors building mlpack on macOS 10.13"
#### Issue description

Building mlpack on a Macbook is throwing linking errors for `armadillo` functions even though `armadillo` is installed and detected when running `cmake`.

#### Your environment

 * version of mlpack: mlpack-master (my own fork but I think that's irrelevant.)
 * operating system: macOS 10.13.6 High Sierra
 * compiler: Apple clang 10.0
 * version of dependencies (Boost/Armadi

[2020-03-16 08:19] codeboy5 commented on #2262
Hi, @naruarjun are you working on this issue?

[2020-03-16 08:25] naruarjun commented on #2262
Yes I am, I’ll make a PR within this week.

[2020-03-16 08:28] naruarjun commented on #2262
I have also made a roadmap of how the implementation is done. I’ll post that here once I get home to indicate the progress I’ve made.

[2020-03-16 18:06] naruarjun commented on #2262
Roadmap:-
1) The main functions involved will be the same as the q learning agent i.e. Step,Episode.
2) A custom replay class will be made that can replay one whole episode at a time.
3) Training will occur in the Episode function rather than the step function.
4) Training is similar to the episode function here(https://github.com/naruarjun/Reinforcement_Learning/blob/master/Cartpole/policygradien

[2020-03-16 18:43] rcurtin commented on #2300
Hey @yurivict,

Thanks for the report.  I also can't reproduce this one, so the issue template would have been really helpful: what's the Armadillo version?  What's the Boost version?  What's the compiler version?  When I run the tests with valgrind, both on 3.2.2 and on the master branch, I get:

[code]

and that one error I believe is resolved in the latest ensmallen version (and doesn't seem to

[2020-03-16 18:51] yurivict commented on #2300
armadillo-9.600.4_4
boost-libs-1.72.0
ensmallen-2.11.5

[code]

[2020-03-16 23:23] rcurtin commented on #2270
Awesome, thanks @adithya-tp!  This is resolved now:

https://www.mlpack.org/doc/mlpack-git/cli_documentation.html#gmm_probability_detailed-documentation

vs. the old one:

https://www.mlpack.org/doc/mlpack-3.2.2/cli_documentation.html#gmm_probability_detailed-documentation

[2020-03-16 23:23] #2270 closed

[2020-03-17 00:13] rcurtin commented on #2146
#2234 isn't merged yet, so let's wait on that first. :+1:

[2020-03-17 01:08] birm commented on #2304
Do you mind sharing your cmake command and output?

[2020-03-17 04:16] sriramsk1999 commented on #2304
`$ cmake ../
-- The C compiler identification is AppleClang 10.0.0.10001044
-- The CXX compiler identification is AppleClang 10.0.0.10001044
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc
-- Check for working C compiler: /Library/Developer/CommandLineTools/usr/bin/cc - works
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Detecting C com

[2020-03-17 05:15] birm opened #2308 "load_save_test fails on MacOS (at least through Azure)"
Azure tests have been failing, namely those around value tests of test_file.h5 https://github.com/mlpack/mlpack/blob/295398e46816df3663a5c851b46981ca2a03d56e/src/mlpack/tests/load_save_test.cpp#L867 and https://github.com/mlpack/mlpack/blob/295398e46816df3663a5c851b46981ca2a03d56e/src/mlpack/tests/load_save_test.cpp#L813

I'm reporting this so, at least, it's a _known issue_ rather than a thing ea

[2020-03-17 05:37] kartikdutt18 commented on #2308
Hey @birm, Thanks for raising an issue for this, There is a kind of working solution in #2278, I think it needs some changes but the last time I checked it had passed the LoadSaveTest on MacOS. Thanks a lot.

[2020-03-17 05:38] kartikdutt18 commented on #2308
Also it fails locally when I ran an update on my dependencies, I wasn't able to fix it so maybe the PR will provide us with the solution for the same.

[2020-03-17 09:23] mrityunjay-tripathi opened #2309 "call for better documentation"
I learn a lot faster when there is an example of the tool at hand since it gives me hands-on experience. The mlpack documentation is extensive when it comes to details of the particular class but it somewhat lacks when it comes to examples or the use cases of the class/member function/member variable. For example in [cppreference](https://en.cppreference.com/) or in the documentation of any other

[2020-03-17 12:39] kartikdutt18 commented on #2252
Hey I think this should be solved in #2265, Could you try it and see if it solved your issue?
Thanks.

[2020-03-17 12:59] gaurav-singh1998 commented on #2226
Hi, @shrit since this issue has been solved. I think we should go ahead and close it. Thanks.

[2020-03-17 13:21] #2226 closed

[2020-03-17 13:38] prince776 opened #2310 "Convolution<> Layer cauing Segmentation Fault( core dumped) error."
Hi, I was working on developing models and whenever I exceeded a certain limit of output maps in convolution layer, and then tried to train, I got the error : `Segmentation fault (core dumped)`
basically:
[code]
works, but
[code]
terminates with error:
[code]

As suggested by @zoq, I used gdb to find what exactly is causing error and I found that
[code]
inside  `Gradient()` function of `Convolutio

[2020-03-17 13:56] codeboy5 commented on #2310
I am facing similar issues with the ZFNet model I have implemented.

[2020-03-17 14:54] zoq commented on #2308
Right, #2278, should fix the issue, let's see if https://dev.azure.com/mlpack/mlpack/_build/results?buildId=1028&view=results returns green, and close the issue afterwards.

[2020-03-17 14:58] kartikdutt18 commented on #2310
@prince776, Could you try one more thing please. Could run predict without training, if the problem is associated with Gradient then at least predict part should work fine. Thanks a lot for opening this issue and I think the above simple check might give us more insight. Thanks a ton.

[2020-03-17 16:31] prince776 commented on #2310
Hi @codeboy5  @kartikdutt18 Thanks for the responses. Yes @kartikdutt18 Predict is working totally fine. Just as gbd showed, it's due to Gradient Function of Convolution class.

[2020-03-17 16:40] kartikdutt18 commented on #2310
Okay, I'll try to debug it tonight / early tomorrow. Whatever find I'll post it here. Thanks.

[2020-03-17 16:43] prince776 commented on #2310
How did you run AlexNet by the way? I saw your implementation of AlexNet it also had 64 output maps. You were using Sequential<> instead of FFN<>, can you tell me how did you train it?

[2020-03-17 16:48] himanshupathak21061998 commented on #2310
@prince776 Thanks for posting this @kartikdutt18 I will also try to debug this if I find something I will post it here.

[2020-03-17 16:56] kartikdutt18 commented on #2310
@prince776, I think as far as I remember for AlexNet I used padding and FFN type implementation rather than a class type. The class type always failed so I assumed that I had misused a pointer somewhere. Also one thing to know is **You need to add Identity layer before sequential if sequential is your first layer.** Thanks a lot @himanshupathak21061998, I think this way if there is really an issue

[2020-03-17 17:16] birm commented on #2308
And we're good!

[2020-03-17 17:16] #2308 closed

[2020-03-17 21:08] himanshupathak21061998 commented on #2212
@rcurtin I think we should keep this once I found a workaround for this we will close it.

[2020-03-18 01:00] rcurtin commented on #2304
Maybe it's worth trying with `-DUSE_OPENMP=OFF`?  I'm not sure what exactly is causing the issue though; if what I suggested works, it's only a workaround.

[2020-03-18 05:44] sriramsk1999 commented on #2304
@rcurtin , that actually worked, mlpack compiled and installed successfully.

But there still appear to be a few problems. Running `bin/mlpack_test` gives me:

`
dyld: Library not loaded: /usr/local/opt/gcc/lib/gcc/9/libgfortran.5.dylib
  Referenced from: /usr/local/opt/arpack/libexec/lib/libarpack.2.dylib
  Reason: image not found
Abort trap: 6
`

I think trying to install gcc and then switching

[2020-03-18 06:41] rakeshacharya-d opened #2313 "Adding IBEGAN module to mlpack library"
Hello guys  !

I'm Rakesh, i want to contribute to mlpack library by building the Image Generation modules .

Currently  mlpack has GAN,WGAN.Many latest GAN models have disrupted the Image Generation field like BEGAN,Energy Based GAN,Manifold Matching GAN,Probabilistic GAN.Among the existing models BEGAN/I-BEGAN outruns most of the models,including Energy Based GANs.I hope it will be a good leap f

[2020-03-18 07:33] favre49 commented on #2313
That would be great, I look forward to seeing it :)

[2020-03-18 09:52] kartikdutt18 commented on #2310
So far this is what I have done:
1. Built a neural network test case to add in mlpack.
2. Tested it for various output channels. (2, 8, 16, 32).
3. Result : Worked for 2, 8, 16.
Test is stuck on 32 channel output.
Also there are model implementation of VGG19, 16 which have channels upto 512. And if they do work then it maybe it is related to limitation of our device.

[2020-03-18 09:54] kartikdutt18 commented on #2170
@ojhalakshya, Can you close this. Thanks.

[2020-03-18 10:15] kartikdutt18 commented on #2310
Okay so the test didn't segfault on 32 channels. Going for vgdb.

[2020-03-18 10:32] #2170 closed

[2020-03-18 11:51] prince776 commented on #2310
I was also thinking if it's due to some sort of device limitation, but while running the program the memory and CPU usage all were not nearly full.
I think you said you have a raspberry pi set up with mlpack so, can you try to see at how many output channels does it segfaults compared with your laptop/computer.

[2020-03-18 11:57] kartikdutt18 commented on #2310
I can try that but before I go for it, I think @adithya-tp has implemented VGG16, so I wanted to know if he could share some results to ensure that it works. That way we know that it's not related to the device. Could you also share details of your system:
My Local System has the following config:
1. 16 GB RAM
2. i7, 7 th gen (2.3 GHz)
3. OS: OSX (Catalina)

[2020-03-18 12:05] prince776 commented on #2310
My Local system has the following specifications:
1. 8 GB RAM
2. i5 8th gen (2.3 GHz)
3. OS: Ubuntu 16.04
4. Dedicated Nvidia GTX 1050 Ti, 4GB VRAM (I wasn't using BLAS though)

[2020-03-18 12:14] rcurtin commented on #2310
If you apply the changes from https://github.com/mlpack/mlpack/pull/2234, does it fix the issue?

[2020-03-18 12:17] kartikdutt18 commented on #2310
I am building mlpack using that right now, Hopefully will get to know about that soon.

[2020-03-18 12:46] kartikdutt18 commented on #2310
Hey @prince776, I took my LeNet and made the following change:

[code]
It's working fine for me (almost 1 epoch complete, will try higher channels and get back to you).
However alexnet fails so maybe the problem isn't with convolution?
Hopefully I will know more in an hour.

[2020-03-18 13:43] kartikdutt18 commented on #2310
Other thing I tried, I reduced kernel sizes in alexnet and printed input shape after each convolution.
[code]
But it segfaults even after creating a copy for inputs in convolution layer.

[2020-03-18 15:09] prince776 commented on #2310
Can you share the full code of this please.

[2020-03-18 15:13] kartikdutt18 commented on #2310
The code is available [here](https://github.com/mlpack/models/pull/60).Changes that you need to make are:
1. There is an incomplete if condition in data loader, remove that.
2. replace output channel = 16 there by any number you want and make the change in `if` condition to match that number.
3. Run using `./bin/mnist_tutorial_cnn`

[2020-03-18 15:16] janbraun opened #2314 "Copying a FFN leads to silently corrupted memory (address sanitizer detects a heap use after free)"
#### Issue description

Unfortunately, when copying a mlpack::ann::FFN, the program seems to continue operating normally, but in a program with longer runtime and dynamic memory usage, bizarre effects can surface hinting at memory corruption.

When compiling with "-fsanitize=address", a "heap-use-after-free" is detected.

#### Your environment

 * version of mlpack: 3.2.2 (Present since at least 3

[2020-03-18 15:29] prince776 commented on #2310
Thanks

[2020-03-18 15:46] prince776 commented on #2310
Quick update:
I used Sequential<> to add convolution layers then wraped it in FFN with identity layer first (just like in your example of mnist) and it worked.
However if convolution layer was directly added to FFN and not to Sequential<> then it terminates with segfault.

So:
[code]
works.
but,
[code]
gives segfault error

[2020-03-18 15:50] kartikdutt18 commented on #2310
Hey @prince776, Did you try out my LeNet yet?
I am really happy with that model, it worked everywhere so if you would like you can try that too. What do you think could be causing this, maybe we missed some documentation?
Like Identity layer bit that I said was written as a comment in sequential.hpp .

[2020-03-18 15:50] prince776 commented on #2310
Update:
FFN also works without Sequential if IndentityLayer<> is added before everything. However it is slower.

[2020-03-18 15:53] prince776 commented on #2310
I am working on it. Getting error: `[FATAL] Cannot open file './../data/mnist_train.csv'`. Problem is it still persists even if I add mnist_train.csv file

[2020-03-18 15:54] kartikdutt18 commented on #2310
Run this, `cmake -DDOWNLOAD_MNIST=ON`

[2020-03-18 15:58] prince776 commented on #2310
It works correctly.

[2020-03-18 15:58] kartikdutt18 commented on #2310
Other option is `-DDOWNLOAD_DATASETS=ON` (It will download all datasets though). I am working on a dataloader to download file during runtime rather than when it is compiled.

[2020-03-18 15:58] kartikdutt18 commented on #2310
Great!!!

[2020-03-18 15:59] prince776 commented on #2310
So Apparently as long as IndentityLayer<> is added before these convolution layers, it works fine, but without it can terminate with segfault for some 50+ outputChannels.

[2020-03-18 17:40] prince776 commented on #2310
This fixed the issue for me.

[2020-03-18 18:04] kartikdutt18 commented on #2310
@prince776, Should we close this?

[2020-03-18 18:16] himanshupathak21061998 commented on #2310
Oh, I am late @kartikdutt18 and @prince776  thanks for working on this. Maybe next time I will be able to help you guys.

[2020-03-18 18:57] prince776 commented on #2310
I will close it later tomorrow because I'm still getting some segfaults in inception network. I'm not sure if that's because of my implementation or convolution layer. I will be doing further testing and once I'm done I'll close it if it's resolved.

[2020-03-18 21:51] himanshupathak21061998 commented on #2314
@rcurtin  @zoq It occurs when we are trying to copy the Linear layer to the I am not sure why it is happening. can you give some insight on what may be the cause of this?

[2020-03-18 21:56] shrit commented on #2185
Keep open

[2020-03-19 08:10] Manav-Kumar commented on #2304
I am also facing the issue with Mac OS. Can you please help me with it?
I am getting the following error on running make command to build some libraries.
make[3]: *** No rule to make target '/usr/local/lib/libboost_program_options.dylib', needed by 'lib/libmlpack.3.2.dylib'.  Stop.
make[2]: *** [CMakeFiles/Makefile2:442: src/mlpack/CMakeFiles/mlpack.dir/all] Error 2
make[1]: *** [CMakeFiles/Makefi

[2020-03-19 09:18] ilya-pchelintsev commented on #2314
The `gradient` field of `Linear` causes the problem.

The optimizer creates variable `gradient` inside itself, after that the `gradient` field of network `Linear` layer is assigned to it in `FNN::ResetGradient`. That assignment is done with `copy_aux_mem` flag set to false which means that the two `gradient` variables share the same memory. After the optimizer is done the `gradient` is destroyed.

[2020-03-19 12:08] rcurtin commented on #2314
@janbraun thanks for the clear and comprehensive error report.  I really appreciate that, it makes it easy to understand what is going on.  I'm assuming the issue happens specifically when an `FFN` is copied, and not at another time.

@ilya-pchelintsev nice observation!  I think that you are right.  If you'd like to fix it, here's some information that hopefully is helpful.  There are a number of

[2020-03-19 12:35] Adityachaturvedi2906 commented on #2227
to install the package of Mlpack you can run one of the following:
conda install -c conda-forge mlpack
conda install -c conda-forge/label/gcc7 mlpack
conda install -c conda-forge/label/cf201901 mlpack

[2020-03-19 13:39] favre49 commented on #2217
Since #2295 has been merged, I think we can close this.

[2020-03-19 13:40] #2217 closed

[2020-03-19 13:48] favre49 commented on #2185
I had no idea that worked

[2020-03-19 17:11] rcurtin commented on #2185
mlpack-bot will actually remove the stale tag for any response (for 30 days at least).

[2020-03-19 17:31] janbraun commented on #2314
Am Donnerstag, 19. März 2020, 13:08:27 CET schrieb Ryan Curtin:

You are welcome and more importantly, thanks for taking this matter up
immediately. You are showing an impressive pace.

And yes, I observed it with copies of FFN, also the address sanitiser exits
immediately during the copy.

Thanks everyone!

Jan

[2020-03-20 00:09] #2161 closed

[2020-03-20 00:09] #2149 closed

[2020-03-20 05:59] #2275 closed

[2020-03-20 07:54] bisakhmondal commented on #2294
Hey @kartikdutt18, I want to implement r metric. Just to be sure, are we talking about coefficient of determination popularly known as `R squared` metric?

[2020-03-20 08:03] Manav-Kumar commented on #2309
Can we somehow also provide the user with the platform where he/she can run the code as provided by w3schools etc? That platform will consist of just code specific libraries to run and test.

[2020-03-20 08:19] prince776 commented on #2310
I'm closing this issue, #2234 solves it.

[2020-03-20 08:19] #2310 closed

[2020-03-20 08:55] prince776 opened #2318 "Padding layer implementation seems wrong."
If we look at padding layer's Forward function, it is:
[code]

Here the padding is being done assuming input is a single data point, however it is `nCols` datapoints and each datapoint having `nRows` features. Padding should be done to each col after converting it into a cube of shape `(inputWidth, inputHeight, inSize)`.

This layer also causes incorrect dimension multiplication errors when used,

[2020-03-20 09:29] ShikharJ commented on #2318
That's okay, for padding, we're simply passing individual inputs to the layers anyways. See the `Forward` function in `ann/layer/convolution_impl.hpp`:
[code]
Hope this helps.

[2020-03-20 09:29] #2318 closed

[2020-03-20 09:44] prince776 commented on #2318
I see. I used it directly in FFN.Add() before max pooling so I can get same pooling effect so it gave error.
Just a little doubt, is it a good thing to have some layers in layer folders that can't be directly used in FFN/RNN, just from design point of view.

[2020-03-20 11:40] favre49 commented on #2309
I don't see a reason to do this honestly, it's too much effort for very little reward. Something like this could be using Jupyter notebooks, which is something to discuss in depth.

I agree that our documentation could use an overhaul. In my mind, the ideal documentation is something like [Theano's](http://deeplearning.net/software/theano/tutorial/index.html#prerequisites) where they give a good e

[2020-03-20 12:16] Manav-Kumar commented on #2309
Completely convinced with your explanation. So now which topic to start with for documentation?

[2020-03-20 12:29] favre49 commented on #2309
Let's wait for more input :) This is a big task, and it will take some time to reach a consensus.

[2020-03-20 15:36] iamshnoo commented on #2200
Hi @gaurav-singh1998 are you still working on the MultiLabelMargin Loss or is it okay if I want to take it up?

[2020-03-20 15:38] gaurav-singh1998 commented on #2200
Hi, @iamshnoo you can move forward with it.

[2020-03-20 16:50] birm commented on #2304
@Manav-Kumar does your cmake output specify a found boost version, and the components found?

[2020-03-20 17:25] ShikharJ commented on #2318
I'm not sure I understand what you mean by "can't be directly used".

[2020-03-20 17:53] kartikdutt18 commented on #2294
Hey @bisakhmondal, You could take a look at #1796 for more details. I think it has the implementation. Here is the link for pytorch [PR](https://github.com/pytorch/ignite/pull/496/files/f285629b74758d571b5613c7f40cc128c0e6a2e3).

[2020-03-20 18:21] Manav-Kumar commented on #2304
No, but while running cmake ../ it often outputs that STB_image is not found, then it starts it downloading instead i have already installed it?
Is the mlpack package available on mlpack.org/download isn't stable?

[2020-03-20 18:23] adiwajshing opened #2319 "Multithread Naive Convolution?"
Hi,

Is there a reason why the NaiveConvolution::Convolution functions haven't been multithreaded?

[2020-03-20 18:25] rcurtin commented on #2304
@Manav-Kumar I was trying to help in the chat room but I never heard back.  Can you paste the entire CMake output that you are getting when you run CMake from a clean build?

I also don't understand your second question.

[2020-03-20 18:35] Manav-Kumar commented on #2304
Initially i have installed the mlpack from https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/build.html and while running cmake command it was showing me error as pasted above, But when cloned from github and run it in master branch it was running successfully with few warnings. So my question was, the package available on the website is it different from the github master branch repo?
Also can i wo

[2020-03-20 18:55] rcurtin commented on #2304
@Manav-Kumar I'm not sure that you actually pasted the CMake output?  What I see that you posted is some small snippet of output from `make` and a qualitative description of the output of CMake.  Unfortunately, until I see that entire CMake configuration log, I can't help describe what's going on.

In any case, the master branch is not yet released, so, yes, version 3.2.2, which is what is current

[2020-03-20 19:14] Manav-Kumar commented on #2304
@rcurtin I am sorry what i have pasted above is the output of make command (which is yet to be solve) and `cmake` has successfully executed with the version 3.2.2(available on website). But using git master branch repo `make` has also executed successfully.
Thanks for your all help:)
Is there anything to be still done in this issue?

[2020-03-20 19:54] bisakhmondal commented on #2294
yeah, I was talking about the same. Issue #1796 already has the r metric implementation, but the pr is closed due to inactivity, what should I do now @kartikdutt18, implement it or go for top-k accuracy metric.

[2020-03-20 22:50] zoq commented on #2319
OpenBLAS should be able to use multiple cores for the computation, so there is often no need to explicitly implement threading.

[2020-03-21 02:37] kartikdutt18 commented on #2294
I think it's fine to go for it, Just build on top of it. Could you just ensure that implementation in the PR is correct and add tests. Thanks.

[2020-03-21 04:38] bisakhmondal commented on #2294
Okay then, working on it. Thanks.

[2020-03-21 06:38] adiwajshing commented on #2319
Actually, the code does not use Armadillo. Is there a reason why that is?
`
template<typename eT, typename Border = BorderMode>
  static typename std::enable_if<
      std::is_same<Border, ValidConvolution>::value, void>::type
  Convolution(const arma::Mat<eT>& input,
              const arma::Mat<eT>& filter,
              arma::Mat<eT>& output,
              const size_t dW = 1,
              co

[2020-03-21 06:54] prince776 commented on #2318
By directly using padding layer I meant something like:
[code]
Since pooling layer currently doesn't support padding(there is a PR #2127 but not merged yet) , but inception network required same  padded pooling, I used it for this purpose and thought implementation is wrong.

[2020-03-21 07:53] ShikharJ commented on #2318
To be honest, having a separate direct layer for padding seems a bit too excessive for me. I'd rather have the pad variables overloaded in the pooling layer implementation itself, if they're needed. Very few models need intermittent padding anyways. Not sure if that's what the other PR does.

[2020-03-21 10:42] prince776 commented on #2318
Yes having a direct layer for padding is unnecessary, but since Pooling layers don't have padding feature(and it was required in Inceptionv1) I was just trying to use this as a temp solution, but its usage was different than I thought.
I think I will wait till #2127 is merged or write some temp code to solve it.
Thanks for all the information.

[2020-03-21 15:46] walragatver commented on #1735
Closing this as #2139 is merged. @himanshupathak21061998 thanks once again.

[2020-03-21 15:46] #1735 closed

[2020-03-21 17:21] #2193 closed

[2020-03-22 01:52] JohnLangford opened #2322 "Incremental Epsilon-neighbors"
I have a neighbor problem with reference and query sets, so naturally I looked into mlpack.  However, I'm not quite finding what I was hoping for, so I wanted to check if I'm missing something after my documentation + code skim.  Am I?

The problem in more detail:
I have a reference set which grows over time, so I want to have a reference tree supporting incremental insertion.  I have a query set

[2020-03-22 13:50] rcurtin commented on #2322
Hey John, hope you're doing well.

What we found over time is that insertion into kd-trees degrades performance, enough so that when growing a reference set it's often best to simply rebuild the tree from scratch.  But in your situation, if lots of points are being incrementally inserted, the kd-tree would definitely be a bad choice.  I think that what might be better here is a structure like the

[2020-03-22 13:50] rcurtin commented on #2322
Also, perhaps @lozhnikov might have some comments on this one, he wrote a lot of the R tree support.  (No worries if not, but I figured the tag might be useful.)

[2020-03-22 16:52] JohnLangford commented on #2322
Thanks Ryan.

Does knn.search() support epsilon-neighbors instead of nearest neighbors?  Basically, I want the computation to be approximately zero when query and reference trees are far apart rather than substantially more when a nearest neighbor search struggles to find the nearest of many far-away neighbors.

[2020-03-22 17:02] rcurtin commented on #2322
Yeah, you can set relative error either as an argument to the constructor of `NeighborSearch`, or call `knn.Epsilon() = relative_error_tolerance`.  You could also set the search mode to `GREEDY_SINGLE_TREE_MODE` to avoid any backtracking at all, but then there's no error guarantee: `knn.SearchMode() = GREEDY_SINGLE_TREE_MODE`. :+1:

[2020-03-22 17:19] JohnLangford commented on #2322
I'm not looking for relative error here---in fact I'd like no error at all.  I just want to answer the question: "Is there a point in set A which is within epsilon of a point in set B?"  The identity of such points is optional but welcome.   Make sense?

[2020-03-22 17:29] rcurtin commented on #2322
Oh, I see---sorry, I misunderstood the problem.  I know how this can be done, but the nearest neighbors implementation won't support it.  Correct me if I'm still off, but I believe the problem is, given sets A and B, determine if there exists a pair (q, r) where q \in A, r \in B such that d(q, r) < epsilon.  Is that right?  If so, this could be solved efficiently in low(ish) dimensions by dual-tre

[2020-03-22 22:21] JohnLangford commented on #2322
Right, thanks.

[2020-03-22 22:21] #2322 closed

[2020-03-23 08:56] tejasvi opened #2327 "LoadSaveTest fails on macOS"
Quoting #2308,

https://dev.azure.com/mlpack/mlpack/_build/results?buildId=1142&view=logs&j=1b38ea94-fede-5667-20eb-44d3de1ec085&t=72087b03-c17c-5a26-b713-236d9bb6c096&l=142

[2020-03-23 09:00] tejasvi commented on #2327
Closed in view of #2320

[2020-03-23 09:00] #2327 closed

[2020-03-23 16:21] #2160 closed

[2020-03-23 17:29] #2146 closed

[2020-03-23 17:43] rcurtin commented on #2300
I tried to reproduce this, even in a FreeBSD VM.  I was completely unable to.  I'm hoping that perhaps #2326 has fixed the issue, but I have no guarantee.  I'll go ahead and close this (hoping that it is fixed!) and when we release 3.3.0, if you still have problems, please open another issue.  Unfortunately, if we can't reproduce it, there's only so much we can do :(

[2020-03-23 17:43] #2300 closed

[2020-03-24 00:42] rcurtin commented on #2221
I suspect that this might be fixed by #2326. Do you think we should close this issue?  None of us succeeded at reproducing the issue so maybe our best course of action is to assume it's fixed and reopen if it's not. :+1:

[2020-03-24 01:28] #2221 closed

[2020-03-24 01:33] rcurtin commented on #2322
:+1: sounds good.  In any case, happy to talk more about the fast range count algorithm if you like---it wouldn't be hard to implement.

[2020-03-24 01:53] rcurtin commented on #2309
Definitely, this would be a cool idea, but to do so we should probably use xeus-cling C++ Jupyter notebooks.  (At least for C++ examples.)  Building off of their system makes it much less effort for us, but there are still a couple issues to be solved (on their end) before the C++ notebook interface is ready.

Agreed, this really is a huge task.  If we are taking documentation from new contributor

[2020-03-24 02:39] kartikdutt18 commented on #2221
Thanks a lot @rcurtin, for working on it. Closing #2240.

[2020-03-24 16:33] Aa20475 commented on #2084
I would like to work on this issue. Can I proceed? :D

[2020-03-24 16:41] Aa20475 commented on #2084
I would like to work on this issue. Can I proceed? :D

[2020-03-24 16:41] Shikhar-S commented on #2084
Please go ahead. I am not working on the issue anymore.

On Tue, 24 Mar 2020, 10:03 pm AJ, <notifications@github.com> wrote:

[2020-03-24 16:41] Aa20475 commented on #2084
@Shikhar-S okay thanks for the info!

[2020-03-24 16:55] kartikdutt18 opened #2330 "Just wanted to see if mlpackbot labels this."

[2020-03-24 16:56] #2330 closed

[2020-03-24 19:06] rcurtin opened #2331 "test issue"
Does mlpack-bot label new issues?

[2020-03-24 19:25] rcurtin commented on #2331
What?  Why did it take 18 minutes?

[2020-03-24 19:25] #2331 closed

[2020-03-24 19:25] rcurtin opened #2332 "test issue #2"
Let's try again...

[2020-03-24 19:26] #2332 closed

[2020-03-24 19:26] rcurtin opened #2333 "test issue #3"
This time without syntax errors (hopefully)...

[2020-03-24 19:28] #2333 closed

[2020-03-24 19:29] rcurtin opened #2334 "test issue #4"
I really have to open a new issue every time, otherwise the hook doesn't get called.  Sorry everyone who's watching the repo for all the notifications... :(

[2020-03-24 19:29] #2334 closed

[2020-03-24 19:29] rcurtin opened #2335 "test issue #5"
Maybe I have the right debugging output this time...

[2020-03-24 19:30] #2335 closed

[2020-03-24 19:30] rcurtin opened #2336 "test issue #6"
This one might work...

[2020-03-24 19:32] #2336 closed

[2020-03-24 19:32] rcurtin opened #2337 "test issue #7"
Maybe this one will work.  I'm really not actually even sure why mlpack-bot started failing to label issues anyway, maybe it's been going on for a while.

[2020-03-24 19:37] himanshupathak21061998 commented on #2337
mlpack-bot fixed :+1:

[2020-03-24 19:38] rcurtin commented on #2337
I didn't actually change the code significantly, just fixed some deprecation warnings.  I think maybe there is just lag in the Github API for some reason or something?  Anyway, it seems to work now, so I'll close this.

[2020-03-24 19:38] #2337 closed

[2020-03-25 05:56] mrityunjay-tripathi opened #2338 "Data type of loss functions"
The [loss functions](https://github.com/mlpack/mlpack/tree/master/src/mlpack/methods/ann/loss_functions) in ann return ```double``` type loss only. Can we have the template for that as well so that users can set the precision whatever they want? In general, we don't use precision up to 17 decimal points for calculating loss, so using just float should work fine I think.

For example
[code]
What do

[2020-03-25 06:50] kartikdutt18 commented on #2211
Lets try to keep this one open.

[2020-03-25 07:05] kartikdutt18 commented on #2211
Thanks @favre49, Do you mind sharing your opinion on this?

[2020-03-25 07:07] kartikdutt18 commented on #2338
Maybe this is same as #1062 ?
What do you think.
Thanks.

[2020-03-25 07:52] mrityunjay-tripathi commented on #2338
Yeah, You are a miner @kartikdutt18 ;) As mentioned by @rcurtin [here](https://github.com/mlpack/mlpack/issues/1062#issuecomment-316462704) and further in the conversation about templating matrix types (which is already done) but extracting the underlying data types of matrices is not implemented. Boost uses something as ```RandomAccessContainer``` for non-scalar data-types where ```RandomAccessCo

[2020-03-25 09:35] favre49 commented on #2211
Sorry for not replying sooner, didn't notice this issue.

I agree that this would be a good addition to mlpack, I rthink it was discussed on the IRC last year (though I don't remember the specifics).

    Ideally: change function return type based on reduction parameter (Looking for ways to implement the same).

I'll need to go through the code again to give more advice on this. I'll get back to y

[2020-03-25 10:10] kartikdutt18 commented on #2211
Great.
I think the best option would be overloaded something like this`forward(input, target, output)` but then it might not mesh well with the API. Maybe there is another way?

[2020-03-26 20:41] #2223 closed

[2020-03-28 13:13] Param-29 commented on #2319
Hey @adiwajshing, I could help you check if OpenBLAS converts it to a multithreaded program, can you add a testing code which you used to check this. Thanks :)

[2020-03-28 15:24] adiwajshing commented on #2319
Hey, the matrix functions are parallelized, but I don't think it OpenBLAS parallelizes a for loop.
Anyway, I think I figured something out, please see here  #2341

[2020-03-31 21:18] bisakhmondal commented on #2200
Hi @bicycleman15, are you still working on BCE loss?

[2020-04-01 10:15] favre49 opened #2346 "Error stream in loss functions"
Currently, metrics in `src/mlpack/core/cv/metrics` handle errors like this:

[code]
However, the rest of the codebase used `Log::Fatal`. To establish uniformity across the codebase, we should probably change that.

[2020-04-01 10:51] ulassbin opened #2347 "Linking error"
Hello, I have a problem with building my package that uses mlpack.
catkin returns "undefined reference to `bool mlpack::data::Load<unsigned long>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Row<unsigned long>&, bool)" for the line
`
arma::Row<size_t> labels;
mlpack::data::Load("german_labels.csv", labels, true);`

I have done the linking with FindM

[2020-04-01 11:41] Shandilya21 commented on #48
Is this issue is still open or closed? If open I would like to work on this.

[2020-04-01 11:43] kartikdutt18 commented on #2346
Hey @bisakhmondal, Taking this up right?

[2020-04-01 11:45] Shandilya21 commented on #2294
@kartikdutt18 Are all issues is still open or solved? I would like to build SSIM or Top K accuracy?

[2020-04-01 11:48] kartikdutt18 commented on #2294
Hey @Shandilya21, This issue is open. SSIM is currently taken up, if you would like to work on Top K accuracy, that would be great. Just one thing I have to ask is that kindly ensure the metric isn't implemented in core/metrics or core/cv. Looking forward to your PR. Thanks a lot 👍
Also you can refer to the implementation in #2323.

[2020-04-01 11:49] Shandilya21 commented on #2205
@himanshupathak21061998  I would like to solve this issue. How can I proceed with this can you explain? I am new contributor.

[2020-04-01 11:52] Shandilya21 commented on #2294
@kartikdutt18 Thanks for your comment. I am a new contributor here. I am happy to implement the Top K accuracy. Do you explain a bit more about the issue? How to proceed with it?

Thanks in Advance

[2020-04-01 11:59] rcurtin commented on #2347
Hey @ulassbin, sorry to hear you're having issues.  When I look at the configuration you've posted above, I think that it looks correct.  Could you post the output when you run `VERBOSE=1 make` on your project?  That will let us see what the linker is trying to link against.  My thoughts right now for what might be wrong are:

 * It's not linking against mlpack at all because ${MLPACK_LIBRARIES} i

[2020-04-01 12:05] Shandilya21 commented on #2294
@kartikdutt18 I have checked the core/metric and core/metrics, there is no such file and implementation of Top K accuracy. Shall I proceed to build the same?

Thanks

[2020-04-01 12:28] bisakhmondal commented on #2346
I have made the necessary changes.

[2020-04-01 12:32] kartikdutt18 commented on #2346
Great. Looking forward to your PR.

[2020-04-01 12:36] kartikdutt18 commented on #2294
Great. In this issue we plan to add some metrics as well as add tests for the same. Metrics can be found in core/cv/metrics or core/metrics. We would implement them as class with a static function Evaluate that would perform the required operation. For more info you can refer to any existing implementation. Recently, #2323 was merged and would be a great source of reference. Also tests can be foun

[2020-04-01 13:03] bisakhmondal commented on #2346
Just curious to know, is there any performance difference between `Log::fatal ` and throwing exception using std because I found there is also a lot of files is handling the same using the 2nd way.
for eg.(a few)
`../mlpack/src/mlpack/methods/softmax_regression/softmax_regression.cpp
../mlpack/src/mlpack/methods/lsh/lsh_search_impl.hpp
../mlpack/src/mlpack/methods/linear_svm/linear_svm_impl.hpp
..

[2020-04-01 13:07] rcurtin commented on #2346
No, I don't think there's any significant performance difference (though to be honest when we're at the point of throwing an exception, performance isn't a concern anymore since something has clearly gone wrong :smile:).  `Log::Fatal` didn't always previously throw an exception (in earlier mlpack versions, it actually called `exit(1)`...); so my guess here is that when that code was written, it wa

[2020-04-01 14:21] bisakhmondal commented on #2346
Exactly!! It totally got slipped from my mind :). Thanks @rcurtin. Got it. I will make the necessary changes.

[2020-04-01 14:45] bisakhmondal commented on #2205
Hello @Shandilya21, I appreciate your interest👍. But there is already a PR open for the issue. Feel free to have a look.

[2020-04-01 15:44] Shandilya21 commented on #2205
Hello, @bisakhmondal Thanks for your comment. I will look into your PR.
Thanks for an update.

[2020-04-01 15:52] Shandilya21 commented on #2294
Thanks, @kartikdutt18  for explaining the issue in detail and sharing reference #2323 . This will help me to complete the task. I will let you know if I have any doubt/problem.

[2020-04-01 16:57] Karthikeyan564 commented on #2176
Hey, Is anyone working on this?

[2020-04-01 17:07] favre49 commented on #2205
I guess we can close this due to #2266

[2020-04-01 17:08] #2205 closed

[2020-04-01 17:09] Karthikeyan564 commented on #2294
Hey, Is any metric still remaining?

[2020-04-01 17:11] kartikdutt18 commented on #2294
I think Sparse Top K, is still available. if you would like to work on Sparse Top K accuracy, that would be great. Just one thing I have to ask is that kindly ensure the metric isn't implemented in core/metrics or core/cv. Looking forward to your PR. Thanks a lot 👍
Also you can refer to the implementation in #2323.

[2020-04-01 17:44] Karthikeyan564 commented on #2294
Hey thanks, I am working on it.

[2020-04-01 18:25] kartikdutt18 commented on #2338
I think we can close this then.

[2020-04-01 18:54] ulassbin commented on #2347
Thanks for the quick feedback. Here is the output.

`
==> Processing catkin package: 'mlpack_tutorial'
==> Building with env: '/home/ulas/ros/install_isolated/env.sh'
Makefile exists, skipping explicit cmake invocation...
==> make cmake_check_build_system in '/home/ulas/ros/build_isolated/mlpack_tutorial'
/usr/bin/cmake -H/home/ulas/ros/src/mlpack_tutorial -B/home/ulas/ros/build_isolated/mlpack_tu

[2020-04-01 18:58] ulassbin commented on #2347
The output above was VERBOSE=1 catkin_make_isolated --install output. Now the one below is VERBOSE=1 catkin_make output

`ulas@ulas:~/other_ws$ VERBOSE=1 catkin_make
Base path: /home/ulas/other_ws
Source space: /home/ulas/other_ws/src
Build space: /home/ulas/other_ws/build
Devel space: /home/ulas/other_ws/devel
Install space: /home/ulas/other_ws/install
Creating symlink "/home/ulas/other_ws/src/CM

[2020-04-01 19:12] zoq commented on #2338
Agreed, with https://github.com/mlpack/mlpack/pull/2339 merged let's close this one.

[2020-04-01 19:12] #2338 closed

[2020-04-02 10:10] parthsuresh commented on #2200
Hi @ojhalakshya and @kartikdutt18 ,

I see that :
- [cosine embedding loss](https://pytorch.org/docs/stable/nn.html#cosineembeddingloss)
-  [multi-margin loss](https://pytorch.org/docs/stable/nn.html#multimarginloss) (not the same as multilabel margin loss)
- [soft margin loss](https://pytorch.org/docs/stable/nn.html#softmarginloss)
- [multilabel soft margin loss](https://pytorch.org/docs/stable/n

[2020-04-02 10:15] ojhalakshya commented on #2200
I think a draft pr for multilabel soft margin loss is already open. #2345
But I think soft margin loss is available, but it would be good if you can add some some reference of it's use or maybe a research paper.
It is okay if you proceed with the same :)

[2020-04-02 10:17] kartikdutt18 commented on #2200
Also kindly refer to existing PRs as some of the above loss functions already have a PR open.

[2020-04-02 10:26] parthsuresh commented on #2200
My bad, I see that a PR for multilabel soft margin loss has been opened. Edited my comment to reflect this.

I could not find a PR for the other three, so I'm starting with Cosine Embedding Loss. Hope that's okay.

Btw, if anyone else wants to start working on the others, go for it.

[2020-04-02 10:28] kartikdutt18 commented on #2200
Hey @parthsuresh, Kindly refer to #2209. It aims to implement Cosine embeddings loss function. Thanks a lot.

[2020-04-02 10:30] ojhalakshya commented on #2200
I suggest kindly go to the loss functions folder in mlpack code and see if what you want to implement is already there or not.
You can go to this directory for the same.

[2020-04-02 10:40] parthsuresh commented on #2200
Sorry about that @kartikdutt18 , I see the cosine loss now. Edited comment again.

@ojhalakshya , I checked the folder you mentioned before posting my comment but did not check the open PRs, which led to this mistake from my side. I checked again and I'm pretty sure that Soft Margin Loss and Multi Margin Loss have not been implemented yet.

Sorry for the trouble, thank you for your patience.

[2020-04-02 12:31] iamshnoo commented on #2200
Hi @parthsuresh I have been working on the Multi Label Soft Margin Loss and the Multi Label margin loss. Currently, there is a PR open for the multilabel soft margin loss, which has already been mentioned here. Also, I have been working since last week on multilabel margin loss and soft margin loss locally, haven't create a PR for these two yet. I should be able to push the code within the next we

[2020-04-02 13:04] bisakhmondal commented on #2200
Hey @kartikdutt18, @ojhalakshya I want to take it up if @bicycleman15 is not working on it.
It's completely fine @bicycleman15 if you are working it. Take your time. It would be great if we can have some response from you. Thanks.

[2020-04-02 13:08] bicycleman15 commented on #2200
I am really sorry for the late reply. I was unwell for past few days. I am working on it and will make a PR in a day or two.

[2020-04-02 13:17] bisakhmondal commented on #2200
Great👍. Get well soon! Looking forward to your PR.

[2020-04-02 13:22] ojhalakshya commented on #2200
Whichever function you take up, do mention your pr here so that there is confusion for anyone.
Thanks.

[2020-04-02 13:42] kartikdutt18 commented on #2200
Get well soon. Looking forward to your PR.

[2020-04-02 13:42] ojhalakshya commented on #2200
Get well soon.

[2020-04-02 15:11] rcurtin commented on #2347
Ok, I see that `-lmlpack` is being linked against, and I also can see that `libmlpack.so` must be found by the linker, otherwise it would say something like `libmlpack.so: not found`.  Instead, it says there is an undefined reference.  If I had to guess... I think maybe you have two versions of `libmlpack.so` on your system.  I would suspect that there is a version in `/usr/lib/x86_64-linux-gnu/`

[2020-04-02 19:13] parthsuresh commented on #2200
Understood, will work on the multi-margin loss function.

[2020-04-03 05:21] aniket-chowdhury commented on #2084
Is anyone still working on this?

[2020-04-03 08:27] bisakhmondal opened #2349 "Azure pipeline hosted windows image removed"
Dear members,
On 2nd April azure has removed vs2015-win2012r2 pipeline hosted image. We are currently using it under **Windows VS14 Plain**. ([Ref](https://dev.azure.com/mlpack/mlpack/_build/results?buildId=1307&view=logs&j=251dc09e-2875-5e9a-a41b-efbc37f19667))
![Screenshot from 2020-04-03 13-41-49](https://user-images.githubusercontent.com/41498427/78339031-73c25c00-75b1-11ea-9e3d-9bc8488c7267.p

[2020-04-03 08:52] zoq commented on #2349
Thanks for looking this up, let's remove the old image from the ci build.

[2020-04-03 11:36] Shandilya21 commented on #2294
Hi, @kartikdutt18 I stuck in one point, where I need to test cases for my score.
CMake ../
CMake build
However, I added it into CmakeList.txt, but unable to check my code. Can you help me out?

Thanks

[2020-04-03 11:43] kartikdutt18 commented on #2294
The commands to build are `sudo make -j2` or -jN where N is the number of cores. I am not really sure I understood the issue , do you mind pasting the error below. Thanks a lot.

[2020-04-03 12:03] Shandilya21 commented on #2294
Hi, @kartikdutt18  while running the similar command as you mentioned are throwing a single line error as:

make: Nothing to be done for 'cv_test.cpp'.

I don't understand this problem. Can you remark? or I am committing a mistake?
Thanks

[2020-04-03 12:13] kartikdutt18 commented on #2294
Hmm, Can you do one thing, Create a draft PR and I will probably be able to tell what's happening. Just tag me in the PR and I will respond as quickly as I can. Sorry I couldn't help you here. Thanks a lot. 👍

[2020-04-03 12:35] Shandilya21 commented on #2294
Okay, @kartikdutt18 I draft a PR and tag you in it. I will raise similar PR as you suggested #2323.
Thanks.

[2020-04-03 12:43] rcurtin commented on #2084
@aniket-chowdhury there currently isn't an open PR.  The issue still needs to be solved.  So feel free! :+1:

[2020-04-03 13:48] bisakhmondal commented on #2294
Hi @Shandilya21, as told by @kartikdutt18 after building using make,  if you have written your test in cv_test.cpp and want to check it for topK, you can run `./bin/mlpack_test -t CVTest`. Hope it helps. Thanks.

[2020-04-03 23:07] aniket-chowdhury commented on #2084
Great @rcurtin

[2020-04-04 04:46] favre49 commented on #2346
Yeah no issues with that, that makes sense

[2020-04-04 07:21] bisakhmondal commented on #2346
Yeah @zoq, totally understand your concern.

From the #891 discussion, I would like to know more about the idea of interpretable exception.
Thanks.

[2020-04-04 10:32] favre49 commented on #1741
Considering we have since moved to Azure Pipelines, could we use that instead, and have the script print straight to console? Something like:
`Out of 1000 tests, 21 failed`
We could also print the seeds of the tests that failed. Is any other info required?

[2020-04-04 19:18] Shandilya21 commented on #2294
Hi, @bisakhmondal @kartikdutt18 I have some error, Further, I have set a root path of the library using the command: CMake -D BOOST_ROOT= /PATH/ -D. But I unable to figure out the error. Can you help me out? The error I got is as follows:

  Could not find the following Boost libraries:

          boost_program_options

  Some (but not all) of the required Boost libraries were found.  You may need

[2020-04-05 04:03] bisakhmondal commented on #2294
Hi @Shandilya21  before building from source, ensure your system has the required mlpack dependencies installed. You can run
[code]
(for debian based distro)
or
[code]
for more details visit [link](https://www.mlpack.org/doc/mlpack-3.2.2/doxygen/build.html)
Thanks.

[2020-04-05 09:13] himanshupathak21061998 commented on #2294
Hey, @Shandilya21 can, you share some details about your environment. Which operating system you are using and version of boost? I think you are are using windows I am facing same problem in windows build of conda forge https://github.com/conda-forge/mlpack-feedstock/pull/18

[2020-04-05 09:36] Shandilya21 commented on #2294
Hey, @himanshupathak21061998 Thanks for your comment. My environment is as follows:
OS: Ubuntu 18.04
mlpack = 3.0.4
armadillo = 0.968
boost_version = 1.58
If you are facing problem-related to boost libraries missing then you can check the error using. I have similarly solved this issue.
[code]
However, I am not using windows but you can refer to issues #1757 for the problem. I hope that helps you.

[2020-04-06 15:34] rcurtin commented on #1741
I don't know if we have enough compute time there---1000 runs can often take quite a while (especially if we are running many tests, more than just one).  So maybe Jenkins is the way to go.  In any case, it's easy to plug it into a CI tool once we have a script that runs it.

[2020-04-06 19:37] Trento89 opened #2358 "1x0 matrix"
#### Issue description

When passing an arma::Row<size_t> object into the Train() method of mlpack::regression::LogisticRegression, I get an error message stating that the program is being terminated due to incompatible matrix dimensions.  Only problem is that one of the matrices is shown with the wrong dimensions, specifically 1x0 when it is actually supposed to be 1x4.

#### Your environment

 *

[2020-04-07 00:22] rcurtin commented on #2358
Hey there @Trento89, thanks for the clear and concise bug report.  I had to modify the code a little bit to get it to compile, but it's quite similar:

[code]

I found that the problem still exists on the git master branch, and then I dug a bit more and figured out what was wrong.  #2359 fixes the issue, so once that's merged (...and eventually pushed to Debian) the problem should be solved.

In t

[2020-04-07 11:49] #2358 closed

[2020-04-07 13:34] ulassbin commented on #2347
I have reinstalled libmlpack-dev and libmlpack2-dev, now cmake returns:

Base path: /home/ulas/other_ws
Source space: /home/ulas/other_ws/src
Build space: /home/ulas/other_ws/build
Devel space: /home/ulas/other_ws/devel
Install space: /home/ulas/other_ws/install
####
#### Running command: "make cmake_check_build_system" in "/home/ulas/other_ws/build"
####
/usr/bin/cmake -H/home/ulas/other_ws/src -

[2020-04-07 15:07] mrityunjay-tripathi opened #2360 "error in backward function in log softmax"
#### Issue description
The backward function of ```log_softmax.hpp``` doesn't give the correct output.

#### Steps to reproduce
In mlpack:
[code]
Output:
[code]

#### Expected behavior

In PyTorch
[code]
Output:
[code]

Probably, the code in the backward function of ```log_softmax.hpp``` adds ```gy``` in place of the [Kronecker-Delta](https://en.wikipedia.org/wiki/Kronecker_delta) function.
Or am

[2020-04-08 00:18] rcurtin commented on #2346
Ahh, sorry, I realize I keep waffling on this.  In #891 I said that the better idea would be to use specific exception types.  There's one other advantage to that approach: if we use `Log::Fatal`, things are *always* printed to `stderr`.  But this isn't always useful for users; it's primarily useful from bindings.

If I'm a user writing C++ code that uses mlpack, it might be really irritating to h

[2020-04-08 05:31] bisakhmondal commented on #2346
It's completely fine @rcurtin, for the previous suggestion at least I got to dig more into the codebase.

Yup, agree with you. It's pretty irritating every time to see a `FATAL` message even when an exception is being caught.
The 2 issues, you have nicely depicted, I can make the necessary changes in the current issue for the first one.
For the second one, I will continue the discussion on #891( m

[2020-04-08 06:21] bisakhmondal opened #2361 "Support for CheckSameSizes & CheckSameDimensionality utility"
Currently, we have `AssertSizes()` method in `core/cv/metrics/facilities.hpp` for checking same number of data points & labels. But its scope & usage is limited to only metrics only.

  As suggested by @rcurtin on issue #2346 we should add `CheckSameSizes()`, `CheckSameDimensionality()` utilities in `core\utils`  for size and dimensionality checking, as it can improve code readability and reduce c

[2020-04-08 13:51] bicycleman15 commented on #2200
I dont think I'll be able to work on the BCE Loss. Would anyone like to take it up ? Sorry for holding onto it for so long.

[2020-04-08 13:53] codeboy5 commented on #2200
@bicycleman15 I will take it up, no issue.

[2020-04-08 13:53] bicycleman15 commented on #2200
Sure @codeboy5 , go ahead.

[2020-04-08 14:30] rcurtin commented on #2346
I'd say maybe it's better to wait a few days to see if anyone else has any input before making changes, but yeah, overall, I'd be happy if you made the changes for whatever we agree on. :+1:

[2020-04-08 14:47] bisakhmondal commented on #2346
Yeah, Sure!! :+1:

[2020-04-08 14:53] rcurtin commented on #2347
Looks like based on that output that you'll need to clear your `CMakeCache.txt` in your project (in `/home/ulas/other_ws/build/`) and reconfigure, and that may help.  Note that mlpack 2 is pretty old at this point, and it may make sense to hand-install mlpack 3 (or upgrade to a distribution that packages it).  Perhaps for your needs mlpack 2 works, I'm not sure. :+1:

[2020-04-09 04:26] kartikdutt18 commented on #1228
Hey @rcurtin, should we close this issue ?
He Initialization(#1280) and Glorot Initialization (Xavier #1272) are already present in mlpack. Thanks.

[2020-04-09 04:29] kartikdutt18 commented on #1228
Hey @rcurtin, @zoq should we close this issue ?
He Initialization and Glorot Initialization (Xavier) are already present in mlpack. Thanks.

[2020-04-09 07:00] mrityunjay-tripathi commented on #2360
Alos, log_softmax doesn't pass ```JacobianTest``` when I tested it locally as the error was around 0.8.

[2020-04-09 11:44] rcurtin commented on #1228
@kartikdutt18 you're right, thanks for pointing it out.  I think we can close it.  (If I missed something, let me know, we can reopen it. :))

[2020-04-09 11:44] #1228 closed

[2020-04-09 12:19] kartikdutt18 commented on #506
This issue still exists. @ojhalakshya and I are taking this up.

[2020-04-09 12:52] abinezer opened #2363 "Implementation of Policy Gradient Methods"
In the reinforcement learning module, we already have a value-based implementation which involves methods like q_learning and the greedy policy. We could now move to policy optimization . Below are a few policy gradient methods I know of and plan to implement soon. Please feel free to add to the list... -
1. Vanilla Policy Gradient (VPG)
2. Trust Region Policy Optimization (TRPO)
3. Proximal Polic

[2020-04-09 14:58] Rubix982 commented on #1511
Hi!
Is work still needed here? If so, I'm willing to help you improve the documentation. I recently stumbled onto MLPack through GSoC, and I like the idea and essence that the project carried.

What problems do we still have? What have the updates been since Feb 19, 2019? Where can I help? What should I know before contributing? I've read the CONTRIBUTING.md - is there anything else in the technic

[2020-04-09 16:28] joeljosephjin commented on #2363
I have been trying to implement REINFORCE for some time now, but I'm stuck because the softmax layer isn't implemented yet, and the log_softmax layer has some problems it seems. I hope it's not an issue if I keep working on it in "parallel" with you.

[2020-04-09 22:53] #2230 closed

[2020-04-10 03:11] kartikdutt18 commented on #2119
Keep Open.

[2020-04-10 08:10] abinezer commented on #2363
Absolutely no problem. I would require lots of help, so that's a good thing!

[2020-04-10 14:22] kartikdutt18 opened #2366 "Logistic Regression Test Fails on Azure."
The Logistic Regression Test fails on azure for most PRs that made a commit today. Here is the link to one of [them](https://dev.azure.com/mlpack/mlpack/_build/results?buildId=1429&view=logs&j=1b38ea94-fede-5667-20eb-44d3de1ec085&t=72087b03-c17c-5a26-b713-236d9bb6c096&l=149). Locally they run fine alteast on my machine. This might be a good first issue to get started with testing. This issue is op

[2020-04-10 15:39] jeffin143 commented on #2366
Might be because of https://github.com/mlpack/mlpack/pull/2359 , not sure

Taking a guess

[2020-04-10 15:40] kartikdutt18 commented on #2366
Think so too. Also not sure.

[2020-04-10 16:07] rcurtin commented on #2366
Interesting, it passed the build in that PR though.  I'll try to investigate tonight.  Does it happen on every PR or only sometimes?

[2020-04-10 16:21] kartikdutt18 commented on #2366
I think it failed on the last 4 PRs (maybe all).

[2020-04-10 16:22] rcurtin commented on #2366
Ok, I'll take a look.  Sorry about that...

[2020-04-10 16:26] kartikdutt18 commented on #2366
I think this fails on all PRs. Just checked it failed on the last 5 PRs.

[2020-04-10 16:31] aadarsh-asthana commented on #2363
I would like to hop on to this if that's fine. I'd specifically like to work on the actor-critic algorithms

[2020-04-10 22:53] #2253 closed

[2020-04-11 15:12] ojhalakshya commented on #506
Hey @rcurtin
I had been working on this issue for a while now, even after making a dozen of template changes I am not sure whether it is the right direction to move forward in.
I do have a branch for it currently, @kartikdutt18 has also made some changes there. If you see fit I can make a pr, or maybe you can first take a look at it.
Thanks.

[2020-04-12 21:53] #2250 closed

[2020-04-13 06:53] #2224 closed

[2020-04-13 10:59] ulassbin commented on #2347
Hand installing mlpack3 solved the issue. Thanks.

[2020-04-13 10:59] #2347 closed

[2020-04-13 11:44] rcurtin commented on #2347
@ulassbin great to hear you got it worked out. :+1:

[2020-04-13 17:34] rcurtin commented on #2366
I've been looking into this over the weekend.  It's not at all straightforward.  But I'm able to reproduce it, though only on an OS X system.  In short, for some reason, an Armadillo expression that is `vector * sparse_matrix` gets interpreted as `diagmat(vector) * sparse_matrix`, which leads to incorrect results.  That only seems to happen on OS X, and only with Armadillo 9.860.1.  So, I haven't

[2020-04-13 17:39] jeffin143 commented on #2366
I guess this happens to many of those , IG my brnn callback pr would fail in osx for similar reasons

[2020-04-13 17:39] rcurtin commented on #2366
Right, all of the OS X builds will currently fail with this error. :+1:

[2020-04-13 17:51] kartikdutt18 commented on #2366
Great, Thanks a lot.

[2020-04-14 09:27] ulassbin commented on #2347
In order to clarify the solution, I will explain the missing steps. I was unable to use some of the methods that are listed in the website, I was stuck while following the tutorials. The main reason was that tutorials are based on mlpack 3 and I was using mlpack 2. After installing mlpack 3, and using 'locate <the missing header>', I was able to see that the headers that I require was in mlpack 3.

[2020-04-14 09:35] conradsnicta commented on #2366
@rcurtin It's a bug in Armadillo 9.860.1.  Fixed in 9.860.2.  The bug is not present in earlier versions (eg. 9.850.x, 9.800.x, etc). MacPorts has already updated its Armadillo [package](https://www.macports.org/ports.php?by=name&substr=armadillo). Homebrew [package](https://formulae.brew.sh/formula/armadillo) still at 9.860.1.

More info on the bug: https://sourceforge.net/p/arma/news/2020/04/arm

[2020-04-14 12:43] rcurtin commented on #2366
@conradsnicta beat me to it. :)  I had mostly stepped through the code to figure out what is going on, but I never got to the point of understanding why 9.860.1 didn't fail in the same way on OS X.  (Not sure if it's a clang issue or what, hadn't gotten that far.)

I see you literally just opened https://github.com/Homebrew/homebrew-core/pull/53139; once that's merged, our builds should be fixed a

[2020-04-14 13:29] kartikdutt18 commented on #2366
I am closing this then. Thanks a lot.

[2020-04-14 14:28] jeffin143 commented on #2366
I don't think so we should close this soon , let it sit there until that pr is merged so that if some else faces the issue , they can know what's the reason

[2020-04-14 14:29] bisakhmondal commented on #2366
Great work @conradsnicta, but still it's failing in #2370.

[2020-04-14 14:31] kartikdutt18 commented on #2366
Hey @jeffin143, I think Homebrew/homebrew-core#53139 this PR is merged.

[2020-04-14 14:32] jeffin143 commented on #2366
I would recommend this to let sit for some more time , it won't harm IG

[2020-04-14 14:39] rcurtin commented on #2366
@bisakhmondal we're probably just a bit too fast---from the build log:
[code]
so I guess it's still using the old version.  We can try again tomorrow :)

[2020-04-14 14:46] bisakhmondal commented on #2366
Yup😅, it seems so. Sorry, my bad :)

[2020-04-15 09:24] janbraun commented on #2314
Hi @ilya-pchelintsev! I wanted to check if you had any luck trying to triage this thing, or if I can help you in any way?

[2020-04-15 09:41] ShikharJ commented on #2119
The hero we deserve, but not the one we need in this situation :laughing:

[2020-04-15 11:50] kartikdutt18 commented on #2119
Hey @ShikharJ, if you get a chance could you please take a look at the PR open by @tejasvi (#2127). I think it is ready (aside from adding it to History.md).

[2020-04-15 16:53] #2249 closed

[2020-04-15 19:53] #2258 closed

[2020-04-16 13:49] markodjordjic opened #2372 "Access violation reading location"
#### Issue description

#### Your environment

 * version of mlpack:
 * operating system: W10
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

This is the example that throws an error:

#include <iostream>
#include <vector>
#include <mlpack/core.hpp>
#include <mlpack/methods/lars/lars.hpp>
int main()
{

[2020-04-16 14:03] rcurtin commented on #2372
This appears to be an issue with `LARS`'s lack of copy constructor and copy operator.  It should be a relatively easy fix.

[2020-04-16 14:41] kartikdutt18 commented on #2372
Hey @rcurtin, @markodjordjic, I tried reproducing this issue on OSX and on lab-mlpack.org . However, it doesn't cause any failure. Does this failure only exist on windows?
Here is the link for the [notebook](https://github.com/kartikdutt18/mlpack-models-weights-and-datasets/blob/master/DoesLARSFailOnline.ipynb). Also, will other methods such as linear regression also fail when we perform something

[2020-04-16 17:18] rcurtin commented on #2372
@kartikdutt18 I bet you can make it happen like this:

[code]

I haven't tried it, but if you do, let us know what happens. :)

[2020-04-16 17:34] markodjordjic commented on #2372
@rcurtin and @kartikdutt18 thank you both.
I have updated the snippet. (There was one extra line, that is now gone.) The snippet above definitely does not work. Once placed inside a vector, declared LARS object, cannot be trained. Funny enough, if a trained object is placed into a vector, predictions can be made.
The suspectable line in the lars.cpp is:
          matGramActive(i, j) = (*matGram)(a

[2020-04-16 17:50] kartikdutt18 commented on #2372
Hmm, This still works on the notebook. However I got them to fail locally (both of them). I will try adding a copy constructor and checking if it works. Thanks a lot.

[2020-04-16 17:51] markodjordjic commented on #2372
Yes, the notebook consists of old snippet. Can you spot the difference? ;)

[2020-04-16 17:52] markodjordjic commented on #2372
I'll save your time. Trained model can be added, and accessed. However, declared model, with parameter only cannot.

[2020-04-16 17:56] kartikdutt18 commented on #2372
Yep, I updated the notebook also. However I got both the above codes to fail locally. So l'll try and fix them.

[2020-04-16 18:39] ojhalakshya commented on #506
@rcurtin how must we proceed in this issue.
Thanks.

[2020-04-17 00:31] rcurtin commented on #506
@ojhalakshya this is not an easy issue to resolve. :)  It will require templating everything involved with `NeighborSearch` to accept different types of matrices.  I'd suggest starting from the simple example posted in the original issue, and making that work.  I think many of the things in the tree infrastructure are already templatized, so, there may not be much work left to do.  Consider taking

[2020-04-17 10:26] kartikdutt18 commented on #2152
Hey @rcurtin, should we close this as well because of #2312.

[2020-04-17 12:49] rcurtin commented on #2152
Thanks, you're right! :+1:

[2020-04-17 12:49] #2152 closed

[2020-04-17 13:34] ojhalakshya commented on #506
okay @rcurtin will see into these files, and try to make some things work out.
Will ping you if I need more info :)
Thanks.

[2020-04-18 15:53] #2227 closed

[2020-04-18 18:59] shrit commented on #2185
Keep open

[2020-04-20 14:53] #2291 closed

[2020-04-20 20:53] #2296 closed

[2020-04-20 20:53] #2202 closed

[2020-04-20 20:53] #2297 closed

[2020-04-22 03:42] WayneDrem opened #2381 "I couldn't find CMakelists in mlpack file"
I build my mlpack following the tips from https://www.mlpack.org/doc/mlpack3.2.2/doxygen/build_windows.html
The mistake apeared when I linked armadillo and built mlpack.
(1)
Download the newest version of Armadillo from Sourceforge
Unzip to "C:\mlpack\armadillo"
Create a "build" directory into "C:\mlpack\armadillo\"
Open the Command Prompt and navigate to "C:\mlpack\armadillo\build"
Run cmake:
cma

[2020-04-22 15:58] zoq commented on #2381
Maybe the configure command (cmake) got split into multiple lines, because it looks like the `..` at the end (point cmake to the directory `../build`) is ignored, looks like a missing space after the last `"`

Let me post the command here again:

[code]

[2020-04-23 05:22] WayneDrem commented on #2381
@zoq I failed again.The problem is that I find there are no cMakelists.txts in these files indeed.

[2020-04-23 05:31] WayneDrem commented on #2381
@zoq Somebody told me that I should to use git to clone.But I really don't know what to do.It seems like that there should be CMakelists.txts in the files?

[2020-04-23 09:49] conradsnicta commented on #2381
@WayneDrem - Windows is not exactly the most user friendly environment for this sort of work. It has a lot of problems, including unreliable compliers (ie. MSVC).

You would be much better off and save yourself a lot of time (and headaches!) by using an instance of Linux (eg. Ubuntu or Fedora). This will provide you with a proper environment and a decent compiler.  You can use Linux in a virtual m

[2020-04-23 17:01] gmanlan opened #2384 "Dataset used in Python Get Started example is not available at mlpack.org"
The quick start guide offers a Random Forest example in Python here: https://www.mlpack.org/doc/mlpack-3.3.0/doxygen/python_quickstart.html

Which refers to the dataset:
`df = pd.read_csv('http://www.mlpack.org/datasets/covertype-small.csv.gz')`

But this dataset file is not available in the web server: "The requested URL was not found on this server"

[2020-04-24 01:12] menkaur opened #2385 "Compiling from the source with boost 1.72"
I've downloaded boost 1.72, into `G:\boost\boost_1_72_0` and pre compiled it. I also did the same with OpenBLAS (`G:\c++source\OpenBLAS`) and armadillo (`G:\c++source\armadillo-9.860.2`).

Now, I'm trying to compile mlpack with following command:

`cmake -G "Visual Studio 16 2019" -DBLAS_LIBRARY:FILEPATH="G:\c++source\OpenBLAS\build\lib\DEBUG\openblas.lib" -DARMADILLO_INCLUDE_DIR="G:\c++source\arm

[2020-04-24 01:35] menkaur commented on #2385
fixed it by adding

[code]

But i'm not sure if this is a bug or not

[2020-04-24 03:05] WayneDrem commented on #2381
@conradsnicta  Thanks a lot.

[2020-04-24 03:50] birm commented on #2385
Thanks for reporting, and double thanks for including your resolution!
Have you seen this guide for windows? https://github.com/mlpack/mlpack/blob/master/doc/guide/build_windows.hpp
I think it covers your resolution, but if not, or if you otherwise think it could be improved, we'd appreciate the addition to documentation! I'm surprised not to see BOOST_ROOT mentioned there, but maybe there's good

[2020-04-24 03:50] #2385 closed

[2020-04-24 04:23] birm commented on #2384
I get a 301, but my version of pandas seems to have no problem with it.
Curl output:
[code]
Python:
[code]

[2020-04-24 07:54] kartikdutt18 opened #2386 "Invalid Memory Access (Read) in Simple DQN and GANs as well as Access Violation in mlpack-methods."
The error can be viewed from valgrnid tests that runs on every PR, here are a few of them that failed: [1](http://ci.mlpack.org/job/pull-requests%20mlpack%20memory/4535/valgrindResult/) and [2](http://ci.mlpack.org/job/pull-requests%20mlpack%20memory/5047/valgrindResult/pid=1047870/). Here are some of the tests that had an invalid read:

- WGANNetworkTest/WGANMNISTTest
- DCGANNetworkTest/DCGANMNIS

[2020-04-24 12:37] rcurtin commented on #2384
Right, I just took a look and the file appears to be there:

https://www.mlpack.org/datasets/

@gmanlan maybe the 301 redirect to HTTPS is causing a problem on your system or something?  Do you have any additional output from when you tried?

(Also, maybe it is possible that you got extremely unlucky and happened to access the website right when a rebuild was being deployed?  That seems really unl

[2020-04-24 13:52] gmanlan commented on #2384
Wow, that's extremely weird. I can assure that I was getting 404, tried like 10 times yesterday from Databricks and from the browser. Now it's working.... maybe a deployment or proxy issue?
Anyway, thanks for checking! We can move on.

[2020-04-24 14:08] rcurtin commented on #2384
Huh, that is strange; but I can't think of what the issue would have been.  The website only rebuilds every night at midnight UTC (8pm EST, 5pm PST), and even then it just drops the new website in place so any 404s or issues should be basically instantaneously fixed.

[2020-04-24 14:08] #2384 closed

[2020-04-24 14:46] kartikdutt18 commented on #2366
I guess its okay to close this now. Thanks a lot everyone!

[2020-04-24 14:46] #2366 closed

[2020-04-24 16:20] zoq commented on #2381
You mean, you can't find: https://github.com/mlpack/mlpack/blob/master/CMakeLists.txt?

[2020-04-24 17:16] kartikdutt18 commented on #2386
Here is another [link](http://ci.mlpack.org/job/pull-requests%20mlpack%20memory/4538/valgrindResult/).

[2020-04-24 21:15] azev77 opened #2388 "Port to MLJ.jl"
Hi and thank you for this package!
Is it possible to port your models to [MLJ](https://github.com/alan-turing-institute/MLJ.jl).jl?

[2020-04-24 21:36] shrit commented on #2384
@rcurtin, How much time is required for a build to finish? When this issue has been posted I tried 20 minutes later and I got also 404. I thought some maintenance was happening. I found it strange that a build takes as long as 20 minutes. :thinking:

[2020-04-25 02:14] menkaur opened #2389 "Linking error"
I'm trying to compile first example from the neural networks tutorial here https://www.mlpack.org/doc/mlpack-3.3.0/doxygen/anntutorial.html .

Here's my cmakelist.txt

The compilation fails with following error messages:

What am I missing?

I'm compiling with Visual Studio 2019

[2020-04-25 03:01] birm commented on #2389
Hi, thanks for sharing your issue. This looks similar to #1607 to me, and the unresolved symbols all seem to be in lapack (openblas).
So, to copy a comment "Is your code linking against mlpack, Armadillo, or LAPACK and BLAS? You could look through the build configuration for when you compiled mlpack and make sure you are linking against the same set of libraries."
You may also find [this guide to

[2020-04-25 03:37] WayneDrem commented on #2381
@zoq
yep.It always says that my path don't contain Cmakelists.txt.
I guess I have to give up  and try to use ubuntu

[2020-04-25 11:14] zoq commented on #2381
Can you download the archive: https://www.mlpack.org/files/mlpack-3.3.0.tar.gz it's the official release and I just checked it has the CMake file.

[2020-04-25 12:26] menkaur commented on #2389
I've made doubly sure that they are the same. In mlpack solution, the mlpack.lib compiled successfully, but, now that I look at it, the executable projects (like mlpack_emst) fail to compile with the same errors. I've checked the LAPACK and BLAS projects, and it seems to be compiled for the same environment (Debug, x64) that mlpack targets

Do you know of any tools that would help me diagnose what

[2020-04-25 20:08] #2313 closed

[2020-04-25 20:08] #2212 closed

[2020-04-25 20:08] #2252 closed

[2020-04-25 20:08] #2262 closed

[2020-04-26 05:26] markodjordjic commented on #2372
Thanks!

[2020-04-26 20:08] #2304 closed

[2020-04-26 22:38] rcurtin commented on #2388
Hi @azev77, what would need to be done for that?  I agree it would definitely be cool, the only problem is that the interface we can provide to Julia is somewhat limited because it's automatically generated.  The main drawback is that models are "black boxes"; i.e., if I train a logistic regression model in Julia, I can predict new points with it, but I can't look at the coefficients of the model.

[2020-04-28 02:12] #2372 closed

[2020-04-28 02:13] rcurtin commented on #2372
@markodjordjic we'll release mlpack 3.3.1 soon with a fix.  Thanks again for the report! :+1:

[2020-05-01 11:08] KoushikSahu opened #2391 "Error while building from source"
Output of when I run "cmake ../" command:
[code]

Output when I run "make" command:
[code]

[2020-05-01 11:28] zoq commented on #2391
Do you build on a VM? Maybe it's the same problem as described here: https://github.com/BYVoid/OpenCC/issues/141?

[2020-05-01 11:32] KoushikSahu commented on #2391
No, I am using ubuntu 19.04 on dual boot

[2020-05-01 11:40] zoq commented on #2391
I see, I guess it's more similar to: https://github.com/CMU-Perceptual-Computing-Lab/openpose/issues/1322

[2020-05-01 11:52] KoushikSahu commented on #2391
It suggests to convert my fat partition to ext4. As I am booting from my partition it wouldn't be possible to do it without losing my OS. That would take some time. I am closing this issue for now. Thanks for the help!

[2020-05-01 11:52] #2391 closed

[2020-05-01 12:27] KoushikSahu commented on #2391
@zoq I figured out what the problem was. I was trying to build it on a external harddrive having filesystem exfat. I transfered it to my drive which is windows made partition of a drive having NTFS filesystem and the build worked.

[2020-05-01 12:29] zoq commented on #2391
Ohh, that makes sense, glad you figured it out.

[2020-05-02 21:06] #2309 closed

[2020-05-02 21:06] #2228 closed

[2020-05-03 07:46] bisakhmondal opened #2393 "Possible bug for GMMTest"
I am facing a strange issue every time while running the `build/bin/mlpack_test` executable (complete module), an error from GMMTest (test for the Gaussian Mixture Model) suite is getting popped up.
But this is not the case when I am running the test cases for GMMTest suite only. The test case `DiagonalGMMTrainEMMultipleGaussiansWithProbability` involves dealing with random numbers. This may be th

[2020-05-03 07:51] kartikdutt18 commented on #2393
Hey, Does this occur on master branch?

[2020-05-03 07:56] bisakhmondal commented on #2393
Let me check. This is the build, before the final push of #2268.

[2020-05-03 07:59] kartikdutt18 commented on #2393
My master is the same as the one you mentioned. I ran the test a couple of hours back, No test failed. The branch is the same as the branch in #2387

[2020-05-03 08:59] KimSangYeon-DGU commented on #2393
@bisakhmondal @kartikdutt18 Thanks for the reporting and it's understandable as the test is stochastic. I remember each `DiagonalGMM` test went through about more than 3,000 trials and passes with the random seed (`mlpack::math::RandomSeed(std::time(NULL))`). Despite those efforts, it seems to be failed sometimes.

I think your solution works and would it be better to make the 3 diagonal distribut

[2020-05-03 09:14] kartikdutt18 commented on #2393
Hey @KimSangYeon-DGU, thanks for the input. I'll try one thing, I will run the `GMMTest` like a 1000 times and see if it fails. Mainly because I haven't gotten it to fail on my machine yet in a couple of runs.

[2020-05-03 09:17] KimSangYeon-DGU commented on #2393
@kartikdutt18 Thanks for letting me know. @bisakhmondal After increasing the tolerance, was the test passed?

[2020-05-03 11:44] bisakhmondal commented on #2393
@kartikdutt18 Yep I have run the build on the master branch. Still it's failing. As a reference
![Screenshot from 2020-05-03 17-02-55](https://user-images.githubusercontent.com/41498427/80913255-e9f8e080-8d60-11ea-9ccd-96746afd8679.png)

@KimSangYeon-DGU after increasing the tolerance to `13%` it's working fine now.
![Screenshot from 2020-05-03 17-13-39](https://user-images.githubusercontent.com/4

[2020-05-03 11:50] KimSangYeon-DGU commented on #2393
@bisakhmondal Can you open a PR?

[2020-05-03 11:51] bisakhmondal commented on #2393
Ya Sure.

[2020-05-03 12:11] kartikdutt18 commented on #2393
So I ran this :
[code]
I didn't get any error in 1000 iterations. I am using OSX. As far as I can tell azure pipeline also isn't showing any failure. I don't mind increasing the tolerance but I am unable to reproduce this issue.
@bisakhmondal Do you mind sharing your OS details. Thanks.

[2020-05-03 12:18] bisakhmondal commented on #2393
Hi @kartikdutt18, magically `./bin/mlpack_test -t GMMTest` this works fine in my system too :)) as I said in the issue description. The issue arises while running the complete test modules.

Sure, I am using `Ubuntu 19.10 eoan release`.

[2020-05-03 12:19] kartikdutt18 commented on #2393
Hmm, Let me change that. If that's the case that's definitely strange. Let do 5 iterations.

[2020-05-03 12:20] bisakhmondal commented on #2393
Exactly. Very strange.

[2020-05-03 12:26] KimSangYeon-DGU commented on #2393
@kartikdutt18 When running tests, did you  put the code `mlpack::math::RandomSeed(std::time(NULL))` on the top of the test by any chance?

[2020-05-03 12:30] kartikdutt18 commented on #2393
Ahh, I didn't, I just rebased my master and ran the above command. Currently I am running this :
[code]
Did I miss something?

[2020-05-03 12:32] kartikdutt18 commented on #2393
In a single run, the test still doesn't fail on OSX, maybe it's only associated with linux?
Will update with the rest of the iterations in roughly an hour.

[2020-05-03 12:38] KimSangYeon-DGU commented on #2393
Ok, if we run one test many times and didn't set the seed to random, the test will use the same seed, so it resulted in duplication.

[2020-05-03 12:40] kartikdutt18 commented on #2393
Ahh, sorry I missed that. That makes sense. Let me make the changes.

[2020-05-05 00:25] #2393 closed

[2020-05-05 05:14] birm commented on #2389
I don't want to leave you hanging, so I'll give you what may approach something useful:
You may find the model zoo's cmakelists useful as a reference at the least. https://github.com/mlpack/models/blob/master/CMakeLists.txt
It's often easier to use the find_package if you can, and if it will work.

[2020-05-05 10:23] kartikdutt18 commented on #2294
Let's keep this open for a while. Thanks!

[2020-05-07 17:13] kartikdutt18 commented on #1965
Hey @rcurtin, I am adding another PR here as well, I hope that's okay :

#1716 : Addition of Dense blocks
(This would be interesting to have, though I have a different approach in mind, To put it simply : The Dense Block class should be like FFN, That we can add layers to it such that it automatically forms a dense block. I hope this makes, Let me know if I missed something).

Thanks a ton!

[2020-05-07 23:42] yurivict opened #2396 "Please support at least one standard ML model format"
Here https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/data/load_model_impl.hpp#L46 the Load function can only load .xml, .bin and .txt files.

Please consider adding the TfLite format which can easily be opened in various programs and converted to other formats.

The TfLite format can be read and written using just one header ```tflite_schema_generated.h``` that is generated with the `

[2020-05-08 00:36] menkaur opened #2397 "How to gracefully exit agent training?"
I've been playing with the CartPole example. Here's the modified code:

    std::ofstream myfile;
    myfile.open("history.txt");

	//mlpack::ann::
    // Set up the network.
    FFN<MeanSquaredError<>, GaussianInitialization> model(MeanSquaredError<>(), GaussianInitialization(0, 0.01));
    model.Add<Linear<>>(4, 128);
    model.Add<LeakyReLU<>>();
    model.Add<Linear<>>(128, 128);
    model.Add

[2020-05-08 01:20] rcurtin commented on #2396
Hi @yurivict, thanks for the input.  The TFLite format is limited to (a limited subset of) neural network architectures.  mlpack supports way more than that---for many model types and object types in mlpack, there is no way to save them using the TFLite format.  So unfortunately we can't really do this; it's apples and oranges.

However, there is a TensorFlow translator prototype here: https://git

[2020-05-08 01:26] yurivict commented on #2396
Thank you for this information!

Could you provide an example of a feature supported in mlpack that isn't supported in TFLite?

[2020-05-08 02:00] rcurtin commented on #2396
Literally every single model on this page:

https://www.mlpack.org/doc/mlpack-3.3.1/cli_documentation.html

It might be possible to implement some of these in TensorFlow (after all, it is a generic linear algebra framework).  However, they will have nowhere near the efficiency of the algorithms and data structures used in mlpack---so, e.g., there is no clear way to make TensorFlow compute k-neares

[2020-05-08 11:28] zoq commented on #2397
We will have to look into the windows issue, about the exit strategy, what about checking the reward? See https://github.com/mlpack/mlpack/blob/6a64926e4436bcb799d0e655190fbdd5d76e5019/src/mlpack/tests/async_learning_test.cpp#L81 for an example?

[2020-05-08 11:52] menkaur commented on #2397
Yes, this is approximately what I'm doing

[2020-05-08 14:10] kartikdutt18 commented on #2200
Let's keep this open until all PRs related to this are merged.

[2020-05-08 16:03] kartikdutt18 commented on #2346
Let's Keep this open.

[2020-05-08 16:12] yurivict commented on #2396
Thank you for your explanation.

[2020-05-08 16:12] #2396 closed

[2020-05-08 16:19] rcurtin commented on #2396
Of course, happy to help out. :+1:

[2020-05-08 18:07] kartikdutt18 commented on #2361
Keep Open, please. Thanks.

[2020-05-12 08:53] joybhallaa commented on #2294
@kartikdutt18 , is someone working on this issue?

[2020-05-12 08:54] kartikdutt18 commented on #2294
Hey @joybhallaa, The issue is open for taking up (other than IoU metric).

[2020-05-13 10:52] QuellaZhang opened #2401 "MLPACK failed due to link error on MSVC"
MLPACK failed due to link error with MSVC on windows. I use latest version aa2f59f. Could you please help look at this? Thanks a lot!

You can repro this issue as the steps below:

1. git clone https://github.com/mlpack/mlpack D:\MLPACK\src
2. it dependent armadillo and OpenBlas, put them to D:\MLPACK\external\
3. open a VS 2017 amd64 command prompt as admin and browse to D:\MLPACK
4. mkdir build_

[2020-05-13 22:05] zoq commented on #2401
This looks similar to: https://github.com/mlpack/mlpack/issues/881 maybe you can test: https://github.com/mlpack/mlpack/issues/881#issuecomment-282397637?

[2020-05-14 06:59] mrityunjay-tripathi opened #2403 "access weight and bias of linear layer"
There are getters and setters for `bias` and for the concatenated form of `weight` and `bias` i.e. `weights` in Linear layer (`linear.hpp`). But there is no such method for accessing `weight`. I can get the `weight` from `weights` but that would only increase the lines of code or make the expression complex. Is this something intentional?

I require to initialize the weight of that particular laye

[2020-05-14 09:54] QuellaZhang commented on #2401
Thanks @zoq , we have added BLAS lib in cmake build commad line. Recently we updated the sha of MLPACK, the old commit 2e2e0f5 is work fine on the same version of MSVC, if you have any other suggestions please let me know, thanks.

[2020-05-14 11:08] zoq commented on #2403
Some examples to modify the weights: https://gist.github.com/zoq/3f4d43efed7dc76cc600bb7674519994

We can add a method to modify the weights without the bias, if that makes things easier.

[2020-05-14 12:18] mrityunjay-tripathi commented on #2403
Hey @zoq, the `Initialize` method takes `arma::Mat<>` object. But this method returns a `arma::subview<>` object.
So, when I try to initialize weights using `XavierInitialization` (say), it doesn't compile.
[code]
This code returns error -
[code]

Yeah, I also think it would be better to add a setter method to access `weight`.

[2020-05-15 15:20] rcurtin commented on #2200
Weird, I wonder why mlpack-bot closed it anyway.

[2020-05-15 15:25] kartikdutt18 commented on #2200
Thanks @rcurtin!

[2020-05-16 20:14] menkaur opened #2408 "Need advice on implementing continuous Action reinforcement learning"
I took clue from `continuous_mountain_car.hpp`, and implemented following Action struct:

[code]

When I'm trying to compile the program, however, the compilation fails with `
Error	C2679	binary '[': no operator found which takes a right-hand operand of type 'MyClass::Action' (or there is no acceptable conversion) (compiling source file mlpack-reinforcement-learning.cpp)	` at `one_step_q_learning_

[2020-05-17 06:29] kartikdutt18 opened #2409 "Trouble installing / linking mlpack on Windows"
Hey everyone,
I followed the following steps to install mlpack :

The complete file can be found [here](https://github.com/mlpack/models/blob/2dcebdd3d5628525d473d3c0f7418be5511e24ff/.ci/windows-steps.yaml)
[code]
In the Cmake mlpack was found and all other libraries required were found. However I am still facing this [error](https://dev.azure.com/mlpack/mlpack/_build/results?buildId=1897&view=log

[2020-05-17 10:07] Yashwants19 commented on #2409
Hey @kartikdutt18 I am not sure, but do we are including the mlpack header properly [here](https://github.com/mlpack/models/blob/2dcebdd3d5628525d473d3c0f7418be5511e24ff/.ci/windows-steps.yaml#L106)? I think so it must be `..\mlpack\build\include`.

[2020-05-17 10:20] kartikdutt18 commented on #2409
Thanks @Yashwants19, I'll give it a try and Get back to you shortly.

[2020-05-17 17:06] #2363 closed

[2020-05-17 17:30] kartikdutt18 commented on #2409
Hey @Yashwants19, That did change the error, Now this is the error
[code]

I saw that the boost files (x64) are copied to build folder of mlpack so I copied them to my build folder as well. So I did that but that didn't help. Sorry, I am novice with windows. Could I trouble you with this error as well?
This is the error link on azure [pipeline](https://github.com/mlpack/models/pull/3/checks?check_

[2020-05-17 18:18] zoq commented on #2409
` Cannot open include file: 'mlpack/core/data/scaler_methods/min_max_scaler.hpp': No such file or directory`

Looks like `scaler_methods` is missing here:

https://github.com/mlpack/mlpack/blob/4f68502270b1dc49d0ca1db69bdd8ae92a1cade7/src/mlpack/core/data/CMakeLists.txt#L44-L48

[2020-05-17 18:33] zoq commented on #2409
I'll comment about the architecture issue on the PR itself.

[2020-05-17 19:12] kartikdutt18 commented on #2409
I'll make a PR for this thanks.

[2020-05-17 19:15] jeffin143 commented on #2409
Done

[2020-05-18 00:05] #2409 closed

[2020-05-18 22:49] rcurtin commented on #2314
I know there hasn't been much update on this; sorry about that.  @himanshupathak21061998 opened #2324; I believe that should help fix the issue, but the PR still needs to be reviewed and double-checked. :+1:

[2020-05-19 16:35] #2403 closed

[2020-05-19 22:29] menkaur commented on #2408
I found one issue with the GreedyPolicy's Sample method for my use case

this will not correctly generate instances of my type. In fact, I think that architecture would be better, where ActionType::Sample would be responsible for generating random actions:

Reason for this is that any more or less complex action class has better idea of the data it generates than policy generator

[2020-05-20 03:26] Razarabi opened #2418 "Can't use optimizers"
Hello!

I am unable to include any optimizers from mlpack
mlpack/core/optimization does not exist. I installed via VSCPKG and everything installed and linked just fine. All other mlpack files ive included in the project work fine as well. Is there an error in the installation via VSCPKG or am I not looking in the right place?

Thanks!

[2020-05-20 03:41] kartikdutt18 commented on #2418
Hello @Razarabi,
Could you also please share the mlpack version. mlpack started using [ensmallen](https://github.com/mlpack/ensmallen) for optimization process and removed optimizers from mlpack/core. The latest version of mlpack should automatically install ensmallen. You can simply include optimizers by adding the following line to the top :
[code]
and using ensmallen namespace.
Here is a code s

[2020-05-20 18:37] Razarabi commented on #2418
Okay! Got it working thank you!

[2020-05-20 18:37] #2418 closed

[2020-05-20 18:38] kartikdutt18 commented on #2418
Awesome!

[2020-05-21 19:06] zoq commented on #2401
Sorry for the slow response, just to see if I get this right, you say the version 2e2e0f5 works fine, but the current master branch is not? If that's the case let me see if I can find a change in the history that might have caused an issue like this.

[2020-05-21 21:39] rcurtin commented on #2389
@menkaur it seems to me like `mlpack_emst` is maybe not linking against LAPACK and BLAS?  Is there any chance you can check the Visual Studio linker configuration to see what's happening?

Another idea, potentially a workaround, is to specify the exact path to the OpenBLAS library in the CMake configuration variable `_ARMADILLO_LIBRARIES`.  Maybe that will help?  I'm not sure---if you're willing t

[2020-05-21 21:53] rcurtin opened #2421 "Discussion: revamp bindings to a train/predict-type interface?"
This came up in the video chat discussion today and @zoq suggested that I write it down, which is definitely a good idea, to gather comments and thoughts about the idea.

When we originally made the command-line executables, it made sense to try and stuff as much functionality as possible into each executable.  This is because in the command-line setting, every time we call the binding it will inc

[2020-05-22 10:56] UtR491 commented on #2294
@kartikdutt18 I am new in open source development, reasonably comfortable with C++, recently learnt about template metaprogramming, this project really intrigued me. Is there an way I can contribute?
Thanks in advance and sorry if I appear to be an idiot.

[2020-05-22 11:03] kartikdutt18 commented on #2294
Hey @UtR491, please feel free to take up any issue you like. For this particular issue, would like to implement SSIM metric ?
There are also tons of issues open if you want to check them out. If you want to play around with mlpack you can probably take a look at our examples repo.
No worries, if you get stuck at any point or face any issue, you can either tag me or any contributor in your PR and w

[2020-05-22 11:19] UtR491 commented on #2294
@kartikdutt18 I'll be more than happy to implement the SSIM metric, thanks for the reply!

[2020-05-22 11:20] kartikdutt18 commented on #2294
Awesome! Looking forward to your PR.

[2020-05-22 17:28] UtR491 commented on #2294
@kartikdutt18 From what I have understood till now, I have to take two images as arguments, the reference and the processed image, these will be armadillo matrices.Then I have to check if both have the same size. If they have the same size, I have to use the formula to calculate the SSIM index and if not then throw the relevant error. The terms in the formula can be found using armadillo member fu

[2020-05-22 17:30] kartikdutt18 commented on #2294
Right, that is correct. If you want to refer some PRs regarding metrics you can take a look at #2323 or #2402.

[2020-05-22 21:35] menkaur commented on #2389
I've been thinking. When you guys are making the vpkg distro, do you compile on windows or on linux? Because, if you compile on linux, I can just work around the problem and compile it there, and copy the files to windows afterwards (If you do compile on linux, can you share the command line?)

[2020-05-23 14:16] UtR491 commented on #2294
@kartikdutt18 I think I am stuck, yesterday I thought that I had to just apply the SSIM formula to the entire image at once. Today, I realise I had to apply it locally in an 11X11 window using a

When I googled about it, there were Wikipedia articles about the Gaussian function, which I know about and other things like Gaussian Blur. I do realise that the former is somehow the extension of the lat

[2020-05-23 14:17] UtR491 commented on #2294
@kartikdutt18 I think I am stuck, yesterday I thought that I had to just apply the SSIM formula to the entire image at once. Today, I realise I had to apply it locally in an 11X11 window using a
    Gaussian Weighting Function
When I googled about it, there were Wikipedia articles about the Gaussian function, which I know about and other things like Gaussian Blur. I do realise that the former is s

[2020-05-23 14:29] kartikdutt18 commented on #2294
No worries, I think you refer to this [implementation](https://github.com/Po-Hsun-Su/pytorch-ssim/blob/master/pytorch_ssim/__init__.py). It uses pytorch tensor but converting it to armadillo shouldn't be very hard. It also has the code for to initialize a Gaussian window. And armadillo might have a way of filling a window but I am not sure. In mlpack, we also have Gaussian distribution [here](http

[2020-05-23 22:39] janbraun commented on #2314
Thanks @rcurtin, I can confirm that my test case runs through with the PR applied.
How could I help reviewing and double-checking?

[2020-05-24 18:41] UtR491 commented on #2294
@kartikdutt18 I think I am done with the main part of the implementation other than the documentation stuff. Would you mind taking a look at it? I haven't ever worked with makefiles. I just followed the steps in the README but inside the core/cv/metrics/  directory and did not receive any error specific to the files I added to the folder.

[2020-05-24 18:52] kartikdutt18 commented on #2294
Sure, You can make a PR and I'll take a look. Just tag me there. Thanks a lot for the contribution.
Regards.

[2020-05-25 04:29] birm opened #2428 "Some versions of Doxygen don't like current unnamed size_t params"
#### Issue description
For at least doxygen >= 1.8.17, an unnamed size_t param returns a warn/err which is resolved by pretending the param is literally called "size_t".

So, as far as I can tell, it's only concerned with size_t params, which it thinks are called size_t.

See https://github.com/doxygen/doxygen/issues/7818

[2020-05-26 13:51] rcurtin commented on #2389
Hey @menkaur, actually, we don't provide the vcpkg distro, that's done in the vcpkg repository.  You could look at how it's done there.  I do know that the Julia packaging scripts cross-compile from Linux; here's the script: https://github.com/JuliaPackaging/Yggdrasil/blob/master/M/mlpack/build_tarballs.jl

Hopefully that's helpful---I know that there's a lot of other tooling going on in that scri

[2020-05-26 20:46] rcurtin commented on #2401
What happens if you specify `_ARMADILLO_LIBRARIES=/path/to/openblas.lib` as a CMake variable?  i.e. `cmake ... -D_ARMADILLO_LIBRARIES=/path/to/openblas.lib ...`?  Does that fix the issue?  I think, if so, I know what the fix needs to be. :+1:

[2020-05-27 00:59] azev77 commented on #2388
@rcurtin  porting a package to MLJ usually involves adding one script to the repo.
For example: [ParallelKmeans](https://github.com/PyDataBlog/ParallelKMeans.jl/tree/master/src).jl does this in [mlj_interface](https://github.com/PyDataBlog/ParallelKMeans.jl/blob/master/src/mlj_interface.jl).jl.

[2020-05-27 05:38] QuellaZhang commented on #2401
Thank you very much, @zoq @rcurtin , I also find the version 97fd462a98a66e52e41720f9954f2dd7d901c466, I have updated the cmake commands, now MLPACK is clean on MSVC.

[2020-05-27 20:51] rcurtin opened #2432 "mlpack_krann has no tests"
#### Issue description

The `mlpack_krann` binding, found in `src/mlpack/methods/rann/krann_main.cpp`, doesn't have a corresponding test in `src/mlpack/tests/main_tests/`.  This leads to errors like those that are fixed in #2431 .

#### Your environment

 * version of mlpack: git master
 * operating system: debian
 * compiler: gcc 9
 * version of dependencies (Boost/Armadillo): shouldn't matter fo

[2020-05-28 21:33] iamshnoo commented on #1965
#2122 seems to be an interesting feature to add proper support for raising an error message about incorrect input sizes. Would like to take this up at some point if the original author is no longer interested.

[2020-05-29 05:59] kartikdutt18 commented on #2386
Keep open please. Thanks.

[2020-05-29 13:28] ibalampanis opened #2434 "Problem with Embedding layer definition in C++"
I face the following problem. I want to build an LSTM model to make Sentiment Analysis. In C++, I use this wonderful library. Firstly, to understand the architecture I approached the problem via python, and Keras advised from some tutorials. This [tutorial][1] had this code:
[code]
In my code, in C++, I have written this block:
[code]
The output console gives me this error:

    error: conv_to():

[2020-05-30 10:57] DuP-491 commented on #2294
Greetings,
I am new to open source development, I went through the details of mlpack project via gsoc organization list. I would like to do contribute to the project, can someone please guide me?

[2020-05-30 11:19] kartikdutt18 commented on #2294
Hey @DuP-491,
Welcome to the community, You can take a look at out [Getting Started Page](https://www.mlpack.org/community.html) and our [GSoC Page](https://www.mlpack.org/gsoc.html). You can also contact everyone through the mailing list or the IRC.
Regards.

[2020-05-30 11:26] DuP-491 commented on #2294
@kartikdutt18 thanks for the quick reply,I'll surely go through them

[2020-05-30 14:03] UtR491 commented on #2432
Is anybody working on this one? I think I understand the issue, would like to give it a try.

[2020-05-30 14:41] jeffin143 commented on #2432
@UtR491 go ahead please :)

[2020-06-01 05:20] conradsnicta opened #2437 "broken OpenBLAS on Ubuntu 20.04"
This is a heads up in case other people run into this problem.

It appears that OpenBLAS 0.3.8 shipped with Ubuntu 20.04 is broken.  Many armadillo tests just freeze up.  With mlpack tests you may also get wrong results and strange warnings.  For example:
`** On entry to DLASCL parameter number  4 had an illegal value`
`** On entry to DLASCL parameter number  5 had an illegal value`

Some of the p

[2020-06-01 05:29] conradsnicta commented on #2437
A similar issue has been reported at Octave:
https://octave.1599824.n4.nabble.com/Octave-5-2-0-Ubuntu-20-04-Long-duration-of-complex-matrix-inverse-tp4696435p4696592.html

Possibly related issue at RStudio:
https://community.rstudio.com/t/rstudio-is-crashing-after-update-on-ubuntu-20-04-focal/66682/5

[2020-06-01 11:12] eddelbuettel commented on #2437
Thanks for reporting it. It also bubbled a few weeks ago on the r-sig-debian list (for R users on Debian/Ubuntu, run by the R project) [1] -- after which I reported it on debian-science (list for Debian developers working on packages like R, Octave and others) [2]  and the bug system. The bug thread is the most comprehensive with the clearest tracking:  https://bugs.debian.org/961725

The issue, f

[2020-06-01 16:46] himanshupathak21061998 opened #2438 "K-means failing when trying to use it with mnist dataset"
#### Issue description

When I am trying to use k-means to find 1000 centres in mnist dataset it is failing.

#### Your environment

 * version of mlpack:master branch
 * operating system:Ubuntu 18.04.3
 * compiler:g++

#### Steps to reproduce
* Dowload mnist dataset from here : https://www.mlpack.org/datasets/
* Execute the following code
[code]

#### Expected behavior

Should return `centroids`

[2020-06-01 18:58] iamshnoo opened #2439 "Modifying maxpooling.hpp to access poolingIndices"
The *```maxpooling```* layer has a private member called *```poolingIndices```* of the type *```std::vector<arma::cube>```*. Currently, the forward function returns only the maxpooled values.

I am writing an Unpooling layer, which needs as input, the output of the maxpool layer and also the corresponding poolingIndices. Currently, there is no way to access the indices outside the max pool layer.

[2020-06-01 19:51] zoq commented on #2439
What about you pass the layer to the forward function and use the accessor method inside the method itself, that way you hide the complexity. Let me know what you think.

[2020-06-01 20:23] sreenikSS commented on #2439
@iamshnoo @zoq I was thinking of a different approach. Firstly summarizing the respective layers:
**maxpool** - takes a **4x4 input** and gives a **2x2 output** using the **max values** of each quadrant.
**meanpool** - does a similar thing.
**unpool** - takes a **2x2 input** (which is essentially the max values of each quadrant) and pads it with **zeroes** to make it **4x4**, basically making it s

[2020-06-02 06:02] iamshnoo commented on #2439
This sounds good to me, but I am not very sure how to implement this. Could you point me to some example for how I might pass a layer to the Forward function of another?

Sreenik's idea seems a bit more lengthy to implement, so, maybe we can avoid that for now and implement it later on?

[2020-06-02 06:16] kartikdutt18 commented on #2439
I might not have the right context, but Adaptive pooling uses forward function of maxPooling.

[2020-06-02 06:58] iamshnoo commented on #2439
Yeah. I had a look at that. Don't think that is going to work for this case, because in Adaptive Pooling, we are creating a local object of maxpooling layer and then using the forward function from that object.

But, here, imagine you have a network with a maxpool layer and a unpool layer one after the other. The forward pass of the network will first go through the forward pass of maxpool and cal

[2020-06-02 15:18] shrit opened #2440 "What do you think of boost dependencies in mlpack?"
Hello everyone,

I am starting this issue to open a discussion considering mlpack dependencies. My GSOC project is to put mlpack on resource-constrained devices. As you know, mlpack binaries have a big foot-print. For example, `mlpack_knn` on my machine is 100MB when compiled with profiling and debugging symbols.
Luckily, there are several techniques can be used to reduce the size. Today after add

[2020-06-02 17:44] saksham189 commented on #2438
Does it also fail for 4s and 9s dataset?

[2020-06-02 17:48] himanshupathak21061998 commented on #2438
No, it was working fine with 4s and 9s dataset.

[2020-06-02 20:29] zoq commented on #2439
Do you think wrapping the MaxPooling layer is an option, or just use the functions you need and implement them as part of the UnPooling Layer?

[2020-06-03 03:10] conradsnicta commented on #2440
During the very early development of Armadillo, Boost was also used.  However, I stripped it out for several reasons:
* Using Boost resulted in a much slower compilation, as there was a long chain of internally included headers.  Some of the headers were also quite large.  Almost all of the "extra" stuff was not directly relevant for the functionality that was used by Armadillo.
* Using Boost adds

[2020-06-03 13:42] iamshnoo commented on #2439
To me, I see 4 options till now as listed below.

This won't work. Adaptive pooling takes this approach and I have explained above why it won't work for this case.

Same case as above and won't work

Looks ugly. Will work.

The idea seems right and should work. But I don't know how to pass a layer to the forward function of a different layer. Maybe you can help me with this?

Let me explain the si

[2020-06-03 13:49] kartikdutt18 commented on #2439
Also I if anyone likes to understand the issue a bit more they can take a look at [this issue](https://github.com/tiny-dnn/tiny-dnn/issues/612). I found it really helpful.

[2020-06-03 15:04] UtR491 commented on #2432
So sorry for being so late. I had some homework to submit. I think I have run into a problem, I wrote 11 tests for alpha, tau, dimensions and so on. I built the project, initially there were some errors, but I corrected them, now the test just runs indefinitely. I read some boost documentation but couldn't figure out where the problem was.[The code](https://github.com/UtR491/mlpack/blob/krann-test

[2020-06-03 15:29] conradsnicta commented on #2437
Further info on the linker option used by Ubuntu which seems to be causing this problem (with thanks to @martin-frbg):
https://software.intel.com/content/www/us/en/develop/articles/performance-tools-for-software-developers-bsymbolic-can-cause-dangerous-side-effects.html

Extracts:
* "... _Unfortunately, -Bsymbolic is a dangerous option which can often result in some nonintuitive side effects._"
*

[2020-06-04 04:28] birm commented on #2401
@rcurtin before this stales and is lost to time, what fix are you proposing?

[2020-06-04 08:11] martin-frbg commented on #2437
Copypasting myself from the OpenBLAS ticket:

https://bugs.launchpad.net/ubuntu/+source/libxfont/+bug/230460 (and their bug 226156 linked from it) seems to have highlighted the general problem with having -Bsymbolic_functions as the default buildpackage-LDFLAGS in 2008
and a comment in https://bugs.launchpad.net/ubuntu/+source/libxfont/+bug/226156 explains
(quoting a chat apparently)
[code]
Yet th