[2021-12-16 17:54] RabbleRousy commented on #3109
### Update
After going through the documentation again I think I figured it out. I can use custom layers by adding them as the template parameter to LayerTypes upon network initialization ... ?
So this should do the trick:

    mlpack::ann::FFN<mlpack::ann::MeanSquaredError<>, mlpack::ann::RandomInitialization,
    mlpack::ann::LinearSplit<>, mlpack::ann::BaseLayer<mlpack::ann::ClippedRectifierFun

[2021-12-16 18:36] Aakash-kaushik commented on #3109
Hey, so the error which tells you that thete are too many template arguments is because boost restrictions max number of templates to 50.
I think in layer types you can see we use more layer types and that is then passed to layer types.
You can add your two layers two more layer types and that should work.

[2021-12-16 18:39] Aakash-kaushik commented on #3109
Add your extra layers here: https://github.com/mlpack/mlpack/blob/802b6826b26f65abdf8436e22f94d503066ff908/src/mlpack/methods/ann/layer/layer_types.hpp#L229

[2021-12-16 22:25] RabbleRousy commented on #3109
Ok, great to know that this is the cause of the compiler error (will check tomorrow).

But that would still mean modifying the library code, is there no way to include custom layers without changing internal code?

[2021-12-16 22:29] Aakash-kaushik commented on #3109
@RabbleRousy i am not sure if there is one when you add any layer it expects to be of type `LayerType` and when you don't have your custom layers it might not have any layer to pass your argument to.
But i can totally be wrong here, someone else might have a better idea and understanding.

[2021-12-17 16:08] RabbleRousy commented on #3109
This does not fix the compiler issue (I guess because it's just nesting more template arguments within `MoreTypes`...)

Anyways, just exchanging some of the layers from `MoreTypes` which I don't use anways with my custom ones works. But as I have said, I would really like to find a way to use them **without** editing mlpack files.
### Can anyone help??

[2021-12-17 17:55] rcurtin commented on #2986
@rcurtin you should check to see if this test still fails on the `ann-vtable` branch!  (And, if it does, you should fix it!  (And, regardless of how the branch currently performs, you should add this as a test case!))

[2021-12-18 05:06] hello-fri-end commented on #3063
Yes, you're right.

[2021-12-18 06:30] augsaksham commented on #2181
Hey ,@kartikdutt18 I am willing to take up the  implementation of ISRLU  activation function. Please let me know if  is it okay to move forward with it?

[2021-12-18 13:55] samuelbertolini commented on #3087
Sorry for asking again. Could you find any example for NEAT?

[2021-12-18 16:19] RabbleRousy opened #3110 "Batch size modification not working"
I am trying to train a FFN, but it overfits the training data every time, resulting in the prediction being the median of the training labels for every input.

I first used `ens::GradientDescent()` and tried to modify the training parameters like `stepSize`, `maxIterations` and `tolerance`, e.g. by writing:

    network.Train(trainData, trainLabels, ens::GradientDescent(0.1, 128, 0.1), ens::Progre

[2021-12-18 16:30] RabbleRousy commented on #3110
`maxIterations` also seems to be ignored... when training on a 1k dataset and setting `maxIterations = 32`, the training still proceeds to do 100 epochs with 32 batches of size 32 resulting in `100 * 32 * 32 = 102400` iterations ??

[2021-12-18 17:12] shrit commented on #3110
@RabbleRousy You should set `maxIteration = 0 ` in order for this to work

[2021-12-19 10:23] RabbleRousy commented on #3110
@shrit you mean like this:

    network.Train(trainData, trainLabels, ens::BigBatchSGD<>(1000, 0.1, 0.1, 0, 0.01), ens::ProgressBar(), ens::PrintLoss());

Doesn't work... (still the same progressbar like above with a 50k dataset)

[2021-12-19 18:20] zoq commented on #3087
So first thing you need to do is to checkout https://github.com/mlpack/mlpack/pull/19 and build the `NEAT` branch. If you need help with that let me know.

The branch comes with a tutorial how to use the NEAT method: https://github.com/mlpack/mlpack/pull/1908/files#diff-e5644db8b584b1ca5285f29f479cab8e7e1d8d1429eda4c57f092060740743df and also implements some test cases https://github.com/mlpack/ml

[2021-12-20 00:05] samuelbertolini commented on #3087
Thanks a lot @zoq. I hope that from now I can build my NEAT soon

[2021-12-20 00:05] #3087 closed

[2021-12-20 02:56] zoq commented on #3110
@RabbleRousy what version of ensmallen do you use?

[2021-12-20 11:51] RabbleRousy commented on #3110
@zoq I cloned ensmallen master on 10.12., so it should be the most recent one.
mlpack version is 3.4.2.

[2021-12-20 22:12] zoq commented on #3110
I did a quick test with the code below, the logistic function we optimize here has 1000 samples, and if I alter the batch size I can see different results in the progress base output.

Maybe there is something wrong with the way you initialize the function you optimize?

[code]

Output for `BatchSize = 4 (1000 / 4) = 250`:

[code]

Output for `BatchSize = 4 (1000 / 3) = 333.33333`

[code]
Or maybe

[2021-12-20 23:22] hello-fri-end commented on #2986
@rcurtin this snippet still fails on the `ann-vtable` branch. It still gives the same error:

[code]
Here's the [link](https://github.com/hello-fri-end/mlpack-zoq/blob/ann-vtable/src/mlpack/tests/ann_layer_test.cpp#L3741) for the modified snippet,

[2021-12-21 10:50] RabbleRousy commented on #3110
I gotta admit I don't really understand a lot of what's going on in your example, but what immediately caught my eye was that you were using the `Optimize()` function, while I am trying to use `FFN<>::Train()` and pass the optimizer as a parameter like this:

    mlpack::ann::FFN<mlpack::ann::MeanSquaredError<>> network;

	// LinearSplit and ClippedReLU written by me, see previous issue
	network.A

[2021-12-22 15:00] #3092 closed

[2021-12-24 15:20] SuvarshaChennareddy commented on #2181
@kartikdutt18 I'll start working on the SQNL (9) and ISRU (9) activation function implementations. If that is ok with everyone of course. I don't think anyone else is current working on these two at the moment.

[2021-12-24 15:26] shayusuf commented on #2181
Hi ,
I had worked on SQNL earlier. Currently I just have some style fixes to do.
I will to PR SQNL sonn so it would be nice of you if you continue with
other functions.

On Fri, Dec 24, 2021 at 8:50 PM SuvarshaChennareddy <
***@***.***> wrote:

[2021-12-24 15:30] SuvarshaChennareddy commented on #2181
@shayusuf Oh sorry about that! The PR is closed that is why I thought no one else was working on it. Sorry once again!

[2021-12-24 17:31] kartikdutt18 commented on #2181
Hey Suvarsha, If there is no open PR for it, please feel free to go ahead with it. Looking forward to your changes. Thanks!

[2021-12-25 12:44] shubham1206agra commented on #2181
@kartikdutt18 I am confused about this issue.

Do you want a module type activation function or normal function type like https://github.com/mlpack/mlpack/tree/master/src/mlpack/methods/ann/activation_functions ?

[2021-12-25 12:51] Aakash-kaushik commented on #2181
Hey @shubham1206agra we would like a module type activation function as we have been moving things to the `layers` class.

[2021-12-26 16:47] eshaanagarwal commented on #3095
hi ! Is this issue open for contribution? I would like to work on this.

[2021-12-27 09:25] vsharipov opened #3113 "A loaded model with PReLU does not produce expected predictions"
#### Issue description

Hello!

I have observed the following problem. If I save and load a model, it generates different predictions (see the example below).

I think that the problem is in the serialization of the PReLU layer. If I replace it with e.g. LeakyReLU, the loaded model works as expected.

Though I noticed that the mlpack version I use is quite dated, the issue could still be present.

[2021-12-27 19:05] zoq commented on #3113
Thanks for the report, I can see that in the reset function we overwrite the learned `alpha` with the initial value the user provided if we load the model (https://github.com/mlpack/mlpack/blob/802b6826b26f65abdf8436e22f94d503066ff908/src/mlpack/methods/ann/layer/parametric_relu_impl.hpp#L35-L36). Will open a PR to fix the issue.

[2021-12-27 20:14] heisenbuug commented on #3095
@shubham1206agra  We have another branch in which we are working on that.

[2021-12-27 20:16] heisenbuug commented on #3095
Yea, you can.
Check [this](https://github.com/mlpack/mlpack/pull/3098) PR
I am working on some, you can start with `mlpack/tests/main_tests/emst_test.cpp boost::math::iround()`

[2021-12-28 13:47] rcurtin commented on #1254
We should leave this open---it is still important functionality we should add at some point.

[2021-12-28 16:07] RabbleRousy commented on #3110
I tried using `AMSGrad` like in @zoq 's example, and **it works**!
I can modify batchSize, stepSize, all the good stuff and the training results already look waaay better :)
So maybe there's just something wrong with the other classes and they are not really compatible anymore?
Thanks again for all your help!

[2021-12-28 16:07] #3110 closed

[2021-12-29 09:02] shubham1206agra commented on #3095
@rcurtin I think what we are looking for here is an approximation for probit function. Right?
If that's the case, I will implement the custom function for this.
@heisenbuug Where should I put the function definition (in which file)?

[2021-12-31 15:31] dnabanita7 opened #3117 "Documentation for setting PATH variables for Python bindings in incomplete"
#### Problem location
[This quickstart documentation for Python bindings for mlpack seems incomplete.](https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/python_quickstart.html)

#### Description of problem

After following the steps to build mlpack from the source, not only the LD_LIBRARY_PATH should be added to PATH but also the python bindings path. I got a module not found error while defining ml

[2021-12-31 16:50] SuvarshaChennareddy commented on #2625
I'll take up LayerNorm.

[2021-12-31 19:15] zoq commented on #3117
I can't reproduce the pip issue, at least on my system (4.19.0-18-amd64 #1 SMP Debian 4.19.208-1 (2021-09-29) x86_64 GNU/Linux) it works just fine. Can you tell us some more information about your system? I guess you are running Linux as well?

About the `PYTHONPATH` did you run `install` after the build step? The `PYTHONPATH` should be set in the install phase, If you skip that phase you have to

[2022-01-01 17:23] zoq commented on #3113
@shubham1206agra fixed the issue in https://github.com/mlpack/mlpack/pull/3115.

[2022-01-02 02:25] rcurtin commented on #3109
I think you should be able to use the `CustomLayers` template type for the `FFN` class.  So, for instance, you might write, e.g.,

[code]

and then you can add a `ClippedRectifierFunction` or `LinearSplit` layer to `network`.  If I am not mistaken, this should work.

However, it's also worth pointing out that we are currently in the process of refactoring the neural network code to use inheritance

[2022-01-02 03:00] #2444 closed

[2022-01-02 03:00] #1062 closed

[2022-01-02 05:16] dnabanita7 commented on #3117
I made a build and ran ``sudo make install`` but clearly somehow I had to set it by myself.
Yes, I use Linux too. ``Linux naba-Predator-PH315-53 5.11.0-41-generic #45-Ubuntu SMP Fri Nov 5 11:37:01 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux``.  I think I don't have a PPA for it.

[2022-01-02 05:25] dnabanita7 commented on #3117
I see, ``FindBoost`` is not getting the new version of ``Boost`` that is why I am getting an error
[code]
which is not building anything.

[2022-01-02 06:41] dnabanita7 commented on #3117
The issue was with my cmake version. I upgraded it. But still getting some issues with the build.
[CMakeError.log](https://github.com/mlpack/mlpack/files/7798679/CMakeError.log)

[2022-01-02 10:32] RabbleRousy commented on #3109
Hi @rcurtin , thanks for your answer!
Unfortunately, I already tried that and get a compiler error (according to @Aakash-kaushik because there are to many template arguments):

So if you are familiar with that error or have any idea how to solve it, I would be really thankful!

That's great to hear, as that also was my first intuitive approach when trying to write custom layers!

[2022-01-02 15:00] #1990 closed

[2022-01-02 15:46] rcurtin commented on #3109
Crap, sorry!  I overlooked that response.  A `C1060` means that the system is out of RAM, and unfortunately I don't think there are many tricks to work around that.  Problems like that are exactly why we are trying to move away from `boost::visitor`. :)  If you have some way to increase the available RAM, that could help, but I don't know of any other way...

[2022-01-02 16:12] rcurtin commented on #3117
Can you tell us more about your system and how it is set up?  Some of the output that you're showing doesn't make sense to me.  Specifically, the failure of `sudo apt-get install libmlpack-dev mlpack-bin`.  Are you perhaps using Ubuntu 21.04 or something?  I noticed that mlpack is only packaged for `bionic` and `focal`: https://packages.ubuntu.com/bionic/libmlpack-dev ... I'll have to file a bug r

[2022-01-02 17:57] RabbleRousy commented on #3109
Yeah I tried some ways to increase RAM but found none that worked for me. Anyways, I found a workaround by just replacing some of the `MoreTypes` Layers with my custom ones. Kinda ugly solution because it modifies library code, but I'll stick with it for now. Good to hear there is a better solution on it's way. Closing this now :)

[2022-01-02 17:57] #3109 closed

[2022-01-02 21:21] zoq commented on #3117
To fix the boost issue you have to need to update - https://github.com/mlpack/mlpack/blob/05512c668ccca122095342b8a9f2aa9ec39a7853/CMakeLists.txt#L359 and add `1.78.0` and `1.78` to the list. We have an automated script that usually updates the file once there is a new version but that script broke (fixed it).

[2022-01-02 22:53] yarin177 opened #3121 "No lib sub folder in Boost folder"
Hi, I am following [this](https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/build_windows.html)  for building mlpack on windows.
I'm having issues with the Boost prebuilt Windows binaries, I downloaded the exact one you showed the in tutorial, it says that I should Install or unzip to "C:\boost\".

Later on when creating Sample C++ ML App [it says](https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/sam

[2022-01-03 03:21] samuelbertolini commented on #3090
Another extra problem, but now compiling.
Sorry to come back here again, but mlpack is not compiling and not even link mlpack is soving. I am trying the following:

`g++ -g -fopenmp -L/usr/local/lib/ -lmlpack test.cpp -o test`

But the result is:

`...
/usr/local/include/mlpack/core/data/load_impl.hpp:78: undefined reference to ``mlpack::util::PrefixedOutStream::operator<<(std::ostream& (*)(std::o

[2022-01-03 03:28] dnabanita7 commented on #3117
naba@naba-Predator-PH315-53:~$ lsb_release -a
No LSB modules are available.
Distributor ID:	Ubuntu
Description:	Ubuntu 21.04
Release:	21.04
Codename:	hirsute

I was already getting issues then I thought of installing one manually to check if issue persists.

I guess I have totally diverged from the main issue.

[2022-01-03 03:29] dnabanita7 commented on #3117
Yes, I upgraded that.

Now, the issue is its not building python or R or Go bindings but Julia bindings are successfully built.

[2022-01-03 04:57] dnabanita7 commented on #3117
[CMakeOutput.log](https://github.com/mlpack/mlpack/files/7800487/CMakeOutput.log)
as per the above file, ``COLLECT_GCC_OPTIONS`` shows that ``-pthread`` linker is used instead of ``-lpthread``. Is that an issue?

According to [SO answer](https://stackoverflow.com/questions/64514666/what-does-performing-test-cmake-have-libc-pthread-failed-actually-mean), adding a linked like ``-lpthread`` will reso

[2022-01-03 16:10] eshaanagarwal commented on #2181
Hi ! Which activation functions are left as of now? Can somebody please list them.

[2022-01-03 16:12] Aakash-kaushik commented on #2181
Hey, you would need to take a look at PRs that reference this issue and that are open and avoid those and if you see a stale PR for a long time feel free to pick that up or propose a new function that you think is useful and state why so if you want to include that.

[2022-01-03 16:34] shrit commented on #3121
What is the error message you are facing?

[2022-01-03 17:22] zoq commented on #3121
Maybe it got renamed, can you also post what is in the `libs` folder.

[2022-01-03 18:59] #3121 closed

[2022-01-03 22:00] rcurtin commented on #3108
I opened #3122 with a quick documentation fix here.  Thanks for pointing it out @RabbleRousy! :+1:

[2022-01-03 22:12] rcurtin commented on #2113
Sorry for the slow response.  This actually is not yet done, but, note that initiatives like #2646 and #2440 mean that the dependencies of mlpack will change significantly in the near future, and thus the CMake configuration will change somewhat too.

I think, if you are interested in working on this, we should find a way to split up the work into small pieces, since mlpack's CMake configuration i

[2022-01-03 22:32] shrit commented on #2113
Also, an idea to add on what @rcurtin mentioned, when mlpack becomes header only, we can inspire from the ensmallen cmake configurations since they are _(I think)_ using modern cmake.

[2022-01-04 03:52] dnabanita7 commented on #3117
So, I changed some lines in ``CMakeLists.txt``  to set ``PYTHON_BINDINGS`` to ON as well as for ``MARKDOWN_BINDINGS``. Why is it marked as off initially?

[2022-01-04 08:16] dnabanita7 opened #3123 "input_labels parameter in preprocess_split function can't be empty"
#### Problem location
https://www.mlpack.org/doc/mlpack-3.4.2/python_documentation.html#preprocess_split

#### Description of problem
``d = preprocess_split(input=np.empty([0, 0]), input_labels=np.empty([0, 0], dtype=np.uint64), no_shuffle=False, seed=0, test_ratio=0.2, verbose=False)``    shows an error of
[code]
As per [line 159](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/pr

[2022-01-04 08:19] dnabanita7 commented on #3095
I guess this issue has been taken up by 2 people already.  Should I get started with some too?

[2022-01-05 17:18] rcurtin commented on #3108
With #3122 merged, I think we can go ahead and close this. :+1:

[2022-01-05 17:18] #3108 closed

[2022-01-06 00:45] rcurtin commented on #3090
@samuelbertolini do you have multiple versions of mlpack installed on your system?  This could happen if the version of `libmlpack.so` found by the linker differs from the version of mlpack's headers that are being used.  Situations like this can arise if, e.g., `apt-get install libmlpack-dev` is done, but then *also* mlpack is compiled from source and installed to `/usr/local/`.  So, I'd suggest

[2022-01-06 00:48] rcurtin commented on #1501
@Sirish07 sorry for the slow response.  I'll take a look at the PR when I have a chance, but the most likely reason the test passes on some platforms but fails on others is that the test is a random test (e.g. not deterministic), so when it runs on different platforms the random seed is different, which ends up giving a different result.  Hopefully that helps! :+1:

[2022-01-06 01:39] samuelbertolini commented on #3090
@rcurtin , the problem was how to compile. What I did was: I copied this [Makefile](https://github.com/mlpack/examples/blob/c1e3eeb9c9997925e9598a1803e7c730ebd4d83f/mnist_cnn/Makefile), modified, and solved the problem. In any case, I checked this "multiple versions problems" from another issues, and it did not work. Now it is working. It takes a while to complile, but works. Thanks @rcurtin !

[2022-01-06 13:26] dnabanita7 commented on #3010
This issue is outdated. Most of the lines of code have different datatypes and gives error while reproducing this issue.

[2022-01-06 13:50] rcurtin commented on #3010
@dnabanita7 the code snippets may be outdated, but the underlying issue should still be relevant.  Can you post more information about the problems you are having?

[2022-01-06 14:59] dnabanita7 commented on #2625
taking up max pooling and mean pooling

[2022-01-07 08:21] aminul-palash opened #3127 "incompatible matrix dimensions while training random forest algorithm"
#### Issue description
Need urgent help!! please response. I'm getting this error while training random forest algorithm with a number of class 4. but it was a working file with less than 4 even 5 classes. How can i set optimal parameters for any number of classes? where model has to train different numbers of classes.

error: addition: incompatible matrix dimensions: 4x4607182418800017408 and 4x1

[2022-01-07 13:52] rcurtin commented on #3127
I think maybe your class labels are not correct.  They should be between 0 and the number of classes, but it looks like you are specifying `1, 2, 3, 5`, instead of `0, 1, 2, 3`.  You could use `mlpack::data::NormalizeLabels()` to do this, or you could manually modify your data.

[2022-01-09 15:48] dnabanita7 commented on #3010
@rcurtin I tried to reproduce this [here](https://colab.research.google.com/drive/113UPcZbyh4BMqbF1MkiNAu38unm45Q2H?usp=sharing), but as you can see [BayesSearchCV](https://scikit-optimize.github.io/stable/modules/generated/skopt.BayesSearchCV.html) requires and estimator while in ```d = adaboost(input_model=None, iterations=1000, labels=np.empty([0],
        dtype=np.uint64), test=np.empty([0, 0]

[2022-01-10 19:00] #3101 closed

[2022-01-11 18:41] pree-T commented on #3095
Is this issue still open?

[2022-01-11 18:43] pree-T commented on #3010
Is this issue still open? May I work on it? Can someone help me?

[2022-01-11 18:44] pree-T commented on #2982
Is this issue still open? May I work on it? Can someone help me?

[2022-01-11 19:26] shrit commented on #3095
it depends on what part you would like to handle

[2022-01-12 05:04] dnabanita7 commented on #3010
No need to ask. Open a PR and refer to this issue.

[2022-01-12 07:09] Shashank-Shet commented on #3095
Hello, I am a first-time contributor. Can I volunteer for this as well? If there are tasks remaining that is.

[2022-01-12 07:16] heisenbuug commented on #3095
Start with some part, make sure no one has commented that they are working on this one.
Check out related PR, this is for everyone who wants to contribute to this, there has been already some discussion done
on some parts, so make sure to keep those points in mind.

Hey sorry for the late reply. Been a bit busy.

Are you still working on this?
If yes, then you can create a new file for this functi

[2022-01-12 07:21] Shashank-Shet commented on #3095
So may I work on replacing the boost::get() parts of the code?

[2022-01-12 07:30] heisenbuug commented on #3095
@Shashank-Shet It's not taken by anybody so yes you can.

Just comment here how are you planning to implement or maybe you can ask your doubts on IRC channel as well.

[2022-01-12 07:43] shubham1206agra commented on #3095
https://github.com/heisenbuug/mlpack/pull/2
I have already created a PR on your repo
I have 2 commit pending but I want first review it

[2022-01-12 11:25] RUrlus commented on #2982
@pree-T yes it is still open, I've been working on it but I haven't had much time. Currently, writing the binding generator code. When that's done it should be easier for you to join the work

[2022-01-12 14:33] rcurtin commented on #2982
@RUrlus thanks for the update---please don't hesitate to ask if you'd like me to explain anything about the binding generator setup.  It would be exciting to transition away from Cython (and make builds easier), so I am more than happy to help out where I can. :+1:

[2022-01-12 18:13] Ris-Bali commented on #2668
Hello @rcurtin @alexhallam if there is no open PR , could I implement the ARIMA method for Time Series Forcasting
Thanks .

[2022-01-12 18:45] Ris-Bali commented on #2668
Okay I'll work on PR for ARIMA

[2022-01-12 19:20] rcurtin commented on #2668
@Ris-Bali the most important thing about any PR that adds new support is that the API matches the rest of the mlpack methods.  So please take a look at the rest and be sure that the design you implement is coherent. :+1:

[2022-01-13 05:59] Ris-Bali commented on #2668
@rcurtin  sorry for disturbing but does the library hai AR(Autoregressive) model  and MA (moving average ) model which are part of ARIMA , I checked in statsnmodels and AR is also used as a forcasting method and it is part of ARIMA ; infact the above list doesn't contain some forcasting methods . So the list above can be extended by adding them . I am working on a PR for AR model first if it has n

[2022-01-13 10:01] VedangAsgaonkar commented on #2820
Is this issue still open?

[2022-01-13 13:59] alexhallam commented on #2668
@Ris-Bali

The list is not exhaustive, new forecasting models come out all the time (see [International Journal of Forecasting](https://www.sciencedirect.com/journal/international-journal-of-forecasting)). The list above is really just to make sure that `mlpack` is not turning a blind eye to forecasting. There is no single package that contains all methods. My preference would be for MLPack to lea

[2022-01-13 16:47] rcurtin commented on #2668
@Ris-Bali note also that there has been some previous work for an exponential smoothing model that was never merged: https://github.com/mlpack/mlpack/pull/3046.  You could, for instance, pick that up too.  (Honestly it is a little disappointing to put a bunch of time into reviewing a PR for it to get so close, but never get merged, so personally I tend to prefer reviewing PRs that build on previou

[2022-01-13 16:49] rcurtin commented on #2820
@VedangAsgaonkar yes, as you can see, the issue is not closed, so it is still open. :smile:

Please feel free to take a look at some of the PRs that have already been done for other bindings (you can look through the list of linked PRs), then pick a binding and open a PR for it.  I'd recommend smaller PRs, one per binding, which will make it easier to get them merged.  I think the description that

[2022-01-13 19:21] Ris-Bali commented on #2668
@alexhallam thank you for those resources; they helped me gain some intuition about the methods; also was not aware simple methods had usecases in the industry ,thanks for that info too !!

[2022-01-13 19:21] Ris-Bali commented on #2668
Sure I'll try to implement that first.

[2022-01-14 02:09] rcurtin commented on #3117
(responding in reverse chronological order :))

You don't need to change those in `CMakeLists.txt`.  Take a look at the readme and documentation for building---you can specify their values from the `cmake` command-line call: `cmake -DBUILD_PYTHON_BINDINGS=ON ...`.

Nice digging!  In any case, those are just diagnostic messages issued by CMake as it attempts to figure out the version of the compile

[2022-01-14 08:24] Ashutosh-codes commented on #2722
Hello @heisenbuug
I am new to contibution. I have learnt algorithms in machine learning and know the maths behind it.
Can you please guide me how can I contribute to this or any other thread. It would be  very helpful for me.
Thanks

[2022-01-14 08:53] Ashutosh-codes commented on #3095
Hello @shrit
Can I contribute to boost::math::iround() part of the code?
This is my first contribution in open source. Any advice on how to  get started would  be very beneficial.
My domains of interest are Machine learning and deep learning and especially the mathematics and algorithms involved in it. I am also proficient in C++, python, pandas, numpy and matlab.
So, Can I start contributing to b

[2022-01-14 10:10] Shashank-Shet commented on #3095
@heisenbuug  @shrit  I have been looking into finding a replacement for boost::get. I was looking into std::get as an alternative. However, the first issue with this is that it requires C++17 to compile. Do you have any directions in mind other than std::get for me to look into?

[2022-01-14 10:39] Shashank-Shet commented on #3095
Also, just another question, the code in question here is:
`      boost::get<NoisyLinear<>*>
          (network.Model()[noisyLayerIndex[i]])->ResetNoise();
`
Is there any scenario wherein `network.Model()` does not yield a vector?

[2022-01-14 14:24] rcurtin commented on #3095
I thought `std::get` was available from C++11.  In any case I wouldn't worry too much about the stuff in `src/mlpack/methods/ann/` because it is being revamped in #2779, and the work that is being done there is likely to remove that (and similar) `boost::get` calls anyway. :+1:

[2022-01-14 14:27] rcurtin commented on #3095
@shubham1206agra that PR looks good!  Do you think you could open it against the main mlpack repository instead?  I imagine it should be possible to consider the changes you made separate from the `remove-more-boost` branch (correct me if I'm wrong).

[2022-01-15 13:19] a0n0k0i0t commented on #3095
I would like to work on `boost::replace_all_copy()`. I'm not sure if there's any function in standard library that can replace it (correct me if I'm wrong) . I would like to implement a custom function using KMP algo. Can I work on it?

[2022-01-15 13:22] shubham1206agra commented on #3095
@a0n0k0i0t Actually I have already done this. Sorry for not giving heads up in this thread.

[2022-01-15 13:25] a0n0k0i0t commented on #3095
@shubham1206agra cools

[2022-01-15 15:22] Ashutosh-codes commented on #3095
I woould ike to work on boost::math::iround(). Can I go ahead on this issue?

[2022-01-15 15:38] eshaanagarwal commented on #3095
I am working on this currently!

[2022-01-15 15:58] Ashutosh-codes commented on #3095
Hello @rcurtin I want to work on boost::tokenizer. Can I go ahead on this issue?

[2022-01-16 15:50] VedangAsgaonkar opened #3133 "Subset Selection on data"
### Methods to select subsets of training data for data efficient learning

### Motivation
Training models on large data sets consumes a lot of time and energy. Algorithms to select subsets of training data that best model the superset and performing training on these is a new paradigm in ML.

### Implementation ideas

An implementation similar to algorithms like GLISTER, Gradient matching etc. as

[2022-01-17 07:00] #3085 closed

[2022-01-17 18:20] kuries commented on #3095
Hello everyone,
I wanted to know if anyone is currently working on the `boost::heap` removal or is it still up for grabs?

[2022-01-17 18:41] heisenbuug commented on #3095
Hi @kuries I was working on it, here is the [PR](https://github.com/mlpack/mlpack/pull/3098). It's not much but there are some comments which might help you get started.

I got busy with other things so you can take this up.

[2022-01-17 18:46] kuries commented on #3095
Sure, thank you 👍

[2022-01-17 19:36] rcurtin commented on #3010
You don't need to use the hyperparameter tuning or anything.  You can just use the command-line program or the Python bindings to replicate the original finding that convergence is not good for the given dataset.

[2022-01-17 19:39] rcurtin commented on #3123
This can be fixed as part of #2820: a check on the input sizes would provide a much better error message here than what's currently encountered.  Thanks for the report!

[2022-01-18 05:15] dnabanita7 commented on #3117
yes, everything is working fine. Thank you for the explanation.

[2022-01-18 15:48] rcurtin commented on #3117
:+1: awesome!  Should we go ahead and close this issue then, or are there other things to resolve?

[2022-01-19 14:48] eshaanagarwal commented on #2820
Hi ! I would like to take up PCA first and then move on to preprocess_split and other bindings.

[2022-01-21 22:10] StevenPhang22 commented on #2625
I'll work on Highway

[2022-01-22 04:57] Shashank-Shet commented on #2625
May I work on TransposedConvolution?

[2022-01-23 16:08] adithyathecoder commented on #3095
I'm new to open source contribution it was shown good first issue can I know is this issue still open and if open how can I solve the issue like what exactly to do solve the issue

[2022-01-23 16:32] adithyathecoder commented on #2181
any activation function left  as of now?

[2022-01-24 04:01] dnabanita7 commented on #3117
nope

[2022-01-24 04:01] #3117 closed

[2022-01-24 06:01] #3063 closed

[2022-01-24 08:33] aminul-palash opened #3138 "getting all class prediction with probability score for classification model like random forest"
#### Problem location

Hi, I need **urgent help**, please help me to solve this, I'm working on random forest implementation for the prediction dataset.
I'm following this tutorial.
https://www.mlpack.org/doc/stable/doxygen/sample_ml_app.html

#### Description of problem
for a single data sample inference, it gives one predicted class label. But I want to get the other class prediction for the sam

[2022-01-24 17:09] rcurtin commented on #3138
What makes this request urgent?  You realize that we are all volunteers, right?  I would suggest not writing things like this in your issue reports---it doesn't exactly motivate me to help you more, especially since you could have solved this problem by looking through the documentation.

The [random forest documentation](https://www.mlpack.org/doc/mlpack-git/doxygen/classmlpack_1_1tree_1_1RandomF

[2022-01-24 17:11] rcurtin commented on #3127
It looks like this is solved.  I'll go ahead and close the issue.

[2022-01-24 17:11] #3127 closed

[2022-01-25 05:17] aminul-palash commented on #3138
sure, thanks. I'll try!

[2022-01-25 14:25] Utkarsh2401 commented on #3095
Hi! I would like to start contributing to this issue, so if is there anything that no one is working on currently or which might require some help, please let me know.
Thank you.

[2022-01-25 23:24] rcurtin commented on #3133
Agreed, this could be nice to add.  If you (or anyone else) are interested in adding it, we should add a C++ implementation, as well as a binding that can be used from other languages. :+1:

[2022-01-27 06:01] #2986 closed

[2022-01-31 13:59] kgei opened #3141 "Mlpack - Layer dimensioning"
Hey guys,

I'm trying to implement a kind of autoencoder. For this i chose mlpack as ML library. The code compiles, but I am running into matrix dimension problems and segmentation faults, which I don't understand at this point. May someone can help me figure out the problems in my code?

[code]

Thanks in advance :)

[2022-02-01 11:44] mamunabcoder opened #3142 "is it possible to make iOS compatiblity for mlpack library like as OpenSSL library?"
-> Need to create .a extension for mlpack library
-> Need to support iOS Simulator
-> Need to support iOS device

Any suggestion or idea?

[2022-02-01 23:09] rcurtin commented on #2625
I have been working on the refactoring of the ANN code in #2777, and those changes significantly modify the ANN code in such a way that new implementations of copy and move constructors and operators would likely be hard to merge.

So, I think for now we should "pause" this one until that refactoring is complete.  I *think* that what will likely happen is that we will merge #2777 with support for

[2022-02-02 02:57] ShaonReza opened #3143 "mlpack Embedding Layer and Categorical Cross Entropy Loss"
I am new to C++ and MLPack. I want to convert the below keras-python implementation to MLPack C++ implementation. But seems like - Embedding Layer as well as Categorical Cross Entropy Loss are missing here - https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/index.html. Any suggestion in this regard will be appreciated.

1. self.model = Sequential()
2. self.model.add(Embedding(vocab_size, seq_len, in

[2022-02-02 11:37] hello-fri-end commented on #3143
Hi @ShaonReza! `Embedding layer` in mlpack is an [alias](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/layer/lookup.hpp#L142) for the [Lookup layer](https://mlpack.org/doc/mlpack-3.1.0/doxygen/classmlpack_1_1ann_1_1Lookup.html) and, as far as I know, `Categorical Cross Entropy Loss` is just softmax followed by [Cross Entropy Loss ](https://mlpack.org/doc/mlpack-3.1.0/doxygen/

[2022-02-02 14:33] dnabanita7 commented on #3010
Yes, as per [here](https://colab.research.google.com/drive/113UPcZbyh4BMqbF1MkiNAu38unm45Q2H?usp=sharing), convergence of adaboost is not good for the given dataset.

[2022-02-03 03:56] rcurtin commented on #2986
I believe I just fixed this in #2777.  It seems as through the backwards pass should use a stride of 1, but a dilation factor equal to the forwards pass stride.

[2022-02-04 01:08] #3138 closed

[2022-02-04 04:11] zoq commented on #3142
Hello, you should be able to set `BUILD_SHARED_LIBS=OFF` during the cmake step:

`cmake -DBUILD_SHARED_LIBS=OFF ..`

that will build a static library.

[2022-02-04 13:14] mamunabcoder commented on #3142
Can you please help me to build the mlpack library?

I have facing below issues when I try to build mlapck library using cmake

bjit@Mahfuzurs-MacBook-Pro build % cmake  -D BUILD_SHARED_LIBS=OFF ../
-- cotire 1.7.10 loaded.
CMake Error at /opt/homebrew/Cellar/cmake/3.22.2/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find Armadillo (missing: ARMADILLO_LIBRARY)

[2022-02-04 15:27] mamunabcoder opened #3145 "undefined symbol architecture error: arm64 in iOS project"
Below error found

[2022-02-04 15:34] mamunabcoder commented on #3142
I have been using **cmake -DBUILD_SHARED_LIBS=OFF ../** and **build .a file successfully**. When I used it into Xcode iOS project some compatibility error found so it's only compatibility only macOS. I want build it into iOS compatibility.

Can you please help me?

[2022-02-07 10:10] robi56 opened #3147 "Failed to link libmlpack.so file to use mlpack libarary for a seperate project"
First of all, I build the mlpack project from source in linux system and the .so file is generated in build/lib folder.

[code]
![image](https://user-images.githubusercontent.com/2936512/152765869-d11ba48c-6c49-4280-b8e4-c31426d26f1c.png)

**mlpack_test.hpp**

[code]

**mlpack_test.cpp**

[code]

**CMakeLists.txt**

[code]

**Command**
 cmake ../ -DCMAKE_PREFIX_PATH=/../mlpack-3.4.2/build/

The ou

[2022-02-09 17:24] rcurtin commented on #3147
Seems like maybe you need `include_directories(".../mlpack-3.4.2/build/include/")` in your CMake configuration?  In any case it seems clear that the include directories being given to the compiler are not right.

[2022-02-10 02:20] rcurtin commented on #3145
Try using the git master branch---I think that the version of catch included with mlpack-3.4.2 is too old for your compiler.  Alternately you could just not build the tests (configure CMake with `-DBUILD_TESTS=OFF`).

[2022-02-10 08:42] mamunabcoder opened #3148 "How to build mlpack library for iOS compatibility?"
Last few days I have tried to build mlpack library for iOS compatibility but there is no proper way to build for iOS.

I have tried to create **CMake** toolchain for iOS but it's not working when created **CMake**.

I need support to build mlpack library with all dependencies.

_**It's urgent request, any idea or support are more appreciated.**_

Please help me to do this.

[2022-02-10 08:52] mamunabcoder commented on #3145
<img width="1198" alt="mlpack_" src="https://user-images.githubusercontent.com/6092413/153371493-6820eccf-9775-4e07-b082-5fe601417e2d.png">

Check below error log snapshots

[2022-02-10 11:19] shrit commented on #3145
@mamunabcoder You need to have boost serialization installed for mlpack 3.4.2.
As @rcurtin suggested, we highly recommend using the master branch instead of mlpack 3.4.2

[2022-02-14 18:01] z4zzaman opened #3150 "How to build mlpack library for android compatibility?"
Could you please help us to integrate mlpack library into the android project?
We tried several times to build this library into an android project but faild.

It would be helpful if you can give us the step-by-step instructions to cope up this library into the android project.

[2022-02-16 01:49] zoq commented on #3150
Hello @z4zzaman, I don't think someone from the community ever tried to package mlpack for Android, so I can't reference some step-by-step instructions. However since you said you already tried a couple of things, perhaps you can share the steps and we might be able to support you. Also, I would try to build the GitHub master branch, since it requires fewer dependencies. Also, would be interesting

[2022-02-16 01:54] zoq commented on #3148
@mamunabcoder can you post the error message you get, I guess when you talk about the CMake toolchain you mean the Xcode generator - https://cmake.org/cmake/help/latest/manual/cmake-toolchains.7.html#cross-compiling-for-ios-tvos-or-watchos?

[2022-02-16 02:51] rcurtin commented on #3141
Hey @kgei,

We are actually in the process of refactoring our neural network support in #2777, so I think after that refactoring the task you are trying to do should get a lot easier.

In your case, just a quick glance at the code seems to indicate that you are encoding your data as *row-major*, but mlpack takes data as *column-major*: that is, each data point should be a column.  Thus, `data_gen_

[2022-02-16 09:32] barak opened #3151 "Need libatomic (-latomic) on some platforms"
The Debian package [mlpack 3.4.2-3 fails to build on some architectures]( https://buildd.debian.org/status/logs.php?pkg=mlpack&ver=3.4.2-3 ) with errors like
[code]
Apparently some architectures need [`-latomic`]( https://youtu.be/O_WLw_0DFQQ?t=85 ) on both compiler and linker invocation. See eg
* https://github.com/opencv/opencv/issues/15278
* https://gitlab.kitware.com/cmake/cmake/-/issues/21174

[2022-02-16 15:58] EricDeveaud opened #3152 "julia version detection :: failure"
#### Issue description

julia detection by cmake is doing wrong.

[code]

#### Your environment

 * mlpack-3.4.2 from release archive
 * RHEL-8.2
 * ggg
 * boost/1.72.0 armadillo/9.800.4

#### Expected behavior

as `required is at least "0.7.0"` and 1.6.1 is greater than 0.7.0 I expect julia/1.6.1 to be taken in account

regards
Eric

[2022-02-16 16:01] rcurtin commented on #3152
Hey Eric, thanks for the report.  What's the output when you run `/opt/gensoft/exe/julia/1.6.1/bin/julia --version`?

Locally with 1.6.5, I get this:

[code]

The CMake regex that parses for Julia's version number is just looking for something like `x.y.z` somewhere in the output:

[code]

[2022-02-16 18:11] EricDeveaud commented on #3152
problem is on our side......
[code]

that's why version detection fails ;-(

sorry for the noise

regards

Eric

[2022-02-16 18:31] rcurtin commented on #3152
I'm not familiar with the stack smashing version of Julia :smile: :smile:

Feel free to reopen this issue or open other ones if you have any further issues!

[2022-02-17 02:36] zoq commented on #3151
Hehe, the issue comes with an easter egg.

[2022-02-17 02:44] zoq commented on #3151
Opened https://github.com/mlpack/mlpack/pull/3153 which might fix the issue.

[2022-02-17 03:34] dnabanita7 commented on #3123
keep open

[2022-02-17 10:45] mamunabcoder commented on #3145
is it possible to use direct master branch code?

When use master branch lots of issues found for building.

Also master branch code has some error:
Don't found mlpack_export.hpp file

[2022-02-17 10:50] mamunabcoder commented on #3145
I have created a iOS static library using mlpack code with all dependencies and the iOS static library build successful and create *.a file successfully. But when try use this iOS static library found lots arm64 related error.

Here is the error snapshots

Any suggestion or idea for mlpack library with all dependencies into iOS project.

<img width="1384" alt="static_lib_error" src="https://user-i

[2022-02-17 11:03] z4zzaman commented on #3150
Hi @zoq , I've included mlpack from the master branch, there is a dependency for boost and armadillo,  So I included those sources too, facing **C/C++: clang++: error: linker command failed with exit code 1 (use -v to see invocation)**  error when trying to build native-lip.cpp file which uses the mlpack library.

**Here is the project structure:**

![Screenshot_structure](https://user-images.gith

[2022-02-17 11:16] mamunabcoder commented on #3148
Master branch cmake build error

[2022-02-17 12:53] shrit commented on #3150
Would you use the master branch please? many thanks

[2022-02-17 13:46] barak commented on #3151
Yup! [🪺]( https://www.youtube.com/watch?v=O_WLw_0DFQQ&t=230s )

[2022-02-17 13:56] mamunabcoder commented on #3148
Master branch **make** build error:

**cmake  -D BUILD_SHARED_LIBS=OFF -D DOWNLOAD_DEPENDENCIES=ON ../**
-- cotire 1.7.10 loaded.
-- Could NOT find Armadillo (missing: ARMADILLO_LIBRARY) (found suitable version "10.8.2", minimum required is "9.800")
-- Looking for pthread.h
-- Looking for pthread.h - found
-- Performing Test CMAKE_HAVE_LIBC_PTHREAD
-- Performing Test CMAKE_HAVE_LIBC_PTHREAD - Succ

[2022-02-17 16:45] mamunabcoder commented on #3148
I want to use it into iOS project but still facing some issues to use it. I can't use it iOS project because of there are lots of error found specially for the "Undefined symbol architecture: arm64", Any mobile platform managed architectures.

[2022-02-21 23:03] retpoline opened #3154 "Crash when parsing malformed CSV file"
#### Issue description

Hi folks,

An interesting crash was found while fuzz testing of the **mlpack_gmm_train** binary which can be triggered via a malformed CSV file. Although this malformed file only crashes the program as-is, it could potentially be crafted further and create a security issue where these kinds of files would be able compromise the process's memory through taking advantage of a

[2022-02-22 09:45] z4zzaman commented on #3150
Hi @shrit, we are already using from the master branch, but facing these issues.

[2022-02-22 09:48] shrit commented on #3150
@z4zzaman Nope, You are using the 3.4.2. The master branch does not contain boost serialization.

[2022-02-23 05:35] mamunabcoder opened #3155 "cmake build error for Apple MacOS (M1) PC"
I have downloaded the latest **master** branch code and try to **cmake** build but found some **cmake** build error.

Below issues found when cmake build:

**cmake -D BUILD_SHARED_LIBS=OFF -D DOWNLOAD_DEPENDENCIES=ON ../**
-- The C compiler identification is AppleClang 13.0.0.13000029
-- The CXX compiler identification is AppleClang 13.0.0.13000029
-- Detecting C compiler ABI info
-- Detecting C c

[2022-02-23 05:41] zoq commented on #3155
I'm not an iOS dev, but does this comment still apply - https://github.com/crosstool-ng/crosstool-ng/issues/31#issuecomment-71333176 ?

[2022-02-24 10:30] liujie316316 opened #3156 "Can I compile mlpack using QNX?"

[2022-02-24 13:24] mamunabcoder opened #3157 "mlpack library build error"
I have try to build the mlpacl library found some build and saw that missing some methods.

Below error::

Showing Recent Messages
Undefined symbol: mlpack::math::randUniformDist

Undefined symbol: mlpack::math::randGen

Undefined symbol: mlpack::Timer::Start(std::__1::basic_string<char, std::__1::char_traits<char>, std::__1::allocator<char> > const&)

Undefined symbol: mlpack::Timer::Stop(std::__

[2022-02-24 14:13] rcurtin commented on #3157
You need to link your application against mlpack.

[2022-02-24 15:09] rcurtin commented on #3157
I don't know how to simplify really... when you compile any C++ code, you must link against any libraries that you use. Specifically *how* you do this linking is something you should be able to learn about in the documentation for your compiler and build tools.

[2022-02-25 03:14] zoq commented on #3157
`g++ test.cpp -lmlpack -larmadillo` is what I use on my machine to build a test application that is linked against mlpack and armadillo, that command might not work on your system, and it looks like you are using some IDE as well, but perhaps the command is helpful.

[2022-02-25 03:16] zoq commented on #3156
I am not aware of anybody who has tried this before, but if you have the necessary dependencies like armadillo, blas mlpack should be fine as well.

[2022-02-25 03:23] mamunabcoder commented on #3157
Thanks 🙏 for your feedback.

Basically I am using Xcode IDE(that is Apple provided) to build mlpack with all dependencies Libraries. I am directly using mlpack source code and armadillo source code.

Then how can use above command to linking the mlpack and armadillo?

I am trying to fix this issues few days but still didn't.

[2022-02-25 12:49] shrit commented on #3145
You need to install boost serialization, it is a dependency that is used to serialize the model

[2022-02-25 12:51] shrit commented on #3156
If you have a C and C++11 compatible compiler, I do not see any issue, but as @zoq said you will have to build the dependencies by yourself.
Use in preference the mlpack master branch, since it has fewer dependencies that require compilation.

[2022-02-25 12:53] shrit commented on #3154
Do you have the same issue if you tried to load the file using armadillo alone?
If this is the case, I do not think this is an mlpack issue.

[2022-02-25 14:23] rcurtin commented on #3154
This is definitely a known mlpack issue. In general mlpack utilities historically have not checked potentially large data for invalid inputs---this is for the reason of speed.  The issue https://github.com/mlpack/mlpack/issues/2679 is open to address the problem you pointed out here and add options so that data can be 'sanity checked' to prevent issues like this. However, there is little developme

[2022-02-28 01:53] liujie316316 commented on #3156
Well,thank you!

[2022-03-01 09:07] liujie316316 commented on #3156
I have compiled necessary dependencies like armadillo and boost, but the error is when compiling library mlpack: /usr/lib/armadillo.so file in wrong format,Then I "file armadillo.so.10.8.1",no problem with format found。Can't QNX cross compile mlpack?

[2022-03-01 09:18] mamunabcoder opened #3158 "mlpack master branch source code file not found error"
I am using master branch code to build but found file not found error

Below is the error
![file](https://user-images.githubusercontent.com/6092413/156140623-42d17f59-83bb-4e6b-9410-9e064c585ed0.jpg)

[2022-03-01 09:30] shrit commented on #3158
Did you install mlpack?

[2022-03-01 09:55] mamunabcoder commented on #3158
I am direct using the master branch source code for build and using Xcode compiler.
My pc environment is MacOS (M1). Last few weeks you have suggested to use the master branch code. Also I had tried to cmake build for master branch code but master branch code is build for MacOS (M1) pc. I am little bit disappointed to use this library lots of error of this library but there is no proper solution y

[2022-03-01 12:12] shrit commented on #3158
You need to build mlpack before using it.
The build instructions are in the README on the front page in GitHub.
Xcode is not a compiler, it is an IDE and most IDE makes life much worse if you do not know how to configure them. IDEs are not out-of-box tools in most cases.
I never had any issue with building mlpack, our own CI infrastructure is green and building on Mac is passing perfectly as well.

[2022-03-01 13:45] mamunabcoder commented on #3158
I had build the below command:
cmake  -D BUILD_SHARED_LIBS=OFF ../

Also make command using into terminal : make

When try to follow above process found make command failed.

[2022-03-01 18:37] mohamedAdhamc commented on #3095
I would like to take on this issue if possible I am still new to open source but i believe this would be a good first open source issue for me.

[2022-03-01 19:11] nitolpalak opened #3159 "MLPack Build for Arm64 from linux"
OS: Ubuntu 20.04
Development environment: Desktop

I want to build a shared library or static library of mlPack for Arm64 architecture from my linux environment preferably using NDK-Build.
I have tried downloading the arm64 built file([libmlpack-dev_3.3.2-2_arm64.deb](https://launchpad.net/ubuntu/+source/mlpack/3.3.2-2/+build/19774415/+files/libmlpack-dev_3.3.2-2_arm64.deb)) from [this link](https

[2022-03-01 19:31] shrit commented on #3159
is there any `.so` inside the package?

[2022-03-01 19:33] rcurtin commented on #3159
You can't just download random precompiled files from the internet and expect them to work on your setup.  Also, you downloaded an old version of mlpack, which is not a great idea.

If you want to *build* mlpack, then downloading a precompiled version is not what you want---you should follow the instructions in the README to compile.  Our build servers test against arm64 architecture and there sho

[2022-03-01 20:51] nitolpalak commented on #3159
Yes. there are many .so files as following:
![image](https://user-images.githubusercontent.com/19832924/156246828-738642ec-afd9-431f-85bf-7ed82a086e3a.png)

[2022-03-01 20:54] shrit commented on #3159
Perfect, that is all what you need

[2022-03-01 21:08] nitolpalak commented on #3159
I understand that I can not just expect random precompiled files from internet to work. The issue is I am trying to use the mlpack as a dependent library of a program I am trying to build for android using NDK-Build. But if I use the .so file that I have built from source in my environment it shows
[code]
And as far as I have understood, as I have built mlpack from source in my desk environment my

[2022-03-01 21:13] nitolpalak commented on #3159
Thank you for your reply. I think I understand now that the full mlpack library was divided into multiple .so files. So, I need to link all of these .so files in my project. Is there a way to compile all these .so files together and build them into one?

[2022-03-01 21:27] rcurtin commented on #3159
Thanks for the clarification!  When you compile mlpack on your system, you will have to cross-compile it for arm64.  You can do this with the usual CMake cross-compilation utilities.  @shrit actually wrote up a tutorial if I remember right, but I can't seem to find it.  There is some documentation here: https://github.com/mlpack/mlpack/blob/master/board/crosscompile-toolchain.cmake

My memory of d

[2022-03-01 22:24] shrit commented on #3159
Sorry never had time to do proper documentation, I shall do it one day.
If you have any questions let me know, please.

[2022-03-01 23:38] zoq commented on #3158
If you post the error you get when you run `cmake` we can provide some hints how to solve it, without it we can just guess. Actually, we encourage everyone to use the template when they open an issue (it's there for a reason), the template asks for more details, which helps us to understand the issue and to help you to solve the issue.

The errors from the image, are not mlpack specific, it's how

[2022-03-02 12:46] mamunabcoder commented on #3159
Can you please help us to build the cross-compiling?
I can't understand where we using the cross-compiling toolchain.cmake into CMakeList.txt.

[2022-03-02 13:54] #3145 closed

[2022-03-02 14:10] #3155 closed

[2022-03-02 14:10] #3142 closed

[2022-03-02 14:11] #3148 closed

[2022-03-02 14:27] shrit commented on #3159
@mamunabcoder what is the host architecture and the target architecture that you are compiling for?

[2022-03-02 14:34] mamunabcoder commented on #3159
Thank you so much for quick feedback.
The host architecture: macOS

The target architecture:
For iOS device: arm64, arm7
For iOS simulator: arm64, i386 and x86_64

[2022-03-02 15:07] zoq commented on #3157
I'm not an Xcode users, but I imagine you can find a bunch of tutorials how to build a library inside Xcode that has external dependencies and uses CMake as build system. One thing that might work right out of the box is to use the CMake XCode generator, which should generate a Xcode project for you that you can build. You can open Google and search for `cmake xcode generator`.

[2022-03-03 02:36] mamunabcoder commented on #3157
Thank you so much for your feedback.

Your understanding is correct and I am a Xcode user and I am try to build the mlpack source code as external source inside the Xcode. Also I am included all dependencies of mlpack inside the Xcode.

But whatever I have done found the issues.

Need some help from your side to use mlpack source inside Xcode.

[2022-03-03 12:02] robi56 opened #3160 "MLPack build for android clang++: error: unknown argument: '-fno-allow-half-arguments-and-returns'"
#### Issue description

I am trying to build mlpack from Android arm64-v8a  architecture using Android-NDK and mlpack cross-compile cmake file.
During the **make** command, the following error is introduced.

error: half args and returns was disabled in PCH file but is currently enabled

![problem](https://user-images.githubusercontent.com/2936512/156559531-cc52021e-e0ae-4161-9a87-eab490c9a120.png

[2022-03-03 22:07] shrit commented on #3160
This is interesting, what is the command you used for the cross-compilation?
I never tried to do the cross-compilation with clang, in the case of mlpack.
As you are on Linux, do you mind using the g++ compiler?

[2022-03-04 00:01] #3133 closed

[2022-03-04 02:41] robi56 commented on #3160
I have used the following command

`cmake ../   -DCMAKE_SYSTEM_NAME=Android   -DCMAKE_SYSTEM_VERSION=21   -DCMAKE_ANDROID_ARCH_ABI=arm64-v8a   -DCMAKE_ANDROID_NDK=../android-ndk-r21e-linux-x86_64/android-ndk-r21e/   -DCMAKE_ANDROID_STL_TYPE=gnustl_static -DLLVM_INCLUDE_TESTS=OFF -DCMAKE_ANDROID_STL_TYPE=c++_static -DCMAKE_SYSROOT=../android-ndk-r21e-linux-x86_64/android-ndk-r21e/toolchains/llvm/pr

[2022-03-04 10:12] shrit commented on #3160
how did you download mlpack dependencies?

[2022-03-05 11:55] Ferox98 opened #3161 "Load function maps every matrix cell to zero"
#### Issue description
I am using mlpack's load function to load a csv file containing both numeric and categorical features and ran into a problem. According to mlpack's documentation, I must specify a DatasetInfo variable to load data containing categorical features. Despite doing this, all of the matrix's cells have a value of zero.

Here is the code I am using to load the dataset:
`arma::mat m

[2022-03-05 18:03] robi56 commented on #3160
armadillo is downloaded when compiling **cmake** command  under the deps folder
.....build_android/deps/armadillo-10.3.0/include (found version "10.3.0")

Other   dependencies are from taken from system

-- Found StbImage: /usr/local/include/stb/
-- Found Ensmallen: /usr/local/include (found suitable version "2.14.2", minimum required is "2.10.0")
-- Found cereal: /usr/include (found suitable vers

[2022-03-06 03:01] #3113 closed

[2022-03-06 18:02] shrit commented on #3160
You can not take other dependencies from the host root filesystem, you need to download them locally and point out the path for each of them, or integrate them with the target SYSROOT.
The compiler will eventually at some point mix the paths and will include the C++ header from the main root file system.
You were lucky in the case of android as you have pointed out to basically everything the comp

[2022-03-06 18:09] kgei commented on #3141
Hey @rcurtin,

thanks for you response! I changed the code to output and compute with column-major matrices, but I still get a seg fault while training. The only setting this doesnt happen is, when I change my N, which is the number of samples to 10. But that is not very useful in training my NN ^^'
Do you have any other idea, where the segfault has its origin? Maybe I set the values for the Layer

[2022-03-07 13:43] giofum opened #3162 "Compile errors W10 VS2019 mlpack example"
Hello everybody!
Has anyone of you experimented this problem, or similar one?
I've correctly built armadillo and mlpack, but trying to compile a mlpack example with the following includes, leads to this:

#include <mlpack/core.hpp>
#include <mlpack/prereqs.hpp>
#include <mlpack/methods/ann/rnn.hpp>
#include <mlpack/methods/ann/layer/layer.hpp>
#include <mlpack/core/data/scaler_methods/min_max_scal

[2022-03-07 16:28] zoq commented on #3162
Please share the commands you used to build/install mlpack, and also the commands you used to build the example.

[2022-03-07 22:33] shrit commented on #3159
@mamunabcoder there is an issue was for the same problem but for android, I answered it here #3160
Let me know if this helps you.

[2022-03-07 22:37] shrit commented on #3161
Would it be possible to use the mlpack from the master branch, please?
There has been a lot of refactoring in the last two years, and mlpack 3.4 is quite old now.
We have also refactored and improved the code related to the dataset mapper last year.
Let me know if you face the same issue with the new version
Thanks

[2022-03-08 02:05] zoq commented on #3162
Can you run the same test against the latest master branch, looking at the directory, I think you build mlpack 3.4.2?

[2022-03-08 08:32] nitolpalak commented on #3159
I have been trying to create a buildroot environment for android arm64v8 to use the sysroot as my `CMAKE_SYSROOT`. For that I have been following the following steps:
1. I am using buildroot-2020.08.1
2. `make menuconfig`
[code]
for this configuration I followed: https://community.arm.com/oss-platforms/w/docs/499/build-a-buildroot-user-space

3. `make ARCH=arm64 BR2_JLEVEL=N -j 4`
It did not give

[2022-03-08 09:07] liujie316316 opened #3163 "QNX_HOST environment variable not set"
I am compiling mlpack using QNX.Keep reporting the following errors:
CMake Error at CMakeLists.txt:28 (message):QNX_HOST environment variable not set!!!
I have added the following to CMakeLists.txt:
set (QNX_HOST “/data/QNX/qnx700/host/linux”)
set (QNX_TARGET “/data/QNX/qnx700/target/qnx7”)
But it still reports an error.
Does anyone know what I should do ?

[2022-03-08 22:43] zoq commented on #3163
@liujie316316 looks like Will was faster - https://stackoverflow.com/a/71399513.

[2022-03-09 03:14] liujie316316 commented on #3163
This bug has not been solved yet, which is described in more detail.https://stackoverflow.com/questions/71392941/qnx-host-environment-variable-not-set

[2022-03-09 04:43] nitolpalak commented on #3159
Hello, @shrit @rcurtin ,

I am trying to build a program which is dependent on `mlpack` for android. For that I am using ndk-build. To make the library compatible for arm64 architecture, I have used [buildroot environment][2] 2020.08.1 to create the sysroot and aarch64-linux-gnu-gcc and aarch64-linux-gnu-g++. I have followed [this][3] link and set the following menuconfig to do that:
[code]
Then,

[2022-03-09 09:48] nitolpalak opened #3165 "cross_entropy_error.hpp not found in master branch"
I have used mlpack 3.4.2 for my API, but for some complications I needed to build mlpack from master branch and now when I am trying to build my API it is showing that `"mlpack/methods/ann/loss_functions/cross_entropy_error.hpp" file not found`. After checking the mlpack/methods/ann/loss_functions/ I see that there is no cross_entropy_error.hpp file in the source from master branch but the file ex

[2022-03-10 03:03] hello-fri-end commented on #3165
Hi @nitolpalak! `Cross Entropy Error` in mlpack is an [alias](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/loss_functions/binary_cross_entropy_loss.hpp#L109) for `Binary Cross Entropy Loss`.

[2022-03-10 18:34] winckrc opened #3166 "cmake missing ARMADILLO_LIBRARY"
#### Issue description

CMakeLists.txt does not use ARMADILLO_LIBRARY.

#### Your environment

 * 3.6
 * Ubuntu 18.04.6

#### Steps to reproduce

Install Armadillo in a custom location and use
run cmake -D ARMADILLO_LIBRARY=(/path/to/armadillo/libarmadillo.so) ../
to try to install mlpack

#### Expected behavior

mlpack successfully installs using the version of Armadillo in the custom location

#

[2022-03-10 18:46] winckrc commented on #3166
Actually, it appears that the name in CMakeLists.txt is ARMADILLO_LIBRARIES instead of ARMADILLO_LIBRARY as in the ReadMe instructions.

[2022-03-10 22:59] zoq commented on #3166
`ARMADILLO_LIBRARY` is used in the cmake module: https://github.com/mlpack/mlpack/blob/master/CMake/FindArmadillo.cmake

When you use ` cmake -D ARMADILLO_LIBRARY=(/path/to/armadillo/libarmadillo.so) ../` it's not picking up the custom location?

[2022-03-11 09:58] hello-fri-end opened #3167 "Ranking Losses may be incorrectly implemented."
I'm not an expert on Ranking Losses but I was reading up online and found out that they are mostly used for tasks like face verification using Siamese nets or Triplet nets.To use a Ranking Loss function we first extract features from two (or three) input data points and get an embedded representation for each of them. Then, we define a metric function to measure the similarity between those repres

[2022-03-11 12:01] #3143 closed

[2022-03-11 15:16] shrit commented on #3166
There is no bug, it is indeed `ARMADILLO_LIBRARIES`

[2022-03-12 22:44] rcurtin commented on #3166
There's more complexity here than meets the eye.  Armadillo *optionally* uses `libarmadillo.so`, depending on the configuration of the library.  So you can use Armadillo in header-only 'mode'---and it doesn't need to link against `libarmadillo.so`---or you can use Armadillo with `ARMA_USE_WRAPPER` and then it will use the wrapper library and link against `libarmadillo.so`.

Now for the CMake searc

[2022-03-13 17:13] tareknaser360 opened #3168 "Can't setup mlpack on windows"
Hi guys,
Can anyone help me set up mlpack on windows 11?
I tried:
     - pip install mlpack                                           "ERROR: Could not find a version that satisfies the requirement mlpack"
     - conda install -c conda-forge mlpack               "PackagesNotFoundError: The following packages are not available"

Is there any way I can install mlpack and use it in my jupyter noteboo

[2022-03-13 17:35] rcurtin commented on #3168
We haven't yet succeeded at building a Windows Python package. See, for instance, https://github.com/conda-forge/mlpack-feedstock/pull/18.  I wish I had a better answer than that but right now I don't.  I'm hopeful that the simplification of mlpack's dependencies with the upcoming mlpack 4 release will help, but we'll see.

[2022-03-13 17:41] rcurtin commented on #3168
I guess, I should add, you should be able to build the mlpack Python bindings on Windows without a problem; however, we just haven't managed to get them to build successfully on the PyPI or conda packaging systems (yet).

[2022-03-13 17:51] tareknaser360 commented on #3168
Sorry I didn't understand what I should do from [conda-forge/mlpack-feedstock#18](https://github.com/conda-forge/mlpack-feedstock/pull/18)
Would it be easier if I used ubuntu on virtual box?
I only want to run mlpack and use it on machine learning examples using jupyter notebooks for python mainly. I don't want to build it for now

PS: I have no prior experience with linux or ubuntu

[2022-03-13 18:03] rcurtin commented on #3163
It looks like you have multiple issues.   If you can isolate the problem better, it's a little bit easier to help.  The updated version in the StackOverflow post you linked to suggests that you have Armadillo configured incorrectly.  Make sure that `armadillo_bits/config.hpp` has its settings set correctly for whatever BLAS or LAPACK library you are using with Armadillo and mlpack.  Specifically I

[2022-03-13 18:06] rcurtin commented on #3162
Could this have to do with the merge of #3006?  I'm interested to see what the results of testing against the master branch are.

[2022-03-13 20:49] rcurtin commented on #3168
Yes, given what you wrote, personally I think you'd probably have an easier time using mlpack on Linux in a virtual machine.

[2022-03-13 22:08] tareknaser360 commented on #3168
Ok I will do that.
Thank you for your help

[2022-03-14 13:37] rcurtin commented on #3141
When I run the program that you pasted, I get this output:

[code]

I believe the issue lies here:

[code]

When adding a linear layer, the two parameters are the number of input dimensions and the number of output dimensions.  So you can see that the first layer you added has `trainData.n_cols` outputs, but then the next linear layer you add expects `trainData.n_rows` inputs.  So, those two shoul

[2022-03-14 16:54] Ferox98 commented on #3161
Hi there,

Thank you for the answer! Yes it turns out I was using the outdated version of mlpack. Everything works properly once I updated mlpack to the latest version.

Thanks

[2022-03-14 16:54] #3161 closed

[2022-03-16 18:46] mueller-david-tud opened #3169 "Compile Error for Naive Bayes Filter"
#### Issue description

Hi, thank you all for your hard work you put in into MLPack (both development and support).
I have the following minimal C++ example, where Compiling fails due to strange errors with armadillo
[code]
The according CMakeLists.txt:
[code]
#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Docker/Debian Bullseye
 * compiler: Debian clang version 11.0.1-2

[2022-03-16 19:59] MahmoudHashem0 commented on #3168
Hello @tareknaser360 If you don't want to leave windows I think it is better to [install ubuntu as WSL] (https://ubuntu.com/tutorials/install-ubuntu-on-wsl2-on-windows-11-with-gui-support#1-overview)

it provides you with ubuntu terminal without leaving windows  then you can install mlpack as documented

I think the most easiest one is to install mlpack by pip
then you may need to install pip by r

[2022-03-17 22:43] zoq commented on #3169
Thanks for the detailed report, you actually encountered an issue with the implementation, when you use `arma::Mat` as the mat model type. I'll open a PR with a fix, as a quick workaround you can switch to:

https://github.com/mlpack/mlpack/blob/b5dfa9561ba1106a19dae8cb663570cc960235ec/src/mlpack/methods/naive_bayes/naive_bayes_classifier_impl.hpp#L309-L312

[2022-03-18 06:24] robi56 opened #3170 "Can we use mlpack library in commercial applications?"

[2022-03-18 10:22] tareknaser360 commented on #3168
Firstly, Thank you very much for your help
I can't import mlpack in jupyter notebook that I run in windows.
Did you mean that I should run jupyter notebooks from Ubuntu terminal as well?

Also, Is there any way I can use mlpack with c++ on windows?

[2022-03-18 11:27] MahmoudHashem0 commented on #3168
For your first question:
Yes I mean that you should run jupyter notebook
From Ubuntu terminal

For your second question:
I think mlpack provides a documentation for that
Check this link https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/build_windows.html

I hope it helps

[2022-03-18 11:49] MahmoudHashem0 opened #3171 "The seed of shuffle in mlpack.preprocess_split varies"
I need to get the same train and test samples (output) while running the method with the same parameters multiple times

example: output = mlpack.preprocess_split(input=dataset,
                                 test_ratio=0.3,
                                 seed = 2,
                                 no_shuffle = False)

I need to get the same output where the seed is still 2
and when make the se

[2022-03-18 12:05] MahmoudHashem0 opened #3172 "building python from source on Linux isn't documented well"
I believe that you have a great documentation but there is a bit issue

In this link https://www.mlpack.org/getstarted.html

for build I choosed stable

for OS I choosed Linux

for Package I choosed source

for Language I choosed Python

then I this was the result:

apt-get install libboost-math-dev libboost-program-options-dev libboost-test-dev libboost-serialization-dev libarmadillo-dev binutils

[2022-03-19 02:28] hello-fri-end commented on #3172
HI @MahmoudHashem0 ! It is clearly mentioned in that link that you need to `cd` into the build directory. I don't see any issue there.

[2022-03-19 03:20] Userthatsnamed opened #3174 "Building on windows"
Tried to build a Ann example... built following an up to date version of the tutorial from mlpacks github wiki of the Windows build I've done on vs 22 using packages 143.. it worked, but now it's playing up, it's down to 42 errors now an stuck there. It only finds ensmallen.hpp now, where as before it noticed an ran all headers.. when compiled/ran now on build + intellisense it will go from 42 err

[2022-03-19 10:33] MahmoudHashem0 commented on #3172
Hi @hello-fri-end you are right but please open this link 👆 and you will find it.

The steps for python binding is provided in multiple links:

The issue is in the first link not the second.

[2022-03-20 01:37] zoq commented on #3174
Can you share some details about your setup, what is your compiler, did you use pre-compiled version of the dependencies, what are the errors you get?

[2022-03-20 01:46] zoq commented on #3172
Thanks for the report, fixed in https://github.com/mlpack/mlpack.org/commit/11a7559b386633f3e0903d33f52232df94940103, will take some minutes to update and deploy the website.

[2022-03-20 01:54] zoq commented on #3171
`seed=0` will initialize the random generator with the time so you should see different results with `seed=0`:

https://github.com/mlpack/mlpack/blob/b5dfa9561ba1106a19dae8cb663570cc960235ec/src/mlpack/methods/preprocess/preprocess_split_main.cpp#L104

However `seed = 2 ` should return the same results for each run, what version are you currently using?

[2022-03-20 02:04] zoq commented on #3170
Hello @robi56 please checkout https://github.com/mlpack/mlpack/blob/master/LICENSE.txt since the answer depends on the version. If we are talking about the current master branch, the answer is yes you can use mlpack in a commercial application.

[2022-03-20 02:41] rcurtin commented on #3170
mlpack's been BSD-licensed since... a long time.  2014 I think?  Somewhere around then.  Anyway, previous to that it was LGPL, but that was like mlpack 2.x or even 1.x.  So as long as you follow the terms of the BSD license (which is pretty permissive) you should be just fine. :+1:

[2022-03-20 05:42] MahmoudHashem0 commented on #3171
Thanks for your reply @zoq

The version what I use is 3.4.2

I tried to install mlpack by two packages for Python

First one was pip

Second one was from source

Unfortunately both of them has the same results

The version from source is 3.4.2

The version from pip is 3.4.2

[2022-03-20 05:55] MahmoudHashem0 commented on #3172
Thanks alot for your attention @zoq

Everything is clean now because of your quick support

[2022-03-20 05:55] #3172 closed

[2022-03-20 10:23] Userthatsnamed commented on #3174
msvc ,all is done the same as https://github.com/mlpack/mlpack/wiki/WindowsBuild  except I've added ensmallen to the includes. ensmallen header is found the rest aren't.
cannot open source file "mlpack/prereqs.hpp"
cannot open source file " mlpack/core.hpp"
cannot open source file " mlpack/methods/ann/loss_functions/mean_squared_error.hpp"
cannot open source file " mlpack/core/data/scaler_methods/

[2022-03-20 15:26] dnabanita7 commented on #3123
keep open

[2022-03-22 06:02] robi56 commented on #3170
Thank you for your reply. I have a question could you please explain why we can use mlpack master branch for commercial use and why we can't use 2.x and 3.x versions as commercial purposes.

[2022-03-22 11:52] rcurtin commented on #3170
@robi56 unless I am missing something the question is already answered.  You can use any version of mlpack you want so long as you abide by the terms of the license.  As I pointed out, the license changed from LGPL in earlier versions of mlpack to BSD, which is what it is licensed as now.

[2022-03-22 14:36] zoq commented on #3170
The main reason why I said, the master branch is that I was lazy. You can look at the `HISTORY.md` file:

https://github.com/mlpack/mlpack/blob/master/HISTORY.md#mlpack-1012

to get the exact version.

[2022-03-23 00:10] rcurtin commented on #3169
It seems like changing line 274 in `naive_bayes_classifier_impl.hpp` to `const double maxValue = arma::max(logLikelihoods.col(0));` could be one fix.

[2022-03-23 08:53] #3174 closed

[2022-03-23 15:43] #3168 closed

[2022-03-23 21:21] zoq commented on #3171
Thanks for the update, I can reproduce the results here as well.

[2022-03-23 21:25] zoq commented on #3171
Tested the C++ code as well, which returns the same result each time, so the seed works as expected. Do you like to take a closer look into the issue?

[2022-03-23 21:53] zoq commented on #3171
My current guess is that the binding detection does not work correctly in case it's not a binding test:

https://github.com/mlpack/mlpack/blob/83e70110595eaf3cf3758f270433801e673615b2/src/mlpack/core/math/random.hpp#L42-L53

[2022-03-23 23:13] MahmoudHashem0 commented on #3171
Thanks @zoq for your help.
Yes, I want to take a closer look into the issue and try to solve it.

[2022-03-24 06:34] #3165 closed

[2022-03-24 19:08] zoq commented on #3171
Awesome thanks, let us know if you need any further information.

[2022-03-24 19:32] MahmoudHashem0 commented on #3171
Ok I'll.
Please assign it to me if you don't mind.

[2022-03-25 21:56] rcurtin commented on #3159
Are you compiling your program that uses mlpack with `-fPIC`?  If so, try compiling without `-fPIC`---or, try modifying your configuration of how the mlpack static library is built so that it uses `-fPIC`.  I'm not 100% sure what is going on here, but hopefully my comment is at least a little helpful. :+1:

[2022-03-27 16:01] #3123 closed

[2022-03-27 16:23] LiuZhuojin opened #3175 "Iterator problems when replacing boost::heap::priority_queue with std::priority_queue"
I'm trying to remove boost parts in mlpack like #3095 suggests. I chose to replace `boost::heap::priority_queue` in `mlpack/src/mlpack/core/tree/cosine_tree/cosine_tree.hpp`.
 But in `mlpack/src/mlpack/core/tree/cosine_tree/cosine_tree.cpp`, the `begin()` and `end()` method of `boost::heap::priority_queue` is used, which returns an iterator of the container. But `std::priority_queue` does not have

[2022-03-29 12:39] eshaanagarwal commented on #3169
I think that the suggested fix wont work if `ModelMatType` is a row or column vector. Should we deal with this by checking if its a vector or matrix and proceed accordingly ?

[2022-03-29 14:06] rcurtin commented on #3169
I would expect `ModelMatType` to always be a matrix type of some sort.  (It might not be a bad idea to add a static assertion for that, but we don't currently have a good infrastructure for statically testing types that's applied throughout all of our models.)

[2022-03-30 06:58] eshaanagarwal commented on #3169
should we go ahead with this fix then ? If so, I would love to patch this up.

[2022-03-31 07:38] conradsnicta commented on #3169
An alternative solution would be to use the [.max() member function](http://arma.sourceforge.net/docs.html#min_and_max_member), which always returns a scalar.  For example, `const double maxValue = logLikelihoods.max();`

The `.max()` member function disregards whether the object is a vector, matrix, or cube, and simply returns the max across all elements.  This differs from the standalone `max()`

[2022-04-01 02:19] benyarn opened #3176 "How do I perform cross validation with the Perceptron model?"
### GitHub Intro ###

I am trying to implement my first mlpack model. I'm implementing KFoldCV with the perceptron model. I posted a stackoverflow question [here](https://stackoverflow.com/questions/71699577/how-to-perform-cross-validation-with-the-perceptron-model-in-mlpack), but I decided that the mlpack github would be a better place for this. I have copied and pasted the contents of the questi

[2022-04-01 02:23] benyarn commented on #3176
This was meant to be tagged as a question, but I can't see how to add a "question" tag without closing the issue and reopening as an "Issue: Question."

[2022-04-02 15:01] #3151 closed

[2022-04-02 16:01] #3150 closed

[2022-04-03 15:01] #3154 closed

[2022-04-04 08:52] #3157 closed

[2022-04-04 18:04] rcurtin commented on #3169
Yeah---actually to me that sounds like the better solution here. :+1:

[2022-04-05 16:08] rcurtin commented on #3175
Sorry for the slow response on this!  It took me a while to figure out where the past discussion was, but if you look in the mlpack chat channel archives for Jan. 28th, there was a discussion on this topic.  I'll paste it here:

So, if we want to get the elements in order we might have to empty the whole priority_queue and insert it again which can be computationally heavy 😅.

----

Anyway, that c

[2022-04-06 17:47] cifnik opened #3178 "boost library dependency not working"
Hello,
I am trying to compile on macos but this error comes:
CMake Error at /usr/local/Cellar/cmake/3.20.1/share/cmake/Modules/FindPackageHandleStandardArgs.cmake:230 (message):
  Could NOT find Boost (missing: unit_test_framework serialization) (found
  suitable version "1.68.0", minimum required is "1.58")
Call Stack (most recent call first):
  /usr/local/Cellar/cmake/3.20.1/share/cmake/Modules/

[2022-04-07 08:01] #3170 closed

[2022-04-07 11:01] #3156 closed

[2022-04-07 15:10] jonpsy opened #3179 "Host image in mlpack server of GSoC Idea"
@zoq  Could you please host the following gif?
![example_1](https://user-images.githubusercontent.com/45007169/162232067-b0818d9a-c552-499c-9f3d-5827151cfb05.gif)

[2022-04-07 19:04] shrit commented on #3095
keep open

[2022-04-08 00:01] #3158 closed

[2022-04-10 12:05] Davidportlouis commented on #3178
@cifnik did you compile boost from source or installed it via any package manager ?

[2022-04-10 12:08] Davidportlouis commented on #3178
The error message states that suitable boost version '1.68.0' is found, but doesn't have the boost unit test library installed. Try this
in case you're on debian based distro `sudo apt install libboost-test-dev`

[2022-04-11 16:43] Alessandro-Barbieri opened #3182 "parallelize R binding build"
### What is the desired addition or change?

parallelize R bindings build

### What is the motivation for this feature?

for now R bindings are built one file at a time thus making it *very* slow

[2022-04-11 16:50] Alessandro-Barbieri opened #3183 "C++17 switch"
### What is the desired addition or change?

provide a cmake c++17 switch

### What is the motivation for this feature?

to not depend on the std_backport

### If applicable, describe how this feature would be implemented.

change those lines from `11` to `17` conditional to a global define

https://github.com/mlpack/mlpack/blob/de94eee6881e33f1145d9d4a8b5380a5be8af36a/CMakeLists.txt#L113
https://

[2022-04-12 05:18] #3175 closed

[2022-04-12 12:48] NBarile opened #3184 "VS2022 Mlpack build error"
#### Issue description

Hi guys !
I Trying to build mlpack with VS2022, an i have somes errors when I build the solution...

`Erreur LNK2019	symbole externe non résolu "__declspec(dllimport) public: static class boost::unit_test::unit_test_log_t & __cdecl boost::unit_test::unit_test_log_t::instance(void)" (__imp_?instance@unit_test_log_t@unit_test@boost@@SAAEAV123@XZ) référencé dans la fonction "v

[2022-04-12 16:39] NBarile commented on #3184
oh, okay

And so, I just have to use the branch master, and follow the same instruction ?

[2022-04-12 16:53] eddelbuettel commented on #3182
Locally the general starting point is `~/.R/Makevars`.  One can generally only re-use one's cores so many times I usually get my parallelism when installing multiples packages going across several at once.  I think I did set `MAKEFLAGS` in the past but had issues with _some_ packages so I unset it locally.

My secret weapon is `ccache` which makes life bearable on rebuilds but for initial builds o

[2022-04-12 19:45] #3160 closed

[2022-04-12 20:37] zoq commented on #3184
Yes, or download the zip archive - https://github.com/mlpack/mlpack/archive/refs/heads/master.zip.

[2022-04-12 20:38] zoq commented on #3183
Hello @Alessandro-Barbieri is that something you like to add, or a feature request?

[2022-04-12 20:39] zoq commented on #3179
Looks like you went for the github url, let me know if you still want to have the image uploaded.

[2022-04-12 21:37] Alessandro-Barbieri commented on #3183
It's a feature request

[2022-04-12 22:59] Davidportlouis commented on #3183
@zoq I would like to work on this

[2022-04-13 01:53] jonpsy commented on #3179
I'd still like to host please

[2022-04-13 14:47] NBarile commented on #3184
Ok

Thanks a lot guys :D

[2022-04-13 14:51] rcurtin commented on #3178
Also note that if you use the git master branch (instead of 3.4.2 or another version), the boost dependencies are mostly removed.  (We are in the process of finishing getting rid of them so we can release 4.0.0, which hopefully should be much easier to configure, build, and install!)

[2022-04-14 14:54] NBarile opened #3188 "algorithm.hpp error"
#### Issue description

Hey guys
I Trying to run the exemple code, and i have this issue :
![image](https://user-images.githubusercontent.com/48790575/163416397-a6d17405-f8c4-48d1-bc76-aa76f83ecb4e.png)

Someone know how to resolve it ?

Thanks !

#### Your environment

 * version of mlpack: master branch
 * operating system: win 10
 * compiler: Visual Studio 2022 / Cmake
 * version of dependencie

[2022-04-14 14:56] NBarile opened #3189 "Object detection"
Hi guys

I have a simple question for you :
Did you know if mlpack can deteco object with a camera ?

I try to find a good library for oject detection, and I didn't see in the doc if mlpack can do that.

Thanks !

Ps: And if you have some exemple to me, please share me :D

[2022-04-14 19:06] zoq commented on #3188
I'm pretty sure this is related to the changes from https://github.com/mlpack/mlpack/pull/3006. But I don't have an solution at this point, I'll see if I can reproduce the issue on my side.

[2022-04-14 19:09] zoq commented on #3189
I don't have a working example I can share, but we have https://github.com/mlpack/models/tree/master/models/yolo which can do object detection, but needs some wrapper code around it to get the camera image and call the model.

[2022-04-15 03:45] #2294 closed

[2022-04-15 04:19] rcurtin commented on #3176
I discovered the issue!  It turns out `Perceptron<>` does not have this constructor:

[code]

Instead, it only has a constructor that does not take weights.  As a quick experiment, I added a `weights` parameter to the `Perceptron<>` constructor and it compiled fine.  However, it's late here, so it will be tomorrow until I manage to turn it into a working patch.

[2022-04-16 01:30] rcurtin commented on #3176
@benyarn ok, I opened #3190---if you want to test on that branch, I think I have fixed the issue. :+1:  Thanks for reporting this!

[2022-04-16 16:46] rcurtin commented on #3151
Hopefully with #3153 merged, this should be fixed now. :+1:

[2022-04-17 11:45] #3167 closed

[2022-04-18 02:36] conradsnicta commented on #3095
Yet another good reason to remove Boost:  https://gitlab.com/conradsnicta/armadillo-code/-/issues/206

TLDR: looks like code rot is setting into Boost: https://en.wikipedia.org/wiki/Software_rot

[2022-04-18 13:01] #3176 closed

[2022-04-18 13:01] rcurtin commented on #3176
I just merged #3190, so hopefully this is fixed now!  Let us know if you still encounter issues. :+1:

[2022-04-18 23:45] #3166 closed

[2022-04-19 19:45] #3163 closed

[2022-04-19 19:45] #3162 closed

[2022-04-20 06:30] benz0li commented on #3159
Cross reference: https://bugs.r-project.org/show_bug.cgi?id=18326

[2022-04-20 13:45] #3141 closed

[2022-04-20 18:40] Wansh619 commented on #3183
Hi is anyone working on this issue ?
I am a newcomer in open source and i want to learn so can snyone provide me some resources regarding  this issue

[2022-04-20 20:32] zoq commented on #3183
@Davidportlouis gave this a shot in https://github.com/mlpack/mlpack/pull/3185 but it was going in another direction, @Davidportlouis let us know if you like to continue with it.

[2022-04-21 15:24] Davidportlouis commented on #3183
@zoq, you can assign @Wansh619 on this issue, I'll follow up with it later on.

[2022-04-21 17:55] Wansh619 commented on #3183
But please  someone give me resources  to solve this issue

[2022-04-22 02:34] Davidportlouis commented on #3183
Take a look at comments in PR #3185. My understanding is that we cannot simply bump C++ version to 17 since it is not fully supported in some platforms such as RHEL. As a makeshift solution @rcurtin  suggested in #3185 that we can add a cmake option to use C++17 when explicitly make option is set by the user while building provided that the platform supports C++17. @zoq @rcurtin, is that right or

[2022-04-22 02:45] zoq commented on #3183
That is correct, also take a look at the first comment, it has some good pointers in that direction. Ideally it should be possible to define the standard with `cmake -D CXX_STANDARD=17`, however as pointed out in the first comment, in several places the standard is hard-coded, which needs to be updated.

[2022-04-23 09:37] Userthatsnamed opened #3192 "Data::load"
I've got an array I want to use for input data that's sent in from a dll to mlpacks regression nn.
I've gone std::vector<double> datasetPath(arr, arr); which compiles with no errors for about two minutes and then I get the error at the data::load part, where bool loadeddata = data::load(datasetPath, datafile, true);  ends up with the error no instance of overloaded function.. is there away of doin

[2022-04-24 00:10] #3192 closed

[2022-04-24 00:35] Alessandro-Barbieri opened #3193 "FileNotFoundError: [Errno 2] No such file or directory: 'build/lib.linux-x86_64-3.9/mlpack/'"
#### Issue description

I have this build failure

#### Your environment

 * version of mlpack: from git commit de94eee6881e33f1145d9d4a8b5380a5be8af36a
 * operating system: gentoo
 * compiler: gcc (Gentoo 11.2.1_p20220115 p4) 11.2.1 20220115
 * version of dependencies (Boost/Armadillo): boost-1.78.0 armadillo-10.8.2
 * any other environment information you think is relevant:
`cython-0.29.28`
`pyt

[2022-04-26 21:31] zoq commented on #3193
Thanks for the detailed report, I can see the same issue on the Linux build - https://dev.azure.com/mlpack/mlpack/_build/results?buildId=7916&view=logs&j=688aac9a-3c6e-57ec-6cd1-1ef0ff8c8547&t=2d971c59-09b9-52a6-559e-1d5f8654a2fe

I'll see if I can dig into this a little bit more.

[2022-04-27 14:02] shubham1206agra commented on #3193
Hey @Alessandro-Barbieri

Can you send the output of `python -m sysconfig` ASAP?

[2022-04-27 14:16] Alessandro-Barbieri commented on #3193
https://gist.github.com/46fc3264f9d3864ca6abf55f791f9fd3

[2022-04-28 07:00] shubham1206agra commented on #3193
https://github.com/mlpack/mlpack/pull/3198
This will fix it.

[2022-04-28 14:22] shubham1206agra opened #3201 "Migrate Go to use Go Modules"
### What is the desired addition or change?
Right now, builds fail due to the missing version number of the `Gonum` package.
This occurs due to `go list` command returns the version only when we use Go modules.

### What is the motivation for this feature?
Adaption of Go binding to the newer version which by default requires modules.

### If applicable, describe how this feature would be implement

[2022-05-02 04:54] benz0li commented on #3159
Simon Urbanek, 2022-04-27 09:59:44 UTC

– https://bugs.r-project.org/show_bug.cgi?id=18326#c14

[2022-05-03 05:30] shubham1206agra commented on #3193
@zoq Please close this issue.

[2022-05-03 19:10] #3193 closed

[2022-05-03 21:45] rcurtin commented on #2625
Now that #2777 is merged, any non-adapted layers do have copy and move constructors!  So I think we can call this handled.  Of course, as we adapt the rest of the layers, they will need copy and move constructors, but I think that will happen naturally and there is no need for a specific issue for it.  Thank you to everyone who helped out here!

[2022-05-03 21:45] #2625 closed

[2022-05-03 21:45] rcurtin commented on #2779
With #2777 merged, I think this is done! :tada:

[2022-05-03 21:45] #2779 closed

[2022-05-04 09:51] benz0li commented on #3159
Olivier Benz, 2022-05-02 09:08:27 UTC

[2022-05-05 02:16] rcurtin commented on #3159
Thanks for keeping us updated!

[2022-05-05 03:05] rcurtin commented on #3201
This is worked around in #3200, but I agree, Go modules would probably be a better long-term fix. :+1:

[2022-05-05 20:35] NBarile opened #3203 "Few questions"
Hi guys !
I trying to instal and use mlpack, and I have some problems / questions.
I folow this isntructions to install mlpack : https://www.mlpack.org/doc/stable/doxygen/sample_ml_app.html

1) Include directory:
I didin't find this include : "C:\boost\boost_1_71_0\lib\native\include"
did you know what is the new include directory for boost ? I only have this files in my boost directory :
![image]

[2022-05-10 02:09] zouxianghong opened #3205 "assert(splitCol > begin) failed when constructing a ball tree"
here is my code:

[code]

issue:
It failed when running 'SplitNode'
[code]

[2022-05-10 20:59] #3171 closed

[2022-05-11 02:41] rcurtin commented on #3203
I think you need to ensure that cereal is in the set of include directories for your CNN project.

Also, luckily, the next version of mlpack will not have Boost at all, so we will be able to remove it from the build directions entirely. :)  In your case is there a `native/include/` directory under `lib64-msvc-14.3`?  Or maybe just `boost/` has the Boost headers?  Whichever directory has the header

[2022-05-13 01:58] rcurtin commented on #3205
I think the issue here is that the weighted cosine metric class you are using does not satisfy the triangle inequality.  I have not formally done the derivation, but it is at least worth pointing out that the cosine similarity `X Y / (||X|| ||Y||)` does not satisfy the triangle inequality, and it looks like that is roughly what you have implemented here.

If you can re-cast your problem such that

[2022-05-13 01:58] zouxianghong commented on #3205
谢谢，收到

[2022-05-17 12:30] Ansh-Sarkar opened #3209 "Fix Broken Links to Documentation in README.md"
#### Problem location

https://github.com/mlpack/mlpack/blob/master/README.md

#### Description of problem

Hi. I was trying to get started with the **Build From Source** steps, links to which are provided in the [README.md](https://github.com/mlpack/mlpack/blob/master/README.md) file in the root directory of the repository. It seems that a few of the links are broken, and hence result in a ```404

[2022-05-17 12:31] Ansh-Sarkar commented on #3209
Would love to fix this issue as my first contribution to the community.

[2022-05-17 12:49] rcurtin commented on #3209
Thanks for the report @Ansh-Sarkar!  What is actually happening here is that the mlpack-git doxygen build is failing:

http://ci.mlpack.org/job/mlpack - doxygen build/

I'll work on fixing that now, and then all the dead URLs should be fixed.

But, for your last comment, I agree, the issues link would be better than the repository URL, for exactly the reason you mention.  If you want to open a PR

[2022-05-17 13:13] Ansh-Sarkar commented on #3209
Oh ok. Sure. I'll open a PR for the change in the issues link right away. Thank You !

[2022-05-17 13:58] rcurtin commented on #3209
Thanks for opening the PR!  The doxygen build completed, so now all the URLs you pointed out are working. :+1:  Thanks again for the report!

[2022-05-17 20:59] #3169 closed

[2022-05-18 01:24] Ansh-Sarkar commented on #3178
Hi ! Have been facing this exact same issue. I am trying to build ```mlpack-3.4.2``` on my system.

**Windows : Windows 10 Home Single Language, Version : 21H2**
**System Type : 64-bit operating system, x64-based processor**

Command Executed ( as instructed at : https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/build_windows.html )
[code]

Complete Output
[code]

It did find the suitable version bu

[2022-05-18 03:53] Ansh-Sarkar commented on #3178
Update : Tried setting it up on WSL2. It seems to be working now. But would still like to resolve the issue on windows as well.

[2022-05-19 06:26] #3159 closed

[2022-05-19 08:26] benz0li commented on #3159
The issue with the R package on Linux aarch64 remains: https://dl.b-data.ch/cran-install-all/aarch64/fpic/out/mlpack.out.

@rcurtin Should I open a new issue for this?

[2022-05-19 16:59] #3182 closed

[2022-05-19 23:02] #3209 closed

[2022-05-20 01:59] #3179 closed

[2022-05-21 19:59] #3189 closed

[2022-05-21 20:59] #3188 closed

[2022-05-22 01:05] Ansh-Sarkar opened #3211 "Fixing Rest of the Broken Links in Documentation"
#### Problem location

https://github.com/mlpack/mlpack - Exact locations are provided in the description of the issue.

#### Description of problem

#### Broken Links

Have been going through the ```mlpack``` , ```ensmallen``` and ```armadillo``` documentations. Stumbled across a few more links which seem to be broken or unreachable. Did a quick check of the other parts of the documentation as we

[2022-05-22 21:14] rcurtin commented on #3159
Yes, a new issue is probably the right call here.  I am not sure exactly what the issue is, and I wonder if the next release of mlpack will not have this problem simply because it does not have a boost dependency.

[2022-05-22 23:01] Ansh-Sarkar commented on #3211
@shrit @zoq Any suggestions as to which links can replace https://rmf.io/cxx11/almost-static-if ? Or should we leave that as is.

[2022-05-23 08:58] benz0li opened #3213 "[R] Package installation on aarch64 fails"
#### Issue description

R Package installation fails: https://dl.b-data.ch/cran-install-all/aarch64/fpic/out/mlpack.out

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Debian 11 (bullseye)
 * architecture: aarch64
 * compiler: gcc
 * version of dependencies (Boost/Armadillo):
     *  Boost: 1.78
     *  Armadillo: 11.0.0
 * any other environment information you think is re

[2022-05-23 08:59] benz0li commented on #3213
Cross reference: https://bugs.r-project.org/show_bug.cgi?id=18326

[2022-05-23 09:09] benz0li commented on #3213
#### Workarounds

---

Compile R itself using `-fPIC`, as I have done with 4.2.0, so

[code]

succeeds.

---

Olivier Benz, 2022-05-02 09:08:27 UTC

– https://bugs.r-project.org/show_bug.cgi?id=18326#c19

The same goes for `mlpack`.

[2022-05-23 22:39] rcurtin commented on #3211
Thanks for going through and finding these issues!

The comment in CLI11.hpp is a third-party library, so there's no reason for us to fix it.  We can just leave it as-is.

I can't comment on any of the gym.openai.com links, but I think https://www.mlpack.org/questions.html might be a better replacement for `help.html`.

[2022-05-25 02:59] #3095 closed

[2022-05-28 20:56] #3211 closed

[2022-05-29 21:16] rcurtin commented on #3178
Boost is no longer a dependency, so I think that this should no longer be an issue (at least for the master branch).  So, if you update, in theory everything should work. :)

[2022-05-29 21:16] rcurtin commented on #2647
Since #2777 is merged, this one is completed now. :+1:

[2022-05-29 21:16] #2647 closed

[2022-06-04 09:24] Userthatsnamed opened #3221 "Boost error"
Using vs22, msvc, on Windows 10.
I'm getting the error Lnk1104 that says cannot open file libboost serialization vc140... I'm using 143 packages and I can't find anything to fix this error, I have tried basically every answer I could find but it's still there.
I have downloaded mlpack-3.4.2.msi.. and I'm wondering if it's only wanting 140, so is upgrading to 143 packages making it not compatible w

[2022-06-05 05:37] shubham1206agra commented on #3201
Keep open.

[2022-06-05 14:30] rcurtin commented on #3221
Is it possible for you to use the git master branch?  We removed Boost as a dependency, so this problem you are encountering wouldn't exist. :)

[2022-06-08 10:15] ThyrixYang opened #3223 "Approximate nearest neighbor search"
Hi,

I remember that there is an efficient approximate nearest neighbor search module
in the ann namespace. However, I found that ann is replaced with artificial neural networks. In the neighbor namespace, I found a [RASearch](https://www.mlpack.org/doc/stable/doxygen/classmlpack_1_1neighbor_1_1RASearch.html) class. However, the document writes that "This class provides a generic manner to perform

[2022-06-08 20:15] rcurtin commented on #3223
Hey @ThyrixYang, long time no see!  Hope things are well.  You can use the `NeighborSearch` class to do approximate search; the constructor allows you to specify an `epsilon` parameter that corresponds to the allowed relative error:

https://www.mlpack.org/doc/stable/doxygen/classmlpack_1_1neighbor_1_1NeighborSearch.html#affa7257868588792956a7f30493ae564

By default this will use dual-tree kd-tree

[2022-06-09 02:33] #3223 closed

[2022-06-10 04:59] #919 closed

[2022-06-12 01:59] zouxianghong commented on #3205
谢谢，收到

[2022-06-12 16:31] rcurtin commented on #3205
Ok, I will go ahead and close this issue then. :+1:

[2022-06-12 16:31] #3205 closed

[2022-06-12 16:31] rcurtin commented on #3201
Oops, mlpack-bot didn't listen :smile:

[2022-06-16 06:15] newlinhan opened #3227 ": error LNK2001: unresolved external symbol "__declspec(dllimport) class std::mersenne_twister_engine"
these are my code
`mode->rf_.Train(data, labels, numClasses, mode->num_trees_, mode->minimum_leaf_size_, mode->minimum_gain_split_, mode->maximum_depth_, mrds);`

these are my configs
![image](https://user-images.githubusercontent.com/67506097/174002243-109753c4-9507-4ed8-872a-7a896cdf0384.png)

![image](https://user-images.githubusercontent.com/67506097/174002363-125c07c8-7f89-4c1b-83f2-5a44874f1

[2022-06-17 02:14] rcurtin commented on #3227
Based on the linking errors you gave, it seems like you are not linking against `mlpack.lib`?

For the runtime error, you may have to distribute the DLL dependencies of your DLL if you can't count on it being available on your user's system.  We do this for the mlpack MSI: we include all the DLLs you listed in the screenshot in the same directory as the command-line programs like `mlpack_random_fo

[2022-06-17 02:59] #3203 closed

[2022-06-17 08:21] newlinhan commented on #3227
Thank you very much for your answer, I solved my problem according to your method Thank you

[2022-06-17 08:22] #3227 closed

[2022-06-17 10:46] shubham1206agra opened #3228 "Batch Norm Initialization"
CC: @rcurtin

I have started the implementation of the BatchNorm layer. Please watch the files below.
https://github.com/shubham1206agra/mlpack/blob/header-only/src/mlpack/methods/ann/layer/not_adapted/batch_norm.hpp
https://github.com/shubham1206agra/mlpack/blob/header-only/src/mlpack/methods/ann/layer/not_adapted/batch_norm_impl.hpp

But now, I need to change the initialization of weights layer-

[2022-06-18 15:12] rcurtin commented on #3228
I spent a while thinking about it.  The core of the issue is that we want to set specific initializations for the weights of the `BatchNorm` layer, *regardless* of the initialization that is being used by the network.  This means that whatever we implement must apply whenever we re-initialize the weights of the network.  Technically, any strategy that uses the `loading` parameter is incorrect: whe

[2022-06-22 10:28] benz0li commented on #3213
Neither fixed in R source nor here.

[2022-06-22 12:32] rcurtin commented on #3213
Yes, sorry, haven't had a chance to look into this yet.

[2022-06-25 04:59] #3020 closed

[2022-06-29 11:07] Tanishq-Banyal opened #3237 "Namespace mlpack::ann not declared error"
[code]

I installed mlpack on Ubuntu ARM, using `apt install libmlpack-dev`.

And i am including `mlpack/core.hpp`, and linking to `-lmlpack -fopenmp`, but I keep getting this error. Tried both GCC and Clang. What am i doing wrong ?

[2022-06-29 12:17] rcurtin commented on #3237
You'll also need to `#include <mlpack/methods/ann/ffn.hpp>`. :+1:

[2022-06-29 13:42] Tanishq-Banyal commented on #3237
Is there a header that includes everything mlpack has to offer ?

if not, what are the main headers i should include in mlpack ?

[2022-06-29 14:26] Tanishq-Banyal commented on #1062
Any updates ?

[2022-06-29 16:28] Tanishq-Banyal commented on #1712
You can still use #define

[2022-06-29 17:05] Tanishq-Banyal commented on #3237
Ok, One more question.

I have my input data as well as output data as `arma::Col<int8_t>`.

How do I use `int8_t` for input and output layer, while using `float` for layers in-between.

I don't want to use `double` for  everything because its totally unnecessary and also I am low on memory.

[2022-06-30 17:15] SuvarshaChennareddy opened #3238 "Why are we trying to find alpha for which the testing error is maximum? (DET)"
This is a question (potential bug fix) regarding DET's implementation, specifically the part to find an optimal `alpha`.
I'm not sure if I'm missing something here (close this issue if there is indeed nothing wrong), but I can't seem to figure out why we are trying to find `alpha` for which the testing error is **maximum**.  The [code snippet](https://github.com/mlpack/mlpack/blob/master/src/mlpac

[2022-07-05 21:59] #3178 closed

[2022-07-06 11:39] bitnick10 opened #3241 "How to use train_on_batch API like keras?"
How to make mlpack::ann::FFN<> model.Train only train once like keras_model.train_on_batch?

[2022-07-07 18:55] #3221 closed

[2022-07-08 02:59] #2668 closed

[2022-07-08 02:59] #1501 closed

[2022-07-08 16:26] shubham1206agra commented on #3241
I think there is no explicit method to do so yet. But I think you can use optimizer arguments to train easily.

[2022-07-09 15:53] rcurtin commented on #3238
Thanks for pointing this out!  Talk about digging in deep :smile:

I spent some time with the code and realized that actually what is being computed here is the *negative* error.  `prunedSequence[i].second` comes from the function `DTree::LogNegError()`, and I verified that that indeed computes the negative error according to [the paper](https://home.ipipan.waw.pl/j.mielniczuk/Density_estimation_t

[2022-07-09 16:45] SuvarshaChennareddy commented on #3238
No problem! Yes, the reason I raised this issue is because, while I was reading the code, I couldn't figure out why the negative of the negative error (which is just the error) was being maximized.

This highlights my thought process.
Anyway, thank you for taking time off to look into this!

[2022-07-10 08:10] rcurtin commented on #3238
No problem! It was fun to dig into the history here. :) If you find anything more like this, feel free to open more issues!  Bugs like this one are often hard to find because of the difficulty of testing machine learning algorithms: often it is easy to test that the algorithm is not horribly wrong, but subtle issues that reduce accuracy or performance by a small amount can be very hard to test for

[2022-07-10 09:34] SuvarshaChennareddy commented on #3238
Sure thing! Just one question: Next time, may I open up a PR instead of opening a new issue if the task is simple enough?

[2022-07-10 14:55] SuvarshaChennareddy commented on #3238
Also I think its `-exp(log(-error)) + regularization` which simplifies to `error + regularization`. Correct me if I'm wrong.

[2022-07-11 06:56] rcurtin commented on #3238
Right, exactly, thanks for the correction.  And yeah, feel free to open a PR if you find more things like this, but don't feel obligated to!  Even the bug report itself is very helpful. :+1:

[2022-07-11 10:12] SuvarshaChennareddy commented on #3238
Thank You!

[2022-07-14 02:59] #2722 closed

[2022-07-14 10:44] DylanWangWQF opened #3246 "Question about the Gini impurity used in Hoeffding Tree"
To select the best attribute from the remained attributes at a leaf node, we would calculate the information gains for all remained attributes and compare the difference between the two best information gain values with the hoeffding bound.

Formally, $G(a)-G(b)>\epsilon$, where $a$ and $b$ are the best and second-best attributes, $\epsilon$ is the hoeffding bound.

For information gain, $G(a)$ an

[2022-07-16 23:58] SuvarshaChennareddy commented on #3246
According to this [paper](https://homes.cs.washington.edu/~pedrod/papers/kdd00.pdf), `G` is a split evaluation function and could be either information gain OR Gini index.

[2022-07-17 00:40] DylanWangWQF commented on #3246
@SuvarshaChennareddy  Yes, I know this paper. In the general decision tree, we would choose the attribute with the highest information gain value while with the smallest Gini index value.

That paper stated that we need to get the top two **_best_** attributes.  For information gain, **_best_** attributes are the attributes with the highest and second-highest values. But for the Gini index, **_bes

[2022-07-18 03:17] SuvarshaChennareddy commented on #3246
I think the `G` here is the Gini gain. Gini gain is measure that is to be maximized like information gain.

[2022-07-22 07:26] rcurtin commented on #3228
This will be fixed when #3231 is merged.  We went with the second approach (`CustomInitialize()`).

[2022-07-23 11:35] SuvarshaChennareddy commented on #231
I have an idea, but I am not sure if it is the most efficient approach.
We could store all the log volumes of the leaves of the tree (keep adding them as we are growing and pruning) in a linked list (since we wouldn't know how many leaves there would be in the end). To find `log(subtreeLeavesVTInv - vTInv)` (which I believe is to be calculated according to [this](https://github.com/mlpack/mlpack/b

[2022-07-26 22:44] gaurav-bhardwaj29 commented on #3159
Hey! Wanted to ask how to set up a **development environment** for mlpack in ubuntu? I have installed mlpack using : $ sudo apt-get install libmlpack-dev  and installed python dependencies and build it from source. What to do next? How to contribute and develop?

[2022-07-26 22:47] gaurav-bhardwaj29 opened #3248 "Setting up development environment for mlpack"
Hey! Wanted to ask how to set up a **development environment** for mlpack in ubuntu? I have installed mlpack using : $ sudo apt-get install libmlpack-dev and installed python dependencies and build it from source. What to do next? How to contribute and develop?

[2022-07-27 00:20] conradsnicta commented on #3248
@gaurav-bhardwaj29 You may want to uninstall libmlpack-dev.  It's an ancient version from 2 years ago (the codebase has changed considerably).  Instead get the master branch from the git repo.  Recommend to also install the latest versions of dependencies: armadillo, openblas, etc.

To contribute, implement a useful ML algorithm (or improve an existing one already in mlpack) and create a pull requ

[2022-07-27 20:16] gaurav-bhardwaj29 commented on #3248
I should build mlpack from the source or download the library directly?

[2022-07-28 00:26] conradsnicta commented on #3248
Build from source.  The source is the master branch of the git repo.

    git clone https://github.com/mlpack/mlpack.git
    cd mlpack
    mkdir build
    cd build
    cmake ..
    make -j 4
    sudo make install

In "make -j 4", change the 4 to the number of cores in your CPU.

* Armadillo: http://arma.sourceforge.net/download.html
* ensmallen: https://ensmallen.org/
* OpenBLAS: the pre-built dev

[2022-07-28 00:26] #3248 closed

[2022-07-29 07:59] #3228 closed

[2022-07-29 15:02] benz0li commented on #3213
Keeping the mlpack-bot happy...

[2022-07-29 22:44] gaurav-bhardwaj29 commented on #3248
Hey, I followed the instructions and tried to build the library. When I passed `cmake ../`
`gaurav@gb-dev:~/mlpack-3.4.2/build$ cmake ../
-- cotire 1.7.10 loaded.
CMake Warning (dev) at /usr/share/cmake-3.22/Modules/FindPackageHandleStandardArgs.cmake:438 (message):
  The package name passed to `find_package_handle_standard_args` (LIBBFD)
  does not match the name of the calling package (Bfd).  Th

[2022-07-30 05:37] conradsnicta commented on #3248
@gaurav-bhardwaj29 Don't use mlpack 3.4.2, as it's seriously outdated and no longer maintained.  Instead, get the latest sources from the master branch at GitHub (git clone https://github.com/mlpack/mlpack.git)

mlpack (especially old versions like 3.4.2) may require a lot of memory to compile, so using all 4 cores may quickly exhaust your memory. In turn, this may lead to the terminal crashing an

[2022-07-30 08:09] gaurav-bhardwaj29 commented on #3248
As you mentioned, I cloned the repo and changed to -j2, and now it's working. Lastly, how do you add the executables to PATH and how to call them directly? I am using Pycharm

[2022-07-30 20:46] shrit commented on #3237
@Tanishq-Banyal I do not think that this is supported right now.
Are you low on memory for training ? Or for prediction?
If you would like, you can open an issue, so someone can pick it up and add it as a feature

[2022-07-30 20:50] shrit commented on #3183
I think when @conradsnicta shift armadillo to C++17 we will shift mlpack to the same standard.

[2022-08-01 12:05] gaurav-bhardwaj29 opened #3251 "@conradsnicta As you mentioned, I cloned the repo and changed to -j2, and now it's working. Lastly, how do you add the executables to PATH and how to call them directly? I am using Pycharm and want to import the library."
@conradsnicta As you mentioned, I cloned the repo and changed to -j2, and now it's working. Lastly, how do you add the executables to PATH and how to call them directly? I am using Pycharm and want to import the library.

_Originally posted by @gaurav-bhardwaj29 in https://github.com/mlpack/mlpack/issues/3248#issuecomment-1200113995_

[2022-08-01 13:24] conradsnicta commented on #3251
This is not a bug report.  Try posting your questions to the mailing list: https://www.mlpack.org/mailman/listinfo/mlpack
You can also try the online chat; see the links at https://www.mlpack.org/community.html

[2022-08-01 13:24] #3251 closed

[2022-08-02 02:53] conradsnicta commented on #3183
@shrit That may be a while yet.  Armadillo aims to support the current and previous version of RHEL and Ubuntu LTS.  At the time of writing, this is RHEL 8 and 9, as well as Ubuntu 20.04 and 22.04.

The oldest out of these is RHEL 8, which has gcc 8.x as the default compiler.  That version of gcc has only experimental support for C++17.  RHEL 9 uses gcc 11, which has C++17 as the default standard.

[2022-08-02 07:30] rcurtin commented on #3246
@SuvarshaChennareddy is exactly right here---we are implicitly inverting the G by subtracting the children's gains from the parent gain, on lines 44-49 and 64-65.  As a result, we return the largest value (which is what the Hoeffding tree will select for) when the child gains are minimized. :+1:

[2022-08-02 22:38] DylanWangWQF commented on #3246
I get it. Thanks for your answer! @SuvarshaChennareddy  @rcurtin

[2022-08-02 22:38] #3246 closed

[2022-08-06 06:42] benz0li commented on #3213
Martin Maechler, 2022-08-05 20:08:58 UTC

– https://bugs.r-project.org/show_bug.cgi?id=18326#c22

[2022-08-06 06:52] benz0li commented on #3213
Will be fixed with the next minor release of R (4.2.2) as `*PICFLAGS` are now set to `-fPIC` for aarch64.

[2022-08-06 21:13] #3237 closed

[2022-08-10 01:43] rcurtin commented on #3238
Fixed in #3243, thanks again @SuvarshaChennareddy! :+1:

[2022-08-10 01:43] #3238 closed

[2022-08-14 15:04] iajzenszmi opened #3253 "Error 2 in making mlpack"
#### Issue description
rom /home/ian/mlpack/mlpack-3.4.2/src/mlpack/tests/main.cpp:16:
/home/ian/mlpack/mlpack-3.4.2/src/mlpack/tests/catch.hpp:7947:58: error: call to non-‘constexpr’ function ‘long int sysconf(int)’
 7947 |     constexpr static std::size_t sigStackSize = 32768 >= MINSIGSTKSZ ? 32768 : MINSIGSTKSZ;
      |                                                          ^~~~~~~~~~~
In fil

[2022-08-14 18:13] #3241 closed

[2022-08-15 02:07] conradsnicta commented on #3253
This is a know problem with old versions of the catch header, which is included with mlpack-3.4.2.  That version of mlpack is rather old and outdated at this stage.  Suggest that you instead obtain mlpack from the git master branch.

[2022-08-15 02:08] conradsnicta commented on #3253
See #3090 for more details

[2022-08-15 13:21] iajzenszmi opened #3254 "Error in code using mlpack"
#### Issue description
#include <mlpack/core.hpp>
#include <mlpack/methods/ann/ffn.hpp>
#include <mlpack/methods/ann/init_rules/gaussian_init.hpp>
#include <mlpack/methods/ann/layer/layer.hpp>
#include <mlpack/methods/ann/loss_functions/mean_squared_error.hpp>
#include <mlpack/methods/reinforcement_learning/async_learning.hpp>
#include <mlpack/methods/reinforcement_learning/environment/cart_pole.h

[2022-08-15 13:31] rcurtin commented on #3254
Like the error says, you need to link against Armadillo. Add `-larmadillo`.

[2022-08-17 01:23] #3253 closed

[2022-08-22 00:47] #3254 closed

[2022-08-24 20:39] rcurtin commented on #3213
Just checking, it sounds here like on the mlpack side we don't need to do anything, and things will work when R 4.2.2 is released.  Is that correct?

[2022-08-25 06:10] benz0li commented on #3213
That is correct.

[2022-08-25 22:25] rcurtin opened #3261 "Discussion: everything into one namespace for mlpack 4?"
As part of the transition to a header-only library, a number of changes are being made to simplify includes (#3255 and discussion), build configuration (#3256), and many other parts of the library.  This is meant to make things easier on the user.

But there is one additional consideration, though it will break pretty much all user programs: putting *everything* non-internal into the `mlpack` name

[2022-08-27 11:14] shrit commented on #3261
Yes, let us do this, but let us name the common namespace `ml` instead of `mlpack` for the following reasons:

1. This will be similar to Armadillo, just `arma`, and that is all.
2. Some people like me prefer to use the namespace in their software, probably because this will tell you where the function is coming from.
3. Using `ml` is shorter and directed to the point and reduce the burden of writ

[2022-08-28 04:01] conradsnicta commented on #3261
@rcurtin I certainly support this idea :)  In general, I support the notion that simplicity of use should be weighted at least as equally (and preferably more) than the internal development/maintenance effort, all within reasonable limits.

With the above in mind, I also like the proposal by @shrit to shorten the namespace to simply `ml`.  Note that `ml` and `mlpack` may possibly co-exist, by empl

[2022-08-28 13:40] shubham1206agra opened #3262 "Upgrade Catch to latest version"
Since mlpack migrated to use C++14 as the minimum version. Maybe we should upgrade to the latest Catch version.
https://github.com/catchorg/Catch2/releases/tag/v3.0.1

[2022-08-29 00:57] conradsnicta commented on #3262
Catch v3 has changed considerably compared to v2, and is (in my opinion) now unnecessarily more difficult to use.  It also appears that mlpack tests would need to me reworked in order to migrate to catch v3.

I'm not sure that catch v3 brings in any new functionality that would be required by mlpack tests.  It is a testing framework, so it's not critical.  Migrating to catch v3 would only be requi

[2022-08-29 11:45] shrit commented on #3262
There is no need for such an upgrade. Catch is header-only, that is one of the reasons that you do not have to upgrade as long as it no longer compiles or the current features are not working anymore.

[2022-08-29 17:32] zoq commented on #3261
I'm not in favour of using `ml` over `mlpack` for branding reasons, in case of armadillo or ensmallen, I think the alias is unique enough so people will associate it with the project, but I don't think it's the case for `ml = mlpack`. Otherwise putting the code into a single namespace makes things easier, especially if we are strict about it e.g. not having another `data` namespace.

[2022-08-30 03:59] #3262 closed

[2022-09-02 21:30] rcurtin commented on #3261
Ok---sounds like support is positive for the idea.  I like the reverse compatibility trick.  For now I guess let's call it `mlpack` instead of `ml`, but, I guess someone could do `namespace mlpack = ml` in their code if they wanted to shorten the name.

[2022-09-03 15:58] coatless opened #3266 "Tree Split using bitwise instead of boolean operands"
#### Issue description

From the CRAN package check page, there is a WARN being issued:

[code]

https://www.r-project.org/nosvn/R.check/r-devel-linux-x86_64-debian-clang/mlpack-00check.html

https://github.com/mlpack/mlpack/blob/9f0bd1aa234229835f070a9dd201c3871c88fb49/src/mlpack/core/tree/rectangle_tree/x_tree_split_impl.hpp#L152-L153

https://github.com/mlpack/mlpack/blob/9f0bd1aa234229835f070a

[2022-09-04 04:11] #3266 closed

[2022-09-07 06:37] #3183 closed

[2022-09-09 19:20] rcurtin commented on #3261
#3269 implements the changes here, so once that's merged, I guess we can close this issue. :)

[2022-09-11 08:02] rajhlinux opened #3272 "Can mlpack use hardware acceleration such as AMD GPUs via OpenCL?"
Would like to offload CPU and wondering if mlpack can use AMD GPUs via OpenCL.

[2022-09-12 08:08] DavitMob opened #3273 "No libraries after build on MacOS"
#### Issue description

Hi. I am trying to build mlpack master branch on MacOS. I am particularly interested in mlpack_random_forest. Building on windows it outputs both .lib and .exe files. On MacOS after the build, there are only executables. Do I miss something? How/where can I get libraries to use it in my project?

#### Your environment

 * version of mlpack: master
 * operating system: MacOS

[2022-09-13 01:27] conradsnicta commented on #3273
The code in the master branch has recently changed so that mlpack is header only.  There shouldn't be an mlpack runtime library anymore.

On top of that, the header structure has also changed, so now it's only necessary to have `#include <mlpack.hpp>` instead of numerous includes.

There are further changes in the works, where everything is placed in the mlpack namespace, instead of numerous names

[2022-09-13 01:31] conradsnicta commented on #3272
Currently it's not done directly.  There is related effort to make Bandicoot, a library that has Armadillo-like API and runs on GPUs: https://gitlab.com/conradsnicta/bandicoot-code

[2022-09-13 01:31] #3272 closed

[2022-09-15 03:44] #3273 closed

[2022-09-15 07:25] richelbilderbeek opened #3274 "Compile error when #include <mlpack/methods/reinforcement_learning/q_learning.hpp>"
#### Issue description

One gets a compile error when `#include <mlpack/methods/reinforcement_learning/q_learning.hpp>`.

#### Your environment

 * version of mlpack: 3 (installed with `apt`)
 * operating system: Ubuntu 22.04 Jammy Jellyfish LTS
 * compiler: g++
 * version of dependencies (Boost/Armadillo): 1.74  (installed with `apt`) 22 (installed with `apt`)
 * any other environment information

[2022-09-15 07:50] DavitMob commented on #3273
Thanks @conradsnicta

[2022-09-15 14:00] conradsnicta commented on #3274
mlpack 3 is outdated and no longer maintained.  Suggest that you obtain the current development version from the git master branch, and retry your code on that.

[2022-09-15 18:47] rcurtin commented on #3274
I think if you are able to use the git master branch, you should hopefully have an easier time too---the headers have all been simplified very much, so you should be able to just `#include <mlpack.hpp>` and have no further issues.  There are some other changes there before we release mlpack 4 too, like flattening all namespaces so that everything is in `mlpack::` (but that is [not merged yet](http

[2022-09-16 07:49] richelbilderbeek commented on #3274
Sounds great, thanks for the help!

(of course, it is weird that is error was present in version 3, but hey, let's move on :-) )

[2022-09-16 07:49] #3274 closed

[2022-09-16 19:51] apisani1 commented on #2819
Hi. function_test.cpp is still included in the test files on the version that can be downloaded from mlpack.org.

That one has the same version number that the one in github but a different release date.

I built mlpack using the one in mlpack.org. Shall I rebuild it using the one in github?

Best Regards,

Antonio

[2022-09-17 00:55] apisani1 commented on #2819
The versions in mlpack.org and GitHub are definitely very different despite the same version number. It must be a posting error.

I rebuild it using the GitHub version and tested using the tests on the same version and everything is working now (I still get some warnings while compiling it).

I suggest that you check the download link at mlpack.org.

Best Regards,\

Antonio

[2022-09-17 01:19] rcurtin commented on #2819
Can you provide more information about the version numbers?  mlpack 3.4.2 is old and will be replaced soon with mlpack 4; there has been a lot of refactoring.  If you are using the git master branch, this is going to be mlpack 4 and it is very different than mlpack 3.4.2.

[2022-09-17 01:20] apisani1 commented on #2819
Well, maybe I misspoke, The examples at GitHub do compile, but I do get a lot of warnings and errors when I run them.

This is the summary I got:

===============================================================================
test cases:     1300 |     1293 passed | 7 failed
assertions: 32756225 | 32756218 passed | 7 failed

This is an example of the error I got:

/..../sparse_coding_test.cpp:112

[2022-09-17 01:39] apisani1 commented on #2819
Well, now I am really confused. When I go to GitHub using this address:

https://github.com/mlpack/mlpack

I see that the latest version is 3.4.2.

But, as I said, this code is very different as the one in mlpack.org, as an example, the one in GitHub is an include only library and the one in mkpack.org is not.

The tests in the version in mlpapack.org does not compile and the tess in the version i

[2022-09-17 02:00] apisani1 commented on #2819
I don't see any newer release:

https://github.com/mlpack/mlpack/releases

I apology in advance if it is a newbie mistake.

Thanks,

Antonio

[2022-09-17 14:18] apisani1 commented on #2819
After decompressing a few data files, I got an "All tests passed" message but I still got a lot of error messages

mlpack version: mlpack 3.4.3
armadillo version: 11.2.4 (Classic Roast)
[WARN ] The batch size for optimizing BiasSVD is 1.
[WARN ] The batch size for optimizing RegularizedSVD is 1.
[WARN ] The batch size for optimizing BiasSVD is 1.
[WARN ] The batch size for optimizing SVDPlusPlus i

[2022-09-18 19:47] apisani1 commented on #2819
I am using the master at github. I could not find the version number.

Thanks,

Antonio

[2022-09-19 22:10] rcurtin commented on #2819
Ok, great, thanks for all the info.  Here's the state of things---

 * The version you are using, which you got from Github, is under development and will soon be released as mlpack 4.  So, this explains why it's different than what's on the website (the website has the stable version, which is 3.4.2).

 * There are lots of changes between mlpack 3 and 4, and these can make the examples not work c

[2022-09-22 03:33] zzy728772024 opened #3280 "linux GCC mlpack-3.4.2 make failed:undefined reference to `arma::mt19937_64_instance'"
#### Issue description

when I built mlpack-3.4.2 on my server ,I met this problem:

/usr/bin/ld: ../../../../lib/libmlpack.so.3.4: undefined reference to `arma::mt19937_64_instance'
/usr/bin/ld: ../../../../lib/libmlpack.so.3.4: undefined reference to `TLS init function for arma::mt19937_64_instance'

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: ubuntu1~20.04.1
 * compi

[2022-09-22 04:58] conradsnicta commented on #3280
mlpack 3 is outdated and no longer maintained. Suggest that you obtain the current development version from the git master branch.  When compiling your code, link with armadillo.

[2022-09-22 04:58] #3280 closed

[2022-09-22 08:26] zzy728772024 commented on #3280
Thanks for conradsnicta!  Since I am not a root user, I compiled from source code, and I compiled Armadillo without pre-compiling and installing OpenBLAS and LAPACK, which caused the problem.

[2022-09-24 13:32] conradsnicta commented on #3261
for posterity: also minor followup in #3279

[2022-09-24 13:32] #3261 closed

[2022-09-26 01:30] rajhlinux commented on #3272
So how do I interface MLPack with Bandicoot?

Thanks.

[2022-09-26 21:05] rcurtin commented on #3272
Unfortunately at this point that's not likely to work very well, since Bandicoot doesn't implement most of the operations that mlpack uses.  The vision is that where you might currently write, say, `mlpack::FFN<LossType, InitType>` to represent a neural network, you could write `mlpack::FFN<LossType, InitType, coot::mat>` to indicate that you want the network to use `double`-type Bandicoot matrice

[2022-10-05 23:32] SaurabhRBhandari commented on #2181
Any activation function not added yet?

[2022-10-13 11:06] jsauermann opened #3284 "Too many Broken Links"
#### Problem location

Actually many. Several links are broken and return nothing. For example
https://www.mlpack.org/doc/stable/cli_documentation.html#perceptron exists,
but clicking "Detailed Description" on that page does not work. Same for many
(but not all) Detailed Descrtiptions.

#### Description of problem

Since Perceptron is a fairly old method, I suppose that the documentation actually

[2022-10-13 12:28] rcurtin commented on #3284
Thank you so much for the report!  I can see that the URL for `detailed description` is `https://www.mlpack.org/doc/stable/perceptron_detailed-documentation`, which is definitely incorrect---it is supposed to be an anchor in the current page.  So there is a `#` missing.  However, this documentation is all auto-generated, so instead of fixing it directly, I have to go find the code to fix so that t

[2022-10-18 06:50] dibalikpohon opened #3289 "C++ Doxygen documentation returns empty response"
#### Problem location

Here's the link of the broken web. [C++ Doxygen Documentation Index](https://www.mlpack.org/doc/stable/doxygen/index.html)

#### Description of problem
It seems like the website that I open returns only a blank page without any errors on the console. This also happens on the other website that is under the `/doxygen` path like [https://www.mlpack.org/doc/mlpack-3.1.1/doxygen

[2022-10-18 11:05] dibalikpohon commented on #3289
Apparently, this issue should be in this [repository](https://github.com/mlpack/mlpack.org/issues?q=is%3Aopen+is%3Aissue). Since it is related to the web, not the mlpack itself. I apologize.

[2022-10-20 19:29] rcurtin commented on #3289
No worries!  The report got to us either way. :)  It took a little while, but I got the website to build again properly: https://www.mlpack.org/doc/stable/doxygen/index.html  Now, the link that you gave works correctly.  Sorry for the inconvenience!

[2022-10-20 19:29] #3289 closed

[2022-10-20 19:31] rcurtin commented on #3284
Thank you again for reporting this!  I did get it resolved in #3290, and now the fixed links are deployed to the website.  Please don't hesitate to open more issues in the future if you find more issues! :+1:

[2022-10-20 19:31] #3284 closed

[2022-10-24 15:20] mkleanthous opened #3295 "Datasets"
Hello,

I used to be able to download the dataset from here http://www.mlpack.org/datasets/ml-20m/ratings-only.csv.gz but not seems that the whole folder is gone. Did it moved to another location? Is there a way to download those again?

Thanks,
Marios

[2022-10-24 15:22] rcurtin commented on #3295
You're right!  I am looking into it now.  I just redeployed the website for the mlpack 4 release, so let me figure out where in the website deployment scripts that directory is getting lost...

[2022-10-24 15:30] rcurtin commented on #3295
Ok, I fixed the Jenkins deploy scripts so the datasets are now successfully copied during the website build.  Thank you so much for pointing this out!  If there are further issues please do not hesitate to point them out. :)

[2022-10-24 15:30] #3295 closed

[2022-10-26 01:48] mhudnell commented on #3289
Also, the doxygen link on this github's readme leads to a 404. https://www.mlpack.org/doc/mlpack-git/doxygen/index.html

[2022-10-26 18:59] rcurtin commented on #3289
Thanks for the report @mhudnell; actually in #3265 we moved away from Doxygen because it was a huge amount of maintenance burden, and honestly the output it generated was pretty ugly given all the templates that are in use in mlpack.  I think it is easier to browse and search the source than to use Doxygen... that said, I do hope to provide better user documentation for the C++ classes overall, ki

[2022-11-01 06:06] quinnj opened #3300 "[Julia] Segfault + abort in hoeffding_tree call"
#### Issue description

Segfault + abort when calling `hoeffding_tree` from Julia mlpack.jl bindings.

#### Your environment

 * version of mlpack: Julia v4.0.0
 * operating system: MacOS M1
 * compiler: whatever BinaryBuilder/Yggdrasil is using?
 * version of dependencies (Boost/Armadillo): armadillo_jll v11.2.1+0, boost_jll v1.79.0+0
 * any other environment information you think is relevant:

#

[2022-11-01 15:41] rcurtin commented on #3300
I think I succeeded in reproducing this, although the manifestation of the problem is a little different on my Linux system:

[code]

I'll start digging over the next couple days.  Thanks for the report!

[2022-11-02 11:41] crankyastrologer opened #3303 "Problem with directory structure and header file"
When installing the mlpack repository using vcpkg first header file as mentioned in the guide was not present and when I copied it from the git repository it was pointing to a different path. Specifically this was the path
[code]
instead of this
[code]
any idea why this is happening

[2022-11-02 13:28] rcurtin commented on #3303
What version of mlpack are you using?  The documentation you are referencing is for mlpack 4.

[2022-11-02 17:00] crankyastrologer commented on #3303
Well, that seems to be the issue vcpkg is installing 3.4.1. Is there a need no raise an issue regarding this in vcpkg as mentioned in the documents?

[2022-11-02 17:06] rcurtin commented on #3303
Ahh, good idea; I opened https://github.com/microsoft/vcpkg/issues/27616, let's see what happens. :)

[2022-11-02 17:26] crankyastrologer commented on #3303
cool :)

[2022-11-02 17:26] #3303 closed

[2022-11-03 20:10] rcurtin commented on #3300
@quinnj the fix is in three parts:

 - #3304: we need to catch all exception types in the Julia bindings.  (This is just a simple 'oops'... one-line fix.)
 - #3305: correct one-indexed Julia data mapping to zero-indexed C++ data.  (This one was a bit more involved.)
 - In Yggdrasil, for the next release, I'll need to make sure the `-DARMA_NO_DEBUG` option is *not* set; if that is set, no bounds ch

[2022-11-03 20:13] quinnj commented on #3300
Sounds good, thanks!

[2022-11-04 00:55] conradsnicta commented on #3300
Having debugging enabled is a good idea in almost all cases.

In performance critical parts that directly access matrix elements (as opposed to entire columns or rows), it's possible to selectively skip the bounds checks by using the `X.at(row,col)` operator instead of the `X(row,col)` operator.  Similar reasoning applies to `X(i)` vs `X.at(i)`.  This is a more nuanced approach than having `ARMA_N

[2022-11-04 22:09] rcurtin commented on #3213
Hey @benz0li, is there any way to see if this problem still exists?  mlpack 4.0.0 just got pushed to CRAN, and I wonder if some of the changes we made there might fix the problems you were seeing here (specifically, the fact that mlpack now has fewer dependencies and the main library itself is header-only).

[2022-11-05 08:10] benz0li commented on #3213
Yes.

[code]

Installation of R package now succeeds on `linux/arm64/v8`.

---

#### My environment

 * version of mlpack: 4.0.0
 * operating system: Debian 11 (bullseye)
 * architecture: aarch64
 * compiler: gcc
 * version of dependencies (Boost/Armadillo):
     *  Boost: 1.78
     *  Armadillo: 11.0.0
 * any other environment information you think is relevant:
     *  `*PICFLAGS` are set to `-fp

[2022-11-05 08:10] #3213 closed

[2022-11-05 08:12] benz0li commented on #3213
Thank you @rcurtin

[2022-11-05 13:50] rcurtin commented on #3213
Awesome, great to hear! :+1:

[2022-11-07 02:53] #2181 closed

[2022-11-08 02:53] #48 closed

[2022-11-09 03:53] #1463 closed

[2022-11-09 03:53] #2013 closed

[2022-11-16 04:25] yurivict opened #3314 "The test executable mlpack_test isn't built"
It required this patch to build:
[code]

Version: 4.0.0
cmake-core-3.24.3_1
FreeBSD 13.1

[2022-11-16 13:38] rcurtin commented on #3314
Thanks for the report @yurivict!  I spent a while thinking about the right solution here, but I agree with your patch in the end.  I opened a PR in #3316.  There is a little bit more to it too.  This will be a part of the 4.0.1 release (we are still collecting little configuration bugfixes, but that should happen soon enough).

[2022-11-18 09:44] plugyawn opened #3319 "Gaussian Process Regression"
### What is the desired addition or change?

Wanted a Gaussian Process Regressor in C++. I have some experience in writing GPs from scratch in python, so if possible, I would love to contribute.

### What is the motivation for this feature?

Probabilistic methods and uncertainty metrics are important parts of an ML library, so I wanted MLPack to have this as well.
### If applicable, describe how t

[2022-11-19 14:43] rcurtin commented on #3319
Hi there @plugyawn!  This would be a nice addition.  If you want to implement it, it should be a relatively simple review.  Ideally the API should match that of the `BayesianLinearRegression`, `LinearRegression`, and `LARS` classes (although there might be slight variation), so that a user can easily switch between all these methods. :+1:

[2022-11-20 06:30] plugyawn commented on #3319
Hi @rcurtin! That sounds great! I'll look into the code and try my best to implement a compliant GPR implementation.

[2022-11-21 04:25] #3314 closed

[2022-11-21 04:39] conradsnicta commented on #3300
@rcurtin In the vast majority of cases, I don't think there would be much speed difference (if any) when compiling without `ARMA_NO_DEBUG` (ie. having the bounds checks and other checks enabled).

mlpack spends much of its execution time in vector or matrix operations (matrix mul, SVD, etc), and most of those end up being farmed out to BLAS and LAPACK via Armadillo.  The remainder is stuff like su

[2022-11-25 17:34] coderboyisongithub opened #3323 "mlpack library core::v2::meta compilation error"
I am have installed mlpack 4.0.0 binary instead of building it on my own.
using visual studio 2019
c++ 14 std
debug mode x64 machine

INCLUDES
[code]

LIBRARIES
`E:\Software\armadillo\examples\lib_win64--->libopenblas.dll`

ERROR
[code]

this happens whenever I include any mlpack headers into my code...
is there any conflict with mlpack alorithm.hpp with stl::algorithm.hpp
question is how to resol

[2022-11-25 21:58] rcurtin commented on #3323
Did you set the compiler option `/Zc:__cplusplus` and set the standard  to C++17 with `/std:c++17`?  I know that mlpack says C++14 is required, but for MSVC it turns out we need C++17.  Without those two flags, there is an issue detecting the version of the C++ standard that's enabled, which in turn causes the issue you are seeing.

An improvement has been merged for the next release of mlpack (#3

[2022-11-26 10:28] coderboyisongithub commented on #3323
I set it to /Zc:__cplusplus and set the standard to C++ 17 and it compiles now...Thank You very much!!

[2022-11-28 07:25] #3323 closed

[2022-11-28 22:58] demoronator opened #3324 "mlpack - Python: LARS throws runtime error"
#### Issue description

#### Your environment

 * version of mlpack: mlpack Python 4.0.0.post1, 4.0.0, 3.4.2
 * operating system: Ubuntu 20.04.5 LTS

#### Steps to reproduce
Code:
[code]
Result:
[code]

#### Expected behavior

The rows of X(input_) and responses are the same as three.
So it should return the dictionary without error.

#### Actual behavior
It throws a runtime error.

[2022-11-28 23:32] rcurtin commented on #3324
Indeed, your input looks reasonable and it should work.  Out of curiosity, does the code succeed if you specify `train_x` in a transposed form?  (Or `train_y_px` in a transposed form?)

[2022-11-28 23:57] demoronator commented on #3324
Didn't try, but I would like to give it a go. How do I specify it in a transposed form?

[2022-11-29 00:09] demoronator commented on #3324
I tried
[code]
It also failed.

[2022-11-29 21:53] SanPen opened #3325 "Armadillo warnings since using mlpack"
Hi,

Since I included mlpack, I'm getting a ton of these:

[code]

I replaced all the `#include <armadillo>` by ` #include <mlpack/core.h>` as instructed by other compiler warnings.

**Is there a way to get rid of these warnings?**

[2022-11-29 22:01] shrit commented on #3325
what armadillo version are you using?

[2022-11-29 22:02] SanPen commented on #3325
Sorry, I'm using 11.1.0

[2022-11-29 22:04] shrit commented on #3325
@rcurtin did we handle this in the last merged commits?

[2022-11-29 22:40] rcurtin commented on #3325
@SamPen can you provide a minimal example that shows the warning? Also, what compiler are you using, and what compilation options? I can't reproduce the warning after taking a couple guesses at how to reproduce it.

@shrit I didn't fix any warnings, but happy to fix this one if we can isolate it. Realistically it isn't a dangerous warning.

[2022-11-30 03:31] conradsnicta commented on #3325
@rcurtin Looks like an arcane specification in the C++11 standard, where stuff that was previously allowed but discouraged (in C++98) is now more strongly discouraged via deprecation notices (in C++11).

If a class has a user-defined copy constructor (ie. `user_class::user_class(const user_class&)`), but it doesn't have a corresponding copy assignment operator (ie. `user_class::operator=(const use