[2020-11-06 13:58] pradkrish commented on #2700
feel free to close this issue if no action is required.

[2020-11-06 14:04] rcurtin commented on #2700
At least personally I think that if someone is building the Python bindings by hand, they will necessarily need to know a little bit about their Python environment---after all, they should specify `PYTHON_EXECUTABLE` as a CMake option.  I wouldn't be opposed to clarifying the working there to something like `make sure that the following Python packages are installed in the environment correspondin

[2020-11-06 14:20] pradkrish commented on #2700
Sure, users typically do pip install. I was thinking about contributors. They may want to check their implementations by calling it from python. Using a venv as a development environment is the right way to go about it especially if they are also contributing to other packages.

[2020-11-06 14:50] pradkrish commented on #2700
By the way, I am not able to build python bindings. I run cmake with the following options, yet it's unable to build python bindings.

`cmake -D DEBUG=ON -D PROFILE=ON -DCEREAL_INCLUDE_DIR=/home/MYUSERNAME/repos/cereal-1.3.0/include/ PYTHON_EXECUTABLE=/home/MYUSERNAME/python_environments/mlpack_venv/bin/python ../`

any idea why? :thinking:

[2020-11-06 15:07] rcurtin commented on #2700
Can you paste the error output?  I can't help debug unless I see that.  Also, if you specify `PYTHON_EXECUTABLE` in the CMake command that should be done with `-D`: `-D PYTHON_EXECUTABLE=...` (you can see basic CMake documentation for more details). :+1:

[2020-11-06 15:12] pradkrish commented on #2700
of course, sorry for not adding the logs, I reran it with
`cmake -D DEBUG=ON -D PROFILE=ON -DCEREAL_INCLUDE_DIR=/home/MYUSERNAME/repos/cereal-1.3.0/include/ -D PYTHON_EXECUTABLE=/home/MYUSERNAME/python_environments/mlpack_venv/bin/python ../`

[code]

I am not worried about building Go and R bindings. I am only interested in python bindings

[2020-11-06 15:14] rcurtin commented on #2700
There's no error in that output (only warnings).  But you have to specify `-DBUILD_PYTHON_BINDINGS=ON` if you want to build Python bindings, and then you can additionally optionally specify `PYTHON_EXECUTABLE` if you have a specific Python interpreter you want to use.

[2020-11-06 15:29] pradkrish commented on #2700
Jesus, of course, thanks. I totally missed that option, never build a new package with children around (note to oneself) :) Thanks.

[2020-11-06 15:32] rcurtin commented on #2700
No worries!  Hopefully it should work now. :+1:

[2020-11-06 17:18] zoq commented on #2699
I'm wondering what the reason behind the change is, is it to keep things simple?

[2020-11-06 18:52] RishabhGarg108 commented on #2523
Hi, if anyone is not working on `main_tests/logistic_regression_test.cpp` and `main_tests/perceptron_test.cpp` then I would like to work on them.

[2020-11-06 19:25] Aakash-kaushik commented on #2523
Hey, most of the tests are migrated in #2678 but that PR is not merged yet and so they are not marked done yet.

[2020-11-06 19:55] jeffin143 commented on #2523
There are no more test to be migrated
This issue is done
And we can close it once last two pr's are merged

[2020-11-07 02:15] conradsnicta commented on #2699
@zoq Using `<<` for matrix initialisation pre-dates the existence of C++11.  For Armadillo 10.x, the minimum supported C++ standard has been increased to  C++11, where the braced initialiser list is a superior solution (ie. cleaner and more efficient).

[2020-11-07 02:35] rxng8 opened #2702 "Cereal Compiling CMake problem in /CMakeList.txt"
#### Issue description

I have encountered the problem when I tried to build the mlpack from the master branch (not the current release 3.4.2). The problem is about cereal package not being installed when I execute the command `cmake ../`. We can build normally from the version 3.4.2 because its /CMakeList.txt does not have the line `find_package(cereal "${CEREAL_VERSION}" REQUIRED)` as in line 41

[2020-11-07 03:54] RishabhGarg108 commented on #2523
Okay. I will find some other issue to work on :)

[2020-11-07 04:26] Yashwants19 commented on #2702
@rxng8 You must use `apt-get install libcereal-dev` for installing the required cereal package.

[2020-11-07 10:33] RishabhGarg108 commented on #2625
I am taking `Linear3D` and `LinearNoBias`. Thanks!

[2020-11-07 11:00] rxng8 commented on #2702
Thanks ! That definitely help! Is it neccessary to edit cmakelist so that it automatically download and install. If yes then I can work on it!

[2020-11-07 19:49] zoq commented on #2702
@Yashwants19 incorporates cereal in https://github.com/mlpack/mlpack/pull/2685.

[2020-11-07 20:15] rxng8 commented on #2702
Great!

[2020-11-07 20:15] #2702 closed

[2020-11-07 20:26] rcurtin commented on #2699
This is a really nice first issue for anyone looking to get started contributing to mlpack.  It's not particularly exciting but could expose you to a good part of the codebase. :)  Basically all we need to do is replace everywhere where we use `<<` with the braced initializer lists that Conrad suggests.  I think most of the usages of this should be in `src/mlpack/tests/`, but there may be other pl

[2020-11-07 22:02] zoq commented on #2699
Thanks for the clarification, makes sense.

[2020-11-08 03:51] Abilityguy commented on #2699
I can take this up.

[2020-11-08 04:35] Aakash-kaushik commented on #2647
Please keep this open. I was working on this but got extremely busy. And i will start working on this again.

[2020-11-08 12:19] GauravSarkar commented on #2699
@rcurtin  I am new to mlpack . I want to contribute towards this issue so that I get familiar to the codebase.

[2020-11-08 12:24] #2634 closed

[2020-11-08 13:24] #2585 closed

[2020-11-08 17:53] GauravSarkar commented on #2699
@conradsnicta @zoq  @rcurtin  I have sent  a PR regarding the issue. Please kindly check and merge.

[2020-11-08 18:24] Prath06 commented on #2693
This works for me
both g++ and gcc

[2020-11-08 19:47] RishabhGarg108 commented on #2699
I would like to work on this issue. Thanks!

[2020-11-09 10:57] Abilityguy commented on #2662
Keep open.

[2020-11-09 11:51] RishabhGarg108 commented on #2699
I am getting an error while using braces to initialize an `arma::mat` having one column. For matrices with more than one columns, brace initializer is working fine. The error message is

ambiguous overload for ‘operator=’ (operand types are ‘arma::Mat<long unsigned int>’ and ‘<brace-enclosed initializer list>’)
Someone please help me.

[2020-11-09 15:39] rishishounak commented on #2294
Hello I am new to this library, could you suggest some metric that I could add. Also please tell me how to get started

[2020-11-09 16:11] RishabhGarg108 commented on #2005
Hey @ShikharJ @rcurtin , is this fix still needed to be done?

[2020-11-09 16:18] rcurtin commented on #2005
I'm not sure the status---I think that updating the documentation (see my comment [here](https://github.com/mlpack/mlpack/issues/2005#issuecomment-528850769)) would still be worthwhile, but I am not sure if any layers are wrong.  Really what is needed is an audit---so if you want to start by finding layers that use the `input` variable in the `Backward()` layer (like the issue describes), you can

[2020-11-09 16:32] RishabhGarg108 commented on #2005
@rcurtin , I looked at the complete directory structure of `methods/ann` and I found two things. The `input` variable is used in a few "activation layers" and almost all the "loss functions". So, for layers, `input` variable makes sense because there the `input` variable is actually the output from let say any previous layer. So, that is actually the input to that layer, so that seems good.

But,

[2020-11-09 16:35] rcurtin commented on #2005
Yes, to my understanding, that's precisely the issue. :+1:  If you want to change that name, that would be really great, but when you do it, be sure to make sure that the backward pass is being computed correctly too! :)

[2020-11-09 16:40] RishabhGarg108 commented on #2005
Yeah I would be happy to do that. But I need to clarify a couple of things. When you say that I have to ensure that when I change the name of variable, I consistently change it throughout the function or shall I have to mathematically check the correctness? And secondly, as you mentioned that we also need to change this in documentation, this is not clear to me as to where shall I change it. It wo

[2020-11-10 01:10] conradsnicta commented on #2699
@RishabhGarg108 If you think it's a bug, create a small self-contained program which shows the issue and report it at the Armadillo repo: https://gitlab.com/conradsnicta/armadillo-code

[2020-11-10 04:29] Aakash-kaushik commented on #2647
@zoq can you keep this open ?

[2020-11-10 04:59] RishabhGarg108 commented on #2699
Hey @conradsnicta , I created an issue as you mentioned. Please check it [here](https://gitlab.com/conradsnicta/armadillo-code/-/issues/168). Thanks!

[2020-11-10 21:24] #2658 closed

[2020-11-11 01:04] #2699 closed

[2020-11-11 01:11] rcurtin commented on #2005
Yes to both things on the first question: we want to change the name of the variable, but we also want to audit the implementations to make sure that there are no errors caused by the incorrect name of the variable confusing someone and then they implemented the wrong thing.  I assume the function documentation itself should be updated if it refers to `input` (we should just change the names), but

[2020-11-11 02:33] rxng8 opened #2709 "undefined reference to `bool mlpack::data::Load`"
#### Issue description

When I compile with data::Load function to load csv, it cannot compile.

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Ubuntu 20
 * compiler: g++
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

`main.cpp`:
[code]

Compiling:
[code]

#### Expected behavior

It should

[2020-11-11 03:09] rcurtin commented on #2709
I'm able to compile that fine on my system with mlpack-3.4.2 (I'm running debian sid).  But I was actually just exchanging emails with another user who seems to have the same issue.  What compiler version are you using?  For me:

[code]

[2020-11-11 05:01] RishabhGarg108 commented on #2005
Thanks for clarification @rcurtin ! I'm on it now.

[2020-11-11 05:07] RishabhGarg108 commented on #2709
Hey @rxng8 , I think the problem here is that you are not linking mlpack while compiling. Add `-lmlpack` to the compilation command and that should probably work.
Hey @rcurtin , I feel its a bit of extra work to manually link mlpack while compiling any program. Can you please tell how do you do it without linking on your system?

[2020-11-11 05:45] rxng8 commented on #2709
@RishabhGarg108 Hi, appreciate your reply, as you can see on the report above that when I produce this error, I add `-lmlpack` as the last argument. I don't know if that help.
@rcurtin I use the same g++ version as you:
[code]

Additional information:
* I built the `mlpack` v3.4.2 from source, using cMake and make. I install the buid by `make install`, and did export the path where the include lib

[2020-11-11 06:00] RishabhGarg108 commented on #2709
Sorry, my bad. Somehow missed that last flag.

[2020-11-11 13:49] rcurtin commented on #2709
@rxng8 is it possible that there are multiple versions of mlpack installed on your system?  Maybe a /usr/lib/libmlpack.so and also a /usr/local/lib/libmlpack.so?

[2020-11-11 13:56] rishishounak commented on #2294
@kartikdutt18 please reply?

[2020-11-11 14:00] kartikdutt18 commented on #2294
Hey @rishishounak,
You can try to add SSIM metric to this repo. To get started you can take a look at the getting atarted page as well as the GSoC page for this repo. Links to both are mentioned above.
Thanks for interest in this organization and welcome to community.
Regards.

[2020-11-11 14:02] kartikdutt18 commented on #2294
Also you can take a look at the metrics that were recently added. This includes PRs for NMS metric and IoU metric.

[2020-11-11 21:55] heisenbuug commented on #2625
Taking up AddMerge

[2020-11-11 23:36] rcurtin commented on #2668
Hey @alexhallam, I'm really sorry for the slow response on this one!

1. I think you mean boost not boot?  Anyway we're actually trying to remove our boost dependencies, because it can make compilation much, much slower.  See #2440 for more information.  Sorry if that makes things a little bit inconvenient!  Maybe we can find some other solution?

2. I think the box-cox transformation is pretty si

[2020-11-12 14:39] alexhallam commented on #2668
1. Yes, sorry,  I meant boost. I understand the complexity that this adds. For me this is probably the biggest blocker. I am a big fan of probabilistic forecasting which requires distributions.

2. Box-Cox is not hard at all, auto-box-cox would require ensmallen for some optimizations. I was mostly curious if the goal is to have a "transformations" module within mlpack so box-cox could be used gen

[2020-11-12 18:15] Prath06 commented on #2176
I am unable to install the mlpack package on Windows 10.

command: pip install mlpack
message:

ERROR: Could not find a version that satisfies the requirement mlpack (from versions: none)
ERROR: No matching distribution found for mlpack

[2020-11-12 18:21] Prath06 opened #2710 "I am unable to install the mlpack package on Windows 10."
I am unable to install the mlpack package on Windows 10.

command: pip install mlpack
message:

ERROR: Could not find a version that satisfies the requirement mlpack (from versions: none)
ERROR: No matching distribution found for mlpack

_Originally posted by @Prath06 in https://github.com/mlpack/mlpack/issues/2176#issuecomment-726250848_

[2020-11-12 18:22] Prath06 commented on #2710
Please help me.
I am using Python 3.7.x on Windows 10

[2020-11-12 18:29] NippunSharma commented on #2710
There is no need to do pip install. If you have installed mlpack on your system then you can simply import mlpack in python. Refer to [this](https://github.com/mlpack/mlpack#6-using-mlpack-from-python)

[2020-11-12 18:32] zoq commented on #2710
Also there is no pip package for Windows at this point, so you have to either build it manually or have to wait until the pip package is ready.

[2020-11-12 18:35] Abilityguy commented on #2668
Thanks @alexhallam , I haven't been able to pick this up until now, I will try to get a working PR of something soon.

[2020-11-12 18:42] Prath06 commented on #2710
Thanks for the help. But it is available in : https://pypi.org/project/mlpack/

[2020-11-12 19:39] zoq commented on #2710
For Linux and macOS, but not for Windows, at least not yet.

[2020-11-12 20:05] #2710 closed

[2020-11-12 20:20] jeffin143 commented on #2523
Thanks everyone for all the help , be it migration or with the review , We finally removed one more boost dependency :)

[2020-11-12 20:28] rcurtin commented on #2523
Nice! :tada:  Really happy to see this done.  Do we want to move `serialization_catch.hpp` to `serialization.hpp` in `src/mlpack/tests/`?  Also I think we can move the various CMake configuration bits that reference `BOOST_LIBRARIES` or `BOOST_LIBRARY_DIR` or similar, since we're no longer linking against boost anywhere.  (We're only using a couple more boost headers in various places.)

[2020-11-13 07:37] NippunSharma commented on #2709
Try this before compilation:
`export LD_LIBRARY_PATH=/path/to/libmlpack.so`

[2020-11-13 07:39] NippunSharma commented on #2709
Refer to [this](https://github.com/mlpack/mlpack#4-building-mlpack-from-source)

[2020-11-13 16:10] InterTriplete2010 commented on #2709
I am experiencing the same problem and I have been communicating with Ryan via e-mail about it. I have just tried to add **_"export LD_LIBRARY_PATH=/path/to/libmlpack.so"_** before compiling the program, but unfortunately that didn't work.

[2020-11-13 16:26] InterTriplete2010 commented on #2709
Just to clarify, in my case the problem is specifically with the method **_"data::Load_**". If I comment it out, I can compile my program (which includes several layers of DNN) without any problem.

[2020-11-13 16:28] NippunSharma commented on #2709
Hi @InterTriplete2010 , can you please share the error?

[2020-11-13 16:29] InterTriplete2010 commented on #2709
Sure, of course.

DNN.cpp:(.text+0x6fa): undefined reference to `bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Mat<double>&, bool, bool, arma::file_type)'
collect2: error: ld returned 1 exit status

[2020-11-13 16:36] NippunSharma commented on #2709
Can you also share the code maybe I can try reproducing the error ?

[2020-11-13 16:45] InterTriplete2010 commented on #2709
Sure, of course. It is just the same code that I found in github. I was just trying to familiarize with mlpack. Not sure if this helps, but the **_save::load_** function is creating problems in Visual Studio 2019 as well. In that case it is causing a **_"Compiler is out of heap space"_** error.

`#include <omp.h>
#include <stdio.h>
#include <stdlib.h>
#include <iostream>

#include <mlpack/core.hpp

[2020-11-13 17:24] #2632 closed

[2020-11-13 17:39] NippunSharma commented on #2709
Can you please share the .cpp file . This text is difficult to copy, it is causing lot of indentation problems.

[2020-11-13 17:42] NippunSharma commented on #2709
Can you please share the code file (maybe .cpp). This text is tough to copy and read

[2020-11-13 17:42] InterTriplete2010 commented on #2709
Yes, sorry. I had to zip it, because github would not allow me to upload a cpp file. Let me know if you can download it.

[DNN.zip](https://github.com/mlpack/mlpack/files/5538427/DNN.zip)

[2020-11-13 17:44] NippunSharma commented on #2709
I am able to download

[2020-11-13 22:06] zsogitbe opened #2713 "Possible Bug in the Recurrent Neural Network (RNN) implementation"
#### Issue description

While training a RNN like this
[code]
the prediction step increases the size of the final model. If you use the training data for prediction then the size of the final model may become several times bigger just because of the Prediction step. For example, with a small test dataset in the prediction step you get a final model size of 2MB and if you use the full training data

[2020-11-13 23:03] zsogitbe commented on #2524
...

I just came across this from Ryan from a few month ago. I could not agree more! The advantage of mlpack is that it uses C++ and not the combination of several programming languages with scripting languages chaos! I am sorry but when I see this "data[data[, 1] > 5, ]" I must quickly scroll away. I do not mind if people keep themselves busy with making a bridge between scripting languages and C

[2020-11-14 00:28] rcurtin commented on #2709
@InterTriplete2010 sorry that I didn't get back to your email yet---but since this issue seems the same, we can keep the discussion going here. :+1:

To me it's very strange why your compiler is not able to find the `data::Load` symbol.  What happens if you also include `mlpack/core/data/load_impl.hpp` in your program?

Also, if you are on Linux, what is the output of this command?  `nm -D libmlpa

[2020-11-14 01:41] rxng8 commented on #2709
@rcurtin when I build `mlpack` form source using `make install` in a Linux system, will `libmlpack.so` appear in any path? And which path does that usually installed to?

[2020-11-14 03:04] rcurtin commented on #2709
It should usually install to `/usr/local/lib/`.  On most systems, that should be on the default linker path.

[2020-11-14 13:38] InterTriplete2010 commented on #2709
00000000000cb080 W bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Mat<double>&, bool, bool, arma::file_type)
00000000000e6250 W bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::SpMat<double>&, bool, bool)
00000000001036f0 W bool mlpack::data::L

[2020-11-14 13:43] InterTriplete2010 commented on #2709
@rcurtin Thank you for your help :-)

I tried to include mlpack/core/data/load_impl.hpp in my code, but that didn't solve the problem. I have pasted the output that I get by using nm -D libmlpack.so | c++filt | grep 'data::Load.

Something that I just realized is that I have 3 different libmlpack and 2 different python in my usr/local/lib folder:

cmake  libmlpack.so  libmlpack.so.3  libmlpack.so.

[2020-11-14 16:53] Abilityguy opened #2715 "Adding a FAIL message when data::Load is used in test files."
### What is the desired addition or change?
Adding a ```FAIL()``` message whenever we use ```data::Load()``` to load data in the testing suite.
After a discussion [here](https://github.com/mlpack/mlpack/pull/2671#issuecomment-726784957), it was decided that opening an issue on this would be a good idea.

### What is the motivation for this feature?

If there is an error in loading the file, there

[2020-11-14 18:22] shrit commented on #2709
@InterTriplete2010  These should be symbolic references.
Can you paste here the output of the following commands:
`ls -la` in `/usr/local/bin`
`locate libmlpack`
`echo $LD_LIBRARY_PATH`

[2020-11-14 18:30] InterTriplete2010 commented on #2709
Here is the output to ls -la in /usr/local/bin:

total 125848
drwxr-xr-x  2 root root     4096 Nov 10 11:08 .
drwxr-xr-x 10 root root     4096 Aug  4 16:39 ..
-rwxr-xr-x  1 root root  2139432 Nov 10 11:07 mlpack_adaboost
-rwxr-xr-x  1 root root  1378312 Nov 10 11:07 mlpack_approx_kfn
-rwxr-xr-x  1 root root   948880 Nov 10 11:07 mlpack_bayesian_linear_regression
-rwxr-xr-x  1 root root 11860440 No

[2020-11-14 18:41] shrit commented on #2709
@InterTriplete2010 Thanks
Are these giving an output?
`locate libmlpack`
`echo $LD_LIBRARY_PATH`

[2020-11-14 18:42] InterTriplete2010 commented on #2709
It is taking a while to install locate

[2020-11-14 18:46] rcurtin commented on #2709
Wow, that is not what I expected to see.  Check out this line from @InterTriplete2010's output:

[code]

But there is no template parameter like there should be!  Note that `arma::Mat` is itself not a type---it needs a template parameter.  Compare that with what I get on my local system:

[code]

I tried to reproduce this in an Ubuntu 20.04 docker container, using both g++ and clang as compilers,

[2020-11-14 18:50] InterTriplete2010 commented on #2709
Sure, of course. I will do it now.

Just to complete the request from @shrit, I get nothing when I run echo **_$LD_LIBRARY_PATH_** and I get the following output when I run **_locate libmlpack_**

/home/ale77/Repository/mlpack-3.4.1/build/lib/libmlpack.so
/home/ale77/Repository/mlpack-3.4.1/build/lib/libmlpack.so.3
/home/ale77/Repository/mlpack-3.4.1/build/lib/libmlpack.so.3.4
/home/ale77/Reposito

[2020-11-14 18:57] shrit commented on #2709
@InterTriplete2010
You have two mlpack versions installed, the first installed via `apt` and the second installed manually.
If `LD_LIBRARY_PATH` is empty, then the compiler will try to link with the older version `3.2`
if you are using headers from 3.4 and linking with 3.2 then this might be an issue.
The best is to remove mlpack completely from your system,
Then you can follow with @rcurtin solut

[2020-11-14 19:08] InterTriplete2010 commented on #2709
Ok, so should I remove mlpack and reinstall it?

Also, I am attaching a file with the output generated by make VERBOSE=1 mlpack
[VERBOSE.txt](https://github.com/mlpack/mlpack/files/5541314/VERBOSE.txt)

[2020-11-14 19:14] InterTriplete2010 commented on #2709
And this is the output to **_nm -D lib/libmlpack.so | c++filt | grep 'data::Load'_**

00000000000cb080 W bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Mat<double>&, bool, bool, arma::file_type)
00000000000e6250 W bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<cha

[2020-11-14 19:32] rcurtin commented on #2590
Hey @RishabhGarg108, sorry for the slow response here.  You are right that the `Recurrent` layer is just a wrapper around other layers, so it doesn't hold weights directly.  The visitor framework will visit the child modules correctly, so you can just return `0` in that case.  (If you're interested in how that's done, take a look at `src/mlpack/methods/ann/visitor/weight_size_visitor_impl.hpp` whe

[2020-11-14 19:37] rcurtin commented on #2713
@zsogitbe thanks for the report.  I think this may be very simple to fix.  @zoq should we clear `inputParameter` and `outputParameter` and other internal storage of the FFN at the end of `Predict()`?  (and RNN too I assume)

[2020-11-14 19:39] NippunSharma commented on #2715
Hi, I am taking up `akfn_test.cpp`, `aknn_test.cpp`, `callback_test.cpp`, `cf_test.cpp`, `decision_tree_test.cpp` and `facilities_test.cpp`

[2020-11-14 19:44] rcurtin commented on #2709
Oh... I think you are exactly right @shrit!  Nice catch.  Once you `apt-get remove libmlpack3 libmlpack-dev`, you might need to add `-L/usr/local/lib/` to your linker flags (that directory may or may not be in the library search path).

[2020-11-14 19:56] RishabhGarg108 commented on #2590
Thanks @rcurtin ! I will definitely look at the implementation to see how those modules are used. :+1:

[2020-11-14 20:02] InterTriplete2010 commented on #2709
Yes, that was the problem. Now everything is compiling just fine. I am not sure how I was able to install two versions of mlpack. I followed the instructions online, but I have obviously done something really stupid.

@shrit and @rcurtin thank you so much for your help :-) I really appreciate the time you have dedicated to help me out!!!

Hopefully, I won't need to bother you again :-) But I have

[2020-11-15 12:36] heisenbuug commented on #2715
Hey @Abilityguy, I think we can write a script to automate this one:
`file = open(../feedforward_network_2_test.cpp')
with open("../feedforward_network_2_test.cpp", "rt") as fin:
    with open("feedforward_network_2_test.cpp", "wt") as fout:
        for line in fin:
            if(line.find('data::Load') != -1):
                newLine = ' if (!' + line[0:-2] + ') \n  FAIL("Unable to load data x!"

[2020-11-15 12:58] Abilityguy commented on #2715
Looks good @heisenbuug . You can give it a try.
Only issue with this script is that the ```FAIL()``` message dosen't include the dataset name.

[2020-11-15 13:02] #2662 closed

[2020-11-15 13:05] heisenbuug commented on #2715
Cool, I will add it, it will be some basic file processing stuff only...

[2020-11-15 14:34] heisenbuug commented on #2715
I am facing one issue, there are some parts of code where:
[code]
So as REQUIRE is not on the same line so it will change that as well but it should not, any suggestions @Abilityguy

[2020-11-15 14:50] rcurtin commented on #2662
Thabks @Abilityguy! I forgot that this issue was open and needed to be closed after the PR was merged. :)

[2020-11-15 15:55] Abilityguy commented on #2715
In your python script, you could remove spaces and if the previous characters include ```REQUIRE```.
Or you could use the ```re``` module in python to write some sort of regex I believe.

But I don't think this case pops up that often so manually weeding it out also makes sense.

[2020-11-15 16:03] heisenbuug commented on #2715
Yea, I am done with it, making a PR...
Most of the cases were covered, I made a few changes to the script. I think most of the cases will be covered.

[2020-11-15 17:39] RishabhGarg108 commented on #2443
Hey @Abilityguy , are you currently working on this? If not, then I would like to take this issue. Thanks!

[2020-11-15 22:48] rcurtin commented on #2709
No worries @InterTriplete2010!  Sometimes issues like this are hard to track down because the linker doesn't give great output.  If you have more problems in the future, please do feel free to post issues. :+1:

[2020-11-16 05:11] Abilityguy commented on #2443
Hey @RishabhGarg108 , feel free to take it up if @jonpsy is not working on it.

[2020-11-16 06:31] RishabhGarg108 commented on #2443
Thanks! I am working on this.

[2020-11-16 06:35] RishabhGarg108 commented on #2443
Just a clarification, @Abilityguy , recently you have added the data::StratifiedSplit. Shall I also template that too ?

[2020-11-16 09:14] heisenbuug commented on #2668
Hello @alexhallam @Abilityguy, I really liked the idea of adding forecasting methods, I went through this [page](https://pawarbi.github.io/blog/forecasting/r/python/rpy2/altair/fbprophet/ensemble_forecast/uncertainty/simulation/2020/04/21/timeseries-part2.html#:~:text=Seasonal%20naive%20method%20uses%20the,but%20helps%20create%20a%20baseline.), it has implementations and explains the basic stuff,

[2020-11-16 09:51] heisenbuug commented on #2679
I wanna work on this @rcurtin. So what I figured out till now:

- We have to edit `src/mlpack/core/util/mlpack_main.hpp` : Here we just have to add `no_sanity_checks` in the same way `verbose` is added, ie inside `PARAM_FLAG`

Currently
[code]
After edit
[code]

- Also one doubt where do we have to implement this function?

- Once the implementation is done, I just have to make function calls as s

[2020-11-16 10:40] jeffin143 commented on #2668
May be we can write a function to convert date to unix time stamps and then do normal processing : https://www.epochconverter.com/

[2020-11-16 12:15] iamarchit123 commented on #2619
HI @Abilityguy  @GauravSarkar  which one are you working on LSTM or Random Forest...I would like to work on the other one.

[2020-11-16 12:35] jonpsy commented on #2443
Sorry, things came in between so I couldn't complete. You can refer my PR for inspiration for working on it, it's near 80% done.

[2020-11-16 12:56] alexhallam commented on #2668
@jeffin143 I think that date processing is a great idea. I think we can be opinionated with the date string "YYYY-MM-DD HH:mm:ss" and throw an error if dates are not in that format. With that we can work in unix time then convert back to strings for the output.

@heisenbuug I like that page. It has nice clear code. For something on the technical side there is this book https://otexts.com/fpp2/simp

[2020-11-16 14:49] Abilityguy commented on #2443
I don't think there is a need to template the Stratified Splits. Getting it to work with matrices and fields would be complex and not of much use according to me. You could also have a quick chat in the IRC for an opinion on this.

[2020-11-16 15:15] RishabhGarg108 commented on #2443
In that case, I will first try to work with the `data::Split` because first I need to learn some concepts like template metaprogramming. And as you are saying it would be quite complicated, then It would be too much to handle at one time for me. So maybe I will do it once I am done with this one.

[2020-11-17 12:06] heisenbuug commented on #2668
Hey @jeffin143 @Abilityguy @alexhallam So, I implemented a class for time conversion between `Unix Epoch Format` to `Human Readable Format`. For human-readable, I chose `struct tm` type. You can see the implementation [here](https://github.com/heisenbuug/Forecast-Utils_For_Mlpack/blob/main/TimeConversion.cpp)

- Converted Unix epoch -> Human readable
- Will start to work on Human readable -> Unix

[2020-11-17 15:37] maksimdrachov commented on #2715
Hi,
New to opensource, so possibly a bit slow.

I'm going to take a crack at the following five:
- feedforward_network_2_test.cpp
- feedforward_network_test.cpp
- io_test.cpp
- kfn_test.cpp
- knn_test.cpp

Thanks!

[2020-11-17 16:27] NippunSharma commented on #2715
Hi @maksimdrachov, I think all these files are already taken by @heisenbuug in PR #2717

[2020-11-17 17:15] Abilityguy commented on #2715
Right. This issue will be completed once the two PRs are merged.
You could take a look at other 'good first issues' [here](https://github.com/mlpack/mlpack/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22). They are good starters for new contributors to the codebase.

[2020-11-17 19:45] kushagrabhushan commented on #2715
Hi. I'm very new to the open-source community. I'd like to help contribute here. Can someone tell me how to get started?

[2020-11-17 19:53] heisenbuug commented on #2715
Hii @kushagrabhushan, this issue is already solved.
You can get started by choosing an issue that has a flag marked as `good first [issue`(here)](https://github.com/mlpack/mlpack/issues?q=is%3Aissue+is%3Aopen+label%3A%22good+first+issue%22) to get started.

[2020-11-17 19:59] kushagrabhushan commented on #2200
Hi. I'm very new to open source. Can someone tell me how to get started? I'd really like to contribute!

[2020-11-17 20:16] kushagrabhushan commented on #2668
Hi. I'm very new to open source. Can someone tell me how to get started? I'd really like to contribute!

[2020-11-17 20:20] kushagrabhushan commented on #2294
Hi. I'm very new to open source. Can someone tell me how to get started? I'd really like to contribute!

[2020-11-17 20:25] rcurtin commented on #2294
Hi @kushagrabhushan, you've already asked that on three other issues in the past ten minutes.  Perhaps you should wait for an answer on one of those other issues, or see the mlpack website, which has clear directions for how to get involved?

[2020-11-17 20:32] kushagrabhushan commented on #2294
@rcurtin I'm really sorry I didn't know everyone could see those..... I'll go read up. Thank you

[2020-11-17 22:19] rcurtin commented on #2679
Hi @heisenbuug, the `PARAM_FLAG()` parameter is meant to define just one parameter.  You would need to add another one for `no_sanity_checks` and you would also need to add appropriate documentation for it.  See the documentation for `PARAM_FLAG` in `src/mlpack/core/util/param.hpp`.

For the second part, that's probably a reasonable way to do it. :+1:

[2020-11-18 06:21] NippunSharma commented on #2646
Hi, I would like to have a take on this. As @rcurtin mentioned the advantages and disadvantages of both sides, I would like to try implementing one and see if it performs same as boost::spirit (I doubt that given my little experience but I will perform some benchmarks). If there is any other information or resources you can provide that can be helpful ?

[2020-11-18 13:37] zoq commented on #2713
Yes, that sounds like a good approach.

[2020-11-19 04:45] cetcjinjian opened #2721 "Program received signal SIGSEGV,Segmentation fault prefixedoutstream_impl.hpp:51"
#### Issue description
i compile the "simple logging example "

[code]
with the command " g++ -o test test.cpp -DDEBUG -g -rdynamic -lmlpack -fopennmp"
the code is compiled normally, but when i run the ./test,it cause core dump
then debug with gdb
it shows

[code]

#### Your environment

 * version of mlpack:3.4.2
 * operating system:centos-release-7-8.2003.0.el7.centos.x86_64
 * compiler:gcc 7.3.

[2020-11-19 06:04] NippunSharma commented on #2721
I don't think it is the problem but it should be `-fopenmp`.

[2020-11-19 06:07] cetcjinjian commented on #2721
yes,spell error

[2020-11-19 16:38] eddelbuettel commented on #2599
How are we doing here?

[2020-11-19 20:23] AvikantSrivastava commented on #2625
I would like to take LSTM and GRU

[2020-11-19 23:08] manityagi commented on #2200
Hey! I checked the pull requests and I don't see a BCE loss function being implemented. I would like to take this up if it's alright with the community. I find these resources given by @ojhalakshya [this](https://towardsdatascience.com/understanding-binary-cross-entropy-log-loss-a-visual-explanation-a3ac6025181a) and [this](https://pytorch.org/docs/stable/_modules/torch/nn/modules/loss.html) to be

[2020-11-20 08:10] heisenbuug opened #2722 "Adding Data pre-processing utils to mlpack"
### What is the desired addition or change?

As discussed a bit in the [PR](https://github.com/mlpack/examples/pull/137). I suggested the idea of adding some data processing functionality to mlpack.

I compiled a list of features that can be implemented:
- [x] **head()**: returns top 5 rows
- [x] **tail()**: returns bottom 5 rows
- [x] **info()**: Already implemented, I was thinking maybe we could

[2020-11-20 11:50] RishabhGarg108 commented on #2722
Thanks for opening this issue. I think it would be an awesome thing to have.
No one can deny the fact that most of the time we are just messing around with the data in machine learning. So, in my opinion, it would be great to have a `Data` class and in it we can have all of the pre-processing methods at our disposal.
Some of the utilities other than what you mentioned could be :-

1. A function to

[2020-11-20 12:00] heisenbuug commented on #2722
Hey, @RishabhGarg108 thank you for the feedback and suggestions, once we have a discussion we can start working on this one, I am very excited to work on this.

[2020-11-20 19:43] rishishounak commented on #2294
https://github.com/mlpack/mlpack/pull/2427
@zoq  could you give some description of what went wrong with the above pull request for implementing SSIM metric. Thanks

[2020-11-20 22:45] AvikantSrivastava commented on #2722
Hey, @heisenbuug @shrit  I've been working on a similar CSV processing module.
Here is the code https://github.com/AvikantSrivastava/Neural-Nets-from-scratch-in-C-Cuda/blob/main/helper/csv.h
Do tell me if you feel I could help you with anything.

[2020-11-21 04:12] NippunSharma commented on #2646
Hi @rcurtin , @shrit I have started working on this. I have gone through the current codebase for reading csv (policies, dataset_mapper, load_csv). I have few a few questions:

1. Should the new csv parser implementation
    parse using PEG as boost spirit does?

2. Should the new implementation have a same
     structure/API as boost spirit?

3. I noticed that armadillo also has a load method

[2020-11-21 04:38] NippunSharma commented on #2071
Hi, I saw that the PR #2122 is still open. Nobody has worked on it for quite some time now. If it is fine can I work on this and open a seperate PR for this issue?

[2020-11-21 04:57] rcurtin commented on #2071
@NippunSharma sure, feel free!

[2020-11-21 04:57] rcurtin commented on #2071
It might be a good idea to use #2122 as a starting point. :+1:

[2020-11-21 09:16] heisenbuug commented on #2722
I updated the issue and added a small list of features for now.
@zoq any suggestions or comments?
Also, where will we put this class?

[2020-11-21 17:23] shrit commented on #2646
I am not sure about this one, maybe @rcurtin has a better answer here.

It will be nice to keep the same API compatibility, especially for future users.

In this case, it would be good to test the performance of the armadillo csv parser and compare it to our boost spirit parser. The objective is to implement a parser which have at least the same performance we have today. Armadillo does not requir

[2020-11-21 17:30] shrit commented on #2722
It will be easier to review the code by opening a pull request.
@heisenbuug under `core/data` will be fine

[2020-11-21 17:36] NippunSharma commented on #2646
@shrit thanks for answering. I will perform and share the benchmarks on the armadillo vs our boost spirit parser.

[2020-11-21 20:06] heisenbuug commented on #2722
ok, @shrit I am working on the describe method, once it's done I will make a PR.

[2020-11-21 22:11] rcurtin commented on #2668
@alexhallam @jeffin143 yeah, I think UNIX timestamps could work to start with.  It would be great to eventually have support for more than just UNIX timestamps, but, perhaps that can be part of some other effort.  (For instance, a "data frame" built on top of Armadillo could be built to support arbitrary types, like dates or strings, and then "under the hood" when passing to mlpack algorithms, use

[2020-11-21 22:14] rcurtin commented on #2599
I haven't heard anything back.  @coatless let us know how we can be helpful. :+1:

[2020-11-22 16:26] rxng8 commented on #2721
can you include the path in the project tree to the testing file?

[2020-11-23 00:50] eddelbuettel commented on #2599
Hm, how about if we attempted a new upload with @rcurtin as maintainer as help as we can from the sides? I am sure @coatless will happily pitch in, time permitting, but doing so would allow us to multithread a little better than the current wait deadlock.

[2020-11-23 05:00] Rupeshkoushik commented on #2200
Hi , I'm interested in this project can you suggest me ways to get started?

[2020-11-23 05:49] xiandong79 commented on #2709
has the same problem after I build with `mlpack-3.4.2` from source code in linux 18.04.

linux 18.04 has very old version of mlpack, I have to build it myself.

[2020-11-23 10:12] zsogitbe opened #2731 "ParallelSGD does not work as a drop-in replacement for SGD and it is not compatible with the rest of the code (does not compile)"
#### Issue description

ParallelSGD does not work as a drop-in replacement for SGD and it is not compatible with the rest of the code (it does not compile). SGD uses only 1 thread and therefore it is slow. It would be interesting to have a faster optimization if ParallelSGD would work. It seems to me that ParallelSGD is not worked out well. What is the reasons for this? Is it not a good algorithm?

[2020-11-23 17:00] rxng8 opened #2732 "RL Env: Frozen Lake Environment"
### What is the desired addition or change?

I would like to try implementing the Frozen Lake environment for MLPack RL ENvironment.

### What is the motivation for this feature?
Further information in addition to the mention in the IRC, I think that the Frozen Lake environment is beneficial to learners who are getting started to Q-learning.

[Frozen Lake](https://gym.openai.com/envs/FrozenLake-v0

[2020-11-23 19:17] ayushsingh11 commented on #2200
Hello Everyone, I am interested in implementing the Poisson loss function.
Can I start with this task?

[2020-11-23 19:54] NippunSharma commented on #2646
Hi @shrit @rcurtin . I have performed benchmarks between mlpack's csv parser and armadillo's csv parser. I made csv files of different sizes. Each csv file was made from a square matrix with number of rows equal to `N`. `N` was varied from 1 to 5000.
According to the benchmark, both the parsers **perform very similar** to each other with **no one being a clear winner.**
Here is a plot I made from

[2020-11-23 21:54] shrit commented on #2646
@NippunSharma Thanks for sharing these results, great work.
I would like also to increase the size of `N.N` from `5000` to `1000000`, and another one from `10*6` to `10*8` the reason for this is that most of the machine learning datasets are larger than `5000` so we can not be sure only be testing only a small amount of dataset.
Would it be possible to do these tests?

[2020-11-23 22:42] rcurtin commented on #2646
@NippunSharma thanks for running these benchmarks!  In most cases, like @shrit pointed out, the number of rows in the CSV will be many, and at the same time the dimensionality (number of columns) should be reasonably low.

Can you show the code that you used?  If you call `data::Load(filename, matrix)`, it will use Armadillo's CSV parser internally (take a look at `src/mlpack/core/data/load_impl.h

[2020-11-24 02:52] NippunSharma commented on #2646
@shrit @rcurtin
Thanks for taking a look at this. @rcurtin You are correct I will have to use a different overload of `data::Load ` to call boost spirit (which I for some reason overlooked). @shrit I will change the sizes to increase the number of rows. I will share the updated benchmarks along with the code I used. Thanks again.

[2020-11-24 10:42] ayushsingh11 commented on #2200
Hello everyone, I would like to take up the Triplet Margin Loss issue. @prince776 you are not still working on that, right?
Should I start afresh or review and comment on https://github.com/mlpack/mlpack/pull/2208?

[2020-11-24 11:22] zoq commented on #2200
@ayushsingh11 let's see if @prince776 comes back, but I guess the easiest would be to create a new branch and cherry pick the commits from #2208.

[2020-11-24 12:15] NippunSharma commented on #2646
Hi @shrit @rcurtin .
Based on your suggestions and reviews I performed the benchmarks once more. This time the csv files were created with number of rows varying from `1 to 1000000` as suggested by @shrit and the dimensionalities taken are `{5, 15, 25}`. Also as pointed out by @rcurtin I am now using boost spirit within mlpack (by calling the correct overload of `data::Load`). According to the res

[2020-11-24 14:09] ayushsingh11 commented on #2200
Thanks @zoq, will cherry-pick the commits and create a new issue of it subsequently.

[2020-11-24 15:07] xiandong79 commented on #2538
The long explanation is less powerful than an example.

and the correct way to test one point is:

[code]

[2020-11-24 15:28] rcurtin commented on #2538
Also, you could do this too:

[code]

(Technically your approach is better as it does not need to compute the transpose.)

[2020-11-24 23:24] #2676 closed

[2020-11-25 00:04] rcurtin commented on #2709
@xiandong79 if you have this problem, make sure that you remove any mlpack version you installed via `apt`.  You could also file a bug in the Ubuntu bug trackers asking them to backport a modern version of mlpack.  I've done this in the past, but never heard back.

[2020-11-25 01:02] rcurtin commented on #2599
@eddelbuettel sure, I just submitted it to CRAN.  @coatless sorry I didn't have time to do this earlier and asked for some help then---but things have freed up for me again and I can take on the task.  I am worried about this being a maintenance burden (especially since I don't speak R :smile:) but if we can get a system set up where I just send the tarball off to CRAN after each release, I can do

[2020-11-25 04:43] jeffin143 commented on #2722
@heisenbuug You can take the some of the bits from https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/preprocess/preprocess_describe_main.cpp

[2020-11-25 10:36] xiandong79 opened #2735 "mlpack train weighted DecisionTree using sample frequency"
@rcurtin @MHenderson @jeffin143   I have the same question:

in mlpack::DecisionTree, how to "Weights" associated with classes

with https://stackoverflow.com/questions/64029932/mlpack-train-weighted-decisiontree-using-sample-frequency

it is also a feature in `sklearn.tree.DecisionTreeClassifier`
https://scikit-learn.org/stable/modules/generated/sklearn.tree.DecisionTreeClassifier.html

[2020-11-25 11:32] xiandong79 commented on #2735
according to https://github.com/mlpack/mlpack/issues/882

it seems that `arma::rowvec& weights` is applied on each **data point**, instead of each **label** like sklearn.tree.DecisionTreeClassifier

[2020-11-25 19:24] #2592 closed

[2020-11-25 22:03] shrit commented on #2646
@NippunSharma Thanks for sharing these results, it seems that the spirit parser is close to linear while the armadillo one is `root(n)`
I did not think that the boost::spirit parser is that slow when loading only numbers from a csv file. I have no idea why is that slow, but at least we have an upper threshold when changing boost spirit.

[2020-11-25 22:48] zoq opened #2738 "conda environment - R bindings - can't find R modules"
This issue has to do with mlpack's R bindings in a conda environment. Ideally, if you're interested in solving this, you should be familiar with how these bindings are used, and have some knowledge of the automatic bindings system that generates these Python bindings, especially the cmake part.

#### Issue description

When I try to build mlpack's R bindings it fails because it can't find the nece

[2020-11-25 23:24] rcurtin commented on #2646
Wow, I am surprised!  I had thought that our boost::spirit parser was actually pretty fast, but apparently I was mistaken about this.

The big reason that we have the `boost::spirit` parser is that it can handle strings inside of a CSV file, and when it gets a string (or actually I think when it parses anything), it will call out to `DatasetMapper<MappingPolicy>` in order to map that string to a n

[2020-11-25 23:24] #2667 closed

[2020-11-26 07:20] Yashwants19 commented on #2738
I am not sure, why `FindRModule.cmake` is not working in your system.
Locally I am not able to reproduce the same error. Here is the output:
[code]

In our CMake script `Rscript` is responsible for finding these module, may be in your env `Rscript` is not working properly.
Can you please try to run `Rscript -e "find.package('Rcpp')"` and `R -e "find.package('Rcpp')"` in your conda env and see the

[2020-11-26 14:13] zoq commented on #2738
Output of `Rscript -e "find.package('Rcpp')`:

[code]
Output of `R -e "find.package('Rcpp')"`

[code]

Output of `Rscript -e "packageVersion('Rcpp')"`:

[code]

Output of `R -e "packageVersion('Rcpp')"`:

[code]

Btw. I'm building in a fresh docker container.

[2020-11-26 15:06] Yashwants19 commented on #2738
I guess the problem is here:
https://github.com/mlpack/mlpack/blob/f6a84dc2400f66a7e9969833bf01d4617e6d6b24/CMake/FindRModule.cmake#L28-L30
I think so by altering the regex, we can solve this.
I wrote this by keeping this(`[1] ‘1.0.5’`) into mind, but after looking at your output(`[1] '1.0.5'`) it seems that we expect different format also i.e (not `‘ ’` only this but also `' '` this).

[2020-11-26 18:26] NippunSharma commented on #2071
Hi @rcurtin I have opened a PR for this issue. It is a WIP but it will be helpful if you can go through it and check if my approach is correct or not

[2020-11-27 06:42] Lokesh-Jawale opened #2741 "The mlpack build failed after using make command"
c++: fatal error: Terminated signal terminated program cc1plus
compilation terminated.
make[2]: *** [src/mlpack/methods/kde/CMakeFiles/mlpack_kde.dir/build.make:82: src/mlpack/methods/kde/CMakeFiles/mlpack_kde.dir/kde_main.cpp.o] Error 1
make[1]: *** [CMakeFiles/Makefile2:3063: src/mlpack/methods/kde/CMakeFiles/mlpack_kde.dir/all] Error 2
make[1]: *** Waiting for unfinished jobs....
^Cmake[2]: ***

[2020-11-27 17:51] Abilityguy commented on #2625
Taking up FastLstm.

[2020-11-27 18:39] rcurtin commented on #2741
@Lokesh-Jawale I'm guessing that your system doesn't have enough RAM to compile mlpack.  Try compiling with only one core (i.e. `make` instead of `make -jX`), and try closing down other applications while compiling mlpack so that more RAM is available.  Typically compiling mlpack's tests with one core requires ~2-3GB of RAM. :+1:

[2020-11-28 03:26] allingo opened #2743 "build fail without MPL code included"
I had follow https://github.com/mlpack/mlpack/tree/3.4.2/src/mlpack/core/arma_extend. then build failed.

mlpack/src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression_main.cpp:110:1:   required from here
/usr/local/include/boost/serialization/access.hpp:116:9: error: ‘class arma::Mat<double>’ has no member named ‘serialize’

how to fix this?

[2020-11-28 06:04] rcurtin commented on #2743
Hey @allingo, make sure that you don't `#include <armadillo>` before `#include <mlpack/core.hpp>`.  This restriction won't exist in future versions of mlpack.  Basically, mlpack patches Armadillo during inclusion, but it can't do this if Armadillo has already been included.

[2020-11-28 06:56] Lokesh-Jawale commented on #2741
@rcurtin I tried building the mlpack with only ( make ) but it is still showing me the same error.

c++: fatal error: Terminated signal terminated program cc1plus
compilation terminated.
make[2]: *** [src/mlpack/methods/cf/CMakeFiles/mlpack_cf.dir/build.make:82: src/mlpack/methods/cf/CMakeFiles/mlpack_cf.dir/cf_main.cpp.o] Error 1
make[1]: *** [CMakeFiles/Makefile2:2658: src/mlpack/methods/cf/CMak

[2020-11-28 17:03] rcurtin commented on #2741
How much RAM do you have?  I suspect it isn't enough.

[2020-11-28 20:01] rcurtin commented on #2713
@zsogitbe can you tell us about the network structure you are using?  I actually think my initial diagnosis was not correct here---I think some layers may be (incorrectly) caching data, but I want to make sure I actually catch the situation you're reporting.  If you can paste some code that, when run, reproduces the issue, that would be best. :+1:

[2020-11-28 20:17] indrajeet2000 commented on #2625
Hi @himanshupathak21061998, I would like to work on AddMerge layer.

[2020-11-29 06:55] Lokesh-Jawale commented on #2741
I have 4gb ram and i3 2.30Ghz processor and 2gb nvidia graphics card.
What are the minimum system requirements for building mlpack.

[2020-11-29 12:44] NippunSharma commented on #2071
Hi @rcurtin the PR #2739 is completed. Can you take look at it ?

[2020-11-29 12:55] zsogitbe commented on #2713
Hi Ryan, you can use any of the RNN examples (stock or electricity for this). You will need to use the 'old' way of training per cycle with which you can have a prediction step after each cycle. We need this prediction step in order to see the evolution of the MSQ (regression) or accuracy (classification) and not only the 'loss'... Case 1: train the model without a prediction step and save the mod

[2020-11-30 18:07] AvikantSrivastava commented on #2625
If no one is working on MaxPooling and MeanPooling, I would like to take it.

[2020-11-30 20:20] zoq commented on #2741
Depending on how much memory you already use, this might be not enough, when you build mlpack you can track the free memory with `free -m` or `htop`. An easy solution might be to increase the SWAP size, if you already build with `make -j1`.

[2020-12-01 02:35] steva44 opened #2747 "Bug in RNN"
First, **thank you** to everyone for all of the great work!

In my testing of the RNN model, I seem to have found a bug. The issue is that when you call the `predict` function more than once, the results are different on the subsequent calls. This only happens after the first call. Every subsequent call results in a cube of predictions that is the same as the previous one. A simple example that de

[2020-12-01 13:02] RishabhGarg108 commented on #1254
Hey, I was recently looking at this issue. After reading the discussion here, I figured out that we need to do two things here -
1. A utility to parse the config file to build the model.
2. An actual CLI that would implement that model.

In my opinion, a simple text file would not suffice, because it is easier to think of the model in a structured way (json/xml)

Then, key question is "How do we p

[2020-12-01 13:11] zoq commented on #1254
What I had in my mind was to have some sort of config class that we could serialize and use it as an intermediate format to construct the model. Isn't that what the parse would do as well? I would expect that a config class something like:

[code]

Would look easy enough.

[2020-12-01 13:18] bkmgit commented on #1254
@RishabhGarg108 The following may be relevant:
https://www.khronos.org/nnef/
https://github.com/onnx/onnx/blob/master/docs/IR.md

[2020-12-01 13:42] rcurtin commented on #2731
This looks like an issue that should be opened in the ensmallen repository.  Nonetheless, the [documentation for ParallelSGD](http://ensmallen.org/docs.html#hogwild-parallel-sgd) points out that the API required for a function being optimized with `ParallelSGD` is slightly different than for regular separable differentiable functions, and suggests changes that you can make to your function's imple

[2020-12-01 14:12] zsogitbe commented on #2731
Thank you for your answer Ryan!

Would you recommend ParallelSGD for recurrent neural networks?

Please find an example project in attachment. This is a slightly modified former version of the RNN electricity consumption example. I have dropped in ParallelSGD instead of SGD. Things I have removed are signed with '//@-psgd' and things I have added are signed with '//@+psgd'. There are only a very f

[2020-12-01 14:16] zsogitbe commented on #2747
There is a bug in the code. Please  correct the code first with this pull request before going further: https://github.com/mlpack/examples/pull/138

[2020-12-01 15:08] rcurtin commented on #2731
I wouldn't---I don't expect an RNN (unless very specifically constructed) to have sparse gradients.  There may be other parallel SGD variants that could work for dense data and gradients but honestly I think that the best level of single-node parallelism for neural networks is not at the optimizer level but at the linear algebra level.  So if you are using OpenBLAS already then the large linear al

[2020-12-01 15:33] rcurtin commented on #2731
Ok, I see what's going on here.  The issue isn't actually anything with `ParallelSGD`; it's that the `RNN` class does not implement the sparse separable differentiable function API required by `ParallelSGD`.  As I mentioned earlier, it's not likely that an RNN will be able to make effective use of the Hogwild algorithm because the gradients will, in general, be fully dense.

In order to fix this i

[2020-12-01 15:55] zsogitbe commented on #2731
OK! I understand. I will close this issue.

[2020-12-01 15:55] #2731 closed

[2020-12-01 16:02] Lokesh-Jawale commented on #2741
I am new to open source and I want to contribute to the mlpack but I am unable to build it due the above issues(less ram)
can I just install mlpack instead of building it from the source and get familiar with it.
Or is it important to build mlpack from source and explore it .

[2020-12-01 17:42] RishabhGarg108 commented on #1254
@bkmgit , thanks for these resources. I will definitely look at them.
The ONNX thing looks great, because that way we can import models from all those other libraries that ONNX support.

I have no experience with parsing and stuff. So currently, I am trying and exploring various things, like what @zoq mentioned about a `Config` class etc.. I will also give ONNX a try and we will see what works bes

[2020-12-01 18:14] RishabhGarg108 commented on #1254
@bkmgit , I looked at both of these. It turns out that both of these tools are for interoperability and optimization of trained models across different frameworks and devices for making inferences. This is not exactly what we are looking for. Infact, all we want is just a simple way to define the architecture for an ann model and then be able to translate that into a mlpack ann model. I hope that

[2020-12-01 18:37] shrit commented on #2741
@Lokesh-Jawale What system are you using?

[2020-12-01 18:41] rcurtin commented on #2071
@NippunSharma thanks! I'll take a look. :+1:

[2020-12-01 19:06] steva44 commented on #2747
Hi @zsogitbe, I have updated the code in my first comment to match your pull request. I still get the same issue. Even if there is a bias in the training data, that should not make a difference when calling `predict` successively. The state of the model is changing when calling predict, irrespective of the data used to train the model.

[2020-12-01 19:43] zsogitbe commented on #2747
That sounds like the problem I have reported before caused by the Prediction which modifies the model (see https://github.com/mlpack/mlpack/issues/2713).

[2020-12-02 22:29] yurivict commented on #2687
So what do I do about these failures?

[2020-12-02 23:30] rcurtin commented on #2687
None of us have been able to reproduce these issues, and they have never been seen on any other platform or by any other user.  I have some belief that this is specific to your setup.  If I were you I might check the exact commands being used for build with `VERBOSE=1 make`, and make sure that these are actually what you expect on your system.  Sorry I can't provide any better support.

[2020-12-03 08:05] Lokesh-Jawale commented on #2741
fedora 33
intel i3 2.30Ghz
4gb ram
2gb swap

[2020-12-03 12:29] shrit commented on #2741
If it is very complicated to compile mlpack on your system, you can install mlpack directly if you are using `Fedora`. I believe that the Fedora package manager has a mlpack package inside.

[2020-12-03 13:56] gscarella opened #2749 "Problem with LARS when successive calls"
Hello,

### Issue description
I have a problem with LARS when I make several successive solutions with it, in Lasso computations (for an Active Set method).
One solution never ends and causes a memory leak (which is annoying) while the problem doesn't seem to be degenerated.

It seems there happens a problem of numerical precision in LARS::Train, it gets stuck in the main loop.

### My environment

[2020-12-03 16:05] Lokesh-Jawale commented on #2741
I have installed mlpack from package manager as you said.
Is it necessary to build mlpack from source if I want to contribute to mlpack?
I am new to open source can you please guide on how to get started?

[2020-12-03 19:43] CharanpreetSingh056 commented on #2294
Hey @kartikdutt18 , I was thinking to implement Adjusted R squared , since it is one of the of the key evaluation metrics used for regression tasks . Also I think I am halfway and will complete soon , should I go forward with the same ?

[2020-12-04 08:28] jknightmmcs opened #2750 "AdaBoost and RandomForest class weights"
Hey, people! Not sure if this is an issue, but I still don't understand the right way to do it.

Let's say we have imbalanced dataset (like one class being about 3-4x the other). Surely, training on such a dataset fails.

I've tried to fix that using _weights_ parameter for RandomForest (size equals a number of training samples, all weights equal **1** for class 0 and **num_0/num_1** for class 1).

[2020-12-04 22:24] rcurtin commented on #2750
Hey @jknightmmcs, I think that this support should work right.  With `AdaBoost`, there is actually no option to pass weights along with labels---the AdaBoost algorithm reweights misclassified points at each iteration of boosting, so it should be able to achieve perfect accuracy on the training set, under the single exception where there are two training points that are exactly the same points but

[2020-12-06 01:41] rcurtin commented on #2749
Hi @gscarella, thank you so much for the clear, easy-to-reproduce example.  I can indeed see that for some reason LARS is not converging in this case, but the reason is not trivially obvious to me yet.  As I find time I will try to dig to the bottom of what is wrong. :+1:  As a workaround, I am not sure if it will work, but you could try changing the `useCholesky` parameter, or changing the value

[2020-12-07 08:09] heisenbuug commented on #2722
@rcurtin, Hey I am sorry for being late on this, I've updated the code and also updated the issue and added a new section `Feature Description/Discussion` where we can document or update any specific feature if we need to track it for a long time.

[2020-12-07 10:47] jknightmmcs commented on #2750
@rcurtin, thanks for the fast response! Will think on what you said =3

[2020-12-07 13:53] gscarella commented on #2749
Hello,

I tried with useCholesky set to false but the problem remains.

To be more clear: at line 22 in test_lars.cpp, when the loop goes from Neuron 4 to 9 (= the last Neuron), computation completes but when the loop goes from neuron 0 to 9 as in the attachment, it doesn't work and gets stuck at Neuron 7.

Thanks

[2020-12-07 15:28] Sirish07 commented on #2741
Hey, I think you can increase your swap space (there are resources available on the net) and try building once again using "make" command.

[2020-12-08 08:09] PranavReddyP16 opened #2754 "Issue with libhdf5.so.103"
While running the make command I keep getting the output : /usr/bin/ld: warning: libhdf5.so.103, needed by /usr/lib/libarmadillo.so, not found (try using -rpath or -rpath-link)

I have even used export LD_LIBRARY_PATH=/usr/local/lib (which is where libmlpack.so is on my system) but the error persists.

Below is the stderr output when I run make :
https://pastebin.com/ZqsqKbr0

Any help is greatly

[2020-12-08 10:42] BJWiley233 commented on #1799
How to 'hand-compile Armadillo so that it finds the anaconda-provided HDF5 version and links against it.'?

[2020-12-08 13:05] shrit commented on #2754
@PranavReddyP16  Can you do  `locate libhd5.so` please?

[2020-12-08 13:43] PranavReddyP16 commented on #2754
@shrit this is the output I got :
/home/pranav/anaconda3/pkgs/hdf5-1.10.4-hb1b8bf9_0/lib/libhdf5.so
/home/pranav/anaconda3/pkgs/hdf5-1.10.4-hb1b8bf9_0/lib/libhdf5.so.103
/home/pranav/anaconda3/pkgs/hdf5-1.10.4-hb1b8bf9_0/lib/libhdf5.so.103.0.0
/usr/lib/libhdf5.so
/usr/lib/libhdf5.so.200
/usr/lib/libhdf5.so.200.0.0

[2020-12-08 15:44] shrit commented on #2754
@PranavReddyP16 As you can see you do not have `libhd5.so.103` installed you have only `libhd5.so.200`
The other one is installed by anaconda. If you do not activate anaconda environment, armadillo will never find `libhdf.s0.103`

[2020-12-08 15:47] Lokesh-Jawale commented on #2741
@Sirish07 Thanks for the solution . It worked for me.

[2020-12-08 15:47] #2741 closed

[2020-12-08 16:44] PranavReddyP16 commented on #2754
Oh yeah that makes sense thanks. I'm guessing it's better to install libhd5.so.103 instead of activating conda every time I want to run make?

[2020-12-08 19:04] PranavReddyP16 commented on #2754
@shrit thanks a lot after a few more tweaks everything works fine. I really appreciate the help

[2020-12-08 19:04] #2754 closed

[2020-12-08 22:32] coatless commented on #2738
@zoq I think with it being on CRAN, the `conda` bindings can be setup a bit more easily. I'll take a look into it this upcoming weekend.

[2020-12-09 02:52] coatless opened #2757 "Solaris issues for mlpack R bindings"
With `mlpack` now on CRAN, the library is now tested on Solaris.

The check matrix used by CRAN can be found here:

https://cran.r-project.org/web/checks/check_results_mlpack.html

Unfortunately, there are two notes appearing on the Solaris build causing it to fail. I've listed them inside detail tags to reduce the clutter of the ticket.

<details>
<summary>`floor()` usage without `x` being a `dou

[2020-12-09 02:56] eddelbuettel commented on #2757
Thanks James, we know. I also sent that along via DM.  The `florr` is being fixed, the `auto_ptr` is AFAIK a Boost issue which needs a compiler flag we may actually not be allow to set in `src/Makevars` (for not "being portable") and OpenMP works else where so ...

[2020-12-09 03:30] conradsnicta commented on #2757
The error seems to be this:
`./mlpack/core/util/prefixedoutstream_impl.hpp:182:41: error: call of overloaded ‘floor(int&)’ is ambiguous`

Cppreference has the following prototypes for std::floor():
https://en.cppreference.com/w/cpp/numeric/math/floor

The last one is applicable here: `floor(IntegralType arg)`.
The exact code in mlpack 3.4.2 is:

    int maxLog = log10(maxVal);
    maxLog = (maxLog

[2020-12-09 03:35] eddelbuettel commented on #2757
I am banging away at the Solaris builder at [RHub](https://builder.r-hub.io) -- after the `floor()` issue I have hit two similar ones with first GMM and then HMM where `log()` is applied on an int.  Silly compiler should really cast that up as C++11 generally does and we do set C++11 as the compilation standard....

[2020-12-09 03:36] eddelbuettel commented on #2757
Yes, it may fall back to the C level functions. I am currently just trying to see how many of these there are and am doing the 'poor man casting' of multiplying with 1.0.

[2020-12-09 03:55] eddelbuettel commented on #2757
It builds and checks on Solaris (yay!) with the quick-and-dirty diff below.  [Full check log here](https://builder.r-hub.io/status/mlpack_3.4.2.1.tar.gz-c9a57364d2ca4a8595dc196d9ada7ad0) (until it gets purged in two or three days).

[code]

As @conradsnicta hinted, picking `std::floor` or `std::log` should fix it too.

[2020-12-09 04:26] eddelbuettel commented on #2757
Cleaner patch that is [also working](https://builder.r-hub.io/status/mlpack_3.4.2.2.tar.gz-70153eb58e644d739392ac3a6fabb9a3):

[code]

[2020-12-09 12:05] PranavReddyP16 commented on #2709
I have tried to run the same code on my manjaro system and got this error :

 /usr/bin/ld: /usr/lib/libarmadillo.so.9: undefined reference to `H5Ovisit'
collect2: error: ld returned 1 exit status

I had got the same error while building mlpack from source but I was able to fix it by reinstalling armadillo. How can I fix this without having to do that every time?

[2020-12-09 12:58] eddelbuettel commented on #2757
Reports from clang and gcc on UBSAN are in with a lot of Boost noise, plus a lto check report with more `auto_ptr` and other stuff from Boost.  See https://cloud.r-project.org/web/checks/check_results_mlpack.html

[2020-12-09 19:40] PranavReddyP16 opened #2758 "issue compiling mlpack programs"
I was able to build mlpack perfectly fine but when I try to compile any mlpack program using `g++ main.cpp -o main -lmlpack -larmadillo -fopenmp -std=c++11` I get the following error :

/usr/bin/ld: warning: libarmadillo.so.9, needed by /usr/local/lib/libmlpack.so, may conflict with libarmadillo.so.10
/usr/bin/ld: /usr/lib/libarmadillo.so.9: undefined reference to `H5Ovisit'
collect2: error: ld re

[2020-12-09 20:58] zoq commented on #2758
From the error message it looks like you have armadillo 10.x and 9.x installed, can you make sure there is only one version installed, or you link against the version you build mlpack with?

[2020-12-10 13:07] PranavReddyP16 commented on #2758
@zoq I have reinstalled armadillo and made sure there is only one version on my system. Now I'm getting the error :

/usr/bin/ld: warning: libarmadillo.so.9, needed by /usr/local/lib/libmlpack.so, not found (try using -rpath or -rpath-link)

along with a bunch of other errors.But when I run `locate libarmadillo.so` it gives the result :
/usr/lib/libarmadillo.so
/usr/lib/libarmadillo.so.9
/usr/lib/

[2020-12-11 02:39] conradsnicta commented on #2757
@rcurtin Would be useful for the fixes proposed here to be part of PR #2755

[2020-12-11 03:24] eddelbuettel commented on #2757
A likely bigger issue now are the UBSAN gcc and clang reports, and the LTO report.  See https://cloud.r-project.org/web/checks/check_results_mlpack.html

[2020-12-11 03:51] Yashwants19 commented on #2757
If I am not wrong `LTO` is failing here:
<details>
<summary>LTO</summary>

[code]
</details>

 If so, then this patch might work.
[code]

[2020-12-11 04:05] Yashwants19 commented on #2757
For `UBSAN` I have tried to reproduce the error using [rhub::check_with_sanitizers()](https://builder.r-hub.io/status/mlpack_3.4.3.tar.gz-68bee74880da416cac93bc4aa6759a09) for master branch(now we are using _cereal_ for serialization) with the minimal R-bindings (only `test_r_binding()`), but it working fine with the master branch, Hence a new release might resolve the issue regarding ubsan.

Due

[2020-12-11 18:32] zoq commented on #2758
Make sure `/usr/lib/` in in your `LD_LIBRARY_PATH`, so you might have to add it, `export LD_LIBRARY_PATH=$LD_LIBRARY_PATH:/usr/lib/`. Also you can also build with: `g++ -L/usr/lib/`.

[2020-12-11 23:01] rcurtin commented on #2757
Thanks @eddelbuettel and @Yashwants19 for the patches!  I've applied them to #2755 but with a couple really minor changes:

 * That `floor(int)` was strange.  I reworked the code (`int` is already `floor`ed...) to simplify.  I applied the other `std::` changes.
 * I chose to rename visitors in `methods/rann/` instead, simply because `methods/neighbor_search/` is the "standard" neighbor search tech

[2020-12-12 07:00] Anmol2001 commented on #2200
Hello everyone , can I work on Binary cross entropy function?

[2020-12-12 21:46] rcurtin commented on #2523
Just one more thing---I think when #2763 is merged, there's nothing else to do here and we can mark it resolved. :)

[2020-12-12 22:08] PranavReddyP16 commented on #2758
@zoq I've tried both but im getting the same error for some reason. I actually tried setting the variable before and that didn't work. Now even when I tried linking with -L there's no difference either

[2020-12-13 03:52] Yashwants19 commented on #2757
I guess till the date we didn't submit any new release(3.4.2.1) to the _CRAN_, Hence I am purposing one more patch to that release, which will save from some upcoming error until we make an official mlpack release(4.0.0).
As mentioned by @eddelbuettel :

We have to take care of the provided subset of source boost serialization. All thanks to @eddelbuettel for providing prior information.

[code]
L

[2020-12-13 03:54] eddelbuettel commented on #2757
Thanks.  @rcurtin and I were briefly noodling over this too via Slack DMs.

[2020-12-13 08:44] NippunSharma opened #2764 "Adding Gaussian Process Regressor"
### What is the desired addition or change?
Adding a Gaussian Process Regressor into mlpack.

### What is the motivation for this feature?
GP regression is a powerful tool which can handle non linear data as well. It provides us with the confidence intervals along with
the mean prediction values. It would be a great addition to the probabilistic methods (#2667) in mlpack.

### If applicable, descr

[2020-12-13 08:45] NippunSharma commented on #2764
If everyone agrees on this I can start working on this ?

[2020-12-13 11:13] Anmol2001 opened #2765 "Use of Centroid of clusters in DBSCAN ?"
Hi all, I was going through the DBSCAN implementation and when I came  across :
  src/mlpack/methods/dbscan/dbscan_impl.hpp
I found that there is calculation of centroid of clusters in DBSCAN, but **DBSCAN is a density based scanning algorithm and** **there is no use of centroid of clusters** in it as it used the concept of epsilon , minpoints. Also I have gone through the Centroid function in the

[2020-12-13 14:00] conradsnicta commented on #2757
@Yashwants19 shouldn't this be `#if BOOST_VERSION >= 107500` instead of `#if BOOST_VERSION == 107500` ?

[2020-12-13 14:03] eddelbuettel commented on #2757
Good catch.  Also, we (as in me maintaining `BH` for `R`) jumped from 1.72 to 1.75 so I cannot tell you if that change from 1.75 or 1.74. or 1.74.  @rcurtin has a simpler fix of just defining `NULL_POINTER_TAG` off `BOOST_SERIALIZATION_NULL_POINTER_TAG` if the former is undefined.

[2020-12-13 15:06] eddelbuettel commented on #2757
Just FYI the overall progress for BH 1.75.0 and packages is monitored in [this issue at its repo](https://github.com/eddelbuettel/bh/issues/76).

[2020-12-13 15:24] rcurtin commented on #2765
You can see that there are a few overloads of `Cluster()`.  The one that does the real work of DBSCAN is not the one you've pointed out.  The code here is a convenience to the user, who may not just want cluster assignments but also the centroids associated with each cluster.

[2020-12-13 16:46] Anmol2001 commented on #2765
@rcurtin Yes, there are overloads of `Cluster()` (which has overloading for DBSCAN) , but I was referring here to `Centroid()`. Secondly as you said that additional information of centroids may be provided to the user but in many cases except spherical clusters, the centroid may lie outside the cluster, so will that be okay to provide it to the user?

[2020-12-13 17:34] rcurtin commented on #2765
There is no function called `Centroid()`.  I don't understand what you are asking here.  This functionality is provided as a convenience to the user, so that *if* they want to compute the centroids of their clusters afterwards, they do not need to do that manually.  If it is a setting where it does not make sense to compute the centroids of their clusters, they can call an overload of `Cluster()`

[2020-12-13 17:38] Anmol2001 commented on #2765
@rcurtin now it's clear .Thanks a lot .I am new here, and trying to get started.

[2020-12-13 18:12] #2700 closed

[2020-12-13 20:43] zoq commented on #2713
Thanks for the report, I'll take a look into the issue.

[2020-12-13 20:46] zoq commented on #2647
Ideally we can sort this out and make this part of mlpack 4.0 @Aakash-kaushik do you think you could open a PR with the code you already have? Happy to help you solve the remaining issues.

[2020-12-13 21:09] Aakash-kaushik commented on #2647
The thing right now is that I am going through my university exams, and to create a PR with the the code that i have right now i will have to sort a lot more bugs. If you can feel free to use the code from the [repo](https://github.com/Aakash-kaushik/ann_exp) i have and if we can wait until the starting of January i will be able to complete this experiment and if we don't see a performance drop or

[2020-12-13 22:05] rcurtin commented on #2709
@PranavReddyP16 I'm assuming that you're getting this error while compiling a C++ program that uses mlpack.  It looks to me like maybe you just need to add `-lhdf5` to your linker options.  Also, I am not sure if this is already what you've done, but I'd recommend installing Armadillo via your package manager (that way we are ensured that the HDF5 dependencies are installed and set up correctly).

[2020-12-13 22:33] rcurtin commented on #2749
@gscarella this was a very strange edge case that took a while to dig to the bottom of, but I think that I have solved it.  Can you try the fix in #2767 and see if this solves your problem completely?  The test case you gave now does complete successfully, but I haven't verified the results in any other way. :+1:

[2020-12-15 02:06] rcurtin commented on #2757
I took a look, and Boost 1.73.0 is where the name changes from `NULL_POINTER_TAG` to `BOOST_SERIALIZATION_NULL_POINTER_TAG`.  I adapted @Yashwants19's patch, applied it, and resubmitted to CRAN as 3.4.2.1.  Let's see what happens... :)

[2020-12-15 04:36] jeffin143 commented on #2764
Welcome @NippunSharma from all of us , I think this would be a nice addition to the code base

[2020-12-15 05:52] NippunSharma commented on #2764
Thanks @jeffin143 I will start working on this and try to open a PR soon.

[2020-12-15 14:50] gauravghati commented on #2590
Hey, Taking up GRU and adaptive max and mean pooling.
@rcurtin, could you keep this issue open?

[2020-12-15 15:17] gscarella commented on #2749
Thanks a lot @rcurtin  for the fix!
So the example in the bug report works for me too now.
But I have a large number of other examples to test with Lars solver, it may take me several days to check that everything is ok.
I will report it if a problem is found.

[2020-12-15 15:28] rcurtin commented on #2749
@gscarella sounds good.  I'll merge the LARS fix shortly, and then we can keep this issue open in case you find some other issue. :+1:

[2020-12-15 18:20] jeffin143 commented on #2523
Let's close the issue :)

[2020-12-15 18:21] #2523 closed

[2020-12-15 20:12] #2693 closed

[2020-12-16 08:09] NippunSharma commented on #2679
hi @rcurtin I was able to reproduce this issue (i think so) in python.

Code:

    from mlpack import linear_regression
    import pandas as pd
    import numpy as np

    df = pd.read_csv("data.csv")
    x_train = df[["col1", "col2"]].values
    y_train = df["y"].values

    print("Training data")
    print(x_train)

    d = linear_regression(input_model=None, lambda_=0., test=np.array([[0, 0]]),

[2020-12-16 08:57] heisenbuug commented on #2679
I am sorry @rcurtin  I was not able to work on this, I started working on some other issues, my bad. You can take this up @NippunSharma...

[2020-12-16 21:52] zoq commented on #2647
@Aakash-kaushik no problem, I can pick up what you did and continue, I'll keep you updated. Best of luck with your exams.

[2020-12-17 05:35] RishabhGarg108 opened #2773 "Disabling all the bindings by default."
As discussed yesterday in the IRC, some of the bindings are by default being built with cmake and it is cumbersome to manually switch them off since for most cases, people don't need them. So it might be a good idea to disable all of them by default.
For this, there are to approaches :-
1. To disable all the bindings by default. (suggested by @rcurtin and definitely a valid approach)
2. To add ano

[2020-12-17 08:15] Aakash-kaushik commented on #2647
Thank you so much.

[2020-12-17 14:05] ImperatorS79 opened #2774 "String table overflow while compiling with mingw"
#### Issue description

I tried to update mlpack package in msys2 (which is broken). Everything went well in 32 bits, but in 64 bits I have:
[code]
I came accross multiple stackoverflow article advising to add either `-O2/3` or `-Wa,-mbig-obj`, but it is already the case in mlpack

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Windows
 * compiler: gcc.exe (Rev6, Built by

[2020-12-17 14:13] rcurtin commented on #2774
Can you try `-Os` (optimize for size) instead of `-O2` or `-O3`?  I'm not sure that's the best long-term solution, but I just want to see if it works.

[2020-12-17 14:19] ImperatorS79 commented on #2774
I tried adding `-DCMAKE_CXX_FLAGS="-Os"` to cmake, but there are still `-O3` flags set:

[code]

[2020-12-17 18:24] ImperatorS79 commented on #2774
With `-Os` it compiles until 97% and then:
[code]

[2020-12-17 22:42] rcurtin commented on #2773
This is a nice issue for someone who has a little bit of knowledge with CMake and is looking to contribute. :+1:  I'd suggest the first of the two approaches (I think it would be easier), but either works.

[2020-12-18 01:02] RishabhGarg108 commented on #2773
I would like to go ahead with this. Through this issue, I can probably one more skill to my bag. :)
I would go with the first approach.
Can you suggest me where shall I start looking ?
Thanks!

[2020-12-18 03:18] xlindo commented on #2619
Sorry to bother, does anybody finish the work of _random forest regression_?

[2020-12-18 05:06] gauravghati commented on #2625
I'm taking `RecurrentAttention` and `ReinforceNormal`.

[2020-12-18 05:16] iamarchit123 commented on #2619
Hi @xlindo i had talked to Ryan Curtin  on this and he gave a paper which I am trying to imlpement. Please give me about 3 weeks will come back on this you could take up LSTM regressor till then.

[2020-12-18 05:18] Aakash-kaushik commented on #2647
Hey @zoq surprisingly I have got time gaps between my university exams so I will keep updating that repo.

[2020-12-18 08:43] steva44 commented on #2747
It passes the tests on my end. If it makes it into the codebase then this issue is addressed. Thanks!

[2020-12-18 14:21] jeffin143 commented on #2773
@RishabhGarg108 You can toggle the following https://github.com/mlpack/mlpack/blob/4d01fe5e911faec3fb450550ec6272a09c55eade/CMakeLists.txt#L64 , It is currently ON by default you can switch it off and same with others

[2020-12-18 16:24] RishabhGarg108 commented on #2773
Thanks @jeffin143 !

[2020-12-18 17:55] zoq commented on #2774
We have the same issue on Windows with MSVC, where we have to add `-Wa,-mbig-obj` to the build flags so can you `-DCMAKE_CXX_FLAGS="Wa,-mbig-obj"`.

[2020-12-18 17:57] zoq commented on #2738
Ohh, yeah, totally.

[2020-12-18 18:30] RAVANv2 commented on #2679
Hii @rcurtin I would like to go with this issue!!!
 Can I?

[2020-12-18 18:58] NippunSharma commented on #2679
Hi @RAVANv2 , thanks for wanting to contribute but I have started already started working on this, maybe you can take some other issue :)

[2020-12-18 19:35] BJWiley233 opened #2775 "c++: fatal error: Killed signal terminated program cc1plus"
Hi,
My build always fails around 84% when building the first *test.cpp because it runs out of memory.  I only have 8GB memory.  Is it required to build these tests?  Or is there a way to do it with less memory.
Brian

[2020-12-18 20:01] shrit commented on #2775
Hello,
If you can, would it be possible to increase the size of your swap partition?
This might help in resolving the issue.
Also, try to reduce the number of core used. By using `make -j1`
Do not hesitate in asking if the problem persists.

[2020-12-19 00:40] BJWiley233 commented on #2775
Thanks seems to be working now.  I now have issue that building with R bindings cannot find my Rcpp package.  Is there no -D options to set the libraries location for R?  On linux this would be under `/home/user/R/x86_64-pc-linux-gnu-library/4.0` but the binary is under `/usr/bin/R`.

[2020-12-19 01:01] BJWiley233 commented on #2775
Seems like since using root privileges my R `.libPaths()` needs to be update to also include that folder.  Let me try setting that.

[2020-12-19 02:15] BJWiley233 commented on #2775
Ugh almost there.  Now got error from this file in R bindings.  Seems there is missing a ')' in the build in file `src/mlpack/bindings/R/cmake_install.cmake:41` see below.  Is this an error in the generated file from `make` or just a one off mistake?
[code]

[2020-12-19 02:34] BJWiley233 commented on #2775
Look like you are missing a ")" here in file `mlpack/src/mlpack/bindings/R/CMakeLists.txt`.  Also package is spelled wrong but nobody will care :)
![Selection_019](https://user-images.githubusercontent.com/26236052/102678818-cca24680-4178-11eb-9a40-2a6846930a2f.png)

[2020-12-19 04:49] BJWiley233 commented on #2775
One last question since I got mlpack to finish installing.  It installed the R bindings as package to my R library but during installation it found my anaconda `site-packages` folder for some requirements which is good and I assumed that the mlpack python package would also be installed under the anaconda `site-packages` but it's only in the `build` bindings directory.  So now I don't know where t

[2020-12-19 14:12] ImperatorS79 commented on #2774
Already done, does not work :/.

[2020-12-19 21:45] coatless commented on #2738
@zoq should appear on `conda-forge` shortly. Added a recipe for `r-mlpack` in conda-forge/staged-recipes#13523.

[2020-12-19 21:46] zoq commented on #2738
You are awesome.

[2020-12-20 17:12] jeffin143 commented on #2775
Cc @Yashwants19 , since you have written the code , could you answer

[2020-12-21 01:33] xlindo commented on #2619
Many thanks.

[2020-12-21 21:56] pietglas commented on #2775
About the memory greediness: would it be an idea to add this as a warning in the readme for eager and unexperienced people? :) My computer crashed when i tried to built the first time. Increasing swap size and building single core indeed resolved the issue, i needed about 8 gb of free memory.

[2020-12-22 02:49] rcurtin commented on #2775
@BJWiley233 I believe moving the `mlpack/` folder into `site-packages` should work, and I think the only files that should be necessary are the `.py`, `.pyx`, `.pxd`, and `.so`/`.dylib` files (depending on if you're on Linux or OS X).  The `generate_*.cpp` and `generate_*` programs shouldn't be necessary.

@pietglas yeah, that would be a good idea for now.  But we have had *lots* of reports like t

[2020-12-22 03:03] rcurtin commented on #2747
Awesome, thanks for checking that @steva44! :+1:

[2020-12-22 03:05] rcurtin commented on #2722
@heisenbuug sounds good.  It's probably worth taking a look at the style and design guide (https://github.com/mlpack/mlpack/wiki/DesignGuidelines) to make sure that what you're implementing matches the conventions we are using. :+1:  I'll take a look at #2727 when I have a chance.

[2020-12-22 08:49] Yashwants19 commented on #2775
Thanks @jeffin143 for including me here. Thanks @BJWiley233 for reporting the issue -- definitely R-bindings installation process is not working properly. Soon I will open a PR to resolve this. :+1:

[2020-12-22 09:04] Yashwants19 commented on #2599
As now we are on _CRAN_, we can close this.

Thank you @rcurtin @eddelbuettel @coatless @conradsnicta  for all the help and the process. You people are the best. :+1:

[2020-12-22 09:04] #2599 closed

[2020-12-22 19:57] coatless commented on #2757
I think this can be closed out as 3.4.2.1 hit CRAN on 12/18 and resolved the major problems :tada:.

The only issues that remain are a few UBs around boost that are "upstreams" problem.

- https://www.stats.ox.ac.uk/pub/bdr/memtests/clang-UBSAN/mlpack/tests/testthat.Rout
- https://www.stats.ox.ac.uk/pub/bdr/memtests/gcc-UBSAN/mlpack/tests/testthat.Rout

[2020-12-22 19:59] coatless commented on #2757
Addressed in #2755.

[2020-12-22 19:59] #2757 closed

[2020-12-23 11:56] r00t3r-god commented on #2775
I know this has been already answered, but I faced the same problem today while building mlpack.. [this](https://stackoverflow.com/a/47374605/9138660) worked for me

[2020-12-23 17:59] zoq opened #2779 "Remove boost::variant from neural network code"
This is a follow-up for https://github.com/mlpack/mlpack/issues/2647. Based on the experiments in https://github.com/mlpack/mlpack/pull/2777 we figured it makes sense to remove the boost::variant approach. This should not only make it easier for new-comers to contribute to the network codebase (the boost::variant and visitor approach can be confusing) but also reduce the memory usage during the bu

[2020-12-24 09:37] BJWiley233 commented on #2775
So I just realized that the python bindings got installed to `/usr/local/lib/python3.7/site-packages/mlpack-3.4.2-py3.7-linux-x86_64.egg/mlpack` instead of `/home/coyote/anaconda3/lib/python3.7/site-packages` despite setting the `-D` flag for `PYTHON_EXECUTABLE=/home/coyote/anaconda3/bin/python` in full cmake call below.  I don't even have a python installation in my `/usr/local/bin`.  Is there po

[2020-12-25 14:28] Anmol2001 commented on #2625
I am taking `Reparameterization` and `Select`

[2020-12-25 16:35] RishabhGarg108 commented on #2668
@alexhallam @rcurtin , I would like to work on "naive model". Shall I go ahead with it ?

[2020-12-25 16:38] alexhallam commented on #2668
@RishabhGarg108 please do.

[2020-12-26 07:13] prince776 commented on #2200
Thanks, @ayushsingh11 for completing the Triplet Margin Loss PR.
Sorry for the late response, I was off from Github for quite some time so I didn't respond.

[2020-12-26 07:16] Yashwants19 commented on #2773
Addressed in #2782.

[2020-12-26 07:16] #2773 closed

[2020-12-27 18:08] ayushsingh11 commented on #2590
Hi all, can I take up multihead_attention, multiply_constant and multiply_merge? @rcurtin

[2020-12-28 17:17] kaushal07wick commented on #722
hello, I would like to help fixing these problem  Is this still open. thanks

[2020-12-29 07:08] kaushal07wick commented on #2779
hey @zoq ! Is this issue still open I would like to fix this problem. Thanks

[2020-12-29 09:35] nishantkr18 commented on #2360
Hey everyone! is this issue resolved?

[2020-12-29 10:08] NippunSharma commented on #2679
Hi @rcurtin I have opened #2787 , which adds `no_sanity_checks` option to the python bindings. Please take a look at it whenever you have time.

[2020-12-29 16:14] mrityunjay-tripathi commented on #2360
Hello @nishantkr18, yes the confusion was sorted out. Looks like previous comments are removed?!? [This discussion](https://discuss.pytorch.org/t/does-nllloss-handle-log-softmax-and-softmax-in-the-same-way/8835) resolved "my" confusion.

[2020-12-29 17:12] #2721 closed

[2020-12-30 05:23] RishabhGarg108 commented on #2005
The issue has been tackled in #2714 and #2724 . Can we close this one now ?

[2020-12-30 13:50] Anmol2001 commented on #2294
hey @kartikdutt18  I am trying to work on SSIM .

[2020-12-30 17:39] gauravghati commented on #2668
Hey @alexhallam, can I work on STL decomposition?

[2020-12-30 23:43] zoq commented on #2779
@kaushal07wick yes, see https://github.com/mlpack/mlpack/pull/2777 for a list of layers that aren't taken up.

[2020-12-30 23:46] rcurtin commented on #2774
I see, looks like the `-Os` gets overwritten like you said.  Maybe it is worth a shot trying and modifying `CMakeLists.txt` to comment out lines 259 and 260 in `CMakeLists.txt`?  (That should disallow the `-O3` option, and then hopefully `-Os` should work.)

I think some refactoring that we are doing now in #2779 and #2777 may be helpful here, and it may be that the easier thing to do here is wait

[2020-12-31 07:20] kaushal07wick commented on #2779
Ok thanks I would look onto it.

[2020-12-31 17:25] ImperatorS79 commented on #2774
I already modified the CMakeLists.txt to be sure to only have -Os and it does not work.

Yeah let's see what those PR will do ^^.

[2020-12-31 20:42] laszlzso opened #2791 "Compatibility with the new Apple M1 architecture"
Was wondering to what extent mlpack supports the new M1 architecture of Apple machines (or the other way around) released in November 2020. I presume that everything should work just fine on M1 (perhaps via the Rosetta 2 compatibility layer?), however, note that the library is built on top of a few dependencies (especially Armadillo and Boost) and comes with a couple of bindings (Python/R/Julia/Go

[2021-01-01 05:11] ShikharJ commented on #2005
@rcurtin I took a brief view over @RishabhGarg108's PRs, I believe they seem to fix this issue, and look good to me. I'll leave it to you to make the final call regarding closing this issue. Also, I must apologize, I'm unable to find much time these days to contribute.

[2021-01-01 22:56] rcurtin commented on #2791
I don't have an M1 machine, but at least from the mlpack level I would expect everything to work fine.  The only "tricky" dependency might be OpenBLAS since it's often tuned specifically to architectures, but it looks like it at least works fine based on this issue: https://github.com/xianyi/OpenBLAS/issues/2814

[2021-01-02 03:12] #2735 closed

[2021-01-02 18:50] coatless commented on #2738
@zoq now on `conda-forge`

https://anaconda.org/conda-forge/r-mlpack

This can be closed out.

[2021-01-02 22:12] #2732 closed

[2021-01-03 01:48] lltempacc opened #2796 "Block Kyrlov Method Potentially Unstable"
The Block Krylov Method is potentially unstable in floating-point arithmetic, https://arxiv.org/pdf/2002.01387.pdf (see algorithm 10). A Block Lanczos method can be implemented (algorithm 11 or another Lanvzos variant) to alleviate this issue.

[2021-01-03 20:03] zoq commented on #2796
Wow great survey, thanks for the reference, have to take a closer look.

[2021-01-04 01:32] gauravghati commented on #2668
Hey @alexhallam @rcurtin, can I work on the Seasonal Naive model?

[2021-01-04 01:33] alexhallam commented on #2668
Yes

[2021-01-04 05:29] hello-fri-end commented on #2796
Is this issue still open? I can read up on Block Lanczos method and try to implement it.

[2021-01-04 05:39] lltempacc commented on #2796
I am glad you like the survey. The implementation of Block Lanczos should be mostly straightforward. However, an issue is that for systems where these methods converge slowly (small spectral gap) is that many subspace iterations may be needed to converge the singular values/vectors. The double reorthogonalization step scales poorly with this (as you need to reorthogonalize against all previous bas

[2021-01-04 06:03] hello-fri-end commented on #2796
Thank you for the response. I'm relatively new to Machine Learning. I'll give the article a thorough read and let you know if I face any issues. :)

[2021-01-04 16:04] gauravghati opened #2798 "Errors from Static Code Analysis Report"
#### Issue description
- Below is the list of errors and warnings from the static code analysis report of PVS-studio.
- For more details like the error type and line number of the error, you can view  [the HTML format](https://gauravghati.github.io/StaticCodeAnalysisReport/) of the report.
- You can pick any of the unchecked errors from the list, and work on them.

#### Steps to resolve a few issu

[2021-01-04 16:35] NippunSharma commented on #1254
@rcurtin @zoq Can I work on this issue, it has been inactive for some time now ?

[2021-01-04 20:12] #2743 closed

[2021-01-05 13:53] aresword opened #2799 "title icon"
![image](https://user-images.githubusercontent.com/64397104/103653928-2dff4d80-4fa0-11eb-8b76-80945c5a8ca6.png)

![image](https://user-images.githubusercontent.com/64397104/103653969-3d7e9680-4fa0-11eb-883d-7dc8fe9edd24.png)

Ah,I think you should add an icon to make your website more beautiful.

[2021-01-05 13:58] zoq commented on #2799
@aresword ohh yeah that would be great, I guess we could use https://www.mlpack.org/static/img/mlpack-logo.svg.

Also the icon should probably go into the static folder here - https://github.com/mlpack/mlpack.org/tree/master/html, we have another repository for the website - https://github.com/mlpack/mlpack.org.

[2021-01-05 18:41] ashwin2000 commented on #2181
Hey @kartikdutt18. I am new to the community of open-source contribution. I was going through the thread and found many PRs went stale. Is it ok if I try working on one of those activation functions? and if I do, do I open a new PR? I was thinking of working on ISRU or Inverse Square Root Linear. Also if I can't work on them can I work on RRelu or AdaptiveLogSoftmaxWithLoss?

[2021-01-05 20:53] rcurtin commented on #2738
Awesome, I'll go ahead and close the issue. 🚀

[2021-01-05 20:53] #2738 closed

[2021-01-05 20:56] zoq commented on #2181
Please feel free to pick any PR that went stale, ideally you can take what's already there (e.g. use git cherry-pick) and finish it.

[2021-01-05 21:04] rcurtin commented on #2005
@ShikharJ thanks for taking a look! @RishabhGarg108 I agree---let's go ahead and close this issue then. Thanks for putting time into fixing the issues, and sorry that I wasn't able to be a part of the review process. :+1:

[2021-01-05 21:04] #2005 closed

[2021-01-06 00:49] dmalecaut opened #2800 "Master doesn't compile on Ubuntu 21.04"
#### Issue description

Master doesn't compile on Ubuntu 21.04

#### Your environment

 * version of mlpack: master
 * operating system: Ubuntu 21.04
 * compiler: GCC 10.2.1
 * version of dependencies (Boost/Armadillo): develop/10.1.x branches
 * any other environment information you think is relevant: Under docker

#### Actual behavior

Compiler error generated:

FAILED: src/mlpack/methods/adaboo

[2021-01-06 11:58] zoq commented on #2800
Hello @dmalecaut most probably you run out of memory, in some situations mlpack needs about 6GB of free memory. There are some ways you can workaround the issue e.g. by disabling some of the bindings or executables, another option would be to increase Swap or build with less cores.

Can you track the free memory during build?

[2021-01-07 13:19] MarkFischinger opened #2801 "Problem with saving/loading DQN models"
I managed to build and train a DQN with mlpack, but now when I want to save it I always get the same output (model.txt):
```22 serialization::archive 17 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0```

Here is my code:
[code]
If I want to output the parameters from the model:
 ```std::cout<<model.Parameters()<<std::end; ```

Output:
``` [matrix size: 0x0] ```

### My Questions:
What am I doing wrong that

[2021-01-07 13:31] shrit commented on #2801
[code]

Would it be possible to try to remove `std::move`? and pass directly `model`

[2021-01-07 14:06] MarkFischinger commented on #2801
Thank you very much for your help. It worked!
However, I am a little confused because I have this section of my code from your documentation: https://www.mlpack.org/doc/mlpack-git/doxygen/rltutorial.html#environment_rltut (At the bottom)
 and I wonder why it is written with std::move when you can do it without and it makes saving possible.

[2021-01-07 16:00] zoq commented on #2801
We switched to passing the model by reference in https://github.com/mlpack/mlpack/commit/1e0912ec47414e04d11f603ee2feb70cd87d942e#diff-a777a60e845222a07b62a88d88aeddeeaae8908e9c04234675c0920edc4e039b, will update the documentation, thanks for the info.

[2021-01-07 17:19] dmalecaut commented on #2800
Hi @zoq increasing the memory limit to 8gb and swap space to 2gb did the trick (as opposed to the default 2gb and 1gb respectively). I severely underestimated how much of a memory hog templates can be!

Many thanks!

[2021-01-07 17:19] #2800 closed

[2021-01-08 15:55] aresword opened #2802 "About Great Firewall of China"
GFW blocked normal download. Actually,it's difficult to solve such a problem.
Many articles told me to do this in powershell:
$env:HTTP_PROXY="localhost:port"
$env:HTTPS_PROXY="localhost:port"
I found that didn't work, I don't know why, but I found a simple solution to this problem.
1.Visit the error website by proxy
2.Save page as...
3.Find the empty file in the "/vcpkg/downloads/temp", copy its

[2021-01-08 15:57] aresword commented on #2802
Why?I didn't add 'bug report' label.

[2021-01-08 16:02] aresword commented on #2802
It is said that foreigners hate Chinese now. It embarrassed me. I just hope we don't have a political stance on academic issues.
:)

[2021-01-08 16:14] rcurtin commented on #2802
Ahh, that's unfortunate.  Does it work to download directly from mlpack.org?

[2021-01-08 20:01] zoq commented on #2802
Yeah, I guess if you can access mlpack.org e.g. if you can download - https://www.mlpack.org/files/mlpack-3.4.2.msi we could put the Vcpkg package on mlpack.org as well.

[2021-01-09 00:12] #2687 closed

[2021-01-12 15:47] Quicksilver466 opened #2804 "Error while executing R2 score"
I am getting a couple of errors in the R2 score. Specifically on 3rd last line in Evaluate function.
So this is the code in which I am getting error

[code]
The errors are

[code]
I am a newbie so I might be wrong but the errors seems to be on the library's side. According to me the first error could solved by adding a const to _arma::rowvec& predictions_ parameter here:
https://github.com/mlpack/

[2021-01-12 15:52] rcurtin commented on #2804
I think that `ResponsesType` for `R2Score` needs to be set to `arma::rowvec`; so try changing the line in your code

[code]

to this:

[code]

I *think* that should fix the issue you are seeing. :)

[2021-01-12 15:55] rcurtin commented on #2804
Actually, sorry, I took a slightly closer look.  You should also change the type of `Y` to just be an `arma::rowvec` too---it only needs to be a vector, because linear regression responses are one-dimensional.

In fact, the compiler should also be able to infer types correctly for `r2.Evaluate()`.  So once you change the type of `Y`, you could even do `r2.Evaluate(lr, X, Y)` and that should work f

[2021-01-12 17:31] Quicksilver466 commented on #2804
Ah yes that solves it. Thanks a lot! and sorry I completely missed that in the documentation.

[2021-01-12 17:31] #2804 closed

[2021-01-12 17:50] rcurtin commented on #2804
If the documentation is unclear and you have suggestions for how it could be improved, please feel free to suggest changes! :)

[2021-01-12 22:38] hello-fri-end commented on #2796
I'm sorry for the late response. It took me a while to get my head around Randomized SVDs. I found a reference online for the Block Lanczos method with partial reorthogonalization:

http://www.math.kent.edu/~reichel/publications/blklbd.pdf ( Algorithm 2.1)

Is this what are you were talking about?

[2021-01-13 05:14] rxng8 commented on #2798
Is this issue available? I can work on some of the checkbox.

[2021-01-13 05:54] gauravghati commented on #2798
@rxng8 Yes, Issue is available, go ahead.

[2021-01-13 10:19] Quicksilver466 commented on #2804
No no that was completely my fault. So no specific suggestions as of now. :+1:

[2021-01-13 10:48] ashish-hacker opened #2805 "A typo in wiki page"
#### Problem location
[link](https://github.com/mlpack/mlpack/wiki/SummerOfCodeIdeas)

#### Description of problem
It's a typo. It should be "In recent" rather than "Inr ecent".
![Screenshot from 2021-01-13 16-16-56](https://user-images.githubusercontent.com/54330052/104442248-d02fbe80-55ba-11eb-901e-6a5127c7d75a.png)

[2021-01-13 11:12] #2750 closed

[2021-01-13 20:07] abhivarma07 commented on #2625
Hey , I am new to open source projects and really excited to contribute to MLpack .
So any pre-requisites to start ? or can I just take up this issue ??
What are the layers that are still left to get copy and move constructors ?
Thanks in advance for helping :) .

[2021-01-13 21:03] zoq commented on #2805
You are absolutely right, fixed, thanks.

[2021-01-13 21:03] zoq commented on #2805
Btw. nice picture is that you in the helicopter?

[2021-01-14 06:28] ashish-hacker commented on #2805
I wish it's mine, But it's not haha. It's a random pic from internet, I liked the view of the pic and also it's kinda reminds me of GitHub (Feels weird?) haha.
Btw glad you also liked it.

[2021-01-14 06:32] ashish-hacker commented on #2805
Btw why is this issue still open?
I am looking at the codebase of mlpack and beginner friendly issues to start collaborating : )

[2021-01-14 06:36] ashish-hacker commented on #2799
Is someone working on this? Or can I take this?

[2021-01-14 06:58] NippunSharma commented on #2071
@rcurtin can we close this ? now that #2739 is merged.

[2021-01-14 07:33] #2765 closed

[2021-01-14 07:34] Anmol2001 commented on #2765
The concern was discussed and understood. : )

[2021-01-14 11:18] zoq commented on #2799
Just merged, https://github.com/mlpack/mlpack.org/pull/42 which solves the issue.

[2021-01-14 11:18] #2799 closed

[2021-01-14 11:20] Abilityguy commented on #2444
Little late here but wanted to point out that the Hinge Embedding Loss actually implements the Hinge Loss in [tensorflow ](https://www.tensorflow.org/api_docs/python/tf/keras/losses/hinge). The implementation can take both labels that are 0 or -1 and labels that are 1 or -1. If labels are 0 or 1, it temporarily converts them to -1 or 1 and calculates the loss.

However, the implementation is wrong

[2021-01-14 20:56] zoq commented on #2805
Yeah, the picture is really nice.

Nice, let us know if there is anything we can help with.

No reason, closing it now.

[2021-01-14 20:56] #2805 closed

[2021-01-17 17:40] NippunSharma commented on #2646
Hi @rcurtin @shrit . Sorry that I was not able to devote more time to this as I was caught in other PR's and then my semester exams also came but there is some free time between the exams now and I can devote time to this. From the benchmarks I think it was clear that we should remove the boost spirit dependency. Should I go ahead and read about the csv parsers mentioned by @rcurtin ? Also, I was

[2021-01-17 18:48] NippunSharma commented on #2764
can we keep this open ? as discussed with @rcurtin on IRC this is not the right time for adding a gaussian process regressor but we might want to add the same in the future.

[2021-01-18 11:20] mercierc opened #2809 "Relevance Vector Machine"
### What is the desired addition or change?
I have a code for the Relevance Vector Machine and bayesian linear regression associated with an ARD prior at the same time.

### What is the motivation for this feature?
I appreciate this model for its sparsity and its ability to handle non linear data. As a probability model, it returns pdf intead of a point estimate and optimizes automatically thanks

[2021-01-18 15:07] jeffin143 commented on #2809
Hi @mercierc , You have aldeardy contributed Bayesian ridge regression ❤️  and we would love another model to be part of our arsenal, Please go ahead and open a pull request so that someone might help you and provide you with the suggestions.

[2021-01-18 16:24] rcurtin commented on #2809
100% agreed with @jeffin143! :+1:

[2021-01-18 23:12] #2758 closed

[2021-01-19 01:17] hello-fri-end commented on #2625
Hi ! Are there any layers that are left?

[2021-01-19 02:55] rcurtin commented on #2646
No worries @NippunSharma.  I think there's no need for anything as complex as PEGTL.  Really all we are using `boost::spirit` for is a generic CSV parser.  Maybe we can find a simpler solution for that problem, or implement a simple CSV parser by hand. :+1:

[2021-01-19 19:36] #2809 closed

[2021-01-19 22:12] #2709 closed

[2021-01-19 22:13] #2713 closed

[2021-01-20 18:10] ananis25 opened #2812 "[Question] C bindings to mlpack"
Hi
I wanted to use the mlpack library from a C runtime (Dlang specifically, which has very convenient interop with C). The C++ library code doesn't look to have C linkage, but looking at the PR history, Go and Julia bindings apparently auto generate C header files which can then be used by tools like `cgo` at runtime to use mlpack methods.

Is it possible to use those C header files along with a p

[2021-01-21 13:56] hello-fri-end commented on #2798
Is there something left to do here?

[2021-01-21 17:12] #2749 closed

[2021-01-23 01:05] hello-fri-end commented on #2200
Is there anything left to do here?

[2021-01-23 19:08] rcurtin commented on #2812
Hey @ananis25, I had been thinking about this exact issue some months ago.  You are exactly right that both the Go and Julia bindings first generate C bindings, then turn around and bind those C bindings into Go or Julia respectively.

I believe that it is possible to do exactly what you are hoping to do, but a little bit of fighting might be needed to make it work.  So here are two possible direc

[2021-01-24 00:05] hello-fri-end commented on #2590
Hi! Can I take up minibatch_discrimination and bilinear_interpolation? @rcurtin

[2021-01-24 17:37] rcurtin commented on #2590
If it hasn't been done yet, feel free to open a PR. :+1:

[2021-01-24 21:36] rcurtin commented on #2775
@BJWiley233 #2797 is merged now, so now you can specify `PYTHON_INSTALL_PREFIX` and it should install to the desired location. :+1:  Feel free to reopen this issue or open a new one if you find any more problems. :)

[2021-01-24 21:36] #2775 closed

[2021-01-25 11:17] naveenmiriyalu opened #2816 "Bayesian Linear Regression Usage on a Real World Dataset"
Hi Folks,
   I am currently working on comparing MLPACK(latest master commit) with various software stacks. I have found  mlpack benchmarks github(https://github.com/mlpack/benchmarks]) served as good starting point to get to know the benchmarks and their usage.
   I am having difficulties in trying to understand the output of the bayesian linear regression .
 I have taken the higgs dataset ( http

[2021-01-25 23:16] rcurtin commented on #2816
Hi @naveenmiriyalu, I'm not sure what the objective of your simulation is.  Actually there is a bug in the code that's never been addressed that causes it to sometimes output `0x0 matrix` incorrectly.  I'll open an issue for that, but I don't think that you need to be worried due to this output:

[code]

Anyway, like the warning says, no results are being saved anywhere:

[code]

Based on the time

[2021-01-25 23:33] rcurtin commented on #2071
Sorry for the slow response---I just wanted to test that the issue was solved by running the example above.  It works great!  This is awesome:

[code]

Thanks @NippunSharma!

[2021-01-25 23:33] #2071 closed

[2021-01-26 00:24] rcurtin commented on #2796
It would be great, if we implement this, to try and find a test case where block Krylov is unstable but block Lanczos works fine.  Definitely would be super awesome to add though. :+1:

[2021-01-26 11:54] naveenmiriyalu commented on #2816
@rcurtin Thanks a  lot for your answer :) This helps as the message 0x0 was a bit misleading .  I am looking at mlpack for opportunities to analyze and improve the performance of  MKL and OpenBLAS software libraries for machine learning algorithms/workloads .

[2021-01-26 23:19] rcurtin opened #2817 "CLI bindings give incorrect matrix size output"
#### Issue description

The CLI bindings sometimes show `0x0` as the matrix size incorrectly.  See the reproduction below.

Note that this isn't the case with every binding!  Most likely, this is because sometimes `std::move()` on a matrix held in `IO`, and then at the end of the program, when the size of the matrix is computed for printing, the matrix is empty, so a size of `0x0` is given.

I am

[2021-01-26 23:20] rcurtin commented on #2816
Ok, I opened #2817 to track the misleading output. :+1:

That's an exciting task you're working on, and I think we have a good set of algorithms that work MKL or OpenBLAS pretty hard. :)

[2021-01-28 03:13] #2747 closed

[2021-01-28 14:08] NippunSharma opened #2818 "Runtime crashes in Google Colab when wrong input shape is given."
#### Issue description

While using `adaboost` (through python bindings) inside google colab environment the runtime restarts automatically instead of throwing an error when wrong input shape is given.

#### Your environment

 * version of mlpack: 3.4.2
 * operating system: Ubuntu 18.04 (or whatever google colab provides you with)

#### Steps to reproduce

Refer to the following [notebook](https:/

[2021-01-28 15:30] rcurtin commented on #2818
That's not good---is there any backtrace at all or anything?

[2021-01-28 15:39] NippunSharma commented on #2818
No, there was no backtrace or any other output. Do you have any idea as to why this might be happening ?

[2021-01-28 15:39] rcurtin commented on #2818
Hmm, can you try running it in a local Python session?  I wonder if the C++ code is throwing an exception, but this is not being propagated back to Python correctly.

[2021-01-28 15:46] NippunSharma commented on #2818
Same thing is happening locally, the kernel dies after I run the cell.

[2021-01-28 15:56] rcurtin commented on #2818
Sorry, I meant to try it in a local Python session, not in a local notebook environment. :+1:

[2021-01-28 16:03] NippunSharma commented on #2818
It gives the following error message:
`Segmentation fault (core dumped)`
after I run the file.

[2021-01-28 16:14] NippunSharma commented on #2818
Actually this is the first time I facing this error so had to read a little about the error message and it is thrown whenever we try to do read and write on a read only location of memory or a freed block of memory.

Following is the code that gives the error. Note that the program runs fine when I comment `model_2` and just use `model_1`.

    from mlpack import adaboost
    from sklearn.datasets

[2021-01-28 16:15] rcurtin commented on #2818
Oh wow, it segfaults... I suspect this could also be reproduced (in an easier to debug format) by running the `mlpack_adaboost` binding with the data you used for `model_2`.  I guess you could just save `y_train[:100]` and `X_train` to CSV.

[2021-01-28 16:41] NippunSharma commented on #2818
Following is the message with `DEBUG=ON`:

    ./mlpack_adaboost --training_file data.csv --labels_file labels.csv --weak_learner "decision_stump"
    [DEBUG] Compiled with debugging symbols.
    [WARN ] Should pass one of '--output_model_file (-M)', '--output_file (-o)', or '--predictions_file (-P)'; no results will be saved!

    error: Row::subvec(): indices out of bounds or incorrectly used

[2021-01-28 17:08] NippunSharma commented on #2818
Update:
I tested this for `decision_tree`, `random_forest` and `linear_svm` also.
There is no `FATAL` output for `decision_tree` or `random_forest` but `linear_svm` correctly throws a `FATAL` output.
Following are the outputs:
#### Decision Tree
    ./mlpack_decision_tree --training_file data.csv --labels_file labels.csv
    [DEBUG] Compiled with debugging symbols.
    [WARN ] Should pass one of '

[2021-01-28 17:09] rcurtin commented on #2818
Nice digging!  What happens if you call linear SVM from the Python bindings with the incorrect size?  Does that return correct output and not crash?

[2021-01-28 17:24] NippunSharma commented on #2818
`Linear SVM` returns the correct output for python bindings also.

#### Linear SVM Python Bindings
    $ python3 linear_svm.py
    [FATAL] The labels must have the same number of points as the training dataset.

    Traceback (most recent call last):
      File "linear_svm.py", line 15, in <module>
        model = linear_svm(input_model=None, labels=y_train[:100],
      File "mlpack/linear_svm.pyx

[2021-01-28 18:01] rcurtin commented on #2818
Ah, so then the issue here is that we aren't properly giving `Log::Fatal` output when matrices aren't of the correct size.  I guess that we need to add stricter error checking to each of our bindings to catch situations like this before passing to the algorithm in question.

[2021-01-29 01:28] rcurtin commented on #2818
I thought about it a little bit more.  Perhaps what we really need here is an audit to make sure that every binding correctly checks the shapes of its inputs.  For some reason I am remembering that there was some work done recently that, I think(?), added a general function to check that, e.g., two matrices had the same columns and issued an error if not.  But maybe I am misremembering.  Anyway, i

[2021-01-29 02:37] #2360 closed

[2021-01-29 07:02] jbensabat opened #2819 "MLPACK examples"
Hello
I have managed to build mlpack for MSVC 2019 under windows 10
I would like now to use mlpack in a series of examples.
I seee in the distribution that there is a very long test sequence, which for now is less useful to me.
Are there individual examples that I could start from and trace the results ?
best
jac

[2021-01-29 08:45] NippunSharma commented on #2818
Opening an issue for this is a good idea. I will do the same. After digging deeper I found that for linear SVM we are actually explicitly checking for matching columns [here](https://github.com/mlpack/mlpack/blob/bf837f950b728bf08b80ccc696c6bc0d296e54af/src/mlpack/methods/linear_svm/linear_svm_main.cpp#L281) but I was not able to find any such checks for decision tree in the main.cpp file. One sol

[2021-01-29 09:38] NippunSharma opened #2820 "Add checks for relative input shapes inside bindings."
### What is the desired addition or change?

A parameter check should be added to all bindings that checks for the correct relative input shapes. For example the training data and training labels must have the same number of samples, testing data and training data must have the same number of features etc.

### What is the motivation for this feature?

Refer to #2818 for more information and how t

[2021-01-29 09:41] NippunSharma commented on #2818
@rcurtin I have created the issue. I have written the description as detailed and thorough as I could with an approach to implement it in some of the bindings. Can you please take a look at it ? I just want to be sure that the approach that I have written is fine or not ?

[2021-01-29 13:37] zoq commented on #2819
You can find some examples in the [examples repository](https://github.com/mlpack/examples), some of them are in a notebook, the [tutorials section](https://www.mlpack.org/doc/stable/cli_documentation.html#tutorials) has some examples as well and the [tests](https://github.com/mlpack/mlpack/tree/master/src/mlpack/tests) are often mini examples as well.

[2021-01-30 17:54] jbensabat commented on #2819
Hi
thanks for your answer
I have ran the tests one at the time (120 tests) in debug mode and this is what I have found out:
115 passed
1 failed dcgan_test.cpp -> (DCGANMNISTTest;dcgan.Train(trainData, optimizer);
3 were partially successful:
ann_layer_test.cpp failure in (GradientGRULayerTest;REQUIRE(CheckGradient(function) <= 1e-4);)
callback_test.cpp failure in (RBMCallbackTest;model.train)
recu

[2021-01-30 23:12] zoq commented on #2819
Some tests are probabilistic so it's possible that they fail, however we try to keep the fail rate low, so I'll take a look at the tests and maybe increase the tolerance.

Did you compile the tests manually? Because if you use the make build pipeline (cmake, make) it should build all the  executables for you.

[2021-01-31 05:55] jbensabat commented on #2819
Hi
thanks for your reply
ann_layer_test.cpp failure in (GradientGRULayerTest;REQUIRE(CheckGradient(function) <= 1e-4);)
probably due to a lack of convergence to the set threshold

callback_test.cpp failure in (RBMCallbackTest;model.train)
recurrent_network_test.cpp failure in GRUDistractedSequenceRecallTest;GRUBatchSizeTest
there were exceptions related to uninitialized variables

unction_test.cpp

[2021-01-31 05:59] jbensabat commented on #2819
Checked
it does not install the optimizers directory
I copied the ensmallen include files into an optimizers directory under mlpack/core but
the namespace mlpack::optimization; is missing
best
jac

[2021-01-31 12:18] ImperatorS79 commented on #2774
Hello bot here some activity ^^.

[2021-01-31 16:17] zoq commented on #2819
If ensmallen isn't found it will be automatically downloaded there should be a directory called `deps` in the build folder. Can you check if it's there?

[2021-01-31 17:20] Nirhar opened #2821 "Clustering with Pre-computed distances in DBSCAN"
Does DBSCAN have the facility where we can provide pre-computed distances for clustering (like in MATLAB and sklearn in python)? Does it cluster only based on euclidean distances or is there an option of providing other metrics like cosine similarity etc?

[2021-01-31 17:36] rcurtin commented on #2821
(I'm assuming you're using C++.  If you're using the bindings to other languages, the options are more limited.)

In the `DBSCAN<>` class, you can control these things through the `RangeSearchType` class.  So, e.g., if you want to use the Manhattan distance, you can use `range::RangeSearch<metric::ManhattanDistance>` as the first template parameter of `DBSCAN<>`.

If you already have precomputed d

[2021-01-31 17:52] jbensabat commented on #2819
hi
yes there is  deps directory below the CMAKE Build directory and inside there is a ensmallen archive and ensmallen-2.15.1 directory
best
jac

[2021-02-01 07:54] Nirhar commented on #2821
Thanks for your explanation! I've got some clarity on how this works.

[2021-02-01 07:54] #2821 closed

[2021-02-01 15:06] rajpratyush commented on #2779
Hi @zoq I would like to know if this issue is still open for work or not.
In case it is I would like to work on it

[2021-02-01 22:23] zoq commented on #2819
Okay, so cmake was able to download the package, now I'm wondering why it's not picked up during testing? Do you have compiler error message besides `the namespace mlpack::optimization; is missing` is missing?

[2021-02-02 00:33] rcurtin commented on #2819
`mlpack::optimization` hasn't existed for years... are you sure that you are using a recent release of mlpack?

[2021-02-02 02:25] rcurtin commented on #2679
Python bindings are done with #2787.  I added a 'status' section to the top in case anyone wants to try any of the other languages.  It should be easier now that @NippunSharma has laid the groundwork with the `CheckInputMatrices()` function. :+1:

[2021-02-02 06:25] jbensabat commented on #2819
Hi
I am using the recent release of mlpack - no doubt
I think that the confusion stems from the fact that the test "function_test.cpp" in the tests directory is not relevant anymore
best
jac

[2021-02-03 00:06] zoq commented on #2819
You are right, thanks for pointing that out, removed in https://github.com/mlpack/mlpack/pull/2823.

[2021-02-03 02:16] rcurtin commented on #2798
Looks like basically everything is done now thanks to @rxng8; I checked all the boxes that were checked in #2807.  The only ones remaining now are (26) and (28).  (I think they should be pretty straightforward.)

[2021-02-03 07:53] jbensabat commented on #2819
thanks a lot for your support. Now that I know that mlpack works, I shall start learning how to utilize it
best regards
jac

[2021-02-03 17:39] dkipke opened #2825 "Hoeffding Tree fails intermittently"
#### Issue description

The HoeffdingTree function fails intermittently.  It seems to execute correctly some times, but it gets a segmentation fault other times.  I've  ad hoc tried different parameters to see if I could discern the issue, but that has not revealed anything.  With verbose=true, the logs indicate that the function returns if it successfully classifies at least one sample, but fails

[2021-02-03 17:47] rcurtin commented on #2825
Do you think you could also provide the data that you used for training so that we can reproduce the issue exactly?

[2021-02-03 18:17] dkipke commented on #2825
Here is the output of a unit test using a small dataset

// === These were back-to-back calls in a unit test using randomly generated data samples =====

// CALL 1 -- HoeffdingTree() call OK
param.Lib = {BatchMode:false Bins:10 Confidence:0.99 InfoGain:true InputModel:<nil> Labels:0xc000045480 MaxSamples:5000 MinSamples:10 NumericSplitStrategy:binary ObservationsBeforeBinning:1 Passes:10 Test:<nil

[2021-02-03 19:34] ananis25 commented on #2812
Thank you @rcurtin , I used to go infrastructure to build the bindings which was easy enough.

[2021-02-03 19:34] #2812 closed

[2021-02-03 19:46] rcurtin commented on #2812
@ananis25 awesome that you got it worked out! :+1:  Hopefully someday we will be able to provide C bindings in a more robust way.

[2021-02-04 17:14] NippunSharma commented on #2421
Hi @rcurtin @zoq @Yashwants19 , any chance that this will be included in GSoC 2021 projects ? I am planning to apply this time and I am making myself more familiar with the binding system of mlpack so that I can make some good contributions to the bindings.

[2021-02-04 22:57] rcurtin commented on #2818
Thanks for opening that @NippunSharma!  Sorry it took me a week to get back to this.  Actually we don't need to modify the CLI bindings or Python bindings at all.  Instead we can simply implement functions like `RequireSameSize({ "training", "test" })` and `RequireSameDimension({ "training", "test" })`.  These functions would just throw an error if the `training` and `test` matrices were specified

[2021-02-05 05:10] NippunSharma commented on #2820
I have changed the description above. Please check it again if you have already started working on this. Sorry for any inconvenience caused.

[2021-02-05 13:54] LutzWeischerFujitsu opened #2827 "build fails for AArch64, Fedora 33"
Armadillo has been manually installed.

[jw@cn06 build]$ [jw@cn06 build]$ make VERBOSE=1 -j1
/usr/bin/cmake -S/data/jw/mlpack -B/data/jw/mlpack/build --check-build-system CMakeFiles/Makefile.cmake 0
/usr/bin/cmake -E cmake_progress_start /data/jw/mlpack/build/CMakeFiles /data/jw/mlpack/build//CMakeFiles/progress.marks
make  -f CMakeFiles/Makefile2 all
make[1]: Entering directory '/data/jw/mlpack/b

[2021-02-05 14:12] rcurtin commented on #2827
Hey @LutzWeischerFujitsu, thanks for the report.  To me it looks like Armadillo was not compiled with HDF5 support, but mlpack thinks HDF5 support is available.  Can you tell us a little bit more about how you configured Armadillo and installed it?

A couple other thoughts:

 - Is it possible that there are multiple versions of Armadillo installed on your system?
 - What was the output of CMake wh

[2021-02-06 18:41] NippunSharma commented on #2619
@rcurtin can you reopen this issue ?
Also I see that this has been inactive for quite some time now and there are no active PR's. So can I work on this @iamarchit123 ?

[2021-02-06 19:38] iamarchit123 commented on #2619
Hi Nippun,

You can definitely take up the LSTM classification part I am not working on that.

In case of regression trees here is my progress:
@rcurtin  had shared me a very nice paper by Leo Brieman(the father of CART trees).

Even before implementing regression forest you need to implement regression trees(forest will be collection of individual trees which need to be weak learners but linearly

[2021-02-07 22:56] #2791 closed

[2021-02-08 04:39] Abilityguy commented on #2715
Keep Open.
PR #2717 is yet to be merged.

[2021-02-08 19:29] bmmogensen commented on #2764
I'm interested in using mlpack for GPR. Could you share some of the reasons why this is a bad time for adding a GPR to mlpack?

[2021-02-08 19:57] rcurtin commented on #2764
What I wrote at the time in the chat was this:

If we have enough GP expertise amongst ourselves to manage to carefully review the code and consider all the issues related with it, then I think it could be just fine.  I can do my best, but I definitely shouldn't be the only set of eyes looking at it. :)

[2021-02-09 01:17] rcurtin commented on #2715
@Abilityguy what else needs to be done for #2717?  Should we reopen it and make a few fixes and merge it?

[2021-02-09 16:28] Abilityguy commented on #2715
@rcurtin I had requested for changes in the PR based on your [comment](https://github.com/mlpack/mlpack/pull/2717#pullrequestreview-536109228). Making these changes should make the PR ready for merge.

[2021-02-10 10:37] heisenbuug commented on #2715
Hey @rcurtin and @Abilityguy, sorry for not following up, I will complete this ASAP...

[2021-02-11 13:20] LutzWeischerFujitsu commented on #2827
Armadillo: I did build from source successfully, now also yum install armadillo armadillo-devel. I didn't do something specific regarding HDF5.

cmake output:
[jw@cn06 build]$ cmake ..
-- The C compiler identification is GNU 10.2.1
-- The CXX compiler identification is GNU 10.2.1
-- Detecting C compiler ABI info
-- Detecting C compiler ABI info - done
-- Check for working C compiler: /usr/bin/cc -

[2021-02-11 14:40] rcurtin commented on #2827
Are you sure you don't have multiple versions of Armadillo installed?  I don't think that 10.2.1 is available in Fedora yet (at least I haven't seen any emails about it---I am a comaintainer of the package).  Personally I am slightly suspecting that `/usr/lib64/libarmadillo.so` is installed by `yum`, but the header files being used correspond to a locally-built version.  Can you run this command?

[2021-02-11 14:40] rcurtin commented on #2827
(By the way, during CMake configuration, you can specify the specific Armadillo library and include directory with, e.g., `cmake -D ARMADILLO_LIBRARY=/path/to/libarmadillo.so -D ARMADILLO_INCLUDE_DIR=/path/to/armadillo/include/ ..`

[2021-02-11 15:31] naveenmiriyalu commented on #2816
Hi @rcurtin . Its interesting to see how these algorithms work . I have stumbled upon the [(http://mlpack.org/datasets/)] from the mlpack benchmarks github.
1. May I know the source/origin  of these datasets from where these are taken from ?
2. Are these datasets extended from the original dataset to include more features ?
3.  I have observed that there is good use of OpenBLAS and the matrix oper

[2021-02-11 15:39] rcurtin commented on #2816
Most---but not all---are from here: https://archive.ics.uci.edu/ml/datasets.php

In general the only preprocessing that may have been done is to labels (for labeled datasets), where we may have changed the labels from whatever they were originally to lie in the range `[0, numClasses - 1]`.  Everything else *should* be original or close to it.

[2021-02-11 16:14] NippunSharma opened #2832 "IO class is not thread safe"
#### Issue description

This bug was first encountered by @rcurtin.
The `IO` class defined in `src/mlpack/core/util/io.hpp` is a singleton class which is not thread safe.  This means that multiple threads can change the contents of `IO` class at the same time (and also make more than one objects, which is not desired as `IO` is a singleton). Below I have described a simulation to show exactly this

[2021-02-12 14:11] MarkFischinger commented on #2801
Unfortunately I have a problem with the code again. Saving the model works, but I have the problem that the same weights are always saved, regardless of whether the model is trained or not. The model always has the same weights, which do not change.

I found out that it is because of this line:
`model.ResetParameters();`

If I remove it now, because it is not necessary, I get the same error as abo

[2021-02-12 18:07] rcurtin commented on #2715
Sounds good---I'd be happy to get it merged whenever it's ready. :+1:

[2021-02-12 18:12] rcurtin commented on #2619
Nice writeup @iamarchit123.  If you're seriously looking to implement this, I'd be happy to reopen the issue.

I would really like if we could reuse the existing `DecisionTree` class.  You are right that `GiniImpurity` and `InformationGain` are for the case of classification only, but the `DecisionTree::Train()` class actually *could* use a `FitnessFunction` like MSE or MAD to split; however, we'd

[2021-02-12 18:52] NippunSharma commented on #2832
Hey @rcurtin I was looking at this simulation and it turns out that the changes that I did to IO class were actually causing it create multiple instances, my bad. I have fixed those changes, you can see the commit [here](https://github.com/mlpack/mlpack/commit/e109ca7ffa17987234193d02b949d514c2093082), I think everything is correct now and surprisingly according to the simulation results the IO cl

[2021-02-12 19:04] rcurtin commented on #2832
IO is *definitely* not threadsafe.  Try calling different `mlpackMain()`s simultaneously. :+1:

[2021-02-12 20:02] iamarchit123 commented on #2619
Sure @rcurtin please open this. I am working on this because of certain lifestyle change had to stop for a certain time. I have already implemented mse and mad class here https://github.com/iamarchit123/mlpack/tree/master/src/mlpack/methods/decision_tree_regression

You can see mse and mad classes above. As you can see I have created a  new folder called decision_tree_regression

The reason why I

[2021-02-12 21:08] rcurtin commented on #2619
No, we don't have another algorithm that supports both classification and regression.  It's not so much object-oriented design that drives this approach as code reuse.  Specifically, the idea here is known as policy-based design: https://en.wikipedia.org/wiki/Modern_C%2B%2B_Design#Policy-based_design

In short, we can use template parameter to control specific behavior, letting us write meta-algor

[2021-02-14 12:08] shrit commented on #2801
@MarkFischinger Would it be possible to see the new modification in the code?

[2021-02-14 13:04] MarkFischinger commented on #2801
Of course! I have commented my question in the code:
[code]

[2021-02-14 17:04] shrit commented on #2801
Your code looks fine, I think there is a bug in `async_learning_impl.hpp` but I am not sure, the issue might be related to `std::move` in the constructor that we are using inside the `async_learning.hpp` and `async_learning_impl.hpp`. A quick solution can be to replace the `std::move` and pass by reference.
You will have to re-compile mlpack and re-install the headers.
Please let me know is this s

[2021-02-14 18:06] onikolskyy commented on #2820
Hey, I would check

- [ ] adaboost

- [ ] decision_stump

- [ ] decision_tree

- [ ] hoeffding_tree

if these points are still free. I consider it a good starting point to dive into the project. Would take me about a week.

[2021-02-14 18:25] NippunSharma commented on #2820
Hi @onikolskyy , sure feel free. Remember that you will also have to implement the checking functions inside `param_check.hpp` and then add to the bindings (if we are not already checking for the same conditions in some way or another). You can post any questions you have over here.

[2021-02-14 20:57] #2802 closed

[2021-02-14 21:12] MarkFischinger commented on #2801
I tried to remove the `std::move` in the `async_learning_impl.hpp`, however, when I tried to recompile mlpack, it failed. After that I just passed the model directly. It also compiled, however now I get an error:
`./main: error while loading shared libraries: libmlpack.so.3: cannot open shared object file: No such file or directory`

I am not too experienced in C++, so it could be that the error i

[2021-02-14 21:23] shrit commented on #2801
I will open a pull request to fix this issue tomorrow

[2021-02-14 21:36] MarkFischinger commented on #2801
@shrit Thank you very much!

[2021-02-14 21:37] rcurtin commented on #2801
`./main: error while loading shared libraries: libmlpack.so.3: cannot open shared object file: No such file or directory`

I haven't watched or read the rest of this, but I saw this snippet while skimming my email.  All you should need to do to fix this is set `LD_LIBRARY_PATH` to the directory containing `libmlpack.so` (the one you just compiled).  So, e.g.,

[code]

where you'll need to substitu

[2021-02-14 21:57] shrit commented on #2801
@MarkFischinger I have managed to fix it today, you can copy the modification in this #2837 pull request, let me know if this resolves the issue

[2021-02-15 00:22] MarkFischinger commented on #2801
@shrit Thank you very much for you help. It works! The weights are changing now.

[2021-02-15 00:22] #2801 closed

[2021-02-15 15:53] bmmogensen commented on #2764
I'd be happy to make a thorough review and doing comparisons with other tools once a PR is in place

[2021-02-15 16:45] ayushsingh11 opened #2838 "ToLower function returns NULL"
#### Issue description

The ToLower function should return the input case in lower case.

#### Your environment

 * version of mlpack: 3.4.2
 * operating system:ubuntu
 * compiler:g++
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

One can run the following code:
#include <mlpack/core.hpp>
#include <mlpack/core/uti

[2021-02-15 17:07] rcurtin commented on #2838
Wow, you are right, it doesn't seem to succeed.  I played with it for just a second and it looks like changing the implementation of `ToLower()` to use `std::back_inserter()` instead seems to succeed:

[code]

I opened a PR in #2839.  Thanks for the report!

[2021-02-15 17:14] ayushsingh11 commented on #2838
Thanks @rcurtin
Glad it would be solved now.

[2021-02-15 18:52] ayushsingh11 opened #2840 "Not able to correctly load .txt file"
#### Issue description

I want to load a txt file as a vector of strings. Specifically, I want to upload the vocab.txt file from a BERT model which shall be used for tokenizing any given text. Let each row of the file be a token, I am able to load all the tokens correctly from the file except if the token has a comma in it. In these cases, either the comma is removed or if the token is like "2,",

[2021-02-15 18:52] ayushsingh11 commented on #2840
[vocab.txt](https://github.com/mlpack/mlpack/files/5983520/vocab.txt)

[2021-02-15 20:09] rcurtin commented on #2825
Hey @dkipke, do you think you could provide some example code that I can run to reproduce the issue, then I can start debugging?  Thanks! :+1:

[2021-02-16 14:14] hello-fri-end opened #2841 "GANs do not display generator's losses while training"
### What is the motivation for this feature?
Often, it's useful to monitor both generator's as well as discriminator's losses while training to make sure one is not overpowering the other. If one learns too quickly, the other may fail to learn. It's very useful for debugging and may potentially save the user tons of time if things are not going well during the training process.

### If applicable,

[2021-02-16 15:15] LutzWeischerFujitsu commented on #2827
Thanks for the hint, now it builds. However, 'test' does not work:
[jw@cn06 build]$ make VERBOSE=1 -j1 test
Running tests...
/usr/bin/ctest --force-new-ctest-process
Test project /data/jw/mlpack/build
    Start 1: catch_test
1/1 Test #1: catch_test .......................***Failed  1180.61 sec

0% tests passed, 1 tests failed out of 1

Total Test time (real) = 1180.63 sec

The following tests FAIL

[2021-02-16 22:25] rcurtin commented on #2827
Hmmm, can you run with `CTEST_OUTPUT_ON_FAILURE=1`?  That should print details about what failed.  e.g., `CTEST_OUTPUT_ON_FAILURE=1 make VERBOSE=1 -j1 test`, I think that should do it.

[2021-02-17 05:44] #2841 closed

[2021-02-17 08:01] LutzWeischerFujitsu commented on #2827
CTEST_OUTPUT_ON_FAILURE=1 make VERBOSE=1 -j1 test
Running tests...
/usr/bin/ctest --force-new-ctest-process
Test project /data/jw/mlpack/build
    Start 1: catch_test
Could not find executable /data/jw/mlpack/build/bin/mlpack_test
Looked in the following places:
/data/jw/mlpack/build/bin/mlpack_test
/data/jw/mlpack/build/bin/mlpack_test
/data/jw/mlpack/build/bin/Release/mlpack_test
/data/jw/mlpack

[2021-02-19 10:52] shubhamabhang77 commented on #2820
Is there anyone working on this issue??
I would like to work this to get started contributing.

[2021-02-19 10:57] shubhamabhang77 commented on #2820
Is there anyone working on this issue??
I would like to work this to get started contributing.
We have add write declaration in ```param_check.hpp``` and add the definition in ```param_check_impl.hpp```, right?

[2021-02-21 17:09] onikolskyy commented on #2820
@shubhamabhang77 mate, I am working on the adaboost bug #2818 right now , would you mind taking one of the other points?
I will report my status later today/tomorrow

[2021-02-21 19:52] onikolskyy opened #2842 "Building python bindings from source"
#### Problem location

https://www.mlpack.org/doc/mlpack-git/doxygen/build.html

#### Description of problem
The Documentation says, that cmake will preconfigure python bindings by default. (`BUILD_PYTHON_BINDINGS=(ON/OFF): compile the bindings for Python, if the necessary Python libraries are available (default ON except on Windows)`).
However on ubuntu 18.04 `BUILD_PYTHON_BINDINGS` needs to be s

[2021-02-21 20:08] onikolskyy opened #2843 "Question for Python bindings"
Trying to set up a local dev environement and build from source as described in Documentation.

However, after running cmake with `BUILD_PYTHON_BINDINGS=ON`, `make`ing all targets and trying to `import mlpack`, I am getting

[code]
The file `test_python_binding.pyx` is located in the same directory as `__init__.py` as expected

The `PYTHONPATH` variable is set as needed, because python seems to fi

[2021-02-21 20:10] onikolskyy commented on #2820
@NippunSharma I have an issue with setting up a dev environements for the bindings.
I have uploaded a question, perhaps there is a quick answer?  #2843

[2021-02-22 00:53] rcurtin commented on #2842
Thanks for pointing that out!  You're right.  We recently disabled the bindings (since most people probably install Python bindings via pip or conda), but forgot to update the documentation.  Would you be interested in opening a PR to fix the docs?  If not that's perfectly okay---I'm happy to do it. :+1:

[2021-02-22 03:20] NippunSharma commented on #2843
Hmm, have you set the `LD_LIBRARY_PATH` variable ? If not you will have to do `make install` also.

[2021-02-22 07:15] shubhamabhang77 commented on #2820
yeah yeah sure

[2021-02-22 16:43] #2838 closed

[2021-02-22 18:58] zoq commented on #2840
I guess this is an interesting corner case, because in most cases `,` is used as a delimiter. As a quick workaround you can remove `,` from the `stringRule` parameter here:

https://github.com/mlpack/mlpack/blob/051b80b72eca752257a6d51c455b91e2fd534892/src/mlpack/core/data/load_csv.cpp#L45

We could pass another argument to the `Load` method to define the delimiter, but since we are planning to re

[2021-02-22 19:51] rcurtin commented on #2843
Can you provide the exact commands you're using?  Like Nippun pointed out, you may need to set `LD_LIBRARY_PATH` to `lib/` inside of your build directory (that contains `libmlpack.so`, which many of the bindings depend on).  Typically, when I test the Python bindings in that way (without installing), I run python from `build/src/mlpack/bindings/python/` as `PYTHONPATH=. LD_LIBRARY_PATH=/path/to/bu

[2021-02-22 20:42] onikolskyy commented on #2843
It's a **conda** issue I guess -- found out that it appears only in a **conda** environment (also when `PYTHONPATH` and `LD_LIBRARY_PATH` are set correctly).
So, the fix for me was working with disabled **conda**

[2021-02-22 20:46] onikolskyy commented on #2842
Cool, I would like to -- but rather at the end of the week, after my exams.

[2021-02-22 21:24] rcurtin commented on #2827
It looks as though the test was never built.  Did you configure CMake with `-DBUILD_TESTS=ON`?

[2021-02-23 02:22] NippunSharma commented on #2843
Maybe it is a conda issue, I do not know much about conda as I use pip along with virtualenv for making an environment, then while running cmake I pass the python executable for the virtual environment. If you want to create a virtual environment you can try this approach.

[2021-02-23 10:39] heisenbuug commented on #2764
Heyy, I've contributed a bit to the library now, and I want to dive deeper so if it's okay I would like to start working on this.
I will start by reading the discussions and the paper mentioned.
Let me know if there is anything important that I should study before starting to work on this.

[2021-02-23 10:55] ayushsingh11 commented on #2840
Thanks @zoq , but even after making the change in line 45 of mlpack/core/data/load_csv.cpp, I am getting the following o/p :

The size of vec is : 9
un
##ing
[UNK]
##ed
wa
runn
2,
##,
,

Also, which `tokenizer` functionality have you mentioned?

[2021-02-23 11:34] jeffin-ntx commented on #2840
https://github.com/mlpack/mlpack/blob/master/src/mlpack/core/data/tokenizers/split_by_any_of.hpp

An example to use the token is :

https://github.com/mlpack/mlpack/blob/9e112d743c7d98dcf23043c587ebef14e84f3d22/src/mlpack/tests/string_encoding_test.cpp#L189-L198

[2021-02-23 14:00] onikolskyy commented on #2820
Hey guys,
I would be happy to make my first commit with a fix of  #2818.
However, I get a `permission denied` for my `github` acc when I try to push a new branch with the commit.
Do I need some extra rights or does the contribution pipeline work differently?

[2021-02-23 14:04] onikolskyy commented on #2818
Hey guys,
I would be happy to make my first commit with a fix for adaboost bindings.
However, I get a `permission denied` for my `github` acc when I try to push a new branch with the commit.
Do I need some extra rights or does the contribution pipeline work differently?

[2021-02-23 14:04] NippunSharma commented on #2820
You cannot push directly to the mlpack master, you will not have the access. You will have to create a fork of this repo and then push to your fork and then create a pull request. You can look up on the net, the process is very easy and will not take much time.

[2021-02-23 14:26] rcurtin commented on #2818
@onikolskyy yeah, you'll need to push to your own fork of mlpack (instead of trying to push to this repository) and then open a PR like that. :+1:

[2021-02-23 17:03] ayushsingh11 commented on #2840
Unfortunately, I don't think `tokenizer` functionality would solve this issue. The problem is regarding correctly loading a txt file. Although, shall use `tokenizer` in implementation of BERT Tokenizer.

[2021-02-23 17:37] ayushsingh11 commented on #2840
Updated my comment 7 hrs ago.

[2021-02-23 17:40] jeffin-ntx commented on #2840
@ayushsingh11 you can simply read a file using file stream object and store the lines in a vector and then you can use the tokenizer to tokenise the line

Not sure if that is your end goal Convert a file to a vector of token -->

[2021-02-23 18:05] ayushsingh11 commented on #2840
Thank you @jeffin-ntx , this simple method worked.
Don't know why, I earlier thought we can't use fstream inside mlpack.
Closing this issue.

[2021-02-23 18:06] jeffin-ntx commented on #2840
sorry which simple method ?

[2021-02-23 18:12] ayushsingh11 commented on #2840
Using a fstream object to load the txt file.
I meant using this code -
[code]

[2021-02-24 03:28] #2840 closed

[2021-02-24 08:36] LutzWeischerFujitsu commented on #2827
Good idea, makes it worse:

[jw@cn06 build]$ make VERBOSE=1 -j1 test
Running tests...
/usr/bin/ctest --force-new-ctest-process
Test project /data/jw/mlpack/build
    Start 1: catch_test
        1/1 Test #1: catch_test .......................***Failed  1783.46 sec

0% tests passed, 1 tests failed out of 1

Total Test time (real) = 1783.48 sec

The following tests FAILED:
          1 - catch_test (F

[2021-02-24 13:17] rcurtin commented on #2827
I don't think it's worse, we're closer to figuring out what's wrong. :)

Try that run also with `CTEST_OUTPUT_ON_FAILURE=1`---that will show us which test failed.  It's possible that the failure is a random failure.  mlpack has a lot of probabilistic tests, and we try to keep the failure probability very low, but we are not always successful.

[2021-02-25 05:58] lltempacc commented on #2796
Sorry for the very late reply - I missed the notifications.

Yes, something like algorithm 2.1 is what I was talking about. I haven't found any specific problems people have used where BK is unstable but BL is stable for these randomized methods. Although, I believe any very poorly conditioned matrix should work...

[2021-02-25 07:33] shubhamabhang77 commented on #2779
Is there anyone working on this issue? If not I would like to take this.

[2021-02-25 08:04] LutzWeischerFujitsu commented on #2827
[jw@cn06 build]$ make VERBOSE=1 -j1 CTEST_OUTPUT_ON_FAILURE=1 test
Running tests...
/usr/bin/ctest --force-new-ctest-process
Test project /data/jw/mlpack/build
    Start 1: catch_test
1/1 Test #1: catch_test .......................***Failed  1693.51 sec
mlpack version: mlpack git-3b74b9496
armadillo version: 10.2.1 (Cicada Swarm)

[code]

[2021-02-25 08:31] pogo85 opened #2849 "RL tutorial example error"
#### Problem location

https://www.mlpack.org/doc/stable/doxygen/rltutorial.html
#### Description of problem
When I try to run the example using the custom FFN network, it throws:
 `error: 'class mlpack::ann::FFN<mlpack::ann::MeanSquaredError<>, mlpack::ann::GaussianInitialization>' has no member named 'ResetNoise'`
but works when using SimpleDQN class.

[2021-02-26 18:15] FabioMBB commented on #2319
Hi Guys, was this ever merged?

[2021-02-26 21:44] zoq commented on #2849
Thanks for the info, the `FFN` does not implement the `ResetNoise` method, I'll update the tutorial.

[2021-02-26 21:56] heisenbuug commented on #2849
Heyy @zoq
What's the solution here? Do we implement the method?

[2021-02-27 17:22] shubhamabhang77 commented on #2817
Is there anyone working on this? I would like to work on this.It would help me get started.

[2021-02-27 17:23] shubhamabhang77 commented on #2817
@rcurtin Is there anyone working on this? I would like to work on this.It would help me get started.

[2021-02-27 21:15] rcurtin commented on #2817
Sure, go for it @shubhamabhang77. :+1:

[2021-02-28 19:12] jeffin143 opened #2852 "Mlpack master doesn't build"
#### Issue description

The master branch doesn't build on mac os

#### Your environment

 * version of mlpack: master
 * operating system: mac os Big Sur (11.2.1)
 * compiler:
 * version of dependencies (Boost/Armadillo):
 * any other environment information you think is relevant:

#### Steps to reproduce

Here is the logs

~/Documents/mlpack master ⇡5194 *10 ❯ rm -rf build

[2021-02-28 19:55] tathagata-raha commented on #2619
Hi,
I was going through the docs(https://www.mlpack.org/doc/mlpack-3.4.2/doxygen/anntutorial.html) and couldn't find LSTM anywhere. Has LSTM not been implemented or am I missing something?

[2021-02-28 23:27] zoq commented on #2852
Can you run another test with `cmake -DUSE_OPENMP=OFF`?

[2021-03-01 08:10] iamarchit123 commented on #2619
@tathagata-raha  when in doubt you can always reference the examples library which has nice examples. LSTM example:

https://github.com/mlpack/examples/tree/master/lstm_electricity_consumption

Looks like lstm is treated as RNN so code should be present in RNN folder i believe.

[2021-03-01 14:10] onikolskyy commented on #2842
https://github.com/mlpack/mlpack/pull/2853#issue-582088792

[2021-03-01 15:10] jeffin143 commented on #2852
Successful build with `cmake -DUSE_OPENMP=OFF`

[2021-03-01 17:52] jeffin143 commented on #2852
@zoq https://github.com/mlpack/mlpack/pull/2412#issuecomment-629906719

[2021-03-01 20:37] zoq commented on #2852
Thanks, let's work on #2412.

[2021-03-02 05:55] tongqimxd opened #2854 "error occurred:multiple definition of `mlpack::rl::ContinuousActionEnv::Action conflicts.When the header file is referenced by multiple files, the reinforcement learning library conflicts"
I'm new to mlpack. I want to do some simple experiments with reinforcement learning, but there are some problems.
I found that when the header file is referenced individually, it can be linked normally, but when multiple files are referenced, the links will conflict, as follows:
[code]
The project is like this：
CMakeLists.txt
[code]
main.cpp
[code]
my_dqn.h
`#include <mlpack/methods/reinforcement_

[2021-03-02 13:04] rcurtin commented on #2842
Thanks @onikolskyy!

[2021-03-02 13:04] #2842 closed

[2021-03-02 14:43] shubhamabhang77 commented on #2817
Hey @rcurtin, i had a doubt. what is significance of this line(line no. 262) from ```src/mlpack/methods/neighbor_search/knn_main```
[code]

Because if I remove the first ```std::move``` , then, I am getting the desired output as mentioned above.

And one more thing, if I try to get the size of matrix immediately after the second line, it show ```0x0 matrix```.

[2021-03-02 16:05] NippunSharma commented on #2817
Hey @shubhamabhang77 `std::move` is used whenever copying is expensive. In the case you mentioned, the `reference` matrix can be large and hence it might not be a good idea to copy it, therefore we "move" it . But moving can make the source empty (which is exactly the reason that we are getting `0x0` size of the matrix). But as mentioned in the description, it may not be a good idea to remove `std

[2021-03-02 17:21] shubhamabhang77 commented on #2817
Oh got it.
I am not sure where can we cache the size, I mean , in what variable? Can we use this structure```util::param``` ?

[2021-03-02 17:29] shubhamabhang77 commented on #2817
We can have three variables called ```is_size_calculated``` initially set to false and ```matrixcols``` ```matrixrows```. When first time ```getMatrixSize()``` is getting called we will turn ```is_size_calculated``` to true and save the matrix size to ```matrixcols``` and ```matrixrows```. I was thinking about this. Is it feasible?

[2021-03-02 18:29] NippunSharma commented on #2817
`GetMatrixSize` really only calls the `n_rows` and `n_cols` attributes of an `arma::mat` (that is given as a parameter) and returns a string that contains the rows and cols. So, you can find the rows and cols of the matrix without the use of `GetMatrixSize` also. Creating `matrixcols` and `matrixrows` as attributes to the `ParamData` class might be a good idea. Some complications can arise where y

[2021-03-02 19:47] ImperatorS79 commented on #2774
Hello bot here some other activity again ^^.

[2021-03-02 21:55] zoq commented on #2854
Hello, to me it looks like if you put include guards (https://en.wikipedia.org/wiki/Include_guard) around implementation in  `my_dqn.h` in should work. To me it looks like `main.cpp` as well as `my_dqn.cpp` inlude `my_dq.h`.

[2021-03-02 23:23] rcurtin commented on #2817
I'm not opposed to adding some matrix-only members to `ParamData`.  Another way to achieve the same goal would be to change the type that's actually held by the `boost::any` in `ParamData`.  Right now, for type `arma::mat`, it doesn't hold an `arma::mat`---instead, it holds `std::tuple<arma::mat, std::string>`.  The first element of that tuple is the filename to load the matrix from.  You can see

[2021-03-02 23:29] rcurtin commented on #2774
Sorry that the progress here is slow.  I think the changes being worked on in #2777 will help fix the issue here.  In fact, #2803 may be helpful too---that's been merged recently.  If you want, you can try again on an updated git master and see if that helps...

[2021-03-03 01:51] tongqimxd commented on #2854
Thank you for your help. The same error still appears after modifying in the following way.
my_dqn.h
[code]
I think because my_ dqn. h contains only one header file(env_type.hpp), which is put include guards.So no matter this file  my_dqn.h is protected or not, the result is the same.Thank you very much, but I'm still confused.

[2021-03-03 11:08] jonpsy commented on #2854
I think your problem stems from

```add_executable(test main.cpp my_dqn.cpp) ```

During the linking stage, both these files have the definition for your function. Which causes the linker to panic :D.

https://stackoverflow.com/questions/17904643/error-with-multiple-definitions-of-function

[2021-03-03 15:53] rcurtin commented on #2715
I think this issue is handled now that #2844 is merged so I'll go ahead and close it. :+1: (Let me know if not and we can reopen it, but I *think* everything is handled. :))

[2021-03-03 15:53] #2715 closed

[2021-03-03 18:30] Abilityguy commented on #2715
Yes. Everything is handled and this issue is now resolved. Thanks everyone for the help! 👍🏼

[2021-03-03 20:31] MarkFischinger opened #2855 "Predicting with a DQN model/agent"
I want to use a Predict function on a DQN model/agent. Is there a possible way to do so?
My attempt:
[code]

Output:
[code]

**The Problem:**
Unfortunately, the output is always the same, although the input is different. In the training you get different actions with the same data.
Is there another way to get a Predict? There is an `agent.Train()` function is there also a kind of `agent.Predict()`

[2021-03-03 23:44] zoq commented on #2852
With #2412 merged, let's close this one.

[2021-03-03 23:44] #2852 closed

[2021-03-03 23:52] zoq commented on #2855
Do you think you could switch to the `SimpleDQN` class, you don't have to use the default network that is defined you can also define your own, https://github.com/mlpack/examples/blob/master/reinforcement_learning_gym/acrobot_dqn/acrobot_dqn.ipynb is one example.  `SimpleDQN`  provides a `Predict` method.

[2021-03-04 05:49] xlindo opened #2857 "Modification methods for LARS/LASSO/ElasticNet?"
When I use LARS, I found NO set/get methods for hyper-parameters, such as lambda1, lambda2. I am not sure if it should be so.

I want to use the default constructor of LARS, and set the parameters later. This means I need a set of setter and getter methods, like

[code]

Can anyone tell me how to accomplish this without a modification on source code?

Ref:
[https://www.mlpack.org/doc/stable/doxyge

[2021-03-04 07:43] roshanjain77 commented on #2820
Hi, Is there anyone currently working on this issue?
I would like to work on the above issue.

[2021-03-04 09:10] hello-fri-end opened #2858 "Padding fails in Mean Pooling Backward() function"
#### Issue description
Simple test code
`

     arma::mat input;

    arma::mat output;

    arma::mat delta;

     input.ones(100,1);

    MeanPooling<> module(3,3,1,1);

     module.InputWidth() = 10;

     module.InputHeight() = 10;

    module.Forward(input, output);

     module.Backward(input, output, delta);
`

#### Output
error: Mat::operator(): index out of bounds
terminate called after t

[2021-03-04 13:21] MarkFischinger commented on #2855
@zoq Thanks for your answer I will try to implement it and as soon as I am done I will get back to you.

[2021-03-04 13:33] shubhamabhang77 commented on #2817
Yeah that makes more sense. I will look into this.

[2021-03-04 20:25] onikolskyy commented on #2590
https://github.com/mlpack/mlpack/pull/2859

Added WeightSize function for `linear_no_bias`, `rbf`, `constant`.

[2021-03-05 01:46] MarkFischinger commented on #2855
@zoq The predicting works , but now I have the problem that I do not know how to save and load the model,
because I can not save the `SimpleDQN<> model(module);` (model).
Error:
`error: 'class mlpack::rl::SimpleDQN<>' has no member named 'serialize'`

I could save the module, but the weights do not change.
**Is there a way to save and load the model properly?**

[2021-03-05 14:35] rcurtin commented on #2857
Hey @xlindo, thanks for the report.  You're right that there are not `Lambda1()` or `Lambda2()` members.  I opened a PR to fix that: #2861.

At the same time, it's very cheap to construct a LARS object without training.  So if you want to use the current version of mlpack that you have without updating to include #2861, you can just do something like this:

[code]

Since LARS doesn't support incre

[2021-03-05 23:29] rcurtin commented on #2827
Thank you for the report @LutzWeischerFujitsu!  As it turns out, that particular test was testing a condition that is not guaranteed, but we have never noticed because all of our testing on x86-64 architectures never exposed the issue.

Nothing is actually wrong with the code, so you can ignore the test failure; #2862 fixes the test. :+1:

[2021-03-06 00:09] zoq commented on #2855
Ohh, right, we should add the `serialize` method to the class as well. For now, would you could do is save `model.Parameters()` but you said they don't change?

[2021-03-06 01:15] MarkFischinger commented on #2855
@zoq There is the `Module` and the `Model`, [Code](https://github.com/mlpack/examples/blob/f87a2d16ee32c5c582cefacd5b58e957e2ad0dd4/reinforcement_learning_gym/acrobot_dqn/acrobot_dqn.cpp#L106). The weights of the `module` don't change, but the `model` weights change, which should not be an issue, because as you suggested you can save and load the `model.Parameters()` and **everything works fine**.

[2021-03-06 02:15] tongqimxd commented on #2854
Thank you very much for your answer. I know where my question is. It's in< mlpack / methods... / env_ type.hpp >In the header file, there is a definition statement, which leads to an error when linking after multiple references. Thank you again.

[2021-03-06 06:45] NippunSharma commented on #1709
Hey, @rcurtin I see that there is no merged PR for this issue. Is this issue still open for work ? If it is then can I work on it ?
I also have a doubt in one the points you mentioned in the description. You mentioned using `catch` instead of `boost::serialization` as this issue is old I understand why you said that but now that we use `catch` are there any changes you might want to mention in the

[2021-03-06 22:24] #2857 closed

[2021-03-06 22:49] rcurtin commented on #2827
With #2862 merged, I'll go ahead and close this.  Thanks again for the report! :+1:

[2021-03-06 22:49] #2827 closed

[2021-03-06 22:58] rcurtin commented on #2854
Ah, I think we need to reopen this.  This actually is a bug in the mlpack implementation.

We are defining the variables `ContinuousActionEnv::State::dimension` and `ContinuousActionEnv::Action::size` as `static`, and then setting a value in the header file.  This means that these variables will occur in *both* `libmlpack.so` as well as any application linked against `libmlpack.so`, causing the mu

[2021-03-07 16:08] onikolskyy commented on #2858
hello, @hello-fri-end, I could reproduce the error
I would like to try to fix it. I will write tomorrow (Berlin time) if I found something

[2021-03-07 19:21] rcurtin commented on #1709
@NippunSharma would be great to see this one worked on again.  I'm not sure where I mentioned using `catch`... can you point me to where I said that?  In any case, we have switched from `boost::serialization` to `cereal`, and `cereal` supports JSON, so perhaps it is straightforward to import JSON into Python or something.  There are lots of possible ideas, so feel free to play around and see what

[2021-03-07 19:25] rcurtin commented on #2820
Two updates relevant to this issue:

 - #2370 contains some nice utilities for checking the size of a matrix.  We should probably use those in whatever we build here.
 - [This comment](https://github.com/mlpack/mlpack/pull/2370#pullrequestreview-436211692) tries to find all the existing places in the codebase where we are comparing sizes of matrices.  All those usages should be replaced with the u

[2021-03-08 00:05] NippunSharma commented on #1709
@rcurtin yeah you are right... I meant cereal and not catch. Sorry for the typo here.

[2021-03-08 13:52] LutzWeischerFujitsu commented on #2827
OK now, isn't it?:

[jw@cn06 build]$ make VERBOSE=1 -j$(nproc) test CTEST_OUTPUT_ON_FAILURE=1
Running tests...
/usr/bin/ctest --force-new-ctest-process
Test project /home/jw/mlpack/build
    Start 1: catch_test

1/1 Test #1: catch_test .......................   Passed  1339.75 sec

100% tests passed, 0 tests failed out of 1

Total Test time (real) = 1339.97 sec
[jw@cn06 build]$

[2021-03-08 14:17] rcurtin commented on #2827
Yep, looks great! :+1:

[2021-03-08 14:46] ashwin2000 commented on #2668
Hey @rcurtin @alexhallam , have all the methods listed above have either open PRs or been implemented already? If not I'm interested in taking one up.

[2021-03-08 15:06] RishabhGarg108 commented on #2668
Hello @ashwin2000 , please feel free to take any of the methods in the list other than the "naive model". For naive model, there is already a PR #2789 . You can take a look at it if you need any reference.

[2021-03-09 00:34] #2854 closed

[2021-03-09 00:35] zoq commented on #2854
With #2863 merged we can keep this one closed :+1:

[2021-03-09 07:26] NippunSharma commented on #1709
@rcurtin parameters of which methods should the users see ? I mean for simple methods like linear_regression and logistic_regression can be displayed as vector or matrix but how can the parameters of random_forest or adaboost be displayed ? What I am trying to say here is that should we handle different methods individually or should there be a standard format using which we can display parameters

[2021-03-09 13:39] onikolskyy commented on #2858
Just made a PR.

#2865

Would you mind looking through the code changes if they make sense?

[2021-03-09 15:27] rcurtin commented on #1709
Ideally we should do this all automatically. I think it would be fine to use the JSON representation provided by cereal for each model, perhaps with a little bit of automated postprocessing.  This may not be the "cleanest" representation for an end user, but it would be by far the easiest for us to implement and maintain. :+1:

[2021-03-10 04:47] #2819 closed

[2021-03-10 14:24] #2590 closed

[2021-03-10 16:18] NippunSharma commented on #1709
Hey @rcurtin I have opened #2868. There we can discuss the necessary post processing required on the JSON. Please take a look whenever you have time.

[2021-03-10 16:53] Sebastiaanvh319 commented on #881
Thanks!! for this issue
I was struggling with this for hours, now it works by adding 'libopenblas.dll.a' file to additional dependencies

[2021-03-11 18:41] shrit opened #2869 "Some of mlpack tests are failing on aarch64 machines"
Hello everyone,

Following the work on this pull request #2531, we have noticed recently that there are several mlpack tests that are failing when executed on aarch64 architecture (arm architecture 64 bits). These tests are related to:

* FastMKSTest: Failing
* AKFNTest: Failing
* AKNNTest: Failing
* KFNTest: Failing
* KNNTest: Failing
* KMeansTest: Failing (DTNNCoverTreeTest) precisely
* KDETest:

[2021-03-12 03:09] #2798 closed

[2021-03-13 03:22] EscapeReality846089495 opened #2872 "Should ClassProbabilities be ElemType?"
### Why the classProbabilities defined in functions of class AllCategoricalSplit/BestBinaryNumericSplit is arma::Col\<ElemType\>?
When I want to pass a inputData of type arma::Mat\<int\> to DecisionTree, there will be a no matching funtion error, so that I find the key may be the classProbabilities.
Because the definition of classProbabilities is done by code "classProbabilities(numClasses)", the

[2021-03-13 22:35] rcurtin commented on #2872
Hey @EscapeReality846089495, thank you for the report!  I took a look through the code, and in this case I think it is okay to always represent `classProbabilities` as an `arma::vec`.  I updated the signatures in `CalculateDirection()` and `SplitIfBetter()` and related functions so that they should now compile, even when non-`double` data is given.  You can see the changes in #2874.

Would you lik

[2021-03-14 03:51] RishabhGarg108 commented on #2443
@kartikdutt18 since #2746 is now merged, I hope this issue is resolved now. Can we close this ?

[2021-03-14 03:53] kartikdutt18 commented on #2443
Agreed.

[2021-03-14 03:53] #2443 closed

[2021-03-15 18:04] RishabhGarg108 commented on #884
Hey @rcurtin, is this the issue which you were mentioning yesterday about the pruning of decision tree (refer to the previous comment by Manthan-R-Sheth).

Also, I am interested in working on this. Since now we have a random forest, shall I take this issue ?

[2021-03-16 11:05] EscapeReality846089495 commented on #2872
I think it's worked.

[2021-03-16 16:29] Rituraj-commits opened #2877 "Error while compiling test file"
I have successfully built mlpack from source but I'm facing a problem while compiling test_1.cpp file. The error log is as follows:

`/usr/bin/ld: /tmp/cc5brq0g.o: in function `main':
test_1.cpp:(.text+0x3a0): undefined reference to `bool mlpack::data::Load<double>(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&, arma::Mat<double>&, bool, bool, arma::file_typ

[2021-03-16 18:32] Rituraj-commits commented on #2877
Just add the flag **-L/usr/local/lib/**

[2021-03-16 18:32] #2877 closed

[2021-03-17 02:36] xlindo opened #2879 "Missing methods for BayesianLinearRegression"
**Default constructor** and **parameters set/get methods** are missing in BayesianLinearRegression, similar to #2857

[https://mlpack.org/doc/mlpack-git/doxygen/bayesian__linear__regression_8hpp_source.html](https://mlpack.org/doc/mlpack-git/doxygen/bayesian__linear__regression_8hpp_source.html)

[2021-03-18 20:12] rcurtin commented on #2524
Hey everyone, I know it has been quite a while.  I took the suggestions from our discussion here and compiled them into a document:

https://www.ratml.org/misc/mlpack-vision.pdf

The idea here is that this is a document roughly in the mold of the last design document (https://www.ratml.org/misc/mlpack_future.pdf).  So, new contributors can read this to quickly come up to speed on where we came fro

[2021-03-18 20:52] zsogitbe commented on #2524
Just a quick feedback (personal opinnion):

- I would define mlpack as a **fast and easy-to-use C++ machine learning library** and this is what I would try to achieve and improve.
- Prototyping should not be the focus, for example because you cannot compete with Python based prototyping tools.
- You want to help deploying prototypes? Simply add the possibility to import those Python made prototype

[2021-03-20 01:04] #2872 closed

[2021-03-20 10:47] RishabhGarg108 opened #2882 "Running individual test suits fails on M1 macbook"
#### Issue description
When running some test suites I get a `zsh: bus error`
Although running all the test cases using `./bin/mlpack_test`, it runs fine. But, when I run it with some particular ones, then it fails.

The following is a list of those tests that throw the error. (**Its not an exhaustive list.**):-

1. AdaBoost
2. AKFN
3. AKNN
4. ANNDist
5. ANNLayerTest
6. ANNRegularizerTest
7. ANNVi

[2021-03-20 10:55] shrit commented on #2882
@RishabhGarg108 Thank you for opening the issue.
Would be possible to give more details about each error, since a few of us have the new M1 Mac which might be a little hard to reproduce the issue.
can you run `./bin/mlpack_test -s -r console [TagName]`
Please change the `TagName` with test suit tag that you can find in each test file.

[2021-03-20 10:58] shrit commented on #2882
@RishabhGarg108  In addition, let me know if these errors are related to anything similar to `DualCoverTree`

[2021-03-20 11:09] RishabhGarg108 commented on #2882
Hey @shrit , I ran it for the `DecisionTreeTest`. The output was very long so I am putting the pastebin link https://pastebin.com/qmEmyTdg . I have never used pastebin before, so please confirm if you are able to see it. If not then I will simply paste it here :)

[2021-03-20 11:10] RishabhGarg108 commented on #2882
Can you tell me which test suite to run to check this `DualCoverTree` ?

[2021-03-20 11:17] RishabhGarg108 commented on #2882
For the `AKFNTest`, I am pasting the last few lines only.
[code]

For the `KNNTest`
[code]

[2021-03-20 12:10] shrit commented on #2882
Here is more info about the bus error `SIGBUS` https://en.wikipedia.org/wiki/Bus_error.
How much RAM do you have on your system?

[2021-03-20 12:12] RishabhGarg108 commented on #2882
8GB RAM and 2GB swap

[2021-03-20 12:28] shrit commented on #2882
It is surprising, it should not be the case. Also, since we do not know anything about the architecture of the new M1. It might extremely hard to debug the issue.
I would start by testing the RAM by finding some software that does memory tests, maybe you were unlucky and the RAM is damaged. Also, it is true that this is extremely rare.
Also if you can monitor the memory usage when the test is fail

[2021-03-20 12:36] RishabhGarg108 commented on #2882
If it were a RAM issue, then shouldn't it be failing when I run other applications too? Like I haven't faced any failure on other apps since the last 2.5 months.
Also, I build mlpack regularly (which I kind of think like a stress test for RAM and processor :)) and I haven't yet faced any error in that.

Also, If there were any issue with some particular test cases, then those should also fail when

[2021-03-20 16:09] #2816 closed

[2021-03-20 16:44] shrit commented on #2882
What does it reports at the end, when you run all these tests together
All tests passing? would it be possible to run all these tests and paste the results report at the end?

[2021-03-20 16:51] shrit commented on #2882
Also, would you run `[FastMKSTest]`? let me know if this one passes

[2021-03-21 05:15] RishabhGarg108 commented on #2882
Below is the output that I am getting when running all tests together. If you meant to run it with `-s -r console` then please tell me, I can share the complete output too.
[code]

[code]

[2021-03-21 06:23] deeplearningera commented on #2818
Hello everyone, I would like to contribute to this issue. Upon reading above conversation, I have understood that there is problem with the input shape. Whenever we give incorrect shape, runtime restarts automatically and we need to initialize variables again. The problem is that we want that at runtime an error message should be displayed. You have also discussed about various algorithms such as

[2021-03-21 07:48] deeplearningera commented on #2200
Can I work on it?

[2021-03-21 08:18] deeplearningera commented on #2181
Are there any stale PRs still left?

[2021-03-21 12:03] deeplearningera commented on #2722
Is it still open for contributions or done almost?

[2021-03-21 13:12] rcurtin commented on #2181
Yes, you can search for closed PRs with the 'stale' tag.

[2021-03-21 13:17] shrit commented on #2882
The fact that all tests are passing makes the issue harder to judge, but, in my opinion, I do not think that the issue is related neither to `catch` nor to `mlpack`.
Would it always fails if you try any test independently?

[2021-03-21 13:56] deeplearningera commented on #2181
If I comment there, the PR rights will change to me?
I mean will I become the owner of the PR?

[2021-03-21 14:15] kartikdutt18 commented on #2181
No it doesn't work like that. You would have to make a new PR. For more information, there is a good course on Udacity about Git / Version control, you can watch for free.

[2021-03-21 14:16] deeplearningera commented on #2181
Okay, Thanks for the info.

[2021-03-21 14:20] deeplearningera commented on #2181
I am working on ISRU (Inverse Square Root Unit). I will make a pull request.

[2021-03-21 14:47] deeplearningera commented on #2181
@kartikdutt18 Can you please acknowledge? Also tell me it is necessary to make pull request now or when I will complete the coding part for ISRU?

[2021-03-21 19:12] NippunSharma commented on #2818
Hey @deeplearningera, we still have to find in which methods this problem occurs. You can look at #2820 for more details. If you wish you can work and see in which methods this problem occurs and comment on the issue thread itself. I will update the checklist. If you want to work on implementing the checks that solve this issue you can ask on #2820 as there might be some people who are already wor

[2021-03-21 20:25] rcurtin commented on #2879
Hey @xlindo, thanks for the report. :+1:  I added those methods in #2885.

The default constructor actually does exist---all four of the parameters to the constructor are optional, so you can simply leave them unset.

[2021-03-22 01:11] zoq commented on #2882
I have seen the problem before, do you mind to run the same test with `bash`, I know macOS has switched from `bash` to `zsh` but maybe you can install bash?

[2021-03-22 02:58] RishabhGarg108 commented on #2882
@zoq , bash is also throwing same error :(
[code]

[2021-03-22 05:06] heisenbuug commented on #2722
Heyyy @deeplearningera actually we are changing things a bit before working on this. We are planning to use existing functionality more...I will update the issue to reflect everything...

[2021-03-22 17:11] Rishabhc711 commented on #2294
Hi! I find the Top K accuracy metric to be rather interesting. If poosible, should I start working on it?

[2021-03-22 17:12] Rishabhc711 commented on #2294
And where do I start with in the codebase?

[2021-03-22 17:14] kartikdutt18 commented on #2294
Hi, Sure I think #2378 has went stale. Maybe you can build upon that.

[2021-03-22 17:19] Rishabhc711 commented on #2820
I would like to work on this issue. I have looked through the comments and understood the problem. Where in the codebase should I look for functions that might need to check for the dimensions of matrices?

As in where should I start off and what approach should I follow?

[2021-03-22 17:21] Rishabhc711 commented on #2294
Oh okay thanks! Will surely start looking into it!
However, what was the reason the PR was closed rather than merged?

[2021-03-22 21:00] abh2k opened #2886 "Incorrect implementation of ceil_mode in pooling layers"
The ceil_mode in pooling layers of mlpack doesnot match the implementation of pytorch.
The below notebook can reproduce the difference.

[2021-03-22 21:00] abh2k commented on #2886
I will try to fix this.

[2021-03-23 00:35] rcurtin commented on #2869
I tried to reproduce this today on my Samsung Chromebook Plus, but I'm actually not even able to compile the tests.  I don't have enough RAM. :)  Is there any chance you can provide some more details on how to cross-compile with buildroot?  I'm not experienced with cross-compilation, so if you can provide a quick guide so I can reproduce the issue, then I can dig in and figure out what's wrong. :+

[2021-03-23 06:27] #2879 closed

[2021-03-23 07:46] RishabhGarg108 opened #2888 "Ambiguous use of `classProbabilities` in Decision Tree implementation."
## Problem
In the Decision Tree implementation, `classProbabilities` is of type `arma::vec`. It has been used to store various different kinds of informations at different places in implementation which makes it very hard to follow and it might cause bugs in future if anyone who doesn't know exactly what it does and tries to change something.

Following are the different values that `classProbabil

[2021-03-23 07:54] Anmol2001 commented on #2294
Hi @Rishabhc711 ! That  PR was closed due to many issues in implementation and I am already looking into Addition of useful metrics as a summer project. You can have a look at another good first issue.
@kartikdutt18  Can I get suggestions on some more useful metrics.

[2021-03-23 08:23] greenfish77 opened #2889 "false linear regression result"
The linear regression result is different than expected.
I installed it from mlpack.msi, and ran mlpack_linear_regression.exe as follows.
[code]
simple.csv is shown below.
a,b,c
1,2,16
2,4,27
3,6,38
4,8,49
...
I expected c=3a+4b+5, but the result was not.

[code]
How can the item value be 3, 4, 5?

[2021-03-23 10:16] shrit commented on #2869
Of course :smile:
1) First you need to get the last stable version of buildroot: https://toolchains.bootlin.com/
2) You need to untar the toolchain into you home dir.
3) You need to get my mlpack branch for aarch64.
4) You have to set two variables the toolchain path and the sysroot either from the command line in cmake or directly in the file to have something similar to:
`TOOLCHAIN_PATH=/home/ry

[2021-03-23 11:26] FawwazMayda commented on #2889
Hello, I somehow try a same command but get the difference output than yours. This is my output:

[code]

also I try a different one using lambda parameters
```mlpack_linear_regression --training_file simple.csv -v -M lr.xml --lambda -1.182``` I can get this output which is more resemble your expected value of a,b,c:
[code]
Well after this I will work on improving the Linear Regression Documentati

[2021-03-23 12:24] karakotineeraj commented on #2779
Hi @zoq I would like to work on this issue and if you could, can you tell me where should I look for this in the codebase?

[2021-03-23 22:39] rcurtin commented on #2889
You are using unregularized linear regression and your data has linearly dependent features.  That is why you get this warning when you run:

[code]

When I say that you have linearly dependent features, I mean that there are infinite solutions to the problem.  Your data follows the pattern `3a + 4b + 5 = c`, but all `a` values are `0.5b`.  Thus, `[3, 4, 5]` is not the only valid solution to the p

[2021-03-23 22:48] rcurtin commented on #2888
This is 100% intentional.  The goal is to keep `sizeof(DecisionTree<>)` small (that is, we want each decision tree node to be represented with as little memory as possible).  Importantly, that is helpful for prediction to be efficient.

Each of these members are fully commented, and that should remove the confusion:

[code]

Sometimes, speed comes at the cost of ease of understanding, and there is

[2021-03-23 22:58] greenfish77 commented on #2889
I experimented with the same csv file with linear regression in weka (https://www.cs.waikato.ac.nz/ml/weka/).
Weka's result was correct (using default ridge 1.0E-8):
[code]
It is different from the parameter I expected, but the error of the result c value is 0.

I tested mlpack under the same conditions (lambda=ridge).
[code]
However, the result was the same as the first.
[code]
The MAE index eval

[2021-03-23 23:55] greenfish77 commented on #2889
I know that simple.csv has extreme multicollinearity.
In learning linear regression, multicollinearity causes issues.

However, even if there is multicollinearity, it can be tested whether it is possible to derive a basic formula,
and mlpack is evaluated to have a lower level of formula derivation than weka.

I want to find out the cause of whether it occurred because of a misconfiguration.

[2021-03-23 23:55] rcurtin commented on #2889
Are you loading the CSV file with a header?  If you are, try removing the header row.

[2021-03-24 00:03] greenfish77 commented on #2889
yeah, i found one reason.
I removed the csv header and got the following result.
[code]
**I now know that to use mlpack I have to remove the csv's header.**

However, error is 0 in weka, but error(MAE) is still high in mlpack (before header removal: 91, after header removal: 474)

[2021-03-24 00:04] rcurtin commented on #2889
(It sounds like we need to ensure that our command-line programs can load CSVs with or without headers.  I will look into that.)

I think your MAE computation is incorrect.  The result you wrote has the intercept set to 5, the coefficient for `a` set to 2.2, and the coefficient for `b` set to 4.4.  As I wrote in my previous comment, this is a valid solution: `2.2 * a + 4.4 * b + 5 = c` matches the

[2021-03-24 00:11] greenfish77 commented on #2889
yes, everything was my mistake.
I used the last of items as a intercept, which is wrong.
The first was intercept, right.

Thank you for reporting my misuse.
Now I can use mlpack for my assignments.
Thanks again.

[2021-03-24 00:12] #2889 closed

[2021-03-24 00:12] rcurtin commented on #2889
:+1:  Glad I could help out!  I'll post an update when a PR is open for autodetection of CSV headers.  Please feel free to open more issues if you have them.

[2021-03-24 04:33] RishabhGarg108 commented on #2888
Hey @rcurtin , I completely agree with you. I too thought that it might have been done deliberately, but my question is whether the reduction in memory is significant or not ?

I did a bit of maths. For a full decision tree of depth 15, storing an extra double (8 bytes) will consume 256KB of extra space. Now, even if we consider an ensemble of 100 such trees, then also the total extra size would b

[2021-03-24 09:44] FawwazMayda commented on #2889
Glad that the problem solved but I will try to work on contributing to improve the documentation because the current documentation doesn't give an example for multivariate linear regression. Anyone one work on this @rcurtin  @greenfish77 ? If not i would gladly contribute to the documentation thanks.

[2021-03-24 11:28] rcurtin commented on #2888
The size matters because an L1 cache is small.

[2021-03-24 11:39] RishabhGarg108 commented on #2888
Ahh..I didn't think in terms of cache memory optimization. I got your point. Thanks for the clarification. :)

Closing this one.

[2021-03-24 11:39] #2888 closed

[2021-03-24 17:55] Anmol2001 commented on #2679
Hi ! I want to work on this issue with other remaining languages.

[2021-03-24 18:01] rcurtin commented on #2679
Hi @Anmol2001, I haven't seen any PRs for other languages yet, so please feel free to go ahead. :+1:  Please use the `CheckInputMatrices()` functions that @NippunSharma wrote. :)

[2021-03-24 20:09] #2825 closed

[2021-03-25 06:32] hello-fri-end opened #2891 "Gradient Penalty implementation in WGANGP"
File : [https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/gan/wgangp_impl.hpp#L79](https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/ann/gan/wgangp_impl.hpp#L79)

WGAN-GP Loss function of Critic :
L = D(x) - D(G(z)) + lamda *  ( norm(gradient(x')) -1) ^2

where x'  = epsilon * ( real_image) + (1 - epsilon) * fake_image

So, the critic's loss function requires us to

[2021-03-25 15:04] rcurtin commented on #2889
I opened a PR to auto-detect a CSV header in #2892.  That should solve @greenfish77's issue.  @FawwazMayda thanks for opening the PR on documentation; I'll take a look when I have a chance. :+1:

[2021-03-25 23:16] rcurtin commented on #2869
I tried following the directions; thanks for providing those.  I had to do a little bit of adaptation (mostly changing `TOOLCHAIN_PREFIX`), but nothing too serious.  I also had to download the dependencies and install them into the right place, but it seems like maybe something has been linked wrong?  I get this when I build:

[code]

[2021-03-26 01:02] zoq commented on #2882
Thanks, wondering if this is a hardware issue, do you think you can put this on a USB stick or something and run the test from there?

[2021-03-26 06:18] RishabhGarg108 commented on #2882
I didn't quite understand. Do you mean that I copy the entire mlpack directory to a pen drive and run the commands from there or something else ?

Also, I realised that the `catch2` tests don't run in parallel [see here](https://github.com/catchorg/Catch2/blob/devel/docs/limitations.md#running-multiple-tests-in-parallel). So, maybe we can convert the individual test suites into their own binaries

[2021-03-26 09:46] shrit commented on #2869
@rcurtin it seems that it is not able to find the `libpthread.a`, the path for libpthread.a is the same for libgfortran.a `path_to/sysroot/usr/lib`. Would it be possible to define the path manually for libpthread?
I will figure out the issue later, it should be able to define that without any issue.

[2021-03-26 15:06] zoq commented on #2524
I guess in a sense, this is already possible, at least partially, through the python bindings. At least for the methods that are available as an executable. But I see what you mean, it would be interesting to show how such a pipeline could look like in the form of a notebook or tutorial with what we currently have.

[2021-03-27 17:01] zoq commented on #2891
Interesting catch, looked at the implementation and you are right, we are missing the gradient step.

[2021-03-28 07:22] Anmol2001 commented on #2679
Hi @rcurtin , In GO binding,  what I have thought of doing is  is After modifying `src/mlpack/core/util/mlpack_main.hpp.` for PARAM_FLAG, I need to modify 2 files in GO, `src/mlpack/bindings/go/go_method.cpp.in`(just calling CheckInputMatrices() before mlpackMain()) and `src/mlpack/bindings/go/go_option.hpp`(as verbose is also there).

[2021-03-28 08:35] gunnxx commented on #2849
@heisenbuug
`QLearning` expects an object which has `ResetNoise` method (e.g. `SimpleDQN`, `DuelingDQN`) because it calls the method during training. You are passing an `FFN` object (which has no `ResetNoise` method) to `QLearning`. The solution is to wrap your `FFN` object to a DQN object.
[code]

[2021-03-28 12:19] hello-fri-end commented on #2891
Also, gradient needs to calculated for epsilon as well. In PyTorch you'd do something like torch.rand(len(real), 1, 1, 1, device=device, requires_grad=True)). I'm not sure how this would be implemented in mlpack..

[2021-03-29 03:18] xlindo opened #2895 "Is there a different performance between python and cpp on regression?"
I am testing the performances of mlpack on a comparison among sklearn, mlpack-python, mlpack-cli, mlpack-cpp on regression algorithms.

I found there is less difference between sklearn and mlpack-python, but a worse performance for mlpack-cpp. The variances for the later two are larger, likely sklearn ~ mlpack-python < mlpack-cli << mlpack-cpp.

Is this normal?
Or I can post my codes if necessary.

[2021-03-29 05:10] NippunSharma commented on #2895
@xlindo can you share the codes?

[2021-03-29 13:18] xlindo commented on #2895
Unable to find remote helper for 'https'> @xlindo can you share the codes?

There is a part of the test.
[compare_to_mlpack_on_regression.ipynb](https://github.com/xlindo/show_you_the_code/blob/main/mlpack_comparison_lr/compare_to_mlpack_on_regression.ipynb)

Btw, are the implementations different between python and cpp?

[2021-03-29 13:18] xlindo commented on #2895
There is a part of the test.
[compare_to_mlpack_on_regression.ipynb](https://github.com/xlindo/show_you_the_code/blob/main/mlpack_comparison_lr/compare_to_mlpack_on_regression.ipynb)

Btw, are the implementations different between python and cpp?

[2021-03-29 13:20] xlindo commented on #2895
There is a part of the test.
[compare_to_mlpack_on_regression.ipynb](https://github.com/xlindo/show_you_the_code/blob/main/mlpack_comparison_lr/compare_to_mlpack_on_regression.ipynb)

Btw, are the implementations different between python and cpp?

[2021-03-29 13:27] rcurtin commented on #2895
The command-line and Python implementations should be exactly the same... would you mind removing the `scale=False` from the Python implementation and seeing what happens?  There could be an input handling bug here.

[2021-03-29 13:28] rcurtin commented on #2895
Also, you can see exactly how the Python and command-line bindings are using the `BayesianLinearRegression` class here: https://github.com/mlpack/mlpack/blob/master/src/mlpack/methods/bayesian_linear_regression/bayesian_linear_regression_main.cpp#L151

[2021-03-29 13:29] xlindo commented on #2895
Unable to find remote helper for 'https'> @xlindo can you share the codes?

There is a part of the test.
[compare_to_mlpack_on_regression.ipynb](https://github.com/xlindo/show_you_the_code/blob/main/mlpack_comparison_lr/compare_to_mlpack_on_regression.ipynb)

Btw, are the implementations different between python and cpp?

[2021-03-29 13:31] rcurtin commented on #2895
Yeah, I mean to remove the `scale=False` option entirely; i.e., change this:

[code]

to this:

[code]

and see if that affects the results. :+1:

[2021-03-29 14:09] xlindo commented on #2895
Thanks for your reply.

I just run the original script on another platform, and everything goes right.
I thought there may be some errors in the outputs, cli or library, that I compiled.

I will check this again tomorrow.

[2021-03-29 14:23] rcurtin commented on #2895
That seems strange---keep us updated with what you find out!  We can definitely debug and fix any internal mlpack issue we find. :+1:

[2021-03-30 02:39] zoq commented on #2889
Just merged #2892.

[2021-03-30 06:41] xlindo commented on #2895
[compare_to_mlpack_on_regression.ipynb](https://github.com/xlindo/show_you_the_code/blob/main/mlpack_comparison_lr/compare_to_mlpack_on_regression.ipynb)

The script added the result of a simple cpp.
As you can see, there is no difference at Out[13]. I think this is because of the same libraries in use. Since all dependencies are from conda-forge/mlpack, no matter of py, cli or libmlpack, they are

[2021-03-31 07:33] conradsnicta opened #2897 "problematic tests with absolute differences"
While testing the development version of [Armadillo 10.4](https://gitlab.com/conradsnicta/armadillo-code/-/tree/10.4.x), I came across this oddity when running mlpack tests (using mlpack master as of 31 Mar 2021):

[code]
It turns out that the above assertion is triggered by a difference between the following two (approximate) values from jacobianA and jacobianB: `149868.678` and `149867.614`.

Wh

[2021-03-31 09:12] swaingotnochill commented on #2897
@conradsnicta @zoq Can I work on this issue? If yes, can u just give me a brief on what points should I keep in mind while working on this issue?

[2021-03-31 09:23] swaingotnochill commented on #2722
@heisenbuug can u please update the issue and give a brief on how can we solve it. I would like to work on this issue, if it's fine with u.

[2021-03-31 09:33] xlindo commented on #2895
I recompiled OpenBLAS, and everything looks well now.
So, I would like to attribute the different calculation result to the inner problem of OpenBLAS.

[2021-03-31 15:27] MarkFischinger commented on #2855
@zoq The model now saves correctly, but I now have a new problem. Loading works too, but the predictions are always the same, even if I use different weights.

[Testing Code](https://gist.github.com/MarkFischinger/9fdfb51560381a557240caf00ab49fa8)

**Output**
Weights (If other model is used also other values):
[code]
Prediction (Always the same, even if other weights are applied):
[code]
**Other M

[2021-03-31 23:17] #2849 closed

[2021-04-01 00:16] conradsnicta commented on #2897
@swaingotnochill No problem from my side, but I recommend checking with @rcurtin and/or @zoq (or other senior mlpack developers) as they have better knowledge of the nature of the tests, built-in assumptions, any special considerations, etc.

In the first instance I suggest looking for tests which use absolute differences, and adapting them to additionally use relative differences. For example, in

[2021-04-01 01:46] swaingotnochill commented on #2897
@conradsnicta thank you.

[2021-04-01 03:11] #2843 closed

[2021-04-01 03:59] FawwazMayda commented on #2897
I think I ever encounter a resemble code which use some kind of Approximation in another test. Such as

`REQUIRE(input.at(i) == Approx(target.(i)).epsilon(1e-5)`

Is this the same thing that you mean sir @conradsnicta

[2021-04-01 07:45] conradsnicta commented on #2897
The code `REQUIRE( input.at(i) == Approx(target.(i)).epsilon(1e-5) )` does an equality comparison, while allowing a degree of leeway. It's related to what I reported, in the sense that the above code is similar to taking an absolute difference.  For example, it's similar to:  `REQUIRE( (input.at(i) - target.(i)) == Approx(0.0).epsilon(1e-5) )`.  Due to the limited precision of floating point numbe

[2021-04-01 11:11] #2764 closed

[2021-04-01 16:36] zoq commented on #2897
Using [`approx_equal()`](http://arma.sourceforge.net/docs.html#approx_equal) makes absolutely sense, we should have done it from the beginning. @swaingotnochill feel free to open a PR.

[2021-04-01 18:40] heisenbuug commented on #2646
@NippunSharma hey, do you mind uploading the log file to the repo as well? As you must have noticed on the mailing list I am working on this as my potential GSoC project, it would be a great help, thank you.

[2021-04-01 18:56] NippunSharma commented on #2646
@heisenbuug Hi, I saw your mail and the benchmark code also. I will have to search through my system for the log files, I will upload them once I find them :+1: . However, I doubt that our results will be the same because of the difference in system configuration. For the plots, on the horizontal axis, I have the number of data points and on the vertical axis, I have the time taken to read in seco

[2021-04-01 19:06] heisenbuug commented on #2646
Yes, actually I was plotting the whole column at once then I realized that I need to separate it into 3 different lists. I think the code explains better.
Take a look here: https://github.com/heisenbuug/Benchmark-CSV-Parsers/blob/main/csvparser_log_check.ipynb

[2021-04-01 19:33] heisenbuug commented on #2646
5 columns
![5_columns](https://user-images.githubusercontent.com/32970979/113344763-235e1580-934f-11eb-9321-dd2e05441bf3.png)
15 columns
![15_columns](https://user-images.githubusercontent.com/32970979/113344776-26f19c80-934f-11eb-8871-9ef05f9ee6fc.png)
25 columns
![25_columns](https://user-images.githubusercontent.com/32970979/113344783-28bb6000-934f-11eb-849e-03929cb1297a.png)

[2021-04-01 20:47] shrit commented on #2646
@heisenbuug Thanks you for sharing these results,  I suppose that the y-axis is equal to the time in seconds? And the x-axis the number of rows?

[2021-04-01 21:08] heisenbuug commented on #2646
Yup, you are right, sorry I forgot to mention that.

[2021-04-01 21:17] shrit commented on #2646
@heisenbuug Looking at your code, it seems to me that you are using two for loop to get the values.
However looking at these examples (this one https://github.com/d99kris/rapidcsv/blob/master/examples/ex001.cpp) it might be possible to get the entire column directly.
The return value seems to be `std::vector`, which can be converted to `arma::col`, or `arma::row`
The idea is to loop the columns (w

[2021-04-01 21:21] heisenbuug commented on #2646
Yupp, you right...

Yes, I was thinking the same...
I will make the necessary changes and run the benchmark again...

[2021-04-01 21:33] shrit commented on #2646
Great to hear @heisenbuug, I would also include the other parser (fast-cpp) in the same test, this will save you a lot of time by running only one test.

[2021-04-01 21:38] heisenbuug commented on #2646
Okay, I will compare all 4 of them and update the graphs.

[2021-04-02 07:37] RishabhGarg108 commented on #2619
Please keep open.

Hey @iamarchit123, I wanted to know if you are still working on the regression tree?
Hopefully, if I get selected for GSoC this year, then I will be requiring to implement a regression tree for it. But, either way, it will be good to have this feature in mlpack.

If you would like to continue with it, then maybe we can together get this one done. Or if you are unable to devote t

[2021-04-02 07:42] heisenbuug commented on #2646
hey @shrit, I noticed something on `fast-csv` repo

Is it okay for us to not have this feature?

[2021-04-02 08:26] FawwazMayda commented on #2897
If I comprehend it correctly using `arma::approx_equal()` is the preferred way for the test that use to compare an equality (maybe a slightly equal) for two values. Currently I am working on this #2894 which related to activation function test (file: `activation_functions_test.cpp)` should I consider to refactor the activation function test to use `arma::approx_equal()` ? If so I would take this t

[2021-04-02 16:09] iamarchit123 commented on #2619
@RishabhGarg108 PLease go ahead and start. The graduate studies in US is very demanding and I have postponed this work for my summer holidays.  Looks like you are a gsoc aspirant. If you get selected and take this up from gsoc list then you will any ways be working with cool mentors at mlpack and I wouldn't come in the way as you will be guided by the best. But if I dont see anyone working on this

[2021-04-02 16:32] shrit commented on #2646
@heisenbuug I am not sure if we need it or not, maybe @rcurtin have an idea here.

[2021-04-02 16:45] RishabhGarg108 commented on #2619
Hey @iamarchit123, thanks for passing on the issue. I will give it a shot and see if I can do something.
Will it be okay if I pick your previous commit and start from there instead of scratch? Also, it will be great if you could provide me with the research paper.

Best of luck with your studies and have a bright future in the US :-)

[2021-04-02 17:15] zoq commented on #2897
Let's open another PR for the refactoring, makes it easier to review.

[2021-04-02 19:22] iamarchit123 commented on #2619
Cool go ahead if you get the gsoc project or someone else does do tell me here I may not work on that in summer. And as per @rcurtin  comment bring those the two split methods mad and mae inside decision tree folder and decision tree class itself as it's good organiazational practise and rcurtin wants it that way.

The paper that you was being talked about is https://link.springer.com/content/pdf/